[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
requests = "*"
beautifulsoup4 = "*"
python-dotenv = "*"
pandas = "*"
flask = "*"
gunicorn = "*"

[dev-packages]
mypy = "*"

[requires]
python_version = "3.9"
