<!doctype html><div><br>
<br>
<br>
<p>City Council Minutes</p>
<p>City of Peterborough</p>
<p>February 13, 2017</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of City Council held on February 13, 2017, in the</p>
<p>Council Chambers.</p>
<br>
<p>The City Council meeting was called to order at 6:30 p.m. in the Council Chambers, City Hall.</p>
<p>Roll Call: Councillor Baldwin Councillor Beamer Councillor Clarke Councillor Haacke Councillor McWilliams Councillor Pappas Councillor Parnell Councillor Riel Councillor Therrien Councillor Vassiliadis Mayor Bennett</p>
<p>Mayor Bennett and Councillor Therrien presented the Mayor’s Youth Award to Arwen Anderson.</p>
<p>Confirmation of Minutes – December 12 and 15, 2016</p>
<p>Moved by Councillor Clarke, second by Councillor Pappas</p>
<p>That the minutes of the meetings of Council held on December 12 and 15, 2016 be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interests</p>
<p>Mayor Bennett declared a pecuniary interest in Item 5 of Committee of the Whole Report No.1 (Report USTR17-001 - Authorization to Join Metrolinx Transit Procurement Initiative), as he is an owner of a firm active in the transportation business.</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of February 13, 2017</p>
<p>Page 2</p>
<p>Delegations</p>
<p>Registered Delegations:</p>
<p>Jeff Leal, MPP, brought greetings from the Provincial government.</p>
<p>Emily Amon, 602 Park Street N., made a delegation to Item 9 of Committee of the Whole Report No. 1 (Report USEC17-001 – Water Resource Protection Update on the Funding Feasibility Study).</p>
<p>Heather Ray, GreenUP, made a delegation to Item 9 of Committee of the Whole Report No. 1 (Report USEC17-001 – Water Resource Protection Update on the Funding Feasibility Study).</p>
<p>Dave Pogue, Peterborough Petes, made a delegation to Item 10 of Committee of the Whole Report No. 1 (Report CSD17-001 – Petes’ Funding Request Agreement).</p>
<p>Delegations Not Registered:</p>
<p>Planning Committee Report</p>
<p>There were no delegations.</p>
<p>Committee of the Whole Report</p>
<p>Brian Cowie, Peterborough Lakers, made a delegation to Item 2 of Committee of the Whole Report No. 1 (Report CSD17-003 – Lakers’ Funding Request).</p>
<p>Other Items on the Agenda</p>
<p>There were no delegations.</p>
<p>Planning Committee Report Number 1</p>
<p>Moved by Councillor Parnell, seconded by Councillor Haacke</p>
<p>That Report Number 1 of the Planning Committee meeting of January 30, 2017 be approved.</p>
<p>“CARRIED”</p>
<p>City Council Minutes</p>
<p>Meeting of February 13, 2017</p>
<p>Page 3</p>
<p>Committee of the Whole Report Number 1</p>
<p>Moved by Councillor Beamer, seconded by Councillor Haacke</p>
<p>That Report Number 1 of the Committee of the Whole meeting of February 6, 2017 be approved.</p>
<p>Item 5 – USTR17-001, Authorization to Join Metrolinx Transit Procurement Initiative</p>
<p>Due to his previously declared interest, Mayor Bennett did not discuss or vote on the matter.</p>
<p>Upon item 5, the motion carried.</p>
<p>Upon items 1, 3, 4, 6, 7, 8, 10, 11, 12, 13, 14, 15, 16 and 17, the motion carried.</p>
<p>Item 2 – CSD17-003, Lakers’ Funding Request</p>
<p>This amendment was included as part of the main motion.</p>
<p>That recommendation e) be amended as follows:</p>
<p>That since the Petes have agreed to waive their 60% of the advertising revenues from the Lakers carpet once the Laker's loan to the City has been paid off, that the City also waive its share of the Petes revenues from the carpet so that the Lakers would receive 100% of such advertising revenues.</p>
<p>“CARRIED”</p>
<p>Upon Item 2 as amended, the motion carried.</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of February 13, 2017</p>
<p>Page 4</p>
<p>Item 9 – USEC17-001, Water Resource Protection</p>
<p>This amendment was included as part of the main motion.</p>
<p>That recommendations c) and d) be amended as follows:</p>
<p>c)</p>
<p>That related to a dedicated stormwater protection fee:</p>
<br>
<p>ii)</p>
<p>iii)</p>
<p>iv)</p>
<p>i)</p>
<p>ii)</p>
<br>
<br>
<br>
<p>i)</p>
<p>Council  recognize  the  need  to,  over  time,  increase  the  annual stormwater  funding  allocation  by  an  additional  $6.2M,  subject  to annual budget discussions; and</p>
<p>In the first year, being 2018, an additional amount up to $620,000 be included in the "All Inclusive" budget, subject to budget discussions and final budget approval.</p>
<p>Storm water protection fee charges to individual properties based on the Variable Rate Option which considers the impervious surface associated with the property;</p>
<p>Incentive programs including subsidies and stormwater credit programs that allow property owners to reduce their runoff and possibly receive credit for doing so;</p>
<p>d)    That,  related  to  an  increased  need  to  maintain  the  City's  sanitary  sewer</p>
<p>system:</p>
<p>Council  recognize  the  need  to,  over  time,  increase  the  annual sanitary  sewer  funding  by  an  additional  $3.5M,  subject  to  annual budget discussions; and</p>
<p>In the first year, being 2018, an additional amount up to $350,000 be included in the "All Inclusive" budget, subject to budget discussions and final budget approval.</p>
<p>Councillor Pappas asked that the recommendations be separated for vote.</p>
<p>Upon recommendation a) the motion carried.</p>
<p>Upon recommendation b) the motion carried.</p>
<p>Upon recommendation c) the motion carried.</p>
<p>City Council Minutes</p>
<p>Meeting of February 13, 2017</p>
<p>Page 5</p>
<p>Upon recommendation d) the motion carried.</p>
<p>Upon recommendation e) the motion carried.</p>
<p>Upon recommendation f) the motion carried.</p>
<p>Upon Item 9 as amended, the motion carried.</p>
<p>Notice of Motion</p>
<p>There were no Notices of Motion.</p>
<p>By-laws</p>
<p>Moved by Councillor Parnell, seconded by Councillor McWilliams</p>
<p>That the following by-laws be read a first, second and third time:</p>
<p>17-001</p>
<p>17-002</p>
<p>Being a By-law to Provide for Interim Tax Levies for the Year 2017</p>
<p>Being a By-law to authorize the execution of the contribution agreement between Her Majesty the Queen in Right of Canada as represented by the Federal Economic Development Agency for Southern Ontario for the transfer of the Canada 150 Community Infrastructure Program grant to the Municipality for funding for Improvement of the Market Hall Performing Arts Centre Lighting and Energy Efficiency</p>
<p>Being a By-law to temporarily amend the Zoning By-law for Block 64, Plan 45M-247 to permit the use of the land for a model home court and new home sales office</p>
<p>Being a By-law to authorize the execution of an Encroachment Agreement for lands municipally known as 501 Donegal Street, in the City of Peterborough</p>
<p>Being a By-law to Appoint Building Officials and Inspectors for the City of Peterborough and to repeal By-law 14-048</p>
<p>17-003</p>
<p>17-004</p>
<p>17-005</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of February 13, 2017</p>
<p>Page 6</p>
<p>Being a By-law to appoint Parking Enforcement Officers at 122-130 Park Street North, 167-171 Hazlitt Street, 378-386 Stewart Street, 629 Rubidge Street and 340-360 George Street North</p>
<p>Being a By-law to authorize the execution of an Agreement between The Corporation of the City of Peterborough and Rice Lake Snow Drifters Inc. for the construction, operation, inspection and maintenance of a snowmobile trail and parking lot</p>
<p>Being a By-law to authorize the execution of Agreements and such other related documents between The Corporation of the City of Peterborough and Laker Lacrosse Association Inc. to reflect the changes to the Agreements noted in Report CSD17-003</p>
<p>Being a By-law to authorize the execution of Agreements and such other related documents between The Corporation of the City of Peterborough and Peterborough Petes Limited to reflect the changes to the Agreements noted in Report CSD17-001</p>
<p>Being a By-law to amend the Zoning By-law for the properties known as 737 and 739 Hemlock Street, being Lot 7 and Block 54, Plan 45M-236</p>
<p>17-006</p>
<p>17-007</p>
<p>17-008</p>
<p>17-009</p>
<p>17-010</p>
<p>17-011</p>
<p>Being a By-law to approve the Initiation of Expropriation Proceedings of portions of 13 properties on Parkhill Road West</p>
<p>and the said by-law, having been now read a third time and passed, the Mayor and Clerk be authorized to sign and seal the same.</p>
<p>“CARRIED”</p>
<p>Other Business</p>
<p>There were no items of Other Business.</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of February 13, 2017</p>
<p>Page 7</p>
<p>Confirmatory By-law</p>
<p>Moved by Councillor Parnell, seconded by Councillor McWilliams</p>
<p>That the following by-law be read a first, second and third time:</p>
<p>17-012</p>
<p>Being a By-law to confirm the proceedings of Council at its meeting held on February 13, 2017.</p>
<p>and the said by-law, having been now read a third time and passed, the Mayor and Clerk be authorized to sign and seal the same.</p>
<p>“CARRIED”</p>
<p>Adjournment</p>
<p>Moved by Councillor Clarke, seconded by Councillor Haacke</p>
<p>That this meeting of City Council adjourn at 8:29 p.m.</p>
<p>“CARRIED”</p>
<br>
<p>John Kennedy City Clerk</p>
<p>Daryl Bennett Mayor</p>
<p>City Council Minutes</p>
<p>Meeting of February 13, 2017</p>
<p>Page 8</p>
<p>Planning Committee Report No. 1</p>
<p>Meeting of January 30, 2017</p>
<br>
<p>To The Council of the City of Peterborough, for consideration at its meeting held February 13, 2017</p>
<p>The Planning Committee, as a result of its meeting held on January 30, 2017 recommends as follows:</p>
<p>1.</p>
<p>Public Meeting Under the Planning Act Manager, Planning Division Report PLPD17-003 53 Leahy’s Lane</p>
<p>That the application for 53 Leahy’s Lane be deferred to enable a community meeting on this application to be organized; and,</p>
<p>That this application return to the March 20, 2017 Planning Meeting.</p>
<p>Public Meeting Under the Planning Act Manager, Planning Division Report PLPD17-004 737 and 739 Hemlock Street</p>
<p>That Council approve the recommendations outlined in Report PLPD17-004 dated January 30, 2017, of the Manager, Planning Division, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>That Section 3.9 – Exceptions, be amended to add Exception .310 in accordance with Exhibit ‘C’ attached to Report PLPD17-004;</p>
<p>That the subject properties be rezoned from D.1 – Development District and from R.1,1r,2r,8z – Residential District to R.1,1r,2r,8z-310 ‘H’ – Residential District in accordance with Exhibit ‘C’ attached to Report PLPD17-004; and</p>
<p>c)</p>
<p>That the ‘H’ Holding Symbol be removed subject to the consolidation of the two parcels to create one lot.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>2.</p>
<p>City Council Minutes</p>
<p>Meeting of February 13, 2017</p>
<p>Page 9</p>
<p>3.</p>
<br>
<br>
<p>Public Meeting under the Planning Act Manager, Planning Division Report PLPD17-005 Temporary Use Zoning By-law Amendment Z1621 2064086 Ontario Limited (Mason Homes Limited) 827 Broadway Boulevard (Block 64, Plan 45M-247)</p>
<p>That Council approve the recommendation outlined in Report PLPD17-005 dated January 30, 2017, of the Manager, Planning Division, as follows:</p>
<p>That a Temporary Use Zoning By-law be approved pursuant to Section 39 of the Planning Act to permit the property municipally known as 827 Chemong Road and legally described as Block 64, Plan 45M-247 to be used as a new homes sales court consisting of a new-home sales office and seven model homes for a period of up to three years in accordance with Exhibit E of Report PLPD17-005.</p>
<br>
<p>4.  Manager, Planning Division</p>
<p>Report PLPD17-006 Execution of Agreement with Greater Peterborough Innovation Cluster</p>
<p>That Council approve the recommendation outlined in Report PLPD17-006 dated January 30, 2017, of the Manager, Planning Division, as follows:</p>
<p>That the Mayor and City Clerk be authorized to sign an agreement with Greater Peterborough Innovation Cluster to provide City funding in the amount of $100,000 per year for 3 years, effective from January 1, 2017 to December 31, 2018, to provide City funding to assist with start-up costs in locating a “Start-Up Hub” Entrepreneur Centre in the Promenade Building at 270 George Street North.</p>
<br>
<p>Submitted by,</p>
<p>Councillor Parnell Chair January 30, 2017</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of February 13, 2017</p>
<p>Page 10</p>
<br>
<p>Committee of the Whole Report No. 1</p>
<p>Meeting of February 6, 2017</p>
<br>
<p>To the Council of The City of Peterborough for consideration at its Meeting held February 13, 2017</p>
<p>The Committee of the Whole as a result of its meeting held on February 6, 2017, recommends as follows:</p>
<p>1.</p>
<p>Report of Closed Session City Solicitor and Director of Legal Services Report OCS17-001 Expropriation of lands for road widening – portions of 13 properties on Parkhill Road West</p>
<p>That Council approve the recommendations outlined in Report OCS17-001 dated February 6, 2017, of the City Solicitor and Director of Legal Services as follows:</p>
<p>a)</p>
<p>That expropriation proceedings be commenced and the Application for Approval to Expropriate Land be made for widening, urbanization and reconstruction of Parkhill Road West from east of Ravenwood Drive to Brealey Drive, including intersection improvements and a roundabout at Brealey Drive, for public undertakings and for works ancillary thereto for the following 13 properties:</p>
<br>
<p>i.</p>
<br>
<p>ii.</p>
<br>
<br>
<br>
<br>
<br>
<p>1216 Parkhill Road West Legal description – 28458-0028 (LT) PT LT 9 W1/2, CON 1 TOWNSHIP OF SMITH, AS IN R634630; SMI-ENN/PET</p>
<p>Acquisition - Part 9 Plan 45R15962 Temporary Construction Easement - Part 4 on Plan 45R16273</p>
<p>1225 Parkhill Road West Legal description - 28472-1674 (LT) PT LT 8 CON 13 N MONAGHAN, PT 1, 45R15515; CITY OF PETERBOROUGH</p>
<p>City Council Minutes</p>
<p>Meeting of February 13, 2017</p>
<p>Page 11</p>
<p>iii.</p>
<p>iv.</p>
<p>v.</p>
<p>vi.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>vii.</p>
<p>Acquisition - Part 11 Plan 45R15962 Acquisition - Part 8 Plan 45R16273 Temporary Construction Easement - Part 9 on Plan 45R16273</p>
<p>1234 Parkhill Road West Legal description - 28458-0020 (LT) PT LT 8 S 1/2, Con 1 Township of Smith, Part 1, 45R11212; Smi-Lak-Enn; Pt 8 S1/2, Con 1 Township of Smith, Part 1, 45R7346; Peterborough</p>
<p>Acquisition - Part 8 Plan 45R15962 Temporary Construction Easement - Part 3 on Plan 45R16273</p>
<p>1236 Parkhill Road West Legal description - 28458-0019 (LT) PT LT 8 S1/2, CON 1 TOWNSHIP OF SMITH, AS IN R638684, EXCEPT PART 1, 45R11212; SMI-ENN/PET</p>
<p>Acquisition - Part 7 Plan 45R15962 Temporary Construction Easement - Part 2 on Plan 45R16273</p>
<p>1248 Parkhill Road West Legal description - 28458-0021 (LT) PT LT 8 S1/2, CON 1 TOWNSHIP OF SMITH, AS IN R304852; SMI-ENN/PET</p>
<p>Acquisition - Part 6 Plan 45R15962 Temporary Construction Easement - Part 1 on Plan 45R16273</p>
<p>1261 Parkhill Road West Legal description - 28472-1681 (LT) PT LT 8 CON 13 N MONAGHAN, PT 1, 45R15805; CITY OF PETERBOROUGH</p>
<p>Acquisition - Part 7 Plan 45R16273 Temporary Construction Easement - Part 6 on Plan 45R16273</p>
<p>1289 Parkhill Road West Legal description - 28472-1316 (LT) PT LT 8 CON 13 (NORTH MONAGHAN), BEING THAT PT OF PT 1 PL 45R11202 LYING NORTH OF PLAN 45M224; PETERBOROUGH</p>
<p>Acquisition - Part 10 Plan 45R15962 Temporary Construction Easement - Part 5 on Plan 45R16273</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of February 13, 2017</p>
<p>Page 12</p>
<br>
<p>viii.  1324 Parkhill Road West</p>
<p>Legal description - 28458-0013 (LT) PT LT 7, CON 1 TOWNSHIP OF SMITH, PART 1, 45R4087; S/T PT 3, R470204; SMITH-ENNISMORE- LAKEFIELD/PETERBOROUGH</p>
<p>Acquisition – Part 2 Plan 45R15962 Permanent Easement – Part 7 Plan 45R16219 Temporary Construction Easement – Part 12 Plan 45R16301</p>
<p>ix.</p>
<p>1374 Parkhill Road West Legal description - 28458-0208 (LT) PT LT 7 W1/2 CON 1 TOWNSHIP OF SMITH, AS IN R307754, LYING S OF PART 11 45R5653; S/T DEBTS IN R307754 & R635621; S/T R470204; SMI-ENN/PET; SUBJECT TO EXECUTION 96-0023; IF ENFORCEABLE</p>
<p>Acquisition – Part 6 Plan 45R16219 Acquisition – Part 14 Plan 45R16219 Acquisition – Part 15 Plan 45R16219 Temporary Construction Easement – Part 8 Plan 45R16301 Temporary Construction Easement – Part 10 Plan 45R16301 Temporary Construction Easement – Part 11 Plan 45R16301</p>
<p>x.</p>
<p>1424 Parkhill Road West Legal description - 28417-0156 (LT) PT LT 5 CON 1 SMITH; PT LT 6 CON 1 SMITH AS IN R663953; S/T R470205, R571416, T12475, T17186, T18768, T18775 SMITH-ENNISMORE</p>
<p>Acquisition – Part 3 Plan 45R16219 Acquisition – Part 13 Plan 45R16219 Acquisition – Part 5 Plan 45R16301 Temporary Construction Easement – Part 7 Plan 45R16301</p>
<p>xi.</p>
<p>17 Ackison Road Legal description - 28458-0010 (LT) PT LT 7 W1/2, CON 1 TOWNSHIP OF SMITH, AS IN R344817; SMITH-ENNISMORE</p>
<p>Acquisition – Part 4 Plan 45R16219 Temporary Construction Easement – Part 9 on Plan 45R16301</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of February 13, 2017</p>
<p>Page 13</p>
<br>
<p>xii.</p>
<p>1500 Brealey Drive Legal description - 28037-0185 (LT) PART OF LOT 6, CON 13 NORTH MONAGHAN BEING PTS 1, 2, 3, 4, 5, 6 & 7 45R15081; S/T OVER PT 2 45R15081 AS IN R592366; PETERBOROUGH/CVN-MIL-NMO</p>
<p>Acquisition – Part 2 Plan 45R16219 Acquisition – Part 12 Plan 45R16219</p>
<p>xiii.  1810 Brealey Drive</p>
<p>Legal description - 28472-0003 (LT) PT LT 7 CON 13 N MONAGHAN, PT 1, 45R5263; PETERBOROUGH</p>
<br>
<br>
<p>Acquisition – Part 1 Plan 45R16219 Acquisition – Part 9 Plan 45R16219 Acquisition – Part 10 Plan 45R16219 Acquisition – Part 11 Plan 45R16219 Temporary Construction Easement – Part 1 Plan 45R16301 Temporary Construction Easement – Part 2 Plan 45R16301 Temporary Construction Easement – Part 3 Plan 45R16301</p>
<p>That the City Solicitor and Director of Legal Services be authorized to execute the Application for Approval to Expropriate Land and the Notice of Application for Approval to Expropriate Land, and to serve and publish the Notice as required under the Expropriations Act;</p>
<p>That any valid request from an owner for an inquiry that is received be forwarded to the Chief Inquiry Officer for the appointment of an Inquiry Officer, and that the City be represented at any Hearing of Necessity, as necessary, under the Expropriations Act;</p>
<p>That in the event that there are inquiries (Hearings of Necessity) conducted at the request of an owner(s), the recommendation(s) of the Inquiry Officer be reported to City Council for its consideration and decision as the approving authority under the Expropriations Act;</p>
<p>That the City Solicitor and Director of Legal Services be authorized to engage such appraisal, business valuation, survey or other professional services in connection with the expropriations as are necessary and advisable; and</p>
<p>That the Initiation of Expropriation Proceedings By-law, as set out in Appendix “A” of Report OCS17-001, be approved.</p>
<br>
<br>
<br>
<br>
<p>b)</p>
<p>c)</p>
<br>
<p>d)</p>
<p>e)</p>
<p>f)</p>
<p>City Council Minutes</p>
<p>Meeting of February 13, 2017</p>
<p>Page 14</p>
<p>2.</p>
<p>Director of Community Services Report CSD17-003 Lakers' Funding Request</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>That Council approve the recommendations outlined in Report CSD17-003 dated February 6, 2017 of the Director of Community Services, as follows:</p>
<p>That before or during the 2017 season, which starts June 1st 2017, the City will replace the electronic components of the existing video score clock and make 100% of the advertising revenues from the moving or soft sale component of the score clock available to the Lakers for their own advertising during their season at an estimated value of $11,029;</p>
<p>That 50% of the City’s share of Gross Revenues from Food and Beverage Sales at Lakers Games be provided to the Lakers at an estimated value of $15,890, effective the 2017 season, starting June 1, 2017;</p>
<p>That the Lakers annual operating revenues from ticket sales be increased by: receiving 50% of the Club Seat, Restaurant, Skybox, and Birthday Box Seat Premiums relating to Lakers’ games at an estimated value of $37,417; effective the 2017 season, starting June 1, 2017;</p>
<p>That the Lakers’ annual operating expenses to the City be reduced by: waiving the rental fee on the Seasonal Suite lease for a three month period at an estimated value of $1,750; and further that the Seasonal Suite Sponsorship Incentive sponsorship package would include use of the Suite at an estimated value of an additional $1,750, effective the 2017 season, starting June 1, 2017;</p>
<p>At the Council meeting of February 13, 2017, e) was amended as follows:</p>
<p>That since the Petes have agreed to waive their 60% of the advertising revenues from the Lakers carpet once the Laker's loan to the City has been paid off, that the City also waive its share of the Petes revenues from the carpet so that the Lakers would receive 100% of such advertising revenues.</p>
<p>That the Peterborough Memorial Centre’s 2017 operating budget be increased by $67,835 from General Contingency to cover the lost revenues/ transfer of funds to the Lakers as a result of implementing this agreement;</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>d)</p>
<p>e)</p>
<p>f)</p>
<p>City Council Minutes</p>
<p>Meeting of February 13, 2017</p>
<p>Page 15</p>
<p>That the Mayor and Clerk be authorized to sign Letters of Agreement to reflect the above noted changes, and any other related documents necessary to execute the Agreements; and,</p>
<p>That Staff be directed to report annually to Council on the effectiveness of the funding changes, financial incentives, joint sponsorship/ marketing/ advertising initiatives, and annual attendance.</p>
<p>Director of Corporate Services Report CPFS17-001 Risk Management Policy</p>
<br>
<p>That Council approve the recommendation outlined in Report CPFS17-001 dated February 6, 2017 of the Director of Corporate Services as follows:</p>
<p>That the Risk Management Policy, as set out in Appendix A to report CPFS17-001, be approved.</p>
<p>City Clerk Report CPCLK17-002 Citizen Appointments</p>
<p>That Council approve the recommendations outlined in Report CPCLK17- 002, dated February 6, 2017, of the City Clerk, as follows:</p>
<p>That Jeff Westlake, Martin Parker, Kevin Duguay, Elaine Covert, Shirley McCormack, Jeanne Pengelly, Len Lifcus, Claude Dufresne, Ryan Worral and Reem Ali be appointed to the Community Investment Grants Advisory Committee for terms ending November 30, 2018; and,</p>
<p>That Dan Moloney be appointed to the Peterborough Public Library Board for a term commencing on April 1, 2017 and ending November 30, 2018.</p>
<p>g)</p>
<p>h)</p>
<p>a)</p>
<p>b)</p>
<br>
<p>3.</p>
<br>
<p>4.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of February 13, 2017</p>
<p>Page 16</p>
<p>Director of Utility Services Report USTR17-001 Authorization to Join Metrolinx Transit Procurement Initiative</p>
<p>That Council approve the recommendations outlined in Report USTR17-001 dated February 6, 2017, of the Director of Utility Services, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>That staff be authorized to sign a Multi-Year Governance Agreement for Joint Procurements facilitated by Metrolinx, 2013-2018 for the purpose of purchasing certain transit system vehicles, equipment, technology, facilities and related supplies and services on an exclusive basis from suppliers selected pursuant to public procurement processes facilitated by Metrolinx, on terms and conditions set out in the relevant procurement documents; and</p>
<p>That staff be authorized to perform any action, and provide any required recommendations, instructions and approvals to complete the procurements within the scope of the Governance Agreement.</p>
<p>City Clerk Report CPCLK17-001 Peterborough Regional Health Centre Presentation – PRHC Update</p>
<p>That Council approve the recommendation outlined in Report CPCLK17- 001 dated February 6, 2017, of the City Clerk, as follows:</p>
<p>That the presentation from the Peterborough Regional Health Centre be received for information.</p>
<p>5.</p>
<br>
<br>
<p>6.</p>
<br>
<br>
<br>
<p>7.</p>
<br>
<br>
<br>
<br>
<br>
<p>8.</p>
<br>
<p>9.</p>
<p>City Council Minutes</p>
<p>Meeting of February 13, 2017</p>
<p>Page 17</p>
<p>Board Chair, Peterborough Economic Development President & CEO, Peterborough Economic Development Report PED17-001 PED 2016 Fourth Quarter Report</p>
<p>That Council approve the recommendation outlined in Report PED17-001 of the President & CEO and Board Chair of Peterborough Economic Development, as follows:</p>
<p>That Report PED17-001 and supporting presentation, providing the Peterborough Economic Development 2016 Fourth Quarter Report be received.</p>
<p>Board Chair, Peterborough Economic Development President & CEO, Peterborough Economic Development Report PED17-002 PED 2017 Business Plan</p>
<p>That Council approve the recommendation outlined in Report PED17-002 of the President & CEO and Board Chair of Peterborough Economic Development, as follows:</p>
<p>That Report PED17-002 and supporting presentation, providing the Peterborough Economic Development 2017 Business Plan Report be received.</p>
<p>Director of Utility Services Report USEC17-001 Water Resource Protection Update on the Funding Feasibility Study</p>
<p>That Council approve the recommendations, subject to the draft budget approval process, outlined in Report USEC17-001, dated February 6, 2017 of the Director of Utility Services as follows:</p>
<p>a)</p>
<p>That the presentation from XCG on the Water Resource Protection Funding Feasibility Study be received;</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of February 13, 2017</p>
<p>Page 18</p>
<br>
<p>b)</p>
<br>
<br>
<br>
<p>That Council endorse the Stormwater Quality Management Master Plan as detailed in Appendices 1 and 2 of Report USDIR15-003, dated September 28, 2015, the Summary of which is included as Appendix A in Report USEC17-001;</p>
<p>At the Council meeting of February 13, 2017, c) and d) were amended as follows:</p>
<p>c)</p>
<p>That related to a dedicated stormwater protection fee:</p>
<p>i)</p>
<p>ii)</p>
<p>iii)</p>
<p>iv)</p>
<p>Council  recognize  the  need  to,  over  time,  increase  the annual stormwater  funding  allocation  by  an  additional  $6.2M,  subject to annual budget discussions; and</p>
<p>In the first year, being 2018, an additional amount up to $620,000 be included in the "All Inclusive" budget, subject to budget discussions and final budget approval.</p>
<p>Storm water protection fee charges to individual properties based on the Variable Rate Option which considers the impervious surface associated with the property;</p>
<p>Incentive programs including subsidies and stormwater credit programs that allow property owners to reduce their runoff and possibly receive credit for doing so;</p>
<p>d)</p>
<p>That,  related  to  an  increased  need  to  maintain  the  City's  sanitary sewer system:</p>
<p>i)  Council recognize the need to, over time, increase the annual</p>
<p>sanitary sewer funding by an additional $3.5M, subject to annual budget discussions; and</p>
<p>In the first year, being 2018, an additional amount up to $350,000 be included in the "All Inclusive" budget, subject to budget discussions and final budget approval.</p>
<p>ii)</p>
<p>That  an  additional  1.0  FTE  for  implementation  of  the  Stormwater Quality Master Plan be approved for 2017 funding for which to come from the existing Capital Budget for Stormwater projects; and</p>
<p>That staff prepare public education material before implementation of any fee or fee increases described in Recommendations c) and d).</p>
<br>
<p>e)</p>
<p>f)</p>
<br>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of February 13, 2017</p>
<p>Page 19</p>
<p>10.  Director of Community Services</p>
<p>Report CSD17-001 Petes' Funding Request Agreement</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>That Council approve the recommendations outlined in Report CSD17-001 dated February 6, 2017 of the Director of Community Services, as follows:</p>
<p>a)</p>
<p>That the Petes’ annual operating expenses to the City be reduced by: waiving the rental fee on the Petes’ Suite, at an approximate annual cost of $18,500 (excluding HST); and the rental fee on the Alumni Room, at an annual cost of $9,142 (excluding HST), for an estimated annual operating savings of $27,642 to the Petes, effective the 2016- 2017 season, starting September 1, 2016;</p>
<p>b)</p>
<p>c)</p>
<p>d)</p>
<p>e)</p>
<p>f)</p>
<p>That the Petes annual operating revenues from ticket sales be increased by: receiving 50% of the Club Seat, Restaurant, Skybox, and Birthday Box Seat Premiums relating to Petes’ games at an estimated value of $76,146; effective the 2016-2017 season, starting September 1, 2016;</p>
<p>That 50% of the City’s share of Gross Revenues from Food and Beverage Sales at Petes Games be provided to the Petes at an estimated value of $49,250, effective the 2016-17 season, starting September 1, 2016;</p>
<p>That 20% of the City’s revenue from Suite Licence Fees be shared with the Petes, at an estimated value of $48,800, effective the 2016-17 season, starting September 1, 2016; and further that the amount be increased to 25%, at an estimated value of $61,000 beginning in the 2017/18 season, starting September 1, 2017;</p>
<p>That the City’s funding support for a Petes’ Marketing position in the approximate amount of $47,400 (based on 2014/2015 season) be continued and that the current advertising share be changed from 50/50 to 40% City and 60% Petes, at an estimated value of $49,116 effective the 2016/17 season starting September 1, 2016 and $45,100 in subsequent seasons;</p>
<p>That the game complimentary ticket cap be increased from 250 to 325, with no Capital Refurbishment Fund (CRF) charges or 10% commission, at an estimated value of $5,600, effective the 2016/17 season, starting September 1, 2016;</p>
<p>City Council Minutes</p>
<p>Meeting of February 13, 2017</p>
<p>Page 20</p>
<p>g)</p>
<p>h)</p>
<p>i)</p>
<p>j)</p>
<p>k)</p>
<p>l)</p>
<p>m)</p>
<p>n)</p>
<p>That Game Day Expenses be waived as an expense charge to the Petes for a five year period, effective the 2016-17 season, starting September 1, 2016 and be re-instated at the beginning of the 2021/22 season at an estimated cost of $51,000 to the Petes based on $1,500 per game, starting September 1, 2021; and increasing to $54,400 for the 2022/23 season, based on $1,600 per game;</p>
<p>That the City agree to cover the full cost of capital improvements to update the Scoreclock at an estimated cost of $80,000, which represents a $40,000 value to the Petes, since they would typically contribute 50% of the cost, effective the 2016/17 season;</p>
<p>That the City provide a one-time capital contribution of $20,000 to cover the cost of a new skate sharpener for the Petes, effective the 2016/2017 season;</p>
<p>That the creation of a project capital budget for the Clock upgrade and the skate sharpener acquisition, totalling $100,000 as outlined in recommendations h) and i) be created by re-allocating funds from the following approved Arena Division Capital Budgets for the Peterborough Memorial Centre: $35,000 from 2016-6-6.02; $55,000 from 2015-6-6.01; and $10,000 from 2014-6-6.01;</p>
<p>That, the Petes retain 100% of the advertising revenues from all hard surface/ stationary ad sales annually and 100% of the advertising revenues from the moving or soft sale advertising from Petes games only at an estimated value of $17,000 in 2016/17 and $48,400 in subsequent seasons;</p>
<p>That the City retain 100% of the moving or soft advertising revenues for its bookings/ special events; and that the Lakers retain 100% of the moving or soft advertising revenues for their games;</p>
<p>That the City waive its 10% commission on ticket sales on an on- going basis for all of the Family Zone, all group sales, and all children and all student tickets at an estimated value of $20,000 per year effective the 2016/2017 season; starting September 1, 2016;</p>
<p>That the Peterborough Memorial Centre’s 2017 operating budget be increased by $293,554 from 2017 General Contingency to cover the lost revenues/ transfer of funds to the Petes as a result of implementing this agreement;</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>o)</p>
<p>p)</p>
<p>r)</p>
<p>s)</p>
<p>t)</p>
<p>u)</p>
<p>City Council Minutes</p>
<p>Meeting of February 13, 2017</p>
<p>Page 21</p>
<p>That a capital contribution of $20,000 be provided by the City to improve in-arena technology in 2017 for the start of the 2017/2018 season, and that the $20,000 be transferred from the 2017 General Contingency; and a further $30,000 to support office and player area improvements effective in the second half of the 2017/2018 season which is a pre-commitment to the 2018 Capital Budget;</p>
<p>That $25,000 of program sponsorship value be provided by the City to profile the Petes in other City facilities, programs, and services on an on-going basis, effective the 2017/18 season, starting September 1, 2017;</p>
<p>q)</p>
<p>That the City proceed with the OHL Study as a 2017/2018 priority;</p>
<p>That the Trial Period for the Letter of Agreement, dated February 14, 2014, relating to the definition of Gross Advertising Revenues, the Sharing of Net Advertising Profits, and the formation of a Marketing Committee be amended to reflect the advertising share revision as noted in recommendation e) and extended beyond the termination date of August 31, 2017, to the end of the current agreement;</p>
<p>That the Mayor and Clerk be authorized to sign Letters of Agreement to reflect the above noted changes, and any other related documents necessary to execute the Agreements;</p>
<p>That Staff be directed to report annually to Council on the effectiveness of the funding changes, financial incentives, joint sponsorship/ marketing/ advertising initiatives, and annual attendance and that city staff have yearly access to the Petes’ financial records; and,</p>
<p>That staff be directed to prepare a report on naming rights in conjunction with the OHL facility review in 2017 & 2018 on the sponsorship opportunities and anticipated challenges of re-naming portions of the Peterborough Memorial Centre to recognize a corporate sponsor and to acquire the new clock through sponsorship opportunities.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of February 13, 2017</p>
<p>Page 22</p>
<p>11.  Director of Corporate Services</p>
<p>Report CPFS17-003 2017 Budget Update and Recommended Adjustments</p>
<p>That Council approve the recommendations outlined in Report CPFS17- 003, dated February 6, 2017 of the Director of Corporate Services, as follows:</p>
<p>a)</p>
<p>That in accordance with the direction of Council on December 12, 2016 to reduce the 2017 All-inclusive tax rate by 0.28% or $425,000; sources of capital funding be exchanged in the 2017 Capital Budget as follows:</p>
<p>(i)</p>
<p>(ii)</p>
<p>(iii)</p>
<p>(iv)</p>
<p>That $425,000 in Tax-supported debt be removed from the City Hall Board Room and Ladies Washroom renovation (Project 3- 1.01) and transferred to the Enterprise Software Modernization (ERP) (Project 3-4.01).</p>
<p>That $300,000 in Capital levy from IT City Department Projects (Project 3-3.01) and $125,000 in Capital Levy from PTS Capital Expenditures (Project 3-3.02) be transferred to the City Hall Board Room and Ladies Washroom renovation.</p>
<p>That the $425,000 in funding from the Capital levy Reserve in ERP (Project 3-4.01) be transferred to the IT projects 3-3.01 and 3-3.02.</p>
<p>That By-law 16-142 and By-law 16-143, being By-laws to debenture certain capital works be repealed and replaced at a future date.</p>
<br>
<p>b)   That the taxation revenue presented in the 2017 Draft Operating</p>
<p>Budget book be recalculated using the Final Assessment Roll received from MPAC for the 2017 taxation year, and that the additional revenues in the amount of $937,740 be used as follows:</p>
<p>(i)</p>
<p>$50,000 to increase the provision for General Tax Write-offs,</p>
<p>(ii)</p>
<p>$425,000 to replenish base Capital Levy, which in turn be transferred to the Capital Levy Reserve to be used for future capital works, and</p>
<p>(iii)</p>
<p>$462,740 representing the estimated balance of the additional revenues be added to the 2017 General Contingency provision.</p>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of February 13, 2017</p>
<p>Page 23</p>
<p>12.  Director of Corporate Services</p>
<p>Report CPFS17-005 Canada 150 Community Infrastructure Program Contribution Agreement</p>
<p>That Council approve the recommendation outlined in Report CPFS17-005 dated February 6, 2017, of the Director of Corporate Services, as follows:</p>
<p>That a by-law be passed authorizing the Mayor and City Clerk to sign the Canada 150 Community Infrastructure Program Contribution Agreement between Her Majesty the Queen in Right of Canada, as represented by the Federal Economic Development Agency for Southern Ontario and the City of Peterborough for funding for Improvement of Market Hall Performing Arts Centre Lighting and Energy Efficiency in the amount of $88,000 and a Council approved municipal share of $180,000 for a total project cost of $268,000.</p>
<br>
<p>13.  Director of Utility Services</p>
<p>Report USEP17-001 Establishment of a Budget for the Repair of Digester #4</p>
<p>That Council approve the recommendations outlined in Report USEP17-001 dated February 6, 2017, of the Director of Utility Services as follows:</p>
<p>a)</p>
<p>b)</p>
<p>That a 2017 Capital Budget in the amount of $2,034,000 be created for the design, tender and contract administration for the repair of Digester #4 at the City of Peterborough Wastewater Treatment Plant; and</p>
<p>That funding for the capital budget referenced in Recommendation a) come from the funds remaining in the 2015 Capital Budget for repairs to Digester #3.</p>
<br>
<p>14.  Potential Capital Projects in 2017</p>
<p>That staff provide a report on the estimated cost of each component of the capital projects identified in Report CPFS17-003, to determine which projects could be completed in 2017.</p>
<br>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of February 13, 2017</p>
<p>Page 24</p>
<p>15.  Municipal Elections Act Update</p>
<p>The staff host a public meeting prior to the nomination period for the 2018 Municipal Election for the purpose of explaining the new municipal election rules established by the Ministry of Municipal Affairs and Housing.</p>
<br>
<p>16.  Advertising</p>
<p>That staff provide a report to Committee of the Whole within two cycles regarding;</p>
<p>Options to adjust the city-wide advertising policy to ensure that harmful messages are not permitted on city property, including transit vehicles; and,</p>
<p>The municipality’s legal options to prevent the display of graphic images on public transit.</p>
<br>
<p>17.  Golfview Road - Whitefield Drive - Area Traffic Concerns</p>
<p>That the petition from the Golfview Road-Whitefield Drive-area residents be received and forwarded to staff;</p>
<p>That staff examine the intersection as a traffic calming case study; and,</p>
<p>That the study be designed to accomplish two goals:</p>
<p>i)</p>
<p>ii)</p>
<p>Address the issue of speeding at and around the intersection; and,</p>
<p>Develop traffic calming tools that can be used elsewhere in the community.</p>
<br>
<br>
<p>a)</p>
<p>b)</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<br>
<p>Submitted by,</p>
<p>Councillor Beamer Chair February 6, 2017</p>
<br></div>