<!doctype html><div><br>
<br>
<br>
<p>City Council Minutes</p>
<p>City of Peterborough</p>
<p>April 24, 2017</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of City Council held on April 24, 2017, in the</p>
<p>Council Chambers.</p>
<br>
<p>The City Council meeting was called to order at 6:44 p.m. in the Council Chambers, City Hall.</p>
<p>Roll Call: Councillor Baldwin Councillor Beamer Councillor Clarke Councillor Haacke Councillor McWilliams Councillor Pappas Councillor Parnell Councillor Therrien Councillor Vassiliadis Mayor Bennett</p>
<p>Regrets: Councillor Riel</p>
<p>Confirmation of Minutes – April 3, 2017</p>
<p>Moved by Councillor Clarke, second by Councillor Pappas</p>
<p>That the minutes of the meetings of Council held on April 3, 2017 be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interests</p>
<p>Mayor Bennett declared an interest in Item 6 of Committee of the Whole Report No. 6 (Report USTR17-011 - Approval for Budget Transfer to Purchase One Low Floor - Community Bus), as he is part owner of a firm that operates a taxi business and transportation activities.</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of April 24, 2017</p>
<p>Page 2</p>
<p>Delegations</p>
<p>Registered Delegations:</p>
<p>There were no delegations.</p>
<p>Delegations Not Registered:</p>
<p>Planning Committee Report</p>
<p>There were no delegations.</p>
<p>Committee of the Whole Report</p>
<p>Michelle Collins, 475 Gilmore Street made a delegation to item No. 9, (Report PLPD17- 022, Increase Budget for Completion of the Official Plan Update).</p>
<p>Bill Templeman, 301 Boswell Avenue, made a delegation to item No. 9, (Report PLPD17-022, Increase Budget for Completion of the Official Plan Update).</p>
<p>Other Items on the Agenda</p>
<p>There were no delegations.</p>
<p>Planning Committee Report Number 4</p>
<p>Moved by Councillor Parnell, seconded by Councillor Haacke</p>
<p>That Report Number 4 of the Planning Committee meeting of April 10, 2017 be approved.</p>
<p>“CARRIED”</p>
<p>Committee of the Whole Report Number 6</p>
<p>Moved by Councillor Beamer, seconded by Councillor Haacke</p>
<p>That Report Number 6 of the Committee of the Whole meeting of April 18, 2017 be approved.</p>
<p>Items 6, 7 and 9 were separated for discussion.</p>
<p>City Council Minutes</p>
<p>Meeting of April 24, 2017</p>
<p>Page 3</p>
<p>Item 6 – Report USTR17-011 - Approval for Budget Transfer to Purchase One Low Floor - Community Bus</p>
<p>The Mayor, due to his previously declared interest did not discuss or vote on the matter.</p>
<p>Upon item 6, the motion carried.</p>
<p>Upon items 1 to 12, less item 6, the items carried.</p>
<p>Notice of Motion</p>
<p>There were no Notices of Motion.</p>
<p>By-laws</p>
<p>Moved by Councillor Parnell, seconded by Councillor Pappas</p>
<p>That the following by-laws be read a first, second and third time:</p>
<p>17-039</p>
<p>Being a By-law to authorize the execution of an Encroachment Agreement for lands municipally known as 351 McDonnel, in the City of Peterborough</p>
<p>17-040</p>
<p>17-041</p>
<p>17-042</p>
<p>Being a By-law to authorize the issuing of a non-tax supported debenture to support financing for the construction and contract administration costs for the retrofit of City streetlights to LED fixtures</p>
<p>Being a By-law to temporarily exempt certain lands within City of Peterborough Registered Plan 45M-234 from Part Lot Control</p>
<p>Being a By-law to Amend the Zoning By-law for the Property at 80 Marsh Avenue and Part of the Property at 1300 Chemong Road</p>
<p>and the said by-laws, having been now read a third time and passed, the Mayor and Clerk be authorized to sign and seal the same.</p>
<p>“CARRIED”</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of April 24, 2017</p>
<p>Page 4</p>
<p>Other Business</p>
<p>There were no items of Other Business.</p>
<p>Confirmatory By-law</p>
<p>Moved by Councillor Parnell, seconded by Councillor Haacke</p>
<p>That the following by-law be read a first, second and third time:</p>
<p>17-043</p>
<p>Being a By-law to confirm the proceedings of Council at its meeting held on April 24, 2017.</p>
<p>and the said by-law, having been now read a third time and passed, the Mayor and Clerk be authorized to sign and seal the same.</p>
<p>“CARRIED”</p>
<p>Adjournment</p>
<p>Moved by Councillor Pappas, seconded by Councillor Beamer</p>
<p>That this meeting of City Council adjourn at 7:16 p.m.</p>
<p>“CARRIED”</p>
<br>
<p>John Kennedy City Clerk</p>
<p>Daryl Bennett Mayor</p>
<p>City Council Minutes</p>
<p>Meeting of April 24, 2017</p>
<p>Page 5</p>
<p>Planning Committee Report No. 4</p>
<p>Meeting of April 10, 2017</p>
<br>
<p>To The Council of the City of Peterborough, for consideration at its meeting held April 24, 2017</p>
<p>The Planning Committee, as a result of its meeting held on April 10, 2017 recommends as follows:</p>
<p>1.</p>
<p>Director, Planning and Development Services Report PLPD17-018 Application for Site Plan Approval, 80 Marsh Avenue, Proposed 87 Unit Two Storey Row House Development</p>
<p>That Council approve the recommendations outlined in Report PLPD17-018 dated April 10, 2017, of the Director, Planning and Development Services, as follows:</p>
<p>That the Site Plan Application submitted by Mason Homes Limited for the construction of an eighty-seven (87) unit, two storey row house development at 80 Marsh Avenue be approved subject to the following conditions:</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>The deposit of site work performance security in the amount of $100,000.00;</p>
<p>The submission of revised drawings and additional technical information to the satisfaction of the Director of the Utility Services; and</p>
<p>The conveyance of remnant lands to the City at the southwest and northeast corners of the site, at no charge and free of encumbrances</p>
<br>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of April 24, 2017</p>
<p>Page 6</p>
<p>2.</p>
<br>
<p>Public Meeting under the Planning Act Director, Planning and Development Services Report PLPD17-019 Application for Zoning By-law Amendment Z1701 2064086 Ontario Limited and Mason Homes Limited 80 Marsh Avenue and Part of 1300 Chemong Road</p>
<p>That Council approve the recommendations outlined in Report PLPD17-019 dated April 10, 2017, of the Director, Planning and Development Services, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>That Section 3.9 Exceptions of Zoning By-law 1997-123 be amended by adding Exception 312 in accordance with Exhibit D of Report PLPD17-019.</p>
<p>That the subject properties be rezoned from SP.349, 11j, 13k-’H’ to SP.349, 11j, 13k-312-‘H’; from OS.1 to SP.328, 13a-“H”, SP.329,11j, 13k-‘H’; and from OS.1 to SP.328,13a-‘H’, SP.329, 11j, 13k-‘H’, SP.330, 11j, 13k-‘H’, SP.331, 3q, 11j, 13k, 16c-‘H’ in accordance with Exhibit D of Report PLPD17-019.</p>
<br>
<p>Submitted by,</p>
<p>Councillor Parnell Chair April 10, 2017</p>
<p>City Council Minutes</p>
<p>Meeting of April 24, 2017</p>
<p>Page 7</p>
<p>Committee of the Whole Report No. 6</p>
<p>Meeting of April 18, 2017</p>
<br>
<p>To the Council of The City of Peterborough for consideration at its Meeting held April 24, 2017</p>
<p>The Committee of the Whole as a result of its meeting held on April 18, 2017, recommends as follows:</p>
<p>1.</p>
<p>Report of Closed Session Director of Planning and Development Services Report PLPD17-021 Emergency Measures Taken to Repair the Airport Holding Bay</p>
<p>That Council approve the recommendation outlined in Report PLPD17-021 dated April 18, 2017, from the Director, Planning and Development Services, as follows:</p>
<p>That Council receive as information, that due to an Emergency with the condition of the holding bay, an amount of $211,875.15 plus HST of $27,543.77 for a total cost of $239,418.92 was funded from the Capital Levy Reserve to pay Drain Bros. Excavating Ltd. for work to repair the holding bay at the Peterborough Municipal Airport.</p>
<p>Director of Utility Services Report USTR17-010 Calendar Parking Restriction on Dickson Street</p>
<p>That Council approve the recommendation outlined in Report USTR17-010 dated April 18, 2017, of the Director of Utility Services, as follows:</p>
<p>That Calendar Parking be implemented on Dickson Street from Murray Street to McDonnel Street.</p>
<br>
<br>
<br>
<br>
<br>
<p>2.</p>
<p>City Council Minutes</p>
<p>Meeting of April 24, 2017</p>
<p>Page 8</p>
<p>Director of Corporate Services Report CPFS17-014 Contract Extension – Purchasing Card Services</p>
<p>That Council approve the recommendation outlined in Report CPFS17-014, dated April 18, 2017 of the Director of Corporate Services, as follows:</p>
<p>That the City of Peterborough enter into an agreement with U.S. Bank National Association, 120 Adelaide Street West, Suite 2300, Toronto, Ontario, M5H 1T1, for the supply of Purchasing Card Services for the five- year period May 1, 2017 to April 30, 2022.</p>
<p>City Clerk Report CPCLK17-008 Peterborough Housing Corporation (PHC) Board Appointments</p>
<p>That Council approve the recommendation outlined in Report CPCLK17- 008 dated April 18, 2017, of the City Clerk, as follows:</p>
<p>That Bonnie Clark, Terry Low and Larry Love be reappointed to the Peterborough Housing Corporation Board of Directors, for a three year term from April 1, 2017 to March 31, 2020.</p>
<p>City Clerk Report CPCLK17-009 Citizen Appointment – City of Peterborough Holdings Inc. Board</p>
<p>That Council approve the recommendation outlined in Report CPCLK17- 009, dated April 18, 2017, of the City Clerk, as follows:</p>
<p>That Arlynn Dupuis be appointed to the City of Peterborough Holdings Inc. Board with a term ending December 31, 2019.</p>
<p>3.</p>
<br>
<p>4.</p>
<br>
<p>5.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>6.</p>
<br>
<br>
<br>
<p>7.</p>
<p>City Council Minutes</p>
<p>Meeting of April 24, 2017</p>
<p>Page 9</p>
<p>Director of Utility Services Report USTR17-011 Approval for Budget Transfer to Purchase One Low Floor - Community Bus</p>
<p>That Council approve the recommendations outlined in Report USTR17- 011, dated April 18, 2017 of the Director of Utility Services as follows:</p>
<p>That Creative Carriage Ltd., PO Box 600, 6 Ridgeview Street, St. George, Ontario N0E 1N0 be awarded a purchase the contract to supply one Spirit of Freedom Low Floor Accessible Bus by Arboc at a cost of $145,000 plus $17,940 HST for a total cost of $162,940; and</p>
<p>That the 2017 Capital budget for Buses for Persons with Disabilities (Reference 5-11.03) be increased from $675,000 to $775,000 and the additional $100,000 be transferred from the Transit Reserve fund.</p>
<p>Director of Utility Services Report USEC17-008 Award of Cooperative Purchasing Contract for the Design, Installation, and Contract Administration to Retrofit the City’s Streetlights</p>
<p>That Council approve the recommendations outlined in Report USEC17-008 dated April 18, 2017, of the Director of Utility Services, as follows:</p>
<p>That the presentation from Realterm Energy and LAS on the LED streetlight retrofit be received for information;</p>
<p>That the City enter into a formal agreement with Realterm Energy., 1237 de la Montagne Street, Suite 400, Montreal, QC for an investment grade audit and the design, installation, and contract administration for the retrofit of City streetlights from the current fixtures to LED fixtures at a cost of $4,900,000 plus HST of $637,000 for a total cost of $5,537,000;</p>
<p>That Council create a 2017 Capital Budget in the amount of $5,200,000 in non-tax supported debenture financing for the construction and contract administration costs for the retrofit of City streetlights from the current fixtures to LED fixtures; and</p>
<p>d)</p>
<p>That bylaw 17-040 be passed to debenture finance the LED streetlight retrofit project.</p>
<p>a)</p>
<p>b)</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>City Council Minutes</p>
<p>Meeting of April 24, 2017</p>
<p>Page 10</p>
<p>Director of Corporate Services Director of Community Services Report CPPS17-015 Creation of a 2017 Capital Budget for the Peterborough Memorial Centre Refrigeration Equipment Replacement, Pre-Purchase of Equipment for an Emergency Temporary Ice Pad Replacement and Monthly Structural Reviews of the Concrete Ice Pad</p>
<p>That Council approve the recommendations outlined in Report CPPS17- 015, dated April 18, 2017 of the Director of Corporate Services and the Director of Community Services, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>That a 2017 Capital Budget, in the amount of $940,000, be created for the Peterborough Memorial Centre for the proposed Refrigeration Equipment Replacement, Pre-Purchase of Equipment for an Emergency Temporary Ice Pad Replacement, and Monthly Structural Reviews of the Concrete Ice Pad so the work can proceed in 2017;</p>
<p>That the $2,000,000 budget amount proposed for the 2019 Capital Budget for the Peterborough Memorial Centre Ice Pad Replacement be pre-committed;</p>
<p>That staff be directed to work with all tenants, including the Peterborough Petes, the Peterborough Lakers and Agricultural Society regarding the timing and impact of the construction in 2019 and to assist with scheduling and/or securing off site venues for the 2019 season.</p>
<br>
<p>8.</p>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of April 24, 2017</p>
<p>Page 11</p>
<p>Director, Planning and Development Services Report PLPD17-022 Increase Budget for Completion of the Official Plan Update</p>
<p>That Council approve the recommendations outlined in Report PLPD17-022 dated April 18, 2017, of the Director, Planning and Development Services as follows:</p>
<p>That the capital budget for the Official Plan Review (Project 7-1.08 in the 2012 Capital Budget) for staff support to draft the Plan based on a structured public engagement process, be increased by $200,000 from $124,000 to $324,000; and</p>
<p>That the additional $200,000 to be transferred to the Official Plan Review Capital Project be funded 50% from the General Government Development Charges and 50% from the Central Area Master Plan (Project 7-1.03).</p>
<br>
<p>10.  Director of Utility Services</p>
<p>Report USTR17-008 River Road South / Bensfort Road Traffic Operational Review</p>
<p>That Council approve the recommendations outlined in Report USTR17-008 dated April 18, 2017, of the Director of Utility Services, as follows:</p>
<p>That a 2017 Capital Budget be created in the amount of $185,000 for the Design and Construction of Improvements to the Intersection of River Road South and Bensfort Road as shown in Appendix B to Report USTR17-008; and funded from the uncommitted balance in the 2017 Capital Budget for Traffic Improvements (project Reference 5-13-04); and</p>
<p>That the construction of the improvements to the intersection of River Road South and Bensfort Road be completed as soon as possible in 2018.</p>
<p>9.</p>
<br>
<br>
<br>
<p>a)</p>
<p>b)</p>
<p>a)</p>
<p>b)</p>
<p>City Council Minutes</p>
<p>Meeting of April 24, 2017</p>
<p>Page 12</p>
<p>11.  Director of Utility Services</p>
<p>Report USTR17-009 Parking Restrictions on Marina Boulevard from Royal Drive to Water Street</p>
<p>That Council approve the recommendation outlined in Report USTR17-009 dated April 18, 2017, of the Director of Utility Services, as follows:</p>
<p>That Calendar Parking be implemented on both sides of Marina Boulevard from Royal Drive to the west limit of Northcrest Arena.</p>
<br>
<p>12.  Director of Corporate Services</p>
<p>Report CPFS17-015 Potential Revisions to the Vacancy Rebate Program</p>
<br>
<br>
<p>That Council approve the recommendations outlined in report CPFS17-015 dated April 18, 2017, of the Director of Corporate Services as follows:</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>That Council considers the options available in this report and in particular, the phasing out the program over the budget years 2018- 2020, pending consultation with community stakeholders.</p>
<p>That staff consult with the local business community and report back to Council on the final recommendation as a result of these consultations with the final recommendation to be forwarded to the Province by the end of June 2017.</p>
<p>That the consultations include a discussion of how the funds associated with this program can be effectively redeployed to assist property owners who are dealing with vacancies.</p>
<br>
<p>Submitted by,</p>
<p>Councillor Beamer Chair April 18, 2017</p>
<br></div>