<!doctype html><div><br>
<br>
<br>
<p>City Council Minutes</p>
<p>City of Peterborough</p>
<p>May 15, 2017</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of City Council held on May 15, 2017, in the</p>
<p>Council Chambers.</p>
<br>
<p>The City Council meeting was called to order at 6:30 p.m. in the Council Chambers, City Hall.</p>
<p>Roll Call: Councillor Baldwin Councillor Beamer Councillor Clarke Councillor Haacke Councillor McWilliams Councillor Pappas Councillor Parnell Councillor Riel Councillor Therrien Councillor Vassiliadis Mayor Bennett</p>
<p>Confirmation of Minutes – April 24, 2017</p>
<p>Moved by Councillor Clarke, second by Councillor Pappas</p>
<p>That the minutes of the meetings of Council held on April 24, 2017 be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interests</p>
<p>Councillor Vassiliadis declared an interest in Item 10 of Committee of the Whole Report No. 7 (Report CSD17-011 – Draft Memorandum of Understanding with the Peterborough Agricultural Society Agreement), as his company is a vendor at the Farmer’s Market.</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of May 15, 2017</p>
<p>Page 2</p>
<p>Councillor Pappas declared an interest in Item 6 of Committee of the Whole Report No. 7 (Report CSD17-008 – Community Investment Grants), as several of his family members are part of an organization receiving funding.</p>
<p>Councillor Clarke declared an interest in Item 6 of Committee of the Whole Report No. 7 (Report CSD17-008 – Community Investment Grants), as he sits on the Board of St. John’s Ambulance.</p>
<p>Mayor Bennett declared an interest in Item 7 of Committee of the Whole Report No. 7 (Report CPFS17-019 – Public Transit Infrastructure Fund Transfer Price Agreement and Pre-Commitment of 2018 Capital Funding), as he is part owner of a firm that operates a taxi business and transportation activities.</p>
<p>Mayor Bennett also declared an interest in Item 12 of Committee of the Whole Report No. 7 (Report CAO17-005 – Securing Employment Lands for the Benefit of the Region), as his family owns property in or near the area that would be annexed through the restructuring proposal.</p>
<p>Delegations</p>
<p>Registered Delegations:</p>
<p>Roy Brady, 136 Ware Street, made a delegation to Item 12 of Committee of the Whole Report No. 7 (Report CAO17-005 - Securing Employment Lands for the Benefit of the Region).</p>
<p>Carlotta James, Marcy Adzich, Ben Wolfe and Jocasta Boone, Peterborough Pollinators, made a delegation to Item 1 of Committee of the Whole Report No. 7 (Report CSD17-009 - Community Project Grants 2017).</p>
<p>Ryan Moore, Peterborough Agricultural Society, made a delegation to Item 10 of Committee of the Whole Report No. 7 (Report CSD17-011 – Draft Memorandum of Understanding with the Peterborough Agricultural Society Agreement).</p>
<p>Delegations Not Registered:</p>
<p>Committee of the Whole Report</p>
<p>George Molson, 688 Gilchrist Street, made a delegation to Item 12 of Committee of the Whole Report No. 7 (Report CAO17-005 - Securing Employment Lands for the Benefit of the Region).</p>
<p>City Council Minutes</p>
<p>Meeting of May 15, 2017</p>
<p>Page 3</p>
<p>Rod Davis, Peterborough Folk Festival, made a delegation to Item 6 of Committee of the Whole Report No. 7 (Report CSD17-008 - Community Investment Grants).</p>
<p>Richard Welsley-Staples, 731 River Road South asked an emergency management question and Mayor Bennett directed Mr. Staples to Allan Seabrooke, CAO.</p>
<p>Paul Ayotte, 486 Rogers Street, made a delegation to Item 12 of Committee of the Whole Report No. 7 (Report CAO17-005 - Securing Employment Lands for the Benefit of the Region).</p>
<p>Other Items on the Agenda</p>
<p>There were no delegations.</p>
<p>Committee of the Whole Report Number 7</p>
<p>Moved by Councillor Beamer, seconded by Councillor Clarke</p>
<p>That Report Number 7 of the Committee of the Whole meeting of May 8, 2017 be approved.</p>
<p>Items 6, 7, 10 and 12 were separated.</p>
<p>Upon items 1, 2, 3, 4, 5, 8, 9, 11, 13, 14, 15, and 16 the motion carried.</p>
<p>Item 6 - Report CSD17-008 – Community Investment Grants</p>
<p>Councillors Clarke and Pappas, due to their previously declared interests, did not discuss or vote on the matter.</p>
<p>That recommendation a) be amended by deleting and replacing as follows:</p>
<p>That the 2017 Community Investment  Grants in the revised total amount of $222,000 be allocated to various local charitable and Not-For-Profit organizations (NFP's) as set out in the attached Appendix A, which hereby excludes an $8,000 contribution to the Canadian Red Cross, since the local organization no longer complies with the grant criteria.</p>
<p>Upon Item 6 as amended, the motion carried.</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of May 15, 2017</p>
<p>Page 4</p>
<p>Item 7 – Report CPFS17-019 – Transit Infrastructure Fund Agreement</p>
<p>The Mayor, due to his previously declared interest did not discuss or vote on the matter.</p>
<p>Upon item 7, the motion carried.</p>
<p>Item 10 – Report CSD17-011 - Draft MOU- Agricultural Society Agreement</p>
<p>Councillor Vassiliadis, due to his previously declared interest, did not discuss or vote on the matter.</p>
<p>Upon item 10, the motion carried.</p>
<p>Item 12 – Report CAO17-005 – Employment Lands</p>
<p>The Mayor, due to his previously declared interest, stepped-down as Chair. Deputy Mayor Clarke assumed the Chair.</p>
<p>The Mayor, due to his previously declared interest did not discuss or vote on the matter.</p>
<p>Moved by Councillor Parnell, seconded by Councillor McWilliams</p>
<p>That recommendations a), b), c) and d) be deleted.</p>
<p>“LOST”</p>
<p>Moved by Councillor McWilliams, seconded by Councillor Haacke</p>
<p>That the Question be Put.</p>
<p>“LOST”</p>
<p>Upon item 12, as moved as part of the main motion of Councillors Beamer and Clarke, the motion carried.</p>
<p>Mayor Bennett reassumed the Chair.</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of May 15, 2017</p>
<p>Page 5</p>
<p>Notice of Motion</p>
<p>There were no Notices of Motion.</p>
<p>By-laws</p>
<p>Moved by Councillor Haacke, seconded by Councillor Baldwin</p>
<p>The Mayor, due to his previously declared interest with Committee of the Whole item 7, Public Transit Infrastructure Fund Agreement, did not vote on the by-laws.</p>
<p>That the following by-laws be read a first, second and third time:</p>
<p>17-044</p>
<p>Being a by-law to authorize the execution of the transfer price agreement between Her Majesty the Queen in Right of Ontario as represented by the Minister of Transportation for the Province of Ontario for the transfer of the Public Transit Infrastructure Fund Phase One allocation to the Municipality for funding of public transit projects</p>
<p>17-045</p>
<p>Being a By-law to temporarily exempt certain lands known as Lot 14, south of London Street, west of George Street and part of Rubidge Street, closed by Judge’s Order, Plan 1, for the City of Peterborough, from Part Lot Control</p>
<p>and the said by-laws, having been now read a third time and passed, the Mayor and Clerk be authorized to sign and seal the same.</p>
<p>“CARRIED”</p>
<p>Other Business</p>
<p>There were no items of Other Business.</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of May 15, 2017</p>
<p>Page 6</p>
<p>Confirmatory By-law</p>
<p>Moved by Councillor Clarke, seconded by Councillor McWilliams</p>
<p>That the following by-law be read a first, second and third time:</p>
<p>17-046</p>
<p>Being a By-law to confirm the proceedings of Council at its meeting held on May 15, 2017.</p>
<p>and the said by-law, having been now read a third time and passed, the Mayor and Clerk be authorized to sign and seal the same.</p>
<p>“CARRIED”</p>
<p>Adjournment</p>
<p>Moved by Councillor Pappas, seconded by Councillor Clarke</p>
<p>That this meeting of City Council adjourn at 8:49 p.m.</p>
<p>“CARRIED”</p>
<br>
<p>John Kennedy City Clerk</p>
<p>Daryl Bennett Mayor</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>2.</p>
<p>City Council Minutes</p>
<p>Meeting of May 15, 2017</p>
<p>Page 7</p>
<p>Committee of the Whole Report No. 7</p>
<p>Meeting of May 8, 2017</p>
<p>To the Council of The City of Peterborough for consideration at its Meeting held May 15, 2017</p>
<p>The Committee of the Whole as a result of its meeting held on May 8, 2017, recommends as follows:</p>
<p>1.</p>
<p>Director of Community Services Report CSD17-009 Community Project Grants 2017</p>
<p>That Council approve the recommendations outlined in Report CSD17-009, dated May 8, 2017, of the Director of Community Services, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>That the 2017 Community Project Grants in the total amount of $21,000 be allocated to various local charitable and Not For Profit organizations (NFP’s) as set out in the attached Appendix A.</p>
<p>That approved organizations be authorized to use the City Coat of Arms to acknowledge City support on promotional material such as flyers, brochures and posters throughout 2017; and</p>
<p>That all new Community Project Grant applicants be required to attend an annual workshop to improve the quality of their application.</p>
<p>Director of Utility Services Report USPW17-009 Award of RFP P-06-17 for the Supply and Delivery of Two Four- Wheel Drive Tractor Backhoes</p>
<p>That Council approve the recommendation outlined in Report USPW17-009 dated May 8, 2017 of the Director of Utility Services, as follows:</p>
<p>That RFP document P-06-17 for the Supply and Delivery of Two Four-Wheel Drive Tractor Backhoes be awarded to Nortrax Canada Inc., 1003 Highway 7 East, Peterborough, ON, K9J 7Y8 at a total cost of $254,888.00 plus $33,135.44 HST for a total of $288,023.44 with an option, at the City’s sole discretion, to enter into negotiations with Nortrax Canada Inc. for an additional five units over the next five years.</p>
<p>City Council Minutes</p>
<p>Meeting of May 15, 2017</p>
<p>Page 8</p>
<p>Director of Corporate Services Report CPFS17-016 December 31, 2016 Financial Report (unaudited)</p>
<p>That Council approve the recommendations outlined in Report CPFS17-016 dated May 8, 2017, of the Director of Corporate Services, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>That the December 31, 2016 Quarterly Financial Report (unaudited) attached as Appendix A to Report CPFS17-016, dated May 8, 2017, be received.</p>
<p>That Capital Levy approved in previous years’ capital budgets for various projects, that is no longer needed, in the amount of $418,712 and shown on Chart 3 in the report CPFS17-016, be transferred to the Capital Levy Reserve.</p>
<p>c)</p>
<p>That the 2016 Police Services surplus in the amount of $11,051 be transferred to the Police Special Projects Reserve.</p>
<p>Director of Corporate Services Report CPFS17-017 Noise By-law Provision in City Operating Budget</p>
<p>That Council approve the recommendation outlined in Report CPFS17-017 dated May 8, 2017, of the Director of Corporate Services, as follows:</p>
<p>That Report CPFS17-017 regarding the provision of $25,000 in the 2017 Operating Budget for the enforcement of the Noise By-law be received for information.</p>
<p>3.</p>
<br>
<p>4.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of May 15, 2017</p>
<p>Page 9</p>
<p>City Clerk Report CPCLK17-011 Peterborough Downtown Business Improvement Area (PDBIA) Sidewalk Sales</p>
<p>That Council approve the recommendations outlined in Report CPCLK17- 011, dated May 8, 2017 of the City Clerk, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>That the merchants within the Peterborough Downtown Business Improvement Area be granted permission to conduct a Sidewalk Sale on Saturday, June 3, 2017 from 11:00 a.m. to 5:00 p.m. during the Taste of Downtown event held on Charlotte Street between Aylmer Street and George Street; and,</p>
<p>That the merchants within the Peterborough Downtown Business Improvement Area be granted permission to conduct a Sidewalk Sale July 15, 2017 from 9:00 a.m. to 5:00 p.m. as part of the annual Pulse event.</p>
<p>Director of Community Services Report CSD17-008 Community Investment Grants</p>
<p>That Council approve the recommendations outlined in Report CSD17-008 dated May 8, 2017, of the Director of Community Services, as follows:</p>
<p>At the Council meeting on May 15, 2015, item a) was amended as follows:</p>
<p>a)</p>
<p>That the 2017 Community Investment Grants in the revised total amount of $222,000 be allocated to various local charitable and Not- For-Profit organizations (NFP’s) as set out in the attached Appendix A, which hereby excludes an $8,000 contribution to the Canadian Red Cross, since the local organization no longer complies with the grant criteria.</p>
<p>b)</p>
<p>That approved organizations be authorized and required to use the City Coat of Arms to acknowledge City support on promotional material such as flyers, brochures and posters throughout 2017;</p>
<p>5.</p>
<br>
<p>6.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of May 15, 2017</p>
<p>Page 10</p>
<p>That the proposed schedule for the Investment and Project Grant applications and approval, with the application deadline in early December, review period in January and February and Council approval during the winter be approved;</p>
<p>That the request from the Peterborough Folk Festival for future consideration as a Service Grant be denied;</p>
<p>That all applicants (excluding those currently with multi-year funding) be strongly encouraged to attend an annual workshop to improve their applications.</p>
<p>Director of Corporate Services Report CPFS17-019 Public Transit Infrastructure Fund Transfer Price Agreement and Pre-Commitment of 2018 Capital Funding</p>
<p>That Council approve the recommendations outlined in Report CPFS17-019 dated May 8, 2017, of the Director of Corporate Services, as follows:</p>
<p>That a by-law be passed authorizing the Mayor and Clerk to sign the Public Transit Infrastructure Fund (PTIF) transfer price agreement between Her Majesty the Queen in Right of Ontario as represented by the Minister of Transportation and The Corporation of the City of Peterborough; and</p>
<p>That $2,425,000 in 2018 capital funding be pre-approved to allow for the purchase of four 40 Foot Low Entry Fully Accessible Urban Diesel Buses.</p>
<p>c)</p>
<p>d)</p>
<p>e)</p>
<p>a)</p>
<p>b)</p>
<br>
<p>7.</p>
<br>
<br>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of May 15, 2017</p>
<p>Page 11</p>
<p>8.</p>
<br>
<p>9.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Board Chair, Peterborough Economic Development President & CEO, Peterborough Economic Development Report PED17-002 PED 2017 First Quarter Report</p>
<p>That Council approve the recommendation outlined in Report PED17-002 dated May 8, 2017 of the President & CEO and Board Chair of Peterborough Economic Development, as follows:</p>
<p>That Report PED17-002 and supporting presentation, providing the Peterborough Economic Development 2017 First Quarter Report be received.</p>
<p>Director of Community Services Report CSD17-012 United Nations Designation Peterborough-Kawarthas Regional Centre of Expertise on Sustainable Development</p>
<p>That Council approve the recommendation outlined in Report CSD17-012, dated May 8, 2017, of the Director of Community Services, as follows:</p>
<p>That the presentation on the United Nations Designation for Peterborough- Kawarthas as a Regional Centre of Expertise on Sustainable Development by Brianna Salmon, from Green-up be received.</p>
<br>
<p>10.  Director of Community Services</p>
<p>Report CSD17-011 Draft Memorandum of Understanding with the Peterborough Agricultural Society Agreement</p>
<p>That Council approve the recommendations outlined in Report CSD17-011, dated May 8, 2017, of the Director of Community Services, as follows:</p>
<p>a)</p>
<br>
<p>That a background presentation by the Director of Community Services be received;</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of May 15, 2017</p>
<p>Page 12</p>
<p>b)</p>
<p>That the draft Memorandum of Understanding regarding the Transfer Agreement between the City of Peterborough and the Peterborough Agricultural Society, appended to Report CSD17-011 as Appendix A, be approved for a seven year term, with a renewal option; and that the Mayor and Clerk be authorized to execute any applicable legal agreements that arise from the Memorandum of Understanding;</p>
<p>c)</p>
<p>That upon execution of any and all agreements by the parties;</p>
<p>i)</p>
<p>ii)</p>
<p>That the Peterborough Agricultural Society’s 2017 approved Service Grant be increased by an additional $25,000 for a total of $75,000, which becomes the new funding base for future years, with the funding to be allocated from the 2017 Contingency; and</p>
<p>That Staff be directed to engage the services of a qualified Architect to begin the high level conceptual and subsequently more detailed plans and costing for capital improvements to Morrow Park as contemplated in the draft Memorandum of Understanding.</p>
<br>
<p>11.  Director of Community Services</p>
<p>Report CSD17-013 Community Grant Program Overview</p>
<p>That Council approve the recommendation outlined in Report CSD17-013 dated May 8, 2017, of the Director of Community Services, as follows:</p>
<p>That the report and a presentation by the Director of Community Services on the City’s Community Grant Program be received for information.</p>
<br>
<p>12.  Chief Administrative Officer</p>
<p>Report CAO17-005 Securing Employment Lands for the Benefit of the Region</p>
<p>a)</p>
<p>That the CAO be directed to send a letter requesting the Province take action on the issue of a boundary adjustment between the City of Peterborough and the Township of Cavan Monaghan, to facilitate the City meeting its requirements under the Growth Plan for the Greater Golden Horseshoe, given that a mutually agreeable solution has been unable to be reached despite extensive negotiations;</p>
<p>City Council Minutes</p>
<p>Meeting of May 15, 2017</p>
<p>Page 13</p>
<p>b)</p>
<p>c)</p>
<p>d)</p>
<p>That the Province be informed that City Council considers the total amount to be paid to the Township and County to be too high; and</p>
<p>That a copy of the letter be e-mailed to Council and,</p>
<p>That staff be directed to explore all other alternative development arrangements within the City boundaries including potential conversion of presently zoned residential land to employment land.</p>
<br>
<p>13.  Director of Corporate Services</p>
<p>Report CPPS17-018 Award of RFP P-04-17, for the Commissioning Firm of Record for the City of Peterborough</p>
<p>That Council approve the recommendations outlined in Report CPPS17- 018, dated May 8, 2017 of the Director of Corporate Services, as follows:</p>
<p>That RFP P-04-17 for the Commissioning Firm of Record for the City of Peterborough be awarded to Jones Lang LaSalle Real Estate Services Inc. (JLL), 100 Cowdray Court, Suite 130, Toronto, Ontario, M1S 5C8 for the period May 22, 2017 to December 31, 2021 with the option for one five year extension subject to satisfactory performance.</p>
<br>
<p>14.  Director of Corporate Services</p>
<p>Report CPPS17-016 Award of Cooperative Purchasing Contract for the Design, Installation and Contract Administration to Replace Existing Interior Lighting with LED Fixtures at the Peterborough Sport & Wellness Centre and the Peterborough Memorial Centre</p>
<p>That Council approve the recommendation outlined in Report CPPS17-016, dated May 8, 2017 of the Director of Corporate Services as follows:</p>
<p>That the City enter into a formal agreement with Conrad Lighting Solutions Inc., 6 Hanna Road, Toronto, Ontario, M4G 4G5, for the design, installation, and contract administration to replace existing interior lighting with LED fixtures at the Peterborough Sport & Wellness Centre and the Peterborough Memorial Centre at a cost of $398,781 plus HST of $51,841.53 for a total cost of $450,622.53.</p>
<br>
<br>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of May 15, 2017</p>
<p>Page 14</p>
<br>
<p>15.  Director of Community Services</p>
<br>
<br>
<br>
<br>
<br>
<p>Director of Corporate Services Report CSD17-006 Aylmer/Simcoe Public Space Sponsorship Agreement</p>
<p>That Council approve the recommendations outlined in Report CSD17-006 dated May 8, 2017, of the Director of Community Services, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>That the public space at Aylmer/Simcoe is a suitable location for Sponsorship and Naming Rights;</p>
<p>That the Public Art installation to be located in the Public Space at Aylmer/Simcoe is suitable for Sponsorship support;</p>
<br>
<p>That the naming right and presenting sponsorship be entered into with LLF Lawyers for an amount of $100,000 for 20 years and renewed at the discretion of LLF Lawyers for an additional 10 years for an amount of $50,000.</p>
<br>
<p>16.  Director of Community Services</p>
<p>Report CSD17-010 Award of P-02-17 Supply, Installation and Configuration of an RFID Tagging System, Security Gate System and Self Check Stations for the Peterborough Public Library</p>
<p>That Council approve the recommendation outlined in Report CSD17-010 dated May 08, 2017, of the Director of Community Services, as follows:</p>
<p>That a portion of Request for Proposal P-02-17 Supply, Installation and Configuration of an RFID Tagging System, Security Gate System, Self Check Stations and Book Sorting System for the Peterborough Public Library be awarded to Bibliotheca Canada Inc., 284 Churchill Ave N, Ottawa, ON K1Z 5B6 at a total cost of $123,285 plus $16,027 HST for a total of $139,312.</p>
<p>Submitted by,</p>
<p>Councillor Beamer Chair May 8, 2017</p>
<br></div>