<!doctype html><div><br>
<br>
<br>
<p>City Council Minutes</p>
<p>City of Peterborough</p>
<p>June 5, 2017</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of City Council held on June 5, 2017, in the</p>
<p>Council Chambers.</p>
<br>
<p>The City Council meeting was called to order at 6:30 p.m. in the Council Chambers, City Hall.</p>
<p>Roll Call: Councillor Baldwin Councillor Beamer Councillor Clarke Councillor Haacke Councillor McWilliams Councillor Pappas Councillor Parnell Councillor Therrien Councillor Vassiliadis Mayor Bennett</p>
<p>Regrets: Councillor Riel</p>
<br>
<p>Ceremonial Presentation</p>
<p>Mayor Bennett introduced the Holnbeck Award and Brian Holnbeck spoke on behalf of the Holnbeck family.  The Holnbeck Award was presented to Sonia Guthrie.</p>
<p>Confirmation of Minutes – May 15, 2017</p>
<p>Moved by Councillor Clarke, second by Councillor Pappas</p>
<p>That the minutes of the meetings of Council held on May 15, 2017 be approved.</p>
<p>“CARRIED”</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of June 5, 2017</p>
<p>Page 2</p>
<p>Disclosure of Pecuniary Interests</p>
<p>Councillor Parnell declared an interest in Item 11 of Committee of the Whole Report No. 8 (Report CSD17-014 - Canada 150th Celebrations Committee Update), as her spouse is involved with the Rotary fireworks.</p>
<p>Councillor Clarke declared an interest in Item 12 of Committee of the Whole Report No. 8 (Report USDIR17-004 – Streetscape and Public Realm for Charlotte Street from Aylmer Street to Park Street), as his employer uses Charlotte Street for business purposes.</p>
<p>Delegations</p>
<p>Registered Delegations:</p>
<p>Stewart Hamilton, PACAC Chair, made a delegation to Item 14 of Committee of the Whole Report No. 8 (Report CSACH17-005 - Listing Properties on Heritage Register).</p>
<p>Kathryn Matheson, 160 Hunter Street East, made a delegation to Item 14 of Committee of the Whole Report No. 8 (Report CSACH17-005 - Listing Properties on Heritage Register).</p>
<p>Linda Sunderland and Brian Higgins, Hospice Peterborough, made a delegation to Item 14 of Committee of the Whole Report No. 8 (Report CSACH17-005 - Listing Properties on Heritage Register).</p>
<p>Cheryl Lyon, Casino Watershed Task Force, made a delegation to Item 2 of Planning Committee Report Number 5 (Report PLPD17-026 - Application for Site Plan Approval, 4,851 square metre Casino and Seven Storey, 100 Suite Hotel at 1400 Crawford Drive Removal of “H” – Holding Symbol from the Zoning of the property and pre-commitment of funds for 2018-2019 Budgets for Infrastructure Improvements).</p>
<p>Kari Gunson, Casino Watershed Task Force, made a delegation to Item 2 of Planning Committee Report Number 5 (Report PLPD17-026 - Application for Site Plan Approval, 4,851 square metre Casino and Seven Storey, 100 Suite Hotel at 1400 Crawford Drive Removal of “H” – Holding Symbol from the Zoning of the property and pre-commitment of funds for 2018-2019 Budgets for Infrastructure Improvements).</p>
<p>Warren Dunlop, Casino Watershed Task Force, made a delegation to Item 2 of Planning Committee Report Number 5 (Report PLPD17-026 - Application for Site Plan Approval, 4,851 square metre Casino and Seven Storey, 100 Suite Hotel at 1400 Crawford Drive Removal of “H” – Holding Symbol from the Zoning of the property and pre-commitment of funds for 2018-2019 Budgets for Infrastructure Improvements).</p>
<p>City Council Minutes</p>
<p>Meeting of June 5, 2017</p>
<p>Page 3</p>
<p>Kim Zippel, Casino Watershed Task Force, made a delegation to Item 2 of Planning Committee Report Number 5 (Report PLPD17-026 - Application for Site Plan Approval, 4,851 square metre Casino and Seven Storey, 100 Suite Hotel at 1400 Crawford Drive Removal of “H” – Holding Symbol from the Zoning of the property and pre-commitment of funds for 2018-2019 Budgets for Infrastructure Improvements).</p>
<p>Professor Michael Fox, Trent University, Harper Creek Brook Trout Study, made a delegation to Item 2 of Planning Committee Report Number 5 (Report PLPD17-026 - Application for Site Plan Approval, 4,851 square metre Casino and Seven Storey, 100 Suite Hotel at 1400 Crawford Drive Removal of “H” – Holding Symbol from the Zoning of the property and pre-commitment of funds for 2018-2019 Budgets for Infrastructure Improvements).</p>
<p>Sue McGregor-Hunter, 614 Gilmour Street, made a delegation to Item 14 of Committee of the Whole Report No. 8 (Report CSACH17-005 - Listing Properties on Heritage Register).</p>
<p>Nathan Govier, Fixed Gear Promotions, made a delegation to Item 12 of Committee of the Whole Report No. 8 (Report USDIR17004 - Streetscape and Public Realm for Charlotte Street from Aylmer Street to Park Street).</p>
<p>Rob Steinman, 739 Weller Street, made a delegation to Item 12 of Committee of the Whole Report No. 8 (Report USDIR17004 - Streetscape and Public Realm for Charlotte Street from Aylmer Street to Park Street).</p>
<p>Kaia Douglas, 317 Elias Street, made a delegation to Item 12 of Committee of the Whole Report No. 8 (Report USDIR17004 - Streetscape and Public Realm for Charlotte Street from Aylmer Street to Park Street).</p>
<p>Cam Douglas, 317 Elias Street, made a delegation to Item 12 of Committee of the Whole Report No. 8 (Report USDIR17004 - Streetscape and Public Realm for Charlotte Street from Aylmer Street to Park Street).</p>
<p>Brianna Salmon, Executive Director, Peterborough Green-Up, made a delegation to Item 12 of Committee of the Whole Report No. 8 (Report USDIR17004 - Streetscape and Public Realm for Charlotte Street from Aylmer Street to Park Street).</p>
<p>Ivan Bateman, 244 Rogers Street, made a delegation to Item 14 of Committee of the Whole Report No. 8 (Report CSACH17-005 - Listing Properties on Heritage Register).</p>
<p>City Council Minutes</p>
<p>Meeting of June 5, 2017</p>
<p>Page 4</p>
<p>Moved by Councillor Pappas, seconded by Councillor Clarke</p>
<p>That the Rules of Order be suspended to continue all delegations past the hour of 9:00 p.m.</p>
<p>“CARRIED”</p>
<p>Tegan Moss, B!KE: The Peterborough Community Cycling Hub, made a delegation to Item 12 of Committee of the Whole Report No. 8 (Report USDIR17004 - Streetscape and Public Realm for Charlotte Street from Aylmer Street to Park Street).</p>
<p>Councillor Therrien left the meeting at 8:55 p.m. and returned at 8:56 p.m.</p>
<p>Councillor Haacke left the meeting at 8:56 p.m. and returned at 8:58 p.m.</p>
<p>Councillor Parnell left the meeting at 8:58 p.m. and returned at 9:00 p.m.</p>
<p>Delegations Not Registered:</p>
<p>Planning Committee Report</p>
<p>Sheila Nabigon-Howlett , 516 Cambridge Street, made a delegation to Item 2 of Planning Committee Report Number 5 (Report PLPD17-026 - Application for Site Plan Approval, 4,851 square metre Casino and Seven Storey, 100 Suite Hotel at 1400 Crawford Drive Removal of “H” – Holding Symbol from the Zoning of the property and pre-commitment of funds for 2018-2019 Budgets for Infrastructure Improvements).</p>
<p>Committee of the Whole Report</p>
<p>Natasha Holy, 719 Fortye Drive, made a delegation to Item 12 of Committee of the Whole Report No. 8 (Report USDIR17004 - Streetscape and Public Realm for Charlotte Street from Aylmer Street to Park Street).</p>
<p>Dave Madill, Chair, DBIA, made a delegation to Item 12 of Committee of the Whole Report No. 8 (Report USDIR17004 - Streetscape and Public Realm for Charlotte Street from Aylmer Street to Park Street).</p>
<p>Councillor Beamer left the meeting at 9:32 p.m. and returned at 9:34 p.m.</p>
<p>Chloe Black, 73-152 Lansdowne Street East, made a delegation to Item 12 of Committee of the Whole Report No. 8 (Report USDIR17004 – Streetscape and Public Realm for Charlotte Street from Aylmer Street to Park Street).</p>
<p>City Council Minutes</p>
<p>Meeting of June 5, 2017</p>
<p>Page 5</p>
<p>Other Items on the Agenda</p>
<p>There were no delegations.</p>
<p>Planning Committee Report Number 5</p>
<p>Moved by Councillor Parnell, seconded by Councillor Clarke</p>
<p>That Report Number 5 of the Planning Committee meeting of May 23, 2017 be approved.</p>
<p>Moved by Councillor Pappas, seconded by Councillor Beamer</p>
<p>That the Rules of Order (Article 16.15.2) be suspended to continue the meeting past the hour of 10:00 p.m. to complete the agenda.</p>
<p>“CARRIED”</p>
<p>Items 1 and 2 were separated for voting.</p>
<p>Upon Item 1, the motion carried.</p>
<p>Upon Item 2, the motion carried.</p>
<p>Committee of the Whole Report Number 8</p>
<p>Moved by Councillor Beamer, seconded by Councillor Clarke</p>
<p>That Report Number 8 of the Committee of the Whole meeting of May 29, 2017 be approved.</p>
<p>Items 11, 12, 14, 15 and 17 were separated.</p>
<p>Upon the remainder of the items, less items 11, 12, 14, 15 and 17, the motion carried.</p>
<p>Item 15 – Report USDIR17-003 – Streetscape and Public Realm for Bethune Street from Townsend Street to Dublin Street – Update Report</p>
<p>Upon item 15, which included the deferral of c), the motion carried.</p>
<p>City Council Minutes</p>
<p>Meeting of June 5, 2017</p>
<p>Page 6</p>
<p>Item 11 - Report CSD17-014 – Canada 150th Celebrations Committee Update</p>
<p>Due to her previously declared interest, Councillor Parnell did not discuss or vote on the matter.</p>
<p>Upon Item 11, the motion carried.</p>
<p>Item 12 – Report USDIR17-004 – Streetscape and Public Realm for Charlotte Street from Aylmer Street to Park Street</p>
<p>Due to his previously declared interest, Councillor Clarke did not discuss or vote on the matter.  Councillor Clarke left the meeting at 10:01 p.m. and returned at 10:02 p.m.</p>
<p>Moved by Councillor Pappas, seconded by Councillor Therrien</p>
<p>That the matter be deferred until additional downtown parking information and the city- wide bike network report are provided to Council.</p>
<p>“LOST”</p>
<p>Upon the main motion, the motion lost.</p>
<p>Moved by Councillor Parnell, seconded by Councillor Beamer</p>
<p>a)</p>
<p>That the presentation by AECOM regarding the proposed streetscape and public realm improvements to Charlotte Street between Aylmer Street and Park Street be received for information;</p>
<p>That the Enhanced Pedestrian Realm with Enhanced Commercial Features and Parking Streetscape (Concept No. 3) as shown in Report USDIR17-004 be approved for Charlotte Street from Aylmer Street to Park Street;</p>
<p>b)</p>
<p>c)</p>
<p>That the undergrounding of the electrical distribution system along Charlotte Street between Aylmer Street and Park Street be included in the concept identified in Recommendation b);</p>
<p>City Council Minutes</p>
<p>Meeting of June 5, 2017</p>
<p>Page 7</p>
<p>Councillor Therrien requested a recorded vote, and the Clerk conducted a roll call.</p>
<p>In Support of Motion</p>
<p>Opposed to Motion</p>
<p>Councillor Haacke</p>
<p>Councillor Pappas</p>
<p>Councillor Beamer</p>
<p>Councillor Baldwin</p>
<p>Councillor Parnell</p>
<p>Councillor Vassiliadis</p>
<p>Councillor McWilliams</p>
<p>Councillor Therrien</p>
<p>Mayor Bennett</p>
<br>
<p>Upon items a), b) and c), the motion carried</p>
<p>That a King Street Cycling Lane Concept Design Study be included in the 2018 Capital Budget with a work plan to undertake public consultation and prepare a design for implementation as funding permits.</p>
<p>d)</p>
<p>Councillor Therrien requested a recorded vote, and the Clerk conducted a roll call.</p>
<p>In Support of Motion</p>
<p>Opposed to Motion</p>
<p>Councillor McWilliams</p>
<p>Councillor Therrien</p>
<p>Councillor Parnell</p>
<p>Councillor Vassiliadis</p>
<p>Councillor Beamer</p>
<p>Councillor Baldwin</p>
<p>Councillor Haacke</p>
<p>Councillor Pappas</p>
<p>Mayor Bennett</p>
<br>
<p>Upon item d), the motion carried.</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of June 5, 2017</p>
<p>Page 8</p>
<p>Item 14 – Report CSACH17-005 – Listing of Properties on Heritage Register</p>
<p>Moved by Councillor Clarke, seconded by Councillor Pappas</p>
<p>a)</p>
<p>That a presentation on the value and process of heritage preservation in Peterborough be received for information;</p>
<br>
<p>b)</p>
<br>
<p>c)</p>
<p>That the recommendation of the Peterborough Architectural Conservation Advisory Committee (PACAC), that the list of properties included in Appendix A of this report be added to the City’s Register of Heritage Properties as being of cultural heritage value or significance be adopted with the exception of the properties listed in Appendix A that are in the area of Schedule J of the Official Plan, defined by Bethune Street to the west, Sherbrooke Street to the south, the Otonabee river to the east and London Street to the north, which will be considered separately as part of a holistic view of heritage preservation and intensification requirements through the Official Plan update process and after the City has signed an agreement with the owners.</p>
<p>That the City Clerk be authorized to keep available for viewing by the public a current copy of the Register to be updated at regular intervals by the Heritage Preservation Office, as approved by Council.</p>
<p>That the recommendation be amended by deleting b).</p>
<p>“CARRIED”</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of June 5, 2017</p>
<p>Page 9</p>
<p>Moved by Councillor Clarke, seconded by Councillor Parnell</p>
<p>That recommendation b) read as follows:</p>
<p>That the recommendation of the Peterborough Architectural Conservation Advisory Committee (PACAC), that the list of properties included in Appendix A of this report be added to the City’s Register of Heritage Properties as being of cultural heritage value or significance be adopted and,</p>
<p>That with the adoption of the city’s Official Plan, the properties in the area of Schedule J, defined by Bethune Street to the west, Sherbrooke Street to the south, the Otonabee river to the east and London Street to the north, be considered separately as part of a holistic view of heritage preservation and intensification requirements through the Official Plan update process and,</p>
<p>That the property at 325 London Street, be removed from the registry.</p>
<p>“CARRIED”</p>
<p>Item 17 – Report USTR17-012 - Pedestrian Signal on Parkhill Road West at the Rotary Greenway Trail Link/Benson Avenue Crossing</p>
<p>Moved by Councillor Therrien, seconded by Councillor Clarke</p>
<p>That the Question be Put.</p>
<p>“CARRIED”</p>
<p>Upon item 17, the motion carried.</p>
<p>Notice of Motion</p>
<p>There were no Notices of Motion.</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of June 5, 2017</p>
<p>Page 10</p>
<p>By-laws</p>
<p>Moved by Councillor Pappas, seconded by Councillor Vassiliadis</p>
<p>That the following by-laws be read a first, second and third time:</p>
<p>17-047</p>
<p>Being a By-law to establish Tax Ratios for prescribed property classes for the 2017 taxation year</p>
<p>17-048</p>
<p>17-049</p>
<p>17-050</p>
<p>17-051</p>
<p>17-052</p>
<p>17-053</p>
<p>17-054</p>
<p>17-055</p>
<br>
<p>Being a By-law to adopt optional capping tools for the purposes of administering limits for the Commercial and Multi-Residential property classes for the 2017 taxation year</p>
<p>Being a By-law to adopt Optional Tools for the purposes of administering limits for eligible properties within the meaning of Section 331 (New Construction) of the Municipal Act for the Commercial, Industrial and Multi-Residential property classes for the 2017 taxation year</p>
<p>Being a By-law to levy and collect taxes for municipal, education and business improvement area purposes for the year 2017, to impose a penalty charge for non-payment of 2017 taxes and to provide for interest to be added to tax arrears, and to establish a percentage by which tax decreases are limited in 2017 to properties in the Commercial, Industrial and Multi-Residential property classes</p>
<p>Being a By-law to remove the “H” – Holding Symbol from the zoning of the lands known as 737 and 739 Hemlock Street</p>
<p>Being a By-law to remove the “H” – Holding Symbol from the zoning of the lands known as 1400 Crawford Drive</p>
<p>Being a By-law to authorize the execution of an Encroachment Agreement for lands municipally known as 21 Barnardo Avenue, in the City of Peterborough</p>
<p>Being a By-law to authorize the execution of an Encroachment Agreement for lands municipally known as 623 Aylmer Street North, in the City of Peterborough</p>
<p>Being a By-law to authorize the transfer of lands municipally known as 1820 Fisher Drive, in the City of Peterborough, in the County of Peterborough</p>
<p>City Council Minutes</p>
<p>Meeting of June 5, 2017</p>
<p>Page 11</p>
<p>and the said by-laws, having been now read a third time and passed, the Mayor and Clerk be authorized to sign and seal the same.</p>
<p>“CARRIED”</p>
<p>Other Business</p>
<p>There were no items of Other Business.</p>
<p>Confirmatory By-law</p>
<p>Moved by Councillor Parnell, seconded by Councillor Beamer</p>
<p>That the following by-law be read a first, second and third time:</p>
<p>17-056</p>
<p>Being a By-law to confirm the proceedings of Council at its meeting held on June 5, 2017.</p>
<p>and the said by-law, having been now read a third time and passed, the Mayor and Clerk be authorized to sign and seal the same.</p>
<p>“CARRIED”</p>
<p>Adjournment</p>
<p>Moved by Councillor Pappas, seconded by Councillor Clarke</p>
<p>That this meeting of City Council adjourn at 11:11 p.m.</p>
<p>“CARRIED”</p>
<br>
<p>John Kennedy City Clerk</p>
<p>Daryl Bennett Mayor</p>
<p>City Council Minutes</p>
<p>Meeting of June 5, 2017</p>
<p>Page 12</p>
<p>Planning Committee Report No. 5</p>
<p>Meeting of May 23, 2017</p>
<br>
<p>To The Council of the City of Peterborough, for consideration at its meeting held June 5, 2017</p>
<p>The Planning Committee, as a result of its meeting held on May 23, 2017 recommends as follows:</p>
<p>1.</p>
<p>Director, Planning and Development Services Report PLPD17-025 Removal of “H” – Holding Symbol from the Zoning of the property at 737 and 739 Hemlock Street</p>
<p>That Council approve the recommendation outlined in Report PLPD17-025 dated May 23, 2017, of the Director, Planning and Development Services, as follows:</p>
<p>That the property at 737 and 739 Hemlock Street be rezoned from the R.1,1r,2r,8z-310’H’ Residential District to R.1,1r,2r,8z-310 – Residential District in accordance with Exhibit ‘C’ attached to Report PLPD17-025.</p>
<p>Director, Planning and Development Services Report PLPD17-026 Application for Site Plan Approval, 4,851 square metre Casino and Seven Storey, 100 Suite Hotel at 1400 Crawford Drive Removal of “H” – Holding Symbol from the Zoning of the property and pre-commitment of funds for 2018-2019 Budgets for Infrastructure Improvements</p>
<p>That Council approve the recommendations outlined in Report PLPD17-026 dated May 23 2017, of the Director, Planning and Development Services, as follows:</p>
<br>
<br>
<br>
<br>
<p>2.</p>
<p>City Council Minutes</p>
<p>Meeting of June 5, 2017</p>
<p>Page 13</p>
<br>
<p>a)</p>
<p>That the Site Plan Application submitted by Ontario Gaming East Partnership and Roshan Holdings Inc. for the construction of a 4,851 square metre (52,216 square foot) casino and a seven storey, 100 suite hotel at 1400 Crawford Drive be approved subject to the following conditions:</p>
<p>i)</p>
<p>ii)</p>
<p>iii)</p>
<p>iv)</p>
<p>The deposit of site work performance security in the amount of $1,000,000.00;</p>
<p>The submission of revised drawings and additional technical information to the satisfaction of the Director of Planning and Development Services and the Director  of the Utility Services Departments;</p>
<p>The submission of further clarification and technical information regarding storm water management and biological particulars to the satisfaction of the Otonabee Region Conservation Authority;</p>
<p>The submission and implementation of a Thermal Effectiveness Monitoring Plan, for the casino and hotel site plan to be entirely funded by the applicant/owner, to the satisfaction of Otonabee Region Conservation Authority, during site construction and for a period of five years post construction, to verify the predicted function of the thermal mitigation measures and storm water impacts from the property at 1400 Crawford Drive on the abutting tributary of Byesville Creek;</p>
<p>v)</p>
<p>The completion of a scoped methane study due to the site’s proximity to a closed landfill;</p>
<p>vi)</p>
<p>The completion of a Stage 2 Archaeological Assessment;</p>
<p>vii)</p>
<p>The submission of additional technical information to the satisfaction of the Ministry of Transportation of Ontario; and</p>
<p>viii)  The deposit of a Parkland Levy in accordance with The</p>
<p>Planning Act, as amended.</p>
<p>b)</p>
<p>That the property at 1400 Crawford Drive be rezoned from SP.363- “H” – Special Commercial District, to SP.363 Special Commercial District, in accordance with Exhibit ‘D’ attached to Report PLPD17- 026.</p>
<p>City Council Minutes</p>
<p>Meeting of June 5, 2017</p>
<p>Page 14</p>
<br>
<p>c)</p>
<p>That financing of infrastructure improvements for Harper Road and Crawford Drive extensions and realignments be approved with the following conditions:</p>
<p>i)</p>
<p>ii)</p>
<p>iii)</p>
<p>iv)</p>
<p>That a City Capital Budget pre-commitment in the amount of $4,000,000 in 2018 and $4,000,000 in 2019 be approved to reimburse the developer for the construction of the roadways;</p>
<p>That the Site Plan Agreement include provisions and terms with the developer to finance the infrastructure improvements relating to the Harper Drive and Crawford Drive realignment to permit construction to commence in 2017 prior to approval of the City’s 2018 budget;</p>
<p>That the developer constructs the Harper Road and Crawford Drive extensions and realignments as outlined in the Class EA Study; and</p>
<p>That the roads in the vicinity of the casino and hotel property be named in accordance with Exhibit “B” attached to Report PLPD17-026.</p>
<br>
<p>Submitted by,</p>
<p>Councillor Parnell Chair May 23, 2017</p>
<p>City Council Minutes</p>
<p>Meeting of June 5, 2017</p>
<p>Page 15</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>2.</p>
<p>Committee of the Whole Report No. 8</p>
<p>Meeting of May 29, 2017</p>
<br>
<p>To the Council of The City of Peterborough for consideration at its Meeting held June 5, 2017</p>
<p>The Committee of the Whole as a result of its meeting held on May 29, 2017, recommends as follows:</p>
<p>1.</p>
<p>Report of Closed Session City Solicitor and Director of Legal Services Report OCSRE17-006 Sale of 1820 Fisher Drive to 2260975 Ontario Ltd.</p>
<p>That Council approve the recommendations outlined in Report OCSRE17- 006 dated May 29, 2017, of the City Solicitor and Director of Legal Services, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>That a by-law be passed to authorize the sale of 8.25 acres of un- serviced industrial lands (being Part 2 on the Draft Reference Plan) located at 1820 Fisher Drive to 2260975 Ontario Ltd. for $123,750 ($15,000 per acre); and</p>
<p>That a by-law be passed to authorize the sale of approximately 9.0 acres of serviced lands (being Part 1 on the Draft Reference Plan) located at 1820 Fisher Drive to 2260975 Ontario Ltd. for $360,000 ($40,000 per acre).</p>
<p>Director of Community Services Report CSRS17-002 Healthy Kids Community Challenge - Water Does Wonders</p>
<p>That Council approve the recommendation outlined in Report CSRS17-002 dated May 29, 2017, of the Director of Director of Community Services, as follows:</p>
<p>That Staff be directed to continue promoting water as the healthiest beverage choice in municipal facilities where children frequent, and to make future capital investments in support of this when and where appropriate.</p>
<p>City Council Minutes</p>
<p>Meeting of June 5, 2017</p>
<p>Page 16</p>
<p>3.</p>
<p>Director of Community Services Report CSRS17-003 2020 Ontario Summer Games Bid</p>
<p>That Council approve the recommendations outlined in Report CSRS17-003 dated May 29, 2017, of the Director of Community Services, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<br>
<p>That Staff be directed to prepare and submit a bid to host the 2020 Ontario Summer Games;</p>
<p>That pending the approval of the bid submission, the City commits a maximum of $135,000 toward the required municipal contribution to host the 2020 Ontario Summer Games; and</p>
<p>That if Peterborough is the successful bidder, the following be established:</p>
<p>i) ii) iii)</p>
<p>A 2020 Ontario Summer Games Budget; A Games Organizing Committee; A temporary Games Coordinator position, to lead the Games Organizing Committee from 2018 until the Games and final reporting to the Province are completed in 2020.</p>
<p>Director of Corporate Services Report CPFS17-020 Councillors’ Expense and Professional Development Accounts</p>
<p>That Council approve the recommendation outlined in Report CPFS17-020 dated May 29, 2017, of the Director of Corporate Services, as follows:</p>
<p>That Report CPFS17-020 regarding Councillors’ Expense and Professional Development accounts be received for information.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>4.</p>
<p>City Council Minutes</p>
<p>Meeting of June 5, 2017</p>
<p>Page 17</p>
<p>Director of Corporate Services Report CPFS17-021 Development Charge Reserve Funds 2016 Annual Report – City and Peterborough Utilities Commission</p>
<p>That Council approve the recommendations outlined in report CPFS17-021 dated May 29, 2017 of the Director of Corporate Services as follows:</p>
<p>a)</p>
<p>b)</p>
<p>That the Development Charge Reserve Funds – 2016 Annual Report for the City of Peterborough, as presented in Report CPFS17-021, be received.</p>
<p>That the Peterborough Utilities Commission Report entitled Water Development Charges for the year ended December 31, 2016, appended to Report CPFS17-021 as Appendix B, be received.</p>
<p>Director of Corporate Services Report CPFS17-026 Appointment of Auditor for Audit Services for the City of Peterborough and Related Local Boards and Agencies</p>
<p>That Council approve the recommendation outlined in Report CPFS17-026 dated May 29, 2017 of the Director of Corporate Services as follows:</p>
<p>That Collins Barrow Kawarthas LLP, 272 Charlotte Street, Peterborough, Ontario, K9J 2V4, be appointed the Auditor for the City of Peterborough and related local boards and agencies for the fiscal years ending December 31, 2017 to 2019 inclusive, at a cost of $247,525 plus HST of $32,178 for a total of $279,703 for Year 1, with an additional two year extension for the fiscal years ending December 31, 2020 and 2021 subject to satisfactory performance, changing requirements and successful negotiation.</p>
<p>5.</p>
<br>
<p>6.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>7.</p>
<br>
<br>
<br>
<p>8.</p>
<br>
<br>
<br>
<p>9.</p>
<p>City Council Minutes</p>
<p>Meeting of June 5, 2017</p>
<p>Page 18</p>
<p>Director of Corporate Services Report CPFS17-022 Notice of Public Meeting – June 19, 2017 Area Specific Development Charges Background Study</p>
<br>
<p>That Council approve the recommendations outlined in Report CPFS17-022 dated May 29, 2017, of the Director of Corporate Services, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>That Report CPFS17-022 advising Council that a public meeting will be held on June 19, 2017 at 5:45 pm in the Council Chambers to present an Area Specific Development Charges Background Study and to hear public delegations, be received.</p>
<p>That a further report be presented to the July 24, 2017 Committee of the Whole meeting that will recommend rate changes to the Area Specific Development charges rate.</p>
<p>Director of Utility Services Report USDIR17-005 Consolidation of the Environmental Protection and Waste Management Divisions Under One Manager and Approval of an Additional FTE</p>
<p>That Council approve the recommendation outlined in Report USDIR17-005 dated May 29, 2017, of the Director of Utility Services, as follows:</p>
<p>That one additional FTE (Operational Coordinator) be included in the new Environmental Protection Division funding for which is to be provided as shown in Table 1 to Report USDIR17-005.</p>
<p>Director of Utility Services Report USEC17-014 Federation of Canadian Municipalities – Climate and Asset Management Network Application</p>
<p>That Council approve the recommendation outlined in Report USEC17-014 dated May 29, 2017, of the Director of Utility Services, as follows;</p>
<p>That Council endorse the City’s participation in the FCM Climate and Asset Management program to integrate Climate Change within the City’s Asset Management Plan and decision making.</p>
<p>City Council Minutes</p>
<p>Meeting of June 5, 2017</p>
<p>Page 19</p>
<p>10.  Director of Utility Services</p>
<p>Report USEC17-015 Award of T-30-17 Donegal Street Bridge Rehabilitation and Reconstruction of Donegal Street, McDonnel Street and Gilchrist Street</p>
<p>That Council approve the recommendations outlined in Report USEC17-015 dated May 29, 2017, of the Director of Utility Services, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>That the $1,250,000 budget amount previously proposed for the 2018 Capital budget for the McDonnel Gilchrist Rehabilitation be increased by $500,000.00 to $1,750,000 and be pre-committed;</p>
<p>That Tender T-30-17 for the Donegal Street Bridge Rehabilitation and Reconstruction of Donegal Street, McDonnel Street and Gilchrist Street reconstruction be awarded to Coco Paving Inc., 2317 Television Road, Peterborough, ON, K9J 7H5 at a cost of $4,645,730.59 plus $603,944.98 HST for a total of $5,249,675.57; and</p>
<p>That Contract Administration and Inspection Services be awarded to G.D. Jewell Engineering Inc., 71 Millennium Parkway, Unit 1, Belleville, Ontario K8N 4Z5 at a cost of $294,000 plus HST of $38,220 for a total cost of $332,220.</p>
<br>
<p>11.  Director of Community Services</p>
<p>Report CSD17-014 Canada 150th Celebrations Committee Update</p>
<p>That Council approve the recommendation outlined in Report CSD17-014 dated May 29, 2017, of the Director of Community Services, as follows:</p>
<p>That a presentation and an update on the Canada 150th Anniversary Celebrations Committee by the Committee Chair, Mike Melnik and Committee Member, Galen Eagle be received for information.</p>
<br>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of June 5, 2017</p>
<p>Page 20</p>
<p>12.  Director of Utility Services</p>
<p>Report USDIR17-004 Streetscape and Public Realm for Charlotte Street from Aylmer Street to Park Street</p>
<p>At the Council meeting of June 5, 2017, Council adopted the following motion:</p>
<p>That the presentation by AECOM regarding the proposed streetscape and public realm improvements to Charlotte Street between Aylmer Street and Park Street be received for information;</p>
<p>That the Enhanced Pedestrian Realm with Enhanced Commercial Features and Parking Streetscape (Concept No. 3) as shown in Report USDIR17-004 be approved for Charlotte Street from Aylmer Street to Park Street;</p>
<p>That the undergrounding of the electrical distribution system along Charlotte Street between Aylmer Street and Park Street be included in the concept identified in Recommendation b);</p>
<p>That a King Street Cycling Lane Concept Design Study be included in the 2018 Capital Budget with a work plan to undertake public consultation and prepare a design for implementation as funding permits.</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>d)</p>
<br>
<p>13.  Director of Corporate Services</p>
<p>Report CPFS17-024 Update of the Community Branding Project</p>
<p>That Council approve the recommendation outlined in report CPFS17-024 dated May 29, 2017, of the Director of Corporate Services as follows:</p>
<p>That the presentation on the status of the Community Branding Project by Paul Hickey, President of BrandHealth Inc. be received for information.</p>
<br>
<br>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of June 5, 2017</p>
<p>Page 21</p>
<p>14.  Director of Community Services</p>
<p>Report CSACH17-005 Listing of Properties on Heritage Register</p>
<p>That Council approve the recommendations outlined in Report CSACH17- 005 dated May 29, 2017 of the Director of Community Services, as follows:</p>
<p>a)</p>
<p>That a presentation on the value and process of heritage preservation in Peterborough be received for information;</p>
<p>At the Council Meeting of June 5, 2017 Council replaced b) as follows:</p>
<p>That the recommendation of the Peterborough Architectural Conservation Advisory Committee (PACAC), that the list of properties included in Appendix A of this report be added to the City’s Register of Heritage Properties as being of cultural heritage value or significance be adopted and,</p>
<p>That with the adoption of the city’s Official Plan, the properties in the area of Schedule J, defined by Bethune Street to the west, Sherbrooke Street to the south, the Otonabee river to the east and London Street to the north, be considered separately as part of a holistic view of heritage preservation and intensification requirements through the Official Plan update process and,</p>
<p>That the property at 325 London Street, be removed from the registry; and,</p>
<p>That the City Clerk be authorized to keep available for viewing by the public a current copy of the Register to be updated at regular intervals by the Heritage Preservation Office, as approved by Council.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>b)</p>
<br>
<br>
<p>c)</p>
<p>City Council Minutes</p>
<p>Meeting of June 5, 2017</p>
<p>Page 22</p>
<p>15.  Director of Utility Services</p>
<p>Report USDIR17-003 Streetscape and Public Realm for Bethune Street from Townsend Street to Dublin Street – Update Report</p>
<p>That Council approve the recommendations outlined in Report USDIR17- 003 dated May 29, 2017 of the Director of Utility Services as follows:</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>d)</p>
<p>That the alternate/refined design to Bethune Street between Murray Street and Hunter Street, inclusive of the Bethune Street/Brock Street intersection, as shown in Figures 3 and 4 of Report USDIR17-003 be adopted;</p>
<p>That the original design to Bethune Street between Simcoe Street and King Street, inclusive of the Bethune Street/Charlotte Street intersection as recommended in Report USDIR16-012 and reported to Council on November 14, 2016 be adopted;</p>
<p>That the matter of undergrounding of the electrical distribution system on Bethune Street be deferred for two cycles of Council to provide greater details on the cost of the work; and,</p>
<p>That a strategy be developed, in cooperation with the local electrical distribution utility to re-locate existing overhead hydro poles on Bethune Street as necessary to facilitate reduced building setbacks as per the recommendations of the land-use and urban design study and to address conflicts with planned infrastructure.</p>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of June 5, 2017</p>
<p>Page 23</p>
<p>16.  Director of Corporate Services</p>
<p>Report CPFS17-023 Vacancy Rebate Program Recommendations</p>
<p>That Council approve the recommendations outlined in report CPFS17-023 dated May 29, 2017, of the Director of Corporate Services as follows:</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>That the Vacancy Rebate Program be eliminated for the 2017 taxation year commencing with the 2018 budget.</p>
<p>That the $300,000 budget for the Vacancy Rebate program be redeployed to the Tax Ratio Reduction Program by accelerating the reduction of ratios for the Commercial tax class.</p>
<p>That staff provide a report on a possible program to assist in the redevelopment of existing buildings.</p>
<p>17.  Director of Utility Services</p>
<p>Report USTR17-012 Pedestrian Signal on Parkhill Road West at the Rotary Greenway Trail Link / Benson Avenue Crossing</p>
<p>That Council approve the recommendation outlined in Report USTR17-012 dated May 29, 2017, of the Director of Utility Services, as follows:</p>
<p>That a Pedestrian Signal be implemented on Parkhill Road West at the Rotary Greenway Trail Link / Benson Avenue.</p>
<br>
<p>18.  Harper Park Watershed Management Plan</p>
<p>That Council direct staff to bring forward a report outlining the scope and 2018 budget implications of a Harper Park Watershed Management Plan that would include a Harper Park Wetland Complex and,</p>
<p>That in conjunction with the study, staff also consider the potential uses of the employment lands in the vicinity of Harper Park.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of June 5, 2017</p>
<p>Page 24</p>
<p>19.  Free Transit Rides on Canada Day</p>
<br>
<br>
<br>
<p>Whereas the City has approved the 2017 transit operating budget that includes the costs to deliver Statutory Holiday transit service on Canada Day; and</p>
<p>Whereas the ridership on Canada Day in 2016 was estimated at 2,200 riders and demand is expected to be heavier in 2017 in anticipation of Canada 150 Celebrations;</p>
<p>That City Council approve the provision of free transit rides for July 1, 2017 at a cost of $2000.00 in lost revenue to transit; and</p>
<p>That City staff continue to explore opportunities to secure sponsorship opportunities to cover the cost of the deferred revenue on Canada Day 2017.</p>
<br>
<p>Submitted by,</p>
<p>Councillor Beamer Chair May 29, 2017</p>
<br>
<br></div>