<!doctype html><div><br>
<br>
<br>
<p>City Council Minutes</p>
<p>City of Peterborough</p>
<p>July 31, 2017</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of City Council held on July 31, 2017, in the</p>
<p>Council Chambers.</p>
<br>
<p>The City Council meeting was called to order at 6:30 p.m. in the Council Chambers, City Hall.</p>
<p>Roll Call: Councillor Baldwin Councillor Beamer Councillor Clarke Councillor Haacke Councillor McWilliams Councillor Pappas Councillor Parnell Councillor Riel Councillor Therrien Councillor Vassiliadis Mayor Bennett</p>
<p>Confirmation of Minutes – June 26, 2017</p>
<p>Moved by Councillor Clarke, seconded by Councillor Pappas</p>
<p>That the minutes of the meetings of Council held on June 26, 2017 be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interests</p>
<p>Councillor McWilliams declared an interest in Item 1 of Committee of the Whole Report No. 11 (Report OCSRE17-011 - Sale of Industrial land at 280 and 290 Jameson Drive to 1439121 Ontario Ltd.), as his business is a landlord for the company identified in the report.</p>
<p>City Council Minutes</p>
<p>Meeting of July 31, 2017</p>
<p>Page 2</p>
<p>Councillor Haacke declared an interest in Item 2 of Committee of the Whole Report No. 11 (Report OCSRE17-012 - Sale of surplus land at 210 and 220 Lansdowne Street East to Ron Lay Motors Inc.) as the business identified in the report is a client of his employer.</p>
<p>Councillor Pappas declared an interest in Item 12 (Report CPFS17-044 - Peterborough Housing Corporation – Financing for McRae Reconstruction) and Item 13(Report PLPD17-035 - Sale of a Portion of Bonnerworth Park Parking Lot to Peterborough Housing Corporation) of Committee of the Whole Report No. 11, as a relative is a resident of Woolen Mills.</p>
<p>Delegations</p>
<p>Registered Delegations:</p>
<p>Debbie Jenkins, Trent University, made a delegation to Item 3 of Planning Committee Report No. 7 (Report PLPD17-032 – Master Plan – Trent Research and Innovation Park).</p>
<p>Adam Noble and Andressa Lacerda, Noblegen, made a delegation to Item 4 of Planning Committee Report No. 7 (Report PLPD17-033 - Draft Plan of Subdivision Application 15T-17502 – Trent Research and Innovation Park Part of 3900 Nassau Mills Road).</p>
<p>Leo Groarke, Julie Davis, Dawn Lavell-Harvard and Neil Emery, Trent University, made a delegation to Item 4 of Planning Committee Report No. 7 (Report PLPD17-033 - Draft Plan of Subdivision Application 15T-17502 – Trent Research and Innovation Park Part of 3900 Nassau Mills Road).</p>
<p>Delegations Not Registered:</p>
<p>Budget Committee Reports</p>
<p>Marie Bongard, 461 Albert Street, made a delegation to Budget Committee Reports 2 and 3, Item 11 of  Committee of the Whole Report No. 11 (Report PLHD17-003 Peterborough Housing Corporation Acquisition of 217 Murray Street (Brock Street Mission), and to by-law 17-086.</p>
<p>Rodney Marois, 421 Sheridan Street, made a delegation to Budget Committee Reports 2 and 3.</p>
<p>Audrey Daley, Peterborough, made a delegation to Budget Committee Reports 2 and 3 and Committee of the Whole Report No. 11 (Report PLHD17-003 Peterborough Housing Corporation Acquisition of 217 Murray Street (Brock Street Mission).</p>
<p>City Council Minutes</p>
<p>Meeting of July 31, 2017</p>
<p>Page 3</p>
<p>Planning Committee Report</p>
<p>Mike Skinner, President and CEO of the Innovation Cluster, made a delegation to Item 3 of Planning Committee Report No. 7 (Report PLPD17-032 – Master Plan – Trent Research and Innovation Park).</p>
<p>Maggie Boothroyd, 887 Glencedar Drive, made a delegation to Item 4 of Planning Committee Report No. 7 (Report PLPD17-033 - Draft Plan of Subdivision Application 15T-17502 – Trent Research and Innovation Park Part of 3900 Nassau Mills Road).</p>
<p>Beverly McClenaghan, 318 Walsh Street, made a delegation to Item 4 of Planning Committee Report No. 7 (Report PLPD17-033 - Draft Plan of Subdivision Application 15T-17502 – Trent Research and Innovation Park Part of 3900 Nassau Mills Road).</p>
<p>Alice Pintaric, 660 Armor Road, made a delegation to Item 4 of Planning Committee Report No. 7 (Report PLPD17-033 - Draft Plan of Subdivision Application 15T-17502 – Trent Research and Innovation Park Part of 3900 Nassau Mills Road).</p>
<p>Committee of the Whole Report</p>
<p>Brock Grills, 20 Pintrist Road, made a delegation to Item 17 of Committee of the Whole Report No. 11, (Report PLBD17-001 – Property Standards – Eavestrough Drainage).</p>
<p>Dan Hennessy, 641 Aylmer Street, made a delegation to Item 11 of Committee of the Whole Report No. 11 (Report PLHD17-003 Peterborough Housing Corporation Acquisition of 217 Murray Street (Brock Street Mission).</p>
<p>Other Items on the Agenda</p>
<p>There were no delegations.</p>
<p>Budget Committee Report Number 2</p>
<p>Moved by Councillor Clarke, seconded by Councillor Parnell</p>
<p>That Report Number 2 of the Budget Committee meeting of June 28, 2017 be approved.</p>
<p>“CARRIED”</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of July 31, 2017</p>
<p>Page 4</p>
<p>Planning Committee Report Number 7</p>
<p>Moved by Councillor Parnell, seconded by Councillor Clarke</p>
<p>That Report Number 7 of the Planning Committee meeting of July 17, 2017 be approved.</p>
<p>“CARRIED”</p>
<p>Budget Committee Report Number 3</p>
<p>Moved by Councillor Clarke, seconded by Councillor Parnell</p>
<p>That Report Number 3 of the Budget Committee meeting of July 24, 2017 be approved.</p>
<p>“CARRIED”</p>
<p>Committee of the Whole Report Number 11</p>
<p>Moved by Councillor Beamer, seconded by Councillor Parnell</p>
<p>That Report Number 11 of the Committee of the Whole meeting of July 24, 2017 be approved.</p>
<p>Items 1-18 were separated for consideration.</p>
<p>Item 9 – Report PLHD17-004 – Peterborough Housing Corporation Shareholder Report (2016)</p>
<p>Upon Item 9, the motion carried.</p>
<p>Item 1 – Report OCSRE17-011 – Sale of Industrial land at 280 and 290 Jameson Drive to 1439121 Ontario Ltd.</p>
<p>Due to his previously declared inertest, Councillor McWilliams did not discuss or vote on this Item.</p>
<p>Upon Item 1, the motion carried.</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of July 31, 2017</p>
<p>Page 5</p>
<p>Item 2 – Report OCSRE17-012 – Sale of surplus land at 210 and 220 Lansdowne Street East to Ron Lay Motors Inc.</p>
<p>Due to his previously declared interest, Councillor Haacke did not discuss or vote on the matter.</p>
<p>Upon Item 2, the motion carried.</p>
<p>Upon Items 3, 4, 5, 6, 7, and 8 the motions carried.</p>
<p>Item 10 – Report CPFS17-045 – Community Branding Project Update #2</p>
<p>Upon Item 10, the motion carried.</p>
<p>Item 11 – Report PLHD17-003 – Peterborough Housing Corporation Acquisition of Property at 217 Murray Street (Brock Street Mission)</p>
<p>As part of the main motion, d) was amended as follows:</p>
<p>That Peterborough Housing Corporation assumes the $8 million construction project for the Brock Street Mission property at 217 Murray Street, which will be partially financed by $1.0 million in fundraising by Brock Street Mission and results in a $3.8 million draw down on the City’s non-tax supported debt capacity; and</p>
<p>Upon Item 11, the motion carried.</p>
<p>Item 12 – Report CPFS17-044 – Peterborough Housing Corporation – Financing for McRae Reconstruction</p>
<p>Due to his previously declared inertest, Councillor Pappas did not discuss or vote on this Item.</p>
<p>Upon Item 12, the motion carried.</p>
<p>Item 13 – Report PLPD17-035 – Sale of a Portion of Bonnerworth Park Parking Lot to Peterborough Housing Corporation</p>
<p>Due to his previously declared interest, Councillor Pappas did not discuss or vote on the Item.</p>
<p>City Council Minutes</p>
<p>Meeting of July 31, 2017</p>
<p>Page 6</p>
<br>
<p>Upon Item 13, the motion carried.</p>
<p>Item 14 – Report PLPD17-001 – Peterborough Housing Corporation Acquisition of Sunshine Homes Non-Profit Inc.</p>
<p>Upon Item 14, the motion carried.</p>
<p>Upon Items 15 and 16, the motions carried</p>
<p>Upon Item 17, the motion carried</p>
<p>Item 18 – Report CPPS17-027 (Transfer of Funds, Recalculation of Development Charges and Award of RFT T-19-17 for the Peterborough Operations Centre)</p>
<p>Councillor Riel requested a recorded vote and the Deputy Clerk conducted a roll call.</p>
<br>
<p>In Support of Motion Councillor Parnell Councillor Baldwin Councillor Beamer Councillor Pappas Councillor Haacke Councillor Clarke Councillor McWilliams Councillor Vassiliadis Mayor Bennett</p>
<p>Opposed to Motion Councillor Riel Councillor Therrien</p>
<br>
<br>
<br>
<br>
<p>Upon Item 18, the motion carried.</p>
<p>Upon the remainder of Items, less Items 1-18, the motion carried.</p>
<p>Notice of Motion</p>
<p>There were no Notices of Motion.</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of July 31, 2017</p>
<p>Page 7</p>
<p>By-laws</p>
<p>Moved by Councillor Parnell, seconded by Councillor Clarke</p>
<p>That the following by-laws be read a first, second and third time:</p>
<p>By-laws 17-070, 17-084, 17-085 and 17-090 were separated for vote.</p>
<p>Due to his previously declared interest, Councillor Pappas did not vote upon By-laws 17-070 and 17-090.</p>
<p>17-070</p>
<p>Being a By-law to authorize the Peterborough Housing Corporation’s development of the McRae Project at an estimated cost of $39,583,000 and the issuing of non-tax supported debentures to a maximum of $24,433,000 to finance the work</p>
<p>17-090</p>
<p>Being a By-law to authorize the transfer of lands municipally known as part of Bonnerworth Parking Lot (approximately 0.78 acres), in the City of Peterborough, in the County of Peterborough to Peterborough Housing Corporation</p>
<p>Upon By-laws 17-070 and 17-090, the motion carried.</p>
<p>Due to his previously declared interest, Councillor McWilliams did not vote upon By-law 17-084.</p>
<p>17-084</p>
<p>Being a By-law to authorize the transfer of lands municipally known as 280 and 290 Jameson Drive, in the City of Peterborough, in the County of Peterborough</p>
<p>Upon By-law 17-084, the motion carried.</p>
<p>Due to his previously declared interest, Councillor Haacke did not vote upon By-law 17-085.</p>
<p>17-085</p>
<p>Being a By-law to authorize the transfer of lands municipally known as 210 and 220 Lansdowne Street East, in the City of Peterborough, in the County of Peterborough</p>
<p>Upon By-law 17-085, the motion carried.</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of July 31, 2017</p>
<p>Page 8</p>
<p>Being a By-law to authorize the execution of the transfer price agreement between Her Majesty the Queen in Right of Ontario as represented by the Minister of Infrastructure for the Province of Ontario for the transfer of the Clean Water Wastewater Fund allocation to the Municipality for funding of waste water projects</p>
<p>Being a by-law to authorize certain capital works of The Corporation of the City of Peterborough (the “Municipality”); to authorize the submission of an application to Ontario Infrastructure and Lands Corporation (“OILC”) for financing such works and certain other ongoing works; to authorize temporary borrowing from OILC to meet expenditures made in connection with such works; and to authorize long term borrowing for such works through the issue of debentures to OILC</p>
<p>Being a By-law to establish development charges for the City of Peterborough Carnegie East Growth Area and to repeal By-law number 12-115</p>
<p>Being a By-law to establish development charges for the City of Peterborough Carnegie West Growth Area and to repeal By-law number 12-114</p>
<p>Being a By-law to establish development charges for the City of Peterborough Chemong East Growth Area and to repeal By-law number 12-113</p>
<p>Being a By-law to establish development charges for the City of Peterborough Chemong West Growth Area and to repeal By-law number 12-112</p>
<p>Being a By-law to establish development charges for the City of Peterborough Coldsprings Growth Area and to repeal By-law number 12-116</p>
<p>Being a By-law to establish development charges for the City of Peterborough Jackson Growth Area and to repeal By-law number 12-117</p>
<p>Being a By-law to establish development charges for the City of Peterborough Liftlock Growth Area and to repeal By-law number 12- 118</p>
<p>17-069</p>
<p>17-071</p>
<p>17-072</p>
<p>17-073</p>
<p>17-074</p>
<p>17-075</p>
<p>17-076</p>
<p>17-077</p>
<p>17-078</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of July 31, 2017</p>
<p>Page 9</p>
<p>Being a By-law to establish development charges for the City of Peterborough Lily Lake Growth Area and to repeal By-law number 12-119</p>
<p>Being a By-law to establish an Age-friendly Peterborough Advisory Committee</p>
<p>Being a By-law to amend By-law number 91-56 being a By-law to Designate Through Highways and Erect Yield Right-of-Way Signs</p>
<p>Being a By-law to authorize the acquisition of the land municipally known as 217 Murray Street, in the City of Peterborough, in the County of Peterborough</p>
<p>Being a By-law to authorize the transfer of lands municipally known as 217 Murray Street, in the City of Peterborough, in the County of Peterborough to Peterborough Housing Corporation</p>
<p>Being a By-law to Amend By-law 11-081, being a By-law to exempt certain classes of development from Site Plan Control and to delegate Site Plan Approval authority</p>
<p>Being a By-law to provide consent to Peterborough Housing Corporation for the acquisition of 572 Crystal Drive, in the City of Peterborough, in the County of Peterborough from Sunshine Homes Non-Profit Inc.</p>
<p>Being a By-law to amend the Zoning By-law for the property known as 1657 College Park Drive</p>
<p>Being a By-law to authorize the execution of an Encroachment Agreement for lands municipally known as 495 King Street, in the City of Peterborough</p>
<p>17-079</p>
<p>17-080</p>
<p>17-081</p>
<p>17-082</p>
<p>17-083</p>
<p>17-086</p>
<p>17-087</p>
<p>17-088</p>
<p>17-089</p>
<p>17-091</p>
<p>Being a By-law to appoint and remove Parking Enforcement Officers at 294 Aylmer Street, 500 Lansdowne Street West, 220 Murray Street, 183 Hunter Street West and 282 Aylmer Street</p>
<p>and the said by-laws, having been now read a third time and passed, the Mayor and Clerk be authorized to sign and seal the same.</p>
<p>“CARRIED”</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of July 31, 2017</p>
<p>Page 10</p>
<p>Other Business</p>
<p>Moved by Councillor Vassiliadis, seconded by Councillor Pappas</p>
<p>The City of Peterborough declares that it will participate in the Ontario Municipal Commuter Cycling Program (OMCC) for 2017 and requests funding to support the commuter cycling projects listed in this document.</p>
<p>The City of Peterborough declares that all the commuter cycling projects listed in this document and that use OMCC funding meet OMCC program requirements.</p>
<p>The City of Peterborough declares that it has a council approved Cycling Network (copy attached) approved in the 2012 Comprehensive Transportation Master Plan and that all projects submitted in this application for consideration for OMCC funding are supported by this plan.  Since the Cycling Network was approved, it has been amended to include cycling facilities along Lily Lake Road, connecting a large new neighbourhood to a primary commercial area (Report PLPD14-022 Lily Lake Secondary Plan).  In addition, the City was unexpectedly able to acquire a new rail spur line that provides a much better solution to linking the south-east end of the City to destinations to the north than was possible previously. Although not officially added to the Cycling Network, Council endorsed the purchase of this spur line so that a multi-use trail can be provided along it (Report PLPD14-052 Purchase of the CP Railway’s “Industrial Lead” from Rink Street to SE City Limit).</p>
<p>“CARRIED”</p>
<p>Confirmatory By-law</p>
<p>Moved by Councillor Pappas, seconded by Councillor Clarke</p>
<p>That the following by-law be read a first, second and third time:</p>
<p>17-092</p>
<p>Being a By-law to confirm the proceedings of Council at its meeting held on July 31, 2017.</p>
<p>and the said by-law, having been now read a third time and passed, the Mayor and Clerk be authorized to sign and seal the same.</p>
<p>“CARRIED”</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of July 31, 2017</p>
<p>Page 11</p>
<p>Adjournment</p>
<p>Moved by Councillor Pappas, seconded by Councillor</p>
<p>That this meeting of City Council adjourn at 9:20 p.m.</p>
<p>“CARRIED”</p>
<br>
<p>John Kennedy City Clerk</p>
<p>Daryl Bennett Mayor</p>
<p>City Council Minutes</p>
<p>Meeting of July 31, 2017</p>
<p>Page 12</p>
<p>Budget Committee Report No. 2</p>
<p>Meeting of June 28, 2017</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>2.</p>
<p>To the Council of The City of Peterborough for Consideration at its meeting held July 31, 2017.</p>
<p>The Budget Committee as a result of its meeting held on June 28, 2017 recommends as follows:</p>
<p>1.</p>
<p>Director of Corporate Services Report CPFS17-033 Notice of Public Meeting – June 28, 2017 2018 Budget Guideline Report</p>
<p>That Council approve the recommendations outlined in Report CPFS17-033 dated June 19, 2017, of the Director of Corporate Services, as follows:</p>
<p>That Report CPFS17-033, advising Council that a public meeting will be held on June 28, 2017 at 6:00 pm, to present a preliminary 2018 Budget Guideline Report, as set out in Appendix A to Report CPFS17-033, and to hear public delegations, be received.</p>
<p>That a final version of the 2018 Guideline Report, as set out in Appendix A, be presented to the July 24, 2017 Budget Committee meeting.</p>
<p>Director of Corporate Services Report CPFS17-040 The Canadian Canoe Museum Funding Request Presentation to June 28, 2017 Budget Committee</p>
<p>That Council approve the recommendation outlined in Report CPFS17-040 dated June 28, 2017 of the Director of Corporate Services, as follows:</p>
<p>That the Canadian Canoe Museum presentation to the June 28, 2017 Budget Committee meeting, seeking $4.0 million in financial support over a number of years from the City to support a new $50.0 million facility be referred to staff to prepare a follow-up report.</p>
<p>a)</p>
<p>b)</p>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of July 31, 2017</p>
<p>Page 13</p>
<br>
<p>Submitted by,</p>
<p>Councillor Clarke Chair June 28, 2017</p>
<br>
<br>
<br>
<br>
<p>2.</p>
<p>City Council Minutes</p>
<p>Meeting of July 31, 2017</p>
<p>Page 14</p>
<p>Planning Committee Report No. 7</p>
<p>Meeting of July 17, 2017</p>
<br>
<p>To The Council of the City of Peterborough, for consideration at its meeting held July 31, 2017</p>
<p>The Planning Committee, as a result of its meeting held on July 17, 2017 recommends as follows:</p>
<p>1.</p>
<p>Director, Planning and Development Services Report PLPD17-036 World Town Planning Day Presentation</p>
<p>That Council approve the recommendation outlined in Report PLPD17-036 dated July 17, 2017, of the Director, Planning and Development Services, as follows:</p>
<p>That Council receive a presentation regarding the results of the May 3, 2017 World Town Planning Day event at the July 17, 2017 Planning Committee meeting.</p>
<p>Public Meeting under The Planning Act Director, Planning and Development Services Report PLPD17-034 1657 College Park Drive Zoning By-law Amendments</p>
<p>That Council approve the recommendations outlined in Report PLPD17-034 dated July 17, 2017, of the Director, Planning and Development Services, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>That the subject property be rezoned from D.2 – Development District to R.1, 1f, 2e ‘H’ – Residential District in accordance with Exhibit ‘C’ attached to Report PLPD17-034; and</p>
<p>That the ‘H’ – Holding Symbol be removed subject to the removal of the 0.3 m reserve abutting the College Park Drive lot line (Block 129, Plan 45M-126) and the land being dedicated as a public highway known as College Park Drive, at the applicant’s expense, to allow legal access to College Park Drive.</p>
<p>City Council Minutes</p>
<p>Meeting of July 31, 2017</p>
<p>Page 15</p>
<p>Director, Planning and Development Services Report PLPD17-032 Master Plan – Trent Research and Innovation Park</p>
<p>That Council approve the recommendations outlined in Report PLPD17-032 dated July 17, 2017, of the Director, Planning & Development Services, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>d)</p>
<p>That the Master Plan for the Trent Research and Innovation Park, dated April 2017 and attached to Report PLPD17-032 as Exhibit A , be adopted as the framework for the physical development of the Trent Research and Innovation Park;</p>
<p>That the Master Plan be regarded as a dynamic document where adjustments can be made by the City to account for changing market conditions, investment requirements, and the introduction of new information that promotes a more responsive development;</p>
<p>That the conclusions of Trent’s Indigenous Consultation process, sponsored by the City of Peterborough, be included as an addendum to the Master Plan where the conclusions have specific relevance to the Trent Research and Innovation Park site; and</p>
<p>That section 3(a) of By-law 11-081, being a by-law delegating site plan approval authority, be amended to include the Trent Research and Innovation Park as a planned industrial park similar to Major Bennett Industrial Park and Peterborough Industrial Park where site plan approval is delegated to the Director of Planning and Development Services.</p>
<br>
<p>3.</p>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of July 31, 2017</p>
<p>Page 16</p>
<p>4.</p>
<br>
<p>Public Meeting under the Planning Act Director, Planning and Development Services Report PLPD17-033 Draft Plan of Subdivision Application 15T-17502 – Trent Research and Innovation Park Part of 3900 Nassau Mills Road</p>
<p>That Council approve the recommendations outlined in Report PLPD17-033 dated July 17, 2017, of the Director, Planning and Development Services, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>That Draft Plan of Subdivision Approval for Plan 15T-17502, Project No. 16-069, Sheet No. DP-1 dated April 20, 2017 and revised July 12, 2017 by Brook McIlroy Inc., be granted, subject to the Conditions of Draft Plan Approval attached to Report PLPD17-033, as Schedule 1; and,</p>
<p>The following amendment to the recommendation was moved as part of the main motion:</p>
<p>That the conditions of Draft Plan of Subdivision Approval for Plan of Subdivision 15T-17502 attached to Report PLPD17-033 as Schedule 1 be amended to add a new Condition No. 31 as follows: •</p>
<p>No. 31 - That prior to Final Approval, the City shall ensure that no development will occur within areas of flooding hazard to the satisfaction of the Otonabee Region Conservation Authority.</p>
<p>•</p>
<p>•</p>
<br>
<p>Adjust the number of the rest of the conditions to reflect the addition of a new Condition No. 31; and,</p>
<p>Amend Condition No. 1 to refer to the current draft plan of subdivision as referenced in the amended Recommendation for Report PLPD17-033.</p>
<br>
<p>Submitted by,</p>
<p>Councillor Parnell Chair July 17, 2017</p>
<p>City Council Minutes</p>
<p>Meeting of July 31, 2017</p>
<p>Page 17</p>
<p>Budget Committee Report No. 3</p>
<p>Meeting of July 24, 2017</p>
<br>
<br>
<br>
<p>To the Council of The City of Peterborough for Consideration at its meeting held July 31, 2017.</p>
<p>The Budget Committee as a result of its meeting held on July 24, 2017 recommends as follows:</p>
<p>1.</p>
<p>Director of Corporate Services Report CPFS17-033 2018 Budget Guideline Report</p>
<p>That Council approve the recommendations outlined in Report CPFS17- 037, dated July 24, 2017, of the Director of Corporate Services, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>That the Draft 2018 Operating Budget reflect an estimated 1.70% all-inclusive (Municipal, Education, Sanitary, and Storm Sewer Surcharge) increase for increased operating costs and traditional support for the capital program.</p>
<p>That the Draft 2018 Operating Budget reflect an estimated 0.65% all-inclusive (Municipal, Education, Sanitary, and Storm Sewer Surcharge) increase for increased support for the sanitary and storm sewer operating and capital costs, comprised of:</p>
<p>i.</p>
<p>ii.</p>
<p>An annual charge of $14.89 on the property tax bill for the median assessed home for a Stormwater Protection Surcharge, and</p>
<p>An increase in the Sewer Surcharge rate of 2.08% from 95% of the Water Rate to 97.1% of the Water Rate.</p>
<p>That the Draft 2018 Operating Budget reflect an additional 0.5% all- inclusive (Municipal, Education, Sanitary, and Storm Sewer Surcharge) increase to fund the 2018 increase for tax-supported debt charges and any increase to base capital levy to continue to implement the Capital Financing Policy approved by Council at its meeting held April 23, 2012.</p>
<p>d)</p>
<p>That the revised Tax Ratio Reduction Program continue for the 2018 Draft Budget and reflects reductions:</p>
<p>City Council Minutes</p>
<p>Meeting of July 31, 2017</p>
<p>Page 18</p>
<br>
<p>i)</p>
<p>ii)</p>
<p>iii)</p>
<p>i)</p>
<p>ii)</p>
<p>e)</p>
<p>f)</p>
<p>h)</p>
<p>i)</p>
<p>j)</p>
<p>to the Commercial and Industrial Class Tax Ratios but not the Multi-residential Class, and</p>
<p>at the reduced rate established through the 2016 Budget process, and</p>
<p>for the Commercial Class only, accelerated by a one-time amount of $300,000.</p>
<p>That the increase in the Police Services portion of the draft 2018 Operating Budget reflect no more than the Operating portion of Net Tax Levy increase (estimated to be 1.7%), and any increase in the net Police Services budget beyond the estimated Operating Portion of the Net Tax Levy increase be addressed by Council as part of the detailed 2018 Budget deliberations to occur in November of 2017.</p>
<p>That any additional investment proceeds in 2018 from the sale of Peterborough Distribution Inc., be directed towards enhancing Capital financing, and not be used for purposes of reduction in net tax levy.</p>
<p>g)</p>
<p>That, regarding any potential gaming revenues to be received from a Casino in 2018, the draft budget contain recommendations that will:</p>
<p>Direct the City’s share of all future municipal gaming revenues towards financing future Capital works, and not be used for purposes of reduction in net tax levy in the Operating Budget, and</p>
<p>Place any residual Gaming Revenues over and above the amount budgeted in 2018 in a new Gaming Revenues Reserve to be used to finance future capital works.</p>
<p>That the 2018 Highlights Book include a section on the information gathered through the Public Meeting held on June 28, 2017 and a response to each.</p>
<p>That the start time of the public meeting previously scheduled for 7:00 pm November 22, 2017, be changed to 6:30 pm.</p>
<p>That staff provide a report in 2018 identifying the revenue from the PDI investment and the casino and how the revenue could be used toward the capital budget.</p>
<p>City Council Minutes</p>
<p>Meeting of July 31, 2017</p>
<p>Page 19</p>
<p>Submitted by,</p>
<p>Councillor Clarke Chair July 24, 2017</p>
<br>
<br>
<br>
<br>
<p>2.</p>
<p>City Council Minutes</p>
<p>Meeting of July 31, 2017</p>
<p>Page 20</p>
<p>Committee of the Whole Report No. 11</p>
<p>Meeting of July 24, 2017</p>
<br>
<p>To the Council of The City of Peterborough for consideration at its Meeting held July 31, 2017</p>
<p>The Committee of the Whole as a result of its meeting held on July 24, 2017, recommends as follows:</p>
<p>1.</p>
<p>Report of Closed Session City Solicitor and Director of Legal Services Report OCSRE17-011 Sale of Industrial land at 280 and 290 Jameson Drive to 1439121 Ontario Ltd.</p>
<p>That Council approve the recommendation outlined in Report OCSRE17- 011 dated July 24, 2017, of the City Solicitor and Director of Legal Services, as follows:</p>
<p>That a by-law be passed to authorize the sale of approximately 4.35 acres of industrial lands, known municipally as parts of 280 and 290 Jameson Drive and being described as Parts 1, 2, 3 and 4 on Plan 45R-16240 (as shown on Appendix "A" attached) and Part 2 on Draft Reference Plan (as shown on Appendix “B” attached) to 1439121 Ontario Ltd. for $163,200.</p>
<p>Report of Closed Session City Solicitor and Director of Legal Services Report OCSRE17-012 Sale of surplus land at 210 and 220 Lansdowne Street East to Ron Lay Motors Inc.</p>
<p>That Council approve the recommendation outlined in Report OCSRE17- 012 dated July 24, 2017, of the City Solicitor and Director of Legal Services, as follows:</p>
<p>That a by-law be passed to declare Part 1 on the Draft Reference Plan (as shown on Appendix “A” attached) and known municipally as 210 Lansdowne Street East and being approximately of .073 acres and Part 4 on the Draft Reference Plan (as shown on Appendix “A” attached) known</p>
<p>City Council Minutes</p>
<p>Meeting of July 31, 2017</p>
<p>Page 21</p>
<p>municipally as 220 Lansdowne Street East and being approximately .304 acres as surplus to the needs of the Municipality and be sold to Ron Lay Motors Inc. for $235,000.</p>
<p>Director of Corporate Services Report CPFS17-042 Planning Area Specific Development Charges Background Study – Final Recommendations</p>
<p>3.</p>
<p>That Council approve the recommendations outlined in Report CPFS17-042 dated July 24, 2017, of the Director of Corporate Services, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>d)</p>
<p>e)</p>
<p>That the Development Charge rates, as shown on Chart 1of Report CPFS17-042 be approved.</p>
<p>That the development-related capital program included in the Planning Area Specific Development Charge background study, be adopted subject to annual review through the City’s normal capital budget process.</p>
<p>That By-laws 12-112 to 12-119 and any amendments thereto, be repealed effective August 1, 2017.</p>
<p>That separate by-laws be passed to impose the Planning Area Specific Development Charges for each of the eight specific planning areas, with a five year term covering August 1, 2017 to July 31, 2022.</p>
<p>That the Development Charges be adjusted by the City Treasurer without amendment to the by-laws annually on January 1 of each year, commencing January 1, 2018, in accordance with the most recent annual change in the Statistics Canada Quarterly Construction Price Statistics.</p>
<p>Director of Corporate Services Report CPFS17-039 Clean Water Wastewater Fund Transfer Price Agreement and Sole Source an Engineer of Record</p>
<p>That Council approve the recommendations outlined in Report CPFS17-039 dated July 24, 2017, of the Director of Corporate Services, as follows:</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>4.</p>
<p>City Council Minutes</p>
<p>Meeting of July 31, 2017</p>
<p>Page 22</p>
<p>That a by-law be passed authorizing the Mayor and Clerk to sign the Clean Water Wastewater Fund (CWWF) Transfer Price Agreement between Her Majesty the Queen in Right of Ontario as represented by the Minister of Infrastructure and The Corporation of the City of Peterborough; and</p>
<p>That MTE Consultants Inc., 520 Bingemans Centre Drive, Kitchener, Ontario, L7L 6B8, be awarded the design, Request for Tenders (RFT) preparation and contract administration for the upgrades to the clarifiers and aeration system at the Peterborough Wastewater Treatment Plant at a cost of $551,540.00 plus HST of $71,700.20 for a total cost of $623,240.20.</p>
<p>Director of Utility Services Report USEC17-019 Budget Transfers and Award of T-01-17 George Street Improvements</p>
<p>That Council approve the recommendations outlined in Report USEC17-019 dated July 24, 2017, of the Director of Utility Services, as follows:</p>
<p>That the $1,002,000 budget amount approved in the 2016 Capital budget for the George Street Improvement Project be increased by $1,195,000 to $2,197,000 by the budget transfers detailed in Table 2 of Report USEC17-019;</p>
<p>That Tender T-01-17 for the George Street Improvements be awarded to Coco Paving Inc., 2317 Television Road, Peterborough, ON, K9J 7H5 at a cost of $1,982,201.17 plus $257,686.15 HST for a total of $2,239,887.32; and</p>
<p>That a provisional work value of $50,000 be committed to the project and Utility Services be provided the authority to adjust the purchase order value to an upset limit of $2,032,201.17 excluding HST as necessary to complete this project.</p>
<p>a)</p>
<p>b)</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<br>
<p>5.</p>
<br>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of July 31, 2017</p>
<p>Page 23</p>
<p>Director of Utility Services Report USWM17-005 Award of Request for Proposals P-01-17 for Equipment and Labour Rates at Waste Management Facilities for the City of Peterborough</p>
<p>That Council approve the recommendations outlined in Report USWM17- 005, dated July 24, 2017 of the Director of Utility Services as follows:</p>
<p>a)</p>
<p>b)</p>
<p>That Request for Proposals P-01-17 for Labour and Equipment at Waste Management Facilities for the City of Peterborough, be awarded to Kawartha Capital Construction, 580 Ashburnham Drive Peterborough, ON K9L 2A2 for the period August 1, 2017 to August 1, 2019 at an annual estimated cost of $63,560.00 plus HST of $8,262.80 for a total cost of $71,822.80; and</p>
<p>That the contract be extended for two optional one-year extensions subject to satisfactory performance, budget availability and successful pricing negotiations.</p>
<p>Director of Community Services Report CSD17-016 2016 Sustainable Peterborough Report Card</p>
<p>That Council approve the recommendation outlined in Report CSD17-016 dated July 24, 2017 of the Director of Community Services, as follows:</p>
<p>That the presentation on the 2016 Sustainable Peterborough Report Card, by Sheridan Graham, Chair of Sustainable Peterborough, be received for information.</p>
<p>6.</p>
<br>
<p>7.</p>
<br>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of July 31, 2017</p>
<p>Page 24</p>
<p>Director of Community Services Report CSACH17-006 Presentation on the City’s Immigration Portal</p>
<p>a)</p>
<p>b)</p>
<p>a)</p>
<p>b)</p>
<p>That Council approve the recommendations outlined in Report CSACH17- 006 dated July 24, 2017, of the Director of Community Services as follows:</p>
<p>That a presentation by staff on the updated City Immigration Portal www.WelcomePeterborough.ca be received for information; and</p>
<p>That a video by Rodney Fuentes, videographer be received for information.</p>
<p>Director, Planning and Development Services Report PLHD17-004 Peterborough Housing Corporation Shareholder Report (2016)</p>
<p>That Council approve the recommendations outlined in Report PLHD17-004 dated July 24, 2017, of the Director of Planning and Development Services, as follows:</p>
<p>That the presentation from Peterborough Housing Corporation be received;</p>
<p>That the audited financial statements of the Peterborough Housing Corporation (the “Corporation”) and subsidiary corporations, for the fiscal year ending on  December 31, 2016, together with the report of the auditors thereon, be received and approved; and</p>
<p>c)</p>
<p>That the 2016 Annual Report on the progress and accomplishments of the Corporation be received and approved.</p>
<br>
<p>10.  Director of Corporate Services</p>
<p>Report CPFS17-045 Community Branding Project Update #2</p>
<p>That Council approve the recommendation outlined in report CPFS17-045 dated July 24, 2017, of the Director of Corporate Services as follows:</p>
<p>8.</p>
<br>
<p>9.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of July 31, 2017</p>
<p>Page 25</p>
<p>The presentation on the status of the Community Branding Project by Gillian Hill and Klint Davies from BrandHealth Inc. be received for information.</p>
<br>
<p>11.  Director, Planning and Development Services</p>
<p>Report PLHD17-003 Peterborough Housing Corporation Acquisition of Property at 217 Murray Street (Brock Street Mission)</p>
<p>That Council approve the recommendations outlined in report PLHD17-003 dated July 24, 2017, of the Director of Planning and Development Services, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>d)</p>
<p>e)</p>
<p>That a by-law be passed to authorize the City to purchase the property at 217 Murray Street for $2.00 and to convey the property to Peterborough Housing Corporation;</p>
<p>That pursuant to Article 5.3 of the Shareholder Direction, the City of Peterborough as the sole shareholder of Peterborough Housing Corporation, consents to the acquisition of the property at 217 Murray Street from the Brock Street Mission Peterborough;</p>
<p>That the City, as Service Manager, consents to the Brock Street Mission Peterborough’s assignment of the two Affordable Housing Project Facility Agreements with The Corporation of the City of Peterborough:  Social Infrastructure Fund – Investment in Affordable Housing and Investment in Affordable Housing – 2014 Extension, both dated February 17, 2017, for the construction of 15 housing units at 217 Murray Street, to Peterborough Housing Corporation;</p>
<p>That  Peterborough Housing Corporation assumes the $8 million construction project for the Brock Street Mission property at 217 Murray Street, resulting in a $3.8 million draw down on the City’s non-tax supported debt capacity; and</p>
<p>That $325,000 be pre-committed from the 2018 Social Services Capital Budget for the Brock Street Mission redevelopment, with the City share being funded from the Social Services Reserve.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of July 31, 2017</p>
<p>Page 26</p>
<p>12.  Director of Corporate Services</p>
<p>Report CPFS17-044 Peterborough Housing Corporation – Financing for McRae Reconstruction</p>
<p>That Council approve the recommendations outlined in Report CPFS17-044 dated July 24, 2017 of the Director of Corporate Services as follows:</p>
<p>That Peterborough Housing Corporation – McRae Construction Project at 553-555 Bonaccord Street, Peterborough for a total of $39,583,300, resulting in a $24,433,000 draw down on the City’s non- tax supported debt capacity be approved;</p>
<p>That a by-law be passed to authorize the borrowing of $24,433,000 to help finance certain works to be undertaken by the Peterborough Housing Corporation;</p>
<p>That the Director of Corporate Services be authorized to prepare the necessary borrowing by-laws to borrow funds up to a maximum of $24,433,000 to finance City capital projects and for a term not to exceed 30 years; and</p>
<p>d)</p>
<p>That the Treasurer be authorized to submit an application to Ontario Infrastructure and Lands Corporation to borrow these funds.</p>
<br>
<p>13.  Director, Planning and Development Services</p>
<p>Report PLPD17-035 Sale of a Portion of Bonnerworth Park Parking Lot to Peterborough Housing Corporation</p>
<p>That Council approve the recommendations outlined in Report PLPD17-035 dated July 24, 2017, of the Director, Planning and Development Services, as follows:</p>
<p>That a by-law be passed to declare approximately 0.78 acres of the Bonnerworth Park Parking Lot surplus to the needs of the Municipality and be sold to Peterborough Housing Corporation for nominal consideration, to support its redevelopment of the McCrae property; and</p>
<p>That Council acknowledges that PHC will develop the property under the flexibility granted to the City of Peterborough in the Zoning By-law to carryout any lawful purpose of the City.</p>
<br>
<br>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>c)</p>
<p>d)</p>
<p>City Council Minutes</p>
<p>Meeting of July 31, 2017</p>
<p>Page 27</p>
<br>
<p>14.  Director, Planning and Development Services</p>
<p>Report PLHD17-001 Peterborough Housing Corporation Acquisition of Sunshine Homes Non-Profit Inc.</p>
<p>That Council approve the recommendations outlined in Report PLHD17-001 dated July 24, 2017, of the Director, Planning & Development Services, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>d)</p>
<p>That City Council, acting as Service Manager under the Housing Services Act, 2011 (HSA), provide consent pursuant to subsection 162 (2), to the transfer by Sunshine Homes Non-Profit Incorporated of 572 Crystal Drive to Peterborough Housing Corporation (PHC);</p>
<p>That pursuant to Article 5.3 of the Shareholder Direction, the City of Peterborough as the sole shareholder of PHC, consents to the acquisition of 572  Crystal Drive for the purchase price of $2.00, plus the assumption of the current mortgage assigned to the property of approximately $3.0M;</p>
<p>That the City, as Service Manager, request that the Ministry of Housing make a regulation under the Housing Services Act, 2011, to exempt the transfer from the application of tax under the Land Transfer Tax Act; and</p>
<p>That the Mayor and Clerk be authorized to amend the Renewable Energy Initiative Program Loan Agreement between the City and Sunshine Homes Non-Profit Incorporated dated March 16, 2011, to add the new owner, Peterborough Housing Corporation.</p>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of July 31, 2017</p>
<p>Page 28</p>
<p>15.  Director of Corporate Services</p>
<br>
<br>
<br>
<p>Report CPFS17-043 Sponsored Digital Signage Program at the Evinrude Centre and Various City Facilities</p>
<p>That, in accordance with Section 7.1.3 d) of the City’s Sponsorship, Naming Rights and Advertising Policy, Council approve the recommendations outlined in Report CPFS17-043, dated July 24, 2017, of the Director of Corporate Services, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>That staff negotiate with Movingmedia, 1049 Crawford Drive, Peterborough, Ontario, K9J 6X6, for the supply, installation, software set-up, operation, and on-going maintenance of a new outdoor digital sign at the Evinrude Centre to replace the current non-functioning sign.</p>
<p>That staff negotiate with Movingmedia, 1049 Crawford Drive, Peterborough, Ontario, K9J 6X6, for the supply, installation, software set-up, operation, and on-going maintenance of an indoor digital signage (displays) network to be implemented through a phased in approach across city facilities.</p>
<p>That, upon successful negotiations, the draft agreement outlining the supply, installation, software set-up, operation, revenue share from advertising and on-going maintenance of both the new Evinrude outdoor Sign and the City’s indoor signage network be presented to Council for approval.</p>
<br>
<p>16.  Director of Community Services</p>
<p>Report CSSS17-006 Creation of an Age-friendly Peterborough Advisory Committee</p>
<p>That Council approve the recommendations outlined in Report CSSS17-006 dated July 24, 2017, of the Director of Community Services, as follows:</p>
<p>a)</p>
<p>That as of July 24, 2017, an eleven member AFPAC be created to:</p>
<br>
<p>i)</p>
<br>
<p>ii)</p>
<p>Be an Advisory Committee of Council reporting to the Joint Services Steering Committee;</p>
<p>Include one Member of City Council and one Member of County Council; and</p>
<br>
<br>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of July 31, 2017</p>
<p>Page 29</p>
<p>b)</p>
<p>c)</p>
<p>ii)</p>
<p>Be given the authority to establish sub-committees as necessary.</p>
<p>That the AFPAC be included in the Consolidated Municipal Services Management Agreement, between the City and County and that this be reflected by a letter between the parties;</p>
<p>That the following candidates be appointed Members of the first AFPAC for a term of July 24, 2017 to March 1, 2019 and that a Member from both City Council and County Council be appointed as soon as possible for the same time period:</p>
<br>
<br>
<p>•  Danielle Belair •  Dawn Berry-Merriam •  Alan Cavell •  Kerri Davies •  Ann MacLeod •  Mark Skinner</p>
<p>d)</p>
<p>That a by-law be passed to establish the Terms of Reference for a new Committee called the Age-friendly Peterborough Advisory Committee.</p>
<br>
<p>17.  Director, Planning and Development Services</p>
<p>Report PLBD17-001 Property Standards – Eavestrough Drainage</p>
<p>That Council approve the recommendation outlined in Report PLBD17-001, dated July 24, 2017, of the Director, Planning and Development Services, as follows:</p>
<p>That Report PLBD17-001 be received for information purposes.</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of July 31, 2017</p>
<p>Page 30</p>
<p>18.  Director of Corporate Services</p>
<p>Director of Utility Services Report CPPS17-027 Transfer of funds, Recalculation of Development Charges and Award of RFT T-19-17 for the Peterborough Operations Centre</p>
<p>That Council approve the recommendations outlined in Report CPPS17- 027, dated July 24, 2017 of the Director of Corporate Services and the Director of Utility Services, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>d)</p>
<p>e)</p>
<p>f)</p>
<p>That $1,825,000 of the 2018 pre-committed capital funding for Transit Buses be transferred to the Peterborough Operations Centre Project;</p>
<p>That $2,427,840 of Debenture Revenue from  Development Charges – Public Works be allocated to the Peterborough Operations Centre Project;</p>
<p>That $650,160 of Debenture Revenue from Development Charges – Transit Services be allocated to the Peterborough Operations Centre Project;</p>
<p>That RFT T-19-17 for the Peterborough Operations Centre be awarded to JR Certus Construction Company Ltd., 81 Zenway Boulevard, Unit #3 – 2nd Floor, Vaughan, Ontario, L4H 0S5, at a cost of $19,776,186.00 plus HST of $2,570,904.18 for a total cost of $22,347,090.18;</p>
<p>That a provisional work value of $1,043,716  be committed to the project and the Administrative Staff Committee be provided the authority to adjust the purchase order value to an upset limit of $20,819,902 plus HST as necessary to cover the costs of any change orders required to complete the project; and</p>
<p>That the contract for P-13-14 to Reinders + Rieder Ltd., 57 Mill Street North, Suite 201, Brampton, Ontario, L6X 1S9, for the Design of the new City of Peterborough Public Works Operations Centre be increased by $23,945 from $644,952.50 to 668,897.50 plus HST of $86,956.68 for a total cost of $755,854.18.</p>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of July 31, 2017</p>
<p>Page 31</p>
<p>19.  Director of Utility Services</p>
<p>Report USDIR17-007 Award of RFP P-13-17 for the Peterborough Transit Garage Location and Environmental Assessment Study</p>
<p>That Council approve the recommendations outlined in Report USDIR17- 007 dated July 24, 2017, of the Director of Utility Services, as follows:</p>
<p>That RFP P-13-17 for the Peterborough Transit Garage Location and Environmental Assessment Study be awarded to IBI Group, 55 Clair Avenue West, Toronto, Ontario M4V 2Y7 at a cost of $208,904.00 plus HST of $27,157.52 for a total cost of $236,061.52; and</p>
<p>That a contingency fund of $100,000.00 be authorized to the consulting assignment and the Director of Utility Services be delegated the authority to adjust the purchase order to an upset limit of $308,904.00 plus HST of $40,157.52, if required.</p>
<br>
<p>20.  Director of Utility Services</p>
<p>Report USEC17-020 Award of RFP P-03-17 for Debris Removal and Inspection of Sanitary and Storm Sewers</p>
<p>That Council approve the recommendations outlined in Report USEC17-020 dated July 24, 2017, of the Director of Utility Services, as follows:</p>
<p>That RFP P-03-17 for the Debris Removal and Inspection of Sanitary and Storm Sewers, be awarded to Pipetek Infrastructure Services Inc., 2250 Industrial Street, Burlington, ON, L7P 1A1 at a cost of $284,296.54 plus $36,958.55 HST for a total cost of $321,255.09, for one year of service, with an option to extend service for one additional year, and</p>
<p>That a provisional work value of $150,000 be committed to the project and Utility Services be provided the authority to adjust the purchase order value to an upset limit of $434,296.54 excluding HST as necessary to complete this project.</p>
<p>a)</p>
<p>b)</p>
<p>a)</p>
<p>b)</p>
<br>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of July 31, 2017</p>
<p>Page 32</p>
<p>21.  City Clerk</p>
<p>Report CPCLK17-016 Award of RFP P-12-17, for an Electronic Agenda Management Solution</p>
<p>That Council approve the recommendations outlined in Report CPCLK17- 016, dated July 24, 2017 of the City Clerk, as follows:</p>
<p>That RFP P-12-17 for an Electronic Agenda Management Solution for the City of Peterborough be awarded to eSCRIBE Software Ltd., 204-60 Centurian Drive, Markham, Ontario, L3R 9R2 for a five year period from August 1, 2017 to July 31, 2022, at a cost of $175,715.00, with an option to extend for an additional five year period.</p>
<br>
<p>22.  VIA Rail High-Frequency Train Proposal</p>
<p>WHEREAS VIA Rail has submitted a High-Frequency Train proposal to the Government of Canada for the Windsor-Québec Corridor, the busiest in Canada;</p>
<p>WHEREAS within the VIA Rail High-Frequency Train proposal the route from Toronto through Peterborough to Ottawa with continuation of service to Montreal and Quebec City is identified;</p>
<p>WHEREAS this project aims to improve the quality, frequency and reliability of passenger rail services and will have a direct effect on the viability of VIA Rail by attracting more customers while stimulating economic growth;</p>
<p>WHEREAS this project will create economic benefits in communities along the line, including connecting passengers with: city centres, intercity transit, smaller communities;</p>
<p>WHEREAS the VIA Rail project allows more options for connections with other modes of transportation such as light rail and local railways, and local airports;</p>
<p>WHEREAS this project requires a significant financial contribution from the Government of Canada but also from private sector investments;</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of July 31, 2017</p>
<p>Page 33</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>WHEREAS this project allows an increase in rail passenger services, which will lead to a significant reduction in greenhouse gas emissions from the transportation sector, thereby effectively supporting the Government of Canada's environmental objectives and directions following the signing of the Paris Protocol;</p>
<p>WHEREAS the VIA Rail Project is consistent with the Government of Canada's priorities for public transit infrastructure;</p>
<p>BE IT RESOLVED THAT the Council of the City of Peterborough:</p>
<p>1.</p>
<p>2.</p>
<p>3.</p>
<p>4.</p>
<p>Supports VIA Rail’s High-Frequency Train project;</p>
<p>Calls upon the Government of Canada to provide financial support for Via Rail's High-Frequency Train project;</p>
<p>Requests the Government of Ontario to include VIA Rail's proposed High-Frequency Train project in the list of priority infrastructure projects for Ontario; and</p>
<p>Calls on the governments of Canada and Ontario to ensure that the High-Frequency Train projects of Via Rail are carried out in a way that enables the user to have direct and fast access to railway stations and hubs in communities through Eastern Ontario.</p>
<br>
<p>Submitted by,</p>
<p>Councillor Beamer Chair July 24, 2017</p>
<br>
<br></div>