<!doctype html><div><br>
<br>
<br>
<p>City Council Minutes</p>
<p>City of Peterborough</p>
<p>September 11, 2017</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of City Council held on September 11, 2017, in</p>
<p>the Council Chambers.</p>
<br>
<p>The City Council meeting was called to order at 6:30 p.m. in the Council Chambers, City Hall.</p>
<p>Roll Call: Councillor Baldwin Councillor Beamer Councillor Clarke Councillor Haacke Councillor McWilliams Councillor Pappas Councillor Parnell Councillor Riel Councillor Therrien Councillor Vassiliadis Mayor Bennett</p>
<p>Confirmation of Minutes – July 31, 2017</p>
<p>Moved by Councillor Clarke, seconded by Councillor Pappas</p>
<p>That the minutes of the meetings of Council held on July 31, 2017 be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>Councillor Beamer declared an interest on Item 1 of Planning Committee Report No. 8 (Report PLPD17-041 - Application for Draft Plan of Subdivision Approval 15T-16501 and Zoning By-law Amendment Z1605SB, Durham Building Corporation & 1517050 Ontario Ltd., 663, 689 and 739 Lily Lake Road), as he has family members who own property in proximity to the site.</p>
<p>City Council Minutes</p>
<p>Meeting of September 11, 2017</p>
<p>Page 2</p>
<p>Councillor Haacke declared an interest on Item 1 of Planning Committee Report No. 8 (Report PLPD17-041 - Application for Draft Plan of Subdivision Approval 15T-16501 and Zoning By-law Amendment Z1605SB, Durham Building Corporation & 1517050 Ontario Ltd., 663, 689 and 739 Lily Lake Road) and Item 2 of Planning Committee Report No. 8 (Report PLPD17-039 – Zoning By-law Amendment – 186 Romaine Street), as both applicants are clients of his.</p>
<p>Councillor Haacke declared an interest on Item 2 of Committee of the Whole Report No. 12 (Report OCSRE17-021 – Purchase of partial frontage at 883 Chemong Road), as they are clients of his.</p>
<p>Delegations</p>
<p>Registered Delegations:</p>
<p>Frank Stoeken, 1020 Parkhill Road West, made a delegation to Item 1 of Planning Committee Report No. 8 (Report PLPD17-041 - Application for Draft Plan of Subdivision Approval 15T-16501 and Zoning By-law Amendment Z1605SB, Durham Building Corporation & 1517050 Ontario Ltd. 663, 689 and 739 Lily Lake Road).</p>
<p>Paul Dietrich, Parkview Homes, made a delegation to Item 2 of Planning Committee Report No. 8 (Report PLPD17-039 - Zoning By-law Amendment - 186 Romaine Street).</p>
<p>Ian Attridge, 575 Gilchrist Street, made a delegation to Item 1 of Planning Committee Report No. 8 (Report PLPD17-041 - Application for Draft Plan of Subdivision Approval 15T-16501 and Zoning By-law Amendment Z1605SB, Durham Building Corporation & 1517050 Ontario Ltd. 663, 689 and 739 Lily Lake Road).</p>
<p>Gord Perry, 535 Albert Street, made a delegation to Item 13 of Committee of the Whole Report No. 12 (Report OCS17-005 - Comprehensive Animal By-law Amendments).</p>
<p>Jordan Leal, House of Scales, made a delegation to Item 13 of Committee of the Whole Report No. 12 (Report OCS17-005 - Comprehensive Animal By-law Amendments).</p>
<p>Marguerite Xenopoulos, 1419 Ireland Drive, made a delegation to Item 1 of Planning Committee Report No. 8 (Report PLPD17-041 - Application for Draft Plan of Subdivision Approval 15T-16501 and Zoning By-law Amendment Z1605SB, Durham Building Corporation & 1517050 Ontario Ltd. 663, 689 and 739 Lily Lake Road).</p>
<p>Janet Wilkins, on behalf of Carol Winter, made a delegation to Item 13 of Committee of the Whole Report No. 12 (Report OCS17-005 - Comprehensive Animal By-law Amendments).</p>
<p>City Council Minutes</p>
<p>Meeting of September 11, 2017</p>
<p>Page 3</p>
<p>Colin Cassin, 842 Hilliard Street, made a delegation to Item 13 of Committee of the Whole Report No. 12 (Report OCS17-005 - Comprehensive Animal By-law Amendments).</p>
<p>Myra Hirschberg, 552 Chamberlain Street, made a delegation to Item 13 of Committee of the Whole Report No. 12 (Report OCS17-005 - Comprehensive Animal By-law Amendments).</p>
<p>Leah Gibbs, East City, made a delegation to Item 13 of Committee of the Whole Report No. 12 (Report OCS17-005 - Comprehensive Animal By-law Amendments).</p>
<p>Natalie Napier, 212 London Street made a delegation to Item 13 of Committee of the Whole Report No. 12 (Report OCS17-005 - Comprehensive Animal By-law Amendments).</p>
<p>Andrea Maxie, 9 Wallace Street, made a delegation to Item 13 of Committee of the Whole Report No. 12 (Report OCS17-005 - Comprehensive Animal By-law Amendments).</p>
<p>Michael Scorer, 51 Sophia Street, made a delegation to Item 13 of Committee of the Whole Report No. 12 (Report OCS17-005 - Comprehensive Animal By-law Amendments).</p>
<p>Councillor Therrien left the meeting at 8:45 p.m. and returned at 8:46 p.m.</p>
<p>Delegations Not Registered:</p>
<p>Planning Committee Reports</p>
<p>Marie Bongard, Albert Street, made a delegation to Item 1 of Planning Committee Report No. 8 (Report PLPD17-041 - Application for Draft Plan of Subdivision Approval 15T-16501 and Zoning By-law Amendment Z1605SB, Durham Building Corporation & 1517050 Ontario Ltd. 663, 689 and 739 Lily Lake Road), and Item 2 of Planning Committee Report No. 8 (Report PLPD17-039 - Zoning By-law Amendment - 186 Romaine Street).</p>
<p>Moved by Councillor Pappas, second by Councillor Beamer</p>
<p>That the Rules of Order (Article 16.8.2) be suspended to permit all delegations past the hour of 9:00 p.m.</p>
<p>“CARRIED”</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of September 11, 2017</p>
<p>Page 4</p>
<p>Jesse Gottlieb-Jacob, 203 Westcott Street made a delegation to Item 2 of Planning Committee Report No. 8, (Report No.  PLPD17-039, Zoning By-Law Amendment – 186 Romaine Street).</p>
<p>Jane Elliott, Valleyview Drive, made a delegation to Item 3 of Planning Committee Report No. 8 (Report PLPD17-040, Zoning By-law Amendment – 880 Parkhill Road West).</p>
<p>Darren Vella of Innovative Planning Solutions (Barrie) made a delegation to Item 1 of Planning Committee Report No. 8 (Report PLPD17-041 - Application for Draft Plan of Subdivision Approval 15T-16501 and Zoning By-law Amendment Z1605SB, Durham Building Corporation & 1517050 Ontario Ltd. 663, 689 and 739 Lily Lake Road).</p>
<p>Committee of the Whole Reports</p>
<p>Dave Madill, Board Chair, DBIA, made a delegation to Item 15 of Committee of the Whole Report No. 12 (Business Improvement Area By-laws).</p>
<p>Move by Councillor Pappas, seconded by Councillor Clarke</p>
<p>That the Rules of Order (Article 16.15.2) be suspended to extend the hour of the meeting past 10:00 p.m. to complete the agenda.</p>
<p>“CARRIED”</p>
<p>Tina Fridgin, Douro-Dummer Township, made a delegation to Item 13 of Committee of the Whole Report No. 12 (Report OCS17-005 - Comprehensive Animal By-law Amendments).</p>
<p>David Chambo, 47 Sophia Street, made a delegation to Item 13 of Committee of the Whole Report No. 12 (Report OCS17-005 - Comprehensive Animal By-law Amendments).</p>
<p>Councillor Beamer left the meeting at 10:12 p.m. and returned at 10:13 p.m.</p>
<p>Richard Wesley-Staples, 731 River Road South made a delegation to Item 13 of Committee of the Whole Report No. 12 (Report OCS17-005 - Comprehensive Animal By-law Amendments).</p>
<p>Councillor Haacke left the meeting at 10:14 p.m. and returned at 10:16 p.m.</p>
<p>City Council Minutes</p>
<p>Meeting of September 11, 2017</p>
<p>Page 5</p>
<p>Other Items on the Agenda</p>
<p>There were no delegations.</p>
<p>Planning Committee Report Number 8</p>
<p>Moved by Councillor Parnell, seconded by Councillor Beamer</p>
<p>That Report Number 8 of the Planning Committee meeting of August 28, 2017 be approved.</p>
<p>The Mayor separated Items 1 to 4 for discussion and vote.</p>
<p>Councillor Parnell left the meeting at 10:27 p.m. and returned at 10:29 p.m.</p>
<p>Item 1 - Report PLPD17-041 - Application for Draft Plan of Subdivision Approval 15T-16501 and Zoning By-law Amendment Z1605SB, Durham Building Corporation & 1517050 Ontario Ltd., 663, 689 and 739 Lily Lake Road</p>
<p>Due to their previously declared interest, Councillors Beamer and Haacke did not discuss or vote on the Item.</p>
<p>Moved by Councillor Therrien, seconded by Councillor Pappas</p>
<p>That the main motion be amended as follows:</p>
<p>That as part of the detailed design phase, staff identify a number of parks within the subdivision to be serviced with water for uses such as community gardens.</p>
<p>“CARRIED”</p>
<p>Councillor Riel requested a Recorded vote, and the Clerk conducted a roll call.</p>
<p>In Support of Motion</p>
<p>Councillor Clarke Councillor Pappas Councillor Parnell Councillor Vassiliadis Councillor McWilliams Mayor Bennett</p>
<p>In Opposition to the Motion Councillor Baldwin Councillor Therrien Councillor Riel</p>
<br>
<br>
<p>Upon item 1, as amended, the motion carried.</p>
<p>City Council Minutes</p>
<p>Meeting of September 11, 2017</p>
<p>Page 6</p>
<p>Item 2- Report PLPD17-039 – Zoning By-law Amendment – 186 Romaine Street</p>
<p>Due to his previously declared interest, Councillor Haccke did not discuss or vote on the matter.</p>
<p>Upon the Item 2, the motion lost.</p>
<p>Moved by Councillor Parnell, seconded by Councillor Therrien</p>
<p>a)</p>
<p>Amend Section 3.9, Exceptions, of Zoning By-law 1997-123, to add site specific regulations, including parking provisions, in accordance with Exhibit ‘C’ attached to Report PLPD17-039;</p>
<p>That the zoning of the lands known as 186 Romaine Street be amended from the PS.2 – Public Service District to the R.5-313 ‘H’ – Residential District in accordance with Exhibit ‘D’ attached to Report PLPD17-039; and</p>
<p>That the ‘H’ Holding Symbol be removed at such time as Site Plan Approval is granted for the redevelopment of the property.</p>
<p>At the meeting of September 11, 2017, the following was added:</p>
<p>That the proposed by-law be amended by adding the following to a) ‘subject to revisions to the proposed regulations of Exception 313 to increase the minimum lot area per unit from 125m2/unit to 135m2/unit; increase the minimum motor vehicle parking from 1.2 spaces/unit to 1.29 spaces/unit; and to add a provision to permit tandem parking in accordance with an approved Site Plan, subject to conditions as set out in a Site Plan Agreement and/or Condominium Agreement’; and,</p>
<p>That the changes to the proposed by-law related to 186 Romaine Street are considered to be minor in nature and therefore, no further written public notice of the said amendment is required in accordance with Section 34(17) of the Planning Act.</p>
<p>b)</p>
<p>c)</p>
<p>d)</p>
<p>e)</p>
<p>Upon Item 2 as amended, the motion carried.</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of September 11, 2017</p>
<p>Page 7</p>
<p>Item 3 – Report PLPD17-040 - 880 Parkhill Road</p>
<p>Upon Item 3, the motion carried.</p>
<p>Item 4 – Low Impact Design Standards</p>
<p>Upon Item 4, the motion carried.</p>
<p>Committee of the Whole Report Number 12</p>
<p>Moved by Councillor Beamer, seconded by Councillor Parnell</p>
<p>That Report Number 12 of the Committee of the Whole meeting of September 5, 2017 be approved.</p>
<p>Items 2, 13, 15 and 4 were separated for consideration.</p>
<p>Item 2– Report OCSRE-17-021 –  883 Chemong Road</p>
<p>Due to his previously declared interest Councillor Haacke did not discuss or vote on this Item.</p>
<p>Upon Item 2, the motion carried.</p>
<p>Item 13 – Report OCS1717-005 – Comprehensive Animal By-law Amendments</p>
<p>Moved by Councillor Baldwin, seconded by Councillor Pappas</p>
<p>That the by-law be deferred to enable staff to engage in further consultations.</p>
<p>“LOST”</p>
<p>Upon Item 13, the motion carried.</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of September 11, 2017</p>
<p>Page 8</p>
<p>Item 15 – Report CAO17-008 – Business Improvement Area By-Laws</p>
<p>At the meeting of September 11, 2017, as part of the main motion, item c) was added as follows:</p>
<p>c)</p>
<p>That Staff be directed to make minor changes to the By-law and report these changes to Council by email.</p>
<br>
<p>Councillor Therrien requested a recorded vote and the Clerk conducted a roll call.</p>
<p>In Support of Motion</p>
<p>Councillor Riel Councillor McWilliams Councillor Vassiliadis Councillor Parnell Councillor Beamer Councillor Pappas Councillor Haacke Councillor Clarke Mayor Bennett</p>
<p>In Opposition to the Motion Councillor Therrien Councillor Baldwin</p>
<br>
<br>
<br>
<br>
<p>Upon item 15, the motion carried.</p>
<p>Item 4 – Report OCSRE17-024 – Purchase of an Obstacle Protection Easement over 1094 Airport Road</p>
<p>Moved by Councillor McWilliams, seconded by Councillor Baldwin</p>
<p>That the matter be deferred.</p>
<p>“LOST”</p>
<p>Upon the remainder of the items, less items 2, 13, and 15, the motion carried.</p>
<p>City Council Minutes</p>
<p>Meeting of September 11, 2017</p>
<p>Page 9</p>
<p>Committee of the Whole Report Number 13</p>
<p>Moved by Councillor Beamer, seconded by Councillor</p>
<p>That Report Number 13 of the Committee of the Whole meeting of September 11, 2017 be approved.</p>
<p>“CARRIED”</p>
<p>Notice of Motion</p>
<p>There were no Notices of Motion.</p>
<p>By-laws</p>
<p>Moved by Councillor McWilliams, seconded by Councillor Vassiliadis</p>
<p>As part of the main motion, Council added By-law 17-105, 128 Romaine Street</p>
<p>That the following by-laws be read a first, second and third time:</p>
<p>By-laws 17-100, 17-103 and 17-105 were separated for vote.</p>
<p>By-law 17-100</p>
<p>Due to his previously declare interest, Councillor Haacke did not vote on on this item.</p>
<p>17-100</p>
<p>Being a By-law to authorize the acquisition of the land municipally known as part of 883 Chemong Road, being designated as Part 3 on Reference Plan 45R-6400, in the City of Peterborough, in the County of Peterborough</p>
<p>Upon By-law 17-100, the motion carried.</p>
<p>By-law 17-103</p>
<p>Due to their previously declared interests, Councillors Beamer and Haacke did not vote upon By-law 17-103.</p>
<p>17-103</p>
<p>Being a By-law to Amend the Zoning By-law for the properties known as 663, 689 and 739 Lily Lake Road</p>
<p>City Council Minutes</p>
<p>Meeting of September 11, 2017</p>
<p>Page 10</p>
<br>
<p>Upon By-law 17-103, the motion carried.</p>
<p>By-law 17-105</p>
<p>Due to his previously declare interest, Councillor Haacke did not vote on on this item.</p>
<p>17-105</p>
<p>Being a By-law to amend the Zoning By-law for the property known as 186 Romaine Street</p>
<p>Upon By-law 17-105, the motion carried.</p>
<p>17-093</p>
<p>Being a By-law to Stop Up and Close a portion of Louis Street in the City of Peterborough</p>
<p>Being a By-law to amend By-law Number 91-71, being a By-law for the Regulation of Traffic, regulating Louis Street</p>
<p>Being a By-law to implement local policies to guide the operation and conduct of existing and new business improvement areas for the benefit of their members and the residents of Peterborough</p>
<p>Being a By-law to enact City of Peterborough Animal By-law 17-096, a By-law to Regulate the Keeping of Animals and to repeal associated Animal By-laws 1984-138, and 16-079</p>
<p>Being a By-law to appoint and to remove Parking Enforcement Officers at 282 Aylmer Street North, 500 Lansdowne Street West, 303 Aylmer Street, 307 Aylmer Street, 26 Barnardo Avenue, 100 Charlotte Street, 131 Charlotte Street, 205 Charlotte Street, 245 Charlotte Street, 1802 Cherryhill Road, 1 Church Street, 1160 Clonsilla Avenue, 185 King Street, 205 King Street, 235 King Street, 240 King Street, 630 Parkhill Road West, 650 Parkhill Road West, 250 Sherbrooke Street, 1414 Sherbrooke Street, 207 Simcoe Street, 209 Simcoe Street, 1 Stornoway Place, 2 Stornoway Place, 427 Water Street, and 526 Water Street</p>
<p>Being a By-law to authorize the acquisition of the land municipally known as 817 Fairbairn Street, in the City of Peterborough, in the County of Peterborough</p>
<p>17-094</p>
<p>17-095</p>
<p>17-096</p>
<p>17-097</p>
<p>17-098</p>
<br>
<p>17-099</p>
<p>17-101</p>
<p>17-102</p>
<p>17-104</p>
<p>City Council Minutes</p>
<p>Meeting of September 11, 2017</p>
<p>Page 11</p>
<p>Being a By-law to authorize the execution of an Obstacle Protection Easement Agreement for the lands municipally known as 1094 Airport Road, Peterborough Being a By-law to authorize the transfer of lands designated as Parts 3 and 4 on 45R-1987 and municipally known as the lands between 570 and 572 Neal Drive, in the City of Peterborough, in the County of Peterborough</p>
<p>Being a By-law to temporarily exempt Block 358, Registered Plan 45M-234 from Part Lot Control</p>
<p>Being a by-law to authorize certain capital works of The Corporation of the City of Peterborough (the “Municipality”); to authorize the submission of an application to Ontario Infrastructure and Lands Corporation (“OILC”) for financing such works and certain other ongoing works; to authorize temporary borrowing from OILC to meet expenditures made in connection with such works; and to authorize long term borrowing for such works through the issue of debentures to OILC</p>
<p>and the said by-laws, having been now read a third time and passed, the Mayor and Clerk be authorized to sign and seal the same.</p>
<p>“CARRIED”</p>
<p>Other Business</p>
<p>There were no items of Other Business.</p>
<p>Confirmatory By-law</p>
<p>Moved by Councillors McWilliams, seconded by Councillor Vassiliadis</p>
<p>That the following by-law be read a first, second and third time:</p>
<p>17-106</p>
<p>Being a By-law to confirm the proceedings of Council at its meeting held on September 11, 2017.</p>
<p>and the said by-law, having been now read a third time and passed, the Mayor and Clerk be authorized to sign and seal the same.</p>
<p>“CARRIED”</p>
<p>City Council Minutes</p>
<p>Meeting of September 11, 2017</p>
<p>Page 12</p>
<p>Adjournment</p>
<p>Moved by Councillor Pappas, seconded by Councillor Clarke</p>
<p>That this meeting of City Council adjourn at 12:10 a.m.</p>
<p>“CARRIED”</p>
<p>John Kennedy City Clerk</p>
<p>Daryl Bennett Mayor</p>
<p>City Council Minutes</p>
<p>Meeting of September 11, 2017</p>
<p>Page 13</p>
<p>Planning Committee Report No. 8</p>
<p>Meeting of August 28, 2017</p>
<br>
<p>To The Council of the City of Peterborough, for consideration at its meeting held September 11, 2017</p>
<p>The Planning Committee, as a result of its meeting held on August 28, 2017 recommends as follows:</p>
<p>1.</p>
<p>Public Meeting under The Planning Act Director, Planning and Development Services Report PLPD17-041 Application for Draft Plan of Subdivision Approval 15T-16501 and Zoning By-law Amendment Z1605SB Durham Building Corporation & 1517050 Ontario Ltd. 663, 689 and 739 Lily Lake Road</p>
<p>That Council approve the recommendations outlined in Report PLPD17-041 dated August 28, 2017, of the Director, Planning and Development Services, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>d)</p>
<p>That Draft Plan of Subdivision Approval for Plan 15T-16501, File No. 12-397 Durham Building Corp_DP of Subdivision dated July 31, 2017 by Innovative Planning Solutions, be granted, subject to the Conditions of Draft Plan Approval attached to Report PLPD17-041, as Schedule 1.</p>
<p>That Section 396.3 d) ii) of Zoning By-law 97-123 be amended in accordance with Exhibit B of Report PLPD17-041.</p>
<p>That Section 3.4 Alternative Regulations of Zoning By-law 97-123 be amended by adding regulations 5.p., 7.h. and 10.m. in accordance with Exhibit B of Report PLPD17-041.</p>
<p>That Section 3.9 Exceptions of Zoning By-law 97-123 be amended by adding exceptions 315, 316, 317 and 318 in accordance with Exhibit B of Report PLPD17-041.</p>
<br>
<br>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of September 11, 2017</p>
<p>Page 14</p>
<br>
<p>e)</p>
<p>That the subject property be rezoned from A.2(Smith), A.2- 158(Smith), A.2-211(Smith) and H(Smith) to SP.366,3n,5o,11j-315-318 – ‘H’, SP.366,3n,5o,11j-308-315-318 – ‘H’, R.1,1r,2r,5o,10m,11j-315 – ‘H’, R.1,5e,10m,11j-315 – ‘H’, R.1,1m,2m,5e,10m,11j-315 – ‘H’, SP.365,5p,7h-‘H’, SP.365,5p,7h-316 – ‘H’ – Residential Districts, SP.95,11m-317 – ‘H’ – Commercial District, PS.2 – ‘H’ – Public Service District, OS.1, and OS.2 – Open Space Districts in accordance with the Draft Plan of Subdivision and Exhibit B of Report PLPD17-041.</p>
<p>f)</p>
<p>That the City of Peterborough Utility Services Department Service Locations and Cross Sections attached to Report PLPD17-041 as Exhibit C be approved.</p>
<p>At the meeting of September 11, 2017, the following was added:</p>
<p>g)</p>
<p>That as part of the detailed design phase, staff identify a number of parks within the subdivision to be serviced with water for uses such as community gardens.</p>
<br>
<p>2.</p>
<br>
<br>
<p>Public Meeting under The Planning Act Director, Planning and Development Services Report PLPD17-039 Zoning By-law Amendment – 186 Romaine Street</p>
<p>At the meeting of September 11, 2017, the following was adopted:</p>
<p>a)</p>
<p>Amend Section 3.9, Exceptions, of Zoning By-law 1997-123, to add site specific regulations, including parking provisions, in accordance with Exhibit ‘C’ attached to Report PLPD17-039; ‘subject to revisions to the proposed regulations of Exception 313 to increase the minimum lot area per unit from 125m2/unit to 135m2/unit; increase the minimum motor vehicle parking from 1.2 spaces/unit to 1.29 spaces/unit; and to add a provision to permit tandem parking in accordance with an approved Site Plan, subject to conditions as set our in a Site Plan Agreement and/or Condominium Agreement;</p>
<p>b)</p>
<p>That the zoning of the lands known as 186 Romaine Street be amended from the PS.2 – Public Service District to the R.5-313 ‘H’ – Residential District in accordance with Exhibit ‘D’ attached to Report PLPD17-039;</p>
<p>City Council Minutes</p>
<p>Meeting of September 11, 2017</p>
<p>Page 15</p>
<br>
<br>
<p>3.</p>
<br>
<br>
<p>4.</p>
<p>c)</p>
<p>d)</p>
<p>That the ‘H’ Holding Symbol be removed at such time as Site Plan Approval is granted for the redevelopment of the property; and</p>
<p>That the changes to the proposed by-law related to 186 Romaine Street are considered to be minor in nature and therefore, no further written public notice of the said amendment is required in accordance with Section 34(17) of the Planning Act.</p>
<p>Public Meeting under The Planning Act Director, Planning and Development Services Report PLPD17-040 Zoning By-law Amendment – 880 Parkhill Road West</p>
<p>That this application be referred back to staff for a period of not more than three cycles, to provide clarification on whether this is an R1 or R2 use.</p>
<p>Low Impact Design Standards</p>
<p>That staff provide a report for Council consideration regarding the adoption of low impact design standards.</p>
<br>
<p>Submitted by,</p>
<p>Councillor Parnell Chair August 28, 2017</p>
<p>City Council Minutes</p>
<p>Meeting of September 11, 2017</p>
<p>Page 16</p>
<p>Committee of the Whole Report No. 12</p>
<p>Meeting of September 5, 2017</p>
<br>
<p>To the Council of The City of Peterborough for consideration at its Meeting held September 11, 2017</p>
<p>The Committee of the Whole as a result of its meeting held on September 5, 2017, recommends as follows:</p>
<p>1.</p>
<p>Report of Closed Session City Solicitor and Director of Legal Services Report OCSRE17-020 Acquisition of Property at 817 Fairbairn Street</p>
<p>That Council approve the recommendations outlined in Report OCSRE17- 020 dated September 5, 2017, of the City Solicitor and Director of Legal Services as follows:</p>
<p>That a by-law be passed to authorize the acquisition of 817 Fairbairn Street, for $255,000 plus HST, plus legal costs of $1,500, moving expenses of $1,500 and land transfer tax of $2,345 for a total of $260,345.</p>
<p>Report of Closed Session City Solicitor and Director of Legal Services Report OCSRE17-021 Purchase of partial frontage at 883 Chemong Road</p>
<p>That Council approve the recommendation outlined in Report OCSRE17- 021 dated September 5, 2017, of the City Solicitor and Director of Legal Services as follows:</p>
<p>That a by-law be passed to authorize the purchase of partial frontage at 883 Chemong Road, described as Part 3 on Reference Plan 45R-6400 for $17,000 and the purchase of a Temporary Construction Easement over the remaining property for $10,200 plus land transfer tax of $136 for a total of $27,336.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>2.</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of September 11, 2017</p>
<p>Page 17</p>
<p>Report of Closed Session City Solicitor and Director of Legal Services Report OCSRE17-022 Sale of surplus land between 570 and 572 Neal Drive to 1731303 Ontario Ltd.</p>
<p>That Council approve the recommendation outlined in Report OCSRE17- 022 dated September 5, 2017, of the City Solicitor and Director of Legal Services, as follows:</p>
<p>That a by-law be passed to declare Parts 3 and 4 on 45R-1987 (as shown on Appendix “A” attached) being the land between 570 and 572 Neal Drive, as surplus to the needs of the Municipality and be sold to 1731303 Ontario Ltd. for $22,750.</p>
<p>Report of Closed Session City Solicitor and Director of Legal Services Report OCSRE17-024 Purchase of an Obstacle Protection Easement over 1094 Airport Road</p>
<p>That Council approve the recommendations outlined in Report OCSRE17- 024, dated September 5, 2017 of the City Solicitor and Director of Legal Services, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>That a by-law be passed to authorize the purchase of an Obstacle Protection Easement over 1094 Airport Road for the purchase price of $100,000 plus Land Transfer Tax of $825.</p>
<p>That the City pay an additional $10,000 to the owners for them to perform landscaping and tree replanting on their property.</p>
<p>3.</p>
<br>
<p>4.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of September 11, 2017</p>
<p>Page 18</p>
<p>Director of Community Services Report CSRS17-005 Disbursement of 2015-16 Tollington Parks Endowment Fund</p>
<p>That Council approve the recommendation outlined in Report CSRS17-005 dated September 5, 2017, of the Director of Community Services, as follows:</p>
<p>That the 2015 and 2016 disbursements of the Tollington Parks Endowment Fund, in the amount of $166,158.73, be designated to support the realignment of the Rotary Greenway Trail and installing a mid-block pedestrian signal at Parkhill Road.</p>
<p>Director of Corporate Services Report CPFS17-047 Digital Signage Sponsorship – Final Agreement</p>
<p>That, in accordance with Section 7.1.3 d) of the City’s Sponsorship, Naming Rights and Advertising Policy, Council approve the recommendations outlined in Report CPFS17-047, dated September 5, 2017, of the Director of Corporate Services, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>That the City of Peterborough enters into a sponsorship agreement with Movingmedia Ltd., 1049 Crawford Drive, Peterborough, Ontario, K9J 6X6, for supply, installation, software set-up, operation, and on- going maintenance of a new outdoor digital sign at the Evinrude Centre to replace the current, non-functioning sign per the details presented in Report CPFS17-047; and</p>
<p>That the City of Peterborough enters into a sponsorship agreement with Movingmedia Ltd., 1049 Crawford Drive, Peterborough, Ontario, K9J 6X6, for the supply, installation, software set-up, operation, and on-going maintenance of an indoor digital signage (displays) network per the details presented in Report CPFS17-047.</p>
<p>5.</p>
<br>
<p>6.</p>
<br>
<br>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of September 11, 2017</p>
<p>Page 19</p>
<p>7.</p>
<p>Director of Corporate Services Report CPFS17-046 Quarterly Financial Report (Unaudited) As of June 30, 2017</p>
<p>That Council approve the recommendations outlined in Report CPFS17-046 dated September 5, 2017, of the Director of Corporate Services, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>d)</p>
<p>That  the  June  30,  2017  Quarterly  Financial  Report  (unaudited) attached  as  Appendix  A  to  Report  CPFS17-046,  dated  September  5, 2017, be received.</p>
<p>That an amended 2017 Art Gallery Form 6 be approved, effective September 1, 2017, to extend memberships for two years at a 10% discount and to add higher levels of membership including the Curator’s Circle, Director’s Circle and the Benefactor’s Circle shown in Appendix C to Report CPFS17-046.</p>
<p>That, as a matter of housekeeping, $54,000 of the Parking Garage Renovations Project (2015 Capital Budget Projects 5-12.02 and 5- 12.03) be funded through a transfer from the Parking Reserve and that the corresponding $54,000 of user fee supported debentures, originally budgeted, not be issued.</p>
<p>That a 2017 Capital Project for Professional Fees Associated with the Sale of Peterborough Distribution Inc. be created for an amount of $750,000 and that it be funded from a transfer from the Capital Levy Reserve.</p>
<p>Director of Corporate Services Report CPHR17-002 Award of Request for Proposals P-09-17 Recruitment Firm of Record</p>
<p>That Council approve the recommendation outlined in Report CPHR17-002 dated September 5, 2017, of the Director of Corporate Services as follows:</p>
<p>That Request for Proposals P-09-17 for a Recruitment Firm of Record for a five year period from September 15, 2017 to September 14, 2022, with the option to extend for an additional 5 years, be awarded to The Phelps Group Inc., at a total estimated cost of $162,500 and HST of $21,125 for a total of $183,625.</p>
<br>
<br>
<br>
<br>
<br>
<p>8.</p>
<p>City Council Minutes</p>
<p>Meeting of September 11, 2017</p>
<p>Page 20</p>
<p>Director of Utility Services Report USEP17-005 Award of RFP P-20-17 for the Supply and Delivery of a new Sludge Collection System</p>
<p>That Council approve the recommendation outlined in Report USEP17-005 dated September 5, 2017, of the Director of Utility Services, as follows:</p>
<p>That RFP P-20-17 for the Supply and Delivery of new Sludge Collection systems for the Wastewater Treatment Plant be awarded to ENV Treatment Systems Inc. 70 High St, Etobicoke, ON M8Y 3N9 at a cost of $967,700.00 plus HST of $125,801.00 for a total cost of $1,093,501.00.</p>
<br>
<p>10.  Board Chair, Peterborough & the Kawarthas Economic</p>
<p>Development President & CEO, Peterborough & the Kawarthas Economic Development Report PKED17-003 PKED 2017 Second Quarter Report</p>
<p>That Council approve the recommendation outlined in Report PKED17-003 dated September 5, 2017 of the Board Chair and President & CEO of Peterborough & the Kawarthas Economic Development, as follows:</p>
<p>That Report PKED17-003 and supporting presentation, providing the Peterborough & the Kawarthas Economic Development 2017 Second Quarter Report be received.</p>
<p>9.</p>
<br>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of September 11, 2017</p>
<p>Page 21</p>
<p>11.  Director, Planning and Development Services</p>
<p>Report PLPD17-002 Urban Park Development</p>
<p>That Council approve the recommendations outlined in Report PLPD17-002 dated September 5, 2017, of the Director, Planning and Development Services, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>That the presentation on the Urban Park be received by Council.</p>
<p>That the conceptual design of the Urban Park be approved, in accordance with Exhibit B attached to Report PLPD17-002;</p>
<p>That Staff be authorized to prepare a Request for Proposals for a building fronting on King Street that contains space for private sector use and public space needed in support of the Urban Park; and</p>
<p>d)</p>
<p>That the Urban Park operating costs, including 1.3 FTE staff, be included in the 2019 budget.</p>
<br>
<p>12.  Director, Planning and Development Services</p>
<p>Report PLPD17-038 Closure of a Portion of Louis Street</p>
<p>That Council approve the recommendations outlined in Report PLPD17-038 dated September 5, 2017, of the Director, Planning and Development Services, as follows:</p>
<p>a)</p>
<p>That  a  by-law  be  passed  to  stop  up  and  close  a  portion  of  Louis Street,  from  Charlotte  Street  to  the  north  limit  of  the  driveway entrance  serving  the  building  at  191  Charlotte  Street  in  accordance with Exhibit ‘C’ attached to Report PLPD17-038; and</p>
<p>b)</p>
<p>That  a  by-law  be  passed  to  convert  the  remaining  portion  of  Louis Street to a two-way street.</p>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of September 11, 2017</p>
<p>Page 22</p>
<p>13.  City Solicitor and Director of Legal Services</p>
<p>Report OCS17-005 Comprehensive Animal By-law Amendments</p>
<p>a)</p>
<p>That Animal By-laws #16-079 and 1984-138 be repealed;</p>
<br>
<br>
<br>
<br>
<br>
<p>That the draft by-law as amended, as attached to Report OCS17-005, be adopted, which includes exotic animal provisions dealing with reptiles;</p>
<p>That chickens be prohibited in the City except for in agricultural zones and that a provision be included allowing existing chickens for up to two years, from the date of passing of this by-law, be included in the by-law; and</p>
<p>That Staff be directed to make the necessary revisions to the draft by-law attached to Report OCS17-005 to comply with Council's direction.</p>
<br>
<p>14.  Director of Corporate Services</p>
<p>Report CPFS17-036 Award of RFP P-33-16 for an Enterprise Resource Planning Software Solution</p>
<p>That Council approve the recommendations outlined in Report CPFS17-036 dated September 5, 2017, of the Director of Corporate Services, as follows:</p>
<p>That RFP document P-33-16 for the supply and installation of an enterprise resources planning software solution be awarded to BlueIT Group Inc., 439 University Avenue, 5th Floor, Toronto, Ontario, M5G 2N8, at a total cost of $3,876,849.00 plus $503,990.37 HST for a total of $4,380,839.37 for Phase One of the project.</p>
<p>That SAP (SAP Canada Inc.) become the enterprise resource planning software solution of record.</p>
<p>That the budget include a Contingency Provision in the amount of $420,919 that may be added to the contract at the discretion of the Director of Corporate Services and a Staffing Backfill Provision in the amount of $500,000.</p>
<p>That staff provide an update report on Phase One and seek Council approval on Phases Two and Three.</p>
<p>b)</p>
<p>c)</p>
<p>d)</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>d)</p>
<p>City Council Minutes</p>
<p>Meeting of September 11, 2017</p>
<p>Page 23</p>
<p>15.  Chief Administrative Officer</p>
<p>Report CAO17-008 Business Improvement Area By-laws</p>
<br>
<br>
<br>
<br>
<br>
<p>That Council approve the recommendations outlined in Report CAO17-008 dated September 5, 2017, of the Chief Administrative Officer, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>That By-laws 94-06, 1980-142, 1989-2 and Chapters 64 and 66 of the Peterborough Municipal Code be repealed; and</p>
<p>That Council adopts By-law 17-095 attached as Appendix A, being a by-law to implement local policies to guide the operation and conduct of existing and new business improvement areas for the benefit of their members and the residents of Peterborough.</p>
<p>At the meeting of September 11, 2017, as part of the main motion, item c) was added as follows:</p>
<p>c)</p>
<p>That Staff be directed to make minor changes to the By-law and report these changes to Council by email.</p>
<br>
<p>16.  Legalization of Marijuana</p>
<p>That staff provide a report on the potential ramifications for the City, should the legalization of marijuana become law.</p>
<br>
<p>Submitted by,</p>
<p>Councillor Beamer Chair September 5, 2017</p>
<p>City Council Minutes</p>
<p>Meeting of September 11, 2017</p>
<p>Page 24</p>
<p>Committee of the Whole Report No. 13</p>
<p>Meeting of September 11, 2017</p>
<br>
<p>To the Council of The City of Peterborough for consideration at its Meeting held September 11, 2017</p>
<p>The Committee of the Whole as a result of its meeting held on September 11, 2017, recommends as follows:</p>
<p>1.</p>
<p>Chief Administrative Officer Report CAO17-009 Peterborough Solar Projects Corporation Financing</p>
<p>That Council approve the recommendations outlined in Report CAO17-009 dated September 11, 2017, of the Chief Administrative Officer, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>That the City of Peterborough pledge to The Canada Life Assurance Company as Agent for the Lenders in the Credit Agreement with Peterborough Utilities Inc.(PUI), the City’s non-voting shares in Peterborough Solar Projects Corporation to provide PUI’s Lenders recourse only to those shares in the event of a default by PUI;</p>
<p>That the Mayor and the City Clerk are authorized to execute the Securities Pledge Agreement and any other documents related to this Pledge and the Credit Agreement, as required;</p>
<p>That the City’s Share Certificate in Peterborough Solar Projects Corporation be delivered to The Canada Life Assurance Company as Agent for the Lenders or their nominees.</p>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of September 11, 2017</p>
<p>Page 25</p>
<p>2.</p>
<br>
<p>Director of Corporate Services Report CPFS17-050 2017 Debenture Issue That Council approve the recommendations outlined in Report CPFS17-050 dated September 11, 2017, of the Director of Corporate Services, as follows:</p>
<p>a)</p>
<p>That the Director of Corporate Services be authorized to prepare the necessary borrowing by-laws, for Council approval, to borrow funds up to a maximum of $16,478,200 to finance City capital projects, and for terms not to exceed the terms indicated on Appendix A, attached to Report CPFS17-050; and</p>
<p>b)</p>
<p>That the Treasurer be authorized to submit an application to Ontario Infrastructure and Lands Corporation to borrow these funds.</p>
<br>
<p>Submitted by,</p>
<p>Councillor Beamer Chair September 11, 2017</p>
<br>
<br></div>