<!doctype html><div><br>
<br>
<br>
<p>City Council Minutes</p>
<p>City of Peterborough</p>
<p>October 23, 2017</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of City Council held on October 23, 2017, in the</p>
<p>Council Chambers.</p>
<br>
<p>The City Council meeting was called to order at 6:35 p.m. in the Council Chambers, City Hall.</p>
<p>Roll Call: Councillor Baldwin Councillor Beamer Councillor Clarke Councillor Haacke Councillor McWilliams Councillor Pappas Councillor Parnell Councillor Riel Councillor Therrien Councillor Vassiliadis Mayor Bennett</p>
<p>Confirmation of Minutes – October 2 and 10, 2017</p>
<p>Moved by Councillor Pappas, seconded by Councillor Clarke</p>
<p>That the minutes of the meetings of Council held on October 2, 2017 and October 10, 2017 be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>Councillor Pappas declared an Interest in Item 4 of Planning Committee Report No. 10 (Mural at 247 Simcoe Street) as he owns a building that may be involved in a mural project.</p>
<p>City Council Minutes</p>
<p>Meeting of October 23, 2017</p>
<p>Page 2</p>
<p>Councillor Haacke declared an Interest in Item 2 of Planning Committee Report No. 10 (Report PLPD17-047, Removal of “H” – Holding Symbol from the zoning of 175 Hunter Street East), and Item 3 of Planning Committee Report No. 10 (Report PLPD17-046, 1600 Lansdowne Street West), as the owners are clients of his employer.</p>
<p>Delegations</p>
<p>Registered Delegations:</p>
<p>Brianna Salmon, Green UP, made a delegation to Item 5 of Committee of the Whole Report No. 15 (Report USDIR17-008A – Replacing Private Trees as Part of Tree Conservation By-laws).</p>
<p>Delegations Not Registered:</p>
<p>Planning Committee Reports</p>
<p>There were no delegations.</p>
<p>Committee of the Whole Reports</p>
<p>Murray Davenport, made a delegation to Item 5 of Committee of the Whole Report No. 15 (Report USDIR17-008A – Replacing Private Trees as Part of Tree Conservation By- laws).</p>
<p>Emily Straka, 2117 Lorraine Drive, made a delegation to Item 5 of Committee of the Whole Report No. 15 (Report USDIR17-008A – Replacing Private Trees as Part of Tree Conservation By-laws).</p>
<p>Planning Committee Report Number 10</p>
<p>Moved by Councillor Parnell, seconded by Councillor McWilliams</p>
<p>That Report Number 10 of the Planning Committee meeting of October 10, 2017 be approved.</p>
<p>The Mayor separated the items due to the declared interests.</p>
<p>City Council Minutes</p>
<p>Meeting of October 23, 2017</p>
<p>Page 3</p>
<p>Item 1 – Report PLPD17-049, Removal of Holding Symbol from 1657 College Park Drive</p>
<p>Upon Item 1, the motion carried.</p>
<p>Item 2 – Report PLPD17-047, Removal of “H” – Holding Symbol from the zoning of 175 Hunter Street East</p>
<p>Due to his previously declared interest, Councillor Haacke did not discuss or vote on the matter.</p>
<p>Upon item 2, the motion carried.</p>
<p>Item 3 – Report PLPD17-046, 1600 Lansdowne Street West</p>
<p>Due to his previously declared interest, Councillor Haacke did not discuss or vote on the matter.</p>
<p>Upon item 3, the motion carried,</p>
<p>Item 4 – Mural at 247 Simcoe Street</p>
<p>Due to his previously declared interest, Councillor Pappas did not discuss or vote on this item.</p>
<p>Upon item 4, the motion carried.</p>
<p>Committee of the Whole Report Number 15</p>
<p>Moved by Councillor Beamer, seconded by Councillor Clarke</p>
<p>That Report Number 15 of the Committee of the Whole meeting of October 16, 2017 be approved.</p>
<p>Items 5 and 7 were separated for consideration.</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of October 23, 2017</p>
<p>Page 4</p>
<p>Item 5 – Report USDIR17-008A, Replacing Private Trees as Part of Tree Conservation By-laws</p>
<p>Moved by Councillor Pappas, seconded by Councillor Haacke</p>
<p>That the matter be deferred to allow staff an opportunity to investigate an incentive program.</p>
<p>Councillor Clarke requested a recorded vote and the Clerk conducted a roll call.</p>
<p>In support of Motion Councillor Haacke Councillor Pappas Councillor Beamer Councillor Vassiliadis Councillor Riel</p>
<p>Opposed to Motion Councillor Clarke Councillor Baldwin Councillor Parnell Councillor McWilliams Councillor Therrien Mayor Bennett</p>
<p>Upon the motion to defer, the motion lost.</p>
<p>Upon the main motion, the motion carried.</p>
<p>Item 7 – Report COU17-001, Council Appointments to Boards and Committees</p>
<p>Councillor Baldwin requested that item d) xiii), the appointments to the Peterborough Police Services Board be separated for consideration.</p>
<p>Councillor Baldwin requested a recorded vote and the Clerk conducted a roll call.</p>
<p>In support of Motion Councillor McWilliams Councillor Vassiliadis Councillor Parnell Councillor Beamer Councillor Pappas Councillor Haacke Councillor Clarke Mayor Bennett</p>
<p>Opposed to Motion Councillor Riel Councillor Therrien Councillor Baldwin</p>
<br>
<br>
<br>
<p>Upon the motion, the motion carried.</p>
<p>Upon the remaining appointments in item 7, the motion carried.</p>
<p>City Council Minutes</p>
<p>Meeting of October 23, 2017</p>
<p>Page 5</p>
<br>
<p>Upon items 1, 2, 3, 4, 6, 8, the motion carried.</p>
<p>Notice of Motion</p>
<p>There were no Notices of Motion.</p>
<p>By-laws</p>
<p>Moved by Councillor Parnell, seconded by Councillor Beamer</p>
<p>That the following by-laws be read a first, second and third time:</p>
<p>The Mayor separated By-laws 17-117 and 17-119 due to Councillor Haacke’s previously declared interests.</p>
<p>Councillor Haacke did not discuss or vote on the By-laws:</p>
<p>17-117</p>
<p>Being a By-law to remove the “H” – Holding Symbol from the zoning of the property at 175 Hunter Street East</p>
<p>17-119</p>
<p>Being a By-law to amend the Zoning By-law for the property known as 1600 Lansdowne Street West</p>
<p>Upon by-laws 17-117 and 17-119, the by-laws carried.</p>
<p>That the following by-laws be read a first, second and third time:</p>
<p>17-118</p>
<p>Being a By-law to remove the “H” – Holding Symbol from the zoning of the lands known as 1657 College Park Drive</p>
<p>17-120</p>
<p>17-121</p>
<br>
<br>
<p>Being a By-law to Regulate the Removal and Replacement of Trees in the City of Peterborough, entitled the Tree Conservation By-law</p>
<p>Being a By-law to Regulate the Removal and Replacement of Woodlands in the City of Peterborough entitled the Woodland Conservation By-law</p>
<p>City Council Minutes</p>
<p>Meeting of October 23, 2017</p>
<p>Page 6</p>
<p>17-122</p>
<p>Being a By-Law to Appoint By-law Enforcement Officers to Enforce Tree and Woodland Conservation By-laws</p>
<p>and the said by-laws, having been now read a third time and passed, the Mayor and Clerk be authorized to sign and seal the same.</p>
<p>“CARRIED”</p>
<p>Other Business</p>
<p>It was noted that Town Ward Councillors will host a meeting on Saturday October 28th, 2017 at 3:00 p.m. at St. James Church.</p>
<p>Confirmatory By-law</p>
<p>Moved by Councillor Clarke, seconded by Councillor Parnell</p>
<p>That the following by-law be read a first, second and third time:</p>
<p>17-123</p>
<p>Being a By-law to confirm the proceedings of Council at its meeting held on October 23, 2017.</p>
<p>and the said by-law, having been now read a third time and passed, the Mayor and Clerk be authorized to sign and seal the same.</p>
<p>“CARRIED”</p>
<p>Adjournment</p>
<p>Moved by Councillor Pappas, seconded by Councillor Clarke</p>
<p>That this meeting of City Council adjourn at 7:46 p.m.</p>
<p>“CARRIED”</p>
<br>
<p>John Kennedy City Clerk</p>
<p>Daryl Bennett Mayor</p>
<p>City Council Minutes</p>
<p>Meeting of October 23, 2017</p>
<p>Page 7</p>
<p>Planning Committee Report No. 10</p>
<p>Meeting of October 10, 2017</p>
<br>
<p>To The Council of the City of Peterborough, for consideration at its meeting held October 23, 2017</p>
<p>The Planning Committee, as a result of its meeting held on October 10, 2017 recommends as follows:</p>
<p>1.</p>
<p>Director, Planning and Development Services Report PLPD17-049 Removal of “H” – Holding Symbol 1657 College Park Drive</p>
<p>That Council approve the recommendation outlined in Report PLPD17-049 dated October 10, 2017, of the Director, Planning and Development Services, as follows:</p>
<p>That the ‘H’ Holding Symbol of the zoning of the property at 1657 College Park Drive be removed by changing the zoning from the R.1, 1f, 2e ’H’ Residential District to R.1, 1f, 2e – Residential District in accordance with Exhibit ‘C’ attached to Report PLPD17-049.</p>
<p>Director, Planning and Development Services Report PLPD17-047 Removal of “H” – Holding Symbol from the zoning of 175 Hunter Street East</p>
<p>That Council approve the recommendation outlined in Report PLPD17-047 dated  October  10,  2017,  of  the  Director,  Planning  and  Development Services, as follows:</p>
<p>That the property at 175 Hunter Street East be rezoned from SP.356 – “H”- Residential District to SP.356 – Residential District in accordance with Exhibit “C” attached to Report PLPD14-047.</p>
<br>
<br>
<br>
<br>
<br>
<p>2.</p>
<p>City Council Minutes</p>
<p>Meeting of October 23, 2017</p>
<p>Page 8</p>
<p>3.</p>
<br>
<p>Public Meeting under The Planning Act Director, Planning and Development Services Report PLPD17-046 1600 Lansdowne Street West</p>
<p>That Council approve the recommendation outlined in Report PLPD17-046 dated October 10, 2017, of the Director, Planning and Development Services, as follows:</p>
<p>That the SP.215 – Commercial District be amended to add ‘a veterinary office (excluding boarding or kennel use)’, to the list of permitted uses in accordance with the draft amendment attached as Exhibit ‘C’ to Report PLPD17-046.</p>
<br>
<p>4.  Mural at 247 Simcoe Street</p>
<p>That staff provide a report to the next cycle of Council regarding the mural proposed for the side of the building at 247 Simcoe Street.</p>
<br>
<p>Submitted by,</p>
<p>Councillor Parnell Chair October 10, 2017</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of October 23, 2017</p>
<p>Page 9</p>
<p>Committee of the Whole Report No. 15</p>
<p>Meeting of October 16, 2017</p>
<br>
<p>To the Council of The City of Peterborough for consideration at its Meeting held October 23, 2017</p>
<p>The Committee of the Whole as a result of its meeting held on October 16, 2017, recommends as follows:</p>
<p>1.</p>
<p>Director of Community Services Report CSRS17-008 2018 Special Olympics Ontario School Championships</p>
<p>That Council approve the recommendation outlined in Report CSRS17-008 dated October 16, 2017, of the Director of Community Services, as follows:</p>
<p>That a financial contribution of $40,000 be provided to support the 2018 Special Olympics Ontario School Championships, to be funded from the 2017 Capital Levy Reserve.</p>
<p>Director of Corporate Services Report CPFS17-063 Community Major Capital Funding Requests Policy</p>
<p>That Council approve the recommendation outlined in Report CPFS17-063 dated October 16, 2017, of the Director of Corporate Services, as follows:</p>
<p>That the Community Major Capital Funding Requests Policy attached to Report CPFS17-063 as Appendix A, be approved.</p>
<p>City Clerk Report CPCLK17-020 Citizen Appointments</p>
<p>That Council approve the recommendations outlined in Report CPCLK17- 020, dated October 16, 2017, of the City Clerk, as follows:</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>2.</p>
<br>
<p>3.</p>
<br>
<br>
<br>
<br>
<br>
<p>4.</p>
<br>
<p>5.</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>a)</p>
<p>b)</p>
<p>City Council Minutes</p>
<p>Meeting of October 23, 2017</p>
<p>Page 10</p>
<p>That Lynda Staples be appointed to the Accessibility Advisory Committee for Accessibility Advisory Committee for term ending November 30, 2021;</p>
<p>That Pete Dalliday and Ashley Matheson-Vititoe be appointed to the Arenas, Parks and Recreation Advisory Committee for terms ending November 30, 2021; and,</p>
<p>That Amber Groeneweg be appointed to the Property Standards Committee for a term ending on August 31, 2018.</p>
<p>City Clerk Report CPCLK17-019 Peterborough Police Services Board Business Plan Presentation</p>
<p>That Council approve the recommendation outlined in Report CPCLK17- 019 dated October 16, 2017, of the City Clerk, as follows:</p>
<p>That the presentation from the Peterborough Police Service Board be received for information.</p>
<p>Director of Utility Services Report USDIR17-008A Replacing Private Trees as Part of Tree Conservation By-laws</p>
<p>That Council approve the recommendations outlined in Supplemental Report USDIR17-008A, dated October 16, 2017 of the Director of Utility Services as follows:</p>
<p>That the existing Tree By-law 97-68, be repealed;</p>
<p>That Paragraph 1 of Schedule C of the Tree Replacement By-law (Appendix A to Report USDIR17-008) be replaced with the following:</p>
<p>“Permitted removal of a Tree/s or a Stature Tree/s in a healthy condition, not subject to an exemption under the Planning Act, shall be replaced at the following ratios:</p>
<p>City Council Minutes</p>
<p>Meeting of October 23, 2017</p>
<p>Page 11</p>
<br>
<br>
<p>Trunk Diameter of Healthy Tree Removed 15 – 30 cm (DBH) 31 – 40 cm (DBH) 41 – 50 cm (DBH) Greater than 50 cm (DBH)</p>
<p>Number of Replacement Trees Required One Two Three Four</p>
<p>On properties not subject to an exemption under the Planning Act in Part IV of this by-law the minimum size of replacement tree will be 6ft (2m) in height (20 mm caliper) for deciduous trees and 4ft (1.3m) for coniferous trees.</p>
<p>Where there is insufficient space to plant on the Owners property then the Owner shall pay to the City its prior year average contracted tree planting cost to purchase and plant the required number of Replacement Trees on publicly-owned property in accordance with City Tree Planting Specification CP801.01.”</p>
<p>That the Tree Conservation By-law attached as Appendix A to Report USDIR17-008 and amended by Recommendation b) of Report USDIR17-008a be approved with a period of public education/consultation to follow for the reasons recommended in Report USDIR17-008;</p>
<p>That the Woodland Conservation By-law attached as Appendix B to Report USDIR17-008 be approved with a period of public education/consultation to follow for the reasons recommended in Report USDIR17-008;</p>
<p>That Council pass a By-law appointing The Urban Forest Manager and Urban Forest Technologist  as By-law Appointment Officers under Part XI of the Tree Conservation By-law and under Part VI of the Woodland Conservation By-law;</p>
<p>That a committee be established by Council to conduct hearings regarding Tree and Woodland By-law Permit appeals, with such terms of reference as set out in Schedule “D” of both the Tree and Woodland By-laws;</p>
<p>That the 2017 User Fee By-law be amended to include the Permit fees as detailed in Schedule E of the Tree Conservation By-law attached as Appendix A of this report;</p>
<p>c)</p>
<p>d)</p>
<p>e)</p>
<p>f)</p>
<p>g)</p>
<p>City Council Minutes</p>
<p>Meeting of October 23, 2017</p>
<p>Page 12</p>
<br>
<p>6.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>h)</p>
<p>i)</p>
<p>That the 2017 User Fee By-law be amended to include the Permit fees as detailed in Schedule C of the Woodland Conservation By-law attached as Appendix B of this report, and.</p>
<p>That Staff undertake the public education/consultation identified in Recommendations c) and d) following the introduction of the by-laws and report back to Council in the spring of 2019 on the results of this process with any changes that may be required to the by-laws.</p>
<p>Director of Planning and Development Services Report PLPD17-045 Peterborough Airport PCB Investigation Work Plan Engineering Fee Increase for Phase 2</p>
<p>That Council approve the recommendations outlined in Report PLPD17-045 dated October 16, 2017, of the Director, Planning and Development Services, as follows:</p>
<p>a)</p>
<p>That the contract for consulting services with Cambium Inc., 52 Hunter Street East, Peterborough, Ontario K9H 1G5, be increased by $35,000.00 from $212,100.00 to $247,100.00 to cover additional fees and expenses related to sampling, chemical analyses and project management for the Peterborough Airport PCB Sampling and Delineation Program Phase 2; and</p>
<p>b)</p>
<p>That staff report back on necessary further steps based on further review by the Ministry of the Environment and Climate Change (MOECC).</p>
<br>
<p>7.  Mayor Daryl Bennett</p>
<p>Report COU17-001 Council Appointments to Committees and Boards</p>
<p>That Council approve the recommendations outlined in Report COU17-001, dated October 16, 2017, as follows:</p>
<p>That the following appointments of Members of Council to Committees, Portfolios and Boards be approved for a one-year term ending November 30, 2018, with the appointments as follow:</p>
<br>
<p>a)</p>
<p>City Council Minutes</p>
<p>Meeting of October 23, 2017</p>
<p>Page 13</p>
<p>Standing committees</p>
<p>Budget Committee (all Members of Council)</p>
<p>Henry Clarke, Chair Andrew Beamer, Vice Chair</p>
<p>Committee of the Whole (all Members of Council)</p>
<p>Planning Committee (all Members of Council)</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Andrew Beamer, Chair Dean Pappas, Vice Chair</p>
<p>Lesley Parnell, Chair Dean Pappas, Vice Chair</p>
<p>Audit Committee</p>
<p>Daryl Bennett Henry Clarke, Chair Gary Baldwin, Vice Chair Don Vassiliadis Andrew Beamer</p>
<p>Deputy Mayor</p>
<p>Henry Clarke, First Deputy Mayor Dan McWilliams, Second Deputy Mayor</p>
<p>b)</p>
<p>Portfolios</p>
<p>Dean Pappas, Chair of Arts, Culture and Heritage Portfolio Henry Clarke, Chair of Finance Portfolio Dan McWilliams, Chair of Fire Services Portfolio Don Vassiliadis, Vice-Chair of Fire Services Portfolio Lesley Parnell, Chair of Public Works Portfolio Keith Riel, Chair of Social Services Portfolio Don Vassiliadis, Chair of Transportation Portfolio Andrew Beamer, Chair of Waste Management Portfolio Dean Pappas, Chair of Diversity Portfolio Keith Riel, Chair of Seniors Portfolio Dave Haacke, Chair of Arenas Portfolio Gary Baldwin, Chair of Parks & Recreation Portfolio</p>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of October 23, 2017</p>
<p>Page 14</p>
<p>Diane Therrien, Chair of Youth Portfolio Dan McWilliams, Vice-Chair of Economic Development Portfolio</p>
<p>Daryl Bennett, Chair of the following portfolios:</p>
<p>Economic Development Governance Human Resources Intergovernmental Relations Public Relations Strategic Initiatives Specific committee appointments such as the Eastern Ontario Mayors’ Committee and legislative responsibilities.</p>
<p>Advisory Committees</p>
<p>Affordable Housing Action Committee</p>
<br>
<br>
<p>c)</p>
<p>Arenas, Parks and Recreation Advisory Committee</p>
<p>Arts, Culture and Heritage Advisory Committee</p>
<p>Diane Therrien</p>
<p>Dave Haacke Gary Baldwin</p>
<p>Lesley Parnell Dean Pappas</p>
<p>Boundary Committee</p>
<p>Daryl Bennett Andrew Beamer Henry Clarke Dan McWilliams</p>
<p>i)</p>
<br>
<p>ii)</p>
<br>
<p>iii)</p>
<br>
<p>iv)</p>
<p>v)</p>
<p>Cenotaph Advisory Committee</p>
<p>Henry Clarke</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of October 23, 2017</p>
<p>Page 15</p>
<p>Citizen Appointment Selection Committee</p>
<p>vii)  Community Investment Grants Advisory Committee</p>
<p>viii)  Museum and Archives Advisory Committee</p>
<p>Procedural By-law Review Committee</p>
<p>vi)</p>
<br>
<p>ix)</p>
<p>x)</p>
<br>
<p>xi)</p>
<p>i)</p>
<br>
<p>Andrew Beamer Henry Clarke Dave Haacke Dan McWilliams Dean Pappas</p>
<p>Dan McWilliams Keith Riel</p>
<p>Keith Riel</p>
<p>Daryl Bennett Henry Clarke</p>
<p>Youth Commission</p>
<p>Diane Therrien</p>
<p>Keith Riel</p>
<p>Keith Riel</p>
<p>Andrew Beamer Dean Pappas Don Vassiliadis</p>
<p>Age-friendly Peterborough Advisory Committee</p>
<p>Corporations and Legislatively Mandated Committees / Boards / Authorities</p>
<p>d)</p>
<br>
<p>Accessibility Advisory Committee</p>
<p>ii)</p>
<p>City/County Waste Management Committee</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of October 23, 2017</p>
<p>Page 16</p>
<p>City of Peterborough Holdings Inc.</p>
<p>East City/Ashburnham Business Improvement Area</p>
<p>Fairhaven Committee of Management</p>
<p>Joint Services Steering Committee</p>
<p>iii)</p>
<p>iv)</p>
<p>v)</p>
<p>vi)</p>
<p>ix)</p>
<p>x)</p>
<p>xi)</p>
<p>Daryl Bennett Dan McWilliams</p>
<p>Keith Riel</p>
<p>Dave Haacke Keith Riel</p>
<p>Keith Riel Andrew Beamer Henry Clarke Gary Baldwin</p>
<p>Dean Pappas</p>
<p>Daryl Bennett Andrew Beamer Don Vassiliadis</p>
<p>Gary Baldwin Henry Clarke Lesley Parnell</p>
<p>Diane Therrien</p>
<p>Gary Baldwin Keith Riel</p>
<p>vii)  Peterborough Architectural Conservation Advisory Committee</p>
<p>viii)  Otonabee Region Conservation Authority</p>
<p>Peterborough County-City Health Unit</p>
<p>Peterborough Downtown Business Improvement Area</p>
<p>Peterborough Public Library Board</p>
<br>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of October 23, 2017</p>
<p>Page 17</p>
<p>xii)  Peterborough Utilities Commission</p>
<p>Daryl Bennett Gary Baldwin Dave Haacke Lesley Parnell Don Vassiliadis</p>
<p>Daryl Bennett Dan McWilliams</p>
<p>xiii)  Peterborough Police Services Board</p>
<p>i)</p>
<p>ii)</p>
<br>
<p>iv)</p>
<br>
<p>v)</p>
<p>Liaison Committees</p>
<p>e)</p>
<p>Art Gallery of Peterborough, Board of Directors</p>
<p>Gary Baldwin</p>
<p>Downtown Action Committee</p>
<p>Daryl Bennett Diane Therrien Dean Pappas</p>
<p>iii)  Greater Peterborough Chamber of Commerce</p>
<p>Daryl Bennett</p>
<p>Liaison Committee with Fleming College</p>
<p>Liaison Committee with Trent University</p>
<p>Daryl Bennett Diane Therrien Lesley Parnell</p>
<p>Daryl Bennett Andrew Beamer Dean Pappas Don Vassiliadis</p>
<p>City Council Minutes</p>
<p>Meeting of October 23, 2017</p>
<p>Page 18</p>
<p>vi)  Multicultural Canada Day Committee</p>
<p>Dean Pappas</p>
<p>vii)  Peterborough Agricultural Society</p>
<p>Dave Haacke</p>
<p>viii)  Peterborough Housing Authority</p>
<p>Andrew Beamer</p>
<br>
<br>
<br>
<br>
<p>8.</p>
<p>City Clerk Report CPCLK17-018 Award of RFP P-19-17, for Internet and Tabulator Voting Solution</p>
<p>That Council approve the recommendation outlined in Report CPCLK17- 018, dated October 16, 2017 of the City Clerk, as follows:</p>
<p>That RFP P-19-17 for an Internet and Tabulator Voting Solution for the City of Peterborough be awarded to Dominion Voting Systems Corporation, 200-215 Spadina Avenue, Toronto Ontario M5T 2C7, for a two election term, at a cost of $269,816 plus H.S.T. of $35,076.08, for a total of $304,892.08.</p>
<p>Submitted by,</p>
<p>Councillor Beamer Chair October 16, 2017</p>
<br>
<br></div>