<!doctype html><div><br>
<br>
<p>CITY COUNCIL MINUTES</p>
<p>CITY OF PETERBOROUGH</p>
<br>
<p>JULY 6, 2009</p>
<br>
<p>DRAFT MINUTES NOT APPROVED</p>
<br>
<br>
<br>
<br>
<br>
<p>MINUTES  OF  A  MEETING  OF  CITY  COUNCIL  HELD  ON  JULY  6,  2009,  IN</p>
<p>THE COUNCIL CHAMBERS, CITY HALL</p>
<br>
<p>Meeting called to order at 6:30 p.m. in the Council Chambers.</p>
<p>Roll Call: Councillor Doris Councillor Farquharson Councillor Clarke Councillor Martin Councillor Peacock Councillor Vass Councillor Eggleton Councillor Peeters Councillor Pappas Mayor Ayotte</p>
<p>Absent Councillor Hall</p>
<p>Confirmation of Minutes</p>
<p>Moved by Councillor Clarke, seconded by Councillor Pappas</p>
<p>That the minutes of the meeting of Council held on June 15, 2009 be confirmed.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>Councillor Clarke declared an interest in items 1, 2 and 3 of Committee of Whole Report No. 14 as his spouse is the administrator for Home Grown Homes.</p>
<p>Councillor Doris declared an interest in item 13 of Committee of Whole Report No. 14 as his daughter is a member of the Little Lake Cemetery Board. .</p>
<br></div>