<!doctype html><div><br>
<br>
<p>CITY COUNCIL MINUTES</p>
<p>CITY OF PETERBOROUGH</p>
<br>
<p>OCTOBER 5, 2009</p>
<br>
<br>
<br>
<p>DRAFT MINUTES NOT APPROVED</p>
<br>
<br>
<br>
<br>
<br>
<p>MINUTES OF A MEETING OF CITY COUNCIL HELD ON OCTOBER 5, 2009,</p>
<p>IN THE COUNCIL CHAMBERS, CITY HALL</p>
<br>
<p>Meeting called to order at 6:54 p.m. in the Council Chambers.</p>
<p>Roll Call: Councillor Doris Councillor Hall Councillor Clarke Councillor Martin Councillor Peacock Councillor Vass Councillor Eggleton Councillor Peeters Councillor Pappas Mayor Ayotte</p>
<p>Absent: Councillor Farquharson</p>
<p>Confirmation of Minutes</p>
<p>Moved by Councillor Clarke, seconded by Councillor Pappas</p>
<p>That the minutes of the meeting of Council held on September 14, 2009 be confirmed.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>Council Pappas indicated an interest in item #3 of Planning Report 13 and the associated by- laws, as his extended family lives near by the property of discussion.</p>
<br></div>