<!doctype html><div><br>
<br>
<p>CITY COUNCIL MINUTES</p>
<p>CITY OF PETERBOROUGH</p>
<br>
<p>SEPTEMBER 14, 2009</p>
<br>
<br>
<br>
<p>DRAFT MINUTES NOT APPROVED</p>
<br>
<br>
<br>
<br>
<br>
<p>MINUTES  OF  A  MEETING  OF  CITY  COUNCIL  HELD  ON  SEPTEMBER  14,</p>
<p>2009, IN THE COUNCIL CHAMBERS, CITY HALL</p>
<br>
<p>Meeting called to order at 6:40 p.m. in the Council Chambers.</p>
<p>Roll Call: Councillor Doris Councillor Farquharson Councillor Hall Councillor Clarke Councillor Martin Councillor Peacock Councillor Vass Councillor Eggleton Councillor Peeters Councillor Pappas Mayor Ayotte</p>
<p>Ceremonial Presentations</p>
<p>Mayor’s Youth Awards</p>
<p>Councillor Eggleton introduced the Mayor’s Youth Award recipients.</p>
<p>Mayor Ayotte presented a Mayor’s Youth Award Certificate to Meghan Gagliardi and Michael Da Silva.</p>
<p>Certificate of Commendation</p>
<p>On behalf of the Governor General of Canada, Mayor Ayotte presented a Certificate of Commendation to Stanley Beacham.</p>
<br></div>