<!doctype html><div><br>
<br>
<p>CITY COUNCIL MINUTES</p>
<p>CITY OF PETERBOROUGH</p>
<br>
<p>OCTOBER 26, 2009</p>
<br>
<br>
<br>
<p>DRAFT MINUTES NOT APPROVED</p>
<br>
<br>
<br>
<br>
<br>
<p>MINUTES  OF  A  MEETING  OF  CITY  COUNCIL  HELD  ON  OCTOBER  26,</p>
<p>2009, IN THE COUNCIL CHAMBERS, CITY HALL</p>
<br>
<p>Meeting called to order at 6:50 p.m. in the Council Chambers.</p>
<p>Roll Call: Councillor Doris Councillor Hall Councillor Clarke Councillor Martin Councillor Peacock Councillor Vass Councillor Eggleton Councillor Peeters Councillor Pappas Councillor Farquharson Mayor Ayotte</p>
<p>Confirmation of Minutes</p>
<p>Moved by Councillor Clarke, seconded by Councillor Eggleton</p>
<p>That the minutes of the meeting of Council held on October 5, 2009 be confirmed.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>Councillor Pappas declared an interest in Item 6, Committee of the Whole Report 20 as he had declared an interest in the original discussion on this property and indicated that he wanted to be consistent.</p>
<br></div>