<!doctype html><div><br>
<br>
<p>CITY COUNCIL MINUTES</p>
<p>CITY OF PETERBOROUGH</p>
<br>
<p>NOVEMBER 16, 2009</p>
<br>
<br>
<br>
<p>DRAFT MINUTES NOT APPROVED</p>
<br>
<br>
<br>
<br>
<br>
<p>MINUTES  OF  A  MEETING  OF  CITY  COUNCIL  HELD  ON  NOVEMBMER  16,</p>
<p>2009, IN THE COUNCIL CHAMBERS, CITY HALL</p>
<br>
<p>Meeting called to order at 6:30 p.m. in the Council Chambers.</p>
<p>Roll Call: Councillor Doris Councillor Hall Councillor Clarke Councillor Martin Councillor Peacock Councillor Vass Councillor Eggleton Councillor Peeters Councillor Pappas Councillor Farquharson Mayor Ayotte</p>
<p>Ceremonial Presentation</p>
<p>Long Standing Service Recognition Award</p>
<p>On behalf of the Minister of Municipal Affairs and Housing, Jeff Leal MPP presented a Long Standing Service Recognition Award to Mayor Ayotte.</p>
<p>Confirmation of Minutes</p>
<p>Moved by Councillor Pappas, seconded by Councillor Clarke</p>
<p>That the minutes of the meeting of Council held on October 26, 2009 be confirmed.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<br>
<br></div>