<!doctype html><div><br>
<br>
<p>CITY COUNCIL MINUTES</p>
<p>CITY OF PETERBOROUGH</p>
<br>
<p>MARCH 1, 2010</p>
<br>
<br>
<br>
<p>DRAFT MINUTES NOT APPROVED</p>
<br>
<br>
<br>
<br>
<br>
<p>MINUTES OF A MEETING OF CITY COUNCIL HELD ON MARCH 1, 2010 IN</p>
<p>THE COUNCIL CHAMBERS, CITY HALL</p>
<br>
<p>Meeting called to order at 6:30 p.m. in the Council Chambers.</p>
<p>Roll Call: Councillor Clarke Councillor Doris Councillor Eggleton Councillor Farquharson Councillor Hall Councillor Martin Councillor Pappas Councillor Peacock Councillor Peeters Councillor Vass, 6:42 p.m. Mayor Ayotte</p>
<p>Ceremonial Presentations</p>
<p>A ceremony was held honouring World War I Veterans.</p>
<p>Dave Smith and Gord Herd of Community Living made a presentation to Council of honorary memberships to Community Living.</p>
<p>Ontario Heritage Trust Awards were presented to Andre Vallillee, Chris Gooderham, Geoff Eve, Cathy Dueck, Barb Boysen and Peter Beales.</p>
<p>Confirmation of Minutes</p>
<p>Moved by Councillor Peacock, seconded by Councillor Pappas</p>
<p>That the minutes of the meeting of Council held on February 8, 2009 be approved.</p>
<p>“CARRIED”</p>
<br></div>