<!doctype html><div><p>CITY COUNCIL MINUTES</p>
<p>CITY OF PETERBOROUGH</p>
<br>
<p>APRIL 12, 2010</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>MINUTES OF A MEETING OF CITY COUNCIL HELD ON APRIL 12, 2010 IN</p>
<p>THE COUNCIL CHAMBERS, CITY HALL</p>
<br>
<p>Meeting called to order at 6:32 p.m. in the Council Chambers.</p>
<p>Roll Call: Councillor Clarke Councillor Doris Councillor Eggleton Councillor Farquharson Councillor Hall Councillor Martin Councillor Pappas Councillor Peacock Councillor Peeters Councillor Vass Mayor Ayotte</p>
<p>Confirmation of Minutes</p>
<p>Moved by Councillor Pappas, seconded by Councillor Eggleton</p>
<p>That the minutes of the meeting of Council held on March 22, 2010 be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of interest.</p>
<br></div>