<!doctype html><div><br>
<br>
<p>CITY COUNCIL MINUTES</p>
<p>CITY OF PETERBOROUGH</p>
<br>
<p>MAY 3, 2010</p>
<br>
<br>
<br>
<p>DRAFT MINUTES NOT APPROVED</p>
<br>
<br>
<br>
<br>
<br>
<p>MINUTES  OF  A  MEETING  OF  CITY  COUNCIL  HELD  ON  MAY  3,  2010  IN</p>
<p>THE COUNCIL CHAMBERS, CITY HALL</p>
<br>
<p>Meeting called to order at 6:32 p.m. in the Council Chambers.</p>
<p>Roll Call: Councillor Clarke Councillor Doris Councillor Eggleton Councillor Farquharson Councillor Hall Councillor Martin Councillor Pappas Councillor Peacock Councillor Peeters Councillor Vass Mayor Ayotte</p>
<p>Confirmation of Minutes</p>
<p>Moved by Councillor Clarke, seconded by Councillor Pappas</p>
<p>That the minutes of the meeting of Council held on April 12, 2010 be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>Councillor Clarke indicated an interest to Committee of Whole Report 10, Item 16, as he is employed by PepsiCo, a major supplier of bottled water.</p>
<p>Councillor Pappas indicated an interest to Committee of Whole Report 10, Item 14, as he is involved in the Earth Hour organization.</p>
<p>Councillor Martin indicated an interest to Committee of the Whole Report 10, Item 15, as he is involved with the Peterborough New Year's Celebrations.</p>
<br></div>