<!doctype html><div><br>
<br>
<p>CITY COUNCIL MINUTES</p>
<p>CITY OF PETERBOROUGH</p>
<br>
<p>MAY 25, 2010</p>
<br>
<p>DRAFT MINUTES NOT APPROVED</p>
<br>
<br>
<br>
<br>
<br>
<p>MINUTES  OF  A  MEETING  OF  CITY  COUNCIL  HELD  ON  MAY  25,  2010,  IN</p>
<p>THE COUNCIL CHAMBERS, CITY HALL</p>
<br>
<p>Meeting called to order at 6:56 p.m. in the Council Chambers.</p>
<p>Roll Call: Councillor Doris Councillor Eggleton Councillor Farquharson Councillor Hall Councillor Clarke Councillor Martin Councillor Pappas Councillor Peacock Councillor Peeters Councillor Vass Mayor Ayotte</p>
<p>Confirmation of Minutes, May 3, 2010</p>
<p>Moved by Councillor Clarke seconded by Councillor Pappas</p>
<p>That the minutes of the meeting of Council held on May 3, 2010 be confirmed.</p>
<p>“CARRIED”</p>
<p>Confirmation of Minutes, May 17, 2010</p>
<p>Moved by Councillor Pappas, seconded by Councillor Peacock</p>
<p>That the minutes of the meeting of Council held on May 17, 2010 be confirmed.</p>
<p>“CARRIED”</p>
<br></div>