<!doctype html><div><br>
<br>
<p>CITY COUNCIL MINUTES</p>
<p>CITY OF PETERBOROUGH</p>
<br>
<p>AUGUST 9, 2010</p>
<br>
<p>DRAFT MINUTES NOT APPROVED</p>
<br>
<br>
<br>
<br>
<br>
<p>MINUTES OF A MEETING OF CITY COUNCIL HELD ON AUGUST 9, 2010 IN</p>
<p>THE COUNCIL CHAMBERS, CITY HALL</p>
<br>
<p>Meeting called to order at 6:50 p.m. in the Council Chambers.</p>
<p>Roll Call: Councillor Doris Councillor Eggleton Councillor Farquharson Councillor Hall Councillor Clarke Councillor Martin Councillor Pappas Councillor Peacock Councillor Peeters Councillor Vass Mayor Ayotte</p>
<p>Ceremonial Presentations</p>
<p>Brenda McCarrell, President, Peterborough/Haliburton/Northumberland Branch, Canadian Red Cross presented Mayor Ayotte with a Haiti Earthquake Relief Effort Appreciation Plaque.</p>
<p>Tina Johnston, Chair, Sponsorship Committee, International Dragon Boat Festival 2010, presented Mayor Ayotte with an Appreciation Plaque.</p>
<p>Confirmation of Minutes, July 5, 2010</p>
<p>Moved by Councillor Clarke, seconded by Councillor Pappas</p>
<p>That the minutes of the meeting of Council held on July 5, 2010 be confirmed.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of interest.</p>
<br></div>