<!doctype html><div><br>
<br>
<p>CITY COUNCIL MINUTES</p>
<p>CITY OF PETERBOROUGH</p>
<br>
<p>DECEMBER 13, 2010</p>
<br>
<p>DRAFT MINUTES NOT APPROVED</p>
<br>
<br>
<br>
<br>
<br>
<p>MINUTES  OF  A  MEETING  OF  CITY  COUNCIL  HELD  ON  DECEMBER  13,</p>
<p>2010 IN THE COUNCIL CHAMBERS, CITY HALL</p>
<br>
<p>Meeting called to order at 6:30 p.m. in the Council Chambers.</p>
<p>Roll Call: Councillor Beamer Councillor Clarke Councillor Doris Councillor Hall Councillor Juby Councillor McWilliams Councillor Pappas Councillor Parnell Councillor Riel Councillor Vass Mayor Bennett</p>
<p>Confirmation of Minutes, September 13, 2010, October 4, 2010, October 12, 2010 and December 6, 2010</p>
<p>Moved by Councillor Clarke, seconded by Councillor Pappas</p>
<p>That  the  minutes  of  the  meeting  of  Council  held  on  September  13,  2010,  October  4, 2010, October 12, 2010 be approved.</p>
<p>“CARRIED”</p>
<p>Moved by Councillor Clarke, seconded by Councillor McWilliams</p>
<p>That the minutes of the meeting of Council held on December 6, 2010 be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of interest.</p>
<br></div>