<!doctype html><div><br>
<br>
<p>City Council Minutes</p>
<p>City Of Peterborough</p>
<br>
<p>May 16, 2011</p>
<br>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<p>Minutes  of  a  Meeting  of  City  Council  Held  on  May  16,  2011,  in  the</p>
<p>Council Chambers, City Hall</p>
<br>
<p>Meeting called to order at 6:31 p.m. in the Council Chambers.</p>
<p>Roll Call: Councillor Beamer Councillor Clarke Councillor Doris Councillor Hall Councillor McWilliams Councillor Pappas Councillor Parnell Councillor Riel Councillor Vass Mayor Bennett</p>
<p>Absent: Councillor Juby</p>
<p>Ceremonial Presentations</p>
<p>Lewis Schofield and Madeleine Brown were presented with the Mayor’s Youth Award.</p>
<p>Members of the Peterborough Lakers Lacrosse Team presented the Mayor and Council with the Mann Cup.</p>
<p>Confirmation of Minutes – April 26, 2011</p>
<p>Moved by Councillor Clarke, seconded by Councillor Pappas</p>
<p>That the minutes of the meeting of Council held on April 26, 2011 be approved.</p>
<p>“CARRIED”</p>
<br></div>