<!doctype html><div><br>
<br>
<p>City Council Minutes</p>
<p>City Of Peterborough</p>
<br>
<p>June 6, 2011</p>
<br>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<p>Minutes  of  a  Meeting  of  City  Council  Held  on  June  6,  2011,  in  the</p>
<p>Council Chambers, City Hall</p>
<br>
<p>Meeting called to order at 7:04 p.m. in the Council Chambers.</p>
<p>Roll Call: Councillor Beamer Councillor Clarke Councillor Doris Councillor Hall Councillor Juby Councillor McWilliams Councillor Pappas Councillor Parnell Councillor Riel Councillor Vass Mayor Bennett</p>
<p>Ceremonial Presentations</p>
<p>Stephen  Kylie,  Chairman,  City  of  Peterborough  Holdings  Inc.  and  John  Stephens, President  &  CEO,  City  of  Peterborough  Holdings  Inc.  provided  an  update  on  their annual financial report.</p>
<p>Moved by Councillor Clarke, seconded by Councillor Beamer</p>
<p>That the annual City of Peterborough Holdings Inc. presentation and consolidated financial report be received;</p>
<p>And</p>
<p>Whereas  the  Corporation  of  the  City  of  Peterborough  is  the  sole  Shareholder  of City  of  Peterborough  Holdings  Inc.,  and  Council  has  determined  that  it  is appropriate  to  pass  the  following  resolution  to  fulfill  the  annual  requirements  of the Ontario Business Corporations Act;</p>
<br></div>