<!doctype html><div><br>
<br>
<p>City Council Minutes</p>
<p>City Of Peterborough</p>
<br>
<p>August 2, 2011</p>
<br>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<p>Minutes  of  a  Meeting  of  City  Council  Held  on  August  2,  2011  in  the</p>
<p>Council Chambers, City Hall</p>
<br>
<p>Meeting called to order at 6:30 p.m. in the Council Chambers.</p>
<p>Roll Call: Councillor Beamer Councillor Clarke Councillor Doris Councillor Juby Councillor Hall Councillor McWilliams Councillor Pappas Councillor Parnell Councillor Riel Councillor Vass Mayor Bennett</p>
<p>Confirmation of Minutes – June 27, 2011</p>
<p>Moved by Councillor Clarke, seconded by Councillor Pappas</p>
<p>That the minutes of the meeting of Council held on June 27, 2011 be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>Councillor Juby indicated an interest in Item 3 of Committee of Whole Report 8 as he is employed by Century 21.</p>
<p>Councillor Juby indicated an interest in Item 4 of Committee of the Whole Report as he is the salesman of record on this matter.</p>
<p>Councillor Clarke indicated an interest in Item 1 of Committee of Whole Report 8 as his spouse works for Home Grown Homes.</p>
<br></div>