<!doctype html><div><br>
<br>
<p>City Council Minutes</p>
<p>City Of Peterborough</p>
<br>
<p>October 24, 2011</p>
<br>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of City Council Held on October 24, 2011 in the</p>
<p>Council Chambers, City Hall</p>
<br>
<p>Meeting called to order at 6:30 p.m. in the Council Chambers.</p>
<p>Roll Call: Councillor Beamer Councillor Clarke Councillor Doris Councillor Juby Councillor Hall Councillor McWilliams Councillor Pappas Councillor Parnell Councillor Riel Councillor Vass Mayor Bennett</p>
<p>A Remembrance Day Observance Service was led by Councillor Clarke.</p>
<p>Confirmation of Minutes – October 3, 2011</p>
<p>Moved by Councillor Clarke, seconded by Councillor Pappas</p>
<p>That the minutes of the meeting of Council held on October 3, 2011 be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>Councillor Hall declared an interest in item 6 (Report COU11-007, School Board School Closure), on Committee of the Whole report number 17 as he is employed with the Kawartha Pine Ridge District School Board.</p>
<br>
<br></div>