<!doctype html><div><br>
<br>
<p>City Council Minutes</p>
<p>City Of Peterborough</p>
<br>
<p>January 30, 2012</p>
<br>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of City Council Held on January 30, 2012</p>
<p>in the Council Chambers, City Hall</p>
<br>
<p>Meeting called to order at 6:41 p.m. in the Council Chambers.</p>
<p>Roll Call: Councillor Beamer Councillor Clarke Councillor Juby Councillor Hall Councillor McWilliams Councillor Pappas Councillor Parnell Councillor Riel Councillor Vass Mayor Bennett</p>
<p>Absent: Councillor Doris</p>
<p>Mayor Bennett advised that he had spoken to Councillor Doris during the day and that he  is  doing  well  after  his  recent  illness  and  wished  Council  well  in  their  deliberations tonight.</p>
<p>Confirmation of Minutes – December 12, 2011</p>
<p>Moved by Councillor Clarke, seconded by Councillor Pappas</p>
<p>That  the  minutes  of  the  meeting  of  Council  held  on  December  12,  2011,  be approved.</p>
<p>“CARRIED”</p>
<br></div>