<!doctype html><div><br>
<br>
<p>City Council Minutes</p>
<p>City Of Peterborough</p>
<br>
<p>March 12, 2012</p>
<br>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<p>Minutes  of  a  Meeting  of  City  Council  Held  on  March  12,  2012,  in  the</p>
<p>Council Chambers, City Hall</p>
<br>
<p>Meeting called to order at 6:31 p.m. in the Council Chambers.</p>
<p>Roll Call: Councillor Beamer Councillor Clarke Councillor Doris Councillor Juby Councillor McWilliams Councillor Pappas Councillor Parnell Councillor Riel Mayor Bennett</p>
<p>Absent: Councillor Hall Councillor Vass</p>
<p>Confirmation of Minutes – February 21, 2012</p>
<p>Moved by Councillor Clarke, seconded by Councillor Pappas</p>
<p>That  the  minutes  of  the  meeting  of  Council  held  on  February  21,  2012,  be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>Councillor  McWilliams  declared  an  interest  in  Committee  of Whole  Report  No.  4,  item 11,  Report  USEP12-002  Outboard  Marine  Corporation  of  Canada  Ltd.  –  Continuous Environmental Monitoring Agreement.  He is associated with a company that is involved in the leasing of the property.</p>
<br></div>