<!doctype html><div><br>
<br>
<p>City Council Minutes</p>
<p>City Of Peterborough</p>
<br>
<p>April 2, 2012</p>
<br>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<p>Minutes  of  a  Meeting  of  City  Council  Held  on  April  2,  2012,  in  the</p>
<p>Council Chambers, City Hall</p>
<br>
<p>Meeting called to order at 7:04 p.m. in the Council Chambers.</p>
<p>Roll Call: Councillor Beamer Councillor Clarke Councillor Hall Councillor Juby Councillor McWilliams Councillor Pappas Councillor Parnell Councillor Riel Councillor Vass Mayor Bennett</p>
<p>Regrets: Councillor Doris</p>
<p>Confirmation of Minutes – March 12, 2012</p>
<p>Moved by Councillor Clarke, seconded by Councillor Pappas</p>
<p>That the minutes of the meeting of Council held on March 12, 2012, be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>Councillor Parnell declared an interest in Committee of the Whole Report 5, items 7 and 8; Item 7, Report CSRS12-004, Little Lake Music Festival Fireworks Barge Acquisition as  her  spouse  is  involved  with  operation  of  the  fireworks  and  the  service  club  that provides  them,  and  Item  8,  Report  COU12-003,  Gaming  Opportunity  as  she  is  an employee  of  a  neighbouring  township  that  hosts  a  gaming  facility.    Councillor  Parnell requested that these two items be separated out for discussion.</p>
<br></div>