<!doctype html><div><br>
<br>
<p>City Council Minutes</p>
<p>City Of Peterborough</p>
<br>
<p>April 23, 2012</p>
<br>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<p>Minutes  of  a  Meeting  of  City  Council  Held  on  April  23,  2012,  in  the</p>
<p>Council Chambers, City Hall</p>
<br>
<p>Meeting called to order at 6:30 p.m. in the Council Chambers.</p>
<p>Roll Call: Councillor Beamer Councillor Clarke Councillor Doris Councillor Hall Councillor Juby Councillor McWilliams Councillor Pappas Councillor Parnell Councillor Riel Councillor Vass Mayor Bennett</p>
<p>Ceremonial Presentation</p>
<p>Mayor Bennett and Council congratulated Douglas Tennant on his appointment as Chief of Fire Services and welcomed both he and his wife Jeannie to the City of Peterborough.</p>
<p>Confirmation of Minutes – April 2, 2012</p>
<p>Moved by Councillor Clarke, seconded by Councillor Pappas</p>
<p>That the minutes of the meeting of Council held on April 2, 2012, be approved.</p>
<p>“CARRIED”</p>
<br></div>