<!doctype html><div><br>
<br>
<p>City Council Minutes</p>
<p>City Of Peterborough</p>
<br>
<p>July 30, 2012</p>
<br>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<p>Minutes  of  a  Meeting  of  City  Council  Held  on  July  30,  2012,  in  the</p>
<p>Council Chambers, City Hall</p>
<br>
<p>Meeting called to order at 7:05 p.m. in the Council Chambers.</p>
<p>Roll Call: Councillor Beamer Councillor Clarke Councillor Doris Councillor Hall Councillor Juby Councillor McWilliams Councillor Pappas Councillor Parnell Councillor Riel Councillor Vass Mayor Bennett</p>
<br>
<p>Confirmation of Minutes – June 25, 2012 and July 18, 2012</p>
<p>Moved by Councillor Clarke, seconded by Councillor Pappas</p>
<p>That the minutes of the meetings of Council held on June 25 and July 18, 2012, be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>Councillor McWilliams declared an interest in Item 9 of Planning Committee Report 7, as he is the owner of property housing the current skilled trades facility.</p>
<p>Mayor Bennett declared an interest in Item 26 of Committee of the Whole Report 11, as he is the owner of property on Rye Street which may be impacted.</p>
<br></div>