<!doctype html><div><br>
<br>
<p>City Council Minutes</p>
<p>City Of Peterborough</p>
<p>September 10, 2012</p>
<br>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of City Council Held on September 10, 2012, in</p>
<p>the Council Chambers, City Hall</p>
<br>
<p>Meeting called to order at 5:30 p.m. in the Council Chambers.</p>
<p>Roll Call: Councillor Beamer Councillor Clarke Councillor Doris Councillor Hall Councillor Juby Councillor McWilliams Councillor Pappas Councillor Parnell Councillor Riel Councillor Vass Mayor Bennett</p>
<p>Ceremonial Presentation</p>
<p>Mayor Bennett presented the Queen’s Diamond Jubilee Medal to Councillor Jack Doris.</p>
<p>Confirmation of Minutes – July 30 and August 27, 2012</p>
<p>Moved by Councillor Clarke, seconded by Councillor Pappas</p>
<p>That the minutes of the meetings of Council held on July 30 and August 27, 2012, be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>Mayor  Bennett  declared  an  interest  in  Item  1,  Committee  of  the  Whole  Report  12B  – Peterborough Public Transit Operations Review, as he is the owner of a transportation firm that could potentially be impacted by the recommendations.</p>
<br>
<br></div>