<!doctype html><div><br>
<br>
<p>Planning Committee Minutes</p>
<p>City of Peterborough</p>
<p>November 20, 2017</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<p>Minutes of a meeting of Planning Committee held on November 20,</p>
<p>2017 in the Council Chambers, City Hall.</p>
<br>
<p>Planning Committee was called to order at 6:30 p.m. in the Council Chambers by Councillor Parnell, Chair.</p>
<p>Roll Call: Councillor Baldwin Councillor Beamer Councillor Clarke Councillor Haacke Councillor Parnell, Chair Councillor Pappas Councillor Riel Councillor Therrien Councillor Vassiliadis Councillor McWilliams Mayor Bennett</p>
<p>Confirmation of Minutes – October 30, 2017</p>
<p>Moved by Councillor Clarke</p>
<p>That the minutes of the meeting of Planning Committee held on October 30, 2017 be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of interest.</p>
<br>
<br>
<br>
<br>
<p>Planning Committee Minutes</p>
<br>
<p>November 20, 2017</p>
<p>Page 2</p>
<p>Consent Agenda</p>
<p>Moved by Councillor Pappas</p>
<p>That item 7 be passed as part of the Consent Agenda.</p>
<p>“CARRIED”</p>
<p>Director, Planning and Development Services Report PLPD17-057 Removal of "H" - Holding Symbol from the Zoning of the property at 75 Alexander Avenue</p>
<p>Moved by Councillor Pappas</p>
<p>That Council approve the recommendation outlined in Report PLPD17-057 dated November 20, 2017, of the Director, Planning and Development Services, as follows:</p>
<p>That the property at 75 Alexander Avenue be rezoned from R.2-300 -“H” – Residential District, to R.2-300 - Residential District, in accordance with Exhibit ‘C’ attached to Report PLPD17-057.</p>
<p>“CARRIED”</p>
<p>Public Meeting Under the Planning Act Director, Planning and Development Services Report PLPD17-053 Official Plan and Zoning By-law Amendment 461 Paterson Street</p>
<p>Caroline Kimble, Planner, Land Use, provided a presentation on the application for 461 Paterson Street.</p>
<p>Brian Morris, 643 Stormont Street, spoke in opposition to the application.</p>
<p>Keith Payne, 1997 McFarlane Street, the applicant, spoke to the application.</p>
<br>
<p>Planning Committee Minutes</p>
<br>
<p>November 20, 2017</p>
<p>Page 3</p>
<p>Moved by Councillor Pappas</p>
<p>That Council approve the recommendations outlined in Report PLPD17-053 dated November 20, 2017, of the Director, Planning and Development Services, as follows:</p>
<p>a)</p>
<p>That Schedule ‘E’ – Residential Density, of the Official Plan be amended to include the lands known as 461 Paterson Street in the ‘High Density Residential’ designation in accordance with the draft amendment attached as Exhibit ‘D’ to Report PLPD17-053;</p>
<p>b)  Amend Section 3.9, Exceptions, of Zoning By-law 1997-123, to add</p>
<p>Exception .319 to provide site specific regulations, including lot width per unit, setbacks, lot area per dwelling unit, lot coverage, dwelling unit size and parking standards, in accordance with Exhibit ‘E’ attached to Report PLPD17-053; and</p>
<p>c)</p>
<p>That the zoning of the lands known as 461 Paterson Street be amended from the R.1,R.2 – Residential District to the R.1,R.2,R.3-319 – Residential District in accordance with Exhibit ‘E’ attached to Report PLPD17-053.</p>
<p>“CARRIED”</p>
<p>Public Meeting Under the Planning Act Director, Planning and Development Services Report PLPD17-054 Zoning By-law Amendment for 76 Auburn Street</p>
<p>Caroline Kimble, Planner, Land Use, provided a presentation on Report PLPD17-054.</p>
<p>No one spoke in opposition to, or in support of, the application.</p>
<p>Michael Scorer, 51 Sophia Street, agent for the applicant, spoke to the application.</p>
<p>Moved by Councillor Riel</p>
<p>That Council approve the recommendations outlined in Report PLPD17-054 dated November 20, 2017, of the Director, Planning and Development Services, as follows:</p>
<br>
<p>a)</p>
<p>b)</p>
<p>a)</p>
<p>b)</p>
<p>Planning Committee Minutes</p>
<br>
<p>November 20, 2017</p>
<p>Page 4</p>
<p>Amend Section 3.9, Exceptions, of Zoning By-law 1997-123, to add Exception .320 to provide site specific regulations including a reduction in the minimum distance between the garage and dwelling from 1.2m to 0.0m and including a reduction in the minimum sideyard setback for the existing garage from 1.2m to 0.7m; and</p>
<p>That the subject property be rezoned from the D.1 – Development District to R.1-320 – Residential District in accordance with Exhibit ‘D’ attached to Report PLPD17-054.</p>
<p>“CARRIED”</p>
<p>Public Meeting Under the Planning Act Director, Planning and Development Services Report PLPD17-055 Zoning By-law Amendment – 661 Park Street North</p>
<p>Caroline Kimble, Planner, Land Use, provided a presentation on the application for the property at 661 Park Street North.</p>
<p>No one spoke in opposition to, or in support of, the application.</p>
<p>Jeff Ayotte, agent for the applicant, spoke to the application.</p>
<p>Moved by Mayor Bennett</p>
<p>That Council approve the recommendations outlined in Report PLPD17-055 dated November 20, 2017, of the Director, Planning and Development Services, as follows:</p>
<p>That Exception 321 of Section 3.9 of the Comprehensive Zoning By-law be added to permit ‘a small scale office (up to 300m2)’ and ‘a personal service establishment’ to be contained within the existing building, and added to the list of permitted uses, in accordance with the draft amendment, attached as Exhibit ‘C’ to Report PLPD17-055; and</p>
<p>That the subject property be rezoned from the PS.2, R.1-175 – Residential District to the PS.2, R.1-175-321 – Residential District in accordance with Exhibit ‘C’ attached to Report PLPD17-055.</p>
<p>“CARRIED”</p>
<br>
<br>
<p>Planning Committee Minutes</p>
<br>
<p>November 20, 2017</p>
<p>Page 5</p>
<p>Director, Planning and Development Services Deputy Fire Chief, Peterborough Fire Services Report PLPD17-040A Zoning By-law Amendment – 880 Parkhill Road West</p>
<p>Moved by Councillor Clarke</p>
<p>That Report PLPD17-040A be received for information; and,</p>
<p>That the proposed rezoning of the subject property to R.2-314, not be supported.</p>
<p>“LOST”</p>
<p>Moved by Councillor Vassiliadis</p>
<p>That report PLPD17-040A be deferred for up to one year, and that staff examine the possibility of inspecting the property quarterly to determine how it is operating, and that a report come back to Council on this matter.</p>
<p>“CARRIED”</p>
<p>Other Business</p>
<p>There were no matters of Other Business.</p>
<p>Adjournment</p>
<p>Moved by Councillor Clarke</p>
<p>That this meeting of Planning Committee adjourn at 8:08 p.m.</p>
<p>"CARRIED"</p>
<p>Natalie Garnett Deputy City Clerk</p>
<p>Councillor Parnell Chair</p>
<br></div>