<!doctype html><div><br>
<br>
<p>City Council Minutes</p>
<p>City Of Peterborough</p>
<br>
<p>March 18, 2013</p>
<br>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting Of City  Council Held On March 18, 2013, in the</p>
<p>Theatre, Thomas A. Stewart Secondary School.</p>
<br>
<p>The  City  Council  meeting  was  called  to  order  at  6:30  p.m.  in  the  Theatre,  Thomas  A.</p>
<p>Stewart Secondary School.</p>
<br>
<p>Roll Call: Councillor Beamer Councillor Clarke Councillor Doris Councillor Hall Councillor Juby Councillor McWilliams Councillor Pappas Councillor Parnell Councillor Riel Mayor Bennett Councillor Vass</p>
<p>Ceremonial Presentation</p>
<p>Councillor  Beamer  introduced  the  Mayor’s  Youth  Awards.    The  Mayor  presented certificates to Kyle Johnson and Jason Whitehill.</p>
<p>Confirmation of Minutes – February 25, 2013</p>
<p>Moved by Councillor Clarke, seconded by Councillor Pappas</p>
<p>That  the  minutes  of  the  meeting  of  Council  held  on  February  25,  2013,  be approved as amended.</p>
<p>“CARRIED”</p>
<br>
<br>
<br></div>