<!doctype html><div><br>
<br>
<p>City Council Minutes</p>
<p>City Of Peterborough</p>
<br>
<p>April 29, 2013</p>
<br>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<p>Minutes  of  a  Meeting  Of  City  Council  Held  On  April  29,  2013,  in  the</p>
<p>Council Chambers.</p>
<br>
<p>The City Council meeting was called to order at 6:30 p.m. in the Council Chambers, City Hall.</p>
<p>Roll Call: Councillor Beamer Councillor Clarke Councillor Doris Councillor Juby Councillor McWilliams Councillor Pappas Councillor Parnell Councillor Riel Councillor Vass Mayor Bennett</p>
<p>Absent: Councillor Hall</p>
<p>Ceremonial Presentation</p>
<p>Dave Smith, Chairman, Under the Lock Hockey Tournament presented Council with a framed print and signed rink board from the CBC Scotia Bank Hockey Day in Canada event.</p>
<p>Confirmation of Minutes – April 8, 2013</p>
<p>Moved by Councillor Clarke, seconded by Councillor Pappas</p>
<p>That the minutes of the meeting of Council held on April 8, 2013, be approved.</p>
<p>“CARRIED”</p>
<br>
<br>
<br>
<br></div>