<!doctype html><div><p>Accessibility Advisory Committee</p>
<p>City of Peterborough</p>
<p>November 1, 2017</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of the Accessibility Advisory Committee held on</p>
<p>November 1, 2017 in the Auditorium, Community Services Office.</p>
<br>
<p>The meeting of the Accessibility Advisory Committee was called to order at 4:00 p.m. by Councillor Riel, Chair, in the Auditorium, Community Services Office.</p>
<p>Present: Councillor Riel, Chair Andrea Walsh Andrea Dodsworth Warren Northcott Thomas Street Don Parnell Amanda Motyer</p>
<p>Regrets: Ben McColl Erica Richmond</p>
<p>Staff: Sharron Hayton, Customer Service Coordinator Sadie Norrad, Accessibility and Communication Specialist Mark Buffone, Accessibility Compliance Coordinator Kendra Sedgwick, Committee Coordinator</p>
<p>Minutes – October 4, 2017</p>
<p>Moved by Amanda Motyer</p>
<p>That the minutes of the Accessibility Advisory Committee held on October 4, 2017 be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Pecuniary Interest.</p>
<br>
<p>Accessibility Advisory Committee Minutes</p>
<p>Meeting of November 1, 2017</p>
<p>Page 2</p>
<br>
<p>Consent Agenda</p>
<p>Moved by Warren Northcott</p>
<p>That items 8, 9 and 10 be approved as part of the Consent Agenda.</p>
<p>“CARRIED”</p>
<p>Accessibility Compliance Coordinator Report AAC17-056 Accessibility Office Report</p>
<p>Moved by Warren Northcott</p>
<p>That the Accessibility Advisory Committee (AAC) approve the recommendation outlined in Report AAC17-056 dated November 1, 2017, of the Accessibility Compliance Coordinator as follows:</p>
<p>That Report AAC17-056 with respect to the current work of the Accessibility Office be received for information.</p>
<p>“CARRIED”</p>
<p>Accessibility Compliance Coordinator Report AAC17-059 Proposed 2018 Meeting Dates</p>
<p>Moved by Warren Northcott</p>
<p>That the Accessibility Advisory Committee (AAC) approve the recommendation outlined in Report AAC17-059 dated November 1, 2017 of the Accessibility Compliance Coordinator as follows:</p>
<p>That Report AAC17-059 with respect to the proposed 2018 meeting dates be approved.</p>
<p>“CARRIED”</p>
<br>
<p>Accessibility Advisory Committee Minutes</p>
<p>Meeting of November 1, 2017</p>
<p>Page 3</p>
<br>
<p>Accessibility Compliance Coordinator Report AAC17-062 Transportation Sub-Committee Membership</p>
<p>Moved by Warren Northcott</p>
<p>That the Accessibility Advisory Committee (AAC) approve the recommendation outlined in Report AAC17-062 dated November 1, 2017 of the Accessibility Compliance Coordinator as follows:</p>
<p>That the verbal update by the Chair of the Transportation Sub-Committee be received for information.</p>
<p>“CARRIED”</p>
<p>Accessibility Compliance Coordinator Report AAC17-063 DeafBlind Ontario</p>
<p>Moved by Amanda Motyer</p>
<p>That the Accessibility Advisory Committee (AAC) approve the recommendation outlined in Report AAC17-063 dated November 1, 2017, of the Accessibility Compliance Coordinator as follows:</p>
<p>That the presentation by DeafBlind Ontario be received for information.</p>
<p>“CARRIED”</p>
<p>Accessibility Compliance Coordinator Report AAC17-060 Accessibility and Public Art</p>
<p>Moved by Warren Northcott</p>
<p>That Report AAC17-060 be deferred to a Committee meeting in January or February.</p>
<p>“CARRIED”</p>
<p>Accessibility Advisory Committee Minutes</p>
<p>Meeting of November 1, 2017</p>
<p>Page 4</p>
<br>
<p>Accessibility Compliance Coordinator Report AAC17-061 Built Environment Sub-Committee Report</p>
<p>Moved by Thomas Street</p>
<p>That the Accessibility Advisory Committee (AAC) approve the recommendation outlined in Report AAC17-061 dated November 1, 2017 of the Accessibility Compliance Coordinator as follows:</p>
<p>That the verbal update by the Chair of the Built Environment Sub-Committee be received for information.</p>
<p>“CARRIED”</p>
<p>Accessibility Compliance Coordinator Report AAC17-062 Transportation Sub-Committee Report</p>
<p>Moved by Don Parnell</p>
<p>That the Accessibility Advisory Committee (AAC) approve the recommendation outlined in Report AAC17-062 dated November 1, 2017 of the Accessibility Compliance Coordinator as follows:</p>
<p>That the verbal update by the Chair of the Transportation Sub-Committee be received for information.</p>
<p>“CARRIED”</p>
<br>
<p>Accessibility Advisory Committee Minutes</p>
<p>Meeting of November 1, 2017</p>
<p>Page 5</p>
<br>
<p>a)</p>
<p>b)</p>
<p>Accessibility Compliance Coordinator Report AAC17-057 Access Fund Requests 009-17 and 010-17</p>
<p>Moved by</p>
<p>That the Accessibility Advisory Committee (AAC) approve the recommendations outlined in Report AAC17-057 dated November 1, 2017, of the Accessibility Compliance Coordinator as follows:</p>
<p>That the presentation by the Community Arenas Operations Manager on the proposed accessibility enhancements at the Evinrude Centre be received for information;</p>
<p>That the AAC approve Access Fund Request 010-17 submitted by the Community Arenas Operations Manager for accessibility enhancements at the Evinrude Centre.</p>
<p>“CARRIED”</p>
<p>Moved by Amanda Motyer</p>
<p>That Access Fund Request 009-17 for an accessible ramp at Community Services be resubmitted to the Accessibility Advisory Committee in January, and include a presentation by Facilities staff as well as a breakdown of the costs associated with the project.</p>
<p>“CARRIED”</p>
<p>Other Business</p>
<p>The Chair thanked Andrea Dodsworth for all of her hard work and service on the AAC.</p>
<p>Next Meeting</p>
<p>The Chair indicated that the next Committee meeting will be held on January 3, 2018.</p>
<br>
<p>Accessibility Advisory Committee Minutes</p>
<p>Meeting of November 1, 2017</p>
<p>Page 6</p>
<br>
<p>Adjournment</p>
<p>Moved by</p>
<p>That this meeting of the Accessibility Advisory Committee adjourn at 5:13 p.m.</p>
<p>"CARRIED"</p>
<p>Kendra Sedgwick Committee Coordinator</p>
<p>Councillor Riel Chair</p>
<br></div>