<!doctype html><div><br>
<br>
<p>City Council Minutes</p>
<p>City Of Peterborough</p>
<p>September 30, 2013</p>
<br>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting Of City Council Held On September 30, 2013, in</p>
<p>the Council Chambers.</p>
<br>
<p>The City Council meeting was called to order at 6:30 p.m. in the Council Chambers, City Hall.</p>
<p>Roll Call: Councillor Beamer Councillor Clarke Councillor Doris Councillor Hall Councillor Juby Councillor McWilliams Councillor Pappas Councillor Parnell Councillor Riel Councillor Vass Mayor Bennett</p>
<p>Confirmation of Minutes – September 9, 2013</p>
<p>Moved by Councillor Clarke, seconded by Councillor Pappas</p>
<p>That  the  minutes  of  the  meeting  of  Council  held  on  September  9,  2013,  be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>Councillor Pappas declared an interest in Item No. 5 of Committee of the Whole report Number 15, Report CPCLK13-012 - Draft Business Licensing By-law as he is an owner of a billiard hall.</p>
<p>Mayor Bennett disclosed a pecuniary interest in Item No. 5 of Committee of the Whole report Number 15, Report CPCLK13-012 - Draft Business Licensing By-law as he has a financial interest in a towing company.</p>
<br></div>