<!doctype html><div><br>
<br>
<p>City Council Minutes</p>
<p>City of Peterborough</p>
<p>November 12, 2013</p>
<br>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<p>Minutes  of  a  Meeting  of  City  Council  Held  on  November  12,  2013,  in</p>
<p>the Council Chambers.</p>
<br>
<p>The City Council meeting was called to order at 6:40 p.m. in the Council Chambers, City Hall.</p>
<p>Roll Call: Councillor Beamer Councillor Clarke Councillor Doris Councillor Hall Councillor Juby Councillor McWilliams Councillor Pappas Councillor Parnell Councillor Riel Councillor Vass Mayor Bennett</p>
<p>Confirmation of Minutes – October 21 and November 4, 2013</p>
<p>Moved by Councillor Clarke, seconded by Councillor Pappas</p>
<p>That  the  minutes  of  the  meetings  of  Council  held  on  October  21,  2013  and November 4, 2013, be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>Councillor McWilliams declared an interest in relation to Committee of the Whole Report Number  18,  Item  11,  Mobile  Dental  Clinic  as  he  is  the  owner  of  a  firm  that  was considered as a lessor for the garage.</p>
<p>Councillor Juby declared an interest in relation to Committee of Whole Report Number 18, Item 15, Sale of Industrial Land at 1821 Fisher Drive as his employer is the realtor involved in the transaction.</p>
<br></div>