<!doctype html><div><br>
<br>
<p>City Council Minutes</p>
<p>City of Peterborough</p>
<br>
<p>April 7, 2014</p>
<br>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of City Council Held on April 7, 2014, in the</p>
<p>Council Chambers.</p>
<br>
<p>The City Council meeting was called to order at 6:42 p.m. in the Council Chambers, City Hall.</p>
<p>Roll Call: Councillor Beamer Councillor Clarke Councillor Doris Councillor Hall Councillor Juby Councillor McWilliams Councillor Pappas Councillor Parnell Councillor Riel Councillor Vass Mayor Bennett</p>
<p>Mayor’s Youth Awards</p>
<p>Mayor Bennett, Councillor Beamer and Destiny McRae, Peterborough Youth Council, presented Kasey Hainer and Rachel Quilty with the Mayor’s Youth Award.</p>
<p>Confirmation of Minutes – March 17, 2014</p>
<p>Moved by Councillor Clarke, seconded by Councillor Pappas</p>
<p>That the minutes of the meeting of Council held on March 17, 2014, be approved.</p>
<p>“CARRIED”</p>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>April 7, 2014</p>
<p>Page 2</p>
<br>
<p>Disclosure of Pecuniary Interest</p>
<p>Councillor Pappas declared an interest in Item # 8 of Committee of Whole Report No. 4, Report  PLHD14-004  Incentives  for  Affordable  Rental  Housing,  1545  Monaghan  Road (The  Mount  Community  Centre)  Peterborough  as  he  has  family  that  lives  in  close proximity to the subject property.</p>
<p>Delegations</p>
<p>Registered Delegations:</p>
<p>Glenn Paggett, 665 Harold Drive, made a delegation to Item No. 12 of Committee of the Whole Report No. 4 (Report USEC14-002a, Brealey Drive Reconstruction, Revised Design Concept).</p>
<p>Delegations Not Registered:</p>
<p>Planning Committee Report</p>
<p>There were no delegations.</p>
<p>Committee of the Whole Report</p>
<p>Richard Lake, 704 Brealey Drive, made a delegation to Item No. 12 of Committee of the Whole Report No. 4 (Report USEC14-002a, Brealey Drive Reconstruction, Revised Design Concept).</p>
<p>Other Items on the Agenda</p>
<p>There were no delegations.</p>
<br>
<p>City Council Minutes</p>
<p>April 7, 2014</p>
<p>Page 3</p>
<br>
<p>Planning Committee Report Number 3</p>
<p>Moved by Councillor Hall, seconded by Councillor Riel</p>
<p>That Report Number 3 of the Planning Committee Meeting of March 24, 2014 be approved.</p>
<p>Item 3 was separated for discussion and vote.</p>
<p>Upon Item 3, the motion carried.</p>
<p>Upon the main motion of Councillors Hall and Riel, less item 3, the motion carried.</p>
<p>Committee of the Whole Report Number 4</p>
<p>Moved by Councillor Hall, seconded by Councillor Riel</p>
<p>That Report Number 4 of the Committee of the Whole Meeting of March 31, 2014 be approved.</p>
<p>Items number 2, 7, 8, 12 and 15 were separated for discussion.</p>
<p>Councillor Juby left the meeting at 8:05 p.m. and returned at 8:07 p.m.</p>
<p>Item 12</p>
<p>Moved by Councillor McWilliams, seconded by Councillor Pappas</p>
<p>That Report USEC14-002a, Brealey Drive Reconstruction, Revised Design Concept be referred to staff to review a four lane design option, including a new Environmental Assessment process.</p>
<p>City Council Minutes</p>
<p>April 7, 2014</p>
<p>Page 4</p>
<br>
<p>Councillor McWilliams requested a recorded vote.</p>
<p>Yea Councillor McWilliams Councillor Riel Councillor Pappas</p>
<br>
<br>
<p>Nay Councillor Parnell Councillor Juby Councillor Vass Councillor Hall Councillor Beamer Councillor Clarke Councillor Doris Mayor Bennett</p>
<p>“LOST”</p>
<p>Upon item 12, the motion carried.</p>
<p>Item 8</p>
<p>Councillor Pappas, due to his previously declared interest did not discuss or vote on the matter.</p>
<p>The Mayor suspended the Rules of Procedure to permit Mr. Kylie of The Mount Community Centre Board to speak to the matter.</p>
<p>Upon item 8, the motion carried.</p>
<p>Item 15</p>
<p>Upon item 15, the motion carried.</p>
<p>Upon the main motion of Councillors Hall and Riel, less items 8, 12 and 15 the motion carried.</p>
<p>Notice of Motion</p>
<p>There were no Notices of Motion.</p>
<br>
<br>
<p>City Council Minutes</p>
<p>April 7, 2014</p>
<p>Page 5</p>
<br>
<p>By-Laws</p>
<p>Moved by Councillor Juby, seconded by Councillor Clarke</p>
<p>That the following by-laws be read a first, second and third time:</p>
<p>14-035</p>
<p>Being a By-law to authorize the entering into and the execution of an Agreement between the Corporation of the City of Peterborough and Knox Residence Inc.</p>
<p>14-036</p>
<p>14-037</p>
<p>14-038</p>
<p>14-039</p>
<p>14-040</p>
<p>14-041</p>
<p>14-042</p>
<p>14-043</p>
<p>14-044</p>
<br>
<p>Being a By-law to exempt the lands known municipally as 165 Rubidge Street and 164 Part Street North, Peterborough from taxation for municipal and school purposes</p>
<p>Being a By-law to repeal By-law Number 13-160 authorizing the acquisition of the land municipally known as 129-141 Aylmer Street North, in the City of Peterborough, in the County of Peterborough</p>
<p>Being a By-law to authorize the acquisition of the land municipally known as 791 Webber Avenue, Peterborough</p>
<p>Being a By-law to Adopt Amendment Number 161 to the Official Plan of the City of Peterborough for the Properties known as 246 Parkhill Road East and 21-33 Leahy's Lane</p>
<p>Being a By-law to Amend the Zoning By-law for 246 Parkhill Road East and 21-33 Leahy's Lane</p>
<p>Being a By-law to Amend the Zoning By-law for 1158 Brealey Drive</p>
<p>Being a By-law to Appoint an Acting Deputy Fire Chief of The City of Peterborough Fire Services</p>
<p>Being a By-law to Appoint Parking Enforcement Officers at 100 Charlotte Street, 475-489 Bolivar Street, 234 Hunter Street, 333-335 Stewart Street, 490-492 Dickson Street, 298-302 Hunter Street, 129-133 Lake Street, 223-229 Crescent Street and 397 Reid Street and to Remove a Parking Enforcement Officer at 100 Charlotte Street</p>
<p>Being a By-law to authorize the entering into and the execution of an Agreement between the Corporation of the City of Peterborough and The Mount Community Centre</p>
<p>City Council Minutes</p>
<p>April 7, 2014</p>
<p>Page 6</p>
<br>
<p>14-046</p>
<p>Being a By-law to authorize the execution of an Encroachment Agreement for lands municipally known as 196 Rubidge Street, Peterborough</p>
<p>and the said by-laws, having been now read a third time and passed, the Mayor and Clerk be authorized to sign and seal the same.</p>
<p>“CARRIED”</p>
<p>By-law 14-045 was separated for vote due to the previously declared interest of Councillor Pappas.  Councillor Pappas did not vote on this item.</p>
<p>That the following By-law be read a first, second and third time:</p>
<p>14-045</p>
<p>Being a By-law to exempt the lands known municipally as 1545 Monaghan Road, Peterborough from taxation for municipal and school purposes</p>
<p>And the said By-law now being read a third time and passed, the Mayor and Clerk be authorized to sign and seal the same.</p>
<p>Upon By-law 14-045, the By-law passed.</p>
<p>Other Business</p>
<p>Upon Councillor Riel’s request to discuss the Social Services denture funding deficit, the Mayor ruled the matter was not urgent and should be brought forward at a future Committee of Whole meeting.  The Mayor requested a staff report be tabled at the next Joint Services Steering Committee meeting.</p>
<br>
<p>City Council Minutes</p>
<p>April 7, 2014</p>
<p>Page 7</p>
<br>
<p>Confirmatory By-law</p>
<p>Moved by Councillor Clarke, seconded by Councillor Beamer</p>
<p>That the following by-law be read a first, second and third time:</p>
<p>14-047</p>
<p>Being a By-law to confirm the proceedings of the Council at its meeting held on April 7, 2014.</p>
<p>and the said by-law, having been now read a third time and passed, the Mayor and Clerk be authorized to sign and seal the same.</p>
<p>“CARRIED”</p>
<p>Adjournment</p>
<p>Moved by Councillor Clarke, seconded by Councillor Beamer</p>
<p>That this meeting of City Council adjourn at 8:43 p.m.</p>
<p>“CARRIED”</p>
<br>
<p>John Kennedy City Clerk</p>
<p>Daryl Bennett Mayor</p>
<p>Planning Committee Report No. 3</p>
<p>Meeting of March 24, 2014</p>
<p>To The Council of the City of Peterborough, for consideration at its meeting held April 7, 2014</p>
<p>The Planning Committee, as a result of its meeting held on March 24, 2014 recommends as follows:</p>
<p>1.  Manager, Planning Division</p>
<br>
<p>Report PLPD14-013 Annual Report of Delegated Subdivision Approval for 2013</p>
<p>That Council approve the recommendation outlined in Report PLPD14-013 dated March 24, 2014, of the Manager, Planning Division, as follows:</p>
<p>That Report PLPD14-013 be received for information purposes.</p>
<br>
<p>Public Meeting Under The Planning Act Manager, Planning Division Report PLPD14-016 246 Parkhill Road East and 21-33 Leahy’s Lane</p>
<p>2.</p>
<br>
<p>That Council approve the recommendations outlined in Report PLPD14-016 dated March 24, 2014, of the Manager, Planning Division, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>That Schedule ‘E’ – Residential Density, of the Official Plan be amended to add medium density designation to the subject lands in accordance with the draft amendment attached as Exhibit ‘C’ to Report PLPD14-016.</p>
<p>That Section 3.9 Exceptions of the City’s Comprehensive Zoning By- law #97-123 be amended in accordance with the draft amendment, attached as Exhibit ‘D’ to Report PLPD12-026 as follows:</p>
<p>i) ii)</p>
<p>iii)</p>
<p>iv) v)</p>
<p>vi)</p>
<p>permit a maximum number of 42 dwelling units; a minimum lot area per dwelling unit of 210 square metres per unit; permit a minimum building setback of 9 metres or 3 metres per storey from the rear lot line, whichever is greater; permit a maximum building coverage of 35% of the lot area; permit a maximum lot coverage by open parking areas, driveways and vehicle movement areas of 30%; notwithstanding the permitted uses, a boarding house shall not be permitted.</p>
<p>Planning Committee Report No. 3</p>
<p>March 24, 2014</p>
<p>Page 2</p>
<br>
<p>c)</p>
<p>That the zoning of the subject property, be amended from the D.1 – Development District 1 Zoning District to the R.4 – 287– ‘H’ – Residential District in accordance with the draft amendment attached as Exhibit ‘E’ to Report PLPD14-016.</p>
<p>d)</p>
<p>That the ‘H’ Holding Symbol be removed subject to the following:</p>
<p>i)</p>
<p>ii)</p>
<p>iii) iv)</p>
<p>Site Plan Approval being granted for the subject property including stormwater management details; A downstream sanitary sewer upgrade for Armour Road, has been addressed; Payment of applicable cash in lieu of parkland; and Completion of an Arborist Assessment of the existing trees on the site.</p>
<p>3.</p>
<br>
<br>
<br>
<p>Public Meeting Under The Planning Act Manager, Planning Division Report PLPD14-017 1158 Brealey Drive</p>
<p>That Council approve the recommendations outlined in Report PLPD14-017 dated March 24, 2014, of the Manager, Planning Division, as follows:</p>
<p>a)</p>
<p>That Section 3.9 Exceptions of the City’s Comprehensive Zoning By- law be amended to add Exception 288, in accordance with the draft amendment, attached as Exhibit ‘C’ to Report PLPD14-017 as follows:</p>
<p>i) ii) iii) iv) v)</p>
<p>vi)</p>
<p>require a minimum lot area of 1900m2; require a minimum lot area of 470m2 per unit; require a minimum setback of 3m from the side lot line; require a minimum setback of 30m from the rear lot line; permit a maximum lot coverage by open parking areas, driveways and vehicle movement areas of 30% of the lot area; and Notwithstanding the permitted uses in the R.3 Zoning District, a Boarding House shall not be permitted.</p>
<p>b)</p>
<p>That the zoning of 1158 Brealey Drive be amended from the D.1 – Development District to the R.3 – 288 – ‘H’ Residential District in accordance with the draft amendment attached as Exhibit ‘C’ to Report PLPD14-017.</p>
<p>Planning Committee Report No. 3</p>
<p>March 24, 2014</p>
<p>Page 3</p>
<br>
<p>That the ‘H’ Holding Symbol be removed subject to:</p>
<p>i)</p>
<p>Site Plan Approval being granted for the subject property including a clause to require the proponent to investigate downstream capacity for the development; Payment of applicable cash in lieu of parkland; and Completion of a Stage 1 Archaeological Assessment</p>
<p>ii) iii)</p>
<p>At the meeting of March 24, 2014 the following was added:</p>
<p>That a neighbourhood meeting to be held prior to site plan approval, and that the Ward Councillors be notified and invited to the meeting.</p>
<p>c)</p>
<p>d)</p>
<br>
<br>
<br>
<p>Submitted by,</p>
<p>Councillor Hall Chair March 24, 2014</p>
<p>Committee of the Whole Report No. 4</p>
<p>Meeting of March 31, 2014</p>
<br>
<p>To  the  Council  of  The  City  of  Peterborough  for  Consideration  at  its Meeting Held April 7, 2014</p>
<p>The Committee of the Whole as a Result of its Meeting Held on March 31, 2014, Recommends as Follows:</p>
<br>
<p>1.</p>
<p>2.</p>
<br>
<br>
<br>
<p>3.</p>
<p>Report of Closed Session Chief Administrative Officer Report CAO14-007 Acting Deputy Fire Chief Appointment</p>
<p>That Council approve the recommendation outlined in Report CAO14-007, dated March 31, 2014, of the Chief Administrative Officer, as follows:</p>
<p>That Greg Simmons be appointed the Acting Deputy Fire Chief for the Corporation of the City of Peterborough, effective April 8, 2014.</p>
<p>Director of Utility Services Report USEC14-006 Flood Reduction Watershed EA Capital Projects Update</p>
<p>That Council approve the recommendation outlined in Report USEC14-006 dated March 31, 2014, of the Director of Utility Services, as follows:</p>
<p>That the Watershed EA Capital Projects as listed and prioritized in Appendix A of Report USEC14-006 staff be adopted.</p>
<p>Director of Utility Services Report USTR14-003 Municipal Parking Facilities, 165 Rubidge Street and 164 Park Street North</p>
<p>That Council approve the recommendation outlined in Report USTR14-003 dated March 31, 2014, of the Director of Utility Services, as follows:</p>
<p>That Report USTR14-003 identifying municipal parking facilities in the vicinity of 165 Rubidge Street and 164 Park Street North be received for information.</p>
<p>4.</p>
<p>5.</p>
<br>
<p>Committee of the Whole Report No. 3</p>
<p>Meeting of March 10, 2014</p>
<p>Page 2</p>
<p>Director of Corporate Services Report CPPS14-006 Award of RFP P-01-14 for Environmental Consulting Firm of Record</p>
<p>That Council approve the recommendation outlined in Report CPPS14-006, dated March 31, 2014 of the Director of Corporate Services, as follows:</p>
<p>That RFP Document P-01-14 for a Building Environmental Consulting Firm of Record for Intrusive Surveys, Annual Re-Surveys, Asbestos Management Database and Hazardous Materials Survey be awarded to OHE Consultants, 311 Matheson Boulevard East, Mississauga, Ontario, L4Z 1X8, for the period April 8, 2014 to December 31, 2018 with an additional five year extension from January 1, 2019 to December 31, 2023, subject to satisfactory performance.</p>
<p>Director of Corporate Services Report CPPS14-007 Award of RFP P-03-14 for Roofing and Building Envelope Consulting Firm of Record</p>
<p>That Council approve the recommendation outlined in Report CPPS14-007, dated March 31, 2014 of the Director of Corporate Services, as follows:</p>
<p>That RFP P-03-14 for a Roofing and Building Envelope Consulting Firm of Record for Roofing and Building Envelope designs be awarded to Accent Building Sciences, 850 Tapscott Road, Toronto, Ontario, M1X 1N4, for the period April 8, 2014 to December 31, 2018 with an additional five year extension from January 1, 2019 to December 31, 2023 subject to satisfactory performance.</p>
<p>Committee of the Whole Report No. 3</p>
<p>Meeting of March 10, 2014</p>
<p>Page 3</p>
<p>Director of Planning and Development Services Report PLHD14-005 Amendment to 21 Barnardo Street Affordable Housing Project Facility Agreement</p>
<p>That Council approve the recommendations outlined in Report PLHD14-005 dated March 31, 2014, of the Director of Planning and Development Services, as follows:</p>
<p>That the Affordable Housing Project Facility Agreement, dated July 15, 2013, between the Corporation of the City of Peterborough and Moloney Project Development Corporation be amended to recognize an additional two units at Hazelbrae Place, 21 Barnardo Ave. as affordable units, changing the unit count from 40 to 42.</p>
<p>That based on the original approvals in the Report PLHD12-007 October 15, 2012, the municipal incentives, excluding capital funding, be applied to the two additional units.</p>
<p>That the Mayor and Clerk be authorized to execute an amendment to the Affordable Housing Project Facility Agreement dated July 15, 2013 to reflect 42 units instead of 40 units.</p>
<br>
<p>7.</p>
<br>
<p>Director of Utility Services Report USEC14-005 Road Needs Study</p>
<p>That Council approve the recommendations outlined in Report USEC14-005 dated March 31, 2014, of the Director of Utility Services, as follows:</p>
<p>That the presentation of the Road Needs Study by a representative of D. M. Wills be received for information; and</p>
<p>That future road pavement capital and operating budgets be prepared to reflect an increase in funding over the  three-year period 2015 to 2017 to approximately double the 2014 road pavement capital and operating budgets as shown in the Budget and Financial Implications section of Report USEC14-005.</p>
<p>6.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>a)</p>
<p>b)</p>
<p>Committee of the Whole Report No. 3</p>
<p>Meeting of March 10, 2014</p>
<p>Page 4</p>
<p>Director of Planning and Development Services Report PLHD14-004 Incentives for Affordable Rental Housing, 1545 Monaghan Road (The Mount Community Centre) Peterborough</p>
<p>That Council approve the recommendations outlined in Report PLHD14-004 dated  March  31,  2014,  of  the  Director  of  Planning  and  Development Services, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>d)</p>
<p>e)</p>
<p>f)</p>
<p>That the Affordable Housing Community Improvement Plan (CIP) Municipal Incentive Program be approved for the affordable housing portion (sixty-five (65) affordable rental units) at 1545 Monaghan Road, as detailed in Table 2.</p>
<p>That the designation as a Municipal Housing Facility (MHF) in accordance with By-law 12-094 be approved for the affordable housing portion (sixty-five (65) affordable rental units) at 1545 Monaghan Road, Peterborough so that municipal incentives may be provided, proportionate to the use of the property for affordable housing.</p>
<p>That a By-law be adopted authorizing Council to exempt from all or part of the taxes levied for municipal and school purposes land at 1545 Monaghan Road or a portion of it, for a period of ten years, on which municipal housing facilities are or will be located.</p>
<p>That capital funding of $1M be approved in principle, to be paid over three years, using provincial/federal capital funding from Investment in Affordable Housing Program that is confirmed for 2014, and anticipated provincial/federal capital and municipal capital funding from allocations that are pending approval in future years (2015 and 2016).</p>
<p>That funding of up to $120,000 be approved to replace a loan for project development from Canada Mortgage and Housing Corporation and that the cost of the Building Permit be paid, drawing from provincial DOOR funding in 2014.</p>
<p>That staff be authorized to negotiate the specific terms and conditions of a legal agreement to be registered on title for a thirty year affordability period within the parameters set out in Report PLHD14-004.</p>
<p>8.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>9.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Committee of the Whole Report No. 3</p>
<p>Meeting of March 10, 2014</p>
<p>Page 5</p>
<p>g)</p>
<p>That a By-law be adopted authorizing the Mayor and Clerk to sign legal agreements between the City of Peterborough and The Mount Community Centre for the affordable housing portion at 1545 Monaghan Road.</p>
<p>Chief Administrative Officer Report CAO14-008 Police Response to Council Request for 2014 Board Expense Detail and 2013 Police Surplus</p>
<p>That Council approve the recommendations outlined in Report CAO14-008, dated March 31, 2014, of the Chief Administrative Officer, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>That the $125,000 portion of the Police Services 2014 Budget that was placed in a City contingency and held in reserve, pending a report from the Police Services Board to Council on the justification for the Board’s 2014 operational costs, be released and included in the 2014 Police Budget.</p>
<p>That the Police be allowed to retain their $256,041 projected 2013 operating surplus (City Share) and that $239,580 be used to fund their 2014 Operating Budget request and $16,461 be transferred to the Police Special Projects Reserve.</p>
<br>
<p>10.  City Solicitor and Director of Legal Services</p>
<p>Report OCS14-002 Temporary Appointment of a Council Member to the Police Services Board</p>
<p>That Council approve the recommendation outlined in Report OCS14-002, dated March 31, 2014 of the City Solicitor and Director of Legal Services as follows:</p>
<p>Whereas Section 33(5)(a) of the Police Service Act states that one member of each participating municipal council may be appointed by agreement;</p>
<p>And Whereas Article 2(a) of the Amalgamation Agreement between the City of Peterborough and the Village of Lakefield (now Selwyn Township) states that the Mayor of the City of Peterborough or another Council Member appointed by resolution of that Council shall be appointed to the Peterborough Lakefield Police Services Board;</p>
<p>Committee of the Whole Report No. 3</p>
<p>Meeting of March 10, 2014</p>
<p>Page 6</p>
<p>And Whereas since January 11, 2011, Mayor Daryl Bennett has served as Peterborough City Council’s representative on the Peterborough Lakefield Police Services Board;</p>
<p>And Whereas, Mayor Bennett is presently subject to a Ontario Civilian Police Commission (Commission) Hearing under section 25 of the Police Services Act and pending the completion of the Hearing, Mayor Bennett is prohibited from participating in any activities of the Peterborough Lakefield Police Services Board under subsection 14(1), O. Reg. 421/97 entitled “Members of the Police Services Boards – Code of Conduct”;</p>
<p>And Whereas, under subsection 77(c) of the Legislation Act, 2006 Council may temporarily appoint another member of Council to the Peterborough Lakefield Police Services Board while Mayor Bennett is unable to act.</p>
<p>Therefore, Be it Resolved:</p>
<p>That Councillor Dan McWilliams be appointed to the Peterborough Lakefield Police Services Board temporarily, pending the conclusion of the Commission Hearing.</p>
<br>
<p>11.  Director of Corporate Services</p>
<p>Report CPHR14-003 Attendance Update Report</p>
<p>That Council approve the recommendation outlined in Report CPHR14-003, dated March 31, 2014, of the Director of Corporate Services as follows:</p>
<p>That Report CPHR14-003, Attendance Update Report, be received.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Committee of the Whole Report No. 3</p>
<p>Meeting of March 10, 2014</p>
<p>Page 7</p>
<p>12.  Director of Utility Services</p>
<p>Report USEC14-002a Brealey Drive Reconstruction, Revised Design Concept</p>
<p>That Council approve the recommendation outlined in Report USEC14-002a dated March 31, 2014, of the Director of Utility Services, as follows:</p>
<p>That the “new” design concept for Brealey Drive from Stenson Boulevard to Lansdowne Street West as described in Report USEC14-002a be adopted.</p>
<br>
<p>13.  Director of Utility Services</p>
<p>Report USTR14-002 Provision of Lighting for Rotary Greenway Trail</p>
<p>That Council approve the recommendation outlined in Report USTR14-002 dated March 31, 2014, of the Director of Utility Services as follows:</p>
<p>That a 2014 Capital Project entitled “Provision of Lighting on the Rotary Greenway Trail from Water Street to the Rotary Greenway Trail” be established with a budget of $90,000 to be funded by the Community Foundation of Greater Peterborough.</p>
<p>Committee at its meeting of March 31, 2014 added the following recommendation:</p>
<p>That staff continue to work with The Rotary Club and other possible community groups to add lighting to additional parts of the trail.</p>
<p>a)</p>
<p>b)</p>
<br>
<p>14.  Director of Utility Services</p>
<p>Report USWM14-001 Proposed Mattress and Box Spring Recycling Program</p>
<p>That Council approve the recommendations outlined in Report USWM14-001 dated March 31, 2014 of the Director of Utility Services as follows:</p>
<p>a)</p>
<p>That the implementation of a mattress and box spring recycling program commence September 2, 2014 at the Peterborough County/City Waste Management Facility (PCCWMF);</p>
<br>
<br>
<br>
<br>
<br>
<p>Committee of the Whole Report No. 3</p>
<p>Meeting of March 10, 2014</p>
<p>Page 8</p>
<p>That By-Law No. 07-027 (Waste Management By-law) be amended to add clean mattresses and box springs as banned items at the County/City Waste Management Facility and to eliminate Schedule B which identifies fees, as it is provided for in the annual user fee by- law;</p>
<p>That Appendix A of User Fee By-law 13-179 be amended to incorporate a $10.00 fee per mattress and a $10.00 fee per box spring for each item delivered to the County/City Waste Management Facility effective September 2, 2014.</p>
<p>15.  Director of Planning and Development Services</p>
<p>Report PLPD14-018 Purchase of Property at 791 Webber Avenue, Coach Canada</p>
<p>That Council approve the recommendations outlined in Report PLPD14-018 dated March 31, 2014, of the Director of Planning and Development Services as follows:</p>
<p>That a by-law be passed to authorize the purchase of property known municipally as 791 Webber Avenue, for $2,550,000.00, plus land transfer tax of $47,475.00.</p>
<p>That by-law 13-160, being a by-law to purchase 129-141 Aylmer Street, be repealed.</p>
<br>
<br>
<br>
<br>
<p>b)</p>
<p>c)</p>
<br>
<p>a)</p>
<p>b)</p>
<br>
<p>Submitted by,</p>
<p>Councillor Hall Chair March 31, 2014</p>
<br>
<br></div>