<!doctype html><div><p>Arts, Culture & Heritage</p>
<p>Advisory Committee Minutes</p>
<p>City of Peterborough</p>
<p>October 12, 2017</p>
<p>Draft Not Approved</p>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of the Arts, Culture and Heritage Advisory</p>
<p>Committee held on October 12, 2017 in the Auditorium, Community</p>
<p>Services Office, 210 Wolfe Street.</p>
<br>
<p>The meeting of the Arts, Culture & Heritage Advisory Committee was called to order at 7:00 p.m. by Dennis Carter-Edwards, Chair in the Auditorium, Community Services Office.</p>
<p>Present: Bruce Stonehouse Dennis Carter-Edwards, Chair Dirk Verhulst Councillor Parnell Andy Cragg (7:06 p.m.) Bill Templeman</p>
<p>Regrets: Peer Christensen Councillor Pappas Bill Kimball</p>
<p>Staff: Ken Doherty, Director of Community Services Victoria Hamilton, Community Services Analyst Kendra Sedgwick, Committee Coordinator</p>
<p>Minutes – September 14, 2017</p>
<p>Moved by Bruce Stonehouse</p>
<p>That the minutes of the Arts, Culture and Heritage Advisory Committee meetings held on September 14, 2017 be approved.</p>
<p>“CARRIED”</p>
<br>
<p>Arts, Culture & Heritage Advisory Committee</p>
<p>Meeting Minutes of October 12, 2017</p>
<br>
<p>Page 2</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no Disclosures of Pecuniary Interest.</p>
<p>Consent Agenda</p>
<p>Moved by Dirk Verhulst</p>
<p>That items 6 and 8 be approved as part of the Consent Agenda.</p>
<p>“CARRIED”</p>
<p>Manager, Arts, Culture & Heritage Division Report ACHAC17-049 Public Art Report</p>
<p>Moved by Dirk Verhulst</p>
<p>That the ACHAC approve the recommendation outlined in Report ACHAC17-049, dated October 12, 2017 of the Manager, Arts, Culture and Heritage Division, as follows:</p>
<p>That the update on the activities of the Public Art Advisory Committee be received for information.</p>
<p>“CARRIED”</p>
<p>Heritage Resources Coordinator Report ACHAC17-051 October Heritage Preservation Office Report</p>
<p>Moved by Dirk Verhulst</p>
<p>That the Arts, Culture & Heritage Advisory Committee approve the recommendation outlined in Report ACHAC17-051, dated October 12, 2017 of the Heritage Resources Coordinator, as follows:</p>
<p>That the report with respect to the activities of the Heritage Preservation Office for September 2017 be received for information.</p>
<p>“CARRIED”</p>
<p>Arts, Culture & Heritage Advisory Committee</p>
<p>Meeting Minutes of October 12, 2017</p>
<br>
<p>Page 3</p>
<p>Moved by Councillor Parnell</p>
<p>That Item 9 be dealt with first.</p>
<p>“CARRIED”</p>
<p>ACHAC Chair Verbal Report Artisans Centre Peterborough Presentation</p>
<p>Moved by Councillor Parnell</p>
<p>That the verbal presentation provided by Lorne Hamilton, Artisans Centre Peterborough, be received for information.</p>
<p>“CARRIED”</p>
<p>Director of Community Services Report ACHAC17-052 Update on Potential Land Disposition to King George School</p>
<p>Moved by Councillor Parnell</p>
<p>That members of the Arts, Culture & Heritage Advisory Committee approve the recommendation outlined in Report ACHAC17-052 dated October 12, 2017, of the Director of Community Services, as follows:</p>
<p>That a verbal update on the status of the disposition of land adjacent to King George Public School be received for information.</p>
<p>“CARRIED”</p>
<br>
<p>Arts, Culture & Heritage Advisory Committee</p>
<p>Meeting Minutes of October 12, 2017</p>
<br>
<p>Page 4</p>
<p>Director of Community Services Report ACHAC17-053 Update on Improving Relations with Local First Nations and Aboriginal Groups</p>
<p>Moved by Bruce Stonehouse</p>
<p>That members of the Arts, Culture & Heritage Advisory Committee approve the recommendation outlined in Report ACHAC17-053 of the Director of Community Services, as follows:</p>
<p>That a presentation by the Director of Community Services on City efforts to improve communications, consultations, and relations with local First Nations and Aboriginal Service Organizations be received for information.</p>
<p>“CARRIED”</p>
<p>Manager, Arts, Culture & Heritage Division Report ACHAC17-048 Economic Indicators for Culture</p>
<p>Victoria Hamilton, Community Services Analyst, provided a presentation to Report ACHAC17-048.</p>
<p>Moved by Bill Templeman</p>
<p>That the Arts, Culture and Heritage Advisory Committee approve the recommendations outlined in Report ACHAC17-048, dated October 12, 2017 of the Manager, Arts, Culture & Heritage Division, as follows:</p>
<p>a)</p>
<p>That ACHAC receive the report on possible economic indicators for measuring and evaluating Peterborough’s cultural resources and their contribution to economic development and quality of life for discussion;</p>
<p>That ACHAC review the 25 indicators identified in 2014 and prepare for another “dotmocracy” exercise at the November meeting;</p>
<p>That ACHAC review the material on the municipal contribution to culture being provided for greater discussion at the November meeting.</p>
<p>b)</p>
<p>c)</p>
<p>“CARRIED”</p>
<p>Arts, Culture & Heritage Advisory Committee</p>
<p>Meeting Minutes of October 12, 2017</p>
<br>
<p>Page 5</p>
<p>Manager, Arts, Culture & Heritage Division Report ACHAC17-050 Arts, Culture and Heritage Division Manager’s Report</p>
<p>Moved by Bruce Stonehouse</p>
<p>That the ACHAC approve the recommendation outlined in Report ACHAC17-050, dated October 12, 2017 of the Manager of the Arts, Culture and Heritage Division, as follows:</p>
<p>That the report with respect to the activities of the Manager, Arts, Culture & Heritage Division for September 2017 be received for Information.</p>
<p>“CARRIED”</p>
<p>Moved by Dirk Verhulst</p>
<p>That ACHAC request a presentation be provided at a future meeting Committee from planning Staff regarding the Official Plan process; and</p>
<p>That ACHAC have the opportunity to respond and submit comments from the Committee.</p>
<p>“CARRIED”</p>
<p>Other Business</p>
<p>There were no items of Other Business.</p>
<p>Next Meeting</p>
<p>The Chair indicated the next scheduled meeting is November 9, 2017.</p>
<p>Adjournment</p>
<p>Moved by Bruce Stonehouse</p>
<p>That this meeting of Arts, Culture and Heritage Advisory Committee adjourn at 9:51 p.m.</p>
<p>"CARRIED"</p>
<p>Arts, Culture & Heritage Advisory Committee</p>
<p>Meeting Minutes of October 12, 2017</p>
<br>
<p>Page 6</p>
<br>
<br>
<p>Kendra Sedgwick Committee Coordinator</p>
<p>Dennis Carter-Edwards Chair</p>
<br>
<br></div>