<!doctype html><div><br>
<br>
<p>City Council Minutes</p>
<p>City of Peterborough</p>
<br>
<p>April 28, 2014</p>
<br>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of City Council Held on April 28, 2014, in the</p>
<p>Council Chambers.</p>
<br>
<p>The City Council meeting was called to order at 6:44 p.m. in the Council Chambers, City Hall.</p>
<p>Roll Call: Councillor Beamer Councillor Clarke Councillor Doris Councillor Hall Councillor Juby Councillor McWilliams Councillor Pappas Councillor Riel Councillor Vass Mayor Bennett</p>
<p>Regrets: Councillor Parnell</p>
<br>
<br>
<p>Confirmation of Minutes – April 7, 2014</p>
<p>Moved by Councillor Clarke, seconded by Councillor Pappas</p>
<p>That the minutes of the meeting of Council held on April 7, 2014, be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>Councillor Pappas declared an interest in Item 2 of Planning Committee Report No 4, Report PLPD14-020, 1545 Monaghan Road and By-laws 14-052 and 14-053 as family members live near the subject property.</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of April 28, 2014</p>
<p>Page 2</p>
<p>Councillor Pappas declared an interest in agenda Item 6, of Committee of Whole Report No. 5, Report CSACH14-005, Heritage Property Tax Relief Program Exception, and By- law 14-051, as family members live in close proximity to 1545 Monaghan Road, one of the subject properties.</p>
<p>Councillor Beamer declared an Interest in Item 3 of Planning Committee Report No 4, Report PLPD14-022, Lily Lake Secondary Plan and By-law 14-055 as his relatives live on Lily Lake Road.</p>
<p>Delegations</p>
<p>Registered Delegations:</p>
<p>Peter Hewitt, 576 Rogers Street, made a delegation to Item 3 of Planning Committee Report No. 4 (Report PLPD14-022, Lily Lake Secondary Plan).</p>
<p>Delegations Not Registered:</p>
<p>Planning Committee Report</p>
<p>There were no delegations.</p>
<p>Committee of the Whole Reports</p>
<p>There were no delegations.</p>
<p>Other Items on the Agenda</p>
<p>There were no delegations.</p>
<p>Planning Committee Report Number 4</p>
<p>Moved by Councillor Hall, seconded by Councillor Clarke</p>
<p>That Report Number 4 of the Planning Committee Meeting of April 14, 2014 be approved.</p>
<p>The Mayor separated items 2 and 3 due to previously declared interests by Councillors Pappas and Beamer.</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of April 28, 2014</p>
<p>Page 3</p>
<p>Item 3</p>
<p>Councillor McWilliams requested a recorded vote.</p>
<p>Councillor Beamer did not vote on the matter due to his previously declared interest.</p>
<p>Yea Councillor Juby Councillor McWilliams Councillor Vass Councillor Hall Councillor Pappas Councillor Clarke Councillor Doris Mayor Bennett</p>
<p>Nay Councillor Riel</p>
<br>
<br>
<br>
<br>
<p>Upon item 3 the motion carried.</p>
<p>Item 2</p>
<p>Councillor Pappas did not vote on the matter due to his previously declared interest.</p>
<p>Upon item 2 the motion carried.</p>
<p>Upon  the  main  motion  of  Councillors  Hall  and  Clarke,  less  items  2  and  3  the  motion carried.</p>
<p>Committee of the Whole Report Number 5</p>
<p>Moved by Councillor Hall, seconded by Councillor Doris</p>
<p>That Report Number 5 of the Committee of the Whole Meeting of April 22, 2014 be approved.</p>
<p>Item numbers 3, 5 and 6 were separated.</p>
<p>Item 6</p>
<p>Councillor Pappas did not vote on the matter due to his previously declared interest.</p>
<p>Upon item 6 the motion carried.</p>
<p>City Council Minutes</p>
<p>Meeting of April 28, 2014</p>
<p>Page 4</p>
<p>Upon the main motion of Councillors Hall and Doris, less item 6, the motion carried.</p>
<p>Committee of the Whole Report Number 6</p>
<p>Moved by Councillor Hall, seconded by Councillor Clarke</p>
<p>That Report Number 6 of the Committee of the Whole Meeting of April 28, 2014 be approved.</p>
<p>“CARRIED”</p>
<p>Notice of Motion</p>
<p>There were no Notices of Motion.</p>
<p>By-laws</p>
<p>Moved by Councillor Doris, seconded by Councillor Clarke</p>
<p>Due  to  the  previous  declarations  of  interest  by  Councillors  Pappas  and  Beamer,  the Mayor separated By-laws 14-051, 14-052, 14-053 and 14-055.</p>
<p>By-law 14-055</p>
<p>Councillor Beamer, due to his previously declared interest did not vote on the by-law.</p>
<p>That the following by-laws be read a first, second and third time:</p>
<p>14-055</p>
<p>Being a By-law to adopt Amendment No. 163 to the Official Plan of the City of Peterborough – Lily Lake Secondary Land Use Plan</p>
<p>and the said by-law, having been now read a third time and passed, the Mayor and Clerk be authorized to sign and seal the same.</p>
<p>“CARRIED”</p>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of April 28, 2014</p>
<p>Page 5</p>
<p>By-laws 14-051, 14-052 and 14-053</p>
<p>Councillor Pappas, due to his previously declared interest did not vote on the by-laws.</p>
<p>That the following by-laws be read a first, second and third time:</p>
<p>14-051</p>
<p>Being a By-law to extend the Heritage Property Tax Relief Program to the Properties at 404 Belmont Avenue, known historically as the Wood House; 499 Homewood Avenue; and 1545 Monaghan Road, known as Mount St. Joseph</p>
<p>Being a By-law to Adopt Amendment Number 162 to the Official Plan of the City of Peterborough for the property known as 1545 Monaghan Road</p>
<p>Being a By-law to Amend the Zoning By-law for the property known as 1545 Monaghan Road</p>
<p>and the said by-laws, having been now read a third time and passed, the Mayor and Clerk be authorized to sign and seal the same.</p>
<p>“CARRIED”</p>
<p>Upon the remainder of By-laws:</p>
<p>That the following by-laws be read a first, second and third time:</p>
<p>14-048</p>
<p>Being a By-law to Appoint Building Officials and Inspectors for the City of Peterborough as well as repeal Chapter 89 of the City of Peterborough Municipal Code and By-law 12-155</p>
<p>Being a By-law to authorize the execution of an Encroachment Agreement for lands municipally known as 26 Cornelius Court, Peterborough</p>
<p>Being a By-law to authorize the execution of an Encroachment Agreement for lands municipally known as 32 Cornelius Court, Peterborough</p>
<p>Being a By-law to Remove the 'H' - Holding Symbol from the Zoning of the Property at 793 Spillsbury Drive</p>
<p>14-052</p>
<p>14-053</p>
<p>14-049</p>
<p>14-050</p>
<p>14-054</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of April 28, 2014</p>
<p>Page 6</p>
<p>14-056</p>
<p>Being a By-law to authorize the acquisition of the land municipally known as 813 Fairbairn Street, Peterborough</p>
<p>and the said by-laws, having been now read a third time and passed, the Mayor and Clerk be authorized to sign and seal the same.</p>
<p>“CARRIED”</p>
<p>Other Business</p>
<p>There was no Other Business.</p>
<p>Confirmatory By-law</p>
<p>Moved by Councillor Beamer, seconded by Councillor Riel</p>
<p>That the following by-law be read a first, second and third time:</p>
<p>14-057</p>
<p>Being a By-law to confirm the proceedings of the Council at its meeting held on April 28, 2014.</p>
<p>and the said by-law, having been now read a third time and passed, the Mayor and Clerk be authorized to sign and seal the same.</p>
<p>“CARRIED”</p>
<p>Adjournment</p>
<p>Moved by Councillor Clarke, seconded by Councillor Beamer</p>
<p>That this meeting of City Council adjourn at 7:42 p.m.</p>
<p>“CARRIED”</p>
<br>
<p>John Kennedy City Clerk</p>
<p>Daryl Bennett Mayor</p>
<p>City Council Minutes</p>
<p>Meeting of April 28, 2014</p>
<p>Page 7</p>
<p>Planning Committee Report No. 4</p>
<p>Meeting of April 14, 2014</p>
<br>
<br>
<br>
<br>
<p>To The Council of the City of Peterborough, for consideration at its meeting held April 28, 2014</p>
<p>The Planning Committee, as a result of its meeting held on April 14, 2014 recommends as follows:</p>
<p>1.  Manager, Planning Division</p>
<br>
<p>Report PLPD14-024 By-law to Remove an ’H’ – Holding Symbol from the Zoning By- law for 793 Spillsbury Drive</p>
<p>That Council approve the recommendation outlined in Report PLPD14-024 dated April 14, 2014, of the Manager, Planning Division, as follows:</p>
<p>That the property municipally known as 793 Spillsbury Drive and more particularly described as Part 3, 45R-11465 be rezoned from R.1-’H’ to R.1 in accordance with Exhibit A attached to Report PLPD14-024.</p>
<p>Public Meeting Under The Planning Act Manager, Planning Division Report PLPD14-020 1545 Monaghan Road</p>
<p>That Council approve the recommendations outlined in Report PLPD14-020 dated April 14, 2014, of the Manager, Planning Division, as follows:</p>
<p>a)</p>
<p>That Section 4.2.4 of the Official Plan be amended to add provisions for the lands known as 1545 Monaghan Road to permit a limited range of non-residential uses such as a place of assembly, day nursery, school, adult training centre and small scale office and clinic uses, in addition to residential uses, in accordance with the draft amendment attached as Exhibit “C” to Report PLPD14-020.</p>
<br>
<br>
<br>
<p>2.</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of April 28, 2014</p>
<p>Page 8</p>
<br>
<p>b)</p>
<p>That Section 376 – Special District 346, being the zoning for the lands known as 1545 Monaghan Road, be amended in accordance with the draft amendment attached as Exhibit “D” to Report PLPD14-020.</p>
<p>c)</p>
<p>That the ‘H’ – Holding Symbol be removed from the property subject to the following:</p>
<p>i)</p>
<p>ii)</p>
<p>iii)</p>
<p>iv)</p>
<p>Site Plan Approval being granted for the subject property, including a clause that requires the proponent to prepare a servicing report, to the satisfaction of the City’s Utility Services Department, for development of the subject lands, in excess of 150 residential units or the hydraulic equivalent;</p>
<p>Any necessary sanitary sewer upgrade to accommodate development of the subject lands beyond 150 residential units or the hydraulic equivalent, to be addressed to the satisfaction of the City;</p>
<p>Payment of applicable cash in lieu of parkland; and</p>
<p>Confirmation that a Heritage Conservation Agreement between the owner and the City of Peterborough has been registered on title.</p>
<p>3.</p>
<p>Public Meeting Under The Planning Act Manager, Planning Division Report PLPD14-022 Lily Lake Secondary Plan</p>
<p>That Council approve the recommendations outlined in Report PLPD14-022 dated April 14, 2014, of the Manager, Planning Division, as follows:</p>
<p>a)</p>
<p>That the Official Plan be amended to adopt Schedule ‘R’ – Lily Lake Secondary Plan and Section 10.9 – Lily Lake Secondary Plan in accordance with Exhibit C of Planning Report PLPD14-022.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of April 28, 2014</p>
<p>Page 9</p>
<p>That Schedules “A” – Land Use, “A1” – City Structure, “B” – Roadway Network, “B(a) – Bikeway Network, “C” – Natural Areas and Flood Plains, “D” – Development Areas, “E” – Residential Density, and “F” – Key Map to Secondary Land Use Plans of the Official Plan and Section 7 – Sequence of Development and Servicing Policy, Table 1 – Residential Development by Secondary Land Use Plan Areas and Table 2 – Road Allowance Widths of the Official Plan be amended in accordance with Exhibit C of Planning Report PLPD14- 022 in order to reflect the land use planning objectives of the Lily Lake Secondary Plan.</p>
<br>
<p>b)</p>
<br>
<p>Submitted by,</p>
<p>Councillor Hall Chair April 14, 2014</p>
<p>City Council Minutes</p>
<p>Meeting of April 28, 2014</p>
<p>Page 10</p>
<br>
<p>1.</p>
<br>
<br>
<br>
<br>
<br>
<p>Committee of the Whole Report No. 5</p>
<p>Meeting of April 22, 2014</p>
<br>
<p>To the Council of The City of Peterborough for Consideration at its Meeting Held April 28, 2014</p>
<p>The Committee of the Whole as a Result of its Meeting Held on April 22, 2014, Recommends as Follows:</p>
<p>Report of Closed Session Director of Planning and Development Services Report PLPD14-025 Purchase of Property at 813 Fairbairn Street</p>
<p>That Council approve the recommendations outlined in Report PLPD14-025 dated April 22, 2014, of the Director of Planning and Development Services as follows:</p>
<p>That a by-law be passed to authorize the purchase of a residential property at 813 Fairbairn Street for $270,000.00, plus land transfer tax of $2,525.00.</p>
<p>That upon completion of the Environmental Assessment, the building be demolished.</p>
<p>2.</p>
<br>
<p>Director of Community Services Report CSD14-008 Wildfire Invitational Sponsorship Funding Request</p>
<p>That a presentation from SDI Marketing (SDIMKTG) representatives, Kelly Dixon and Randy Paul, organizers of the Wildfire Invitational, a professional golf tournament sanctioned by the PGA Tour, be received for information.</p>
<p>That the item be referred to staff for additional information.</p>
<p>a)</p>
<p>b)</p>
<p>a)</p>
<p>b)</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of April 28, 2014</p>
<p>Page 11</p>
<p>3.</p>
<br>
<br>
<p>4.</p>
<p>5.</p>
<br>
<p>President and CEO Peterborough Economic Development Report PED14-002 PED 2014 First Quarter Report</p>
<p>That Council approve the recommendation outlined in Report PED14-002 of the President and CEO of Peterborough Economic Development, as follows:</p>
<br>
<p>That Report PED14-002 providing the Peterborough Economic Development 2014 First Quarter Report be received.</p>
<p>Director of Corporate Services Report CP14-003 2013 Annual Status Report on the 2012 to 2016 Accessibility Plan and Update on Staffing</p>
<p>That Council approve the recommendations outlined in Report CP14-003, dated April 22, 2014, of the Director of Corporate Services, as follows:</p>
<p>a)</p>
<p>That the 2013 Annual Status Report regarding the City’s 2012 to 2016 Accessibility Plan, as set out in Appendix A to Report CP14-003, be approved.</p>
<p>b)</p>
<p>That funding for a permanent Accessibility Compliance Coordinator be requested in the 2015 Budget for consideration.</p>
<br>
<p>Director of Planning and Development Services Report PLPD14-019 Budget Adjustment to the Trans-Canada Trail at the CPR Bridge Capital Project and Amendment to Contract T-46-12</p>
<p>That Council approve the recommendations outlined in Report PLPD14-019 dated April 22, 2014, of the Director of Planning and Development Services, as follows:</p>
<p>a)</p>
<p>That the Trans-Canada Trail at the CPR Bridge Capital Project budget be increased by $595,000 from 3,730,000 to $4,325,000 and the additional $595,000 requirement be financed from:</p>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of April 28, 2014</p>
<p>Page 12</p>
<p>i)</p>
<p>ii)</p>
<p>iii)</p>
<p>A $280,000 transfer from the Capital Levy Reserve;</p>
<p>A $300,000 transfer from the Visitor Centre Project identified as Project 14.09 in the 2001 Approved Capital Budget; and</p>
<p>A $15,000 transfer from the Approved Capital Budget for “Otonabee River Trail Crescent Street Phase – Del Crary Park to Little Lake Cemetery”, Budget Reference #7-1.04.</p>
<p>That the contract awarded under Tender T-46-12 to Innovative Civil Constructors Inc., for the construction of the Trans-Canada Trail at the CPR Bridge, in the amount of $3,135,788.00, excluding taxes, be increased by $702,386.80 excluding taxes, to a new contract amount of $3,838,174.80 plus HST of $498,962.72 for a total cost of $4,337,137.52 to reflect various scope changes.</p>
<p>That the contract awarded to Sanchez Engineering Inc. pursuant to PLPD12-041 in the amount of $148,890.00 be increased by $35,000.00, excluding taxes, to a new contract amount of $183,890.00 plus HST of $23,905.70 for a total cost of $207,795.70 to reflect various scope changes.</p>
<p>Director of Community Services Report CSACH14-005 Heritage Property Tax Relief Program Exception</p>
<p>That Council approve the recommendation outlined in Report CSACH14-005 dated April 22, 2014 of the Director of Community Services as follows:</p>
<p>That a by-law be passed to provide an exception to Section 10 of By-law 11-086, being a by-law to provide for a tax rebate to designated heritage properties, attached as Appendix A, allowing the properties at 404 Belmont Avenue, known historically as the Wood House; 499 Homewood Avenue; and 1545 Monaghan Road, known as Mount St. Joseph, to be included in the HPTRP.</p>
<br>
<br>
<br>
<br>
<br>
<p>6.</p>
<p>b)</p>
<p>c)</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of April 28, 2014</p>
<p>Page 13</p>
<p>Director of Utility Services Report USTR14-004 Review of By-laws Pertaining to Active Transportation</p>
<p>That the matter be referred to staff to receive legal advice in closed session, before bringing the matter back to Committee.</p>
<p>Director of Utility Services Report USEC14-009 Budget Increase and Award of Tender T-01-04 for Monaghan Road Reconstruction</p>
<p>That Council approve the recommendations outlined in Report USEC14-009 dated April 22, 2014, of the Director of Utility Services, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>d)</p>
<p>That the 2014 Capital budget for the Monaghan Road / Crawford Drive Intersection (Item 5-3.02) be increased by $750,000 from $2,000,000 to $2,750,000;</p>
<p>That additional funds in the amount of $650,000 for this project be financed from the Sanitary Sewer Reserve Fund;</p>
<p>That additional funds in the amount of $100,000 for this project be financed from the Flood Reduction Master Plan - Capital Levy Reserve; and</p>
<p>That Tender T-01-14, for the Monaghan Road Reconstruction be awarded to Coco Paving Inc., 3075 Maplegrove Road, Bowmanville, Ontario, L1C 3K4 at a cost of $2,196,551.06 plus $285,551.64 HST for a total cost of $2,482,102.70.</p>
<br>
<p>7.</p>
<p>8.</p>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of April 28, 2014</p>
<p>Page 14</p>
<p>Chief Administrative Officer Report CAO14-010 Township of Douro-Dummer request to explore possibility of Peterborough Community Police Service providing Police Service to the Township</p>
<p>That Council approve the recommendation outlined in Report CAO14-010, dated April 22, 2014, of the Chief Administrative Officer, as follows:</p>
<p>That City staff be authorized to enter into discussions with the Township of Douro-Dummer to explore the opportunity of having City Police provide police services to the Township.</p>
<br>
<p>10.  Complete Streets Presentation</p>
<p>That a presentation be provided by staff and/or the Peterborough County- City Health Unit on Complete Streets.</p>
<br>
<p>9.</p>
<br>
<br>
<br>
<p>Submitted by,</p>
<p>Councillor Hall Chair April 22, 2014</p>
<p>City Council Minutes</p>
<p>Meeting of April 28, 2014</p>
<p>Page 15</p>
<br>
<br>
<br>
<p>1.</p>
<p>Committee of the Whole Report No. 6</p>
<p>Meeting of April 28, 2014</p>
<br>
<p>To the Council of The City of Peterborough for Consideration at its Meeting Held April 28, 2014</p>
<p>The Committee of the Whole as a Result of its Meeting Held on April 28, 2014, Recommends as Follows:</p>
<p>Report of Closed Session Director of Planning and Development Services Application to the Eastern Ontario Development Fund</p>
<p>That Council authorize staff to submit an application to the Eastern Ontario Development Fund in support of a high priority aviation investment opportunity at the Peterborough Airport.</p>
<br>
<p>Submitted by,</p>
<p>Councillor Hall Chair April 28, 2014</p>
<br>
<br></div>