<!doctype html><div><br>
<br>
<p>City Council Minutes</p>
<p>City of Peterborough</p>
<br>
<p>August 5, 2014</p>
<br>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of City Council Held on August 5, 2014, in the</p>
<p>Council Chambers.</p>
<br>
<p>The City Council meeting was called to order at 6:30 p.m. in the Council Chambers, City Hall.</p>
<p>Roll Call: Councillor Beamer Councillor Clarke Councillor Doris Councillor Hall Councillor Juby Councillor McWilliams Councillor Pappas Councillor Parnell Councillor Riel Councillor Vass Mayor Bennett</p>
<br>
<p>Confirmation of Minutes – June 30, 2014</p>
<p>Moved by Councillor Clarke, seconded by Councillor Pappas</p>
<p>That the minutes of the meeting of Council held on June 30, 2014, be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>Councillor  McWilliams  declared  a  Pecuniary  Interest  in  Item  1,  Planning  Committee Report 8, as he owns a competing business.</p>
<p>Mayor Bennett declared a Pecuniary Interest in Item 17, Committee of the Whole Report 10, as he has a financial interest in a transportation firm.</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of August 5, 2014</p>
<p>Page 2</p>
<p>Delegations</p>
<p>Registered Delegations:</p>
<p>Patti Peeters, 307 Burnham Street, made a delegation to Item 16 of Committee of the Whole Report No. 10 (Report USPW14-002, Winter Services Report).</p>
<p>Janice Sorrie and Teddi Pappas, Operation Catnip, made a delegation to Item 13 of Committee of the Whole Report No. 10 (Report OCS14-006, Peterborough Humane Society Agreement).</p>
<p>Marie Bongard, 461 Albert Street, made a delegation to the following items of Committee of the Whole Report No.10: Item 2, Report PLPD14-046, PHC Acquisition of Former McRae Campus, Fleming College, Item 5, Report USTR14-007, Active Transportation By-law, Item 16, USPW14-002, Winter Services Report and Item 17, Report USTR14-009, 2014 Transit Budget Concerns.</p>
<p>Paul Brown, 277 Stewart Street, made a delegation to Item 16 of Committee of the Whole Report No. 10 (Report USPW14-002, Winter Services Report).</p>
<p>Bill Templeman, 301 Boswell Avenue, made a delegation to Item 16 of Committee of the Whole Report No. 10 (Report USPW14-002, Winter Services Report).</p>
<p>Mike Maddock, Local 504, made a delegation to Item 16 of Committee of the Whole Report No. 10 (Report USPW14-002, Winter Services Report).</p>
<p>Councillor Juby left the meeting at 8:00 p.m. and returned at 8:04 p.m.</p>
<p>Roy Brady, 304-136 Ware Street, made a delegation to Item 16 of Committee of the Whole Report No. 10 (Report USPW14-002, Winter Services Report).</p>
<p>Jeff Pass, 700 Fortier Drive, made a delegation to Item 16 of Committee of the Whole Report No. 10 (Report USPW14-002, Winter Services Report).</p>
<p>Councillor McWilliams left the meeting at 8:22 p.m.</p>
<p>Elaine Covert, Peterborough, made a delegation to Item 17 of Committee of the Whole Report No. 10 (Report USTR14-009, 2014 Transit Budget Concerns).</p>
<p>Delegations Not Registered:</p>
<p>Budget Committee Report</p>
<p>There were no delegations</p>
<p>City Council Minutes</p>
<p>Meeting of August 5, 2014</p>
<p>Page 3</p>
<p>Planning Committee Report</p>
<p>There were no delegations.</p>
<p>Committee of the Whole Report</p>
<p>There were no delegations.</p>
<p>Other Items on the Agenda</p>
<p>There were no delegations.</p>
<p>Budget Committee Report Number 1</p>
<p>Moved by Councillor Clarke, seconded by Councillor Doris</p>
<p>That Report Number 1 of the Budget Committee Meeting of July 21, 2014 be approved.</p>
<p>At the meeting of August 5, 2014 item f), was added:</p>
<p>f)</p>
<p>Whereas Section 39(2) of the Police Services Act stipulates the</p>
<p>i) format of the Police estimates, the period that they cover and the timetable for their submission shall be determined by the Council;</p>
<p>And in order for the 2015-2018 Council to better understand the Peterborough Police Service Board’s 2015 Operating Budget request; and to be able to have meaningful discussion with the Board about potential new financial efficiencies;</p>
<p>The Peterborough Police Services Board be requested  to provide its 2015 operating budget information in the same format that was provided for the Police Board Budgeted 2014 Expense Activity as set in Chief Administrative Officer’s Report CAO14-008 dated March 31, 2014;</p>
<p>And that this information be provided to Council prior to the Budget Committee’s detailed review of the 2015 Draft Budget in January 2015.</p>
<p>i)</p>
<p>ii)</p>
<p>iii)</p>
<p>“CARRIED”</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of August 5, 2014</p>
<p>Page 4</p>
<p>Planning Committee Report Number 8</p>
<p>Moved by Councillor Hall, seconded by Councillor Juby</p>
<p>That Report Number 8 of the Planning Committee Meeting of July 21, 2014 be approved.</p>
<p>“CARRIED”</p>
<p>Committee of the Whole Report Number 10</p>
<p>Moved by Councillor Hall, seconded by Councillor McWilliams</p>
<p>That Report Number 10 of the Committee of the Whole Meeting of July 28, 2014 be approved.</p>
<p>Items 13, 16 and 17 were separated for discussion.</p>
<p>Item 16</p>
<p>Councillor Hall spoke on a point of privilege (Article 16.20.1).</p>
<p>Moved by Councillor Riel, Seconded by Councillor Parnell</p>
<p>That items e) and f) be removed and that an item i) be added to Item 16:</p>
<p>i)  That  the  City  enter  into  meaningful  negotiations  with  CUPE  Local  504  to  make sure  adequate  manpower  and  resources  are  made  available  for  the  clearing  of snow from roads, sidewalks and other areas as defined by staff.</p>
<br>
<p>Mayor  Bennett  ruled  the  amendment  out  of order,  as  it  is  contrary  to  the  main  motion (Article 16.27.4).</p>
<p>Upon request by Councillor Vass, Item 16 was separated for a vote.</p>
<p>Upon item 16, the motion carried.</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of August 5, 2014</p>
<p>Page 5</p>
<p>Item 17</p>
<p>Item  17  was  separated  for  vote  due  to  Mayor  Bennett’s  previously  declared  interest. Mayor Bennett did not discuss or vote on this item.</p>
<p>Upon item 17, the motion carried.</p>
<p>Upon the main motion of Councillors Hall and McWilliams, less items 16 and 17, the motion carried.</p>
<p>Notice of Motion</p>
<p>There were no Notices of Motion.</p>
<p>By-laws</p>
<p>Moved by Councillor Pappas, seconded by Councillor Riel</p>
<p>That the following by-laws be read a first, second and third time:</p>
<p>14-095</p>
<p>Being a By-law to amend By-law 07-027 Being a By-law for the purpose of regulating the Disposal of Waste, including establishing of Tipping Fees for the Peterborough County-City Waste Management Facility</p>
<p>14-096</p>
<p>14-097</p>
<p>14-098</p>
<p>14-099</p>
<br>
<p>Being a By-law to Regulate Bicycles, Skateboards, Inline Skates, Roller Skates, E-Bikes, Segways and other conveyances drawn, propelled or driven by any kind of muscular power in the City of Peterborough</p>
<p>Being a By-law to Appoint Parking Enforcement Officers at 210 Hunter Street West and 311 George Street North</p>
<p>Being a By-law to authorize the entering into and the execution of an Agreement between The Corporation of the City of Peterborough and The Peterborough Humane Society</p>
<p>Being a By-law to Amend the Zoning By-law for the property known as 900 Water Street and an unopened portion of the Hilliard Street right of way</p>
<p>14-100</p>
<p>14-101</p>
<p>14-102</p>
<p>14-103</p>
<p>14-104</p>
<p>City Council Minutes</p>
<p>Meeting of August 5, 2014</p>
<p>Page 6</p>
<p>Being a By-law to authorize the acquisition of the land municipally known as part of 152 Lansdowne Street East, being designated as Part 2 on Reference Plan 45R-12163, in the City of Peterborough in the County of Peterborough</p>
<p>Being a By-law to authorize the acquisition of the land municipally known as part of 696 Brealey Drive, being designated as Part 2 on Reference Plan 45R-13628, in the City of Peterborough, in the County of Peterborough</p>
<p>Being a By-law to authorize the acquisition of the land municipally known as part of 704 Brealey Drive, being designated as Part 1 on Reference Plan 45R13628, in the City of Peterborough, in the County of Peterborough</p>
<p>Being a By-law to authorize the acquisition of the land municipally known as part of 1811 Ashburnham Drive, being designated as Part 5 on Reference Plan 45R-15847, in the City of Peterborough, in the County of Peterborough</p>
<p>Being a By-law to authorize the acquisition of the land municipally known as part of 1838 Ashburnham Drive, being designated as Part 3 on Reference Plan 45R-15847, in the City of Peterborough, in the County of Peterborough</p>
<p>and the said by-laws, having been now read a third time and passed, the Mayor and Clerk be authorized to sign and seal the same.</p>
<p>“CARRIED”</p>
<p>Other Business</p>
<p>Discussion was held regarding work being undertaken at Steve Terry Way.</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of August 5, 2014</p>
<p>Page 7</p>
<p>Confirmatory By-law</p>
<p>Moved by Councillor Beamer, seconded by Councillor Juby</p>
<p>That the following by-law be read a first, second and third time:</p>
<p>14-105</p>
<p>Being a By-law to confirm the proceedings of the Council at its meeting held on August 5, 2014.</p>
<p>and the said by-law, having been now read a third time and passed, the Mayor and Clerk be authorized to sign and seal the same.</p>
<p>“CARRIED”</p>
<p>Adjournment</p>
<p>Moved by Councillor Juby, seconded by Councillor Pappas</p>
<p>That this meeting of City Council adjourn at 9:45 p.m.</p>
<p>“CARRIED”</p>
<br>
<p>Natalie Garnett Deputy City Clerk</p>
<p>Daryl Bennett Mayor</p>
<p>City Council Minutes</p>
<p>Meeting of August 5, 2014</p>
<p>Page 8</p>
<p>Budget Committee Report No. 1</p>
<p>Meeting of July 21, 2014</p>
<br>
<br>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<br>
<p>d)</p>
<p>e)</p>
<p>To  the  Council  of  The  City  of  Peterborough  for  consideration  at  its meeting held August 5, 2014.</p>
<p>The  Budget  Committee  as  a  Result  of  its  meeting  held  on  July  21, 2014 Recommends as follows:</p>
<p>1.</p>
<p>Director of Corporate Services Report CPFS14-020 2015 Budget Guidelines</p>
<p>That Council approve the recommendations outlined in Report CPFS14-020, dated July 21, 2014, of the Director of Corporate Services, as follows:</p>
<p>That the Draft 2015 Operating Budget reflect a 2% all-inclusive (Municipal, Education and Sewer Surcharge) increase for increased operating costs and traditional support for the capital program.</p>
<p>That the Draft 2015 Operating Budget reflect an additional 1% all-inclusive (Municipal, Education and Sewer Surcharge) increase to fund the 2015 increase for tax-supported debt charges and any increase to base capital levy to continue to implement the Capital Financing Policy approved by Council at its meeting held April 23, 2012.</p>
<p>That the Tax Ratio Reduction Program be deferred for one year by holding the Tax Ratios for all tax classes at the 2014 level in order to provide relief for the Residential Tax Class.</p>
<p>That the draft 2015 Operating Budget reflect a 3.2% increase in the net Peterborough Community Police Services Budget to be accommodated within the 2% general increase, and any increase in the net Police Services budget beyond the 3.2% be addressed by the 2015-2018 Council and the Peterborough Police Services Board as part of the detailed 2015 Budget deliberations to occur in January of 2015.</p>
<p>That 2015 Budget Committee meetings be tentatively scheduled on the following dates to complete the 2015 Budget process: • January 12, 2015 to January 15, 2015 • January 21, 2015 •  February 2, 2015</p>
<p>- Detailed Review - Public Meeting - Anticipated Approval</p>
<br>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of August 5, 2014</p>
<p>Page 9</p>
<p>At the Council meeting of August 5, 2014 item f), was added:</p>
<p>f)</p>
<p>Whereas Section 39(2) of the Police Services Act stipulates the</p>
<p>i) format of the Police estimates, the period that they cover and the timetable for their submission shall be determined by the Council;</p>
<br>
<br>
<p>ii)</p>
<p>iii)</p>
<p>iv)</p>
<p>And in order for the 2015-2018 Council to better understand the Peterborough Police Service Board’s 2015 Operating Budget request; and to be able to have meaningful discussion with the Board about potential new financial efficiencies;</p>
<p>The Peterborough Police Services Board be requested to provide its 2015 operating budget information in the same format that was provided for the Police Board Budgeted 2014 Expense Activity as set in Chief Administrative Officer’s Report CAO14-008 dated March 31, 2014;</p>
<p>And that this information be provided to Council prior to the Budget Committee’s detailed review of the 2015 Draft Budget in January 2015.</p>
<br>
<p>Submitted by,</p>
<p>Councillor Clarke Chair July 21, 2014</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of August 5, 2014</p>
<p>Page 10</p>
<p>Planning Committee Report No. 8</p>
<p>Meeting of July 21, 2014</p>
<p>To The Council of the City of Peterborough, for consideration at its meeting held August 5, 2014</p>
<p>The Planning Committee, as a result of its meeting held on July 21, 2014 recommends as follows:</p>
<p>1.</p>
<p>Public Meeting under The Planning Act Manager, Planning Division Report PLPD14-039 900 Water Street and Part of Hilliard Street Zoning By-law Amendment</p>
<p>That Council approve the recommendations outlined in Report PLPD14-039 dated July 21, 2014, of the Manager, Planning Division, as follows:</p>
<p>That the application to amend the Zoning By-Law be approved in accordance with Exhibit ‘C’ attached to Report PLPD14-039 as follows:</p>
<p>That the SP. 174 zoning of the subject lands be amended to limit the permitted uses to those Light Industrial uses permitted in the M1.1 Zoning District and a ‘rental establishment’;</p>
<p>ii)</p>
<p>That Schedule ‘X’ to Section 214 be repealed.</p>
<p>b)</p>
<p>That the ‘H’ – Holding Symbol be removed from the property subject to the following:</p>
<br>
<p>a)</p>
<p>i)</p>
<p>i)</p>
<p>Site Plan Approval being granted which will include: •</p>
<p>Recommendations as contained in the Environmental Review (D.M. Wills, 2014) be incorporated in the approved Site Plan, subject to approval of Otonabee Conservation;</p>
<p>•</p>
<p>Detailed Stormwater Management design be incorporated in the approved Site Plan, subject to approval of the City’s Utility Services Department and Otonabee Conservation;</p>
<p>City Council Minutes</p>
<p>Meeting of August 5, 2014</p>
<p>Page 11</p>
<p>Completion of a Stage 1 – Stage 2 Archaeological Assessment for the property.</p>
<p>ii)</p>
<p>The owner enter into a licensing agreement for use of the City Road Allowance (Part of Hilliard Street) adjacent to the property at 900 Water St and that the agreement preserve the right for public access from Water Street to the Otonabee River.</p>
<br>
<p>•</p>
<br>
<br>
<p>Submitted by,</p>
<p>Councillor Hall Chair July 21, 2014</p>
<p>City Council Minutes</p>
<p>Meeting of August 5, 2014</p>
<p>Page 12</p>
<br>
<p>1.</p>
<br>
<br>
<br>
<br>
<br>
<p>Committee of the Whole Report No. 10</p>
<p>Meeting of July 28, 2014</p>
<br>
<p>To the Council of The City of Peterborough for Consideration at its Meeting held August 5, 2014</p>
<p>The Committee of the Whole as a Result of its Meeting held on July 28, 2014, Recommends as Follows:</p>
<p>Chief Administrative officer Report CAO14-015 City/Fleming College Funding Agreement Kawartha Trades and Technology Centre</p>
<p>That  Council  approve  the  recommendation  outlined  in  Report  CAO14-015, dated July 28, 2014, of the Chief Administrative Officer, as follows:</p>
<p>That a City / Fleming College Funding Agreement be approved through which the City will provide a $1.0 million contribution to the College’s Kawartha Trades and Technology Centre, and Fleming will sell the former McRae Campus at 555 Bonaccord Street to Peterborough Housing Corporation for $800,000.</p>
<br>
<p>c)</p>
<p>2.   Director, Planning and Development Services</p>
<p>Report PLPD14-046</p>
<p>PHC Acquisition of Former McRae Campus, Fleming College</p>
<p>That Council approve the recommendations outlined in Report PLPD14- 046 dated July 28, 2014, of the Director, Planning and Development Services, as follows:</p>
<p>That, pursuant to Article 5.3 of the Shareholder Direction, the City or Peterborough as the sole shareholder of Peterborough Housing Corporation (PHC), consents to the purchase of 555 Bonaccord Street, being the balance of the former McRae Campus of Fleming College, in order to further the objectives of the Corporation.</p>
<p>City Council Minutes</p>
<p>Meeting of August 5, 2014</p>
<p>Page 13</p>
<p>d)</p>
<p>e)</p>
<p>That, pursuant to Article 5.3 of the Shareholder Direction, the City of Peterborough as the sole shareholder of PHC, authorizes the Board of PHC, following an evaluation of its current building and property assets, to dispose of and/or leverage certain assets of the Corporation to purchase and develop 555 Bonaccord Street in order to further the objectives of the PHC.</p>
<p>That Council acknowledge that PHC will develop the property under the flexibility granted to the City of Peterborough in the Zoning By- law to carry out any lawful purpose of the City.</p>
<p>Director of Community Services Report CSRS14-005 Concussion Awareness and Management Policy</p>
<p>That Council approve the recommendation outlined in Report CSRS14-005 dated July 28, 2014, of the Director of Community Services, as follows:</p>
<p>That the corporate policy on Concussion Awareness and Management be approved, in the form attached as Appendix “A” of Report CSRS14-005.</p>
<p>Director of Community Services Report CSACH14-007 Award of RFP P-18-14 for Storage Systems for the Peterborough Museum & Archives</p>
<p>That Council approve the recommendation outlined in Report CSACH14- 007 dated July 28, 2014, of the Director of Community Services, as follows:</p>
<p>That RFP document P-18-14 for the Storage Systems for the Peterborough Museum and Archives be awarded to Spacesaver Solutions Inc., 115 Englehard Drive, Aurora, Ontario L4G 3V1 at a total cost of $145,520.02 plus $18,917.60 HST for a total of $164,437.62.</p>
<br>
<p>3.</p>
<br>
<p>4.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of August 5, 2014</p>
<p>Page 14</p>
<p>5.</p>
<p>Director of Utility Services Report USTR14-007 Active Transportation By-law</p>
<p>That Council approve the recommendations outlined in Report USTR14-007 dated June 23, 2014, of the Director of Utility Services, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>d)</p>
<p>That sections 3, 4, 9 and 15 of By-law 91-71 (Traffic By-law), By-law 1987-56 (By-law to Require Bicycle Licences), Chapter 729 of the Municipal Code, and sections 1(d), 1(e) and 4 of By-law 09-164 be repealed and replaced by the Active Transportation By-Law, attached as Appendix A to Report USTR14-007.</p>
<p>That staff be directed to amend By-law 09-164 as outlined in this report in order to make By-law 09-164 consistent with the definitions and intent of the Active Transportation By-law,</p>
<p>That staff be directed to amend By-law 91-71 as outlined in this report in order to make By-law 91-71 consistent with the definitions and intent of the Active Transportation By-law; and</p>
<p>That staff conduct an education and awareness campaign regarding the Active Transportation By-Law.</p>
<br>
<p>6.   Director, Planning and Development Services</p>
<p>Report PLPD14-040 Purchase of Partial Property at 1811 Ashburnham Drive</p>
<p>That Council approve the recommendation outlined in Report PLPD14-040 dated July 28, 2014, of the Director of Planning and Development Services as follows:</p>
<p>That a by-law be passed to authorize the purchase of partial property known municipally as 1811 Ashburnham Drive, for $120,000.00 plus land transfer tax of $925.00.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of August 5, 2014</p>
<p>Page 15</p>
<p>7.   Director, Planning and Development Services</p>
<p>Report PLPD14-041 Purchase of Partial Property at 1838 Ashburnham Drive</p>
<p>That Council approve the recommendation outlined in Report PLPD14-041 dated July 28, 2014, of the Director of Planning and Development Services as follows:</p>
<p>That a by-law be passed to authorize the purchase of partial property known municipally as 1838 Ashburnham Drive, for $100,000.00 plus land transfer tax of $725.00.</p>
<br>
<br>
<p>8.   Director, Planning and Development Services</p>
<p>Report PLPD14-042 Purchase of Partial Property at 152 Lansdowne Street East</p>
<p>That Council approve the recommendation outlined in Report PLPD14-042 dated July 28, 2014, of the Director of Planning and Development Services as follows:</p>
<p>That a by-law be passed to authorize the purchase of partial property known municipally as 152 Lansdowne Street East, for $2,150.00 plus land transfer tax of $10.75.</p>
<br>
<p>9.   Director, Planning and Development Services</p>
<p>Report PLPD14-043 Purchase of Partial Property at 696 Brealey Drive</p>
<p>That Council approve the recommendation outlined in Report PLPD14-043 dated July 28, 2014, of the Director of Planning and Development Services as follows:</p>
<p>That a by-law be passed to authorize the purchase of partial property known municipally as 696 Brealey Drive, for $88,000.00 plus land transfer tax of $605.00.</p>
<br>
<br>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of August 5, 2014</p>
<p>Page 16</p>
<p>10.   Director, Planning and Development Services</p>
<p>Report PLPD14-044 Purchase of Partial Property at 704 Brealey Drive</p>
<br>
<br>
<br>
<br>
<p>That Council approve the recommendation outlined in Report PLPD14-044 dated July 28, 2014, of the Director of Planning and Development Services as follows:</p>
<p>That a by-law be passed to authorize the purchase of partial property known municipally as 704 Brealey Drive, for $90,000.00 plus land transfer tax of $625.00.</p>
<br>
<p>11.   Director of Corporate Services</p>
<p>Report CPFS14-021 Award of RFP P-07-14 for Budgeting Software Solution</p>
<p>That Council approve the recommendation outlined in Report CPFS14-021 dated July 28, 2014, of the Director of Corporate Services, as follows:</p>
<p>That RFP document P-07-14 for the Budgeting Software Solution be awarded to Questica Inc., 980 Fraser Drive, Suite 105, Burlington, Ontario, L7L 5P5 at a total cost of $171,400 plus $22,282 for a total cost of $193,682.</p>
<br>
<p>12.   Director of Planning and Development Services</p>
<p>Report PLPD14-045 Peterborough Housing Corporation Shareholder Report (2013)</p>
<p>That Council approve the recommendations outlined in Report PLPD14-045 dated July 28, 2014, of the Director of Planning and Development Services, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>That the presentation from Peterborough Housing Corporation be received.</p>
<p>That the audited financial statements of the Peterborough Housing Corporation (the “Corporation”) and subsidiary corporations, for the fiscal year ending on December 31, 2013, together with the report of the auditors thereon, be received and approved;</p>
<p>City Council Minutes</p>
<p>Meeting of August 5, 2014</p>
<p>Page 17</p>
<br>
<p>c)</p>
<p>d)</p>
<p>e)</p>
<p>That the election of the following persons as Directors of the Corporation be confirmed for the terms set out in prior resolutions of the Council of the Corporation of the City of Peterborough: Andrew Beamer, Janet Clarkson, Ken Andrews, Bonnie Clark, Terry Low, Ken Smith, Linda Kehoe, Mary Hay, Jack Gillian and Larry Love;</p>
<p>That the 2013 Annual Report on the progress and accomplishments of the Corporation be received and approved; and</p>
<p>That Collins Barrow Kawarthas LLP, Chartered Accountants, be appointed auditors of the Corporation, until the next annual resolution of the Shareholder is signed or until their successors are duly appointed.</p>
<br>
<p>13.   City Solicitor and Director of Legal Services</p>
<p>Report OCS14-006 Peterborough Humane Society Agreement</p>
<p>That a presentation by the Peterborough Humane Society on July 28, 2014 be received;</p>
<p>That a by-law be enacted authorizing the Mayor and Clerk to execute a five (5) year agreement from July 1, 2014 to June 30, 2019 between the City and the Peterborough Humane Society, that maintains the same level of service at the following annual costs:</p>
<p>From</p>
<p>To</p>
<p>Annual Amount</p>
<br>
<br>
<p>July 1, 2014</p>
<p>June 30, 2015</p>
<p>$   315,686</p>
<p>July 1, 2015</p>
<p>June 30, 2016</p>
<p>$   340,194</p>
<p>July 1, 2016</p>
<p>June 30, 2017</p>
<p>$   340,194</p>
<p>July 1, 2017</p>
<p>June 30, 2018</p>
<p>$   340,194</p>
<p>July 1, 2018</p>
<p>June 30, 2019</p>
<p>$   340,194</p>
<p>Total over term</p>
<br>
<p>$1,676,462</p>
<p>That the City’s 2014 Budgeted Contribution to the Peterborough Humane Society be increased by $16,432 from $296,000 to $312,432 and that the $16,432 be transferred from the General Contingency Account.</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of August 5, 2014</p>
<p>Page 18</p>
<p>That Staff and the Peterborough Humane Society undertake a review of  all  animal  by-laws,  including  a  review  to  regulate  cats  through licensing, and report back to Council.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>d)</p>
<br>
<p>a)</p>
<br>
<p>14.  Director of Utility Services</p>
<p>Report USTR14-012 Complete Streets Presentation</p>
<p>That Council approve the recommendation outlined in Report USTR14-012, dated July 28, 2014, of the Director of Utility Services as follows:</p>
<p>That the presentations on Complete Streets by Larry Stinson, Director of Public Health Programs with the Peterborough County-City Health Unit and Kevin Jones, Transportation Manager be received for information.</p>
<br>
<p>15.  President and CEO, Peterborough Economic Development</p>
<p>Report PED14-003 PED 2014 Second Quarter Report</p>
<p>That Council approve the recommendation outlined in Report PED14-003 of the President and CEO of Peterborough Economic Development, as follows:</p>
<p>That Report PED14-003 providing the Peterborough Economic Development 2014 Second Quarter Report be received.</p>
<br>
<p>16.  Director of Utility Services</p>
<p>Report USPW14-002 Winter Services Report</p>
<p>That Council approve the recommendations outlined in Report USPW14- 002 dated July 28, 2014, of the Director of Utility Services, as follows:</p>
<p>That Council reaffirm the provision of road winter services based on the Minimum Maintenance Standards issued under Ontario Regulation 239/02 and as shown in Appendix F of Report USPW14- 002;</p>
<p>City Council Minutes</p>
<p>Meeting of August 5, 2014</p>
<p>Page 19</p>
<p>That appropriate sand, salt and anti-icing material storage be included in the design of 791 Webber Avenue and in future capital budget estimates;</p>
<p>That the procurement and installation of individual anti-icing storage tanks on snow plow trucks and any other necessary ancillary equipment be included in future capital budget estimates;</p>
<p>That a 2014 budget in the amount of $55,000 funded from Contingency be established for winter services during the 2014/2015 winter season at the properties listed in Appendix D, Section D.5 of Report USPW14-002 and that these locations be included in the tender to be issued for the provision of winter services at various parking lots throughout the City;</p>
<p>That $70,000 be included in the 2015 Draft Budget for Council consideration to contract snow removal and sand/salt application for all Transit stops and adult crossing guard locations in the City of Peterborough for the period of November and December 2015 and that, if approved in 2015, future budgets include the full annualization of these services as shown in Table 1 of Report USPW14-002;</p>
<p>That $90,000 be included in the 2015 Draft Budget for Council consideration to contract Sidewalk snow clearing outside the area bounded by Television Road, Monaghan Road, Lansdowne Street and Parkhill Road for the period of November and December 2015 and that, if approved in 2015, future budgets include the full annualization of these services as shown in Table 1 of Report USPW14-002;</p>
<p>That a Capital expenditure of $230,000 be approved for the 2015/2016 winter season to add an additional combination plow/salt road truck to the existing winter roads fleet; and</p>
<p>That By-law Chapter 629 of the Peterborough Municipal Code be repealed and that staff be directed to develop a by-law which will continue to require owners to remove or cause to be removed snow and ice from roof tops.</p>
<p>b)</p>
<p>c)</p>
<p>d)</p>
<p>e)</p>
<p>f)</p>
<p>g)</p>
<p>h)</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of August 5, 2014</p>
<p>Page 20</p>
<p>17.   Director of Utility Services</p>
<p>Report USTR14-009 2014 Transit Budget Concerns</p>
<br>
<br>
<br>
<br>
<br>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>a)</p>
<p>That Council approve the recommendations outlined in Report USTR14-009 dated July 28, 2014, of the Director of Utility Services, as follows:</p>
<p>That the 2014 Conventional Transit Operation - Wages and Benefits accounts be increased by $129,000 from $5,000,705 to $5,129,705 and that the $129,000 be transferred from the General Contingency Account;</p>
<p>That 5 new full time permanent Public Transit Operators be hired effective August 25, 2014, at an estimated 2014 cost including benefits of $129,000 thereby reducing overtime costs as this work is currently being done by existing full time staff; and</p>
<p>That staff consider other measures to address the 2014 Transit Budget shortfall and report back to Council in September 2014 with recommendations to address the 2014 budget pressures; to provide a more detailed status update on the implementation of the Transit Operations Review recommendations and to seek direction on implementing the remaining service changes recommended in the Transit Operations Review.</p>
<br>
<p>18.   Director of Utility Services</p>
<p>Report USPW14-009 Award of RFP P-13-14 for the Design of the New City of Peterborough Public Works Operations Centre</p>
<p>That Council approve the recommendations outlined in Report USPW14- 009 dated July 28, 2014, of the Director of Utility Services, as follows:</p>
<p>That Phase 1 of RFP P-13-14 for the Design of the New Public Works Operations Center be awarded to Reinders+Rieder Ltd., 57 Mill Street North, Suite 201, Brampton, ON, L6X 1S9 at a cost of $89,812.50 plus HST of $11,675.62 for a total cost of 101,488.12; and</p>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of August 5, 2014</p>
<p>Page 21</p>
<p>b)</p>
<p>That upon approval of the appropriate budgets, Phase 2 and Phase 3 proceed and be awarded to Reinders+Rieder Ltd., 57 Mill Street North, Suite 201, Brampton, ON, L6X 1S9 at a cost of $329,312.50 plus HST of $42,810.62 for a total of $$372,123.12 for Phase 2 and $179,625.00 plus HST of $23,351.25 for a total of $202,976.25 for Phase 3.</p>
<br>
<p>19.   Director of Planning and Development Services</p>
<p>Report PLHD14-007 Investment in Affordable Housing (IAH) Program Extension</p>
<br>
<br>
<p>That Council approve the recommendations outlined in Report PLHD14-007 dated July 28, 2014, of the Director of Planning and Development Services, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>That the Mayor and Clerk be authorized to enter into an Administration Agreement  with the province for the Investment in Affordable Housing program extension, as well as any related project, program and delivery agreements with private and non-profit organizations;</p>
<p>That the Director of Planning and Development Services prepare and submit to the Ministry of Municipal Affairs and Housing (MMAH) the multi-year Program Delivery and Fiscal Plan (PDFP) and any subsequent revisions, after obtaining input from the Joint Services Steering Committee; and,</p>
<p>That the Director of Planning and Development Services be authorized to negotiate single source, program delivery agreements with local, non-profit delivery agents.</p>
<p>Submitted by,</p>
<p>Councillor Hall Chair July 28, 2014</p>
<br></div>