<!doctype html><div><br>
<br>
<p>CITY COUNCIL MINUTES</p>
<p>CITY OF PETERBOROUGH</p>
<br>
<p>JANUARY 19, 2009</p>
<br>
<p>DRAFT MINUTES NOT APPROVED</p>
<br>
<br>
<br>
<br>
<br>
<p>MINUTES OF A MEETING OF CITY COUNCIL HELD ON JANUARY 19, 2009,</p>
<p>IN THE COUNCIL CHAMBERS, CITY HALL</p>
<br>
<p>Meeting call to order at 6:30 p.m. in the Council Chambers.</p>
<br>
<p>Roll Call: Councillor Doris Councillor Eggleton Councillor Farquharson Councillor Hall Councillor Clarke Councillor Pappas Councillor Peacock Councillor Peeters Councillor Vass Councillor Martin Mayor Ayotte</p>
<p>Mr. Jeff Leal was present to provide his 2009 address to Council.</p>
<p>Confirmation of Minutes</p>
<p>Moved by Councillor Clarke, seconded by Councillor Pappas</p>
<p>That the minutes of the meeting of Council held on December 15, 2008 and January 14, 2009, be confirmed.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of interest.</p>
<br></div>