<!doctype html><div><br>
<br>
<p>City Council Minutes</p>
<p>City of Peterborough</p>
<p>September 29, 2014</p>
<br>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of City Council Held on September 29, 2014, in</p>
<p>the Council Chambers.</p>
<br>
<p>The City Council meeting was called to order at 7:06 p.m. in the Council Chambers, City Hall.</p>
<p>Roll Call: Councillor Beamer Councillor Clarke Councillor Doris Councillor Hall Councillor Juby Councillor McWilliams Councillor Pappas Councillor Parnell Councillor Riel Councillor Vass Mayor Bennett</p>
<br>
<p>Ceremonial Presentations</p>
<p>Moved by Mayor Bennett, seconded by Councillor Hall</p>
<p>That  in  honour  of  Jack  Doris,  who  served  on  City  Council  for  45  years  as  an Alderman from 1967 to 1991, Mayor from 1992 to 1997 and Councillor from 2001- 2014, the newly renovated General Committee Room, be renamed the Doris Room effective immediately.</p>
<p>“CARRIED”</p>
<p>Mayor  Bennett  made  a  presentation  to  Councillors  Doris  and  Hall  for  their  service  on Council.</p>
<p>City Council Minutes</p>
<p>Meeting of September 29, 2014</p>
<p>Page 2</p>
<p>Confirmation of Minutes – September 8, 2014</p>
<p>Moved by Councillor Clarke, seconded by Councillor Pappas</p>
<p>That the minutes of the meeting of Council held on September 8, 2014, be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>Councillor Clarke declared an interest in By-law 14-123 and Item 17 of Committee of the Whole Report Number 13 (Report PLPD14-056, Purchase of Property at 953 Clonsilla Avenue), as his spouse is employed by the property owner.</p>
<p>Councillor Vass declared an interest in By-law 14-123 and Item 17 of Committee of the Whole Report Number 13 (Report PLPD14-056, Purchase of Property at 953 Clonsilla Avenue), as he is a member of the board of Home Grown Homes.</p>
<p>Mayor Bennett declared an interest in Item 15 of Committee of the Whole Report Number 13 (Report USTR14-013, 2014 Transit Budget and Transit Operations Review Update), as he owns a transportation business that may be perceived to have financial interest in the matter.</p>
<p>Councillor Pappas declared an interest in By-law 14-117 and Item 5 of Committee of the Whole Report Number 13 (Report PLHD14-009, Update: Investment in Affordable Housing (IAH) Program Extension) and Item 6 of Planning Committee Number 10 (Report PLPD14-059, Removal of “H” – Holding Symbol from the Zoning of a portion of the property at 1545 Monaghan Road) as he has family members who live in proximity to the subject property.</p>
<p>Delegations</p>
<p>Registered Delegations:</p>
<p>Jeff Ayotte, Kawartha Trent Synchro Club/Trent Swim Club made a delegation to Item 13 of Committee of the Whole Report No. 13 (Report CSD14-020, New Arena Complex Next Steps).</p>
<p>Tony Tilly, President, Sir Sandford Fleming College, made a delegation to Item 13 of Committee of the Whole Report No. 13 (Report CSD14-020, New Arena Complex Next Steps).</p>
<p>City Council Minutes</p>
<p>Meeting of September 29, 2014</p>
<p>Page 3</p>
<p>Glen Forbes, Canadian Hockey Enterprises, made a delegation to Item 13 of Committee of the Whole Report No. 13 (Report CSD14-020, New Arena Complex Next Steps).</p>
<p>Councillor Juby left the meeting at 8:19 p.m. and returned at 8:22 p.m.</p>
<p>Tim Barrie, Sport Kawartha, made a delegation to Item 13 of Committee of the Whole Report No. 13 (Report CSD14-020, New Arena Complex Next Steps).</p>
<p>Roy Brady, 136 Ware Street, made a delegation to Item 11 of Committee of the Whole Report No. 13 (Report CAO14-021, COPHI Request to Amend Security and Capital Structure).</p>
<p>Moved by Councillor Pappas, seconded by Councillor Beamer</p>
<p>That the Rules of Order (Article 16.8.2) be suspended to permit delegations past the hour of 9:00 p.m.</p>
<p>“CARRIED”</p>
<br>
<p>Dwight Corcoran, Colautti Group, made a delegation to Item 13 of Committee of the Whole Report No. 13 (Report CSD14-020, New Arena Complex Next Steps).</p>
<p>Marie Bongard, 461 Albert Street, made a delegation to Item 11 of Committee of the Whole Report No. 13 (Report CAO14-021, COPHI Request to Amend Security and Capital Structure).</p>
<p>Peter Hewitt, 576 Rogers Street, made a delegation to Item 17 of the Committee of the Whole Report No. 13 (Report PLPD14-056, Purchase of Property at 953 Clonsilla Avenue).</p>
<p>Joe Keating, 1651 Baseline Road, made a delegation to Item 13 of Committee of the Whole Report No. 13 (Report CSD14-020, New Arena Complex Next Steps).</p>
<p>Leo Groarke, Trent University, made a delegation to Item 13 of Committee of the Whole Report No. 13 (Report CSD14-020, New Arena Complex Next Steps).</p>
<p>Karen Hjort-Jensen, 288 Juiliet Road, made a delegation to Item 17 of the Committee of the Whole Report No. 13 (Report PLPD14-056, Purchase of Property at 953 Clonsilla Avenue).</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of September 29, 2014</p>
<p>Page 4</p>
<p>Delegations Not Registered:</p>
<p>Planning Committee Reports</p>
<p>There were no delegations.</p>
<p>Audit Committee Report</p>
<p>There were no delegations</p>
<p>Moved by Councillor Pappas, seconded by Councillor Clarke</p>
<p>That the Rules of Order (Article 16.15.2) be suspended to continue the meeting past the hour of 10:00 p.m. to complete the items on the agenda.</p>
<p>“CARRIED”</p>
<p>Committee of the Whole Reports</p>
<p>Elaine Covert, Peterborough, made a delegation to Item 15 of the Committee of the Whole Report No. 13 (Report USTR14-013, 2014 Transit Budget and Transit Operations Review Update and USTR14-011 Approval to Post Environmental Study Report Class Environmental Assessment to Improve George Street from Sherbrooke Street to Perry Street).</p>
<p>Earl Cochrane, President of Peterborough Exhibition Board, made a delegation to Item 13 of Committee of the Whole Report No. 13 (Report CSD14-020, New Arena Complex Next Steps).</p>
<p>Rennie  Marshall,  Trailview  Drive  made  a  delegation  to  Item  13  of  Committee  of  the Whole Report No. 13 (Report CSD14-020, New Arena Complex Next Steps).</p>
<p>Alan  Wilson,  539  Garside  Drive  made  a  delegation  to  Item  13  of  Committee  of  the Whole Report No. 13 (Report CSD14-020, New Arena Complex Next Steps).</p>
<p>Other Items on the Agenda</p>
<p>There were no delegations.</p>
<p>The Mayor called for a brief recess at 10:10 p.m.</p>
<p>Council reconvened at 10:20 p.m.</p>
<p>City Council Minutes</p>
<p>Meeting of September 29, 2014</p>
<p>Page 5</p>
<p>Committee of the Whole Report Number 12</p>
<p>Moved by Councillor Hall, seconded by Councillor Doris</p>
<p>That Report Number 12 of the Committee of the Whole Meeting of September 15, 2014 be approved.</p>
<p>“CARRIED”</p>
<p>Planning Committee Report Number 10</p>
<p>Moved by Councillor Hall, seconded by Councillor Doris</p>
<p>That Report Number 10 of the Planning Committee Meeting of September 15, 2014 be approved.</p>
<p>Item 6 was separated due to Councillor Pappas’ previously declared interest.  Councillor Pappas did not discuss or vote on item 6.</p>
<p>Item 6</p>
<p>Upon item 6 the motion carried.</p>
<p>Upon the main motion of Councillor’s Hall and Doris, less item 6, the motion carried.</p>
<p>Audit Committee Report Number 2</p>
<p>Moved by Councillor Clarke, Seconded by Councillor Doris</p>
<p>That Report Number 2 of the Audit Committee Meeting of September 22, 2014 be approved.</p>
<p>“CARRIED”</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of September 29, 2014</p>
<p>Page 6</p>
<p>Planning Committee Report Number 11</p>
<p>Moved by Councillor Hall, seconded by Councillor Doris</p>
<p>That Report Number 11 of the Planning Committee Meeting of September 22, 2014 be approved.</p>
<p>“CARRIED”</p>
<p>Committee of the Whole Report Number 13</p>
<p>Moved by Councillor Hall, seconded by Councillor Doris</p>
<p>That Report Number 13 of the Committee of the Whole Meeting of September 22, 2014 be approved.</p>
<p>Item 13</p>
<p>That recommendation f) be amended by adding the following words:</p>
<p>“and Morrow Park”</p>
<p>That the recommendations be amended by adding h) as follows:</p>
<p>h)</p>
<p>At this time, the Morrow Park option be dependant on the interpretation of the 1983 Land Transfer Agreement between the City of Peterborough and the Agricultural Society.</p>
<p>“CARRIED”</p>
<p>Items 5, 11, 13, 15, 16 and 17 were separated for discussion and vote</p>
<p>Item 15 Due to his previously declared interest, the Mayor did not vote on the matter. Upon item 15 the motion carried.</p>
<p>Item 17 Due to their previously declared interests, Councillors Clarke and Vass did not vote on the matter. Upon item 17, the motion carried.</p>
<p>City Council Minutes</p>
<p>Meeting of September 29, 2014</p>
<p>Page 7</p>
<br>
<p>Item 5 Due to his previously declared interest, Councillor Pappas did not vote on the matter. Upon item 5 the motion carried.</p>
<p>Item 16 Upon item 6 the motion carried.</p>
<p>Upon the main motion of Councillors Hall and Doris as amended, less items 5, 13, 15, 16, 17 the motion carried.</p>
<p>Notice of Motion</p>
<p>There were no Notices of Motion.</p>
<p>By-laws</p>
<p>Due to Councillor Clarke and Vass’ previously declared interest in Report PLPD14-056, Purchase of Property at 953 Clonsilla Avenue, By-law 14-123 was separated for vote.</p>
<p>Due to Councillor Pappas’ previously declared interest in Report PLPD14-059, Removal of “H” – Holding Symbol from the Zoning of a portion o the property at 1545 Monaghan Road, By-law 14-117 was separated for vote.</p>
<p>Moved by Councillor Doris, seconded by Councillor Hall</p>
<p>That the following by-laws be read a first, second and third time:</p>
<p>14-116</p>
<p>Being a By-law to extend the interim control provisions of By-law 14-016 for the City of Peterborough to prohibit the issuance of permits for electronic signs until March 4, 2015 to allow for the completion of further review.</p>
<p>14-118</p>
<p>14-119</p>
<br>
<p>Being a By-law to remove the "H" - Holding Symbol from the zoning of the property at 384 Rogers Street and 185 Hunter Street East</p>
<p>Being a By-law to Amend the Zoning By-law for the property known as 565 Stewart Street</p>
<p>City Council Minutes</p>
<p>Meeting of September 29, 2014</p>
<p>Page 8</p>
<p>Being a By-law to Amend the Zoning By-law for the property known as 294 Rubidge Street</p>
<p>Being a By-law to Amend the Zoning By-law for the property known as 482 Mark Street Being a By-law to authorize the entering into and the execution of an Agreement between The Corporation of the City of Peterborough and the Peterborough County-City Health Unit for the provision of the inspection of sewage systems, as required under the Building Code Act, 1992 and to ensure the mandatory re-inspection of on-site sewage systems</p>
<p>Being a By-law to Repeal By-law Number 14-104 authorizing the acquisition of the land municipally known as part of 1838 Ashburnham Drive, being designated as Part 3 on Reference Plan 45R-15847, in the City of Peterborough, in the County of Peterborough</p>
<p>Being a By-law to authorize the acquisition of the land municipally known as part of 1838 Ashburnham Drive, being designated as Parts 2 and 3 on Reference Plan 45R-15847, in the City of Peterborough, in the County of Peterborough</p>
<p>Being a By-law to Appoint Parking Enforcement Officers at 475-489 Bolivar Street, 234 Hunter Street, 333-335 Stewart Street, 490-492 Dickson Street, 298-302 Hunter Street, 129-133 Lake Street, 223-229 Crescent Street and 397 Reid Street</p>
<p>Being a By-law governing Purchasing Policies</p>
<p>Being a By-law to authorize the acquisition of the land, being one foot reserves more particularly described as Part of Lot 7, Concession 11, designated as Part 5 on Reference Plan 45R-15786 and Block 55 on Plan 45M-132, formerly Township of North Monaghan, now in the City of Peterborough, in the County of Peterborough</p>
<p>Being a By-law to authorize the execution of an Encroachment Agreement for lands municipally known as 824 Lansdowne Street, Peterborough</p>
<p>Being a By-law to Amend the Zoning By-law for the property known as 824 Lansdowne Street West</p>
<p>14-120</p>
<p>14-121</p>
<p>14-122</p>
<p>14-124</p>
<p>14-125</p>
<p>14-126</p>
<p>14-127</p>
<p>14-128</p>
<p>14-129</p>
<p>14-130</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of September 29, 2014</p>
<p>Page 9</p>
<p>Being a By-law to amend Chapter 684 of the City of Peterborough Municipal Code - Littering</p>
<p>Being a By-law to authorize the Mayor and Clerk to execute an agreement between the Corporation of the City of Peterborough and Otonabee Region Conservation Authority to operate Beavermead Campground</p>
<p>Being a By-law to appoint a Deputy Fire Chief of the City of Peterborough Fire Services</p>
<p>Being a By-law to Establish Development Charges for the City of Peterborough (City-Wide General Services Charge)</p>
<p>14-131</p>
<p>14-132</p>
<p>14-133</p>
<p>14-134</p>
<p>14-135</p>
<p>Being a By-law to Establish Development Charges for the City of Peterborough (City-Wide Engineering Services Charge)</p>
<p>and the said by-laws, having been now read a third time and passed, the Mayor and Clerk be authorized to sign and seal the same.</p>
<p>“CARRIED”</p>
<br>
<p>By-law 14-123</p>
<p>Councillor Clarke and Vass did not discuss or vote on By-law 14-123 due to their previously declared interests.</p>
<p>That the following by-law be read a first, second and third time:</p>
<p>14-123</p>
<p>Being a By-law to authorize the acquisition of the land municipally known as 953 Clonsilla Avenue, Peterborough</p>
<p>and the said by-law, having been now read a third time and passed, the Mayor and Clerk be authorized to sign and seal the same.</p>
<p>“CARRIED”</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of September 29, 2014</p>
<p>Page 10</p>
<p>Due to Councillor Pappas’ previously declared interest in Report PLPD14-059, Removal of “H” – Holding Symbol from the Zoning of a portion of the property at 1545 Monaghan Road, By-law 14-117 was separated for vote.</p>
<p>14-117</p>
<p>Being a By-law to remove the "H" - Holding Symbol from the zoning of the property at 1545 Monaghan Road</p>
<p>and the said by-law, having been now read a third time and passed, the Mayor and Clerk be authorized to sign and seal the same.</p>
<p>“CARRIED”</p>
<p>Other Business</p>
<p>There were no items of Other Business</p>
<p>Confirmatory By-law</p>
<p>Moved by Councillor Doris, seconded by Councillor Hall</p>
<p>That the following by-law be read a first, second and third time:</p>
<p>14-136</p>
<p>Being a By-law to confirm the proceedings of the Council at its meeting held on September 29, 2014.</p>
<p>and the said by-law, having been now read a third time and passed, the Mayor and Clerk be authorized to sign and seal the same.</p>
<p>“CARRIED”</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of September 29, 2014</p>
<p>Page 11</p>
<p>Adjournment</p>
<p>Moved by Councillor Hall, seconded by Councillor Doris</p>
<p>That this meeting of City Council adjourn at 10:18 p.m.</p>
<p>“CARRIED”</p>
<p>John Kennedy City Clerk</p>
<p>Daryl Bennett Mayor</p>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of September 29, 2014</p>
<p>Page 12</p>
<p>Committee of the Whole Report No. 12</p>
<p>Meeting of September 15, 2014</p>
<br>
<p>To the Council of The City of Peterborough for consideration at its Meeting held September 29, 2014</p>
<p>The Committee of the Whole as a result of its meeting held on September 15, 2014, recommends as follows:</p>
<p>1.</p>
<p>Public Meeting Under the Development Charges Act Director of Corporate Services Report CPFS14-026 Notice of Public Meeting – September 15, 2014 Development Charges Background Study</p>
<p>That Council approve the recommendations outlined in Report CPFS14-026 dated September 15, 2014, of the Director of Corporate Services, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>That Report CPFS14-026 advising Council that a public meeting will be held on September 15, 2014 at 5:30 pm in the Council Chambers to present a Development Charges Background Study and to hear public delegations, be received.</p>
<p>That a further report be presented to the September 22, 2014 Committee of the Whole meeting that will recommend rate changes to City-wide General and Engineered Services Charge.</p>
<br>
<p>Submitted by,</p>
<p>Councillor Hall Chair September 15, 2014</p>
<p>City Council Minutes</p>
<p>Meeting of September 29, 2014</p>
<p>Page 13</p>
<p>Planning Committee Report No. 10</p>
<p>Meeting of September 15, 2014</p>
<br>
<br>
<br>
<br>
<p>To The Council of the City of Peterborough, for consideration at its meeting held September 29, 2014</p>
<p>The Planning Committee, as a result of its meeting held on September 15, 2014 recommends as follows:</p>
<p>1.  Manager, Planning Division</p>
<p>Report PLPD14-061 Amendments to the Sign By-law for the Regulation of Electronic Signs: Proposed Extension to the Interim Control By-law</p>
<p>That Council approve the recommendation outlined in Report PLPD14-061 dated September 15, 2014, of the Manager, Planning Division, as follows:</p>
<p>That the Interim Control By-law prohibiting the issuance of a permit for an electronic sign be extended for a five month period to expire March 4, 2015, to allow time for further consultation and research be approved in accordance with Exhibit A attached to Report PLPD14-061.</p>
<br>
<p>2.  Manager, Planning Division</p>
<p>Report PLPD14-060 Removal of “H” – Holding Symbol from the Zoning of the properties at 384 Rogers Street and 185 Hunter Street East</p>
<p>That Council approve the recommendation outlined in Report PLPD14-060 dated September 15, 2014, of the Manager, Planning Division, as follows:</p>
<p>That the properties at 384 Rogers Street and 185 Hunter Street East be rezoned from SP. 356 - “H”- Residential District to SP. 356 - Residential District in accordance with Exhibit “C” attached to Report PLPD14-060.</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of September 29, 2014</p>
<p>Page 14</p>
<p>3.</p>
<br>
<p>Public Meeting Under The Planning Act Manager, Planning Division Report PLPD14-047 565 Stewart Street</p>
<p>That Council approve the recommendations outlined in Report PLPD14-047 dated September 15, 2014, of the Manager, Planning Division, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>That Section 3.9 – Exceptions, of the Comprehensive Zoning By-law #1997-123 be amended to add Exception 293 to prohibit the use of the property for a Boarding House; to reduce the minimum lot area per dwelling unit to 170 square metres; reduce the minimum setback from the intersection of two side lot lines to 4m; permitting up to 2 x 2 tandem parking spaces within 0m from the westerly lot line, in accordance with the draft amendment attached as Exhibit ‘C’ to Report PLPD14-047.</p>
<p>That the zoning of the subject property be amended from the R.1 - Residential District to the R.3-293 - ‘H’ – Residential District, in accordance with the draft amendment attached as Exhibit ‘C’ to Report PLPD14-047.</p>
<p>c)</p>
<p>That the ‘H’ Holding Symbol be removed subject to the following:</p>
<p>i)</p>
<p>ii)</p>
<p>iii)</p>
<p>iv)</p>
<p>v)</p>
<p>Conveyance of land for a daylighting triangle at the northwest corner of the intersection of Stewart Street and London Street;</p>
<p>Encroachment Agreement with the City for the use and maintenance of the retaining wall within the Right of Way for Stewart Street and removal of the same at such time as the City requires the land;</p>
<p>Survey to confirm location of retaining wall and parking encroachment; and</p>
<p>Confirmation of adequate site servicing for the third unit.</p>
<p>Confirmation from Fire Services and from the Building Division of the City of Peterborough, that the units comply with the requirements of the Ontario Building Code and the Ontario Fire Code;</p>
<p>vi)</p>
<p>Payment of cash-in-lieu of parkland for the third unit; and</p>
<p>vii)  Payment of all applicable development charges for the third</p>
<p>unit.</p>
<br>
<p>4.</p>
<br>
<br>
<p>5.</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of September 29, 2014</p>
<p>Page 15</p>
<p>Public Meeting Under The Planning Act Manager, Planning Division Report PLPD14-057 294 Rubidge Street</p>
<p>That Council approve the recommendations outlined in Report PLPD14-057 dated September 15, 2014, of the Manager, Planning Division, as follows:</p>
<p>a)</p>
<p>That the zoning of 294 Rubidge Street be amended from the R.3,R.4 – Residential District to the SP.241 - ‘H’ – Commercial District in accordance with the draft amendment attached as Exhibit ‘C’ to Report PLPD14-057.</p>
<p>b)</p>
<p>That the ‘H’ – Holding Symbol be removed subject to the following:</p>
<p>i)</p>
<p>Site Plan Approval being granted for the property.</p>
<p>Public Meeting Under The Planning Act Manager, Planning Division Report PLPD14-058 482 Mark Street</p>
<p>That Council approve the recommendations outlined in Report PLPD14-058 dated September 15, 2014, of the Manager, Planning Division, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>That Section 3.4 – Alternative Regulations, of Comprehensive Zoning By-law #1997-123 be amended to add a provision to reduce the minimum building setback from the rear lot line in accordance with the draft amendment attached as Exhibit ‘C’ to Report PLPD14-058.</p>
<p>That the zoning of the subject property, be amended from the R.1, R.2 - Residential District to the R.3,7c, 10l,14h,16b,20a – 292 – H District, in accordance with the draft amendment attached as Exhibit ‘C’ to Report PLPD14-058.</p>
<p>That the ‘H’ Holding Symbol be removed subject to the following:</p>
<p>i) ii) iii)</p>
<p>Site Plan Approval is granted for the subject property; Payment of cash-in-lieu of parkland for the third unit; and Payment of all applicable development charges for the third unit.</p>
<p>City Council Minutes</p>
<p>Meeting of September 29, 2014</p>
<p>Page 16</p>
<p>6.  Manager, Planning Division</p>
<p>Report PLPD14-059 Removal of “H” – Holding Symbol from the Zoning of a portion of the property at 1545 Monaghan Road</p>
<p>That Council approve the recommendation outlined in Report PLPD14-059 dated September 15, 2014, of the Manager, Planning Division, as follows:</p>
<p>That the property at 1545 Monaghan Road be rezoned from SP. 346 - “H”- Residential District to SP. 346 - Residential District in accordance with Exhibit “C” attached to Report PLPD14-059.</p>
<br>
<p>Submitted by,</p>
<p>Councillor Hall Chair September 15, 2014</p>
<p>City Council Minutes</p>
<p>Meeting of September 29, 2014</p>
<p>Page 17</p>
<p>Audit Committee Report No. 2 Meeting of September 22, 2014</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>To  The  Council  of  The  City  of  Peterborough  for  Consideration  at  its Meeting held September 29, 2014</p>
<p>The  Audit  Committee,  as  a  Result  of  its  Meeting  held  on  September 22, 2014, Recommends as follows:</p>
<p>1.</p>
<p>Director of Corporate Services Report CPFS14-022 Report on Results of the 2013 Municipal Performance Measurement Program</p>
<p>That Council approve the recommendation outlined in Report CPFS14-022 dated September 22, 2014 from the Director of Corporate Services as follows:</p>
<p>That Report CPFS14-022 providing the City of Peterborough’s 2013 results of the provincially mandated Municipal Performance Measurement Program be received as information.</p>
<p>Director of Corporate Services Report CPFS14-024 2014 Audit Plan and Pre-Audit Planning Letter</p>
<p>2.</p>
<p>That Council approve the recommendations outlined in report CPFS14-024 dated September 22, 2014, of the Director of Corporate Services as follows:</p>
<p>That the 2014 Audit Plan for the Corporation of the City of Peterborough attached to Report CPFS14-024 as Appendix A be received.</p>
<p>That the Mayor and Chair of the Audit Committee be authorized to sign the Pre-Audit Planning Letter attached to Report CPFS14-024 as Appendix B.</p>
<p>a)</p>
<p>b)</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of September 29, 2014</p>
<p>Page 18</p>
<p>Submitted by,</p>
<p>Councillor Clarke Chair September 22, 2014</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of September 29, 2014</p>
<p>Page 19</p>
<p>Planning Committee Report No. 11</p>
<p>Meeting of September 22, 2014</p>
<br>
<br>
<br>
<br>
<p>To The Council of the City of Peterborough, for consideration at its meeting held September 29, 2014</p>
<p>The Planning Committee, as a result of its meeting held on September 22, 2014 recommends as follows:</p>
<p>1.</p>
<p>Public Meeting Under The Planning Act Manager, Planning Division Report PLPD14-063 824 Lansdowne Street West</p>
<p>That Council approve the recommendations outlined in Report PLPD14-063 dated September 22, 2014, of the Manager, Planning Division, as follows:</p>
<p>That Section 3.9 Exceptions of Zoning By-law 1997-123 be amended by adding Exception No. 295 in accordance with Exhibit ‘C’ attached to Report PLPD14-063.</p>
<p>That the subject property be rezoned from C.4 – Commercial District to SP.268-295 Commercial District in accordance with Exhibit ‘C’ attached to Report PLPD14-063.</p>
<p>That the Mayor and Clerk be authorized to execute an updated Encroachment Agreement to recognize the portion of the building located within the Western Avenue Right of Way.</p>
<p>a)</p>
<br>
<p>b)</p>
<p>c)</p>
<br>
<p>Submitted by,</p>
<p>Councillor Hall Chair September 22, 2014</p>
<p>City Council Minutes</p>
<p>Meeting of September 29, 2014</p>
<p>Page 20</p>
<p>Committee of the Whole Report No. 13</p>
<p>Meeting of September 22, 2014</p>
<br>
<p>To the Council of The City of Peterborough for consideration at its Meeting held September 29, 2014</p>
<p>The Committee of the Whole as a result of its meeting held on September 22, 2014, recommends as follows:</p>
<p>1.</p>
<p>Director of Community Services Report CSRS14-007 Sport, Recreation, and Leisure Policy</p>
<p>That Council approve the recommendation outlined in Report CSRS14-007 dated September 22, 2014, of the Director of Community Services, as follows:</p>
<p>That the Sport, Recreation, and Leisure Policy be approved, in the form attached to this report as Appendix “A”.</p>
<br>
<p>2.   Director of Utility Services</p>
<p>Report USPW14-011 Update on the Control of Weeds in the Trent Severn Canal Below the Lift Locks</p>
<p>That Council approve the recommendation outlined in Report USPW14-011 dated September 22, 2014, of the Director of Utility Services, as follows:</p>
<p>That Report USPW14-011 providing an update on the control of weeds in the Trent Severn Canal below the lift locks be received for information.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of September 29, 2014</p>
<p>Page 21</p>
<p>Director of Utility Services Report USDIR14-005 Upgrade to the Flare at the Peterborough County/City Waste Management Facility</p>
<p>That Council approve the recommendation as outlined in Report USDIR14-005 dated September 22, 2014 of the Director of Utility Services as follows:</p>
<p>That the Agreement with Enviro EMD Inc. for modifications to the gas system (flare) of the Peterborough County/City Waste Management Facility be increased by $145,015.45 from $14,984.55 to $160,000 plus HST of $20,800 for a total of $180,800.</p>
<p>Director of Utility Services Report USPW14-012 Award of RFP P-23-14 for Supply and Installation of Two Play Structures for the City of Peterborough</p>
<p>That Council approve the recommendation outlined in Report USPW14-012 dated September 22, 2014 of the Director of Utility Services, as follows:</p>
<p>That RFP P-23-14 for the the Supply and Installation of Two Play Structures for the City of Peterborough be awarded to New World Park Solutions Inc., 42 Woodway Trail, Brantford, ON, N3R 6G7 at a total cost of  $244,164.00 plus $31,741.32 HST for a total of $275,905.32.</p>
<p>3.</p>
<br>
<p>4.</p>
<br>
<br>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of September 29, 2014</p>
<p>Page 22</p>
<p>Director of Planning and Development Services Report PLHD14-009 Update: Investment in Affordable Housing (IAH) Program Extension</p>
<p>That City Council approve the recommendations outlined in Report PLHD14-009 dated September 22, 2014, of the Director of Planning and Development Services, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>That the Director of Planning and Development Services be authorized to prepare and submit to the Ministry of Municipal Affairs and Housing (MMAH) the necessary forms and documents, in order to maximize the use of the first year of Investment in Affordable Housing Extension funding by the deadline of January 30, 2015; and,</p>
<p>That Investment in Affordable Housing funding from the original program and from the extension of the program be used to further the commitments in the 10-Year Housing and Homelessness Plan for the following projects: $600,000 for the Mount Community Centre at 1545 Monaghan Road, as approved in Report PLHD14-004; $350,000 for Knox United Church redevelopment at 165 Rubidge/400 Wolfe Street, as proposed in principle in Report PLHD14-003; and that the balance of 2014-15 Investment in Affordable Housing extension funding be committed for projects and programs consistent with the Investment in Affordable Housing Program Guidelines as determined by the Director of Planning and Development Services.</p>
<br>
<p>6.   Director of Planning and Development Services</p>
<p>Report PLBD14-001 Safe Sewage Management Agreement with the Peterborough County-City Health Unit</p>
<p>That Council approve the recommendation outlined in Report PLBD14-001 dated September 22, 2014, of the Director of Planning and Development Services, as follows:</p>
<p>That the City enter into a five year agreement with the Health Unit, with an option to extend the agreement for a further five year period, as the principle authority with respect to the enforcement of the Building Code Act, as it relates to sewage systems and that the Health Unit conduct mandatory re-inspections of on-site sewage systems.</p>
<p>5.</p>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of September 29, 2014</p>
<p>Page 23</p>
<p>7.   Director of Planning and Development Services</p>
<p>Report PLPD14-055 Sale of Road Allowance at 545 The Queensway</p>
<p>That Council approve the recommendations outlined in Report PLPD14-055 dated September 22, 2014, of the Director of Planning and Development Services as follows:</p>
<p>a)</p>
<p>b)</p>
<p>That the property described as Parts 5, 6 and 7 on the Provisional Plan at Appendix B (subject to review and registration), known Municipally as Cameron Place and being a total of 2824.4 square metres (.698 acres), be stopped up and closed and declared surplus to the needs of the Municipality.</p>
<p>That the property described as Parts 5, 6 and 7 on the Provisional Plan at Appendix B (subject to review and registration), known Municipally as Cameron Place and being a total of 2824.4 square metres (.698 acres), be sold to Mijar Ltd, for the sale price of $192,000.</p>
<p>c)</p>
<p>That public notice be prepared in accordance with the requirements of the Municipal Act, 2001 and By-law 95-62, being the City’s Property Disposal By-law, disclosing:</p>
<p>i) ii) iii)</p>
<p>the City’s intent to sell the road allowance to Mijar Ltd. the sale price of the property, and the date of the Council Meeting that Council will consider two by-laws, one to authorize the sale of the property and one to permanently close that portion of Cameron Street shown as Parts 5,6 and 7 on the Provisional Plan.</p>
<p>d)</p>
<p>That a by-law be prepared in accordance with the highway closing procedures of the Municipal Act, 2001 that will, upon its registration in the Registry Office permanently close the portion of Cameron Street that has been sold to Mijar Ltd.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of September 29, 2014</p>
<p>Page 24</p>
<p>8.   Director of Corporate Services</p>
<p>Report CPFS14-027 Development Charges</p>
<p>That Council approve the recommendations outlined in Report CPFS14-027 dated September 22, 2014, of the Director of Corporate Services, as follows:</p>
<p>That the Development Charge rates, as shown on Table 1 of Report CPFS14-027 be approved.</p>
<p>That the development-related capital program included in the City- Wide Development Charge background study, be adopted subject to annual review through the City’s normal capital budget process.</p>
<p>That By-law 12-121 for the City-Wide Engineering Services Development Charges be repealed effective January 1, 2015.</p>
<p>That separate by-laws be passed to impose the City-Wide General Services Development Charge Rate and the City-Wide Engineering Services Development Charge Rate, with a five-year term covering January 1, 2015 to December 31, 2019.</p>
<p>That the Development Charges be adjusted by the City Treasurer without amendment to the by-laws annually on January 1 of each year, commencing January 1, 2016, in accordance with the most recent annual change in the Statistics Canada Quarterly Construction Price Statistics.</p>
<br>
<p>9.   Director of Corporate Services</p>
<p>Report CPFS14-028 Purchasing Policy By-law Update</p>
<p>That Council approve the recommendations outlined in Report CPFS14-028 dated September 22, 2014, of the Director of Corporate Services, as follows:</p>
<p>That the Purchasing Policy By-Law 06-175 be repealed.</p>
<p>That the new Purchasing Policy By-law appended to report CPFS14-028 as Appendix B be approved and take effect September 30, 2014.</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>d)</p>
<p>e)</p>
<p>a)</p>
<p>b)</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of September 29, 2014</p>
<p>Page 25</p>
<p>10.   City Clerk</p>
<p>Report CPCLK14-014</p>
<p>United Way of Peterborough and District</p>
<p>That Council approve the recommendation outlined in Report CPCLK14-014, dated September 22, 2014, of the City Clerk as follows:</p>
<p>That the presentation by Jim Russell, CEO, of the United Way of Peterborough and District be received for information.</p>
<br>
<p>11.  Chief Administrative Officer</p>
<p>Report CAO14-021 COPHI Request to Amend Security and Capital Structure</p>
<p>That Council approve the recommendations outlined in Report CAO14-021, dated September 22, 2014, of the Chief Administrative Officer, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>That the City convert the debt of COPHI and its subsidiaries to the City into common shares of COPHI, and eliminate all its security and security rights on the assets of COPHI and its subsidiaries; and that COPHI place security on the assets of its subsidiaries so as to protect its investments therein and manage such security so as to provide support for future growth and prudent and effective risk and financial asset management.</p>
<p>That the City amend its Shareholder Direction and Unanimous Shareholder Declaration to reflect Recommendation A.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of September 29, 2014</p>
<p>Page 26</p>
<p>12.  Director of Community Services</p>
<p>Report CSACH14-008 Art Gallery of Peterborough Feasibility Study</p>
<p>That Council approve the recommendations outlined in Report CSACH14-008 dated September 22, 2014, of the Director of Community Services, as follows:</p>
<p>That the presentation on the Functional Analysis and the Feasibility Study for The Art Gallery of Peterborough, by Michael Lundholm of Lundholm Associates Architects, be received for information; and,</p>
<p>That the Functional Analysis and Feasibility Studies be received and used to guide The Art Gallery of Peterborough’s development over the next decade as budget provisions allow.</p>
<p>13.  Director of Community Services</p>
<p>Report CSD14-020 New Arena Complex Next Steps</p>
<p>That Council approve the recommendations outlined in Report CSD14-020, dated September 22, 2014 of the Director of Community Services as follows:</p>
<p>That a presentation from the Manager of Facilities & Special Projects on the results of the Expression of Interest for a new arena complex be received;</p>
<p>That discussions be continued with the following public and private sector organizations:</p>
<p>Fleming College Trent University Buckingham Sports Properties Company Peterborough Sports Consortium Canadian Hockey Enterprises Kawartha Trent Synchro Club Trent Swim Club</p>
<p>i. ii. iii. iv. v. vi. vii. viii.  The Colautti Group</p>
<p>to determine the specific terms of a partnership and its viability for the City of Peterborough;</p>
<p>a)</p>
<p>b)</p>
<p>a)</p>
<p>b)</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of September 29, 2014</p>
<p>Page 27</p>
<p>c)</p>
<p>That in addition to a twin pad, the feasibility of the following complementary facilities as part of a new arena complex be investigated in the first phase of the project:</p>
<p>Small practice ice surface (e.g., 100’ x 50’); Goalie/shooting ice training lane (e.g., 50’ x 25’); Elevated running track above one ice surface; Off-ice training centre; Sport office space;</p>
<p>i. ii. iii. iv. v. vi.  Multi-purpose and meeting facilities; vii.  Commercial facilities to support the operating plan, and</p>
<p>That an analysis of a 25-metre competitive pool, in the first phase of the arena complex development, be conducted to fully determine the extent of community need and understand the impact of this feature on the capital and operating budgets for the new arena complex;</p>
<p>That an OHL facility to replace the Memorial Centre, a gymnastics facility to replace the existing Kawartha Gymnastics Club and an indoor fieldhouse not be included at this time;</p>
<p>That potential community arena sites to be further investigated at this time be Fleming College (two sites), Trent University, and Morrow Park, and</p>
<p>That a report with a recommended plan that identifies the partnership, location, building program, capital financing strategy and business case for the new arena complex be prepared for Council consideration in 2015.</p>
<p>At the City Council meeting of September 29, 2014 the following was added:</p>
<p>At this time, the Morrow Park option be dependant on the interpretation of the 1983 Land Transfer Agreement between the City of Peterborough and the Agricultural Society.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>d)</p>
<p>e)</p>
<p>f)</p>
<p>g)</p>
<p>h)</p>
<p>City Council Minutes</p>
<p>Meeting of September 29, 2014</p>
<p>Page 28</p>
<p>14.  Director of Utility Services</p>
<p>Report USTR14-011 Approval to Post Environmental Study Report Class Environmental Assessment to Improve George Street from Sherbrooke Street to Perry Street</p>
<p>That Council approve the recommendations outlined in Report USTR14-011 dated September 22, 2014 of the Director of Utility Services, as follows:</p>
<br>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>That the presentation on the George Street Improvement Project by the Manager of Transportation be received;</p>
<p>That Council endorse the George Street Improvement Project recommended design as shown in Appendix A of Report USTR14-011 dated September 22, 2014; and</p>
<p>That Council direct staff to finalize the George Street Improvement Project Class Environmental Study Report and post for public review for the mandatory 30-day public review period in accordance with the provisions of the Municipal Class Environmental Assessment process.</p>
<br>
<p>15.  Director of Utility Services</p>
<p>Report USTR14-013 2014 Transit Budget and Transit Operations Review Update</p>
<p>That Council approve the recommendations outlined in Report USTR14-013 dated September 22, 2014, of the Director of Utility Services, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>That any portion of the projected $550,000 transit operations deficit for 2014 that cannot be offset from available corporate surplus funds at year end be transferred from the Transit Vehicle Reserve fund to the Transit 2014 operating budget;</p>
<p>That staff initiate discussions with Trent University and Student Transportation Services Central with regard to achieving greater cost recovery from these two organizations;</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of September 29, 2014</p>
<p>Page 29</p>
<p>That staff consult with users and businesses about amending Route 12 (Major Bennett) service to a morning and evening peak period service with service provided Monday to Friday (6:40 am to 9:20 am and 2:40 pm to 6:40 pm); Saturday (7:20 am to 9:20 am and 2:20 pm to 6:20 pm) and no Sunday service and report back to Council prior to implementing any service changes;</p>
<p>That Transit Staff initiate consultation with Handi-Van users, seniors, and other transit users on the design and implementation of a trial Community Bus Service and report back to Council prior to implementing any service changes.</p>
<br>
<p>16.  Director of Community Services</p>
<p>Report CSRS14-006 Extension of Beavermead Campground Operating Agreement</p>
<p>That Council approve the recommendations outlined in Report CSRS14-006 dated September 22, 2014, of the Director of Community Services, as follows:</p>
<p>That the Beavermead Campground operating agreement with Otonabee Region Conservation Authority be extended for a five year term (2015 – 2019), with an option to renew for an additional five years (2020 – 2024);</p>
<p>That a By-Law be enacted authorizing the CAO and Clerk to sign the Beavermead Campground operating agreement with ORCA; and</p>
<p>That Staff be authorized to access the balance of the approved 2012 & 2013 Beavermead Campground Park Implementation capital budgets (reference # 6-7.03) to correct drainage issues and provide servicing (water & electrical) to the central area camping sites, for the 2015 camping season.</p>
<p>c)</p>
<p>d)</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of September 29, 2014</p>
<p>Page 30</p>
<p>17.  Director of Planning and Development Services</p>
<p>Report PLPD14-056 Purchase of Property at 953 Clonsilla Avenue</p>
<p>That Council approve the recommendations outlined in Report PLPD14-056 dated September 22, 2014, of the Director of Planning and Development Services as follows:</p>
<p>a)</p>
<p>b)</p>
<p>That a by-law be passed to authorize the purchase of property known municipally as 953 Clonsilla Avenue, for $445,000.00 plus land transfer tax of $5,375.00.</p>
<p>That upon completion of the Environmental Assessment, the building be demolished.</p>
<br>
<p>Submitted by,</p>
<p>Councillor Hall Chair September 22, 2014</p>
<br>
<br>
<br>
<br>
<br>
<br></div>