<!doctype html><div><br>
<br>
<p>City Council Minutes</p>
<p>City of Peterborough</p>
<br>
<p>December 8, 2014</p>
<br>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of City Council Held on December 8, 2014, in the</p>
<p>Council Chambers.</p>
<br>
<p>The City Council meeting was called to order at 6:45 p.m. in the Council Chambers, City Hall.</p>
<p>Roll Call: Councillor Baldwin Councillor Beamer Councillor Clarke Councillor Haacke Councillor McWilliams Councillor Pappas Councillor Parnell Councillor Riel Councillor Therrien Councillor Vassiliadis Mayor Bennett</p>
<br>
<p>Confirmation of Minutes – September 29 and December 1, 2014</p>
<p>Moved by Councillor Clarke, seconded by Councillor Pappas</p>
<p>That the minutes of the meetings of Council held on September 29 and December 1, 2014, be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>The Mayor declared an interest in By-laws 14-141 and 14-142 as he is the owner of a firm that is active in the taxi cab / limousine business.</p>
<p>Councillor Parnell declared an interest in Committee of the Whole Report 15, Report USDIR14-008, Adoption of a Capital Asset Management Plan as she lives within 120 m of the proposed Riverside Drive Sanitary Inflow and Infiltration Reconstruction Project.</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of December 8, 2014</p>
<p>Page 2</p>
<p>Delegations</p>
<p>Registered Delegations:</p>
<p>John MacMillan-Jones, 482 Driscoll Terrace, made a delegation to Item 1 of the Committee of the Whole Report No. 15 (Report USDIR14-008, Adoption of Capital Asset Management Plan).</p>
<p>Delegations Not Registered:</p>
<p>Committee of the Whole Reports</p>
<p>Peter Hewitt, 576 Rogers Street, made a delegation to Item 1 of the Committee of the Whole Report No. 15 (Report USDIR14-008, Adoption of Capital Asset Management Plan).</p>
<p>Rodney Marois, 421 Sheridan Street, made a delegation to Item 8 of the Committee of the Whole Report No. 14 (Report CSSS14-008, Community Homelessness Prevention Initiative Funding).</p>
<p>Other Items on the Agenda</p>
<p>There were no delegations.</p>
<p>Committee of the Whole Report Number 14</p>
<p>Moved by Councillor Beamer, seconded by Councillor Pappas</p>
<p>That Report Number 14 of the Committee of the Whole Meeting of December 1, 2014 be approved.</p>
<p>“CARRIED”</p>
<p>Committee of the Whole Report Number 15</p>
<p>Due to her previously declared interest, Councillor Parnell did not vote on this item.</p>
<p>Moved by Councillor Beamer, seconded by Councillor Pappas</p>
<p>That Report Number 15 of the Committee of the Whole Meeting of December 8, 2014 be approved.</p>
<p>“CARRIED”</p>
<p>City Council Minutes</p>
<p>Meeting of December 8, 2014</p>
<p>Page 3</p>
<p>Notice of Motion</p>
<p>There were no Notices of Motion.</p>
<p>By-laws</p>
<p>Due to the Mayor’s previously declared interest By-laws 14-141 and 14-142 were separated.  The Mayor did not vote on these by-laws.</p>
<p>Moved by Councillor Riel, seconded by Councillor Therrien</p>
<p>That the following by-laws be read a first, second and third time:</p>
<p>14-141</p>
<p>Being a By-law to Delegate Authority to the Peterborough Police Services Board to licence, regulate and govern the owners and drivers of Taxicabs in the City of Peterborough</p>
<p>14-142</p>
<p>Being a By-law to delegate authority to the Peterborough Police Services Board to license, regulate and govern the owners and drivers of limousines in the City of Peterborough</p>
<p>“CARRIED”</p>
<p>Moved by Councillor Riel, Seconded by Councillor Therrien</p>
<p>That the following by-laws be read a first, second and third time:</p>
<p>14-138</p>
<p>Being a By-law to appoint a Deputy Mayor and a Second Deputy Mayor</p>
<p>14-139</p>
<br>
<p>Being a By-law to authorize the execution of an agreement between Her Majesty the Queen in Right of Ontario as represented by the Minister of Community Safety and Correctional Services and the Corporation of the City of Peterborough to provide financial assistance to the City in offsetting its costs in providing Court Security and Prisoner Transportation Services</p>
<p>City Council Minutes</p>
<p>Meeting of December 8, 2014</p>
<p>Page 4</p>
<p>Being a By-law to Appoint Parking Enforcement Officers at 340-360 George Street North, 780 Argyle Street, 306 Spillsbury Drive and 171 King Street, 785 The Kingsway and 747, 749, 751, 753, 755, 759 Erskine Avenue, 1789 Stenson Blvd, 61 London Street, 637 The Queensway, 300 Hedonics Road and 700 Clonsilla Avenue, 486 Donegal Street, 117 Herbert Street, 999 Hilliard Street, 290 Parkhill Road East, 900 Dutton Road, 101-121 Anson Street, 130 and 136 Anson Street, 835 Cameron Street, 850 Fairbairn Street, 169 Lake Street, 293 London Street, 665 Crawford Drive, 611 Rogers Street, 1190 Hilliard Street, 372-386 Parkhill Road West, 526 McDonnel Street and 30 Alexander Avenue and to Remove Parking Enforcement Officers at 340-360 George Street North and 306 Spillsbury Drive</p>
<p>Being a By-law to authorize the execution of the Municipal Contribution agreement between Her Majesty the Queen in Right of Ontario as represented by the Minister of Agriculture, Food and Rural Affairs and the Corporation of the City of Peterborough for the transfer of the Ontario Community Infrastructure Fund Formula- based grant to the Municipality to address critical core infrastructure needs in relation to roads, bridges, water and wastewater</p>
<p>Being a By-law in respect of remuneration for Members of the Peterborough Police Services Board</p>
<p>Being a By-law to Appoint Parking Enforcement Officers at 151 Lansdowne Street West & 155 Lansdowne Street West (Peterborough Memorial Centre/Morrow Park), 911 Monaghan Road (Evinrude Centre), 1 Kinsmen Way (Kinsmen Civic Centre) and 100 Marina Blvd (Northcrest Community Centre)</p>
<p>14-140</p>
<p>14-143</p>
<p>14-144</p>
<p>14-145</p>
<p>14-146</p>
<p>Being a By-law to authorized the Mayor and Clerk to sign all documents required to amend the Security and Capital Structure of City of Peterborough Holdings Inc. (COPHI) to implement Council’s direction given at its meeting held September 29, 2014</p>
<p>and the said by-laws, having been now read a third time and passed, the Mayor and Clerk be authorized to sign and seal the same.</p>
<p>“CARRIED”</p>
<p>Other Business</p>
<p>There were no items of Other Business</p>
<p>City Council Minutes</p>
<p>Meeting of December 8, 2014</p>
<p>Page 5</p>
<br>
<p>Confirmatory By-law</p>
<p>Moved by Councillor Therrien, seconded by Councillor Riel</p>
<p>That the following by-law be read a first, second and third time:</p>
<p>14-147</p>
<p>Being a By-law to confirm the proceedings of the Council at its meeting held on December 8, 2014.</p>
<p>and the said by-law, having been now read a third time and passed, the Mayor and Clerk be authorized to sign and seal the same.</p>
<p>“CARRIED”</p>
<p>Adjournment</p>
<p>Moved by Councillor Pappas, seconded by Councillor Parnell</p>
<p>That this meeting of City Council adjourn at 7:15 p.m.</p>
<p>“CARRIED”</p>
<p>John Kennedy City Clerk</p>
<p>Daryl Bennett Mayor</p>
<p>City Council Minutes</p>
<p>Meeting of December 8, 2014</p>
<p>Page 6</p>
<p>Committee of the Whole Report No. 14</p>
<p>Meeting of December 1, 2014</p>
<br>
<p>To the Council of The City of Peterborough for consideration at its Meeting held December 8, 2014</p>
<p>The Committee of the Whole as a result of its meeting held on December 1, 2014, recommends as follows:</p>
<p>1.</p>
<p>Report of Closed Session City Clerk Report CPCLK14-015 Appointments to the Peterborough Downtown Business Improvement Area Board of Management</p>
<p>That Council approve the recommendation outlined in Report CPCLK14-015, dated December 1, 2014, of the City Clerk, as follows:</p>
<p>That the following individuals be appointed to the Peterborough Downtown Business Improvement Area Board of Management, for a four year term to expire November 30, 2018:</p>
<p>Abi Adeusi Erica Cherney Michael Gallant Jean Grant Michael Konopaski Dave Madill Lorrie McMullen Alvin Schieck Korina Schonberg Brad Smith Dave Smith</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of December 8, 2014</p>
<p>Page 7</p>
<p>2.   Report of Closed Session</p>
<p>City Clerk Report CPCLK14-017 Appointment to Peterborough Distribution Inc. Board</p>
<p>That Council approve the recommendation outlined in Report CPCLK14-017 dated December 1, 2014 of the City Clerk, on behalf of City of Peterborough Holdings Inc. (CoPHI), as follows:</p>
<p>That David Clark be appointed to the Peterborough Distribution Inc. Board for a three-year term commencing January 1, 2015.</p>
<p>City Clerk Report CPCLK14-016 2015 Council and Committee Meeting Schedule</p>
<p>That Council approve the recommendation outlined in Report CPCLK14-016, dated December 1, 2014 of the City Clerk, as follows:</p>
<p>That the 2015 Council Meeting Schedule be adopted as presented in Appendix “A” to Report CPCLK14-016.</p>
<p>Director of Corporate Services Report CPFS14-034 Ontario Community Infrastructure Fund Formula-based Contribution Agreement</p>
<p>That Council approve the recommendation outlined in Report CPFS14-034 dated December 1, 2014, of the Director of Corporate Services, as follows:</p>
<p>That a by-law be passed authorizing the Mayor and Clerk to sign the Ontario Community Infrastructure Fund Formula-based (OCIF- Formula) contribution agreement between Her Majesty the Queen in Right of Ontario as represented by the Minister of Agriculture, Food and Rural Affairs and the City of Peterborough.</p>
<br>
<p>3.</p>
<br>
<p>4.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of December 8, 2014</p>
<p>Page 8</p>
<p>5.</p>
<p>Chief Administrative Officer Report CAO14-023 Naming the Police Service</p>
<p>That Council approve the recommendation outlined in Report CAO14-023 dated December 1, 2014, of the Chief Administrative Officer, as follows:</p>
<p>That, as requested by the Peterborough Police Services Board by letter dated November 5, 2014, the City’s Police Service that will provide Police Service effective January 1, 2015 be called the Peterborough Police Service.</p>
<br>
<p>6.   Chief Administrative Officer</p>
<p>Report CAO14-024 Updating City-Police Protocol for Sharing of Information</p>
<p>That Council approve the recommendation outlined in Report CAO14-024 dated December 1, 2014, of the Chief Administrative Officer, as follows:</p>
<p>That the Protocol for Sharing of Information, between the Peterborough Police Services Board and the Council of the City of Peterborough, as set out in Appendix A to Report CAO14-024, be approved and the Mayor and Chief Administrative Officer be authorized to sign the Protocol.</p>
<br>
<p>7.   Chief Administrative Officer</p>
<p>Report CAO14-025 Peterborough Police Services Board Remuneration</p>
<p>That Council approve the recommendations outlined in Report CAO14-025 dated December 1, 2014, of the Chief Administrative Officer, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>That By-law 07-178, being a by-law in respect of remuneration for members of the Peterborough Lakefield Police Services Board, be repealed effective December 31, 2014.</p>
<p>A by-law establishing remuneration levels for members of the Peterborough Police Services Board be approved.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of December 8, 2014</p>
<p>Page 9</p>
<p>8.   Director of Community Services</p>
<p>Report CSSS14-008 Community Homelessness Prevention Initiative Funding</p>
<p>That Council approve the recommendations outlined in Report CSSS14-008 dated December 1, 2014 of the Director of Community Services, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>d)</p>
<p>e)</p>
<p>That the CAO or Director of Corporate Services in accordance with Purchasing Bylaw Sec.10(3), be authorized to accept and expend 100% provincial funding, approve expenditures of additional CHPI funds  from the Ministry of Municipal Affairs and Housing (MMAH).</p>
<p>Once additional funding is received, that the draw from the City’s Social Services reserve of $408,000 for 2014 be returned to that reserve, that the additional $42,000 received from the County be returned to the County and the $30,000 received from the DOOR reserve be returned to the Housing Division.</p>
<p>That the allocation of CHPI funding be directed as outlined in Schedule A – Current and Proposed CHPI Allocation by Component.</p>
<p>That the Director of Community Services be delegated the authority to approve CHPI Investment Plans that are submitted annually to the Ministry of Municipal Affairs and Housing; and</p>
<p>That the Social Services Division Manager be delegated the authority to enter into service contracts with providers related to the program areas outlined in Schedule A, and to approve the CHPI Investment Plan expenditure and program update reports submitted to the Ministry of Municipal Affairs and Housing, currently three times a year.</p>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of December 8, 2014</p>
<p>Page 10</p>
<p>9.   Director of Corporate Services</p>
<p>Report CPFS14-032 Insurance Program for 2015</p>
<br>
<p>That Council approve the recommendation outlined in Report CPFS14-032, dated December 1, 2014 of the Director of Corporate Services as follows:</p>
<p>That the Municipal Insurance Program, as recommended by the City’s Insurance Broker, BFL CANADA Risk and Insurance Services Inc, 181 University Avenue, Suite 1605, Toronto, Ontario, M5H 3M7, for a one year term from January 1, 2015 to December 31, 2015, be approved at an estimated cost of $895,531 plus PST of $52,384 for a total of $947,915.</p>
<br>
<p>10.   Civic Awards Program</p>
<p>That, in consideration of the challenges associated with the Civic Awards program in recent years, staff be requested to report to the January 26, 2015 meeting of the Committee of the Whole on revisions to the number of, and criteria for, the Civic Award categories.</p>
<br>
<p>Submitted by,</p>
<p>Councillor Beamer Chair December 1, 2014</p>
<p>City Council Minutes</p>
<p>Meeting of December 8, 2014</p>
<p>Page 11</p>
<p>Committee of the Whole Report No. 15</p>
<p>Meeting of December 8, 2014</p>
<br>
<p>To the Council of The City of Peterborough for consideration at its Meeting held December 8, 2014</p>
<p>The Committee of the Whole as a result of its meeting held on December 8, 2014, recommends as follows:</p>
<p>1.</p>
<p>Director of Utility Services Report USDIR14-008 Adoption of Capital Asset Management Plan</p>
<br>
<br>
<p>That Council approve the recommendation outlined in Report USDIR14-008 dated December 8, 2014, of the Director of Utility Services, as follows:</p>
<p>That the Capital Asset Management Plan attached as Appendix A to Report USDIR14-008 be adopted and used as the foundation for the City’s infrastructure strategies.</p>
<br>
<p>Submitted by,</p>
<p>Councillor Beamer Chair December 8, 2014</p>
<br></div>