<!doctype html><div><br>
<br>
<p>City Council Minutes</p>
<p>City of Peterborough</p>
<br>
<p>February 2, 2015</p>
<br>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of City Council Held on February 2, 2015, in the</p>
<p>Council Chambers.</p>
<br>
<p>The City Council meeting was called to order at 6:30 p.m. in the Council Chambers, City Hall.</p>
<p>Roll Call: Councillor Baldwin Councillor Beamer Councillor Clarke Councillor Haacke Councillor McWilliams Councillor Pappas Councillor Parnell Councillor Riel Councillor Therrien Councillor Vassiliadis Mayor Bennett</p>
<br>
<p>Proclamation – Recognizing the 50th Anniversary of the Canadian Flag</p>
<p>Mayor Bennett proclaimed February 15, 2015 as a day of celebration in recognition of the 50th Anniversary of Canada’s Flag.</p>
<p>Confirmation of Minutes – December 8, 2014</p>
<p>Moved by Councillor Clarke, seconded by Councillor Pappas</p>
<p>That the minutes of the meeting of Council held on December 8, 2014, be approved.</p>
<p>“CARRIED”</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of February 2, 2015</p>
<p>Page 2</p>
<p>Disclosure of Pecuniary Interests</p>
<p>Councillor Parnell declared an interest in Item 1 Report CPFS14-035– 2015 Draft Budget, Budget Committee Report No. 1, Utility Services, Riverside Sanitary Sewer project, as she is a resident of this area.</p>
<p>Councillor Parnell declared an interest in Item 10, Report USEC15-001, Riverside Drive Reconstruction Design, Committee of the Whole Report No. 2, as her home is located within 120 meters of the project.</p>
<p>Councillor Pappas declared an interest in Item 1, Report CPFS14-035, Planning and Development Services, Central Area Master Plan, Budget Committee Report No. 1, as he is a business owner in the area.</p>
<p>Councillor Pappas declared an interest in Item 15, Report COU15-001, Downtown Revitalization, Committee of the Whole Report No. 2, as his family owns a business on George Street.</p>
<p>Councillor Haacke declared an interest in Item 3, Report PLPD15-001, 417 Bethune Street, Planning Committee Report No. 1, as the applicant is a client of the firm where he is employed.</p>
<p>Councillor Haacke declared an interest in Item 6, Report CPFS15-004, Peterborough County/City Health Unit Presentation, Committee of the Whole Report No. 2, as he is employed by the real estate firm involved with the purchase of the property at 185 King Street.</p>
<p>Councillor Vassiliadis also declared an interest in Item 1cc, Report CPFS14-035 – 2015 Draft Budget, Budget Committee Report No. 1, regarding the PCCHU relocation to 185 King St as he owns property in this area.</p>
<p>Councillor Vassiliadis declared an interest in Item 1cc, Report CPFS14-035 – 2015 Draft Budget, Budget Committee Report No. 1, regarding the proposed Louis St. Urban Park as he owns property that is adjacent to the subject property.</p>
<p>Councillor Vassiliadis declared an interest in Item 1, Report CPFS14-035, King Street Parkade Renovations as he owns a business in close proximity.</p>
<p>Councillor Therrien declared an interest in Item 1 Report CPFS14-035– 2015 Draft Budget, Budget Committee Report No. 1, Utility Services, Cambridge Street Sanitary Sewer project, as she is a resident of this area.</p>
<p>City Council Minutes</p>
<p>Meeting of February 2, 2015</p>
<p>Page 3</p>
<p>Mayor Bennett declared an interest in Item 1, Report CPFS14-035 – 2015 Draft Budget, Budget Committee Report No. 1 regarding transit matters as he is an owner of a taxi company.</p>
<p>Mayor Bennett declared an interest in Item 6, Report CPFS15-001, 2015 Budgets for Outside Agencies and Boards, Budget Committee Report No. 1, specifically the Peterborough County/City Paramedics Service as he is an owner of a company that performs work for the service.</p>
<p>Delegations</p>
<p>Registered Delegations:</p>
<p>Jeff Leal, MPP, brought greetings from the Provincial government.</p>
<p>Ian Attridge, 575 Gilchrist Street, made a delegation to Item 1 of Budget Committee Report No. 1 (Report CPFS14-035, 2015 Draft Budget).</p>
<p>Peter Hewitt, 288 Juliet Road, made a delegation to Item 1 of Budget Committee Report No. 1 (Report CPFS14-035, 2015 Draft Budget).</p>
<p>Barry Diceman, 826 Hewitt Drive, Peterborough-Hastings Trans-Canada Trail, made a delegation to Item 13 of Committee of the Whole Report No. 2 (Report USTR15-001, Trans-Canada Trail – Lansdowne Street East, South to the City Limit).</p>
<p>Chris McIntyre, Rice Lake Snow Drifters Snowmobile Club, made a delegation to Item 13 of Committee of the Whole Report No. 2 (Report USTR15-001, Trans-Canada Trail – Lansdowne Street East, South to the City Limit).</p>
<p>Jim Glenn, 1296 McGregor Bay Road, Keene, made a delegation to Item 13 of Committee of the Whole Report No. 2 (Report USTR15-001, Trans-Canada Trail – Lansdowne Street East, South to the City Limit).</p>
<p>Bill Templeman, 301 Boswell Avenue, made a delegation to Item 1 of Budget Committee Report No. 1 (Report CPFS14-035, 2015 Draft Budget).</p>
<p>Delegations Not Registered:</p>
<p>Budget Committee Report</p>
<p>There were no delegations.</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of February 2, 2015</p>
<p>Page 4</p>
<p>Planning Committee Report</p>
<p>There were no delegations.</p>
<p>Committee of the Whole Reports</p>
<p>There were no delegations.</p>
<p>Other Items on the Agenda</p>
<p>There were no delegations.</p>
<p>Budget Committee Report Number 1</p>
<p>Moved by Councillor Clarke, Seconded by Councillor Beamer</p>
<p>That Report Number 1 of the Budget Committee meeting of January 12 and 13, 2015 be approved.</p>
<p>Moved Councillor Riel, seconded by Councillor Baldwin</p>
<p>That the Mayor’s Executive position be removed from the budget.</p>
<p>“LOST”</p>
<p>Moved Councillor Riel, seconded by Councillor Pappas</p>
<p>That staff provide a report on reserve funds that includes; the amount in each fund, their use and what money may be available for other uses.</p>
<p>“CARRIED”</p>
<p>Moved Councillor Pappas, seconded by Councillor Therrien</p>
<p>That staff prepare a report on how to better engage the public in the annual budget process and report back at the next Budget Committee meeting.</p>
<p>“CARRIED”</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of February 2, 2015</p>
<p>Page 5</p>
<p>Moved Councillor Baldwin, seconded by Councillor Riel</p>
<p>That  staff prepare  a  report  identifying  any  operational  efficiency  within  the  budget  and report back on or before March 16, 2015.</p>
<p>“MOTION WITHDRAWN”</p>
<p>Moved Councillor Baldwin, seconded by Councillor Riel</p>
<p>That funds related to the Parkway Corridor Project for 2015 and future years, not be expended until the province provides a response to the Environmental Assessment and,</p>
<p>That staff report back to Council prior to initiating any work related to the Parkway Project.</p>
<p>“LOST”</p>
<p>Due to the declared interests of Mayor Bennett, Councillor Parnell, Councillor Therrien, Councillor Vassiliadis and Councillor Pappas and Haacke the following items were separated from Item 1 for vote.</p>
<p>Item 1:</p>
<p>Utility Services Budget, page 60, Riverside Sanitary Sewer Councillor Parnell did not vote on this item. “CARRIED”</p>
<p>Cambridge Street Sanitary Sewer, page 60 Councillor Therrien did not vote on this item. “CARRIED”</p>
<p>Utility Services Budget, pages 68-69, Transportation Services Mayor Bennett did not vote on this item. “CARRIED”</p>
<p>Community Services Budget, pages 133-134, Louis Street Urban Park Project, Councillor Vassiliadis did not vote on this item. “CARRIED”</p>
<p>City Council Minutes</p>
<p>Meeting of February 2, 2015</p>
<p>Page 6</p>
<p>Planning and Development Budget, pages 135-136, Central Area Master Plan, Councillor Pappas did not vote on this item. “CARRIED”</p>
<p>Transfers, page 165, Peterborough County/City Paramedics Services Mayor Bennett did not vote on this item. “CARRIED”</p>
<p>Transfers, pages 168-169, Peterborough County/City Health Unit Councillors Vassiliadis and Haacke did not vote on this item. “CARRIED”</p>
<p>Item “aa”, page 166, Peterborough County/City Paramedics Services Mayor Bennett did not vote on this item. “CARRIED”</p>
<p>Item “cc”, page 169, Peterborough County/City Health Unit Councillors Vassiliadis and Haacke did not vote on this item. “CARRIED”</p>
<p>Proposed Louis St. Urban Park, page 76 Councillor Vassiliadis did not vote on this item. “CARRIED”</p>
<p>Item 6 Due to his previously declared interest, Mayor Bennett did not vote on this item. “CARRIED”</p>
<p>Parkway Corridor Extension: Councillor  Pappas  requested  the  capital  budget  for  the  Parkway  Corridor  Extension of page 52 of the Budget Highlights book be separated for discussion.</p>
<p>City Council Minutes</p>
<p>Meeting of February 2, 2015</p>
<p>Page 7</p>
<p>Councillor Beamer requested a Recorded vote on the Parkway Corridor item.</p>
<p>Yea Councillor Clarke Councillor Haacke Councillor Beamer Councillor Parnell Councillor Vassiliadis Councillor McWilliams Mayor Bennett</p>
<p>Nay Councillor Pappas Councillor Baldwin Councillor Therrien Councillor Riel</p>
<br>
<br>
<p>“CARRIED”</p>
<p>Upon the main motion of Councillor’s Clarke and Beamer, less the separated sections from items 1 and 6, the motion carried.</p>
<p>Planning Committee Report Number 1</p>
<p>Moved by Councillor Parnell, Seconded by Councillor Clarke</p>
<p>That Report Number 1 of the Planning Committee meeting of January 19, 2015 be approved.</p>
<p>Item 3 Due to his previously declared interest Councillor Haacke did not vote on this item. Upon Item 3, the motion carried.</p>
<p>Item 2 Upon item 2, the motion carried.</p>
<p>Upon the main motion of Councillors Parnell and Clarke, less items 2 and 3, the motion carried.</p>
<p>Committee of the Whole Report Number 1</p>
<p>Moved by Councillor Councillor Beamer, Seconded by Councillor Clarke</p>
<p>That Report Number 1 of Committee of the Whole meeting of January 21, 2015 be approved.</p>
<p>“CARRIED”</p>
<p>City Council Minutes</p>
<p>Meeting of February 2, 2015</p>
<p>Page 8</p>
<p>Committee of the Whole Report Number 2</p>
<p>Due to the previously declared interests of Councillors Parnell, Haacke, Vassiliadis and Pappas Items 6, 10 and 15 were separated.</p>
<p>Moved by Councillor Beamer, seconded by Councillor Clarke</p>
<p>That Report Number 2 of the Committee of the Whole meeting of January 26, 2015 be approved.</p>
<p>Item 6 Due to their previously declared interests Councillors Haacke and Vassiliadis did not vote on the matter. Upon item 6 the motion carried.</p>
<p>Item 10 Due to her previously declared interest Councillor Parnell did not vote on the matter. Upon item 10, the motion carried.</p>
<p>Item 15 Due to his previously declared interest Councillor Pappas did not vote on the matter. Upon item 15 the motion carried.</p>
<p>Item 9 Councillor Pappas asked that item 9 be separated. Upon item 9 the motion carried.</p>
<p>Upon the main motion of Councillors Beamer and Clarke, less items 6, 9, 10, and 15 the motion carried.</p>
<p>Notice of Motion</p>
<p>There were no Notices of Motion.</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of February 2, 2015</p>
<p>Page 9</p>
<p>By-laws</p>
<p>Moved by Councillor Therrien, seconded by Councillor Beamer</p>
<p>That the following by-laws be read a first, second and third time:</p>
<p>Due to Councillor Vassiliadis’ previously declared interests, By-laws 15-015 and 15-020 were separated for vote.  Councillor Vassiliadis did not vote on these by-laws.</p>
<p>15-015</p>
<p>Being a By-law to authorize the 2015 portion of the Charlotte Street Renewal/Louis Street Urban Park project at an estimated cost of $800,000 and the issuing of tax-supported debentures to a maximum of $800,000 to finance the work</p>
<p>15-020</p>
<p>Being a By-law to authorize the 2015 portion of the King Street Parkade Renovation project at an estimated cost of $1,240,000 and the issuing of Parking User Fee supported debentures to a maximum of $1,240,000 to finance the work</p>
<p>“CARRIED”</p>
<p>Due to Councillor Haacke’s previously declared interest, By-law 15-037 was separated for vote.  Councillor Haacke did not vote on this item.</p>
<p>15-037</p>
<p>Being a By-law to Amend the Zoning By-law for the property known as 417 Bethune Street</p>
<p>“CARRIED”</p>
<p>Due to the Mayor’s previously declared interest, By-law 15-018 was separated for vote. Mayor Bennett did not vote on this item.</p>
<p>15-018</p>
<p>Being a By-law to authorize the 2015 portion of the Downtown Transportation Hub (formerly Downtown Transit Terminal Buildings Upgrades) project at an estimated cost of $350,000 and the issuing of tax-supported debentures to a maximum of $250,000 to finance the work</p>
<p>“CARRIED”</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of February 2, 2015</p>
<p>Page 10</p>
<p>Being a By-law to authorize the 2015 portion of the Parkway Corridor Extension at an estimated cost of $2,250,000 and the issuing of Development Charge (DC) (City Wide Engineering Services Roads and Related) supported debentures to a maximum of $2,250,000 to finance the work</p>
<p>By-law 15-023 was separated for vote.</p>
<p>15-023</p>
<p>“CARRIED”</p>
<p>Upon the remainder of the by-laws:</p>
<p>15-001</p>
<p>Being a By-law to amend By-law number 09-136 being a By-law for the Regulation of Parking - Prohibition of Stopping on Cameron Street</p>
<p>Being a By-law to amend By-law number 09-136 being a By-law for the Regulation of Parking - Calendar Parking Restriction on Kensington Drive</p>
<p>Being a By-law to establish a Municipal Heritage Committee</p>
<p>Being a By-law to authorize the execution of an Agreement between Her Majesty the Queen in Right of Ontario as represented by the Minister of Community Safety and Correctional Services, the Corporation of the City of Peterborough and the Peterborough Police Services Board, approving the participation of all parties in the Safer Community – 1,000 Officers Program for the period January 1, 2015 to March 31, 2016</p>
<p>Being a By-law to authorize the execution of an Agreement between Her Majesty the Queen in Right of Ontario as represented by the Minister of Community Safety and Correctional Services, the Corporation of the City of Peterborough and the Peterborough Police Services Board, approving the participation of all parties in the Community Police Partnerships Program for the period January 1, 2015 to March 31, 2016</p>
<p>Being a By-law to establish User Fees as approved as part of the 2015 Budget process</p>
<p>15-002</p>
<p>15-003</p>
<p>15-004</p>
<p>15-005</p>
<p>15-006</p>
<br>
<p>15-007</p>
<p>15-008</p>
<p>15-009</p>
<p>15-010</p>
<p>15-011</p>
<p>15-012</p>
<p>15-013</p>
<p>15-014</p>
<p>City Council Minutes</p>
<p>Meeting of February 2, 2015</p>
<p>Page 11</p>
<p>Being a By-law to authorize the 2015 portion of the Additional Library Space project at an estimated cost of $1,500,000 and the issuing of tax-supported debentures to a maximum of $1,022,400 to finance the work</p>
<p>Being a By-law to authorize the 2015 upgrades at Airport Industrial Park – East of Airport Road Expansion at an estimated cost of $2,100,000 and the issuing of tax-supported debentures to a maximum of $1,350,000 to finance the work</p>
<p>Being a By-law to authorize the 2015 portion of the Armour Road Nassau Mills south to Rotary Trail reconstruction project at an estimated cost of $650,000 and the issuing of Development Charge (DC) (City Wide Engineering Services Roads and Related) supported debentures to a maximum of $429,000 and tax-supported debentures to a maximum of $221,000 to finance the work</p>
<p>Being a By-law to authorize the 2015 portion of the Ashburnham - Lansdowne to Maria Street reconstruction project at an estimated cost of $5,000,000 and the issuing of Development Charge (DC) (City Wide Engineering Services Roads and Related) supported debentures to a maximum of $2,350,000 and tax supported debentures to a maximum of $2,350,000 to finance the work</p>
<p>Being a By-law to authorize the 2015 portion of the Bethune – Dalhousie to Dublin Street Reconstruction project at an estimated cost of $2,639,500 and the issuing of Development Charge (DC) (City Wide Engineering Services Roads and Related) supported debentures to a maximum of $639,500 to finance the work</p>
<p>Being a By-law to authorize the 2015 Biosolids Management Strategy project at an estimated cost of $13,000,000 and the issuing of Sewer Surcharge Reserve supported debentures to a maximum of $13,000,000 to finance the work Being a By-law to authorize the 2015 portion of the Brealey- Lansdowne to Sherbrooke Street reconstruction project at an estimated cost of $500,000 and the issuing of tax-supported debentures to a maximum of $335,000 to finance the work</p>
<p>Being a By-law to authorize the 2015 portion of the Brealey – Lansdowne to Stenson Boulevard Reconstruction project at an estimated cost of $3,600,000 and the issuing of Development Charge (DC) (City Wide Engineering Services Roads and Related) supported debentures to a maximum of $1,200,000 and tax supported debentures to a maximum of $401,800 to finance the work</p>
<p>City Council Minutes</p>
<p>Meeting of February 2, 2015</p>
<p>Page 12</p>
<p>Being a By-law to authorize the 2015 portion of the Upgrades to City Buildings at an estimated cost of $875,000 and the issuing of tax- supported debentures to a maximum of $590,000 to finance the work</p>
<p>Being a By-law to authorize the 2015 portion of the Upgrades at Community Services City Buildings at an estimated cost of $2,110,000 and the issuing of tax-supported debentures to a maximum of $2,110,000 to finance the work</p>
<p>Being a By-law to authorize the 2015 portion of the Upgrades at Fire Services Buildings at an estimated cost of $375,000 and the issuing of tax-supported debentures to a maximum of $375,000 to finance the work</p>
<p>Being a By-law to authorize the 2015 Construction of New Athletic Facilities at an estimated cost of $1,100,000 and the issuing of Development Charge (DC) (Parks) supported debentures to a maximum of $630,000 and tax-supported debentures to a maximum of $70,000 to finance the work</p>
<p>Being a By-law to authorize the 2015 portion of the Park Washroom replacement at an estimated cost of $375,000 and the issuing of tax- supported debentures to a maximum of $375,000 to finance the work</p>
<p>Being a By-law to authorize the 2015 Property Acquisitions at an estimated cost of $810,000 and the issuing of tax-supported debentures to a maximum of $440,000 to finance the work</p>
<p>Being a By-law to authorize the 2015 portion of the Public Works Relocation project at an estimated cost of $3,000,000 and the issuing of tax-supported debentures to a maximum of $2,460,000 to finance the work Being a By-law to authorize the 2015 Sidewalk Reconstruction Program at an estimated cost of $1,100,000 and the issuing of tax- supported debentures to a maximum of $1,100,000 to finance the work</p>
<p>Being a By-law to authorize the 2015 portion of the Simcoe Street Parkade Rehabilitation project at an estimated cost of $600,000 and the issuing of Parking User Fee supported debentures to a maximum of $600,000 to finance the work</p>
<p>15-016</p>
<p>15-017</p>
<p>15-019</p>
<p>15-021</p>
<p>15-022</p>
<br>
<p>15-024</p>
<p>15-025</p>
<p>15-026</p>
<p>15-027</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of February 2, 2015</p>
<p>Page 13</p>
<p>Being a By-law to authorize a $1,900,000 loan from the Social Services Reserve to finance the 2015 portion of the Leasehold Improvements and Furniture Replacement to be undertaken at 175 - 181 Simcoe Street and 178 Charlotte Street</p>
<p>Being a By-law to authorize the 2015 portion of the Upgrades at Utility Services City Buildings at an estimated cost of $525,000 and the issuing of tax-supported debentures to a maximum of $485,000 to finance the work</p>
<p>Being a By-law authorize the 2015 portion of the Webber Avenue and Rye Street Urbanization project at an estimated cost of $300,000 and the issuing of tax-supported debentures to a maximum of $300,000 to finance the work</p>
<p>Being a By-law to Appoint and Remove Parking Enforcement Officers at 645 Lansdowne Street West</p>
<p>Being a By-Law to repeal Property Maintenance Chapter 629 of the City of Peterborough Municipal Code – Snow Removal Sidewalks – Roofs</p>
<p>Being a By-law to authorize the execution of an Encroachment Agreement for lands municipally known as 1230 Water Street, in the City of Peterborough</p>
<p>Being a By-law to authorize the execution of an Encroachment Agreement for lands municipally known as 164 Hunter Street West, in the City of Peterborough</p>
<p>Being a By-law to Adopt Amendment Number 165 to the Official Plan of the City of Peterborough for the property known as 2350 Woodglade Boulevard</p>
<p>Being a By-law to Amend the Zoning By-law for the property known as 2350 Woodglade Boulevard</p>
<p>Being a By-law to establish certain lands in the City of Peterborough as part of the Public Highway named Waddell Avenue</p>
<p>Being a By-law to Identify the Responsibilities of the Chief Administrative Officer</p>
<p>15-028</p>
<p>15-029</p>
<p>15-030</p>
<p>15-031</p>
<p>15-032</p>
<p>15-033</p>
<p>15-034</p>
<p>15-035</p>
<p>15-036</p>
<p>15-038</p>
<p>15-039</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of February 2, 2015</p>
<p>Page 14</p>
<p>15-040</p>
<p>Being a By-Law to repeal by-laws 12-024, 13-042 and 13-060, being by-laws to debenture certain tax-supported capital works</p>
<p>and the said by-laws, having been now read a third time and passed, the Mayor and Clerk be authorized to sign and seal the same.</p>
<p>“CARRIED”</p>
<br>
<p>Other Business</p>
<p>There were no items of Other Business</p>
<p>Confirmatory By-law</p>
<p>Moved by Councillor McWilliams, seconded by Councillor Vassiliadis</p>
<p>That the following by-law be read a first, second and third time:</p>
<p>15-041</p>
<p>Being a By-law to confirm the proceedings of the Council at its meeting held on February 2, 2015.</p>
<p>and the said by-law, having been now read a third time and passed, the Mayor and Clerk be authorized to sign and seal the same.</p>
<p>“CARRIED”</p>
<p>Adjournment</p>
<p>Moved by Councillor Pappas, seconded by Councillor Clarke</p>
<p>That this meeting of City Council adjourn at 9:54 p.m.</p>
<p>“CARRIED”</p>
<p>John Kennedy City Clerk</p>
<p>Daryl Bennett Mayor</p>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of February 2, 2015</p>
<p>Page 15</p>
<p>Budget Committee Report No. 1</p>
<p>Meeting of January 12 and 13, 2015</p>
<br>
<p>To  the  Council  of  The  City  of  Peterborough  for  Consideration  at  its Meeting Held February 2, 2015.</p>
<p>The Budget Committee as a result of its Meeting held on January 12 and 13, 2015 recommends as follows:</p>
<p>1.</p>
<p>Director of Corporate Services Report CPFS14-035 2015 Draft Budget</p>
<p>That Council approve the recommendation outlined in Report CPFS14-035 dated December 8, 2014, of the Director of Corporate Services, and the Chief Administrative Officer, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>d)</p>
<p>e)</p>
<p>f)</p>
<p>That the 2015 Draft Budget, and all estimated revenues and expenditures, fees, contributions to reserve and reserve funds, and proposed staffing levels referenced in the documents be adopted.</p>
<p>That the user fees and charges as set out in Book 2 be adopted as part of 2015 Budget process.</p>
<p>That upon approval of the 2015 Capital Budget, by-laws 12-024, 13-042 and 13-060, being by-laws to debenture certain tax-supported capital works, be repealed. (Page 19)</p>
<p>That any unused CAO Budget at the end of 2015 be transferred to the Organizational Development Reserve, subject to the overall year-end position.  (Page 24)</p>
<p>That any unused Peterborough Technology Services Budget, at the end of 2015, be transferred to the Electronic Data Processing (EDP) Reserve, subject to the overall year-end position and that if actual 2015 costs exceed the 2015 Budget, funds may be drawn from the EDP reserve.  (Page 32)</p>
<p>That any Engineering Overhead surplus be transferred to the Engineering Design and Inspection Reserve, subject to the overall year-end position and that if actual 2015 Engineering costs exceed the Budget, funds may be drawn from the Engineering Design and Inspection Reserve.  (Page 51)</p>
<p>City Council Minutes</p>
<p>Meeting of February 2, 2015</p>
<p>Page 16</p>
<p>g)</p>
<p>h)</p>
<p>i)</p>
<p>j)</p>
<p>k)</p>
<p>l)</p>
<p>m)</p>
<p>n)</p>
<p>That any unused portion of the 2015 Winter Control Budget that may exist at year-end be transferred to the Winter Control Reserve, subject to the overall year-end position, and that if actual 2015 Winter Control costs exceed the 2015 Budget, funds may be drawn from the Winter Control reserve.  (Page 63)</p>
<p>That any unused Traffic Signal Maintenance Budget at the end of 2015 be transferred to the Traffic Signal Reserve, subject to the overall year-end position and that if the actual 2015 Traffic Signal Maintenance costs exceed the 2015 Budget, funds may be drawn from the Traffic Signal Reserve.  (Page 72)</p>
<p>That any surplus funds at the end of 2015 for Market Hall be transferred to the Market Hall Capital Reserve for unanticipated maintenance expenses or small capital improvements.  (Page 93)</p>
<p>That any surplus funds at the end of 2015 for the Peterborough Sport and Wellness Centre be transferred to the PSWC Capital Conservation Reserve for future capital improvements.  (Page 96)</p>
<p>That any surplus funds at the end of 2015 for Arenas be transferred to the Arena Equipment Reserve for future equipment purchases. (Page 109)</p>
<p>That any unused Homelessness net budget at the end of 2015 be transferred to the General Assistance Reserve, to be used for future investment in homelessness prevention programs, subject to the overall year-end position and that if actual 2015 Homelessness costs exceed the 2015 Budget, funds may be drawn from the reserve. (Page 126)</p>
<p>That any unused Community Social Plan net budget at the end of 2015 be transferred to the Social Services Community Social Plan 40/60 Reserve for future program development, subject to the overall year-end position and that if actual 2015 Community Social Plan costs exceed the 2015 Budget, funds may be drawn from the reserve. (Page 126)</p>
<p>That any remaining unused Social Services net budget at the end of 2015 be transferred to the General Assistance Reserve, subject to the overall year-end position and that, if actual 2015 Social Services costs exceed the 2015 Budget, funds may be drawn from the reserve. (Page 126)</p>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of February 2, 2015</p>
<p>Page 17</p>
<br>
<p>o)</p>
<p>p)</p>
<p>q)</p>
<p>r)</p>
<p>s)</p>
<p>t)</p>
<p>u)</p>
<p>v)</p>
<p>That any surplus in the 2015 Housing Operating Budget at the end of 2015 be transferred to the Housing Reserve, subject to the overall year-end position and that, if actual 2015 Housing costs exceed the 2015 Budget, funds may be drawn from the Housing Reserve.  (Page 141)</p>
<p>That any surplus in the 2015 Housing Choice Rent Supplement Program at the end of 2015 be transferred to the Housing Choice Rent Supplement Reserve, subject to the overall year-end position and that, if actual 2015 Rent Supplement costs exceed the 2015 Budget, funds may be drawn from the Rent Supplement Reserve. (Page 141)</p>
<p>That any excess Airport development review fees at the end of 2015 be transferred to the Airport Development Review Reserve for future Airport Development related expenditures and that if the 2015 Airport development review costs exceed the review fees, funds may be drawn from the Airport Development Review Reserve.  (Page 144)</p>
<p>That any unused Building Inspection Budget at the end of 2015 be transferred to the Building Division Reserve and that, if actual building inspection costs exceed the 2015 Budget, funds may be drawn from the Building Division Reserve.  (Page 148)</p>
<p>That any adjustment to the City’s 2015 requirement for the Municipal Property Assessment Corporation (MPAC), be netted against the City’s 2015 General Contingency provision.  (Page 153)</p>
<p>That any unused portion of the 2015 tax write off account balance that may exist at year-end be transferred to the Allowance for Doubtful Accounts Reserve, subject to overall year-end position and that, if actual 2015 tax write-off costs exceed the 2015 Budget, funds may be drawn from the Allowance for Doubtful Accounts Reserve. (Page 156)</p>
<p>That any unused Employee Benefits Budget at the end of 2015 be transferred to the Employee Benefits Reserve, subject to the overall year-end position, and that, if actual 2015 employee benefits exceed the 2015 Budget, funds may be drawn from the Employee Benefits Reserve.  (Page 156)</p>
<p>That any unused Insurance Budget at the end of 2015 be transferred to the Insurance Reserve, subject to the overall year-end position and that, if actual 2015 insurance costs exceed the 2015 Budget, funds may be drawn from the Insurance Reserve.  (Page 156)</p>
<p>City Council Minutes</p>
<p>Meeting of February 2, 2015</p>
<p>Page 18</p>
<br>
<p>w)</p>
<p>x)</p>
<p>y)</p>
<p>z)</p>
<p>aa)</p>
<p>That any unused 2015 Contingency Budget at the end of 2015 be transferred to the Capital Levy Reserve to be used for Capital works subject to the overall 2015 year-end position.  (Page 156)</p>
<p>That any unused Police Services Legal fees Budget at the end of 2015 be transferred to the Legal Fees Policing Reserve, subject to the overall year-end position and approval through the Treasurer, and that if the actual 2015 Police legal fees costs exceed the 2015 Budget, funds may be drawn from the Policing Legal Fees Reserve. (Page 161)</p>
<p>That any unused Police Services Budget at the end of 2015 be transferred to the Police Special Projects Reserve, subject to the overall year-end position and approval by City Council and that, if the actual 2015 Police Services costs exceed the 2015 Budget, funds may be drawn from the Police Special Projects Reserve.  (Page 161)</p>
<p>That any adjustments to the City’s portion of the 2015 Peterborough County/City Paramedics Services Budget be netted against the 2015 General Contingency provision.  (Page 166)</p>
<p>That any unused Peterborough County/City Paramedics Services (PCCP) Budget at the end of 2015 be transferred to the PCCP Reserve, subject to the overall year-end position and that, if the actual 2015 PCCP costs exceed the 2015 Budget, funds may be drawn from the PCCP Reserve.  (Page 166)</p>
<p>bb)  That any adjustments to the City’s portion of ORCA’s 2015 Budget,</p>
<p>based on the final approved ORCA Budget, be netted against the City’s 2015 general contingency provision.  (Page 167)</p>
<p>cc)</p>
<p>That any adjustments to the City’s portion of CCHU 2015 Budget, based on the final approved CCHU Budget, be netted against the City’s 2015 general contingency provision.  (Page 169)</p>
<p>dd)  That the 2015 budget request representing the levy required by the</p>
<p>Downtown Business Improvement Area of the Corporation of the City of Peterborough during the year 2015 totalling $292,829, be approved.  (Page 172)</p>
<p>ee)</p>
<p>That the 2015 budget request representing all sums required by the Village Business Improvement Area of the Corporation of the City of Peterborough during the year 2015 totalling $16,400, be approved. (Page 173)</p>
<p>City Council Minutes</p>
<p>Meeting of February 2, 2015</p>
<p>Page 19</p>
<br>
<p>ff)</p>
<p>That any net surplus funds, after the disposition of the recommendations in this report, from 2015 operations in excess of $100,000 be transferred to the Capital Levy Reserve to be used for Capital works.  (Page 175)</p>
<p>gg)  That a by-law be passed to establish the 2015 tax ratios for each</p>
<p>property class as set out in the 2015 Operating Budget.  (Page 184)</p>
<p>hh)  That the 2015 tax rate for farmland awaiting development subclasses</p>
<p>be 75% of the residential rate.  (Page 184)</p>
<p>That a system of graduated tax rates within the Commercial and Industrial classes not be implemented for 2015.  (Page 185)</p>
<p>That the capping policy for 2015 for the Multi-residential, Commercial and Industrial classes be as follows:</p>
<p>i.</p>
<p>ii.</p>
<p>iii.</p>
<p>iv.</p>
<p>Capping be based on a maximum increase threshold at the greater of 10% of the previous year’s annualized capped taxes and 5% of the previous year’s annualized CVA tax for the eligible property.  (Page 185)</p>
<p>No capping credit be applied for properties where the required billing adjustment is within a $250 credit of the properties’ CVA tax; affected properties would be billed at their full CVA tax level.  (Page 185)</p>
<p>That properties that achieved CVA tax in 2014 remain at CVA tax from 2015 forward regardless of how reassessment affects the property.  (Page 185)</p>
<p>That properties that cross over from the clawback to the capping category or vice versa from 2014 to 2015 be taxed at CVA tax.  (Page 185)</p>
<p>kk)</p>
<p>That the threshold on the tax level for eligible new construction be 100%.  (Page 185)</p>
<p>That the Tax ratio reductions for mandated subclasses of vacant units remain at 30% for the Commercial class and 35% for the Industrial class.  (Page 185)</p>
<p>ii)</p>
<p>jj)</p>
<p>ll)</p>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of February 2, 2015</p>
<p>Page 20</p>
<br>
<p>2.</p>
<p>3.</p>
<p>mm)  That the provision of $1.635 million for the City Buildings –</p>
<p>Community Services Capital Project (Project 3-1.02), shown on page 35 of the 2015 Highlights Book and pages 22-23 of the 2015-2024 Capital Budget Details Book, be increased by $475,000 to $2.11 million with the “Art Gallery-HVAC replacement and new BAS” sub- project increased from $500,000 to $975,000 and that the $475,000 increase be taken from the provision of $1.35 million for the City Buildings – Property Capital Project (Project 3-1.01), also shown on page 35 of the 2015 Highlights Book and pages 20-21 of the 2015- 2024 Capital Budget Details Book, reducing it to $875,000 and removing the sub-projects for Peterborough Daycare – Replace HVAC systems, new BAS and Life Safety system for $160,000 and City Hall – Replace generator and move outside for $315,000.</p>
<br>
<p>Capital Tax Increases</p>
<p>That staff bring forward a report to Budget Committee in the second quarter of 2015 evaluating various capital tax increases under 1%.</p>
<p>Goose Control Program</p>
<p>That staff provide an update report on the Goose Control Program. (p. 65)</p>
<br>
<p>4.  On-Street Parking</p>
<p>That staff review the on-street parking fee and fine structure and that staff increase the level of parking enforcement. (pg. 71)</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of February 2, 2015</p>
<p>Page 21</p>
<p>Chief Administrative Officer Report CAO15-001 Hospice Peterborough Funding Request Presentation to January 13, 2015 Budget Committee</p>
<p>That Council approve the recommendation outlined in Report CAO15-001 dated January 12, 2015 of the Chief Administrative Officer, as follows:</p>
<p>That the Hospice Peterborough presentation to the January 13, 2015 Budget Committee meeting, seeking $1.5 million financial support from the City to be paid in 3 annual $500,000 installments over the three-year period 2016 to 2018 to support a $6.5 million renovation/build to their property at 325 London Street be presented to Council prior to the 2016 Budget Guideline Report being considered.</p>
<p>Director of Corporate Services Report CPFS15-001 2015 Budgets for Outside Agencies and Boards</p>
<p>That Council approve the recommendations outlined in Report CPFS15-001, dated January 12, 2015, of the Director of Corporate Services as follows:</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>That presentations and budget details presented to the January 13, 2015 Budget Committee Fairhaven, the Peterborough County City Health Unit, and Peterborough Economic Development, be received.</p>
<p>That the $250,000 provision for Fairhaven – City’s Levy Operating Support included in the 2015 Draft Operating Budget and on page 164 of the 2015 Highlights Book be increased to $333,333 and that the additional $83,333 be transferred from General Contingency on page 149 of the 2015 Highlights Book decreasing it from $903,966 to $820,633.</p>
<p>That the $953,751 provision for Peterborough Economic Development included in the 2015 Draft Operating Budget on page 170 of the 2015 Highlights Book be increased by $8,748 to $962,499 and that the $17,496 provision for Primary Health Care Operating Support included in the 2015 Draft Operating Budget on page 171 of the 2015 Highlights Book be reduced by $8,748 to $8,748.</p>
<p>5.</p>
<p>6.</p>
<br>
<br>
<br>
<br>
<br>
<p>7.</p>
<p>8.</p>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of February 2, 2015</p>
<p>Page 22</p>
<p>Peterborough Police Services Board 2015 Budget</p>
<p>That the Peterborough Police Service Board review the 2015 budget as well as all applicable sections of the Police Services Act and it's related Regulations to determine if any additional cost savings can be realized, and</p>
<p>That a revised budget presentation be made to Committee of the Whole on or before April 20, 2015.</p>
<p>That the presentation and budget details presented to the January 13, 2015 Budget Committee by the Peterborough Police Service, be received.</p>
<p>Director of Planning and Development Services Report PLBD15-001 Building Permit Fee Increase</p>
<p>That Council approve the recommendations outlined in Report PLBD15-001 dated January 12, 2015, of the Director of Planning and Development Services, as follows:</p>
<p>That the Building Permit Fee increase be the subject of a Public Meeting on January 21, 2015 pursuant to the Building Code Act;</p>
<p>That, subject to the submissions made at the Public Meeting,</p>
<p>a.</p>
<p>b.</p>
<p>c.</p>
<p>the Building Permit fees for 2015 be increased by 10% as presented in the 2015 Draft Budget;</p>
<p>That Building Permit fees be increased by a further 10% in the 2016 Draft Budget; and</p>
<p>That commencing January 1, 2017, the Building Permit fees be adjusted annually by the most recent annual change in the Statistics Canada Quarterly, Construction Price Statistics.</p>
<br>
<p>Submitted by,</p>
<p>Councillor Clarke Chair January 12 and 13, 2015</p>
<p>City Council Minutes</p>
<p>Meeting of February 2, 2015</p>
<p>Page 23</p>
<p>Planning Committee Report No. 1</p>
<p>Meeting of January 19, 2015</p>
<p>To The Council of the City of Peterborough, for consideration at its meeting held February 2, 2015</p>
<p>The Planning Committee, as a result of its meeting held on January 19, 2015 recommends as follows:</p>
<p>1.  Manager, Planning Division</p>
<p>Report PLPD15-004 Delegated Subdivision Approval Activity for 2014</p>
<p>That Council approve the recommendation outlined in Report PLPD15-004 dated January 19, 2015, of the Manager, Planning Division, as follows:</p>
<p>That Report PLPD15-004 be received for information.</p>
<p>Public Meeting Under The Planning Act Manager, Planning Division Report PLPD15-002 2350 Woodglade Boulevard</p>
<p>That Council approve the recommendations outlined in Report PLPD15-002 dated January 19, 2015, of the Manager, Planning Division, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>That Sections 4.3.5.8 and 4.3.5.9 of the Official Plan be amended to delete the Neighbourhood Centre provisions for the lands known as 2350 Woodglade Boulevard, in accordance with the draft amendment attached as Exhibit “C” to Report PLPD15-002;</p>
<p>That Schedule ‘A’ – Land Use of the Official Plan be amended to change the designation of the lands known as 2350 Woodglade Boulevard from ‘Commercial’ to ‘Residential’, in accordance with the draft amendment attached as Exhibit “C” to Report PLPD15-002;</p>
<p>That Schedule ‘G’ – Jackson Creek Secondary Plan of the Official Plan be amended to change the designation from ‘Neighbourhood Commercial’ to ‘Public Service’, in accordance with the draft amendment attached as Exhibit “C” to Report PLPD15-002;</p>
<br>
<p>2.</p>
<br>
<br>
<br>
<br>
<br>
<p>3.</p>
<br>
<p>d)</p>
<p>e)</p>
<p>f)</p>
<p>g)</p>
<p>a)</p>
<p>b)</p>
<p>City Council Minutes</p>
<p>Meeting of February 2, 2015</p>
<p>Page 24</p>
<p>That Schedule ‘I’ – Commercial Area of the Official Plan be amended to delete the ‘Neighbourhood Centre’ designation from the lands known as 2350 Woodglade Boulevard, in accordance with the draft amendment attached as Exhibit “C” to Report PLPD15-002;</p>
<p>That Section 374 – Special District 344, be deleted, in accordance with the draft amendment attached as Exhibit “D” to Report PLPD15- 002;</p>
<p>That the zoning of 2350 Woodglade Boulevard be amended from the SP. 344 – Residential District to the PS.2 ‘H’ – Public Service District and from the SP.246 – Commercial District to the PS.2 ‘H’ – Public Service District in accordance with the draft amendment attached as Exhibit ‘D’ to Report PLPD15-002; and</p>
<p>That the ‘H’ – Holding Symbol be removed from the property subject to Site Plan Approval being granted for the subject property, including a Revised Traffic Impact Study to address issues identified by the City’s Manager of Transportation, to the satisfaction of the City’s Utility Services Department.</p>
<br>
<p>Public Meeting Under The Planning Act Manager, Planning Division Report PLPD15-001 417 Bethune Street</p>
<p>That Council approve the recommendations outlined in Report PLPD15-001 dated January 19, 2015, of the Manager, Planning Division, as follows:</p>
<p>That Section 3.9 Exceptions of Zoning By-law 1997-123 be amended by adding Exception No. 296 in accordance with Exhibit ‘C’ attached to Report PLPD15-001.</p>
<p>That the zoning of 417 Bethune Street be amended from the C.1 - Commercial District to the C.1 – 296 ‘H’  – Commercial District in accordance with the draft amendment attached as Exhibit ‘C’ to Report PLPD15-001.</p>
<p>c)</p>
<p>That the ‘H’ – Holding Symbol be removed subject to the following:</p>
<p>i)</p>
<p>The owner entering into an agreement for cash-in-lieu of parking for the number of on-site parking spaces deficient on the property;</p>
<p>City Council Minutes</p>
<p>Meeting of February 2, 2015</p>
<p>Page 25</p>
<p>ii)</p>
<p>A lot grading and stormwater drainage plan, without a catch basin, that moves water off the property, while protecting the neigbouring properties, as approved by the City’s Utility Services Department.</p>
<br>
<p>Submitted by,</p>
<p>Councillor Parnell Chair January 19, 2015</p>
<p>City Council Minutes</p>
<p>Meeting of February 2, 2015</p>
<p>Page 26</p>
<br>
<br>
<br>
<p>Committee of the Whole Report No. 1</p>
<p>Meeting of January 21, 2015</p>
<br>
<p>To the Council of The City of Peterborough for consideration at its Meeting held February 2, 2015</p>
<p>The Committee of the Whole as a result of its meeting held on January 21, 2015, recommends as follows:</p>
<p>1.</p>
<p>Director of Planning and Development Services Report PLBD15-002 Notice of Public Meeting – January 21, 2015 Building Permit Fee Increase</p>
<p>That Council approve the recommendation outlined in Report PLBD15-002 dated January 21, 2015, of the Director of Planning and Development Services, as follows:</p>
<p>That Report PLBD15-002 advising Council a public meeting will be held on January 21, 2015 at 6:30 pm in the Council Chambers to hear public delegations, be received.</p>
<br>
<p>Submitted by,</p>
<p>Councillor Beamer Chair January 21, 2015</p>
<p>City Council Minutes</p>
<p>Meeting of February 2, 2015</p>
<p>Page 27</p>
<p>Committee of the Whole Report No. 2</p>
<p>Meeting of January 26, 2015</p>
<br>
<p>To the Council of The City of Peterborough for consideration at its Meeting held February 2, 2015</p>
<p>The Committee of the Whole as a result of its meeting held on January 26, 2015, recommends as follows:</p>
<p>1.</p>
<p>Director of Community Services Report CSACH15-001 A Report to Repeal and Replace the Peterborough Architectural Conservation Advisory Committee By-law</p>
<p>That Council approve the recommendations outlined in Report CSACH15-001, dated January 26, 2015, of the Director of Community Services, as follows:</p>
<p>That By-law 06-193, as amended, being a By-law to Establish a Municipal Heritage Committee (PACAC), be repealed;</p>
<p>That By-law 15-003 to Establish a Municipal Heritage Committee (PACAC), including the revisions recommended by the PACAC, be adopted.</p>
<p>a)</p>
<p>b)</p>
<br>
<p>2.</p>
<p>Director of Corporate Services Report CPFS15-002 Preliminary December 31, 2014 Financial Report (Unaudited)</p>
<p>That Council approve the recommendations outlined in Report CPFS15-002 dated January 26, 2015, of the Director of Corporate Services, as follows:</p>
<p>a)</p>
<p>That the preliminary December 31, 2015 Quarterly Financial Report (unaudited) attached as Appendix A to Report CPFS15-002, dated January 26, 2015, be received.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of February 2, 2015</p>
<p>Page 28</p>
<p>b)</p>
<p>c)</p>
<p>That any unused Sustainability Budget, at the end of 2014 and 2015, be transferred to the Sustainability Reserve, subject to the overall year-end position, and that if actual 2014 or 2015 costs exceed the 2014 or 2015 Budget, funds may be drawn from the Sustainability Reserve.</p>
<p>That a new County City Health Unit reserve be created and that the 2014 budgeted amount of $40,348 be transferred to the reserve to provide an available source of municipal funds for future funding opportunities as required; and that the Administrative Staff Committee be delegated the authority to release the funds based upon a request from the Health Unit.</p>
<p>Director of Utility Services Report USEC15-002 Contract Extension of Proposal P-34-13 for Citywide Rainfall and Sanitary Sewer Flow Monitoring for 2015 and 2016</p>
<p>That Council, approve the recommendation outlined in Report USEC15-002, dated January 26, 2015 of the Director of Utility Services as follows:</p>
<p>That the contract for Proposal P-34-13 for Citywide Rainfall and Sanitary Sewer Flow Monitoring be extended for 2015 and 2016 to AMG Environmental Inc, 53 Churchill Drive, Unit 4, Barrie, Ontario, L4N 8Z5 at the same yearly cost as 2014 of $68,442 plus $8,897.46 HST for a total cost of $77,339.46 per year or $136,884 plus $17,794.92 HST for a total cost of $154,678.92 to cover both 2015 and 2016.</p>
<br>
<p>4.</p>
<p>Chief Administrative Officer Report CAO15-003 CAO By-law Update</p>
<p>That Council approve the recommendation outlined in Report CAO15-003 dated January 26, 2015, of the Chief Administrative Officer, as follows:</p>
<p>That By-Law 06-174, being a by-law to identify the responsibilities of the Chief Administrative Officer be repealed and replaced with a new by-law as set out in Appendix A to Report CAO15-003.</p>
<br>
<p>3.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of February 2, 2015</p>
<p>Page 29</p>
<p>President and CEO, Peterborough Economic Development Report PED15-001 PED 2014 Fourth Quarter Report, 2015 Performance Measures Scorecard, Strategic Plan</p>
<p>That Council approve the recommendation outlined in Report PED15-001 of the President and CEO of Peterborough Economic Development, as follows:</p>
<p>That Report PED15-001, and supporting presentations, providing the Peterborough Economic Development 2014 Fourth Quarter Report, 2015 Performance Measures Scorecard and 5 Year Strategic Plan be received.</p>
<p>Director of Corporate Services Report CPFS15-004 Peterborough County/City Health Unit Presentation</p>
<p>That Council approve the recommendations outlined in Report CPFS15-004, dated January 26, 2015, of the Director of Corporate Services, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>That the Peterborough County-City Health Unit presentation be received;</p>
<p>That, to comply with the Health Protection and Promotion Act, which stipulates a board of health may acquire and hold real property for the purpose of carrying out the functions of the board and may sell, exchange, lease, mortgage or otherwise charge or dispose of real property owned by it only if board of health has first obtained the consent of the councils of the majority of the municipalities within the health unit served by the board of health, the City of Peterborough approves, in principle, the purchase of the first three floors of 185 King Street and the relocation of the Peterborough County-City Health Unit subject to all conditions of the purchase and sale being satisfied to the satisfaction of the Board of the Peterborough County-City Health Unit;</p>
<p>c)</p>
<p>That the Peterborough County-City Health Unit Relocation Business Plan, as provided to City staff and set out in Appendix A to Report CPFS15-004 be approved.</p>
<p>5.</p>
<br>
<p>6.</p>
<br>
<br>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of February 2, 2015</p>
<p>Page 30</p>
<p>d)</p>
<p>e)</p>
<p>That an additional provision of $75,817 for the Peterborough County- City Health Unit be included in the 2015 Operating Budget and a similar amount be included in future years’ operating budgets as the City’s share of additional operating expenses; and</p>
<p>That a provision of $261,666 one-time funding ($89,700 be included in the 2015 Capital Budget) for the Peterborough County-City Health Unit for the City’s share of relocation expenses and leasehold improvements.</p>
<br>
<p>Director of Corporate Report PLPD15-003 Police Radio System – Life Cycle Plan</p>
<p>That Council approve the recommendation outlined in Report CPFS15-003 dated January 26, 2015, of the Director of Corporate Services, as follows:</p>
<p>That Harris Canada Systems, Inc., 5-2895 Argentia Road, Mississauga, Ontario be retained, on a single source basis, for a 12 year term commencing, at the latest, April 1, 2015 to March 31, 2027, to provide a life cycle plan for the Police Radio System for a total fee of $3,330,000 plus $432,900 HST for a total of $3,762,900.</p>
<p>Director of Community Services Report CSRS15-001 Disbursement of 2014 Tollington Parks Endowment Fund</p>
<p>That Council approve the recommendations outlined in Report CSRS15-001 dated January 26, 2015, of the Director of Community Services, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>That the 2014 disbursement of the Tollington Parks Endowment Fund, in the amount of $73,898, be allocated to enhance capital project #6-7.01 for the development of an accessible splash pad in the City’s west end; and</p>
<p>That the budget for the 2014 capital project #6-7.01, Development of Park Facilities, be increased by $73,898 from $369,864 to $443,762 to reflect the 2014 Tollington Parks Endowment Fund contribution.</p>
<p>7.</p>
<br>
<p>8.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of February 2, 2015</p>
<p>Page 31</p>
<p>Director of Corporate Services Report CPPS15-004 Budget Adjustment and Award of RFT T-21-14 City Hall Lower Level South and East Wing Renovation</p>
<p>That Council approve the recommendations outlined in Report CPPS15-004, dated January 26, 2015 of the Director of Corporate Services as follows:</p>
<p>That the capital budget for the City Hall Lower Level South and East Wing Renovation (Project 3-2.03 in the 2014 Capital Budget) be increased by $250,000 from $309,000 to $559,000;</p>
<p>That the additional $250,000 to be transferred to the City Hall Lower Level South Wing Renovation Capital Project be funded from $250,000 from 2015 Property Division City Buildings – Utility Services (Project 3-1.03), Sub-Project Public Works Buildings, Transit Garage – Repair foundation, exterior and interior walls and floor and Repair Transit Garage Roof.</p>
<p>That T-21-14 for the City Hall Lower Level South and East Wing Renovation be awarded to J.J. McGuire General Contractors Inc., 880 Farewell Street, Oshawa, Ontario, L1H 6N6 at a cost of $468,500 plus HST of $60,905 for a total of $529,405.</p>
<br>
<p>10.  Director of Utility Services</p>
<p>Report USEC15-001 Riverside Drive Reconstruction Design</p>
<p>That Council approve the recommendations outlined in Report USEC15-001 dated January 26, 2015, of the Director of Utility Services, as follows:</p>
<p>That a concrete sidewalk be installed on the north side of Riverside Drive from Monaghan Road to Cameron Street; and</p>
<p>That Riverside Drive from Spruce Street to Monaghan Road be constructed to accommodate:</p>
<p>•</p>
<p>•</p>
<br>
<p>One-way, westbound traffic only with left turns prohibited from Riverside Drive to Monaghan Road; and</p>
<p>A multi-use path on the south side.</p>
<p>9.</p>
<br>
<br>
<br>
<br>
<br>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>a)</p>
<p>b)</p>
<p>City Council Minutes</p>
<p>Meeting of February 2, 2015</p>
<p>Page 32</p>
<p>11.  Director of Utility Services</p>
<p>Report USWM15-001 Increase in Agreement for the Operation and Maintenance of the Peterborough County/City Waste Management Facility and Scalehouse</p>
<p>That Council approve the recommendation outlined in Report USWM15-001 dated January 26, 2015, from the Director of Utility Services, as follows:</p>
<p>That the Agreement with R.W. Tomlinson Ltd., 5597 Power Road, Ottawa, Ontario K1G 3N4, be increased by $1,127,071.00 from $10,074,702.00 to $11,201,773.00 plus HST of $1,456,230.49 for a total cost of $12,658,003.49 for the period September 1, 2014 to December 31, 2019 inclusive.</p>
<br>
<p>12.  Director of Utility Services</p>
<p>Report USTR15-003 Prohibition of Stopping on Cameron Street</p>
<p>That Council approve the recommendations outlined in Report USTR15-003 dated January 26, 2015, of the Director of Utility Services, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>That Stopping be prohibited at any time on the south side of Cameron Street within 15m of the Spruce Avenue, Steele Avenue, and Archibald Avenue intersections.</p>
<p>That Stopping be prohibited 8:00 A.M. – 9:30 A.M., 11:30 A.M. – 1:30 P.M., 3:00 P.M. – 4:30 P.M., Monday to Friday on the south side of Cameron Street from Monaghan Road to Archibald Avenue.</p>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of February 2, 2015</p>
<p>Page 33</p>
<p>13.  Director of Utility Services</p>
<p>Report USTR15-001 Trans-Canada Trail – Lansdowne Street East, South to the City Limit</p>
<p>That Council approve the recommendations outlined in Report USTR15-001, dated January 26, 2015 as follows:</p>
<p>That Council recommend that the permitted uses of the Trans-Canada Trail between Lansdowne Street and the City limits be consistent with the City’s Active Transportation By-Law and,</p>
<p>That the initial trail design take into consideration potential future users and,</p>
<p>That in the event that proposals come forward that staff prepare the appropriate report for council’s consideration.</p>
<br>
<p>14.  Director of Utility Services</p>
<p>Report USTR15-002 Calendar Parking Restrictions on Kensington Drive</p>
<p>That Council approve the recommendation outlined in Report USTR15-002 dated January 26, 2015, of the Director of Utility Services, as follows:</p>
<p>That Calendar Parking with a 1-Hour time limit, 8:00 A.M. to 5:00 P.M., Monday to Friday be implemented on Kensington Drive from Westbrook Drive to Sherwood Crescent.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of February 2, 2015</p>
<p>Page 34</p>
<p>15.  Mayor Daryl Bennett</p>
<p>Report COU15-001 Downtown Revitalization</p>
<p>That Council approve the recommendation outlined in Report COU15-001, dated January 26, 2015, of the Mayor, as follows:</p>
<p>That staff be requested to report on the phasing, costs and organizational responsibilities of a multi-year program for the revitalization and improvement of the downtown core, such program to include enhancements such as:</p>
<p>• •</p>
<p>• • • •</p>
<p>Improved cleanliness of streets and sidewalks A pilot project for the installation and operation of security cameras An increased police presence A pilot project for the improved lighting of main streets The burying of utilities A rebuilding of George and Water Streets, including streetscape improvements involving street furniture, signage, lighting, seating, planting, litter receptacles, sidewalk treatments, bicycle facilities, public art and public washroom opportunities.</p>
<p>And that an additional provision of $30,000 be provided to the DBIA for street cleaning in 2015, in addition to the $66,400 currently budgeted and that the additional $30,000 come from the 2015 General Contingency</p>
<br>
<p>16.  City Clerk</p>
<p>Report CPCLK15-001 Report on the Identification, Removal, and Prevention of Barriers in the 2014 Municipal Election</p>
<p>That Council approve the recommendation outlined in Report CPCLK15-001 dated January 26, 2015, of the City Clerk, as follows:</p>
<p>That Report CPCLK15-001 be received for information.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of February 2, 2015</p>
<p>Page 35</p>
<p>17.  City Clerk</p>
<p>Report CPCLK15-002 Civic Awards Program</p>
<p>That Council approve the recommendations outlined in Report CPCLK15-002, Civic Awards Program, dated January 26, 2015, of the City Clerk as follows:</p>
<p>That the following categories be deleted: i) ii) iii)</p>
<p>Blood and Platelet Donations Civic Award of Merit – Act of Heroism Sports Personality of the Year</p>
<p>a)</p>
<p>b)</p>
<p>That the following categories be combined: i)</p>
<p>Cultural Betterment and Cultural Award of Merit and be called Cultural Betterment Civic Athletic Award of Merit and Sport Betterment and be called Athletic Award of Merit Female Junior Athlete of the Year and Male Junior Athlete of the Year and be called Junior Athlete of the Year Female Senior Athlete of the Year, Male Senior Athlete of the Year and be called Senior Athlete of the Year</p>
<p>ii)</p>
<p>iii)</p>
<p>iv)</p>
<p>c)</p>
<p>That the following categories be added: i) ii)</p>
<p>Adult Athlete of the Year Environmental Stewardship/Sustainability Award</p>
<br>
<p>Submitted by,</p>
<p>Councillor Beamer Chair January 26, 2015</p>
<br>
<br>
<br>
<br>
<br></div>