<!doctype html><div><br>
<br>
<p>Arts, Culture and Heritage Advisory Committee Minutes</p>
<p>January 11, 2018</p>
<p>Draft Not Approved</p>
<br>
<p>Minutes of a Meeting of the Arts, Culture and Heritage Advisory</p>
<p>Committee held on January 11, 2018 in the Auditorium, Community</p>
<p>Services Office, 210 Wolfe Street.</p>
<br>
<p>The meeting of the Arts, Culture & Heritage Advisory Committee was called to order at 7:00 p.m. by Kendra Sedgwick, Committee Coordinator in the Auditorium, Community Services Office.</p>
<p>Present: Dennis Carter-Edwards Councillor Parnell Bruce Stonehouse Peer Christensen Dirk Verhulst Andy Cragg Bill Kimball</p>
<p>Regrets: Bill Templeman Councillor Pappas</p>
<p>Staff Present: Ken Doherty, Director of Community Services Erik Hanson, Heritage Resources Coordinator Kendra Sedgwick, Committee Coordinator</p>
<p>Election of Officers</p>
<p>The Committee Coordinator called for nominations for the position of Chair.</p>
<p>Moved by Bruce Stonehouse</p>
<p>That Dennis Carter-Edwards be appointed as Chair of the Arts, Culture and Heritage Advisory Committee for 2018.</p>
<p>Carried</p>
<br>
<p>Arts, Culture & Heritage Advisory Committee</p>
<p>Meeting Minutes of January 11, 2018</p>
<p>Page 2</p>
<br>
<p>Dennis Carter-Edwards assumed the Chair, and called for nominations for the Vice Chair position.</p>
<p>Moved by Dirk Verhulst</p>
<p>That Bruce Stonehouse be appointed as Vice Chair of the Arts, Culture and Heritage Advisory Committee for 2018.</p>
<p>Carried</p>
<p>Confirmation of Minutes - October 12, 2017</p>
<p>Moved by Councillor Parnell</p>
<p>That the minutes of the Arts, Culture and Heritage Advisory Committee meeting held on October 12, 2017 be approved.</p>
<p>Carried</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Pecuniary Interest.</p>
<p>Consent Agenda</p>
<p>Moved by Bill Kimball</p>
<p>Carried</p>
<p>Heritage Preservation Office Report</p>
<p>Moved by Bill Kimball</p>
<p>That item 6.c. be approved as part of the Consent Agenda.</p>
<p>That the Arts, Culture & Heritage Advisory Committee (ACHAC) approve the recommendation outlined in Report ACHAC18-002, dated January 11, 2018 of the Heritage Resources Coordinator, as follows:</p>
<p>That the report with respect to the activities of the Heritage Preservation Office for December 2017 be received for information.</p>
<p>Carried</p>
<br>
<br>
<p>Arts, Culture & Heritage Advisory Committee</p>
<p>Meeting Minutes of January 11, 2018</p>
<p>Page 3</p>
<p>Presentation Update on Public Library Jury Competition for Peterborough Public Library</p>
<p>Moved by Bruce Stonehouse</p>
<p>That the ACHAC approve the recommendation outlined in Report ACHAC18-003, dated January 11, 2018 of the Director of Community Services, as follows:</p>
<p>That the presentation update from the Public Art Committee Chair be received for Information; and</p>
<p>That the project be awarded to the artist recommended by the Jury and endorsed by the Public Art Committee.</p>
<p>Carried</p>
<p>Arts, Culture and Heritage Division Manager's Report</p>
<p>Erik Hanson, Heritage Resources Coordinator, declared an interest, and left the room at 7:39 p.m.</p>
<p>Moved by Bruce Stonehouse</p>
<p>That the ACHAC approve the recommendation outlined in Report ACHAC18-001, dated January 11, 2018 of the Interim Manager of the Arts, Culture and Heritage Division, as follows:</p>
<p>That the report with respect to the activities of the Manager, Arts, Culture & Heritage Division for November and December 2017 be received for Information.</p>
<p>Carried</p>
<p>Erik Hanson returned at 7:44 p.m.</p>
<br>
<br>
<br>
<br>
<p>Arts, Culture & Heritage Advisory Committee</p>
<p>Meeting Minutes of January 11, 2018</p>
<p>Page 4</p>
<p>2018 ACHAC Meeting Schedule</p>
<p>Moved by Councillor Parnell</p>
<p>That the Arts, Culture and Heritage Advisory Committee (ACHAC) approves the recommendation outlined in Report ACHAC18-004, dated January 11, 2018 of the Director of Community Services, as follows:</p>
<p>That the ACHAC adopts the 2018 meeting schedule as presented in this report.</p>
<p>Carried</p>
<p>Other Business</p>
<p>There were no items of Other Business.</p>
<p>Next Meeting - February 8, 2018</p>
<p>The Chair indicated that the next meeting of the Committee is scheduled for February 8, 2018.</p>
<p>Adjournment</p>
<p>That this meeting of the Arts, Culture and Heritage Advisory Committee adjourn at 8:02 p.m.</p>
<p>Kendra Sedgwick Committee Coordinator</p>
<p>Dennis Carter-Edwards, Chair</p>
<br>
<br>
<br>
<br>
<br></div>