<!doctype html><div><p>Accessibility Advisory Committee</p>
<p>City of Peterborough</p>
<p>January 3, 2018</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of the Accessibility Advisory Committee held on</p>
<p>January 3, 2018 in the Doris Room.</p>
<br>
<p>The meeting of the Accessibility Advisory Committee was called to order at 4:00 p.m. by Kendra Sedgwick, Committee Coordinator in the Doris Room, City Hall.</p>
<p>Present: Amanda Motyer Andrea Walsh Ben McColl Councillor Riel, Chair Don Parnell Erica Richmond Lynda Staples Warren Northcott</p>
<p>Regrets: Thomas Street</p>
<p>Staff: Mark Buffone, Accessibility Compliance Coordinator Sadie Norrad, Accessibility and Communication Specialist Kendra Sedgwick, Committee Coordinator</p>
<p>Sadie Norrad introduced and welcomed Lynda Staples to the Committee.</p>
<p>Election of Officers for 2018</p>
<p>Chair</p>
<p>Moved by Ben McColl</p>
<p>That Councillor Riel be appointed as Chair of the Accessibility Advisory Committee for 2018.</p>
<p>"CARRIED"</p>
<br>
<p>Accessibility Advisory Committee Minutes</p>
<p>Meeting of January 3, 2018</p>
<p>Page 2</p>
<br>
<p>Councillor Riel assumed the Chair.</p>
<p>Vice Chair</p>
<p>Moved by Ben McColl</p>
<p>That Warren Northcott be appointed as Vice Chair of the Accessibility Advisory Committee for 2018.</p>
<p>“CARRIED”</p>
<p>Minutes – November 1, 2017</p>
<p>Moved by Warren Northcott</p>
<p>That the minutes of the Accessibility Advisory Committee held on November 1, 2017 be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Pecuniary Interest.</p>
<p>Consent Agenda</p>
<p>No items were passed on Consent.</p>
<br>
<p>Accessibility Advisory Committee Minutes</p>
<p>Meeting of January 3, 2018</p>
<p>Page 3</p>
<br>
<p>Accessibility and Communication Specialist Report AAC18-002 Christian Horizons Presentation</p>
<p>Paul Gillam and Jennifer Crilly-Glover, Christian Horizons, made a presentation.</p>
<p>Moved by Erica Richmond</p>
<p>That the Accessibility Advisory Committee (AAC) approve the recommendation outlined in Report AAC18-002 dated January 3, 2018, of the Accessibility and Communication Specialist as follows:</p>
<p>That the presentation from Paul Gillam with Christian Horizons be received for information.</p>
<p>“CARRIED”</p>
<p>Accessibility and Communication Specialist Report AAC18-001 Access Fund Summary</p>
<p>Moved by Warren Northcott</p>
<p>That the Accessibility Advisory Committee (AAC) approve the recommendation outlined in Report AAC18-001 dated January 3, 2018, of the Accessibility and Communication Specialist as follows:</p>
<p>That the staff update with respect to the current balance of the Access Fund be received for discussion.</p>
<p>“CARRIED”</p>
<br>
<p>Accessibility Advisory Committee Minutes</p>
<p>Meeting of January 3, 2018</p>
<p>Page 4</p>
<br>
<p>Accessibility and Communication Specialist Report AAC17-057B Access Fund Request 009-17</p>
<p>Moved by Warren Northcott</p>
<p>That the Accessibility Advisory Committee (AAC) approve the recommendations outlined in Report AAC17-057B dated January 3, 2018, of the Accessibility and Communication Specialist as follows:</p>
<p>a)  That a presentation by the Property Maintenance Coordinator on a proposed</p>
<p>accessible ramp at Community Services be received for information; and</p>
<p>b)  That the AAC Access Fund Request 009-17 submitted by the Property</p>
<p>Maintenance Coordinator for an accessible ramp at Community Services be approved with conditions.</p>
<p>“LOST”</p>
<p>Moved by Lynda Staples</p>
<p>That the AAC approve an expenditure of up to $7500 to cover the design fee for the accessible ramp construction project at 210 Wolfe Street (AccessFund request #009-17);</p>
<p>That the Built Environment Sub-Committee review and comment on the conceptual designs; and</p>
<p>That the AAC review the cost estimates prepared by the consultant for the conceptual design.</p>
<p>“CARRIED”</p>
<br>
<p>Accessibility Advisory Committee Minutes</p>
<p>Meeting of January 3, 2018</p>
<p>Page 5</p>
<br>
<p>Accessibility and Communication Specialist Report AAC18-003 Built Environment Sub-Committee Report</p>
<p>Moved by Andrea Walsh</p>
<p>That the Accessibility Advisory Committee (AAC) approve the recommendations outlined in Report AAC18-003 dated January 3, 2018 of the Accessibility and Communication Specialist as follows:</p>
<p>a)  That the verbal update by the Accessibility and Communication Specialist be</p>
<p>received for information;</p>
<p>b)  That the AAC appoint Andrea Dodsworth to a two year term with the Built</p>
<p>Environment Sub-Committee.</p>
<p>c)  That Amanda Motyer be appointed Chair of the Built Environment</p>
<p>Sub-Committee; term to coincide with AAC term; and</p>
<p>d)  That Lynda Staples be appointed to the Built Environment Sub-Committee.</p>
<p>“CARRIED”</p>
<p>Accessibility and Communication Specialist Report AAC18-004 Transportation Sub-Committee Report</p>
<p>Moved by Don Parnell</p>
<p>That the Accessibility Advisory Committee (AAC) approve the recommendations outlined in Report AAC18-004, dated January 3, 2018 of the Accessibility and Communication Specialist as follows:</p>
<p>That the verbal update by the Chair of the Transportation Sub-Committee be received for information;</p>
<p>That the AAC appoint a current AAC member as a member of the Transportation Sub-Committee;</p>
<p>a)</p>
<p>b)</p>
<br>
<p>Accessibility Advisory Committee Minutes</p>
<p>Meeting of January 3, 2018</p>
<p>Page 6</p>
<br>
<p>c)</p>
<p>That the AAC approve the request to have Andrea Dodsworth Transportation Sub-Committee serve for an additional term of one year, as an ex officio member.</p>
<p>“CARRIED”</p>
<p>Accessibility Compliance Coordinator Report AAC18-005 Accessibility Office Report</p>
<p>Moved by Erica Richmond</p>
<p>That the Accessibility Advisory Committee (AAC) approve the recommendation outlined in Report AAC18-005 dated January 3, 2018, of the Accessibility Compliance Coordinator as follows:</p>
<p>That Report AAC18-005 with respect to the current work of the Accessibility Office be received for information.</p>
<p>“CARRIED”</p>
<p>Other Business</p>
<p>The Accessibility Directorate of Ontario will be reviewing all Accessibility Advisory Committees.  Staff will keep the Committee updated regarding the upcoming consultation.</p>
<p>Next Meeting</p>
<p>The Chair indicated that the next Committee meeting will be held on February 7, 2018.</p>
<p>Adjournment</p>
<p>Moved by Don Parnell</p>
<p>That this meeting of the Accessibility Advisory Committee adjourn at 5:29 p.m.</p>
<p>"CARRIED"</p>
<p>Accessibility Advisory Committee Minutes</p>
<p>Meeting of January 3, 2018</p>
<p>Page 7</p>
<br>
<p>Kendra Sedgwick Committee Coordinator</p>
<p>Councillor Riel Chair</p>
<br></div>