<!doctype html><div><p>Mayor Bennett</p>
<p>Councillor Baldwin</p>
<p>Councillor Beamer</p>
<p>Councillor Haacke</p>
<p>Councillor McWilliams</p>
<p>Councillor Parnell</p>
<p>Councillor Pappas</p>
<p>Councillor Riel</p>
<p>Councillor Therrien</p>
<p>Councillor Vassiliadis</p>
<br>
<p>Councillor Clarke</p>
<br>
<p>Sandra Clancy, Director of Corporate Services</p>
<p>Jeffrey Humble, Director of Planning and Development Services</p>
<p>Wayne Jackson, Director of Utility Services</p>
<p>John Kennedy, Clerk</p>
<p>Patricia Lester, City Solicitor and Director of Legal Services</p>
<br>
<p>The City Council meeting was called to order at 5:30 p.m. in the Council Chambers, City Hall.</p>
<p>The Honourable Maryam Monsef, MP, provided an update to Council.</p>
<p>City Council Minutes</p>
<p>February 20, 2018.</p>
<p>Present:</p>
<br>
<br>
<br>
<br>
<p>Regrets:</p>
<p>Staff Present</p>
<p>Call to Order</p>
<p>Thirty Seconds of Reflection</p>
<p>National Anthem</p>
<p>Ceremonial Presentation</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council Minutes of February 20, 2018</p>
<p>That the minutes of the meetings of Council held on January 29, 2018 be approved.</p>
<p>Approval of Minutes:</p>
<p>Moved by Councillor Pappas Seconded by Councillor Riel</p>
<p>Carried</p>
<p>Disclosure of Pecuniary Interest</p>
<p>Councillor Therrien declared an interest in Item 5 of General Committee Report No. 4 (Report USTR18-001 - Award of RFP P-21-17 Design and Contract Administration for Multi-Use Trail Crossings of CP Rail Line and Related Work) and Item 1 of General Committee Report No. 5, (Report USTR18-004 – Ontario Municipal Commuter Cycling Program Transfer Payment Agreement) and By-law 18-011, as she lives in proximity to the subject trail.</p>
<p>Councillor Pappas declared an interest in item 1 of General Committee Report No. 3, (Report CPFS18-007a - Development Charges Amendment Study), as his family owns a business in the subject area.</p>
<p>Delegations - Items on the Agenda</p>
<p>Registered Delegations (7 minutes)</p>
<p>Bill Fields, Greenwood Road, made a delegation to Item 9 of General Committee Report No. 4 (Report PLAIR18-002 – Airport Strategic Plan).</p>
<p>Donald Graham, Greenwood Road, made a delegation to Item 9 of General Committee Report No. 4 (Report PLAIR18-002 – Airport Strategic Plan).</p>
<p>Unregistered Delegations (4 minutes)</p>
<p>Aaron Wright, Douro-Dummer, made a delegation to Item 7 of General Committee Report No. 4, (Report PLPD18-002, Official Plan and Zoning Amendment - 959 Chemong Road).</p>
<p>Warden Joe Taylor, made a delegation to Item 9 of General Committee Report No. 4 (Report PLAIR18-002 – Airport Strategic Plan).</p>
<p>Rodney Marois, 421 Sheridan Avenue, made a delegation to Item 7 of General Committee Report No. 4, (Report PLPD18-002, Official Plan and Zoning Amendment - 959 Chemong Road).</p>
<br>
<br>
<br>
<br>
<p>City Council Minutes of February 20, 2018</p>
<p>Due to his previously declared interest, Councillor Pappas did not discuss or vote on this item.</p>
<p>That Report Number 3 of the General Committee meeting of February 5, 2018 be approved.</p>
<p>Reports from Standing Committees</p>
<p>General Committee Report No. 3</p>
<p>Moved by Councillor Beamer Seconded by Councillor Haacke</p>
<p>Carried</p>
<p>General Committee Report No. 4</p>
<p>Moved by Councillor Beamer Seconded by Councillor Baldwin</p>
<p>That Report Number 4 of the General Committee meeting of February 5, 2018 be approved.</p>
<p>Items 1, 5, 7 and 9 were separated. Upon item 7, the item carried.</p>
<p>Item 5 – Award of RFP P-21-17 Design and Contract Administration for Multi-Use Trail Crossings of CP Rail Line and Related Work</p>
<p>Due to Councillor Therrien's previously declared interest, she did not discuss or vote on this item.</p>
<p>Upon item 5, the motion carried.</p>
<br>
<br>
<p>b)</p>
<p>Upon items 1, 2, 3, 4, 6, 8, 10, the items carried.</p>
<p>Item 9 – Airport Strategic Development Plan</p>
<p>At the meeting of February 20, 2018 Council amended item b) as follows:</p>
<p>That the Airport Strategic Development Plan, dated November 2017 prepared by WSP, be adopted as a development and investment guide, subject to annual capital budget approvals, at the Peterborough Airport for the period of 2018 to 2028, and that staff provide, during the budget year, an update report on airport budget matters.</p>
<p>Upon item 9, the motion carried.</p>
<br>
<br>
<p>City Council Minutes of February 20, 2018</p>
<p>Due to her previously declared interest, Councillor Therrien did not discuss or vote on the matter.</p>
<p>That Report Number 5 of the General Committee meeting of February 20, 2018 be approved.</p>
<p>General Committee Report No. 5</p>
<p>Moved by Councillor Beamer Seconded by Councillor Vassiliadis</p>
<p>Carried</p>
<p>Notice of Motion</p>
<p>There were no Notices of Motion.</p>
<p>Approval of By-laws:</p>
<p>Moved by Councillor Baldwin Seconded by Councillor Vassiliadis</p>
<p>That the following by-laws be read a first, second and third time:</p>
<p>18-004</p>
<p>Being a By-law to Repeal By-law 16-022 and Enact By-law 18-004, a By-law to Appoint By-law Enforcement Officers at the Peterborough Regional Health Center at 1 Hospital Drive to Enforce the City’s Smoking By-law</p>
<p>18-005</p>
<p>Being a By-law to Provide for Interim Tax Levies for the Year 2018</p>
<p>Being a By-law to appoint and remove Parking Enforcement Officers at 2199 Walker Avenue</p>
<p>Being a By-law to Designate 503 Homewood Avenue in the City of Peterborough under the Ontario Heritage Act, R.S.O. 1990, C.O 18</p>
<p>Being a By-law to Adopt Amendment Number 176 to the Official Plan of the City of Peterborough for the property known as 959 Chemong Road</p>
<p>Being a By-law to amend the Zoning By-law for the lands known as 959 Chemong Road</p>
<p>Being a By-law to amend the Zoning By-law for the lands known as 799 Argyle Street</p>
<p>and the said by-laws, having been read a third time and passed, the Mayor and Clerk be authorized to sign and seal the same.</p>
<p>18-006</p>
<p>18-007</p>
<p>18-008</p>
<p>18-009</p>
<p>18-010</p>
<p>Carried</p>
<br>
<p>City Council Minutes of February 20, 2018</p>
<p>Due to Councillor Therrien's previously declared interest, By-law 18-011 was separated.  She did not vote on by-law 18-011.</p>
<p>18-011</p>
<p>Being a By-law to authorize the execution of the transfer price agreement between Her Majesty the Queen in Right of Ontario as represented by the Minister of Transportation and the Corporation of the City of Peterborough (the “Municipality”) for the transfer of the Ontario Municipal Commuter Cycling Program grant to the Municipality for funding of trail projects</p>
<p>Upon by-law 18-011, the motion carried.</p>
<p>Other Business</p>
<p>There were no items of Other Business</p>
<p>Confirmation By-law:</p>
<p>Moved by Councillor Vassiliadis Seconded by Councillor Riel</p>
<p>18-012</p>
<p>Being a By-law to confirm the proceedings of Council at its meeting held on February 20, 2018</p>
<p>and the said by-law, having been read a third time and passed, the Mayor and Clerk be authorized to sign and seal the same.</p>
<p>Moved by Councillor Pappas Seconded by Councillor Haacke</p>
<p>That this meeting of City Council adjourn at 7:35 p.m.</p>
<br>
<br>
<br>
<p>Carried</p>
<p>Adjournment</p>
<p>Carried</p>
<p>John Kennedy</p>
<p>City Clerk</p>
<p>Daryl Bennett</p>
<p>Mayor</p>
<br>
<br>
<br>
<br>
<br>
<p>City Council Minutes of February 20, 2018</p>
<p>General Committee Report No. 3</p>
<p>Meeting of February 5, 2018</p>
<p>To the Council of The City of Peterborough for consideration at its meeting held February 20, 2018</p>
<p>The General Committee as a result of its meeting held on February 5, 2018 recommends as follows:</p>
<p>1.  Public Meeting – February 5, 2018</p>
<p>Development Charges Amendment Study Report CPFS18-007a</p>
<p>That Council approve the recommendations outlined in Report CPFS18-007a dated February 5, 2018, of the Director of Corporate Services, as follows:</p>
<p>a)  That Report CPFS18-007a advising Council that a public meeting will be held</p>
<p>on February 5, 2018 at 5:00 pm in the Council Chambers to present a Development Charges Amendment Study and to hear public delegations, be received.</p>
<p>b)  That a further report be presented to the March 26, 2018 General Committee</p>
<p>meeting that will recommend an amendment to the Development Charges By-laws regarding a specific exemption to encourage certain downtown developments.</p>
<br>
<p>Submitted by,</p>
<p>Councillor Beamer Chair February 5, 2018</p>
<br>
<br>
<p>City Council Minutes of February 20, 2018</p>
<p>General Committee Report No. 4</p>
<p>Meeting of February 5, 2018</p>
<p>To the Council of The City of Peterborough for consideration at its meeting held February 20, 2018</p>
<p>The General Committee as a result of its meeting held on February 5, 2018 recommends as follows:</p>
<p>1.  Contract Approval for City Website Redesign</p>
<p>Report CPFS18-003</p>
<br>
<p>That Council approve the recommendations outlined in Report CPFS18-003 dated February 5, 2018, of the Director of Corporate Services, as follows:</p>
<p>a)   That the City enter into an agreement with eSolutions Group, 651 Colby</p>
<p>Drive, Waterloo, Ontario, N2V 1C2, to redesign the City’s website to a maximum cost of $289,375 plus HST of $37,618.75 for a total of $326,993.75; and</p>
<p>b)   That the budget include a Contingency Provision for provisional items in the amount of $50,000 that may be added to the contract at the discretion of the Director of Corporate Services.</p>
<br>
<p>2.  Budget Creation and Approval for Procurement Compliance Review Project</p>
<p>Report CPFS18-008</p>
<p>That Council approve the recommendations outlined in Report CPFS18-008 dated February 5, 2018, of the Director of Corporate Services, as follows:</p>
<p>a)   That Council create a 2018 Capital Budget in the amount of $90,000 for the</p>
<p>project with funds to be transferred from the Insurance Reserve;</p>
<p>b)   That the City enter into a formal agreement with the Procurement Office,</p>
<p>Suite 515, 639 Dupont Street, Toronto, Ontario, M6G 1Z4, for procurement compliance review services at a cost of $70,945 plus HST of $9,222.85 for a total cost of $80,167.85; and</p>
<p>c)</p>
<p>That a provisional amount of $14,500 be committed to the services provided and the Director of Corporate Services be provided the authority to adjust the contract to an upset limit of $85,445 excluding HST as necessary to complete this work.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council Minutes of February 20, 2018</p>
<p>3.  Budget Adjustment and Award of RFT T-71-17 for the City Hall Building</p>
<p>Division Renovation Report CPPS18-002</p>
<p>That Council approve the recommendations outlined in Report CPPS18-002, dated February 5, 2018 of the Director of Corporate Services as follows:</p>
<p>a)  That the 2018 budget for the City Hall Building Division renovation Capital</p>
<p>Project (Project #3-1.01) be increased by $85,000 from $75,000 to $160,000; and</p>
<p>b)  That RFT, T-71-17 for the City Hall Building Division Renovation be awarded</p>
<p>to Snyder Construction., 920 Brawley Road West, Ashburn, Ontario, L0B 1A0, at a cost of $125,100 plus HST of $16,263.00 for a total of $141,363.</p>
<br>
<p>4.  Manufacturer’s Limited Liquor Sales Licence – Beard Free Brewing</p>
<p>4-649 The Parkway, Peterborough Report CPCLK18-003</p>
<p>That Council approve the recommendation outlined in Report CPCLK18-003, dated February 5, 2018 of the City Clerk, as follows:</p>
<p>That the Municipality of the City of Peterborough supports the application of Beard Free Brewing Corporation, for a Manufacture’s Limited Liquor Sales Licence (By the Glass).</p>
<br>
<p>5.  Award of RFP P-21-17 Design and Contract Administration for Multi-Use Trail</p>
<p>Crossings of CP Rail Line and Related Work Report USTR18-001</p>
<p>That Council approve the recommendation outlined in Report USTR18-001 dated February 5, 2018, of the Director of Utility Services, as follows:</p>
<p>That the Design and Contract Administration for the Multi-Use Trail Crossings of the CP Rail Line and Related Work be awarded to AECOM Canada Ltd., 300 Water Street, Whitby, ON L1N 9J2 at a cost of $198,726.00 plus HST of $25,834.38 for a total cost of $224,560.38.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council Minutes of February 20, 2018</p>
<p>6.  Public Meeting under the Planning Act</p>
<p>Zoning By-law Amendment - 799 Argyle Street Report PLPD18-003</p>
<p>That Council approve the recommendations outlined in Report PLPD18-003 dated February 5, 2017, of the Director, Planning and Development Services, as follows:</p>
<p>a)  That the Zoning By-law be amended to add Exception 323 to Section 3.9, to</p>
<p>permit a reduced lot area per unit; a reduced lot width per unit, and a minimum of 1.5 parking spaces per unit, in accordance with the draft amendment attached as Exhibit ‘C’ to Report PLPD18-003.</p>
<p>b)   That the subject property be rezoned from the R.1 – Residential District to</p>
<p>the R.2-323 – Residential District in accordance with Exhibit ‘C’ attached to Report PLPD18-003.</p>
<br>
<p>7.  Public Meeting under the Planning Act</p>
<p>Official Plan and Zoning Amendment - 959 Chemong Road Report PLPD18-002</p>
<p>That Council approve the recommendations outlined in Report PLPD18-002 dated February 5, 2018, of the Director, Planning and Development Services, as follows:</p>
<p>a)   That Schedule ‘L’ – Downey West Secondary Plan of the Official Plan, as it relates to the property known as 959 Chemong Road, be amended to ‘Local Commercial’ in accordance with the draft amendment, attached as Exhibit ‘C’ to Report PLPD18-002.</p>
<p>b)  That the Zoning By-law be amended to add Exception 322 to Section 3.9, to</p>
<p>permit a reduced planting strip of 0.5 m along the rear lot line; a reduced minimum building setback of 13.2 m from the centre line of Chemong Road; and a maximum floor area of 223 m2 per commercial purpose, in accordance with the draft amendment attached as Exhibit ‘D’ to Report PLPD18-002.</p>
<p>c)   That the subject property be rezoned from the SP.129 – Special Commercial District to the C.1 – 322 ‘F’ – Commercial District in accordance with Exhibit ‘D’ attached to Report PLPD18-002.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council Minutes of February 20, 2018</p>
<p>8.  Major Sport and Event Centre Feasibility Study Presentation</p>
<p>Report CSAD18-001</p>
<p>That Council approve the recommendation outlined in Report CSAD18-001, dated February 5, 2018, of the Director of Community Services, as follows:</p>
<p>That a presentation by the consultant, Sierra Planning and Management providing an overview of the Major Sport and Event Centre Feasibility Study project be received for information.</p>
<br>
<p>9.  Airport Strategic Development Plan</p>
<p>Report PLAIR18-002</p>
<p>That Council approve the recommendations outlined in Report PLAIR18-002 dated February 5, 2018, of the Director, Planning & Development Services, as follows:</p>
<p>a)  That the presentation by Adam Martin, Manager, Aviation Planning with</p>
<p>WSP, on the Airport Strategic Development Plan, be received;</p>
<p>At the meeting of February 20, 2018, item b) was amended as follows:</p>
<br>
<p>b)  That the Airport Strategic Development Plan, dated November 2017</p>
<p>prepared by WSP, be adopted as a development and investment guide, subject to annual capital budget approvals, at the Peterborough Airport for the period of 2018 to 2028, and that staff provide, during the budget year, an update report on airport budget matters.</p>
<p>c)   That an update to the Airport Strategic Plan be provided within the next term</p>
<p>of Council (i.e. 2022).</p>
<p>At the meeting of February 5, 2018, item d) was added:</p>
<p>d)   That staff continue to work with the Township of Cavan Monaghan, County of</p>
<p>Peterborough and the Province to complete a boundary adjustment to bring the airport lands into the City of Peterborough.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council Minutes of February 20, 2018</p>
<p>11.  PKED 2017 Fourth Quarter Report and 2018 PKED Business Plan</p>
<p>Report PKED18-001</p>
<p>That Council approve the recommendation outlined in Report PKED18-001 dated February 5, 2018 of the Board Chair and President & CEO of Peterborough & the Kawarthas Economic Development, as follows:</p>
<p>That Report PKED18-001 and supporting presentation, providing the Peterborough & the Kawarthas Economic Development 2017 Fourth Quarter Report and 2018 PKED Business Plan be received.</p>
<br>
<p>Submitted by,</p>
<p>Councillor Beamer Chair February 5, 2018</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council Minutes of February 20, 2018</p>
<p>General Committee Report No. 5</p>
<p>Meeting of February 20, 2018</p>
<p>To the Council of The City of Peterborough for consideration at its meeting held February 20, 2018</p>
<p>The General Committee as a result of its special meeting held on February 20, 2018 recommends as follows:</p>
<p>1.  Ontario Municipal Commuter Cycling Program Transfer Payment Agreement</p>
<p>Report USTR18-004</p>
<p>That Council approve the recommendations outlined in Report USTR18-004 dated February 20, 2018, of the Director of Utility Services, as follows:</p>
<p>a)</p>
<p>That a by-law be passed authorizing the Mayor and Clerk to sign the Ontario Municipal Commuter Cycling (OMCC) Program transfer payment agreement between Her Majesty the Queen in Right of Ontario as represented by the Minister of Transportation and The Corporation of the City of Peterborough; to comply with program requirements, to utilize 2017/2018 OMCC funding only for eligible costs or eligible projects; and to commit to fund the 20% municipal share.</p>
<p>That a capital project for the Lansdowne Street – River Road to Ashburnham Drive Project be created in the amount of $530,000 and $280,000 of the funds be transferred from the 2018 Various New Sidewalk Installation Project (Capital Budget Ref # 5-5.02) and the remaining $250,000 be funded from the OMCC program grant; and</p>
<p>That a capital project for the Crawford Trail Extension Project be created in the amount of $1,000,000 and $408,501 of the funds be transferred from the 2018 Various Multi-Use Trail Project (Capital Budget Ref # 5-5.01) and the remaining $591,499 be funded from the OMCC program grant.</p>
<p>b)</p>
<p>c)</p>
<br>
<p>Submitted by,</p>
<p>Councillor Beamer Chair February 20, 2018</p>
<br>
<br>
<br></div>