<!doctype html><div><br>
<br>
<br>
<br>
<p>Councillor Compensation Committee</p>
<br>
<p>City of Peterborough</p>
<br>
<p>September 8, 2016</p>
<br>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of the Councillor Compensation Committee held</p>
<p>on September 8, 2016 in the City Board Room</p>
<br>
<p>The meeting Councillor Compensation Committee was called to order at 5:00 p.m. in the Board Room, City Hall.</p>
<p>Present: Claude Dufresne Wayne Godward Daniel Kivari Dave McFadden Dan Moloney Garth Wedlock, Chair Jeff Westlake</p>
<p>Staff: Natalie Garnett, Deputy City Clerk John Kennedy, City Clerk Sandra Clancy, Director of Corporate Services</p>
<p>Minutes – September 1, 2016</p>
<p>Moved by Claude Dufresne</p>
<p>That the minutes of the September 1, 2016 meeting be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of interest.</p>
<p>Councillor Compensation Committee</p>
<p>Meeting of September 8, 2016</p>
<p>Page 2</p>
<br>
<p>City Clerk Verbal Report Questions from September 1, 2016 Meeting</p>
<p>Sandra Clancy, Director of Corporate Services, provided some information on the Council Compensation Committee Terms of Reference.</p>
<p>John Kennedy, Clerk, provided information on the Discretionary Expense Budgets for Council members and distributed report CPFS12-049 of Juen 25, 2012.</p>
<p>Council Compensation Committee Work Plan</p>
<p>The Committee updated the 2012 work plan, Council Questionnaire and survey.  Staff were requested to send the questions to members of Council and the survey to the selected municipalities.</p>
<p>Other Business</p>
<p>No other business.</p>
<p>Next Meeting</p>
<p>The date of the next meeting will be October 6, 2016.</p>
<p>Adjournment</p>
<p>Moved by Dave McFadden</p>
<p>That this meeting of the Councillor Compensation Committee adjourn at 6:16 p.m.</p>
<p>"CARRIED"</p>
<br>
<br>
<p>Councillor Compensation Committee</p>
<p>Meeting of September 8, 2016</p>
<p>Page 3</p>
<p>John Kennedy Clerk</p>
<p>Garth Wedlock Chair</p>
<br></div>