<!doctype html><div><br>
<br>
<br>
<br>
<p>Councillor Compensation Committee</p>
<br>
<p>City of Peterborough</p>
<br>
<p>October 27, 2016</p>
<br>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of the Councillor Compensation Committee held</p>
<p>on October 27, 2016 in the City Board Room, City Hall</p>
<br>
<p>The Councillor Compensation Committee meeting was called to order at 5:00 p.m. in the Board Room, City Hall.</p>
<p>Present: Claude Dufresne Wayne Godward Daniel Kivari Dan Moloney Garth Wedlock, Chair Jeff Westlake</p>
<p>Regrets: Dave McFadden</p>
<p>Staff: Natalie Garnett, Deputy City Clerk John Kennedy, City Clerk</p>
<p>Prior to the start of regular business, the Committee met with Councillors Haacke and Pappas separately. The interviews were concluded at 5:32 p.m.</p>
<p>Minutes – October 6, 2016</p>
<p>Moved by Claude Dufresne</p>
<p>That the minutes of the October 6, 2016 meeting be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of interest.</p>
<p>Councillor Compensation Committee</p>
<p>Meeting of October 27, 2016</p>
<p>Page 2</p>
<p>Consent Agenda</p>
<p>Moved by Jeff Westlake</p>
<p>That items 4 and 5 be approved as part of the consent agenda.</p>
<p>“CARRIED”</p>
<p>Director of Corporate Services Report COUCOM16-004 Benefits and Mileage Rates</p>
<p>Moved by Jeff Westlake</p>
<p>That the Committee approve the recommendation outlined in Report COUCOM16- 004 dated October 27, 2016, of the Director of Corporate Services, as follows:</p>
<p>That report COUCOM16-004 be received for information.</p>
<p>“CARRIED”</p>
<p>Deputy City Clerk Report Council Compensation – Past 10 Years</p>
<p>Moved by Jeff Westlake</p>
<p>That the chart “History of Council and Mayor Remuneration”, be received for information.</p>
<p>“CARRIED”</p>
<br>
<p>Councillor Compensation Committee</p>
<p>Meeting of October 27, 2016</p>
<p>Page 3</p>
<p>City Clerk Report COUCOM16-005 Municipal Surveys 2016</p>
<p>Moved by Wayne Godward</p>
<p>That the Committee approve the recommendation outlined in Report COUCOM16- 005 dated October 27, 2016, of the City Clerk, as follows:</p>
<p>That Report COUCOM16-005 be received for information.</p>
<p>“CARRIED”</p>
<p>City Clerk Verbal Report Possibility of Pay Grid</p>
<p>The City Clerk advised that he had checked with legal and they were unable to find any examples of a pay grid system associated with Council members.</p>
<p>Other Business</p>
<p>The Chair reviewed the items the Committee had considered as part of the Compensation Review Process.  The following list was developed:</p>
<br>
<p>•  Compensation •  Benefits •  Mileage •  Grid system •  Pay for Committee Work •  Part Time/Full Time •  Automatic Review Process •  Expense Accounts •  Mechanism for Automatic Increases •  Consideration of Other Council Activities (i.e. ribbon cuttings, events)</p>
<br>
<p>Councillor Compensation Committee</p>
<p>Meeting of October 27, 2016</p>
<p>Page 4</p>
<p>The Committee discussed each item and came to consensus as follows:</p>
<p>Compensation – no change recommended</p>
<p>Benefits – not recommended</p>
<p>Mileage – no change recommended</p>
<p>Grid System – not recommended</p>
<p>Pay for Committee Work – not recommended</p>
<p>Part time or Full time – no change recommended</p>
<p>Automatic Review Process – it is recommended that a review be undertaken once per term (in the second year of the term), and that any changes come into effect in the following term.</p>
<p>Expense Accounts – no change recommended</p>
<p>Mechanism for Annual Increase – no change recommended</p>
<p>The Chair and the Director of Corporate Services will prepare a draft report for Committee consideration and one final meeting will be held.</p>
<p>Next Meeting</p>
<p>The date of the next meeting is to be determined.</p>
<p>Adjournment</p>
<p>Moved by Daniel Kivari</p>
<p>That this meeting of the Councillor Compensation Committee adjourn at 6:52 p.m.</p>
<p>"CARRIED"</p>
<br>
<p>Councillor Compensation Committee</p>
<p>Meeting of October 27, 2016</p>
<p>Page 5</p>
<br>
<br>
<p>John Kennedy Clerk</p>
<p>Garth Wedlock Chair</p>
<br></div>