<!doctype html><div><p>Minutes of Joint Services</p>
<p>Steering Committee</p>
<p>September 10, 2015</p>
<p>Council Chambers</p>
<p>City Hall</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>The meeting was called to order at 3:45 p.m. by Warden Jones, Chair in the Council Chambers, City Hall.</p>
<p>Present: Warden J. Murray Jones, County of Peterborough, Chair Councillor Gerow, County of Peterborough Councillor McFadden, County of Peterborough Mayor Daryl Bennett, City of Peterborough Councillor Baldwin, City of Peterborough Councillor Beamer, City of Peterborough Councillor Clarke, City of Peterborough</p>
<p>Regrets: Councillor Smith, County of Peterborough</p>
<p>Staff: Gary King, Chief Administrative Officer, County of Peterborough Randy Mellow, Chief of Paramedics, County of Peterborough Sheridan Graham, Director, Corporate Projects and Services, County of Peterborough Chris Barry, Deputy Chief Operations, Paramedics, County of Peterborough Yvette Peplinski, Deputy Treasurer, County of Peterborough Allan Seabrooke, Chief Administrative Officer, City of Peterborough Malcolm Hunt, Director of Planning and Development Services, City of Peterborough Sandra Clancy, Director of Corporate Services, City of Peterborough Ken Doherty, Director of Community Services, City of Peterborough Patricia Lester, City Solicitor and Director of Legal Services, City of Peterborough Linda Mitchelson, Manager of Social Services Division, City of Peterborough Susan Bacque, Manager of Housing, City of Peterborough Michelle Longhurst, Housing Programs Assistant, City of Peterborough Natalie Garnett, Deputy Clerk, City of Peterborough</p>
<p>Minutes of the Meeting of June 11, 2015</p>
<p>Moved by Councillor Clarke, seconded by Councillor Gerow</p>
<p>That the minutes of the meeting of June 11, 2015 be approved.</p>
<p>"CARRIED"</p>
<br>
<p>Joint Services Steering Committee</p>
<p>Meeting of Thursday, September 10, 2015</p>
<p>Page 2</p>
<br>
<p>Disclosure of Pecuniary Interest</p>
<p>Mayor Bennett declared an interest in item 6, as his company does business with the Peterborough County/City Paramedics Service.</p>
<p>Change of Meeting Date</p>
<p>Moved by Councillor Beamer, seconded by Councillor Baldwin</p>
<p>That the next Joint Services Steering Committee meeting be rescheduled from October 8 to Thursday, October 29, 2015.</p>
<p>“CARRIED”</p>
<p>Minutes for Information</p>
<p>Moved by Councillor Gerow, seconded by Councillor McFadden</p>
<p>That the AHAC (Affordable Housing Action Committee) minutes of May 14, 2015 be received for information.</p>
<p>"CARRIED"</p>
<p>Director of Planning and Development Services, City of Peterborough Report PLHDJSSC15-004 Housing is Fundamental 2015 – Information Report</p>
<p>Susan Bacque, Manager of Housing, introduced Paul Armstrong, Affordable Housing Action Committee, who provided an overview of “Housing is Fundamental 2015.”</p>
<p>Moved by Councillor Clarke, seconded by Councillor McFadden</p>
<p>That Joint Services Steering Committee endorse the recommendation outlined in Report PLHDJSSC15-004, dated September 10, 2015, of the Director of Planning and Development Services, as follows:</p>
<p>That the presentation and report Housing is Fundamental 2015 of the Affordable Housing Action Committee (AHAC) be received for information.</p>
<p>“CARRIED”</p>
<br>
<p>Joint Services Steering Committee</p>
<p>Meeting of Thursday, September 10, 2015</p>
<p>Page 3</p>
<br>
<p>Chief of Paramedics, County of Peterborough Land Ambulance Service Review 2015</p>
<p>Randy Mellow, Chief of Paramedics provided an overview of the Land Ambulance Service Review 2015.</p>
<p>Moved by Mayor Bennett, seconded by Councillor Baldwin</p>
<p>That Joint Services Steering Committee receive the report for information only.</p>
<p>“CARRIED”</p>
<p>Mayor Bennett left the meeting at 4:09 p.m. due to his previously declared conflict.</p>
<p>Director of Finance/Treasurer, County of Peterborough Peterborough County/City Paramedics Service (PCCP) Preliminary Draft 2016 Budget</p>
<p>Randy Mellow, Chief of Paramedics provided an overview of the Peterborough County/City Paramedics Service Preliminary Draft 2016 Budget.</p>
<p>Moved by Councillor Gerow, seconded by Councillor McFadden</p>
<p>That the Joint Services Steering Committee receives the preliminary draft 2016 PCCP budget proposal and approves it to be forwarded to the City of Peterborough to act as a preliminary estimate to assist the City in their 2016 budget development.</p>
<p>“CARRIED”</p>
<p>Other Business</p>
<p>There were no items of Other Business</p>
<p>Next Meeting</p>
<p>The Chair indicated that the next meeting will be on Thursday, October 29, 2015.</p>
<p>Joint Services Steering Committee</p>
<p>Meeting of Thursday, September 10, 2015</p>
<p>Page 4</p>
<br>
<p>Adjournment</p>
<p>Moved by Councillor Beamer, seconded by Councillor Baldwin</p>
<p>That the Joint Services Steering Committee adjourn at 4:46 p.m.</p>
<p>"CARRIED"</p>
<p>Natalie Garnett Deputy City Clerk</p>
<p>Warden Jones Chair</p>
<br></div>