<!doctype html><div><br>
<br>
<p>Affordable Housing Action Committee (Peterborough)</p>
<br>
<p>Minutes of the Meeting</p>
<p>Thursday October 8, 2015</p>
<p>12:00 p.m. to 2:00 p.m.</p>
<p>Coronation Room, 534 George Street N Peterborough Ontario K9H 3S2</p>
<br>
<p>Present:</p>
<br>
<p>Katherine Blackwood (Chair), City Councillor Diane Therrien, Alan Cavell,</p>
<p>Barb Fowler, Bonnie Clark, Christine McKay, Kelly Scott, Paul Armstrong,</p>
<p>Sandy Woodhouse, Sarah Burke</p>
<br>
<p>Staff:</p>
<br>
<p>Susan Bacque, Dorothy Olver, Michelle Longhurst, Rebecca Morgan Quin</p>
<br>
<p>Regrets:</p>
<br>
<p>County Councillor Rick Woodcock, John Martyn, Paul Gillam</p>
<br>
<p>Guests:</p>
<br>
<p>Elisha Rubacha (Seeds of Change), Nadia Frantellizzi (CMHC), Nancy</p>
<p>Fischer (City of Peterborough)</p>
<br>
<p>Key Messages for City and County Councillors on AHAC</p>
<br>
<p>  Peterborough’s National Housing Day will held on Thursday November 26,</p>
<br>
<p>2015 at the Seeds of Change office (located at George Street United Church)</p>
<p>from 9:00 a.m. to 4:00 p.m.</p>
<br>
<p>  AHAC strongly supports David Goyette’s opinion article in the Peterborough</p>
<br>
<p>Examiner titled Housing is fundamental (September 24, 2015), outlining the</p>
<p>housing affordability issues in this area and acknowledging the ongoing work</p>
<p>of AHAC, and urging City Councillors take up the call to address housing and</p>
<p>homeless issues, as the provinces of Ontario and Quebec did in September</p>
<p>2015.</p>
<br>
<p>  AHAC’s Road Map for Housing Developers document is available at township</p>
<br>
<p>offices, City Hall, and online at www.peterborough.ca/housing.</p>
<br>
<p>  The Service Prioritization Decision Assistance Tool (SPDAT) will be used by</p>
<br>
<p>staff at Ontario Works, local shelters and other social service agencies to help</p>
<p>prioritize who to assist next and why, while concentrating in the areas in the</p>
<p>person/family’s life where support is most likely necessary in order to avoid</p>
<p>housing instability.</p>
<br>
<p>1.   Welcome and Introductions</p>
<br>
<p>2.  Approval of the Agenda</p>
<br>
<p>Motion: That the Affordable Housing Action Committee (AHAC) approve the</p>
<p>October 8, 2015 agenda.</p>
<p>M. Bonnie Clark</p>
<p>Carried</p>
<br>
<p>S. Kelly Scott</p>
<br>
<p>3.  Approval of Previous Minutes</p>
<br>
<p>Motion: That the Affordable Housing Action Committee (AHAC) approve the</p>
<p>September 10, 2015 minutes.</p>
<p>M. Paul Armstrong</p>
<p>Carried</p>
<br>
<p>S. Barbara Fowler</p>
<br>
<p>4.  Business Arising from Previous Meeting - none</p>
<br>
<p>Page 1 of 3  AHAC Minutes – October 2015</p>
<br>
<br>
<br>
<p>Affordable Housing Action Committee (Peterborough)</p>
<br>
<p>Minutes of the Meeting</p>
<p>Thursday October 8, 2015</p>
<p>12:00 p.m. to 2:00 p.m.</p>
<br>
<p>5.  Community Updates</p>
<br>
<p>  Housing Resource Centre staff are assisting low-income households in the City and</p>
<br>
<p>County to apply for the OESP financial benefit</p>
<br>
<p>  October 15, 2015 is an event re: International Day for the Eradication of Poverty at</p>
<br>
<p>The Mount Community Centre (1545 Monaghan Road Peterborough) from 12:30</p>
<p>p.m. to 3:00 p.m.</p>
<br>
<p>6.  Association Updates</p>
<br>
<p>6.1. Ontario Non-Profit Housing Association (ONPHA) – verbal update</p>
<p>6.2. Canadian Housing & Renewal Association (CHRA) – verbal update</p>
<p>7.  AHAC Action Plan 2015 Update</p>
<p>8.  Reports from Sub-Committees, Adhoc Committees and Working Groups</p>
<p>8.1 Community Education – verbal update</p>
<p>8.2 Services – See 9.1 below</p>
<p>8.3 Supply – September 2015 notes are available upon request</p>
<p>8.4  “Road Map for Housing Developers” Communication Plan Working Group – verbal</p>
<p>update Motion: That AHAC approves the expense of up to $100 for distribution of the print copies of the Road Map for Housing Developers to the 8 township offices throughout Peterborough County. M. Alan Cavell</p>
<p>S. Sandy Woodhouse</p>
<p>8.5 Adhoc committee to celebrate National Housing Day 2015 (November 26, 2015)</p>
<p>Motion: That AHAC approves the expense of up to $1500 in support of Peterborough’s National Housing Day collaborative event at Seeds of Change (located at George Street United Church) on Thursday November 26, 2015 between 9:00 a.m. and 3:30 p.m., pending receipt of the event budget. M. Sandy Woodhouse</p>
<p>S. Christine McKay</p>
<p>8.6 Collective Impact Working Group Update – none at this time</p>
<p>9.  Reports from Other Standing Committees</p>
<p>9.1  Homelessness Support Services Coordinating Committee – September notes</p>
<p>available upon request</p>
<p>9.2  Peterborough Poverty Reduction Network (PPRN) – verbal update</p>
<p>10. New Business</p>
<p>10.1 HSSCC Homelessness Services Survey presentation – Nancy Fischer (City of Peterborough Program Analyst) presented a summary of the homeless services survey</p>
<p>Page 2 of 3  AHAC Minutes – October 2015</p>
<p>10.2 Service Prioritization Decision Assistance Tool (SPDAT) – Dorothy Olver (City of</p>
<p>Peterborough Program Manager) presented a summary of the SPDAT and VI SPDAT for use in this community</p>
<p>Affordable Housing Action Committee (Peterborough)</p>
<br>
<br>
<p>Minutes of the Meeting Thursday October 8, 2015 12:00 p.m. to 2:00 p.m.</p>
<p>11. Key Messages for City and County Councillors on AHAC</p>
<p>  See page 1 (before Item 1)</p>
<p>12. Items for Upcoming Meetings – none at this time</p>
<p>13. Motion to adjourn the meeting.</p>
<p>M. Kelly Scott Meeting Adjourned by Consensus</p>
<p>14. Next Meeting - Thursday November 12, 2015 at 12:00p.m. in the Coronation Room at</p>
<p>George Street United Church, Peterborough</p>
<p>Page 3 of 3  AHAC Minutes – October 2015</p>
<br></div>