<!doctype html><div><p>MINUTES OF JOINT SERVICES</p>
<p>STEERING COMMITTEE</p>
<p>MARCH 12, 2009</p>
<p>GENERAL COMMITTEE ROOM</p>
<p>CITY HALL</p>
<p>DRAFT MINUTES NOT APPROVED</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Councillor  Martin  called  the  meeting  to  order  at  3:47  p.m.  in  the  General</p>
<p>Committee Room, City Hall.</p>
<br>
<p>Present:</p>
<p>Warden Ron Gerow, County of Peterborough</p>
<p>Councillor J. Murray Jones, County of Peterborough</p>
<p>Councillor Thomas Flynn, County of Peterborough</p>
<p>Mayor Paul Ayotte, City of Peterborough</p>
<p>Councillor Eric Martin, City of Peterborough, Chair</p>
<br>
<p>Staff:</p>
<p>Gary King, Chief Administrative Officer, County of Peterborough</p>
<p>Chris Bradley, Director of Public Works</p>
<p>Randy Mellow, Operations Manager, Emergency Medical Services</p>
<p>Ken Doherty, Director of Community Services</p>
<p>Brian  Horton,  Senior  Director  of  Corporate  Services  and  Deputy  CAO,  City  of</p>
<p>Peterborough</p>
<p>Malcolm Hunt, Director of Planning and Development Services, City of Peterborough</p>
<p>Linda Mitchelson, Manager, Social Services, City of Peterborough</p>
<p>Susan Bacque, Housing Division, City of Peterborough</p>
<p>Nancy Wright-Laking, City Clerk, City of Peterborough</p>
<p>John Kennedy, Deputy Clerk, City of Peterborough</p>
<br>
<p>Regrets:</p>
<p>Councillor Henry Clarke, City of Peterborough</p>
<p>Councillor Doug Peacock, City of Peterborough</p>
<p>Linda Reed, Chief Administrative Officer, City of Peterborough</p>
<p>Bob English, Director of Emergency Services, County of Peterborough</p>
<p>Andy Mitchell, President and CEO, GPAEDC</p>
<br>
<p>Appointment of Chair for 2009</p>
<br>
<p>Moved by Mayor Ayotte, seconded by Councillor Flynn</p>
<br>
<p>That Councillor J. Murray Jones be appointed as Chair of Joint Services for</p>
<p>2009</p>
<br>
<p>"CARRIED"</p>
<br>
<br>
<br>
<p>MINUTES OF JOINT SERVICES STEERING COMMITTEE MARCH 12, 2009 GENERAL COMMITTEE ROOM CITY HALL DRAFT MINUTES NOT APPROVED</p>
<br>
<br>
<br>
<p>Councillor  Martin  called  the  meeting  to  order  at  3:47  p.m.  in  the  General Committee Room, City Hall.</p>
<p>Present: Warden Ron Gerow, County of Peterborough Councillor J. Murray Jones, County of Peterborough Councillor Thomas Flynn, County of Peterborough Mayor Paul Ayotte, City of Peterborough Councillor Eric Martin, City of Peterborough, Chair</p>
<p>Staff: Gary King, Chief Administrative Officer, County of Peterborough Chris Bradley, Director of Public Works Randy Mellow, Operations Manager, Emergency Medical Services Ken Doherty, Director of Community Services Brian  Horton,  Senior  Director  of  Corporate  Services  and  Deputy  CAO,  City  of Peterborough Malcolm Hunt, Director of Planning and Development Services, City of Peterborough Linda Mitchelson, Manager, Social Services, City of Peterborough Susan Bacque, Housing Division, City of Peterborough Nancy Wright-Laking, City Clerk, City of Peterborough John Kennedy, Deputy Clerk, City of Peterborough</p>
<p>Regrets: Councillor Henry Clarke, City of Peterborough Councillor Doug Peacock, City of Peterborough Linda Reed, Chief Administrative Officer, City of Peterborough Bob English, Director of Emergency Services, County of Peterborough Andy Mitchell, President and CEO, GPAEDC</p>
<p>Appointment of Chair for 2009</p>
<p>Moved by Mayor Ayotte, seconded by Councillor Flynn</p>
<p>That Councillor J. Murray Jones be appointed as Chair of Joint Services for 2009</p>
<p>"CARRIED"</p>
<br></div>