<!doctype html><div><br>
<p>Date:</p>
<br>
<p>Present</p>
<br>
<br>
<p>Regrets:</p>
<br>
<p>Staff</p>
<br>
<p>Carried</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Peterborough Public Library Board Minutes</p>
<br>
<p>City of Peterborough</p>
<br>
<p>February 13, 2018</p>
<br>
<p>Leslie Woolcott</p>
<p>Paul Stern, Chair</p>
<p>Barb Connor</p>
<p>Jayne White</p>
<p>Garth Wedlock</p>
<p>Dan Moloney</p>
<p>Councillor Baldwin</p>
<p>Councillor Riel</p>
<br>
<p>Mauro DiCarlo</p>
<br>
<p>Natalie Garnett, Deputy City Clerk</p>
<p>Jennifer Jones, Library CEO</p>
<br>
<p>_____________________________________________________________________</p>
<br>
<p>Call to Order</p>
<br>
<p>The Chair called the Library Board meeting to order at 6:05 p.m.</p>
<br>
<br>
<p>Confirmation of Minutes</p>
<br>
<p>Moved by Leslie Woolcott</p>
<br>
<p>That the minutes of the Library Board meeting on January 9,2018 be approved as</p>
<p>amended.</p>
<br>
<p>Reports and Communications</p>
<br>
<p>Updates from the Foundation and Friends of the Library</p>
<p>Report PPL18-008</p>
<br>
<p>Moved by Leslie Woolcott</p>
<br>
<p>That the Library Board approve the recommendations outlined in Report PPL18-</p>
<p>008, dated February 13, 2018, of the Library CEO, as follows:</p>
<br>
<p>a)</p>
<br>
<p>That a verbal report to inform the Library Board on the status of the</p>
<p>Foundation by Jayne White be received for information; and</p>
<br>
<p>1</p>
<br>
<p>b)   That a verbal report to inform the Library Board on the status of the Friends</p>
<br>
<p>of the Peterborough Public Library by Barb Connor be received for</p>
<p>information.</p>
<br>
<p>Carried</p>
<br>
<br>
<p>MOU Update</p>
<p>Report PPL18-009</p>
<br>
<p>Moved by Barb Connor</p>
<br>
<p>That the Library Board approve the recommendation outlined in Report PPL18-</p>
<p>009 dated February 13, 2018, of the Library CEO, as follows:</p>
<br>
<p>That the report of the Library CEO be received for information.</p>
<br>
<p>Library CEO Report - February 2018</p>
<p>Report PPL18-010</p>
<br>
<p>Moved by Garth Wedlock</p>
<br>
<p>That the Library Board approve the recommendation in Report PPL18-010 dated</p>
<p>February 13, 2018, of the Library CEO as follows:</p>
<br>
<p>That the report be received for information.</p>
<br>
<p>Library Strategic Plan - Status Update</p>
<p>Report PPL18-011</p>
<p>Moved by Councillor Riel</p>
<p>That the Library Board approve Report PPL18-011, dated February 13, 2018, of the Library CEO, as follows:</p>
<p>That Report PPL18-011 be received for information.</p>
<br>
<br>
<br>
<p>Carried</p>
<p>Carried</p>
<p>Carried</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Security Services for the Library Report PPL18-012</p>
<p>Moved by Garth Wedlock</p>
<p>That the Library Board approve Report PPL18-012, dated February 13, 2018 of the Library CEO, as follows:</p>
<p>a)   That Security Services be contracted for the Library for the Aylmer Street</p>
<p>location as a pilot project at an estimated cost of $27,000; and,</p>
<p>b)   That the Board evaluate the pilot project at the September Board meeting.</p>
<p>The Library CEO advised the Library Board that various groups/individuals have expressed an interest in renting space in the foyer for displaying materials and information.  The Library Board discussed the issue of renting table space in the library entrance.</p>
<p>That the Board receive the verbal report of the CEO on foyer table rentals.</p>
<p>Carried</p>
<br>
<p>Other Business</p>
<p>Foyer Table Rentals</p>
<p>Moved by Councillor Riel</p>
<p>Carried</p>
<p>Adjournment</p>
<p>Carried</p>
<p>Moved by Councillor Baldwin</p>
<p>That the meeting be adjourned at 7:25 p.m.</p>
<p>_________________________</p>
<p>Natalie Garnett, Deputy City Clerk</p>
<br>
<p>_________________________</p>
<p>Paul Stern, Chair</p>
<br></div>