<!doctype html><div><p>Minutes Of Joint Services</p>
<p>Steering Committee</p>
<p>September 20, 2012</p>
<p>General Committee Room</p>
<p>City Hall</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>`</p>
<br>
<br>
<p>The  meeting  was  called  to  order at  3:45 p.m.  in  the General  Committee  Room,</p>
<p>City Hall.</p>
<br>
<p>Present:</p>
<p>Warden J. Murray Jones, County of Peterborough</p>
<p>Councillor Ron Gerow, County of Peterborough</p>
<p>Councillor Andy Mitchell, County of Peterborough</p>
<p>Councillor Jim Whelan, County of Peterborough</p>
<p>Mayor Daryl Bennett, City of Peterborough</p>
<p>Councillor Andrew Beamer, City of Peterborough, chair</p>
<p>Councillor Henry Clarke, City of Peterborough 4:10 p.m.</p>
<br>
<p>Regrets:</p>
<p>Councillor Len Vass, City of Peterborough</p>
<br>
<br>
<p>Staff:</p>
<p>Gary King, Chief Administrative Officer, County of Peterborough</p>
<p>John Butler, Director of Finance/Treasurer, County of Peterborough</p>
<p>Chris Barry, Deputy Chief of Emergency Medical Services, County of</p>
<p>Peterborough</p>
<p>Brian Horton, Chief Administrative Officer, City of Peterborough</p>
<p>Ken Doherty, Director of Community Services, City of Peterborough</p>
<p>Sandra Clancy, Director of Corporate Services, City of Peterborough</p>
<p>Malcolm Hunt, Director of Planning and Development Services, City of</p>
<p>Peterborough</p>
<p>Patricia Lester, City Solicitor, Director of Legal Services, City of Peterborough</p>
<p>Susan Bacque, Manager of Housing, City of Peterborough</p>
<p>Michelle Longhurst, Housing Program Assistant, City of Peterborough</p>
<p>John Kennedy, City Clerk, City of Peterborough</p>
<br>
<br>
<br>
<p>Minutes Of Joint Services Steering Committee September 20, 2012 General Committee Room City Hall Draft Minutes Not Approved</p>
<br>
<br>
<br>
<p>`</p>
<p>The  meeting  was  called  to  order at  3:45 p.m.  in  the General  Committee  Room, City Hall.</p>
<p>Present: Warden J. Murray Jones, County of Peterborough Councillor Ron Gerow, County of Peterborough Councillor Andy Mitchell, County of Peterborough Councillor Jim Whelan, County of Peterborough Mayor Daryl Bennett, City of Peterborough Councillor Andrew Beamer, City of Peterborough, chair Councillor Henry Clarke, City of Peterborough 4:10 p.m.</p>
<p>Regrets: Councillor Len Vass, City of Peterborough</p>
<p>Staff: Gary King, Chief Administrative Officer, County of Peterborough John Butler, Director of Finance/Treasurer, County of Peterborough Chris Barry, Deputy Chief of Emergency Medical Services, County of Peterborough Brian Horton, Chief Administrative Officer, City of Peterborough Ken Doherty, Director of Community Services, City of Peterborough Sandra Clancy, Director of Corporate Services, City of Peterborough Malcolm Hunt, Director of Planning and Development Services, City of Peterborough Patricia Lester, City Solicitor, Director of Legal Services, City of Peterborough Susan Bacque, Manager of Housing, City of Peterborough Michelle Longhurst, Housing Program Assistant, City of Peterborough John Kennedy, City Clerk, City of Peterborough</p>
<br></div>