<!doctype html><div><p>Minutes Of Joint Services</p>
<p>Steering Committee</p>
<p>January 10, 2013</p>
<p>Sutherland Room</p>
<p>City Hall</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>The  meeting  was  called  to  order  at  3:45  p.m.  by  Councillor  Gerow  in  the</p>
<p>Sutherland Room, City Hall.</p>
<br>
<p>Present:</p>
<p>Councillor Ron Gerow, County of Peterborough</p>
<p>Councillor Andy Mitchell, County of Peterborough</p>
<p>Councillor Jim Whelan, County of Peterborough</p>
<p>Mayor Daryl Bennett, City of Peterborough</p>
<p>Councillor Len Vass, City of Peterborough</p>
<br>
<p>Regrets:</p>
<p>Warden J. Murray Jones, County of Peterborough</p>
<p>Councillor Andrew Beamer, City of Peterborough</p>
<p>Councillor Henry Clarke, City of Peterborough</p>
<br>
<p>Staff:</p>
<p>John Butler, Director of Finance/Treasurer, County of Peterborough</p>
<p>Brian Horton, Chief Administrative Officer, City of Peterborough</p>
<p>Malcolm Hunt, Director of Planning and Development Services, City of</p>
<p>Peterborough</p>
<p>Ken Doherty, Director of Community Services, City of Peterborough</p>
<p>Patricia Lester, City Solicitor and Director of Legal Services, City of Peterborough</p>
<p>Dorothy Olver, Manager, Homelessness/Addictions, Social Services Division,</p>
<p>City of Peterborough (4:05 p.m.)</p>
<p>Susan Bacque, Manager of Housing, City of Peterborough (4:05 p.m.)</p>
<p>Linda Mitchelson, Manager, Social Services Division, City of Peterborough</p>
<p>Natalie Garnett, Deputy City Clerk, City of Peterborough</p>
<p>Mike Gannon, Employment Services Program Manager, City of Peterborough</p>
<p>(4:05 p.m.)</p>
<br>
<br>
<p>Disclosure of Interest</p>
<br>
<p>There were no Disclosures of Interest.</p>
<br>
<br>
<p>Appointment of Chair and Vice-Chair</p>
<br>
<p>Mayor  Bennett  nominated  Councillor  Gerow  as  Chair,  and  Councillor  Gerow</p>
<p>respectfully declined.</p>
<br>
<br>
<br>
<p>Minutes Of Joint Services Steering Committee January 10, 2013 Sutherland Room City Hall Draft Minutes Not Approved</p>
<br>
<br>
<br>
<p>The  meeting  was  called  to  order  at  3:45  p.m.  by  Councillor  Gerow  in  the Sutherland Room, City Hall.</p>
<p>Present: Councillor Ron Gerow, County of Peterborough Councillor Andy Mitchell, County of Peterborough Councillor Jim Whelan, County of Peterborough Mayor Daryl Bennett, City of Peterborough Councillor Len Vass, City of Peterborough</p>
<p>Regrets: Warden J. Murray Jones, County of Peterborough Councillor Andrew Beamer, City of Peterborough Councillor Henry Clarke, City of Peterborough</p>
<p>Staff: John Butler, Director of Finance/Treasurer, County of Peterborough Brian Horton, Chief Administrative Officer, City of Peterborough Malcolm Hunt, Director of Planning and Development Services, City of Peterborough Ken Doherty, Director of Community Services, City of Peterborough Patricia Lester, City Solicitor and Director of Legal Services, City of Peterborough Dorothy Olver, Manager, Homelessness/Addictions, Social Services Division, City of Peterborough (4:05 p.m.) Susan Bacque, Manager of Housing, City of Peterborough (4:05 p.m.) Linda Mitchelson, Manager, Social Services Division, City of Peterborough Natalie Garnett, Deputy City Clerk, City of Peterborough Mike Gannon, Employment Services Program Manager, City of Peterborough (4:05 p.m.)</p>
<p>Disclosure of Interest</p>
<p>There were no Disclosures of Interest.</p>
<p>Appointment of Chair and Vice-Chair</p>
<p>Mayor  Bennett  nominated  Councillor  Gerow  as  Chair,  and  Councillor  Gerow respectfully declined.</p>
<br></div>