<!doctype html><div><p>Minutes Of Joint Services</p>
<p>Steering Committee</p>
<p>March 28, 2013</p>
<p>Sutherland Room</p>
<p>City Hall</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>The  meeting  was  called  to  order  at  3:45  p.m.  by  Councillor  Mitchell  in  the</p>
<p>Sutherland Room, City Hall.</p>
<br>
<p>Present:</p>
<p>Warden J. Murray Jones, County of Peterborough</p>
<p>Councillor Ron Gerow, County of Peterborough</p>
<p>Councillor Andy Mitchell, County of Peterborough, Chair</p>
<p>Councillor Jim Whelan, County of Peterborough</p>
<p>Mayor Daryl Bennett, City of Peterborough</p>
<p>Councillor Andrew Beamer, City of Peterborough</p>
<p>Councillor Henry Clarke, City of Peterborough</p>
<p>Councillor Len Vass, City of Peterborough (3:51 p.m.)</p>
<br>
<br>
<p>Staff:</p>
<p>John Butler, Director of Finance/Treasurer, County of Peterborough</p>
<p>Brian Horton, Chief Administrative Officer, City of Peterborough</p>
<p>Sandra Clancy, Director of Corporate Services, City of Peterborough</p>
<p>Malcolm Hunt, Director of Planning and Development Services, City of</p>
<p>Peterborough</p>
<p>Ken Doherty, Director of Community Services, City of Peterborough</p>
<p>Linda Mitchelson, Manager, Social Services Division, City of Peterborough</p>
<p>Susan Bacque, Manager, Social Housing, City of Peterborough</p>
<p>John Coreno, Financial Assistance Program Manager, Social Services Division,</p>
<p>City of Peterborough</p>
<p>Dorothy Olver, Program Manager, Homelessness and Addiction Services, Social</p>
<p>Services Division, City of Peterborough</p>
<p>Kendra Sedgwick, Committee Coordinator, City of Peterborough</p>
<br>
<br>
<p>Minutes of the Meeting of January 10, 2013</p>
<br>
<p>Moved by Councillor Gerow, seconded by Mayor Bennett</p>
<br>
<p>That the minutes of the meeting of January 10, 2013 be approved.</p>
<br>
<p>"CARRIED"</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Minutes Of Joint Services Steering Committee March 28, 2013 Sutherland Room City Hall Draft Minutes Not Approved</p>
<br>
<br>
<br>
<p>The  meeting  was  called  to  order  at  3:45  p.m.  by  Councillor  Mitchell  in  the Sutherland Room, City Hall.</p>
<p>Present: Warden J. Murray Jones, County of Peterborough Councillor Ron Gerow, County of Peterborough Councillor Andy Mitchell, County of Peterborough, Chair Councillor Jim Whelan, County of Peterborough Mayor Daryl Bennett, City of Peterborough Councillor Andrew Beamer, City of Peterborough Councillor Henry Clarke, City of Peterborough Councillor Len Vass, City of Peterborough (3:51 p.m.)</p>
<p>Staff: John Butler, Director of Finance/Treasurer, County of Peterborough Brian Horton, Chief Administrative Officer, City of Peterborough Sandra Clancy, Director of Corporate Services, City of Peterborough Malcolm Hunt, Director of Planning and Development Services, City of Peterborough Ken Doherty, Director of Community Services, City of Peterborough Linda Mitchelson, Manager, Social Services Division, City of Peterborough Susan Bacque, Manager, Social Housing, City of Peterborough John Coreno, Financial Assistance Program Manager, Social Services Division, City of Peterborough Dorothy Olver, Program Manager, Homelessness and Addiction Services, Social Services Division, City of Peterborough Kendra Sedgwick, Committee Coordinator, City of Peterborough</p>
<p>Minutes of the Meeting of January 10, 2013</p>
<p>Moved by Councillor Gerow, seconded by Mayor Bennett</p>
<p>That the minutes of the meeting of January 10, 2013 be approved.</p>
<p>"CARRIED"</p>
<br>
<br>
<br>
<br></div>