<!doctype html><div><p>Minutes Of Joint Services</p>
<p>Steering Committee</p>
<p>September 12, 2013</p>
<p>General Committee Room</p>
<p>City Hall</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>The  meeting  was  called  to  order  at  3:50  p.m.  by  Councillor  Mitchell  in  the</p>
<p>General Committee Room, City Hall.</p>
<br>
<p>Present:</p>
<p>Mayor Daryl Bennett, City of Peterborough</p>
<p>Councillor Len Vass, City of Peterborough</p>
<p>Councillor Andy Mitchell, County of Peterborough, Chair</p>
<p>Councillor Henry Clarke, City of Peterborough</p>
<p>Councillor Andrew Beamer, City of Peterborough</p>
<br>
<p>Regrets:</p>
<p>Warden J. Murray Jones, County of Peterborough</p>
<p>Councillor Ron Gerow, County of Peterborough</p>
<p>Councillor Jim Whelan, County of Peterborough</p>
<br>
<p>Staff:</p>
<p>Gary King, Chief Administrative Officer, County of Peterborough</p>
<p>Brian Horton, Chief Administrative Officer, City of Peterborough</p>
<p>Sandra Clancy, Director of Corporate Services, City of Peterborough</p>
<p>John Butler, Director of Finance/Treasurer, County of Peterborough</p>
<p>Bob English, Chief of Emergency Medical Services, County of Peterborough</p>
<p>Malcolm  Hunt,  Director  of  Planning  and  Development  Services,  City  of</p>
<p>Peterborough</p>
<p>Ken Doherty, Director of Community Services, City of Peterborough</p>
<p>Patricia Lester, City Solicitor and Director of Legal Services, City of Peterborough</p>
<p>Janice Hoskins, Court Services Manager, City of Peterborough</p>
<p>Linda Mitchelson, Manager, Social Services Division, City of Peterborough</p>
<p>John Kennedy, City Clerk, City of Peterborough</p>
<br>
<p>Guests:</p>
<p>MP Dean Del Mastro</p>
<p>Alan Wilson, Board Secretary, Shining Waters Railway</p>
<br>
<p>Minutes of the Meeting of June 13, 2013</p>
<br>
<p>Moved by Mayor Bennett, seconded by Councillor Clarke</p>
<br>
<p>That the minutes of the meeting of June 13, 2013 be approved.</p>
<br>
<p>"CARRIED"</p>
<br>
<br>
<br>
<br>
<br>
<p>Minutes Of Joint Services Steering Committee September 12, 2013 General Committee Room City Hall Draft Minutes Not Approved</p>
<br>
<br>
<br>
<p>The  meeting  was  called  to  order  at  3:50  p.m.  by  Councillor  Mitchell  in  the General Committee Room, City Hall.</p>
<p>Present: Mayor Daryl Bennett, City of Peterborough Councillor Len Vass, City of Peterborough Councillor Andy Mitchell, County of Peterborough, Chair Councillor Henry Clarke, City of Peterborough Councillor Andrew Beamer, City of Peterborough</p>
<p>Regrets: Warden J. Murray Jones, County of Peterborough Councillor Ron Gerow, County of Peterborough Councillor Jim Whelan, County of Peterborough</p>
<p>Staff: Gary King, Chief Administrative Officer, County of Peterborough Brian Horton, Chief Administrative Officer, City of Peterborough Sandra Clancy, Director of Corporate Services, City of Peterborough John Butler, Director of Finance/Treasurer, County of Peterborough Bob English, Chief of Emergency Medical Services, County of Peterborough Malcolm  Hunt,  Director  of  Planning  and  Development  Services,  City  of Peterborough Ken Doherty, Director of Community Services, City of Peterborough Patricia Lester, City Solicitor and Director of Legal Services, City of Peterborough Janice Hoskins, Court Services Manager, City of Peterborough Linda Mitchelson, Manager, Social Services Division, City of Peterborough John Kennedy, City Clerk, City of Peterborough</p>
<p>Guests: MP Dean Del Mastro Alan Wilson, Board Secretary, Shining Waters Railway</p>
<p>Minutes of the Meeting of June 13, 2013</p>
<p>Moved by Mayor Bennett, seconded by Councillor Clarke</p>
<p>That the minutes of the meeting of June 13, 2013 be approved.</p>
<p>"CARRIED"</p>
<br>
<br></div>