<!doctype html><div><p>Minutes of Joint Services</p>
<p>Steering Committee</p>
<p>February 13, 2014</p>
<p>Council Chambers</p>
<p>City Hall</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>The  meeting  was  called  to  order  at  3:47  p.m.  by  the  City  Clerk  in  the  Council</p>
<p>Chambers, City Hall.</p>
<br>
<p>Present:</p>
<p>Warden J. Murray Jones, County of Peterborough</p>
<p>Councillor Ron Gerow, County of Peterborough</p>
<p>Councillor Andy Mitchell, County of Peterborough</p>
<p>Councillor Jim Whelan, County of Peterborough, Vice Chair</p>
<p>Mayor Daryl Bennett, City of Peterborough</p>
<p>Councillor Andrew Beamer, City of Peterborough, Chair</p>
<p>Councillor Henry Clarke, City of Peterborough</p>
<p>Councillor Len Vass, City of Peterborough</p>
<br>
<br>
<p>Staff:</p>
<p>Gary King, Chief Administrative Officer, County of Peterborough</p>
<p>John Butler, Director of Finance/Treasurer, County of Peterborough</p>
<p>Brian Horton, Chief Administrative Officer, City of Peterborough</p>
<p>Malcolm Hunt, Director of Planning and Development Services, City of</p>
<p>Peterborough</p>
<p>Ken Doherty, Director of Community Services, City of Peterborough</p>
<p>Sandra Clancy, Director of Corporate Services, City of Peterborough</p>
<p>Patricia Lester, City Solicitor and Director of Legal Services, City of Peterborough</p>
<p>Dorothy Olver, Program Manager, Homelessness/Addictions, Social Services</p>
<p>Division, City of Peterborough</p>
<p>Susan Bacque, Manager of Housing, City of Peterborough</p>
<p>Linda Mitchelson, Manager, Social Services Division, City of Peterborough</p>
<p>Janice Hoskins, Court Services Manager, POA, City of Peterborough</p>
<p>Rebecca Morgan Quin, Housing Program Officer, City of Peterborough</p>
<p>John Kennedy, City Clerk, City of Peterborough</p>
<br>
<br>
<p>Appointment of Chair and Vice-Chair</p>
<br>
<p>Moved by Councillor Clarke, seconded by Councillor Vass</p>
<br>
<p>That  Councillor  Beamer  be  appointed  as  Chair  of  the  Joint  Services</p>
<p>Steering Committee for 2014.</p>
<br>
<p>“CARRIED”</p>
<br>
<br>
<br>
<br>
<br>
<p>Joint Services Steering Committee</p>
<br>
<p>Meeting of Thursday, February 13, 2014</p>
<br>
<p>Page 2</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Councillor Beamer assumed the chair.</p>
<br>
<p>Moved by Councillor Gerow, seconded by Warden Jones</p>
<br>
<p>That  Councillor  Whelan  be  appointed  as  Vice  Chair  of  the  Joint  Services</p>
<p>Steering Committee for 2014.</p>
<br>
<p>“CARRIED”</p>
<br>
<br>
<p>Minutes of the Meeting of October 10, 2013</p>
<br>
<p>Moved by Councillor Clarke, seconded by Mayor Bennett</p>
<br>
<p>That the minutes of the meeting of October 10, 2013 be approved.</p>
<br>
<p>"CARRIED"</p>
<br>
<br>
<p>Disclosure of Pecuniary Interest</p>
<br>
<p>Councillor Mitchell declared an interest in agenda Item 5 (Report CSSSJSSC14-</p>
<p>001) as he is employed by Trent University.</p>
<br>
<br>
<p>Minutes for Information</p>
<br>
<p>Moved by Councillor Clarke, seconded by Councillor Whelan</p>
<br>
<p>That  the  AHAC  (Affordable  Housing  Action  Committee)  minutes  of</p>
<p>September  12,  October  10,  November  14  and  December  12,  2013  be received for information.</p>
<p>"CARRIED"</p>
<br>
<br>
<p>Joint Services Steering Committee</p>
<p>Meeting of Thursday, February 13, 2014</p>
<p>Page 3</p>
<br>
<p>Director of Community Services, City of Peterborough Report CSSSJSSC14-001 Peterborough Seniors Planning Table</p>
<p>Due to his previously declared interest Councillor Mitchell left the room at 3:53 p.m. and returned at 4:11 p.m.</p>
<p>Chris Kawalec, Community Social Plan Co-ordinator, City of Peterborough and Mark Skinner Associate Professor, Geography and Director of the Trent Centre for Aging and Society provided background on Report CSSSJSSC14-001.</p>
<p>Moved by Councillor Clarke, seconded by Mayor Bennett</p>
<p>That the Joint Services Steering Committee endorse the recommendations outlined in Report CSSSJSSC14-001 dated February 13, 2014, of the Director of Community Services, as follows:</p>
<p>a)</p>
<p>That Report CSSSJSSC14-001, an update on the Peterborough Seniors Planning Table be received for information;</p>
<p>That a presentation from Mark Skinner, PhD, Associate Professor, Geography and Director of the Trent Centre for Aging and Society be received for information; and</p>
<p>That the process of applying for membership to the World Health Organization Global Network of Age-Friendly Cities and Communities, and associated requirements to develop a 3-year Age Friendly Plan, be approved, including letters of endorsement from the Mayor, Warden, and City and County CAO’s.</p>
<p>b)</p>
<p>c)</p>
<p>“CARRIED”</p>
<br>
<br>
<p>Joint Services Steering Committee</p>
<p>Meeting of Thursday, February 13, 2014</p>
<p>Page 4</p>
<br>
<p>Director of Planning and Development Services, City of Peterborough Report PLHDJSSC14-001 Municipal Rent Supplement Program</p>
<p>Moved by Councillor Clarke, seconded by Warden Jones</p>
<p>That Joint Services Steering Committee endorses the recommendation outlined in Report PLHDJSSC14-001 dated February 13, 2014, of the Director of Planning and Development Services, as follows:</p>
<p>That a rent supplement program as outlined in Appendix A, for low-income renters in the City and County be approved.</p>
<p>Appendix A outlines in detail the following two program streams:</p>
<p>1.</p>
<p>Housing Choice Rent Supplement for low-income households (5 years)</p>
<br>
<p>2.</p>
<p>Housing Choice for Youth for young people transitioning from the Youth Emergency Shelter (YES) (First Pilot Project - 3 years)</p>
<p>“CARRIED”</p>
<p>Director of Community Services, City of Peterborough Report CSSSJSSC14-002 Homelessness Programs and Funding Update</p>
<p>Moved by Councillor Clarke, seconded by Councillor Vass</p>
<p>That Joint Services endorse the recommendations outlined in Report CSSSJSSC14-002 dated February 13, 2014, of the Director of Community Services, as follows:</p>
<p>a)</p>
<p>That the distribution of the provincial Community Homelessness Prevention Initiative (CHPI) and municipal homelessness funding as outlined in Chart 1 be received;</p>
<p>That the funding model for the purchase of emergency shelter services be changed to a base operational funding model effective April 1, 2014;</p>
<p>b)</p>
<br>
<br>
<p>Joint Services Steering Committee</p>
<p>Meeting of Thursday, February 13, 2014</p>
<p>Page 5</p>
<br>
<p>c)</p>
<p>That the Mayor and Clerk be authorized to sign Service Agreements with Brock Mission and Youth Emergency Shelter-Peterborough for the provision of emergency shelter services without completing a bid solicitation process as permitted in Section 35(3)(vi) of the City’s Purchasing By-law.</p>
<p>“CARRIED”</p>
<p>Gary King, Chief Administrative officer, County of Peterborough Verbal Update Community Paramedicine Update</p>
<p>Moved by Mayor Bennett, seconded by Councillor Gerow</p>
<p>That the verbal report on Community Paramedicine be received for information.</p>
<p>“CARRIED”</p>
<p>Other Business</p>
<p>Ken Doherty, Director of Community Services and Linda Mitchelson, Manager, Social Services Division, City of Peterborough commented on the Healthy Kids Community Challenge.</p>
<p>Recess - Open Session</p>
<p>Moved by Mayor Bennett</p>
<p>That Committee recess open session in the Council Chambers at 4:43 p.m.</p>
<p>”CARRIED”</p>
<p>Reconvene – Open Session</p>
<p>Moved by Councillor Whelan, Seconded by Mayor Bennett</p>
<p>That Committee reconvene open session in the General Committee Room.</p>
<p>”CARRIED”</p>
<br>
<br>
<p>Joint Services Steering Committee</p>
<p>Meeting of Thursday, February 13, 2014</p>
<p>Page 6</p>
<br>
<p>Resolution to Meet in Closed Session</p>
<p>Moved by Councillor Clarke, seconded by Mayor Bennett</p>
<p>That Committee move into Closed Session at 4:47 p.m., to discuss one item under Section 239(2)(a) The security of the property of the municipality or local board.</p>
<p>“CARRIED”</p>
<p>Reconvene - Open Session</p>
<p>Moved by Councillor Whelan, seconded by Mayor Bennett</p>
<p>That Committee reconvene in open session in the General Committee Room at 5:40 p.m.</p>
<p>”CARRIED”</p>
<p>Next Meeting</p>
<p>The Chair mentioned that next regular meeting is scheduled for June 12, 2014.</p>
<p>Adjournment</p>
<p>Moved by Councillor Gerow, seconded by Mayor Bennett</p>
<p>That the Joint Services Steering Committee adjourn at 5:41 p.m.</p>
<p>"CARRIED"</p>
<br>
<p>John Kennedy City Clerk</p>
<br>
<p>Councillor Beamer Chair</p>
<br>
<br></div>