<!doctype html><div><p>Minutes of Joint Services</p>
<p>Steering Committee</p>
<p>June 12, 2014</p>
<p>Council Chambers</p>
<p>City Hall</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>The meeting was called to order at 3:45 p.m. by Councillor Beamer in the Council Chambers, City Hall.</p>
<p>Present: Warden J. Murray Jones, County of Peterborough Councillor Ron Gerow, County of Peterborough Councillor Andy Mitchell, County of Peterborough Councillor Jim Whelan, County of Peterborough, Vice Chair Mayor Daryl Bennett, City of Peterborough Councillor Andrew Beamer, City of Peterborough, Chair Councillor Henry Clarke, City of Peterborough Councillor Len Vass, City of Peterborough</p>
<p>Staff: Gary King, Chief Administrative Officer, County of Peterborough John Butler, Director of Finance/Treasurer, County of Peterborough Don Oettinger, Commander, County of Peterborough Brian Horton, Chief Administrative Officer, City of Peterborough Malcolm Hunt, Director of Planning and Development Services, City of Peterborough Sandra Clancy, Director of Corporate Services, City of Peterborough Dorothy Olver, Program Manager, Homelessness/Addictions, Social Services Division, City of Peterborough Susan Bacque, Manager of Housing, City of Peterborough Linda Mitchelson, Manager, Social Services Division, City of Peterborough John Kennedy, City Clerk, City of Peterborough</p>
<p>Minutes of the Meeting of February 13, 2014</p>
<p>Moved by Councillor Clarke, seconded by Mayor Bennett</p>
<p>That the minutes of the meeting of February 13, 2014 be approved.</p>
<p>"CARRIED"</p>
<br>
<br>
<br>
<p>Joint Services Steering Committee Meeting of Thursday, June 12, 2014</p>
<p>Page 2</p>
<br>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of interest.</p>
<p>Minutes for Information</p>
<p>Moved by Councillor Gerow, seconded by Warden Jones</p>
<p>That the AHAC (Affordable Housing Action Committee) minutes of January 9, February 13, March 13 and April 10, 2014 be received for information.</p>
<p>"CARRIED"</p>
<p>Director of Planning and Development Services, City of Peterborough Report PLHDJSSC14-002 Implications of Expiry of Agreements and Federal Funding for Social Housing</p>
<p>Malcolm Hunt and Susan Bacque provided a presentation on Report PLHDJSSC14-002.</p>
<p>Moved by Councillor Clarke, seconded by Mayor Bennett</p>
<p>That the Joint Services Steering Committee endorse the recommendations outlined in Report PLHDJSSC14-002 dated June 12, 2014, of the Director of Planning and Development Services, as follows:</p>
<p>a)</p>
<p>That the Joint Services Steering Committee receive the presentation about the strategic issues related to social housing, from the Director of Planning and Development Services.</p>
<p>That the Joint Services Steering Committee endorse the development of a strategic approach to expiry of agreements and federal funding for social housing, as described in this report, guided by the principles in Appendix A.</p>
<p>That Peterborough Housing Corporation (PHC) and the City initiate a joint process regarding strategies for expiry of federal funding as this affects PHC.</p>
<p>b)</p>
<p>c)</p>
<br>
<p>Joint Services Steering Committee Meeting of Thursday, June 12, 2014</p>
<p>Page 3</p>
<br>
<p>d)</p>
<p>e)</p>
<p>c)</p>
<p>d)</p>
<p>That staff provide a report regarding an ownership program to allow tenants to gain equity in their units and position themselves for home ownership.</p>
<p>That the Mayor and Warden send a letter to MP Del Mastro and MP Devolin outlining Federal funding concerns with social housing.</p>
<p>“CARRIED”</p>
<p>Director of Community Services, City of Peterborough Report CSSSJSSC14-003 Discretionary Benefits and Housing Stability Funding Update</p>
<p>Linda Mitchelson made introductory comments to Report CSSSJSSC14-003.</p>
<p>Moved by Councillor Clarke, seconded by Councillor Vass</p>
<p>That the Joint Services Steering Committee endorse the recommendations outlined in Report CSSSJSSC14-003 dated June 12, 2014, of the Director of Community Services, as follows:</p>
<p>a)</p>
<p>That information on the status of the Discretionary Benefits program be received.</p>
<p>That an additional, one-time draw on the Homelessness Reinvestment portion of the Social Services reserve for the Housing Stability Fund in the amount of $258,000 from the City, and a request for an additional contribution of $42,000 from the County for social assistance recipients be approved.</p>
<p>b)</p>
<p>That staff be directed to adjust the Housing Stability Fund eligibility criteria or cease certain benefits later in the year in order to stay within the revised allocated budget.</p>
<p>That a one-time draw on the Housing Division DOOR reserve in the amount of $30,000 be approved to be allocated to the Housing Stability Fund for seniors, singles and low income families not in receipt of social assistance.</p>
<p>“CARRIED”</p>
<br>
<p>Joint Services Steering Committee Meeting of Thursday, June 12, 2014</p>
<p>Page 4</p>
<br>
<p>Director of Community Services, City of Peterborough Report CSSSJSSC14-004 Winter Weather Response Program</p>
<p>Linda Mitchelson made introductory comments to report CSSSJSSC14-004.</p>
<p>Moved by Councillor Vass, seconded by Councillor Clarke</p>
<p>That Joint Services Steering Committee endorse the recommendations outlined in Report CSSSJSSC14-004 dated June 12, 2014, of the Director of Community Services, as follows:</p>
<p>a)</p>
<p>That the report on the pilot be received;</p>
<p>The plan to provide some form of Winter Weather Response program on an annual be approved; and</p>
<p>b)</p>
<p>c)</p>
<p>That in 2014-2015, the Winter Weather Response Program be provided through an agreement between the City and St. John’s Anglican at a cost of $50,000.</p>
<p>“CARRIED”</p>
<p>Director of Community Services, City of Peterborough Report CSSSJSSC14-005 Ontario Works – Employment Services Update</p>
<p>Moved by Mayor Bennett, seconded by Councillor Gerow</p>
<p>That Joint Services Steering Committee (JSSC) endorse the recommendation outlined in Report CSSSJSSC14-005 dated June 12, 2014, of the Director of Community Services, as follows:</p>
<p>That Report CSSSJSSC14-005, an update on Ontario Works (OW) – Employment Services be received for information.</p>
<p>“CARRIED”</p>
<br>
<p>Joint Services Steering Committee Meeting of Thursday, June 12, 2014</p>
<p>Page 5</p>
<br>
<p>Randy Mellow, Chief of Paramedics, County of Peterborough Peterborough Paramedics Response Time Plan Review</p>
<p>Moved by Warden Jones, seconded by Councillor Whelan</p>
<p>That the Joint Services Steering Committee endorse the recommendation to maintain the current Peterborough County/City Paramedic Response Time Performance Plan.</p>
<p>“CARRIED”</p>
<p>Other Business</p>
<p>There was no Other Business.</p>
<p>Next Meeting</p>
<p>The Chair indicated that next regular meeting is scheduled for September 4, 2014.</p>
<p>Adjournment</p>
<p>Moved by Mayor Bennett, seconded by Councillor Mitchell</p>
<p>That the Joint Services Steering Committee adjourn at 5:01 p.m.</p>
<p>"CARRIED"</p>
<br>
<p>John Kennedy City Clerk</p>
<p>Councillor Beamer Chair</p>
<br></div>