<!doctype html><div><p>Public Library Board of Trustees</p>
<p>City of Peterborough</p>
<p>June 30, 2015</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of the Public Library Board of Trustees Held on</p>
<p>June 30, 2015 at the Delafosse Branch, 729 Park Street South.</p>
<br>
<p>The meeting of the Public Library Board of Trustees was called to order at 7:02 p.m. by Paul Stern, Chair at the Delafosse Branch, 729 Park Street South.</p>
<p>Present: Paul Stern, Chair Leslie Woolcott Barb Connor Teresa Kerr Councillor Baldwin Steven MacDonald</p>
<p>Regrets: Mauro DiCarlo Councillor Riel Eric Prevost</p>
<p>Staff: Jennifer Zoethout, Library Manager/CEO Jennifer Jones, Head Librarian Natalie Garnett, Deputy Clerk</p>
<br>
<p>Minutes – May 26, 2015</p>
<p>Moved by Councillor Baldwin</p>
<p>That the minutes of the Public Library Board of Trustees meeting held on May 26, 2015 be approved, as circulated.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Pecuniary Interest.</p>
<p>Peterborough Public Library Board of Trustees Minutes</p>
<p>Meeting of June 30, 2015</p>
<p>Page 2</p>
<br>
<p>Moved by Teresa Kerr</p>
<p>That the agenda be revised to allow auditors from Collins Barrow to present the Financial Statements of the Library, as of December 31, 2014.</p>
<p>“CARRIED”</p>
<p>Consent Agenda</p>
<p>No items were passed as part of the Consent Agenda.</p>
<p>2014 Financial Statements of the Peterborough Library</p>
<p>Joanna Parks from Collins Barrow led the Peterborough Public Library Board of Trustees through a review of the 2014 audited financial statements.   It was noted that in future years the statements will be provided to Board members in advance of the meeting.</p>
<p>Moved by Councillor Baldwin</p>
<p>That audited 2014 Financial Statements of the Peterborough Public Library be received.</p>
<p>“CARRIED”</p>
<p>Library Manager/CEO Report PPL15-011 Code of Conduct, Policy Review and Procedures</p>
<p>Moved by Barb Connor</p>
<p>That the Peterborough Public Library Board of Trustees approve the recommendation outlined in Report PPL15-011 dated June 30, 2015 of the Library Manager/CEO as follows:</p>
<p>That the Peterborough Public Library Board approve the Code of Conduct, Policy and Procedures, as amended.</p>
<p>“CARRIED”</p>
<p>Peterborough Public Library Board of Trustees Minutes</p>
<p>Meeting of June 30, 2015</p>
<p>Page 3</p>
<br>
<br>
<p>Library Manager/CEO Report PPL15-013 Library Manager's Report for June 2015</p>
<p>Moved by Leslie Woolcott</p>
<p>That the Peterborough Public Library Board approve the recommendation outlined in Report PPL15-013 dated June 30, 2015 of the Library Manager/CEO as follows:</p>
<p>That  Report  PPL15-013  with  respect  to  the  Library  Manager’s  activities  be received for information.</p>
<p>“CARRIED”</p>
<p>Other Business</p>
<p>Teresa Kerr provided an update on activities of the Library Foundation.</p>
<p>Moved by Barb Connor</p>
<p>That the verbal report of the Library Foundation be received for information.</p>
<p>Barb Connor provided an update on activities of the Friends of the Library.</p>
<p>Moved by Teresa Kerr</p>
<p>That the verbal report of the Friends of the Library be received for information.</p>
<p>“CARRIED”</p>
<p>“CARRIED”</p>
<br>
<p>Peterborough Public Library Board of Trustees Minutes</p>
<p>Meeting of June 30, 2015</p>
<p>Page 4</p>
<br>
<p>Next Meeting</p>
<p>The Chair indicated that the next Board meeting will be held on September 29, 2015 in the Library Board Room, 345 Aylmer Street North.</p>
<p>Adjournment</p>
<p>Moved by Councillor Baldwin</p>
<p>That this meeting of the Public Library Board of Trustees adjourn at 8:40 p.m.</p>
<p>"CARRIED"</p>
<br>
<p>Natalie Garnett Deputy Clerk</p>
<p>Paul Stern Chair</p>
<br></div>