<!doctype html><div><p>Public Library Board of Trustees</p>
<p>City of Peterborough</p>
<p>September 29, 2015</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of the Public Library Board of Trustees Held on</p>
<p>September 29, 2015 at the Library Training Room, 345 Aylmer Street</p>
<p>North.</p>
<br>
<p>In the absence of the Chair and Vice Chair, Mauro DiCarlo agreed to Chair the meeting.</p>
<p>The meeting of the Public Library Board of Trustees was called to order at 7:00 p.m. in the Library Training Room, 345 Aylmer Street North.</p>
<p>Present: Leslie Woolcott Barb Connor Councillor Riel Councillor Baldwin Steven MacDonald Mauro DiCarlo, Acting Chair</p>
<p>Regrets: Eric Prevost Paul Stern Teresa Kerr</p>
<p>Staff: Jennifer Zoethout, Library Manager/CEO Jennifer Jones, Head Librarian Natalie Garnett, Deputy Clerk</p>
<p>Minutes – June 30, 2015</p>
<p>Moved by Councillor Baldwin</p>
<p>That the minutes of the Public Library Board of Trustees meeting held on June 30, 2015 be approved, as amended.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Pecuniary Interest.</p>
<p>Peterborough Public Library Board of Trustees Minutes</p>
<p>Meeting of September 29, 2015</p>
<p>Page 2</p>
<br>
<p>Consent Agenda</p>
<p>No items were passed as part of the Consent Agenda.</p>
<p>Library Manager/CEO Report PPL15-015 Library Manager Report for July/August 2015</p>
<p>Moved by Steven MacDonald</p>
<p>That the Peterborough Public Library Board of Trustees approve the recommendation outlined in Report PPL15-015 dated September 29, 2015 of the Library Manager/CEO as follows:</p>
<p>That the Library Manager/CEO Report for July/August 2015 be received for information.</p>
<p>“CARRIED”</p>
<p>Moved by Councillor Baldwin</p>
<p>That the Peterborough Public Library Board of Trustees request the Library Manager/CEO to provide a report at the October 27, 2015 meeting on the rationale for a new Strategic Plan and offer various options for Committee consideration.</p>
<p>“CARRIED”</p>
<p>Library Manager/CEO Report PPL15-014 Internet and Computer Use Policy</p>
<p>Moved by Councillor Baldwin</p>
<p>That the Peterborough Public Library Board of Trustees approve the recommendation outlined in Report PPL15-014 dated September 29, 2015 of the Library Manager/CEO as follows:</p>
<p>Peterborough Public Library Board of Trustees Minutes</p>
<p>Meeting of September 29, 2015</p>
<p>Page 3</p>
<br>
<p>That the Peterborough Public Library Board of Trustees approve the revised Internet and Computer Use Policy.</p>
<p>“CARRIED”</p>
<p>Friends of the Library Verbal Report Update on Activities</p>
<p>Barb Connor provided an update on activities of the Friends of the Library.  It was noted that $441.55 was raised at the lobby sale on September 26, 2015.  The “Fall Giant Book Sale” will be held on October 23 and October 24, 2015.</p>
<p>Moved by Councillor Riel</p>
<p>That the verbal report of the Friends of the Library be received for information.</p>
<p>“CARRIED”</p>
<p>Library Foundation Verbal Report Update on Activities</p>
<p>There was no verbal report.</p>
<p>Other Business</p>
<p>Jennifer Zoethout, Library Manager/CEO distributed copies of the 2014 Audited Financial Statements.</p>
<p>Next Meeting</p>
<p>The Chair indicated that the next Board meeting will be held on October 27, 2015 in the Library Board Room, 345 Aylmer Street North.</p>
<br>
<p>Peterborough Public Library Board of Trustees Minutes</p>
<p>Meeting of September 29, 2015</p>
<p>Page 4</p>
<br>
<p>Adjournment</p>
<p>Moved by Steven MacDonald</p>
<p>That this meeting of the Public Library Board of Trustees adjourn at 7:37 p.m.</p>
<p>"CARRIED"</p>
<br>
<p>Natalie Garnett Deputy Clerk</p>
<p>Mauro DiCarlo Acting Chair</p>
<br></div>