<!doctype html><div><p>Public Library Board of Trustees</p>
<p>City of Peterborough</p>
<p>February 23, 2016</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of the Public Library Board of Trustees Held on</p>
<p>February 23, 2016 at the Library Training Room, 345 Aylmer Street</p>
<p>North.</p>
<br>
<p>The meeting of the Public Library Board of Trustees was called to order at 7:01 p.m. in the Library Training Room, 345 Aylmer Street North.</p>
<p>Present: Leslie Woolcott Barb Connor Mauro DiCarlo Eric Prevost Paul Stern, Chair Councillor Riel Councillor Baldwin Teresa Kerr (7:10 p.m.)</p>
<p>Regrets: Steven MacDonald</p>
<p>Staff: Jennifer Zoethout, Library Manager/CEO Natalie Garnett, Deputy Clerk Jennifer Jones, Head Librarian Becky Waldman, Marketing and Communications Coordinator</p>
<p>Minutes – January 26, 2016</p>
<p>Moved by Mauro DiCarlo</p>
<p>That the minutes of the Public Library Board of Trustees meeting held on January 26, 2016 be approved.</p>
<p>“CARRIED”</p>
<br>
<p>Peterborough Public Library Board of Trustees Minutes</p>
<p>Meeting of February 23, 2016</p>
<p>Page 2</p>
<br>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Pecuniary Interest.</p>
<p>Consent Agenda</p>
<p>Moved by Councillor Baldwin</p>
<p>That item 5 be approved as part of the Consent Agenda.</p>
<p>“CARRIED”</p>
<p>Library Manager/CEO Report PPL16-007 Library Manager/CEO Report for January 2016</p>
<p>Moved by Councillor Baldwin</p>
<p>That the Peterborough Public Library Board of Trustees approve the recommendation outlined in Report PPL16-007 dated February 23, 2016 of the Library Manager/CEO, as follows:</p>
<p>That the Library Manager/CEO report be received for information.</p>
<p>“CARRIED”</p>
<p>Marketing and Communications Officer Presentation Marketing the Library Renovation</p>
<p>Becky Waldman, Marketing and Communications Coordinator provided a presentation on the preliminary plans for marketing the library renovation and noted that a separate website will be created for this project.</p>
<p>Peterborough Public Library Board of Trustees Minutes</p>
<p>Meeting of February 23, 2016</p>
<p>Page 3</p>
<br>
<p>Moved by Councillor Riel</p>
<p>That the presentation on the marketing of the Library Renovation Project be received for information.</p>
<p>“CARRIED”</p>
<p>Library Manager/CEO Library Board Chair Report PPL16-011 Ontario Library Association Conference Update</p>
<p>Moved by Barb Connor</p>
<p>That the Peterborough Public Library Board of Trustees approve the recommendation outlined in Report PPL16-011 dated February 23, 2016 of the Library Manager/CEO and Library Board Chair, as follows:</p>
<p>That the Library Board receive for information the report dated February 23, 2016 of the Library Manager/CEO and Library Board Chair.</p>
<p>“CARRIED”</p>
<p>Library Manager/CEO Report PPL16-008 Financial Update Report</p>
<p>Moved by Mauro DiCarlo</p>
<p>That the Peterborough Public Library Board of Trustees receive Report PPL16- 008, dated February 23, 2016 of the Library Manager/CEO, as follows:</p>
<p>That the February 23, 2016 Financial Update Report of the 2015 Operating Budget be received for information.</p>
<p>“CARRIED”</p>
<br>
<p>Peterborough Public Library Board of Trustees Minutes</p>
<p>Meeting of February 23, 2016</p>
<p>Page 4</p>
<br>
<p>Library Manager/CEO Report PPL16-009 Accessibility Policies</p>
<p>Moved by Gary Baldwin</p>
<p>That the Peterborough Public Library Board of Trustees approve the recommendation outlined in Report PPL16-009, dated February 23, 2016 of the Library Manager/CEO as follows:</p>
<p>That the City of Peterborough’s policies for Accessible Customer Service and for integrated Accessibility Standards be formally adopted for the Peterborough Public Library.</p>
<p>“MOTION LOST”</p>
<p>Moved by Eric Prevost</p>
<p>That Report PPL16-009 be brought forward for reconsideration at the April 26, 2016 Committee meeting.</p>
<p>“CARRIED”</p>
<p>Committee recessed at 8:25 p.m.  The meeting resumed at 8:30 p.m.</p>
<p>Library Manager/CEO Report PPL16-010 Digitization of City Directories Fund Request</p>
<p>Moved by Teresa Kerr</p>
<p>That the Peterborough Public Library Board of Trustees approve the recommendation outlined in Report PPL16-010, dated February 23, 2016 of the Library Manager/CEO, as follows:</p>
<p>That the use of reserve funds to digitize the City Directories up to the amount of $49,200 be approved.</p>
<p>“CARRIED”</p>
<p>Peterborough Public Library Board of Trustees Minutes</p>
<p>Meeting of February 23, 2016</p>
<p>Page 5</p>
<br>
<p>Friends of the Library Verbal Report Update on Activities</p>
<p>Barb Connor provided an update on activities of the Friends of the Library.  The final book sale will be held Friday, March 4 from noon to 7:00 p.m. and Saturday, March 5, from 10:00 a.m. to 3:00 p.m.  The Friends of the Library will be inactive during the library renovations.</p>
<p>Moved by Mauro DiCarlo</p>
<p>That the verbal update from the Friends of the Library be received for information.</p>
<p>“CARRIED”</p>
<p>Library Foundation Verbal Report Update on Activities</p>
<p>Teresa Kerr provided an update on activities of the Library Foundation.</p>
<p>Moved by Councillor Baldwin</p>
<p>That the verbal update from the Library Foundation be received for information.</p>
<p>“CARRIED”</p>
<br>
<p>Peterborough Public Library Board of Trustees Minutes</p>
<p>Meeting of February 23, 2016</p>
<p>Page 6</p>
<br>
<p>Moved by Barb Connor</p>
<p>That the Peterborough Public Library Board of Trustees move into Closed Session to discuss one item under the Municipal Act, 2001 Section 239(2)(a) The security of the property of the municipality or local board, and one item under Section 239(2) (c) A proposed or pending acquisition or disposition of land by the municipality or local board.</p>
<p>“CARRIED”</p>
<p>Jennifer Jones, Head Librarian and Becky Waldman, Marketing and Communications Coordinator, left the meeting.</p>
<p>Committee moved into Closed Session at 8:50 p.m.</p>
<p>Moved by Councillor Baldwin</p>
<p>That the Peterborough Public Library Board of Trustees rise from Closed Session at 9:06 p.m.</p>
<p>“CARRIED”</p>
<p>Jennifer Jones, Head Librarian and Becky Waldman, Marketing and Communications Coordinator, rejoined the meeting in open session at 9:06 p.m..</p>
<p>Discussion Item – Board Responsibilities</p>
<p>Paul Stern, Chair led the Board in a discussion regarding the possible creation of ad hoc committees for the development of policies and the strategic plan. Discussion on the strategic planning committee will be deferred to the March Board meeting.</p>
<p>Peterborough Public Library Board of Trustees Minutes</p>
<p>Meeting of February 23, 2016</p>
<p>Page 7</p>
<br>
<p>Moved by Eric Prevost</p>
<p>That an ad hoc committee be created to develop policies for the library Board’s consideration; and</p>
<p>That Eric Prevost and Leslie Woolcott be appointed as members, and that Jennifer Zoethout be a resource to the Commitee; and</p>
<p>That a terms of reference for the Policy Committee be drafted and brought forward for the Peterborough public Library Board of Trustees consideration.</p>
<p>“CARRIED”</p>
<p>Other Business</p>
<p>It was requested that the issue of the number of French Language books at the library be raised as an item of Other Business at the March 29th Committee meeting along with the matter of extended library hours.  The issue of library services for refugee families will be included on the same agenda.</p>
<p>Next Meeting</p>
<p>The Chair indicated that the next Board meeting will be held on March 29, 2016 in the Library Board Room, 345 Aylmer Street North.</p>
<p>Adjournment</p>
<p>Moved by Mauro DiCarlo</p>
<p>That this meeting of the Public Library Board of Trustees adjourn at 9:20 p.m.</p>
<p>"CARRIED"</p>
<p>Natalie Garnett Deputy Clerk</p>
<p>Paul Stern Chair</p>
<br></div>