<!doctype html><div><p>Public Library Board of Trustees</p>
<p>City of Peterborough</p>
<p>April 26, 2016</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of the Public Library Board of Trustees Held on</p>
<p>April 26, 2016 at the Library Training Room, 345 Aylmer Street North.</p>
<br>
<p>The meeting of the Public Library Board of Trustees was called to order at 6:59 p.m. in the Library Training Room, 345 Aylmer Street North.</p>
<p>Present: Leslie Woolcott Barb Connor Steven MacDonald Eric Prevost Teresa Kerr, Vice Chair Mauro DiCarlo Councillor Riel Councillor Baldwin</p>
<p>Regrets: Paul Stern, Chair</p>
<p>Staff: Jennifer Zoethout, Library Manager/CEO Natalie Garnett, Deputy Clerk Jennifer Jones, Head Librarian Ken Doherty, Director of Community Services Allan Seabrooke, Chief Executive Officer Sandra Clancy, Director of Corporate Services Richard Freymond, Manager of Financial Services</p>
<p>Minutes – March 29 and April 12, 2016</p>
<p>Moved by Councillor Baldwin</p>
<p>That the minutes of the Public Library Board of Trustees meetings held on March 29 be approved as amended, and the minutes of April 12, 2016 approved as circulated.</p>
<p>“CARRIED”</p>
<br>
<p>Peterborough Public Library Board of Trustees Minutes</p>
<p>Meeting of April 26, 2016</p>
<p>Page 2</p>
<br>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Pecuniary Interest.</p>
<p>Delegation - CUPE 1833</p>
<p>Adam Coones, President, CUPE Local 1833, provided a presentation to the Board regarding the relationship between the Board and the City and the role of the Union.</p>
<p>Moved by Councillor Riel</p>
<p>That the presentation from CUPE Local 1833 be received for information.</p>
<p>“CARRIED”</p>
<p>The agenda was amended to deal with Item 5, Pay-Equity Settlement – CUPE Local 1833 and 2015 Operating Deficit.</p>
<p>Director of Corporate Services Report PPL16-011 Pay-Equity Settlement – CUPE Local 1833 and 2015 Operating Deficit</p>
<p>Sandra Clancy, Director of Corporate Services, provided an overview of Report PPL16- 011.</p>
<p>Moved by Councillor Riel</p>
<p>That the Library Board approve the recommendations outlined in Report CPFS16- 011 dated April 26, 2016 of the Director of Corporate Services, as follows:</p>
<p>a)  That the retroactive wage adjustments resulting from the pay equity</p>
<p>settlement with Local 1833 be funded in part from transfers from Library Reserves as follows:</p>
<p>i.  Library Surplus Reserve - $200,000, and</p>
<p>ii.  Materials Acquisition Reserve - $300,000, leaving the balance</p>
<p>estimated to be $224,100 funded from the City.</p>
<p>Peterborough Public Library Board of Trustees Minutes</p>
<p>Meeting of April 26, 2016</p>
<p>Page 3</p>
<br>
<p>b)  That  the  2015  Operating  budget  deficit  in  the  amount  of  $62,559  be  funded</p>
<p>from a transfer from Library Surplus Reserve.</p>
<p>“CARRIED”</p>
<p>Closed Session</p>
<p>Moved by Eric Prevost</p>
<p>That the Peterborough Public Library Board of Trustees move into Closed Session to discuss one item under the Public Libraries Act, Section 16.1(4)(a) The security of the property of the Municipality or Local Board, and Section 16.1(4)(d) Labour relations or employee negotiations,</p>
<p>“CARRIED”</p>
<p>Committee moved into Closed Session at 7:12 p.m.</p>
<p>Moved by Steven MacDonald</p>
<p>That the Peterborough Public Library Board of Trustees rise from Closed Session at 8:55 p.m.</p>
<p>“CARRIED”</p>
<p>Open Session</p>
<p>The Peterborough Public Library Board of Trustees moved into Open Session.</p>
<p>Report of Closed Session</p>
<p>Moved by Leslie Woolcott</p>
<p>That the Peterborough Public Library Board of Trustees approve the establishment of a separate and autonomous bank account in the Board’s name to receive revenue from all sources and to disperse funds, with the City of Peterborough’s service provider, the Canadian Imperial Bank of Commerce (CIBC);</p>
<p>Peterborough Public Library Board of Trustees Minutes</p>
<p>Meeting of April 26, 2016</p>
<p>Page 4</p>
<br>
<p>That the Chair and Vice Chair of the Peterborough Public Library Board of Trustees be appointed as signing authorities; and</p>
<p>That the contact information for all members of the Board be provided to the CIBC.</p>
<p>“CARRIED”</p>
<p>Moved by Eric Prevost</p>
<p>That the CIBC be informed that the following individuals are to be provided with the authority to access detailed information and transact business on this account:</p>
<p>a)  Financial Analyst, City of Peterborough b)  Chief Accountant, City of Peterborough c)  Director of Corporate Services, City of Peterborough; and, d)  Library Manager/CEO, Peterborough Public Library.</p>
<p>“CARRIED”</p>
<p>Moved by Councillor Baldwin</p>
<p>That the City of Peterborough and the Peterborough Public Library Board of Trustees reaffirm that the existing relationship between the City and the Board will continue, and</p>
<p>That a clarification of the roles and duties of the City and the Board will be undertaken.</p>
<p>“CARRIED”</p>
<br>
<p>Peterborough Public Library Board of Trustees Minutes</p>
<p>Meeting of April 26, 2016</p>
<p>Page 5</p>
<br>
<p>Library Manager/CEO Report PPL16-021 Library Manager/CEO Report March/April 2016</p>
<p>Moved by Eric Prevost</p>
<p>That the Peterborough Public Library Board of Trustees approve the recommendation outlined in Report PPL16-021 dated April 26, 2016 of the Library Manager/CEO, as follows:</p>
<p>That Report PPL16-021 of the Library Manager/CEO be received for information.</p>
<p>“CARRIED”</p>
<p>Friends of the Library Verbal Report Update on Activities</p>
<p>Barb Connor provided an update on activities of the Friends of the Library.</p>
<p>Moved by Steven MacDonald</p>
<p>That the verbal update from the Friends of the Library be received for information.</p>
<p>“CARRIED”</p>
<p>Library Foundation Verbal Report Update on Activities</p>
<p>Moved by Steven MacDonald</p>
<p>That the verbal update from the Library Foundation be received for information.</p>
<p>“CARRIED”</p>
<br>
<p>Peterborough Public Library Board of Trustees Minutes</p>
<p>Meeting of April 26, 2016</p>
<p>Page 6</p>
<br>
<p>Other Business</p>
<p>There were no items of Other Business</p>
<p>Next Meeting</p>
<p>The Vice Chair indicated that the next Board meeting will be held on May 31, 2016.</p>
<p>Adjournment</p>
<p>Moved by Barb Connor</p>
<p>That this meeting of the Public Library Board of Trustees adjourn at 9:08 p.m.</p>
<p>"CARRIED"</p>
<p>Natalie Garnett Deputy Clerk</p>
<p>Teresa Kerr Vice Chair</p>
<br></div>