<!doctype html><div><p>Public Library Board of Trustees</p>
<p>City of Peterborough</p>
<p>June 28, 2016</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of the Public Library Board of Trustees Held on</p>
<p>June 28, 2016 at the DelaFosse Branch, 729 Park Street.</p>
<br>
<p>The meeting of the Public Library Board of Trustees was called to order at 7:02 p.m. at the DelaFosse branch, 729 Park Street.</p>
<p>Present: Paul Stern, Chair Leslie Woolcott Barb Connor Steven MacDonald Eric Prevost Teresa Kerr, Vice Chair Mauro DiCarlo Councillor Riel (7:06 p.m.) Councillor Baldwin (7:30 p.m.)</p>
<p>Staff: Natalie Garnett, Deputy Clerk Jennifer Jones, Head Librarian Ken Doherty, Director of Community Services (7:06 p.m.)</p>
<p>Minutes – May 31, 2016</p>
<p>Moved by Steven MacDonald</p>
<p>That the minutes of the Public Library Board of Trustees meeting held on May 31, 2016 be approved as amended.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Pecuniary Interest.</p>
<br>
<p>Peterborough Public Library Board of Trustees Minutes</p>
<p>Meeting of June 28, 2016</p>
<p>Page 2</p>
<br>
<p>Consent Agenda</p>
<p>No items were approved as part of the Consent Agenda.</p>
<p>2015 Draft Financial Statements Collins Barrow</p>
<p>Richard Steiginga, auditor, Collins Barrow, attended the meeting and provided an overview of the 2015 Draft Financial Statements for the Library.</p>
<p>Moved by Teresa Kerr</p>
<p>That the Library Board approve the 2015 Draft Financial Statements as presented.</p>
<p>“CARRIED”</p>
<p>Mr. Steiginga left the meeting at 7:52 p.m.</p>
<p>Director of Community Services Acting Library Manager/CEO Report PPL16-029 Draft 2017 Budget</p>
<p>Moved by Barb Connor</p>
<p>That the Library Board receive the presentation on Report PPL16-029, dated June 28, 2016 of the Director of Community Services and Acting Library Manager/CEO.</p>
<p>“CARRIED”</p>
<p>Further discussion on the budget strategy was tabled until agenda items 5 to 8 were completed.</p>
<p>Mauro DiCarlo left the meeting at 8:09 p.m.</p>
<br>
<br>
<p>Peterborough Public Library Board of Trustees Minutes</p>
<p>Meeting of June 28, 2016</p>
<p>Page 3</p>
<br>
<p>Acting Library Manager/CEO Report PPL16-026 Acting Library Manager/CEO Report June 2016</p>
<p>Moved by Steven MacDonald</p>
<p>That the Library Board approve Report PPL16-026, dated June 28, 2016 of the Acting Manager/CEO, as follows:</p>
<p>That Report PPL16-026 of the Acting Library Manager/CEO be received for information.</p>
<p>“CARRIED”</p>
<p>Eric Prevost left the meeting at 8:32 p.m. and returned at 8:36 p.m.</p>
<p>Acting Library Manager/CEO Report PPL16-027 Enhanced Library Hours 2017</p>
<p>Moved by Eric Prevost</p>
<p>That the Library Board approves the recommendation outlined in Report PPL-16- 027 dated 28 June, 2016, as follows:</p>
<p>a)</p>
<p>That the proposed changes to the Peterborough Public Library’s standard operating hours as outlined in Option B, specifically that during Regular hours, Monday to Friday hours be extended to 9:00 a.m. to 8:00 p.m.; that Saturday hours remain the same at 10:00 a.m. to 5:00 p.m.; and that Sunday hours be expanded to  1:00 to 5:00 p.m.; and that during Summer Hours Monday to Friday be extended from 9:00 a.m. to 7:00 p.m.; that Saturday hours remain the same at 10:00 a.m. to 5:00 p.m.; and that Sunday hours be expanded to 1:00 to 5:00 p.m., be approved, subject to confirmation of additional approved funding in the 2017 operating budget.</p>
<p>That the proposed hours come into effect when Library activities resume at the Main Branch of the Library following the successful completion of the expansion project.</p>
<p>b)</p>
<p>“CARRIED”</p>
<p>Peterborough Public Library Board of Trustees Minutes</p>
<p>Meeting of June 28, 2016</p>
<p>Page 4</p>
<br>
<p>Director of Community Services Report PPL16-028 Meeting of the Joint Library Board/City Committee, June 22, 2016</p>
<p>The Chair left the meeting at 8:42 p.m. and returned at 8:45 p.m.  In his absence Teresa Kerr, Vice Chair, assumed the Chair.</p>
<p>Moved by Steven MacDonald</p>
<p>That  the  Library  Board  approve  Report  PPL16-028,  dated  June  28,  2016  of  the Director of Community Services, as follows:</p>
<p>a)</p>
<p>That the draft Minutes of the Committee meeting held on June 22, 2016 be received for information;</p>
<p>That Sandra Clancy be appointed as Interim Treasurer until the Memorandum of Understanding is approved and signed;</p>
<p>That a draft Letter of Intent as distributed be approved in principle.</p>
<p>c)</p>
<p>“CARRIED”</p>
<p>Acting Library Manager/CEO Report PPL16-030 Security Services for the Library</p>
<p>Moved by Councillor Baldwin</p>
<p>That  the  Library  Board  approve  Report  PPL16-030,  dated  June  28,  2016  of  the Acting Library Manager/CEO, as follows:</p>
<p>a)</p>
<p>That security services be contracted for the Library for the Aylmer Street location for evenings and weekends once renovations are complete and operations have resumed on site in 2017;</p>
<p>That additional funds be set aside for staff training on conflict resolution and de-escalation; and,</p>
<p>b)</p>
<p>b)</p>
<br>
<p>Peterborough Public Library Board of Trustees Minutes</p>
<p>Meeting of June 28, 2016</p>
<p>Page 5</p>
<br>
<p>c)</p>
<p>That this security solution be operated as a one year pilot project subject to budgetary approval</p>
<p>“CARRIED”</p>
<p>The Library Board returned to item 4 which had been tabled earlier in the evening.</p>
<p>Director of Community Services Acting Library Manager/CEO Report PPL16-029 Draft 2017 Budget</p>
<p>Moved by Eric Prevost</p>
<p>That the Library Board approve the budget strategy as presented, the proposed implementation of Enhanced Hours of Operation and the introduction of a Pilot Security Solution.</p>
<p>“CARRIED”</p>
<p>Other Business</p>
<p>Discussion was held regarding the signage at the Library building at 345 Aylmer Street North.</p>
<p>Next Meeting</p>
<p>The Chair indicated that the next Board meeting will be held on September 27, 2016.</p>
<p>Adjournment</p>
<p>Moved by Eric Prevost</p>
<p>That this meeting of the Public Library Board of Trustees adjourn at 9:25 p.m.</p>
<p>"CARRIED"</p>
<br>
<p>Peterborough Public Library Board of Trustees Minutes</p>
<p>Meeting of June 28, 2016</p>
<p>Page 6</p>
<br>
<p>Natalie Garnett Deputy Clerk</p>
<p>Paul Stern Chair</p>
<br></div>