<!doctype html><div><p>Public Library Board of Trustees</p>
<p>City of Peterborough</p>
<p>September 27, 2016</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of the Public Library Board of Trustees Held on</p>
<p>September 27, 2016 at the DelaFosse Branch, 729 Park Street.</p>
<br>
<p>The meeting of the Public Library Board of Trustees was called to order at 7:04 p.m. at the DelaFosse branch, 729 Park Street.</p>
<p>Present: Paul Stern, Chair Leslie Woolcott Barb Connor Steven MacDonald Teresa Kerr, Vice Chair Mauro DiCarlo Councillor Riel Councillor Baldwin</p>
<p>Regrets: Eric Prevost</p>
<p>Staff: Natalie Garnett, Deputy Clerk Jennifer Jones, Acting Library Manager/CEO Ken Doherty, Director of Community Services Sandra Clancy, Director of Corporate Services Scott Elliott, Corporate Sponsorship Coordinator Darren Hancock, Chief Accountant</p>
<p>Minutes – June 28, 2016</p>
<p>Moved by Councillor Baldwin</p>
<p>That the minutes of the Public Library Board of Trustees meeting held on June 28, 2016 be approved as circulated.</p>
<p>“CARRIED”</p>
<br>
<p>Peterborough Public Library Board of Trustees Minutes</p>
<p>Meeting of September 27, 2016</p>
<p>Page 2</p>
<br>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Pecuniary Interest.</p>
<p>Consent Agenda</p>
<p>Moved by Teresa Kerr</p>
<p>That items 8 and 9 be passed as part of the consent agenda.</p>
<p>“CARRIED”</p>
<p>Acting Library Manager/CEO Report PPL16-034 Acting Library Manager/CEO Report – September 2016</p>
<p>Moved by Teresa Kerr</p>
<p>That the Library Board approve the recommendation outlined in Report PPL16- 034 dated September 27, 2016, of the Acting Library Manager/CEO as follows:</p>
<p>That the report on Library operations for the month of September 2016, be received for information.</p>
<p>“CARRIED”</p>
<p>Acting Library Manager/CEO Report PPL16-035 Staff Development Day Closure</p>
<p>Moved by Teresa Kerr</p>
<p>That the Library Board approve the recommendation outlined in Report PPL16- 035 dated September 27, 2016, of the Acting Library Manager/CEO as follows:</p>
<p>That the closure of the Library on November 4, 2016 for a staff development day, be approved.</p>
<p>“CARRIED”</p>
<p>Peterborough Public Library Board of Trustees Minutes</p>
<p>Meeting of September 27, 2016</p>
<p>Page 3</p>
<br>
<p>Acting Library Manager/CEO Report PPL16-031 Corporate Sponsorship Opportunities</p>
<p>Scott Elliott, Corporate Sponsorship Coordinator, provided an overview on possible sponsorship options for the library.</p>
<p>Moved by Mauro DiCarlo</p>
<p>That subject to the approval of the Peterborough Public Library Board, the Peterborough Public Library will explore sponsorship activities that enhance the renovations and programs of the library; and,</p>
<p>That the Peterborough Public Library adopt the Canadian Library Association Position Statement on Corporate Sponsorship Agreements in Libraries, to guide activities on an interim basis.</p>
<p>“CARRIED”</p>
<p>Acting Library Manager/CEO Report PPL16-033 Library Board Bank Account Status Update</p>
<p>Moved by Barb Connor</p>
<p>That the Library Board approve the recommendation outlined in Report PPL16- 033 dated September 27, 2016, of the Acting Library Manager/CEO as follows:</p>
<p>That the presentation on the Library Board bank account by the City’s Manager of Financial Services, be received.</p>
<p>“CARRIED”</p>
<br>
<p>Peterborough Public Library Board of Trustees Minutes</p>
<p>Meeting of September 27, 2016</p>
<p>Page 4</p>
<br>
<p>Moved by Councillor Baldwin</p>
<p>That the Chair and Vice Chair sign the direction letter and agreement with the Canadian Imperial Bank of Commerce.</p>
<p>“CARRIED”</p>
<p>Director of Community Services Report PPL16-037 Future of 359 Aylmer Street North and Increase in Library Renovation and Expansion Project</p>
<p>Moved by Steven MacDonald</p>
<p>That the Library Board approve the recommendation outlined in Report PPL16- 037 dated September 27, 2016, of the Director of Community Services, as follows:</p>
<p>That the report be received for information and that feedback be provided.</p>
<p>“CARRIED”</p>
<p>Acting Library Manager/CEO Report PPL16-024B Removal of Charges from Patron Accounts</p>
<p>Moved by Teresa Kerr</p>
<p>That the Library Board approve the recommendation outlined in Report PPL16- 024B dated September 27, 2016, of the Acting Library Manager/CEO as follows:</p>
<p>That the removal of charges from patrons accounts incurred prior to January 1, 2013, be approved.</p>
<p>“CARRIED”</p>
<br>
<p>Peterborough Public Library Board of Trustees Minutes</p>
<p>Meeting of September 27, 2016</p>
<p>Page 5</p>
<br>
<p>Acting Library Manager/CEO Report PPL16-032 Holiday Operating Hours</p>
<p>Moved by Councillor Riel</p>
<p>That report PPL16-032 be referred to the October 25, 2016 Committee meeting.</p>
<p>“CARRIED”</p>
<p>Acting Library Manager/CEO Report PPL16-036 Strategic Plan</p>
<p>Moved by Leslie Woolcott</p>
<p>That the Library Board approve the recommendations outlined in Report PPL16- 036 dated September 27, 2016, of the Acting Library Manager/CEO concerning Library Strategic Planning, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>That the report of the Acting Library Manager/CEO be received for information; and</p>
<p>That the Acting Library Manager/CEO be directed to proceed with the RFP process to engage the services of a third party to complete a strategic plan and re-branding for the Library.</p>
<p>“CARRIED”</p>
<p>Other Business</p>
<p>The Committee agreed to hold future Library Board meetings at the DelaFosse branch during the renovations at the main branch.</p>
<p>Next Meeting</p>
<p>The Chair indicated that the next Board meeting will be held on October 25, 2016.</p>
<p>Peterborough Public Library Board of Trustees Minutes</p>
<p>Meeting of September 27, 2016</p>
<p>Page 6</p>
<br>
<p>Adjournment</p>
<p>Moved by Steve MacDonald</p>
<p>That this meeting of the Public Library Board of Trustees adjourn at 9:03 p.m.</p>
<p>"CARRIED"</p>
<br>
<p>Natalie Garnett Deputy Clerk</p>
<p>Paul Stern Chair</p>
<br></div>