<!doctype html><div><p>Public Library Board of Trustees</p>
<p>City of Peterborough</p>
<p>October 25, 2016</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of the Public Library Board of Trustees Held on</p>
<p>October 25, 2016 at the DelaFosse Branch, 729 Park Street.</p>
<br>
<p>The meeting of the Public Library Board of Trustees was called to order at 7:05 p.m. at the DelaFosse branch, 729 Park Street.</p>
<p>Present: Paul Stern, Chair Leslie Woolcott Teresa Kerr, Vice Chair Mauro DiCarlo Councillor Riel Councillor Baldwin</p>
<p>Regrets: Eric Prevost Steven MacDonald Barb Connor</p>
<p>Staff: Natalie Garnett, Deputy Clerk Jennifer Jones, Acting Library Manager/CEO Ken Doherty, Director of Community Services Scott Elliott, Corporate Sponsorship Coordinator Gillian Barnes, Project Manager Facilities and Planning Initiatives</p>
<p>The Chair advised that Eric Prevost has regretfully resigned from the Library Board due to work commitments.  The Board commented on the contributions made by Eric during his time with the Board.</p>
<p>Minutes – September 27, 2016</p>
<p>Moved by Councillor Baldwin</p>
<p>That the minutes of the Public Library Board of Trustees meeting held on September 27, 2016 be approved as circulated.</p>
<p>“CARRIED”</p>
<p>Peterborough Public Library Board of Trustees Minutes</p>
<p>Meeting of October 25, 2016</p>
<p>Page 2</p>
<br>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Pecuniary Interest.</p>
<p>Consent Agenda</p>
<p>No items were approved as part of the Consent Agenda.</p>
<p>Acting Library Manager/CEO Report PPL16-038 Corporate Sponsorship Revisited</p>
<p>Scott Elliott, Corporate Sponsorship Coordinator, gave a presentation on the potential sponsorship opportunities available in the new library facility.</p>
<p>Moved by Teresa Kerr</p>
<p>That the Library Board approve the recommendation outlined in Report PPL16- 038 dated October 25, 2016, of the Acting Library Manager/CEO as follows:</p>
<p>That the presentation on corporate sponsorship opportunities by Scott Elliott, Corporate Sponsorship Coordinator, be received for information: and,</p>
<p>That the Board endorse the sponsorship opportunities search in principle and that information be presented to the Board as the process proceeds.</p>
<p>“CARRIED”</p>
<p>Acting Library Manager/CEO Report PPL16-040 Library Renovations Update</p>
<p>Gillian Barnes, Project Manager Facilities and Planning Initiatives, provided a presentation on the renovation underway at the main branch of the library.</p>
<p>Peterborough Public Library Board of Trustees Minutes</p>
<p>Meeting of October 25, 2016</p>
<p>Page 3</p>
<br>
<p>Moved by Councillor Baldwin</p>
<p>That the Library Board approve the recommendation outlined in Report PPL16- 040 dated October 25, 2016, of the Acting Library Manager/CEO as follows:</p>
<p>That the presentation on the library renovation status by the City’s Project Manager Facilities and Planning Initiatives, Gillian Barnes be received.</p>
<p>“CARRIED”</p>
<p>Acting Library Manager/CEO Report PPL16-041 Quarterly Budget Update</p>
<p>Jennifer Jones, Acting Library Manager/CEO provided spreadsheets indicating actual versus budget figures to the third quarter.</p>
<p>Moved by Leslie Woolcott</p>
<p>That the Library Board approve the recommendation in Report PPL16-041 dated October 25, 2016, of the Acting Manager/CEO as follows,</p>
<p>That the quarterly budget update provided by the Acting Library Manager/CEO be received for information.</p>
<p>“CARRIED”</p>
<p>Acting Library Manager/CEO Report PPL16-032A Holiday Operating Hours - Updated</p>
<p>Moved by Mauro DiCarlo</p>
<p>That the Library Board approve the recommendations outlined in Report PPL16- 032A dated October 25, 2016, of the Acting Library Manager/CEO as follows:</p>
<p>a)</p>
<p>That the Library hours of operation be adjusted to 10:00 am to 5:00 pm for the dates of December 27 to December 30, 2016;</p>
<br>
<p>Peterborough Public Library Board of Trustees Minutes</p>
<p>Meeting of October 25, 2016</p>
<p>Page 4</p>
<br>
<p>b)</p>
<p>c)</p>
<p>That both the Main and DelaFosse Library branches be closed early, at 1:00pm on Saturday, December 24 and Saturday, December 31, 2016, in accordance with the CUPE 1833 collective agreement; and</p>
<p>That both the Main and DelaFosse Library branches be closed on January 2, 2017 in observance of the January 1, 2017 holiday.</p>
<p>“CARRIED”</p>
<p>Acting Library Manager/CEO Report PPL16-039 Acting Library Manager/CEO Report October 2016</p>
<p>Moved by Leslie Woolcott</p>
<p>That the Library Board approve the recommendation outlined in Report PPL16- 039 dated October 25, 2016, of the Acting Library Manager/CEO, as follows:</p>
<p>That report PPL16-039 on Library operations in October be received for information.</p>
<p>“CARRIED”</p>
<p>Acting Library Manager/CEO Report PPL16-043 Accessible Collections</p>
<p>Moved by Councillor Riel</p>
<p>That the Library Board approve the recommendations outlined in Report PPL16- 043 dated October 25, 2016, of the Acting Library Manager/CEO, as follows:</p>
<p>Peterborough Public Library Board of Trustees Minutes</p>
<p>Meeting of October 25, 2016</p>
<p>That Report PPL16-043 be received for information;</p>
<p>Page 5</p>
<br>
<p>That Staff be directed to continue efforts to gradually increase the Library’s supply of materials in accessible formats, in keeping with the existing Materials Acquisition Policy; and</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>That the Materials Acquisition Policy not be reviewed or amended at this time.</p>
<p>“CARRIED”</p>
<p>Acting Library Manager/CEO Report PPL16-042 Updates from the Peterborough Public Library Foundation and the Friends of the Peterborough Public Library</p>
<p>Moved by Councillor Baldwin</p>
<p>That the verbal updates on the activities of the Peterborough Public Library Foundation and the Friends of the Peterborough Public Library, be received for information.</p>
<p>“CARRIED”</p>
<p>Verbal Report Update – Memorandum of Understanding</p>
<p>Moved by Mauro DiCarlo</p>
<p>That the verbal update on the status of the Memorandum of Understanding between the City of Peterborough and the Peterborough Public Library, be received for information.</p>
<p>“CARRIED”</p>
<br>
<p>Peterborough Public Library Board of Trustees Minutes</p>
<p>Meeting of October 25, 2016</p>
<p>Page 6</p>
<br>
<p>Other Business</p>
<p>Moved by Teresa Kerr</p>
<p>That the Library Board go into Closed Session at 9:13 p.m. under section 239(2)(b) of the Municipal Act, Personal matters about an identifiable individual, including municipal or local board employees, to discuss a staffing matter.</p>
<p>“CARRIED”</p>
<p>Moved by Leslie Woolcott</p>
<p>That the Library Board rise from Closed Session at 9:21 p.m.</p>
<p>“CARRIED”</p>
<p>Next Meeting</p>
<p>The Chair indicated that the next Board meeting will be held on November 29, 2016.</p>
<p>Adjournment</p>
<p>Moved by Mauro DiCarlo</p>
<p>That this meeting of the Public Library Board of Trustees adjourn at 9:22 p.m.</p>
<p>"CARRIED"</p>
<br>
<p>Natalie Garnett Deputy Clerk</p>
<p>Paul Stern Chair</p>
<br></div>