<!doctype html><div><p>Public Library Board of Trustees</p>
<p>City of Peterborough</p>
<p>November 29, 2016</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of the Public Library Board of Trustees Held on</p>
<p>November 29, 2016 at the DelaFosse Branch, 729 Park Street.</p>
<br>
<p>The meeting of the Public Library Board of Trustees was called to order at 7:30 p.m. at the DelaFosse branch, 729 Park Street.</p>
<p>Present: Paul Stern, Chair Leslie Woolcott Teresa Kerr, Vice Chair Mauro DiCarlo Steven MacDonald</p>
<p>Regrets: Barb Connor Councillor Riel Councillor Baldwin</p>
<p>Staff: Natalie Garnett, Deputy Clerk Jennifer Jones, Acting Library Manager/CEO</p>
<br>
<p>Minutes – October 25, 2016</p>
<p>Moved by Teresa Kerr</p>
<p>That the minutes of the Public Library Board of Trustees meeting held on October 25, 2016 be approved as circulated.</p>
<p>“CARRIED”</p>
<p>Peterborough Public Library Board of Trustees Minutes</p>
<p>Meeting of November 29, 2016</p>
<p>Page 2</p>
<br>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Pecuniary Interest.</p>
<p>Consent Agenda</p>
<p>Moved by Steven MacDonald</p>
<p>That item 6 be approved as part of the Consent Agenda.</p>
<p>“CARRIED”</p>
<p>Acting Library Manager/CEO Report PPL16-046 Acting Library Manager/CEO Report November 2016</p>
<p>Moved by Steven MacDonald</p>
<p>That the Library Board approve the recommendations outlined in Report PPL16- 046 dated November 29, 2016, of the Acting Library Manager/CEO as follows:</p>
<p>That the report be received for information.</p>
<p>“CARRIED”</p>
<p>Acting Library Manager/CEO Report PPL16-047 MOU Update</p>
<p>Teresa Kerr provided an update on the activities of the Memorandum of Understanding Committee.</p>
<p>Moved by Mauro DiCarlo</p>
<p>That the Library Board approve the recommendation outlined in Report PPL16- 047 dated November 29, 2016, of the Acting Library Manager/CEO as follows:</p>
<p>Peterborough Public Library Board of Trustees Minutes</p>
<p>Meeting of November 29, 2016</p>
<p>Page 3</p>
<br>
<p>That a presentation to inform the Library Board of the status of the Library Board/City of Peterborough Memorandum of Understanding by the Committee’s Chair, be received for information.</p>
<p>“CARRIED”</p>
<p>Acting Library Manager/CEO Report PPL16-045 Update from the Foundation and Friends of the Library</p>
<p>Moved by Leslie Woolcott</p>
<p>That the Library Board approve the recommendation outlined in Report PPL16- 045 dated November 29, 2016, of the Acting Library Manager/CEO as follows:</p>
<p>That a presentation to inform the Library Board on the status of the Peterborough Public Library Foundation and Friends of the Peterborough Public Library, be received for information.</p>
<p>“CARRIED”</p>
<p>Acting Library Manager/CEO Report PPL16-044 Proposed 2017 Meeting Dates for the Peterborough Public Library Board of Trustees</p>
<p>Moved by Teresa Kerr</p>
<p>That the Library Board approve the following 2017 meeting dates for the Peterborough Public Library Board of Trustees:</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>June 27 September 26 October 24 November 21 December 12</p>
<p>January 31 February 28</p>
<p>March 28</p>
<p>April 25 May 30</p>
<p>“CARRIED”</p>
<br>
<p>Peterborough Public Library Board of Trustees Minutes</p>
<p>Meeting of November 29, 2016</p>
<p>Page 4</p>
<br>
<p>Acting Library Manager/CEO Report PPL16-048 Accessibility Training Update</p>
<p>Moved by Mauro DiCarlo</p>
<p>That the Library Board approve the recommendation outlined in Report PPL16- 048 dated November 29, 2016, of the Acting Library Manager/CEO, as follows:</p>
<p>That report on updates tot he AODA Customer Service Standard be received for information.</p>
<p>“CARRIED”</p>
<p>Other Business</p>
<p>Moved by Steven MacDonald</p>
<p>That the Chair and Vice Chair arrange to meet with the individual concerned about the number of audio books available.</p>
<p>“CARRIED”</p>
<p>Next Meeting</p>
<p>The Chair indicated that the next Board meeting will be held on December 13, 2016.</p>
<p>Adjournment</p>
<p>Moved by Leslie Woolcott</p>
<p>That this meeting of the Public Library Board of Trustees adjourn at 8:16 p.m.</p>
<p>"CARRIED"</p>
<br>
<p>Natalie Garnett Deputy Clerk</p>
<p>Peterborough Public Library Board of Trustees Minutes</p>
<p>Meeting of November 29, 2016</p>
<p>Page 5</p>
<br>
<p>Paul Stern Chair</p>
<br></div>