<!doctype html><div><p>Public Library Board of Trustees</p>
<p>City of Peterborough</p>
<p>December 13, 2016</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of the Public Library Board of Trustees Held on</p>
<p>December 13, 2016 at the DelaFosse Branch, 729 Park Street.</p>
<br>
<p>The meeting of the Public Library Board of Trustees was called to order at 7:30 p.m. at the DelaFosse branch, 729 Park Street.</p>
<p>Present: Paul Stern, Chair Leslie Woolcott Teresa Kerr, Vice Chair Mauro DiCarlo Barb Connor Councillor Riel Councillor Baldwin Garth Wedlock</p>
<p>Regrets: Steven MacDonald</p>
<p>Staff: Natalie Garnett, Deputy Clerk Jennifer Jones, Acting Library Manager/CEO</p>
<p>The Chair welcomed and introduced Garth Wedlock to the Library Board of Trustees.</p>
<p>Minutes – November 29, 2016</p>
<p>Moved by Teresa Kerr</p>
<p>That the minutes of the Public Library Board of Trustees meeting held on November 29, 2016 be approved as amended.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Pecuniary Interest.</p>
<p>Peterborough Public Library Board of Trustees Minutes</p>
<p>Meeting of December 13, 2016</p>
<p>Page 2</p>
<br>
<p>Closed Session</p>
<p>Moved by Barb Connor</p>
<p>That the Public Library Board of Trustees move into Closed Session to discuss one item under Section 239(2)(b) Personal matters about an identifiable individual, including municipal or local board employees and one item under Section 239(2)(e) Litigation or potential litigation, including matters before administrative tribunals, affecting the municipality or local board.</p>
<p>“CARRIED”</p>
<br>
<br>
<br>
<p>The Board entered closed session at 7:06 p.m.</p>
<p>Moved by Councillor Riel</p>
<p>That the Peterborough Public Library Board of Trustees rise from Closed Session.</p>
<p>“CARRIED”</p>
<p>Open Session</p>
<p>The Board reconvened in open session at 8:20 p.m.</p>
<p>Consent Agenda</p>
<p>No items were approved as part of the Consent Agenda.</p>
<p>Acting Library Manager/CEO Report PPL16-051 Memorandum of Understanding Update</p>
<p>Moved by Mauro DiCarlo</p>
<p>That the Library Board approve the recommendation outlined in Report PPL16- 051 dated December 13, 2016, of the Acting Library Manager/CEO as follows:</p>
<p>Peterborough Public Library Board of Trustees Minutes</p>
<p>Meeting of December 13, 2016</p>
<p>Page 3</p>
<br>
<p>That a verbal report to inform the Library Board of the Status of the Library Board/City of Peterborough Memorandum of Understanding by the committee’s Chair be received for information.</p>
<p>“CARRIED”</p>
<p>Acting Library Manager/CEO Report PPL16-049 Updates from the Foundation and Friends of the Library</p>
<p>Moved by Garth Wedlock</p>
<p>That the Library Board approve the recommendation outlined in Report PPL16- 049 dated December 13, 2016, of the Acting Library Manager/CEO as follows:</p>
<p>That a verbal report to inform the Library Board on the status of the Peterborough Public Library Foundation by Teresa Kerr, be received for information.</p>
<p>“CARRIED”</p>
<p>Moved by Councilor Riel</p>
<br>
<p>That the Library Board approve the recommendation outlined in Report PPL16- 049 dated December 13, 2016, of the Acting Library Manager/CEO as follows:</p>
<p>That a verbal report to inform the Library Board on the status of the Friends of the Peterborough Public Library by Barb Connor, be received for information.</p>
<p>“CARRIED”</p>
<p>Acting Library Manager/CEO Report PPL16-050 Acting Library Manager/CEO Report December 2016</p>
<p>Moved by Teresa Kerr</p>
<p>That the Library Board approve the recommendation outlined in Report PPL16- 050 dated December 13, 2016, of the Acting Library Manager/CEO as follows:</p>
<p>Peterborough Public Library Board of Trustees Minutes</p>
<p>Meeting of December 13, 2016</p>
<p>Page 4</p>
<br>
<p>That Report PPL16-050, Acting Library Manager/CEO Report for December 2016, be received for information.</p>
<p>“CARRIED”</p>
<p>Other Business</p>
<p>Moved by Councillor Baldwin</p>
<p>That the Federation of Ontario Public Libraries and the Administrators of Medium- sized Public Libraries of Ontario membership renewals be discussed at the January 31, 2017 meeting.</p>
<p>“CARRIED”</p>
<p>Next Meeting</p>
<p>The Chair indicated that the next Board meeting will be held on January 31, 2017.</p>
<p>Adjournment</p>
<p>Moved by Garth Wedlock</p>
<p>That this meeting of the Public Library Board of Trustees adjourn at 8:46 p.m.</p>
<p>"CARRIED"</p>
<br>
<p>Natalie Garnett Deputy Clerk</p>
<p>Paul Stern Chair</p>
<br></div>