<!doctype html><div><p>Public Library Board of Trustees</p>
<p>City of Peterborough</p>
<p>May 30, 2017</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of the Public Library Board of Trustees Held on</p>
<p>May 30, 2017 at the DelaFosse Branch, 729 Park Street.</p>
<br>
<p>The meeting of the Public Library Board of Trustees was called to order at 7:06 p.m. at the DelaFosse branch, 729 Park Street.</p>
<p>Present: Paul Stern, Chair Teresa Kerr, Vice Chair Councillor Baldwin Barb Connor Dan Moloney Councillor Riel Garth Wedlock Leslie Woolcott</p>
<p>Regrets: Mauro DiCarlo</p>
<p>Staff: Natalie Garnett, Deputy City Clerk Jennifer Jones, Library CEO</p>
<p>Minutes – April 25, 2017</p>
<p>Moved by Dan Moloney</p>
<p>That the minutes of the Public Library Board of Trustees meeting held on April 25, 2017 be approved as circulated.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Pecuniary Interest.</p>
<p>Peterborough Public Library Board of Trustees Minutes</p>
<p>Meeting of May 30, 2017</p>
<p>Page 2</p>
<br>
<p>Consent Agenda</p>
<p>No items were approved as part of the Consent Agenda.</p>
<p>Library CEO Report PPL17-035 MOU Update</p>
<p>Moved by Barb Connor</p>
<p>That the Library Board approve the recommendation outlined in Report PPL17- 035 dated May 30, 2017, of the Library CEO, as follows:</p>
<p>That a verbal report to inform the Library Board of the status of the Library Board/City of Peterborough Memorandum of Understanding be received for information.</p>
<p>“CARRIED”</p>
<p>Library CEO Report PPL17-036 Updates from the Foundation and Friends of the Library</p>
<p>Moved by Councillor Riel</p>
<p>That the Library Board approve the recommendations outlined in Report PPL17- 036 dated May 30, 2017, of the Library CEO, as follows:</p>
<p>a)</p>
<p>That a verbal report to inform the Library Board on the status of the Peterborough Public Library Foundation by Jennifer Jones be received for information; and</p>
<p>That a verbal report to inform the Library Board on the status of  the Friends of the Peterborough Public Library by Barb Connor be received for information.</p>
<p>b)</p>
<p>“CARRIED”</p>
<br>
<p>Peterborough Public Library Board of Trustees Minutes</p>
<p>Meeting of May 30, 2017</p>
<p>Page 3</p>
<br>
<p>Library CEO Report PPL17-026 Library CEO Report April/May 2017</p>
<p>Moved by Leslie Woolcott</p>
<p>That the Library Board approve the recommendation outlined in Report PPL17- 026, dated May 30, 2017, of the Library CEO as follows:</p>
<p>That Report PPL17-026, be received for information.</p>
<p>“CARRIED”</p>
<p>Library CEO Report PPL17-032 Digitization Funds Update</p>
<p>The Board requested additional information on the potential costs involved in the digitization process.</p>
<p>Moved by Councillor Baldwin</p>
<p>That Report PPL17-032 be deferred to the June 27, 2017 meeting.</p>
<p>“CARRIED”</p>
<p>Library CEO Report PPL17-034 Library Rooms Booking Policy</p>
<p>Moved by Teresa Kerr</p>
<p>That Report PPL17-034 be redrafted and presented at the June 27, 2017 meeting with the proposed changes highlighted.</p>
<p>“CARRIED”</p>
<br>
<p>Peterborough Public Library Board of Trustees Minutes</p>
<p>Meeting of May 30, 2017</p>
<p>Page 4</p>
<br>
<p>Library CEO Report PPL17-037 Library Strategic Plan – Status Update</p>
<p>Moved by Leslie Woolcott</p>
<p>That the Library Board approve Report PPL17-037, dated May 30, 2017 concerning the Library Strategic Plan, as follows:</p>
<p>a)   That Report PPL17-037 of the Library CEO be received for information; and,</p>
<p>b)   That the Library Board approve the transfer of the funds from Library</p>
<p>Reserves to a capital expenditure account.</p>
<p>“CARRIED”</p>
<p>Teresa Kerr left the meeting at 8:30 p.m.</p>
<p>Library CEO Report PPL17-038 2018 Draft Budget Submission</p>
<p>Moved by Councillor Baldwin</p>
<p>That the Library Board approve the recommendation outlined in Report PPL17- 038 dated May 30, 2017, of the Library CEO, as follows:</p>
<p>a)</p>
<p>That the report be received for information; and,</p>
<p>That the Board approve the submission of the 2018 draft Library Budget.</p>
<p>b)</p>
<p>“CARRIED”</p>
<br>
<p>Peterborough Public Library Board of Trustees Minutes</p>
<p>Meeting of May 30, 2017</p>
<p>Page 5</p>
<br>
<br>
<p>Library CEO Report PPL17-039 Peterborough Eats Inquiry</p>
<p>Moved by Councillor Baldwin</p>
<p>That Report PPL17-039 be received for information;</p>
<p>That a letter be provided to the owners of Peterborough Eats; and,</p>
<p>That the issue of the Library Cafe be placed on the June 27, 2017 agenda and details on the space be provided.</p>
<p>“CARRIED”</p>
<p>Other Business</p>
<p>Foundation Naming Rights</p>
<p>The Chair of the Library Board will contact the Chair of the Library Foundation to discuss recognition in the newly renovated library.</p>
<p>Next Meeting</p>
<p>The Chair indicated that the next Board meeting will be held on June 27, 2017.</p>
<p>Peterborough Public Library Board of Trustees Minutes</p>
<p>Meeting of May 30, 2017</p>
<p>Page 6</p>
<br>
<p>Adjournment</p>
<p>Moved by Leslie Woolcott</p>
<p>That this meeting of the Public Library Board of Trustees adjourn at 9:38 p.m.</p>
<p>"CARRIED"</p>
<br>
<p>Natalie Garnett Deputy Clerk</p>
<p>Paul Stern Chair</p>
<br></div>