<!doctype html><div><p>Public Library Board of Trustees</p>
<p>City of Peterborough</p>
<p>September 26, 2017</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Minutes of a Special Meeting of the Public Library Board of Trustees Held on</p>
<p>September 26, 2017 at the DelaFosse Branch, 729 Park Street.</p>
<br>
<p>The meeting of the Public Library Board of Trustees was called to order at 7:00 p.m. at the DelaFosse branch, 729 Park Street.</p>
<p>Present: Paul Stern, Chair Councillor Baldwin Barb Connor Mauro DiCarlo Dan Moloney Councillor Riel Garth Wedlock Leslie Woolcott</p>
<p>Staff: Natalie Garnett, Deputy City Clerk Jennifer Jones, Library CEO</p>
<p>Minutes – June 27 and August 29, 2017</p>
<p>Moved by Councillor Baldwin</p>
<p>That the minutes of the Public Library Board of Trustees meeting held on June 27, 2017 be approved as circulated.</p>
<p>“CARRIED”</p>
<p>Moved by Dan Moloney</p>
<p>That the minutes of the Public Library Board of Trustees meeting held on August 29, 2017 be approved as circulated.</p>
<p>“CARRIED”</p>
<p>Peterborough Public Library Board of Trustees Minutes</p>
<p>Meeting of September 26, 2017</p>
<p>Page 2</p>
<br>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Pecuniary Interest.</p>
<p>Election of Vice Chair</p>
<p>The Chair called for nominations for the position of Vice Chair.</p>
<p>Moved by Councillor Baldwin</p>
<p>That Leslie Woolcott be appointed as Vice Chair of the Peterborough Public Library Board for 2017.</p>
<p>“CARRIED”</p>
<p>Consent Agenda</p>
<p>No items were approved as part of the Consent Agenda.</p>
<p>Library CEO Report PPL17-056 Update from the Foundation and Friends of the Library</p>
<p>Moved by Mauro DiCarlo</p>
<p>That the Library Board approve the recommendation outlined in Report PPL17- 056 dated September 26, 2017, of the Library CEO, as follows:</p>
<p>That the verbal reports to inform the Library Board on the status of the Peterborough Public Library Foundation and the Friends of the Peterborough Public Library, be received for information.</p>
<p>“CARRIED”</p>
<br>
<p>Peterborough Public Library Board of Trustees Minutes</p>
<p>Meeting of September 26, 2017</p>
<p>Page 3</p>
<br>
<p>Library CEO Report PPL17-053 KBOGS Agreement</p>
<p>Moved by Dan Moloney</p>
<p>That the Library Board approve the recommendations outlined in Report PPL17- 053 dated September 26, 2017, of the Library CEO, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>That Report PPL17-053 be received for information; and,</p>
<p>That staff provide the draft agreement to the City Legal Department for comment, prior to forwarding it to the Kawartha Branch of the Ontario Genealogical Society for signature.</p>
<p>“CARRIED”</p>
<p>Library CEO Report PPL17-054 2017 Holiday Operating Hours</p>
<p>Library Board members were asked to review the draft Memorandum of Understanding document and provide any additional comments/proposed changes to the Chair and the CEO.</p>
<p>Moved by Barb Connor</p>
<p>That the Library Board approve the recommendations outlined in Report PPL17- 054, dated September 26, 2017, of the Library CEO as follows:</p>
<p>a)</p>
<p>That the Library hours of operation at the main branch be adjusted to 10:00 a.m. to 5:00 p.m. for the dates of December 27 to December 29, 2017; and,</p>
<p>That the main branch be closed early at 1:00 p.m. on Saturday, December 23, 2017 and Saturday, December 30, 2017 in accordance with the CUPE 1833 collective agreement.</p>
<p>b)</p>
<p>“CARRIED”</p>
<br>
<p>Peterborough Public Library Board of Trustees Minutes</p>
<p>Meeting of September 26, 2017</p>
<p>Page 4</p>
<br>
<p>Library CEO Report PPL17-055 Library Strategic Plan – Status Update</p>
<p>Moved by Councillor Riel</p>
<p>That the Library Board approve the recommendations outlined in Report PPL17- 055, dated September 26, 2017, of the Library CEO as follows:</p>
<p>That the Report of the Library CEO be received for information.</p>
<p>“CARRIED”</p>
<p>Library CEO Report PPL17-057 Library CEO Report September 2017</p>
<p>Moved by Leslie Woolcott</p>
<p>That the Library Board approve the recommendation outlined in Report PPL17- 057 dated September 26, 2017, of the Library CEO, as follows:</p>
<p>That the report be received for information.</p>
<p>“CARRIED”</p>
<p>Moved by Councillor Baldwin</p>
<p>That the Chair/Vice Chair of the Peterborough Public Library Board provide a letter to the Library staff thanking them for their hard work at the temporary main branch location and to offer congratulations on their successful summer events.</p>
<p>“CARRIED”</p>
<br>
<p>Peterborough Public Library Board of Trustees Minutes</p>
<p>Meeting of September 26, 2017</p>
<p>Page 5</p>
<br>
<p>Library CEO Report PPL17-058 Library Renovation Update</p>
<p>Moved by Mauro DiCarlo</p>
<p>That the Library Board approve the recommendation in Report PPL17-058, dated September 26, 2017 of the Library CEO, as follows:</p>
<p>That Report PPL17-058 of the Library CEO be received for information.</p>
<p>“CARRIED”</p>
<p>Other Business</p>
<p>There were no items of Other Business.</p>
<p>Next Meeting</p>
<p>The Chair indicated that the next Board meeting will be held on October 24, 2017.</p>
<p>Adjournment</p>
<p>Moved by Dan Moloney</p>
<p>That this meeting of the Public Library Board of Trustees adjourn at 8:12 p.m.</p>
<p>"CARRIED"</p>
<br>
<p>Natalie Garnett Deputy Clerk</p>
<p>Paul Stern Chair</p>
<br></div>