<!doctype html><div><br>
<br>
<br>
<br>
<p>Museum & Archives Advisory</p>
<p>Committee</p>
<p>City of Peterborough</p>
<p>March 10, 2016</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<p>Minutes of a Meeting of the Museum & Archives Advisory Committee</p>
<p>held on March 10, 2016 in the Fine Annex, Museum.</p>
<br>
<p>The meeting of the Museum & Archives Advisory Committee was called to order at 5:06 p.m. by Nancy Jackson, Chair, in the Fine Annex, Peterborough Museum & Archives.</p>
<p>Present: Ann Sullivan Jodi Aoki Karen Carter-Edwards Linda Lumsden Morgan Tamplin Nancy Jackson, Chair Ken Brown Councillor Riel Gayle McIntyre</p>
<p>Staff: Susan Neale, Museum Director Kendra Sedgwick, Committee Coordinator</p>
<p>Minutes – January 14, 2016</p>
<p>Moved by Morgan Tamplin</p>
<p>That the minutes of the Museum & Archives Advisory Committee meeting held on January 14, 2016 be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of interest.</p>
<br>
<p>Museum & Archives Advisory Committee</p>
<p>Meeting of March 10, 2016</p>
<p>Page 2</p>
<p>Consent Agenda</p>
<p>Moved by Karen Carter-Edwards</p>
<p>That items 4, 5 and 6 be approved as part of the Consent Agenda.</p>
<p>“CARRIED”</p>
<p>Museum Director Report MAAC16-005 Peterborough Museum & Archives: 2017 User Fees</p>
<p>Moved by Karen Carter-Edwards</p>
<p>That the Museum & Archives Advisory Committee approve the recommendation outlined in Report MAAC16-005, dated March 10, 2016, of the Museum Director, as follows:</p>
<p>That the Peterborough Museum & Archives 2017 User Fees be approved.</p>
<p>“CARRIED”</p>
<p>Museum Director Report MAAC16-006 Peterborough Museum & Archives: By-Law Update</p>
<p>Moved by Karen Carter-Edwards</p>
<p>That the Museum & Archives Advisory Committee approve the recommendation outlined in Report MAAC16-006, dated March 10, 2016, of the Museum Director, as follows:</p>
<p>That the Museum Director’s report on the repeal and replacement of the Peterborough Museum & Archives Advisory Committee By-law be received for information.</p>
<p>“CARRIED”</p>
<br>
<p>Museum & Archives Advisory Committee</p>
<p>Meeting of March 10, 2016</p>
<p>Page 3</p>
<p>Museum Director Report MAAC16-007 Peterborough Museum & Archives: Report on Activities</p>
<p>Moved by Karen Carter-Edwards</p>
<p>That the Museum & Archives Advisory Committee approve the recommendation outlined in Report MAAC16-007, dated March 10, 2016, of the Museum Director, as follows:</p>
<p>That the Museum Director’s report on the upcoming activities of the Peterborough Museum & Archives be received for information.</p>
<p>“CARRIED”</p>
<p>Museum Director Report MAAC16-004 “In the Spotlight”: Doors Open Peterborough 2016</p>
<p>Kathryn Matheson, Heritage Researcher, provided an overview of Report MAAC16-004.</p>
<p>Moved by Karen Carter-Edwards</p>
<p>That the Museum & Archives Advisory Committee approve the recommendation outlined in Report MAAC16-004, dated March 10, 2016, of the Museum Director, as follows:</p>
<p>That the presentation by the Heritage Researcher, City of Peterborough, be received for information.</p>
<p>“CARRIED”</p>
<p>Other Business</p>
<p>“Building Identity” Exhibition curated by Fleming College Museum Management and Curatorship program will open on Thursday, April 21 at 2:00 p.m.</p>
<br>
<p>Museum & Archives Advisory Committee</p>
<p>Meeting of March 10, 2016</p>
<p>Page 4</p>
<p>Next Meeting</p>
<p>The Chair indicated that the next meeting is scheduled for May 12, 2016.</p>
<p>Adjournment</p>
<p>Moved by Jodi Aoki</p>
<p>That this meeting of the Museum & Archives Advisory Committee adjourn at 5:52 p.m.</p>
<p>"CARRIED"</p>
<p>Kendra Sedgwick Committee Coordinator</p>
<p>Nancy Jackson Chair</p>
<br></div>