<!doctype html><div><br>
<br>
<br>
<br>
<p>Museum & Archives Advisory</p>
<p>Committee</p>
<p>City of Peterborough</p>
<p>January 19, 2017</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<p>Minutes of a Special Meeting of the Museum & Archives Advisory</p>
<p>Committee held on January 19, 2016 in the Fine Annex, Museum.</p>
<br>
<p>The meeting of the Museum & Archives Advisory Committee was called to order at 5:02 p.m. by Kendra Sedgwick, Committee Coordinator, in the Fine Annex, Peterborough Museum & Archives.</p>
<p>Present: Ann Sullivan Jodi Aoki Karen Carter-Edwards Linda Lumsden Debbie Flieler Claude Dufresne Ken Brown Gayle McIntyre</p>
<p>Regrets: Councillor Riel</p>
<p>Staff: Ken Doherty, Director of Community Services Susan Neale, Museum Director Kendra Sedgwick, Committee Coordinator</p>
<p>The Committee members introduced themselves and welcomed new members Claude Dufresne and Debbie Flieler to the Committee.</p>
<br>
<p>Museum & Archives Advisory Committee</p>
<p>Meeting of January 19, 2017</p>
<p>Page 2</p>
<p>Election of Officers – 2017</p>
<p>The Committee Coordinator called for nominations for the position of Chair.</p>
<p>Chair</p>
<p>Moved by Jodi Aoki</p>
<p>That Gayle McIntyre be appointed as Chair of the Museum and Archives Advisory Committee for 2017.</p>
<p>"CARRIED"</p>
<p>Gayle McIntyre assumed the Chair.</p>
<p>The Chair called for nominations for the position of Vice Chair.</p>
<p>Vice Chair</p>
<p>Moved by Jodi Aoki</p>
<p>That Ann Sullivan be appointed as Vice Chair of the Museum and Archives Advisory Committee for 2017.</p>
<p>"CARRIED"</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of interest.</p>
<br>
<p>Museum & Archives Advisory Committee</p>
<p>Meeting of January 19, 2017</p>
<p>Page 3</p>
<p>Closed Session</p>
<p>Moved by Claude Dufresne</p>
<p>That Committee move into closed session on one item under Section 239(2)(c) A proposed or pending acquisition of disposition of land by the municipality or local board.</p>
<p>“CARRIED”</p>
<p>Committee entered closed session at 5:11 p.m.</p>
<p>Moved by Karen Carter-Edwards</p>
<p>That the Committee rise from Closed Session.</p>
<p>“CARRIED”</p>
<p>Open Session</p>
<br>
<br>
<br>
<p>The Committee reconvened in open session at 6:16 p.m.</p>
<p>Next Meeting</p>
<p>The Chair indicated that the next meeting is scheduled for February 9, 2017.</p>
<p>Adjournment</p>
<p>Moved by Linda Lumsden</p>
<p>That this meeting of the Museum & Archives Advisory Committee adjourn at 6:20 p.m.</p>
<p>"CARRIED"</p>
<p>Kendra Sedgwick Committee Coordinator</p>
<p>Gayle McIntyre, Chair</p>
<br></div>