<!doctype html><div><br>
<br>
<br>
<br>
<p>Museum & Archives Advisory</p>
<p>Committee</p>
<p>City of Peterborough</p>
<p>May 11, 2017</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<p>Minutes of a Meeting of the Museum & Archives Advisory Committee</p>
<p>held on May 11, 2017 in the Fine Annex, Museum.</p>
<br>
<p>The meeting of the Museum & Archives Advisory Committee was called to order at 5:00 p.m. by Gayle McIntyre, Chair, in the Fine Annex, Peterborough Museum & Archives.</p>
<p>Present: Ann Sullivan Jodi Aoki Karen Carter-Edwards (5:03 p.m.) Linda Lumsden Debbie Flieler Claude Dufresne Ken Brown Gayle McIntyre, Chair Councillor Riel</p>
<p>Staff: Susan Neale, Museum Director Kendra Sedgwick, Committee Coordinator</p>
<p>Minutes – March 9, 2017</p>
<p>Moved by Claude Dufresne</p>
<p>That the minutes of the Museum & Archives Advisory Committee meetings held on March 9, 2017 be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of interest.</p>
<br>
<p>Museum & Archives Advisory Committee</p>
<p>Meeting of May 11, 2017</p>
<p>Page 2</p>
<p>Consent Agenda</p>
<p>Moved by Councillor Riel</p>
<p>That item 5 be approved as part of the Consent Agenda.</p>
<p>“CARRIED”</p>
<p>Museum Director Report MAAC17-006 Peterborough Museum & Archives: 2017 CMOG Update</p>
<p>Moved by Councillor Riel</p>
<p>That the Museum & Archives Advisory Committee approve the recommendation outlined in Report MAAC17-006 dated May 11, 2017, of the Museum Director, as follows:</p>
<p>That the presentation by the Museum Director, Peterborough Museum & Archives, be received for information.</p>
<p>“CARRIED”</p>
<p>Museum Director Report MAAC17-005 Peterborough Museum & Archives: 2018 DRAFT Budget Updates</p>
<p>Moved by Ann Sullivan</p>
<p>That the Museum & Archives Advisory Committee approve the recommendation outlined in Report MAAC17-005 dated May 11, 2017, of the Museum Director, as follows:</p>
<p>That the presentation by the Museum Director, Peterborough Museum & Archives, be received for information.</p>
<p>“CARRIED”</p>
<br>
<p>Museum & Archives Advisory Committee</p>
<p>Meeting of May 11, 2017</p>
<p>Page 3</p>
<p>Museum Director Report MAAC17-008 Peterborough Museum & Archives: Report on Activities</p>
<p>Moved by Claude Dufresne</p>
<p>That the Museum & Archives Advisory Committee approve the recommendation outlined in Report MAAC17-008, dated May 11, 2017, of the Museum Director, as follows:</p>
<p>That the Museum Director’s report on the upcoming activities of the Peterborough Museum & Archives be received for information.</p>
<p>“CARRIED”</p>
<p>Museum Director Report MAAC17-007 Peterborough Museum & Archives: 2018 User Fees</p>
<p>Moved by Karen Carter-Edwards</p>
<p>That the Museum & Archives Advisory Committee approve the recommendation outlined in Report MAAC17-007 dated May 11, 2017, of the Museum Director, as follows:</p>
<p>That the Peterborough Museum & Archives 2018 User Fees be approved.</p>
<p>“CARRIED”</p>
<p>Other Business</p>
<p>There were no items of Other Business.</p>
<p>Next Meeting</p>
<p>The Chair indicated that the next meeting is scheduled for June 15, 2017.</p>
<br>
<p>Museum & Archives Advisory Committee</p>
<p>Meeting of May 11, 2017</p>
<p>Page 4</p>
<p>Adjournment</p>
<p>Moved by Jodi Aoki</p>
<p>That this meeting of the Museum & Archives Advisory Committee adjourn at 5:38 p.m.</p>
<p>"CARRIED"</p>
<br>
<p>Kendra Sedgwick Committee Coordinator</p>
<p>Gayle McIntyre, Chair</p>
<br></div>