<!doctype html><div><br>
<br>
<br>
<br>
<p>Museum & Archives Advisory</p>
<p>Committee</p>
<p>City of Peterborough</p>
<p>June 15, 2017</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<p>Minutes of a Meeting of the Museum & Archives Advisory Committee</p>
<p>held on June 15, 2017 in the Fine Annex, Museum.</p>
<br>
<p>The meeting of the Museum & Archives Advisory Committee was called to order at 5:04 p.m. by Gayle McIntyre, Chair, in the Fine Annex, Peterborough Museum & Archives.</p>
<p>Present: Ann Sullivan Jodi Aoki Karen Carter-Edwards Linda Lumsden Debbie Flieler Claude Dufresne Ken Brown Gayle McIntyre, Chair Councillor Riel</p>
<p>Staff: Susan Neale, Museum Director Kendra Sedgwick, Committee Coordinator</p>
<p>Minutes – May 11, 2017</p>
<p>Moved by Claude Dufresne</p>
<p>That the minutes of the Museum & Archives Advisory Committee meeting held on May 11, 2017 be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of interest.</p>
<br>
<p>Museum & Archives Advisory Committee</p>
<p>Meeting of June 15, 2017</p>
<p>Page 2</p>
<p>Consent Agenda</p>
<p>No items were passed as part of the Consent Agenda.</p>
<p>Moved by Karen Carter-Edwards</p>
<p>That the agenda be amended to deal with Item 5, Report MAAC17-011 – Peterborough Museum & Archives: Report on Activities first and Item 3, Report MAAC17-010 – Peterborough Museum & Archives: Exterior Cladding and Window Project – Update last.</p>
<p>“CARRIED”</p>
<p>Museum Director Report MAAC17-011 Peterborough Museum & Archives: Report on Activities</p>
<p>John Oldham, Archivist, provided an overview of the Canada 150th Celebrations that will be taking place at the Peterborough Museum & Archives on Sunday, July 2, 2017.</p>
<p>Moved by Jodi Aoki</p>
<p>That the Museum & Archives Advisory Committee approve the recommendation outlined in Report MAAC17-011, dated June 15, 2017, of the Museum Director, as follows:</p>
<p>That the Museum Director’s report on the upcoming activities of the Peterborough Museum & Archives be received for information.</p>
<p>“CARRIED”</p>
<br>
<p>Museum & Archives Advisory Committee</p>
<p>Meeting of June 15, 2017</p>
<p>Page 3</p>
<p>Museum Director Report MAAC17-009 PMA Exhibition and Insurance Policy Revisions</p>
<p>Moved by Ann Sullivan</p>
<p>That the Museum & Archives Advisory Committee approve the recommendation outlined in Report MAAC17-009 dated June 15, 2017, of the Museum Director, as follows:</p>
<p>That the revisions to the Exhibition Policy and the Insurance Policy, Policy Manual 2015 for the Peterborough Museum & Archives, be approved (Appendix A).</p>
<p>“CARRIED”</p>
<p>Museum Director Report MAAC17-010 Peterborough Museum & Archives: Exterior Cladding and Window Project - Update</p>
<p>Moved by Karen Carter-Edwards</p>
<p>That the Museum & Archives Advisory Committee approve the recommendation outlined in Report MAAC17-010, dated June 15, 2017, of the Museum Director, as follows:</p>
<p>That the presentation by the Museum Director be received for information.</p>
<p>“CARRIED”</p>
<p>Other Business</p>
<p>There were no items of Other Business.</p>
<p>Next Meeting</p>
<p>The Chair indicated that the next meeting is scheduled for October 12, 2017.</p>
<p>Museum & Archives Advisory Committee</p>
<p>Meeting of June 15, 2017</p>
<p>Page 4</p>
<p>Adjournment</p>
<p>Moved by Linda Lumsden</p>
<p>That this meeting of the Museum & Archives Advisory Committee adjourn at 6:12 p.m. p.m.</p>
<p>"CARRIED"</p>
<p>Kendra Sedgwick Committee Coordinator</p>
<p>Gayle McIntyre, Chair</p>
<br></div>