<!doctype html><div><br>
<br>
<br>
<br>
<p>Museum & Archives Advisory</p>
<p>Committee</p>
<p>City of Peterborough</p>
<p>October 12, 2017</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<p>Minutes of a Meeting of the Museum & Archives Advisory Committee</p>
<p>held on October 12, 2017 in the Fine Annex, Museum.</p>
<br>
<p>The meeting of the Museum & Archives Advisory Committee was called to order at 5:00 p.m. by Ann Sullivan, Vice Chair, in the Fine Annex, Peterborough Museum & Archives.</p>
<p>Present: Ann Sullivan, Vice Chair Jodi Aoki Karen Carter-Edwards Debbie Flieler Claude Dufresne Ken Brown Councillor Riel</p>
<p>Regrets: Gayle McIntyre, Chair Linda Lumsden</p>
<p>Staff: Susan Neale, Museum Director Ken Doherty, Director of Community Services Kendra Sedgwick, Committee Coordinator</p>
<p>Minutes – June 15, 2017</p>
<p>Moved by Claude Dufresne</p>
<p>That the minutes of the Museum & Archives Advisory Committee meeting held on June 15, 2017 be approved.</p>
<p>“CARRIED”</p>
<br>
<p>Museum & Archives Advisory Committee</p>
<p>Meeting of October 12, 2017</p>
<p>Page 2</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of interest.</p>
<p>Consent Agenda</p>
<p>Moved by Debbie Flieler</p>
<p>That items 5 and 6 be passed as part of the Consent Agenda.</p>
<p>“CARRIED”</p>
<p>Museum Director Report MAAC17-014 Policy Manual 2017</p>
<p>Moved by Debbie Flieler</p>
<p>That the Museum & Archives Advisory Committee approve the recommendation outlined in Report MAAC17-014 dated October 12, 2017, of the Museum Director, as follows:</p>
<p>That the Museum Director’s report regarding the Policy Manual 2017 for the Peterborough Museum & Archives be received for information.</p>
<p>“CARRIED”</p>
<br>
<p>Museum & Archives Advisory Committee</p>
<p>Meeting of October 12, 2017</p>
<p>Page 3</p>
<p>Museum Director Report MAAC17-013 Peterborough Museum & Archives: Report on Activities</p>
<p>Moved by Debbie Flieler</p>
<p>That the Museum & Archives Advisory Committee approve the recommendation outlined in Report MAAC17-013, dated October 12, 2017, of the Museum Director, as follows:</p>
<p>That the Museum Director’s report on the upcoming activities of the Peterborough Museum & Archives be received for information.</p>
<p>“CARRIED”</p>
<p>Museum Director Report MAAC17-012 Sustainable Peterborough</p>
<p>Ken Doherty, Director of Community Services, provided a presentation to Report MAAC17-012.</p>
<p>Moved by Karen Carter-Edwards</p>
<p>That the Museum & Archives Advisory Committee approve the recommendation outlined in Report MAAC17-012, dated October 12, 2017, of the Museum Director, as follows:</p>
<p>That the presentation on Sustainable Peterborough be received for information.</p>
<p>“CARRIED”</p>
<br>
<p>Museum & Archives Advisory Committee</p>
<p>Meeting of October 12, 2017</p>
<p>Page 4</p>
<p>Museum Director Report MAAC17-015 King George School - Update</p>
<p>Moved by Claude Dufresne</p>
<p>That the Museum & Archives Advisory Committee approve the recommendation outlined in Report MAAC17-015, dated October 12, 2017, of the Museum Director, as follows:</p>
<p>That the presentation on King George School be received for information.</p>
<p>“CARRIED”</p>
<p>Other Business</p>
<p>There were no items of Other Business.</p>
<p>Next Meeting</p>
<p>The Chair indicated that the next meeting is scheduled for November 9, 2017.</p>
<p>Adjournment</p>
<p>Moved by Jodi Aoki</p>
<p>That this meeting of the Museum & Archives Advisory Committee adjourn at 6:03 p.m.</p>
<p>"CARRIED"</p>
<p>Kendra Sedgwick Committee Coordinator</p>
<p>Ann Sullivan, Vice Chair</p>
<br></div>