<!doctype html><div><br>
<br>
<br>
<br>
<p>MUSEUM & ARCHIVES ADVISORY</p>
<br>
<p>COMMITTEE</p>
<br>
<p>CITY OF PETERBOROUGH</p>
<br>
<p>FEBRUARY 11, 2010</p>
<br>
<p>DRAFT MINUTES NOT APPROVED</p>
<br>
<br>
<br>
<br>
<p>MINUTES OF A MEETING OF MUSEUM & ARCHIVES ADVISORY</p>
<p>COMMITTEE HELD ON FEBRUARY 11, 2010 AT PETERBOROUGH</p>
<p>MUSEUM & ARCHIVES</p>
<br>
<p>The  meeting  of  Museum  &  Archives  Advisory  Committee  was  called  to  order  at  5:05</p>
<p>p.m. at the Peterborough Museum & Archives.</p>
<br>
<p>Present</p>
<p>Nancy Jackson (Chair)</p>
<p>Jodi Aoki</p>
<p>Dennis Carter-Edwards</p>
<p>Gayle McIntyre</p>
<p>Bill Eekhof 5:35 p.m.</p>
<p>Patrick Martin</p>
<p>Morgan Tamplin</p>
<p>Councillor Pappas</p>
<br>
<p>Absent</p>
<p>Audrey Armstrong</p>
<br>
<br>
<p>Staff</p>
<p>Susan Neale, Museum Director</p>
<p>Marie O'Connor, Acting Education Officer</p>
<p>Kevin Arjoon, Deputy Clerk</p>
<br>
<p>Introductions</p>
<br>
<p>Nancy Jackson, Chair welcomed students from the Collections Conservation and</p>
<p>Management program, Fleming College.</p>
<br>
<br>
<br>
<br>
<br>
<p>MUSEUM & ARCHIVES ADVISORY</p>
<p>COMMITTEE</p>
<p>CITY OF PETERBOROUGH</p>
<p>FEBRUARY 11, 2010</p>
<p>DRAFT MINUTES NOT APPROVED</p>
<br>
<p>MINUTES OF A MEETING OF MUSEUM & ARCHIVES ADVISORY COMMITTEE HELD ON FEBRUARY 11, 2010 AT PETERBOROUGH MUSEUM & ARCHIVES</p>
<p>The  meeting  of  Museum  &  Archives  Advisory  Committee  was  called  to  order  at  5:05 p.m. at the Peterborough Museum & Archives.</p>
<p>Present Nancy Jackson (Chair) Jodi Aoki Dennis Carter-Edwards Gayle McIntyre Bill Eekhof 5:35 p.m. Patrick Martin Morgan Tamplin Councillor Pappas</p>
<p>Absent Audrey Armstrong</p>
<p>Staff Susan Neale, Museum Director Marie O'Connor, Acting Education Officer Kevin Arjoon, Deputy Clerk</p>
<p>Introductions</p>
<p>Nancy Jackson, Chair welcomed students from the Collections Conservation and Management program, Fleming College.</p>
<br></div>