<!doctype html><div><p>Mayor Bennett</p>
<p>Councillor Baldwin</p>
<p>Councillor Beamer</p>
<p>Councillor Clarke</p>
<p>Councillor Haacke</p>
<p>Councillor McWilliams</p>
<p>Councillor Parnell</p>
<p>Councillor Pappas</p>
<p>Councillor Riel</p>
<p>Councillor Therrien</p>
<p>Councillor Vassiliadis</p>
<br>
<p>Sandra Clancy, Director of Corporate Services</p>
<p>Ken Doherty, Director of Corporate Services</p>
<p>Natalie Garnett, Deputy Clerk</p>
<p>Jeffrey Humble, Director of Planning and Development Services</p>
<p>Wayne Jackson, Director of Utility Services</p>
<p>Patricia Lester, City Solicitor and Director of Legal Services</p>
<p>Allan Seabrooke, Chief Administrative Officer</p>
<br>
<p>The City Council meeting was called to order at 5:30 p.m.in the Council Chambers, City Hall.</p>
<p>City Council Minutes</p>
<p>City of Peterborough</p>
<p>Council Chambers, City Hall</p>
<p>March 19, 2018</p>
<p>Present:</p>
<p>Staff Present</p>
<p>Call to Order</p>
<p>Opening of Meeting</p>
<p>Thirty Seconds of Reflection</p>
<p>National Anthem</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council minutes of March 19, 2018</p>
<p>That the minutes of the meetings of Council held on February 20 and 26, 2018 be approved.</p>
<p>Approval of Minutes:</p>
<p>Moved by Councillor Pappas Seconded by Councillor Clarke</p>
<p>Carried</p>
<p>Disclosure of Pecuniary Interest</p>
<p>Councillor Haacke declared an interest in Item 16 of General Committee Report No. 7 (Report PLPD18-007 - Application for Site Plan Approval and Removal of "H" - Holding Symbol from the zoning of the property at 340 Florence Drive), as the applicant is a client.</p>
<p>Councillor Therrien declared an interest in Item 10 of General Committee Report No. 7 (Report USEC18-006 – Subdivision Assumption of Municipal Road, Parkland, Walkways, Open Spaces and all Works and Services within Subdivision Plan 45M-231), as her parents live in close proximity to the subject lands.</p>
<p>Delegations - Items on the Agenda</p>
<p>Registered Delegations (7 minutes)</p>
<p>Galen Eagle, 366 Florence Drive, made a delegation to Item 17 of General Committee Report No. 7 (Report PLPD18-008 - Removal of the "H" - Holding Symbol from the zoning of the property at 110 Chandler Crescent.</p>
<p>Helen McCarthy, Chair Person, The Abraham Festival, made a delegation to Item 5 of General Committee Report No. 7 (Report CSD18-001 - 2018 Community Project Grants).</p>
<p>Peter Lawless, made a delegation to Item 12 of General Committee Report No. 7 (Report PLPD18-005 - Official Plan Review Update and Waiving Certain Aspects of the Purchasing Policy).</p>
<p>Evan Buckles, 270 John Street, made a delegation to Item 15 of General Committee Report No. 7 (Report CSRS18-004 - West 49 Skateboard Park Overview).</p>
<p>Randall Skelton, made a delegation to Item 17 of General Committee Report No. 7 (Report PLPD18-008 – Removal of the “H” – Holding Symbol from the zoning of the property at 110 Chandler Crescent).</p>
<p>Sarah Gibeault, Ad-hoc Arts Committee, made a delegation to Item 22 of General Committee Report No. 7 (New Property Tax Class).</p>
<p>Wendy Fischer and Dave Searle, PeterboroughLIVE Music Festival, made a delegation to Item 5 of General Committee Report No. 7 (Report CSD18-001 – 2018 Community Project Grants).</p>
<br>
<p>City Council minutes of March 19, 2018</p>
<p>Unregistered Delegations (4 minutes)</p>
<p>Ian Attridge, 575 Gilchrist St., Re-Imagine Peterborough, made a delegation to Item 12 of General Committee Report No. 7, (Report PLPD18-005 - Official Plan Review Update and Waiving Certain Aspects of the Purchasing Policy).</p>
<p>Reports from Standing Committees</p>
<p>General Committee Report No. 7</p>
<p>Moved by Councillor Beamer Seconded by Councillor McWilliams</p>
<p>The Report Number 7 of the General Committee meeting of February 26, 2018 be approved.</p>
<p>Items 10 and 16 were separated due to the interests of Councillors Therrien and Haacke.</p>
<p>Item 10 – Report USEC18-006 - Subdivision Assumption of Municipal Road, Parkland, Walkways, Open Spaces and all Works and Services within Subdivision Plan 45M-231</p>
<p>Councillor Therrien did not discuss or vote on Report USEC18-006. Upon item 10, the Item carried.</p>
<p>Item 16 – Report PLPD18-007 – Application for Site Plan Approval and Removal of “H” Holding Symbol form the zoning of the property at 340 Florence Drive</p>
<p>Councillor Haacke did not discuss or vote on Report PLPD18-007. Upon item 16, the Item carried.</p>
<p>Item 17 – Report PLPD18-008 – Removal of the “H” Holding Symbol from the zoning of property at 110 Chandler Crescent</p>
<p>Moved by Councillor Vassiliadis Seconded by Councillor Clarke</p>
<p>That the motion be amended by adding Item c) as follows:</p>
<p>c)</p>
<p>That staff be directed to include an article in the Site Plan Agreement obliging the developer not to open a drive-thru restaurant until the intersection of Chandler Crescent and Parkhill Road West is fully reconstructed and the traffic signals are operational.</p>
<p>Carried</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council minutes of March 19, 2018</p>
<p>Item 12 – Report PLPD18-005 – Official Plan Review Update and Waiving Certain Aspects of the Purchasing Policy</p>
<p>At the meeting of March 19, 2018 Council amended Item e), subsection iv), a) and b) as follows:</p>
<p>a)  A minimum of 55-65 residents and jobs per hectare up to 2041 for</p>
<p>subdivisions approved after the new Official Plan is adopted.</p>
<p>Upon Item 12 as amended, the motion carried.</p>
<p>Upon Item 18, the motion carried.</p>
<p>Upon Item 15, the motion carried.</p>
<p>Upon Item 22, the motion carried.</p>
<p>Notice of Motion</p>
<p>There were no Notices of Motion.</p>
<p>Approval of By-laws:</p>
<p>Moved by Councillor Vassiliadis Seconded by Councillor Baldwin</p>
<p>Upon the original motion by Councillors Beamer and McWilliams, less items 10, 12, 15, 16, 17, 18 and 22, the motion carried.</p>
<p>That the following by-laws be read a first, second and third time:</p>
<p>By-law 18-017 was separated due to Councillor Haacke's previously declared interest.  Councillor Haacke did not vote on this item.</p>
<p>Upon By-law 18-017, being a By-law to remove the “H” – Holding Symbol from the zoning of the property at 340 Florence Drive, the motion carried.</p>
<p>By-law 18-019 was separated due to Councillor Therrien's previously declared interest.  Councillor Therrien did not vote on this item.</p>
<p>Upon By-law 18-019, being A By-law to assume the municipal roads, parkland, walkways, open spaces and all works and services within Subdivision Plan 45M-231, specifically Blocks 97, 98, 99, 100, 102 and streets namely Bowen Drive, Peace Crescent and Logan Lane, the motion carried.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council minutes of March 19, 2018</p>
<p>18-014   Being a By-law to authorize the borrowing of $15,000,000 for 2018</p>
<p>current expenditures</p>
<p>18-015   Being-a-By-law to remove the “H” – Holding Symbol from the Zoning of</p>
<p>the property at 80 Marsh Avenue</p>
<p>18-016   Being a By-law to remove the “H” – Holding Symbol from the zoning of</p>
<p>the property at 110 Chandler Crescent</p>
<p>18-018   Being a By-law to amend the Zoning By-law for the property known as</p>
<p>235 Bellevue Street</p>
<p>18-020   Being a By-law to approve the Initiation of Expropriation Proceedings</p>
<p>for seven properties on Greenwood Road</p>
<p>18-021  Being a By-law to authorize the Administrative Staff Committee to</p>
<p>approve the acquisition of properties municipally known as 226, 232, 234, 240, 246, 250, and 252 Greenwood Road to facilitate full utilization of the Airport’s Main Runway 0927</p>
<p>18-022   Being a By-law to authorize the execution of a Head Lease between</p>
<p>Trent University and the Corporation of the City of Peterborough.</p>
<p>and the said by-law, having been now read a third time and passed, the Mayor and Clerk be authorized to sign and seal the same.</p>
<p>Carried</p>
<p>Other Business</p>
<p>Confirmation By-law:</p>
<p>Moved by Councillor Parnell Seconded by Councillor Riel</p>
<p>Carried</p>
<br>
<p>18-023   Being a By-law to confirm the proceedings of Council at its meeting</p>
<p>held on March 19, 2018.</p>
<p>and the said by-law, having been read a third time and passed, the Mayor and Clerk be authorized to sign and seal the same.</p>
<br>
<br>
<br>
<br>
<br>
<p>City Council minutes of March 19, 2018</p>
<p>Adjournment</p>
<p>Moved by Councillor Pappas Seconded by Councillor Clarke</p>
<p>That this meeting of City Council adjourn at 7:25 p.m.</p>
<p>Carried</p>
<p>_________________________</p>
<p>Natalie Garnett</p>
<p>Deputy City Clerk</p>
<p>_________________________</p>
<br>
<br>
<p>Daryl Bennett</p>
<p>Mayor</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council minutes of March 19, 2018</p>
<p>General Committee Report No. 7</p>
<p>Meeting of February 26, 2018</p>
<p>To the Council of The City of Peterborough for consideration at its meeting held March 19, 2018</p>
<p>The General Committee as a result of its meeting held on February 26, 2018 recommends as follows:</p>
<p>1.</p>
<p>Expropriation of lands on Greenwood Road to Improve Airport Operations Report PLAIR18-001</p>
<p>That Council approve the recommendations outlined in Report PLAIR18-001 dated February 26, 2018, of the Director, Planning and Development Services and the City Solicitor and Director of Legal Services, as follows:</p>
<p>a)</p>
<p>That expropriation proceeding be commenced and the Application for Approval to Expropriate Land be made for facilitating full utilization and improved operations of the Main Runway 0927 for the following 7 properties:</p>
<p>i.</p>
<p>226 Greenwood Road</p>
<p>Part Lot 18-19 Con 17 Otonabee as in R666087; T/W R666087 Except the Easement therein secondly described; Otonabee-South Monaghan (being all of PIN 28145-0073 (LT));</p>
<p>ii.</p>
<p>232 Greenwood Road</p>
<p>PT LT 18-19 CON 17 Otonabee as in R701027; T/W R701027 Except the Easement therein secondly described; Otonabee-South Monaghan (being all of PIN 28145-0075 (LT));</p>
<p>iii.</p>
<p>234 Greenwood Road</p>
<p>PT LT 18-19 CON 17 Otonabee as in R594637; T/W R594637 Except the Easement therein secondly described Otonabee-South Monaghan (being all of PIN 28145-0076 (LT));</p>
<p>iv.</p>
<p>240 Greenwood Road</p>
<p>PT LT 18 CON 17 Otonabee as in R281869; T/W R281869 Except the Easement therein secondly described; Otonabee-South Monaghan (being all of PIN 28145-0078 (LT));</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council minutes of March 19, 2018</p>
<p>v.</p>
<p>246 Greenwood Road</p>
<p>PT LT 18 CON 17 Otonabee as in R283610; T/W R283610 Except the Easement therein secondly described; Otonabee-</p>
<p>South Monaghan (being all of PIN 28145-0080 (LT));</p>
<p>vi.</p>
<p>250 Greenwood Road</p>
<p>PT LT 18 CON 17 Otonabee as in R544440; T/W R544440; Except the Easement therein secondly described; Otonabee-South Monaghan (being all of PIN 28145-0081 (LT)); and</p>
<p>vii.</p>
<p>252 Greenwood Road</p>
<p>PT LT 18 CON 17 Otonabee as in R459518; T/W R459518; Otonabee-South Monaghan (being all of PIN 28145-0082 (LT)).</p>
<p>That the City Solicitor and Director of Legal Services be authorized to execute the Application for Approval to Expropriate Land and the Notice of Application for Approval to Expropriate Land, and to serve and publish the Notice as required under the Expropriations Act;</p>
<p>That any valid request from an owner for an inquiry that is received be forwarded to the Chief Inquiry Officer for the appointment of an Inquiry Officer, and that the City be represented at any Hearing of Necessity, as necessary, under the Expropriations Act;</p>
<p>That in the event that there are inquiries (Hearings of Necessity) conducted at the request of an owner(s), the recommendation(s) of the Inquiry Officer be reported to City Council for its consideration and decision as the approving authority under the Expropriations Act;</p>
<p>That the City Solicitor and Director of Legal Services be authorized to engage such appraisal, business valuation, survey or other professional services in connection with the expropriations as are necessary and advisable;</p>
<p>That the Initiation of Expropriation Proceedings By-law, as set out in Appendix “A” of Report PLAIR18-001, be passed;</p>
<p>That a by-law be passed authorizing the Administrative Staff Committee to approve the acquisition of properties, if settlements can be reached with any of the 7 Greenwood Road property owners, as set out in Appendix “B” of Report PLAIR18-001; and</p>
<p>That upon completion of a transaction and obtaining vacant possession of any of the 7 Greenwood Road properties as listed in Recommendation (a), the buildings on the property be demolished.</p>
<p>b)</p>
<p>c)</p>
<p>d)</p>
<p>e)</p>
<p>f)</p>
<p>g)</p>
<p>h)</p>
<br>
<br>
<br>
<p>City Council minutes of March 19, 2018</p>
<p>2.  By-law to Authorize Borrowing $15,000,000 for 2018 Current Expenditures</p>
<p>Report CPFS18-009</p>
<p>That Council approve the recommendation outlined in Report CPFS18-009 dated February 26, 2018, of the Director of Corporate Services, as follows:</p>
<p>That a by-law be enacted to establish a $15,000,000 borrowing limit for the 2018 year to finance current expenditures.</p>
<p>3.</p>
<p>2017 Investment Report Report CPFS18-010</p>
<p>That Council approve the recommendation outlined in Report CPFS18-010 dated February 26, 2018, of the Director of Corporate Services, as follows:</p>
<p>That the 2017 Investment Report be received for information.</p>
<p>4.</p>
<p>2017 Council Remuneration Statements Report CPFS18-011</p>
<p>That Council approve the recommendation outlined in Report CPFS18-011, dated February 26, 2018, of the Director of Corporate Services as follows:</p>
<p>That the 2017 Remuneration Statements for Council Members and Council appointees to boards and commissions, outlined in report CPFS18-011, dated February 26, 2018 of the Director of Corporate Services, be received for information.</p>
<p>5.</p>
<p>2018 Community Project Grants Report CSD18-001</p>
<p>That Council approve the recommendations outlined in Report CSD18-001, dated February 26, 2018, of the Director of Community Services, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>That the 2018 Community Project Grants in the total amount of $14,950 be allocated to various local charitable and Not For Profit organizations (NFP’s) as set out in the attached Appendix A.</p>
<p>That approved organizations be authorized to use the City Coat of Arms to acknowledge City support on promotional material such as flyers, brochures and posters throughout 2018; and</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council minutes of March 19, 2018</p>
<p>c)</p>
<p>That all new Community Project Grant applicants be required to attend an annual workshop to improve the quality of their application.</p>
<p>6.</p>
<p>2018 Community Investment Grants Report CSD18-002</p>
<p>That Council approve the recommendations outlined in Report CSD18-002 dated February 26, 2018, of the Director of Community Services, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>d)</p>
<p>e)</p>
<p>That the 2018 Community Investment Grants in the total amount of $208,766 be allocated to various local charitable and Not-For-Profit organizations (NFP’s) as set out in the attached Appendix A;</p>
<p>That approved organizations be authorized and required to use the City Coat of Arms to acknowledge City support on promotional material such as flyers, brochures and posters throughout 2018;</p>
<p>That all applicants be required to provide a financial statement prepared by an independent auditor (full Audit, Notice to Reader, or Review Engagement);</p>
<p>That all applicants (excluding those currently with multi-year funding) be strongly encouraged to attend an annual workshop to improve their applications.</p>
<p>That the Community Investment Grant Review Committee be re- appointed, with the exception of Council Members, for one year as follows: Elaine Covert, Jeff Westlake, Ryan Worral, Len Lifchus, Kevin Duguay, Martin Parker, Reem Ali, Shirley McCormack, Claude Dufresne for a term to end November 30, 2019.</p>
<p>7.  Recreation Subsidy Overview</p>
<p>Report CSRS18-002</p>
<p>That Council approve the recommendation outlined in Report CSRS18-002 dated February 26, 2018, of the Director of Community Services, as follows:</p>
<p>That Report CSRS18-002 be received for information.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council minutes of March 19, 2018</p>
<p>8.   Removal of the "H" - Holding Symbol from the zoning of the property at 80</p>
<p>Marsh Avenue Report PLPD18-009</p>
<p>That Council approve the recommendation outlined in Report PLPD18-009 dated February 26, 2018, of the Director, Planning and Development Services, as follows:</p>
<p>That the property at 80 Marsh Avenue be rezoned from SP.349, 11j, 13k – “H”- Residential District to SP.349, 11j, 13k - Residential District in accordance with Exhibit “B” attached to Report PLPD18-009.</p>
<p>9.</p>
<p>Implementation of a Crossing Guard on Kawartha Heights Boulevard at Denure Drive Report USTR18-002</p>
<p>That Council approve the recommendation outlined in Report USTR18-002 dated February 26, 2018, of the Director of Utility Services, as follows:</p>
<p>That a school crossing guard be implemented at the intersection of Kawartha Heights Boulevard and Denure Drive during the A.M. school admission time and the P.M. school dismissal time.</p>
<p>10.  Subdivision Assumption of Municipal Road, Parkland, Walkways, Open</p>
<p>Spaces and all Works and Services within Subdivision Plan 45M-231 Report USEC18-006</p>
<p>That Council approve the recommendations outlined in Report USEC18-006, dated February 26, 2018, of the Director of Utility Services as follows:</p>
<p>a)</p>
<p>b)</p>
<p>That Avonlea Subdivision Phase 1 be assumed in accordance with the terms of the Subdivision Agreement registered as Instrument PE 106065 for Plan 45M-231 dated June 29, 2009 between the City of Peterborough and 2064086 Ontario Limited with the exception of Block 101 being a stormwater management pond; and</p>
<p>That Council approve the By-laws attached as Appendix A to Report USEC18-006 to formally assume responsibility for the services installed within Plan 45M-231 and assume the associated operations, maintenance and capital reconstruction costs thereof.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council minutes of March 19, 2018</p>
<p>11.  Public Meeting under the Planning Act</p>
<p>Zoning By-law Amendment for 235 Bellevue Street Report PLPD18-011</p>
<p>That Council approve the recommendation outlined in Report PLPD18-011 dated February 26, 2018, of the Director, Planning and Development Services, as follows:</p>
<p>That the subject property be rezoned from the R.1, 1m, 2m – Residential District to the R.2 – Residential District in accordance with Exhibit ‘C’ attached to Report PLPD18-011.</p>
<p>12.  Official Plan Review Update and Waiving Certain Aspects of the Purchasing</p>
<p>Policy Report PLPD18-005</p>
<p>That Council approve the recommendations outlined in Report PLPD18-005 dated February 26, 2018, of the Director, Planning and Development Services, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>d)</p>
<p>That the update presentation on the Official Plan Review by the Director, Planning and Development Services be received for information.</p>
<p>That Council support the public engagement framework as outlined in Report PLPD18-005.</p>
<p>That the capital budget to conduct the Official Plan Review be increased by $122,200 from $324,000 to $446,200 plus HST for consulting services for a four-day Official Plan Design Charrette in May of 2018, and to develop “Architectural and Urban Design Guidelines for the Redevelopment and Intensification of the Built-Up Area”, with emphasis on the Urban Growth Centre and major corridors and nodes, with $20,000 of the $122,200 to complete random telephone surveys to verify findings in MetroQuest Surveys, with the funds being transferred from Major Bennett Industrial Park (7-3.02) ($50,000) and the Central Area CIP Implementation (7-1.06) ($72,000).</p>
<p>That Section 6.4.2 of the City’s Purchasing By-law 14-127, requiring a Request for Proposals be issued for a service costing more than $25,000, be waived, and that The Planning Partnership and Lett Architects Incorporated be retained to facilitate the Community Design Charrette and “Architectural and Urban Design Guidelines for the Redevelopment and Intensification of the Built-Up Area” at a cost of $102,000, plus HST.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council minutes of March 19, 2018</p>
<p>e)</p>
<p>That Council support the spirit and intent of the Places to Grow Act, and that staff pursue the following targets to guide the ongoing Review, while recognizing that the final targets of (ii) to (iv) will be reviewed by the Working Advisory Group and may be reconsidered by Council as a result of ongoing public engagement and/or Provincial direction prior to the adoption of the updated Official Plan in 2019:</p>
<p>i)</p>
<p>ii)</p>
<p>iii)</p>
<p>That the updated Official Plan will adopt Urban Growth Centre (Downtown) density of 150 residents and jobs per hectare as already prescribed by the Province;</p>
<p>That the updated Official Plan Review pursue the Province’s residential intensification targets of:</p>
<p>a)</p>
<p>Built-Up Area 50% and Designated Greenfield 50% to 2031;</p>
<p>That the updated Official Plan Review seek an “alternative” from the Province’s prescribed target for 2031 to 2041 for residential intensification as follows:</p>
<p>a)  Built-Up Area 55% and Designated Greenfield 45%.</p>
<p>Council at its meeting of March 19, 2018 amended Item e), subsection a) and b) as follows:</p>
<p>iv)</p>
<p>That the updated Official Plan Review seek an “alternative” target to the Province’s Designated Greenfield Area density target of 80 residents and jobs per hectare to:</p>
<p>a)</p>
<p>A minimum of 55-65 residents and jobs per hectare up to 2041 for subdivisions approved after the new Official Plan is adopted.</p>
<br>
<br>
<br>
<p>13.  Citizen Appointments Report CPCLK18-006</p>
<p>That Council approve the recommendations outlined in Report CPCLK18-006, dated February 26, 2018, of the City Clerk, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>That Jayne White be appointed to the Peterborough Public Library Board of Trustees for term ending November 30, 2018;</p>
<p>That Greg O’Heron, Laura Keresztesi, and Claude Dufresne be appointed to the Tree and Woodland Appeals Committee for a term ending November 30, 2018; and,</p>
<p>City Council minutes of March 19, 2018</p>
<p>c)</p>
<p>That Sarah Cullingham, Wayne Toms, Dave McFadden and Kevin Duguay be appointed to the Planning Advisory Committee for a term ending November 30, 2019.</p>
<p>14.  All Weather vs. Natural Turf Field Maintenance</p>
<p>Report CSRS18-003</p>
<p>That Council approve the recommendation outlined in Report CSRS18-003 dated February 26, 2018, of the Director of Community Services, as follows:</p>
<p>That report CSRS18-003 be received for information.</p>
<br>
<p>15.  West 49 Skateboard Park Overview</p>
<p>Report CSRS18-004</p>
<p>That Council approve the recommendation outlined in Report CSRS18-004 dated February 26, 2018, of the Director of Community Services, as follows:</p>
<p>That Report CSRS18-004 be received for information.</p>
<p>16.  Application for Site Plan Approval and Removal of "H" - Holding Symbol</p>
<p>from the zoning of the property at 340 Florence Drive Report PLPD18-007</p>
<p>That Council approve the recommendations outlined in Report PLPD18-007 dated February 26, 2018, of the Director, Planning and Development Services, as follows:</p>
<p>a)</p>
<p>That the Site Plan Application submitted by Kevin M. Duguay for 935976 Ontario Inc. for the construction of one three-storey apartment building and one four-storey apartment building with a total of 62 dwelling units at 340 Florence Drive be approved subject to the following conditions:</p>
<p>i)</p>
<p>ii)</p>
<p>iii)</p>
<p>The deposit of site work performance security in the amount of $120,000.00;</p>
<p>The deposit of external work performance security in the amount of $62,000.00 plus 15% contingency, plus HST;</p>
<p>The submission of revised drawings and additional technical information to the satisfaction of the Director of the Utility Services; and</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council minutes of March 19, 2018</p>
<p>b)</p>
<p>That the property at 340 Florence Drive be rezoned from R.5, 7g, 11j – “H” - Residential District to R.5, 7g, 11j – Residential District in accordance with Exhibit “C” attached to Report PLPD18-007.</p>
<p>17.  Removal of the "H" - Holding Symbol from the zoning of the property at 110</p>
<p>Chandler Crescent Report PLPD18-008</p>
<p>That Council approve the recommendation outlined in Report PLPD18-008 dated February 26, 2018, of the Director, Planning and Development Services, as follows:</p>
<p>That the property at 110 Chandler Crescent be rezoned from SP.95-255 – “H”- Commercial District to SP.95-255 - Commercial District in accordance with Exhibit “C” attached to Report PLPD18-008.</p>
<p>At the meeting of February 26, 2018 the following item was added:</p>
<p>That staff prepare a report updating Council on the timeline for the construction completion of Parkhill Road, including the completion date of the Parkhill Road and Chandler Crescent intersection.</p>
<p>Council at the meeting of March 19, 2018 added item c) as follows:</p>
<p>That staff be directed to include an article in the Site Plan Agreement obliging the developer not to open a drive-thru restaurant until the intersection of Chandler Crescent and Parkhill Road West is fully reconstructed and the traffic signals are operational.</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<br>
<p>18.  Cleantech Commons: Head Lease Principles, Management Structure and</p>
<p>Financial Model Report PLPD18-004</p>
<p>That Council approve the recommendations outlined in Report PLPD18-004 dated February 26, 2018, of the Director, Planning and Development Services, as follows:</p>
<p>a)</p>
<p>That Council endorse the six key principles of the Head Lease with Trent University for Cleantech Commons as follows:</p>
<p>i.</p>
<p>ii.</p>
<p>Trent University if the Landlord and the City is the tenant;</p>
<p>City is the Developer with a Shared Term lease Arrangement with Trent University;</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council minutes of March 19, 2018</p>
<p>iii.</p>
<p>iv.</p>
<p>v.</p>
<p>vi.</p>
<p>The Head Lease allows certain lands to be conveyed to the City for municipal roadways and parkland/open space;</p>
<p>Limiting the City’s Risk and Responsibility to those of a municipal authority reflecting a Partnership Relationship between the City and Trent University;</p>
<p>Ground Leases Recover Capital Costs; Property Taxes Recover Operating Costs; and,</p>
<p>The Landlord/Tenant Relationship will be evaluated and may change over time.</p>
<p>b)</p>
<p>c)</p>
<p>d)</p>
<p>That staff be authorized to finalize the detailed language of the Head Lease in keeping with the principles outlined herein, and that a by-law be passed to authorize the Mayor and Clerk to execute the Head Lease.</p>
<p>That the management structure for Cleantech Commons, as outlined in Report PLPD18-004, be endorsed.</p>
<p>That the financial model for Cleantech Commons, as outlined in Report PLPD18-004, be endorsed.</p>
<br>
<p>City Council minutes of March 19, 2018</p>
<p>19.  Airport Water and Sanitary Sewer Service Class EA Budget Adjustment</p>
<p>Report USDIR18-001</p>
<p>That Council approve the recommendations outlined in Report USDIR18-001 dated February 26, 2018, of the Director of Utility Services, as follows:</p>
<p>a)   That the Purchase Order issued to WSP for completion of the Municipal</p>
<p>Class EA for sanitary servicing of the Peterborough Airport be increased by $107,125,25 plus HST of $13,926.28 for a total increase of $121,051.53 from $95,075.75 to $202,201.00;</p>
<p>b)   That a contingency fund of $20,000.00 be authorized to the Purchase Order</p>
<p>and the Director of Utility Services be delegated authority to adjust the Purchase Order to an upset limit of $222,201.00 plus HST of $28,886.13, if required; and</p>
<p>c)   That $14,000.00 be approved to cover project expenses including staff</p>
<p>salary.</p>
<br>
<p>20.  Raymond Street / Westdale Avenue Traffic Operational Review</p>
<p>Report USTR18-003</p>
<p>That Council approve the recommendations outlined in Report USTR18-003 dated February 26, 2018, of the Director of Utility Services, as follows:</p>
<p>a)  That Stop control be implemented on Raymond Street at Westdale Avenue;</p>
<p>and</p>
<p>b)   That a 2018 Capital Budget be created in the amount of $35,000 for the</p>
<p>Design and Construction of Improvements to the intersection of Raymond Street and Westdale Avenue as shown in Appendix B to Report USTR18-003 to be funded from the uncommitted balance in the 2018 Capital Budget for Traffic Improvements (Project 5-13-04).</p>
<p>21.  Request for a Crossing Guard at Various Intersections</p>
<p>Report USTR18-005</p>
<p>That Council approve the recommendation outlined in Report USTR18-005 dated February 26, 2018, of the Director of Utility Services, as follows:</p>
<p>That a crossing guard be implemented at the intersection of Goodfellow Road and St. Mary’s Street during the A.M. school admission time and the P.M. school dismissal time.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council minutes of March 19, 2018</p>
<p>22.  New Property Tax Class</p>
<p>That City Staff report back to Council on the potential to create a new property tax class for Creative Co-Location Facilities and other methods to reduce the property tax burden for arts and cultural hubs that would currently be captured under a commercial or industrial property designation.</p>
<p>23.  Programs/Support for Intensification</p>
<p>That staff work with the Province to lobby for programs to assist and encourage intensification of the urban growth centre within context of urban design, heritage conservation and architecture.</p>
<p>Submitted by,</p>
<p>Councillor Beamer</p>
<p>Chair</p>
<p>February 26, 2018</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br></div>