<!doctype html><div><br>
<br>
<br>
<br>
<p>MUSEUM & ARCHIVES ADVISORY</p>
<br>
<p>COMMITTEE</p>
<br>
<p>CITY OF PETERBOROUGH</p>
<br>
<p>MARCH 11, 2010</p>
<br>
<p>DRAFT MINUTES NOT APPROVED</p>
<br>
<br>
<br>
<br>
<p>MINUTES OF A MEETING OF MUSEUM & ARCHIVES ADVISORY</p>
<p>COMMITTEE HELD ON MARCH 11, 2010 AT PETERBOROUGH</p>
<p>MUSEUM & ARCHIVES</p>
<br>
<p>The  meeting  of  Museum  &  Archives  Advisory  Committee  was  called  to  order  at  5:15</p>
<p>p.m. at the Peterborough Museum & Archives.</p>
<br>
<p>Present:</p>
<p>Jodi Aoki</p>
<p>Audrey Armstrong</p>
<p>Dennis Carter-Edwards</p>
<p>Bill Eekhof 5:35 p.m.</p>
<p>Nancy Jackson (Chair)</p>
<p>Gayle McIntyre</p>
<p>Councillor Pappas</p>
<br>
<p>Absent:</p>
<p>Morgan Tamplin</p>
<p>Patrick Martin</p>
<br>
<br>
<p>Staff:</p>
<p>Susan Neale, Museum Director</p>
<p>Kevin Arjoon, Deputy Clerk</p>
<br>
<p>Introductions</p>
<br>
<p>Nancy Jackson, Chair welcomed Peterborough Museum & Archives volunteers, who</p>
<p>were present for the Lett Architect Inc. presentation to Committee.</p>
<br>
<br>
<br>
<br>
<br>
<p>MUSEUM & ARCHIVES ADVISORY</p>
<p>COMMITTEE</p>
<p>CITY OF PETERBOROUGH</p>
<p>MARCH 11, 2010</p>
<p>DRAFT MINUTES NOT APPROVED</p>
<br>
<p>MINUTES OF A MEETING OF MUSEUM & ARCHIVES ADVISORY COMMITTEE HELD ON MARCH 11, 2010 AT PETERBOROUGH MUSEUM & ARCHIVES</p>
<p>The  meeting  of  Museum  &  Archives  Advisory  Committee  was  called  to  order  at  5:15 p.m. at the Peterborough Museum & Archives.</p>
<p>Present: Jodi Aoki Audrey Armstrong Dennis Carter-Edwards Bill Eekhof 5:35 p.m. Nancy Jackson (Chair) Gayle McIntyre Councillor Pappas</p>
<p>Absent: Morgan Tamplin Patrick Martin</p>
<p>Staff: Susan Neale, Museum Director Kevin Arjoon, Deputy Clerk</p>
<p>Introductions</p>
<p>Nancy Jackson, Chair welcomed Peterborough Museum & Archives volunteers, who were present for the Lett Architect Inc. presentation to Committee.</p>
<br></div>