<!doctype html><div><br>
<br>
<br>
<br>
<p>MUSEUM & ARCHIVES ADVISORY</p>
<br>
<p>COMMITTEE</p>
<br>
<p>CITY OF PETERBOROUGH</p>
<br>
<p>SEPTEMBER 23, 2010</p>
<br>
<p>DRAFT MINUTES NOT APPROVED</p>
<br>
<br>
<br>
<br>
<p>MINUTES OF A MEETING OF MUSEUM & ARCHIVES ADVISORY</p>
<p>COMMITTEE HELD ON SEPTEMBER 23, 2010 AT PETERBOROUGH</p>
<p>MUSEUM & ARCHIVES</p>
<br>
<p>The  meeting  of  Museum  &  Archives  Advisory  Committee  was  called  to  order  at  5:08</p>
<p>p.m. at the Peterborough Museum & Archives.</p>
<br>
<p>Present:</p>
<p>Jodi Aoki</p>
<p>Audrey Armstrong</p>
<p>Bill Eekhof</p>
<p>Nancy Jackson (Chair)</p>
<p>Gayle McIntyre</p>
<br>
<br>
<p>Absent:</p>
<p>Councillor Pappas</p>
<p>Dennis Carter Edwards</p>
<p>Patrick Martin</p>
<p>Morgan Tamplin</p>
<br>
<br>
<p>Staff:</p>
<p>Susan Neale, Museum Director</p>
<p>Kevin Arjoon, Deputy Clerk</p>
<br>
<p>Minutes – June 24, 2010</p>
<br>
<p>It was noted that the reference to the Peterborough Architectural Society, should read</p>
<p>the Peterborough Archaeological Society</p>
<br>
<p>Moved by Audrey Armstrong</p>
<br>
<p>That the minutes of the Museum & Archives Advisory Committee meeting held on</p>
<p>June 24, 2010 be approved as amended.</p>
<br>
<p>“CARRIED”</p>
<br>
<br>
<br>
<br>
<p>MUSEUM & ARCHIVES ADVISORY</p>
<p>COMMITTEE</p>
<p>CITY OF PETERBOROUGH</p>
<p>SEPTEMBER 23, 2010</p>
<p>DRAFT MINUTES NOT APPROVED</p>
<br>
<p>MINUTES OF A MEETING OF MUSEUM & ARCHIVES ADVISORY COMMITTEE HELD ON SEPTEMBER 23, 2010 AT PETERBOROUGH MUSEUM & ARCHIVES</p>
<p>The  meeting  of  Museum  &  Archives  Advisory  Committee  was  called  to  order  at  5:08 p.m. at the Peterborough Museum & Archives.</p>
<p>Present: Jodi Aoki Audrey Armstrong Bill Eekhof Nancy Jackson (Chair) Gayle McIntyre</p>
<p>Absent: Councillor Pappas Dennis Carter Edwards Patrick Martin Morgan Tamplin</p>
<p>Staff: Susan Neale, Museum Director Kevin Arjoon, Deputy Clerk</p>
<p>Minutes – June 24, 2010</p>
<p>It was noted that the reference to the Peterborough Architectural Society, should read the Peterborough Archaeological Society</p>
<p>Moved by Audrey Armstrong</p>
<p>That the minutes of the Museum & Archives Advisory Committee meeting held on June 24, 2010 be approved as amended.</p>
<p>“CARRIED”</p>
<br></div>