<!doctype html><div><br>
<br>
<br>
<p>Museum & Archives Advisory Committee</p>
<br>
<p>City of Peterborough</p>
<br>
<p>December 9, 2010</p>
<br>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of Museum & Archives Advisory Committee Held</p>
<p>on December 9, 2010 at Peterborough Museum & Archives</p>
<br>
<p>The  meeting  of  Museum  &  Archives  Advisory  Committee  was  called  to  order  at  5:15</p>
<p>p.m. at the Peterborough Museum & Archives.</p>
<br>
<p>Present:</p>
<p>Jodi Aoki</p>
<p>Audrey Armstrong</p>
<p>Dennis Carter Edwards</p>
<p>Bill Eekhof 5:25 p.m.</p>
<p>Nancy Jackson (Chair)</p>
<p>Gayle McIntyre</p>
<p>Morgan Tamplin</p>
<p>Councillor Pappas</p>
<br>
<p>Absent:</p>
<p>Patrick Martin</p>
<br>
<p>Staff:</p>
<p>Susan Neale, Museum Director</p>
<p>Mary Charles, Archivist</p>
<p>Kim Reid, Curator</p>
<p>Nicole Christie, Conservator – Cataloguer</p>
<p>Cindy Colford, Conservator – Cataloguer</p>
<p>Kevin Arjoon, Deputy Clerk</p>
<br>
<br>
<p>Minutes – September 23, 2010</p>
<br>
<p>Moved by Gayle McIntyre</p>
<br>
<p>That the minutes of the Museum & Archives Advisory Committee meeting held on</p>
<p>September 23, 2010 be approved.</p>
<br>
<p>“CARRIED”</p>
<br>
<br>
<br>
<p>Museum & Archives Advisory Committee</p>
<p>City of Peterborough</p>
<p>December 9, 2010</p>
<p>Draft Minutes Not Approved</p>
<br>
<p>Minutes of a Meeting of Museum & Archives Advisory Committee Held on December 9, 2010 at Peterborough Museum & Archives</p>
<p>The  meeting  of  Museum  &  Archives  Advisory  Committee  was  called  to  order  at  5:15 p.m. at the Peterborough Museum & Archives.</p>
<p>Present: Jodi Aoki Audrey Armstrong Dennis Carter Edwards Bill Eekhof 5:25 p.m. Nancy Jackson (Chair) Gayle McIntyre Morgan Tamplin Councillor Pappas</p>
<p>Absent: Patrick Martin</p>
<p>Staff: Susan Neale, Museum Director Mary Charles, Archivist Kim Reid, Curator Nicole Christie, Conservator – Cataloguer Cindy Colford, Conservator – Cataloguer Kevin Arjoon, Deputy Clerk</p>
<p>Minutes – September 23, 2010</p>
<p>Moved by Gayle McIntyre</p>
<p>That the minutes of the Museum & Archives Advisory Committee meeting held on September 23, 2010 be approved.</p>
<p>“CARRIED”</p>
<br></div>