<!doctype html><div><br>
<br>
<br>
<p>Museum & Archives Advisory Committee</p>
<br>
<p>City of Peterborough</p>
<br>
<p>June 14, 2012</p>
<br>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of Museum & Archives Advisory Committee Held</p>
<p>on June 14, 2012 at Fine Annex, Museum</p>
<br>
<p>The  meeting  of  Museum  &  Archives  Advisory  Committee  was  called  to  order  at  5:12</p>
<p>p.m. at the Museum, Fine Annex.</p>
<br>
<p>Present:</p>
<p>Audrey Armstrong (Vice Chair)</p>
<p>Nancy Jackson (Chair)</p>
<p>Linda Lumsden</p>
<p>Gayle McIntyre</p>
<p>Janice Millard</p>
<p>Councillor Pappas</p>
<p>Morgan Tamplin</p>
<p>D. Allan Wood</p>
<br>
<p>Absent:</p>
<p>Cheryl White</p>
<br>
<p>Staff:</p>
<p>Susan Neale, Museum Director, Peterborough Museum & Archives</p>
<p>Natalie Garnett, Deputy City Clerk</p>
<br>
<br>
<p>Minutes – May 10, 2012</p>
<br>
<p>Moved by D. Allan Wood</p>
<br>
<p>That the minutes of the Museum & Archives Advisory Committee meeting held on</p>
<p>May 10, 2012 be approved.</p>
<br>
<p>“CARRIED”</p>
<br>
<br>
<br>
<br>
<br>
<p>Museum & Archives Advisory Committee</p>
<p>City of Peterborough</p>
<p>June 14, 2012</p>
<p>Draft Minutes Not Approved</p>
<br>
<p>Minutes of a Meeting of Museum & Archives Advisory Committee Held on June 14, 2012 at Fine Annex, Museum</p>
<p>The  meeting  of  Museum  &  Archives  Advisory  Committee  was  called  to  order  at  5:12 p.m. at the Museum, Fine Annex.</p>
<p>Present: Audrey Armstrong (Vice Chair) Nancy Jackson (Chair) Linda Lumsden Gayle McIntyre Janice Millard Councillor Pappas Morgan Tamplin D. Allan Wood</p>
<p>Absent: Cheryl White</p>
<p>Staff: Susan Neale, Museum Director, Peterborough Museum & Archives Natalie Garnett, Deputy City Clerk</p>
<p>Minutes – May 10, 2012</p>
<p>Moved by D. Allan Wood</p>
<p>That the minutes of the Museum & Archives Advisory Committee meeting held on May 10, 2012 be approved.</p>
<p>“CARRIED”</p>
<br>
<br></div>