<!doctype html><div><br>
<br>
<br>
<p>Museum & Archives Advisory Committee</p>
<br>
<p>City of Peterborough</p>
<p>November 14, 2013</p>
<br>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of Museum & Archives Advisory Committee Held</p>
<p>on November 14, 2013 at Fine Annex, Peterborough Museum</p>
<br>
<p>The  meeting  of  the  Museum  &  Archives  Advisory  Committee  was  called  to  order  at</p>
<p>5:01 p.m. by the Vice Chair, Gayle McIntyre.</p>
<br>
<p>Present:</p>
<p>Nancy Jackson, Chair (arrived at 5:10 p.m., left at 6:10 p.m.)</p>
<p>Gayle McIntyre, Vice Chair</p>
<p>Janice Millard</p>
<p>Ann Sullivan</p>
<p>Morgan Tamplin</p>
<p>Karen Carter-Edwards</p>
<br>
<p>Regrets:</p>
<p>Linda Lumsden</p>
<p>Councillor Pappas</p>
<br>
<p>Staff:</p>
<p>Susan Neale, Museum Director, Peterborough Museum & Archives</p>
<p>Faryn Stanley, Education Officer</p>
<p>John Oldman, Programming Assistant</p>
<p>Mary Gallop, Manger of Facilities and Special Projects</p>
<p>Natalie Garnett, Deputy Clerk</p>
<br>
<br>
<p>Minutes – September 26, 2013</p>
<br>
<p>Moved by Janice Millard</p>
<br>
<p>That the minutes of the Museum & Archives Advisory Committee meeting held on</p>
<p>September 26, 2013 be approved.</p>
<br>
<p>“CARRIED”</p>
<br>
<br>
<br>
<br>
<br>
<p>Museum & Archives Advisory Committee</p>
<p>City of Peterborough November 14, 2013</p>
<p>Draft Minutes Not Approved</p>
<br>
<p>Minutes of a Meeting of Museum & Archives Advisory Committee Held on November 14, 2013 at Fine Annex, Peterborough Museum</p>
<p>The  meeting  of  the  Museum  &  Archives  Advisory  Committee  was  called  to  order  at 5:01 p.m. by the Vice Chair, Gayle McIntyre.</p>
<p>Present: Nancy Jackson, Chair (arrived at 5:10 p.m., left at 6:10 p.m.) Gayle McIntyre, Vice Chair Janice Millard Ann Sullivan Morgan Tamplin Karen Carter-Edwards</p>
<p>Regrets: Linda Lumsden Councillor Pappas</p>
<p>Staff: Susan Neale, Museum Director, Peterborough Museum & Archives Faryn Stanley, Education Officer John Oldman, Programming Assistant Mary Gallop, Manger of Facilities and Special Projects Natalie Garnett, Deputy Clerk</p>
<p>Minutes – September 26, 2013</p>
<p>Moved by Janice Millard</p>
<p>That the minutes of the Museum & Archives Advisory Committee meeting held on September 26, 2013 be approved.</p>
<p>“CARRIED”</p>
<br>
<br></div>