<!doctype html><div><br>
<br>
<br>
<br>
<p>Museum & Archives Advisory</p>
<p>Committee</p>
<p>City of Peterborough</p>
<p>March 12, 2015</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<p>Minutes of a Meeting of Museum & Archives Advisory Committee held</p>
<p>on March 12, 2014 in the Fine Annex, Museum.</p>
<br>
<p>The meeting of the Museum & Archives Advisory Committee was called to order at 5:07 p.m. by Natalie Garnett, Deputy City Clerk, in the Fine Annex, Peterborough Museum & Archives.</p>
<p>Present: Janice Millard Nancy Jackson Linda Lumsden Morgan Tamplin Gayle McIntyre Councillor Riel Karen Carter-Edwards Ann Sullivan Ken Brown</p>
<p>Staff: Susan Neale, Museum Director Natalie Garnett, Deputy City Clerk</p>
<p>Election of Officers – 2014</p>
<p>The Deputy City Clerk called for nominations for the position of Chair.</p>
<p>Chair</p>
<p>Moved by Janice Millard</p>
<p>That Nancy Jackson be appointed as Chair of the Museum and Archives Advisory Committee for 2015.</p>
<p>"CARRIED"</p>
<p>Nancy Jackson assumed the Chair.</p>
<p>Museum & Archives Advisory Committee</p>
<p>Meeting of March 12, 2015</p>
<p>Page 2</p>
<p>The Chair called for nominations for the position of Vice Chair.</p>
<p>Vice Chair</p>
<p>Moved by Janice Millard</p>
<p>That Gayle McIntyre be appointed as Vice Chair of the Museum and Archives Advisory Committee for 2015.</p>
<p>"CARRIED"</p>
<p>Minutes – October 2, 2014</p>
<p>Moved by MorganTamplin</p>
<p>That the minutes of the Museum & Archives Advisory Committee meeting held on October 2, 2014 be approved.</p>
<p>“CARRIED”</p>
<p>The Chair welcomed Mr. Brown to the committee and the members introduced themselves.</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of interest.</p>
<br>
<p>Museum & Archives Advisory Committee</p>
<p>Meeting of March 12, 2015</p>
<p>Page 3</p>
<p>Museum Director Report MAAC15-001 Operating Budget 2015</p>
<p>Moved by Linda Lumsden</p>
<p>That the Museum & Archives Advisory Committee approve the recommendation outlined in Report MAAC15-001 dated March 12, 2015, of the Museum Director, as follows:</p>
<p>That the Museum Director’s report regarding the 2015 Operating Budget for the Peterborough Museum & Archives (PMA) be received for information.</p>
<p>“CARRIED”</p>
<p>Museum Director Report MAAC15-002 Community Museum Operating Grant Requirements (2015 to 2018)</p>
<p>Moved by Ann Sullivan</p>
<p>That the Museum & Archives Advisory Committee approve the recommendations outlined in Report MAAC15-002 dated March 12, 2015, of the Museum Director, as follows:</p>
<p>a)</p>
<p>That the Museum Director’s report regarding the Community Museum Operating Grant be received for information.</p>
<p>That the job description of the Curator, attached as Appendix A, be received for information, in compliance with the Community Museum Operating Grant requirements.</p>
<p>b)</p>
<p>“CARRIED”</p>
<br>
<p>Museum & Archives Advisory Committee</p>
<p>Meeting of March 12, 2015</p>
<p>Page 4</p>
<p>Other Business</p>
<p>Susan Neale, Museum Director provided an update on March Break Camps at the museum and advised that the archives will reopen on April 7, 2015.  It was noted that the official opening for the Fleming College installation on textiles will be April 23rd, 2015.</p>
<p>Karen Carter-Edwards volunteered to be the MAAC representative on the 2014 Civic Awards Selection Committee.</p>
<p>Next Meeting</p>
<p>The Chair indicated that the next meeting is scheduled for April 9, 2015.</p>
<p>Adjournment</p>
<p>Moved by Janice Millard</p>
<p>That this meeting of the Museum & Archives Advisory Committee adjourn at 5:36 p.m.</p>
<p>"CARRIED"</p>
<br>
<p>Natalie Garnett Deputy City Clerk</p>
<p>Nancy Jackson Chair</p>
<br></div>