<!doctype html><div><br>
<br>
<p>Peterborough Architectural Conservation</p>
<p>Advisory Committee Minutes</p>
<p>City of Peterborough</p>
<p>September 3, 2015</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of the Peterborough Architectural Conservation</p>
<p>Advisory Committee Held on September 3, 2015 in the Sutherland</p>
<p>Room, City Hall.</p>
<br>
<p>The meeting of the Peterborough Architectural Conservation Advisory Committee was</p>
<p>called to order at 7:00 p.m. by Stewart Hamilton, Chair in the Sutherland Room, City Hall.</p>
<p>Present: Stewart Hamilton, Chair Ivan Bateman Kaes Vanderkooy Paul Lumsden Jacqueline Irwin Councillor Pappas Catherine Dibben</p>
<p>Regrets: Steve Guerin Martin Parker</p>
<p>Staff: Allan Seabrooke, Chief Administrative Officer Erik Hanson, Heritage Resources Coordinator Kathryn McLeod, Heritage Researcher Kendra Sedgwick, Committee Coordinator</p>
<p>There was a welcome and introduction of Allan Seabrooke, Chief Administrative Officer for the City of Peterborough.</p>
<br>
<p>Peterborough Architectural Conservation Advisory</p>
<p>Committee Minutes</p>
<p>Meeting of September 3, 2015</p>
<p>Page 2</p>
<p>Minutes – June 4 and 24, 2015</p>
<p>Moved by Paul Lumsden</p>
<p>That the minutes of the Peterborough Architectural Conservation Advisory Committee meetings held on June 4 and 24, 2015 be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of interest.</p>
<p>Consent Agenda</p>
<p>Moved by Councillor Pappas</p>
<p>That item 4 be passed as part of the Consent Agenda.</p>
<p>“CARRIED”</p>
<p>Heritage Resources Coordinator Report PACAC15-028 Heritage Designation 252 Parkhill Road</p>
<p>Moved by Councillor Pappas</p>
<p>That the Peterborough Architectural Conservation Advisory Committee approve the recommendation outlined in Report PACAC15-028, dated September 3, 2015 of the Heritage Resources Coordinator, as follows:</p>
<p>That 252 Parkhill Road (Ashley) be recommended to Council for designation pursuant to Part IV, Section 29 of the Ontario Heritage Act as being of cultural heritage value or interest.</p>
<p>“CARRIED”</p>
<p>Peterborough Architectural Conservation Advisory</p>
<p>Committee Minutes</p>
<p>Meeting of September 3, 2015</p>
<p>Page 3</p>
<p>Heritage Resources Coordinator Report PACAC15-027 Strategic Plan Draft Review</p>
<p>Moved by Councillor Pappas</p>
<p>That the Peterborough Architectural Conservation Advisory Committee approve the recommendations outlined in Report PACAC15-027, dated September 3, 2015 of the Heritage Resources Coordinator, as follows:</p>
<p>a)</p>
<p>That the PACAC receive the draft Strategic Plan for discussion,</p>
<p>That the sub-committee meet with the HPO Office and PACAC Chair to continue working on the Strategic Plan, and</p>
<p>b)</p>
<p>c)</p>
<p>That the Committee Chair send an email to PACAC members with the strategic plan updates prior to it coming back before the Committee.</p>
<p>“CARRIED”</p>
<p>Heritage Resources Coordinator Report PACAC15-025 Impact of Community Mailboxes on Heritage Properties</p>
<p>Moved by Councillor Pappas</p>
<p>That the Peterborough Architectural Conservation Advisory Committee approve the recommendation outlined in Report PACAC15-025, dated September 3, 2015 of the Heritage Resources Coordinator, as follows:</p>
<p>That the report about the potential impact of the installation of community mailboxes by Canada Post on, or in proximity to, individual heritage properties and heritage conservation districts be received for discussion.</p>
<p>“CARRIED”</p>
<p>Peterborough Architectural Conservation Advisory</p>
<p>Committee Minutes</p>
<p>Meeting of September 3, 2015</p>
<p>Page 4</p>
<p>Moved by Kaes Vanderkooy</p>
<p>That the Peterborough Architectural Conservation Advisory Committee recommend that Council request that Canada Post be respectful of Heritage Conservation Districts when determining location and design of Community Mailboxes.</p>
<p>“CARRIED”</p>
<p>Heritage Resources Coordinator Report PACAC15-026 PACAC 40th Anniversary Update</p>
<p>Moved by Kaes Vanderkooy</p>
<p>That the Peterborough Architectural Conservation Advisory Committee approve the recommendation outlined in Report PACAC15-026, dated September 3, 2015 of the Heritage Resources Coordinator, as follows:</p>
<p>That the report with respect to the activities related to the commemoration of the 40th anniversary of PACAC be received for information.</p>
<p>“CARRIED”</p>
<p>Heritage Resources Coordinator Report PACAC15-024 Heritage Preservation Office Report</p>
<p>Moved by Paul Lumsden</p>
<p>That the Peterborough Architectural Conservation Advisory Committee approve the recommendation outlined in Report PACAC15-024, dated September 3, 2015 of the Heritage Resources Coordinator, as follows:</p>
<p>That the report with respect to the activities of the Heritage Preservation Office for June through August, 2015 be received for information.</p>
<p>“CARRIED”</p>
<p>Peterborough Architectural Conservation Advisory</p>
<p>Committee Minutes</p>
<p>Meeting of September 3, 2015</p>
<p>Page 5</p>
<p>Other Business</p>
<p>Vision 2015: - A Strategy for Recreation, Parks, Arenas and Culture</p>
<p>The Committee was reminded that they are invited to attend the Arenas, Parks and Recreation Advisory Committee meeting on Tuesday, September 15 at 5:30 p.m. at Queen Alexandra.  The consultant will be at the meeting to discuss the details of Vision 2015 and to receive feedback from the Committee members present.</p>
<p>Next Meeting</p>
<p>The Chair indicated that the next meeting of the Committee is scheduled for October 1, 2015.</p>
<p>Adjournment</p>
<p>Moved by Councillor Pappas</p>
<p>That this meeting of the Peterborough Architectural Conservation Advisory Committee adjourn at 8:50 p.m.</p>
<p>"CARRIED"</p>
<p>Kendra Sedgwick Committee Coordinator</p>
<p>Stewart Hamilton, Chair</p>
<br></div>