<!doctype html><div><br>
<br>
<p>Peterborough Architectural Conservation</p>
<p>Advisory Committee Minutes</p>
<p>City of Peterborough</p>
<p>October 1, 2015</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of the Peterborough Architectural Conservation</p>
<p>Advisory Committee held on October 1, 2015 in the Sutherland Room,</p>
<p>City Hall.</p>
<br>
<p>The meeting of the Peterborough Architectural Conservation Advisory Committee was</p>
<p>called to order at 7:00 p.m. by Stewart Hamilton, Chair in the Sutherland Room, City Hall.</p>
<p>Present: Stewart Hamilton, Chair Kaes Vanderkooy Paul Lumsden Jacqueline Irwin Councillor Pappas Catherine Dibben Steve Guerin Martin Parker</p>
<p>Regrets: Ivan Bateman</p>
<p>Staff: Erik Hanson, Heritage Resources Coordinator Kathryn McLeod, Heritage Researcher Kendra Sedgwick, Committee Coordinator</p>
<p>Minutes – September 3, 2015</p>
<p>Moved by Paul Lumsden</p>
<p>That the minutes of the Peterborough Architectural Conservation Advisory Committee meeting held on September 3, 2015 be approved.</p>
<p>“CARRIED”</p>
<br>
<p>Peterborough Architectural Conservation Advisory</p>
<p>Committee Minutes</p>
<p>Meeting of October 1, 2015</p>
<p>Page 2</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of interest.</p>
<p>Heritage Resources Coordinator Report PACAC15-031 YMCA Redevelopment Presentation</p>
<p>The Heritage Resources Coordinator informed the Committee that Atria Development Corporation was not attending the meeting to present their redevelopment plan for the former YMCA building.</p>
<p>Heritage Resources Coordinator Report PACAC15-030 Places of Faith Presentation</p>
<p>Moved by Martin Parker</p>
<p>That the Peterborough Architectural Conservation Advisory Committee approve the recommendation outlined in Report PACAC15-030, dated October 1, 2015 of the Heritage Resources Coordinator, as follows:</p>
<p>That the presentation by the Heritage Resources Coordinator on the state of places of faith in Peterborough, be received.</p>
<p>“CARRIED”</p>
<p>Councillor Pappas left the meeting at 8:00 p.m.</p>
<br>
<p>Peterborough Architectural Conservation Advisory</p>
<p>Committee Minutes</p>
<p>Meeting of October 1, 2015</p>
<p>Page 3</p>
<p>Heritage Resources Coordinator Report PACAC15-029 Heritage Preservation Office Report</p>
<p>Moved by Kaes Vanderkooy</p>
<p>That the Peterborough Architectural Conservation Advisory Committee approve the recommendation outlined in Report PACAC15-029, dated October 1, 2015 of the Heritage Resources Coordinator, as follows:</p>
<p>That the report with respect to the activities of the Heritage Preservation Office for September 1, 2015 be received for information.</p>
<p>“CARRIED”</p>
<p>Bethune Street Flood Diversion Project</p>
<p>Moved by Catherine Dibben</p>
<p>That a letter be sent from the Committee Chair reiterating the expectation that PAPAC be kept informed during the project and be suitably updated during milestones.</p>
<p>“CARRIED”</p>
<p>Other Business</p>
<p>The Committee held a discussion on the maintenance/refurbishment of the monument at Confederation Park.</p>
<p>Next Meeting</p>
<p>The Chair indicated that the next meeting of the Committee is scheduled for November 5, 2015.</p>
<br>
<br>
<p>Peterborough Architectural Conservation Advisory</p>
<p>Committee Minutes</p>
<p>Meeting of October 1, 2015</p>
<p>Page 4</p>
<p>Adjournment</p>
<p>Moved by Steve Guerin</p>
<p>That this meeting of the Peterborough Architectural Conservation Advisory Committee adjourn at 9:31 p.m.</p>
<p>"CARRIED"</p>
<p>Kendra Sedgwick Committee Coordinator</p>
<p>Stewart Hamilton, Chair</p>
<br></div>