<!doctype html><div><br>
<br>
<p>Peterborough Architectural Conservation</p>
<p>Advisory Committee Minutes</p>
<p>City of Peterborough</p>
<p>February 2, 2017</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of the Peterborough Architectural Conservation</p>
<p>Advisory Committee held on February 2, 2017 in the Sutherland</p>
<p>Room, City Hall.</p>
<br>
<p>The meeting of the Peterborough Architectural Conservation Advisory Committee was</p>
<p>called to order at 7:00 p.m. by Kendra Sedgwick, Committee Coordinator in the Sutherland Room, City Hall.</p>
<p>Present: Ivan Bateman Paul Lumsden Jacqueline Irwin James Bradburn Councillor Pappas Martin Parker</p>
<p>Regrets: Stewart Hamilton, Chair Kaes Vanderkooy, Vice Chair Steve Guerin</p>
<p>Staff: Erik Hanson, Heritage Resources Coordinator Briar Sutherland, Heritage Researcher Kendra Sedgwick, Committee Coordinator</p>
<p>Moved by Councillor Pappas</p>
<p>That Jacqueline Irwin act as Chair for the meeting.</p>
<p>“CARRIED”</p>
<p>The Chair welcomed the new Committee member James Bradburn as well as Heritage Researcher Briar Sutherland.</p>
<p>Peterborough Architectural Conservation Advisory</p>
<p>Committee Minutes</p>
<p>Meeting of February 2, 2017</p>
<p>Page 2</p>
<p>Minutes – January 5, 2017</p>
<p>Moved by Martin Parker</p>
<p>That the minutes of the Peterborough Architectural Conservation Advisory Committee meeting held on January 5, 2017 be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>Jacqueline Irwin declared an Interest with Report PACAC17-006, Heritage Conservation District Incentive Program Presentation as she lives in the Heritage Conservation District.</p>
<p>Consent Agenda</p>
<p>Moved by Councillor Pappas</p>
<p>That items 5 and 7 be approved as part of the Consent Agenda.</p>
<p>“CARRIED”</p>
<p>Moved by Councillor Pappas</p>
<p>That the agenda be amended to deal with Item 6, Report PACAC17-011, Project Approval App-Based Walking Tour first.</p>
<p>“CARRIED”</p>
<br>
<p>Peterborough Architectural Conservation Advisory</p>
<p>Committee Minutes</p>
<p>Meeting of February 2, 2017</p>
<p>Page 3</p>
<p>Heritage Resources Coordinator Report PACAC17-009 Funding Approval Adjacency Workshop</p>
<p>Moved by Councillor Pappas</p>
<p>That Report PACAC17-009, dated February 2, 2017 of the Heritage Resources Coordinator, as follows:</p>
<p>a)</p>
<p>That the PACAC receive the proposal from ERA Architects Inc, to provide a workshop and create guidelines for reviewing development adjacent to heritage resources in the City of Peterborough.</p>
<p>That the PACAC approve an allocation of $2,825 inclusive of HST to be drawn from the PACAC reserve.</p>
<p>b)</p>
<p>“CARRIED”</p>
<p>Heritage Resources Coordinator Report PACAC17-008 Heritage Preservation Office Report</p>
<p>Moved by Councillor Pappas</p>
<p>That the Peterborough Architectural Conservation Advisory Committee approve the recommendation outlined in Report PACAC17-008, dated February 2, 2017 of the Heritage Resources Coordinator, as follows:</p>
<p>That the report with respect to the activities of the Heritage Preservation Office for January, 2017 be received for information.</p>
<p>“CARRIED”</p>
<br>
<p>Peterborough Architectural Conservation Advisory</p>
<p>Committee Minutes</p>
<p>Meeting of February 2, 2017</p>
<p>Page 4</p>
<p>Heritage Resources Coordinator Report PACAC17-011 Project Approval App-Based Walking Tour</p>
<p>Andrew Nichols, GIS Technologist, provided a power point presentation to Report PACAC17-011.</p>
<p>Moved by Ivan Bateman</p>
<p>That the PACAC approve the recommendations outlined in Report PACAC17-011, dated February 2, 2017 of the Heritage Resources Coordinator, as follows:</p>
<p>a)</p>
<p>That the PACAC pursue the Peterborough hiSTORIES project as the starting point for a mobile device-based exploration app of the City’s heritage sites,</p>
<p>That the PACAC identify the Peterborough hiSTORIES project as it’s commemoration of the legacy of Martha Kidd, and;</p>
<p>b)</p>
<p>That Terms of Reference be created for retaining a contract staff person to complete the research collection and application development for the project.</p>
<br>
<p>c)</p>
<p>“CARRIED”</p>
<br>
<p>Peterborough Architectural Conservation Advisory</p>
<p>Committee Minutes</p>
<p>Meeting of February 2, 2017</p>
<p>Page 5</p>
<p>Heritage Resources Coordinator Report PACAC17-006 Heritage Conservation District Incentive Program Presentation</p>
<p>Due to Jacqueline Irwin’s declared interest, she stepped down from the Chair. Councillor Pappas assumed the Chair.  Jacqueline did not discuss or vote on the matter.</p>
<p>Moved by Paul Lumsden</p>
<p>That the PACAC approve the recommendation outlined in Report PACAC17-006, dated February 2, 2017 of the Heritage Resources Coordinator, as follows:</p>
<p>That the presentation from the Heritage Resources Coordinator on a grant program to provide funding for the preservation of properties in heritage conservation districts be received for information.</p>
<p>“CARRIED”</p>
<p>Jacqueline Irwin assumed the Chair.</p>
<p>Heritage Resources Coordinator Report PACAC17-010 Review of Heritage Impact Assessment – 266 Burnham Street</p>
<p>Moved by Paul Lumsden</p>
<p>That Report PACAC17-010 be deferred to the March Committee meeting.</p>
<p>“CARRIED”</p>
<p>Other Business</p>
<p>Heritage Register</p>
<p>Councillor Pappas believed this item was a reconsideration.  The Chair called a vote on the reconsideration and it passed.</p>
<br>
<p>Peterborough Architectural Conservation Advisory</p>
<p>Committee Minutes</p>
<p>Meeting of February 2, 2017</p>
<p>Page 6</p>
<p>Moved by James Bradburn</p>
<p>That 362-368 George Street North be removed from the eligible list of properties to be included in the Heritage Register before being approved by Council.</p>
<p>“CARRIED”</p>
<p>Next Meeting</p>
<p>The Chair indicated that the next meeting of the Committee is scheduled for March 2, 2017.</p>
<p>Adjournment</p>
<p>Moved by Councillor Pappas</p>
<p>That this meeting of the Peterborough Architectural Conservation Advisory Committee adjourn at 8:20 p.m.</p>
<p>"CARRIED"</p>
<p>Kendra Sedgwick Committee Coordinator</p>
<p>Jacqueline Irwin, Acting Chair</p>
<br></div>