<!doctype html><div><br>
<br>
<p>Peterborough Architectural Conservation</p>
<p>Advisory Committee Minutes</p>
<p>City of Peterborough</p>
<p>March 2, 2017</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of the Peterborough Architectural Conservation</p>
<p>Advisory Committee held on March 2, 2017 in the Doris Room, City</p>
<p>Hall.</p>
<br>
<p>The meeting of the Peterborough Architectural Conservation Advisory Committee was</p>
<p>called to order at 7:00 p.m. by Stewart Hamilton, Chair in the Doris Room, City Hall.</p>
<p>Present: Ivan Bateman Paul Lumsden Jacqueline Irwin Councillor Pappas Stewart Hamilton, Chair Kaes Vanderkooy Steve Guerin</p>
<p>Regrets: James Bradburn Martin Parker</p>
<p>Staff: Becky Rogers, Manager, Arts, Culture and Heritage Division Erik Hanson, Heritage Resources Coordinator Briar Sutherland, Heritage Researcher Kendra Sedgwick, Committee Coordinator</p>
<p>Minutes – February 2, 2017</p>
<p>Moved by Paul Lumsden</p>
<p>That the minutes of the Peterborough Architectural Conservation Advisory Committee meeting held on February 2, 2017 be approved.</p>
<p>“CARRIED”</p>
<br>
<p>Peterborough Architectural Conservation Advisory</p>
<p>Committee Minutes</p>
<p>Meeting of March 2, 2017</p>
<p>Page 2</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of interest.</p>
<p>Consent Agenda</p>
<p>Moved by Councillor Pappas</p>
<p>That item 6 be approved as part of the Consent Agenda.</p>
<p>“CARRIED”</p>
<p>Heritage Resources Coordinator Report PACAC17-012 Heritage Preservation Office Report</p>
<p>Moved by Councillor Pappas</p>
<p>That the Peterborough Architectural Conservation Advisory Committee approve the recommendation outlined in Report PACAC17-012, dated March 2, 2017 of the Heritage Resources Coordinator, as follows:</p>
<p>That the report with respect to the activities of the Heritage Preservation Office for February, 2017 be received for information.</p>
<p>“CARRIED”</p>
<br>
<p>Peterborough Architectural Conservation Advisory</p>
<p>Committee Minutes</p>
<p>Meeting of March 2, 2017</p>
<p>Page 3</p>
<p>Heritage Resources Coordinator Report PACAC17-013 Review of Heritage Impact Assessment – 266 Burnham St.</p>
<p>Moved by Paul Lumsden</p>
<p>That the Rules of Order be suspended to permit Kevin Duguay, agent for the applicant of 266 Burnham Street, to answer questions of the Committee.</p>
<p>“CARRIED”</p>
<p>Moved by Kaes Vanderkooy</p>
<p>That the Peterborough Architectural Conservation Advisory Committee approve the recommendations outlined in Report PACAC17-013, dated March 2, 2017 of the Heritage Resources Coordinator, as follows:</p>
<p>a)</p>
<p>That the PACAC receive for information the Heritage Impact Assessment for 266 Burnham Street as prepared by ERA Architects, Inc.</p>
<p>That the PACAC provide comment on the recommendations in the assessment and forward those comments to the Committee of Adjustment.</p>
<p>b)</p>
<p>“CARRIED”</p>
<br>
<p>Peterborough Architectural Conservation Advisory</p>
<p>Committee Minutes</p>
<p>Meeting of March 2, 2017</p>
<p>Page 4</p>
<p>Heritage Resources Coordinator Report PACAC17-014 Cenotaph Proposed Alterations Review</p>
<p>Moved by Kaes Vanderkooy</p>
<p>That the PACAC approve the recommendation outlined in Report PACAC17-014, dated March 2, 2017 of the Heritage Resources Coordinator, as follows:</p>
<p>That the PACAC determine its formal position on alterations to the Citizen’s War Memorial (Cenotaph) in preparation for discussions with the Cenotaph Advisory Committee.</p>
<p>At the meeting of March 2, 2017, the following was added:</p>
<p>That the Chair send a letter to the Chair of the Cenotaph Advisory Committee requesting that correspondence be provided to PACAC indicating the changes being proposed to the Citizen’s War Memorial (Cenotaph).</p>
<p>“CARRIED”</p>
<p>Heritage Resources Coordinator Report PACAC17-016 Heritage Designation of 144 Brock St. and 450 George St. N</p>
<p>Moved by Ivan Bateman</p>
<p>That the Peterborough Architectural Conservation Advisory Committee approve the recommendations outlined in Report PACAC17-016, dated March 2, 2017 of the Heritage Resources Coordinator, as follows:</p>
<p>a)</p>
<p>That 144 Brock Street be recommended to Council for designation pursuant to Part IV, Section 29 of the Ontario Heritage Act as being of cultural heritage value or interest; and,</p>
<p>That 450 George Street N. be recommended to Council for designation pursuant to Part IV, Section 29 of the Ontario Heritage Act as being of cultural heritage value or interest.</p>
<br>
<p>b)</p>
<p>“CARRIED”</p>
<p>Peterborough Architectural Conservation Advisory</p>
<p>Committee Minutes</p>
<p>Meeting of March 2, 2017</p>
<p>Page 5</p>
<p>Other Business</p>
<p>There were no items of Other Business.</p>
<p>Next Meeting</p>
<p>The Chair indicated that the next meeting of the Committee is scheduled for April 6, 2017.</p>
<p>Adjournment</p>
<p>Moved by Councillor Pappas</p>
<p>That this meeting of the Peterborough Architectural Conservation Advisory Committee adjourn at 8:25 p.m.</p>
<p>"CARRIED"</p>
<p>Kendra Sedgwick Committee Coordinator</p>
<p>Stewart Hamilton, Chair</p>
<br></div>