<!doctype html><div><br>
<br>
<p>Peterborough Architectural Conservation</p>
<p>Advisory Committee Minutes</p>
<p>City of Peterborough</p>
<p>June 1, 2017</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of the Peterborough Architectural Conservation</p>
<p>Advisory Committee held on June 1, 2017 in the Auditorium,</p>
<p>Community Services Office, 210 Wolfe Street.</p>
<br>
<p>The meeting of the Peterborough Architectural Conservation Advisory Committee was</p>
<p>called to order at 7:00 p.m. by Stewart Hamilton, Chair in the Auditorium, Community Services Office.</p>
<p>Present: Ivan Bateman Jacqueline Irwin Councillor Pappas Stewart Hamilton, Chair James Bradburn Kaes Vanderkooy Paul Lumsden Martin Parker</p>
<p>Regrets: Steve Guerin</p>
<p>Staff: Erik Hanson, Heritage Resources Coordinator Briar Sutherland, Heritage Researcher Kendra Sedgwick, Committee Coordinator</p>
<p>Minutes – May 4, 2017</p>
<p>Moved by Kaes Vanderkooy</p>
<p>That the minutes of the Peterborough Architectural Conservation Advisory Committee meeting held on May 4, 2017 be approved.</p>
<p>“CARRIED”</p>
<br>
<p>Peterborough Architectural Conservation Advisory</p>
<p>Committee Minutes</p>
<p>Meeting of June 1, 2017</p>
<p>Page 2</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of interest.</p>
<p>Heritage Resources Coordinator Report PACAC17-024 Proposed Alteration 62 Dunlop Street</p>
<p>Moved by Councillor Pappas</p>
<p>That the PACAC approve the recommendations outlined in Report PACAC17-024, dated June 1, 2017 of the Heritage Resources Coordinator, as follows:</p>
<p>a)</p>
<p>That the PACAC receive a presentation from Ken Trevelyan of Trevelyan Architect, Inc. regarding a proposed alteration to 62 Dunlop Street (Malone), a property designated under the Ontario Heritage Act,</p>
<p>That the PACAC provide a decision, approving the application, with the condition that the final drawings submitted for permit, be approved by the Heritage Resources Coordinator; and</p>
<p>b)</p>
<p>That a letter containing the decision be provided to the property owner.</p>
<p>c)</p>
<p>“CARRIED”</p>
<br>
<p>Peterborough Architectural Conservation Advisory</p>
<p>Committee Minutes</p>
<p>Meeting of June 1, 2017</p>
<p>Page 3</p>
<p>Heritage Resources Coordinator Report PACAC17-027 City Hall Elevator Project</p>
<p>Moved by Martin Parker</p>
<p>That the PACAC approve the recommendations outlined in Report PACAC17-027, dated June 1, 2017 of the Heritage Resources Coordinator, as follows:</p>
<p>a)</p>
<p>That the presentation from Lett Architects regarding the proposed design for the City Hall elevator be received for information; and</p>
<p>That the PACAC approve the interlocking horizontal copper-siding, for the exterior material on the new elevator.</p>
<p>b)</p>
<p>“CARRIED”</p>
<p>Heritage Resources Coordinator Report PACAC17-025 Presentation: Liftlock Subdivision Development</p>
<p>Moved by Councillor Pappas</p>
<p>That the PACAC approve the recommendations outlined in Report PACAC17-025, dated June 1, 2017 of the Heritage Resources Coordinator, as follows:</p>
<p>a)</p>
<p>That the presentation by the City’s Planner, Subdivision Control and Special Projects, on the Liftlock Subdivision Development be received for information, and</p>
<p>That the Chair send a letter to the Planning Department indicating the Committee’s desire for the maximum buffer possible between the construction and the Liftock.</p>
<p>b)</p>
<p>“CARRIED”</p>
<br>
<p>Peterborough Architectural Conservation Advisory</p>
<p>Committee Minutes</p>
<p>Meeting of June 1, 2017</p>
<p>Page 4</p>
<p>Heritage Resources Coordinator Report PACAC17-026 Heritage Preservation Office Report</p>
<p>Moved by Martin Parker</p>
<p>That the Peterborough Architectural Conservation Advisory Committee approve the recommendation outlined in Report PACAC17-026, dated June 1, 2017 of the Heritage Resources Coordinator, as follows:</p>
<p>That the report with respect to the activities of the Heritage Preservation Office for May, 2017 be received for information.</p>
<p>“CARRIED”</p>
<p>Councillor Pappas left the meeting at 8:38 p.m.</p>
<p>Other Business</p>
<p>269 Edinburgh Street</p>
<p>Moved by Paul Lumden</p>
<p>That the Committee monitor the proposed application to Committee of Adjustment for 269 Edinburgh Street to see if a Heritage Impact Assessment is required due to the severance application.</p>
<p>“CARRIED”</p>
<p>Next Meeting</p>
<p>The Chair indicated that the next meeting of the Committee is scheduled for September 7, 2017.</p>
<br>
<p>Peterborough Architectural Conservation Advisory</p>
<p>Committee Minutes</p>
<p>Meeting of June 1, 2017</p>
<p>Page 5</p>
<p>Adjournment</p>
<p>Moved by Martin Parker</p>
<p>That this meeting of the Peterborough Architectural Conservation Advisory Committee adjourn at 9:43 p.m.</p>
<p>"CARRIED"</p>
<p>Kendra Sedgwick Committee Coordinator</p>
<p>Stewart Hamilton, Chair</p>
<br></div>