<!doctype html><div><br>
<br>
<br>
<br>
<br>
<br>
<p>Peterborough Architectural Conservation</p>
<p>Advisory Committee Minutes</p>
<p>City of Peterborough</p>
<p>October 5, 2017</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of the Peterborough Architectural Conservation</p>
<p>Advisory Committee held on October 5, 2017 in the Auditorium,</p>
<p>Community Services Office, 210 Wolfe Street.</p>
<br>
<p>The meeting of the Peterborough Architectural Conservation Advisory Committee was</p>
<p>called to order at 5:02 p.m. by Stewart Hamilton, Chair, in the Auditorium, Community Services Office.</p>
<p>Present: Ivan Bateman Jacqueline Irwin Stewart Hamilton, Chair James Bradburn Kaes Vanderkooy Paul Lumsden Steve Guerin</p>
<p>Regrets: Councillor Pappas</p>
<p>Staff: Erik Hanson, Heritage Resources Coordinator Emily Turner, Heritage Researcher Kendra Sedgwick, Committee Coordinator</p>
<p>Minutes – September 7, 2017</p>
<p>Moved by Kaes Vanderkooy</p>
<p>That the minutes of the Peterborough Architectural Conservation Advisory Committee meeting held on September 7, 2017 be approved.</p>
<p>“CARRIED”</p>
<br>
<p>Peterborough Architectural Conservation Advisory</p>
<p>Committee Minutes</p>
<p>Meeting of October 5, 2017</p>
<p>Page 2</p>
<p>Disclosure of Pecuniary Interest</p>
<p>Steve Guerin declared an interest in Item 3 (Report PACAC17-033 – Review of Heritage Conservation District Grant Applications), as he has family members who have applied for a grant.</p>
<p>Jacqueline Irwin declared an interest in Item 3 (Report PACAC17-033 – Review of Heritage Conservation District Grant Applications), as she lives in the Heritage Conservation District.</p>
<p>Stewart Hamilton declared an interest in Item 6 (Report PACAC17-035 – Zoning By-law Amendment to 661 Park St. N.), as he is an owner of the property.</p>
<p>Consent Agenda</p>
<p>Moved by Paul Lumsden</p>
<p>That item 5 be approved as part of the Consent Agenda.</p>
<p>“CARRIED”</p>
<p>Heritage Resources Coordinator Report PACAC17-032 Heritage Designation of 500 Gilmour Street and 503 Homewood Avenue</p>
<p>Moved by Paul Lumsden</p>
<p>That the Peterborough Architectural Conservation Advisory Committee approve the recommendations outlined in Report PACAC17-032, dated October 5, 2017 of the Heritage Resources Coordinator, as follows:</p>
<p>a)</p>
<p>That the recommendation of the designation subcommittee be received, and;</p>
<p>That 500 Gilmour Street (Castlewraye) and 503 Homewood Avenue (the Bradburn House) be recommended to Council for designation pursuant to Part IV, Section 29 of the Ontario Heritage Act as being of cultural heritage value or interest.</p>
<br>
<p>b)</p>
<p>“CARRIED”</p>
<br>
<p>Peterborough Architectural Conservation Advisory</p>
<p>Committee Minutes</p>
<p>Meeting of October 5, 2017</p>
<p>Page 3</p>
<p>Heritage Resources Coordinator Report PACAC17-033 Review of Heritage Conservation District Grant Applications</p>
<p>Due to their previously declared interests, Steve Guerin and Jacqueline Irwin, did not discuss or vote on the matter.</p>
<p>Moved by Paul Lumsden</p>
<p>That the Peterborough Architectural Conservation Advisory Committee approve the recommendations outlined in Report PACAC17-033, dated October 5, 2017 of the Heritage Resources Coordinator, as follows:</p>
<p>a)</p>
<p>That the HCD Preservation Incentive Grant applications for 300 Frederick Avenue, 581 Bolivar Street and 303 Frederick Avenue be approved in principle; and</p>
<p>That PACAC delegate authority for final approval to the Heritage Preservation Office for these three applications.</p>
<p>b)</p>
<p>“CARRIED”</p>
<p>Heritage Resources Coordinator Report PACAC17-034 Doors Open 2018</p>
<p>Moved by Martin Parker</p>
<p>That the Peterborough Architectural Conservation Advisory Committee approve the recommendations outlined in Report PACAC17-034, dated October 5, 2017 of the Heritage Resources Coordinator, as follows:</p>
<p>a)</p>
<p>That the PACAC register Doors Open Peterborough with the Ontario Heritage Trust for 2018, and</p>
<p>That PACAC approve funding a contract for a person to coordinate Doors Open Peterborough 2018 and the Heritage Hunt 2018.</p>
<p>b)</p>
<p>“CARRIED”</p>
<br>
<p>Peterborough Architectural Conservation Advisory</p>
<p>Committee Minutes</p>
<p>Meeting of October 5, 2017</p>
<p>Page 4</p>
<p>Due to his previously declared interest, Stewart Hamilton, Chair, left the room at 5:29 p.m.</p>
<p>Kaes Vanderkooy, Vice Chair, assumed the Chair.</p>
<p>Heritage Resources Coordinator Report PACAC17-035 Zoning By-law Amendment 661 Park Street North</p>
<p>Moved by James Bradburn</p>
<p>That the Peterborough Architectural Conservation Advisory Committee approve the recommendation outlined in Report PACAC17-035, dated October 5, 2017 of the Heritage Resources Coordinator, as follows:</p>
<p>That the Zoning By-law Amendment Application for 661 Park St. N. to amend the current zoning be received for information.</p>
<p>“CARRIED”</p>
<p>Stewart Hamilton returned at 5:33 p.m.and assumed the Chair.</p>
<p>Heritage Resources Coordinator Report PACAC17-031 Heritage Preservation Office Report</p>
<p>Moved by James Bradburn</p>
<p>That the Peterborough Architectural Conservation Advisory Committee approve the recommendation outlined in Report PACAC17-031, dated October 5, 2017 of the Heritage Resources Coordinator, as follows:</p>
<p>That the report with respect to the activities of the Heritage Preservation Office for September 2017 be received for information.</p>
<p>“CARRIED”</p>
<br>
<br>
<br>
<p>Peterborough Architectural Conservation Advisory</p>
<p>Committee Minutes</p>
<p>Meeting of October 5, 2017</p>
<p>Page 5</p>
<p>Other Business</p>
<p>There were no items of Other Business.</p>
<p>Next Meeting</p>
<p>The Chair indicated that the next meeting of the Committee is scheduled for November 2, 2017.</p>
<p>Adjournment</p>
<p>Moved by Steve Guerin</p>
<p>That this meeting of the Peterborough Architectural Conservation Advisory Committee adjourn at 6:22 p.m.</p>
<p>"CARRIED"</p>
<p>Kendra Sedgwick, Committee Coordinator</p>
<p>Stewart Hamilton, Chair</p>
<br>
<br></div>