<!doctype html><div><p>Peterborough Architectural Conservation Advisory Committee</p>
<br>
<p>Special Meeting Tuesday, October 15, 2009</p>
<br>
<p>Sutherland Room, City Hall</p>
<br>
<br>
<br>
<p>Presentation – Hunter Street Bridge</p>
<br>
<p>Present:  Sue McGregor-Hunter (Chair), Councillor Dean Pappas, Andre Vallillee, Gord</p>
<p>Young, Peer Christensen, Dean Jeffrey</p>
<p>Associates and Staff:  Mary Lavery, Michael Townsend Erik Hanson, Jennifer Patterson,</p>
<p>Megan Cavanagh, Ben Dick, Cathy Gogo (recording)</p>
<p>Regrets:  Geoffrey Eve</p>
<br>
<p>Motion by Councilor Pappas, seconded by G. Young,</p>
<p>That the regular meeting agenda be suspended.  Carried.</p>
<br>
<p>1.</p>
<p>Director of Utility Services, Wayne Jackson, was introduced to present the latest information on</p>
<p>the renovation of the Hunter Street Bridge and receive input from PACAC.</p>
<br>
<p>The bridge was designed by Claude Bragdon; constructed from 1919 to 1921. The heritage</p>
<p>designation brief provides the heritage character statement and notes the concrete arches,</p>
<p>granite faced concrete finish, historic plaques, terra cotta inserts and panels, and lights.</p>
<br>
<p>The proposed work will deal with significant areas of deterioration. Inspection of the west end</p>
<p>of the bridge revealed crumbling of the concrete, water seepage, and decay of the lamp</p>
<p>posts, railings and terra cotta/ceramic inlays.</p>
<br>
<p>The budget is $13.4M.  The RFP allowed 20% of marks for experience in this type of historic</p>
<p>restoration; McCormick Rankin was the successful bidder. The Project Manager has an</p>
<p>engineering designation for historic restoration work.</p>
<br>
<p>All railings will be rehabilitated; all arches will be stripped of spalling concrete and repaired.</p>
<p>Reinforcing of the railings is necessary to bring the strength up to code at the end sections of</p>
<p>the bridge.  This cannot be done in the centre areas of the railings because of the ceramic</p>
<p>inlays.  Three options were presented:  1) do nothing, and railings remain “below code”; 2)</p>
<p>install box beams on the side of the road/edge of sidewalk; 3) install box beams directly on</p>
<p>the existing concrete railings. The intention is to preserve as much of the ceramic inlay as</p>
<p>possible.</p>
<br>
<p>The four main light standards do not meet current standards for lighting of a roadway.</p>
<p>Smaller lights could be installed along the railings but would cause glare for drivers.  Another</p>
<p>option is to spread out the posts and make them higher.  These would have to be located on</p>
<p>the sidewalks, and might interfere with pedestrian traffic and snowplows.</p>
<br>
<p>The tender will be awarded at the end of March; construction will begin in April 2010 and</p>
<p>completed in October 2011.  The work will be completed in 2 phases; substructure work may</p>
<p>carry through the winter of 2010-2011.</p>
<br>
<p>PACAC’s input was requested regarding the railing options, lighting options, quartz finish and</p>
<p>other critical aspects from a heritage perspective.  It was suggested tall lights could be added</p>
<p>near the Pepsi QTG building and East City Bowl to brighten the area.  Railing option #1 was</p>
<br>
<br>
<p>Peterborough Architectural Conservation Advisory Committee</p>
<p>Special Meeting Tuesday, October 15, 2009</p>
<p>Sutherland Room, City Hall</p>
<br>
<p>Presentation – Hunter Street Bridge</p>
<p>Present:  Sue McGregor-Hunter (Chair), Councillor Dean Pappas, Andre Vallillee, Gord Young, Peer Christensen, Dean Jeffrey Associates and Staff:  Mary Lavery, Michael Townsend Erik Hanson, Jennifer Patterson, Megan Cavanagh, Ben Dick, Cathy Gogo (recording) Regrets:  Geoffrey Eve</p>
<p>Motion by Councilor Pappas, seconded by G. Young, That the regular meeting agenda be suspended.  Carried.</p>
<p>1. Director of Utility Services, Wayne Jackson, was introduced to present the latest information on the renovation of the Hunter Street Bridge and receive input from PACAC.</p>
<p>The bridge was designed by Claude Bragdon; constructed from 1919 to 1921. The heritage designation brief provides the heritage character statement and notes the concrete arches, granite faced concrete finish, historic plaques, terra cotta inserts and panels, and lights.</p>
<p>The proposed work will deal with significant areas of deterioration. Inspection of the west end of the bridge revealed crumbling of the concrete, water seepage, and decay of the lamp posts, railings and terra cotta/ceramic inlays.</p>
<p>The budget is $13.4M.  The RFP allowed 20% of marks for experience in this type of historic restoration; McCormick Rankin was the successful bidder. The Project Manager has an engineering designation for historic restoration work.</p>
<p>All railings will be rehabilitated; all arches will be stripped of spalling concrete and repaired. Reinforcing of the railings is necessary to bring the strength up to code at the end sections of the bridge.  This cannot be done in the centre areas of the railings because of the ceramic inlays.  Three options were presented:  1) do nothing, and railings remain “below code”; 2) install box beams on the side of the road/edge of sidewalk; 3) install box beams directly on the existing concrete railings. The intention is to preserve as much of the ceramic inlay as possible.</p>
<p>The four main light standards do not meet current standards for lighting of a roadway. Smaller lights could be installed along the railings but would cause glare for drivers.  Another option is to spread out the posts and make them higher.  These would have to be located on the sidewalks, and might interfere with pedestrian traffic and snowplows.</p>
<p>The tender will be awarded at the end of March; construction will begin in April 2010 and completed in October 2011.  The work will be completed in 2 phases; substructure work may carry through the winter of 2010-2011.</p>
<p>PACAC’s input was requested regarding the railing options, lighting options, quartz finish and other critical aspects from a heritage perspective.  It was suggested tall lights could be added near the Pepsi QTG building and East City Bowl to brighten the area.  Railing option #1 was</p>
<br></div>