<!doctype html><div><br>
<br>
<br>
<br>
<p>PETERBOROUGH ARCHITECTURAL</p>
<br>
<p>CONSERVATION ADVISORY COMMITTEE</p>
<br>
<p>CITY OF PETERBOROUGH</p>
<br>
<p>JUNE 8, 2010</p>
<br>
<p>DRAFT MINUTES NOT APPROVED</p>
<br>
<br>
<br>
<br>
<p>MINUTES OF A MEETING OF PETERBOROUGH ARCHITECTURAL</p>
<p>CONSERVATION ADVISORY COMMITTEE HELD ON JUNE 8, 2010 IN</p>
<p>THE CITY BOARD ROOM, CITY HALL</p>
<br>
<p>The  meeting  of  Peterborough  Architectural  Conservation  Advisory  Committee  was</p>
<p>called to order at 7:08 p.m. in the City Board Room, City Hall.</p>
<p>Present Ivan Bateman Peer Christensen Geoffrey Eve, Chair Chris Gooderham Dean Jeffrey Sue McGregor-Hunter Andre Vallillee Gordon Young Councillor Pappas</p>
<p>Guests Mary Lavery, Peterborough Historical Society</p>
<p>Staff Becky Rogers, Manager, Arts, Culture & Heritage Division Erik Hanson, Heritage Resources Coordinator Ben Dick, Municipal Cultural Planning Researcher Kevin Arjoon, Deputy City Clerk</p>
<br></div>