<!doctype html><div><br>
<br>
<br>
<p>Peterborough Architectural Conservation</p>
<br>
<p>Advisory Committee Minutes</p>
<br>
<p>City of Peterborough</p>
<br>
<p>October 12, 2011</p>
<br>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<p>Minutes  of  a  Meeting  of  Peterborough  Architectural  Conservation</p>
<p>Advisory  Committee  Held  on  October  12,  2011  in  the  Sutherland</p>
<p>Room</p>
<br>
<p>The  meeting  of  Peterborough  Architectural  Conservation  Advisory  Committee  was</p>
<p>called to order at 7:00 p.m. in the Sutherland Room, City Hall.</p>
<p>Present: Stewart Hamilton Kathryn McLeod Kaes Vanderkooy Gord Young Catherine Dibben</p>
<p>Absent: Geoffrey Eve Ivan Bateman Chris Gooderham, Chair Councillor Pappas</p>
<p>Guest: Suresh Kandaswamy</p>
<p>Staff: Jennifer Patterson, Heritage Researcher Nancy Wright-Laking, City Clerk Natalie Garnett, Deputy City Clerk</p>
<p>In the absence of the Chair and Deputy Chair, Gord Young volunteered to Chair the meeting.  The Committee was in agreement with Mr. Young assuming the Chair.</p>
<br></div>