<!doctype html><div><br>
<br>
<br>
<p>Peterborough Architectural Conservation</p>
<br>
<p>Advisory Committee Minutes</p>
<br>
<p>City of Peterborough</p>
<br>
<p>November 8, 2011</p>
<br>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<p>Minutes  of  a  Meeting  of  Peterborough  Architectural  Conservation</p>
<p>Advisory  Committee  Held  on  November  8,  2011  in  the  Sutherland</p>
<p>Room</p>
<br>
<p>The  meeting  of  Peterborough  Architectural  Conservation  Advisory  Committee  was</p>
<p>called to order at 7:08 p.m. in the Sutherland Room, City Hall.</p>
<p>Present: Chris Gooderham, Chair Councillor Pappas Stewart Hamilton Kathryn McLeod Kaes Vanderkooy Gord Young Catherine Dibben Ivan Bateman Geoffrey Eve</p>
<p>Guest: Dennis Carter-Edwards, Peterborough Historical Society</p>
<p>Staff: Erik Hanson, Heritage Resources Coordinator Natalie Garnett, Deputy City Clerk</p>
<p>Minutes- October 12, 2011</p>
<p>Moved by Kaes Vanderkooy</p>
<p>That  the  minutes  of  the  Peterborough  Architectural  Conservation  Advisory Committee meeting held on October 12, 2011 be approved.</p>
<p>“CARRIED”</p>
<br>
<br></div>