<!doctype html><div><br>
<br>
<br>
<p>Peterborough Architectural Conservation</p>
<br>
<p>Advisory Committee Minutes</p>
<br>
<p>City of Peterborough</p>
<p>September 11, 2012</p>
<br>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of Peterborough Architectural Conservation</p>
<p>Advisory Committee Held on September 11, 2012 in the Sutherland</p>
<p>Room</p>
<br>
<p>The  meeting  of  Peterborough  Architectural  Conservation  Advisory  Committee  was</p>
<p>called to order at 7:01 p.m. in the Sutherland Room, City Hall.</p>
<p>Present: Catherine Dibben Geoffrey Eve Stewart Hamilton, Chair Paul Lumsden Kathryn McLeod Martin Parker G Kaes Vanderkooy Councillor Pappas Gord Young</p>
<p>Staff: Erik Hanson, Heritage Resources Coordinator John Kennedy, City Clerk Rebecca Whelan, Heritage Researcher</p>
<p>Minutes- June 12, 2012</p>
<p>Moved by Gord Young</p>
<p>That  the  minutes  of  the  Peterborough  Architectural  Conservation  Advisory Committee meeting held on June 12, 2012 be approved.</p>
<p>“CARRIED”</p>
<br></div>