<!doctype html><div><br>
<br>
<br>
<p>Peterborough Architectural Conservation</p>
<br>
<p>Advisory Committee Minutes</p>
<br>
<p>City of Peterborough</p>
<br>
<p>October 9, 2012</p>
<br>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of Peterborough Architectural Conservation</p>
<p>Advisory Committee Held on October 9, 2012 in the Sutherland Room</p>
<br>
<p>The  meeting  of  Peterborough  Architectural  Conservation  Advisory  Committee  was</p>
<p>called to order at 7:02 p.m. in the Sutherland Room, City Hall.</p>
<p>Present: Catherine Dibben Geoffrey Eve Stewart Hamilton, Chair Kathryn McLeod Martin Parker Kaes Vanderkooy Councillor Pappas Gord Young</p>
<p>Absent: Paul Lumsden</p>
<p>Staff: John Kennedy, City Clerk Rebecca Whelan, Heritage Researcher</p>
<p>Minutes- September 11, 2012</p>
<p>Moved by Kaes Vanderkooy</p>
<p>That  the  minutes  of  the  Peterborough  Architectural  Conservation  Advisory Committee meeting held on September 11, 2012, be approved as amended.</p>
<p>“CARRIED”</p>
<br></div>