<!doctype html><div><br>
<br>
<br>
<p>Peterborough Architectural Conservation</p>
<br>
<p>Advisory Committee Minutes</p>
<br>
<p>City of Peterborough</p>
<p>November 13, 2012</p>
<br>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of Peterborough Architectural Conservation</p>
<p>Advisory Committee Held on November 13, 2012 in the Sutherland</p>
<p>Room</p>
<br>
<p>The  meeting  of  Peterborough  Architectural  Conservation  Advisory  Committee  was</p>
<p>called to order at 7:00 p.m. in the Sutherland Room, City Hall.</p>
<p>Present: Catherine Dibben Geoffrey Eve Stewart Hamilton, Chair Paul Lumsden Kathryn McLeod Kaes Vanderkooy Gord Young</p>
<p>Regrets: Councillor Pappas Martin Parker</p>
<p>Staff: Natalie Garnett, Deputy City Clerk Kendra Sedgwick, Committee Coordinator Rebecca Whelan, Heritage Researcher Mary Gallop, Manager of Facilities & Special Projects Erik Hanson, Heritage Resources Coordinator (8:07 p.m.)</p>
<p>Minutes - October 9, 2012</p>
<p>Moved by Kaes Vanderkooy</p>
<p>That  the  minutes  of  the  Peterborough  Architectural  Conservation  Advisory Committee meeting held on October 9, 2012, be approved as amended.</p>
<p>“CARRIED”</p>
<br></div>