<!doctype html><div><p>Peterborough Architectural Conservation</p>
<br>
<p>Advisory Committee Minutes</p>
<br>
<p>City of Peterborough</p>
<br>
<p>January 8, 2013</p>
<br>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of Peterborough Architectural Conservation</p>
<p>Advisory Committee Held on January 8, 2013 in the Sutherland Room</p>
<br>
<p>The  meeting  of  Peterborough  Architectural  Conservation  Advisory  Committee  was</p>
<p>called  to  order  at  7:02  p.m.  by  Erik  Hanson,  Heritage  Resources  Coordinator  in  the</p>
<p>Sutherland Room, City Hall.</p>
<br>
<p>Present:</p>
<p>Catherine Dibben</p>
<p>Stewart Hamilton</p>
<p>Paul Lumsden</p>
<p>Kathryn McLeod</p>
<p>Councillor Pappas  - arrived at 7:12 p.m.</p>
<p>Martin Parker</p>
<p>Kaes Vanderkooy</p>
<p>Ivan Bateman</p>
<p>Bronson Smith</p>
<br>
<br>
<p>Staff:</p>
<p>Erik Hanson, Heritage Resources Coordinator</p>
<p>Rebecca Whelan, Heritage Researcher</p>
<p>Kendra Sedgwick, Committee Coordinator</p>
<br>
<br>
<p>Introduction of New Committee Members</p>
<p>Erik  Hanson  introduced  and  welcomed  Bronson  Smith  and  Ivan  Bateman  to  the</p>
<p>committee.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Peterborough Architectural Conservation</p>
<p>Advisory Committee Minutes</p>
<p>City of Peterborough</p>
<p>January 8, 2013</p>
<p>Draft Minutes Not Approved</p>
<br>
<p>Minutes of a Meeting of Peterborough Architectural Conservation Advisory Committee Held on January 8, 2013 in the Sutherland Room</p>
<p>The  meeting  of  Peterborough  Architectural  Conservation  Advisory  Committee  was called  to  order  at  7:02  p.m.  by  Erik  Hanson,  Heritage  Resources  Coordinator  in  the Sutherland Room, City Hall.</p>
<p>Present: Catherine Dibben Stewart Hamilton Paul Lumsden Kathryn McLeod Councillor Pappas  - arrived at 7:12 p.m. Martin Parker Kaes Vanderkooy Ivan Bateman Bronson Smith</p>
<p>Staff: Erik Hanson, Heritage Resources Coordinator Rebecca Whelan, Heritage Researcher Kendra Sedgwick, Committee Coordinator</p>
<p>Introduction of New Committee Members Erik  Hanson  introduced  and  welcomed  Bronson  Smith  and  Ivan  Bateman  to  the committee.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br></div>