<!doctype html><div><br>
<br>
<p>Peterborough Architectural Conservation</p>
<br>
<p>Advisory Committee Minutes</p>
<br>
<p>City of Peterborough</p>
<br>
<p>April 9, 2013</p>
<br>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<p>Minutes  of  a  Meeting  of  Peterborough  Architectural  Conservation</p>
<p>Advisory Committee Held on April 9, 2013 in the Sutherland Room</p>
<br>
<p>The  meeting  of  the  Peterborough  Architectural  Conservation  Advisory  Committee  was</p>
<p>called  to  order  at  7:00  p.m.  by  Stewart  Hamilton,  Chair  in  the  Sutherland  Room,  City</p>
<p>Hall.</p>
<br>
<p>Present:</p>
<p>Ivan Bateman</p>
<p>Catherine Dibben (7:03 p.m.)</p>
<p>Stewart Hamilton</p>
<p>Kathryn McLeod</p>
<p>Paul Lumsden</p>
<p>Councillor Pappas</p>
<p>Martin Parker</p>
<p>Bronson Smith</p>
<p>Kaes Vanderkooy</p>
<br>
<br>
<p>Staff:</p>
<p>Erik Hanson, Heritage Resources Coordinator</p>
<p>Rebecca Whelan, Heritage Researcher</p>
<p>Kendra Sedgwick, Committee Coordinator</p>
<br>
<br>
<p>Minutes - March 12, 2013</p>
<br>
<p>Moved by Councillor Pappas</p>
<br>
<p>That  the  minutes  of  the  Peterborough  Architectural  Conservation  Advisory</p>
<p>Committee meeting held on March 12, 2013 be approved.</p>
<br>
<p>“CARRIED”</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Peterborough Architectural Conservation</p>
<p>Advisory Committee Minutes</p>
<p>City of Peterborough</p>
<p>April 9, 2013</p>
<p>Draft Minutes Not Approved</p>
<br>
<p>Minutes  of  a  Meeting  of  Peterborough  Architectural  Conservation Advisory Committee Held on April 9, 2013 in the Sutherland Room</p>
<p>The  meeting  of  the  Peterborough  Architectural  Conservation  Advisory  Committee  was called  to  order  at  7:00  p.m.  by  Stewart  Hamilton,  Chair  in  the  Sutherland  Room,  City Hall.</p>
<p>Present: Ivan Bateman Catherine Dibben (7:03 p.m.) Stewart Hamilton Kathryn McLeod Paul Lumsden Councillor Pappas Martin Parker Bronson Smith Kaes Vanderkooy</p>
<p>Staff: Erik Hanson, Heritage Resources Coordinator Rebecca Whelan, Heritage Researcher Kendra Sedgwick, Committee Coordinator</p>
<p>Minutes - March 12, 2013</p>
<p>Moved by Councillor Pappas</p>
<p>That  the  minutes  of  the  Peterborough  Architectural  Conservation  Advisory Committee meeting held on March 12, 2013 be approved.</p>
<p>“CARRIED”</p>
<br>
<br>
<br></div>