<!doctype html><div><br>
<br>
<p>Peterborough Architectural Conservation</p>
<br>
<p>Advisory Committee Minutes</p>
<br>
<p>City of Peterborough</p>
<p>November 14, 2013</p>
<br>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of the Peterborough Architectural Conservation</p>
<p>Advisory  Committee  Held  on  November  14,  2013  in  the  General</p>
<p>Committee Room and City Board Room, City Hall.</p>
<br>
<p>The  meeting  of  the  Peterborough  Architectural  Conservation  Advisory  Committee  was</p>
<p>called to order at 5:33 p.m. by Stewart Hamilton, Chair in the General Committee Room, City Hall.</p>
<p>Present: Stewart Hamilton, Chair Kathryn McLeod Martin Parker Bronson Smith Kaes Vanderkooy</p>
<p>Regrets: Ivan Bateman Catherine Dibben Paul Lumsden Councillor Pappas</p>
<p>Staff: Ken Doherty, Director of Community Services Debra Soule, Cultural Planner Erik Hanson, Heritage Resources Coordinator (left at 6:20 p.m.) Rebecca Whelan, Heritage Researcher Kendra Sedgwick, Committee Coordinator (left at 7:16 p.m.) Natalie Garnett, Deputy City Clerk (arrived at 6:49 p.m.)</p>
<p>Moved by Kaes Vanderkooy</p>
<p>That PACAC stay for the Cultural Mapping Presentation which will be provided to the Arts, Culture and Heritage Advisory Committee.</p>
<p>“CARRIED”</p>
<p>Peterborough Architectural Conservation Advisory</p>
<p>Committee Minutes</p>
<p>Meeting of November 14, 2013</p>
<p>Page 2</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Pecuniary Interest.</p>
<p>Consent Agenda</p>
<p>No items were passed as part of the Consent Agenda.</p>
<p>Heritage Resources Coordinator Report PACAC13-033 Heritage Conservation District Study Consultant Presentation</p>
<p>Lindsay Reid and Alex Rowse-Thompson of ERA Architects provided an overview of the Heritage Conservation District project.</p>
<p>Moved by Bronson Smith</p>
<p>That  the  Peterborough  Architectural  Conservation  Advisory  Committee  approve the recommendation outlined in Report PACAC13-033, dated November 14, 2013 of the Heritage Resources Coordinator, as follows:</p>
<p>That the presentation by ERA Architects Inc. be received for information.</p>
<p>“CARRIED”</p>
<p>Heritage Resources Coordinator Report PACAC13-034 Otonabee River Trail  Around Little Lake and Land Use Urban Design Study Presentation</p>
<p>Moved by Kathryn McLeod</p>
<p>That  the  Peterborough  Architectural  Conservation  Advisory  Committee  approve the recommendation outlined in Report PACAC13-034, dated November 14, 2013 of the Heritage Resources Coordinator, as follows:</p>
<p>That the  Municipal  Class Environmental  Assessment  on  the  Otonabee  River  Trail  Around  Little  Lake  and the Land Use Urban Design Study be received and feedback be provided.</p>
<p>“CARRIED”</p>
<p>the  Urban  Design  Planner’s  presentation  on</p>
<p>Peterborough Architectural Conservation Advisory</p>
<p>Committee Minutes</p>
<p>Meeting of November 14, 2013</p>
<p>Page 3</p>
<p>Cultural Planner Report ACHAC13-030 Cultural Mapping Presentation</p>
<p>Moved by Bronson Smith</p>
<p>That  the  Peterborough  Architectural  Conservation  Advisory  Committee  approve the recommendation outlined in Report  ACHAC13-030, dated November 14, 2013 of the Cultural Planner, as follows:</p>
<p>That  the  Cultural  Planner’s  presentation  on  Cultural  Mapping  be  received  for information.</p>
<p>“CARRIED”</p>
<p>Committee recessed at 7:16 p.m.</p>
<p>Committee reconvened at 7:22 p.m. in the City Board Room.</p>
<p>Minutes – October 8, 2013</p>
<p>Moved by Martin Parker</p>
<p>That  the  minutes  of  the  Peterborough  Architectural  Conservation  Advisory Committee meeting held on October 8, 2013 be approved.</p>
<p>“CARRIED”</p>
<br>
<p>Peterborough Architectural Conservation Advisory</p>
<p>Committee Minutes</p>
<p>Meeting of November 14, 2013</p>
<p>Page 4</p>
<p>Heritage Resources Coordinator Report PACAC13-035 Heritage Preservation Office Report</p>
<p>Moved by Kaes Vanderkooy</p>
<p>That  the  Peterborough  Architectural  Conservation  Advisory  Committee  approve the recommendation outlined in Report PACAC13-035, dated November 14, 2013 of the Heritage Resources Coordinator, as follows:</p>
<p>That  the  Heritage  Preservation  Officer  report  with  respect  to  the  monthly activities  of  the  Heritage  Preservation  Office  for  October  2013,  be  received  for information.</p>
<p>“CARRIED”</p>
<p>Heritage Resources Coordinator Report PACAC13-037 Galley Proofs of Victorian Snapshot</p>
<p>Moved by Kaes Vanderkooy</p>
<p>That  the  Peterborough  Architectural  Conservation  Advisory  Committee  approve the recommendation outlined in Report PACAC13-037, dated November 14, 2013 of the Heritage Resources Coordinator, as follows:</p>
<p>That the Heritage Preservation Office be authorized to discard the prepress galley proofs for the publication, Victorian Snapshots.</p>
<p>“CARRIED”</p>
<br>
<p>Peterborough Architectural Conservation Advisory</p>
<p>Committee Minutes</p>
<p>Meeting of November 14, 2013</p>
<p>Page 5</p>
<p>b)</p>
<p>c)</p>
<p>Heritage Resources Coordinator Report PACAC13-036 2014 Heritage Hunt</p>
<p>Moved by Martin Parker</p>
<p>That  the  Peterborough  Architectural  Conservation  Advisory  Committee  approve the recommendations outlined in Report PACAC13-036, dated November 14, 2013 of the Heritage Resources Coordinator, as follows:</p>
<p>a)</p>
<p>That  the  PACAC  move  the  date  of  its  annual  Heritage  Hunt  to  a  period  in April to act as a lead- in event to Doors Open Peterborough,</p>
<p>That  the  PACAC  approve  a  budget  of  $1,500  for  the  coordination  and publicity associated with the Heritage Hunt, and;</p>
<p>That  an  ad-hoc  committee  of  PACAC  be  struck  for  the  purpose  of coordinating the Heritage Hunt for 2014.</p>
<p>“CARRIED”</p>
<p>Heritage Resources Coordinator Report PACAC13-038 2014 PACAC Meeting Schedule</p>
<p>Moved by Martin Parker</p>
<p>That  the  Peterborough  Architectural  Conservation  Advisory  Committee  approve the recommendation outlined in Report PACAC13-038, dated November 14, 2013 of the Heritage Resources Coordinator, as follows:</p>
<p>That the PACAC adopt the 2014 meeting schedule as presented in this report.</p>
<p>“CARRIED”</p>
<br>
<br>
<p>Peterborough Architectural Conservation Advisory</p>
<p>Committee Minutes</p>
<p>Meeting of November 14, 2013</p>
<p>Page 6</p>
<p>Other Business</p>
<p>The  Committee  requested  that  the  Chair  draft  and  send a  letter  from  PACAC  to  Brian Buchardt regarding the Crescent St. Area.</p>
<p>Moved by Martin Parker</p>
<p>That  PACAC  encourage  staff  to  secure  resources  to  undertake  some  historical research  on  the  Crescent  Street  area  over  the  next  few  months  to  identify historical resources.</p>
<p>“CARRIED”</p>
<p>Next  Meeting  –  The  Chair  indicated  that  the  next  meeting  of  the  Committee  is scheduled for January 15, 2013.</p>
<p>Adjournment</p>
<p>Moved by Kaes Vanderkooy</p>
<p>That  this  meeting  of  the  Peterborough  Architectural  Conservation  Advisory Committee adjourn at 8:23 p.m.</p>
<p>"CARRIED"</p>
<br>
<p>Natalie Garnett Deputy City Clerk</p>
<p>Stewart Hamilton Chair</p>
<br></div>