<!doctype html><div><p>Peterborough Architectural</p>
<p>Conservation Advisory Committee</p>
<p>Minutes</p>
<p>City of Peterborough</p>
<p>January 15, 2014</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of the Peterborough Architectural Conservation</p>
<p>Advisory Committee Held on January 15, 2014 in the Sutherland</p>
<p>Room, City Hall.</p>
<br>
<p>The meeting of the Peterborough Architectural Conservation Advisory Committee was</p>
<p>called to order at 7:00 p.m. by Kendra Sedgwick, Committee Coordinator in the Sutherland Room, City Hall.</p>
<p>Present: Stewart Hamilton Kathryn McLeod Martin Parker Bronson Smith Kaes Vanderkooy Ivan Bateman Catherine Dibben Paul Lumsden</p>
<p>Regrets: Councillor Pappas</p>
<p>Staff: Eric Hanson, Heritage Resources Coordinator Rebecca Whelan, Heritage Researcher Kendra Sedgwick, Committee Coordinator</p>
<br>
<br>
<br>
<br>
<p>Peterborough Architectural Conservation Advisory</p>
<p>Committee Minutes</p>
<p>Meeting of January 15, 2014</p>
<p>Page 2</p>
<p>Election of Officers for 2014</p>
<p>Chair</p>
<p>Moved by Kathryn McLeod</p>
<p>That Stewart Hamilton be appointed as Chair of the Peterborough Architectural Conservation Advisory Committee for 2014.</p>
<p>"CARRIED"</p>
<p>Stewart Hamilton assumed the Chair.</p>
<p>Vice Chair</p>
<p>Moved by Catherine Dibben</p>
<p>That Kathryn McLeod be appointed as Vice Chair of the Peterborough Architectural Conservation Advisory Committee for 2014.</p>
<p>“CARRIED”</p>
<p>Designation Sub-Committee</p>
<p>Moved by Catherine Dibben</p>
<p>That Kaes Vanderkooy be appointed as Chair of the Designation Sub-Committee for 2014.</p>
<p>"CARRIED"</p>
<p>Cenotaph Committee Appointee</p>
<p>Paul Lumsden volunteered to serve as PACAC’s representative on the Cenotaph Advisory Committee for 2014.</p>
<br>
<br>
<p>Peterborough Architectural Conservation Advisory</p>
<p>Committee Minutes</p>
<p>Meeting of January 15, 2014</p>
<p>Page 3</p>
<p>Minutes – November 14, 2013</p>
<p>Moved by Martin Parker</p>
<p>That  the  minutes  of  the  Peterborough  Architectural  Conservation  Advisory Committee meeting held on November 14, 2013 be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Pecuniary Interest.</p>
<p>Consent Agenda</p>
<p>Moved by Kaes Vanderkooy</p>
<p>That items 5, 6 and 8 are approved as part of the Consent Agenda.</p>
<p>“CARRIED”</p>
<p>Heritage Resources Coordinator Report PACAC14-002 PACAC2014 Budget</p>
<p>Moved by Kaes Vanderkooy</p>
<p>That the Peterborough Architectural Conservation Advisory Committee approve the recommendation outlined in Report PACAC14-002, dated January 15, 2014 of the Heritage Resources Coordinator, as follows:</p>
<p>That the PACAC approve the budget allocations, as outlined in Appendix A.</p>
<p>“CARRIED”</p>
<br>
<br>
<p>Peterborough Architectural Conservation Advisory</p>
<p>Committee Minutes</p>
<p>Meeting of January 15, 2014</p>
<p>Page 4</p>
<p>Heritage Resources Coordinator Report ACHAC14-003 Heritage Week</p>
<p>Moved by Kaes Vanderkooy</p>
<p>That the Peterborough Architectural Conservation Advisory Committee approve the recommendation outlined in Report ACHAC14-003, dated January 15, 2014 of the Heritage Resources Coordinator, as follows:</p>
<p>That the PACAC fund advertising and publicity for the planned 2014 Heritage Week activities to a maximum of $1500.</p>
<p>“CARRIED”</p>
<p>Heritage Resources Coordinator Report PACAC14-005 PACAC Publicity Items</p>
<p>Moved by Kaes Vanderkooy</p>
<p>That the Peterborough Architectural Conservation Advisory Committee approve the recommendations outlined in Report PACAC14-005, dated January 15, 2014 of the Heritage Resources Coordinator, as follows:</p>
<p>a)</p>
<p>That the committee accept the quote of $150 for the production on the new PACAC pull-up banner; and,</p>
<p>That the PACAC approve the expenditure of $325 for the installation of the new street banner at Murray Street for the month of February in celebration of Heritage Week 2014.</p>
<p>b)</p>
<p>“CARRIED”</p>
<br>
<br>
<p>Peterborough Architectural Conservation Advisory</p>
<p>Committee Minutes</p>
<p>Meeting of January 15, 2014</p>
<p>Page 5</p>
<p>Heritage Resources Coordinator Report PACAC14-001 Heritage Preservation Office Report</p>
<p>Moved by Paul Lumsden</p>
<p>That the Peterborough Architectural Conservation Advisory Committee approve the recommendation outlined in Report PACAC14-001, dated January 15, 2014 of the Heritage Resources Coordinator, as follows:</p>
<p>That the report with respect to the monthly activities of the Heritage Preservation Office for November and December 2013, be received for information.</p>
<p>“CARRIED”</p>
<p>Moved by Kaes Vanderkooy</p>
<p>That the PACAC Chair draft a letter and forward it to the Planning Division outlining the Committee’s concerns with respect to the Zoning By-law Amendment for 139 Douro Street (File Z1320).</p>
<p>“CARRIED”</p>
<p>Moved by Bronson Smith</p>
<p>That the PACAC Chair send a letter of thanks to Peterborough GreenUP for their partnership over the past two years while working on the Under The Canopy book.</p>
<p>“CARRIED”</p>
<br>
<br>
<p>Peterborough Architectural Conservation Advisory</p>
<p>Committee Minutes</p>
<p>Meeting of January 15, 2014</p>
<p>Page 6</p>
<p>Heritage Resources Coordinator Report PACAC14-004 Martha Kidd Commemoration</p>
<p>Moved by Martin Parker</p>
<p>That  the  Peterborough  Architectural  Conservation  Advisory  Committee  approve the recommendations outlined in Report PACAC14-004, dated January 15, 2014 of the Heritage Resources Coordinator, as follows:</p>
<p>a)</p>
<p>That  $10,150  (including  $4,500  being  pre-committed  from  2013  budget, $1,000  of  proceeds  from  the  sale  of  Beneath  The  Canopy,  $450  from  the sale of PACAC merchandise, $3,500 from the 2014 special projects budget and $700 reallocation of 2013 special projects budget) be allocated for the production  of  a  publication  on  heritage  preservation  in  Peterborough  to honour the life and work of Martha Ann Kidd, and;</p>
<p>That the PACAC make the publication a collection of edited essays instead of a walking tour brochure as previously proposed.</p>
<p>b)</p>
<p>Committee at its meeting of January 15, 2014 added the following:</p>
<p>c)</p>
<p>That  PACAC  undertake  a  fundraising  campaign  to  support  the  completion of the Martha Kidd commemoration project.</p>
<p>“CARRIED”</p>
<p>Other Business</p>
<p>2014 PACAC Meeting Schedule</p>
<p>Moved by Paul Lumsden</p>
<p>That the PACAC change the meeting date to the first Thursday of each month for 2014.</p>
<p>“CARRIED”</p>
<br>
<br>
<p>Peterborough Architectural Conservation Advisory</p>
<p>Committee Minutes</p>
<p>Meeting of January 15, 2014</p>
<p>Page 7</p>
<p>As this item was a reconsideration of a motion previously approved by the Committee in November 2013, it required a 2/3 vote.  Upon the motion of Paul Lumsden, the motion carried.</p>
<p>Next Meeting – The Chair indicated that the next meeting of the Committee is scheduled for February 6, 2014.</p>
<p>Adjournment</p>
<p>Moved by Paul Lumsden</p>
<p>That this meeting of the Peterborough Architectural Conservation Advisory Committee adjourn at 8:35 p.m.</p>
<p>"CARRIED"</p>
<br>
<p>Kendra Sedgwick Committee Coordinator</p>
<p>Stewart Hamilton Chair</p>
<br>
<br>
<br></div>