<!doctype html><div><br>
<br>
<br>
<p>Peterborough Architectural</p>
<p>Conservation Advisory Committee</p>
<p>Minutes</p>
<p>City of Peterborough</p>
<p>March 6, 2014</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of the Peterborough Architectural Conservation</p>
<p>Advisory Committee Held on March 6, 2014 in the Sutherland Room,</p>
<p>City Hall.</p>
<br>
<p>The meeting of the Peterborough Architectural Conservation Advisory Committee was</p>
<p>called to order at 7:03 p.m. by Stewart Hamilton, Chair in the Sutherland Room, City Hall.</p>
<p>Present: Councillor Pappas Stewart Hamilton, Chair Martin Parker Kaes Vanderkooy Ivan Bateman Catherine Dibben Paul Lumsden Bronson Smith</p>
<p>Staff: Erik Hanson, Heritage Resources Coordinator Kendra Sedgwick, Committee Coordinator</p>
<p>Minutes – February 6, 2014</p>
<p>Moved by Martin Parker</p>
<p>That the minutes of the Peterborough Architectural Conservation Advisory Committee meeting held on February 6, 2014 be approved.</p>
<p>“CARRIED”</p>
<br>
<br>
<p>Peterborough Architectural Conservation Advisory</p>
<p>Committee Minutes</p>
<p>Meeting of March 6, 2014</p>
<p>Page 2</p>
<p>Consent Agenda</p>
<p>No items were passed as part of the Consent Agenda.</p>
<p>Disclosure of Pecuniary Interest</p>
<p>Councillor  Pappas  declared  an  interest  in  Item  3,  Report  PACAC14-012  –  Mount  St. Joseph Presentation, as he has family members that live in close proximity to Mount St. Joseph.</p>
<p>Heritage Resources Coordinator Report PACAC14-012 Mount St. Joseph</p>
<p>Due to his previously declared interest, Councillor Pappas did not discuss or vote on this matter.</p>
<p>Moved by Kaes Vanderkooy</p>
<p>That the Peterborough Architectural Conservation Advisory Committee approve the recommendation outlined in Report PACAC14-012, dated March 6, 2014 of the Heritage Resources Coordinator, as follows:</p>
<p>That the presentation by Kevin Duguay on the proposed development of the former Mount St. Joseph convent site be received.</p>
<p>“CARRIED”</p>
<br>
<p>Peterborough Architectural Conservation Advisory</p>
<p>Committee Minutes</p>
<p>Meeting of March 6, 2014</p>
<p>Page 3</p>
<p>Heritage Resources Coordinator Report ACHAC14-010 Lily Lake Secondary Plan Presentation</p>
<p>Moved by Ivan Bateman</p>
<p>That the Peterborough Architectural Conservation Advisory Committee approve the recommendation outlined in Report PACAC14-010, dated March 6, 2014 of the Heritage Resources Coordinator, as follows:</p>
<p>a)</p>
<p>That the presentation by Brad Appleby on the final draft of the Lily Lake Secondary Plan and By-law be received.</p>
<p>Committee added the following at their meeting on March 6, 2014:</p>
<p>b)</p>
<p>That the PACAC Chair send a letter to Brad Appleby, Planner, City of Peterborough, indicating the Committee’s suggestions for the Lily Lake Secondary Plan, and</p>
<p>That 789 Lily Lake Road be considered eligible for designation under Part 4 of the Ontario Heritage Act and that staff provide a report to Committee regarding the Heritage significance of the property.</p>
<p>c)</p>
<p>“CARRIED”</p>
<p>Councillor Pappas left the meeting at 8:50 p.m.</p>
<p>Heritage Resources Coordinator Report PACAC14-009 Heritage Preservation Office Report</p>
<p>Moved by Martin Parker</p>
<p>That the Peterborough Architectural Conservation Advisory Committee approve the recommendation outlined in Report PACAC14-009, dated March 6, 2014 of the Heritage Resources Coordinator, as follows:</p>
<p>That the report with respect to the monthly activities of the Heritage Preservation Office for February 2014 be received for information.</p>
<p>“CARRIED”</p>
<p>Peterborough Architectural Conservation Advisory</p>
<p>Committee Minutes</p>
<p>Meeting of March 6, 2014</p>
<p>Page 4</p>
<p>Other Business</p>
<p>Kathryn McLeod has resigned from PACAC as she has accepted the position of Heritage Researcher with the City of Peterborough.</p>
<p>That Paul Lumsden volunteer to sit on the Heritage Cultural District Study Steering Committee as PACAC’s representative.</p>
<p>Next Meeting – The Chair indicated that the next meeting of the Committee is scheduled for April 3, 2014.</p>
<p>Adjournment</p>
<p>Moved by Paul Lumsden</p>
<p>That this meeting of the Peterborough Architectural Conservation Advisory Committee adjourn at 9:11 p.m.</p>
<p>"CARRIED"</p>
<br>
<p>Kendra Sedgwick Committee Coordinator</p>
<p>Stewart Hamilton Chair</p>
<br></div>