<!doctype html><div><br>
<br>
<p>Peterborough Architectural Conservation</p>
<p>Advisory Committee Minutes</p>
<p>City of Peterborough</p>
<p>May 1, 2014</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of the Peterborough Architectural Conservation</p>
<p>Advisory Committee Held on May 1, 2014 in the Sutherland Room,</p>
<p>City Hall.</p>
<br>
<p>The meeting of the Peterborough Architectural Conservation Advisory Committee was</p>
<p>called to order at 7:00 p.m. by Stewart Hamilton, Chair in the Sutherland Room, City Hall.</p>
<p>Present: Councillor Pappas Stewart Hamilton, Chair Ivan Bateman Paul Lumsden Bronson Smith Martin Parker Kaes Vanderkooy</p>
<p>Regrets: Catherine Dibben</p>
<p>Staff: Erik Hanson, Heritage Resources Coordinator Kathryn McLeod, Heritage Researcher Kendra Sedgwick, Committee Coordinator</p>
<p>Minutes – April 3, 2014</p>
<p>Moved by Paul Lumsden</p>
<p>That the minutes of the Peterborough Architectural Conservation Advisory Committee meeting held on April 3, 2014 be approved.</p>
<p>“CARRIED”</p>
<br>
<p>Peterborough Architectural Conservation Advisory</p>
<p>Committee Minutes</p>
<p>Meeting of May 1, 2014</p>
<p>Page 2</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Pecuniary Interest.</p>
<p>Consent Agenda</p>
<p>No items were passed as part of the Consent Agenda.</p>
<p>Heritage Resources Coordinator Report PACAC14-019 Heritage Hunt Funding Request</p>
<p>Moved by Kaes Vanderkooy</p>
<p>That the Peterborough Architectural Conservation Advisory Committee approve the recommendation outlined in Report PACAC14-019, dated May 1, 2014 of the Heritage Resources Coordinator, as follows:</p>
<p>That the PACAC approve the expenditure of $200.00 from the existing Heritage Hunt budget to purchase a class prize.</p>
<p>“CARRIED”</p>
<p>Moved by Councillor Pappas</p>
<p>That the agenda be amended to deal with Item 5, Report PACAC14-017 – Heritage Preservation Officer Report and Other Business.</p>
<p>“CARRIED”</p>
<br>
<p>Peterborough Architectural Conservation Advisory</p>
<p>Committee Minutes</p>
<p>Meeting of May 1, 2014</p>
<p>Page 3</p>
<p>Heritage Resources Coordinator Report PACAC14-017 Heritage Preservation Office Report</p>
<p>Moved by Kaes Vanderkooy</p>
<p>That the Peterborough Architectural Conservation Advisory Committee approve the recommendation outlined in Report PACAC14-017, dated May 1, 2014 of the Heritage Resources Coordinator, as follows:</p>
<p>That the report with respect to the monthly activities of the Heritage Preservation Office for April 2014 be received for information.</p>
<p>“CARRIED”</p>
<p>Moved by Paul Lumsden</p>
<p>That the PACAC Chair write a letter to the Director of Community Services expressing the Committee’s support for increasing the Heritage Researcher position to full-time.</p>
<p>“CARRIED”</p>
<p>Other Business</p>
<p>Heritage Park Subdivision Circulation</p>
<p>Moved by Councillor Pappas</p>
<p>That the PACAC Chair send a letter to the City’s Planning Division outlining the concerns of the Committee.</p>
<p>“CARRIED”</p>
<br>
<p>Peterborough Architectural Conservation Advisory</p>
<p>Committee Minutes</p>
<p>Meeting of May 1, 2014</p>
<p>Page 4</p>
<p>Heritage Resources Coordinator Report ACHAC14-015 Strategic Plan Review</p>
<p>Moved by Martin Parker</p>
<p>That the Peterborough Architectural Conservation Advisory Committee approve the recommendation outlined in Report PACAC14-015, dated May 1, 2014 of the Heritage Resources Coordinator, as follows:</p>
<p>That the PACAC undertake a facilitated workshop in support of the first phase of the Committee’s Strategic Plan review process.</p>
<p>“CARRIED”</p>
<p>Next Meeting – The Chair indicated that the next meeting of the Committee is scheduled for June 5, 2014.</p>
<p>Adjournment</p>
<p>Moved by Paul Lumsden</p>
<p>That this meeting of the Peterborough Architectural Conservation Advisory Committee adjourn at 8:45 p.m.</p>
<p>"CARRIED"</p>
<br>
<p>Kendra Sedgwick Committee Coordinator</p>
<p>Stewart Hamilton Chair</p>
<br></div>