<!doctype html><div><br>
<br>
<p>Peterborough Architectural Conservation</p>
<p>Advisory Committee Minutes</p>
<p>City of Peterborough</p>
<p>June 5, 2014</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of the Peterborough Architectural Conservation</p>
<p>Advisory Committee Held on June 5, 2014 in the Council Chambers,</p>
<p>City Hall.</p>
<br>
<p>The meeting of the Peterborough Architectural Conservation Advisory Committee was</p>
<p>called to order at 7:00 p.m. by Stewart Hamilton, Chair in the Council Chambers, City Hall.</p>
<p>Present: Catherine Dibben Councillor Pappas Stewart Hamilton, Chair Ivan Bateman Paul Lumsden Bronson Smith Kaes Vanderkooy</p>
<p>Regrets: Martin Parker</p>
<p>Staff: Erik Hanson, Heritage Resources Coordinator Kathryn McLeod, Heritage Researcher Kendra Sedgwick, Committee Coordinator</p>
<p>Minutes – May 1, 2014</p>
<p>Moved by Kaes Vanderkooy</p>
<p>That the minutes of the Peterborough Architectural Conservation Advisory Committee meeting held on May 1, 2014 be approved.</p>
<p>“CARRIED”</p>
<br>
<p>Peterborough Architectural Conservation Advisory</p>
<p>Committee Minutes</p>
<p>Meeting of June 5, 2014</p>
<p>Page 2</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Pecuniary Interest.</p>
<p>Consent Agenda</p>
<p>Moved by Paul Lumsden</p>
<p>That items 5 and 6 be approved as part of the Consent Agenda.</p>
<p>“CARRIED”</p>
<p>Heritage Resources Coordinator Report PACAC14-022 Heritage Hunt Funding Request</p>
<p>Moved by Paul Lumsden</p>
<p>That the Peterborough Architectural Conservation Advisory Committee approve the recommendation outlined in Report PACAC14-022, dated June 5, 2014 of the Heritage Resources Coordinator, as follows:</p>
<p>That the PACAC approve the expenditure of $300.00 from the existing Heritage Hunt budget to reformat and print 500 copies of the Hunt as a fold out rack card to be made available at the Visitor Centre and other tourist locations.</p>
<p>“CARRIED”</p>
<br>
<p>Peterborough Architectural Conservation Advisory</p>
<p>Committee Minutes</p>
<p>Meeting of June 5, 2014</p>
<p>Page 3</p>
<p>Heritage Resources Coordinator Report PACAC14-023 PCVS Heritage Designation</p>
<p>Moved by Paul Lumsden</p>
<p>That the Peterborough Architectural Conservation Advisory Committee approve the recommendation outlined in Report PACAC14-023, dated June 5, 2014 of the Heritage Resources Coordinator, as follows:</p>
<p>That the Peterborough Collegiate and Vocational Institute (PCVS), at 201 McDonnel Street, be recommended to Council for designation pursuant to Part IV, Section 29 of the Ontario Heritage Act as being of cultural heritage value or interest.</p>
<p>“CARRIED”</p>
<p>Heritage Resources Coordinator Report PACAC14-011 London Street Generating Station Design Presentation</p>
<p>Moved by Councillor Pappas</p>
<p>That the Peterborough Architectural Conservation Advisory Committee approve the recommendations outlined in Report PACAC14-011, dated June 5, 2014 of the Heritage Resources Coordinator, as follows:</p>
<p>a)</p>
<p>That the presentation by Eric Prevost, Generation Project Manager, Peterborough Utilities Inc., be received for information; and</p>
<p>That the Chair send a letter to Peterborough Utilities outlining the recommendations and concerns of the Committee, and request that information flow back to the Committee through the Heritage Office.</p>
<p>b)</p>
<p>“CARRIED”</p>
<p>Councillor Pappas left the meeting at 8:10 p.m.</p>
<br>
<p>Peterborough Architectural Conservation Advisory</p>
<p>Committee Minutes</p>
<p>Meeting of June 5, 2014</p>
<p>Page 4</p>
<p>Heritage Resources Coordinator Report PACAC14-021 Planning Presentation</p>
<p>Moved by Paul Lumsden</p>
<p>That the Peterborough Architectural Conservation Advisory Committee approve the recommendation outlined in Report PACAC14-021, dated June 5, 2014 of the Heritage Resources Coordinator, as follows:</p>
<p>That the presentation by Caroline Kimble, Land Use Planner, be received for information.</p>
<p>“CARRIED”</p>
<p>Heritage Resources Coordinator Report PACAC14-020 Heritage Preservation Office Report</p>
<p>Paul Lumsden declared an Interest in Report PACAC14-020 with respect to 1261 Parkhill Road West.</p>
<p>Moved by Bronson Smith</p>
<p>That the Peterborough Architectural Conservation Advisory Committee approve the recommendation outlined in Report PACAC14-020, dated June 5, 2014 of the Heritage Resources Coordinator, as follows:</p>
<p>That the report with respect to the monthly activities of the Heritage Preservation Office for May 2014 be received for information.</p>
<p>“CARRIED”</p>
<br>
<p>Peterborough Architectural Conservation Advisory</p>
<p>Committee Minutes</p>
<p>Meeting of June 5, 2014</p>
<p>Page 5</p>
<p>Moved by Ivan Bateman</p>
<p>That PACAC endorse the recommendation of the Cenotaph Advisory Committee to undertake a full restoration of both bronze figures located at 501 George Street North, by Maltby and Associates Inc.; and</p>
<p>That PACAC approve the proposed work as an acceptable alteration to the heritage attribute of the heritage property known as 501 George Street North.</p>
<p>“CARRIED”</p>
<p>Moved by Ivan Bateman</p>
<p>That the White and Batten farmhouses located at 1261 Parkhill Road  be considered eligible for designation under Part 4 of the Ontario Heritage Act and that staff provide a report to Committee regarding the Heritage significance of the property.</p>
<p>“CARRIED”</p>
<p>Other Business</p>
<p>There were no items of Other Business.</p>
<p>Next Meeting – The Chair indicated that the next meeting of the Committee is scheduled for September 4, 2014.</p>
<p>Adjournment</p>
<p>Moved by Ivan Bateman</p>
<p>That this meeting of the Peterborough Architectural Conservation Advisory Committee adjourn at 9:45 p.m.</p>
<p>"CARRIED"</p>
<br>
<p>Peterborough Architectural Conservation Advisory</p>
<p>Committee Minutes</p>
<p>Meeting of June 5, 2014</p>
<p>Page 6</p>
<br>
<p>Kendra Sedgwick Committee Coordinator</p>
<p>Stewart Hamilton Chair</p>
<br></div>