<!doctype html><div><br>
<br>
<p>Peterborough Architectural Conservation</p>
<p>Advisory Committee Minutes</p>
<p>City of Peterborough</p>
<p>October 2, 2014</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of the Peterborough Architectural Conservation</p>
<p>Advisory Committee Held on October 2, 2014 in the City Board Room,</p>
<p>City Hall.</p>
<br>
<p>The meeting of the Peterborough Architectural Conservation Advisory Committee was</p>
<p>called to order at 7:02 p.m. by Stewart Hamilton, Chair in the City Board Room, City Hall.</p>
<p>Present: Catherine Dibben Stewart Hamilton, Chair Ivan Bateman Bronson Smith Kaes Vanderkooy Martin Parker Paul Lumsden</p>
<p>Regrets: Councillor Pappas</p>
<p>Staff: Kathryn McLeod, Heritage Researcher Kendra Sedgwick, Committee Coordinator</p>
<p>Minutes – September 4, 2014</p>
<p>Moved by Kaes Vanderkooy</p>
<p>That the minutes of the Peterborough Architectural Conservation Advisory Committee meeting held on September 4, 2014 be approved.</p>
<p>“CARRIED”</p>
<br>
<p>Peterborough Architectural Conservation Advisory</p>
<p>Committee Minutes</p>
<p>Meeting of October 2, 2014</p>
<p>Page 2</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Pecuniary Interest.</p>
<p>Consent Agenda</p>
<p>Moved by Martin Parker</p>
<p>That item 5 be approved as part of the Consent Agenda.</p>
<p>“CARRIED”</p>
<p>Heritage Resources Coordinator Report PACAC14-030 2015 PACAC Meeting Schedule</p>
<p>Moved by Martin Parker</p>
<p>That the Peterborough Architectural Conservation Advisory Committee approve the recommendation outlined in Report PACAC14-030, dated October 2, 2014 of the Heritage Resources Coordinator, as follows:</p>
<p>That the PACAC adopt the 2015 meeting schedule as presented in this report.</p>
<p>“CARRIED”</p>
<br>
<p>Peterborough Architectural Conservation Advisory</p>
<p>Committee Minutes</p>
<p>Meeting of October 2, 2014</p>
<p>Page 3</p>
<p>Heritage Resources Coordinator Report PACAC14-034 Martha Kidd Commemoration</p>
<p>Moved by Paul Lumsden</p>
<p>That the Peterborough Architectural Conservation Advisory Committee approve the recommendations outlined in Report PACAC14-034, dated October 2, 2014 of the Heritage Resources Coordinator, as follows:</p>
<p>a)</p>
<p>That the draft budget for the Martha Kidd Commemoration be approved as revised, and;</p>
<p>That Dr. Michael Eamon be retained at a cost of $1,000.00 to outline the book and contact potential authors.</p>
<p>b)</p>
<p>“CARRIED”</p>
<p>Heritage Resources Coordinator Report PACAC14-032 Alteration Application: 482 Mark Street – The Mattress Factory</p>
<p>Moved by Kaes Vanderkooy</p>
<p>That the Peterborough Architectural Conservation Advisory Committee approve the recommendation outlined in Report PACAC14-032, dated October 2, 2014 of the Heritage Resources Coordinator, as follows:</p>
<p>That the Peterborough Architectural Conservation Advisory Committee deny the proposed alterations to 482 Mark Street; and</p>
<p>That the Chair send a letter to the applicants outlining the alterations that could be made in order for this application to be approved; which would include:</p>
<p>-</p>
<p>the use of ferrous metal for all railings, supporting structure and guards which would be complimentary of the east side of the building and sympathetic with the use of the building.</p>
<p>“CARRIED”</p>
<p>Peterborough Architectural Conservation Advisory</p>
<p>Committee Minutes</p>
<p>Meeting of October 2, 2014</p>
<p>Page 4</p>
<p>Heritage Resources Coordinator Report PACAC14-031 Heritage Preservation Office Report</p>
<p>Moved by Catherine Dibben</p>
<p>That the Peterborough Architectural Conservation Advisory Committee approve the recommendations outlined in Report PACAC14-031, dated October 2, 2014 of the Heritage Resources Coordinator, as follows:</p>
<p>a)</p>
<p>That the report with respect to the monthly activities of the Heritage Preservation Office for September, 2014 be received for information, and;</p>
<p>That the committee support the HPO in undertaking the completion of Designation Briefs for the properties identified in this report as having high designation eligibility.</p>
<p>b)</p>
<p>“CARRIED”</p>
<p>Heritage Resources Coordinator Report PACAC14-033 PACAC By-law Update</p>
<p>Moved by Martin Parker</p>
<p>That the Peterborough Architectural Conservation Advisory Committee approve the recommendations outlined in Report PACAC14-033, dated October 2, 2014 of the Heritage Resources Coordinator, as follows:</p>
<p>a)</p>
<p>That the update regarding By-law 06-193, Being a By-law to Establish a Municipal Heritage Committee, as outlined in the draft By-law attached as Appendix A, be endorsed as amended, and;</p>
<p>That PACAC request staff to forward the By-law to Council under cover of a staff report recommending its passage.</p>
<p>b)</p>
<p>“CARRIED”</p>
<br>
<p>Peterborough Architectural Conservation Advisory</p>
<p>Committee Minutes</p>
<p>Meeting of October 2, 2014</p>
<p>Page 5</p>
<p>Other Business</p>
<p>Moved by Kaes Vanderkooy</p>
<p>That PACAC approve an expenditure of a sum not to exceed $2,000.00 for the 2015 Doors Open Event.</p>
<p>“CARRIED”</p>
<p>Next Meeting – The Chair indicated that the next meeting of the Committee is scheduled for February 5, 2015.</p>
<p>Adjournment</p>
<p>Moved by Kaes Vanderkooy</p>
<p>That this meeting of the Peterborough Architectural Conservation Advisory Committee adjourn at 9:05 p.m.</p>
<p>"CARRIED"</p>
<br>
<p>Kendra Sedgwick Committee Coordinator</p>
<p>Stewart Hamilton, Chair</p>
<br></div>