<!doctype html><div><br>
<br>
<p>Peterborough Architectural Conservation</p>
<p>Advisory Committee Minutes</p>
<p>City of Peterborough</p>
<p>February 5, 2015</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of the Peterborough Architectural Conservation</p>
<p>Advisory Committee Held on February 5, 2015 in the Sutherland</p>
<p>Room, City Hall.</p>
<br>
<p>The meeting of the Peterborough Architectural Conservation Advisory Committee was</p>
<p>called to order at 7:02 p.m. by Stewart Hamilton, Chair in the Sutherland Room, City Hall.</p>
<p>Present: Catherine Dibben Stewart Hamilton, Chair Ivan Bateman Kaes Vanderkooy Martin Parker Paul Lumsden Councillor Pappas</p>
<p>Regrets: Bronson Smith</p>
<p>Staff: Erik Hanson, Heritage Resources Coordinator Jennifer Guerin, Heritage Researcher Kendra Sedgwick, Committee Coordinator</p>
<p>Minutes – January 8, 2015</p>
<p>Moved by Paul Lumsden</p>
<p>That the minutes of the Peterborough Architectural Conservation Advisory Committee meeting held on January 8, 2015 be approved.</p>
<p>“CARRIED”</p>
<br>
<p>Peterborough Architectural Conservation Advisory</p>
<p>Committee Minutes</p>
<p>Meeting of February 5, 2015</p>
<p>Page 2</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Pecuniary Interest.</p>
<p>Consent Agenda</p>
<p>Moved by Councillor Pappas</p>
<p>That item 4 be approved as part of the Consent Agenda.</p>
<p>“CARRIED”</p>
<p>Heritage Resources Coordinator Report PACAC15-005 PACAC 2015 Budget</p>
<p>Moved by Councillor Pappas</p>
<p>That the Peterborough Architectural Conservation Advisory Committee approve the recommendation outlined in Report PACAC15-005, dated February 5, 2015 of the Heritage Resources Coordinator, as follows:</p>
<p>That the PACAC approve the 2015 budget allocations, as outlined in Appendix A.</p>
<p>“CARRIED”</p>
<br>
<p>Peterborough Architectural Conservation Advisory</p>
<p>Committee Minutes</p>
<p>Meeting of February 5, 2015</p>
<p>Page 3</p>
<p>Heritage Resources Coordinator Report PACAC15-004 PACAC 40th Anniversary Expenditures</p>
<p>Moved by Councillor Pappas</p>
<p>That the Peterborough Architectural Conservation Advisory Committee approve the recommendation outlined in Report PACAC15-004, dated February 5, 2015 of the Heritage Resources Coordinator, as follows:</p>
<p>That the PACAC approve a budget of up to $10,000 for project coordination and publicity associated with its 40th Anniversary.</p>
<p>“CARRIED”</p>
<p>Heritage Resources Coordinator Report PACAC15-006 Heritage Preservation Office Report</p>
<p>Moved by Kaes Vanderkooy</p>
<p>That the Peterborough Architectural Conservation Advisory Committee approve the recommendation outlined in Report PACAC15-006, dated February 5, 2015 of the Heritage Resources Coordinator, as follows:</p>
<p>That the report with respect to the monthly activities of the Heritage Preservation Office for January 2015 be received for information.</p>
<p>“CARRIED”</p>
<p>Other Business</p>
<p>The Chair noted that Kaes Vanderkooy’s term ends February 28, 2015 and he thanked him  for  his  dedication  to  the  Committee.    He  also  noted  that  Bronson  Smith  has resigned from the Committee.</p>
<br>
<p>Peterborough Architectural Conservation Advisory</p>
<p>Committee Minutes</p>
<p>Meeting of February 5, 2015</p>
<p>Page 4</p>
<p>Next Meeting – The Chair indicated that the next meeting of the Committee is scheduled for March 5, 2015.</p>
<p>Adjournment</p>
<p>Moved by Martin Parker</p>
<p>That this meeting of the Peterborough Architectural Conservation Advisory Committee adjourn at 8:44 p.m.</p>
<p>"CARRIED"</p>
<p>Kendra Sedgwick Committee Coordinator</p>
<p>Stewart Hamilton, Chair</p>
<br></div>