<!doctype html><div><br>
<br>
<p>Planning Committee Minutes</p>
<p>City of Peterborough</p>
<p>June 15, 2015</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of Planning Committee held on June 15, 2015 in</p>
<p>the Council Chambers, City Hall.</p>
<br>
<p>Planning Committee was called to order at 6:46 p.m. in the Council Chambers.</p>
<p>Roll Call: Councillor Baldwin Councillor Beamer Councillor Clarke Councillor Haacke Councillor McWilliams Councillor Pappas Councillor Parnell, Chair Councillor Riel Councillor Therrien Councillor Vassiliadis Mayor Bennett</p>
<p>Confirmation of Minutes – May 25, 2015</p>
<p>Moved by Mayor Bennett</p>
<p>That the minutes of the meeting of Planning Committee held on May 25, 2015 be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of pecuniary interest.</p>
<br>
<br>
<br>
<p>Planning Committee Minutes</p>
<br>
<p>June 15, 2015</p>
<p>Page 2</p>
<p>Consent Agenda</p>
<p>No items were passed as part of the Consent Agenda.</p>
<p>Public Meeting Under the Planning Act Manager, Planning Division Report PLPD15-032 1637 Hetherington Dr. and 3789 Water St.</p>
<p>Caroline Kimble, Land Use Planner, provided an overview of Report PLPD15-032.</p>
<p>Terry Guiel, Peterborough Downtown Business Improvement Area, spoke in opposition to the application.</p>
<p>John Reeves, 780 Water Street, spoke in opposition to the application.</p>
<p>David McKay, agent of the applicant, spoke to the application.</p>
<p>Sheldon Rokin, the applicant, spoke to the application.</p>
<p>Moved by Councillor Pappas</p>
<p>That Council approve the recommendations outlined in Report PLPD15-032 dated June 15, 2015, of the Manager, Planning Division, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>That Schedule ‘A’ – Land Use of the Official Plan be amended to change the designation of the lands known as 1637 Hetherington Drive from ‘Major Institution’ to ‘Residential’, in accordance with the draft amendment attached as Exhibit “C” to Report PLPD15-032;</p>
<p>That Schedule ‘E’ – Residential Density of the Official Plan be amended to add the lands at 1637 Hetherington Drive to the ‘Medium Density Residential’ lands, in accordance with the draft amendment attached as Exhibit “C” to Report PLPD15-032;</p>
<p>That the zoning of 1637 Hetherington Drive be amended from the UC – University and College District to the SP.358 - Special Residential District in accordance with the draft amendment attached as Exhibit ‘D’ to Report PLPD15-032;</p>
<br>
<p>d)</p>
<p>e)</p>
<p>Planning Committee Minutes</p>
<br>
<p>June 15, 2015</p>
<p>Page 3</p>
<p>That the zoning of the westerly portion of 3789 Water Street be amended from the UC – University and College District to the SP.359 - Special Residential District in accordance with the draft amendment attached as Exhibit ‘D’ to Report PLPD15-032; and</p>
<p>That the zoning of the easterly portion of 3789 Water Street be amended from the UC – University and College District to the SP.360 - Special Commercial District in accordance with the draft amendment attached as Exhibit ‘D’ to Report PLPD15-032.</p>
<p>At the meeting of June 15, 2015 item f) was added:</p>
<p>f)</p>
<p>That the maximum building floor area of commercial uses be reduced from 8,000 m2 to 5,000 m2.</p>
<p>“CARRIED”</p>
<p>Moved by Councillor Riel</p>
<p>That staff enter into dialogue with the County of Peterborough and/or Township of Selwyn regarding upgrading their portion of Woodland Drive.</p>
<p>“CARRIED”</p>
<p>Manager, Planning Division Report PLPD15-021A 139 Douro Street – Zoning By-law Amendment</p>
<p>Moved by Councillor Riel</p>
<p>That the zoning by-law amendment application for 139 Douro Street be deferred until such time as additional information and reports are available.</p>
<p>“LOST”</p>
<br>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>d)</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>Planning Committee Minutes</p>
<br>
<p>June 15, 2015</p>
<p>Page 4</p>
<p>Moved by Mayor Bennett</p>
<p>That Council approve the recommendations outlined in Report PLPD15-021A dated June 15, 2015 of the Manager, Planning Division, as follows:</p>
<p>That the draft by-law attached to Report PLPD15-021 be amended to eliminate provisions related to the proposed pergola, in accordance with Exhibit ‘B’ attached to Report PLPD15-021A.</p>
<p>That Council approve the revised draft by-law by adding Section 387, SP.357 in accordance with Exhibit ‘B’ attached to Report PLPD15-021A.</p>
<p>That the zoning of 139 Douro Street be amended from the PS.2 – Public Service District to the SP.357 ‘H’ – Special Residential District in accordance with the draft amendment attached as Exhibit ‘B’ to Report PLPD15-021A.</p>
<p>That the ‘H’ – Holding Symbol be removed from the property subject to Site Plan Approval being granted for the subject property, and that the site plan return to Council for approval, including a requirement for a primary entrance to the units from a main corridor access from the north side of the building; a pedestrian connection to the principal entrance from the municipal sidewalk along Douro Street; and indoor facilities for the central storage of garbage.</p>
<p>“LOST”</p>
<p>Moved by Councillor Pappas</p>
<p>That Council approve the recommendations outlined in Report PLPD15-021A dated June 15, 2015 of the Manager, Planning Division, as follows:</p>
<p>That the draft by-law attached to Report PLPD15-021 be amended to eliminate provisions related to the proposed pergola, in accordance with Exhibit ‘B’ attached to Report PLPD15-021A.</p>
<p>That Council approve the revised draft by-law by adding Section 387, SP.357 in accordance with Exhibit ‘B’ attached to Report PLPD15-021A.</p>
<p>That the zoning of 139 Douro Street be amended from the PS.2 – Public Service District to the SP.357 ‘H’ – Special Residential District in accordance with the draft amendment attached as Exhibit ‘B’ to Report PLPD15-021A.</p>
<br>
<p>d)</p>
<p>Planning Committee Minutes</p>
<br>
<p>June 15, 2015</p>
<p>Page 5</p>
<p>That the ‘H’ – Holding Symbol be removed from the property subject to Site Plan Approval being granted for the subject property, including a requirement for a primary entrance to the units from a main corridor access from the north side of the building; a pedestrian connection to the principal entrance from the municipal sidewalk along Douro Street; and indoor facilities for the central storage of garbage.</p>
<p>At the meeting of June 15, 2015 item e) was added:</p>
<p>e)</p>
<p>That items b) and c) be amended to permit a maximum of 4 units and the Site Plan return to Council for approval.</p>
<p>“CARRIED”</p>
<p>Other Business</p>
<p>There were no items of Other Business.</p>
<p>Adjournment</p>
<p>Moved by Mayor Bennett</p>
<p>That this meeting of Planning Committee adjourn at 9:17 p.m.</p>
<p>"CARRIED"</p>
<p>Natalie Garnett Deputy City Clerk</p>
<p>Councillor Parnell Chair</p>
<br></div>