<!doctype html><div><br>
<br>
<p>Planning Committee Minutes</p>
<p>City of Peterborough</p>
<p>July 20, 2015</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of Planning Committee held on July 20, 2015 in</p>
<p>the County Council Chambers, 470 Water Street.</p>
<br>
<p>Planning Committee was called to order at 6:30 p.m. in the Council Chambers.</p>
<p>Roll Call: Councillor Baldwin Councillor Beamer Councillor Clarke Councillor Haacke Councillor McWilliams Councillor Pappas Councillor Parnell, Chair Councillor Riel Councillor Therrien Councillor Vassiliadis Mayor Bennett</p>
<p>Confirmation of Minutes – June 15, 2015</p>
<p>Moved by Councillor Pappas</p>
<p>That the minutes of the meeting of Planning Committee held on June 15, 2015 be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>Councillor Haacke declared a conflict with Report PLPD15-038, as his employer is involved with this property matter.</p>
<br>
<br>
<br>
<p>Planning Committee Minutes</p>
<br>
<p>July 20, 2015</p>
<p>Page 2</p>
<p>Consent Agenda</p>
<p>Moved by Mayor Bennett</p>
<p>That item 8 be passed as part of the Consent Agenda.</p>
<p>“CARRIED”</p>
<p>Manager, Planning Division Report PLPD15-035 Removal of “H” Holding Symbol from the Zoning of the Property at 855 Clonsilla Avenue</p>
<p>Moved by Mayor Bennett</p>
<p>That Council approve the recommendation outlined in Report PLPD15-035 dated July 20, 2015, of the Manager, Planning Division, as follows:</p>
<p>That the property at 855 Clonsilla Avenue be rezoned from SP. 274 – “H” Special Commercial District to SP. 274 Special Commercial District in accordance with Exhibit “C” attached to Report PLPD15-035.</p>
<p>“CARRIED”</p>
<p>Public Meeting Under the Planning Act Manager, Planning Division Report PLPD15-037 188-198 Edinburgh Street</p>
<p>Caroline Kimble, Land Use Planner, provided an overview of Report PLPD15-037.</p>
<p>Ann Jaeger, 202 Edinburgh Street, spoke in opposition to the application.</p>
<p>Ron Lawes, 141 Wallace Drive, spoke in opposition to the application.</p>
<p>Emily Howell, 191 Antrim Street, spoke in opposition to the application.</p>
<p>Gillian Sandeman, 227 Antrim Street, spoke to the application.</p>
<p>Gary Townsend, 612 Union Street, spoke in support of the application.</p>
<br>
<p>Planning Committee Minutes</p>
<br>
<p>July 20, 2015</p>
<p>Page 3</p>
<p>Jim Baird, LLF Lawyers, agent for the applicant, spoke to the application.</p>
<p>Moved by Mayor Bennett</p>
<p>That Council approve the recommendations outlined in Report PLPD13-037 dated July 20, 2015, of the Manager, Planning Division, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>That Schedule ‘E’ – Residential Density of the Official Plan be amended to include the lands known as 188-198 Edinburgh Street in the ‘High Density Residential’ designation in accordance with the draft amendment attached as Exhibit “D” to Report PLPD15-037;</p>
<p>That Section 391 be added to Zoning By-law 1997-123 to create Special District SP.361, to permit the use of the land for an apartment building with up to 28 dwelling units, in accordance with Exhibit ‘E’ attached to Report PLPD15-037; and</p>
<p>That the subject property be rezoned from R.1,R.2,R.3 – Residential District to the SP.361 – Residential District in accordance with Exhibit ‘E’ attached to Report PLPD15-037.</p>
<p>At the meeting of July 20, 2015, the following was added</p>
<p>d)</p>
<p>That the site plan be circulated to Council and properties within 120 m.</p>
<p>“CARRIED”</p>
<br>
<br>
<p>Planning Committee Minutes</p>
<br>
<p>July 20, 2015</p>
<p>Page 4</p>
<p>Public Meeting Under The Planning Act Manager, Planning Division Report PLPD15-038 2235 Keene Road</p>
<p>Due to his previously declared conflict, Councillor Haacke did not discuss or vote on this matter.</p>
<p>Caroline Kimble, Land Use Planner, provided an overview of Report PLPD15-038.</p>
<p>Kim Facey, 626 Jack Lake Road, Apsley, spoke to the application.</p>
<p>Kevin Duguay, 560 Romaine Street, agent for the applicant spoke to the application.</p>
<p>Moved by Councillor Beamer</p>
<p>That Council approve the recommendations outlined in Report PLPD15-038 dated July 20, 2015, of the Manager, Planning Division, as follows:</p>
<p>e)</p>
<p>f)</p>
<p>g)</p>
<p>That Schedule ‘A’ – Land Use of the Official Plan be amended to change the designation of the lands known as 2235 Keene Road from ‘Residential’ to ‘Commercial’ and that Schedule ‘I’ – Commercial Area of the Official Plan be amended to include the lands known as 2235 Keene Road in the ‘Service Commercial’ designation in accordance with the draft amendment attached as Exhibit “C” to Report PLPD15-038.</p>
<p>That Section 4.2.4.16 – Special Policies for Specific Residential Properties of the Official Plan be deleted, in accordance with the draft amendment attached as Exhibit “C” to Report PLPD15-038.</p>
<p>That Section 79 (including Schedule ‘A’ of Section 79) of Zoning By-law 1997-123 be repealed and replaced with a revised Section 79, SP.51 – Special Commercial District permitting a limited list of Service Commercial uses including a ‘dog boarding kennel’ use as a permitted use, subject to a prohibition of breeding animals; and exempts the lands from the requirement for public water and wastewater services in accordance with Exhibit ‘C’ attached to Report PLPD15-038.</p>
<p>h)</p>
<p>That the subject property be rezoned from SP.51 – Special Commercial District to SP.51 ‘H’ Special Commercial District in accordance with Exhibit ‘C’ attached to Report PLPD15-038.</p>
<p>i)</p>
<p>That the ‘H’ – Holding Symbol be removed subject to Site Plan Approval.</p>
<p>“CARRIED”</p>
<br>
<p>Planning Committee Minutes</p>
<br>
<p>July 20, 2015</p>
<p>Page 5</p>
<br>
<p>Manager, Planning Division Report PLPD15-034 Design of City Gateway Signs</p>
<p>Brian Buchardt, Planner, Urban Design, provided an overview of Report PLPD15-034, Design of City Gateway Signs.</p>
<p>Moved by Councillor Baldwin</p>
<p>That Council approve the recommendation outlined in Report PLPD15-034 dated July 20, 2015, of the Manager, Planning Division, as follows:</p>
<p>That the conceptual design of the City’s primary Gateway Sign as shown in Exhibit “3a” and a secondary sign in proximity to the 115 with “Welcome to”, attached to Report PLPD15-034 be approved and that staff be authorized to proceed with the detailed design and tendering for construction of the sign, associated landscape and secondary gateway signs.</p>
<p>“WITHDRAWN”</p>
<p>Moved by Councillor Baldwin</p>
<p>That Council approve the recommendation outlined in Report PLPD15-034 dated July 20, 2015, of the Manager, Planning Division, as follows:</p>
<p>That the conceptual design of the City’s primary Gateway Sign as shown in Exhibit “3b” and all secondary signs include “Welcome to”, as attached to Report PLPD15-034 be approved and that staff be authorized to proceed with the detailed design and tendering for construction of the sign, associated landscape and secondary gateway signs.</p>
<p>“CARRIED”</p>
<br>
<br>
<p>Planning Committee Minutes</p>
<br>
<p>July 20, 2015</p>
<p>Page 6</p>
<p>Manager, Planning Division Report PLPD15-036 Application for Site Plan Approval, 2350 Woodglade Blvd., Conseil Scolaire de District Catholique Centre-Sud</p>
<p>Brian Buchardt, Planner, Urban Design, responded to questions of clarification from Council regarding report PLPD15-036.</p>
<p>Moved by Councillor Clarke</p>
<p>That Council approve the recommendations outlined in Report PLPD15-036, dated July 20, 2015, of the Manager, Planning Division, as follows:</p>
<p>a)</p>
<p>That the Site Plan Application submitted by IBI Group Architects for the construction of a 5557 square metre (59,812 Square foot) French Catholic Secondary School at 2350 Woodglade Boulevard be approved subject to the following conditions:</p>
<p>i)</p>
<p>ii)</p>
<p>iii)</p>
<p>iv)</p>
<p>The conveyance to the City of a 12.0 metre X 8.0 metre day-lighting triangle at the corner of Woodglade Boulevard and Sherbrooke Street, at no cost and free of encumbrances.</p>
<p>The establishment of a servicing easement in favour of the City along the alignment of the municipal storm sewer and overland flow channel through the property</p>
<p>The submission of all the technical information and revisions requested by the City’s Site Plan Review Committee,</p>
<p>The deposit of Site Work Performance Security in the amount of $120,000.00.</p>
<p>b)</p>
<p>That the property at 2350 Woodglade Boulevard be rezoned from PS.2-‘H’ – Public Service District to PS.2 – Public Service District in accordance with Exhibit “C” attached to Report PLPD15-036.</p>
<p>“CARRIED”</p>
<br>
<br>
<p>Planning Committee Minutes</p>
<br>
<p>July 20, 2015</p>
<p>Page 7</p>
<p>Manager, Planning Division Report PLPD15-033 Review of Parking in Front Yard and Side Yard Regulations</p>
<p>Christie MacIssac, Assistant Planner, provided an overview of Report PLPD15-033, Review of Parking in Front Yard and Side Yard Regulations.</p>
<p>Moved by Councillor Haacke</p>
<p>That Council approve the recommendations outlined in Report PLPD15-033 dated July 20, 2015, of the Manager, Planning Division as follows:</p>
<p>That PLPD15-033 be received for information.</p>
<p>a)</p>
<p>b)</p>
<p>That staff be directed to:</p>
<p>i)</p>
<p>Review and propose amendments to Section 4 of the Zoning By-law to clarify language and intent of the parking regulations.</p>
<p>ii)</p>
<p>Develop a clear enforcement strategy.</p>
<p>iii)</p>
<p>Develop education and marketing material to clarify the rules regarding parking in residential areas.</p>
<p>“CARRIED”</p>
<p>Other Business</p>
<p>There were no items of Other Business.</p>
<p>Adjournment</p>
<p>Moved by Mayor Bennett</p>
<p>That this meeting of Planning Committee adjourn at 9:45 p.m.</p>
<p>"CARRIED"</p>
<br>
<br>
<p>Planning Committee Minutes</p>
<br>
<p>July 20, 2015</p>
<p>Page 8</p>
<p>Natalie Garnett Deputy City Clerk</p>
<p>Councillor Parnell Chair</p>
<br></div>