<!doctype html><div><br>
<br>
<p>PLANNING COMMITTEE MINUTES</p>
<br>
<p>CITY OF PETERBOROUGH</p>
<br>
<p>MARCH 9, 2009</p>
<br>
<p>DRAFT MINUTES NOT APPROVED</p>
<br>
<br>
<br>
<br>
<br>
<p>MINUTES  OF  A  MEETING  OF  PLANNING  COMMITTEE  HELD  ON</p>
<p>MONDAY,  MARCH  9,  2009  IN  THE  GENERAL  COMMITTEE  ROOM,</p>
<p>CITY HALL</p>
<br>
<p>Planning Committee was called to order at 6:30 p.m. in the General Committee Room.</p>
<p>Roll Call: Councillor Clarke Councillor Doris (7:18 p.m.) Councillor Eggleton Councillor Farquharson, Chair Councillor Hall Councillor Martin Councillor Pappas Councillor Vass Mayor Ayotte</p>
<p>Absent: Councillor Peacock Councillor Peeters</p>
<p>Moved by Councillor Pappas</p>
<p>That the Planning Committee recess at 6:32 p.m.</p>
<p>"CARRIED"</p>
<p>Planning Committee reconvened at 7:10 p.m.</p>
<p>Confirmation of Minutes</p>
<p>Moved by Mayor Ayotte</p>
<p>That the Minutes of the meeting of Planning Committee held on February 17, 2009 be approved.</p>
<p>"CARRIED"</p>
<br></div>