<!doctype html><div><br>
<br>
<p>Planning Committee Minutes</p>
<p>City of Peterborough</p>
<p>September 14, 2015</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of Planning Committee held on September 14,</p>
<p>2015 in the Council Chambers, City Hall.</p>
<br>
<p>Planning Committee was called to order at 6:31 p.m. in the Council Chambers.</p>
<p>Roll Call: Councillor Baldwin Councillor Beamer Councillor Clarke Councillor Haacke Councillor McWilliams Councillor Parnell, Chair Councillor Pappas Councillor Riel Councillor Therrien Councillor Vassiliadis Mayor Bennett</p>
<p>Confirmation of Minutes –August 24, 2015</p>
<p>Moved by Councillor Clarke</p>
<p>That the minutes of the meeting of Planning Committee held on August 24, 2015 be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Pecuniary Interest.</p>
<br>
<br>
<br>
<br>
<p>Planning Committee Minutes</p>
<br>
<p>September 14, 2015</p>
<p>Page 2</p>
<p>Manager, Planning Division Report PLPD15-047 200 St. Luke’s Avenue</p>
<p>Carline Kimball, Land Use Planner, advised that the applicant has requested a deferral as the application will be significantly revised.</p>
<p>Moved by Councillor Pappas</p>
<p>That Report PLPD15-047, 200 St. Luke’s Avenue be deferred at the request of the applicant.</p>
<p>“CARRIED”</p>
<p>Other Business</p>
<p>There were no items of Other Business.</p>
<p>Adjournment</p>
<p>Moved by Councillor Clarke</p>
<p>That this meeting of Planning Committee adjourn at 6:37 p.m.</p>
<p>"CARRIED"</p>
<p>Natalie Garnett Deputy City Clerk</p>
<p>Councillor Parnell Chair</p>
<br></div>