<!doctype html><div><br>
<br>
<p>Planning Committee Minutes</p>
<p>City of Peterborough</p>
<p>November 16, 2015</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of Planning Committee held on November 16,</p>
<p>2015 in the Council Chambers, City Hall.</p>
<br>
<p>Planning Committee was called to order at 6:46 p.m. in the Council Chambers.</p>
<p>Roll Call: Councillor Baldwin Councillor Beamer Councillor Clarke Councillor Haacke Councillor Pappas Councillor Parnell, Chair Councillor Riel Councillor Therrien Councillor Vassiliadis Councillor McWilliams Mayor Bennett</p>
<p>Confirmation of Minutes – October 26, 2015</p>
<p>Moved by Councillor Pappas</p>
<p>That the minutes of the meeting of Planning Committee held on October 26, 2015 be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of interest.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Planning Committee Minutes</p>
<br>
<p>November 16, 2015</p>
<p>Page 2</p>
<p>Manager, Planning Division Report PLPD15-057 Source Protection Septic System By-law</p>
<p>Moved by Councillor Beamer</p>
<p>That Council approve the recommendation outlined in Report PLPD15-057 dated November 16, 2015, of the Manager, Planning Division, as follows:</p>
<p>That Council approve the By-law attached as Exhibit D to Report PLPD15-057, in order to implement the required measures of protection of the vulnerable areas in relation to the City’s intake of drinking water as required by the Trent Source Protection Plan.</p>
<p>“CARRIED”</p>
<p>Manager, Planning Division Report PLPD15-058 Major Institutions Official Plan Policy and Zoning Update to Recognize Employment Uses</p>
<p>Mr. Hunt and President Leo Groarke from Trent University provided a presentation on Report PLPD15-058.</p>
<p>Moved by Councillor Pappas</p>
<p>That Council approve the recommendations outlined in Report PLPD15-058 dated November 16, 2015, of the Director, Planning & Development Services, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>That Council authorize that notice be given for a City-initiated Official Plan Amendment and Rezoning to recognize employment uses in the Major Institutions land use designation and the UC Zoning District.</p>
<p>That the CAO be authorized to execute a Memorandum of Understanding with Trent University outlining the essential terms of a business relationship between the City and Trent University to facilitate the implementation of the Trent Research and Innovation Park.</p>
<p>“CARRIED”</p>
<br>
<br>
<p>Planning Committee Minutes</p>
<br>
<p>November 16, 2015</p>
<p>Page 3</p>
<p>Other Business</p>
<p>Moved by Councillor Pappas</p>
<p>That staff bring forward the Urban Metrics report to the February 8, 2016 Planning Committee meeting.</p>
<p>“CARRIED”</p>
<p>Moved by Councillor Pappas</p>
<p>That staff review Schedule J (the commercial core), as part of the Official Plan Review.</p>
<p>“CARRIED”</p>
<p>Moved by Councillor McWilliams</p>
<p>That staff provide a report on the woodlot management/snow dump issue (raised at the Otonabee Ward public meeting), in the next cycle of Council meetings.</p>
<p>“CARRIED”</p>
<p>Councillor Therrien invited Council members to attend the homelessness tour scheduled for November 17, 2015 at 9:30 am.</p>
<p>Adjournment</p>
<p>Moved by Councillor Clarke</p>
<p>That this meeting of Planning Committee adjourn at 8:05 p.m.</p>
<p>"CARRIED"</p>
<br>
<br>
<p>Planning Committee Minutes</p>
<br>
<p>November 16, 2015</p>
<p>Page 4</p>
<p>Natalie Garnett Deputy City Clerk</p>
<p>Councillor Parnell Chair</p>
<br></div>