<!doctype html><div><br>
<br>
<p>PLANNING COMMITTEE MINUTES</p>
<br>
<p>CITY OF PETERBOROUGH</p>
<br>
<p>APRIL 20, 2009</p>
<br>
<p>DRAFT MINUTES NOT APPROVED</p>
<br>
<br>
<br>
<br>
<br>
<p>MINUTES  OF  A  MEETING  OF  PLANNING  COMMITTEE  HELD  ON</p>
<p>MONDAY,  APRIL  20,  2009,  IN  THE  GENERAL  COMMITTEE  ROOM,</p>
<p>CITY HALL</p>
<br>
<p>Planning Committee was called to order at 6:46 p.m. in the General Committee Room.</p>
<p>Roll Call: Councillor Clarke Councillor Doris Councillor Farquharson, Chair Councillor Martin Councillor Pappas Councillor Vass Councillor Peacock Councillor Peeters Councillor Eggleton Councillor Hall Mayor Ayotte</p>
<p>Confirmation of Minutes</p>
<p>Moved by Councillor Eggleton</p>
<p>That the Minutes of the meeting of Planning Committee held on March 30, 2009 be approved.</p>
<p>"CARRIED"</p>
<p>Disclosure of Pecuniary Interest</p>
<p>Mayor Ayotte declared a conflict of interest regarding item 5, Report PLPD09-010A, 125 Romaine Street.</p>
<br></div>