<!doctype html><div><br>
<br>
<p>Planning Committee Minutes</p>
<p>City of Peterborough</p>
<p>January 30, 2017</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of Planning Committee held on January 30, 2017</p>
<p>in the Council Chambers, City Hall.</p>
<br>
<p>Planning Committee was called to order at 6:30 p.m. in the Council Chambers by Councillor Parnell, Chair.</p>
<p>Roll Call: Councillor Baldwin Councillor Beamer Councillor Clarke Councillor Haacke Councillor Pappas Councillor Parnell, Chair Councillor Riel Councillor Therrien Councillor Vassiliadis Councillor McWilliams Mayor Bennett</p>
<p>Confirmation of Minutes – November 21, 2016</p>
<p>Moved by Councillor Clarke</p>
<p>That the minutes of the meeting of Planning Committee held on November 21, 2016 be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Pecuniary Interest.</p>
<p>The Chair introduced and welcomed Mr. Jeffrey Humble, the new Director of Planning and Development Services.</p>
<br>
<br>
<br>
<p>Planning Committee Minutes</p>
<br>
<p>January 30, 2017</p>
<p>Page 2</p>
<p>Consent Agenda</p>
<p>No items were moved as part of the Consent Agenda.</p>
<p>Public Meeting Under The Planning Act Manager, Planning Division Report PLPD17-003 53 Leahy’s Lane</p>
<p>Caroline Kimble, Land Use Planner, provided an overview of Report PLPD17-003.</p>
<p>Steve Barker, 247 Spencley’s Lane spoke in opposition to the application.</p>
<p>Mike Maudsley, 249 Spencley’s Lane spoke in opposition to the application.</p>
<p>Jennifer Stubbert, 46 Leahy’s Lane spoke in opposition to the application.</p>
<p>Tracy Ross, 41 Leahy’s Lane spoke in opposition to the application.</p>
<p>No one spoke in support of the application.</p>
<p>Chris Vandermeer of 456 Florence Drive and Jeff Slute from Millbrook, the applicants, spoke to the application. Glen Payne of 1236 Melody Crescent, agent for the applicants, spoke to the application.</p>
<p>Moved by Councillor Riel</p>
<p>That the application for 53 Leahy’s Lane be deferred to enable a community meeting on this application to be organized; and,</p>
<p>That this application return to the March 20, 2017 Planning Meeting.</p>
<p>“CARRIED”</p>
<br>
<br>
<p>Planning Committee Minutes</p>
<br>
<p>January 30, 2017</p>
<p>Page 3</p>
<p>Public Meeting Under The Planning Act Manager, Planning Division Report PLPD17-004 737 and 739 Hemlock Street</p>
<p>Caroline Kimble, Land Use Planner, provided an overview of Report PLPD17-004.</p>
<p>No one spoke in opposition to, or in support of, the application.</p>
<p>Jeremy Foster, 737 Hemlock Street, the applicant, spoke to the application.</p>
<p>Moved by Councillor Clarke</p>
<p>That Council approve the recommendations outlined in Report PLPD17-004 dated January 30, 2017, of the Manager, Planning Division, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>That Section 3.9 – Exceptions, be amended to add Exception .310 in accordance with Exhibit ‘C’ attached to Report PLPD17-004;</p>
<p>That the subject properties be rezoned from D.1 – Development District and from R.1,1r,2r,8z – Residential District to R.1,1r,2r,8z-310 ‘H’ – Residential District in accordance with Exhibit ‘C’ attached to Report PLPD17-004; and</p>
<p>That the ‘H’ Holding Symbol be removed subject to the consolidation of the two parcels to create one lot.</p>
<p>“CARRIED”</p>
<p>Public Meeting Under The Planning Act Manager, Planning Division Report PLPD17-005 Temporary Use Zoning By-law Amendment Z1621 2064086 Ontario Limited (Mason Homes Limited) 827 Broadway Boulevard (Block 64, Plan 45M-247)</p>
<p>Brad Appleby, Planner, Subdivision Control and Special Projects, provided an overview of Report PLPD17-005.</p>
<p>No one spoke in opposition to, or in support, of the application.</p>
<br>
<p>Planning Committee Minutes</p>
<br>
<p>January 30, 2017</p>
<p>Page 4</p>
<p>Moved by Councillor Haacke</p>
<p>That Council approve the recommendation outlined in Report PLPD17-005 dated January 30, 2017, of the Manager, Planning Division, as follows:</p>
<p>That a Temporary Use Zoning By-law be approved pursuant to Section 39 of the Planning Act to permit the property municipally known as 827 Chemong Road and legally described as Block 64, Plan 45M-247 to be used as a new homes sales court consisting of a new-home sales office and seven model homes for a period of up to three years in accordance with Exhibit E of Report PLPD17-005.</p>
<p>“CARRIED”</p>
<p>Manager, Planning Division Report PLPD17-006 Execution of Agreement with Greater Peterborough Innovation Cluster</p>
<p>Moved by Councillor Pappas</p>
<p>That Council approve the recommendation outlined in Report PLPD17-006 dated January 30, 2017, of the Manager, Planning Division, as follows:</p>
<p>That the Mayor and City Clerk be authorized to sign an agreement with Greater Peterborough Innovation Cluster to provide City funding in the amount of $100,000 per year for 3 years, effective from January 1, 2017 to December 31, 2018, to provide City funding to assist with start-up costs in locating a “Start-Up Hub” Entrepreneur Centre in the Promenade Building at 270 George Street North.</p>
<p>“CARRIED”</p>
<p>Other Business</p>
<p>There were no items of Other Business.</p>
<br>
<br>
<p>Planning Committee Minutes</p>
<br>
<p>January 30, 2017</p>
<p>Page 5</p>
<p>Adjournment</p>
<p>Moved by Mayor Bennett</p>
<p>That this meeting of Planning Committee adjourn at 8:42 p.m.</p>
<p>"CARRIED"</p>
<p>Natalie Garnett Deputy City Clerk</p>
<p>Councillor Parnell Chair</p>
<br></div>