<!doctype html><div><br>
<br>
<p>Planning Committee Minutes</p>
<p>City of Peterborough</p>
<p>February 27, 2017</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<p>Minutes of a special meeting of Planning Committee held on February</p>
<p>27, 2017 in the Council Chambers, City Hall.</p>
<br>
<p>Planning Committee was called to order at 6:01 p.m. in the Council Chambers by Councillor Parnell, Chair.</p>
<p>Roll Call: Councillor Baldwin Councillor Beamer Councillor Clarke Councillor Haacke Councillor Parnell, Chair Councillor Therrien Councillor Vassiliadis Councillor McWilliams Mayor Bennett</p>
<p>Regrets: Councillor Pappas Councillor Riel</p>
<p>Confirmation of Minutes – January 30, 2017</p>
<p>Moved by Councillor Clarke</p>
<p>That the minutes of the meeting of Planning Committee held on January 30, 2017 be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Pecuniary Interest.</p>
<br>
<br>
<br>
<p>Planning Committee Minutes</p>
<br>
<p>February 27, 2017</p>
<p>Page 2</p>
<p>Consent Agenda</p>
<p>Moved by Councillor McWilliams</p>
<p>That Item 4 be moved as part of the Consent Agenda.</p>
<p>“CARRIED”</p>
<p>Director, Planning and Development Services Report PLPD17-009 By-law to Remove an ‘H’ – Holding Symbol from the Zoning By-law for Part of Plan of Subdivision 45M-248 Activa Holdings Inc. Heritage Park, Phase 2, Stage 4 Draft Plan of Subdivision 15T-02502</p>
<p>Moved by Councillor McWilliams</p>
<p>That Council approve the recommendation outlined in Report PLPD17-009 dated February 27, 2017, of the Director, Planning and Development Services, as follows:</p>
<p>That Lots 1 to 35 on Plan of Subdivision 45M-248 (Sawmill Road and Settlers Ridge) be rezoned from R.1,1r,2r,8z-162-‘H’ to R.1,1r,2r,8z-162.</p>
<p>“CARRIED”</p>
<p>Director, Planning and Development Services Report PLPD17-007 Removal of “H” – Holding Symbol from the Zoning of the property at 1757 Sherbrooke Street</p>
<p>Moved by Councillor McWilliams</p>
<p>That Council approve the recommendation outlined in Report PLPD17-007 dated February 27, 2017, of the Director, Planning and Development Services, as follows:</p>
<br>
<p>Planning Committee Minutes</p>
<br>
<p>February 27, 2017</p>
<p>Page 3</p>
<p>That the northern portion of the property at 1757 Sherbrooke Street be rezoned from SP.264-275-301-“H” – Special Commercial District, to SP.264-275-301- Special Commercial District, in accordance with Exhibit ‘C’ attached to Report PLPD17-007.</p>
<p>“CARRIED”</p>
<p>Adjournment</p>
<p>Moved by Councillor Clarke</p>
<p>That this meeting of Planning Committee adjourn at 6:11 p.m.</p>
<p>"CARRIED"</p>
<p>John Kennedy City Clerk</p>
<p>Councillor Parnell Chair</p>
<br></div>