<!doctype html><div><br>
<br>
<p>Planning Committee Minutes</p>
<p>City of Peterborough</p>
<p>March 20, 2017</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<p>Minutes of a special meeting of Planning Committee held on March</p>
<p>20, 2017 in the Council Chambers, City Hall.</p>
<br>
<p>Planning Committee was called to order at 7:00 p.m. in the Council Chambers by Councillor Parnell, Chair.</p>
<p>Roll Call: Councillor Baldwin Councillor Beamer Councillor Clarke Councillor Haacke Councillor Parnell, Chair Councillor Pappas Councillor Riel Councillor Therrien Councillor Vassiliadis Councillor McWilliams Mayor Bennett</p>
<p>Confirmation of Minutes – February 27, 2017</p>
<p>Moved by Councillor Pappas</p>
<p>That the minutes of the meeting of Planning Committee held on February 27, 2017 be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>Councillor Haacke declared an interest in Report PLPD17-013, Application for Site Plan Approval, 145 Langton Street, 92 Unit Single Storey Duplex and Rowhouse Development, as the applicant is a client.</p>
<br>
<br>
<br>
<p>Planning Committee Minutes</p>
<br>
<p>March 20, 2017</p>
<p>Page 2</p>
<br>
<p>Consent Agenda</p>
<p>Moved by Councillor McWilliams</p>
<p>That items 3, 4, 5, and 7 be approved as part of the Consent Agenda.</p>
<p>“CARRIED”</p>
<p>Director, Planning and Development Services Report PLPD17-014 Removal of “H” – Holding Symbol from the Zoning of the property at 191 Bethune Street</p>
<p>Moved by Councillor McWilliams</p>
<p>That Council approve the recommendation outlined in Report PLPD17-014 dated March 20, 2017, of the Director, Planning and Development Services, as follows:</p>
<p>That the property at 191 Bethune Street be rezoned from the R.3, 3p, 4k, 19d – ‘H’ – Residential District to R.3, 3p, 4k, 19d – Residential District in accordance with Exhibit ‘C’ attached to Report PLPD17-014.</p>
<p>“CARRIED”</p>
<p>Director, Planning and Development Services Report PLPD17-011 Establishment of a Special Area Charge for Rear Laneways Registered Plan of Subdivision 45M-247 Mason Homes Limited</p>
<p>Moved by Councillor McWilliams</p>
<p>That Council approve the recommendation outlined in Report PLPD17-011 dated March 20, 2017, of the Director, Planning and Development Services, as follows:</p>
<p>That the By-law attached to Report PLPD17-011 as Exhibit A be approved to establish a Special Area Charge pursuant to Section 326 of the Municipal Act, 2001, S.O. 2001, c.25 as amended, applicable to certain lots and blocks within Plan 45M-247 that abut and rely upon a rear laneway for vehicular access.</p>
<p>“CARRIED”</p>
<br>
<p>Planning Committee Minutes</p>
<br>
<p>March 20, 2017</p>
<p>Page 3</p>
<p>Director, Planning and Development Services Report PLPD17-003B 53 Leahy’s Lane</p>
<p>Moved by Councillor McWilliams</p>
<p>That Council approve the recommendations outlined in Report PLPD17-003B dated March 20, 2017, of the Director, Planning and Development Services, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>That the draft By-law attached to Report PLPD17-003 be amended to eliminate the exception for Maximum Parking Lot Coverage, and Section 3.9 - Exceptions adding Exception .311 in accordance with Exhibit ‘C’ attached to Report PLPD17-003B; and</p>
<p>That the zoning of 53 Leahy’s Lane be amended from R.1 – Residential District to R.3-311 – Residential District in accordance with Exhibit ‘C’ attached to Report PLPD17-003B.</p>
<p>“CARRIED”</p>
<p>Director, Planning and Development Services Report PLPD17-010 Delegated Subdivision Approval Activity for 2016</p>
<p>Moved by Councillor McWilliams</p>
<p>That Council approve the recommendation outlined in Report PLPD17-010 dated March 20, 2017, of the Director, Planning and Development Services, as follows:</p>
<p>That Report PLPD17-010 be received for information.</p>
<p>“CARRIED”</p>
<p>The meeting recessed at 7:05 p.m. and reconvened at 8:03 p.m.</p>
<br>
<br>
<p>Planning Committee Minutes</p>
<br>
<p>March 20, 2017</p>
<p>Page 4</p>
<p>Director, Planning and Development Services Report PLPD17-013 Application for Site Plan Approval, 145 Langton Street, 92 Unit Single Storey Duplex and Rowhouse Development</p>
<p>Due to his previously declared interest, Councillor Haacke did not discuss or vote on this item.</p>
<p>Moved by Councillor Riel</p>
<p>That Council approve the recommendations outlined in Report PLPD17-013 dated March 20, 2017, of the Director, Planning and Development Services, as follows:</p>
<p>That the Site Plan Application submitted by Parkview Homes for the construction of a 92 unit single storey duplex and rowhouse development at 145 Langton Street be approved, subject to the following conditions:</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>d)</p>
<p>e)</p>
<p>f)</p>
<p>The submission of an acoustical study to determine the specifications required to abate noise for the rear yards of dwelling units adjacent to Langton Street;</p>
<p>The submission of revised drawings and additional technical information to the satisfaction of the Director of the City’s Utility Services Department;</p>
<p>The construction of a driveway connection to the existing driveway on the Fairhaven property to be used for emergency access only;</p>
<p>The approval by the Fairhaven Board of Directors for a storm sewer outlet on to the Fairhaven property for phase two of the subject property’s development;</p>
<p>The deposit of a parkland levy in accordance with the Planning Act, as amended and</p>
<p>The deposit of site work performance security in the amount of $100,000.00.</p>
<p>“CARRIED”</p>
<br>
<p>Planning Committee Minutes</p>
<br>
<p>March 20, 2017</p>
<p>Page 5</p>
<p>New Business</p>
<p>Moved by Councillor Riel</p>
<p>That staff provide a report within two Council cycles on the Property Standards By-law with regard to addressing the drainage of water onto neighbouring properties.</p>
<p>“CARRIED”</p>
<p>Adjournment</p>
<p>Moved by Mayor Bennett</p>
<p>That this meeting of Planning Committee adjourn at 8:15 p.m.</p>
<p>"CARRIED"</p>
<p>Natalie Garnett Deputy City Clerk</p>
<p>Councillor Parnell Chair</p>
<br></div>