<!doctype html><div><br>
<br>
<p>Planning Committee Minutes</p>
<p>City of Peterborough</p>
<p>May 23, 2017</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<p>Minutes of a special meeting of Planning Committee held on May 23,</p>
<p>2017 in the Council Chambers, City Hall.</p>
<br>
<p>Planning Committee was called to order at 6:30 p.m. in the Council Chambers by Councillor Parnell, Chair.</p>
<p>Roll Call: Councillor Baldwin Councillor Beamer Councillor Clarke Councillor Haacke Councillor Parnell, Chair Councillor Pappas Councillor Riel Councillor Therrien Councillor Vassiliadis Councillor McWilliams Mayor Bennett</p>
<p>Confirmation of Minutes – April 10, 2017</p>
<p>Moved by Councillor McWilliams</p>
<p>That the minutes of the meeting of Planning Committee held on April 10, 2017 be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Pecuniary Interest.</p>
<br>
<br>
<br>
<p>Planning Committee Minutes</p>
<br>
<p>May 23, 2017</p>
<p>Page 2</p>
<br>
<p>Consent Agenda</p>
<p>Moved by Councillor Haacke</p>
<p>That item 3 be approved as part of the Consent Agenda.</p>
<p>“CARRIED”</p>
<p>Director, Planning and Development Services Report PLPD17-025 Removal of “H” – Holding Symbol from the Zoning of the property at 737 and 739 Hemlock Street</p>
<p>Moved by Councillor Haacke</p>
<p>That Council approve the recommendation outlined in Report PLPD17-025 dated May 23, 2017, of the Director, Planning and Development Services, as follows:</p>
<p>That the property at 737 and 739 Hemlock Street be rezoned from the R.1,1r,2r,8z- 310’H’ Residential District to R.1,1r,2r,8z-310 – Residential District in accordance with Exhibit ‘C’ attached to Report PLPD17-025.</p>
<p>“CARRIED”</p>
<p>Director, Planning and Development Services Report PLPD17-026 Application for Site Plan Approval, 4,851 square metre Casino and Seven Storey, 100 Suite Hotel at 1400 Crawford Drive Removal of “H” – Holding Symbol from the Zoning of the property and pre-commitment of funds for 2018-2019 Budgets for Infrastructure Improvements</p>
<p>Mr. Jeffrey Humble, Director, Planning and Development Services, provided an overview of the process undertaken to date on the casino application.  Mr. Brian Buchardt, Planner, Urban Design, provided an overview of Report PLPD17-026.</p>
<br>
<p>Planning Committee Minutes</p>
<br>
<p>May 23, 2017</p>
<p>Page 3</p>
<p>Moved by Mayor Bennett</p>
<p>That Council approve the recommendations outlined in Report PLPD17-026 dated May 23 2017, of the Director, Planning and Development Services, as follows:</p>
<br>
<br>
<p>a)</p>
<p>That the Site Plan Application submitted by Ontario Gaming East Partnership and Roshan Holdings Inc. for the construction of a 4,851 square metre (52,216 square foot) casino and a seven storey, 100 suite hotel at 1400 Crawford Drive be approved subject to the following conditions:</p>
<p>i)</p>
<p>ii)</p>
<p>iii)</p>
<p>iv)</p>
<p>The deposit of site work performance security in the amount of $1,000,000.00;</p>
<p>The submission of revised drawings and additional technical information to the satisfaction of the Director of Planning and Development Services and the Director  of the Utility Services Departments;</p>
<p>The submission of further clarification and technical information regarding storm water management and biological particulars to the satisfaction of the Otonabee Region Conservation Authority;</p>
<p>The submission and implementation of a Thermal Effectiveness Monitoring Plan, for the casino and hotel site plan to be entirely funded by the applicant/owner, to the satisfaction of Otonabee Region Conservation Authority, during site construction and for a period of five years post construction, to verify the predicted function of the thermal mitigation measures and storm water impacts from the property at 1400 Crawford Drive on the abutting tributary of Byesville Creek;</p>
<p>v)</p>
<p>The completion of a scoped methane study due to the site’s proximity to a closed landfill;</p>
<p>vi)</p>
<p>The completion of a Stage 2 Archaeological Assessment;</p>
<p>vii)</p>
<p>The submission of additional technical information to the satisfaction of the Ministry of Transportation of Ontario; and</p>
<p>viii)  The deposit of a Parkland Levy in accordance with The Planning Act,</p>
<p>as amended.</p>
<p>Planning Committee Minutes</p>
<br>
<p>May 23, 2017</p>
<p>Page 4</p>
<p>That the property at 1400 Crawford Drive be rezoned from SP.363-“H” – Special Commercial District, to SP.363 Special Commercial District, in accordance with Exhibit ‘D’ attached to Report PLPD17-026.</p>
<p>That financing of infrastructure improvements for Harper Road and Crawford Drive extensions and realignments be approved with the following conditions:</p>
<p>That a City Capital Budget pre-commitment in the amount of $4,000,000 in 2018 and $4,000,000 in 2019 be approved to reimburse the developer for the construction of the roadways;</p>
<p>That the Site Plan Agreement include provisions and terms with the developer to finance the infrastructure improvements relating to the Harper Drive and Crawford Drive realignment to permit construction to commence in 2017 prior to approval of the City’s 2018 budget;</p>
<p>That the developer constructs the Harper Road and Crawford Drive extensions and realignments as outlined in the Class EA Study; and</p>
<br>
<p>b)</p>
<p>c)</p>
<p>i)</p>
<p>ii)</p>
<p>iii)</p>
<p>iv)</p>
<p>That the roads in the vicinity of the casino and hotel property be named in accordance with Exhibit “B” attached to Report PLPD17- 026.</p>
<p>“CARRIED”</p>
<p>Other Business</p>
<p>Councillor Clarke requested that an email be provided to Council with information/suggestions on how to address the lack of inventory and high cost of rental properties in the City of Peterborough.</p>
<p>Adjournment</p>
<p>Moved by Mayor Bennett</p>
<p>That this meeting of Planning Committee adjourn at 7:12 p.m.</p>
<p>"CARRIED"</p>
<br>
<br>
<p>Planning Committee Minutes</p>
<br>
<p>May 23, 2017</p>
<p>Page 5</p>
<p>Natalie Garnett Deputy City Clerk</p>
<p>Councillor Parnell Chair</p>
<br></div>