<!doctype html><div><br>
<br>
<p>Planning Committee Minutes</p>
<p>City of Peterborough</p>
<p>June 12, 2017</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<p>Minutes of a special meeting of Planning Committee held on June 12,</p>
<p>2017 in the Council Chambers, City Hall.</p>
<br>
<p>Planning Committee was called to order at 6:30 p.m. in the Council Chambers by Councillor Parnell, Chair.</p>
<p>Roll Call: Councillor Baldwin Councillor Beamer Councillor Clarke Councillor Haacke Councillor Parnell, Chair Councillor Pappas Councillor Riel Councillor Therrien Councillor Vassiliadis Councillor McWilliams Mayor Bennett</p>
<p>Confirmation of Minutes – May 23, 2017</p>
<p>Moved by Councillor Clarke</p>
<p>That the minutes of the meeting of Planning Committee held on May 23, 2017 be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>Councillor Beamer declared an interest in Report PLPD17-024 - Lodging House and Rental Units Zoning Provisions, as he owns rental properties.</p>
<p>Councillor Haacke declared an interest in Report  PLPD17-008 - Removal of “H” – Holding Symbol from the zoning of the property at 1119 Clonsilla Avenue, as the vendor is a client of his.</p>
<br>
<br>
<br>
<p>Planning Committee Minutes</p>
<br>
<p>June 12, 2017</p>
<p>Page 2</p>
<br>
<p>Councillor Pappas declared an interest in Report PLPD17-023 - Central Area Community Improvement Plan Program Update and Extension, as he owns a building and has applied for a grant.</p>
<p>Consent Agenda</p>
<p>Moved by Councillor Pappas</p>
<p>That item 7 be approved as part of the Consent Agenda.</p>
<p>“CARRIED”</p>
<p>Director, Planning and Development Services Report PLPD17-027 Removal of “H” – Holding Symbol from the zoning of the property at 1230 Lansdowne Street West and part of 740 Clonsilla Avenue</p>
<p>Moved by Councillor Pappas</p>
<p>That Council approve the recommendation outlined in Report PLPD17-027 dated June 12, 2017, of the Director, Planning and Development Services, as follows:</p>
<p>That the property at 1230 Lansdowne Street West and part of 740 Clonsilla Avenue be rezoned from C.7-166 ‘H’- Special Purpose Retail Zoning District to C.7-166 - Special Purpose Retail Zoning District in accordance with the draft amendment attached as Exhibit ‘C’ to Report PLPD17-027.</p>
<p>“CARRIED”</p>
<p>Director, Planning and Development Services Report PLPD17-008 Removal of “H” – Holding Symbol from the zoning of the property at 1119 Clonsilla Avenue</p>
<p>Due to his previously declared interest, Councillor Haacke did not discuss or vote on this item.</p>
<br>
<p>Planning Committee Minutes</p>
<br>
<p>June 12, 2017</p>
<p>Page 3</p>
<p>Moved by Mayor Bennett</p>
<p>That Council approve the recommendation outlined in Report PLPD17-008 dated June 12, 2017, of the Director, Planning and Development Services, as follows:</p>
<p>That the property at 1119 Clonsilla Avenue be rezoned from the R.1, 1m, 2m – 305 – “H” – Residential District, to R.1, 1m, 2m – 305 – Residential District, in accordance with Exhibit ‘C’ attached to Report PLPD17-008.</p>
<p>“CARRIED”</p>
<p>Director, Planning and Development Services Report PLPD17-023 Central Area Community Improvement Plan Program Update and Extension</p>
<p>Due to his previously declared interest, Councillor Pappas did not discuss or vote on this item.</p>
<p>Moved by Councillor McWilliams</p>
<p>That Council approve the recommendations outlined in Report PLPD17-023 dated June 12, 2017, of the Director, Planning and Development Services, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>That the Central Area Community Improvement Plan Programs be extended for five years, to 2021.</p>
<p>That the Central Area Community Improvement Plan policy document be amended as follows, in accordance with Exhibit A attached to Report PLPD17-023:</p>
<p>i)</p>
<p>Façade Improvement Grant Program, which currently has a “lock-out” clause for 5 years after maximum funding is reached, be amended to have a “lock-out” clause for 10 years, and clarify that the grant applies to a building rather than a municipal address, owner, or tenant.</p>
<br>
<br>
<p>ii)</p>
<p>Planning Committee Minutes</p>
<br>
<p>June 12, 2017</p>
<p>Page 4</p>
<p>Central Area Revitalization (Tax Increment Based) Grant Program, which currently provides a 100% refund for 5 years and phased in the taxes over the next 4 years for full payment in year 10, be amended to also provide an option for a 100% refund for 10 years and then phased in over the next 4 years, where a property is designated under the Ontario Heritage Act or is eligible for designation and the proponent is willing to have the property designated, and the property would become ineligible for the Heritage Property Tax Relief Program even after the Central Area Revitalization Grant Program ends.</p>
<p>iii)  Brownfields Tax Assistance Program and Municipal Brownfields</p>
<p>Rehabilitation Grant Program will have a section added to the CA CIP policy document for the Municipal Brownfields Rehabilitation Grant Program as was approved by Council under By-law 14-015.</p>
<p>iv)  Municipal Incentive Grant Program will include minor revisions to</p>
<p>clarify fees will be refunded rather than waived.</p>
<p>v)</p>
<p>Residential Conversion and Intensification Grant Program will include minor housekeeping revisions to text to clarify that the program provides funding via a grant, as it has since its introduction, rather than as a loan.</p>
<p>vi)  That By-laws 11-115 and 14-015 be repealed and replaced upon the</p>
<p>adoption of the By-law attached as Exhibit A.</p>
<p>“CARRIED”</p>
<p>Public Meeting under The Planning Act Director, Planning and Development Services Report PLPD17-024 Lodging House and Rental Units Zoning Provisions</p>
<p>Caroline Kimble, Land Use Planner, provided a presentation on Report PLPD17-024.</p>
<p>Due to his previously declared interest, Councillor Beamer did not discuss or vote on this item.</p>
<p>Syd Birrell, 96 Dufferin Street, spoke in opposition to the report.</p>
<p>Atul Swarup, Peterborough and District Landlord Association, spoke in opposition to the report.</p>
<br>
<p>Planning Committee Minutes</p>
<br>
<p>June 12, 2017</p>
<p>Page 5</p>
<br>
<p>Andrew Radfisher, 3 Edgewater Boulevard, spoke in opposition to the report.</p>
<p>David Tomlinson, 47 Kingan Street in Peterborough, spoke in opposition to the report.</p>
<p>No one spoke in support of the report.</p>
<p>Moved by Councillor Pappas</p>
<p>That Council approve the recommendation outlined in Report PLPD17-024 dated June 12, 2017, of the Director, Planning and Development Services, as follows:</p>
<p>That By-law 1997-123 be amended in accordance with the draft amendment attached as Exhibit ‘A’ to Report PLPD17-024.</p>
<p>“CARRIED”</p>
<p>Public Meeting under The Planning Act Director, Planning and Development Services Report PLPD17-029 475 George Street North and Part of 175 Murray Street Zoning By-law Amendment</p>
<p>Caroline Kimble provided a presentation on Report PLPD17-029.</p>
<p>No one spoke in opposition to the application.</p>
<p>Audrey Gaylie, spoke in support of the application.</p>
<br>
<p>Planning Committee Minutes</p>
<br>
<p>June 12, 2017</p>
<p>Page 6</p>
<p>Moved by Mayor Bennett</p>
<p>That Council approve the recommendations outlined in Report PLPD17-029 dated June 12, 2017, of the Director, Planning and Development Services, as follows:</p>
<br>
<p>a)</p>
<p>b)</p>
<p>Amend Section 41, Special District 13 (SP.13) of Zoning By-law 1997-123, to delete the requirement to locate dwelling units only in a second or higher storey, in accordance with Exhibit ‘C’ attached to Report PLPD17-029; and</p>
<p>That the zoning of the easterly portion of the lands known as 175 Murray Street be amended from the PS.2 – Public Service District to the SP.13 – Special Commercial District in accordance with Exhibit ‘D’ attached to Report PLPD17-029.</p>
<p>“CARRIED”</p>
<p>New Business</p>
<p>There were no items of New Business</p>
<p>Adjournment</p>
<p>Moved by Councillor McWilliams</p>
<p>That this meeting of Planning Committee adjourn at 8:46 p.m.</p>
<p>"CARRIED"</p>
<p>Natalie Garnett Deputy City Clerk</p>
<p>Councillor Parnell Chair</p>
<br></div>