<!doctype html><div><br>
<br>
<p>Planning Committee Minutes</p>
<p>City of Peterborough</p>
<p>July 17, 2017</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<p>Minutes of a special meeting of Planning Committee held on July 17,</p>
<p>2017 in the Council Chambers, City Hall.</p>
<br>
<p>Planning Committee was called to order at 6:30 p.m. in the Council Chambers by Councillor Parnell, Chair.</p>
<p>Roll Call: Councillor Baldwin Councillor Beamer Councillor Clarke Councillor Haacke Councillor Parnell, Chair Councillor Pappas Councillor Riel Councillor Therrien Councillor Vassiliadis Councillor McWilliams Mayor Bennett</p>
<p>Confirmation of Minutes – June 12, 2017</p>
<p>Moved by Councillor Clarke</p>
<p>That the minutes of the meeting of Planning Committee held on June 12, 2017 be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no Disclosures of Interest.</p>
<br>
<br>
<br>
<p>Planning Committee Minutes</p>
<br>
<p>July 17, 2017</p>
<p>Page 2</p>
<p>Moved by Councillor Clarke</p>
<p>That the agenda be amended, and that item 6 is the first item on the agenda.</p>
<p>“CARRIED”</p>
<p>Director, Planning and Development Services Report PLPD17-036 World Town Planning Day Presentation</p>
<p>Kevin Duguay, Rotary Club of Peterborough, introduced Rhiannon Gilbart, who provided a presentation on World Town Planning Day.</p>
<p>Moved by Councillor Therrien</p>
<p>That Council approve the recommendation outlined in Report PLPD17-036 dated July 17, 2017, of the Director, Planning and Development Services, as follows:</p>
<p>That Council receive a presentation regarding the results of the May 3, 2017 World Town Planning Day event at the July 17, 2017 Planning Committee meeting.</p>
<p>“CARRIED”</p>
<p>Public Meeting under The Planning Act Director, Planning and Development Services Report PLPD17-034 1657 College Park Drive Zoning By-law Amendments</p>
<p>Caroline Kimble, Planner, Land Use, provided a presentation on Report PLPD17-034.</p>
<p>No one spoke in support of, or in opposition to, the application.</p>
<p>Don McPherson, 1810 Brealey Drive, agent for the applicant, spoke to the application.</p>
<br>
<p>Planning Committee Minutes</p>
<br>
<p>July 17, 2017</p>
<p>Page 3</p>
<p>Moved by Councillor Pappas</p>
<p>That Council approve the recommendations outlined in Report PLPD17-034 dated July 17, 2017, of the Director, Planning and Development Services, as follows:</p>
<p>That the subject property be rezoned from D.2 – Development District to R.1, 1f, 2e ‘H’ – Residential District in accordance with Exhibit ‘C’ attached to Report PLPD17-034; and</p>
<p>That the ‘H’ – Holding Symbol be removed subject to the removal of the 0.3 m reserve abutting the College Park Drive lot line (Block 129, Plan 45M-126) and the land being dedicated as a public highway known as College Park Drive, at the applicant’s expense, to allow legal access to College Park Drive.</p>
<p>“CARRIED”</p>
<p>Director, Planning and Development Services Report PLPD17-032 Master Plan – Trent Research and Innovation Park</p>
<p>Malcolm Hunt, Steering Committee Chairman, provided a presentation on Report PLPD17-032.  President Leo Groarke, Trent University, addressed Council on the Trent Research and Innovation Park.</p>
<p>Moved by Councillor Clarke</p>
<p>That Council approve the recommendations outlined in Report PLPD17-032 dated July 17, 2017, of the Director, Planning & Development Services, as follows:</p>
<p>That the Master Plan for the Trent Research and Innovation Park, dated April 2017 and attached to Report PLPD17-032 as Exhibit A , be adopted as the framework for the physical development of the Trent Research and Innovation Park;</p>
<p>That the Master Plan be regarded as a dynamic document where adjustments can be made by the City to account for changing market conditions, investment requirements, and the introduction of new information that promotes a more responsive development;</p>
<p>a)</p>
<p>b)</p>
<p>a)</p>
<p>b)</p>
<br>
<p>c)</p>
<p>d)</p>
<p>Planning Committee Minutes</p>
<br>
<p>July 17, 2017</p>
<p>Page 4</p>
<p>That the conclusions of Trent’s Indigenous Consultation process, sponsored by the City of Peterborough, be included as an addendum to the Master Plan where the conclusions have specific relevance to the Trent Research and Innovation Park site; and</p>
<p>That section 3(a) of By-law 11-081, being a by-law delegating site plan approval authority, be amended to include the Trent Research and Innovation Park as a planned industrial park similar to Major Bennett Industrial Park and Peterborough Industrial Park where site plan approval is delegated to the Director of Planning and Development Services.</p>
<p>“CARRIED”</p>
<p>Public Meeting under the Planning Act Director, Planning and Development Services Report PLPD17-033 Draft Plan of Subdivision Application 15T-17502 – Trent Research and Innovation Park Part of 3900 Nassau Mills Road</p>
<p>Brad Appleby, Planner, Subdivision Control and Special Projects, spoke to Report PLPD17-033.</p>
<p>Victoria Belbin, 520 Settler’s Ridge, Trent Working Group, spoke in opposition to the application.</p>
<p>Debbie Jenkins, 6 Hague Street, Lakefield, spoke in opposition to the application.</p>
<p>John Cogland, 1490 Champlain Drive, spoke in opposition to the application.</p>
<p>Dr. Neil Emery, Trent University, spoke in support of the application.</p>
<p>Dr. Leo Groarke, Trent University, spoke in support of the application.</p>
<p>Moved by Councillor Haacke</p>
<p>That Council approve the recommendations outlined in Report PLPD17-033 dated July 17, 2017, of the Director, Planning and Development Services, as follows:</p>
<p>a)</p>
<p>That Draft Plan of Subdivision Approval for Plan 15T-17502, Project No. 16- 069, Sheet No. DP-1 dated April 20, 2017 and revised July 12, 2017 by Brook McIlroy Inc., be granted, subject to the Conditions of Draft Plan Approval attached to Report PLPD17-033, as Schedule 1; and,</p>
<br>
<p>Planning Committee Minutes</p>
<br>
<p>July 17, 2017</p>
<p>Page 5</p>
<p>The following amendment to the recommendation was moved as part of the main motion:</p>
<p>b)</p>
<p>That the conditions of Draft Plan of Subdivision Approval for Plan of Subdivision 15T-17502 attached to Report PLPD17-033 as Schedule 1 be amended to add a new Condition No. 31 as follows:</p>
<p>•  31.   That prior to Final Approval, the City shall ensure that no</p>
<p>development will occur within areas of flooding hazard to the satisfaction of the Otonabee Region Conservation Authority.</p>
<p>•  Adjust the number of the rest of the conditions to reflect the addition of a</p>
<p>new Condition No. 31; and,</p>
<p>•  Amend Condition No. 1 to refer to the current draft plan of subdivision as</p>
<p>referenced in the amended Recommendation for Report PLPD17-033.</p>
<p>“CARRIED”</p>
<p>Other Business</p>
<p>There were no items of Other Business</p>
<p>Adjournment</p>
<p>Moved by Mayor Bennett</p>
<p>That this meeting of Planning Committee adjourn at 8:56 p.m.</p>
<p>"CARRIED"</p>
<p>Natalie Garnett Deputy City Clerk</p>
<p>Councillor Parnell Chair</p>
<br></div>