<!doctype html><div><br>
<br>
<p>PLANNING COMMITTEE MINUTES</p>
<br>
<p>CITY OF PETERBOROUGH</p>
<br>
<p>JULY 27, 2009</p>
<br>
<p>DRAFT MINUTES NOT APPROVED</p>
<br>
<br>
<br>
<br>
<br>
<p>MINUTES  OF  A  MEETING  OF  PLANNING  COMMITTEE  HELD  ON</p>
<p>MONDAY, JULY 27, 2009, IN THE COUNCIL CHAMBER, CITY HALL</p>
<br>
<p>Planning Committee was called to order at 6:50 p.m. in the Council Chamber.</p>
<p>Roll Call: Councillor Clarke Councillor Doris Councillor Farquharson, Chair Councillor Pappas Councillor Vass Councillor Eggleton Councillor Peacock Councillor Martin Councillor Hall Councillor Peeters Mayor Ayotte</p>
<p>Confirmation of Minutes</p>
<p>Moved by Councillor Eggleton</p>
<p>That the minutes of the meeting of Planning Committee held on June 22, 2009 be approved.</p>
<p>"CARRIED"</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of interest.</p>
<p>Director of Planning and Development Services Report PLPD09-018B Official Plan Amendment Growth Plan for the Greater Golden Horseshoe</p>
<p>Ken Hetherington, Manager of Planning, provided an introduction to this item under the Planning Act.</p>
<p>Councillor Peeters left the meeting at 8:30 p.m. and returned to the meeting at 8:35 p.m.</p>
<p>Dr. John Hucks of 1555 Champlain Drive spoke to the report.</p>
<p>Councillor Hall left the meeting at 8:50 p.m. and returned to the meeting at 8:52 p.m.</p>
<p>Mike Davenport, Peterborough and Kawarthas, Home Builders Association Inc, 494 The Parkway, Unit 2, spoke to the report and submitted correspondence to the Committee.</p>
<p>Trevor Denton, of 657 Water Street spoke to the report.</p>
<p>John Martyn, of 1219 Bridle Drive spoke to the report.</p>
<br></div>