<!doctype html><div><br>
<br>
<p>PLANNING COMMITTEE MINUTES</p>
<br>
<p>CITY OF PETERBOROUGH</p>
<br>
<p>SEPTEMBER 21, 2009</p>
<br>
<p>DRAFT MINUTES NOT APPROVED</p>
<br>
<br>
<br>
<br>
<br>
<p>MINUTES  OF  A  MEETING  OF  PLANNING  COMMITTEE  HELD  ON</p>
<p>MONDAY,  SEPTEMBER  21,  2009,  IN  THE  COUNCIL  CHAMBER,  CITY</p>
<p>HALL</p>
<br>
<p>Planning Committee was called to order at 6:50 p.m. in the Council Chamber.</p>
<p>Roll Call: Councillor Clarke Councillor Doris Councillor Farquharson, Chair Councillor Pappas Councillor Vass Councillor Eggleton Councillor Peacock Councillor Martin Councillor Hall Councillor Peeters Mayor Ayotte</p>
<p>Confirmation of Minutes</p>
<p>Moved by Councillor Eggleton</p>
<p>That the minutes of the meeting of Planning Committee held on August 31, 2009 be approved.</p>
<p>"CARRIED"</p>
<p>Disclosure of Pecuniary Interest</p>
<p>Councillor Pappas declared an interest, as his parents live within 120 feet from the proposed development.</p>
<br></div>