<!doctype html><div><br>
<br>
<p>PLANNING COMMITTEE MINUTES</p>
<br>
<p>CITY OF PETERBOROUGH</p>
<br>
<p>OCTOBER 13, 2009</p>
<br>
<p>DRAFT MINUTES NOT APPROVED</p>
<br>
<br>
<br>
<br>
<br>
<p>MINUTES  OF  A  MEETING  OF  PLANNING  COMMITTEE  HELD  ON</p>
<p>MONDAY,  OCTOBER  13,  2009,  IN  THE  COUNCIL  CHAMBER,  CITY</p>
<p>HALL</p>
<br>
<p>Planning Committee was called to order at 6:58 p.m. in the Council Chamber.</p>
<p>Roll Call: Councillor Clarke Councillor Doris Councillor Farquharson, Chair Councillor Pappas Councillor Vass Councillor Eggleton Councillor Peacock Councillor Martin Councillor Hall Mayor Ayotte</p>
<p>Absent Councillor Peeters</p>
<p>Confirmation of Minutes</p>
<p>Moved by Councillor Eggleton</p>
<p>That  the  minutes  of  the  meeting  of  Planning  Committee  held  on  September  21, 2009 be approved.</p>
<p>“CARRIED”</p>
<p>Moved by Councillor Clarke</p>
<p>That the minutes of the meeting of Planning Committee held on September 28, 2009 be approved.</p>
<p>"CARRIED"</p>
<br></div>