<!doctype html><div><br>
<br>
<p>PLANNING COMMITTEE MINUTES</p>
<br>
<p>CITY OF PETERBOROUGH</p>
<br>
<p>JULY 26, 2010</p>
<br>
<p>DRAFT MINUTES NOT APPROVED</p>
<br>
<br>
<br>
<br>
<br>
<p>MINUTES  OF  A  MEETING  OF  PLANNING  COMMITTEE  HELD  ON</p>
<p>MONDAY, JULY 26, 2010 IN THE COUNCIL CHAMBERS, CITY HALL</p>
<br>
<p>Planning Committee was called to order at 6:54 p.m. in the Council Chambers.</p>
<p>Roll Call: Councillor Clarke Councillor Doris Councillor Eggleton Councillor Farquharson, Chair Councillor Hall Councillor Martin Councillor Pappas Councillor Peacock Councillor Peeters Councillor Vass Mayor Ayotte</p>
<p>Confirmation of Minutes – June 21, 2010</p>
<p>Moved by Councillor Pappas</p>
<p>That the minutes of the meeting of Planning Committee held on June 21, 2010 be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of interest.</p>
<br></div>