<!doctype html><div><br>
<br>
<p>PLANNING COMMITTEE MINUTES</p>
<br>
<p>CITY OF PETERBOROUGH</p>
<p>AUGUST 30 AND 31, 2010</p>
<br>
<p>DRAFT MINUTES NOT APPROVED</p>
<br>
<br>
<br>
<br>
<br>
<p>MINUTES  OF  A  MEETING  OF  PLANNING  COMMITTEE  HELD  ON</p>
<p>MONDAY,  AUGUST  30  AND  TUESDAY  AUGUST  31,  2010  IN  THE</p>
<p>COUNCIL CHAMBERS, CITY HALL</p>
<br>
<p>Planning Committee was called to order at 7:15 p.m. in the Council Chambers.</p>
<p>Moved by Councillor Pappas</p>
<p>That  Planning  Committee  recess  at  7:16  p.m.  to  reconvene  the  Committee  of Whole meeting.</p>
<p>“CARRIED”</p>
<p>Planning Committee reconvened at 9:09 p.m.</p>
<p>Roll Call: Councillor Clarke Councillor Doris Councillor Eggleton Councillor Farquharson, Chair Councillor Hall Councillor Martin Councillor Peacock Councillor Peeters 9:12 p.m. Councillor Vass Mayor Ayotte</p>
<p>Absent: Councillor Pappas</p>
<br></div>