<!doctype html><div><br>
<br>
<p>Planning Committee Minutes</p>
<br>
<p>City of Peterborough</p>
<br>
<p>May 24, 2011</p>
<br>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of Planning Committee Held on May 24, 2011, in</p>
<p>the Council Chambers, City Hall</p>
<br>
<p>Planning Committee was called to order at 6:30 p.m. in the Council Chambers.</p>
<p>Roll Call: Councillor Beamer Councillor Clarke Councillor Doris Councillor Hall, Chair Councillor Juby Councillor McWilliams Councillor Pappas Councillor Parnell Councillor Riel Councillor Vass Mayor Bennett</p>
<p>Confirmation of Minutes – April 11, 2011</p>
<p>Moved by Councillor Pappas</p>
<p>That the minutes of the meeting of Planning Committee held on April 11, 2011 be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of interest.</p>
<br></div>