<!doctype html><div><br>
<br>
<p>Planning Committee Minutes</p>
<br>
<p>City of Peterborough</p>
<br>
<p>October 11, 2011</p>
<br>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of Planning Committee Held on October 11, 2011</p>
<p>in the Council Chambers, City Hall</p>
<br>
<p>Planning Committee was called to order at 6:45 p.m. in the Council Chambers.</p>
<p>Roll Call: Councillor Beamer Councillor Clarke Councillor Doris Councillor Hall, Chair Councillor Juby, 6:46 p.m. Councillor McWilliams Councillor Pappas Councillor Parnell Councillor Riel Councillor Vass, 6:46 p.m. Mayor Bennett</p>
<br>
<p>Confirmation of Minutes – September 19, 2011</p>
<p>Moved by Councillor Parnell</p>
<p>That  the  minutes  of  the  meeting  of  Planning  Committee  held  on  September  19, 2011 be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of interest.</p>
<p>Consent Agenda</p>
<p>No items were considered under the Consent Agenda.</p>
<br></div>