<!doctype html><div><br>
<br>
<p>Planning Committee Minutes</p>
<br>
<p>City of Peterborough</p>
<br>
<p>February 6, 2012</p>
<br>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of Planning Committee Held on February 6, 2012</p>
<p>in the Council Chambers, City Hall</p>
<br>
<p>Planning Committee was called to order at 6:30 p.m. in the Council Chambers.</p>
<p>Roll Call: Councillor Beamer Councillor Clarke Councillor Juby, Vice-Chair Councillor McWilliams Councillor Pappas Councillor Parnell Councillor Riel Councillor Vass Mayor Bennett</p>
<p>Absent: Councillor Doris Councillor Hall</p>
<p>Confirmation of Minutes – November 21, 2011</p>
<p>Moved by Councillor Clarke</p>
<p>That  the  minutes  of  the  meeting  of  Planning  Committee  held  on  November  21, 2011 be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of interest.</p>
<br></div>