<!doctype html><div><br>
<br>
<p>Planning Committee Minutes</p>
<br>
<p>City of Peterborough</p>
<br>
<p>April 15, 2013</p>
<br>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of Planning Committee Held on April 15, 2013 in</p>
<p>the Council Chambers, City Hall.</p>
<br>
<p>Planning Committee was called to order at 7:19 p.m. in the Council Chambers.</p>
<p>Roll Call: Councillor Beamer Councillor Clarke Councillor Doris Councillor Hall, Chair Councillor McWilliams Councillor Pappas Councillor Parnell Councillor Riel Councillor Vass Mayor Bennett</p>
<p>Regrets: Councillor Juby</p>
<p>Confirmation of Minutes – March 25, 2013</p>
<p>Moved by Councillor Parnell</p>
<p>That the minutes of the meeting of Planning Committee held on March 25, 2013 be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no declarations of Pecuniary Interest.</p>
<p>Mayor Bennett provided comments regarding the renovation of the Council Chambers to mark the inaugural meeting.</p>
<br>
<br>
<br></div>