<!doctype html><div><br>
<br>
<p>Planning Committee Minutes</p>
<br>
<p>City of Peterborough</p>
<br>
<p>October 7, 2013</p>
<br>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of Planning Committee Held on October 7, 2013</p>
<p>in the Council Chambers, City Hall.</p>
<br>
<p>Planning Committee was called to order at 6:49 p.m. in the Council Chambers.</p>
<p>Roll Call: Councillor Beamer Councillor Clarke Councillor Doris Councillor Hall, Chair Councillor Juby Councillor McWilliams Councillor Pappas Councillor Parnell Councillor Riel Councillor Vass Mayor Bennett</p>
<p>Confirmation of Minutes – September 16, 2013</p>
<p>Moved by Councillor Parnell</p>
<p>That  the  minutes  of  the  meeting  of  Planning  Committee  held  on  September  16, 2013 be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Pecuniary Interest.</p>
<br>
<br>
<br></div>