<!doctype html><div><br>
<br>
<p>Planning Committee Minutes</p>
<p>City of Peterborough</p>
<p>February 10, 2014</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of Planning Committee Held on February 10,</p>
<p>2014 in the Council Chambers, City Hall.</p>
<br>
<p>Planning Committee was called to order at 6:50 p.m. in the Council Chambers.</p>
<p>Roll Call: Councillor Beamer Councillor Clarke Councillor Doris Councillor Hall, Chair Councillor Juby Councillor McWilliams Councillor Pappas Councillor Parnell Councillor Riel Councillor Vass Mayor Bennett</p>
<p>Confirmation of Minutes – January 20, 2014</p>
<p>Moved by Mayor Bennett</p>
<p>That the minutes of the meeting of Planning Committee held on January 20, 2014 be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no Disclosures of Pecuniary Interest.</p>
<br>
<br>
<br>
<br>
<p>Planning Committee Minutes</p>
<br>
<p>February 10, 2014</p>
<p>Page 2</p>
<p>Public Meeting Under The Planning Act Manager, Planning Division Report PLPD14-011 933 Webber Avenue</p>
<p>Caroline Kimble, Land Use Planner, provided an overview of Report PLPD14-011.</p>
<p>No one spoke in opposition to, or in favour of the application.</p>
<p>Ken Trevelyan, agent for the applicant, spoke to the application.</p>
<p>Moved by Mayor Bennett</p>
<p>That Council approve the recommendations outlined in Report PLPD14-011 dated February 10, 2014, of the Manager, Planning Division, as follows:</p>
<p>a)</p>
<p>That the SP.7 zoning of the subject property be amended to permit a clinic as a permitted use, in accordance with the draft amendment attached as Exhibit ‘D’ to Report PLPD14-011.</p>
<p>That the ‘H’ Holding Symbol be removed subject to Site Plan Approval.</p>
<p>b)</p>
<p>“CARRIED”</p>
<p>Public Meeting Under The Planning Act Manager, Planning Division Report PLPD14-010 Temporary Use Zoning By-law Amendment Z1323 2064086 Ontario Limited (Mason Homes) 0 Chemong Road</p>
<p>A presentation on Report PLPD14-010 was provided by Brad Appleby, Planner, Subdivision Control and Special Projects.</p>
<p>No one spoke in opposition to, or in support of Report PLPD14-010.</p>
<p>Mike Bell, Mason Homes, agent for the applicant, spoke to the application.</p>
<p>Councillor Juby left the meeting at 7:40 pm and returned at 7:44 pm.</p>
<br>
<br>
<p>Planning Committee Minutes</p>
<br>
<p>February 10, 2014</p>
<p>Page 3</p>
<p>Moved by Councillor Doris</p>
<p>That Council approve the recommendation outlined in Report PLPD14-010 dated February 10, 2014, of the Manager, Planning Division as follows:</p>
<p>That a Temporary Use Zoning By-law be approved pursuant to Section 39 of the Planning Act to permit a portion of the property municipally known as 0 Chemong Road to be developed with a new-home sales office and up to seven (7) model homes without municipal services for a period of up to three (3) years in accordance with Exhibit E of Report PLPD14-010.</p>
<p>“CARRIED”</p>
<p>Manager, Planning Division Report PLPD14-012 Urban Park At Louis Street Conceptual Design</p>
<p>Brian Buchardt, Planner, Urban Design, provided a presentation on Report PLPD14-012, Urban Park at Louis Street.</p>
<p>Moved by Councillor Juby</p>
<p>That Council approve the recommendations outlined in Report PLPD14-012 dated February 10, 2014, of the Manager, Planning Division, as follows:</p>
<p>a)</p>
<p>That the staff presentation and the final report for the Downtown Urban Park Urban Design Study, dated January 2014 be received,</p>
<p>That the conceptual design for Option A of the Urban Park be approved as depicted in the Downtown Urban Park Urban Design Study, dated January, 2014, submitted by EDA Collaborative Inc., and</p>
<p>That staff be authorized to commence the integrated detailed design of Charlotte Street Renewal Project and the Urban Park at Louis Street.</p>
<p>b)</p>
<p>c)</p>
<p>“CARRIED”</p>
<br>
<br>
<p>Planning Committee Minutes</p>
<br>
<p>February 10, 2014</p>
<p>Page 4</p>
<p>Other Business</p>
<p>There were no items of Other Business.</p>
<p>Adjournment</p>
<p>Moved by Mayor Bennett</p>
<p>That this meeting of Planning Committee adjourn at 9:12 p.m.</p>
<p>"CARRIED"</p>
<br>
<p>Natalie Garnett Deputy City Clerk</p>
<p>Councillor Hall Chair</p>
<br></div>