<!doctype html><div><p>PLANNING COMMITTEE MINUTES</p>
<br>
<p>CITY OF PETERBOROUGH</p>
<br>
<p>JULY 28, 2008</p>
<br>
<p>DRAFT MINUTES NOT APPROVED</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>MINUTES  OF  A  MEETING  OF  PLANNING  COMMITTEE  HELD  ON</p>
<p>MONDAY, JULY 28, 2008 IN THE GENERAL COMMITTEE ROOM, CITY</p>
<p>HALL</p>
<br>
<p>Planning Committee was called to order at 6:55 p.m. in the General Committee Room.</p>
<p>Roll Call:</p>
<p>Councillor Clarke Councillor Doris Councillor Eggleton Councillor Farquharson, Chair Councillor Hall Councillor Martin Councillor Pappas Councillor Peeters, 7:04 p.m. Councillor Peacock Mayor Ayotte</p>
<p>Absent Councillor Vass</p>
<p>Minutes – June 23, 2008</p>
<p>Moved by Mayor Ayotte</p>
<p>That the Minutes of the meeting of Planning Committee held on June 23, 2008 be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of interest.</p>
<p>Consent Agenda</p>
<p>Moved by Councillor Doris</p>
<p>That items 4, 5 and 6 be received as part of the consent agenda.</p>
<p>"CARRIED"</p>
<br></div>