<!doctype html><div><br>
<br>
<p>Planning Committee Minutes</p>
<p>City of Peterborough</p>
<p>April 14, 2014</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of Planning Committee Held on April 14, 2014 in</p>
<p>the Council Chambers, City Hall.</p>
<br>
<p>Planning Committee was called to order at 6:35 p.m. in the Council Chambers.</p>
<p>Roll Call: Councillor Beamer Councillor Clarke Councillor Doris Councillor Hall, Chair Councillor Juby Councillor McWilliams Councillor Pappas Councillor Parnell Councillor Riel Councillor Vass Mayor Bennett</p>
<p>Confirmation of Minutes – March 24, 2014</p>
<p>Moved by Mayor Bennett</p>
<p>That the minutes of the meeting of Planning Committee held on March 24, 2014 be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>Councillor Pappas declared an interest in Item 3, Report PLPD14-020, 1545 Monaghan Road as his parents live near the subject property.</p>
<p>Councillor Beamer declared an Interest in Item Number 4, Report PLPD14-022, Lily Lake Secondary Plan as his relatives live on Lily Lake Road.</p>
<br>
<br>
<br>
<br>
<p>Planning Committee Minutes</p>
<br>
<p>April 14, 2014</p>
<p>Page 2</p>
<p>Consent Agenda</p>
<p>Moved by Councillor Parnell</p>
<p>That item 5 be passed as part of the Consent Agenda.</p>
<p>“CARRIED”</p>
<p>Manager, Planning Division Report PLPD14-024 By-law to Remove an ‘H’ – Holding Symbol from the Zoning By-law for 793 Spillsbury Drive</p>
<p>Moved by Councillor Parnell</p>
<p>That Council approve the recommendation outlined in Report PLPD14-024 dated April 14, 2014, of the Manager, Planning Division, as follows:</p>
<p>That the property municipally known as 793 Spillsbury Drive and more particularly described as Part 3, 45R-11465 be rezoned from R.1-’H’ to R.1 in accordance with Exhibit A attached to Report PLPD14-024.</p>
<p>“CARRIED”</p>
<p>Public Meeting Under The Planning Act Manager, Planning Division Report PLPD14-020 1545 Monaghan Road</p>
<p>Caroline Kimble, Land Use Planner, provided an overview of Report PLPD14-020.</p>
<p>No one spoke in opposition to, or in favour of the application.</p>
<p>Kevin Duguay, 560 Romaine Street, agent for the applicant, spoke to the application.</p>
<p>Councillor Pappas, due to his previously declared interest did not discuss or vote on the matter.</p>
<br>
<br>
<p>Planning Committee Minutes</p>
<br>
<p>April 14, 2014</p>
<p>Page 3</p>
<p>Moved by Councillor Clarke</p>
<p>That Council approve the recommendations outlined in Report PLPD14-020 dated April 14, 2014, of the Manager, Planning Division, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>That Section 4.2.4 of the Official Plan be amended to add provisions for the lands known as 1545 Monaghan Road to permit a limited range of non- residential uses such as a place of assembly, day nursery, school, adult training centre and small scale office and clinic uses, in addition to residential uses, in accordance with the draft amendment attached as Exhibit “C” to Report PLPD14-020.</p>
<p>That Section 376 – Special District 346, being the zoning for the lands known as 1545 Monaghan Road, be amended in accordance with the draft amendment attached as Exhibit “D” to Report PLPD14-020.</p>
<p>That the ‘H’ – Holding Symbol be removed from the property subject to the following:</p>
<p>i)</p>
<p>ii)</p>
<p>iii)</p>
<p>iv)</p>
<p>Site Plan Approval being granted for the subject property, including a clause that requires the proponent to prepare a servicing report, to the satisfaction of the City’s Utility Services Department, for development of the subject lands, in excess of 150 residential units or the hydraulic equivalent;</p>
<p>Any necessary sanitary sewer upgrade to accommodate development of the subject lands beyond 150 residential units or the hydraulic equivalent, to be addressed to the satisfaction of the City;</p>
<p>Payment of applicable cash in lieu of parkland; and</p>
<p>Confirmation that a Heritage Conservation Agreement between the owner and the City of Peterborough has been registered on title.</p>
<p>“CARRIED”</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Planning Committee Minutes</p>
<br>
<p>April 14, 2014</p>
<p>Page 4</p>
<p>Public Meeting Under The Planning Act Manager, Planning Division Report PLPD14-022 Lily Lake Secondary Plan</p>
<p>Brad Appleby, Planner, Subdivision Control and Special Projects, provided an overview of Report PLPD14-022.</p>
<p>Councillor Juby left the meeting at 7:59 p.m. and returned at 8:03 p.m.</p>
<p>The following individuals spoke in opposition to the application:</p>
<p>Charlie Werger, 168 Douro Street</p>
<p>Peter Hewett, 576 Rogers Street</p>
<p>Barry Parsons, 2 Parkview Drive</p>
<p>Dr. Leslie Grightmire, 7 Parkview Drive</p>
<p>Robert Steinman, Friends of Jackson Park, 739 Weller Street</p>
<p>Julian Tennent-Riddell, 495 Gilmour Street</p>
<p>Caroline Tennent, 495 Gilmour Street</p>
<p>Karen Hjort-Jensen, 576 Rogers Street</p>
<p>Calvin Beauchesne, 850 George Street</p>
<p>Moved by Councillor Pappas</p>
<p>That the Rules of Procedure (Article 16.15.2) be suspended to allow the meeting to continue past the hour of 10:00 p.m. to complete the agenda.</p>
<p>“CARRIED”</p>
<p>Larry Stinson, 789 Lily Lake Road</p>
<p>Ian Attridge, 575 Gilchrist Street</p>
<br>
<p>Planning Committee Minutes</p>
<br>
<p>April 14, 2014</p>
<p>Page 5</p>
<p>Dennis Carter-Edwards, 436 Settlers Ridge, Arts Culture and Heritage Advisory Committee</p>
<p>Dr. Thomas Miller, 380 Belmont Avenue</p>
<p>Nancy Jackson, 527 Rose Avenue</p>
<p>The Chair recessed the meeting at 10:38 p.m..</p>
<p>Planning Committee reconvened at 10:44 p.m.</p>
<p>Chiffon Burke, 483 Donegal Street</p>
<p>The following individuals spoke in support of the application:</p>
<p>Darren Vella, 150 Dunlop Street East, representing Tower Hill Developments</p>
<p>Peter Lawless, 333 Aylmer Street, representing Peterborough Homes</p>
<p>Councillor Beamer, due to his previously declared interest did not discuss or vote on the matter.</p>
<p>Moved by Mayor Bennett</p>
<p>That Council approve the recommendations outlined in Report PLPD14-022 dated April 14, 2014, of the Manager, Planning Division, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>That the Official Plan be amended to adopt Schedule ‘R’ – Lily Lake Secondary Plan and Section 10.9 – Lily Lake Secondary Plan in accordance with Exhibit C of Planning Report PLPD14-022.</p>
<p>That Schedules “A” – Land Use, “A1” – City Structure, “B” – Roadway Network, “B(a) – Bikeway Network, “C” – Natural Areas and Flood Plains, “D” – Development Areas, “E” – Residential Density, and “F” – Key Map to Secondary Land Use Plans of the Official Plan and Section 7 – Sequence of Development and Servicing Policy, Table 1 – Residential Development by Secondary Land Use Plan Areas and Table 2 – Road Allowance Widths of the Official Plan be amended in accordance with Exhibit C of Planning Report PLPD14-022 in order to reflect the land use planning objectives of the Lily Lake Secondary Plan.</p>
<p>“CARRIED”</p>
<br>
<p>Planning Committee Minutes</p>
<br>
<p>April 14, 2014</p>
<p>Page 6</p>
<p>Other Business</p>
<p>There were no items of Other Business.</p>
<p>Adjournment</p>
<p>Moved by Mayor Bennett</p>
<p>That this meeting of Planning Committee adjourn at 12:00 a.m.</p>
<p>"CARRIED"</p>
<br>
<p>John Kennedy City Clerk</p>
<p>Councillor Hall Chair</p>
<br></div>