<!doctype html><div><br>
<br>
<p>PLANNING COMMITTEE MINUTES</p>
<br>
<p>CITY OF PETERBOROUGH</p>
<br>
<p>JANUARY 26, 2009</p>
<br>
<p>DRAFT MINUTES NOT APPROVED</p>
<br>
<br>
<br>
<br>
<br>
<p>MINUTES  OF  A  MEETING  OF  PLANNING  COMMITTEE  HELD  ON</p>
<p>MONDAY, JANUARY 26, 2009 IN THE GENERAL COMMITTEE ROOM,</p>
<p>CITY HALL</p>
<br>
<p>Planning Committee was called to order at 6:48 p.m. in the General Committee Room.</p>
<p>Roll Call: Councillor Clarke Councillor Doris Councillor Eggleton Councillor Farquharson, Chair Councillor Hall Councillor Martin Councillor Pappas Councillor Peacock Councillor Peeters Councillor Vass</p>
<p>Absent: Mayor Ayotte</p>
<p>Moved by Councillor Peeters</p>
<p>That Planning Committee recess at 6:50 p.m.</p>
<p>"CARRIED"</p>
<p>Planning Committee resumed at 7:20 p.m.</p>
<p>Minutes</p>
<p>Moved by Councillor Peacock</p>
<p>That the Minutes of the meeting of Planning Committee held on December 1, 2008 be approved.</p>
<p>“CARRIED”</p>
<br></div>