<!doctype html><div><br>
<br>
<p>Planning Committee Minutes</p>
<p>City of Peterborough</p>
<p>March 2, 2015</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of Planning Committee held on March 2, 2015 in</p>
<p>the Council Chambers, City Hall.</p>
<br>
<p>Planning Committee was called to order at 6:30 p.m. in the Council Chambers.</p>
<p>Roll Call: Councillor Baldwin Councillor Beamer Councillor Clarke Councillor McWilliams Councillor Pappas Councillor Parnell, Chair Councillor Riel Councillor Therrien Councillor Vassiliadis Mayor Bennett</p>
<p>Regrets: Councillor Haacke</p>
<p>Confirmation of Minutes – February 9, 2015</p>
<p>Moved by Mayor Bennett</p>
<p>That the minutes of the meeting of Planning Committee held on February 9, 2015 be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of pecuniary interest.</p>
<br>
<br>
<br>
<p>Planning Committee Minutes</p>
<br>
<p>March 2, 2015</p>
<p>Page 2</p>
<p>Public Meeting Under The Planning Act Manager, Planning Division Report PLPD15-012 1097 Water Street</p>
<p>Caroline Kimble, Planner, Land Use provided an overview of Report PLPD15-012.</p>
<p>No one spoke in opposition to, or in support of, the application.</p>
<p>Kevin Duguay, 560 Romaine Street, agent for the applicant, spoke to the application.</p>
<p>Moved by Councillor Pappas</p>
<p>That Council approve the recommendation outlined in Report PLPD15-012 dated March 2, 2015, of the Manager, Planning Division, as follows:</p>
<p>That the SP.286 zoning of the subject property be amended to add a custom cabinet showroom and design studio as a permitted use and to permit an office with a maximum floor area of 250m2, in accordance with the draft amendment attached as Exhibit ‘C’ to Report PLPD15-012.</p>
<p>“CARRIED”</p>
<p>Manager, Planning Division Report PLPD15-015 Design of City Gateway Signs</p>
<p>Brian Buchardt, Planner, Urban Design provided a presentation on Report PLPD15-015.</p>
<p>Moved by Councillor Pappas</p>
<p>That Council approve the recommendation outlined in Report PLPD15-015 dated March 2, 2015, of the Manager, Planning Division, as follows:</p>
<p>That the conceptual designs of City Gateway Signs and landscaping as shown in Exhibit “B” attached to Report PLPD15-015 be approved and that staff be authorized to proceed with the detailed design and tendering for their construction, and</p>
<p>That staff provide an update to Council with detailed design information.</p>
<p>“CARRIED”</p>
<br>
<p>Planning Committee Minutes</p>
<br>
<p>March 2, 2015</p>
<p>Page 3</p>
<br>
<p>Other Business</p>
<p>There were no items of Other Business.</p>
<p>Adjournment</p>
<p>Moved by Mayor Bennett</p>
<p>That this meeting of Planning Committee adjourn at 8:27 p.m.</p>
<p>"CARRIED"</p>
<p>Natalie Garnett Deputy City Clerk</p>
<p>Councillor Parnell Chair</p>
<br></div>