<!doctype html><div><br>
<br>
<p>Planning Committee Minutes</p>
<p>City of Peterborough</p>
<p>April 13, 2015</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of Planning Committee held on April 13, 2015 in</p>
<p>the Council Chambers, City Hall.</p>
<br>
<p>Planning Committee was called to order at 6:30 p.m. in the Council Chambers.</p>
<p>Roll Call: Councillor Baldwin Councillor Beamer Councillor Clarke Councillor Haacke Councillor McWilliams Councillor Pappas Councillor Parnell, Chair Councillor Riel Councillor Therrien Councillor Vassiliadis Mayor Bennett</p>
<p>Confirmation of Minutes – March 23, 2015</p>
<p>Moved by Mayor Bennett</p>
<p>That the minutes of the meeting of Planning Committee held on March 23, 2015 be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of pecuniary interest.</p>
<br>
<br>
<br>
<p>Planning Committee Minutes</p>
<br>
<p>April 13, 2015</p>
<p>Page 2</p>
<p>Public Meeting Under the Planning Act Manager, Planning Division Report PLPD15-021 139 Douro Street</p>
<p>Caroline Kimble, Planner, Land Use provided an overview of Report PLPD15-021.</p>
<p>The following spoke in opposition to the application:</p>
<p>Stewart Lee, 146 Douro Street Robin Rivison, 482 Mark Street Nonnie Parkinson, 134 Douro Street Mark Belanger, 115 Douro Street Ivy Daily, Goodfellow Road Peter Gorman, 138 Douro Street Peter Enns, 134 Douro Street Peter Lawless, representing Scott and Alana Wood, 498 Mark Street</p>
<p>No one spoke in support of the application.</p>
<p>Kevin Duguay, 560 Romaine Street, agent for the applicant, Rob Smith, spoke to the application.</p>
<p>Moved by Councillor Beamer</p>
<p>That Council approve the recommendations outlined in Report PLPD15-021 dated April 13, 2015, of the Manager, Planning Division, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>That Zoning By-law 1997-123 be amended by adding Section 387, SP.357 in accordance with Exhibit ‘D’ attached to Report PLPD15-021.</p>
<p>That the zoning of 139 Douro Street be amended from the PS.2 – Public Service District to the SP.357 ‘H’ – Special Residential District in accordance with the draft amendment attached as Exhibit ‘D’ to Report PLPD15-021.</p>
<p>c)</p>
<p>That the ‘H’ – Holding Symbol be removed from the property subject to Site Plan Approval being granted for the subject property.</p>
<p>“CARRIED”</p>
<p>Mayor Bennett left the meeting at 8:54 p.m.</p>
<br>
<p>Planning Committee Minutes</p>
<br>
<p>April 13, 2015</p>
<p>Page 3</p>
<p>Councillor Beamer left the meeting at 8:54 p.m. and returned at 8:56 p.m.</p>
<p>Director of Utility Services Report USTR15-008 Active Transportation and Health Indicators Presentation</p>
<p>Moved by Councillor Vassiliadis</p>
<p>That Council approve the recommendation outlined in Report USTR15-008 dated April 13, 2015, of the Director of Utility Services, as follows:</p>
<p>That the presentation given by Susan Sauve, Brianna Salmon and Janet Dawson on Active Transportation and Health Indicators be received for information.</p>
<p>“CARRIED”</p>
<p>Other Business</p>
<p>There were no items of Other Business.</p>
<p>Adjournment</p>
<p>Moved by Councillor Beamer</p>
<p>That this meeting of Planning Committee adjourn at 9:18 p.m.</p>
<p>"CARRIED"</p>
<p>John Kennedy City Clerk</p>
<p>Councillor Parnell Chair</p>
<br></div>