<!doctype html><div><br>
<br>
<p>Planning Committee Minutes</p>
<p>City of Peterborough</p>
<p>May 25, 2015</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of Planning Committee held on May 25, 2015 in</p>
<p>the Council Chambers, City Hall.</p>
<br>
<p>Planning Committee was called to order at 6:30 p.m. in the Council Chambers.</p>
<p>Roll Call: Councillor Baldwin Councillor Beamer Councillor Clarke Councillor Haacke Councillor McWilliams Councillor Pappas Councillor Parnell, Chair Councillor Riel Councillor Therrien Councillor Vassiliadis Mayor Bennett</p>
<p>Confirmation of Minutes – April 13, 2015</p>
<p>Moved by Councillor Clarke</p>
<p>That the minutes of the meeting of Planning Committee held on April 13, 2015 be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of pecuniary interest.</p>
<br>
<br>
<br>
<p>Planning Committee Minutes</p>
<br>
<p>May 25, 2015</p>
<p>Page 2</p>
<p>Consent Agenda</p>
<p>Moved by Councillor Beamer</p>
<p>That item 4 be approved as part of the Consent Agenda.</p>
<p>“CARRIED”</p>
<p>Manager, Planning Division Report PLPD15-028 Bill 73 – An Act to amend the Development Charges Act, 1997 and the Planning Act</p>
<p>Moved by Councillor Beamer</p>
<p>That Council approve the recommendations outlined in Report PLPD15-028, dated May 25, 2015, of the Manager, Planning Division, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>That Report PLPD15-028 be received for information.</p>
<p>That the Planning Committee authorize Planning & Development Services staff to forward a letter summarizing the City of Peterborough’s comments on Bill 73 – An Act to amend the Development Charges Act, 1997 and the Planning Act, as described in Report PLPD15-028, to the Ministry of Municipal Affairs and Housing prior to June 3, 2015.</p>
<p>“CARRIED”</p>
<p>Public Meeting Under the Planning Act Manager, Planning Division Report PLPD15-030 Batten-White Subdivision Draft Plan of Subdivision Application 15T-14501 Official Plan Amendment 01403 Zoning By-law Amendment Z1410sb LTM Land Corp., William and Roger White 1225, 1261 and 1289 Parkhill Road West</p>
<p>Brad Appleby, Planner, Subdivision Control, provided an overview of Report PLPD15- 030.</p>
<br>
<p>Planning Committee Minutes</p>
<br>
<p>May 25, 2015</p>
<p>Page 3</p>
<p>The following spoke in opposition to the application: Garth Wedlock, 13 Amy’s Court Paul Frost, 1419 Ireland Drive Martin Parker, 1494 Westbrook Drive, representing the Peterborough Field Naturalists Enzo Scarsella, 1181 Parkhill Road West Blair Nixon, 1383 Ireland Drive Peter Hewitt, 288 Juliet Road Don MacPherson, 1810 Brealey Drive</p>
<p>The following spoke in support of the application: Murray Davenport, applicant Chris Ellingwood, Niblett Environmental Associates, consultant for the applicant</p>
<p>Councillor Haacke left the meeting at 9:12 p.m. and returned at 9:15 p.m.</p>
<p>Moved by Councillor Vassiliadis</p>
<p>That Council approve the recommendations outlined in Report PLPD15-030 dated May 25, 2015, of the Manager, Planning Division, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>That the Official Plan Amendment application No. 01403 be denied.</p>
<p>That Zoning By-law Amendment application Z1410sb be denied.</p>
<p>That Draft Plan of Subdivision application 15T-14501 be denied.</p>
<p>“CARRIED”</p>
<p>This application was denied as the proposed Draft Plan of Subdivision:</p>
<p>•  Conflicts with the Provincial Policy Statement, 2014 •  Conflicts with the Growth Plan for the Greater Golden Horseshoe •  Conflicts with the Growth Management policies of the Official Plan due to a lack</p>
<p>of diversity in housing mix, density and affordability, and street connectivity to adjacent properties</p>
<p>•  Does not fully protect greenspace as envisioned in the Jackson Creek Secondary</p>
<p>•  Does not implement the vision for Designated Greenfield Areas (section 2.4.7.2)</p>
<p>Plan</p>
<p>of the Official Plan</p>
<br>
<p>Planning Committee Minutes</p>
<br>
<p>May 25, 2015</p>
<p>Page 4</p>
<p>Manager, Planning Division Report PLPD15-029 Coordinated Review of Provincial Plans, 2015</p>
<p>Councillor Pappas left at 9:32 p.m. and returned at 9:43 p.m.</p>
<p>Moved by Mayor Bennett</p>
<p>That Council approve the recommendations outlined in Report PLPD15-029 dated May 25, 2015, of the Manager, Planning Division, as follows:</p>
<p>a)</p>
<p>That Report PLPD15-029 be received for information.</p>
<p>b)</p>
<p>That Planning & Development Services staff be authorized to forward a letter summarizing the City of Peterborough’s comments on the Growth Plan for the Greater Golden Horseshoe, as described in Report PLPD15- 029, to the Ministry of Municipal Affairs and Housing for consideration as part of Phase 1 of the Coordinated Provincial Plans Review.</p>
<p>“CARRIED”</p>
<p>Other Business</p>
<p>There were no items of Other Business.</p>
<p>Adjournment</p>
<p>Moved by Councillor Beamer</p>
<p>That this meeting of Planning Committee adjourn at 9:43 p.m.</p>
<p>"CARRIED"</p>
<p>Natalie Garnett Deputy City Clerk</p>
<p>Councillor Parnell Chair</p>
<br></div>