<!doctype html><div><p>Waste Management Committee</p>
<br>
<p>Minutes</p>
<br>
<p>City of Peterborough</p>
<p>September 21, 2015</p>
<br>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of the Waste Management Committee held on</p>
<p>September 21, 2015, in the Doris Room</p>
<br>
<p>The meeting of the Waste Management Committee was called to order at 2:02 p.m. by Councillor Nelson in the Doris Room, City Hall.</p>
<p>Present: Councillor Senis, County of Peterborough Councillor Nelson, County of Peterborough, Chair Councillor Baldwin, City of Peterborough Councillor Pappas, City of Peterborough Councillor Vassiliadis, City of Peterborough</p>
<p>Regrets: Councillor Bonneau, County of Peterborough</p>
<p>Staff: Chris Bradley, Director of Public Works, County of Peterborough Tara Stephen, Manager of Environmental Services, County of Peterborough Wayne Jackson, Director of Utility Services, City of Peterborough Don Briand, Waste Operations Coordinator, City of Peterborough Virginia Swinson, Waste Diversion Section Manager, City of Peterborough Kendra Sedgwick, Committee Coordinator, City of Peterborough</p>
<p>Minutes – June 22, 2015</p>
<p>Moved by Councillor Pappas</p>
<p>That the minutes of the Waste Management Committee meeting held on June 22 2015, be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Pecuniary Interest.</p>
<p>Waste Management Committee Meeting of September 21, 2015</p>
<p>Page 2</p>
<br>
<p>Consent Agenda</p>
<p>No items were approved as part of the Consent Agenda.</p>
<p>Director of Utility Services, City of Peterborough Report WMC15-011 Increase in Tipping Fee for Drywall – Update Report</p>
<p>Moved by Councillor Baldwin</p>
<p>That the Waste Management Committee approve the recommendations as outlined in Report WMC15-011 dated September 21, 2015, of the Director of Utility Services as follows:</p>
<p>That the tipping fee for drywall received at the Peterborough County/City Waste Management Facility be increased from $45/tonne to $90/tonne effective January 1, 2016; and</p>
<p>That staff be requested to take whatever actions are necessary to implement Recommendation A.</p>
<p>“CARRIED”</p>
<p>Director of Utility Services, City of Peterborough Report WMC15-012 Increase in Tipping Fee for Contaminated Soil – Update Report</p>
<p>Moved by Councillor Baldwin</p>
<p>That the Waste Management Committee approve the recommendations as outlined in Report WMC15-012 dated September 21, 2015, of the Director of Utility Services as follows:</p>
<p>That the tipping fee for contaminated soil received at the Peterborough County/City Waste Management Facility be increased from $20/tonne to $40/tonne effective January 1, 2016; and</p>
<p>That staff be requested to take whatever actions are necessary to implement Recommendation A.</p>
<p>a)</p>
<p>b)</p>
<p>a)</p>
<p>b)</p>
<p>“CARRIED”</p>
<p>Waste Management Committee Meeting of September 21, 2015</p>
<p>Page 3</p>
<br>
<p>Director of Utility Services, City of Peterborough Report WMC15-013 2016 Draft Budget - Update</p>
<p>Moved by Councillor Senis</p>
<p>That the Waste Management Committee approve the recommendation as outlined in Report WMC15-013 dated September 21, 2015, of the Director of Utility Services as follows:</p>
<p>That the draft 2016 Budget for the Peterborough County/City Waste Management Facility as detailed in Report WMC15-013 dated September 21, 2015 be accepted and recommended for adoption as part of the City of Peterborough budgeting process.</p>
<p>“CARRIED”</p>
<p>Director of Utility Services, City of Peterborough Report WMC15-014 Peterborough County/City Waste Management Facility - Construction Activities Update</p>
<p>Moved by Councillor Pappas</p>
<p>That the Waste Management Committee approve the recommendation as outlined in Report WMC15-014 dated September 21, 2015, of the Director of Utility Services as follows:</p>
<p>That Report WMC15-014 updating the activities related to construction at the County/City Waste Management Facility be received for information.</p>
<p>“CARRIED”</p>
<p>Other Business</p>
<p>Councillor Senis thanked Chris Bradley, Don Briand and Tara Stephen for the excellent tour of the Waste Management Facility.</p>
<br>
<p>Waste Management Committee Meeting of September 21, 2015</p>
<p>Page 4</p>
<br>
<p>Next Meeting</p>
<p>The Chair indicated that the next meeting of the Committee is scheduled for November 16, 2015.</p>
<p>Adjournment</p>
<p>Moved by Councillor Baldwin</p>
<p>That this meeting of Waste Management Committee adjourn at 2:29 p.m.</p>
<p>“CARRIED”</p>
<p>Kendra Sedgwick Committee Coordinator</p>
<p>Councillor Nelson Chair</p>
<br></div>