<!doctype html><div><p>Waste Management Committee</p>
<br>
<p>Minutes</p>
<br>
<p>City of Peterborough</p>
<br>
<p>March 14, 2016</p>
<br>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of the Waste Management Committee held on</p>
<p>March 14, 2016, in the Doris Room, City Hall</p>
<br>
<p>The meeting of the Waste Management Committee was called to order at 2:04 p.m. in the Doris Room, City Hall.</p>
<p>Present: Councillor Nelson, County of Peterborough Councillor Senis, County of Peterborough Councillor Bonneau, County of Peterborough Councillor Pappas, City of Peterborough, Chair Councillor Baldwin, City of Peterborough</p>
<p>Regrets: Councillor Vassiliadis, City of Peterborough</p>
<p>Staff: Tara Stephen, Manager, Waste Management, County of Peterborough Wayne Jackson, Director of Utility Services, City of Peterborough Virginia Swinson, Waste Diversion Section Manager, City of Peterborough Don Briand, Waste Management Site Operator, Landfill, City of Peterborough Kendra Sedgwick, Committee Coordinator, City of Peterborough</p>
<p>Minutes – January 25, 2016</p>
<p>Moved by Councillor Bonneau</p>
<p>That the minutes of the Waste Management Committee meeting held on January 25, 2016, be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Pecuniary Interest.</p>
<br>
<p>Waste Management Committee</p>
<p>Meeting of March 14, 2016</p>
<p>Page 2</p>
<br>
<p>Consent Agenda</p>
<p>No items were passed as part of the Consent Agenda.</p>
<p>Manager, Waste Management, County of Peterborough City Waste Division Section Manager, City of Peterborough Report WMC16-005 Alternative Options for Management of Polystyrene and Durable Plastics</p>
<p>Moved by Councillor Bonneau</p>
<p>That the Waste Management Committee approve the recommendation as outlined in Report WMC16-005 dated March 14, 2016, of the Manager, Waste Management and City Waste Division Section Manager as follows:</p>
<p>That Report WMC16-005 providing alternative options for the management of Polystyrene and durable plastics be received for information.</p>
<p>“CARRIED”</p>
<p>Other Business</p>
<p>The Committee discussed Bill 131 and the potential effects it may have on the City/County.</p>
<p>Councillor Baldwin commended staff for the good job they do at the Waste Management Facility.</p>
<p>Next Meeting</p>
<p>The Chair indicated that the next meeting of the Committee is scheduled for May 9, 2016.</p>
<p>Waste Management Committee</p>
<p>Meeting of March 14, 2016</p>
<p>Page 3</p>
<br>
<p>Adjournment</p>
<p>Moved by Councillor Baldwin</p>
<p>That this meeting of Waste Management Committee adjourn at 2:20 p.m.</p>
<p>“CARRIED”</p>
<p>Kendra Sedgwick Committee Coordinator</p>
<p>Councillor Pappas Chair</p>
<br></div>