<!doctype html><div><p>Waste Management Committee</p>
<br>
<p>Minutes</p>
<br>
<p>City of Peterborough</p>
<br>
<p>June 20, 2016</p>
<br>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of the Waste Management Committee held on</p>
<p>June 20, 2016, in the Doris Room, City Hall</p>
<br>
<p>The meeting of the Waste Management Committee was called to order at 2:01 p.m. in the Doris Room, City Hall.</p>
<p>Present: Councillor Senis, County of Peterborough Councillor Bonneau, County of Peterborough Councillor Pappas, City of Peterborough, Chair Councillor Baldwin, City of Peterborough</p>
<p>Regrets: Councillor Nelson, County of Peterborough Councillor Vassiliadis, City of Peterborough</p>
<p>Staff: Chris Bradley, Director of Public Works, County of Peterborough Tara Stephen, Manager of Environmental Services, County of Peterborough Wayne Jackson, Director of Utility Services, City of Peterborough Virginia Swinson, Waste Diversion Section Manager, City of Peterborough Don Briand, Waste Management Site Operator, Landfill, City of Peterborough Kendra Sedgwick, Committee Coordinator, City of Peterborough</p>
<p>Minutes – May 9, 2016</p>
<p>Moved by Councillor Baldwin</p>
<p>That the minutes of the Waste Management Committee meeting held on May 9, 2016, be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Pecuniary Interest.</p>
<p>Waste Management Committee</p>
<p>Meeting of June 20, 2016</p>
<p>Page 2</p>
<br>
<p>Consent Agenda</p>
<p>Moved by Councillor Senis</p>
<p>That item 5 be approved as part of the Consent Agenda.</p>
<p>“CARRIED”</p>
<p>Director of Utility Services, City of Peterborough Report WMC16-010 Update on Construction Activities at the Peterborough County/City Waste Management Facility</p>
<p>Moved by Councillor Senis</p>
<p>That the Waste Management Committee endorse the recommendation as outlined in Report WMC16-010 dated June 20, 2016, of the Director of Utility Services as follows:</p>
<p>That the update on the construction work undertaken at the Peterborough County/City Waste Management Facility as described in Report WMC16-010 dated June 20, 2016 from the Director of Utility Services be received for information.</p>
<p>“CARRIED”</p>
<br>
<p>Waste Management Committee</p>
<p>Meeting of June 20, 2016</p>
<p>Page 3</p>
<br>
<p>Director of Utility Services, City of Peterborough Report WMC16-011 Presentation from G52</p>
<p>Mark Holmes of G52, provided a presentation to Report WMC16-011.</p>
<p>Moved by Councillor Baldwin</p>
<p>That the Waste Management Committee endorse the recommendation as outlined in Report WMC16-011 dated June 20, 2016, of the Director of Utility Services as follows:</p>
<p>a)</p>
<p>That the presentation from Mr. Mark Holmes of G52 be received for information, and</p>
<p>b)</p>
<p>That staff be requested to investigate the concept of using vermaculture as a method to eliminate organics from the landfill.</p>
<p>“CARRIED”</p>
<p>Director of Utility Services, City of Peterborough Report WMC16-009 First Draft of the 2017 Budget for the Peterborough County/City Waste Management Facility</p>
<p>Moved by Councillor Senis</p>
<p>That the Waste Management Committee endorse the recommendations as outlined in Report WMC16-009 dated June 20, 2016, of the Director of Utility Services as follows:</p>
<p>a)</p>
<p>That Report WMC16-009 dated June 20, 2016 providing information on the first Draft of the Peterborough County/City Waste Management Facility 2017 Budget and the underlying assumptions made in the preparation of this draft budget be received for information;</p>
<p>That staff be requested to report further at the September meeting of the Waste Management Committee with any proposed changes and/or updates to the Draft Budget;</p>
<p>b)</p>
<p>Waste Management Committee</p>
<p>Meeting of June 20, 2016</p>
<p>Page 4</p>
<br>
<p>c)</p>
<p>d)</p>
<p>e)</p>
<p>f)</p>
<p>That the tipping fee for Construction & Demolition Overs be increased from $20/tonne to $40/tonne effective January 1, 2017;</p>
<p>That staff continue to investigate/evaluate the matter of recycling shingles and report back to the Waste Management Committee on the results of this investigation;</p>
<p>That staff be requested to continue planning toward implementation of a Reuse Centre at the Landfill; and</p>
<p>At the meeting of June 20, 2016, Committee added the following:</p>
<p>That the increase in the minimal tipping fee per visit be increased to $7 effective January 1, 2017 and increased to $10 effective January 1, 2018.</p>
<p>“CARRIED”</p>
<p>Other Business</p>
<p>There were no items of Other Business.</p>
<p>Next Meeting</p>
<p>The Chair indicated that the next meeting of the Committee is scheduled for September 12, 2016.</p>
<p>Adjournment</p>
<p>Moved by Councillor Baldwin</p>
<p>That this meeting of Waste Management Committee adjourn at 2:57 p.m.</p>
<p>“CARRIED”</p>
<p>Kendra Sedgwick Committee Coordinator</p>
<p>Councillor Pappas Chair</p>
<br></div>