<!doctype html><div><p>Waste Management Committee</p>
<br>
<p>Minutes</p>
<br>
<p>City of Peterborough</p>
<br>
<p>January 23, 2017</p>
<br>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of the Waste Management Committee Held on</p>
<p>January 23, 2017, in the Doris Room, City Hall</p>
<br>
<p>The meeting of the Waste Management Committee was called to order at 2:03 p.m. in the Doris Room, City Hall.</p>
<p>Present: Councillor Nelson, County of Peterborough Councillor Senis, County of Peterborough, Chair Councillor Bonneau, County of Peterborough Councillor Vassiliadis, City of Peterborough Councillor Pappas, City of Peterborough (arrived at 2:05 p.m.)</p>
<p>Regrets: Councillor Baldwin, City of Peterborough</p>
<p>Staff: Chris Bradley, Director of Public Works, County of Peterborough Tara Stephen, Manager of Environmental Services, County of Peterborough Wayne Jackson, Director of Utility Services, City of Peterborough Don Briand, Waste Management Site Operator, Landfill, City of Peterborough Virginia Swinson, Waste Diversion Section Manager, City of Peterborough Kendra Sedgwick, Committee Coordinator, City of Peterborough</p>
<p>Election of Officers</p>
<p>The Committee Coordinator called for nominations for the Chair position.</p>
<p>Chair</p>
<p>Moved by Councillor Bonneau</p>
<p>That Councillor Senis be appointed as Chair of the Waste Management Committee for 2017.</p>
<p>“CARRIED”</p>
<p>Councillor Senis assumed the Chair</p>
<p>Waste Management Committee</p>
<p>Meeting of January 23, 2017</p>
<p>Page 2</p>
<br>
<p>Vice Chair</p>
<p>Moved by Councillor Bonneau</p>
<p>That Councillor Vassiliadis be appointed as Vice Chair of the Waste Management Committee for 2017.</p>
<p>“CARRIED”</p>
<p>Minutes – June 20, 2016</p>
<p>Moved by Councillor Nelson</p>
<p>That the minutes of the Waste Management Committee meeting held on June 20, 2016, be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Pecuniary Interest.</p>
<p>Consent Agenda</p>
<p>No items were passed as part of the Consent Agenda.</p>
<p>Waste Management Committee</p>
<p>Meeting of January 23, 2017</p>
<p>Page 3</p>
<br>
<p>Director of Utility Services, City of Peterborough Report WMC17-001 2017 Waste Management Committee Meeting Schedule</p>
<p>Moved by Councillor Vassiliadis</p>
<p>That the Waste Management Committee approve the recommendation as outlined in Report WMC17-001 dated January 23, 2017, of the Director of Utility Services as follows:</p>
<p>That the following 2017 meeting dates for the Waste Management Committee be approved:</p>
<p>Monday, January 23, 2017 Monday, March 13, 2017 Monday, May 8, 2017 Monday, June 19, 2017 Monday, September 18, 2017 Monday, November 6, 2017</p>
<p>“CARRIED”</p>
<p>Director of Utility Services, City of Peterborough Report WMC17-002 Increase in Peterborough County/City Waste Management Facility Property Rental Rates</p>
<p>Moved by Councillor Vassiliadis</p>
<p>That the Waste Management Committee endorse the recommendation as outlined in Report WMC17-002 dated January 23, 2017 of the Director of Utility Services, as follows:</p>
<p>That the land rental rates for Peterborough County/City Waste Management Facility lands be increased from $40 per acre to $45 per acre for the period January 1, 2018 to December 31, 2021.</p>
<p>“CARRIED”</p>
<br>
<p>Waste Management Committee</p>
<p>Meeting of January 23, 2017</p>
<p>Page 4</p>
<br>
<p>Director of Utility Services, City of Peterborough Report WMC17-003 Implementation of a Fine for Not Weighing Out at the Peterborough County/City Waste Management Facility</p>
<p>Moved by Councillor Pappas</p>
<p>That the Waste Management Committee endorse the recommendation outlined in Report WMC17-003 dated January 23, 2017, of the Director of Utility Services, as follows:</p>
<p>That a fine of $15.00 be levied on persons who do not weigh out at the Peterborough County/City Waste Management Facility effective January 1, 2017.</p>
<br>
<p>“CARRIED”</p>
<p>Other Business</p>
<p>There were no items of Other Business.</p>
<p>Next Meeting</p>
<p>The Chair indicated that the next meeting of the Committee is scheduled for March 13, 2017.</p>
<p>Adjournment</p>
<p>Moved by Councillor Bonneau</p>
<p>That this meeting of Waste Management Committee adjourn at 2:20 p.m.</p>
<p>“CARRIED”</p>
<p>Kendra Sedgwick Committee Coordinator</p>
<p>Councillor Senis Chair</p>
<br></div>