<!doctype html><div><p>PETERBOROUGH COUNTY/CITY</p>
<br>
<p>WASTE MANAGEMENT COMMITTEE</p>
<br>
<p>Monday, June 22, 2009</p>
<br>
<p>General Committee Room – 2:00 p.m.</p>
<br>
<br>
<p>Sherry Arcaro, County Manager of Environmental Services</p>
<p>Wayne Jackson, City Engineer</p>
<p>Melanie Kawalec, Manager, Waste Management</p>
<p>Pat Devlin,  Manager, Environmental Protection</p>
<p>Craig Simmons, Waste Operations Coordinator</p>
<p>Karen Meekin, Secretary, City of Peterborough</p>
<br>
<br>
<br>
<p>Members Present: County – Warden Gerow, Councillor Rand, and Councillor Heath</p>
<p>City – Councillor Shirley Eggleton, Councillor Vass, Mayor Ayotte</p>
<br>
<p>Staff Present:</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Regrets:                Linda Reed, CAO, City of Peterborough</p>
<p>Gary King, CAO, County of Peterborough</p>
<p>Chris Bradley, County Director of Public Works</p>
<br>
<p>Delegation:             Vincent Nazareth, RV Anderson Associates Limited</p>
<br>
<p>Public Present:</p>
<br>
<br>
<p>1.</p>
<br>
<br>
<p>Ed McLellan, Roy Edwards, Scott Baker</p>
<br>
<br>
<p>Call to Order</p>
<br>
<p>Chairperson Paul Heath called the meeting to order at 2:00 p.m.</p>
<br>
<p>Adoption of the Minutes</p>
<br>
<p>Seconded by: Councillor Rand</p>
<br>
<p>Moved by: Mayor Ayotte</p>
<br>
<br>
<br>
<br>
<p>3.</p>
<br>
<p>None at this time.</p>
<br>
<p>4.</p>
<br>
<br>
<p>Reports/Updates</p>
<br>
<p>2.</p>
<br>
<br>
<br>
<br>
<p>a)  Biosolids Management Strategy</p>
<br>
<p>Chairperson  Heath  introduced  Mr.  Vincent  Nazareth  of  R.V.  Anderson  Associates</p>
<p>Limited  who  provided  a  presentation  an  overview  of  the  Peterborough  Biosolids</p>
<p>Options Technical Memorandum #2.</p>
<br>
<br>
<br>
<br>
<br>
<p>“That  the  Minutes  of  the  Waste  Management  Committee  meeting  of  May  11,  2009</p>
<p>be adopted as circulated.”</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>CARRIED</p>
<br>
<p>Business Arising from the Minutes</p>
<br>
<br>
<p>PETERBOROUGH COUNTY/CITY</p>
<p>WASTE MANAGEMENT COMMITTEE</p>
<p>Monday, June 22, 2009</p>
<p>General Committee Room – 2:00 p.m.</p>
<p>Sherry Arcaro, County Manager of Environmental Services Wayne Jackson, City Engineer Melanie Kawalec, Manager, Waste Management Pat Devlin,  Manager, Environmental Protection Craig Simmons, Waste Operations Coordinator Karen Meekin, Secretary, City of Peterborough</p>
<br>
<p>Members Present: County – Warden Gerow, Councillor Rand, and Councillor Heath City – Councillor Shirley Eggleton, Councillor Vass, Mayor Ayotte</p>
<p>Staff Present:</p>
<br>
<br>
<p>Regrets:                Linda Reed, CAO, City of Peterborough Gary King, CAO, County of Peterborough Chris Bradley, County Director of Public Works</p>
<p>Delegation:             Vincent Nazareth, RV Anderson Associates Limited</p>
<p>Public Present:</p>
<p>1.</p>
<p>Ed McLellan, Roy Edwards, Scott Baker</p>
<p>Call to Order</p>
<p>Chairperson Paul Heath called the meeting to order at 2:00 p.m.</p>
<p>Adoption of the Minutes</p>
<p>Seconded by: Councillor Rand</p>
<p>Moved by: Mayor Ayotte</p>
<br>
<p>3.</p>
<p>None at this time.</p>
<p>4.</p>
<p>Reports/Updates</p>
<p>2.</p>
<br>
<p>a)  Biosolids Management Strategy</p>
<p>Chairperson  Heath  introduced  Mr.  Vincent  Nazareth  of  R.V.  Anderson  Associates Limited  who  provided  a  presentation  an  overview  of  the  Peterborough  Biosolids Options Technical Memorandum #2.</p>
<br>
<br>
<p>“That  the  Minutes  of  the  Waste  Management  Committee  meeting  of  May  11,  2009 be adopted as circulated.”</p>
<br>
<br>
<br>
<br>
<br>
<p>CARRIED</p>
<p>Business Arising from the Minutes</p>
<br></div>