<!doctype html><div><br>
<br>
<br>
<br>
<p>WASTE MANAGEMENT</p>
<p>COMMITTEE MINUTES</p>
<br>
<p>CITY OF PETERBOROUGH</p>
<br>
<p>MARCH 8, 2010</p>
<br>
<p>DRAFT MINUTES NOT</p>
<br>
<p>APPROVED</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>MINUTES OF A MEETING OF THE WASTE MANAGEMENT</p>
<p>COMMITTEE HELD ON MARCH 8, 2010 IN THE GENERAL COMMITTEE</p>
<p>ROOM, CITY HALL</p>
<br>
<p>The meeting of the Waste Management Committee was called to order at 2:06 p.m. in the General Committee Room, City Hall.</p>
<p>Present: Councillor Ron Gerow, County of Peterborough Councillor Paul Heath, County of Peterborough Councillor Shirley Eggleton, City of Peterborough Councillor Len Vass, City of Peterborough, Chair</p>
<p>Absent: Councillor Barry Rand, County of Peterborough Mayor Paul Ayotte, City of Peterborough</p>
<p>Staff: Wayne Jackson, Director of Utility Services, City of Peterborough Chris Bradley, Director of Public Works, County of Peterborough Laurie Westaway, Manager of Environmental Services, County of Peterborough Melanie Kawalec, Manager of Waste Management, City of Peterborough Patrick Devlin, Manager of Environmental Protection, City of Peterborough Kevin Arjoon, Deputy City Clerk, City of Peterborough</p>
<p>Election of 2010 Committee Chair</p>
<p>Moved by Councillor Gerow, seconded by Councillor Eggleton</p>
<p>That Councillor Vass be appointed as Chair of the Waste Management Committee for 2010.</p>
<p>“ CARRIED”</p>
<br></div>