<!doctype html><div><br>
<br>
<br>
<br>
<p>WASTE MANAGEMENT</p>
<p>COMMITTEE MINUTES</p>
<br>
<p>CITY OF PETERBOROUGH</p>
<br>
<p>NOVEMBER 15, 2010</p>
<br>
<p>DRAFT MINUTES NOT</p>
<br>
<p>APPROVED</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>MINUTES OF A MEETING OF THE WASTE MANAGEMENT</p>
<p>COMMITTEE HELD ON NOVEMBER 15, 2010 IN THE GENERAL</p>
<p>COMMITTEE ROOM, CITY HALL</p>
<br>
<p>The meeting of the Waste Management Committee was called to order at 2:27 p.m. in the General Committee Room, City Hall.</p>
<p>Present: Councillor Ron Gerow, County of Peterborough Councillor Paul Heath, County of Peterborough Councillor Barry Rand, County of Peterborough Mayor Paul Ayotte, City of Peterborough, 2:57 p.m. Councillor Len Vass, City of Peterborough, Chair</p>
<p>Absent: Councillor Shirley Eggleton, City of Peterborough</p>
<p>Staff: Chris Bradley, Director of Public Works, County of Peterborough Laurie Westaway, Manager of Environmental Services, County of Peterborough Wayne Jackson, Director of Utility Services Department, City of Peterborough Melanie Kawalec, Manager of Waste Management, City of Peterborough John Kennedy, Deputy City Clerk, City of Peterborough</p>
<p>Minutes – September 20, 2010</p>
<p>Moved by Councillor Rand, seconded by Councillor Gerow</p>
<p>That  the  minutes  of  the  Waste  Management  Committee  meeting  held  on September 20, 2010 as amended, be approved.</p>
<p>“CARRIED”</p>
<br>
<br></div>