<!doctype html><div><p>Waste Management Committee</p>
<br>
<p>Minutes</p>
<br>
<p>City Of Peterborough</p>
<p>September 16, 2013</p>
<br>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Minutes  of  a  Meeting  of  the  Waste  Management  Committee  Held  on</p>
<p>September 16, 2013, in the Council Chambers, City Hall</p>
<br>
<p>The meeting of the Waste Management Committee was called to order at 2:04 p.m. in the Council Chambers, City Hall.</p>
<p>Present: Councillor Ron Gerow, County of Peterborough Councillor Barry Rand, County of Peterborough, Chair Councillor Dean Pappas, City of Peterborough Councillor Keith Riel, City of Peterborough</p>
<p>Regrets: Councillor Dave Nelson, County of Peterborough Councillor Len Vass, City of Peterborough</p>
<p>Staff: Chris Bradley, Director of Public Works, County of Peterborough Laurie Westaway, Manager of Environmental Services, County of Peterborough Wayne Jackson, Director of Utility Services, City of Peterborough Kendra Sedgwick, Committee Coordinator, City of Peterborough</p>
<p>Minutes – June 24, 2013</p>
<p>Moved by Councillor Gerow</p>
<p>That the minutes of the Waste Management Committee meeting held on June 24, 2013, be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Pecuniary Interest.</p>
<br></div>