<!doctype html><div><p>Waste Management Committee</p>
<br>
<p>Minutes</p>
<br>
<p>City Of Peterborough</p>
<br>
<p>November 18, 2013</p>
<br>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Minutes  of  a  Meeting  of  the  Waste  Management  Committee  Held  on</p>
<p>November 18, 2013, in the General Committee Room, City Hall</p>
<br>
<p>The meeting of the Waste Management Committee was called to order at 2:01 p.m. in the General Committee Room, City Hall.</p>
<p>Present: Councillor Ron Gerow, County of Peterborough Councillor Dave Nelson, County of Peterborough Councillor Barry Rand, County of Peterborough, Chair Councillor Dean Pappas, City of Peterborough (arrived at 2:02 p.m.) Councillor Keith Riel, City of Peterborough Councillor Len Vass, City of Peterborough (arrived at 2:05 p.m.)</p>
<p>Staff: Chris Bradley, Director of Public Works, County of Peterborough Laurie Westaway, Manager of Environmental Services, County of Peterborough Wayne Jackson, Director of Utility Services, City of Peterborough Virginia Swinson, Waste Diversion Section Manager Craig Simmons, Waste Management Site Operator, Landfill Kendra Sedgwick, Committee Coordinator, City of Peterborough</p>
<p>Minutes – September 16, 2013</p>
<p>Moved by Councillor Gerow</p>
<p>That  the  minutes  of  the  Waste  Management  Committee  meeting  held  on September 16, 2013, be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Pecuniary Interest.</p>
<p>Waste Management Committee Meeting of November 18, 2013</p>
<p>Page 2</p>
<br>
<p>to</p>
<p>Consent Agenda</p>
<p>No items were approved as part of the Consent Agenda.</p>
<p>Director of Public Works, County of Peterborough Update on Long Term Waste Disposal Environmental Assessment</p>
<p>Moved by Councillor Nelson</p>
<p>That  staff  be  directed  to  continue  to  communicate  with  Ministry  of  Environment staff  related the  County/City’s  commencement  of  an  Environmental Assessment  process  to  develop  a  long  term  waste  disposal  solution  for  the County and City, and further,</p>
<p>That  staff  do  not  proceed  during  2014 with  any  active  program  to  move  forward with  this  initiative,  but  to  report  to  the  Waste  Management  Committee  in  2014 regarding the value of commencing the process in 2015.</p>
<p>“CARRIED”</p>
<p>Director of Public Works, County of Peterborough MOF/MPAC Landfill Assessment Update</p>
<p>Moved by Councillor Riel</p>
<p>That  the  Waste  Management  Committee  receive  the  MOF/MPAC  Landfill Assessment Update report for information.</p>
<br>
<p>“CARRIED”</p>
<br>
<p>Waste Management Committee Meeting of November 18, 2013</p>
<p>Page 3</p>
<br>
<p>Director of Utility Services, City of Peterborough Report WMC13-019 Mattress Recycling Pilot – Results and Recommended Next Steps</p>
<p>Moved by Councillor Nelson</p>
<p>That  the  Waste  Management  Committee  endorse  the  recommendations  as outlined in Report WMC13-019 dated November 18, 2013 of the Director of Utility Services as follows:</p>
<p>a)</p>
<p>That the Waste Management Committee support in principle the expansion of the mattress recycling pilot to a full-scale program as outlined in Report WMC13-019, and;</p>
<p>b)</p>
<p>to</p>
<p>the</p>
<p>That the general public and all waste haulers and retailers known to bring mattresses the  Waste  Management Committee’s intention to introduce a mattress and box spring user charge and  that  the  issue  will  be  discussed  at  the  January  20,  2014  Waste Management Committee meeting.</p>
<p>landfill  be  notified  of</p>
<p>“CARRIED”</p>
<p>Director of Utility Services, City of Peterborough Report WMC13-020 2014 Waste Management Committee Meeting Schedule</p>
<p>Moved by Councillor Gerow</p>
<p>That the Waste Management Committee approve the recommendation as outlined in Report WMC13-020 dated November 18, 2013, of the Director of Utility Services as follows:</p>
<p>That the following 2014 meeting dates for the Waste Management Committee be approved:</p>
<p>Monday, January 20, 2014 Monday, March 3, 2014 Monday, May 12, 2014 Monday, June 23, 2014 Monday, September 8, 2014</p>
<p>“CARRIED”</p>
<p>Waste Management Committee Meeting of November 18, 2013</p>
<p>Page 4</p>
<br>
<p>for</p>
<p>Director of Utility Services, City of Peterborough Report WMC13-021 Award  of  Request  for  Proposal  P-18-13  for  Landfill  Engineering  and Reporting  Services the  Peterborough  County/City  Waste Management Facility</p>
<p>Moved by Councillor Vass</p>
<p>That  Waste  Management  Committee  approve  the  recommendation  outlined  in Report WMC13-021 dated November 18, 2013 of the Director of Utility Services, as follows:</p>
<p>That Proposal P-18-13 for the Consulting Services for the Engineering Design and Contract  Administration  for  Landfill  Engineering  and  Reporting  Services  for  the Peterborough  County/City  Waste  Management  Facility  be  awarded,  conditional upon  final  review  from  staff,  to  UEM-GENIVAR,  5100  Orbitor  Drive,  Suite  300, Mississauga,  Ontario,  L4W  4Z4  for  the  5-year  period  2014  to  2018  inclusive  at  a the following estimated costs exclusive of HST:</p>
<p>2014 - $183,012 2015 - $127,811 2016 - $160,364 2017 - $277,758 2018 - $132,075</p>
<p>“CARRIED”</p>
<p>Correspondence</p>
<p>The  Township  of  Otonabee-South  Monaghan  re:  Extension  of  Landfill  Hours  of Operation</p>
<p>County of Peterborough – letter to Ministry of Finance</p>
<p>Moved by Councillor Vass</p>
<p>That the above correspondence items be received for information.</p>
<p>“CARRIED”</p>
<br>
<p>Waste Management Committee Meeting of November 18, 2013</p>
<p>Page 5</p>
<br>
<p>Other Business</p>
<p>There were no items of Other Business.</p>
<p>Next Meeting</p>
<p>The Chair indicated that the next meeting of the Committee is scheduled for January 20, 2014.</p>
<p>Adjournment</p>
<p>Moved by Councillor Riel</p>
<p>That this meeting of Waste Management Committee adjourn at 3:13 p.m.</p>
<p>“CARRIED”</p>
<br>
<p>Kendra Sedgwick Committee Coordinator</p>
<p>Councillor Rand Chair</p>
<br></div>