<!doctype html><div><p>Waste Management Committee</p>
<br>
<p>Minutes</p>
<br>
<p>City Of Peterborough</p>
<br>
<p>January 20, 2014</p>
<br>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of the Waste Management Committee Held on</p>
<p>January 20, 2014, in the General Committee Room, City Hall</p>
<br>
<p>The meeting of the Waste Management Committee was called to order at 2:03 p.m. in the General Committee Room, City Hall.</p>
<p>Present: Councillor Ron Gerow, County of Peterborough Councillor Dave Nelson, County of Peterborough Councillor Barry Rand, County of Peterborough, Vice Chair Councillor Dean Pappas, City of Peterborough Councillor Len Vass, City of Peterborough</p>
<p>Regrets: Councillor Keith Riel, City of Peterborough</p>
<p>Staff: Chris Bradley, Director of Public Works, County of Peterborough Laurie Westaway, Manager of Environmental Services, County of Peterborough Wayne Jackson, Director of Utility Services, City of Peterborough Virginia Swinson, Waste Diversion Section Manager, City of Peterborough Craig Simmons, Waste Management Site Operator, Landfill, City of Peterborough Kendra Sedgwick, Committee Coordinator, City of Peterborough</p>
<p>Election of Officers</p>
<p>Chair</p>
<p>Moved by Councillor Pappas</p>
<p>That Councillor Riel be appointed as Chair of the Waste Management Committee for 2014.</p>
<p>“CARRIED”</p>
<p>Councillor Riel indicated prior to the meeting that he would accept the nomination of Chair.</p>
<p>Waste Management Committee</p>
<p>Meeting of January 20, 2014</p>
<p>Page 2</p>
<br>
<p>Moved by Councillor Gerow</p>
<p>That Councillor Rand be appointed as Vice-Chair of the Waste Management Committee for 2014.</p>
<p>“CARRIED”</p>
<p>Councillor Rand assumed the Chair</p>
<p>Minutes – November 18, 2013</p>
<p>Moved by Councillor Pappas</p>
<p>That the minutes of the Waste Management Committee meeting held on November 18, 2013, be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Pecuniary Interest.</p>
<p>Consent Agenda</p>
<p>No items were approved as part of the Consent Agenda.</p>
<p>Director of Public Works, County of Peterborough MOF/MPAC Landfill Assessment Update</p>
<p>Moved by Councillor Vass</p>
<p>That the Waste Management Committee receive the MOF/MPAC Landfill Assessment Update report of the Director of Public Works, County of Peterborough for information.</p>
<p>“CARRIED”</p>
<br>
<p>Waste Management Committee</p>
<p>Meeting of January 20, 2014</p>
<p>Page 3</p>
<br>
<p>Director of Utility Services, City of Peterborough Report WMC14-001 Mattress Recycling Proposal – Postponement of Decision</p>
<p>Moved by Councillor Nelson</p>
<p>That the Waste Management Committee approve the recommendation outlined in Report WMC14-001 dated January 20, 2014 of the Director of Utility Services, as follows:</p>
<p>That a decision on the proposed implementation of a mattress recycling program at the Peterborough County/City Waste Management Facility (PCCWMF) be delayed until the next WMC meeting on March 3, 2014, allowing staff to ensure all affected parties have received and read notification about the proposal and have had an opportunity to comment.</p>
<p>“CARRIED”</p>
<p>Director of Utility Services, City of Peterborough Report WMC14-002 2013 Tonnage Summary for County/City Waste Management Facility</p>
<p>Moved by Councillor Pappas</p>
<p>That the Waste Management Committee approve the recommendation outlined in Report WMC14-002 dated January 20, 2014 of the Director of Utility Services, as follows:</p>
<p>That Report WMC14-002 providing a summary of the tonnage received at the County/City Waste Management Facility for the years 2009 to 2013 inclusive be received for information.</p>
<br>
<br>
<p>“CARRIED”</p>
<br>
<p>Waste Management Committee</p>
<p>Meeting of January 20, 2014</p>
<p>Page 4</p>
<br>
<p>Moved by Councillor Vass</p>
<p>a)</p>
<p>That staff prove an updated report to Committee on the relationship between tipping fees and commercial activity at the Peterborough County/City Waste Management Facility, and</p>
<p>That staff finalize the life cycle analysis and present it to Committee at a future meeting.</p>
<p>b)</p>
<p>“CARRIED”</p>
<p>Other Business</p>
<p>There were no items of Other Business.</p>
<p>Next Meeting</p>
<p>The Chair indicated that the next meeting of the Committee is scheduled for March 3, 2014.</p>
<p>Adjournment</p>
<p>Moved by Councillor Pappas</p>
<p>That this meeting of Waste Management Committee adjourn at 2:47 p.m.</p>
<p>“CARRIED”</p>
<br>
<br>
<p>Councillor Rand Vice Chair</p>
<p>Kendra Sedgwick Committee Coordinator</p>
<br></div>