<!doctype html><div><p>Waste Management Committee</p>
<br>
<p>Minutes</p>
<br>
<p>City Of Peterborough</p>
<br>
<p>March 03, 2014</p>
<br>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of the Waste Management Committee Held on</p>
<p>March 03, 2014, in the General Committee Room, City Hall</p>
<br>
<p>The meeting of the Waste Management Committee was called to order at 2:02 p.m. in the General Committee Room, City Hall.</p>
<p>Present: Councillor Ron Gerow, County of Peterborough Councillor Dave Nelson, County of Peterborough Councillor Barry Rand, County of Peterborough, Vice Chair Councillor Dean Pappas, City of Peterborough Councillor Keith Riel, City of Peterborough, Chair Councillor Len Vass, City of Peterborough (arrived at 2:04 p.m.)</p>
<p>Staff: Chris Bradley, Director of Public Works, County of Peterborough Laurie Westaway, Manager of Environmental Services, County of Peterborough Wayne Jackson, Director of Utility Services, City of Peterborough Virginia Swinson, Waste Diversion Section Manager, City of Peterborough Craig Simmons, Waste Management Site Operator, Landfill, City of Peterborough Kendra Sedgwick, Committee Coordinator, City of Peterborough</p>
<p>Minutes – January 20, 2014</p>
<p>Moved by Councillor Pappas</p>
<p>That the minutes of the Waste Management Committee meeting held on January 20, 2014, be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Pecuniary Interest.</p>
<p>Waste Management Committee</p>
<p>Meeting of March 03, 2014</p>
<p>Page 2</p>
<br>
<p>Consent Agenda</p>
<p>No items were approved as part of the Consent Agenda.</p>
<p>Director of Utility Services, City of Peterborough Report WMC14-003 Mattress and Box Spring Recycling Program – Implementation Plan</p>
<p>Moved by Councillor Pappas</p>
<p>That the Waste Management Committee endorse the recommendation as outlined in Report WMC14-003 dated March 3, 2014 of the Director of Utility Services as follows:</p>
<p>That the implementation of a mattress and box spring recycling program commence September 2, 2014 at the Peterborough County/City Waste Management Facility, as detailed in the “Recommended Next Steps” section of Report WMC14-003.</p>
<p>“CARRIED”</p>
<p>Director of Utility Services, City of Peterborough Report WMC14-004 2014 Tonnage and Revenue Update for the Peterborough County/City Waste Management Facility</p>
<p>Moved by Councillor Gerow</p>
<p>That Waste Management Committee approve the recommendation outlined in Report WMC14-004 dated March 3, 2014 of the Director of Utility Services, as follows:</p>
<p>That Report WMC14-004 be received for information.</p>
<br>
<br>
<p>“CARRIED”</p>
<br>
<br>
<p>Waste Management Committee</p>
<p>Meeting of March 03, 2014</p>
<p>Page 3</p>
<br>
<p>Other Business</p>
<p>There were no items of Other Business.</p>
<p>Next Meeting</p>
<p>The Chair indicated that the next meeting of the Committee is scheduled for May 12, 2014.</p>
<p>Adjournment</p>
<p>Moved by Councillor Pappas</p>
<p>That this meeting of Waste Management Committee adjourn at 2:20 p.m.</p>
<p>“CARRIED”</p>
<br>
<br>
<p>Councillor Riel Chair</p>
<p>Kendra Sedgwick Committee Coordinator</p>
<br></div>