<!doctype html><div><p>Waste Management Committee</p>
<br>
<p>Minutes</p>
<br>
<p>City of Peterborough</p>
<br>
<p>June 23, 2014</p>
<br>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of the Waste Management Committee Held on</p>
<p>June 23, 2014, in the City Board Room, City Hall</p>
<br>
<p>The meeting of the Waste Management Committee was called to order at 2:00 p.m. in the City Board Room, City Hall.</p>
<p>Present: Councillor Ron Gerow, County of Peterborough Councillor Barry Rand, County of Peterborough, Vice Chair Councillor Dave Nelson, County of Peterborough Councillor Dean Pappas, City of Peterborough Councillor Len Vass, City of Peterborough</p>
<p>Regrets: Councillor Keith Riel, City of Peterborough</p>
<p>Staff: Chris Bradley, Director of Public Works, County of Peterborough Laurie Westaway, Manager of Environmental Services, County of Peterborough Wayne Jackson, Director of Utility Services, City of Peterborough Virginia Swinson, Waste Diversion Section Manager, City of Peterborough Craig Simmons, Waste Management Site Operator, Landfill, City of Peterborough Natalie Garnett, Deputy City Clerk, City of Peterborough</p>
<p>Minutes – May 12, 2014</p>
<p>Moved by Councillor Pappas</p>
<p>That the minutes of the Waste Management Committee meeting held on May 12, 2014, be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Pecuniary Interest.</p>
<p>Waste Management Committee</p>
<p>Meeting of June 23, 2014</p>
<p>Page 2</p>
<br>
<br>
<p>Consent Agenda</p>
<p>No items were approved as part of the Consent Agenda.</p>
<p>Director of Utility Services, City of Peterborough Report WMC14-008 City of Peterborough’s Organics Strategy and its Implications for the Peterborough County/City Waste Management Facility</p>
<p>Moved by Councillor Vass</p>
<p>That the Waste Management Committee approve the recommendation outlined in Report WMC14-008 dated June 23, 2014 of the Director of Utility Services, as follows:</p>
<p>That Report WMC14-008 providing information on the City’s proposed Organics Strategy be received for information.</p>
<br>
<p>“CARRIED”</p>
<p>Director of Utility Services, City of Peterborough Report WMC14-009 First Draft of the 2015 Budget for the Peterborough County/City Waste Management Facility</p>
<p>Moved by Councillor Pappas</p>
<p>That the Waste Management Committee approve the recommendations outlined in Report WMC14-009 dated June 23, 2014 of the Director of Utility Services, as follows:</p>
<p>a)</p>
<p>That Report WMC14-009 dated June 23, 2014 providing information on the first Draft of the Peterborough County/City Waste Management Facility 2015 Budget and the underlying assumptions made in the preparation of this draft budget be received for information; and</p>
<p>Waste Management Committee</p>
<p>Meeting of June 23, 2014</p>
<p>Page 3</p>
<br>
<p>b)</p>
<p>That staff be requested to report further at the September meeting of the Waste Management Committee on any proposed changes and/or updates to the Draft Budget.</p>
<p>“CARRIED”</p>
<p>Other Business</p>
<p>There were no items of Other Business.</p>
<p>Next Meeting</p>
<p>The Chair indicated that the next meeting of the Committee is scheduled for September 8, 2014.</p>
<p>Adjournment</p>
<p>Moved by Councillor Pappas</p>
<p>That this meeting of Waste Management Committee adjourn at 2:50 p.m.</p>
<p>“CARRIED”</p>
<br>
<p>Councillor Rand Vice Chair</p>
<p>Natalie Garnett Deputy City Clerk</p>
<br>
<br></div>