<!doctype html><div><p>Waste Management Committee</p>
<br>
<p>Minutes</p>
<br>
<p>City of Peterborough</p>
<br>
<p>January 19, 2015</p>
<br>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of the Waste Management Committee Held on</p>
<p>January 19, 2015, in the Doris Room, City Hall</p>
<br>
<p>The meeting of the Waste Management Committee was called to order at 2:00 p.m. in the Doris Room, City Hall.</p>
<p>Present: Councillor Nelson, County of Peterborough Councillor Senis, County of Peterborough Councillor Bonneau, County of Peterborough Councillor Pappas, City of Peterborough Councillor Vassiliadis, City of Peterborough Councillor Baldwin, City of Peterborough</p>
<p>Staff: Chris Bradley, Director of Public Works, County of Peterborough Laurie Westaway, Manager of Environmental Services, County of Peterborough Virginia Swinson, Waste Diversion Section Manager, City of Peterborough Craig Simmons, Waste Management Site Operator, Landfill, City of Peterborough Kendra Sedgwick, Committee Coordinator, City of Peterborough</p>
<p>Election of Officers</p>
<p>The Committee Coordinator called for nominations for the Chair position.</p>
<p>Chair</p>
<p>Moved by Councillor Senis</p>
<p>That Councillor Nelson be appointed as Chair of the Waste Management Committee for 2015.</p>
<p>“CARRIED”</p>
<p>Councillor Nelson assumed the Chair</p>
<p>Waste Management Committee</p>
<p>Meeting of January 19, 2015</p>
<p>Page 2</p>
<br>
<p>Moved by Councillor Pappas</p>
<p>That Councillor Vassiliadis be appointed as Vice Chair of the Waste Management Committee for 2015.</p>
<p>“CARRIED”</p>
<p>Minutes – September 8, 2014</p>
<p>Moved by Councillor Pappas</p>
<p>That the minutes of the Waste Management Committee meeting held on September 8, 2014, be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Pecuniary Interest.</p>
<p>Consent Agenda</p>
<p>No items were approved as part of the Consent Agenda.</p>
<br>
<p>Waste Management Committee</p>
<p>Meeting of January 19, 2015</p>
<p>Page 3</p>
<br>
<p>Director of Utility Services, City of Peterborough Report WMC15-001 2015 WMC Schedule</p>
<p>Moved by Councillor Pappas</p>
<p>That the Waste Management Committee approve the recommendation as outlined in Report WMC15-001 dated January 19, 2015, of the Director of Utility Services as follows:</p>
<p>That the following 2015 meeting dates for the Waste Management Committee be approved:</p>
<p>Monday, January 19, 2015 Monday, March 2, 2015 Monday, May 11, 2015 Monday, June 22, 2015 Monday, September 14, 2015 Monday, November 16, 2015</p>
<p>“CARRIED”</p>
<p>Director of Utility Services, City of Peterborough Report WMC15-002 Background Information on the County/City Waste Management Facility on Bensfort Road</p>
<p>Moved by Councillor Senis</p>
<p>That the Waste Management Committee approve the recommendation outlined in Report WMC15-002 dated January 19, 2015, from the Director of Utility Services, as follows:</p>
<p>That Report WMC15-002 be received for information.</p>
<br>
<p>“CARRIED”</p>
<br>
<p>Waste Management Committee</p>
<p>Meeting of January 19, 2015</p>
<p>Page 4</p>
<br>
<p>Director of Utility Services, City of Peterborough Report WMC15-003 Increase in Agreement for the Operation and Maintenance of the Peterborough County/City Waste Management Facility and Scalehouse</p>
<p>Moved by Councillor Pappas</p>
<p>That the Waste Management Committee approve the recommendation outlined in Report WMC15-003 dated January 19, 2015, from the Director of Utility Services, as follows:</p>
<p>That the Agreement with R.W. Tomlinson Ltd., 5597 Power Road, Ottawa, Ontario K1G 3N4, be increased by $1,127,071.00 from $10,074,702.00 to $11,201,773.00 plus HST of $1,456,230.49 for a total cost of $12,658,003.49 for the period September 1, 2014 to December 31, 2019 inclusive.</p>
<br>
<p>“CARRIED”</p>
<p>Other Business</p>
<p>2015 Landfill Work Plan</p>
<p>Moved by Councillor Bonneau</p>
<p>That the Waste Management Committee receive the verbal update on the 2015 Landfill Work Plan.</p>
<p>“CARRIED”</p>
<p>Councillor Nelson congratulated Craig Simmons on his upcoming retirement and thanked him for his years of service and help with the Waste Management Committee.</p>
<p>Next Meeting</p>
<p>The Chair indicated that the next meeting of the Committee is scheduled for March 2, 2015.</p>
<br>
<p>Waste Management Committee</p>
<p>Meeting of January 19, 2015</p>
<p>Page 5</p>
<br>
<p>Adjournment</p>
<p>Moved by Councillor Bonneau</p>
<p>That this meeting of Waste Management Committee adjourn at 3:08 p.m.</p>
<p>“CARRIED”</p>
<p>Councillor Nelson Chair</p>
<p>Kendra Sedgwick Committee Coordinator</p>
<br></div>