<!doctype html><div><br>
<br>
<br>
<br>
<br>
<br>
<p>General Committee Minutes</p>
<br>
<p>Council Chambers, City Hall</p>
<br>
<br>
<p>August 20, 2018</p>
<br>
<p>Present:</p>
<br>
<p>Mayor Bennett</p>
<p>Councillor Baldwin</p>
<p>Councillor Beamer</p>
<p>Councillor Clarke</p>
<p>Councillor Haacke</p>
<p>Councillor McWilliams</p>
<p>Councillor Parnell</p>
<p>Councillor Pappas</p>
<p>Councillor Riel</p>
<p>Councillor Therrien</p>
<p>Councillor Vassiliadis</p>
<br>
<br>
<p>Staff:</p>
<br>
<p>Bruno Bianco, Manager, Infrastructure Planning</p>
<p>Sandra Clancy, Chief Administrative Officer</p>
<p>Richard Freymond, Manager of Financial Services</p>
<p>Natalie Garnett, Deputy Clerk</p>
<p>Jeffrey Humble, Director of Planning and Development Services</p>
<p>Wayne Jackson, Commissioner of Infrastructure& Planning Services</p>
<p>David Potts, City Solicitor/Manager of Legal Services</p>
<p>Sue Warrington, Manager, Arena Division</p>
<br>
<p>Disclosure of Pecuniary Interest</p>
<br>
<p>Mayor Bennett declared an interest on item 9d, Award of Request for Proposals P-23-</p>
<p>18 for Transit Route Review and Long Term Growth Strategy (Report IPSTR18-020), as</p>
<p>he is part owner of a taxi firm.</p>
<br>
<p>Consent Agenda for Reports and Communications</p>
<br>
<p>Moved by Councillor Clarke</p>
<br>
<p>That items 8a, 8b, 8c, 8d, 8e, 9b, and 9g be approved as part of the Consent</p>
<p>Agenda.</p>
<br>
<p>Carried</p>
<br>
<br>
<br>
<br>
<p>Special General Committee Minutes of August 20, 2018</p>
<br>
<p>Amending Agreement Between City and County o Peterborough for Consolidated</p>
<p>Municipal Services</p>
<br>
<p>Report CAO18-005</p>
<br>
<p>Moved by Councillor Clarke</p>
<br>
<p>That Council approve the recommendation outlined in Report CAO18-005, dated</p>
<p>August 20, 2018, of the Chief Administrative Officers from the City and County of</p>
<p>Peterborough, as follows:</p>
<br>
<p>That Council approve an amending agreement between the City and County of</p>
<p>Peterborough for consolidated municipal services that extends the current</p>
<p>agreement for one year until December 31, 2019 and maintains the existing cost</p>
<p>sharing formulas.</p>
<br>
<p>Carried</p>
<br>
<p>2018 to 2022 Accessibility Plan</p>
<br>
<p>Report CAO18-006</p>
<br>
<p>Moved by Councillor Clarke</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Carried</p>
<br>
<p>Carried</p>
<br>
<p>That Council approve the recommendation outlined in Report CAO18-006 dated</p>
<p>August 20, 2018 of the Chief Administrative Officer as follows:</p>
<br>
<p>That the City of Peterborough 2018 to 2022 Accessibility Plan, as set out in</p>
<p>Appendix A to Report CAO18-006, be approved.</p>
<br>
<p>Manufacturer’s Limited Liquor Sales Licence Black’s Distillery 99 Hunter Street East,</p>
<p>Peterborough</p>
<p>Report CLSCLK18-016</p>
<p>Moved by Councillor Clarke</p>
<p>That Council approve the recommendation outlined in Report CLSCLK18-016, dated August 20, 2018 of the Commissioner of Corporate and Legislative, as follows:</p>
<p>That The Corporation of the City of Peterborough supports the application of Black’s Distillery, for a Manufacture’s Limited Liquor Sales Licence (By the Glass).</p>
<p>Special General Committee Minutes of August 20, 2018</p>
<p>Peterborough Downtown Business Improvement Area Interim Appointments</p>
<p>Report CLSCLK18-013</p>
<p>Moved by Councillor Clarke</p>
<p>That Council approve the recommendation outlined in Report CLSCLK18-013 dated August 20, 2018, of the Commissioner of Corporate and Legislative Services, as follows:</p>
<p>That Michael Cherney, Michael Gallant, Paul Bennett, Teagan Moss, Sam Sayer, Jean Grant, Brad Collyer, and Sacha Lai-Svirk be appointed with interim approval to the Peterborough Downtown Business Improvement Area Board of Directors, for a term from October 1, 2018 to March 31, 2019.</p>
<p>Carried</p>
<p>Citizen Appointments – Extension of Term</p>
<p>Report CLSCLK18-015</p>
<p>Moved by Councillor Clarke</p>
<p>That Council approve the recommendation outlined in Report CLSCLK18-015, dated August 20, 2018, of the Commissioner of Corporate and Legislative Services, as follows:</p>
<p>That the term of citizen appointments made by Council to various Boards and Committees due to expire on November 30, 2018, be extended to March 1, 2019.</p>
<p>Carried</p>
<p>Winter Services – Update Report</p>
<p>Report IPSPW18-009</p>
<p>Moved by Councillor Clarke</p>
<p>That Council approve the recommendation outlined in Report IPSPW18-009 dated August 20, 2018, of the Commissioner of Infrastructure and Planning Services, as follows:</p>
<p>That six existing Summer Seasonal Operators and six existing winter seasonal Operators be converted to six Full-Time Operators and that the $54,774 cost of this action be included in the 2019 operating budget.</p>
<p>Carried</p>
<br>
<br>
<br>
<br>
<p>Special General Committee Minutes of August 20, 2018</p>
<p>Delegated Subdivision Approval Authority Activity for 2017</p>
<p>Report IPSPD18-021</p>
<p>Moved by Councillor Clarke</p>
<p>That Council approve the recommendations outlined in Report IPSPD18-021 dated August 20, 2018, of the Commissioner of Infrastructure and Planning Services, as follows:</p>
<p>a)  That By-law 11-082 regarding the Delegated Subdivision Approval Authority</p>
<p>be amended by changing the word “Director” to “Commissioner” throughout; and</p>
<p>b)  That Report IPSPD18-021 be received for information.</p>
<p>Carried</p>
<br>
<p>Presentations</p>
<p>Report PKED18-003</p>
<p>Peterborough & the Kawarthas Economic Development 2018 Second Quarter Report</p>
<p>Rhonda Keenan, President and CEO and Dana Empey, Board Chair provided a presentation on Report PKED18-003.</p>
<p>Moved by Mayor Bennett</p>
<p>That Council approve the recommendation outlined in Report PKED18-003 dated August 20, 2018 of the Board Chair and President & CEO of Peterborough & the Kawarthas Economic Development, as follows:</p>
<p>That Report PKED18-003 and supporting presentation, providing the Peterborough & the Kawarthas Economic Development 2018 Second Quarter Report be received.</p>
<p>Bruno Bianco, Manager, Infrastructure Planning, provided a PowerPoint on Report IPSEC18-014.</p>
<p>Councillor Haacke left the meeting at 6:35 p.m. and returned at 6:38 p.m.</p>
<p>Carried</p>
<p>Low Impact Development Guidelines</p>
<p>Report IPSEC18-014</p>
<br>
<br>
<br>
<p>Special General Committee Minutes of August 20, 2018</p>
<p>Moved by Councillor Baldwin</p>
<p>That Council approve the recommendations outlined in Report IPSEC18-014 dated August 20, 2018 of the Commissioner of Infrastructure and Planning Services as follows:</p>
<p>That the presentation on the proposed Low Impact Development Guidelines be received; and</p>
<p>That the City of Peterborough Engineering Design Standards be updated to incorporate portions of Low Impact Development practices as described in Appendices A and B of Report IPSIP18-014.</p>
<p>a)</p>
<p>b)</p>
<p>Carried</p>
<p>CAO, Corporate and Legislative Services</p>
<p>Establishment of a Compliance Audit Committee</p>
<p>Report CLSCLK18-012</p>
<p>Moved by Councillor Therrien</p>
<p>That Council approve the recommendation outlined in Report CLSCLK18-012, dated August 20, 2018, of the City Clerk as follows:</p>
<p>That a by-law be passed to establish a Compliance Audit Committee for the period from December 1, 2018 to November 15, 2022 and be comprised of the following individuals:</p>
<p>Steven Brickell Mauro DiCarlo Bob Fisher Brian Horton Dave McFadden Sylvia Sutherland</p>
<p>Carried</p>
<p>Infrastructure and Planning Services</p>
<p>Approval of Single Source Consulting Assignment for Design, Tender and Contract Administration Services for the Peterborough Airport Reservoir Expansion</p>
<p>Report IPSAIR18-006</p>
<p>Moved by Councillor McWilliams</p>
<p>That Council approve the recommendations outlined in Report IPSAIR18-006 dated August 20, 2018, of the Commissioner of Infrastructure and Planning Services, as follows:</p>
<br>
<p>Special General Committee Minutes of August 20, 2018</p>
<p>That Council approve the award of a single source consulting assignment for the design, tender and contract administration for expansion of the existing fire water reservoir at the Peterborough Airport to WSP at a cost of $550,000 plus $71,500 for a total of $621,500;</p>
<p>That a contingency fund of $80,000 be authorized to the Purchase Order and the Commissioner of Infrastructure and Planning Services be delegated authority to adjust the Purchase Order to an upset limit of $630,000 plus HST of $81,900 for a total upset limit of $711,900; and</p>
<p>c)</p>
<p>That $39,750 be approved to cover project expenses including staff salary.</p>
<p>a)</p>
<p>b)</p>
<p>Carried</p>
<p>Parking for Visitor Centre and Delegation of Authority to Designate Municipal Law Enforcement Officers</p>
<p>Report IPSTR18-019</p>
<p>Moved by Councillor Vassiliadis</p>
<p>That Council approve the recommendations outlined in Report IPSTR18-019 dated August 20, 2018, of the Commissioner of Infrastructure and Planning Services, as follows:</p>
<p>a)</p>
<p>That the two hour parking on Water Street from Brock Street to Sherbrooke Street, be amended to apply from Brock Street to King Street;</p>
<p>b)</p>
<p>That 30 minutes free parking be implemented;</p>
<p>on the west side of Water Street between King Street and Sherbrooke Street; and</p>
<p>on the east side of George Street from a point 15 metres south of King Street for a distance of 15 metres further south;</p>
<p>That the City Clerk be delegated authority to appoint persons as Municipal Law Enforcement Officers for the purpose of issuing Parking Infraction Notices on private property; and</p>
<p>That the appropriate Schedules and Articles of Parking By-law 09-136 be amended to authorize implementation of Recommendations a) thru c).</p>
<p>•</p>
<p>•</p>
<p>c)</p>
<p>d)</p>
<br>
<br>
<br>
<p>Carried</p>
<br>
<br>
<p>Special General Committee Minutes of August 20, 2018</p>
<p>Award of Request for Proposals P-23-18 for Transit Route Review and Long Term Growth Strategy</p>
<p>Due to his previously declared conflict, the Mayor did not discuss or vote on this item.</p>
<p>Report IPSTR18-020</p>
<p>Moved by Councillor Parnell</p>
<p>That Council approve the recommendations outlined in Report IPSTR18-020, dated August 20, 2018 of the Commissioner of Infrastructure and Planning Services, as follows:</p>
<p>That Request for Proposals P-23-18 for Transit Route Review and Long Term Growth Strategy, be awarded to IBI Group, 55 St. Clair Avenue West, 7th Floor, Toronto, ON M4V 2Y7 for an cost of $353,587.00 plus HST of $45,966.31 for a total cost of $399,553.31; and</p>
<p>That a contingency fund of $60,000.00 be authorized to the Purchase Order and the Commissioner of Infrastructure and Planning Services be delegated authority to adjust the Purchase Order to an upset limit of $413,587.00 plus HST of $456,053.31, if required.</p>
<p>Traffic Signals at Fairbairn Street and Highland Road</p>
<p>Report IPSTR18-021</p>
<p>Moved by Councillor Baldwin</p>
<p>That Council approve the recommendation outlined in Report USTR18-021 dated August 20, 2018, of the Commissioner of Infrastructure and Planning Services, as follows:</p>
<p>That Traffic Signals be installed at the intersection of Fairbairn Street and Highland Road.</p>
<p>Summerhill Drive / Rosehill Drive Traffic Operational Review</p>
<p>Report IPSTR18-022</p>
<p>Moved by Councillor Haacke</p>
<p>That Council approve the recommendation outlined in Report IPSTR18-022 dated August 20, 2018, of the Commissioner of Infrastructure and Planning Services, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>Carried</p>
<p>Carried</p>
<br>
<br>
<br>
<p>Special General Committee Minutes of August 20, 2018</p>
<p>That Stop Control be implemented on Rosehill Drive at the intersection of Summerhill Drive and Rosehill Drive.</p>
<p>Moved by Councillor Vassiliadis</p>
<p>That this meeting of General Committee adjourn at 7:13 p.m.</p>
<p>Carried</p>
<p>Adjournment</p>
<p>Carried</p>
<p>Natalie Garnett</p>
<p>Deputy Clerk</p>
<br>
<p>_________________________</p>
<p>_________________________</p>
<p>Councillor Beamer</p>
<p>Chair</p>
<br>
<br>
<br></div>