<!doctype html><div><p>City Council Minutes</p>
<br>
<p>City of Peterborough</p>
<br>
<p>Council Chambers, City Hall</p>
<br>
<br>
<p>September 10, 2018</p>
<br>
<p>Present:</p>
<br>
<p>Mayor Bennett</p>
<p>Councillor Baldwin</p>
<p>Councillor Beamer</p>
<p>Councillor Clarke</p>
<p>Councillor Haacke</p>
<p>Councillor McWilliams</p>
<p>Councillor Parnell</p>
<p>Councillor Pappas</p>
<p>Councillor Riel</p>
<p>Councillor Therrien</p>
<p>Councillor Vassiliadis</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Staff:</p>
<br>
<p>Sandra Clancy, Chief Administrative Officer</p>
<p>Erik Hanson, Heritage Resources Coordinator</p>
<p>Jeffrey Humble, Director of Planning and Development Services</p>
<p>John Kennedy, City Clerk</p>
<p>Patricia Lester, City Solicitor and Director of Legal Services</p>
<p>Mac MacGillivray, Facilities and Energy Manager</p>
<p>David Potts, City Solicitor/Manager of Legal Services</p>
<p>Allan Seabrooke, Commissioner of Community Services</p>
<p>Sue Warrington, Manager, Arena Division</p>
<p>Brendan Wedley, Manager of Communication Services</p>
<p>Wayne Jackson, Commissioner of Infrastructure and Planning Services</p>
<br>
<p>The City Council meeting was called to order at 5:30 p.m. in the Council Chambers, City Hall.</p>
<p>Call to Order</p>
<p>Opening of Meeting</p>
<p>Thirty Seconds of Reflection</p>
<p>National Anthem</p>
<br>
<br>
<p>City Council minutes of September 10, 2018</p>
<p>That the City Council minutes of July 9 and 16, 2018 be approved.</p>
<p>Approval of Minutes:</p>
<p>Moved by Councillor Clarke Seconded by Councillor Parnell</p>
<p>Carried</p>
<p>Disclosure of Pecuniary Interest</p>
<p>Councillor Haacke declared an interest in Item 10 of General Committee Report No. 20 (Report IPSPD18-020, Application for Site Plan Approval, 475 George Street North, Seven Storey Building with 136 Dwelling Units (Atria), and Item 11 (Report IPSPD18- 022, Request for Minor Variance Consideration within 2 years of Zoning Amendment for 186 Romaine Street), as the property owners are clients of his.</p>
<p>Mayor Bennett declared an interest in Item 13 of General Committee Report No. 19 (Report IPSTR18-020, Award of Request for Proposals P-23-18 for Transit Route Review and Long Term Growth Strategy), as he is part owner of a taxi firm.</p>
<p>Registered Delegations</p>
<p>Herb Lambacher, President, HGC Management, made a delegation to Item 5 of General Committee Report No. 20 (Report IPSWM18-004 – Recycling Contract Update and Amendment).</p>
<p>Richard Taylor, made a delegation to Item 8 of General Committee Report No. 20 (Report IPSPD18-023 - Application for Official Plan Amendment O1802, Zoning By-law Amendment Z1704SB and Draft Plan of Subdivision Approval 15T-17501 "Ashborough Village" (Phase 1) YiZheng Ltd., The Biglieri Group Ltd., 2320 Ashburnham Drive, 2159 Old Norwood Road, 500, 510 and 516 Maniece Avenue).</p>
<p>Ann Farquharson, 469 Water Street, made a delegation to Item 4 of General Committee Report No. 20 (Report CSACH18-004 - Listing of Properties on the Heritage Register).</p>
<p>Marie Bongard, 461 Albert Street, made a delegation to Item 13 of General Committee Report No. 19 (Report IPSTR18-020 – Award of Request for Proposals P-23-28 for Transit Route Review and Long Term Growth Strategy).</p>
<p>Tim Barrie, Lakers Lacrosse Club, made a delegation to Item 9 of General Committee Report No. 20 (Report CLSFM18-021 – Increase to the Pre-commitment of the 2019 Capital Budget for the Peterborough Memorial Centre Ice Pad Replacement).</p>
<p>Robert Gibson, 630 Grange Way, made a delegation to Item 1 of General Committee Report No. 20 (Report CLSRE18-009 – City Purchase of Road Widening Lands along Pioneer Road from Trent University).</p>
<p>Councillor Riel left the meeting at 6:57 p.m. and returned at 6:59 p.m.</p>
<br>
<br>
<p>City Council minutes of September 10, 2018</p>
<p>Carey Gibson, Murray Street Baptist Church, made a delegation to Item 10 of General Committee Report No. 20 (Report IPSPD18-020 – Application for Site Plan Approval, 475 George Street North, Seven Storey Building with 136 Dwelling Units (Atria)).</p>
<p>Peg McCracken, Peterborough Singers, made a delegation to Item 10 of General Committee Report No. 20 (Report IPSPD18-020 – Application for Site Plan Approval, 475 George Street North, Seven Storey Building with 136 Dwelling Units (Atria)).</p>
<p>Ivan Bateman, 244 Rogers Street, made a delegation to Item 8 of General Committee Report No. 20 (Report IPSPD18-023 - Application for Official Plan Amendment O1802, Zoning By-law Amendment Z1704SB and Draft Plan of Subdivision Approval 15T-17501 "Ashborough Village" (Phase 1) YiZheng Ltd., The Biglieri Group Ltd., 2320 Ashburnham Drive, 2159 Old Norwood Road, 500, 510 and 516 Maniece Avenue).</p>
<p>Councillor Haacke left the meeting at 7:12 p.m. and returned at 7:14 p.m.</p>
<p>Lynn Hopkins, made a delegation to Item 13 of General Committee Report No. 19 (Report IPSTR18-020 – Award of Request for Proposals P-23-28 for Transit Route Review and Long Term Growth Strategy) and Item 8 of General Committee Report No. 20 (Report IPSPD18-023 - Application for Official Plan Amendment O1802, Zoning By- law Amendment Z1704SB and Draft Plan of Subdivision Approval 15T-17501 "Ashborough Village" (Phase 1) YiZheng Ltd., The Biglieri Group Ltd., 2320 Ashburnham Drive, 2159 Old Norwood Road, 500, 510 and 516 Maniece Avenue).</p>
<p>Councillor Baldwin left the meeting at 7:21 p.m. and returned at 7:22 p.m.</p>
<p>Unregistered Delegations</p>
<p>Debbie Jenkins, student, Trent University, made a delegation to item 1, of General Committee Report No. 20 (Report CLSRE18-009, City Purchase of Road Widening Lands along Pioneer Road from Trent University) and By-laws 18-078 and 18-079.</p>
<p>Bill Ayotte, 177 Douro St., made a delegation to Item 13 of General Committee Report No. 19 (Report IPSTR18-020 – Award of Request for Proposals P-23-28 for Transit Route Review and Long Term Growth Strategy) and Item 8 of General Committee Report No. 20 (Report IPSPD18-023 - Application for Official Plan Amendment O1802, Zoning By-law Amendment Z1704SB and Draft Plan of Subdivision Approval 15T-17501 "Ashborough Village" (Phase 1) YiZheng Ltd., The Biglieri Group Ltd., 2320 Ashburnham Drive, 2159 Old Norwood Road, 500, 510 and 516 Maniece Avenue).</p>
<p>Graham Mares, Stormount Street, made a delegation to Item 13 of General Committee Report No. 19 (Report IPSTR18-020 – Award of Request for Proposals P-23-28 for Transit Route Review and Long Term Growth Strategy) and Item 8 of General Committee Report No. 20 (Report IPSPD18-023 - Application for Official Plan Amendment O1802, Zoning By-law Amendment Z1704SB and Draft Plan of Subdivision Approval 15T-17501 "Ashborough Village" (Phase 1) YiZheng Ltd., The Biglieri Group Ltd., 2320 Ashburnham Drive, 2159 Old Norwood Road, 500, 510 and 516 Maniece Avenue).</p>
<br>
<br>
<br>
<p>City Council minutes of September 10, 2018</p>
<p>Moved by Councillor Pappas Seconded by Councillor Baldwin</p>
<p>That the duration of unregistered delegations be extended from 20 minutes to 32 minutes.</p>
<p>Carried</p>
<p>Samantha Mederos, 463 Stewart Street, made a delegation to Item 13 of General Committee Report No. 19 (Report IPSTR18-020 – Award of Request for Proposals P- 23-28 for Transit Route Review and Long Term Growth Strategy) and Item 8 of General Committee Report No. 20 (Report IPSPD18-023 - Application for Official Plan Amendment O1802, Zoning By-law Amendment Z1704SB and Draft Plan of Subdivision Approval 15T-17501 "Ashborough Village" (Phase 1) YiZheng Ltd., The Biglieri Group Ltd., 2320 Ashburnham Drive, 2159 Old Norwood Road, 500, 510 and 516 Maniece Avenue).</p>
<p>Richard Whitney, Peterborough, spoke to all matters on the agenda.</p>
<p>General Committee Report No. 19</p>
<p>General Committee meeting of August 20, 2018</p>
<p>Moved by Councillor Beamer</p>
<p>Seconded by Councillor Haacke</p>
<p>That General Committee Report No. 19 be approved.</p>
<p>Item 13 – Report IPSTR18-20, Award of Request for Proposals P-23-18 for Transit Route Review and Long Term Growth Strategy</p>
<p>Due to his previously declared interest, the Mayor did not discuss or vote on the matter.</p>
<p>Upon item 13, the motion carried.</p>
<p>Upon main motion less item 13, the motion carried.</p>
<p>General Committee Report No. 20</p>
<p>General Committee meeting of August 27, 2018</p>
<p>Moved by Councillor Beamer Seconded by Councillor Haacke</p>
<p>That General Committee Report No. 20 be approved.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council minutes of September 10, 2018</p>
<p>Councillor Therrien left the meeting at 8:03 p.m. and returned at 8:04 pm</p>
<p>Item 5 – Report IPSWM18-004, Recycling Contract Update and Amendment</p>
<p>Moved by Councillor Beamer Seconded by Councillor Pappas</p>
<p>That this item be deferred to staff for further review.</p>
<p>Carried</p>
<p>Councillor Beamer left the meeting at 8:05 p.m. and returned at 8:07 pm</p>
<p>Item 1 – Report CLSRE18-009, City Purchase of Road Widening Lands along Pioneer Road from Trent University</p>
<p>Upon Item 1, the motion carried.</p>
<p>Item 4 – Report CSACH18-004, Listing of Properties on the Heritage Register</p>
<p>Upon Item 4, the motion carried.</p>
<p>Item 7 – Report CLSFS18-035, City of Peterborough Holdings Inc. Presentation</p>
<p>Resolutions a, b, and e carried.</p>
<p>Councillor Riel requested a recorded vote on Resolutions c and d, and the Clerk conducted a roll call.</p>
<p>Report CLSFS18-035, City of Peterborough Holdings Inc. – Resolution c)</p>
<p>In Support of Motion Councillor Clarke Councillor Haacke Councillor Beamer Councillor Parnell Councillor Vassiliadis Councillor McWilliams Mayor Bennett</p>
<p>Opposed to Motion Councillor Pappas Councillor Baldwin Councillor Therrien Councillor Riel</p>
<br>
<p>Carried</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council minutes of September 10, 2018</p>
<p>Report CLSFS18-035, City of Peterborough Holdings Inc. – Resolution d)</p>
<p>In Support of Motion Councillor Clarke Councillor Haacke Councillor Beamer Councillor Parnell Councillor Vassiliadis Councillor McWilliams Mayor Bennett</p>
<p>Opposed to Motion Councillor Pappas Councillor Baldwin Councillor Therrien Councillor Riel</p>
<br>
<p>Carried</p>
<p>Item 8 – Report IPSPD18-023, Application for Official Plan Amendment O1802, Zoning By-law Amendment Z1704SB and Draft Plan of Subdivision Approval 15T-17501 “Ashborough Village (Phase 1)</p>
<p>Moved by Councillor Baldwin Seconded by Councillor Riel</p>
<p>That the Ashborough Village application be deferred until:</p>
<p>a)</p>
<p>Staff completes a transportation review of the area east of the Trent Severn Waterway, north of Lansdowne St, to address broader transportation needs, and in particular movement across the Trent Severn Waterway;</p>
<p>That Staff present to new council detailed costs and impacts to the taxpayer in future operating and capital budgets, prior to approving this development; and,</p>
<p>Staff complete a Secondary Plan for the liftlock planning area prior to approval of this subdivision.</p>
<p>Councillor Baldwin requested a recorded vote and the Clerk conducted a roll call.</p>
<p>In Support of Motion Councillor Riel Councillor Therrien Councillor Baldwin</p>
<br>
<br>
<p>Motion Lost</p>
<p>Opposed to Motion Councillor McWilliams Councillor Vassiliadis Councillor Parnell Councillor Beamer Councillor Pappas Councillor Haacke Councillor Clarke Mayor Bennett</p>
<br>
<br>
<br>
<br>
<p>b)</p>
<p>c)</p>
<br>
<p>City Council minutes of September 10, 2018</p>
<p>At the meeting of September 10, 2018, Council added i) and j) as follows:</p>
<p>That the East Side Transportation Study be sufficient drafted to the point that it has been determined that no significant changes are required to the draft Plan of Subdivision, to the satisfaction of the Commissioner of Infrastructure and Planning.</p>
<br>
<p>That the first paragraph of Condition No. 60, of the draft plan of Subdivision Approval, Schedule 1 of Report IPSPD18-023, be amended to include “and that the Owner shall hold at least one public meeting” to provide information about the reports describing/containing</p>
<p>The Chair called for a brief recess at 9:03 p.m. and Council reconvened at 9:17 p.m.</p>
<p>Upon item 8 as amended, the motion carried.</p>
<p>Item 10 – Report IPSPD18-020, Application for Site Plan Approval, 475 George Street North, Seven Storey Building with 136 Dwelling Units (Atria)</p>
<p>Councillor Haacke, due to his previously declared interest, did not discuss or vote on the matter.</p>
<p>At the meeting of September 10, 2018, Council added item g) as follows:</p>
<p>g)</p>
<p>That staff report to council in early 2019 on possible parking solutions in the area of Murray Street Baptist Church.</p>
<p>Upon item 10, the motion carried.</p>
<p>Item 11 – Report IPSPD18-022, Request for Minor Variance Consideration within 2 years of Zoning Amendment for 186 Romaine Street</p>
<p>Councillor Haacke, due to his previously declared interest, did not discuss or vote on the matter.</p>
<p>Upon item 11, the motion carried.</p>
<p>Upon items 2, 3, 6, 12, 13, the motion carried.</p>
<br>
<br>
<p>i)</p>
<p>j)</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council minutes of September 10, 2018</p>
<p>Item 9 – Report CLSFM18-021, Increase to the Pre-commitment of the 2019 Capital Budget for the Peterborough Memorial Centre Ice Pad Replacement</p>
<p>At the meeting of September 10, 2018, Council added item c) as follows:</p>
<p>c)  That staff report to Council in early 2019 on the status of the Memorial</p>
<p>Centre repairs.</p>
<p>Moved by Councillor Pappas, seconded by Councillor Haacke</p>
<p>That the Rules of Order be suspended to extend hour of the meeting past 10:00 p.m. to complete the agenda.</p>
<p>Carried</p>
<p>Moved by Councillor Riel</p>
<p>Seconded by Councillor Therrien</p>
<p>That the matter be deferred to obtain another opinion on the repair of the floor.</p>
<p>Councillor Riel requested a recorded vote and the Clerk conducted a roll call.</p>
<p>Opposed to Motion Councillor Haacke Mayor Bennett</p>
<br>
<br>
<br>
<p>In Support of Motion Councillor Clarke Councillor Pappas Councillor Beamer Councillor Baldwin Councillor Parnell Councillor Vassiliadis Councillor McWilliams Councillor Therrien Councillor Riel</p>
<p>Carried</p>
<p>In addition to the deferral motion, Council confirmed the following direction to staff:</p>
<p>a)</p>
<br>
<p>That the matter be deferred to obtain another opinion on the repair of the floor: and,</p>
<p>Subject to the additional report findings on the repairs being consistent with the original findings:</p>
<p>i)</p>
<p>That staff be directed to proceed with repairs to the Memorial Centre floor in 2019, as identified in Report CLSFM18-021.</p>
<br>
<br>
<br>
<br>
<p>City Council minutes of September 10, 2018</p>
<p>ii)</p>
<p>That the pre-committed 2019 Capital Budget for the Peterborough Memorial Centre Ice Pad Replacement be increased by $1,500,000 from $2,000,000 to $3500000, subject to the additional report findings on the repairs at the Memorial Centre be consistent with the original findings.</p>
<p>iii)      That staff compensate the Lakers for the value of the ticket</p>
<p>sales, using a common accounting standard, typically received during an average season at the Peterborough Memorial Centre during the last 3 years, less ticket sales at an alternative venue in 2019.</p>
<p>iv)       That staff report to Council in early 2019 on the status of the</p>
<p>Memorial Centre repairs</p>
<p>Carried</p>
<p>General Committee Report No. 21</p>
<p>Special General Committee meeting of September 10, 2018</p>
<p>Moved by Councillor Beamer Seconded by Councillor Haacke</p>
<p>That General Committee Report No. 21 be approved.</p>
<p>Carried</p>
<p>Notice of Motion</p>
<p>There were no Notices of Motion.</p>
<p>Approval of By-laws:</p>
<p>Moved by Councillor Parnell Seconded by Councillor McWilliams</p>
<p>That the following by-laws be read a first, second and third time:</p>
<p>18-076</p>
<p>18-077</p>
<p>Being a By-law to appoint members to the City of Peterborough Election Compliance Audit Committee for the 2018 Municipal Election</p>
<p>Being a By-law to Amend By-law 1981-165, Being a By-law to designate certain properties in the City Of Peterborough Under the Ontario Heritage Act, R.S.O. 1990,  c. O.18</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council minutes of September 10, 2018</p>
<p>18-078</p>
<p>18-079</p>
<p>18-080</p>
<p>18-081</p>
<p>18-082</p>
<p>Being a By-law to authorize the acquisition of the lands being legally described as Part of Lot 5, Concession 10, designated as Part 2 on 45R-16648 and Part of Lot 6, Concession 10, designated as Part 3 on 45R-16648, in the Geographic Township of Douro, now in the City of Peterborough, in the County of Peterborough</p>
<p>Being a By-law to establish certain lands in the City of Peterborough as part of the Public Highway named Pioneer Road</p>
<p>Being a By-law to adopt Amendment No. 178 to the Official Plan of the City of Peterborough for certain lands within the Lift Lock Planning Area</p>
<p>Being a By-law to amend the Zoning By-law for the property known as 2159 Old Norwood Road</p>
<p>Being a By-law to Amend By-law 11-082, to delegate a part of Council’s Authority with respect to Plans of Subdivision, Plans of Condominium and Part Lot Control pursuant to the Planning Act</p>
<p>18-083</p>
<p>Being a By-law to amend By-law number 09-136 being a By-law for the Regulation of Parking</p>
<p>18-084</p>
<p>Being a By-law to govern procurement policies</p>
<p>18-085</p>
<p>Being a By-law to authorize the acquisition of land and premises municipally known as 550 The Kingsway, in the City of Peterborough, in the County of Peterborough</p>
<p>and the said by-laws having been read now a third time and passed, the Mayor and Clerk be authorized to sign and seal the same.</p>
<p>Carried</p>
<p>Other Business</p>
<p>There were no items of Other Business.</p>
<p>Confirmation By-law:</p>
<p>Moved by   Councillor Parnell Seconded by Councillor McWilliams</p>
<br>
<br>
<br>
<p>18-086</p>
<p>Being a by-law to confirm the proceedings of Council at its meeting held on September 10, 2018</p>
<p>and the said by-law, having been read a third time and passed, the Mayor and Clerk be authorized to sign and seal the same.</p>
<p>Carried</p>
<p>City Council minutes of September 10, 2018</p>
<p>Adjournment</p>
<p>Moved by Councillor Pappas Seconded by Councillor Clarke</p>
<p>That this meeting of City Council adjourn at 10:51 p.m.</p>
<p>Carried</p>
<p>_________________________</p>
<p>_________________________</p>
<p>John Kennedy</p>
<p>City Clerk</p>
<p>Daryl Bennett</p>
<p>Mayor</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council minutes of September 10, 2018</p>
<p>General Committee Report No. 19</p>
<p>Meeting of August 20, 2018</p>
<p>To the Council of The City of Peterborough for consideration at its meeting held September 10, 2018</p>
<p>The General Committee as a result of its special meeting held on August 20, 2018 recommends as follows:</p>
<p>1.  Amending Agreement Between City and County of Peterborough for</p>
<p>Consolidated Municipal Services Report CAO18-005</p>
<p>That Council approve the recommendation outlined in Report CAO18-005, dated August 20, 2018, of the Chief Administrative Officers from the City and County of Peterborough, as follows:</p>
<p>That Council approve an amending agreement between the City and County of Peterborough for consolidated municipal services that extends the current agreement for one year until December 31, 2019 and maintains the existing cost sharing formulas.</p>
<br>
<p>2.</p>
<p>2018 to 2022 Accessibility Plan Report CAO18-006</p>
<p>That Council approve the recommendation outlined in Report CAO18-006 dated August 20, 2018 of the Chief Administrative Officer as follows:</p>
<p>That the City of Peterborough 2018 to 2022 Accessibility Plan, as set out in Appendix A to Report CAO18-006, be approved.</p>
<p>3.  Manufacturer’s Limited Liquor Sales Licence Black’s Distillery, 99 Hunter</p>
<p>Street East, Peterborough Report CLSCLK18-016</p>
<p>That Council approve the recommendation outlined in Report CLSCLK18-016, dated August 20, 2018 of the Commissioner of Corporate and Legislative, as follows:</p>
<p>That The Corporation of the City of Peterborough supports the application of Black’s Distillery, for a Manufacture’s Limited Liquor Sales Licence (By the Glass).</p>
<br>
<br>
<br>
<br>
<br>
<p>City Council minutes of September 10, 2018</p>
<p>4.  Peterborough Downtown Business Improvement Area Interim Appointments</p>
<p>Report CLSCLK18-013</p>
<p>That Council approve the recommendation outlined in Report CLSCLK18-013 dated August 20, 2018, of the Commissioner of Corporate and Legislative Services, as follows:</p>
<p>That Michael Cherney, Michael Gallant, Paul Bennett, Teagan Moss, Sam Sayer, Jean Grant, Brad Collyer, and Sacha Lai-Svirk be appointed with interim approval to the Peterborough Downtown Business Improvement Area Board of Directors, for a term from October 1, 2018 to March 31, 2019.</p>
<p>5.  Citizen Appointments – Extension of Terms</p>
<p>Report CLSCLK18-015</p>
<p>That Council approve the recommendation outlined in Report CLSCLK18-015, dated August 20, 2018, of the Commissioner of Corporate and Legislative Services, as follows:</p>
<p>That the term of citizen appointments made by Council to various Boards and Committees due to expire on November 30, 2018, be extended to March 1, 2019.</p>
<br>
<p>6.  Winter Services – Update Report</p>
<p>Report IPSPW18-009</p>
<p>That Council approve the recommendation outlined in Report IPSPW18-009 dated August 20, 2018, of the Commissioner of Infrastructure and Planning Services, as follows:</p>
<p>That six existing Summer Seasonal Operators and six existing winter seasonal Operators be converted to six Full-Time Operators and that the $54,774 cost of this action be included in the 2019 operating budget.</p>
<p>7.  Delegated Subdivision Approval Authority Activity for 2017</p>
<p>Report IPSPD18-021</p>
<p>That Council approve the recommendations outlined in Report IPSPD18-021 dated August 20, 2018, of the Commissioner of Infrastructure and Planning Services, as follows:</p>
<p>a)  That By-law 11-082 regarding the Delegated Subdivision Approval Authority be amended by changing the word “Director” to “Commissioner” throughout; and</p>
<br>
<br>
<br>
<br>
<p>City Council minutes of September 10, 2018</p>
<p>b)  That Report IPSPD18-021 be received for information.</p>
<p>8.  Peterborough & the Kawarthas Economic Development 2018 Second Quarter</p>
<p>Report Report PKED18-003</p>
<p>That Council approve the recommendation outlined in Report PKED18-003 dated August 20, 2018 of the Board Chair and President & CEO of Peterborough & the Kawarthas Economic Development, as follows:</p>
<p>That Report PKED18-003 and supporting presentation, providing the Peterborough & the Kawarthas Economic Development 2018 Second Quarter Report be received.</p>
<br>
<p>9.</p>
<p>Low Impact Development Guidelines Report IPSEC18-014</p>
<p>That Council approve the recommendations outlined in Report IPSEC18-014 dated August 20, 2018 of the Commissioner of Infrastructure and Planning Services as follows:</p>
<p>a)   That the presentation on the proposed Low Impact Development Guidelines</p>
<p>be received; and</p>
<p>b)   That the City of Peterborough Engineering Design Standards be updated to</p>
<p>incorporate portions of Low Impact Development practices as described in Appendices A and B of Report IPSIP18-014.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council minutes of September 10, 2018</p>
<p>10.  Establishment of a Compliance Audit Committee</p>
<p>Report CLSCLK18-012</p>
<p>That Council approve the recommendation outlined in Report CLSCLK18-012, dated August 20, 2018, of the City Clerk as follows:</p>
<p>That a by-law be passed to establish a Compliance Audit Committee for the period from December 1, 2018 to November 15, 2022 and be comprised of the following individuals:</p>
<p>Steven Brickell Mauro DiCarlo Bob Fisher Brian Horton Dave McFadden Sylvia Sutherland</p>
<p>11.  Approval of Single Source Consulting Assignment for Design, Tender and</p>
<p>Contract Administration Services for the Peterborough Airport Reservoir Expansion Report IPSAIR18-006</p>
<p>That Council approve the recommendations outlined in Report IPSAIR18-006 dated August 20, 2018, of the Commissioner of Infrastructure and Planning Services, as follows:</p>
<p>a)   That Council approve the award of a single source consulting assignment for</p>
<p>the design, tender and contract administration for expansion of the existing fire water reservoir at the Peterborough Airport to WSP at a cost of $550,000 plus $71,500 for a total of $621,500;</p>
<p>b)   That a contingency fund of $80,000 be authorized to the Purchase Order and</p>
<p>the Commissioner of Infrastructure and Planning Services be delegated authority to adjust the Purchase Order to an upset limit of $630,000 plus HST of $81,900 for a total upset limit of $711,900; and</p>
<p>c)   That $39,750 be approved to cover project expenses including staff salary.</p>
<p>12.  Parking for Visitor Centre and Delegation of Authority to Designate</p>
<p>Municipal Law Enforcement Officers Report IPSTR18-019</p>
<p>That Council approve the recommendations outlined in Report IPSTR18-019 dated August 20, 2018, of the Commissioner of Infrastructure and Planning Services, as follows:</p>
<br>
<br>
<br>
<br>
<p>City Council minutes of September 10, 2018</p>
<p>a)   That the two hour parking on Water Street from Brock Street to Sherbrooke</p>
<p>Street, be amended to apply from Brock Street to King Street;</p>
<p>b)   That 30 minutes free parking be implemented;</p>
<p>•  on the west side of Water Street between King Street and Sherbrooke</p>
<p>Street; and</p>
<p>•  on the east side of George Street from a point 15 metres south of King</p>
<p>Street for a distance of 15 metres further south;</p>
<p>c)   That the City Clerk be delegated authority to appoint persons as Municipal</p>
<p>Law Enforcement Officers for the purpose of issuing Parking Infraction Notices on private property; and</p>
<p>d)  That the appropriate Schedules and Articles of Parking By-law 09-136 be</p>
<p>amended to authorize implementation of Recommendations a) thru c).</p>
<p>13.  Award of Request for Proposals P-23-18 for Transit Route Review and Long</p>
<p>Term Growth Strategy Report IPSTR18-020</p>
<p>That Council approve the recommendations outlined in Report IPSTR18-020, dated August 20, 2018 of the Commissioner of Infrastructure and Planning Services, as follows:</p>
<p>a)   That Request for Proposals P-23-18 for Transit Route Review and Long</p>
<p>Term Growth Strategy, be awarded to IBI Group, 55 St. Clair Avenue West, 7th Floor, Toronto, ON M4V 2Y7 for an cost of $353,587.00 plus HST of $45,966.31 for a total cost of $399,553.31; and</p>
<p>b)   That a contingency fund of $60,000.00 be authorized to the Purchase Order and the Commissioner of Infrastructure and Planning Services be delegated authority to adjust the Purchase Order to an upset limit of $413,587.00 plus HST of $456,053.31, if required.</p>
<p>14.  Traffic Signals at Fairbairn Street and Highland Road</p>
<p>Report IPSTR18-021</p>
<p>That Council approve the recommendation outlined in Report USTR18-021 dated August 20, 2018, of the Commissioner of Infrastructure and Planning Services, as follows:</p>
<p>That Traffic Signals be installed at the intersection of Fairbairn Street and Highland Road.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council minutes of September 10, 2018</p>
<p>15.  Summerhill Drive / Rosehill Drive Traffic Operational Review</p>
<p>Report IPSTR18-022</p>
<p>That Council approve the recommendation outlined in Report IPSTR18-022 dated August 20, 2018, of the Commissioner of Infrastructure and Planning Services, as follows:</p>
<p>That Stop Control be implemented on Rosehill Drive at the intersection of Summerhill Drive and Rosehill Drive.</p>
<p>Submitted by,</p>
<p>Councillor Beamer</p>
<p>Chair</p>
<p>August 20, 2018</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council minutes of September 10, 2018</p>
<p>General Committee Report No. 20</p>
<p>Meeting of August 27, 2018</p>
<p>To the Council of The City of Peterborough for consideration at its meeting held September 10, 2018</p>
<p>The General Committee as a result of its special meeting held on August 27, 2018 recommends as follows:</p>
<p>1.  City Purchase of Road Widening Lands along Pioneer Road from Trent</p>
<p>University Report CLSRE18-009</p>
<p>That Council approve the recommendations outlined in Report CLSRE18-009 dated August 27, 2018 of the Commissioner of Corporate and Legislative Services, as follows:</p>
<p>a)   That a by-law be passed to authorize the acquisition of lands for road</p>
<p>widening on the north and south side of Pioneer Road from University Road to the Douro 9th Line (legally described as Part of Lot 5, Concession 10, designated as Part 2 on 45R-16648 (“Part 2”) and Part of Lot 6, Concession 10, designated as Part 3 on 45R-16648 (“Part 3”), in the Geographic Township of Douro, now in the City of Peterborough, as shown on Appendix “A” attached, from Trent University); and</p>
<p>b)   That a by-law be passed to dedicate Parts 1, 2 and 3 on 45R-16648, in the</p>
<p>City of Peterborough, as part of the public highway named Pioneer Road.</p>
<p>2.  Purchasing Policy By-law Update</p>
<p>Report CLSFS18-037</p>
<p>That Council approve the recommendations outlined in Report CLSFS18-037 dated August 27, 2018, of the Commissioner of Corporate and Legislative Services, as follows:</p>
<p>a)  That the Purchasing Policy By-Law 14-127 be repealed effective November</p>
<p>1, 2018.</p>
<p>b)  That the new Purchasing Policy By-law appended to Report CLSFS18-037</p>
<p>as Appendix B be approved and take effect November 1, 2018; and</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council minutes of September 10, 2018</p>
<p>c)</p>
<p>That the summary of Bids awarded under By-law 14-127 be received for information.</p>
<p>3.</p>
<p>June 30, 2018 Financial Report (Unaudited) Report CLSFS18-036</p>
<p>That Council approve the recommendations outlined in Report CLSFS18-036 dated August 27, 2018, of the Commissioner of Corporate and Legislative Services, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>That the June Quarterly Financial Report (unaudited) attached as Appendix A to Report CLSFS18-036, dated August 27, 2018, be received;</p>
<p>That various City contracts be amended to reflect the minimum wage increase and associated additional costs resulting from the Fair Workplaces, Better Jobs Act, 2017, as outlined in the following table:</p>
<p>Vendor</p>
<p>Purpose</p>
<p>Contract</p>
<p>Ref</p>
<p>P-26-15</p>
<p>Securitas Canada Limited P-61-15  Outland Carillion</p>
<p>P-21-07  HGC</p>
<p>Management Inc.</p>
<p>Parking Security</p>
<p>Custodial Services Recycling Processing</p>
<p>Existing Contract (excluding</p>
<p>HST)</p>
<p>Increase to</p>
<p>Contract (excluding</p>
<p>HST)</p>
<p>New</p>
<p>Contract (excluding</p>
<p>HST)</p>
<p>New</p>
<p>Contract (including</p>
<p>HST)</p>
<p>643,969.30</p>
<p>128,204.70</p>
<p>772,174.00</p>
<p>872,556.62</p>
<p>502,666.86</p>
<p>137.608.03</p>
<p>640.274.89</p>
<p>723,510.63</p>
<p>1,379,490.00</p>
<p>$23,424.00  1,407,914.00  1,590,942.82</p>
<p>c)</p>
<p>That, as a matter of housekeeping, in accordance with the recommendations of Report USDIR18-002 – Transportation Planning and The Parkway, sources of capital funding be replaced in the 2018 Capital Budget as follows:</p>
<p>(i)  That $938,900 in capital levy from Enterprise Software Modernization</p>
<p>Project (Project 3-4.02) be replaced with tax-supported debentures from the Parkway Corridor Extension Project (2015 Capital Budget Project 5- 2.01); and</p>
<p>(ii)  That $600,000 in capital levy from Traffic Signal Controller Replacement</p>
<p>Program (Project 5-13.01) be replaced with tax-supported debentures from the Parkway Corridor Extension Project (2015 Capital Budget Project 5-2.01).</p>
<br>
<br>
<br>
<br>
<br>
<p>City Council minutes of September 10, 2018</p>
<p>d)  That By-laws 14-008 and 15-023 being by-laws to debenture the Parkway Corridor Extension be repealed and replaced as per the amended budgets resulting from Recommendation (c) in Report USDIR18-002 and further detailed in Chart 4 of Report CLSFS18-036.</p>
<br>
<p>4.</p>
<br>
<p>Listing of Properties on the Heritage Register Report CSACH18-004</p>
<p>That Council approve the recommendations outlined in Report CSACH18-004, dated August 27, 2018, of the Commissioner of Community Services, as follows:</p>
<p>a)   That the recommendation of the Peterborough Architectural Conservation</p>
<p>Advisory Committee (PACAC), that the properties included in Appendix A of this report be listed on the City’s Register of Heritage Properties as being of cultural heritage value or interest be approved; and,</p>
<p>b)   That the City Clerk be authorized to keep available for viewing by the public a current copy of the Register to be updated at regular intervals by the Heritage Preservation Office as approved by Council.</p>
<p>5.  Recycling Contract Update and Amendment</p>
<p>Report IPSWM18-004</p>
<p>That Council approve the recommendations outlined in Report IPSWM18-004, dated August 27, 2018, of the Commissioner of Infrastructure and Planning as follows:</p>
<p>a)   That the following adjustments to the existing HGC Management Inc.</p>
<p>contract with the City for the processing of recyclable materials at the Pido Road Recycling facility be made for the period January 1, 2018 to June 30, 2018 inclusive:</p>
<p>•  The processing fee for recyclable material be increased by $1.86 per</p>
<p>tonne for a total increase of $7,824.54 and, in addition;</p>
<p>•  The contract be increased by $8,000.00 to account for container</p>
<p>recyclable materials collected in bags.</p>
<p>b)   That staff have quarterly inbound material audits undertaken at the Materials</p>
<p>Recycling Facility on Pido Road to determine the City curb-side collected:</p>
<p>•  Residue level; •  Cross contamination level; and</p>
<br>
<br>
<br>
<br>
<p>City Council minutes of September 10, 2018</p>
<p>•  Bagged container level in the blue boxes; and</p>
<br>
<p>c)   That Staff make future adjustments to the HGC Contract, using the verified</p>
<p>results of quarterly audits to be completed over the remainder of the contract based on the adjustment factors described in Attachment 4 to Report IPSWM18-004.</p>
<p>At the meeting of September 10, 2018 Council adopted the following motion:</p>
<p>That this item be deferred to staff for further review.</p>
<p>6.  Update on Source Separated Organics Program - Grant Funding and next</p>
<p>steps Report IPSCOM18-012</p>
<p>That Council approve the recommendation outlined in Report IPSCOM18-012 dated August 27, 2018, of the Commissioner of Infrastructure and Planning Services, as follows:</p>
<p>That Report IPSCOM18-012 updating Council on the Source Separated Organics Program Grant Funding and Next Steps be received for information.</p>
<p>7.  City of Peterborough Holdings Inc. Presentation</p>
<p>Report CLSFS18-035</p>
<p>That Council approve the recommendations outlined in Report CLSFS18-035, dated August 27, 2018, of the Commissioner of Corporate and Legislative Services, as follows:</p>
<p>a)   That the City of Peterborough Holdings Inc. (COPHI) presentation be</p>
<p>received;</p>
<p>b)   That the 2017 Annual Report and Consolidated Financial Statements of the</p>
<p>City of Peterborough Holdings Inc. for the fiscal year ended December 31, 2017, attached as Appendix A to Report CLSFS18-035, be received;</p>
<p>c)   That the election of the following persons as Directors of COPHI be and the</p>
<p>same are hereby confirmed for the terms set out in prior resolutions of the Council of the Corporation of the City of Peterborough: Arlynn Dupuis, David Bignell, David Paterson, Ross Garland, Dan McWilliams, Scott Baker, Louise Lalonde, Nancy Brown Andison, and Daryl Bennett;</p>
<p>d)   That the election of the following person as Director of Peterborough</p>
<p>Distribution Inc. be and the same are hereby confirmed for the term set out in</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council minutes of September 10, 2018</p>
<p>prior resolutions of the Council of the Corporation of the City of Peterborough: Bryan Weir; and</p>
<p>e)   That Collins Barrow Kawarthas LLP, Chartered Accountants, are hereby</p>
<p>appointed auditors of the Corporation, until the next annual resolution of the Shareholder is signed or until their successors are duly appointed.</p>
<p>8.  Application for Official Plan Amendment O1802, Zoning By-law Amendment</p>
<p>Z1704SB and Draft Plan of Subdivision Approval 15T-17501 "Ashborough Village" (Phase 1) YiZheng Ltd., The Biglieri Group Ltd. 2320 Ashburnham Drive, 2159 Old Norwood Road, 500, 510 and 516 Maniece Avenue Report IPSPD18-023</p>
<p>That Council approve the recommendations outlined in Report IPSPD18-023 dated August 27, 2018, of the Commissioner of Infrastructure and Planning Services as follows:</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>d)</p>
<p>That the Official Plan be amended by adding Schedule ‘S’ – Lift Lock Secondary Land Use Plan, attached to Report IPSPD18-023 as Schedule ‘A’ of Exhibit B.</p>
<p>That Schedules “A” – Land Use, “B”- Roadway Network, “C” – Natural Areas & Flood Plain, “D” – Development Areas, “E” – Residential Density, and “F” – Key Map to Secondary Land Use Plans of the Official Plan be amended in accordance with Exhibit B of Report IPSPD18-023 in order to reflect the land use planning objectives of the Lift Lock Secondary Land Use Plan.</p>
<p>That Section 10 - Secondary Plans of the Official Plan be amended in accordance with Exhibit B of Report IPSPD18-023.</p>
<p>That Draft Plan of Subdivision Approval for Plan 15T-17501 (Phase 1), Project No. 16383, Drawing No.: DP-01 dated March 10, 2017 and revised July 20, 2018 by The Biglieri Group Ltd., be granted, subject to the Conditions of Draft Plan Approval attached to Report IPSPD18-023, as Schedule 1.</p>
<p>e)</p>
<p>That Section 3.9 Exceptions of Zoning By-law 97-123 be amended by adding exceptions 325 and 326 in accordance with Exhibit C of Report IPSPD18-023.</p>
<p>f)</p>
<p>That the subject property be rezoned from R1 (Otonabee) to R.1-“H”, R.1,1r,2r-“H”, R.1,1o,2o-“H”, SP.366,3n-318-“H”, R.1-325-“H”, R.1,1r,2r-</p>
<br>
<p>City Council minutes of September 10, 2018</p>
<p>325-“H”, R.1,1o,2o-325-“H”, SP.366,3n-318-325-“H”, SP.365-326 – Residential Districts, OS.1, and OS.2 – Open Space Districts in accordance with the Draft Plan of Subdivision and Exhibit C of Report IPSPD18-023.</p>
<p>That a budget of $250,000.00 be included in the 2019 Capital Budget for the completion of an East Side Transportation Study and be pre- committed.</p>
<p>That staff report to Committee in the spring of 2019 on the status of the Transportation Plan, the Commercial Block, the Environmental Impact and, opportunities for public art.</p>
<p>At the meeting of September 10, 2018, Council added items i) and j) as follows:</p>
<p>That the East Side Transportation Study be sufficient drafted to the point that it has been determined that no significant changes are required to the draft Plan of Subdivision, to the satisfaction of the Commissioner of Infrastructure and Planning.</p>
<p>That the first paragraph of Condition No. 60, of the draft plan of Subdivision Approval, Schedule 1 of Report IPSPD18-023, be amended to include “and that the Owner shall hold at least one public meeting” to provide information about the reports describing/containing</p>
<p>9.</p>
<p>Increase to the Pre-commitment of the 2019 Capital Budget for the Peterborough Memorial Centre Ice Pad Replacement</p>
<p>Report CLSFM18-021</p>
<p>In addition to the deferral motion, Council confirmed the following direction to staff:</p>
<p>That the matter be deferred to obtain another opinion on the repair of the floor: and,</p>
<p>Subject to the additional report findings on the repairs being consistent with the original findings:</p>
<p>i)</p>
<p>ii)</p>
<p>That staff be directed to proceed with repairs to the Memorial Centre floor in 2019, as identified in Report CLSFM18-021.</p>
<p>That the pre-committed 2019 Capital Budget for the Peterborough Memorial Centre Ice Pad Replacement be increased by $1,500,000 from $2,000,000 to $3500000, subject to the additional report findings on the repairs at the Memorial Centre be consistent with the original findings.</p>
<p>g)</p>
<p>h)</p>
<p>i)</p>
<br>
<p>j)</p>
<br>
<br>
<p>a)</p>
<br>
<br>
<br>
<br>
<br>
<p>City Council minutes of September 10, 2018</p>
<p>iii)</p>
<p>That staff compensate the Lakers for the value of the ticket sales, using a common accounting standard, typically received during an average season at the Peterborough Memorial Centre during the last 3 years, less ticket sales at an alternative venue in 2019.</p>
<p>iv)       That staff report to Council in early 2019 on the status of the</p>
<p>Memorial Centre repairs</p>
<p>10.   Application for Site Plan Approval, 475 George Street North, Seven Storey</p>
<br>
<p>Building with 136 Dwelling Units (Atria)</p>
<p>Report IPSPD18-020</p>
<p>That Council approve the recommendations outlined in Report IPSPD18-020 dated August 27, 2018, of the Commissioner of Infrastructure and Planning Services, as follows:</p>
<p>That the Site Plan Application submitted by George and Murray Development Corporation for the construction of a seven storey building with 136 dwelling units at 475 George Street North be approved, subject to the following conditions:</p>
<p>a)   The submission of revised drawings and additional technical information to</p>
<p>the satisfaction of the Commissioner of Infrastructure and Planning Services;</p>
<p>b)  The deposit of site work performance security in the amount of $200,000.00 related to modifications to the Brock Street Parking Lot and the construction of on-site features;</p>
<p>c)   The deposit of performance security in the amount of $300,000.00 related to the reconstruction of sidewalk and streetscape features on the abutting road allowances;</p>
<p>d)   The submission of the Building Permit Application set of drawings to the Peterborough Architectural Advisory Committee for approval before the issuance of a Building Permit;</p>
<p>e)   The execution of a Lease Agreement for the reconfiguration of the existing</p>
<p>parking lot and exclusive use of 88 parking spaces on the Brock Street Municipal Parking Lot to the satisfaction of the Commissioner of Corporate and Legislative Services and the Commissioner of Infrastructure and Planning Services; and</p>
<p>f)   That future lease payments accruing to the City related to parking from</p>
<p>implementation of the Lease Agreement be directed to the Parking Reserve Fund.</p>
<br>
<br>
<br>
<p>City Council minutes of September 10, 2018</p>
<p>At the meeting of September 10, 2018, Council added item g) as follows:</p>
<p>g)  That staff report to Council in early 2019 on possible parking solutions in the</p>
<p>area of Murray Street Baptist Church.</p>
<p>10.  Request for Minor Variance Consideration within 2 years of Zoning</p>
<p>Amendment for 186 Romaine Street Report IPSPD18-022</p>
<p>That Council approve the recommendation outlined in Report IPSPD18-022 dated August 27, 2018, of the Commissioner of Infrastructure and Planning Services, as follows:</p>
<p>That a Minor Variance Application to address five variance requests as described in Report IPSPD18-022, proceed to the City of Peterborough Committee of Adjustment for the property known as 186 Romaine Street, being within two years of the passing of Zoning By-law Amendment #17-105.</p>
<p>11.  BethuneScape Project Update and Increase in Agreement for Detailed</p>
<p>Design and Contract Administration Report IPSEC18-024</p>
<p>That Council approve the recommendations outlined in Report IPSEC18-024 dated August 27, 2018, of the Commissioner of Infrastructure and Planning Services, as follows:</p>
<p>a)   That the agreement with AECOM, 300 Water Street, Whitby, Ontario, L1N</p>
<p>9J2, for the Detailed Design and Contract Administration for the BethuneScape Project be increased by $726,958.00 from $3,717,173.41 to $4,444,131.41, plus HST of $577,737.08 for a total cost of $5,021,905.95; and</p>
<p>b)   That staff be requested to include in future BethuneScape Project budgets</p>
<p>the funds shown in Table 4 of Report IPSEC18-024 for the years 2019 to 2024.</p>
<p>12.  Promotional Boxing Opportunities</p>
<p>That staff be directed to work with Peterborough & the Kawarthas Tourism and Triple C Promotions on any promotional boxing opportunities.</p>
<p>Submitted by,</p>
<p>Councillor Beamer</p>
<p>Chair</p>
<p>August 27, 2018</p>
<br>
<br>
<br>
<br>
<br>
<p>City Council minutes of September 10, 2018</p>
<p>General Committee Report No. 21</p>
<p>Meeting of September 10, 2018</p>
<p>To the Council of The City of Peterborough for consideration at its meeting held September 10, 2018</p>
<p>The General Committee as a result of its special meeting held on September 10, 2018 recommends as follows:</p>
<p>1.  City Purchase of Lands at 550 The Kingsway from Embee (Peterborough)</p>
<p>Limited Report IPSCOM18-021</p>
<p>That Council approve the recommendation outlined in Report IPSCOM18-021 dated September 10, 2018 of the Commissioner of Infrastructure and Planning Services, as follows:</p>
<p>That a by-law be passed to authorize the acquisition of the part or parts of the land and premises known as Part of Lot 10, Concession 11, North Monaghan, designated as Parts 1, 2, and 3 on 45R16282, Peterborough (municipally known as 550 The Kingsway), that the Seller determines are not capable of development by it based on a purchase price of up to $900,000 plus Land Transfer Tax of up to $15,475 together with reimbursement to the Seller of an upset of $50,000 for costs incurred by the Seller in originally purchasing and carrying to completion the property all prorated on an area basis for the lands or parts to be acquired.</p>
<p>Submitted by,</p>
<p>Councillor Beamer</p>
<p>Chair</p>
<p>September 10, 2018</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br></div>