<!doctype html><div><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Joint Services Steering Committee Minutes</p>
<br>
<p>September 6, 2018</p>
<br>
<br>
<p>Present</p>
<br>
<p>Councillor Baldwin, City of Peterborough, Chair</p>
<p>Councillor Beamer, City of Peterborough</p>
<p>Councillor Clarke, City of Peterborough</p>
<p>Councillor Riel, City of Peterborough</p>
<p>Councillor McFadden, County of Peterborough</p>
<p>Councillor Smith, County of Peterborough</p>
<p>Warden Taylor, County of Peterborough</p>
<br>
<p>Councillor Gerow, County of Peterborough</p>
<br>
<br>
<br>
<p>Regrets</p>
<br>
<br>
<p>Staff</p>
<br>
<p>Allan Seabrooke, Commissioner of Community Services, City of</p>
<p>Peterborough</p>
<p>David Potts, City Solicitor, City of Peterborough</p>
<p>Ellen Armstrong, Manager of Social Services, City of Peterborough</p>
<p>John Kennedy, City Clerk, City of Peterborough</p>
<p>Patricia Lester, Commissioner of Corporate and Legislative Services, City</p>
<p>of Peterborough</p>
<p>Randy Mellow, Chief, Peterborough County/City Paramedics</p>
<p>Rebecca Morgan Quin, Manager of Housing, City of Peterborough</p>
<p>Sandra Clancy, CAO, City of Peterborough</p>
<p>Sandy Woodhouse, Policy Analyst, City of Peterborough</p>
<p>Trena DeBruijn, Treasurer, County of Peterborough</p>
<p>Troy Speck, CAO, County of Peterborough</p>
<br>
<p>The meeting was called to order by Councillor Beamer, Chair, in the Council Chambers, City Hall at 3:45 p.m.</p>
<p>That the Joint Services Steering Committee meeting minutes of June 14, 2018 be approved.</p>
<p>Roll Call</p>
<p>Carried</p>
<p>Confirmation of Minutes</p>
<p>Moved by Henry Clarke Seconded by Councillor Smith</p>
<p>Joint Services Steering Committee minutes of September 6, 2018</p>
<p>Disclosure of Interest</p>
<p>There were no disclosures of interest.</p>
<p>Minutes for Information</p>
<p>Moved by Councillor Riel Seconded by Gary Baldwin</p>
<p>That the Age-friendly Peterborough Advisory Committee minutes of March 28, 2018 be received for information.</p>
<p>Carried</p>
<p>Peterborough County/City Paramedics Service (PCCP) Preliminary Draft 2019 Budget</p>
<p>Moved by Henry Clarke Seconded by Councillor Smith</p>
<p>That the Joint Services Steering Committee (JSSC) receive the preliminary draft 2019 PCCP budget proposal and approve it to be forwarded to the City of Peterborough to act as a preliminary estimate to assist the City in their 2019 budget development; AND</p>
<p>That the JSSC recommend that Scenario 2 be used for the purposes of drafting the 2019 PCCP budget, where Scenario 2 includes a service enhancement converting the existing 6-month Buckhorn seasonal ambulance coverage to permanent full-year coverage with the addition of 6 new FTEs.</p>
<p>Carried</p>
<p>Review of the 10-year Housing and Homelessness Plan - Update Report CSSSJSSC18-008</p>
<p>Moved by Warden Taylor Seconded by Councillor McFadden</p>
<p>That Joint Services Steering Committee endorse the recommendation outlined in Report CSSSJSSC18-008 dated September 6, 2018, of the Commissioner of Community Services as follows:</p>
<p>That Report CSSSJSSC18-008 and presentation on the 5-year Review of the 10- year Housing and Homelessness Plan be received for information.</p>
<br>
<br>
<br>
<br>
<p>Joint Services Steering Committee minutes of September 6, 2018</p>
<p>That the correspondence dated August 15, 2018, from Premier Ford, be received for information by the Joint Services Steering Committee.</p>
<p>The Chair indicated that the next Joint Services Steering Committee meeting is scheduled for October 4, 2018.</p>
<p>Carried</p>
<p>Other Business</p>
<p>Moved by Warden Taylor Seconded by Councillor Riel</p>
<p>Carried</p>
<br>
<p>Next Meeting - October 4, 2018</p>
<p>Adjournment</p>
<p>Moved by Councillor Riel Seconded by Henry Clarke</p>
<p>Carried</p>
<p>That the meeting be adjourned at 4:43 p.m.</p>
<p>_________________________</p>
<p>John Kennedy</p>
<p>City Clerk</p>
<p>_________________________</p>
<p>Councillor Beamer</p>
<p>Chair</p>
<br>
<br>
<br>
<br>
<br>
<br></div>