<!doctype html><div><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Accessibility Advisory Committee Minutes</p>
<br>
<br>
<p>September 5, 2018</p>
<br>
<p>Present</p>
<br>
<p>Councillor Riel, Chair</p>
<p>Warren Northcott</p>
<p>Andrea Walsh</p>
<p>Ben McColl</p>
<p>Don Parnell</p>
<p>Amanda Motyer</p>
<p>Lynda Staples (arrived at 4:15 p.m.)</p>
<p>Erica Richmond</p>
<br>
<p>Thomas Street</p>
<br>
<p>Kendra Sedgwick, Committee Coordinator</p>
<p>Mark Buffone, Accessibility Compliance Coordinator</p>
<p>Sadie Norrad, Accessibility and Communication Specialist</p>
<br>
<p>Regrets</p>
<br>
<p>Staff Present</p>
<br>
<p>Call to Order</p>
<br>
<p>Confirmation of Minutes</p>
<br>
<p>Moved by Ben McColl</p>
<br>
<p>The meeting was called to order by Councillor Riel, Chair, at 4:00 p.m. in the Doris Room, City Hall.</p>
<p>That the Accessibility Advisory Committee meeting minutes of June 27, 2018 be approved.</p>
<p>Carried</p>
<p>Carried</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Pecuniary Interest.</p>
<p>Consent Agenda</p>
<p>Moved by Warren Northcott</p>
<p>That items 5.f. and 5.g. be approved as part of the Consent Agenda.</p>
<br>
<p>Accessibility Advisory Committee minutes of September 5, 2018</p>
<p>Report AAC18-030 Committee Appointments – Extension of Terms</p>
<p>Moved by Warren Northcott</p>
<p>That the Accessibility Advisory Committee (AAC) approve the recommendations outlined in Report AAC18-030 dated September 5, 2018 of the Accessibility and Communication Specialist as follows:</p>
<p>That the Committee appointments to the AAC Built-Environment Sub-Committee and the AAC Transportation Sub-Committee, due to expire on November 30, 2018, be extended to March 1, 2019.</p>
<p>Report AAC18-032 Accessibility Office Report</p>
<p>Moved by Warren Northcott</p>
<p>That the Accessibility Advisory Committee (AAC) approve the recommendation outlined in Report AAC18-032 dated September 5, 2018, of the Accessibility Compliance Coordinator as follows:</p>
<p>That Report AAC18-032 with respect to the current work of the Accessibility Office be received for information.</p>
<p>Report AAC18-033 "Play Finds A Way" Funding Opportunity</p>
<p>Moved by Erica Richmond</p>
<p>That the Accessibility Advisory Committee (AAC) approve the recommendations outlined in Report AAC18-033 dated September 5, 2018 of the Accessibility and Communication Specialist as follows:</p>
<p>a)  That a presentation from the City’s Corporate Sponsorship Coordinator,</p>
<p>Scott Elliott on the 2018 Canadian Tire Jumpstart Charity “Play Finds a Way” funding opportunity be received for information; and</p>
<p>Carried</p>
<p>Carried</p>
<br>
<br>
<br>
<br>
<br>
<p>Accessibility Advisory Committee minutes of September 5, 2018</p>
<p>b)   That the AAC provide input on projects that could be funded through the</p>
<p>2019 Canadian Tire Jumpstart Charity “Play Finds a Way” funding opportunity.</p>
<p>Carried</p>
<p>Report AAC18-034 Website Redesign Update</p>
<p>Moved by Warren Northcott</p>
<p>That the Accessibility Advisory Committee (AAC) approve the recommendations outlined in Report AAC18-034 dated September 5, 2018 of the Accessibility and Communication Specialist as follows:</p>
<p>a)   That a presentation from the City’s Communications Services Division be</p>
<p>received for information; and</p>
<p>b)   That the AAC provide feedback on accessibility improvements and</p>
<p>suggestions.</p>
<p>Carried</p>
<p>Report AAC18-031 Career Kick Start Strategy Funding Opportunity</p>
<p>Carol Kelsey, Dean, School Health and Wellness and Justice and Community Development, Sir Sandford Fleming College, provided a presentation on Report AAC18- 031.</p>
<p>Moved by Ben McColl</p>
<p>That the Accessibility Advisory Committee (AAC) approve the recommendation outlined in Report AAC18-031 dated September 5, 2018, of the Accessibility and Communication Specialist as follows:</p>
<p>That the presentation from Carol Kelsey be received for information.</p>
<p>Carried</p>
<p>Report AAC18-028 Built Environment Sub-Committee Report</p>
<p>Moved by Amanda Motyer</p>
<p>That the Accessibility Advisory Committee (AAC) approve the recommendation outlined in Report AAC18-028 dated September 5, 2018 of the Accessibility and Communication Specialist as follows:</p>
<br>
<br>
<p>Accessibility Advisory Committee minutes of September 5, 2018</p>
<p>That the verbal update from the Chair of the Built Environment Sub-Committee be received for information.</p>
<p>Carried</p>
<p>Report AAC18-029 Transportation Sub-Committee Report</p>
<p>Moved by Don Parnell</p>
<p>That the Accessibility Advisory Committee (AAC) approve the recommendation outlined in Report AAC18-029 dated September 5, 2018 of the Accessibility and Communication Specialist as follows:</p>
<p>That the verbal update by the Chair of the Transportation Sub-Committee be received for information.</p>
<p>Carried</p>
<p>Other Business</p>
<p>Next Meeting - October 3, 2018</p>
<p>Adjournment</p>
<p>Moved by Warren Northcott</p>
<p>Staff reminded the Committee that they have been invited to the APRAC meeting at 5:30 p.m. on October 2, 2018, in the Auditorium, 210 Wolfe Street, to provide input on the Parks Review and Planning project.</p>
<p>The Chair indicated that the next Committee meeting will be held on October 3, 2018.</p>
<p>That this meeting of the Accessibility Advisory Committee adjourn at 5:04 p.m.</p>
<p>Kendra Sedgwick, Committee Coordinator</p>
<p>Councillor Riel, Chair</p>
<p>Carried</p>
<br>
<br>
<br>
<br>
<br>
<br></div>