<!doctype html><div><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Museum and Archives Advisory Committee Minutes</p>
<br>
<br>
<p>October 11, 2018</p>
<br>
<p>Present</p>
<br>
<p>Councillor Riel</p>
<p>Debbie Flieler</p>
<p>Jodi Aoki</p>
<p>Karen Carter-Edwards</p>
<p>Linda Lumsden</p>
<p>Claude Dufresne</p>
<p>Gayle McIntyre, Chair (arrived at 5:08)</p>
<p>Ann Sullivan, Vice Chair</p>
<p>Ken Brown</p>
<br>
<br>
<p>Staff</p>
<br>
<p>Susan Neale, Museum Director</p>
<p>Natalie Garnett, Deputy City Clerk</p>
<br>
<p>The meeting was called to order at 5:00 p.m. by Ann Sullivan, Vice Chair, in the Fine Annex, Peterborough Museum & Archives.</p>
<p>Call to Order</p>
<p>Confirmation of Minutes</p>
<p>Moved by Claude Dufresne</p>
<p>That the Museum & Archives Advisory Committee meeting minutes of June 14, 2018 be approved.</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Pecuniary Interest.</p>
<p>Consent Agenda - 5.d.</p>
<p>Moved by Karen Carter-Edwards</p>
<p>That item 5.d. be approved as part of the Consent Agenda.</p>
<p>Carried</p>
<p>Carried</p>
<br>
<br>
<p>Museum & Archives Advisory Committee minutes of October 11, 2018</p>
<p>Peterborough Museum & Archives: Report on Activities Report MAAC18-016</p>
<p>Moved by Karen Carter-Edwards</p>
<p>That the Museum & Archives Advisory Committee approve the recommendation outlined in Report MAAC18-016, dated October 11, 2018, of the Museum Director, as follows:</p>
<p>That the Museum Director’s report on the upcoming activities of the Peterborough Museum & Archives be received for information.</p>
<p>Peterborough Museum & Archives: Historypin Report MAAC18-013</p>
<p>Moved by Linda Lumsden</p>
<p>That the Museum & Archives Advisory Committee approve the recommendation outlined in Report MAAC18-013, dated October 11, 2018, of the Museum Director, as follows:</p>
<p>That the Committee receive the presentation by the City Archivist for information.</p>
<p>Peterborough Museum & Archives: Deaccession Report MAAC18-014</p>
<p>Moved by Claude Dufresne</p>
<p>That the Museum & Archives Advisory Committee approve the recommendation outlined in Report MAAC18-014 dated October 11, 2018, of the Museum Director, as follows:</p>
<p>That the following two (2) objects be deaccessioned from the collection of the Peterborough Museum & Archives:</p>
<p>i)   weigh scale;</p>
<p>ii)  permanent wave machine.</p>
<br>
<p>Carried</p>
<p>Carried</p>
<p>Carried</p>
<br>
<br>
<br>
<p>Museum & Archives Advisory Committee minutes of October 11, 2018</p>
<p>East City Property - Update Report MAAC18-015</p>
<p>Moved by Karen Carter-Edwards</p>
<p>That the Museum & Archives Advisory Committee approve the recommendation outlined in Report MAAC18-015, dated October 11, 2018, of the Museum Director, as follows:</p>
<p>That the update on the East City Property be received for information.</p>
<p>Carried</p>
<p>Other Business</p>
<p>There were no items of Other Business.</p>
<p>Next Meeting - November 8, 2018</p>
<p>Adjournment</p>
<p>Moved by Debbie Flieler</p>
<p>That this meeting adjourn at 5:47 p.m.</p>
<p>The Chair indicated that the next meeting is scheduled for November 8, 2018.</p>
<p>Carried</p>
<br>
<p>Natalie Garnett Deputy City Clerk</p>
<p>Ann Sullivan Vice Chair</p>
<br>
<br>
<br>
<br>
<br></div>