<!doctype html><div><br>
<p>Date:</p>
<br>
<p>Present</p>
<br>
<p>Regrets</p>
<br>
<p>Staff</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Peterborough Public Library Board Minutes</p>
<br>
<p>City of Peterborough</p>
<br>
<p>October 2, 2018</p>
<br>
<p>Leslie Woolcott, Vice Chair</p>
<p>Barb Connor</p>
<p>Mauro DiCarlo</p>
<p>Jayne White</p>
<p>Garth Wedlock</p>
<p>Dan Moloney</p>
<br>
<br>
<p>Paul Stern, Chair</p>
<p>Councillor Baldwin</p>
<p>Councillor Riel</p>
<br>
<br>
<p>Natalie Garnett, Deputy Clerk</p>
<p>Jennifer Jones, Library CEO</p>
<br>
<br>
<p>The Vice Chair called the meeting to order at 6:01 p.m.</p>
<br>
<p>Call to Order</p>
<br>
<p>Confirmation of Minutes</p>
<br>
<p>Moved by Jayne White</p>
<br>
<p>That the minutes of the meeting of the Library Board of Trustees meeting on</p>
<p>September 11, 2018 be approved.</p>
<br>
<p>Carried</p>
<br>
<br>
<p>Disclosure of Pecuniary Interest</p>
<br>
<p>There were no disclosures of Pecuniary Interest.</p>
<br>
<br>
<br>
<p>1</p>
<br>
<p>Consent Agenda</p>
<br>
<p>Moved by Barb Connor</p>
<br>
<br>
<br>
<p>Carried</p>
<br>
<br>
<p>That Items 5.3 and 5.5 be approved as part of the Consent Agenda.</p>
<br>
<p>Memorandum of Understanding Final Update</p>
<br>
<p>Report PPL18-053</p>
<br>
<p>Moved by Barb Connor</p>
<br>
<p>That the Library Board approve the recommendation outlined in Report PPL18-</p>
<p>053 October 2, 2018, of the Library CEO, as follows:</p>
<br>
<p>That the report of the Library CEO be received for information.</p>
<br>
<p>Carried</p>
<br>
<br>
<p>Library CEO Report October 2018</p>
<br>
<p>Report PPL18-051</p>
<br>
<p>Moved by Barb Connor</p>
<br>
<p>That the Library Board approve the recommendation in Report PPL18-051 dated</p>
<p>October 2, 2018, of the Library CEO as follows:</p>
<br>
<p>That the report be received for information.</p>
<p>Carried</p>
<p>Updates from the Foundation and Friends of the Library Report PPL18-050</p>
<p>Moved by Dan Moloney</p>
<p>That the Library Board approve the recommendations outlined in Report PPL18- 050, dated October 2, 2018, of the Library CEO, as follows:</p>
<p>a)</p>
<p>That a verbal report to inform the Library Board on the status of the Foundation by Jayne White be received for information; and that,</p>
<p>b)   That a verbal report to inform the Library Board on the status of the Friends</p>
<p>of the Peterborough Public Library by Barb Connor be received for information</p>
<p>Carried</p>
<br>
<br>
<br>
<br>
<br>
<p>Library CEO Annual Evaluation Process</p>
<p>Report PPL18-047a</p>
<p>Moved by Dan Moloney</p>
<p>That the Library Board approve the recommendations outlined in Report PPL18- 047a, dated October 2, 2018, of the Library CEO, as follows:</p>
<p>a)</p>
<p>That the report be received for information;</p>
<p>b)   That the process outlined be adopted by the Board; and,</p>
<p>c)</p>
<p>That an appropriate timeline be determined for an annual evaluation.</p>
<p>Memorandum of Understanding Final Update</p>
<p>Carried</p>
<p>Quarterly Budget Update</p>
<p>Report PPL18-052</p>
<p>Moved by Dan Moloney</p>
<p>That the Library Board approve the recommendations outlined in Report PPL18- 052 dated October 2, 2018, of the Library CEO, as follows:</p>
<p>a)  That the report on the status of the second quarter of the 2018 Library budget</p>
<p>be received for information; and,</p>
<p>bat the November meeting.</p>
<p>b)  That a report on the frequency of  budget reporting be provided to the Board</p>
<p>Carried</p>
<br>
<p>Other Business</p>
<p>There were no items of Other Business.</p>
<p>Adjournment</p>
<p>Moved by Barb Connor</p>
<p>That the meeting adjourn at 6:42 p.m.</p>
<p>Carried</p>
<br>
<p>_________________________</p>
<p>Natalie Garnett</p>
<p>Deputy Clerk</p>
<p>_________________________</p>
<p>Leslie Woolcott, Vice Chair</p>
<br>
<br>
<br>
<br>
<br>
<br></div>