<!doctype html><div><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>General Committee Minutes</p>
<br>
<p>Council Chambers, City Hall</p>
<br>
<br>
<p>September 17, 2018</p>
<br>
<p>Present:</p>
<br>
<p>Mayor Bennett</p>
<p>Councillor Baldwin</p>
<p>Councillor Beamer, Chair</p>
<p>Councillor Clarke</p>
<p>Councillor Haacke</p>
<p>Councillor McWilliams</p>
<p>Councillor Parnell</p>
<p>Councillor Pappas</p>
<p>Councillor Riel</p>
<p>Councillor Therrien</p>
<p>Councillor Vassiliadis</p>
<br>
<br>
<p>Staff:</p>
<br>
<p>Sandra Clancy, Chief Administrative Officer</p>
<p>Ken Hetherington, Manager of Planning</p>
<p>Jeffrey Humble, Director of Planning and Development Services</p>
<p>John Kennedy, Clerk</p>
<p>Caroline Kimble, Planner, Land Use</p>
<p>Mac MacGillivray, Facilities and Energy Manager</p>
<p>Blair Nelson, Manager, Design and Construction</p>
<p>David Potts, City Solicitor/Manager of Legal Services</p>
<p>Allan Seabrooke, Commissioner of Community Services</p>
<p>Sue Warrington, Manager, Arena Division</p>
<p>Brendan Wedley, Manager of Communication Services</p>
<br>
<p>Closed Session - 5:00 p.m., Doris Room</p>
<br>
<p>Resolution to meet in Closed Session</p>
<br>
<p>Moved by Councillor Clarke</p>
<br>
<p>That Committee move into closed session under Section 239(2)(c) A proposed or</p>
<p>pending acquisition or disposition of land by the municipality or local board -</p>
<p>Hunter Street East and Robinson Street.</p>
<br>
<p>Carried</p>
<br>
<br>
<br>
<p>1</p>
<br>
<br>
<br>
<p>General Committee minutes of September 17, 2018</p>
<br>
<p>The City Council meeting was called to order at 5:36 p.m. in the Council Chambers, City Hall.</p>
<p>Open Session - Council Chambers</p>
<p>Opening of Meeting</p>
<p>Thirty Seconds of Reflection</p>
<p>National Anthem</p>
<p>Proclamation</p>
<p>Adoption of minutes:</p>
<p>Moved by Councillor Clarke</p>
<p>The Mayor proclaimed September 21-30, 2018 as “Artsweek” in Peterborough.</p>
<p>That the minutes of the meetings of General Committee held on August 20 and 27, 2018 be approved.</p>
<p>Carried</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Pecuniary Interest.</p>
<p>Report of Closed Session</p>
<p>Sale of surplus land at 115 Hunter Street East and 124 Robinson Street to Ashburnham Realty and Graham Hawkins</p>
<p>Councillor Haacke declared an interest in Report IPSPD18-026, as one of the applicants is a client of his firm. Councillor Haacke did not discuss or vote on this item.</p>
<p>Report IPSPD18-026</p>
<p>Moved by Councillor Riel</p>
<p>That Council approve the recommendations outlined in Report IPSPD18-026 dated September 17, 2018, of the Commissioner of Infrastructure and Planning as follows:</p>
<p>a)</p>
<p>That a portion of the lands known municipally as 115 Hunter Street East, being approximately 492 square metres, be declared surplus to the needs of the municipality;</p>
<br>
<br>
<br>
<br>
<br>
<p>b)</p>
<p>c)</p>
<p>d)</p>
<p>e)</p>
<p>f)</p>
<p>g)</p>
<p>h)</p>
<p>General Committee minutes of September 17, 2018</p>
<p>That following proper notice of Council’s intent to convey a portion of the lands known municipally as 115 Hunter Street East, being approximately 492 square metres, as shown depicted in blue on the attached Appendix A and located on the east side of the Rotary Trail, be authorized for sale to the owner of the adjacent lands known as 127 Hunter Street East and that such lands be sold after the passing of the by-law for $46.50 per square metre or approximately $23,000;</p>
<p>That a portion of the lands known municipally 115 Hunter Street (west side of Rotary Trail) and 124 Robinson Street, being approximately 4,089 square metres, be declared surplus to the needs of the municipality;</p>
<p>That following proper notice of Council’s intent to convey a portion of the property at 115 Hunter Street, and the passing of the by-law, that the 124 Robinson Street be disposed of as follows:</p>
<p>i)</p>
<p>ii)</p>
<p>Lands consisting of approximately 3,376 square metres as shown in blue on the attached Appendix A and located on the west side of the Rotary Trail, be authorized for sale to the owner(s) of the lands adjacent to the eastern limit of the Rotary Trail for approximately $157,000 ($46.50 per square metre); and</p>
<p>Land consisting of approximately 691 square metres as shown in red on the attached Appendix A and located on the west side of the Rotary Trail, be authorized for sale to the owner of the adjacent lands known as 364 Mark Street, for approximately $32,000 ($46.50 per square metre);</p>
<p>That the Agreements to Purchase and Sale outline a legal framework for the parties to address easements and cost-sharing arrangements for driveway access from Robinson Street and/or stormwater easements between the two parties;</p>
<p>That should any purchaser fail to close the sale within the City specified time frame, the City has the right to retain or to sell the lands to the other party;</p>
<p>That if, post-closing of the land sales, any purchaser fail to attain the necessary site plan or building approvals to meet the construction timelines, or to convey easements or cost-sharing arrangements to the Administration’s satisfaction, respecting each other’s developments and Administration’s requirements, the City may repurchase the lands and either retain or sell to another party at its discretion; and</p>
<p>That a by-law be passed and the Mayor and Clerk be authorized to execute such documents to give effect to the said transactions in forms acceptable to the Commissioner of Infrastructure and Planning in conjunction with the City solicitor.</p>
<p>Carried</p>
<br>
<br>
<p>General Committee minutes of September 17, 2018</p>
<p>Consent Agenda for Reports and Communications</p>
<p>Moved by Councillor Parnell</p>
<p>That items 13.a., 13.b., 13.c., 13.e., 14.a., 14.b., and 14.c., be approved as part of the Consent Agenda.</p>
<p>Surplus Declaration and Disposition of 237 Denne Crescent</p>
<p>Carried</p>
<p>Report CLSRE18-010</p>
<p>Moved by Councillor Parnell</p>
<p>That Council approve the recommendations outlined in Report CLSRE18-010 dated September 17, 2018 of the Commissioner of Corporate and Legislative Services, as follows:</p>
<p>That the property described as Blocks 37, 38, 39, 40 on Plan M-58, Peterborough, known municipally as 237 Denne Crescent, Peterborough be declared surplus to the needs of the Municipality.</p>
<p>That Staff give Notice to the public of the proposed sale in accordance with City’s Property Disposal By-law 95-62.</p>
<p>That the City retain a Real Estate Agent to publicly list and, in consultation with the City Solicitor, negotiate the transfer of the aforementioned 4 Blocks comprising 237 Denne Crescent.</p>
<p>That, as required, a by-law or by-laws be passed, at a future Council meeting, to authorize the transfer of Blocks 37, 38, 39 and 40 to new owners.</p>
<p>That the Mayor and Clerk be authorized to execute such documents to give effect to the transfers on terms and in forms acceptable to the City Solicitor.</p>
<p>Carried</p>
<p>1900 Technology Drive</p>
<p>Report CLSRE18-011</p>
<p>Moved by Councillor Parnell</p>
<p>That Council approve the recommendation, outlined in Report CLSRE18-011 dated September 17, 2018 of the Commissioner of Corporate and Legislative Services, as follows:</p>
<br>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>d)</p>
<p>e)</p>
<br>
<br>
<br>
<p>General Committee minutes of September 17, 2018</p>
<p>That staff be directed to notify Drain Bros. Excavating Limited that The Corporation of the City of Peterborough waives its right to exercise an option to reacquire the property known municipally as 1900 Technology Drive pursuant to section 5.01 of Option Agreement registered January 15, 2018 as instrument no. PE284095 but without prejudice to the parties’ rights and obligations pursuant to the said Option Agreement and time remaining of the essence in respect of all such rights and obligations.</p>
<p>Award of Proposal #2017-289 for Supply, Delivery and Service of Leased Multifunctional Digital Copiers for the City of Peterborough and Related Agencies</p>
<p>Carried</p>
<p>Report CLSFS18-039</p>
<p>Moved by Councillor Parnell</p>
<p>That Council, approve the recommendations outlined in Report CLSFS18-039, dated September 17, 2018 of the Commissioner of Corporate and Legislative Services as follows:</p>
<p>a)</p>
<p>That the OECM Cooperative RFP #2017-289 for the Supply, Delivery and Service of Leased Multifunctional Digital Copiers for the City of Peterborough and Related Agencies for the three year period December 1, 2018 to November 30, 2021, be awarded to Xerox Canada Ltd., 5650 Yonge Street, Toronto, Ontario at an estimated lease and cost per copy cost of $628,328 plus $81,683 HST for a total cost of $710,011.</p>
<p>b)</p>
<p>That the Agreement be extended for up to five additional years, with new equipment at the end of the third year, pending satisfactory performance, price and successful negotiation with the supplier.</p>
<p>National Disaster Mitigation Program Transfer Payment Agreements</p>
<p>Carried</p>
<p>Report CLSFS18-041</p>
<p>Moved by Councillor Parnell</p>
<p>That Council approve the recommendation outlined in Report CLSFS18-041 dated September 17, 2018, of the Commissioner of Corporate and Legislative Services, as follows:</p>
<br>
<br>
<br>
<br>
<p>General Committee minutes of September 17, 2018</p>
<p>That by-laws be passed authorizing the Mayor and Clerk to sign the National Disaster Mitigation Program Transfer Payment Agreement and amendments between Her Majesty the Queen in Right of Ontario as represented by the Minister of Municipal Affairs and Housing and the City of Peterborough pertaining to the Curtis Creek Flood Reduction – Euclid Avenue Culvert Replacement project and Tivey Street Outlet Improvements project.</p>
<p>Carried</p>
<p>Infrastructure and Planning Services</p>
<p>Report IPSPD18-028</p>
<p>Moved by Councillor Parnell</p>
<p>Removal of the "H" - Holding Symbol from the zoning of the property at 140 Braidwood Avenue</p>
<p>That Council approve the recommendation outlined in Report IPSPD18-028 dated September 17, 2018, of the Commissioner of Infrastructure and Planning Services, as follows:</p>
<p>That the property at 140 Braidwood Avenue be rezoned from SP.301 – “H”- Residential District to SP.301 – Residential District in accordance with Exhibit “B” attached to Report IPSPD18-028.</p>
<p>Carried</p>
<p>Safety Upgrades at Simcoe Street Parking Garage</p>
<p>Report IPSTR18-024</p>
<p>Moved by Councillor Parnell</p>
<p>That Council approve the recommendations outlined in Report IPSTR18-024 dated September 17, 2018, of the Commissioner of Infrastructure and Planning Services as follows:</p>
<p>That staff be directed to implement the security equipment upgrades to the Simcoe Street Parking Garage at an estimated cost of $70,000 as described in this report;</p>
<p>That additional funding of $62,000 be included in the 2019 Operating Budget to expand the scope of the current Securitas contract to provide an additional full time security guard to patrol the parking garage; and</p>
<p>a)</p>
<p>b)</p>
<br>
<br>
<br>
<p>General Committee minutes of September 17, 2018</p>
<p>That renovations to the unused commercial space at the Transit Terminal be undertaken at an estimated cost of $50,000, and that use of the space be dedicated to the Peterborough Police Service at no cost to allow for a greater police presence at the Transit Terminal.</p>
<p>Amendments to Waste Collection By-Law 13-113</p>
<p>Report IPSWM18-006</p>
<p>Moved by Councillor Parnell</p>
<p>That Council approve the recommendation outlined in Report IPSWM18-006, dated September 17, 2018 of the Commissioner of Infrastructure and Planning as follows:</p>
<p>That By-law 13-113 be amended as proposed on Appendix 2 to Report IPSWM18- 006.</p>
<p>Public Meeting under the Planning Act</p>
<p>3789 Water Street Zoning By-law Amendment</p>
<p>Report IPSPD18-025</p>
<p>No one spoke in opposition to, or in support of, the application.</p>
<p>Mr. Sheldon Rokin, the applicant, spoke to the matter.</p>
<p>Moved by Councillor Parnell</p>
<p>That Council approve the recommendations outlined in Report IPSPD18-025 dated September 17, 2018, of the Commissioner of Infrastructure and Planning Services, as follows:</p>
<p>Amend Section 389 – Special District 359 (SP.359) to reduce the minimum motor vehicle parking requirements for Apartment Dwellings from 1.5 spaces per unit to 1.28 spaces per unit and to delete duplication of regulations from the regulations table, in accordance with Exhibit ‘C’ attached to Report IPSPD18-025;</p>
<p>Amend Section 390 – Special District 360 (SP.360) to reduce the minimum motor vehicle parking requirements for Apartment Dwellings from 1.5 spaces per unit to 1.28 spaces per unit, in accordance with Exhibit ‘C’ attached to Report IPSPD18-025; and</p>
<br>
<p>c)</p>
<p>Carried</p>
<p>Carried</p>
<p>a)</p>
<p>b)</p>
<br>
<br>
<br>
<p>General Committee minutes of September 17, 2018</p>
<p>c)</p>
<p>Amend the zoning of a portion of the lands known as 3789 Water Street from SP.360 to SP.359 in accordance with Exhibit ‘C’ attached to Report IPSPD18-025.</p>
<br>
<br>
<p>Carried</p>
<p>Presentations</p>
<p>Report CSSS18-008</p>
<p>Peterborough Housing Corporation Shareholder Report (2017)</p>
<p>Bonnie Clarke, Board Chair and Darlene Cook, CEO, made a presentation to Report CSSS18-008.</p>
<p>Moved by Councillor Parnell</p>
<p>That Council approve the recommendations outlined in Report CSSS18-008 dated September 17, 2018, of the Commissioner of Community Services, as follows:</p>
<p>That the presentation from Peterborough Housing Corporation be received;</p>
<p>That the audited financial statements of the Peterborough Housing Corporation (the “Corporation”) and subsidiary corporations, for the fiscal year ending on December 31, 2017, together with the report of the auditors thereon, be received and approved; and</p>
<p>c)</p>
<p>That the 2017 Annual Report on the progress and accomplishments of the Corporation be received and approved.</p>
<p>a)</p>
<p>b)</p>
<p>Carried</p>
<p>Councillor Therrien left the meeting at 6:37 p.m. and returned at 6:38 p.m.</p>
<p>Councillor Parnell left the meeting at 6:39 p.m. and returned at 6:40 p.m.</p>
<p>2017 Sustainable Peterborough Report Card Update</p>
<p>Report CSD18-006</p>
<p>Moved by Councillor Pappas</p>
<p>That Council approve the recommendation outlined in Report CSD18-006 dated September 17, 2018, of the Commissioner of Community Services, as follows:</p>
<p>That the presentation on the 2017 Sustainable Peterborough Report Card, by Meredith Carter, Vice-Chair of Sustainable Peterborough, and Melanie Kawalec, Sustainability Manager, be received for information.</p>
<p>Carried</p>
<br>
<br>
<br>
<p>General Committee minutes of September 17, 2018</p>
<p>Councillor Haacke left the meeting at 6:52 p.m. and returned at 6:54 p.m.</p>
<p>Official Plan: Nodes, Corridors & Downtown Urban Design Guidelines</p>
<p>Report IPSPD18-027</p>
<p>Moved by Councillor Baldwin</p>
<p>Donna Hinde of The Planning Partnership made a presentation.</p>
<p>That Council approve the recommendations outlined in Report IPSPD18-027 dated September 17, 2018, of the Commissioner of Infrastructure and Planning as follows:</p>
<p>That the presentation on the Official Plan Design Charrette by The Planning Partnership Ltd and Lett Architects Inc. be received;</p>
<p>That Report IPSPD18-27 and the “Official Plan Charrette: Nodes, Corridors and Downtown Urban Design Guidelines” be received and approved in principle for consideration in drafting the Official Plan; and</p>
<p>That the remaining public engagement schedule be supported in principle with the objective of submitting the Official Plan to the Province in 2019 for adoption.</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>Carried</p>
<p>Councillor Baldwin left the meeting at 7:14 p.m. and returned at 7:15 p.m.</p>
<p>Major Sport and Event Centre Feasibility Study Phase Two Final Report and Presentation</p>
<p>Report CSAD18-005</p>
<p>Moved by Councillor Haacke</p>
<p>Jonathan Hack, Sierra Plan Management and Rick Kozuback, International Coliseums Company made a presentation on Report CSAD18-005.</p>
<p>That Council approve the recommendations outlined in Report CSAD18-005, dated September 17, 2018, of the Commissioner of Community Services, as follows:</p>
<p>That the Major Sport and Event Centre Feasibility Study Phase Two Final Report and presentation by the consultant, Sierra Planning and Management, be received for information; and</p>
<p>That staff review the consultant’s recommendations in the Final Report and report back to Council through the 2019 Budget process with options regarding the next phase of the project.</p>
<br>
<p>a)</p>
<p>b)</p>
<br>
<br>
<br>
<p>General Committee minutes of September 17, 2018</p>
<p>Moved by Councillor Therrien</p>
<p>That the recommendations be amended to add recommendation c) as follows:</p>
<p>c)</p>
<p>That the Market Plaza site be considered as part of the short-listed sites for consideration in the next phase.</p>
<p>Motion Withdrawn</p>
<p>Upon the main motion of Councillor Haacke, the motion carried.</p>
<p>Changes to Governance Model and 2019 Meeting Schedule</p>
<p>Report CLSCLK18-017</p>
<p>Moved by Councillor Therrien</p>
<p>That Council approve the recommendations outlined in Report CLSCLK18-017 dated September 17, 2018, of the Commissioner of Corporate and Legislative Services, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>That the 2019 Meeting Schedule attached as Appendix A, be adopted;</p>
<p>That the changes to the Governance Model, which include combining Audit and Budget Committees into one Committee called Finance Committee be approved;</p>
<p>That the amended Procedure By-law attached as Appendix C, be approved;</p>
<p>That the Terms of Reference for the Finance Committee, attached as Appendix B, to Report CLSCLK18-017, be approved; and,</p>
<p>That the Terms of Reference for the Audit Committee be rescinded.</p>
<p>Infrastructure and Planning Services</p>
<p>Increase of Budget and Contract Amount Awarded to JR Certus Construction Company Ltd. and Reinders + Reider Ltd. for the Peterborough Operations Centre</p>
<p>Report IPSCOM18-011</p>
<p>Moved by Mayor Bennett</p>
<p>That Council approve the recommendations outlined in Report IPSCOM18-011, dated September 17, 2018 of the Commissioner of Infrastructure and Planning Services as follows:</p>
<p>c)</p>
<p>d)</p>
<p>e)</p>
<p>Carried</p>
<br>
<br>
<br>
<p>General Committee minutes of September 17, 2018</p>
<p>That the Capital Budget for the Peterborough Operations Centre be increased by $1,001,859 from $22,529,600 to $23,531,459 and that $237,375 of the additional funds be transferred from the Waste Management Reserve Fund and $764,484 from the Public Works Fleet Reserve;</p>
<p>That the contract with JR Certus Construction Co. Ltd., 81 Zenway Boulevard, Unit #3 – 2nd Floor, Vaughan, Ontario, L4H 0S5, for the construction of the Peterborough Operations Centre, be increased by $1,198,679 from $20,607,264 to $21,805,943 plus HST of $2,834,773 for a total cost of $24,640,716;</p>
<p>That the contract with Reinders + Rieder Ltd.,64 Ontario Street North, Milton, Ontario, L9T 2T1, for Contract Administration Services for the Peterborough Operations Centre, be increased by $15,000 from $179,625 to $194,625 plus HST of $25,301 for a total cost of $219,926; and</p>
<p>That Administrative Staff Committee be authorized to adjust the purchase order value to JR Certus construction C. Ltd. by an additional $250,000 to an upset limit of $22,055,943 plus HST as necessary to cover the costs of any change orders required to complete the project.</p>
<p>Carried</p>
<p>Other Business</p>
<p>There were no items of Other Business.</p>
<p>Adjournment</p>
<p>Moved by Councillor McWilliams</p>
<p>That this meeting of City Council adjourn at 8:38 p.m.</p>
<p>Carried</p>
<br>
<br>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>d)</p>
<br>
<br>
<br>
<p>General Committee minutes of September 17, 2018</p>
<p>_________________________</p>
<p>John Kennedy</p>
<p>City Clerk</p>
<p>_________________________</p>
<p>Councillor Beamer</p>
<p>Chair</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br></div>