<!doctype html><div><p>Accessibility Advisory Committee Minutes</p>
<br>
<p>Councillor Riel, Chair</p>
<p>Warren Northcott</p>
<p>Thomas Street</p>
<p>Andrea Walsh</p>
<p>Ben McColl</p>
<p>Don Parnell</p>
<p>Amanda Motyer</p>
<p>Lynda Staples</p>
<p>Erica Richmond</p>
<br>
<p>Kendra Sedgwick, Committee Coordinator</p>
<p>Mark Buffone, Accessibility Compliance Coordinator</p>
<p>Sadie Norrad, Accessibility and Communication Specialist</p>
<br>
<p>The meeting was called to order by Councillor Riel, Chair, at 4:00 p.m. in the Doris Room, City Hall.</p>
<p>Councillor Riel welcomed the members of the County AAC that were in attendance.</p>
<p>That the Rules of Order be suspended to allow the members of the County of Peterborough Accessibility Advisory Committee to participate in the discussion of Report AAC18-035.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>October 3, 2018</p>
<p>Present</p>
<p>Staff Present</p>
<p>Call to Order</p>
<p>Moved by Don Parnell</p>
<p>Confirmation of Minutes</p>
<p>Moved by Lynda Staples</p>
<p>Carried</p>
<p>Carried</p>
<p>That the Accessibility Advisory Committee minutes of September 5, 2018 be approved.</p>
<p>Disclosure of Pecuniary Interest</p>
<br>
<p>Accessibility Advisory Committee meeting minutes of October 3, 2018</p>
<p>There were no disclosures of Pecuniary Interest.</p>
<p>Consent Agenda - 5.e., 5.f.</p>
<p>Moved by Don Parnell</p>
<p>That items 5.e. and 5.f. be passed as part of the Consent Agenda.</p>
<p>Carried</p>
<p>Reports and Communications</p>
<p>Accessibility Office Report Report AAC18-038</p>
<p>Moved by Don Parnell</p>
<p>Carried</p>
<p>Proposed 219 Meeting Dates Report AAC18-039</p>
<p>Moved by Don Parnell</p>
<p>That the Accessibility Advisory Committee (AAC) approve the recommendation outlined in Report AAC18-038 dated October 3, 2018, of the Accessibility Compliance Coordinator as follows:</p>
<p>That Report AAC18-038 with respect to the current work of the Accessibility Office be received for information.</p>
<p>That the Accessibility Advisory Committee (AAC) approve the recommendation outlined in Report AAC18-039 dated October 3, 2018 of the Accessibility Compliance Coordinator as follows:</p>
<p>That Report AAC18-039 with respect to the proposed 2019 meeting dates be approved.</p>
<p>Carried</p>
<br>
<br>
<br>
<br>
<br>
<p>Accessibility Advisory Committee meeting minutes of October 3, 2018</p>
<p>Housing Division and Social Services Update Report AAC18-035</p>
<p>Moved by Erica Richmond</p>
<p>That the Accessibility Advisory Committee (AAC) approve the recommendation outlined in Report AAC18-035 dated October 3, 2018, of the Accessibility and Communication Specialist as follows:</p>
<p>That a presentation from the Housing Policy Analyst, Infrastructure and Planning Services on the 10-year Housing and Homelessness Plan be received for information.</p>
<p>Carried</p>
<p>Access Fund Request 002-18 Report AAC18-036</p>
<p>Moved by Lynda Staples</p>
<p>That the Accessibility Advisory Committee (AAC) approve the recommendations outlined in Report AAC18-036 dated October 3, 2018, of the Accessibility and Communication Specialist as follows:</p>
<p>a)   That a presentation by the Employment Services Manager, Social Services</p>
<p>be received for information; and</p>
<p>b)   That the AAC Access Fund Request 002-18 submitted by the Employment</p>
<p>Services Manager, Social Services be approved.</p>
<p>Carried</p>
<p>Built Environment Sub-Committee Report Report AAC18-037</p>
<p>Moved by Amanda Motyer</p>
<p>That the Accessibility Advisory Committee (AAC) approve the recommendation outlined in Report AAC18-037 dated October 3, 2018 of the Accessibility and Communication Specialist as follows:</p>
<p>That the verbal update from the Chair of the Built Environment Sub-Committee be received for information.</p>
<p>Carried</p>
<br>
<br>
<br>
<br>
<p>Accessibility Advisory Committee meeting minutes of October 3, 2018</p>
<p>International Day of Persons with Disabilities 2018 Report AAC18-040</p>
<p>Moved by Don Parnell</p>
<p>That the Accessibility Advisory Committee (AAC) approve the recommendation outlined in Report AAC18-040 dated October 3, 2018, of the Accessibility and Communication Specialist as follows:</p>
<p>That the AAC provide input on the 2018 International Day of Persons with Disabilities celebration.</p>
<p>That this meeting of the Accessibility Advisory Committee adjourn at 5:18 p.m.</p>
<p>Carried</p>
<p>Adjournment</p>
<p>Moved by Andrea Walsh</p>
<p>Carried</p>
<p>Kendra Sedgwick, Committee Coordinator</p>
<p>Councillor Riel, Chair</p>
<br>
<br>
<br>
<br>
<br>
<br></div>