<!doctype html><div><p>Arts, Culture and Heritage Advisory Committee Minutes</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City of Peterborough</p>
<br>
<br>
<p>November 8, 2018</p>
<br>
<p>Present</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Regrets</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Guests:</p>
<br>
<p>Staff</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Call to Order</p>
<br>
<p>Confirmation of Minutes</p>
<br>
<p>Moved by Peer Christensen</p>
<br>
<p>Peer Christensen</p>
<p>Bruce Stonehouse</p>
<p>Dennis Carter-Edwards, Chair</p>
<p>Bill Templeman</p>
<p>Dirk Verhulst</p>
<p>Bill Kimball</p>
<br>
<p>Councillor Parnell</p>
<p>Councillor Pappas</p>
<p>Andy Cragg</p>
<br>
<p>Sue Ditta, Executive Director, EC3</p>
<br>
<p>Kendra Sedgwick, Committee Coordinator</p>
<p>Erik Hanson, Heritage Resources Coordinator</p>
<br>
<p>The meeting was called to order at 7:00 p.m. by Dennis Carter-Edwards, Chair, in the Auditorium, Community Services Office.</p>
<p>That the Arts, Culture and Heritage Advisory Committee minutes of September 13, 2018 be approved.</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Pecuniary Interest.</p>
<p>Consent Agenda - 5.d., 5.e., 5.f., 5.g.</p>
<p>Moved by Dirk Verhulst</p>
<p>That items 5.d., 5.e., 5.f. and 5.g. be approved as part of the Consent Agenda.</p>
<p>Carried</p>
<p>Carried</p>
<br>
<br>
<p>Arts, Culture and Heritage Advisory Committee meeting minutes of November 8, 2018</p>
<p>That the ACHAC approve the recommendations outlined in Report ACHAC18-032, dated November 8, 2018 of the Manager of Arts, Culture and Heritage, as follows:</p>
<p>a)   That the monthly meetings of the ACHAC begin at 5:30 pm beginning in</p>
<p>b)   That a budget of $600 be allocated to provide light dinner for the committee</p>
<p>Review of Meeting Time Report ACHAC18-032</p>
<p>Moved by Dirk Verhulst</p>
<p>January 2019, and;</p>
<p>members at each meeting.</p>
<p>Carried</p>
<p>2019 Meeting Schedule Report ACHAC18-036</p>
<p>Moved by Dirk Verhulst</p>
<p>That the Arts, Culture and Heritage Advisory Committee (ACHAC) approves the recommendation outlined in Report ACHAC18-036, dated November 8, 2018 of the Manager of Arts, Culture & Heritage, as follows:</p>
<p>That the ACHAC adopts the 2019 meeting schedule as presented in this report.</p>
<p>November Heritage Preservation Office Report Report ACHAC18-035</p>
<p>Moved by Dirk Verhulst</p>
<p>That the Arts, Culture and Heritage Advisory Committee approve the recommendation outlined in Report ACHAC18-035, dated November 8, 2018 of the Heritage Resources Coordinator, as follows:</p>
<p>That the report with respect to the activities of the Heritage Preservation Office for October 2018 be received for information.</p>
<p>Carried</p>
<p>Carried</p>
<br>
<br>
<br>
<br>
<p>Arts, Culture and Heritage Advisory Committee meeting minutes of November 8, 2018</p>
<p>Poet Laureate Update Report ACHAC18-030</p>
<p>Moved by Bill Kimball</p>
<p>That the Arts, Culture and Heritage Advisory Committee approve the recommendation outlined in Report ACHAC18-030, dated November 8, 2018 of the Manager of the Arts, Culture and Heritage Division, as follows:</p>
<p>That the verbal update with respect to the Poet Laureate Project be received for information.</p>
<p>At its meeting of November 8, 2018, the Committee added the following:</p>
<p>That ACHAC endorse the creation of a working group, comprised of representatives of ACHAC, EC3 and the Poetry Collective, to create the Poet Laureate program, and report back to ACHAC at the January meeting for final approval, and,</p>
<p>That Bill Templeman be appointed as the ACHAC representative on the working group.</p>
<p>That the Arts, Culture and Heritage Advisory Committee approve the recommendation outlined in Report ACHAC18-033, dated November 8, 2018 of the Manager of the Arts, Culture and Heritage Division, as follows:</p>
<p>That the presentation by Su Ditta, Executive Producer of Artsweek, be received for information.</p>
<p>Carried</p>
<p>Artsweek 2018 Report ACHAC18-033</p>
<p>Moved by Peer Christensen</p>
<p>Carried</p>
<p>Public Art Update Report ACHAC18-034</p>
<p>Moved by Bruce Stonehouse</p>
<p>That the Arts, Culture and Heritage Advisory Committee approve the recommendation outlined in Report ACHAC18-034, dated November 8, 2018 of the Manager of the Arts, Culture and Heritage Division, as follows:</p>
<p>That the presentation by the Public Art Coordinator be received for information.</p>
<p>Carried</p>
<br>
<br>
<p>Arts, Culture and Heritage Advisory Committee meeting minutes of November 8, 2018</p>
<p>Other Business</p>
<p>There were no items of Other Business.</p>
<p>Adjournment</p>
<p>Moved by Bruce Stonehouse</p>
<p>That this meeting adjourn at 8:49 p.m.</p>
<p>Carried</p>
<p>Kendra Sedgwick, Committee Coordinator</p>
<p>Dennis Carter-Edwards, Chair</p>
<br>
<br>
<br>
<br></div>