<!doctype html><div><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Finance Committee Minutes</p>
<br>
<p>City of Peterborough</p>
<br>
<br>
<p>December 3, 2018</p>
<br>
<p>Roll Call</p>
<p>Mayor Therrien Councillor Akapo Councillor Baldwin Councillor Beamer Councillor Clarke Councillor Parnell Councillor Pappas, Chair Councillor Riel Councillor Vassiliadis Councillor Wright Councillor Zippel</p>
<p>Staff</p>
<p>Sandra Clancy, Chief Administrative Officer Richard Freymond, Chief Financial Officer Wayne Jackson, Commissioner of Infrastructure and Planning Services John Kennedy, Clerk Mac MacGillivray, Facilities and Energy Manager Bill McDougall, Budget and Operations Analyst Patricia Lester, Commissioner of Corporate and Legislative Services David Potts, City Solicitor/Manager of Legal Services Allan Seabrooke, Commissioner of Community Services</p>
<p>The meeting was called to order at 5:18 p.m. in the Council Chambers, City Hall.</p>
<p>Call to Order</p>
<p>Confirmation of Minutes</p>
<p>Moved by Councillor Vassiliadis</p>
<p>Carried</p>
<br>
<br>
<p>That the minutes of the Budget Committee meeting of June 25, 2018 be approved.</p>
<br>
<p>Finance Committee Meeting Minutes of December 3, 2018</p>
<p>That the minutes of Audit Committee meeting of September 17, 2018 be approved.</p>
<p>Moved by Councillor Clarke</p>
<p>Carried</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Pecuniary Interest.</p>
<p>Reports and Communications</p>
<p>Presentation of 2019 Draft Budget</p>
<p>Report CLSFS18-042</p>
<p>Richard Freymond, Chief Financial Officer, made a presentation on the 2019 Draft Budget.</p>
<p>Moved by Councillor Vassiliadis</p>
<p>That Council approve the recommendation outlined in Report CLSFS18-042 dated December 3, 2018, of the Commissioner of Corporate and Legislative Services as follows:</p>
<p>That the draft 2019 Budget documents presentation at the meeting held December 3, 2018, be received and the documents be reviewed in detail during the Finance Committee meetings scheduled the week of January 14, 2019.</p>
<p>Carried</p>
<p>Other Business</p>
<p>There were no items of Other Business.</p>
<p>Adjournment</p>
<p>Moved by Councillor Riel</p>
<p>That this meeting adjourn at 6:09 p.m.</p>
<p>Carried</p>
<br>
<br>
<br>
<p>Finance Committee Meeting Minutes of December 3, 2018</p>
<p>_________________________</p>
<p>John Kennedy</p>
<p>City Clerk</p>
<p>_________________________</p>
<p>Councillor Pappas</p>
<p>Chair</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br></div>