<!doctype html><div><p>Staff:</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Special General Committee Minutes</p>
<br>
<p>Council Chambers, City Hall</p>
<br>
<br>
<p>December 10, 2018</p>
<br>
<p>Present:</p>
<br>
<p>Mayor Therrien</p>
<p>Councillor Akapo</p>
<p>Councillor Baldwin</p>
<p>Councillor Beamer</p>
<p>Councillor Clarke</p>
<p>Councillor Pappas</p>
<p>Councillor Parnell</p>
<p>Councillor Riel</p>
<p>Councillor Vassiliadis</p>
<p>Councillor Wright</p>
<p>Councillor Zippel</p>
<br>
<p>Sandra Clancy, Chief Administrative Officer</p>
<p>Richard Freymond, Chief Financial Officer</p>
<p>Wayne Jackson, Commissioner of Infrastructure and Planning Services</p>
<p>John Kennedy, Clerk</p>
<p>Patricia Lester, Commissioner of Corporate and Legislative Services</p>
<p>Bill McDougall, Budget and Operations Analyst</p>
<p>Mac McGillivray, Facilities and Energy Manager</p>
<p>David Potts, City Solicitor/Manager of Legal Services</p>
<p>Allan Seabrooke, Commissioner of Community Services</p>
<br>
<br>
<p>Closed Session - 5:30 p.m., Doris Room</p>
<br>
<p>Resolution to meet in Closed Session</p>
<br>
<p>Moved by Councillor Clarke</p>
<br>
<p>Carried</p>
<br>
<br>
<br>
<p>That Committee move into Closed Session to discuss one item under Section</p>
<p>239(2)(d) Labour relations or employee negotiations.</p>
<br>
<p>1</p>
<br>
<br>
<br>
<p>General Committee meeting minutes of December 10, 2018</p>
<br>
<p>Open Session - Council Chambers</p>
<br>
<p>Committee adjourned Closed Session at 5:35 p.m.</p>
<br>
<p>Opening of Meeting</p>
<br>
<p>The Special General Council meeting was called to order at 5:45 p.m. in the Council Chambers, City Hall.</p>
<p>Appointment of Commissioner of Infrastructure and Planning Services</p>
<p>Report of Closed Session</p>
<p>Report CAO18-010</p>
<p>Moved by Mayor Therrien</p>
<p>That Council approve the recommendation outlined in Report CAO18-010 dated December 10, 2018 of the Chief Administrative Officer, as follows:</p>
<p>That Cynthia Fletcher be appointed as the Commissioner of Infrastructure and Planning Services for the City of Peterborough as of January 18, 2019.</p>
<p>Council viewed a video Ms. Fletcher provided to the City to be played at the Special General Committee meeting.</p>
<p>Adjournment</p>
<p>Moved by Councillor Parnell</p>
<p>That this meeting adjourn at 5:48 p.m.</p>
<p>Carried</p>
<p>Carried</p>
<br>
<br>
<br>
<br>
<br>
<p>_________________________</p>
<p>John Kennedy</p>
<p>City Clerk</p>
<br>
<p>_________________________</p>
<p>Councillor Beamer</p>
<p>Chair</p>
<br></div>