<!doctype html><div><br>
<br>
<br>
<br>
<br>
<br>
<p>Museum and Archives Advisory Committee Minutes</p>
<br>
<p>Debbie Flieler</p>
<p>Jodi Aoki</p>
<p>Karen Carter-Edwards</p>
<p>Linda Lumsden</p>
<p>Claude Dufresne</p>
<p>Gayle McIntyre, Chair</p>
<p>Ken Brown</p>
<p>Councillor Parnell</p>
<br>
<p>Ann Sullivan</p>
<br>
<p>January 10, 2019</p>
<br>
<p>Present</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Regrets</p>
<br>
<br>
<br>
<br>
<br>
<p>Staff</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Call to Order</p>
<br>
<p>Kendra Sedgwick, Committee Coordinator</p>
<p>Susan Neale, Museum Director</p>
<p>Faryn Stanley, Museum Education Officer</p>
<br>
<p>The meeting was called to order by Gayle McIntyre, Chair, in the Fine Annex, Peterborough Museum & Archives, at 5:00 p.m.</p>
<p>That the Museum & Archives Advisory Committee minutes of November 8, 2018 be approved.</p>
<p>Confirmation of Minutes</p>
<p>Moved by Claude Dufresne</p>
<p>Carried</p>
<p>Consent Agenda - 5.b.,  5.c.</p>
<p>Moved by Karen Carter-Edwards</p>
<p>Carried</p>
<br>
<br>
<p>That items 5.b. and 5.c. be approved as part of the Consent Agenda.</p>
<br>
<p>Museum & Archives Advisory Committee minutes of January 10, 2019</p>
<p>Reports and Communications</p>
<p>Peterborough Museum & Archives: Policy Manual 2019 (Draft) Report MAAC19-002</p>
<p>Moved by Karen Carter-Edwards</p>
<p>That the Museum & Archives Advisory Committee approve the recommendation outlined in Report MAAC19-002, dated January 10, 2019, of the Museum Director, as follows:</p>
<p>That the Peterborough Museum & Archives Policy Manual 2019 (Draft), attached as Appendix A, be approved.</p>
<p>Carried</p>
<p>Peterborough Museum & Archives: Report on Activities Report MAAC19-003</p>
<p>Moved by Karen Carter-Edwards</p>
<p>That the Museum & Archives Advisory Committee approve the recommendation outlined in Report MAAC19-003, dated January 10, 2019, of the Museum Director, as follows:</p>
<p>That the Museum Director’s report on the upcoming activities of the Peterborough Museum & Archives be received for information.</p>
<p>Carried</p>
<p>Peterborough Museum & Archives: Summer Programming Initiatives Report MAAC19-001</p>
<p>Moved by Councillor Parnell</p>
<p>That the Museum & Archives Advisory Committee approve the recommendation outlined in Report MAAC19-001, dated January 10, 2019, of the Museum Director, as follows:</p>
<p>That the Committee receive the presentation by the Museum Education Officer for information.</p>
<p>Next Meeting - February 7, 2019</p>
<p>The Chair indicated that the next meeting is scheduled for February 7, 2019.</p>
<p>Carried</p>
<br>
<br>
<br>
<br>
<p>Museum & Archives Advisory Committee minutes of January 10, 2019</p>
<p>Other Business</p>
<p>There were no items of Other Business.</p>
<p>That this meeting adjourn at 6:14 p.m.</p>
<p>Adjournment</p>
<p>Moved by Debbie Flieler</p>
<p>Carried</p>
<p>Kendra Sedgwick Committee Coordinator</p>
<p>Gayle McIntyre Chair</p>
<br>
<br>
<br>
<br></div>