<!doctype html><div><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Waste Management Committee Minutes</p>
<br>
<p>City of Peterborough</p>
<br>
<p>October 1, 2018</p>
<br>
<p>Present</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Regrets:</p>
<br>
<br>
<p>Staff</p>
<br>
<br>
<br>
<p>Councillor Pappas, City of Peterborough</p>
<p>Councillor Vassiliadis, City of Peterborough, Chair</p>
<p>Councillor Senis, County of Peterborough</p>
<p>Councillor Bonneau, County of Peterborough</p>
<br>
<p>Councillor Nelson, County of Peterborough</p>
<p>Councillor Beamer, City of Peterborough</p>
<br>
<p>Tara Stephen, Manager of Environmental Services, County of</p>
<p>Peterborough</p>
<p>Kendra Sedgwick, Committee Coordinator, City of Peterborough</p>
<p>Don Briand, Waste Management Site Operator, Landfill, City of</p>
<p>Peterborough</p>
<p>James Istchenko, Manager of Environmental Services, City of</p>
<p>Peterborough</p>
<br>
<p>The meeting was called to order by Councillor Vassiliadis, Chair, in the Doris Room, City Hall at 2:04 p.m.</p>
<p>Call to Order</p>
<p>Confirmation of Minutes</p>
<p>Moved by Councillor Senis</p>
<p>That the minutes of the Waste Management Committee meeting of July 30, 2018 be approved.</p>
<p>Carried</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no Disclosures of Pecuniary Interest.</p>
<br>
<br>
<p>Waste Management Meeting minutes of October 1, 2018</p>
<p>Second Draft of the 2019 Budget for the Peterborough County/City Waste Management Facility Report WMC18-004</p>
<p>Moved by Dean Pappas</p>
<p>That the Waste Management Committee endorse the recommendation as outlined in Report WMC18-004 dated October 1, 2018 of the Commissioner of Infrastructure and Planning Services as follows:</p>
<p>That the Draft 2019 Budget for the Peterborough County/City Waste Management Facility as detailed in Appendices B and C of Report WMC18-004 dated October 1, 2018 be accepted and recommended for adoption as part of the City of Peterborough 2019 Budget budgeting process and the underlying assumptions made in the preparation of this draft budget be received for information.</p>
<p>That the Waste Management Steering Committee decline the request received from the St. James Players Board to have the tipping fees waived for the 20 yard bin.</p>
<p>The Chair indicated that the next meeting is scheduled for November 18, 2018.</p>
<p>Carried</p>
<br>
<p>Other Business</p>
<p>Letter from the St. James Players</p>
<p>Moved by Councillor Bonneau</p>
<p>Carried</p>
<p>Next Meeting - November 18, 2018</p>
<p>That the meeting was adjourned at 2:12 p.m.</p>
<p>Adjournment</p>
<p>Moved by Dean Pappas</p>
<p>Carried</p>
<p>Kendra Sedgwick Committee Coordinator</p>
<p>Councillor Vassiliadis, Chair</p>
<br>
<br></div>