<!doctype html><div><p>Arts, Culture and Heritage Advisory Committee Minutes</p>
<br>
<br>
<br>
<br>
<br>
<p>City of Peterborough</p>
<br>
<br>
<p>January 10, 2019</p>
<br>
<br>
<p>Present</p>
<br>
<p>Councillor Beamer</p>
<p>Dennis Carter-Edwards</p>
<p>Peer Christensen</p>
<p>Bruce Stonehouse</p>
<p>Councillor Riel</p>
<br>
<p>Andy Cragg</p>
<p>Bill Kimball</p>
<p>Bill Templeman</p>
<p>Dirk Verhulst</p>
<br>
<p>Natalie Garnett, Deputy Clerk</p>
<p>Karen Rennie, Manager of Arts Culture & Heritage</p>
<br>
<p>Regrets</p>
<br>
<p>Staff</p>
<br>
<p>Call to Order</p>
<br>
<p>Carried</p>
<br>
<br>
<p>Carried</p>
<br>
<br>
<br>
<br>
<p>The meeting was called to order by Dennis Carter-Edwards, Chair, in the Auditorium, Community Services Office at 5:30 p.m. The Chair welcomed Councillors Beamer and Riel to the Committee.</p>
<p>Confirmation of Minutes</p>
<p>Moved by Bruce Stonehouse</p>
<p>That the Arts, Culture and Heritage Advisory Committee minutes of November 8, 2018 be approved.</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Pecuniary Interest.</p>
<p>Consent Agenda</p>
<p>Moved by Bruce Stonehouse</p>
<p>That Items 5c and 5d be approved as part of the Consent Agenda.</p>
<br>
<p>Arts, Culture and Heritage Advisory Committee minutes of January 10, 2019</p>
<p>January Heritage Preservation Office Report</p>
<p>Report ACHAC19-001</p>
<p>Moved by Bruce Stonehouse</p>
<p>That the Arts, Culture and Heritage Advisory Committee approve the recommendation outlined in Report ACHAC19-001, dated January 10, 2019 of the Heritage Resources Coordinator as follows:</p>
<p>That the report with respect to the activities of the Heritage Preservation Office for November and December 2018, be received for information.</p>
<p>Carried</p>
<p>Arts, Culture and Heritage Division Manager's Report</p>
<p>Report ACHAC19-003</p>
<p>Moved by Bruce Stonehouse</p>
<p>That the Arts, Culture and Heritage Advisory Committee approve the recommendation outlined in Report ACHAC19-003, dated January 10, 2019 of the Manager of Arts, Culture and Heritage Division, as follows:</p>
<p>That the report with respect to the activities of the Manger of Arts, Culture and Heritage Division for December 2018, be received for information.</p>
<p>Carried</p>
<p>Countdown Project Presentation</p>
<p>Report ACHAC19-004</p>
<p>Moved by Peer Christensen</p>
<p>Carried</p>
<br>
<p>That the Arts, Culture and Heritage Advisory Committee approve the recommendation outlined in Report ACHAC19-004, dated January 10, 2019 of the Manager of Arts, Culture and Heritage Division, as follows:</p>
<p>That the presentation by Lisa Clarke, Interim Executive Director of the Kawartha Sexual Assault Centre, be received for information.</p>
<br>
<br>
<br>
<br>
<br>
<p>Arts, Culture and Heritage Advisory Committee minutes of January 10, 2019</p>
<p>Public Art Update</p>
<p>Report ACHAC19-002</p>
<p>Mr. Stonehouse provided an update on the condition of the mural located on the City owned building at 249-251 Simcoe Street. This mural faces the the Library Commons and pays homage to the fire hall previously located at this site.</p>
<p>Moved by Bruce Stonehouse</p>
<p>That the Arts, Culture and Heritage Advisory Committee approve the recommendation outlined in Report ACHAC19-002, dated January 10, 2019 of the Manager of Arts, Culture and Heritage Division, as follows:</p>
<p>That the report with respect to the Public Art Program Update for 2018 be received for information; and,</p>
<p>That staff investigate and offer options regarding the mural at 249-252 Simcoe Street at the February Committee meeting.</p>
<p>Carried</p>
<p>Other Business</p>
<p>Discussion was held regarding providing an overview of the Committee’s work over the past 4 years at the February meeting.</p>
<p>Ms. Rennie, Manager of Arts, Culture and Heritage Division provided an update on the Poet Laureate initiative.</p>
<p>Next Meeting - February 14, 2019</p>
<p>The Chair indicated that the next meeting is scheduled for February 14, 2019</p>
<p>Adjournment</p>
<p>Moved by Bruce Stonehouse</p>
<p>That this meeting adjourn at 6:25 p.m.</p>
<p>Carried</p>
<br>
<br>
<br>
<br>
<p>Arts, Culture and Heritage Advisory Committee minutes of January 10, 2019</p>
<p>_________________________</p>
<p>Natalie Garnett</p>
<p>Deputy Clerk</p>
<p>_________________________</p>
<p>Dennis Carter-Edwards</p>
<br>
<br>
<p>Chair</p>
<br>
<br>
<br>
<br>
<br>
<br></div>