<!doctype html><div><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Joint Services Steering Committee Minutes</p>
<br>
<p>January 8, 2019</p>
<br>
<br>
<p>Present</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Staff</p>
<br>
<br>
<br>
<p>Councillor Baldwin, City of Peterborough</p>
<p>Councillor Beamer, City of Peterborough</p>
<p>Councillor Pappas, City of Peterborough</p>
<p>Councillor Riel, City of Peterborough</p>
<p>Warden Jones, County of Peterborough</p>
<p>Councillor Martin, County of Peterborough</p>
<p>Deputy Warden Mitchell, County of Peterborough</p>
<p>Councillor McFadden, County of Peterborough</p>
<br>
<p>Carolyn Hagg, Corporate Financial Analyst, City of Peterborough</p>
<p>David Potts, City Solicitor, City of Peterborough</p>
<p>Ellen Armstrong, Manager of Social Services</p>
<p>Janice Hoskins, Court Services Manager, City of Peterborough</p>
<p>John Kennedy, Clerk, City of Peterborough</p>
<p>Karen Rennie, Manager, Arts, Culture and Heritage, City of Peterborough</p>
<p>Patricia Lester, Commissioner of Corporate and Legislative Services, City</p>
<p>of Peterborough</p>
<p>Randy Mellow, Chief, Peterborough County/City Paramedics</p>
<p>Rebecca Morgan Quin, Manager of Housing, City of Peterborough</p>
<p>Trena DeBruijn, Treasurer, County of Peterborough</p>
<p>Troy Speck, Chief Administrative Office, County of Peterborough</p>
<br>
<p>Roll Call</p>
<p>The special meeting of Joint Services Steering Committee was called to order by Councillor Beamer, Chair, in the Council Chambers, City Hall at 3:45 p.m.</p>
<p>Disclosure of Interest</p>
<p>There were no disclosures of interest.</p>
<br>
<br>
<p>Joint Services Steering Committee meeting minutes of January 8, 2019</p>
<p>Reports</p>
<p>POA, Social Services, and Housing Draft 2019 Budgets Report CLSFSJSSC19-001</p>
<p>Moved by Councillor Pappas Seconded by Warden Jones</p>
<p>That the Joint Services Steering Committee approve the recommendation outlined in report CLSFSJSSC19-001, dated January 8, 2019, of the Commissioner of Corporate and Legislative Services, as follows:</p>
<p>That the Joint Services Steering Committee endorse the draft 2019 POA, Social Services, and Housing Budgets, as set out in Appendix A to report CLSFSJSSC19-001, and recommend to City and County Councils that the budgets be reflected in their respective draft 2019 Municipal Budget documents.</p>
<p>The Chair advised that the next Joint Services Steering Committee meeting is scheduled for February 14, 2019.</p>
<p>Carried</p>
<p>Next Meeting - February 14, 2019</p>
<p>Adjournment</p>
<p>Moved by Councillor Pappas Seconded by Councillor Martin</p>
<p>That the meeting be adjourned at 4:07 p.m.</p>
<p>Carried</p>
<br>
<p>John Kennedy City Clerk</p>
<p>Councillor Beamer Chair</p>
<br>
<br>
<br></div>