<!doctype html><div><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Arenas, Parks and Recreation Advisory Committee Minutes</p>
<br>
<br>
<p>November 20, 2018</p>
<br>
<p>Present</p>
<br>
<p>Regrets</p>
<br>
<p>Staff Present</p>
<br>
<p>Call to Order</p>
<br>
<p>Councillor Haacke</p>
<p>Councillor Baldwin</p>
<p>Diane Sargent, Chair</p>
<p>Glen Payne</p>
<p>Pete Dalliday</p>
<p>Ashley Vititoe</p>
<br>
<p>David Ronson</p>
<br>
<p>Kendra Sedgwick, Committee Coordinator</p>
<p>Rob Anderson, Recreation Division Coordinator</p>
<p>Sue Warrington, Manager, Arena Division</p>
<p>Phil Jacobs, Parks & Forestry Supervisor</p>
<p>Rob McAulay, Facility Manager, Peterborough Sport and</p>
<p>Wellness Centre</p>
<br>
<p>The meeting was called to order at 5:30 p.m. by Diane Sargent, Chair, in the Auditorium, Community Services Office.</p>
<p>Confirmation of Minutes</p>
<p>Moved by Glen Payne</p>
<p>That the Arenas, Parks and Recreation Advisory Committee minutes of October 2, 2018 be approved.</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Pecuniary Interest.</p>
<p>Consent Agenda</p>
<p>Moved by Councillor Haacke</p>
<p>That items 5.c. and 5.d. be approved as part of the Consent Agenda.</p>
<p>Carried</p>
<p>Carried</p>
<br>
<p>Arenas, Parks and Recreation Advisory Committee minutes of November 20, 2018</p>
<p>People Found Living Rough in City Parks - Update Report APRAC18-023</p>
<p>Moved by Councillor Haacke</p>
<p>That the Arenas Parks and Recreation Advisory Committee approve the recommendation outlined in Report APRAC18-023 dated November 20, 2018, of the Supervisor of Parks and Forestry, as follows:</p>
<p>That Report APRAC18-023 be received for information.</p>
<p>Carried</p>
<p>2019 APRAC Meeting Schedule Report APRAC18-025</p>
<p>Moved by Councillor Haacke</p>
<p>That the Arenas Parks and Recreation Advisory Committee approve the recommendation outlined in Report APRAC18-025 dated November 20, 2018, of the Recreation Division Coordinator, as follows:</p>
<p>That 2019 Arenas Parks and Recreation Advisory Committee meeting schedule be approved, as presented in report APRAC18-025.</p>
<p>Carried</p>
<p>Peterborough Sport and Wellness Centre 2019 Subsidy Program Report APRAC18-026</p>
<p>Moved by Pete Dalliday</p>
<p>That the Arenas Parks and Recreation Advisory Committee approve the recommendation outlined in Report APRAC18-026 dated November 20, 2018, of the Facility Manager, Peterborough Sport and Wellness Centre, as follows:</p>
<p>That the presentation by Rob McAulay, Facility Manager of the Peterborough Sport and Wellness Centre be received for information.</p>
<p>Carried</p>
<br>
<br>
<br>
<br>
<p>Arenas, Parks and Recreation Advisory Committee minutes of November 20, 2018</p>
<p>New Needle Drop Boxes in City Parks Report APRAC18-024</p>
<p>Moved by Councillor Baldwin</p>
<p>That the Arenas Parks and Recreation Advisory Committee approve the recommendation outlined in Report APRAC18-024 dated November 20, 2018, of the Supervisor – Public Works, as follows:</p>
<p>That Report APRAC18-024 be received for information.</p>
<p>Carried</p>
<p>Other Business</p>
<p>Sue Warrington, Manager, Arena Division, provided Committee with an update on the Ice Allocation details from the user group meeting of November 7, 2018.</p>
<p>The Chair thanked Councillors Haacke and Baldwin for their contributions to the Committee during the past several years.</p>
<p>Next Meeting - January 22, 2019</p>
<p>The Chair indicated that the next meeting is scheduled for January 22, 2019.</p>
<p>Adjournment</p>
<p>Moved by Glen Payne</p>
<p>That this meeting adjourn at 6:15 p.m.</p>
<p>Carried</p>
<p>Kendra Sedgwick, Committee Coordinator</p>
<p>Diane Sargent, Chair</p>
<br>
<br>
<br>
<br></div>