<!doctype html><div><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>General Committee Minutes</p>
<br>
<p>Council Chambers, City Hall</p>
<br>
<br>
<p>February 11, 2019</p>
<br>
<p>Present:</p>
<br>
<p>Councillor Akapo</p>
<p>Councillor Baldwin</p>
<p>Councillor Beamer, Chair</p>
<p>Councillor Clarke</p>
<p>Councillor Parnell</p>
<p>Councillor Pappas</p>
<p>Councillor Riel</p>
<p>Mayor Therrien</p>
<p>Councillor Vassiliadis</p>
<p>Councillor Wright</p>
<p>Councillor Zippel</p>
<br>
<br>
<p>Staff:</p>
<br>
<p>Sandra Clancy, Chief Administrative Officer</p>
<p>Cynthia Fletcher, Commissioner of Infrastructure</p>
<p>Richard Freymond, Manager of Financial Services</p>
<p>Erik Hanson, Heritage Resources Co-ordinator</p>
<p>John Kennedy, Clerk</p>
<p>David Potts, City Solicitor, Manager of Legal Services</p>
<p>Karen Rennie, Manager, Arts and Heritage</p>
<p>Allan Seabrooke, Commissioner of Community Services</p>
<p>Brendan Wedley, Manager of Communication Services</p>
<br>
<p>The General Committee meeting was called to order at 6:00 p.m. in the Council Chambers, City Hall.</p>
<p>Opening of Meeting</p>
<p>Adoption of minutes</p>
<p>Moved by Councillor Clarke</p>
<p>Carried</p>
<br>
<br>
<p>That the minutes of the General Committee meeting held on January 21, 2019 be approved.</p>
<p>General Committee meeting minutes of February 11, 2019</p>
<p>Disclosure of Pecuniary Interest</p>
<p>Councillor Clarke declared an interest in Report CSACH19-003 item b), as his employer’s property is included on the list of Heritage properties.</p>
<p>Consent Agenda for Reports and Communications</p>
<p>Moved by Councillor Vassiliadis</p>
<p>That items 9.a., 9.d. and 10.d. be approved as part of the Consent Agenda.</p>
<p>By-law to Authorize Borrowing $15,000,000 for 2019 Current Expenditures</p>
<p>Report CLSFS19-012</p>
<p>Moved by Councillor Vassiliadis</p>
<p>That Council approve the recommendation outlined in Report CLSFS19-012 dated February 11, 2019, of the Commissioner of Corporate and Legislative Services, as follows:</p>
<p>That a by-law be enacted to establish a $15,000,000 borrowing limit for the 2019 year to finance current expenditures.</p>
<p>Citizen Appointments - City of Peterborough Holdings Inc. and Peterborough Distribution Inc.</p>
<p>Report CLSCLK19-005</p>
<p>Moved by Councillor Vassiliadis</p>
<p>That Council approve the recommendations outlined in Report CLSCLK19-005, dated February 11, 2019, of the Commissioner of Corporate and Legislative Services, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>That Louis O’Brien be appointed to the City of Peterborough Holdings Inc. Board with a term ending December 31, 2021;</p>
<p>That Scott Baker be reappointed to the City of Peterborough Holdings Inc. Board with a term ending December 31, 2019; and</p>
<p>Carried</p>
<p>Carried</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>General Committee meeting minutes of February 11, 2019</p>
<p>That Bryan Weir be reappointed to the Peterborough Distribution Inc. Board with a term ending December 31, 2020 or until such time as the PDI business is sold.</p>
<br>
<p>c)</p>
<p>Carried</p>
<p>Conditional Funding Approval for Affordable Rental Housing: 461 Paterson Street Peterborough (ECE Living Ltd.)</p>
<p>Report CSSS19-001</p>
<p>Moved by Councillor Vassiliadis</p>
<p>That Council approve the recommendations outlined in Report CSSS19-001 dated February 11, 2019, of the Commissioner of Community Services, as follows:</p>
<p>That the Affordable Housing Community Improvement Plan program application be approved for ECE Living Ltd.’s 8 unit affordable rental project at 461 Paterson Street, Peterborough, including municipal incentives and conditional approval of a maximum of $1,080,000 in federal- provincial capital funding, pending confirmation from the Ministry of a revised notional allocation amount;</p>
<p>That a By-law be adopted authorizing City Council to designate the property at 461 Paterson Street, Peterborough as a Municipal Housing Facility, in accordance with By-law Number 12-094, and authorizing the Mayor and Clerk to sign agreements and other documents as necessary to provide municipal incentives, and capital funding pending confirmation from the Ministry of a revised notional allocation amount;</p>
<p>That a By-law be adopted authorizing Council to exempt the property at 461 Paterson Street, Peterborough from property tax levied for municipal and school purposes for a period of 10 years, as a Municipal Housing Facility in accordance with By-law Number 12-094;</p>
<p>That staff be authorized to negotiate the specific terms and conditions of a legal agreement with ECE Living Ltd. pending confirmation from the Ministry of a revised notional allocation.</p>
<p>Carried</p>
<br>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>d)</p>
<br>
<br>
<br>
<p>General Committee meeting minutes of February 11, 2019</p>
<p>Presentations</p>
<p>Peterborough Regional Health Centre Presentation</p>
<p>Report CLSCLK19-003</p>
<p>Moved by Mayor Therrien</p>
<p>That Council approve the recommendation outlined in Report CLSCLK19-003 dated February 11, 2019, of the Commissioner of Corporate and Legislative Services, as follows:</p>
<p>That the presentation from the Peterborough Regional Health Centre be received for information.</p>
<p>Carried</p>
<p>PKED 2018 Fourth Quarter Report</p>
<p>Report PKED19-001</p>
<p>Moved by Councillor Riel</p>
<p>Carried</p>
<p>Amend Procurement By-law 18-084</p>
<p>Report CLSFS19-013</p>
<p>Moved by Councillor Pappas</p>
<p>That Council approve the recommendation outlined in Report PKED19-001 dated February 11, 2019 of the Board Chair and President & CEO of Peterborough & the Kawarthas Economic Development, as follows:</p>
<p>That Report PKED19-001 and supporting presentation, providing the Peterborough & the Kawarthas Economic Development 2018 Fourth Quarter Report be received.</p>
<p>That Council approve the recommendation outlined in Report CLSFS19-013 dated February 11, 2019, of the Commissioner of Corporate and Legislative Services, as follows:</p>
<p>That Section 9.1.2 and Chart 3 of Appendix A of the Procurement By-law 18-084 be amended as per Appendix A of Report CLSFS19-013.</p>
<p>Carried</p>
<br>
<br>
<br>
<br>
<br>
<p>General Committee meeting minutes of February 11, 2019</p>
<p>Citizen Appointments to Boards and Committees</p>
<p>Report CLSCLK19-004</p>
<p>Moved by Councillor Pappas</p>
<p>That Council approve the recommendations outlined in Report CLSCLK19-004, dated February 11, 2019, of the Commissioner of Corporate and Legislative Services on behalf of the Citizen Appointment Selection Committee, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>d)</p>
<p>e)</p>
<p>f)</p>
<p>g)</p>
<p>h)</p>
<p>i)</p>
<p>j)</p>
<br>
<p>That Sioux Lily and Amanda Motyer be appointed to serve as members of the Accessibility Advisory Committee, with terms to expire November 30, 2022.</p>
<p>That Shelley King be appointed to serve as a member of the Age Friendly Advisory Committee, with a term to expire November 30, 2020.</p>
<p>That Godfrey DeSira and Claude Dufresne be appointed to serve as members of the Appeal Committee – Animal Control Orders, with terms to expire November 30, 2022.</p>
<p>That Stephen MacDougall be appointed to serve as a member of the Arenas, Parks and Recreation Advisory Committee, with a term to expire November 30, 2022.</p>
<p>That Ryan Kemp, Jeff Macklin, Sarah McNeilly, Justin Million, Bruce Stonehouse, Jeannine Taylor and Su Ditta (Electric City Culture Council (EC3) representative) be appointed to serve as members of the Arts, Culture and Heritage Advisory Committee, with terms to expire November 30, 2022.</p>
<p>That Ryan Waudby be appointed to serve as a member of the Cenotaph Advisory Committee (Citizens’ War Memorial Advisory Committee), with a term to expire November 30, 2022.</p>
<p>That Mauro DiCarlo, Claude Dufresne, Tom Green, Stewart Hamilton and Robert Short be appointed to serve as members of the Committee of Adjustment, with terms to expire November 30, 2022.</p>
<p>That Susan Bacque, Jeffrey Bergeron, Andy Cragg, Kevin Duguay, Ben Hatcher, Len Lifchus, Alison Mackenzie, Hanah McFarlane, Drew Merrett and Susan Scott be appointed to serve as members of the Community Investment Grants Committee, with terms to expire November 30, 2020.</p>
<p>That Laura Duarte and Ann Sullivan be appointed to serve as members of the Museum and Archives Advisory Committee, with terms to expire November 30, 2022.</p>
<p>That Dennis Carter-Edwards and Jayne Spearin be appointed to serve as members of the Peterborough Architectural Conservation Advisory Committee, with terms to expire November 30, 2022.</p>
<br>
<p>k)</p>
<p>General Committee meeting minutes of February 11, 2019</p>
<p>That Amy Bowen, Leigh McEachran, Dan Moloney, Gillian Sandeman, Leslie Woolcott, and Barb Connor (Friends of the Library representative) and Jayne White (Library Foundation Board representative) be appointed as members of the Peterborough Public Library Board, with terms to expire November 30, 2022.</p>
<p>l)</p>
<p>That Bob Hall be appointed as a member of the Peterborough Police Service Board with a term to expire November 30, 2022.</p>
<p>m)   That Godfrey DeSira, Travis Doak, Dave McFadden, Peter Robinson and</p>
<p>Ryan Waudby be appointed to serve as members of the Property Standards Committee, with terms to expire November 30, 2022.</p>
<p>n)</p>
<p>That Cameron Boyd, Martin Parker and Mark Woolley be appointed to serve as members of the Tree/Woodlands Appeal Committee, with terms to expire November 30, 2022.</p>
<p>o)</p>
<p>That the appointments take effect March 1, 2019.</p>
<p>Carried</p>
<p>Revised Cenotaph By-law</p>
<p>Report CSACH19-004</p>
<p>Moved by Councillor Clarke</p>
<p>That Council approve the recommendation outlined in Report CSACH19-004, dated February 11, 2019, of the Commissioner of Community Services, as follows:</p>
<p>That Council enact the attached By-law for the purpose of maintaining, conserving, and regulating the use of the area of Confederation Square that encompasses the Citizens’ War Memorial and Veterans Wall of Honour.</p>
<p>Carried</p>
<p>Report CSACH19-003</p>
<p>Status of Listed Properties on the Heritage Register and Addition of Properties</p>
<p>Due to Councillor Clarke’s previously declared interest, he did not discuss or vote on this item.</p>
<p>Moved by Councillor Pappas</p>
<p>That Council approve the recommendations outlined in Report CSACH19-003, dated February 11, 2019 of the Commissioner of Community Services, as follows:</p>
<p>At the meeting of February 11, 2019 item a) was amended as follows:</p>
<br>
<p>General Committee meeting minutes of February 11, 2019</p>
<p>That the 37 remaining unlisted properties recommended for listing by the Peterborough Architectural Conservation Advisory Committee (PACAC) in Report PACAC16-038 included in Appendix A of this report be listed on the City’s Register of Heritage Properties as being of cultural heritage value or interest be approved;</p>
<p>That a list of properties on the City’s Heritage Register, attached as Appendix B, be received;</p>
<p>That the City Clerk be authorized to keep available for viewing by the public a current copy of the Register to be updated at regular intervals by Heritage Staff as approved by Council;</p>
<p>At the meeting of February 11, 2019, d) and e) were added as follows:</p>
<p>That staff be directed to contact the property owners at 546 Aylmer Street, 493 Bethune Street, 437 Sheridan Street and 714 Cumberland Avenue regarding the recent addition of their properties to the List and,</p>
<p>That staff provide an update report on this matter at an April meeting, including the process for a property owner to be removed from the List, should they wish.</p>
<p>Carried</p>
<p>Peterborough and District Farmers' Market Update</p>
<p>Report CSD19-002</p>
<p>Moved by Councillor Pappas</p>
<p>That Council approve the recommendations outlined in Report CSD19-002, dated February 11, 2019, of the Commissioner of Community Services, as follows:</p>
<p>a)</p>
<p>That staff be directed to proceed with public consultation as outlined in Report CSD19-002;</p>
<p>At the meeting of February 11, 2019 item b) was amended as follows:</p>
<p>That staff be directed to report back to Council in the spring of 2019 with the results of research of other farmer's markets and proposed survey questions and then report back in the fall of 2019 with the results of the public consultation and options moving forward; and</p>
<p>That Council approve an extension to the current license agreement with the Peterborough and District Farmers’ Market which will expire May 1, 2019 for one year until May 1, 2020.</p>
<p>At the meeting of February 11, 2019 item d) was added:</p>
<br>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>d)</p>
<p>e)</p>
<p>b)</p>
<p>c)</p>
<br>
<p>General Committee meeting minutes of February 11, 2019</p>
<p>That the RPF be awarded no later than January 2020 and should there be a delay, staff report to Council as soon as possible.</p>
<p>That staff report on existing waste diversion practices and the potential for an awareness-building programme focused on encouraging the reduction of single use plastics such as plastic straws, plastic bags and Styrofoam.</p>
<p>That this meeting of City Council adjourn at 8:04 p.m.</p>
<br>
<p>d)</p>
<p>Carried</p>
<p>Other Business</p>
<p>Reduction of Single Use Plastics</p>
<p>Moved by Councillor Baldwin</p>
<p>Carried</p>
<p>Adjournment</p>
<p>Moved by Councillor Clarke</p>
<p>Carried</p>
<p>_________________________</p>
<p>John Kennedy</p>
<p>City Clerk</p>
<p>_________________________</p>
<p>Councillor Beamer</p>
<p>Chair</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br></div>