<!doctype html><div><br>
<br>
<br>
<br>
<br>
<br>
<p>Regrets</p>
<br>
<p>Staff</p>
<br>
<p>Carried</p>
<br>
<br>
<p>Peterborough Public Library Board Minutes</p>
<br>
<p>City of Peterborough</p>
<br>
<br>
<p>May 14, 2019</p>
<br>
<p>Present</p>
<br>
<p>Councillor Akapo</p>
<p>Amy Bowen</p>
<p>Councillor Clarke</p>
<p>Barb Connor</p>
<p>Leigh McEachran</p>
<p>Dan Moloney</p>
<p>Jayne White</p>
<p>Leslie Woolcott, Chair</p>
<br>
<br>
<p>Gillian Sandeman</p>
<br>
<br>
<p>Laura Gardner, Collection Development Librarian</p>
<p>Natalie Garnett, Deputy Clerk</p>
<p>Jennifer Jones, Library CEO</p>
<br>
<p>Call to Order</p>
<br>
<p>The Chair called the meeting to order at 6:00 p.m.</p>
<br>
<p>Confirmation of Minutes</p>
<br>
<p>Moved by Dan Moloney</p>
<br>
<p>That the minutes of the April 9, 2019 meeting be approved as circulated.</p>
<br>
<p>Disclosure of Pecuniary Interest</p>
<br>
<p>There were no disclosures of Pecuniary Interest.</p>
<br>
<p>Consent Agenda</p>
<br>
<p>No items were passed as part of the Consent Agenda.</p>
<br>
<br>
<br>
<p>Peterborough Public Library minutes May 14, 2019</p>
<br>
<p>Reports and Communications</p>
<br>
<p>Collections Librarian - Guest Presentation</p>
<br>
<p>Report PPL19-019</p>
<br>
<p>Laura Gardner, Collection Development Library, provided a presentation on the library</p>
<p>collection.</p>
<br>
<p>Moved by Councillor Clarke</p>
<br>
<p>That the Library Board approves the recommendation as outlined in Report</p>
<p>PPL19-019 dated May 14, 2019, of the Library CEO as follows:</p>
<br>
<p>That the presentation by the Library’s Collection Development Librarian be</p>
<p>received for information.</p>
<br>
<p>Carried</p>
<br>
<br>
<p>Updates from the Foundation and Friends of the Library</p>
<br>
<p>That the Library Board approve the recommendations outlined in Report PPL19-</p>
<p>021, dated May 14, 2019, of the Library CEO, as follows:</p>
<br>
<p>That the report on the status of the Foundation by Jayne White be received</p>
<p>for information; and</p>
<br>
<p>That a verbal report to inform the Library Board on the status of the Friends</p>
<p>of the Peterborough Public Library by Barb Connor be received for</p>
<p>information.</p>
<br>
<p>Report PPL19-021</p>
<br>
<p>Moved by Amy Bowen</p>
<br>
<p>a)</p>
<br>
<p>b)</p>
<p>Carried</p>
<p>Q1 2019 Budget Review</p>
<p>Report PPL19-020</p>
<p>Moved by Barb Connor</p>
<p>That the Library Board approves the recommendation as outlined in Report PPL19-020 dated May 14, 2019, of the Library CEO as follows:</p>
<p>That the report be received for information.</p>
<p>Carried</p>
<br>
<br>
<br>
<br>
<p>Peterborough Public Library minutes May 14, 2019</p>
<p>June Meeting Date - Change Requested</p>
<p>Report PPL19-025</p>
<p>It was noted that the June meeting will be held at the DelaFosse Library Branch.  Committee members wishing to have a tour are asked to arrive by 5:45 p.m.</p>
<p>Moved by Councillor Clarke</p>
<p>That the Library Board approves the recommendation as outlined in Report PPL19-025 dated May 14, 2019, of the Library CEO as follows:</p>
<p>That the date of the June meeting be changed to June 4, 2019.</p>
<p>Carried</p>
<p>Library Policy Review</p>
<p>Report PPL19-024</p>
<p>Moved by Leigh McEachran</p>
<p>That Report PPL19-024 be received for information;</p>
<p>That the Library Board approve the recommendations as outlined in Report PPL19-024 dated May14, 2019, of the Library CEO as follows:</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>Carried</p>
<p>That a policy sub-committee be formed and include Amy Bowen and other members as available/required; and,</p>
<p>That the policy sub-committee establish a policy review timetable.</p>
<p>Library Code of Conduct</p>
<p>Report PPL19-023</p>
<p>Moved by Dan Moloney</p>
<p>That Report PPL19-023 be received for information;</p>
<p>That the Library Board approve the recommendations as outlined in Report PPL19-023 dated May 14, 2019, of the Library CEO as follows:</p>
<p>a)</p>
<p>b)</p>
<br>
<p>That the revised Library Code of Conduct (2019) be adopted; and,</p>
<br>
<br>
<p>Peterborough Public Library minutes May 14, 2019</p>
<p>c)</p>
<p>That the CEO provide an update on the Code of Conduct in the fourth quarter.</p>
<p>Carried</p>
<p>Library CEO Report May 2019</p>
<p>Report PPL19-022</p>
<p>Discussion was held regarding the provincial budget cuts to the Southern Ontario Library Service Interlibrary Loan program.</p>
<p>Moved by Councillor Akapo</p>
<p>That the Library Board approves the recommendation as outlined in Report PPL19-022 dated May 14, 2019, of the Library CEO as follows:</p>
<p>That the report be received for information.</p>
<p>Carried</p>
<p>There were no items of Other Business.</p>
<p>Other Business</p>
<p>Next Meeting</p>
<p>The next meeting will be held on June 4, 2019.</p>
<p>Adjournment</p>
<p>Moved by Councillor Akapo</p>
<p>That the meeting adjourn at 7:49 p.m.</p>
<p>Carried</p>
<p>_________________________</p>
<p>Natalie Garnett</p>
<p>Deputy Clerk</p>
<br>
<p>_________________________</p>
<p>Lesley Woolcott, Chair</p>
<br>
<br>
<br>
<br>
<br></div>