<!doctype html><div><br>
<p>Present:</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Regrets:</p>
<br>
<p>Staff:</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Carried</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Joint Services Steering Committee Minutes</p>
<br>
<p>February 14, 2019</p>
<br>
<p>Councillor Baldwin, City of Peterborough</p>
<p>Councillor Beamer, City of Peterborough</p>
<p>Councillor Pappas, City of Peterborough</p>
<p>Councillor Riel, City of Peterborough</p>
<p>Councillor McFadden, County of Peterborough</p>
<p>Councillor Mitchell, County of Peterborough</p>
<p>Warden Jones, County of Peterborough</p>
<br>
<p>Councillor Martin, County of Peterborough</p>
<br>
<p>Ellen Armstrong, Manager of Social Services</p>
<p>Sandra Clancy, Chief Administrative Officer, City of Peterborough</p>
<p>Trena DeBruijn, Treasurer, County of Peterborough</p>
<p>John Kennedy, Clerk, City of Peterborough</p>
<p>Randy Mellow, Chief, Peterborough County/City Paramedics</p>
<p>Allan Seabrooke, Commissioner of Community Services, City of</p>
<p>Peterborough</p>
<p>Troy Speck, Chief Administrative Office, County of Peterborough</p>
<br>
<br>
<br>
<br>
<p>Roll Call</p>
<p>The Joint Services Steering Committee was called to order by John Kennedy, City Clerk at 3:45 p.m. in the Council Chambers, City Hall.</p>
<p>Election of Officers</p>
<p>The Clerk called for nominations for the Chair position.</p>
<p>Moved by Councillor McFadden Seconded by Councillor Pappas</p>
<p>That Warden Jones be appointed as Chair of the Joint Services Steering Committee for 2019.</p>
<p>Warden Jones assumed the Chair called for nominations for the position of Vice Chair.</p>
<br>
<br>
<p>Joint Services Steering Committee minutes of February 14, 2019</p>
<p>Moved by Councillor Pappas Seconded by Councillor Baldwin</p>
<p>That Councillor Riel be appointed Vice Chair of the Joint Services Steering Committee for 2019.</p>
<p>That the Age-friendly Peterborough Advisory Committee minutes of June 7, 2018 and October 10, 2018 be received for information.</p>
<p>That the Joint Services Steering Committee meeting minutes of October 4, 2018 and January 8, 2019 be approved.</p>
<p>Confirmation of Minutes</p>
<p>Moved by Councillor Mitchell Seconded by Councillor McFadden</p>
<p>Minutes for Information</p>
<p>Moved by Councillor Beamer Seconded by Councillor Riel</p>
<p>Carried</p>
<p>Disclosure of Interest</p>
<p>There were no disclosures of interest.</p>
<p>Carried</p>
<p>Carried</p>
<p>Reports</p>
<p>a)</p>
<p>b)</p>
<p>Carried</p>
<br>
<br>
<p>Ministry of Health & Long Term Care Land Ambulance Service Review 2018 and Presentation</p>
<p>Moved by Councillor Pappas Seconded by Councillor Riel</p>
<p>That the Ministry of Health & Long Term Care Land Ambulance Service Review 2018 and Presentation be received for information; and,</p>
<p>That staff convene a meeting with regional MPP’s, City, County and Peterborough Regional Health Centre staff to discuss the ambulance service and off-load time challenges.</p>
<br>
<p>Joint Services Steering Committee minutes of February 14, 2019</p>
<p>Principles for Agreement Between City and County of Peterborough for Consolidated Municipal Service and Joint Services Steering Committee</p>
<p>Report CAOJSSC19-001</p>
<p>Moved by Councillor Riel Seconded by Councillor Pappas</p>
<p>That Joint Services Steering Committee approve the recommendation outlined in Report CAOJSSC19-001, dated February 14, 2019, of the Chief Administrative Officers from the City and County of Peterborough, as follows:</p>
<p>That Joint Services Steering Committee direct staff to consider the points included on page 3 of Report CAOJSSC19-001 when drafting an agreement between the City and County of Peterborough for consolidated municipal services that will begin January 1, 2020, which will come back to a future Joint Services Steering Committee meeting prior to being submitted to City and County Councils.</p>
<p>Carried</p>
<p>Other Business</p>
<p>Verbal Update on 2019 Budget</p>
<p>Ms. Armstrong, Manager of Social Services, provided an update on the 2019 budget.</p>
<p>Next Meeting - June 13, 2019</p>
<p>The Chair indicated that the next meeting is scheduled for June 13, 2019.</p>
<p>Adjournment</p>
<p>Moved by Councillor Pappas Seconded by Councillor Mitchell</p>
<p>That this meeting adjourn at 4:34 p.m.</p>
<p>Carried</p>
<p>John Kennedy, City Clerk</p>
<p>Warden Jones, Chair</p>
<br>
<br>
<br>
<br>
<br>
<br></div>