<!doctype html><div><br>
<br>
<p>City Council Minutes</p>
<br>
<p>City of Peterborough</p>
<br>
<p>Council Chambers, City Hall</p>
<br>
<br>
<p>May 27, 2019</p>
<br>
<p>Present:  Councillor Akapo</p>
<br>
<p>Councillor Baldwin</p>
<p>Councillor Beamer</p>
<p>Councillor Clarke</p>
<p>Councillor Parnell</p>
<p>Councillor Pappas</p>
<p>Councillor Riel</p>
<p>Mayor Therrien</p>
<p>Councillor Vassiliadis</p>
<p>Councillor Wright</p>
<p>Councillor Zippel</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Staff:</p>
<br>
<p>Sandra Clancy, Chief Administrative Officer</p>
<p>Cynthia Fletcher, Commissioner of Infrastructure and Planning Services</p>
<p>Richard Freymond, Commissioner of Corporate and Legislative Services</p>
<p>John Kennedy, Clerk</p>
<p>David Potts, City Solicitor/Manager of Legal Services</p>
<p>Brendan Wedley, Manager of Communication Services</p>
<br>
<p>The City Council meeting was called to order at 6:00 p.m. in the Council Chambers, City Hall.</p>
<p>Call to Order</p>
<p>Approval of Minutes</p>
<p>Moved by Councillor Pappas Seconded by Councillor Baldwin</p>
<p>Carried</p>
<p>That the Council minutes of April 23, 2019 be approved.</p>
<p>Disclosure of Pecuniary Interest</p>
<p>No members made any disclosures of Pecuniary Interest.</p>
<br>
<p>City Council minutes of May 27, 2019</p>
<p>Delegations - Items on the Agenda</p>
<p>Registered Delegations (7 minutes)</p>
<p>Dr. Rosana Salvaterra, Medical Officer of Health, Peterborough Public Health, made a delegation to item 8 of General Committee Meeting No. 9 (Public Health Resolution).</p>
<p>Carol Lemm, 443 Rosedale Avenue, made a delegation to item 3 of General Committee Report No. 9 (Report IPSTR19-007 – Parking Restrictions on Rosedale Avenue).</p>
<p>Richard Staples, 731 River Road, made a delegation to item 2 of Finance Committee Report No. 2 (Report CLSFS19-018 – 2020 Preliminary Budget Guideline Report).</p>
<p>Unregistered Delegations (4 minutes)</p>
<p>Dillon Radcliff, Peterborough Field Naturalists, made a delegation to item 4 of General Committee Report No. 11 (Report CLSCLK19-015 - Terms of Reference for Proposed Peterborough Environmental Advisory Committee).</p>
<p>Reports from Standing Committees</p>
<p>Finance Committee Report No. 2</p>
<p>Finance Committee meeting of May 6, 2019</p>
<p>Moved by Councillor Pappas Seconded by Councillor Vassiliadis</p>
<p>That Finance Committee Report No. 2 be approved.</p>
<p>Carried</p>
<p>General Committee Report No. 9</p>
<p>General Committee meeting of May 6, 2019</p>
<p>Moved by Councillor Beamer Seconded by Councillor Clarke</p>
<p>That General Report No. 9 be approved.</p>
<p>Items 3, 7, 8 and 9 were separated for discussion.</p>
<p>Item 7 – Report IPSTR19-003, Request to Provide Update on the Transportation Master Plan</p>
<p>Councillor Parnell requested a recorded vote and the Clerk conducted a roll call.</p>
<br>
<br>
<br>
<p>City Council minutes of May 27, 2019</p>
<p>In Support of Motion Councillor Vassiliadis Councillor Akapo Councillor Zippel Councillor Pappas Councillor Beamer Councillor Baldwin Councillor Riel Councillor Wright Councillor Clarke Mayor Therrien</p>
<p>Opposed to Motion Councillor Parnell</p>
<br>
<br>
<br>
<br>
<p>Upon item 7, the motion carried.</p>
<p>Councillor Baldwin left the meeting at 7:53 p.m. and returned at 7:54 p.m.</p>
<p>Item 8 – Public Health Resolution</p>
<p>Moved by Councillor Pappas Seconded by Councillor Wright</p>
<p>At the meeting of May 27, 2019 Council added items e) and f) as follows:</p>
<p>e)</p>
<p>That Council support the AMO position to request the province to implement a financial funding ratio of 75 and 25 per cent; and,</p>
<p>f)</p>
<p>That the motions be sent to AMO.</p>
<p>Carried</p>
<br>
<p>Carried</p>
<p>Item 9 – Symposium on the Opioid Crisis</p>
<p>Moved by Councillor Clarke Seconded by Councillor Baldwin</p>
<p>That the motion in Item 9 be deleted.</p>
<br>
<br>
<br>
<br>
<br>
<p>City Council minutes of May 27, 2019</p>
<p>Moved by Councillor Clarke Seconded by Councillor Baldwin</p>
<p>That the motion in Item 9 be replaced as follows:</p>
<p>That staff be directed to invite Dr. Salvaterra, Medical Officer of Health for Peterborough and Deputy Police Chief Farquharson to make a presentation to Council regarding the opioid crisis.</p>
<p>Carried</p>
<p>Upon Item 3, the motion carried.</p>
<p>Upon the balance, less items 3, 7, 8 and 9, the motion carried.</p>
<p>General Committee Report No. 10</p>
<p>Special General Committee meeting of May 13, 2019</p>
<p>Moved by Councillor Beamer Seconded by Councillor Akapo</p>
<p>That General Committee Report No. 10 be approved.</p>
<p>Carried</p>
<p>General Committee Report No. 11</p>
<p>General Committee meeting of May 13, 2019</p>
<p>Moved by Councillor Beamer Seconded by Councillor Riel</p>
<p>That General Committee Report No. 11 be approved.</p>
<p>Item 6 – Report CLSFS19-021, December 31, 2018 Financial Report (Unaudited)</p>
<p>Moved by Councillor Baldwin Seconded by Councillor Clarke</p>
<p>That item 6e) be amended by changing the ratio of funding to; 60% for Police Special Projects Reserve and 40% to the City Capital Levy Reserve.</p>
<p>Upon the original motion of Councillors Beamer and Riel, the motion carried.</p>
<br>
<br>
<br>
<br>
<br>
<p>Lost</p>
<br>
<p>City Council minutes of May 27, 2019</p>
<p>Approval of By-laws</p>
<p>Moved by Councillor Vassiliadis Seconded by Councillor Pappas</p>
<p>That the following by-laws be read a first, second and third time:</p>
<p>19-052</p>
<p>Being a By-law to establish an Environmental Advisory Committee</p>
<p>Being a By-law to establish Tax Ratios for prescribed property classes for the 2019 taxation year</p>
<p>Being a By-law to levy and collect taxes for municipal, education and business improvement area purposes for the year 2019, to impose a penalty charge for non-payment of 2019 taxes, to provide for interest to be added to tax arrears, to establish that the City of Peterborough is now eligible to exit Capping for the Commercial and Industrial classes and that the multi residential class has reached a taxation level of 100% and no longer requires capping protection</p>
<p>19-055</p>
<p>Being a By-law to Appoint a Deputy Treasurer</p>
<p>Being a By-law to amend the Zoning By-law for the lands known as 356 London Street</p>
<p>Being a By-law to Delegate Authority to the Peterborough Police Services Board to license, regulate and govern the owners and drivers of Transportation Network Companies in the City of Peterborough</p>
<p>19-058</p>
<p>Being a By-law to amend By-law number 09-136 being a By-law for the Regulation of Parking on Rosedale Avenue</p>
<p>19-059</p>
<p>Being a By-law to amend 2019 User Fee By-law 19-002</p>
<p>and the said by-laws having been read now a third time and passed, the Mayor and Clerk be authorized to sign and seal the same.</p>
<p>Carried</p>
<p>Other Business</p>
<p>There were no items of Other Business.</p>
<br>
<br>
<p>19-053</p>
<p>19-054</p>
<p>19-056</p>
<p>19-057</p>
<br>
<br>
<br>
<p>City Council minutes of May 27, 2019</p>
<p>Confirmation By-law</p>
<p>Moved by Councillor Vassiliadis Seconded by Councillor Wright</p>
<p>19-060</p>
<p>Being a By-law to confirm the proceedings of Council at its meeting held on May 27,2019</p>
<p>and the said by-law having been read a third time and passed, the Mayor and Clerk be authorized to sign and seal the same.</p>
<br>
<br>
<br>
<br>
<br>
<p>Moved by Councillor Pappas Seconded by Councillor Beamer</p>
<p>That this meeting adjourn at 8:52 p.m.</p>
<p>Carried</p>
<p>Adjournment</p>
<p>Carried</p>
<p>John Kennedy</p>
<p>City Clerk</p>
<p>Diane Therrien</p>
<p>Mayor</p>
<br>
<br>
<p>_________________________</p>
<p>_________________________</p>
<br>
<p>City Council minutes of May 27, 2019</p>
<p>Finance Committee Report No. 2</p>
<p>Meeting of May 6, 2019</p>
<p>To the Council of The City of Peterborough for consideration at its meeting May 27, 2019</p>
<p>The Finance Committee as a result of its meeting held on May 6, 2019 recommends as follows:</p>
<p>1.  Public Capital Requests – Policy Amendment</p>
<p>Report CLSFS19-019</p>
<p>That Council approve the recommendation outlined in Report CLSFS19-019 dated May 6, 2019, of the Commissioner of Corporate and Legislative Services, as follows:</p>
<p>That the Community Major Capital Funding Requests Policy be amended to explicitly state that the annual Capital Budget impact as a result of Public Capital Requests, not exceed $1 million.</p>
<p>2.  Notice of Public Meeting – May 22, 2019</p>
<p>2020 Preliminary Budget Guideline Report Report CLSFS19-018</p>
<p>That Council approve the recommendations outlined in Report CLSFS19-018 dated May 6, 2019, of the Commissioner of Corporate and Legislative Services, as follows: a)  That Report CLSFS19-018, advising Council that a public meeting will be</p>
<p>held on May 22, 2019 at 6:00 pm, to present a 2020 preliminary Budget Guideline Report, as set out in Appendix A to Report CLSFS19-018, and to hear public delegations, be received.</p>
<p>b)   That a final version of the 2020 Guideline Report be presented to the June</p>
<p>10, 2019 Finance Committee meeting.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council minutes of May 27, 2019</p>
<p>3.  Peterborough Memorial Centre Capital Refurbishment Fund Process</p>
<p>Report CSAD19-005</p>
<p>That Council approve the recommendation outlined in Report CSAD19-005, dated May 6, 2019, of the Commissioner of Community Services, as follows:</p>
<p>That the Report CSAD19-005 which provides information on the current process followed in the collection of the Peterborough Memorial Centre Capital Refurbishment Fund be received for information.</p>
<p>Submitted by,</p>
<p>Councillor Pappas</p>
<p>Chair</p>
<p>May 6, 2019</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council minutes of May 27, 2019</p>
<p>General Committee Report No. 9</p>
<p>Meeting of May 6, 2019</p>
<p>To the Council of The City of Peterborough for consideration at its meeting held May 27, 2019</p>
<p>The General Committee as a result of its meeting held on May 6, 2019 recommends as follows:</p>
<p>1.  Updates to Schedule of Meetings</p>
<p>Report CLSCLK19-013</p>
<p>That Council approve the recommendation outlined in Report CLSCLK19-013, dated May 6, 2019, of the City Clerk, as follows:</p>
<p>That the amendments to the schedule of meetings of Council, attached as Appendix A to Report CLSCLK19-013, be approved.</p>
<p>2.  Acquisition of Lands from Trent University for the Rotary Trail</p>
<p>Report IPSRE19-006</p>
<p>That Council approve the recommendations outlined in Report IPSRE19-006, dated May 6, 2019 of the Commissioner of Infrastructure and Planning Services, as follows:</p>
<p>a)  That the Commissioner of Infrastructure and Planning Services, in consultation with the City Solicitor, be authorized to execute such agreements and documents as necessary to permit the City to acquire, for nominal consideration, lands from Trent University, which are described as Part of Lot 6, Concession 10, formerly in the Township of Douro, now in the City of Peterborough, being designated as Parts 1 and 2 on Reference Plan 45R-16770.</p>
<p>b)  That in the event that the City elects to no longer use the Lands for the purpose of a recreational trail, that the Lands be re-conveyed to Trent University, for nominal consideration, at Trent’s option.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council minutes of May 27, 2019</p>
<p>3.  Parking Restrictions on Rosedale Avenue</p>
<p>Report IPSTR19-007</p>
<br>
<p>4.</p>
<p>That Council approves the recommendations outlined in Report USTR19-007 dated May 6, 2019, of the Commissioner of Infrastructure and Planning Services, as follows:</p>
<p>a)  That Calendar Parking and a one hour parking restriction be implemented on</p>
<p>both sides of Rosedale Avenue, from Weller Street to Hopkins Avenue.</p>
<p>b)  That a By-law be approved to amend the appropriate Schedules and Articles</p>
<p>of Parking By-law 09-136 to authorize implementation of Recommendation a).</p>
<p>Zoning By-law Amendment for 356 London Street Report IPSPL19-019</p>
<p>That Council approve the recommendations outlined in Report IPSPL19-019 dated May 6, 2019, of the Commissioner of Infrastructure and Planning Services, as follows:</p>
<p>a)   That Section 3.9, Exceptions of Zoning By-law 1997-123 be amended to add</p>
<p>Exception .327 which identifies site specific regulations, including setbacks from Downie Street and London Street, in accordance with Exhibit ‘C’ attached to Report IPSPL19-019; and</p>
<p>b)   That the zoning of the lands known as 356 London Street be amended from</p>
<p>R.1 – Residential District to R.2-327 – Residential District in the City of Peterborough Zoning By-law #97-123 in accordance with Exhibit ‘D’ attached to Report IPSPL19-019.</p>
<p>5.  Otonabee Region Conservation Authority Presentation</p>
<p>Report CLSCLK19-012</p>
<p>That Council approve the recommendation outlined in Report CLSCLK19-012 dated May 6, 2019, of the City Clerk, as follows:</p>
<p>That the presentation from the Otonabee Region Conservation Authority be received for information.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council minutes of May 27, 2019</p>
<p>6.  PKED 2019 Business Plan and First Quarter Metrics</p>
<p>Report PKED19-002</p>
<p>That Council approve the recommendation outlined in Report PKED19-002 dated May 6, 2019 of the Board Chair and President & CEO of Peterborough & the Kawarthas Economic Development, as follows:</p>
<p>That Report PKED19-002 and supporting presentation, providing the Peterborough & the Kawarthas Economic Development 2019 Business Plan & First Quarter Metrics be received for information.</p>
<p>7.  Request to Provide Update on the Transportation Master Plan</p>
<p>Report IPSTR19-003</p>
<p>a)   That staff be directed to begin a Transportation Master Plan</p>
<p>b)   That a report on the Terms of Reference for this study be presented to</p>
<p>Council no later than December 2019</p>
<p>c)   That staff present the findings of the Transportation Master Plan to Council</p>
<p>no later than November 2021.</p>
<br>
<br>
<p>8.  Public Health Resolution</p>
<p>The City of Peterborough believes:</p>
<p>a)   That public health is an investment, not a cost;</p>
<p>b)  That the ability to respond to local health issues relies on the expertise and</p>
<p>24/7 accessibility of local public health;</p>
<p>c)   That our local public health is a primary defender of our local food and water</p>
<p>supply</p>
<p>d)   That our local public health is our front line in the war against opioids</p>
<p>Therefore, the City of Peterborough stands united in its support of strong and local public health and with respect to what was intended as well-meaning and cost efficient, calls upon the provincial government to delay and proposed disruption of our local public health system until a more comprehensive evaluation and consultation can be conducted. As such, any restructuring of Ontario’s public health governance and delivery should;</p>
<p>i)</p>
<p>Ensure that any proposed amalgamation is acceptable to the “obligated municipalities; and</p>
<br>
<br>
<br>
<p>City Council minutes of May 27, 2019</p>
<p>ii)  Support a “made-in-Peterborough” solution that would maximize local</p>
<p>representation and accountability, while ensuring responsive, timely and effective public health oversight by a Medical Officer of Health and his/her staff; and</p>
<p>That this resolution be sent to the Premier, Minister of Health and Long Term Care and regional MPP's.</p>
<p>At the meeting of May 27, 2019 Council added items e) and f) as follows:</p>
<p>e)  That Council support the AMO position to request the province to implement</p>
<p>a financial funding ratio of 75 and 25 per cent; and,</p>
<p>f)</p>
<p>That that the motions be sent to AMO.</p>
<p>9.  Symposium on the Opioid Crisis</p>
<p>That staff be directed to invite Dr. Salvaterra, Medical Officer of Health for Peterborough and Deputy Police Chief Farquharson, to speak to City and County Councils and interested members of the public at a symposium on the opioid crisis, followed by a panel discussion.</p>
<p>At the meeting of May 27, 2019 Council adopted the following motion:</p>
<p>That staff be directed to invite Dr. Salvaterra, Medical Officer of Health for Peterborough and Deputy Police Chief Farquharson to make a presentation to Council regarding the opioid crisis.</p>
<p>10.  Repairs to Simcoe Street</p>
<br>
<br>
<p>As part of the 2020 Budget process, staff report back on options to repair Simcoe Street, in proximity to the Bus Station.</p>
<p>Submitted by,</p>
<p>Councillor Beamer</p>
<p>Chair</p>
<p>May 6, 2019</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council minutes of May 27, 2019</p>
<p>General Committee Report No. 10</p>
<p>Meeting of May 13, 2019</p>
<p>To the Council of The City of Peterborough for consideration at its meeting held May 27, 2019</p>
<p>The General Committee as a result of its special meeting held on May 13, 2019 recommends as follows:</p>
<p>1.  Public Meeting to Amend 2019 Form 6 User Fees and Charges - Building</p>
<p>Inspection Report CLSFS19-017</p>
<p>That Council approve the recommendation outlined in Report CLSFS19-017 dated May 13, 2019, of the Commissioner of Corporate and Legislative Services, as follows:</p>
<p>That the 2019 User Fee By-law 19-002 be amended by removing the Form 6 schedule of User Fees and Charges for Building Inspection and substituting with the amended Form 6 User Fees and Charges for Building Inspection, as per Appendix A of Report CLSFS19-017.</p>
<br>
<p>Submitted by,</p>
<p>Councillor Beamer</p>
<p>Chair</p>
<p>May 13, 2019</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council minutes of May 27, 2019</p>
<p>General Committee Report No. 11</p>
<p>Meeting of May 13, 2019</p>
<p>To the Council of The City of Peterborough for consideration at its meeting held May 27, 2019</p>
<p>The General Committee as a result of its meeting held on May 13, 2019 recommends as follows:</p>
<p>1.  Requests for Downtown Sidewalk Sales</p>
<p>Report CLSCLK19-014</p>
<p>That Council approve the recommendations outlined in Report CLSCLK19-014, dated May 13, 2019 of the City Clerk, as follows:</p>
<br>
<p>a)  That the provisions of Bylaw 99-115 be waived to permit the merchants</p>
<p>within the Peterborough Downtown Business Improvement Area to conduct a Sidewalk Sale on June 1, 2019 from 8:00 a.m. to 6:00 p.m. during the Taste of Downtown event held on Charlotte Street between Aylmer Street and George Street;</p>
<p>That the merchants within the Peterborough Downtown Business Improvement Area be granted permission to conduct a Sidewalk Sale July 12-14, 2019 from 8:00 a.m. to 7:00 p.m. during the Rotary Ribfest event;</p>
<p>That the merchants within the Peterborough Downtown Business Improvement Area be granted permission to conduct a Sidewalk Sale July 27, 2019 from 8:00 a.m. to 6:00 p.m. as part of the Peterborough Pulse event;</p>
<p>iii)  That the merchants within the Peterborough Downtown Business</p>
<p>Improvement Area be granted permission to conduct a Sidewalk Sale August 10, 2019 from 8:00 a.m. to 7:00 p.m. during the Hootenanny on Hunter event; and,</p>
<p>iv)  That the Second Story Wedding Shop located at 316 and 318 Charlotte Street be granted permission to conduct a sidewalk sale June 1st, 2019 from 8:00 a.m. – 6:00 p.m.</p>
<p>i)</p>
<p>ii)</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council minutes of May 27, 2019</p>
<p>b)  That the Clerk or designate be delegated the authority to approve sidewalk</p>
<p>sales.</p>
<p>Report CLSFS19-020</p>
<p>2.  Municipal Contribution for Eastern Ontario Cell Gap and Capacity Expansion</p>
<p>That Council approve the recommendations outlined in Report CLSFS19-020 dated May 13, 2019, of the Commissioner of Corporate and Legislative Services, as follows:</p>
<p>a)   That the presentation by David Fell, CEO of the Eastern Ontario Regional</p>
<p>Network, be received;</p>
<p>b)   That the request for a Municipal Contribution be included in the Draft 2020</p>
<p>Capital Budget for consideration by the Finance Committee.</p>
<p>Licencing Transportation Network Companies – Delegation of Authority to Peterborough Police Services Board Report CLSCLK19-010</p>
<p>That Council approve the recommendation outlined in Report CLSCLK19-010 dated May 13, 2019, of the City Clerk, as follows:</p>
<p>At the request of the Peterborough Police Services Board, a by-law be passed delegating the authority to license, regulate and govern the owners and drivers of Transportation Network Companies in the City of Peterborough to the Board; and,</p>
<p>At the meeting of May 13, Committee added the following:</p>
<p>That the Police Service Board report back to Council with information related to Transportation Network Companies regulations and pricing, prior to the implementation of a TNC By-law.</p>
<p>4.</p>
<p>Terms of Reference for Proposed Peterborough Environmental Advisory Committee Report CLSCLK19-015</p>
<p>That Council approve the recommendation outlined in Report CLSCLK19-015 dated May 13, 2019, of the City Clerk, as follows:</p>
<p>That the proposed Terms of Reference for an Environmental Advisory Committee, as set out in Appendix A, be approved.</p>
<p>3.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council minutes of May 27, 2019</p>
<p>5.  Development Charge Reserve Funds 2018 Annual Report – City and</p>
<p>Peterborough Utilities Commission Report CLSFS19-022</p>
<p>That Council approve the recommendations outlined in report CLSFS19-022 dated May 13, 2019 of the Commissioner of Corporate and Legislative Services as follows:</p>
<p>a)   That the Development Charge Reserve Funds – 2018 Annual Report for the</p>
<p>City of Peterborough, as presented in Report CLSFS19-022, be received.</p>
<p>b)   That the Peterborough Utilities Commission Report entitled Water</p>
<p>Development Charges for the year ended December 31, 2018, appended to Report CLSFS19-022 as Appendix B, be received.</p>
<p>6.  December 31, 2018 Financial Report (Unaudited)</p>
<p>Report CLSFS19-021</p>
<p>That Council approve the recommendations outlined in Report CLSFS19-021 dated May 13, 2019, of the Commissioner of Corporate and Legislative Services, as follows:</p>
<p>a)   That the December 31, 2018 Quarterly Financial Report (unaudited) attached</p>
<p>as Appendix A to Report CLSFS19-021, dated May 13, 2019, be received.</p>
<p>b)   That a 2018 Capital Project for The Parkway Railway Crossing Rehabilitation</p>
<p>be created in the amount of $178,430 and that it be funded from a transfer from the Infrastructure Planning Services Reserve.</p>
<p>c)   That Capital Levy approved in previous years’ capital budgets for various</p>
<p>projects, that is no longer needed, in the amount of $220,247 and shown on Chart 3 in the Report CLSFS19-020, be transferred to the Capital Levy Reserve.</p>
<p>d)   That in the interests of effectiveness and efficiency of the City’s organization</p>
<p>and departmental structure, an amount of $345,284 be transferred to the Organizational Development Reserve.</p>
<p>Committee, at its meeting of May 13, 2019, made the following amendment:</p>
<p>e)   That 50% of the funds ($394, 775) be returned to the Police Special Projects</p>
<p>Reserve and 50% to the City Capital Levy Reserve.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council minutes of May 27, 2019</p>
<p>7.  Enforcement and Revenue Report of the Peterborough Humane Society</p>
<p>Report CLSOCS19-003</p>
<p>That Council approve the recommendation outlined in Report CLSOCS19-003 dated May 13, 2019, of the Commissioner of Corporate and Legislative Services, as follows:</p>
<p>That Report CLSOCS19-003, to provide enforcement statistics, be received for information.</p>
<p>At the meeting of May 13, 2019, Committee added the following:</p>
<p>That staff report to Council in September on the feasibility of considering backyard chickens.</p>
<p>8.  Second Lease Amendment and Extension Agreement – 2000 Jameson Drive</p>
<p>Report CLSOCS19-005</p>
<p>That Council approve the recommendations outlined in Report CLSOCS19-005 dated May 13, 2019, of the Commissioner of Corporate and Legislative Services as follows:</p>
<p>a)   That the term of a sublease by The Corporation of the City of Peterborough to General Motors Financial of Canada, Ltd. respecting the property known municipally as 200 Jameson Drive, Peterborough be extended on the terms and conditions as outlined in Report CLSOCS19-005; and</p>
<p>b)   That the Mayor and Clerk be authorized to execute a lease amendment and</p>
<p>extension agreement in a form acceptable to the City Solicitor.</p>
<p>9.  Pre-commitment of Funds and Award of ITT-17-19 for Parkhill Road West</p>
<p>Reconstruction – Phase 3 Report IPSENG19-012</p>
<p>That Council approves the recommendations outlined in Report IPSENG19-012 dated May 13, 2019, of the Commissioner of Infrastructure and Planning Services, as follows:</p>
<p>a)   That a $6,000,000 budget amount for the 2020 Capital budget for Parkhill</p>
<p>Road West be pre-committed;</p>
<p>b)   That ITT-17-19 for Parkhill Road West Reconstruction - Phase 3 be awarded to Coco Group Inc., 12520 County Road 2, Morrisburg, Ontario, K0C 1X0 at a cost of $9,932,843.00 plus $1,291,269.59 HST for a total cost of $11,224,112.59; and,</p>
<br>
<br>
<br>
<br>
<br>
<p>City Council minutes of May 27, 2019</p>
<p>c)   That a provisional work value of $900,000 be committed to the project and the Commissioner of the Infrastructure and Planning Services be provided the authority to adjust the purchase order value to an upset limit of $10,832,843.00, excluding HST as necessary to complete this project.</p>
<p>10.  Granting Easement Agreements to Hydro One Networks Inc. and to the</p>
<p>Peterborough Utilities Commission</p>
<p>That Council approve the recommendation outlined in Report IPSRE19-007 dated May 13, 2019 of the Commissioner of Infrastructure and Planning Services, as follows:</p>
<p>a)   That the Commissioner of Infrastructure and Planning Services, after</p>
<p>consulting with the City Solicitor, be authorized to execute such documents as necessary to permit the City to grant easements to:</p>
<p>i)   Hydro One Networks Inc. over Part of Lot 26, Concession 12, formerly</p>
<p>in the Township of Otonabee, now in the City of Peterborough, being designated as Part 5 on Reference Plan 45R-16768, known municipally as 1930 Technology Drive (Appendix A); and</p>
<p>ii)   The Peterborough Utilities Commission over the lands shown in yellow</p>
<p>conceptually (Appendix B).</p>
<br>
<br>
<br>
<p>11.  Opioid Crisis Forum</p>
<p>Whereas Peterborough County/City ranks fourth among municipalities in Ontario (based on rate per 100,000) for opioid overdose emergency department visit rates, and,</p>
<p>Whereas there were 19 suspected opioid related deaths in Peterborough City in 2017 (OPP did not track stats until Oct 2018), and,</p>
<p>Whereas there were an estimated 4,000 opioid related deaths across Canada in 2017, and Whereas there have been 19 suspected drug overdose related deaths in Peterborough County/City between January 1, 2019 and May 12, 2019 which is more than in the entirety of the previous year, and</p>
<p>Whereas the Peterborough County/City Paramedics use of service in 2018 was 161 opioid related calls and from January to March 2019 has resulted in 41 calls, and,</p>
<br>
<br>
<br>
<br>
<p>City Council minutes of May 27, 2019</p>
<p>Whereas this crisis impacts every aspect of society, and</p>
<p>Whereas the Canadian drug and substances strategy and the Peterborough Health Unit Opioid Strategy is based on the four pillars of Prevention - Treatment, Harm Reduction, and enforcement - and includes emergency management,</p>
<p>Therefore, be it resolved:</p>
<p>1.  That the City of Peterborough calls on the Province of Ontario to assign a</p>
<p>provincial coordinator within the Ministry of Health and Long-Term Care for the provincial response to the opioid overdose crisis;</p>
<p>2.  That the Province of Ontario develop a comprehensive provincial strategy to address the opioid crisis, based on a public health approach that addresses the social determinants of health that takes a non-discriminatory approach to drug overdose prevention and harm reduction;</p>
<p>3.  That the Province of Ontario resume regular meetings of the Opioid</p>
<p>Emergency Task Force with necessary funding;</p>
<p>4.  That the City of Peterborough calls for Federal and Provincial funding to</p>
<p>support, enhance, and expand evidence-based treatment and rehabilitation services, addiction prevention and education, and harm reduction measures;</p>
<p>5.  That the Minister of Education add a youth resiliency program to the school</p>
<p>curriculum which includes coping skills to get through obstacles in life e.g. anger management, conflict resolution, healthy relationships and informed decision making, and that this start in kindergarten and through the grade and high schools. Investing in our youth is crucial;</p>
<p>6.  That the City of Peterborough work with the County of Peterborough to host a</p>
<p>forum on the opioid crisis in our community;</p>
<p>7.  That this Resolution be distributed to the leaders of all parties represented in</p>
<p>the House of Commons and the Legislature, the Federal Minister of Health, the Provincial Minister of Health and Long-Term Care, the Minister of Education, our local MPs and MPPs;</p>
<p>8.  That this Resolution be distributed to the County of Peterborough, Ontario</p>
<p>Provincial Police, the Peterborough Police Service, Peterborough Public Health, Peterborough County Townships, Peterborough Regional Health Centre and Peterborough County/City Paramedics.</p>
<p>Submitted by,</p>
<p>Councillor Beamer</p>
<p>Chair</p>
<p>May 13, 2019</p>
<br>
<br>
<br></div>