<!doctype html><div><br>
<br>
<br>
<br>
<br>
<br>
<p>General Committee Minutes</p>
<br>
<p>Council Chambers, City Hall</p>
<br>
<br>
<p>March 11, 2019</p>
<br>
<p>Present:</p>
<br>
<p>Councillor Akapo</p>
<p>Councillor Baldwin</p>
<p>Councillor Beamer, Chair</p>
<p>Councillor Clarke</p>
<p>Councillor Parnell</p>
<p>Councillor Pappas</p>
<p>Councillor Riel</p>
<p>Mayor Therrien</p>
<p>Councillor Vassiliadis</p>
<p>Councillor Wright</p>
<p>Councillor Zippel</p>
<br>
<br>
<p>Staff:</p>
<br>
<p>Sandra Clancy, Chief Administrative Officer</p>
<p>Cynthia Fletcher, Commissioner of Infrastructure</p>
<p>Richard Freymond, Acting Commissioner of Corporate and</p>
<p>Legislative Services</p>
<p>Natalie Garnett, Deputy Clerk</p>
<p>Rebecca Morgan-Quin, Manager of Housing</p>
<p>David Potts, City Solicitor/Manager of Legal Services</p>
<p>Karen Rennie, Manager Arts, Culture and Heritage</p>
<p>Allan Seabrooke, Commissioner of Community Services</p>
<br>
<p>Opening of Meeting</p>
<br>
<p>The City Council meeting was called to order at 6:00 p.m. in the Council Chambers, City Hall.</p>
<p>Disclosure of Pecuniary Interest</p>
<p>No members made any disclosures of Pecuniary Interest.</p>
<p>Consent Agenda for Reports and Communications</p>
<p>Moved by Councillor Akapo</p>
<p>That items 8.a, 9.a, and 10.a be approved as part of the Consent Agenda.</p>
<p>Carried</p>
<p>General Committee meeting minutes of March 11, 2019</p>
<p>Council Appointments to Boards and Committees</p>
<p>Report COU19-001</p>
<p>Moved by Councillor Akapo</p>
<p>That Council approve the recommendations outlined in Report COU19-001 dated March 11, 2019, of the Mayor, as follows:</p>
<p>That the appointment of Members of Council to Board and Committees for a term ending November 30, 2019, be approved as follows:</p>
<p>Peterborough Green Up – Councillor Riel</p>
<p>Showplace Performing Arts Centre – Councillor Pappas</p>
<p>Market Hall Performing Arts Centre – Councillor Clarke</p>
<p>d)</p>
<p>Canadian Canoe Museum – Councillor Baldwin</p>
<p>Joint Services Steering Committee (JSSC) – Mayor Therrien (to replace Councillor Baldwin)</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>e)</p>
<p>Carried</p>
<p>2018 Council Remuneration and Expense Statements</p>
<p>Report CLSFS19-0015</p>
<p>Moved by Councillor Akapo</p>
<p>That Council approve the recommendation outlined in Report CLSFS19-015, dated March 11, 2019, of the Acting Commissioner of Corporate and Legislative Services, as follows:</p>
<p>That the 2018 Remuneration and Expense Statements for Council Members and Council appointees to boards and commissions, outlined in report CLSFS19-015, dated March 11, 2019 of the Commissioner of Corporate and Legislative Services, be received for information.</p>
<p>Carried</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>General Committee meeting minutes of March 11, 2019</p>
<p>2019 Community Investment and Project Grants</p>
<p>Report CSD19-003</p>
<p>Moved by Councillor Akapo</p>
<p>That Council approve the recommendations outlined in Report CSD19-003 dated March 11, 2019 of the Commissioner of Community Services, as follows:</p>
<p>That the 2019 Community Investment Grants in the total amount of $209,500 be allocated to various local charitable and Not-For-Profit organizations (NFP’s) as set out in the attached Appendix A;</p>
<p>That the 2019 Community Project Grants in the total amount of $20,050 be allocated to various community groups as outlined in Appendix B;</p>
<p>That approved organizations be authorized and required to use the City Logo to acknowledge City support on promotional material such as flyers, brochures and posters throughout 2019;</p>
<p>That the current Community Investment Grant Review Committee be convened for a meeting as a focus group to give input on updating the application forms;</p>
<p>That a review of the process, eligibility criteria and financial reporting requirements for the Community Investment & Project Grants Program be undertaken in 2019 as requested; and</p>
<p>That the Peterborough Folk Festival be moved into the Service Grant Program, beginning in 2019, and that the 2019 allocation of $21,450 be funded through the uncommitted balances in the Community Investment and Project Grant Programs.</p>
<p>Carried</p>
<p>Cheque Presentation - Ontario Lottery and Gaming Corporation (OLG)</p>
<p>Report CLSCLK19-007</p>
<p>Greg McKenzie, COO of OLG provided comments and a cheque in the amount of $705,606 was presented to the City. The cheque is the first quarterly payment of the Shorelines Casino revenue sharing agreement.</p>
<p>Dave Smith, MPP and Rod Baker, President and CEO, Great Canadian Gaming, also provided remarks.</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>d)</p>
<p>e)</p>
<p>f)</p>
<br>
<br>
<br>
<br>
<br>
<p>General Committee meeting minutes of March 11, 2019</p>
<p>Moved by Councillor Pappas</p>
<p>That Council approve the recommendation outlined in Report CLSCLK19-007 dated March 11, 2019, of the City Clerk, as follows:</p>
<p>That the presentation from the Ontario Lottery and Gaming Corporation be received for information.</p>
<br>
<br>
<p>Carried</p>
<p>Conditional Funding Approval for Affordable Rental Housing: 17 Smith Drive Havelock (Peterborough Housing Corporation)</p>
<p>Report CSSS19-002</p>
<p>Moved by Councillor Riel</p>
<p>That Council approve the recommendations outlined in Report CSSS19-002 dated March 11, 2019, of the Commissioner of Community Services, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>That conditional approval be provided for additional federal-provincial capital funding of up to $1,500,000 for Peterborough Housing Corporation’s affordable housing project at 17 Smith Drive, Havelock, pending confirmation from the Ministry of a revised notional allocation amount as outlined in Report CSSS19-002;</p>
<p>That, subject to confirmation from the Ministry of Municipal Affairs and Housing of the revised notional allocation, the Mayor and Clerk be authorized to sign agreements and other documents satisfactory to the Commissioner of Community Services and the City Solicitor to provide federal-provincial capital funding to Peterborough Housing Corporation for the development of 12 additional affordable rental units at 17 Smith Drive Havelock as outlined in Report CSSS19-002.</p>
<p>c)</p>
<p>That once the project redesign is finalized, the project be reassessed to ensure it is financially viable, or alternative financing options explored to ensure a sufficient debt coverage ratio satisfactory to the City Treasurer.</p>
<p>That staff provide Council members with an email indicating the number of available building lots in the City.</p>
<p>Carried</p>
<p>Other Business</p>
<p>Moved by Councillor Clarke</p>
<p>Carried</p>
<br>
<br>
<p>General Committee meeting minutes of March 11, 2019</p>
<p>Mayor Therrien advised that the deadline for the 2018 Civic Awards has been extended until March 22nd, and encouraged residents to submit nominations for worthy individuals and groups.</p>
<p>Adjournment</p>
<p>Moved by Councillor Riel</p>
<p>Carried</p>
<p>That this meeting of General Committee adjourn at 6:25 p.m.</p>
<p>_________________________</p>
<p>Natalie Garnett</p>
<p>Deputy City Clerk</p>
<br>
<p>Councillor Beamer</p>
<p>Chair</p>
<p>_________________________</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br></div>