<!doctype html><div><br>
<br>
<p>General Committee Minutes</p>
<br>
<p>Council Chambers, City Hall</p>
<br>
<br>
<p>July 8, 2019</p>
<br>
<p>Present:</p>
<br>
<p>Councillor Akapo</p>
<p>Councillor Baldwin</p>
<p>Councillor Clarke</p>
<p>Councillor Parnell</p>
<p>Councillor Pappas</p>
<p>Councillor Riel, Vice Chair</p>
<p>Mayor Therrien</p>
<p>Councillor Vassiliadis</p>
<p>Councillor Wright</p>
<p>Councillor Zippel</p>
<br>
<br>
<p>Councillor Beamer, Chair</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Regrets:</p>
<br>
<p>Staff:</p>
<br>
<p>Carried</p>
<br>
<br>
<p>Brad Appleby, Planner Subdivision Control</p>
<p>Sandra Clancy, Chief Administrative Officer</p>
<p>Cynthia Fletcher, Commissioner of Infrastructure and Planning Services</p>
<p>Richard Freymond, Commissioner of Corporate and Legislative Services</p>
<p>Natalie Garnett, Deputy Clerk</p>
<p>Ken Hetherington, Chief of Planning</p>
<p>Alan Barber, Associate City Solicitor</p>
<p>Brendan Wedley, Manager of Communication Services</p>
<br>
<p>Closed Session - 5:45 p.m., Doris Room</p>
<br>
<p>Moved by Councillor Clarke</p>
<br>
<p>That Committee meet in Closed Session to discuss a matter under Section</p>
<p>239(2)(e) Litigation or potential litigation, including matters before administrative</p>
<p>tribunals and Section 239(2)(f) Advice that is solicitor-client privilege –</p>
<p>Peterborough Art Gallery.</p>
<br>
<p>Open Session - 6:00 p.m., Council Chambers</p>
<br>
<p>The General Committee meeting was called to order at 6:00 p.m. in the Council Chambers, City Hall.</p>
<br>
<p>General Committee minutes of July 8, 2019</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Pecuniary Interest.</p>
<p>Report of Closed Session</p>
<p>Report UOSRE19-012</p>
<p>Moved by Councillor Pappas</p>
<p>That, respecting an action commenced in the Ontario Superior Court of Justice in Toronto as Court File No. CV-17-583684, General Committee recommend that Council authorize staff to proceed as outlined in Report CLSOCS19-008 dated July 8, 2019, of the City Solicitor.</p>
<p>Consent Agenda for Reports and Communications</p>
<p>Moved by Councillor Baldwin</p>
<p>That items 10.a, 10.d, and 11.a be approved as part of the Consent Agenda.</p>
<p>Citizen Appointment to the Peterborough Architectural Conservation Advisory Committee</p>
<p>Report CLSCLK19-016</p>
<p>Moved by Councillor Baldwin</p>
<p>That Council approve the recommendations outlined in Report CLSCLK19-016, dated July 8, 2019, of the City Clerk, as follows:</p>
<p>a)</p>
<p>That Deborah Keay (Peterborough Historical Society representative) be appointed to serve as a member of the Peterborough Architectural Conservation Advisory Committee; and,</p>
<p>b)</p>
<p>That the appointment take effect July 22, 2019.</p>
<p>Carried</p>
<p>Carried</p>
<p>Carried</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>General Committee minutes of July 8, 2019</p>
<p>Peterborough Utilities Commission - Development Charges Background Study Recommendations</p>
<p>Report CLSFS19-036</p>
<p>Moved by Councillor Baldwin</p>
<p>That Council approve the recommendation outlined in Report CLSFS19-036 dated July 8, 2019, of the Commissioner of Corporate and Legislative Services, as follows:</p>
<p>That, as requested by the Peterborough Utilities Commission, Council adopt a Development Charge By-law, as set out in Appendix C, at its July 22, 2019 Council meeting to establish new development charge rates to be levied by the Peterborough Utilities Commission for the period July 22, 2019 to July 21, 2024.</p>
<p>Removal of "H" - Holding Symbol from the Zoning of 365 Armour Road</p>
<p>Carried</p>
<p>Report IPSPL19-022</p>
<p>Moved by Councillor Baldwin</p>
<p>That Council approve the recommendation outlined in Report IPSPL19-022 dated July 8, 2019, of the Commissioner of Infrastructure and Planning Services, as follows:</p>
<p>That the property at 365 Armour Road be rezoned from SP.356 – “H”- Residential District to SP.356 – Residential District in accordance with Exhibit “C” attached to Report IPSPL19-022.</p>
<p>Carried</p>
<p>Presentations</p>
<p>Highway 115 Rehabilitation Presentation - MTO</p>
<p>Report CLSCLK19-017</p>
<p>Chris Belanger, Project Manager, Planning and Design, Ministry of Transportation, provided a presentation on the planned Highway 115 rehabilitation.</p>
<p>Moved by Councillor Clarke</p>
<p>That Council approve the recommendation outlined in Report CLSCLK19-017 dated July 8, 2019, of the City Clerk, as follows:</p>
<br>
<br>
<br>
<br>
<p>General Committee minutes of July 8, 2019</p>
<p>That the presentation from the Ministry of Transportation be received for information.</p>
<p>Carried</p>
<p>City of Peterborough Holdings Inc. Presentation</p>
<p>Report CLSFS19-037</p>
<p>John Stephenson, President and CEO, City of Peterborough Holdings, provided an overview of the 2018 Annual Report.</p>
<p>Moved by Mayor Therrien</p>
<p>That Council approve the recommendations outlined in Report CLSFS19-037, dated July 8, 2019, of the Commissioner of Corporate and Legislative Services, as follows:</p>
<p>That the City of Peterborough Holdings Inc. (COPHI) presentation be received;</p>
<p>That the City of Peterborough Holdings Inc. 2018 Annual Report and Consolidated Financial Statements for the fiscal year ended December 31, 2018, attached as Appendix A to Report CLSFS19-037, be received;</p>
<p>That the election of the following persons as Directors of COPHI be and the same are hereby confirmed for the terms set out in prior resolutions of the Council of the Corporation of the City of Peterborough: Arlynn Dupuis, David Bignell, David Paterson, Ross Garland, Keith Riel, Scott Baker, Louise Lalonde, Nancy Brown Andison, Louis O’Brien and Diane Therrien;</p>
<p>That the election of the following person as Director of Peterborough Distribution Inc. be and the same is hereby confirmed for the term set out in prior resolutions of the Council of the Corporation of the City of Peterborough: Bryan Weir; and</p>
<p>That Baker Tilly KDN LLP, Chartered Professional Accountants, are hereby appointed auditors of the Corporation, until the next annual resolution of the Shareholder is signed or until their successors are duly appointed.</p>
<p>Carried</p>
<p>Official Plan Review Project Update and Presentation</p>
<p>Report IPSPL19-021</p>
<p>Ken Hetherington, Chief of Planning, and Brad Appleby, Planner, Subdivision Control and Special Projects, provided a presentation on the Official Plan Review Project.</p>
<p>Councillor Parnell left the meeting at 7:15 p.m. and returned at 7:19 p.m.</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>d)</p>
<p>e)</p>
<br>
<br>
<br>
<br>
<p>General Committee minutes of July 8, 2019</p>
<p>Moved by Mayor Therrien</p>
<p>That Council approve the recommendation outlined in Report IPSPL19-021, dated July 8, 2019, of the Commissioner of Infrastructure and Planning Services, as follows:</p>
<p>That Report IPSPL19-021 and presentation be received for information.</p>
<p>Carried</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>Carried</p>
<p>Citizen Appointments to the Peterborough Environmental Advisory Committee</p>
<p>Report CLSCLK19-019</p>
<p>Moved by Councillor Pappas</p>
<p>That Council approve the recommendations outlined in Report CLSCLK19-019, dated July 8, 2019, of the City Clerk, as follows:</p>
<p>That Craig Mortlock, Stephanie Rutherford, Dana Jordan and Chris Magwood be appointed to serve as members of the Peterborough Environmental Advisory Committee, with terms to expire November 2021.</p>
<p>That Fraser Smith and Mary Konrad be appointed to serve as members of the Peterborough Environmental Advisory Committee, with terms to expire November</p>
<p>That Peter Lafleur and Sandra Orsatti be appointed to serve as members of the Peterborough Environmental Advisory Committee, with terms to expire November 2023.</p>
<p>March 31, 2019 Financial Report (Unaudited)</p>
<p>Report CLSFS19-031</p>
<p>Moved by Councillor Parnell</p>
<p>That Council approve the recommendations outlined in Report CLSFS19-031 dated July 8, 2019, of the Commissioner of Corporate and Legislative Services, as follows:</p>
<p>a)</p>
<p>That the March 31, 2019 Quarterly Financial Report (unaudited) attached as Appendix A to Report CLSFS19-031, dated July 8, 2019, be received;</p>
<p>b)</p>
<p>That the Flood Reduction Subsidy Program values be increased as follows:</p>
<p>i)</p>
<p>That the maximum subsidy levels for the sanitary backwater valve be adjusted from $800 to $1,000;</p>
<br>
<br>
<p>General Committee minutes of July 8, 2019</p>
<p>ii)</p>
<p>iii)</p>
<p>That the maximum subsidy levels for the foundation drain disconnect from the sanitary sewer and the installation of a sump pit and pump be adjusted from $800 to $1,500; and</p>
<p>That the maximum subsidy levels for doing both the installation of a sanitary backwater valve and the foundation drain disconnect from the sanitary sewer and the installation of a sump pit and pump be adjusted from $1,800 to $3,000.</p>
<p>c)</p>
<p>That, as a matter of housekeeping, the Public Transit Infrastructure Fund (PTIF) and Capital Levy funding allocations in previous Capital Budgets be reallocated to match the latest approved projects in accordance with the executed PTIF funding agreement as follows:</p>
<p>i)</p>
<p>$312,500 in PTIF from the 2017 Transit Bus (2017 Capital Budget Project 3-4.02) be reallocated as follows:</p>
<p>a.</p>
<p>b.</p>
<p>$250,000 to the Transit Intelligent Transit System (ITS) (2017 Capital Budget Project 5-11.04); and</p>
<p>$62,500 to the Transit Stop Shelter Project (2018 Capital Budget Project 5-11.03)</p>
<p>ii)</p>
<p>$250,000 Capital Levy from the Transit Intelligent Transit System (2017 Capital Budget Project 5-11.04) and $62,500 Capital Levy from the Transit Stop Shelter Project (2018 Capital Budget Project 5-11.03) be reallocated to 2019 Transit Bus Project (2019 Capital Budget Project 5-16-01); and</p>
<p>iii)</p>
<p>$51,900 in PTIF from the 2017 Transit Bus (Project 3-4.02) be reallocated to the 2019 Transit Bus (Project 5-16-01).</p>
<p>d)</p>
<p>That the 2019 Transit Bus (Project 5-16-01) capital budget be reduced from $2,164,000 to $1,834,000 to reflect the budgeted provincial grant of $605,000 and federal grant of $734,000 which were not received and that $644,600 be reallocated to the 2019 Transit Bus capital budget as follows:</p>
<p>i)</p>
<p>ii)</p>
<p>$57,900 of Capital Levy from the 2018 Accessible Transit Stops and Shelters (Project 5-11.03);</p>
<p>$30,000 of Capital Levy and $15,000 Transit Development Charges from the 2018 Transit Stop Shelters (Project 5-11.04); and</p>
<p>iii)</p>
<p>$541,700 of Federal Gas Tax from the Federal Gas Tax reserve.</p>
<p>e)</p>
<p>That, as a matter of housekeeping, $892,500 Federal Gas Tax (FGT) be reallocated to the George Street Cycling Project (2016 Capital Budget Project 5-14-01) and corresponding amounts of Capital Levy be transferred into the following projects:</p>
<p>i)</p>
<p>$270,000 to the Otonabee River Trail – Del Crary Park to Little Lake Cemetery (2019 Capital Budget Project 5-1.04);</p>
<br>
<p>General Committee minutes of July 8, 2019</p>
<p>ii)</p>
<p>iii)</p>
<p>$120,000 to the Otonabee River Trail - CPR Bridge to George Street (2011 Capital Budget Project -7-1.02); and</p>
<p>$502,500 to the Bethune Street - City Funded (2019 Capital Budget Project 5-6.02).</p>
<p>f)</p>
<p>That the $154,000 project budget for Art Gallery Accessibility Upgrades be funded from a $100,000 grant from the Federal Enabling Accessibility Fund and a $54,000 transfer from the Facilities Maintenance Reserve.</p>
<p>Moved by Councillor Pappas</p>
<p>That the recommendations be amended by adding (g) as follows:</p>
<p>g)</p>
<p>That a Poet Laureate Program for the City be introduced at a cost of $2,000 as a one-year pilot project funded from Contingency, and that staff prepare an evaluation report on the project at the end of the pilot.</p>
<p>Carried</p>
<p>Upon the original motion of Councillor Parnell, the motion carried.</p>
<p>Removal of "H" - Holding Symbol from the Zoning of the Properties at 520 and 540 Brealey Drive</p>
<p>Report IPSPL19-023</p>
<p>Moved by Councillor Zippel</p>
<p>That Council approve the recommendations outlined in Report IPSPL19-023 dated July 8, 2019, of the Commissioner of Infrastructure and Planning Services, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>That the property at 520 Brealey Drive be rezoned from SP.118 – “H”- Public District to SP.118 – Public District in accordance with Exhibit “C” attached to Report IPSPD19-023; and</p>
<p>That the property at 540 Brealey Drive be rezoned from SP.317 – “H”- Residential District to SP.317 – Residential District in accordance with Exhibit “D” attached to Report IPSPD19-023.</p>
<p>Carried</p>
<p>Other Business</p>
<p>Councillor Parnell presented a petition requesting traffic calming on Montgomery Street.</p>
<br>
<br>
<br>
<br>
<p>General Committee minutes of July 8, 2019</p>
<p>Councillor Vassiliadis requested that Item f) of Report IPSPD18-017 (Secondary Suites Policy Review), be added to the 2020 budget.</p>
<p>Moved by Councillor Akapo</p>
<p>That staff prepare a report for Council by the end of the first quarter of 2020 providing background information on social procurement policies as well as the potential next steps for the City of Peterborough to incorporate said policies.</p>
<p>Carried</p>
<p>Adjournment</p>
<p>Carried</p>
<p>Moved by Councillor Pappas</p>
<p>That this meeting of City Council adjourn at 7:54 p.m.</p>
<p>_________________________</p>
<p>Natalie Garnett</p>
<p>Deputy Clerk</p>
<p>_________________________</p>
<p>Councillor Riel</p>
<p>Vice Chair</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br></div>