<!doctype html><div><br>
<br>
<br>
<br>
<p>Staff</p>
<br>
<p>Carried</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Joint Services Steering Committee Minutes</p>
<br>
<p>June 13, 2019</p>
<br>
<br>
<p>Present  Councillor Beamer, City of Peterborough</p>
<br>
<p>Councillor McFadden, County of Peterborough</p>
<p>Warden Jones, County of Peterborough, Chair</p>
<p>Councillor Martin, County of Peterborough</p>
<p>Councillor Mitchell, County of Peterborough</p>
<p>Councillor Pappas, City of Peterborough</p>
<p>Councillor Riel, City of Peterborough</p>
<p>Mayor Therrien, City of Peterborough</p>
<br>
<p>Ellen Armstrong, Manager of Social Services, City of Peterborough</p>
<p>Chris Barry, Deputy Chief EMS, County of Peterborough</p>
<p>Sandra Clancy, Chief Administrative Officer, City of Peterborough</p>
<p>Trena DeBruijn, Treasurer, County of Peterborough</p>
<p>Richard Freymond, Commissioner of Corporate and Legislative Services, City</p>
<p>of Peterborough</p>
<p>Chris Kawalec, Community Development Program Manager, City of</p>
<p>Peterborough</p>
<p>John Kennedy, Clerk, City of Peterborough</p>
<p>Rebecca Morgan Quin, Manager of Housing, City of Peterborough</p>
<p>Troy Speck, Chief Administrative Office, County of Peterborough</p>
<br>
<br>
<p>Roll Call</p>
<p>The Joint Services Steering Committee was called to order at 3:45 p.m. by Warden Jones, Chair in the Council Chambers, City Hall.</p>
<p>Confirmation of Minutes</p>
<p>Moved by Councillor Riel Seconded by Councillor McFadden</p>
<p>That the Joint Services Steering Committee meeting minutes of February 14, 2019 be approved.</p>
<br>
<br>
<p>Joint Services Steering Committee minutes of June 13, 2019</p>
<p>Minutes for Information</p>
<p>Age-friendly Peterborough Advisory Committee Minutes</p>
<p>Moved by Councillor Beamer Seconded by Councillor Pappas</p>
<p>That the Age-friendly Peterborough Advisory Committee minutes of January 31, 2019 be received for information.</p>
<p>Disclosure of Interest</p>
<p>There were no Disclosures of Pecuniary Interest.</p>
<p>Peterborough County/City Paramedics (PCCP) 2018 Year End Performance Report</p>
<p>Moved by Mayor Therrien Seconded by Councillor Martin</p>
<p>That Joint Service Steering Committee approve the recommendation of Randy Mellow, Chief of Paramedics, County of Peterborough:</p>
<p>That the Peterborough County/City Paramedics Year End Performance Report be received for information.</p>
<p>10-Year Housing and Homelessness Plan: 2018 Progress Report Report CSSSJSSC19-002</p>
<p>Moved by Councillor Mitchell Seconded by Councillor Riel</p>
<p>That Joint Services Steering Committee endorse the recommendation outlined in Report CSSSJSSC19-002 dated June 13, 2019 as follows:</p>
<p>That the 10-Year Housing and Homelessness Plan: Progress Report 2018 and presentation be received for information.</p>
<p>That staff provide a report on the effects of Bill 108 and how it relates to social housing, for the September meeting.</p>
<p>Carried</p>
<p>Reports</p>
<p>Carried</p>
<p>Carried</p>
<p>a)</p>
<p>b)</p>
<br>
<br>
<br>
<br>
<p>Joint Services Steering Committee minutes of June 13, 2019</p>
<p>Contract Extension for Daily Meal Program and Update on Local Food Security Programs Report CSSSJSSC19-003</p>
<p>Moved by Mayor Therrien Seconded by Councillor McFadden</p>
<p>That JSSC endorse the recommendations outlined in Report CSSSJSSC19-003 dated June 13, 2019, of the CAO and Acting Commissioner of Community Services, as follows:</p>
<p>a)   That the CAO and Clerk be authorized to sign a 1-year contract extension not</p>
<p>to exceed $208,000 with St. John’s Anglican Church for the delivery of the Community Meal and Drop-in Centre Program for the period of January 1, 2020 to December 31, 2020; and</p>
<p>b)   That payments of $300 per day be made as part of this contract extension for</p>
<p>the delivery of a Warming and Cooling Facility Service when heat and cold alerts occur.</p>
<p>Carried</p>
<p>April 2019 Provincial Budget Impacts - Housing and Homelessness Report CSSSJSSC19-005</p>
<p>Moved by Councillor Beamer Seconded by Councillor Pappas</p>
<p>That the Joint Services Steering Committee endorse the recommendation outlined in Report CSSSJSSC19-005 dated June 13, 2019 of the CAO and Acting Commissioner of Community Services, as follows:</p>
<p>That Report CSSSJSSC19-005 on Housing and Homelessness Funding through the Ministry of Municipal Affairs and Housing announced on April 17, 2019 be received for information.</p>
<p>Carried</p>
<br>
<br>
<br>
<br>
<br>
<p>Joint Services Steering Committee minutes of June 13, 2019</p>
<p>Funding and Service Impacts to Children's Services and Ontario Works Resulting from 2019 Provincial Budget Report CSSSJSSC19-004</p>
<p>Moved by Councillor Pappas Seconded by Councillor Riel</p>
<p>That Joint Services Steering Committee approve the recommendations outlined in Report CSSSJSSC19-004 dated June 13, 2019, of the CAO and Acting Commissioner of Community Services, as follows:</p>
<p>a)   That Report CSSSJSSC19-004, providing an update on the funding impacts resulting from the 2019 Provincial Budget, be received for information; and</p>
<p>b)   That Staff continue to analyze the funding impacts and potential service</p>
<p>impacts and make recommendations in September 2019 to mitigate and/or fund the impacts for 2019 and future years.</p>
<p>The next meeting is scheduled for September 12, 2019.</p>
<p>Carried</p>
<p>Other Business</p>
<p>Next Meeting</p>
<p>There were no items of Other Business.</p>
<p>Adjournment</p>
<p>Moved by Councillor Beamer Seconded by Mayor Therrien</p>
<p>That this meeting adjourn at 5:11 p.m.</p>
<p>Carried</p>
<p>John Kennedy, City Clerk</p>
<p>Warden Jones, Chair</p>
<br>
<br>
<br></div>