<!doctype html><div><p>Peterborough Public Library Board Minutes</p>
<br>
<br>
<br>
<br>
<br>
<p>City of Peterborough</p>
<br>
<br>
<p>September 10, 2019</p>
<br>
<p>Present</p>
<br>
<p>Councillor Akapo</p>
<p>Amy Bowen</p>
<p>Councillor Clarke</p>
<p>Barb Connor</p>
<p>Leigh McEachran</p>
<p>Dan Moloney</p>
<p>Gillian Sandeman</p>
<p>Leslie Woolcott, Chair</p>
<br>
<br>
<p>Jayne White</p>
<br>
<br>
<p>Natalie Garnett, Deputy Clerk</p>
<p>Jennifer Jones, Library CEO</p>
<br>
<p>Regrets</p>
<br>
<p>Staff</p>
<br>
<br>
<br>
<p>Call to Order</p>
<br>
<p>The Chair called the meeting to order at 6:00 p.m.</p>
<br>
<p>Disclosure of Pecuniary Interest</p>
<br>
<p>There were no disclosures of Pecuniary Interest.</p>
<br>
<p>Community Guest - Curve Lake First Nation</p>
<br>
<p>Presentations</p>
<br>
<p>Report PPL19-034</p>
<br>
<p>Ann Taylor and Tracey Taylor from Curve Lake First Nation presented a video on Curve</p>
<p>Lake.</p>
<br>
<p>Moved by Councillor Clarke</p>
<br>
<p>That the Library Board approves the recommendation as outlined in Report</p>
<p>PPL19-034 dated September 10, 2019, of the Library CEO as follows:</p>
<br>
<p>That the report and presentation be received for information.</p>
<br>
<p>Carried</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Peterborough Public Library Board Meeting September 10, 2019</p>
<br>
<br>
<br>
<p>2018 Audited Financial Statements</p>
<br>
<p>Report PPL19-035</p>
<br>
<p>Joanna Park from Baker Tilly, presented the 2018 Audited Financial Statements for the</p>
<p>Library.</p>
<br>
<p>Moved by Dan Moloney</p>
<br>
<p>That the Library Board approve the recommendation outlined in Report PPL19-</p>
<p>035 dated September 10, 2019 of the Library CEO, as follows:</p>
<br>
<p>That the 2018 audited financial statements and verbal report on the status of the</p>
<p>Library accounts by the Auditor be received and approved.</p>
<br>
<p>Carried</p>
<br>
<br>
<br>
<p>Closed Session</p>
<br>
<p>Property Matter</p>
<br>
<p>Moved by Barb Connor</p>
<br>
<p>239(2)(c) Proposed or pending acquisition or disposition of land by the municipality or</p>
<p>local board.</p>
<br>
<p>That the Peterborough Public Library Board move into Closed Session at 7:20 p.m. to discuss one item under Section 239(2)(c) Proposed or pending acquisition or disposition of land by the municipality or local board.</p>
<p>Moved by Gillian Sandeman</p>
<p>That the Peterborough Public Library Board rise from Closed Session at 8:20 p.m.</p>
<p>Confirmation of Minutes</p>
<p>Moved by Councillor Clarke</p>
<p>That the minutes of the Peterborough Public Library Board meeting of June 4, 2019 be approved as circulated.</p>
<p>Carried</p>
<p>Carried</p>
<p>Carried</p>
<br>
<br>
<br>
<br>
<p>Peterborough Public Library Board Meeting September 10, 2019</p>
<br>
<p>Consent Agenda</p>
<p>No items were passed as part of the Consent Agenda.</p>
<p>That the Library Board approves the recommendation as outlined in Report PPL19-031 dated September 10, 2019, of the Library CEO as follows:</p>
<p>Reports and Communications</p>
<p>Library CEO Report September 2019</p>
<p>Report PPL19-031</p>
<p>Moved by Leigh McEachran</p>
<p>That the report be received for information.</p>
<p>Carried</p>
<p>Library Policy Review - Food</p>
<p>Report PPL19-036</p>
<p>Moved by Gillian Sandeman</p>
<p>That the Library Board approve the recommendations as outlined in Report PPL19-036 dated September 10, 2019, of the Library CEO as follows:</p>
<p>That the Food Policy report PPL19-036 be approved as amended.</p>
<p>Carried</p>
<p>Shelter Services Update</p>
<p>Report PPL19-037</p>
<p>Moved by Councillor Clarke</p>
<p>The Board expressed their appreciation to library staff for their extra efforts related to the temporary library shelter.</p>
<p>That Library staff be thanked for their extra work and support of the temporary shelter; and,</p>
<p>That the CEO arrange for a special "coffee break" as a show of appreciation.</p>
<p>Carried</p>
<br>
<br>
<br>
<br>
<p>Peterborough Public Library Board Meeting September 10, 2019</p>
<br>
<p>Moved by Dan Moloney</p>
<p>That the Library Board approve the recommendation outlined in Report PPL19- 037 dated September 10, 2019 of the Library CEO, as follows:</p>
<p>That the report be received for information.</p>
<p>Carried</p>
<p>Report PPL19-032</p>
<p>Updates from the Foundation and Friends of the Library</p>
<p>Ms. Connor advised that the Friends of the Library will be hold a Fall Book Sale on September 27 and 28, 2019.</p>
<p>Moved by Councillor Akapo</p>
<p>That the Library Board approve the recommendation outlined in Report PPL19- 032, dated September 10, 2019, of the Library CEO, as follows:</p>
<p>That a verbal report to inform the Library Board on the status of the Friends of the Peterborough Public Library by Barb Connor be received for information.</p>
<p>Carried</p>
<p>Other Business</p>
<p>There were no items of Other Business.</p>
<p>Next Meeting - October 8, 2019</p>
<p>Adjournment</p>
<p>Moved by Barb Connor</p>
<p>That the meeting adjourn at 8:53 p.m.</p>
<p>Carried</p>
<p>_________________________</p>
<p>Natalie Garnett</p>
<p>Deputy Clerk</p>
<p>_________________________</p>
<p>Leslie Woolcott, Chair</p>
<br>
<br>
<br>
<br></div>