<!doctype html><div><br>
<br>
<p>Peterborough Public Library Board Minutes</p>
<br>
<p>City of Peterborough</p>
<br>
<br>
<p>January 7, 2020</p>
<br>
<p>Present</p>
<br>
<p>Councillor Akapo</p>
<p>Amy Bowen</p>
<p>Councillor Clarke</p>
<p>Barb Connor</p>
<p>Leigh McEachran</p>
<p>Dan Moloney</p>
<p>Gillian Sandeman</p>
<p>Jayne White</p>
<p>Leslie Woolcott, Chair</p>
<br>
<p>Natalie Garnett, Deputy Clerk</p>
<p>Jennifer Jones, Library CEO</p>
<br>
<br>
<br>
<br>
<p>Staff</p>
<br>
<br>
<br>
<p>Call to Order</p>
<br>
<p>Election of Officers</p>
<br>
<p>Moved by Dan Moloney</p>
<br>
<p>The meeting was called to order by the Deputy Clerk at 5:31 p.m.</p>
<p>The Deputy Clerk called for nominations for the position of Chair of the Library Board for 2020.</p>
<p>That Leslie Woolcott be elected as Chair of the Peterborough Public Library Board for 2020.</p>
<p>Leslie Woolcott assumed the Chair and called for nominations for the position of Vice Chair for 2020.</p>
<p>Moved by Jayne White</p>
<p>That Dan Moloney be elected as Vice Chair of the Peterborough Public Library Board for 2020.</p>
<p>Carried</p>
<p>Carried</p>
<br>
<br>
<p>Peterborough Public Library Board Minutes – January 7, 2020</p>
<br>
<p>Confirmation of Minutes</p>
<p>Moved by Councillor Clarke</p>
<p>Carried</p>
<p>That the minutes of the Library Board meeting on December 10, 2019 be approved.</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Pecuniary Interest.</p>
<p>Consent Agenda</p>
<p>No items were passed as part of the Consent Agenda.</p>
<p>Reports and Communications</p>
<p>Updates from the Library Foundation and Friends of the Library</p>
<p>Report PPL20-002</p>
<p>Moved by Councillor Akapo</p>
<p>That the Library Board approve the recommendation outlined in Report PPL20- 002, dated January 7, 2020, of the Library CEO, as follows:</p>
<p>That the verbal report to inform the Library Board on the status of the Friends of the Peterborough Public Library be received for information.</p>
<p>That the Library Board approves the recommendation as outlined in Report PPL20-001 dated January 7, 2020, of the Library CEO as follows:</p>
<p>That the report be received for information.</p>
<p>Carried</p>
<p>Library CEO Report January 2020</p>
<p>Report PPL20-001</p>
<p>Moved by Jayne White</p>
<p>Carried</p>
<br>
<br>
<br>
<br>
<p>Peterborough Public Library Board Minutes – January 7, 2020</p>
<br>
<p>That the Library Board approve the recommendations as outlined in Report PPL20-003 dated January 7, 2020, of the Library CEO as follows:</p>
<p>That the report be received for information.</p>
<p>Library Board Goals - check in</p>
<p>Report PPL20-003</p>
<p>Moved by Dan Moloney</p>
<p>Carried</p>
<p>Library Policy Review - Update</p>
<p>Report PPL20-004</p>
<p>Gillian Sandeman advised that she is willing to sit as a member of the Policy Review Committee.</p>
<p>Moved by Barb Connor</p>
<p>That the Library Board approve the recommendations as outlined in Report PPL20-004 dated January 7, 2020, of the Library CEO as follows:</p>
<p>That report be received for information.</p>
<p>Carried</p>
<p>Other Business</p>
<p>There were no items of Other Business.</p>
<p>Next Meeting - February 11, 2020</p>
<p>Adjournment</p>
<p>Moved by Councillor Clarke</p>
<p>That this meeting adjourn at 6:25 p.m.</p>
<p>Carried</p>
<p>_________________________</p>
<p>Natalie Garnett, Deputy Clerk</p>
<p>_________________________</p>
<p>Leslie Woolcott, Chair</p>
<br>
<br>
<br></div>