<!doctype html><div><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>General Committee Minutes</p>
<br>
<p>Council Chambers, City Hall</p>
<br>
<br>
<p>March 2, 2020</p>
<br>
<p>Present:</p>
<br>
<br>
<p>Regrets:</p>
<br>
<br>
<p>Staff:</p>
<br>
<p>Councillor Akapo</p>
<p>Councillor Beamer, Chair</p>
<p>Councillor Clarke</p>
<p>Councillor Parnell</p>
<p>Councillor Pappas</p>
<p>Mayor Therrien</p>
<p>Councillor Vassiliadis</p>
<p>Councillor Wright</p>
<p>Councillor Zippel</p>
<br>
<p>Councillor Baldwin</p>
<p>Councillor Riel</p>
<br>
<p>Sandra Clancy, Chief Administrative Officer</p>
<p>Cynthia Fletcher, Commissioner of Infrastructure and Planning Services</p>
<p>Richard Freymond, Commissioner of Corporate and Legislative Services</p>
<p>Ken Hetherington, Chief Planner</p>
<p>Kevin Jones, Transportation Manager</p>
<p>John Kennedy, City Clerk</p>
<p>Caroline Kimble, Land Use Planner</p>
<p>Sheldon Laidman, Commissioner of Community Services</p>
<p>Michael Papadacos, Infrastructure Planning Manager</p>
<p>David Potts, City Solicitor/Manager of Legal Services</p>
<p>Ashley Webster, Assistant to the Mayor</p>
<p>Brendan Wedley, Manager of Communication Services</p>
<br>
<p>The meeting was called to order at 6:01 p.m. in the Council Chambers, City Hall.</p>
<p>That the General Committee meeting minutes of January 27, February 3 and 10, 2020 be approved.</p>
<p>Opening of Meeting</p>
<p>Adoption of minutes</p>
<p>Moved by Councillor Vassiliadis</p>
<p>Carried</p>
<br>
<br>
<br>
<br>
<p>Disclosure of Pecuniary Interest</p>
<p>No members made any disclosures at this time.</p>
<p>Consent Agenda for Reports and Communications</p>
<p>Moved by Councillor Pappas</p>
<p>That items 10.c and 10.d, be approved as part of the Consent Agenda.</p>
<p>By-law to Authorize Borrowing $15,000,000 for 2020 Current Expenditures</p>
<p>That Council approve the recommendation outlined in Report CLSFS20-016 dated March 2, 2020, of the Commissioner of Corporate and Legislative Services, as follows:</p>
<p>That a by-law be enacted to establish a $15,000,000 borrowing limit for the 2020 year to finance current expenditures.</p>
<p>Carried</p>
<p>Report CLSFS20-016</p>
<p>Moved by Councillor Pappas</p>
<p>Carried</p>
<p>2019 Investment Report</p>
<p>Report CLSFS20-018</p>
<p>Moved by Councillor Pappas</p>
<p>That Council approve the recommendation outlined in Report CLSFS20-018 dated March 2, 2020, of the Commissioner of Corporate and Legislative Services, as follows:</p>
<p>That the 2019 Investment Report, outlined in report CLSFS20-018, dated March 2, 2020 of the Commissioner of Corporate and Legislative Services, be received for information.</p>
<p>Carried</p>
<p>Public Meeting under the Planning Act</p>
<p>The Mayor, as Chair of the Planning Portfolio, assumed the Chair.</p>
<p>Official Plan and Zoning By-law Amendment for 854, 860 and 870 Clonsilla Avenue</p>
<p>Report IPSPL20-004</p>
<p>Caroline Kimble, Land Use Planner, provided a presentation on Report IPSPL20-004.</p>
<br>
<br>
<p>The following individuals spoke in opposition to the application:</p>
<p>George Mitchell, 24 Regent Street, Lakefield</p>
<p>Paul Irwin, 961 Ralphson Crescent</p>
<p>Gordon Halsey, 561 Aylmer Street North</p>
<p>Paul Harris, 949 Webber Avenue</p>
<p>The applicant’s agent, Kent Randall of Ecovue Consulting Services Inc. spoke to the application.</p>
<p>The Mayor left the meeting at 6:58 p.m. and Councillor Beamer assumed the Chair. The Mayor returned at 6:59 p.m. and assumed the Chair.</p>
<p>The Mayor left the meeting at 7:12 p.m. and Councillor Beamer assumed the Chair. The Mayor returned at 7:17 p.m. and assumed the Chair.</p>
<p>Moved by Councillor Beamer</p>
<p>That Council approve the recommendations outlined in Report IPSPL20-004 dated March 2, 2020, of the Commissioner of Infrastructure and Planning Services, as follows:</p>
<p>That Schedule ‘E’ – Residential Density of the Official Plan, as it relates to the properties known as 854, 860 and 870 Clonsilla Avenue, be amended to ‘High Density Residential’ in accordance with the draft amendment, attached as Exhibit ‘D’ to Report IPSPL20-004;</p>
<p>That the Zoning By-law be amended to add Exception 329 to Section 3.9, to prescribe site specific regulations in accordance with the draft amendment attached as Exhibit ‘E’ to Report IPSPL20-004; and</p>
<p>That the subject properties be rezoned from the R.1, R.2 – Residential District to the R.5-329 - Residential District in accordance with Exhibit ‘E’ attached to Report IPSPL20-004.</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>Carried</p>
<p>Councillor Beamer assumed the Chair.</p>
<p>Future Ready 5-Year Economic Development Strategy and 2020 Business Plan</p>
<p>Report PKED20-002</p>
<p>Moved by Mayor Therrien</p>
<p>That Council approve the recommendations outlined in Report PKED20-002 dated March 2, 2020 of the Board Chair and President & CEO of Peterborough & the Kawarthas Economic Development as follows:</p>
<br>
<p>a)</p>
<p>b)</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>d)</p>
<p>That the Peterborough & the Kawarthas Economic Development Future Ready - 5-Year Economic Development Strategy and 2020 Business Plan and presentation be received for information.</p>
<p>That Peterborough & the Kawarthas Economic Development work with City and County Chief Administrative Officers to complete a quarterly reporting template and metrics to report activities to City and County Councils in 2020.</p>
<p>Carried</p>
<p>Communications Policies</p>
<p>Report CAOCS20-001</p>
<p>Moved by Councillor Wright</p>
<p>That Council approve the recommendations outlined in Report CAOCS20-001, dated March 2, 2020, of the CAO, as follows:</p>
<p>That the Communications Policy attached as Appendix A of this report be approved;</p>
<p>That Chapter 151, Crest – Logo – Policy, attached as Appendix B of this report be repealed;</p>
<p>That the Visual Identity Policy attached as Appendix C of this report be approved; and</p>
<p>That the Heraldic Identifiers Policy attached as Appendix D of this report be approved.</p>
<p>Carried</p>
<p>Delegation By-law</p>
<p>Report CAO20-001</p>
<p>The Chair separated the recommendations for vote.</p>
<p>The Mayor left the meeting at 7:56 p.m. and returned at 7:57 p.m.</p>
<p>Moved by Councillor Wright</p>
<p>That Council approve the recommendations outlined in Report CAO20-001 dated March 2, 2020, of the Chief Administrative Officer as follows:</p>
<p>b)</p>
<p>That Richard Freymond be appointed Deputy Chief Administrative Officer.</p>
<p>Carried</p>
<br>
<br>
<br>
<br>
<br>
<p>Carried</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<br>
<br>
<p>Moved by Councillor Wright</p>
<p>That recommendation a) be deferred until;</p>
<p>i)</p>
<p>ii)</p>
<p>staff provide members of Council with a copy of the various by-laws identified in Report CAO20-001, staff provide further clarification regarding the new, proposed delegations and,</p>
<p>iii)  staff report back on the content of other municipality’s Delegation By-law.</p>
<p>Distribution of Ontario Cannabis Legalization Implementation Funding</p>
<p>Report CLSFS20-021</p>
<p>Moved by Mayor Therrien</p>
<p>That Council approve the recommendation outlined in Report CLSFS20-021 dated March 2, 2020, of the Commissioner of Corporate and Legislative Services, as follows:</p>
<p>That funding received in the amount of $253,639 for the Ontario Cannabis Legalization Implementation Funding, be transferred from Reserve to the Peterborough Police Service.</p>
<p>Carried</p>
<p>Climate Change Initiatives Update</p>
<p>Report IPSIM20-003</p>
<p>Moved by Councillor Zippel</p>
<p>That Council approve the recommendations outlined in Report IPSIM20-003 dated March 2, 2020, of the Commissioner of Infrastructure and Planning Services, as follows:</p>
<p>That staff make application to the Federation of Canadian Municipalities- Green Municipal Fund; Study: Reduce Fossil Fuel Use in Fleet and that Council approve up to $100,000 from the Climate Change Reserve for the City’s 50% contribution, if approved;</p>
<p>That staff include anti-idling as a distinct initiative for inclusion in the City’s partnership program with Toronto and Region Conservation Authority on a neighbourhood based Low Carbon Social Mobilization initiative;</p>
<p>That, for projects/initiatives which have an impact on Climate Adaptation and/or Mitigation, a descriptive statement be included in future Standing Committee reports;</p>
<br>
<br>
<p>d)</p>
<p>e)</p>
<p>f)</p>
<p>g)</p>
<p>h)</p>
<p>i)</p>
<p>j)</p>
<p>k)</p>
<p>l)</p>
<br>
<br>
<p>At the meeting of March 2, 2020 Committee amended d) as follows:</p>
<p>That staff report to Council annually on the progress related to the Climate Change Action Plan implementation plan, Adaptation and Community Resilience and Mitigation efforts including progress on the corporate target of 45 % Green House Gas emission reduction by 2030.</p>
<p>That staff report back on progress on the Peterborough Environmental Advisory Committee sub-committee’s review of striving for net zero emissions as a municipality, as part of annual update;</p>
<p>That staff prepare a report on the potential use of the remainder of the 2020 Contribution to the Climate Change Reserve in the amount of $426,400, by July 2020;</p>
<p>That Council endorse an 18-month contract position to develop Standard Operating procedures to optimize the use and potential of the adaptive controls for the City-wide streetlighting system and advance the planned Decorative Street lighting project;</p>
<p>That staff report to Council, as part of the 2021 budget review, on permanent staffing resources required to significantly advance and sustain the Corporate and Community actions related to the Climate Change Action Plan (CCAP);</p>
<p>That staff and Council seek opportunities to advocate with the Provincial and Federal governments for funding to support Climate Adaptation and Mitigation initiatives in Peterborough;</p>
<p>That staff and Council seek opportunities to advocate with the Provincial and Federal governments for policy changes which positively impact Climate Mitigation and Adaptation efforts and contribute to the benefit of the City and broader community;</p>
<p>That the City partner with Community agencies and researchers on initiatives which affect Climate Mitigation and Adaptation efforts for the broader community; and</p>
<p>That staff, in collaboration with key community partners, develop a clear implementation strategy for the Community Sector of the Climate Change Action Plan (CCAP), with focus on verifying data assumptions and identifying community measurables.</p>
<p>Carried</p>
<p>Other Business</p>
<p>There were no items of Other Business.</p>
<br>
<p>Adjournment</p>
<p>Moved by Councillor Clarke</p>
<p>That this meeting adjourn at 8:16 p.m.</p>
<p>Carried</p>
<br>
<p>_________________________</p>
<p>John Kennedy</p>
<p>City Clerk</p>
<p>_________________________</p>
<p>Councillor Beamer</p>
<p>Chair</p>
<br>
<br>
<br>
<br>
<br></div>