<!doctype html><div><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>General Committee Minutes</p>
<br>
<p>Council Chambers, City Hall</p>
<br>
<br>
<p>June 3, 2019</p>
<br>
<p>Present:</p>
<br>
<p>Councillor Akapo</p>
<p>Councillor Baldwin</p>
<p>Councillor Beamer, Chair</p>
<p>Councillor Clarke</p>
<p>Councillor Parnell</p>
<p>Councillor Pappas</p>
<p>Councillor Riel</p>
<p>Mayor Therrien</p>
<p>Councillor Vassiliadis</p>
<p>Councillor Wright</p>
<p>Councillor Zippel</p>
<br>
<br>
<p>Staff:</p>
<br>
<p>Sandra Clancy, Chief Administrative Officer</p>
<p>Cynthia Fletcher, Commissioner of Infrastructure and Planning Services</p>
<p>Richard Freymond, Commissioner of Corporate and Legislative Services</p>
<p>Erik Hanson, Heritage Resources Coordinator</p>
<p>John Kennedy, Clerk</p>
<p>Mac MacGillivray, Facilities and Energy Manager</p>
<p>David Potts, City Solicitor/Manager of Legal Services</p>
<p>Karen Rennie, Manager of Arts and Heritage</p>
<p>Brendan Wedley, Manager of Communication Services</p>
<br>
<p>Closed Session - 5:45 p.m., Doris Room</p>
<br>
<p>Moved by Councillor Clarke</p>
<br>
<p>That Committee meet in Closed Session to discuss one item under Section</p>
<p>239(2)(c) A proposed or pending acquisition or disposition of land by the</p>
<p>municipality or local board.</p>
<br>
<p>Carried</p>
<br>
<p>Open Session - 6:00 p.m., Council Chambers</p>
<br>
<p>The City Council meeting was called to order at 6:00 p.m. in the Council Chambers, City Hall.</p>
<br>
<br>
<p>General Committee minutes of June 3, 2019</p>
<p>That the minutes of the meetings of General committee held on May 6 and May 13, 2019 be approved.</p>
<p>Adoption of Minutes</p>
<p>Moved by Councillor Baldwin</p>
<p>Carried</p>
<p>Disclosure of Pecuniary Interest</p>
<p>Councillor Parnell declared an interest from the May 13, 2019 meeting, Report CLSCLK19-014, Requests for Downtown Sidewalk Sales.  As Councillor Parnell was absent from the May 13th meeting, she made the declaration at the meeting of June 3, 2019 as she was involved with the Taste of Downtown event referenced in the report.</p>
<p>Report of Closed Session Sale of Surplus Lands municipally known as 941, 1056, and 1062 Ashdale Crescent East Report IPSRE19-001</p>
<p>Moved by Councillor Pappas</p>
<p>That Council approve the recommendations outlined in Closed Report IPSRE19- 001 dated June 3, 2019 of the Commissioner of Infrastructure and Planning Services.</p>
<p>Carried</p>
<p>Consent Agenda for Reports and Communications</p>
<p>Moved by Councillor Vassiliadis</p>
<p>That items 11.a, 12.c and 13.a be approved as part of the Consent Agenda.</p>
<p>Carried</p>
<p>Notice of Public Meeting – Development Charge Background Study Peterborough Utilities Commission Report CLSFS19-032</p>
<p>Moved by Councillor Vassiliadis</p>
<p>That Council approve the recommendations outlined in Report CLSFS19-032 dated June 3, 2019, of the Commissioner of Corporate and Legislative Services, as follows:</p>
<p>That Report CLSFS19-032 advising Council that a public meeting will be held on June 24, 2019 at 5:30 pm in the Council Chambers to present a</p>
<p>a)</p>
<br>
<br>
<p>General Committee minutes of June 3, 2019</p>
<p>Development Charges Background Study undertaken by the Peterborough Utilities Commission and to hear public delegations, be received.</p>
<p>b)</p>
<p>That a further report be presented to the July 8, 2019 General Committee meeting that will recommend rate changes to Peterborough Utilities Commission Development Charge rate.</p>
<p>Carried</p>
<p>Designation of Heritage Properties – 27 Charles Street, 239 Burnham Street, 181 Stewart Street and 212 McDonnel Street Report CSACH19-008</p>
<p>Moved by Councillor Vassiliadis</p>
<p>That Council approve the recommendations outlined in Report CSACH19-008, dated June 3, 2019, of the Chief Administrative Officer and Acting Commissioner of Community Services, as follows:</p>
<p>a)   That the recommendation of the Peterborough Architectural Conservation</p>
<p>Advisory Committee (PACAC) to designate the properties at 27 Charles Street, 239 Burnham Street, 181 Stewart Street and 212 McDonnel Street as heritage properties under Part IV, Section 29 of the Ontario Heritage Act (R.S.O. 1990, c.O.18) being of “cultural heritage value or interest” be approved; and</p>
<p>b)   That Council’s intention to designate be advertised in a newspaper having</p>
<p>general circulation in the municipality as per the Ontario Heritage Act R.S.O. 1990, c.O.18, s.31 (3); and</p>
<p>c)   That the owners of the properties to be designated, and the Ontario Heritage</p>
<p>Trust, be served with a Notice of Intention to Designate as per the Ontario Heritage Act R.S.O. 1990, c.O.18, s.29 (3).</p>
<p>Carried</p>
<br>
<br>
<br>
<p>Utility Services Easement between the City of Peterborough and the Owner of 477 Bethune Street (Benson Auto) Report IPSENG19-017</p>
<p>Moved by Councillor Vassiliadis</p>
<p>That Council approve the recommendations outlined in Report IPSEC19-017 dated June 27, 2019, of the Commissioner of Infrastructure and Planning Services, as follows:</p>
<br>
<p>General Committee minutes of June 3, 2019</p>
<p>b)  That Council approve a utility services easement to the City of Peterborough</p>
<p>from the owner of 477 Bethune Street (Benson Auto) for a trunk sanitary sewer crossing at Jackson creek on terms and conditions set out in Report IPSEC19-017; and</p>
<p>c)  That the Commissioner, Infrastructure and Planning Services, be authorized to execute such documents to effect the said easement in forms acceptable to the City Solicitor.</p>
<p>Carried</p>
<p>Presentations</p>
<p>Peterborough Police Service Facility Space Needs Study Update and Presentation Report CLSFM19-004</p>
<p>Moved by Councillor Clarke</p>
<p>That Council approve the recommendations outlined in Report CLSFM19-004, dated June 3, 2019 of the Commissioner of Corporate and Legislative Services as follows:</p>
<p>That the Shoalts and Zaback Architect’s presentation, providing an update on the Peterborough Police Service Facility Space Needs Study be received for information;</p>
<p>That the report be deferred back to Facility Space Needs Study Steering Committee and that the Steering Committee work together with the Police Services Board to look at the five options presented and make a recommendation to Council on the suggested next steps;</p>
<p>That Richard Freymond, Commissioner of Corporate and Legislative Services for the City of Peterborough replace Sandra Clancy on the Facility Space Needs Study Steering Committee.</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>Carried</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>General Committee minutes of June 3, 2019</p>
<p>Watershed Planning Study Project Initiation and Presentation</p>
<p>Report IPSIM19-013</p>
<p>Moved by Mayor Therrien</p>
<p>That Council approve the recommendation outlined in Report IPSIM19-013 dated June 3, 2019, of the Commissioner of Infrastructure and Planning Services, as follows:</p>
<p>That Report IPSIM19-013 and presentation on the Watershed Planning Study be received for information.</p>
<p>Opinion of Municipal Heritage Committee Regarding Removal of Listed Properties</p>
<p>Carried</p>
<p>Report CSACH19-006</p>
<p>The recommendations were separated for vote.</p>
<p>Moved by Councillor Pappas</p>
<p>That Council approve the recommendation outlined in Report CSACH19-006, dated June 3, 2019, of the CAO and Commissioner of Community Services, as follows:</p>
<p>a)</p>
<p>That the recommendation of the Peterborough Architectural Conservation Advisory Committee (PACAC) not to remove 714 Cumberland Avenue, 493 Bethune Street and 546 Aylmer Street as listed properties on the City’s Heritage Register be received for information; and,</p>
<p>b)   That the properties listed at 714 Cumberland Avenue, 493 Bethune Street   and</p>
<p>546 Aylmer Street be removed from the Heritage Register.</p>
<p>Upon item a) the motion carried.</p>
<p>Upon item b) the motion lost.</p>
<p>Report CSACH19-007</p>
<p>Moved by Councillor Baldwin</p>
<p>Designation of Riverside Park Cultural Heritage Landscape</p>
<p>That Council approve the recommendations outlined in Report CSACH19-007, dated June 3, 2019, of the CAO and Acting Commissioner of Community Services, as follows:</p>
<p>a)   That the recommendation of the Peterborough Architectural Conservation</p>
<p>Advisory Committee (PACAC) to designate the property known municipally as 325 Burnham Street as a cultural heritage landscape under Part IV,</p>
<br>
<br>
<br>
<p>General Committee minutes of June 3, 2019</p>
<p>Section 29 of the Ontario Heritage Act (R.S.O. 1990, c.O.18) being of “cultural heritage value or interest” be approved; and</p>
<p>b)   That Council’s intention to designate be advertised in a newspaper having</p>
<p>general circulation in the municipality as per the Ontario Heritage Act R.S.O. 1990, c.O.18, s.31 (3); and</p>
<p>c)   That the owners of the properties to be designated, and the Ontario Heritage</p>
<p>Trust, be served with a Notice of Intention to Designate as per the Ontario Heritage Act R.S.O. 1990, c.O.18, s.29 (3).</p>
<p>That Council approve the recommendation outlined in Report CSAD19-004, dated June 3, 2019, of the CAO and Acting Commissioner of Community Services, as follows:</p>
<p>That the Ice Allocation Policy, as set out in Appendix A to Report CSAD19-004, be approved.</p>
<p>Carried</p>
<p>Arena Division Ice Allocation Policy</p>
<p>Report CSAD19-004</p>
<p>Moved by Councillor Riel</p>
<p>Carried</p>
<p>Other Business</p>
<p>Official Plan Progress Update</p>
<p>Moved by Councillor Zippel</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<br>
<br>
<p>Carried</p>
<br>
<br>
<p>That staff provide a report to Council on the progress of the Official Plan Review to the July 2, 2019 General Committee Meeting, and</p>
<p>That staff include in the report all hard deadlines for major milestones for the draft review including public consultations, approval by council and submission to the province, and</p>
<p>That staff report back, by the June 24, 2019 Council meeting, on a mechanism to provide regular updates to Council on the progress of the Official Plan.</p>
<p>General Committee minutes of June 3, 2019</p>
<p>Jackson Park Designation</p>
<p>Moved by Councillor Pappas</p>
<p>That staff provide a report on designating Jackson Park as a cultural heritage landscape.</p>
<br>
<br>
<br>
<br>
<p>Carried</p>
<p>Adjournment</p>
<p>Carried</p>
<p>Moved by Councillor Pappas</p>
<p>That this meeting adjourn at 8:20 p.m.</p>
<p>_________________________</p>
<p>John Kennedy</p>
<p>City Clerk</p>
<p>_________________________</p>
<p>Councillor Beamer</p>
<p>Chair</p>
<br>
<br>
<br></div>