<!doctype html><div><p>Peterborough Public Library Board Minutes</p>
<br>
<br>
<br>
<br>
<br>
<p>City of Peterborough</p>
<br>
<br>
<p>March 10, 2020</p>
<br>
<p>Present</p>
<br>
<br>
<p>Regrets</p>
<br>
<br>
<p>Staff</p>
<br>
<br>
<br>
<p>Call to Order</p>
<br>
<p>Amy Bowen</p>
<p>Councillor Clarke</p>
<p>Leigh McEachran</p>
<p>Dan Moloney, Vice Chair</p>
<p>Gillian Sandeman</p>
<br>
<p>Councillor Akapo</p>
<p>Barb Connor</p>
<p>Jayne White</p>
<p>Leslie Woolcott, Chair</p>
<br>
<p>Natalie Garnett, Deputy Clerk</p>
<p>Jennifer Jones, Library CEO</p>
<br>
<p>The meeting was called to order by the Vice Chair at 5:35 p.m.</p>
<p>Confirmation of Minutes</p>
<p>Moved by Leigh McEachran</p>
<p>That the minutes from the Peterborough Public Library Board Meeting on February 11, 2019 be approved.</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Pecuniary Interest.</p>
<p>Consent Agenda</p>
<p>Moved by Councillor Clarke</p>
<p>That item 5.3 be passed as part of the Consent Agenda.</p>
<p>Carried</p>
<p>Carried</p>
<br>
<br>
<br>
<br>
<p>a)</p>
<p>b)</p>
<br>
<p>Carried</p>
<p>a)</p>
<p>b)</p>
<p>Carried</p>
<br>
<br>
<p>Library Board Evaluation</p>
<p>Report PPL20-011</p>
<p>Moved by Councillor Clarke</p>
<p>That the Library Board approve the recommendations as outlined in Report PPL20-011 dated March 10, 2020 of the Library CEO as follows:</p>
<p>That Report PPL20-011 be received for information; and</p>
<p>That the Board begin their annual evaluation process.</p>
<p>Updates from the Foundation and Friends of the Library</p>
<p>Report PPL20-010</p>
<p>Moved by Councillor Clarke</p>
<p>That the Library Board approve the recommendations outlined in Report PPL20- 010, dated March 3, 2020, of the Library CEO, as follows:</p>
<p>That the report to inform the Library Board on the status of the Foundation be received for information; and</p>
<p>That the Library Board, upon dissolution of the Foundation, administer the funds in house (Option 1).</p>
<p>Library CEO Report March 2020</p>
<p>Report PPL20-009</p>
<p>Moved by Councillor Clarke</p>
<p>That the Library Board approves the recommendation as outlined in Report PPL20-009 dated March 10, 2020, of the Library CEO as follows:</p>
<p>That the report to inform the Library Board on general matters concerning Library operations and service be received for information.</p>
<p>Carried</p>
<p>Other Business</p>
<p>Discussion was held regarding new cleaning and disinfecting processes at the Library.</p>
<p>Councillor Clarke requested a report on the impact the temporary shelter had on the Library in 2019-2020.</p>
<p>Next Meeting - April 7, 2020</p>
<p>Adjournment</p>
<p>Moved by Councillor Clarke</p>
<p>That the meeting adjourn at 6:18 p.m.</p>
<p>Carried</p>
<br>
<p>_________________________</p>
<p>Natalie Garnett</p>
<p>Deputy Clerk</p>
<p>_________________________</p>
<p>Dan Moloney, Vice Chair</p>
<br>
<br>
<br>
<br>
<br></div>