<!doctype html><div><p>General Committee Minutes (Electronic Participation)</p>
<br>
<p>Council Chambers, City Hall</p>
<br>
<br>
<br>
<br>
<p>July 13, 2020</p>
<br>
<p>Present:</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Staff:</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Councillor Akapo</p>
<p>Councillor Baldwin</p>
<p>Councillor Beamer, Chair</p>
<p>Councillor Clarke</p>
<p>Councillor Parnell</p>
<p>Councillor Pappas</p>
<p>Councillor Riel</p>
<p>Mayor Therrien</p>
<p>Councillor Vassiliadis</p>
<p>Councillor Wright</p>
<p>Councillor Zippel</p>
<br>
<p>Brad Appleby, Planner Subdivision Control</p>
<p>Sandra Clancy, Chief Administrative Officer</p>
<p>Cynthia Fletcher, Commissioner of Infrastructure and Planning Services</p>
<p>Richard Freymond, Commissioner of Corporate and Legislative Services</p>
<p>Natalie Garnett, Deputy Clerk</p>
<p>Ken Hetherington, Chief Planner</p>
<p>John Kennedy, City Clerk</p>
<p>Caroline Kimble, Land Use Planner</p>
<p>Sheldon Laidman, Commissioner of Community Services</p>
<p>Yvette Peplinskie, Manager of Financial Services</p>
<p>David Potts, City Solicitor/Manager of Legal Services</p>
<p>Kendra Sedgwick, Committee Coordinator</p>
<p>Brendan Wedley, Manager of Communication Services</p>
<br>
<br>
<br>
<p>The meeting was called to order at 6:50 p.m. and the Clerk conducted a roll call.</p>
<p>Councillor Beamer declared an interest in item 7b), Report IPSPL20-012, as a family member lives in proximity to the subject property.</p>
<p>Moved by Councillor Pappas</p>
<p>That agenda item 7, Public Meetings under the Planning Act, be dealt with prior to item 6, Consent Agenda.</p>
<p>The Clerk conducted the vote.</p>
<br>
<br>
<br>
<p>In support of motion: Councillor Parnell, Councillor Zippel, Councillor Clarke, Councillor Vassiliadis, Councillor Akapo, Councillor Pappas, Councillor Baldwin, Councillor Riel, Councillor Wright, Mayor Therrien, Councillor Beamer</p>
<p>The motion carried.</p>
<p>The meeting recessed at 6:55 p.m. and reconvened at 7:40 p.m. and the Clerk conducted a roll call.</p>
<p>Public Meeting under the Planning Act</p>
<p>As Chair of Planning, Mayor Therrien assumed the Chair.</p>
<p>Temporary Use Zoning By-law Amendment Z2001 - 2531430 Ontario Limited 2159 Old Norwood Road</p>
<p>Brayden Libawski, The Biglieri Group, agent of the applicant, spoke to the application.</p>
<p>Report IPSPL20-011</p>
<p>Moved by Councillor Pappas</p>
<p>That Council approve the recommendations outlined in Report IPSPL20-011 dated July 13, 2020, of the Commissioner of Infrastructure and Planning Services, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>That By-law 19-037 be repealed in accordance with Exhibit A of Report IPSPL20-011; and</p>
<p>That a Temporary Use Zoning By-law Amendment be approved pursuant to Section 39 of the Planning Act to permit a portion of the property municipally known as 2159 Old Norwood Road to be developed with a new- home sales office and up to three model homes without municipal services for a period of up to three (3) years in accordance with Exhibit A of Report IPSPL20-011.</p>
<p>The Clerk conducted the vote.</p>
<p>In support of motion: Councillor Wright, Councillor Beamer, Councillor Riel, Councillor Baldwin, Councillor Pappas, Councillor Akapo, Councillor Vassiliadis, Councillor Clarke, Councillor Zippel, Councillor Parnell, Mayor Therrien</p>
<p>The motion carried.</p>
<p>Committee recessed at 8:42 and reconvened at 8:51 p.m. The Clerk conducted a roll call.</p>
<br>
<br>
<br>
<br>
<p>Application for Zoning By-law Amendment Z1919SB and to Amend Draft Plan of Subdivision 15T-16501 - Durham Building Corp., 663, 689 and 739 Lily Lake Road</p>
<p>Report IPSPL20-012</p>
<p>Ian Attridge, 575 Gilchrist Street, spoke to the application.</p>
<p>Chad Pinto, Peterborough Bicycle Advisory Committee, spoke to the application.</p>
<p>Cameron Sellers, Innovative Planning Solutions, agent of the applicant, spoke to the application.</p>
<p>Due to his previously declared interest Councillor Beamer did not discuss or vote on this item.</p>
<p>Moved by Councillor Pappas</p>
<p>That Council approve the recommendations outlined in Report IPSPL20-012 dated July 13, 2020, of the Commissioner of Infrastructure and Planning Services, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>That Zoning By-law 97-123 be amended by adding Special District 367 (SP.367) in accordance with Exhibit A of Report IPSPL20-012.</p>
<p>That the subject property be rezoned from R.1,1r,2r,5o,10m,11j-315-'H', R.1,1m,2m,5e,10m,11j-315-'H', SP.366,3n,5o,11j-315-318-'H', SP.366,3n,5o,11j- 308-315-318-'H' and OS.2 to R.1,1r,2r,5o,8w,10m,11j-315- 'H', R.1,1m,2m,5e, 10m,11j-315-'H', SP.365,5p,7h-'H', SP.366,3n,5o,11j-315- 318-'H', SP.367-'H', SP.367-308-'H' and OS.2 in accordance with Exhibit A of Report IPSPL20-012.</p>
<p>That Council direct the Commissioner of Infrastructure and Planning Services to amend the plan and conditions of approval for Draft Approved Plan of Subdivision 15T-16501 in accordance with Report IPSPL20-012 upon receipt of confirmation from the City Clerk that the By-law associated with Recommendations a) and b) of Report IPSPL20-012 has come into effect.</p>
<p>The Clerk conducted a vote.</p>
<p>In support of motion: Councillor Parnell, Councillor Zippel, Councillor Clarke, Councillor Vassiliadis, Councillor Akapo, Councillor Pappas, Councillor Baldwin, Councillor Riel, Councillor Wright, Mayor Therrien</p>
<p>The motion carried.</p>
<p>Zoning By-law Amendment - 850 Lansdowne Street West</p>
<p>Report IPSPL20-013</p>
<br>
<br>
<br>
<br>
<br>
<p>Kevin Duguay, Duguay Planning and Consulting, agent for the applicant, spoke to the application.</p>
<p>Moved by Councillor Beamer</p>
<p>That Council approve the recommendations outlined in Report IPSPL20-013 dated July 13, 2020, of the Commissioner of Infrastructure and Planning Services, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>That Section 3.9 be amended to add Exception .333, to recognize uses permitted via an amendment in 2016 and to add an ‘office’ as a permitted use with a maximum floor area of 350m2; and to permit a reduced landscaped strip of 4.0 m abutting a residential district and 0.8 m along any other lot line that are not street lines in accordance with Exhibit ‘C’ attached to Report IPSPL20-013;</p>
<p>That the zoning of the lands known as 850 Lansdowne St. W. be amended from SP.268 -244, 5h to SP.268-333, 5g - H in the City of Peterborough Zoning By-law #97-123 in accordance with Exhibit ‘C’ attached to Report IPSPL20-013; and</p>
<p>That the ‘H’ Holding Symbol be removed at such time as Site Plan Approval is granted for the redevelopment of the property, including provisions for the conveyance of a daylighting triangle at the intersection of Lansdowne St. W. and Wightman Ave.</p>
<p>The Clerk conducted the vote.</p>
<p>In support of motion: Councillor Wright, Councillor Beamer, Councillor Riel, Councillor Baldwin, Councillor Akapo, Councillor Vassiliadis, Councillor Clarke, Councillor Zippel, Councillor Parnell, Mayor Therrien</p>
<p>Opposed to motion: Councillor Pappas</p>
<p>The motion carried.</p>
<p>The meeting recessed at 9:30 p.m. and reconvened at 9:53 p.m. with Councillor Beamer in the Chair.</p>
<p>Moved by Councillor Pappas</p>
<p>That the rules be suspended (s. 14.2) to extend the meeting past 10:00 p.m. to in order to complete the agenda.</p>
<p>The Clerk conducted the vote.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>In support of motion: Councillor Parnell, Councillor Zippel, Councillor Clarke, Councillor Vassiliadis, Councillor Akapo, Councillor Pappas, Councillor Baldwin, Councillor Riel, Councillor Wright, Mayor Therrien, Councillor Beamer</p>
<p>The motion carried.</p>
<p>Consent Agenda</p>
<p>Moved by Councillor Parnell</p>
<p>That items 8b and 9a be approved as part of the Consent Agenda.</p>
<p>The Clerk conducted the vote.</p>
<p>In support of motion: Councillor Wright, Councillor Riel, Councillor Baldwin, Councillor Pappas, Councillor Akapo, Councillor Vassiliadis, Councillor Clarke, Councillor Zippel, Councillor Parnell, Mayor Therrien, Councillor Beamer</p>
<p>March 31, 2020 Financial Update Report (Unaudited) 93 - 107</p>
<p>The motion carried.</p>
<p>Report CLSFS20-032</p>
<p>Moved by Councillor Parnell</p>
<p>That Council approve the recommendations outlined in Report CLSFS20-032 dated July 13, 2020, of the Commissioner of Corporate and Legislative Services, as follows:</p>
<p>That the March 31, 2020 Quarterly Financial Update Report (unaudited) attached as Appendix A to Report CLSFS20-032, dated July 13, 2020, be received;</p>
<p>That as a matter of housekeeping, $385,000 Federal Gas Tax (FGT) be reallocated to the 2019 Transit Bus Project (2019 Capital Budget Ref# 5-16- 01) and corresponding amounts of Capital Levy be allocated to the Sherbrooke Street – Glenforest to West City Limits Project (2019 Capital Budget Ref # 5-8-06).</p>
<p>a)</p>
<p>b)</p>
<p>Carried</p>
<p>Arena Needs Plan and Ice Allocations 112 - 119</p>
<p>Report CSAD20-009</p>
<p>Moved by Councillor Parnell</p>
<br>
<br>
<br>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>d)</p>
<p>e)</p>
<p>That Council approve the recommendation outlined in Report CSAD20-009 dated July 13, 2020 of the Commissioner of Community Services as follows:</p>
<p>That Report CSAD20-009 be received for information.</p>
<p>Carried</p>
<p>COVID-19 Response and Financial Impact – Update #2 for the City of Peterborough</p>
<p>Report CLSFS20-037</p>
<p>Moved by Councillor Pappas</p>
<p>That Council approve the recommendations outlined in Report CLSFS20-037 dated July 13, 2020, of the Chief Administrative Officer and the Commissioner of Corporate and Legislative Services, as follows:</p>
<p>That the COVID-19 Response and Financial Impact – Update for the City of Peterborough, outlined in Report CLSFS20-037, dated July 13, 2020 of the Chief Administrative Officer and Commissioner of Corporate and Legislative Services, be received for information;</p>
<p>That the 2020 annual loan payment from Peterborough Youth Soccer Club in the amount of $30,000 for their contribution to the sport field complex at Fleming College be deferred to 2021, and that the term of the loan repayment be extended by one additional year, to November 1, 2024;</p>
<p>That the 2020 monthly loan payments from the Peterborough Rugby Union Football Club in the amount of $2,942 for costs associated with the construction of the Rugby Clubhouse in Nicholls Oval Park be deferred to 2021, and that the term of the loan repayment be extended by one additional year, to March 31, 2024;</p>
<p>That the period the City accepts donations, issues income tax receipts to donors, and deposits all monies received in an interest-bearing account held by the City in support of the Peterborough Rugby Union Football Club’s fund-raising efforts to renovate their Clubhouse be extended by one year, up to November 30, 2021;</p>
<p>That the 2020 annual loan payment from the Kinsmen Minor Football League and the Peterborough Wolverines Football Club in the amount of $5,000 for their contribution toward the construction of the sport field complex located at Thomas A Stewart Secondary School be deferred to 2021, and that the term of the loan repayment be extended by one additional year, to November 1, 2023;</p>
<br>
<p>f)</p>
<p>g)</p>
<p>h)</p>
<p>i)</p>
<p>j)</p>
<p>k)</p>
<p>l)</p>
<br>
<br>
<p>That the Chief Administrative Officer and City Clerk be authorized to sign any amending agreements required to facilitate recommendations b), c) and e) of this report, in a form satisfactory to the Commissioner of Corporate and Legislative Services and City Solicitor;</p>
<p>That Council delegate the authority to the CAO and City Clerk to execute an agreement extending the terms of the exclusive supplier agreement with Coke and the sponsorship agreement with Molson, on such terms and conditions as the Commissioner of Corporate and Legislative Services finds acceptable, provided the term of the contract extension does not exceed 24 months;</p>
<p>That the $25,000 budgeted for EC3 to operate Arts Week 2020 be redirected instead to EC3 to support COVID Recovery activities for the Arts, Culture and Heritage sector in the City as deemed appropriate by EC3;</p>
<p>That the 2020 User Fee By-law 20-002 be amended by adding the Form 6 schedule of User Fees and Charges for Alternative Summer Day Camps, as per Appendix E to Report CLSFS20-037;</p>
<p>That the Mayor and Clerk be authorized to amend the Sports Equipment Shop lease agreement dated July 1, 2019, with Mr. Jeff Drimmie O/A Sharps Performance to reflect waiver of 50% of the lease payments that would otherwise be due from April 1, 2020 and throughout the period of time that the Evinrude Centre remains closed in a form satisfactory to the Commissioner of Corporate and Legislative Services and City Solicitor;</p>
<p>That the Mayor and Clerk be authorized to amend the lease arrangement with Kawartha Gymnastics Club to reflect waiver of 50% of the lease payments that would otherwise be due for the period of time from April 1, 2020 to July 12, 2020 in a form satisfactory to the Commissioner of Corporate and Legislative Services and City Solicitor;</p>
<p>That based on the financial assistance available from senior levels of government and the municipal assistance already provided, the correspondence from Mr. Sam McKnight and attached as Appendix G to Report CLSFS20-037, be received for information</p>
<p>m)</p>
<p>That the correspondence from the Chamber of Commerce and attached as Appendix H to Report CLSFS20-037, be received for information.</p>
<p>The Clerk conducted the vote.</p>
<p>In support of motion: Councillor Parnell, Councillor Zippel, Councillor Clarke, Councillor Vassiliadis, Councillor Akapo, Councillor Pappas, Councillor Baldwin, Councillor Riel, Councillor Wright, Mayor Therrien, Councillor Beamer</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Transition of the City’s Blue Box Program to Extended Producer Responsibility</p>
<p>The motion carried.</p>
<p>Report IPSES20-020</p>
<p>Moved by Councillor Zippel</p>
<p>That Council approve the recommendation outlined in Report IPSES20-020, dated July 13, 2020, of the Commissioner of Infrastructure and Planning Services as follows:</p>
<p>That November 1, 2023 be the preferred date to transition the City of Peterborough’s Blue Box program to Extended Producer Responsibility and that this be submitted to the Association of Municipalities of Ontario.</p>
<p>The Clerk conducted the vote.</p>
<p>In support of motion: Councillor Wright, Councillor Riel, Councillor Baldwin, Councillor Pappas, Councillor Akapo, Councillor Vassiliadis, Councillor Clarke, Councillor Zippel, Councillor Parnell, Mayor Therrien, Councillor Beamer</p>
<p>The motion carried.</p>
<p>Peterborough Housing Corporation Board Appointments</p>
<p>Report CLSCLK20-009</p>
<p>Moved by Councillor Pappas</p>
<p>That Council approve the recommendations outlined in Report CLSCLK20-009, dated July 13, 2020, of the City Clerk, on behalf of the Peterborough Housing Corporation Board, as follows:</p>
<p>a)  That Scott Mancini be appointed to the Peterborough Housing Corporation</p>
<p>Board of Directors for a term of up to 3 years (commencing the date of Council approval); and</p>
<p>b)  That Bonnie Clark be reappointed to the Peterborough Housing Corporation</p>
<p>Board for a term of 3 years (April 1, 2020 to March 31, 2023).</p>
<p>The Clerk conducted the vote.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>In support of motion: Councillor Parnell, Councillor Zippel, Councillor Clarke, Councillor Vassiliadis, Councillor Akapo, Councillor Pappas, Councillor Baldwin, Councillor Riel, Councillor Wright, Mayor Therrien, Councillor Beamer</p>
<p>The motion carried.</p>
<p>COVID-19 Transit Route Network Update</p>
<p>Report IPSTR20-019</p>
<p>Moved by Councillor Riel</p>
<p>That Council approve the recommendation outlined in Report IPSTR20-019, dated July 13, 2020, of the Commissioner of Infrastructure and Planning Services as follows:</p>
<p>That Council receive Report IPSTR20-019 for information.</p>
<p>The Clerk conducted the vote.</p>
<p>In support of motion: Councillor Wright, Councillor Riel, Councillor Baldwin, Councillor Pappas, Councillor Akapo, Councillor Vassiliadis, Councillor Clarke, Councillor Zippel, Councillor Parnell, Mayor Therrien, Councillor Beamer</p>
<p>The motion carried.</p>
<p>Other Business</p>
<p>Symbols of Racism</p>
<p>Moved by Councillor Pappas</p>
<p>a)</p>
<p>b)</p>
<p>That all actions, speech and symbols of hate and racism including but not limited to the Confederate battle flag and Swastikas be banned from all City of Peterborough property.</p>
<p>That Council send a letter to the office of the Attorney General of Canada, the Prime Ministers Office and our local Member of Parliament, the Honorable Maryam Monsef to seek Federal support for then ban.</p>
<p>The Clerk conducted the vote.</p>
<p>In support of motion: Councillor Parnell, Councillor Zippel, Councillor Clarke, Councillor Vassiliadis, Councillor Akapo, Councillor Pappas, Councillor Baldwin, Councillor Riel, Councillor Wright, Mayor Therrien, Councillor Beamer</p>
<br>
<br>
<br>
<br>
<br>
<p>The motion carried.</p>
<p>DBIA Board</p>
<p>Councillors Pappas and Zippel declared interests in this item as they are members of the DBIA. Councillors Pappas and Zippel did not discuss or vote on this item.</p>
<p>Moved by Councillor Akapo</p>
<p>Whereas the DBIA Board of Management, at its meeting of May 13, 2020, passed a motion requesting the City of Peterborough expand the DBIA Board composition to a maximum of 13 members and,</p>
<p>Whereas the DBIA sent correspondence to members of Council and staff on May 27, 2020, requesting City By-law 17-095 be amended to permit a maximum of 13 DBIA Board members,</p>
<p>Now be it resolved, that staff be directed to report back to Council in October with a by-law to amend the composition of the DBIA Board of Management membership to a maximum of 13 members.</p>
<p>The Clerk conducted the vote.</p>
<p>In support of motion: Councillor Wright, Councillor Baldwin, Councillor Akapo, Councillor Clarke, Mayor Therrien</p>
<p>Opposed to motion: Councillor Parnell, Councillor Vassiliadis, Councillor Riel, Councillor Beamer</p>
<p>The motion carried.</p>
<p>Airport Advisory Board</p>
<p>Moved by Councillor Wright</p>
<p>Whereas the Peterborough Municipal Airport is of significant importance to economic growth and job creation for the City and County of Peterborough and we must ensure that this asset is efficiently, effectively and safely operated in a manner to optimize opportunity for the citizens and visitors of our area. The success of our airport has resulted in increased activity which requires appropriate oversight and governance in order to maintain an excellent facility.</p>
<p>Be it resolved:</p>
<p>a)</p>
<p>That the Mayor appoint 3 Council members to an ad hoc airport advisory committee; and,</p>
<br>
<br>
<p>b)</p>
<br>
<br>
<br>
<br>
<p>That staff provide a report on a terms of reference for an advisory committee for the airport by May 2021. This board shall provide oversight and direction to the Peterborough Airport management and include 2 members of Council and five members from the community with expertise in finance, law, tourism, marketing and economic development.</p>
<p>The Clerk conducted the vote.</p>
<p>In support of motion: Councillor Parnell, Councillor Zippel, Councillor Clarke, Councillor Vassiliadis, Councillor Akapo, Councillor Pappas, Councillor Baldwin, Councillor Riel, Councillor Wright, Mayor Therrien, Councillor Beamer</p>
<p>The motion carried.</p>
<p>Bottled Water at City Facilities</p>
<p>Councillor Riel assumed the Chair.</p>
<p>Moved by Councillor Baldwin</p>
<p>Councillor Beamer declared a pecuniary interest as his employer is in the bottled water business. Councillor Beamer did not discuss or vote on the matter.</p>
<p>That staff provide a report on potential revenue from bottled water sales at City facilities, and</p>
<p>Any COVID-19  health related concerns regarding water stations.</p>
<p>The Clerk conducted the vote.</p>
<p>In support of motion: Councillor Wright, Councillor Riel, Councillor Baldwin, Councillor Vassiliadis, Councillor Clarke, Councillor Zippel, Councillor Parnell, Mayor Therrien</p>
<p>Opposed to motion: Councillor Pappas, Councillor Akapo</p>
<p>The motion carried.</p>
<p>Councillor Beamer assumed the Chair.</p>
<p>Adjournment</p>
<p>Moved by Councillor Pappas</p>
<p>That this meeting adjourn at 11:28 p.m.</p>
<p>The Clerk conducted the vote.</p>
<p>In support of motion: Councillor Parnell, Councillor Zippel, Councillor Clarke, Councillor Vassiliadis, Councillor Akapo, Councillor Pappas, Councillor Baldwin, Councillor Riel, Councillor Wright, Mayor Therrien, Councillor Beamer</p>
<p>The motion carried.</p>
<p>_________________________</p>
<p>John Kennedy</p>
<p>City Clerk</p>
<p>_________________________</p>
<p>Councillor Beamer</p>
<p>Chair</p>
<br>
<br>
<br>
<br>
<br></div>