<!doctype html><div><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>General Committee Minutes</p>
<br>
<p>Council Chambers, City Hall</p>
<br>
<br>
<p>September 14, 2020</p>
<br>
<p>Present:</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Staff:</p>
<br>
<br>
<br>
<br>
<p>Councillor Akapo</p>
<p>Councillor Baldwin</p>
<p>Councillor Beamer, Chair</p>
<p>Councillor Clarke</p>
<p>Councillor Parnell</p>
<p>Councillor Pappas</p>
<p>Councillor Riel</p>
<p>Mayor Therrien</p>
<p>Councillor Vassiliadis</p>
<p>Councillor Wright</p>
<p>Councillor Zippel</p>
<br>
<p>Sandra Clancy, Chief Administrative Officer</p>
<p>Cynthia Fletcher, Commissioner of Infrastructure and Planning Services</p>
<p>Richard Freymond, Commissioner of Corporate and Legislative Services</p>
<p>Natalie Garnett, Deputy City Clerk</p>
<p>Kevin Jones, Manager, Transportation</p>
<p>John Kennedy, City Clerk</p>
<p>David Potts, City Solicitor/Manager of Legal Services</p>
<p>Laurie Stratton, Transit Operations Manager</p>
<p>Brendan Wedley, Manager of Communication Services</p>
<br>
<br>
<br>
<br>
<p>The meeting was called to order by the Chair at 6:00 p.m.</p>
<p>Disclosure of Pecuniary Interest</p>
<p>No members made any disclosures at this time.</p>
<p>Consent Agenda for Reports and Communications</p>
<p>Moved by Councillor Clarke</p>
<p>That item 7.b be approved as part of the Consent Agenda.</p>
<p>Carried</p>
<br>
<br>
<br>
<br>
<br>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>Elimination of the Vacant and Excess Land Subclass Reduction - Final Recommendation</p>
<p>Report CLSFS20-042</p>
<p>Moved by Councillor Clarke</p>
<p>That Council approve the recommendation outlined in report CLSFS20-042 dated September 14, 2020, of the Commissioner of Corporate and Legislative Services, as follows:</p>
<p>That the vacant and excess land subclass reduction be eliminated beginning with the 2021 budget year.</p>
<p>COVID-19 Response and Financial Impact - Update #3 for the City of Peterborough</p>
<p>Carried</p>
<p>Report CLSFS20-051</p>
<p>Moved by Councillor Pappas</p>
<p>That Council approve the recommendations outlined in Report CLSFS20-051 dated September 14, 2020, of the Chief Administrative Officer and the Commissioner of Corporate and Legislative Services, as follows:</p>
<p>That the COVID-19 Response and Financial Impact – Update for the City of Peterborough, outlined in Report CLSFS20-051, dated September 14, 2020 of the Chief Administrative Officer and Commissioner of Corporate and Legislative Services, be received for information; and</p>
<p>That the City of Peterborough submit an application for Phase II funding under the Province’s Safe Restart Program for both COVID-19 pandemic costs for general Municipal Operational pressures and Municipal Transit costs.</p>
<p>At the meeting on September 14, 2020 Committee amended item c) as follows:</p>
<p>That a by-law be passed authorizing the Mayor and Clerk to execute the Province's Safe Restart Program transfer payment agreement and any subsequent corresponding agreements or amendments between Her Majesty the Queen in Right of Ontario and the Corporation of the City of Peterborough in a form acceptable to the Commissioner of Corporate and Legislative Services and the City Solicitor.</p>
<p>Carried</p>
<br>
<br>
<br>
<br>
<p>2020 Debenture Issue</p>
<p>Report CLSFS20-041</p>
<p>Moved by Councillor Riel</p>
<p>That Council approve the recommendations outlined in Report CLSFS20-041 dated September 14, 2020, of the Commissioner of Corporate and Legislative Services, as follows:</p>
<p>That the necessary borrowing by-laws be approved to borrow funds up to a maximum of $24,831,500 to finance City capital projects, and for terms not to exceed the terms indicated on Appendix A, attached to Report CLSFS20- 041;</p>
<p>That a by-law be passed to authorize the borrowing of $6,000,000 to help finance certain works to be undertaken by the Peterborough Utilities Commission; and</p>
<p>That the Treasurer be authorized to submit an application to Ontario Infrastructure and Lands Corporation to borrow these funds.</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>Carried</p>
<p>Request to Peterborough Police Services Board for Information</p>
<p>Report CLSCLK20-012</p>
<p>Moved by Councillor Pappas</p>
<p>That Council approve the recommendation outlined in Report CLSCLK20-012 dated September 14, 2020, of the City Clerk, as follows:</p>
<p>a)</p>
<p>That Report CLSCLK20-012, be received for information.</p>
<p>At the meeting of September 14, 2020 Committee added item b) as follows:</p>
<p>b)  Whereas section 39 of the Police Services Act of Ontario states</p>
<p>39 (1) The board shall submit operating and capital estimates to the municipal council that will show, separately, the amounts that will be required,</p>
<p>(a) to maintain the police force and provide it with equipment and facilities; and</p>
<p>(b) to pay the expenses of the board’s operation other than the remuneration of board members.</p>
<p>(2) The format of the estimates, the period that they cover and the timetable for their submission shall be as determined by the council.</p>
<p>Be it resolved that speaking to the format of these estimates the Police Services Board include as part of their 2021 budget request more detailed cost estimates for life cycle and maintenance of their fleet vehicles.</p>
<br>
<br>
<p>Lost</p>
<p>b)</p>
<p>c)</p>
<br>
<br>
<br>
<p>Moved by Councillor Riel</p>
<p>That Report CLSCLK20-012 be deferred to October.</p>
<p>The original motion of Councillor Pappas was separated for vote. Upon item a) the motion carried. Upon item b) the motion lost.</p>
<p>Procedure By-law Amendment - Electronic Meetings</p>
<p>Report CLSCLK20-013</p>
<p>Moved by Councillor Pappas</p>
<p>That Council approve the recommendation outlined in Report CLSCLK20-013 dated September 14, 2020 of the City Clerk, as follows:</p>
<p>a)</p>
<p>That the draft Procedure By-law, attached as Appendix A, be approved.</p>
<p>At the meeting of September 14, 2020 Committee added item b) as follows:</p>
<p>b)</p>
<p>That advisory committees and boards be surveyed on attending electronic meetings and that staff report to Council on the feasibility to convene electronic meetings for advisory committees.</p>
<p>Carried</p>
<p>Provision of Cycling Facilities on Charlotte Street</p>
<p>Report IPSTR20-025</p>
<p>Moved by Mayor Therrien</p>
<p>That Council approves the recommendations outlined in Report IPSTR20-025 dated September 14, 2020, of the Commissioner of Infrastructure and Planning Services, as follows:</p>
<p>a)</p>
<p>That cycling lanes be provided on Charlotte Street between Park Street and Monaghan Road, including a painted buffer with lane delineators.</p>
<p>That parking be prohibited on both sides of Charlotte Street from Park Street to Monaghan Road.</p>
<p>That Parking By-law 09-136 be amended to authorize implementation of Recommendation b).</p>
<br>
<p>That a capital project and budget transfer of $20,000 be approved to fund a Charlotte Street Curb Cut program for those residents where on-street parking has been removed and wish to provide their own driveway connection to Charlotte Street.</p>
<p>Post Secondary Transit Pass Agreements</p>
<p>Report IPSTR20-027</p>
<p>Moved by Councillor Riel</p>
<p>That Council approve the recommendation outlined in Report IPSTR20-027, dated September 14, 2020, of the Commissioner of Infrastructure and Planning Services as follows:</p>
<p>At the meeting of September 14, 2020 the resolution was amended as follows:</p>
<p>That staff execute agreements with the Trent Central Student Association and Fleming Student Administrative Council for the implementation of interim Universal Transit Pass Agreements,</p>
<p>That the interim Transit routes remain in place until the Transit Route Review consultation is complete and the long-term routes are approved by Council.</p>
<p>Moved by Councillor Pappas</p>
<p>That staff execute agreements with the Trent Central Student Association and Fleming Student Administrative Council for the implementation of interim Universal Transit Pass Agreements, which are contingent on the interim Transit routes remaining in place until the Transit Route Review consultation is complete, or at least until April 2021, and the long-term routes are approved by Council.</p>
<p>That any changes to the current transit system made before the completion of the transit review and before April 2021 will not have a significant impact on either the Trent or Fleming service.</p>
<p>That Trent and Fleming be engaged by staff prior to any change be contemplated</p>
<p>That any changes being considered should be received and vetted by Transit staff, before implementation.</p>
<br>
<p>d)</p>
<p>Carried</p>
<p>a)</p>
<p>b)</p>
<p>Lost</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>d)</p>
<br>
<br>
<p>Carried</p>
<br>
<br>
<p>That all Council and Standing Committee votes be recorded by the second quarter of 2021; and,</p>
<p>That City Council request the Clerk's Office to report on the cost and feasibility of adopting a digital solution for the recording of votes.</p>
<p>Other Business</p>
<p>Moved by Councillor Wright</p>
<p>a)</p>
<p>b)</p>
<p>Carried</p>
<p>Adjournment</p>
<p>Moved by Councillor Parnell</p>
<p>That this meeting adjourn at 8:03 p.m.</p>
<p>Carried</p>
<br>
<p>_________________________</p>
<p>John Kennedy</p>
<p>City Clerk</p>
<p>_________________________</p>
<p>Councillor Beamer</p>
<p>Chair</p>
<br>
<br>
<br>
<br>
<br></div>