<!doctype html><div><br>
<br>
<br>
<br>
<br>
<p>February 19, 2020</p>
<br>
<p>Present</p>
<br>
<br>
<p>Regrets</p>
<br>
<p>Staff</p>
<br>
<p>Call to Order</p>
<br>
<p>Carried</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Peterborough Environmental Advisory Committee Minutes</p>
<br>
<p>Dana Jordan</p>
<p>Mary Elizabeth Konrad</p>
<p>Peter Lafleur</p>
<p>Chris Magwood</p>
<p>Craig Mortlock</p>
<p>Sandra Orsatti, Chair</p>
<p>Stephanie Rutherford</p>
<p>Councillor Zippel</p>
<br>
<p>Fraser Smith</p>
<br>
<p>Cynthia Fletcher, Commissioner of Infrastructure</p>
<p>Natalie Garnett, Deputy Clerk</p>
<p>Michael Papadacos, Manager, Infrastructure Management</p>
<br>
<p>The Chair called the meeting to order at 5:30 p.m. in the Doris Room.</p>
<br>
<p>Confirmation of Minutes</p>
<br>
<p>Moved by Stephanie Rutherford</p>
<br>
<p>That the minutes of the meeting of January 22, 2020 be approved.</p>
<br>
<p>Disclosure of Pecuniary Interest</p>
<br>
<p>There were no disclosures of Pecuniary Interest.</p>
<br>
<p>Reports and Communications</p>
<br>
<p>Update from GHG Emissions Data Subcommittee</p>
<br>
<p>Report PEAC20-006</p>
<br>
<p>Peter Lafleur provided an update on the GHG Emissions Data Subcommittee meeting</p>
<p>of February 14, 2020.</p>
<br>
<br>
<br>
<p>1</p>
<br>
<p>Moved by Mary Elizabeth Konrad</p>
<br>
<p>Due to uncertainty related to the 2011 dataset, that the GHG Data Subcommittee</p>
<p>use the 2018 data as the baseline.</p>
<br>
<p>That the PEAC approve the recommendation outlined in Report PEAC20-006</p>
<p>dated February 19, 2020 of the Manager of Infrastructure Management Division,</p>
<p>as follows:</p>
<br>
<p>That the PEAC receive a verbal update on the activities of the subcommittee on</p>
<p>GHG emission data for information and discussion.</p>
<br>
<p>PEAC decided to discuss climate change "Transportation" issues at the March 18</p>
<p>meeting, and matters surrounding "Homes" at the April 15, 2020 meeting.</p>
<br>
<p>That the PEAC approve the recommendation outlined in Report PEAC20-005</p>
<p>dated February 19, 2020 of the Manager of Infrastructure Management Division,</p>
<p>as follows:</p>
<br>
<p>That the report be received for information.</p>
<br>
<p>Michael Papadacos, Manager of Infrastructure Management Division, advised that April</p>
<p>22, 2020 is the 50th anniversary of "Earth Day".</p>
<br>
<p>Carried</p>
<br>
<br>
<p>Moved by Chris Magwood</p>
<br>
<p>Carried</p>
<br>
<br>
<p>Climate Change Update</p>
<p>Report PEAC20-005</p>
<p>Moved by Craig Mortlock</p>
<p>Carried</p>
<p>Other Business</p>
<br>
<br>
<br>
<p>Next Meeting - March 18, 2020</p>
<p>Adjournment</p>
<p>Moved by Councillor Zippel</p>
<p>That this meeting adjourn at 7:17 p.m.</p>
<p>Carried</p>
<br>
<p>_________________________</p>
<p>Natalie Garnett</p>
<p>Deputy Clerk</p>
<p>_________________________</p>
<p>Sandra Orsatti</p>
<p>Chair</p>
<br>
<br>
<br>
<br>
<br></div>