<!doctype html><div><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Arenas, Parks and Recreation Advisory Committee Minutes</p>
<br>
<br>
<p>March 20, 2018</p>
<br>
<p>Present</p>
<br>
<p>Staff Present</p>
<br>
<p>David Ronson</p>
<p>Councillor Haacke</p>
<p>Councillor Baldwin (arrived at 6:53 p.m.)</p>
<p>Diane Sargent, Chair</p>
<p>Glen Payne</p>
<p>Pete Dalliday</p>
<p>Ashley Vititoe</p>
<br>
<p>Kendra Sedgwick, Committee Coordinator</p>
<p>Rob Anderson, Recreation Division Coordinator</p>
<p>Ken Doherty, Director of Community Services</p>
<p>Sue Warrington, Arenas Division Manager</p>
<p>Brad Putnam, Community Arenas Operations Manager</p>
<p>Phil Jacobs, Supervisor, Parks and Forestry</p>
<p>Rob McAuley, Facility Manager, Peterborough Sport and</p>
<p>Wellness Centre</p>
<br>
<p>The meeting of the Arenas, Parks and Recreation Advisory Committee was called to</p>
<p>order at 5:30 p.m. by Diane Sargent, Chair, in the Auditorium, Community Services</p>
<p>Office.</p>
<br>
<p>Call to Order</p>
<br>
<br>
<br>
<p>Confirmation of Minutes</p>
<br>
<p>Moved by Glen Payne</p>
<br>
<p>That the minutes of the Arenas, Parks and Recreation Advisory Committee</p>
<p>meeting held on February 27, 2018 be approved.</p>
<br>
<p>Carried</p>
<br>
<br>
<p>Disclosure of Pecuniary Interest</p>
<br>
<p>There were no disclosures of Pecuniary Interest.</p>
<br>
<br>
<br>
<br>
<p>1</p>
<br>
<br>
<br>
<p>Arenas, Parks and Recreation Advisory Committee minutes of March 20, 2018</p>
<br>
<p>Consent Agenda - 5.d., 5.e.</p>
<br>
<p>Moved by Ashley Vititoe</p>
<br>
<p>Carried</p>
<br>
<br>
<p>Report APRAC18-006</p>
<br>
<p>Moved by Ashley Vititoe</p>
<br>
<p>That item 5.e. be approved as part of the Consent Agenda.</p>
<br>
<p>City Sponsored Events - Canada Day Parade Committee</p>
<br>
<p>That the Arenas Parks and Recreation Advisory Committee approve the</p>
<p>recommendations outlined in Report APRAC18-006 dated March 20, 2018, of the</p>
<p>Recreation Division Coordinator, as follows:</p>
<br>
<p>a)   That the Canada Day Parade Committee and its activities be approved as</p>
<br>
<p>City sponsored, and be covered under the City’s insurance policy; and</p>
<br>
<p>b)   That staff be authorized to enter into a City Sponsored Event/Activity</p>
<br>
<p>Agreement with the Canada Day Parade Committee to allow its inclusion</p>
<p>under the City’s insurance policy.</p>
<br>
<p>Carried</p>
<br>
<br>
<p>Bicycle Playground Concept Presentation</p>
<br>
<p>Report APRAC18-005</p>
<br>
<p>Moved by David Ronson</p>
<p>That the Arenas Parks and Recreation Advisory Committee approve the recommendations outlined in Report APRAC18-005 dated March 20, 2018, of the Recreation Division Coordinator, as follows:</p>
<p>a)   That a presentation by John Hauser on behalf of B!KE, on the concept of</p>
<p>establishing a bicycle park on City owned land be received; and</p>
<p>b)   That Staff be directed to continue discussion with B!KE on the proposed</p>
<p>bicycle park concept, and report back to APRAC at a future meeting.</p>
<p>Carried</p>
<br>
<br>
<br>
<br>
<br>
<p>Arenas, Parks and Recreation Advisory Committee minutes of March 20, 2018</p>
<p>Arena Division 2018 Work Activities Overview</p>
<p>Report APRAC18-007</p>
<p>Moved by Councillor Haacke</p>
<p>That the Arenas Parks and Recreation Advisory Committee (APRAC) approve the recommendation outlined in Report APRAC18-007, dated March 20, 2018 of the Arena Division Manager, as follows:</p>
<p>That a presentation by the Arena Division Manager providing an overview of the 2018 major work activities be received for information.</p>
<p>Parks Information Report - 2018 Work Activities</p>
<p>Report APRAC18-008</p>
<p>Councillor Baldwin arrived at 6:53 p.m.</p>
<p>Moved by Glen Payne</p>
<p>That the Arenas Parks and Recreation Advisory Committee approve the recommendation outlined in Report APRAC18-008 dated March 20, 2018, of the Supervisor of Parks and Forestry, as follows:</p>
<p>That a presentation by the Supervisor of Parks and Forestry be received for information.</p>
<p>New Procedure for People Found Living Rough in City Parks</p>
<p>Report APRAC18-009</p>
<p>Moved by Councillor Haacke</p>
<p>That the Arenas Parks and Recreation Advisory Committee approve the recommendation outlined in Report APRAC18-009 dated March 20, 2018, of the Supervisor Parks and Forestry, as follows:</p>
<p>That a presentation by the Supervisor of Parks and Forestry on the new Procedure for People found living rough in City Parks be received for information.</p>
<p>Carried</p>
<p>Carried</p>
<p>Carried</p>
<br>
<br>
<br>
<br>
<br>
<p>Arenas, Parks and Recreation Advisory Committee minutes of March 20, 2018</p>
<p>The Chair indicated that the next meeting of the Committee is scheduled for March 20, 2018</p>
<p>Other Business</p>
<p>Next Meeting - April 17, 2018</p>
<p>Adjournment</p>
<p>Moved by Pete Dalliday</p>
<p>Carried</p>
<br>
<p>Kendra Sedgwick, Committee Coordinator</p>
<p>Diane Sargent, Chair</p>
<p>That this meeting of the Arenas, Parks and Recreation Advisory Committee adjourn at 7:10 p.m.</p>
<br>
<br>
<br>
<br>
<br></div>