<!doctype html><div><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>General Committee Minutes</p>
<br>
<p>Council Chambers, City Hall (Electronic Meeting)</p>
<br>
<br>
<p>January 11, 2021</p>
<br>
<p>Present:</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Staff:</p>
<br>
<p>Councillor Akapo</p>
<p>Councillor Baldwin</p>
<p>Councillor Beamer, Chair</p>
<p>Councillor Clarke</p>
<p>Councillor Parnell</p>
<p>Councillor Pappas</p>
<p>Councillor Riel</p>
<p>Mayor Therrien</p>
<p>Councillor Vassiliadis</p>
<p>Councillor Wright</p>
<p>Councillor Zippel</p>
<br>
<p>Gillian Barnes, Project Manager, Facilities and Planning Initiatives</p>
<p>Sandra Clancy, Chief Administrative Officer</p>
<p>Cynthia Fletcher, Commissioner of Infrastructure and Planning Services</p>
<p>Richard Freymond, Commissioner of Corporate and Legislative Services</p>
<p>Natalie Garnett, Deputy City Clerk</p>
<p>John Kennedy, City Clerk</p>
<p>Sheldon Laidman, Commissioner of Community Services</p>
<p>David Potts, City Solicitor/Manager of Legal Services</p>
<p>Kendra Sedgwick, Committee Coordinator</p>
<p>Chris Snetsinger, Fire Chief</p>
<p>Brendan Wedley, Manager of Communication Services</p>
<br>
<p>Closed Session - 5:25 p.m.</p>
<br>
<p>Resolution to meet in Closed Session</p>
<br>
<p>Moved by Councillor Clarke</p>
<br>
<p>That Committee move into Closed Session to discuss two items under Section</p>
<p>239(2)(c) A proposed or pending acquisition or disposition of land by the</p>
<p>municipality.</p>
<br>
<p>Carried</p>
<br>
<br>
<br>
<p>1</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Moved by Councillor Pappas</p>
<br>
<p>That Committee rise from Closed Session at 5:49 p.m.</p>
<br>
<p>Carried</p>
<br>
<p>The City Council meeting was called to order at 6:00 p.m.</p>
<p>Open Session - 6:00 p.m.</p>
<p>Opening of Meeting</p>
<p>Adoption of minutes</p>
<p>Moved by Councillor Baldwin</p>
<p>Carried</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Pecuniary Interest.</p>
<p>Report of Closed Session</p>
<p>Moved by Councillor Pappas</p>
<p>That the minutes of the meetings of November 30, December 1 and December 14, 2020, be approved.</p>
<p>That Council approve the recommendation, outlined in Report IPSRE21-001 dated January 11, 2021 of the Commissioner of Infrastructure and Planning Services, as follows:</p>
<p>That, respecting the property known municipally as 1820 Fisher Drive, staff be authorized to proceed as outlined in Report IPSRE21-001 dated January 11, 2021, from the Commissioner of Infrastructure and Planning Services.</p>
<p>Carried</p>
<p>Moved by Councillor Wright</p>
<p>That Council approve the recommendation, outlined in Report IPSRE21-002 dated January 11, 2021 of the Commissioner of Infrastructure and Planning Services, as follows:</p>
<p>That, respecting the property known municipally as 2000 Technology Drive, staff be authorized to proceed as outlined in Report IPSRE 21-002 dated January 11, 2021 of the Commissioner of Infrastructure and Planning Services.</p>
<p>Carried</p>
<p>Carried</p>
<p>Carried</p>
<br>
<br>
<br>
<br>
<p>Consent Agenda for Reports and Communications</p>
<p>Moved by Councillor Vassiliadis</p>
<p>That items 11.a, 11.c and 12.b be approved as part of the Consent Agenda.</p>
<p>Peterborough and the Kawarthas Economic Development Board Appointments</p>
<p>Report PKED21-001</p>
<p>Moved by Councillor Vassiliadis</p>
<p>That Council approve the recommendation outlined in Report PKED21-001 dated January 11, 2021 of the Board Chair and the President & CEO of Peterborough and the Kawarthas Economic Development, as follows:</p>
<p>That Burton Lee and Ian Almond be appointed to the Peterborough and the Kawarthas Economic Development Board for a three-year term from May 1, 2021 to April 30, 2024.</p>
<p>Fire Dispatch Services for Townships within Northumberland County</p>
<p>Report CAOFS21-002</p>
<p>Moved by Councillor Vassiliadis</p>
<p>That Council approve the recommendations outlined in Report CAOFS21–002 dated January 11, 2021 of the Fire Chief, as follows:</p>
<p>a)</p>
<p>That the City enter into a five-year agreement from January 1, 2021 to December 31, 2025 to provide Fire Dispatch Services to all seven Municipalities within the County of Northumberland for the following annual base fees:</p>
<p>i) $442,087.30 for the period of January 1, 2021 to December 31, 2021</p>
<p>ii) $458,886.62 for the period of January 1, 2022 to December 31, 2022</p>
<p>iii) $476,324.32 for the period of January 1, 2023 to December 31, 2023</p>
<p>iv) $494,424.64 for the period of January 1, 2024 to December 31, 2024</p>
<p>v) $513,212.78 for the period of January 1, 2025 to December 31, 2025</p>
<br>
<br>
<p>b)</p>
<p>Carried</p>
<p>That the Mayor and Clerk be authorized to sign the Agreement on terms acceptable to the Chief Administrative Officer and the Fire Chief and in a form acceptable to the City Solicitor.</p>
<p>COVID-19 Pandemic Restrictions Response - Peterborough Memorial Centre Suite Holder License Agreements</p>
<p>Report CSAD21-002</p>
<p>Moved by Councillor Vassiliadis</p>
<p>That Council approve the recommendations outlined in Report CSAD21-002, dated January 11, 2021, of the Commissioner of Community Services, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>That the Mayor and Clerk be authorized to amend the Suite Holder License Agreements for the fourteen (14) Suite Holders with multi-year license agreements to reflect the license fee being waived for the 2020/21 Season term on current agreements for the period September 1, 2020 to August 31, 2021 in a form satisfactory to the Commissioner of Community Services and City Solicitor; and</p>
<p>That if there are events during the 2020/21 season term which allow occupying of the suites, the license fee for the fourteen (14) Suite Holder Agreements be waived on a pro-rated basis, depending on the portion of the 2020/21 OHL Season that the Suite Holder is allowed to occupy the suite as directed by the restrictions placed in response to the COVID-19 pandemic.</p>
<p>Peterborough Regional Health Centre Presentation</p>
<p>Report CLSCLK21-001</p>
<p>Moved by Councillor Clarke</p>
<p>That Council approve the recommendation outlined in Report CLSCLK21-001 dated January 11, 2021, of the City Clerk, as follows:</p>
<p>That the presentation from the Peterborough Regional Health Centre be received for information.</p>
<p>Carried</p>
<p>Presentations</p>
<br>
<br>
<br>
<p>Carried</p>
<br>
<br>
<p>Fire Station 2 Location Review Update</p>
<p>Report CAOFS21-001</p>
<p>Moved by Councillor Zippel</p>
<p>That Council approve the recommendations outlined in Report CAOFS21-001, dated January 11, 2021, of the Fire Chief, as follows:</p>
<p>That this update Report be received for information; and</p>
<p>That staff be directed to include the Sunset – 916 Chemong and Northcrest Arena – 100 Marina sites for the next steps to determine the future site for Fire Station 2.</p>
<p>COVID-19 Pandemic Restrictions Response to Peterborough Memorial Centre Operational Contract - Food and Beverage Operations</p>
<p>Report CSAD21-001</p>
<p>Moved by Councillor Riel</p>
<p>That Council approve the recommendations outlined in Report CSAD21-001, dated January 11, 2021, of the Commissioner of Community Services, as follows:</p>
<p>That Article 3 Compensation of the Contract for Food and Beverage Operations at the Peterborough Memorial Centre dated July 22, 2019 effective June 7, 2020 be temporarily suspended until such time as the Peterborough Memorial Centre returns to an annual minimum business sales level of $821,000;</p>
<p>That Article 3 Compensation is to be temporarily amended during the suspension to reflect a commission of 10% payable to the City on gross revenue on food and beverage sales; and</p>
<p>That the Mayor and Clerk be authorized to execute an Amending Agreement with Compass Group Canada Ltd. to implement the recommendations in this report in a form satisfactory to the Commissioner of Community Services and City Solicitor.</p>
<br>
<br>
<br>
<p>a)</p>
<p>b)</p>
<p>Carried</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>Carried</p>
<br>
<br>
<p>That the December 14, 2020 correspondence from the Police Service Board regarding the request from the Board that a study be conducted on the impact of Transportation of Network Companies on accessibility, public transit and the taxi industry, be received for information.</p>
<p>Other Business</p>
<p>PSB Letter of December 14, 2020</p>
<p>Moved by Councillor Baldwin</p>
<p>Carried</p>
<p>Adjournment</p>
<p>Moved by Councillor Pappas</p>
<p>That this meeting adjourn at 7:12 p.m.</p>
<p>Carried</p>
<br>
<p>_________________________</p>
<p>John Kennedy</p>
<p>City Clerk</p>
<p>_________________________</p>
<p>Councillor Beamer</p>
<p>Chair</p>
<br>
<br>
<br>
<br>
<br></div>