<!doctype html><div><p>Special General Committee Minutes</p>
<br>
<p>Council Chambers, City Hall (Electronic Meeting)</p>
<br>
<p>9elec</p>
<br>
<br>
<p>January 25, 2021</p>
<br>
<p>Present:</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Staff:</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Councillor Akapo</p>
<p>Councillor Baldwin</p>
<p>Councillor Beamer, Chair</p>
<p>Councillor Clarke</p>
<p>Councillor Parnell</p>
<p>Councillor Pappas</p>
<p>Councillor Riel</p>
<p>Mayor Therrien</p>
<p>Councillor Vassiliadis</p>
<p>Councillor Wright</p>
<p>Councillor Zippel</p>
<br>
<p>Sandra Clancy, Chief Administrative Officer</p>
<p>Cynthia Fletcher, Commissioner of Infrastructure and Planning Services</p>
<p>Richard Freymond, Commissioner of Corporate and Legislative Services</p>
<p>Natalie Garnett, Deputy City Clerk</p>
<p>Ken Hetherington, Chief Planner</p>
<p>John Kennedy, City Clerk</p>
<p>Sheldon Laidman, Commissioner of Community Services</p>
<p>David Potts, City Solicitor/Manager of Legal Services</p>
<p>Kendra Sedgwick, Committee Coordinator</p>
<p>Brendan Wedley, Manager of Communication Services</p>
<br>
<br>
<p>That Committee meet in closed session to discuss one item under Section</p>
<p>239(2)(c) A proposed or pending acquisition or disposition of land by the</p>
<p>municipality.</p>
<br>
<p>Closed Session - 5:15 p.m.</p>
<br>
<p>Moved by Councillor Clarke</p>
<br>
<p>Carried</p>
<br>
<br>
<p>Open Session - 5:45 p.m.</p>
<br>
<p>The Chair called the Special General Committee Open Session to order at 5:47 p.m.</p>
<br>
<br>
<br>
<p>1</p>
<br>
<p>Declaration of Pecuniary Interest</p>
<br>
<p>There were no disclosures of Pecuniary Interest.</p>
<br>
<p>Report of Closed Session</p>
<br>
<p>Moved by Mayor Therrien</p>
<br>
<p>That Council receive for information report CLSOCS20-004 of the City Solicitor dated</p>
<p>December 1, 2020, “Investment of the Net Proceeds of Sale of the Assets of</p>
<p>Peterborough Distribution Inc.”</p>
<br>
<p>Carried</p>
<br>
<p>Moved by Councillor Parnell</p>
<br>
<p>That Council approve the recommendation outlined in Report IPSRE21-003, dated</p>
<p>January 25, 2021, of the Commissioner of Infrastructure and Planning Services,</p>
<p>as follows:</p>
<p>That staff be authorized to proceed as outlined in Closed Session Report IPSRE21-003 dated January 25, 2021 of the Commissioner of Infrastructure and Planning Services.</p>
<br>
<br>
<br>
<br>
<br>
<p>Carried</p>
<p>Adjournment</p>
<p>Moved by Councillor Clarke</p>
<p>That this meeting adjourn at 5:49 p.m.</p>
<p>Carried</p>
<br>
<p>_________________________</p>
<p>John Kennedy</p>
<p>City Clerk</p>
<p>_________________________</p>
<p>Councillor Beamer</p>
<p>Chair</p>
<br></div>