<!doctype html><div><br>
<br>
<br>
<br>
<p>City Council Minutes</p>
<br>
<p>City of Peterborough</p>
<br>
<p>Council Chambers, City Hall (Electronic Meeting)</p>
<br>
<br>
<p>January 25, 2021</p>
<br>
<p>Present:</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Staff:</p>
<br>
<br>
<br>
<br>
<p>Councillor Akapo</p>
<p>Councillor Baldwin</p>
<p>Councillor Beamer</p>
<p>Councillor Clarke</p>
<p>Councillor Pappas</p>
<p>Councillor Parnell</p>
<p>Councillor Riel</p>
<p>Mayor Therrien</p>
<p>Councillor Vassiliadis</p>
<p>Councillor Wright</p>
<p>Councillor Zippel</p>
<br>
<p>Sandra Clancy, Chief Administrative Officer</p>
<p>Cynthia Fletcher, Commissioner of Infrastructure and Planning Services</p>
<p>Richard Freymond, Commissioner of Corporate and Legislative Services</p>
<p>Natalie Garnett, Deputy City Clerk</p>
<p>Ken Hetherington, Chief Planner</p>
<p>John Kennedy, City Clerk</p>
<p>Sheldon Laidman, Commissioner of Community Services</p>
<p>David Potts, City Solicitor/Manager of Legal Services</p>
<p>Kendra Sedgwick, Committee Coordinator</p>
<p>Brendan Wedley, Manager of Communication Services</p>
<br>
<p>Call to Order</p>
<br>
<p>The meeting was called to order by the Mayor at 6:01 p.m.</p>
<p>Approval of Minutes</p>
<p>Moved by Councillor Wright Seconded by Councillor Pappas</p>
<p>Carried</p>
<p>That the City Council minutes of December 14, 2020 be approved.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Disclosure of Pecuniary Interest</p>
<p>Councillor Pappas declared a conflict with item 10.d, “Affordable Housing – The Mount Community Centre”, Report CSSS21-001, as he has family members in proximity to the subject property.</p>
<p>Delegations - Items on the Agenda</p>
<p>Moved by Councillor Beamer Seconded by Councillor Pappas</p>
<p>That the delegation by Mr. Graham be declined due to concerns with confidentiality and the preservation of the closed meeting proceedings and,</p>
<p>That Council proceed this evening to consider the recommendation related to agenda item 9.a.</p>
<p>Carried</p>
<p>Report of Closed Session - Fisher Drive</p>
<p>Report IPSRE21-001</p>
<p>Moved by Councillor Beamer Seconded by Councillor Pappas</p>
<p>That Council approve the recommendation, outlined in Report IPSRE21-001 dated January 11, 2021 of the Commissioner of Infrastructure and Planning Services, as follows:</p>
<p>That, respecting the property known municipally as 1820 Fisher Drive, staff be authorized to proceed as outlined in Report IPSRE21-001 dated January 11, 2021, from the Commissioner of Infrastructure and Planning Services.</p>
<p>Carried</p>
<p>Registered Delegations</p>
<p>Evan Bates, 19 Dennistoun Avenue, made a delegation to item 9.g, Report CAOFS21- 001 – Fire Station 2 Location Review Update.</p>
<p>Johan Ragetli, Friends of Inverlea Park, made a delegation to item 9.g, Report CAOFS21-001 – Fire Station 2 Location Review Update.</p>
<p>Jacob Rodenburg, Friends of Inverlea Park, made a delegation to item 9.g, Report CAOFS21-001 – Fire Station 2 Location Review Update.</p>
<p>Tricia Clarkson, made a delegation to item 10.c, Report CLSFS21-001 – Investing on Canada Infrastructure Program – Transit Stream Transfer Payment Agreement.</p>
<p>Robert Gibson, 630 Grange Way, made a delegation to item 9.g, Report CAOFS21-001 – Fire Station 2 Location Review Update.</p>
<p>That items 9.b, 9.c, 9.d, 9.e, 9.f, 9.g, 9.h, and 9.i, be approved as part of the Consent Agenda.</p>
<p>Consent Agenda</p>
<p>Moved by Councillor Parnell Seconded by Councillor Beamer</p>
<p>Carried</p>
<p>Report of Closed Session - Technology Drive</p>
<p>Report IPSRE21-002</p>
<p>Moved by Councillor Parnell Seconded by Councillor Beamer</p>
<p>That Council approve the recommendation, outlined in Report IPSRE21-002 dated January 11, 2021 of the Commissioner of Infrastructure and Planning Services, as follows:</p>
<p>That, respecting the property known municipally as 2000 Technology Drive, staff be authorized to proceed as outlined in Report IPSRE 21-002 dated January 11, 2021 of the Commissioner of Infrastructure and Planning Services.</p>
<p>Peterborough and the Kawarthas Economic Development Board Appointments</p>
<p>Report PKED21-001</p>
<p>Moved by Councillor Parnell Seconded by Councillor Beamer</p>
<p>That Council approve the recommendation outlined in Report PKED21-001 dated January 11, 2021 of the Board Chair and the President & CEO of Peterborough and the Kawarthas Economic Development, as follows:</p>
<p>That Burton Lee and Ian Almond be appointed to the Peterborough and the Kawarthas Economic Development Board for a three-year term from May 1, 2021 to April 30, 2024.</p>
<br>
<br>
<br>
<br>
<br>
<p>Carried</p>
<p>Carried</p>
<br>
<br>
<br>
<br>
<br>
<p>Fire Dispatch Services for Townships within Northumberland County</p>
<p>Report CAOFS21-002</p>
<p>Moved by Councillor Parnell Seconded by Councillor Beamer</p>
<p>That Council approve the recommendations outlined in Report CAOFS21–002 dated January 11, 2021 of the Fire Chief, as follows:</p>
<p>a)</p>
<p>That the City enter into a five-year agreement from January 1, 2021 to December 31, 2025 to provide Fire Dispatch Services to all seven Municipalities within the County of Northumberland for the following annual base fees:</p>
<p>i)</p>
<p>$442,087.30 for the period of January 1, 2021 to December 31, 2021</p>
<p>ii)</p>
<p>$458,886.62 for the period of January 1, 2022 to December 31, 2022</p>
<p>iii)</p>
<p>$476,324.32 for the period of January 1, 2023 to December 31, 2023</p>
<p>iv)</p>
<p>$494,424.64 for the period of January 1, 2024 to December 31, 2024</p>
<p>v)</p>
<p>$513,212.78 for the period of January 1, 2025 to December 31, 2025</p>
<p>b)</p>
<p>That the Mayor and Clerk be authorized to sign the Agreement on terms acceptable to the Chief Administrative Officer and the Fire Chief and in a form acceptable to the City Solicitor.</p>
<p>Carried</p>
<p>COVID-19 Pandemic Restrictions Response - Peterborough Memorial Centre Suite Holder License Agreements</p>
<p>Report CSAD21-002</p>
<p>Moved by Councillor Parnell Seconded by Councillor Beamer</p>
<p>That Council approve the recommendations outlined in Report CSAD21-002, dated January 11, 2021, of the Commissioner of Community Services, as follows:</p>
<p>a)</p>
<p>That the Mayor and Clerk be authorized to amend the Suite Holder License Agreements for the fourteen (14) Suite Holders with multi-year license agreements to reflect the license fee being waived for the 2020/21 Season term on current agreements for the period September 1, 2020 to August 31, 2021 in a form satisfactory to the Commissioner of Community Services and City Solicitor; and</p>
<br>
<p>b)</p>
<p>That if there are events during the 2020/21 season term which allow occupying of the suites, the license fee for the fourteen (14) Suite Holder Agreements be waived on a pro-rated basis, depending on the portion of the 2020/21 OHL Season that the Suite Holder is allowed to occupy the suite as directed by the restrictions placed in response to the COVID-19 pandemic.</p>
<p>Peterborough Regional Health Centre Presentation</p>
<p>Report CLSCLK21-001</p>
<p>Moved by Councillor Parnell Seconded by Councillor Beamer</p>
<p>That Council approve the recommendation outlined in Report CLSCLK21-001 dated January 11, 2021, of the City Clerk, as follows:</p>
<p>That the presentation from the Peterborough Regional Health Centre be received for information.</p>
<p>Fire Station 2 Location Review Update</p>
<p>Report CAOFS21-001</p>
<p>Moved by Councillor Parnell Seconded by Councillor Beamer</p>
<p>That Council approve the recommendations outlined in Report CAOFS21-001, dated January 11, 2021, of the Fire Chief, as follows:</p>
<p>That this update Report be received for information; and</p>
<p>That staff be directed to include the Sunset – 916 Chemong and Northcrest Arena – 100 Marina sites for the next steps to determine the future site for Fire Station 2.</p>
<p>Carried</p>
<p>Carried</p>
<p>a)</p>
<p>b)</p>
<p>Carried</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>COVID-19 Pandemic Restrictions Response to Peterborough Memorial Centre Operational Contract - Food and Beverage Operations</p>
<p>Report CSAD21-001</p>
<p>Moved by Councillor Parnell Seconded by Councillor Beamer</p>
<p>That Council approve the recommendations outlined in Report CSAD21-001, dated January 11, 2021, of the Commissioner of Community Services, as follows:</p>
<p>That Article 3 Compensation of the Contract for Food and Beverage Operations at the Peterborough Memorial Centre dated July 22, 2019 effective June 7, 2020 be temporarily suspended until such time as the Peterborough Memorial Centre returns to an annual minimum business sales level of $821,000;</p>
<p>That Article 3 Compensation is to be temporarily amended during the suspension to reflect a commission of 10% payable to the City on gross revenue on food and beverage sales; and</p>
<p>That the Mayor and Clerk be authorized to execute an Amending Agreement with Compass Group Canada Ltd. to implement the recommendations in this report in a form satisfactory to the Commissioner of Community Services and City Solicitor.</p>
<p>Transportation Network Companies</p>
<p>Moved by Councillor Parnell Seconded by Councillor Beamer</p>
<p>That the December 14, 2020 correspondence from the Police Service Board regarding the request from the Board that a study be conducted on the impact of Transportation of Network Companies on accessibility, public transit and the taxi industry, be received for information.</p>
<p>Moved by Councillor Beamer Seconded by Councillor Akapo</p>
<p>That items 10.b, and 10.e be approved as part of the Consent Agenda.</p>
<br>
<br>
<br>
<br>
<br>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>Carried</p>
<p>Carried</p>
<p>Carried</p>
<br>
<br>
<br>
<br>
<p>Terms of Reference for Proposed Airport Strategic Initiatives Committee</p>
<p>Report CLSCLK21-002</p>
<p>Moved by Councillor Beamer Seconded by Councillor Akapo</p>
<p>That the Terms of Reference, attached as Appendix A to Report CLSCLK21-002, be approved as amended as follows:</p>
<p>That section 3.2 which relates to the community members that comprise the committee, be amended by deleting the word “three” and replacing with the word “two”.</p>
<p>That section 3.3, which relates to the committee members comprised from the aerospace industry, be amended by deleting the word “one” and replacing with the word “two”. And “ … members from or connected to…..”</p>
<p>a)</p>
<p>b)</p>
<p>Carried</p>
<p>Affordable Housing - 137 Rubidge Street</p>
<p>Report CSSS21-002</p>
<p>Moved by Councillor Beamer Seconded by Councillor Akapo</p>
<p>That Council approve the recommendations outlined in Report CSSS21-002, dated January 18, 2021, of the Commissioner of Community Services, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>d)</p>
<p>That up to $784,500 in capital funding be approved for eight (8) additional affordable rental units at 137 Rubidge Street (2511514 ONTARIO INC.), using SSRF Phase 2 program funding,</p>
<p>That the Affordable Housing Community Improvement Plan program application be approved for the proposed 8-unit affordable rental housing project at 137 Rubidge Street Peterborough, in accordance with Report CSSS21-002;</p>
<p>That a By-law be adopted authorizing City Council to designate the portion of the property related to affordable rental housing 8 units at 137 Rubidge Street Peterborough as a Municipal Housing Facility, in accordance with By-law Number 12-094,</p>
<p>That up to $629,588 in value be provided under the Municipal Housing Facilities By-Law and Affordable Housing Community Improvement Plan program for municipal fees, Development Charges and property tax incentives as described in Table 1 of this report;</p>
<br>
<p>e)</p>
<p>f)</p>
<p>Carried</p>
<br>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>Carried</p>
<p>a)</p>
<br>
<p>That any remaining unspent SSRF program funds be used towards the $629,588 value in the Affordable Housing Community Improvement Plan program (Table 1) for various municipal fees; and</p>
<p>That the Mayor and Clerk be authorized to execute agreements for the provision of funding and to ensure affordable rents and selection of eligible tenants from the By-Name Priority List to give effect to the recommendations in Report CSSS21-002, on terms acceptable to the Commissioner of Community Services and in forms satisfactory to the City Solicitor.</p>
<p>Council Appointments to the Airport Strategic Initiatives Committee</p>
<p>Report COU21-001</p>
<p>Moved by Councillor Vassiliadis Seconded by Councillor Wright</p>
<p>That Council approve the recommendations outlined in Report COU21-001 dated January 18, 2021, of the Mayor as follows:</p>
<p>That Mayor Diane Therrien be appointed to serve as a member of the Airport Strategic Initiatives Committee, until November, 2022.</p>
<p>That Councillor Stephen Wright be appointed to serve as a member of the Airport Strategic Initiatives Committee, until November 30, 2021.</p>
<p>That Councillor Don Vassiliadis be appointed to serve as a member of the Airport Strategic Initiatives Committee, until November 30, 2021.</p>
<p>Investing in Canada Infrastructure Program - Transit Stream Transfer Payment Agreement</p>
<p>Report CLSFS21-001</p>
<p>Moved by Councillor Pappas Seconded by Councillor Riel</p>
<p>That Council approve the recommendation outlined in Report CLSFS21-001 dated January 18, 2021, of the Commissioner of Corporate and Legislative Services, as follows:</p>
<p>That a by-law be passed authorizing the execution of the Investing in Canada Infrastructure Program - Transit Stream transfer payment agreement and all corresponding agreements and amendments between</p>
<br>
<br>
<br>
<p>Her Majesty the Queen in Right of Ontario as represented by the Minister of Transportation and The Corporation of the City of Peterborough.</p>
<p>At the meeting of January 25, 2021, Council added item b) as follows:</p>
<p>b)       That staff provide information, as part of the transit review report, on any</p>
<p>potential process for the reallocation of funds, should they become available.</p>
<p>Carried</p>
<p>Affordable Housing - The Mount Community Centre</p>
<p>Report CSSS21-001</p>
<p>Due to his previously declared interest, Councillor Pappas did not discuss or vote on this item.</p>
<p>Moved by Councillor Clarke Seconded by Councillor Akapo</p>
<p>That Council approve the recommendations outlined in Report CSSS21-001, dated January 18, 2021, of the Commissioner of Community Services, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>d)</p>
<p>That up to $377,641 in capital funding be approved for two (2) additional affordable rental units at 1545 Monaghan Road (The Mount Community Centre), using SSRF program funding;</p>
<p>That up to $53,929 in value be provided under the Municipal Housing Facilities By-Law and the Affordable Housing Community Improvement Plan program for municipal fees, Development Charges and property tax incentives as described in Table 1 of this report;</p>
<p>That any remaining unspent SSRF program funds be used towards the $53,929 value in the Affordable Housing Community Improvement Plan program (Table 1) for various municipal fees; and</p>
<p>That the Mayor and Clerk be authorized to execute agreements with the Mount Community Centre for the provision of funding and to ensure affordable rents and selection of eligible tenants from the By-Name Priority List, on terms satisfactory to the Commissioner of Community Services and in forms acceptable to the City Solicitor.</p>
<p>Carried</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Report CLSOCS20-004 – Peterborough Distribution Inc.</p>
<p>Moved by Councillor Beamer Seconded by Councillor Pappas</p>
<p>That Council receive for information report CLSOCS20-004 of the City Solicitor dated December 1, 2020, “Investment of the Net Proceeds of Sale of the Assets of Peterborough Distribution Inc.”</p>
<p>Carried</p>
<p>Report IPSRE21-003 – Property Negotiations</p>
<p>Moved by Councillor Beamer Seconded by Councillor Pappas</p>
<p>That Council approve the recommendation outlined in Report IPSRE21-003, dated January 25, 2021, of the Commissioner of Infrastructure and Planning Services, as follows:</p>
<p>That staff be authorized to proceed as outlined in Closed Session Report IPSRE21-003 dated January 25, 2021 of the Commissioner of Infrastructure and Planning Services.</p>
<p>Carried</p>
<p>Notice of Motion</p>
<p>There were no Notices of Motion.</p>
<p>Approval of By-laws:</p>
<p>Moved by Councillor Wright Seconded by Councillor Zippel</p>
<p>That the following by-law be read a first, second and third time and finally passed:</p>
<p>21-001</p>
<p>Being a By-law to Provide for Interim Tax Levies for the Year 2021</p>
<p>21-002</p>
<p>21-003</p>
<p>Being a By-law to establish an Advisory Committee called Airport Strategic Initiatives Committee</p>
<p>Being a By-law to authorize the 2021 portion of the Cleantech Commons project (Formally Trent Research and Innovation project) at an estimated cost of $3,300,000 and the issuing of lease-supported debentures to a maximum of $3,300,000 to finance the work</p>
<br>
<br>
<p>21-004</p>
<p>21-005</p>
<p>21-006</p>
<p>21-007</p>
<p>21-008</p>
<p>21-009</p>
<p>21-010</p>
<p>21-011</p>
<br>
<br>
<p>Being a By-law to authorize the 2021 portion of the Fire Station Relocation project at an estimated cost of $3,500,000 and the issuing of DC (Fire) supported debentures to a maximum of $1,750,000 and tax-supported debentures to a maximum of $1,7500,000 to finance the work</p>
<p>Being a By-law to authorize the 2021 portion of the Replacement Digester 1 & 2 project at an estimated cost of $900,000 and the issuing of Waste Water Reserve Fund (WWRF) debentures to a maximum of $900,000 to finance the work</p>
<p>Being a By-law to authorize the 2021 portion of the Bethune Street Diversion City Funded Project at an estimated cost of $1,900,000 and the issuing of and DC (Carnegie East) debentures to a maximum of $1,900,000 to finance the work and to authorize the 2021 portion of the Bethune Street Diversion Shared Funding project at an estimated cost of $3,615,600 and the issuing of tax supported debentures to a maximum of $2,079,500 to finance the work</p>
<p>Being a By-law to authorize the 2021 portion of the Chemong Road, Parkhill Road to the Parkway Right of Way (ROW) Reconstruction project at an estimated cost of $200,000 and the issuing of Development Charge (DC) (City Wide Engineering Services Roads and Related) supported debentures to a maximum of $110,000 to finance the work</p>
<p>Being a By-law to authorize the 2021 portion of the Community Services Property Upgrades at an estimated cost of $2,065,000 and the issuing of tax-supported debentures to a maximum of $1,205,000 to finance the work</p>
<p>Being a By-law to authorize the 2021 portion of the Conventional Bus Replacement project at an estimated cost of $1,987,500 and the issuing of tax-supported debentures to a maximum of $530,066 to finance the work</p>
<p>Being a By-law to authorize the 2021 portion of the Enterprise Software Modernization project at an estimated cost of $1,000,000 and the issuing of tax-supported debentures to a maximum of $921,589 to finance the work</p>
<p>Being a By-law to authorize the 2021 portion of the Extension of Crawford Drive to Harper Road project at an estimated cost of $4,000,000 and the issuing of Development Charge (DC) (City Wide Engineering Services Roads and Related) debentures to a maximum of $500,000 and the issuing of tax supported debentures to a maximum of $3,020,845 to finance the work</p>
<br>
<br>
<p>21-012</p>
<p>21-013</p>
<p>21-014</p>
<p>21-015</p>
<p>21-016</p>
<p>21-017</p>
<p>21-018</p>
<p>21-019</p>
<p>21-020</p>
<p>Being a By-law to authorize the 2021 portion of the Fire Services Property Upgrades at an estimated cost of $570,000 and the issuing of tax-supported debentures to a maximum of $350,000 to finance the work</p>
<p>Being a By-law to authorize the 2021 portion of the Internal Road Development project at an estimated cost of $50,000 and the issuing of tax-supported debentures to a maximum of $50,000 to finance the work</p>
<p>Being a By-law to authorize the 2021 portion of the Simcoe Street Culvert at the Parking Garage project at an estimated cost of $1,500,000 and the issuing of tax supported debentures to a maximum of $1,500,000 to finance the work</p>
<p>Being a By-law to authorize the 2021 portion of the Simcoe Street Parking Rehabilitation project at an estimated cost of $1,500,000 and the issuing of tax-supported debentures to a maximum of $1,500,000 to finance the work</p>
<p>Being a By-law to authorize the 2021 portion of the Television Road Bridge over South Meade Creek project at an estimated cost of $200,000 and the issuing of Development Charge (DC) (City Wide Engineering Services Roads and Related) supported debentures to a maximum of $100,000 and tax supported debentures to a maximum of $100,000 to finance the work</p>
<p>Being a By-law to authorize the 2021 portion of the Transit Garage Replacement project at an estimated cost of $1,300,000 and the issuing of tax-supported debentures to a maximum of $1,300,000 to finance the work</p>
<p>Being a By-law to authorize the 2021 portion of the Wading Pool conversion / New Splash Pads project at an estimated cost of $320,000 and the issuing of tax-supported debentures to a maximum of $320,000 to finance the work</p>
<p>Being a By-law to authorize the 2021 portion of the Water Street North Urbanization - Nassau Road to Woodland Drive project at an estimated cost of $1,000,000 and the issuing of Development Charge (DC) (City Wide Engineering Services Roads and Related) supported debentures to a maximum of $500,000 and tax supported debentures to a maximum of $500,000 to finance the work</p>
<p>Being a By-law to authorize the 2021 Eastern Trunk Sewer project at an estimated cost of $250,000 and the issuing of Development Charge (DC) (Liftlock) supported debentures to a maximum of $250,000 to finance the work</p>
<br>
<br>
<p>21-021</p>
<p>21-022</p>
<p>21-023</p>
<p>21-024</p>
<p>21-025</p>
<p>21-026</p>
<p>21-027</p>
<p>21-028</p>
<br>
<br>
<p>Being a By-law to authorize the 2021 Wastewater Collection System Servicing Study project at an estimated cost of $400,000 and the issuing of Development Charge (DC) (City Wide Engineering Services Roads and Related) supported debentures to a maximum of $200,000 to finance the work</p>
<p>Being a By-law to authorize the 2021 portion of the Sanitary Sewer Rehabilitation project at an estimated cost of $750,000 and the issuing of Waste Water Reserve Fund (WWRF) debentures to a maximum of $564,200 to finance the work</p>
<p>Being a By-law to authorize the 2021 Sidewalk Reconstruction project at an estimated cost of $1,272,900 and the issuing of tax- supported debentures to a maximum of $1,272,900 to finance the work</p>
<p>Being a By-law to authorize the 2021 portion of the Storm Sewer Rehabilitation project at an estimated cost of $500,000 and the issuing of Waste Water Reserve Fund (WWRF) supported debentures to a maximum of $500,000 to finance the work</p>
<p>Being a By-law to authorize the 2021 portion of the Stormwater Quality Master Plan Implementation project at an estimated cost of $875,000 and the issuing of Waste Water Reserve Fund (WWRF) supported debentures to a maximum of $875,000 to finance the work</p>
<p>Being a By-law to authorize the 2021 portion of the WWTP Electrical Sub Station Replacement project at an estimated cost of $400,000 and the issuing of Waste Water Reserve Fund (WWRF) debentures to a maximum of $400,000 to finance the work</p>
<p>Being a By-law to authorize the 2021 portion of the Waste Water Treatment Plant (WWTP) Equipment Upgrades and Replacements at an estimated cost of $910,000 and the issuing of Waste Water Reserve Fund (WWRF) debentures to a maximum of $910,000 to finance the work</p>
<p>Being a By-law to authorize the 2021 Crawford Trail Extension project at an estimated cost of $350,000 and the issuing of Development Charge (DC) (City Wide Engineering Services Roads and Related) supported debentures to a maximum of $350,000 to finance the work</p>
<p>21-029</p>
<p>Being a By-law to authorize the 2021 LED Decorative Light project at an estimated cost of $375,000 and the issuing of non-tax supported debentures to a maximum of $375,500 to finance the work</p>
<br>
<br>
<p>21-030</p>
<p>21-033</p>
<p>21-034</p>
<p>21-035</p>
<p>Being a By-law to authorize the 2021 Parkland Development Assistance project at an estimated cost of $152,250 and the issuing of Development Charge (DC) (Recreation) supported debentures to a maximum of $137,025 to finance the work</p>
<p>21-031</p>
<p>Being a By-law to establish User Fees as approved as part of the 2021 Budget process</p>
<p>21-032</p>
<p>Being a By-law to Provide for Tax Rebates for Registered Charities</p>
<p>Being a By-law to designate 137 Rubidge Street as a Municipal Housing Facility, in accordance with By-law 12-094</p>
<p>A By-law to authorize the execution of the Province's Safe Restart Program transfer payment agreement(s) and any subsequent corresponding agreements or amendments between Her Majesty the Queen in Right of Ontario and The Corporation of the City of Peterborough in a form acceptable to the Commissioner of Corporate and Legislative Services and the City Solicitor</p>
<p>A By-law to authorize the execution of the Investing in Canada Infrastructure Program – Transit Stream transfer payment agreement(s) and any subsequent corresponding agreements or amendments between Her Majesty the Queen in Right of Ontario and The Corporation of the City of Peterborough in a form acceptable to the Commissioner of Corporate and Legislative Services and the City Solicitor</p>
<p>Carried</p>
<p>Other Business</p>
<p>There were no items of Other Business.</p>
<p>Confirmation By-law</p>
<p>Moved by Councillor Baldwin Seconded by Councillor Parnell</p>
<p>That the following by-law be read a first, second and third time:</p>
<p>21-036       Being a By-law to confirm the proceedings of the Council at its</p>
<p>regular meeting held on January 25, 2021.</p>
<p>and that the said by-law having been read a third time and passed, the Mayor and Clerk be authorized to sign and seal the same.</p>
<p>Carried</p>
<br>
<br>
<br>
<br>
<p>Adjournment</p>
<p>Moved by Councillor Pappas Seconded by Councillor Parnell</p>
<p>That this meeting adjourn at 6:50 p.m.</p>
<p>Carried</p>
<br>
<p>_________________________</p>
<p>John Kennedy</p>
<p>City Clerk</p>
<p>Diane Therrien</p>
<p>Mayor</p>
<p>_________________________</p>
<br>
<br>
<br>
<br></div>