<!doctype html><div><br>
<br>
<br>
<br>
<br>
<p>February 9, 2021</p>
<br>
<p>Present</p>
<br>
<br>
<br>
<br>
<br>
<p>Regrets</p>
<br>
<p>Staff</p>
<br>
<br>
<p>Call to Order</p>
<br>
<p>Elections</p>
<br>
<p>Election of Chair</p>
<br>
<p>Carried</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Peterborough Public Library Board Minutes</p>
<br>
<p>City of Peterborough</p>
<br>
<p>(Electronic Meeting)</p>
<br>
<p>Councillor Akapo</p>
<p>Councillor Clarke</p>
<p>Dan Moloney, Chair</p>
<p>Gillian Sandeman</p>
<p>Jayne White</p>
<br>
<p>Barb Connor</p>
<br>
<p>Natalie Garnett, Deputy Clerk</p>
<p>Jennifer Jones, Library CEO</p>
<p>Mark Stewart, Library Services Manager</p>
<br>
<p>The meeting was called to order by the Deputy Clerk at 5:40 p.m.</p>
<p>The Deputy Clerk called for nominations for the position of Chair of the Library Board for 2021.</p>
<p>Moved by Councillor Clarke</p>
<p>That Dan Moloney be elected as Chair of the Peterborough Public Library Board for 2021.</p>
<p>Mr. Moloney assumed the Chair and called for nominations for the position of Vice Chair.</p>
<br>
<p>That Gillian Sandeman be elected as Vice Chair of the Peterborough Public Library Board for 2021.</p>
<p>Election of Vice Chair</p>
<p>Moved by Councillor Clarke</p>
<p>Confirmation of Minutes</p>
<p>Moved by Councillor Clarke</p>
<p>That the minutes of the Library Board meeting on December 8, 2020 be approved.</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Pecuniary Interest.</p>
<p>Consent Agenda</p>
<p>Moved by Councillor Akapo</p>
<p>That item 6.4 be approved as part of the Consent Agenda.</p>
<p>Reports and Communications</p>
<p>2021 Meeting Dates</p>
<p>Report PPL21-002</p>
<p>Moved by Councillor Akapo</p>
<p>That the Peterborough Public Library Board approve the recommendation outlined in Report PPL21-002, dated February 9, 2021, of the Library CEO as follows:</p>
<p>That the report of the Library CEO regarding the 2021 meeting schedule, be approved.</p>
<p>Carried</p>
<br>
<p>Carried</p>
<p>Carried</p>
<p>Carried</p>
<br>
<br>
<br>
<br>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>Carried</p>
<p>Carried</p>
<p>Carried</p>
<br>
<br>
<br>
<br>
<p>Updates from the Foundation and Friends of the Library</p>
<p>Report PPL21-004</p>
<p>Moved by Councillor Clarke</p>
<p>That the Library Board approve the recommendations outlined in Report PPL21- 004, dated February 9, 2020, of the Library CEO, as follows:</p>
<p>That the report on the status of the Friends of the Peterborough Public Library be received for information;</p>
<p>That a verbal report to inform the Library Board on the status of the Foundation by Jayne White be received for information; and,</p>
<p>That the Board express thanks to the Foundation for their support of the Library over the years.</p>
<p>Library Services Review – Update</p>
<p>Report PPL21-001</p>
<p>Moved by Councillor Clarke</p>
<p>That the Library Board approve the recommendations as outlined in Report PPL21-001 dated February 9, 2021, of the Library CEO as follows:</p>
<p>That the report to inform the Library Board on the status of the Library Services Review (Review) be received for information.</p>
<p>Moved by Gillian Sandeman</p>
<p>That the CEO provide the Board with a report on the impact of the COVID-19 pandemic on Library services; and,</p>
<p>Provide information on planned service changes and proposed next steps.</p>
<p>Library CEO Report February 2021</p>
<p>Report PPL21-003</p>
<p>Ms. Jones introduced Mark Stewart, Library Services Manager, who started working December 15, 2020.</p>
<br>
<p>Moved by Councillor Clarke</p>
<p>That the Library Board approves the recommendation as outlined in Report PPL21-003 dated February 9, 2021, of the Library CEO as follows:</p>
<p>That the report to inform the Library Board on general matters concerning Library operations and service be received for information</p>
<br>
<br>
<br>
<br>
<p>Carried</p>
<p>Other Business</p>
<p>There were no items of Other Business.</p>
<p>Next Meeting - March 9, 2021</p>
<p>Adjournment</p>
<p>Moved by Gillian Sandeman</p>
<p>That this meeting adjourn at 6:23 p.m.</p>
<p>Carried</p>
<br>
<p>_________________________</p>
<p>Natalie Garnett</p>
<p>Deputy Clerk</p>
<p>_________________________</p>
<p>Dan Moloney</p>
<p>Chair</p>
<br></div>