<!doctype html><div><p>Peterborough Environmental Advisory Committee Minutes</p>
<br>
<br>
<br>
<br>
<br>
<p>(Electronic Meeting)</p>
<br>
<br>
<p>February 17, 2021</p>
<br>
<p>Present</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Regrets</p>
<br>
<br>
<p>Staff</p>
<br>
<p>Dana Jordan (5:40 p.m.)</p>
<p>Mary Konrad</p>
<p>Peter Lafleur</p>
<p>Craig Mortlock</p>
<p>Sandra Orsatti, Chair</p>
<p>Stephanie Rutherford</p>
<p>Councillor Zippel</p>
<br>
<p>Chris Magwood</p>
<p>Fraser Smith</p>
<br>
<p>Ian Boland, Stormwater Systems Coordinator</p>
<p>James Byrne, Climate Change Coordinator</p>
<p>Natalie Garnett, Deputy Clerk</p>
<p>Michael Papadacos, Manager, Infrastructure Management</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Carried</p>
<br>
<br>
<p>Carried</p>
<br>
<br>
<p>Call to Order</p>
<br>
<p>The Chair called the meeting to order at 5:30 p.m.</p>
<br>
<p>Chris Magwood’s resignation was accepted with regret.</p>
<br>
<p>Confirmation of Minutes</p>
<br>
<p>Moved by Stephanie Rutherford</p>
<br>
<p>That the minutes of the meeting of January 20, 2021 be approved.</p>
<br>
<p>Disclosure of Pecuniary Interest</p>
<br>
<p>There were no disclosures of Pecuniary Interest.</p>
<br>
<p>Consent Agenda</p>
<br>
<p>Moved by Councillor Zippel</p>
<br>
<p>That item 5.c. be passed as part of the consent agenda.</p>
<br>
<p>1</p>
<br>
<br>
<br>
<br>
<br>
<p>Reports and Communications</p>
<br>
<p>Community Climate Change Resiliency Strategy Discussion</p>
<br>
<p>Report PEAC21-007</p>
<br>
<p>Moved by Councillor Zippel</p>
<br>
<p>That the PEAC approve the recommendations outlined in Report PEAC21-007</p>
<p>dated February 17, 2021 of the Manager of Infrastructure Management Division,</p>
<p>as follows:</p>
<br>
<p>That Report PEAC21-007 – Community Climate Change Resiliency Strategy</p>
<p>Discussion be received for information; and,</p>
<br>
<p>That Committee endorse the strategic direction contained in Report</p>
<p>PEAC21-007.</p>
<br>
<p>a)</p>
<br>
<p>b)</p>
<p>Carried</p>
<p>Resiliency and Recovery Taskforce Update</p>
<p>PEAC21-008</p>
<p>Moved by Craig Mortlock</p>
<p>That the PEAC approve the recommendation outlined in Report PEAC21-008, dated February 17, 2021, of the Manager of Infrastructure Management Division, as follows:</p>
<p>That a verbal report to update the PEAC on the work of the Resiliency and Recovery Taskforce be received for information.</p>
<p>Carried</p>
<p>Climate Initiatives Update</p>
<p>Report PEAC21-009</p>
<p>Moved by Dana Jordan</p>
<p>Carried</p>
<p>Other Business</p>
<p>That the PEAC approve the recommendation outlined in Report PEAC21-009 dated February 17, 2021 of the Manager of Infrastructure Management Division, as follows:</p>
<p>That the verbal update on Climate Initiatives be received for information.</p>
<p>There were no items of Other Business.</p>
<br>
<p>Next Meeting - March 17, 2021</p>
<p>Adjournment</p>
<p>Moved by Councillor Zippel</p>
<p>That the meeting adjourn at 6:53 p.m.</p>
<p>Carried</p>
<br>
<p>_________________________</p>
<p>Natalie Garnett</p>
<p>Deputy Clerk</p>
<p>_________________________</p>
<p>Sandra Orsatti</p>
<p>Chair</p>
<br>
<br>
<br>
<br>
<br></div>