<!doctype html><div><br>
<br>
<br>
<br>
<p>City Council Minutes</p>
<br>
<p>City of Peterborough</p>
<br>
<p>(Electronic Meeting)</p>
<br>
<br>
<p>February 22, 2021</p>
<br>
<p>Present:  Councillor Akapo</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Staff:</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Councillor Baldwin</p>
<p>Councillor Beamer</p>
<p>Councillor Clarke</p>
<p>Councillor Pappas</p>
<p>Councillor Parnell</p>
<p>Councillor Riel</p>
<p>Mayor Therrien</p>
<p>Councillor Vassiliadis</p>
<p>Councillor Wright</p>
<p>Councillor Zippel</p>
<br>
<p>Sandra Clancy, Chief Administrative Officer</p>
<p>Cynthia Fletcher, Commissioner of Infrastructure and Planning Services</p>
<p>Richard Freymond, Commissioner of Corporate and Legislative Services</p>
<p>Natalie Garnett, Deputy City Clerk</p>
<p>John Kennedy, City Clerk</p>
<p>Sheldon Laidman, Commissioner of Community Services</p>
<p>Rebecca Morgan Quin, Manager of Housing</p>
<p>David Potts, City Solicitor/Manager of Legal Services</p>
<p>Brendan Wedley, Manager of Communication Services</p>
<br>
<p>Call to Order</p>
<br>
<p>The meeting was called to order by the Mayor at 6:23 p.m.</p>
<p>Approval of Minutes</p>
<p>Moved by Councillor Pappas Seconded by Councillor Parnell</p>
<p>Carried</p>
<p>That the City Council minutes of January 25, 2021 be approved.</p>
<p>Disclosure of Pecuniary Interest</p>
<p>No members made any disclosures of pecuniary interest.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Tricia Clarkson, Fortye Drive, made a delegation to item 10.e, Report CLSFS21-005 – Recommendations from Investment Options Review Working Group on Investing Proceeds from Sale of Assets of Peterborough Distribution Inc.</p>
<p>Delegations - Items on the Agenda</p>
<p>Registered Delegations</p>
<p>Consent Agenda</p>
<p>Moved by Councillor Vassiliadis Seconded by Councillor Wright</p>
<p>That items 9.a, 9.b, 9.c, 9.d, 9.e, 9.f, 10.a, 10.b, 10.c, 10.d, 10.h, and 10.j be approved as part of the Consent Agenda.</p>
<p>Carried</p>
<p>Carried</p>
<p>By-law to Authorize Borrowing $15,000,000 for Current Expenditures</p>
<p>Report CLSFS21-003</p>
<p>Moved by Councillor Vassiliadis Seconded by Councillor Wright</p>
<p>That Council approve the recommendation outlined in Report CLSFS21-003 dated February 1, 2021 of the Commissioner of Corporate and Legislative Services, as follows:</p>
<p>That a by-law be enacted to establish a $15,000,000 borrowing limit for the 2021 year to finance current expenditures.</p>
<p>Background Report - Official Plan and Zoning By-law Amendment for 1597, 1607, 1619 and 1633 Lansdowne Street West</p>
<p>Report IPSPL21-002</p>
<p>Moved by Councillor Vassiliadis Seconded by Councillor Wright</p>
<p>That Council approve the recommendations outlined in Report IPSPL21-002 dated February 1, 2021, of the Commissioner of Infrastructure and Planning Services, as follows:</p>
<p>a)</p>
<p>That Council receive the report and any comments received from the public regarding the application.</p>
<p>At the meeting of February 1, 2021 Committee added item b) as follows:</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>b)</p>
<p>That staff report back to Council on the outcome of the LPAT process as more information becomes available.</p>
<p>Carried</p>
<p>Background Report - Official Plan and Zoning By-law Amendment for 1737 Sherbrooke Street</p>
<p>Report IPSPL21-003</p>
<p>Moved by Councillor Vassiliadis Seconded by Councillor Wright</p>
<p>That Council approve the recommendation outlined in Report IPSPL21-003 dated February 1, 2021, of the Commissioner of Infrastructure and Planning Services, as follows:</p>
<p>a)</p>
<p>That Council receive the report and any comments received from the public regarding the application.</p>
<p>At the meeting of February 1, 2021 Committee added item b) as follows:</p>
<p>b)</p>
<p>That staff report back to Council on the outcome of the LPAT process as more information becomes available.</p>
<p>Carried</p>
<p>Presentation - Peterborough Public Health</p>
<p>Report CLSCLK21-004</p>
<p>Moved by Councillor Vassiliadis Seconded by Councillor Wright</p>
<p>That Council approve the recommendation outlined in Report CLSCLK21-004 dated February 1, 2021, of the City Clerk, as follows:</p>
<p>That the presentation from Peterborough Public Health be received for information.</p>
<p>Carried</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Data Usage Agreement - Enbridge Gas Inc</p>
<p>Report IPSIM21-001</p>
<p>Moved by Councillor Vassiliadis Seconded by Councillor Wright</p>
<p>That Council approve the recommendations outlined in Report IPSIM21-001 dated February 1, 2021, of the Commissioner of Infrastructure and Planning Services, as follows:</p>
<p>That the Mayor and Clerk be authorized to sign the data usage agreement between the City of Peterborough and Enbridge Gas Inc., on terms acceptable to the Commissioner and in a form acceptable to the City Solicitor; and</p>
<p>That a by-law be passed authorizing the Chief Administrative Officer and each Commissioner to execute information-sharing agreements from time to time on terms acceptable to the Chief Administrative Officer or a Commissioner and in forms acceptable to the City Solicitor.</p>
<p>a)</p>
<p>b)</p>
<p>Carried</p>
<p>Peterborough Humane Society - Laneway Naming Rights</p>
<p>Moved by Councillor Vassiliadis Seconded by Councillor Wright</p>
<p>That the Peterborough humane society be permitted the naming rights to the entrance laneway from technology drive to their new premises;</p>
<p>Such naming is for fundraising purposes in support of construction costs for their new facility, and,</p>
<p>The selected name must receive city staff approval to ensure compliance with 911 protocols and other pertinent regulations.</p>
<p>Carried</p>
<p>Report of Closed Session - Negotiations, Peterborough Petes</p>
<p>Moved by Councillor Vassiliadis Seconded by Councillor Wright</p>
<p>That Council approve the recommendation outlined in Report CSAD21-003, dated February 8, 2021, of the Commissioner of Community Services, as follows:</p>
<br>
<p>Carried</p>
<p>Carried</p>
<p>Carried</p>
<br>
<br>
<br>
<br>
<br>
<p>That, respecting negotiations with the Peterborough Petes Limited, Staff be authorized to proceed as outlined in Report CSAD21-003, dated February 8, 2021, from the Commissioner of Community Services.</p>
<p>Extension of an Appointment to the Peterborough Public Library Board</p>
<p>Report CLSLCK21-006</p>
<p>Moved by Councillor Vassiliadis Seconded by Councillor Wright</p>
<p>That Council approve the recommendation outlined in Report CLSCLK21-006, dated February 8, 2021, of the City Clerk, as follows:</p>
<p>That Jayne White be appointed to serve as a member of the Peterborough Public Library Board with a term until November 30, 2022.</p>
<p>PKED 2020 Fourth Quarter Metrics</p>
<p>Report PKED21-002</p>
<p>Moved by Councillor Vassiliadis Seconded by Councillor Wright</p>
<p>That Council approve the recommendation outlined in Report PKED21-002 dated February 8, 2021 of the Board Chair and President & CEO of Peterborough & the Kawarthas Economic Development, as follows:</p>
<p>That Report PKED21-002 and supporting presentation, providing the Peterborough & Kawarthas Economic Development 2020 Fourth Quarter Metrics be received for information.</p>
<p>PKED 2020 Business Count Survey Project</p>
<p>Report PKED21-003</p>
<p>Moved by Councillor Vassiliadis Seconded by Councillor Wright</p>
<p>That Council approve the recommendation outlined in Report PKED21-003 dated February 8, 2021 of the Board Chair and President & CEO of Peterborough & the Kawarthas Economic Development, as follows:</p>
<p>That Report PKED21-003 and supporting presentation, providing the Peterborough & Kawarthas Economic Development 2020 Business Count Survey results be received for information.</p>
<p>Increase of Budget and the Contract Amount Awarded to Mortlock Construction Ltd. for the Renovations of Two Affordable Houses at 808 Sherbrooke Street and 953 Clonsilla Avenue</p>
<p>Report CLSFM21-002</p>
<p>Moved by Councillor Vassiliadis Seconded by Councillor Wright</p>
<p>That Council approve the recommendations outlined in Report CLSFM21-002, dated February 8, 2021 of the Commissioner of Corporate and Legislative Services as follows:</p>
<p>That the Capital Budget for the Renovations of Two Affordable Houses at 808 Sherbrooke Street and 953 Clonsilla Avenue be increased by $53,957 from $300,000 to $353,957.</p>
<p>That the contract for Construction Management Services with Mortlock Construction Ltd., P.O. Box 545, Peterborough, Ontario, K9J 6Z6, for the Renovations of Two Affordable Houses at 808 Sherbrooke Street and 953 Clonsilla Avenue, be increased by $70,263 from $300,000 to $370,263 plus HST of $48,135 for a total cost of $418,398.</p>
<p>That Consulting services for the project be awarded to Lett Architects, 138 Simcoe Street, Peterborough, Ontario, K9H 2H5 at a cost of $11,475 plus HST of $1,492 for a total cost of $12,967.</p>
<p>Affordable Housing Definition</p>
<p>Moved by Councillor Vassiliadis Seconded by Councillor Wright</p>
<p>The city of Peterborough call upon the provincial and federal governments to establish one common definition for affordable housing.  Said definition to be used to define all programs</p>
<p>That a copy of this resolution be forwarded to our MP, MPP, and County Warden.</p>
<br>
<br>
<br>
<br>
<br>
<p>Carried</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>Carried</p>
<p>Carried</p>
<br>
<br>
<br>
<br>
<br>
<p>Recommendations from Investment Options Review Working Group on Investing Proceeds from Sale of Assets of Peterborough Distribution Inc.</p>
<p>Report CLSFS21-005</p>
<p>Moved by Councillor Beamer Seconded by Councillor Pappas</p>
<p>That Council approve the recommendations outlined in Report CLSFS21-005 dated February 8, 2021, of the Commissioner of Corporate and Legislative Services on behalf of the Investment Options Review Working Group, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>That the proceeds of the sale of Assets of Peterborough Distribution Inc. to Hydro One be invested with ONE Investment, as a Legacy Fund;</p>
<p>That any consideration of an investment in preferred shares of the City of Peterborough Holdings Inc., be considered in an expeditious manner pending:</p>
<p>i.</p>
<p>ii.</p>
<p>In accordance with Section 5.3 of the current Shareholder Direction and Unanimous Shareholder Declaration, the details of a specific investment opportunity(s) being presented to Council at a future date providing information with respect to the due diligence completed to date, the financial structure of the investment, the expected financial returns and risk;</p>
<p>In consultation with COPHI’s President, CEO and CFO, the City’s Chief Administrative Officer, Commissioner of Corporate and Legislative Services and City Solicitor, further recommendations with respect to updating the July 30, 2012 Shareholder Declaration for Council consideration;</p>
<p>iii.</p>
<p>In any event, the amount of any investment be restricted to no more than 50% of the net proceeds; and</p>
<p>c)</p>
<p>That staff be directed to update the City’s Investment Policy, as required, for Council consideration.</p>
<p>At the meeting of February 22, 2021, recommendation d) was separated. As there were movers for recommendation d) the item was lost.</p>
<p>Upon items a)-c), the motion carried.</p>
<br>
<br>
<p>Lost</p>
<p>Carried</p>
<br>
<br>
<p>City of Peterborough Holdings Inc. Board Appointments</p>
<p>Report CLSCLK21-003</p>
<p>Moved by Councillor Parnell Seconded by Councillor Clarke</p>
<p>That the terms of appointment for two retired Board members be extended by one year.</p>
<p>Moved by Councillor Pappas Seconded by Councillor Akapo</p>
<p>That the Board appointments be deferred until such time that further recommendations, arising from the update of the July 30, 2012 Shareholder Declaration, are brought forward for council consideration.</p>
<p>COVID-19 Response and Financial Impact - Update #4 for the City of Peterborough</p>
<p>Report CLSFS21-004</p>
<p>Moved by Councillor Pappas Seconded by Councillor Baldwin</p>
<p>That Council approve the recommendations outlined in Report CLSFS21-004 dated February 8, 2021, of the Chief Administrative Officer and the Commissioner of Corporate and Legislative Services, as follows:</p>
<p>a)</p>
<p>That the COVID-19 Response and Financial Impact – Update for the City of Peterborough, outlined in Report CLSFS21-004, dated February 8, 2021 of the Chief Administrative Officer and Commissioner of Corporate and Legislative Services, be received for information;</p>
<p>b)</p>
<p>That in support of Peterborough Public Health and the efficient operation of Mobile Vaccination Teams and Mass Immunization Clinics, the City:</p>
<p>i)</p>
<p>Make available a pool of 12-15 staff equivalents of City employees for Administrative functions, when required, including such activities as: greeter, appointment check-in, observation/check-out, and stocking supplies;</p>
<p>ii)   Make available City facilities such as large multipurpose rooms, parking garages and parking lots (weather permitting).including supplies for the effective operation of the site, such as barricades, pylons, stanchions, outdoor directional signage, waste receptacles, information technology such as internet connectivity, etc. and staff support for clinic cleaning and maintenance;</p>
<br>
<p>c)</p>
<p>d)</p>
<p>e)</p>
<p>a)</p>
<p>b)</p>
<br>
<p>iii)   Assist, where feasible, in ensuring that transportation barriers to</p>
<p>clinics are minimized;</p>
<p>v)</p>
<p>Acknowledges that due to the priority of the above activities, regular employee job functions, City programs, services and annual work plans will be disrupted.</p>
<p>At the meeting of February 22, 2021, vi) was added as follows:</p>
<p>vi)   Activate the City’s Public Inquiry Centre and make available a pool of 6 staff equivalents of City employees to manage Peterborough Public Health hotline telephone calls to support vaccination efforts in the community.</p>
<p>That the 2020 annual loan payment from Peterborough Lawn Bowling Club in the amount of $25,000 for their contribution to the construction of their new community centre at 577 McDonnel St be deferred to 2021, and that the term of the loan repayment be extended by one additional year, to June 30, 2023; and</p>
<p>That the 2020 annual loan payments from the Peterborough Baseball Association in the amount of $10,000 for their financial contribution to the baseball diamond development at Trent University be deferred to 2021, and that the term of the loan repayment be extended by one additional year, to November 30, 2030.</p>
<p>That respecting recommendations b), c), and d) of Report CLSFS21-004, the CAO and Clerk be authorized to execute such agreements and documents as the Chief Administrative Officer and the Commissioner, Corporate and Legislative Services consider necessary to give effect to those recommendations in forms acceptable to the City Solicitor.</p>
<p>Carried</p>
<p>Extension of Cycling Lanes on George Street</p>
<p>Report IPSTR21-001</p>
<p>Moved by Councillor Pappas Seconded by Councillor Akapo</p>
<p>That Council approves the recommendations outlined in Report IPSTR21-001 dated February 8, 2021, of the Commissioner of Infrastructure and Planning Services, as follows:</p>
<p>That cycling facilities be provided on George Street between Lake Street and Lansdowne Street as described in this report;</p>
<p>That parking be prohibited on both sides of George Street from Lake Street to Lansdowne Street; and,</p>
<br>
<p>c)</p>
<p>Carried</p>
<br>
<p>Carried</p>
<p>a)</p>
<p>b)</p>
<p>That Parking By-law 09-136 be amended to authorize implementation of Recommendation b).</p>
<p>Governance Alternatives to Support Affordable Housing Development</p>
<p>Report CSSS21-003</p>
<p>Moved by Councillor Clarke Seconded by Councillor Riel</p>
<p>That the following motion be deleted:</p>
<p>That the matter be deferred to a special meeting in March to permit Peterborough Housing Corporation and KPMG to present at the meeting.</p>
<p>Moved by Councillor Clarke Seconded by Councillor Riel</p>
<p>That council support the recommendation of the February 5, 2021 KPMG report to establish a Government Business Enterprise pursuant to Ontario Regulation 599/60: Municipal Services Corporations, to be responsible for the management and construction of affordable housing</p>
<p>That staff be directed to implement the recommendations of the February 5, 2021 KPMG report using the timeline in the report as a guide and be authorized to do such things in relation to such implementation considered appropriate by the Commissioner Community Services Department in consultation with the Chief Administrative Officer and Treasurer;</p>
<p>c)</p>
<p>That staff inform the County as follows:</p>
<p>i)</p>
<p>Brief the Peterborough County Warden, county officials and staff on the February 5, 2021 KPMG report to address the following:</p>
<p></p>
<p>Implications to the County budget;</p>
<p>  Any impact on current Peterborough Housing Corporation assets</p>
<p>in the County;</p>
<p></p>
<p>Implications for future housing investments in the County;</p>
<p>  other questions that may arise from the recommendations of this</p>
<p>report, or of the February 5, 2021 KPMG report; and</p>
<p></p>
<p>that this be completed prior to March 31, 2021;</p>
<br>
<br>
<p>d)</p>
<p>e)</p>
<p>f)</p>
<p>g)</p>
<p>h)</p>
<br>
<br>
<br>
<p>That up to $300,000 from the Social Housing Reserve Fund be used to undertake the implementation of the recommendations of the February 5, 2021 KPMG report;</p>
<p>That staff be directed to work with the Peterborough Housing Corporation and Canada Mortgage and Housing Corporation representative to determine the most effective and expeditious method to make application to the Federal National Housing co-Investment Fund for the funding of up to 1500 units of housing on Peterborough Housing Corporation lands to be completed through the newly established Government Business Enterprise</p>
<p>That prior to the formal submission of the application to the National Housing Co-Investment Fund, staff report back to council on the full redevelopment plana for Peterborough Housing Corporation’s lands to include:</p>
<p>i)</p>
<p>Projected unit counts on each property, phasing of the developments, and projected unit affordability:</p>
<p>ii)</p>
<p>Financing and partnerships; and</p>
<p>iii)</p>
<p>Tenant relocation plan and consultation plan for tenants and the public</p>
<p>That up to $250,000 from the Social Housing Reserve be used towards the preparation of documents and plans necessary to meet the eligibility and application requirements of the National Housing Co-Investment fund program</p>
<p>That any two (2) of the Mayor, Clerk, Chief Administrative Officer and Commissioner of Community Services be authorized to execute such documents considered appropriate by the Commissioner of Community Services in consultation with the Chief Administrative Officer and the Treasurer for the purposes of these recommendations in forms acceptable to the City Solicitor.</p>
<p>Councillor Parnell requested that the items be separate for vote. Upon items a), b) c), d), e), f), g) and h), the motion carried.</p>
<p>Notice of Motion</p>
<p>There were no Notices of Motion</p>
<br>
<p>Approval of By-laws</p>
<p>Moved by Councillor Vassiliadis Seconded by Councillor Pappas</p>
<p>That the following by-laws be read a first, second and third time and finally passed:</p>
<p>Being a By-law to Eliminate the Vacant and Excess Land Subclass Reduction</p>
<p>Being a By-law to authorize the borrowing of $15,000,000 for 2021 current expenditures</p>
<p>Being a By-law to Amend By-law 18-115 being a By-law to Appoint By-law Enforcement Officers to enforce the City of Peterborough’s Smoking By-Law</p>
<p>Being a By-law to delegate authority to the CAO and to each Commissioner to execute information sharing agreements</p>
<p>Being a By-law to amend parking on George Street and By-law number 09-136 being a By-law for the Regulation of Parking</p>
<p>Other Business</p>
<p>Letter to MPP Smith</p>
<p>Moved by Councillor Clarke Seconded by Councillor Parnell</p>
<p>Whereas,  the City of Peterborough acknowledges the letter dated February 19, 2021 from MPP Dave Smith identifying the significant funding for housing and homelessness programs provided by the Province of Ontario; and</p>
<p>Whereas, the City of Peterborough recognizes the significant value that this funding provides to not only the City and County budgets but more importantly to the residents of the City and County that are served by the City’s housing and homelessness programs,</p>
<p>Be it resolved, that the Clerk, on behalf of Council for the City of Peterborough, send a letter to MPP Dave Smith acknowledging the importance of this funding to the City and County and its residents and to confirm its desire to continue to receive housing support funding from the Ministry of Finance and the Ministry of Municipal Affairs and Housing and request that these ministries continue to work with City staff to identify additional funding opportunities.</p>
<br>
<p>21-037</p>
<p>21-038</p>
<p>21-039</p>
<p>21-040</p>
<p>21-041</p>
<p>Carried</p>
<p>Carried</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Community Safety and Wellbeing Plan</p>
<p>Moved by Councillor Vassiliadis Seconded by Councillor Pappas</p>
<p>Whereas, the City of Peterborough recognizes the importance and value of creating a Community Safety and Wellbeing Plan as required under the Police Services Act, as amended; and,</p>
<p>Whereas, the involvement and guidance from our community partners is necessary to compete the Plan; and,</p>
<p>Whereas, the ability for community partners to participate in the development of a Plan has been impacted by the COVID-19 pandemic,</p>
<p>Be it resolved,  that the Clerk, on behalf of Council for the City of Peterborough, send a letter to the Ministry of the Solicitor General requesting the deadline for completing the Community Safety and Wellbeing Plan be extended from its current deadline of July 1, 2021 to July 1, 2022.</p>
<p>Carried</p>
<p>Confirmation By-law</p>
<p>Moved by Councillor Pappas Seconded by Councillor Parnell</p>
<p>That the following by-law be read a first, second and third time:</p>
<p>21-042          Being a By-law to confirm the proceedings of the Council at its</p>
<p>regular meeting held on February 22, 2021.</p>
<p>and that the said by-law having been read a third time and passed, the Mayor and Clerk be authorized to sign and seal the same.</p>
<p>Carried</p>
<p>Adjournment</p>
<p>Carried</p>
<p>Moved by Councillor Pappas Seconded by Councillor Clarke</p>
<p>That this meeting adjourn at 8:42 p.m.</p>
<br>
<p>_________________________</p>
<p>John Kennedy</p>
<p>City Clerk</p>
<p>Diane Therrien</p>
<p>Mayor</p>
<p>_________________________</p>
<br>
<br>
<br>
<br>
<br></div>