<!doctype html><div><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>General Committee Minutes</p>
<br>
<p>Council Chambers, City Hall</p>
<br>
<p>(Electronic Meeting)</p>
<br>
<br>
<p>March 1, 2021</p>
<br>
<p>Present:</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Staff:</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Councillor Akapo</p>
<p>Councillor Baldwin</p>
<p>Councillor Beamer, Chair</p>
<p>Councillor Clarke</p>
<p>Councillor Parnell</p>
<p>Councillor Pappas</p>
<p>Councillor Riel</p>
<p>Mayor Therrien</p>
<p>Councillor Vassiliadis</p>
<p>Councillor Wright</p>
<p>Councillor Zippel</p>
<br>
<p>Sandra Clancy, Chief Administrative Officer</p>
<p>Cynthia Fletcher, Commissioner of Infrastructure and Planning Services</p>
<p>Richard Freymond, Commissioner of Corporate and Legislative Services</p>
<p>Natalie Garnett, Deputy Clerk</p>
<p>Ken Hetherington, Chief Planner</p>
<p>John Kennedy, City Clerk</p>
<p>Caroline Kimble, Land Use Planner</p>
<p>Sheldon Laidman, Commissioner of Community Services</p>
<p>David Potts, City Solicitor/Manager of Legal Services</p>
<p>Kendra Sedgwick, Committee Coordinator</p>
<br>
<p>That Committee meet in Closed Session to discuss one item under Section</p>
<p>239(2)(d) Labour relations or employee negotiations.</p>
<br>
<p>Closed Session - 5:02 p.m.</p>
<br>
<p>Resolution to meet in Closed Session</p>
<br>
<p>Moved by Councillor Clarke</p>
<br>
<p>Carried</p>
<br>
<br>
<br>
<br>
<p>1</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Moved by Councillor Parnell</p>
<br>
<p>That Closed Session adjourn at 5:23 p.m.</p>
<br>
<p>The Chair called the meeting to order at 6:01 p.m.</p>
<br>
<p>Carried</p>
<br>
<p>Open Session - 6:00 p.m.</p>
<br>
<p>Adoption of Minutes</p>
<br>
<p>Moved by Councillor Wright</p>
<p>Carried</p>
<p>Report of Closed Session</p>
<p>Report CLSHR21-001</p>
<p>Moved by Councillor Riel</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Pecuniary Interest</p>
<p>That the General Committee minutes of February 1, 8 and 16, 2021 be approved.</p>
<p>That Council approve the recommendation outlined in Report CLSHR21-001 dated March 1, 2021 of the Commissioner of Corporate and Legislative Services as follows:</p>
<p>That, respecting Public Works Mechanic wages , staff be authorized to proceed as outlined in Report CLSHR21-001, dated March 21, 2021, from the Commissioner of Corporate and Legislative Services.</p>
<p>Carried</p>
<p>Public Meetings under the Planning Act</p>
<p>Councillor Zippel, Chair of the Planning portfolio, assumed the Chair.</p>
<p>Zoning By-law Amendment for 694 Sherbrooke Street</p>
<p>Report IPSPL21-007</p>
<p>Caroline Kimble, Land Use Planner, provided a presentation on Report IPSPL21-007.</p>
<p>Jeff Pustina and Darlene Fedorchuk, 694 Sherbrooke Street, applicants, spoke to the application.</p>
<br>
<br>
<br>
<br>
<p>Moved by Councillor Pappas</p>
<p>That Council approve the recommendation outlined in Report IPSPL21-007, dated March 1, 2021, of the Commissioner of Infrastructure and Planning Services, as follows:</p>
<p>That the zoning of the lands known as 694 Sherbrooke Street be amended from the existing R.1, 1e, 2h, 4e – 194 to R.1, 1e, 2h, 4e – H in accordance with Exhibit ‘C’ attached to Report IPSPL21-007.</p>
<p>Carried</p>
<p>Zoning By-law Amendment for 159 Aylmer Street North</p>
<p>Report IPSPL21-006</p>
<p>Caroline Kimble, Land Use Planner, provided a presentation on Report IPSPL21-006.</p>
<p>The following spoke in opposition to the application:</p>
<p>Sandra Cutrone, 247/249 Wolfe Street</p>
<p>Scott Hamilton, applicant and Kevin Duguay, agent for the Applicant, spoke to the application.</p>
<p>Moved by Councillor Pappas</p>
<p>That Council approve the recommendations outlined in Report IPSPL21-006, dated March 1, 2021, of the Commissioner of Infrastructure and Planning Services, as follows:</p>
<p>That the SP.85 – Commercial District be modified to add ‘a clinic’ as a permitted use and update regulations 115.3(g), (h), and (j) in accordance with Exhibit ‘C’ attached to Report IPSPL21-006.</p>
<p>That the SP.85 – H – Commercial District, as modified, apply to the lands known as 159 Aylmer Street North, in accordance with Exhibit ‘C’ attached to Report IPSPL21-006;</p>
<p>That the ‘H’ Holding Symbol be removed at such time as Site Plan Approval is granted in accordance with City requirements, to address changes to the parking area and landscape space.</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>Carried</p>
<br>
<br>
<br>
<br>
<br>
<p>Zoning By-law Amendment for 349 Parkhill Road East</p>
<p>Report IPSPL21-011</p>
<p>Caroline Kimble, Land Use Planner, provided a presentation on Report IPSPL21-011.</p>
<p>The following spoke in opposition to the application:</p>
<p>Laurie Christie, 619 Garside Drive Noah Gordon, 28 Dawson Road Yvonne Landon, 360 Juliet Road</p>
<p>Jim Baird, agent for the applicant, spoke to the application.</p>
<p>Moved by Councillor Beamer</p>
<p>That Council approve the recommendations outlined in Report IPSPL21-011 dated March 1, 2021, of the Commissioner of Infrastructure and Planning Services, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>That the Zoning By-law be amended to add Exception 340 to Section 3.9, to reflect the site specific regulations related to minimum parking, minimum setbacks from side and rear lot lines, and minimum distance of driveway/parking areas to windows of habitable rooms, in accordance with the draft amendment attached as Exhibit ‘D’ to Report IPSPL20-011;</p>
<p>That approximately 0.8 ha. (1.98 ac.) of the northerly portion of the subject property be rezoned from the R.1 – Residential District to the R.5-340-H – Residential District and that approximately 0.7 ha. (1.7 ac.) of the southerly portion of the lands by rezoned from the R.1 – Residential District to the OS.1 – Open Space District 1, in accordance with Exhibit ‘D‘ to Report IPSPL21-011; and</p>
<p>c)</p>
<p>That the ‘H’ Holding Symbol be removed at such time as:</p>
<p>I.</p>
<p>that portion of the lands zoned OS.1 is dedicated to the City for hazard land and parkland, and any purchase of excess lands is completed, or at such time as the Developer has entered into an agreement with the City with respect to the dedication of that portion of the lands and any additional requirement for payment, or combination thereof, in accordance with the provisions of the Planning Act, R.S.O 1990 c.P.13 and the City’s Parkland Dedication By-law; and</p>
<p>II.</p>
<p>that Site Plan Approval is granted to facilitate the development of the northerly portion of the lands, and that the associated Site Plan Agreement include the following provisions:</p>
<br>
<br>
<p>i.</p>
<p>ii.</p>
<p>iii.</p>
<p>iv.</p>
<p>v.</p>
<p>that the developer extend an asphalt walkway from the subject lands, westerly within the south side of Parkhill Road East portion of the right-of-way, to the sidewalk along Parkhill Road East, to facilitate a pedestrian connection to the nearest transit stop;</p>
<p>that a flashing light beacon be installed on the signage on the hidden driveway sign on Parkhill Road East, to address the constrained sight distance subject to the relocation of the sign to the west side of the bridge (in the north boulevard near the Guard House) and that the flashing light only be activated when a vehicle is pulling out from the driveway entrance to the subject lands, with a detection device. All of this to be paid for and installed by the developer, subject to the satisfaction of the City and in coordination with Parks Canada, relative to the existing swing bridge and any infrastructure Parks Canada may have in place related to their operation;</p>
<p>that the Conservation Approach detailed in the Heritage Impact Assessment prepared in support of the application, including maintaining mature trees that largely screen views to the building from the canal, providing variation in the building form to break up the perception of the massing and differing roof treatments, including gabled topped bays facing the road and canal, and providing a varied exterior material palette, all be reflected in the approved landscape plan and architectural drawings, to be circulated to Parks Canada for review;</p>
<p>that further information on anticipated vibration levels associated with demolition and construction of the development be provided to Parks Canada given the proximity of the development to the canal’s earthen dams.</p>
<p>that a tree canopy compensation payment, as required within Schedule B of the Woodland Conservation By-law 17-121 and based upon the existing vegetation on the site prior to any notified or permitted removals, be addressed to the satisfaction of the City;</p>
<p>vi.   Road widening along the Parkhill Road East frontage as</p>
<p>prescribed by Table 2 of the Official Plan;</p>
<p>vii.   Provisions for payment of a proportionate share of the cost of</p>
<p>downstream improvements to the local sanitary system be made.</p>
<p>Carried</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Zoning By-law Amendment for 1289 Kawartha Crescent and 1253 Lansdowne Street West</p>
<p>Report IPSPL21-012</p>
<p>Caroline Kimble, Land Use Planner, provided a presentation on Report IPSPL21-011.</p>
<p>The following spoke in opposition to the application:</p>
<p>Edward Vale, 90 Milroy Drive</p>
<p>Murray Davenport, applicant, spoke to the application.</p>
<p>Moved by Councillor Clarke</p>
<p>That Council approve the recommendations outlined in Report IPSPL21-012 dated March 1, 2021, of the Commissioner of Infrastructure and Planning Services, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>That the Zoning By-law be amended to modify Exception 232 in Section 3.9, to prescribe revised site-specific regulations in accordance with the draft amendment attached as Exhibit ‘D’ to Report IPSPL21-012;</p>
<p>That the subject properties be rezoned from the D.1 – Development District to the R.5-232-H – Residential District; from the R.1 – Residential District to the R.5-232-H – Residential District; from the R.5-232 – Residential District to the R.5-232-H – Residential District; and from the R.5-232 – Residential District to the OS.1 – Open Space District in accordance with Exhibit ‘D’ attached to Report IPSPL21-012; and</p>
<p>c)</p>
<p>That the ‘H’ Holding Symbol be removed at such time as:</p>
<p>i.</p>
<p>ii.</p>
<p>iii.</p>
<p>iv.</p>
<p>The City owned portion of the Kawartha Crescent Right of Way included in the Subject Lands, is transferred to the owner of 1295 Kawartha Cres, and consolidated with the subject lands;</p>
<p>That Site Plan Approval be granted for the subject lands, incorporating the existing approved Site Plan for the lands known as 1253 Lansdowne Street West;</p>
<p>That all necessary easements be registered on title to facilitate driveways, servicing and parking as necessary, in accordance with the approved Site Plan; and</p>
<p>That the Site Plan Agreement require the owner to include Notes and Warning Clauses in any purchase and lease agreements and/or condominium agreement for all units located within the north most building as per the conclusions of the Environmental Noise Impact Study, prepared by Aercoustics Engineering Ltd., dated April 15, 2019.</p>
<br>
<br>
<br>
<br>
<p>v.</p>
<p>vi.</p>
<p>That provisions for payment of a proportionate share of the cost of any downstream improvements to the local sanitary system be made.</p>
<p>That the submission of a Tree Preservation and Planting Plan be incorporated into the Site Plan Agreement, to the satisfaction of ORCA.</p>
<p>Carried</p>
<p>Other Business</p>
<p>Petition – Wellness Centre Renovations</p>
<p>Moved by Councillor Clarke</p>
<p>Carried</p>
<p>Survey for PSWC Changeroom Renovation</p>
<p>Moved by Councillor Riel</p>
<p>That the petition from Committee for Changeroom Choice, be received for information.</p>
<p>That the survey regarding the proposed renovations to the Sport and Wellness Centre changerooms be extended to accept public comment until April 2, 2021;</p>
<p>That hard copies of the survey be made available at the Sport and Wellness Centre; and,</p>
<p>That the survey results be reported to Council in April.</p>
<p>That Section 14.2 of the Procedural By-law be suspended to permit the hour of the meeting to extend past 10:00 p.m.</p>
<p>Moved by Councillor Pappas</p>
<p>Carried</p>
<p>Carried</p>
<p>Moved by Councillor Wright</p>
<p>That the question be put.</p>
<p>Upon the motion of Councillor Riel, the motion carried.</p>
<br>
<p>Adjournment</p>
<p>Moved by Councillor Pappas</p>
<p>That this meeting adjourn at 10:02 p.m.</p>
<p>Carried</p>
<br>
<p>_________________________</p>
<p>John Kennedy</p>
<p>City Clerk</p>
<p>_________________________</p>
<p>Councillor Beamer</p>
<p>Chair</p>
<br>
<br>
<br>
<br>
<br></div>