<!doctype html><div><p>Accessibility Advisory Committee Minutes</p>
<p>(Electronic Meeting)</p>
<br>
<p>Councillor Clarke</p>
<p>Amanda Motyer, Chair</p>
<p>Don Parnell</p>
<p>Dave Hurley</p>
<p>Phil Mechetuk</p>
<br>
<p>Sioux Lily</p>
<p>Barb Munro</p>
<br>
<p>Mark Buffone, Accessibility Compliance Coordinator</p>
<p>Kendra Sedgwick, Committee Coordinator</p>
<p>Sarah Mackillican, Communication Coordinator</p>
<br>
<p>The Chair called the meeting to order at 4:03 p.m.</p>
<br>
<p>Confirmation of Minutes</p>
<br>
<p>Moved by Councillor Clarke</p>
<br>
<p>That the minutes of Accessibility Advisory Committee held on February 3, 2021</p>
<p>be approved.</p>
<br>
<p>Disclosure of Pecuniary Interest</p>
<br>
<p>There were no disclosures of Pecuniary Interest.</p>
<br>
<p>Consent Agenda - 5.c, 5.d</p>
<br>
<p>Moved by Dave Hurley</p>
<br>
<p>That items 5.c and 5.d be approved as part of the Consent Agenda.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>March 3, 2021</p>
<br>
<p>Present</p>
<br>
<br>
<br>
<br>
<br>
<p>Regrets</p>
<br>
<br>
<p>Staff Present</p>
<br>
<br>
<br>
<br>
<p>Call to Order</p>
<br>
<p>Carried</p>
<br>
<br>
<p>Carried</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>1</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Built Environment Sub-Committee Membership Update</p>
<br>
<p>Report AAC21-007</p>
<br>
<p>Moved by Dave Hurley</p>
<br>
<p>That the Accessibility Advisory Committee (AAC) approve the recommendation</p>
<p>outlined in Report AAC21-007 dated March 3, 2021, of the Communication</p>
<p>Coordinator, as follows:</p>
<br>
<p>That the AAC approve extending the current terms for Andrea Dodsworth and</p>
<p>Janet Dawson/Peterborough Public Health representative for six months (until</p>
<p>September 2021).</p>
<br>
<p>Carried</p>
<br>
<br>
<p>Accessibility Staff Report</p>
<p>Report AAC21-006</p>
<p>Moved by Dave Hurley</p>
<p>Carried</p>
<p>Transit Route Review</p>
<p>Report AAC21-008</p>
<p>Moved by Phil Mechetuk</p>
<p>That the Accessibility Advisory Committee (AAC) approve the recommendation outlined in Report AAC21-006 dated March 3, 2021, of the Accessibility Compliance Coordinator as follows:</p>
<p>That Report AAC21-006 with respect to the current work of Accessibility staff be received for information.</p>
<p>That the Accessibility Advisory Committee (AAC) approve the recommendations outlined in Report AAC21-008 dated March 3, 2021, of the Communication Coordinator as follows:</p>
<p>a)   That a presentation from Transit staff be received for information; and</p>
<p>b)   That the Committee provide feedback on the Route Review.</p>
<p>Carried</p>
<br>
<p>Temporary Downtown Public Space</p>
<p>Report AAC21-009</p>
<p>Moved by Councillor Clarke</p>
<p>That the Accessibility Advisory Committee (AAC) approve the recommendations outlined in Report AAC21-009 dated March 3, 2021, of the Communication Coordinator as follows:</p>
<p>a)   That a presentation from Infrastructure Planning Services staff be received</p>
<p>for information; and</p>
<p>b)   That the Committee provide feedback on the Temporary Downtown Public</p>
<p>That this meeting of the Accessibility Advisory Committee adjourn at 5:17 p.m.</p>
<br>
<br>
<br>
<br>
<p>Space changes.</p>
<p>Carried</p>
<p>Other Business</p>
<p>There were no items of Other Business.</p>
<p>Next Meeting - April 7, 2021</p>
<p>Adjournment</p>
<p>Moved by Councillor Clarke</p>
<p>Carried</p>
<br>
<p>_________________________</p>
<p>Kendra Sedgwick</p>
<p>Committee Coordinator</p>
<p>_________________________</p>
<p>Amanda Motyer</p>
<p>Chair</p>
<br></div>