<!doctype html><div><br>
<br>
<br>
<br>
<br>
<p>March 17, 2021</p>
<br>
<p>Present</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Staff</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Carried</p>
<br>
<br>
<p>Carried</p>
<br>
<br>
<p>Peterborough Environmental Advisory Committee Minutes</p>
<br>
<p>Dana Jordan</p>
<p>Mary Elizabeth Konrad (5:39 p.m.)</p>
<p>Peter Lafleur</p>
<p>Craig Mortlock</p>
<p>Sandra Orsatti, Chair</p>
<p>Stephanie Rutherford</p>
<p>Fraser Smith</p>
<p>Councillor Zippel</p>
<br>
<p>James Byrne, Climate Change Coordinator</p>
<p>Dave Douglas, Waste Diversion Section Manager</p>
<p>Natalie Garnett, Deputy Clerk</p>
<p>James Istchenko, Manager of Environmental Services</p>
<p>Michael Papadacos, Manager, Infrastructure Management</p>
<br>
<p>Call to Order</p>
<br>
<p>The Chair called the meeting to order at 5:33 p.m.</p>
<br>
<p>Confirmation of Minutes</p>
<br>
<p>Moved by Craig Mortlock</p>
<br>
<p>That the minutes of the meeting of February 17, 2021 be approved as circulated.</p>
<br>
<p>Disclosure of Pecuniary Interest</p>
<br>
<p>There were no disclosures of Pecuniary Interest.</p>
<br>
<p>Consent Agenda</p>
<br>
<p>Moved by Fraser Smith</p>
<br>
<p>That item 5.d. be passed as part of the Consent Agenda.</p>
<br>
<br>
<br>
<p>1</p>
<br>
<br>
<br>
<br>
<br>
<p>Tree Removal By-law Follow Up</p>
<br>
<p>Report PEAC21-013</p>
<br>
<p>Moved by Fraser Smith</p>
<br>
<p>That the PEAC approve the recommendation outlined in Report PEAC21-013</p>
<p>dated</p>
<p>March 17, 2021 of the Manager of Infrastructure Management Division, as follows:</p>
<br>
<p>That the Peterborough Environmental Advisory Committee supports, in</p>
<p>principle, the need for a By-law that regulates the removal of healthy trees</p>
<p>on private property; and,</p>
<br>
<p>That responsibility for compensation of removed healthy trees is shared by</p>
<p>the property owner and the Municipality to enhance and protect the urban</p>
<p>forest canopy given its role in mitigating and adapting to the impacts of</p>
<p>climate change and other environmental, social and cultural benefits for</p>
<p>residents.</p>
<br>
<p>a)</p>
<br>
<p>b)</p>
<br>
<p>Carried</p>
<p>GROW Source Sorted Organics Project</p>
<p>Report PEAC21-010</p>
<p>James Istchenko, Manager of Environmental Services, provided a presentation on the GROW Source Sorted Organics Project.</p>
<p>Moved by Councillor Zippel</p>
<p>That the Peterborough Environmental Advisory Committee approve the recommendation as outlined in Report PEAC21-010 dated March 17, 2021, of the Manager of Infrastructure Management as follows:</p>
<p>That the presentation be received for information.</p>
<p>Carried</p>
<p>PEAC21-012</p>
<p>Resiliency and Recovery Taskforce Update</p>
<p>The Chair provided an update on the work of the Resiliency and Recovery Taskforce.</p>
<p>Moved by Stephanie Rutherford</p>
<p>That the PEAC approve the recommendation outlined in Report PEAC21-012, dated March 17, 2021, of the Manager of Infrastructure Management Division, as follows:</p>
<br>
<p>That a verbal report to update the PEAC on the work of the Resiliency and Recovery Taskforce be received for information.</p>
<p>That the PEAC approve the recommendation outlined in Report PEAC21-011 dated March 17, 2021 of the Manager of Infrastructure Management Division, as follows:</p>
<p>That the verbal update on Climate Initiatives be received for information.</p>
<p>Discussion was held regarding the activities and work of the Committee.</p>
<br>
<br>
<br>
<br>
<p>Carried</p>
<p>Climate Initiatives Update</p>
<p>PEAC21-011</p>
<p>Moved by Councillor Zippel</p>
<p>Carried</p>
<p>Other Business</p>
<p>Next Meeting - April 21, 2021</p>
<p>Adjournment</p>
<p>Moved by Mary Konrad</p>
<p>That the meeting adjourn at 7:43 p.m.</p>
<p>Carried</p>
<br>
<p>_________________________</p>
<p>Natalie Garnett</p>
<p>Deputy Clerk</p>
<p>_________________________</p>
<p>Sandra Orsatti</p>
<p>Chair</p>
<br></div>