<!doctype html><div><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Special General Committee Minutes</p>
<br>
<p>(Electronic Meeting)</p>
<br>
<p>March 29, 2021</p>
<br>
<p>Present:  Councillor Akapo</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Staff:</p>
<br>
<p>Councillor Baldwin</p>
<p>Councillor Beamer, Chair</p>
<p>Councillor Clarke (6:14 p.m.)</p>
<p>Councillor Parnell</p>
<p>Councillor Pappas</p>
<p>Councillor Riel</p>
<p>Mayor Therrien</p>
<p>Councillor Vassiliadis</p>
<p>Councillor Wright</p>
<p>Councillor Zippel</p>
<br>
<p>Brian Buchardt, Planner – Urban Design & Projects Coordinator</p>
<p>Sandra Clancy, Chief Administrative Officer</p>
<p>Cynthia Fletcher, Commissioner of Infrastructure and Planning Services</p>
<p>Richard Freymond, Commissioner of Corporate and Legislative Services</p>
<p>Natalie Garnett, Deputy City Clerk</p>
<p>Ken Hetherington, Chief Planner</p>
<p>Brian Jobbitt, Manager, Public Works</p>
<p>Kevin Jones, Manager, Transportation</p>
<p>John Kennedy, City Clerk</p>
<p>Sheldon Laidman, Commissioner of Community Services</p>
<p>David Potts, City Solicitor/Manager of Legal Services</p>
<p>Brendan Wedley, Manager of Communication Services</p>
<br>
<p>Opening of Meeting</p>
<br>
<p>The Chair called the meeting to order at 6:04 p.m.</p>
<br>
<p>Declaration of Pecuniary Interest</p>
<br>
<p>Councillor Pappas declared a conflict with report IPSCOM21-001, Downtown Built</p>
<p>Environment - Proposed 2021 Response to the Impacts of COVID-19, as he is the</p>
<p>owner of a business participating in the program.</p>
<br>
<br>
<br>
<p>1</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Reports</p>
<br>
<p>Report IPSCOM21-001</p>
<br>
<p>Moved by Councillor Akapo</p>
<br>
<p>Downtown Built Environment - Proposed 2021 Response to the impacts of COVID-19</p>
<br>
<p>Due to his previously declared interest, Councillor Pappas did not discuss or vote on</p>
<p>this item.</p>
<br>
<p>That Council approve the recommendations outlined in Report IPSCOM21-001</p>
<p>dated March 29, 2021, of the Commissioner of Infrastructure and Planning</p>
<p>Services, as follows:</p>
<br>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>That Council approve the temporary modifications to the downtown built environment for 2021 as per the layout in Appendix A of Report IPSCOM21- 001, as part of the COVID-19 Re-Opening Ontario Health and Safety Measures;</p>
<p>That the on-street pick up zones be continued, along with regular enforcement of the two-hour parking limit and the continuation of fees for on-street parking in the downtown; and</p>
<p>That a by-law be passed delegating to the Chief Administrative Officer and the Commissioner of IPS certain authority respecting highways within the downtown to implement Council’s direction in response to Report IPSCOM21-001 Downtown Built Environment - Proposed 2021 Response to the Impacts of COVID-19 for the period April 1, 2021 to December 31, 2021 in the form of by-law comprising Appendix C to the said Report;</p>
<p>At the meeting of March 29, 2021 Committee added item d) as follows:</p>
<p>d)</p>
<p>That staff provide an update report to Council on any delegated authority decisions of staff related to the Downtown Built Environment Plan at General Committee in July 2021.</p>
<p>Upon request, the items were separated for vote.</p>
<p>Upon recommendation a), the motion carried.</p>
<p>Upon recommendation b), the motion carried.</p>
<p>Upon recommendation c), the motion carried.</p>
<p>Upon recommendation d), the motion carried.</p>
<br>
<br>
<p>Adjournment</p>
<p>Moved by Councillor Pappas</p>
<p>That this meeting adjourn at 6:50 p.m.</p>
<p>Carried</p>
<br>
<p>_________________________</p>
<p>John Kennedy</p>
<p>City Clerk</p>
<p>_________________________</p>
<p>Councillor Beamer</p>
<p>Chair</p>
<br>
<br>
<br>
<br>
<br></div>