<!doctype html><div><p>Appendix A</p>
<br>
<p>Present:</p>
<p>Sioux Lily (Chair)</p>
<p>Jeff Chalmers</p>
<p>Amanda Motyer</p>
<p>Allison Seiderer</p>
<p>Leslie Yee</p>
<p>Neil Campbell</p>
<br>
<p>Accessibility Advisory Committee</p>
<p>Built Environment Sub-Committee</p>
<p>April 20, 2021</p>
<p>Draft minutes not approved</p>
<br>
<p>A meeting of the Accessibility Advisory Committee (AAC) Built Environment Sub-</p>
<p>committee was called to order at 3:32 p.m. by Sioux Lily. This meeting was held electronically through Microsoft Teams.</p>
<p>Regrets: Leanne Carpenter Janet Dawson (term suspended to September 2021) Andrea Dodsworth (term suspended to September 2021)</p>
<p>Staff: Mark Buffone, Accessibility Compliance Coordinator Nicole Huculiak, Planner, Urban Design Brad Appleby, Supervisor, Development Planning Disclosure of Pecuniary Interest Amanda Motyer declared pecuniary interest on the zoning by-law amendment application for 2077 and 2011 Ashburnham Drive, Z2106 related to the Canadian Canoe Museum. Approval of Agenda Moved by Leslie Yee.</p>
<p>That the agenda for the AAC Built Environment Sub-Committee meeting dated April 20, 2021 be approved.</p>
<p>“Carried”</p>
<p>Minutes of the AAC Built Environment Sub-Committee April 20, 2021 Accessibility Reviews a)  Site Plan Approval for 159 Aylmer Street North, SPC-995</p>
<br>
<p>The committee made the following recommendations:</p>
<p>Page 2</p>
<p>1.  Provide a larger landing at the intersection of the walkway to the sidewalk and</p>
<p>the walkway to the accessible parking space access aisle, to accommodate turning movements with a mobility aid.</p>
<p>2.  Provide an automatic door operator for the main building entrance on the</p>
<p>verandah.</p>
<p>3.  Avoid pavers on the accessible parking space and access aisle. The committee</p>
<p>has concern about product durability, even with the deep granular base specified, and recommends the requirement for a permeable surface be located on another area of the site. [Post meeting note: a member provided information on a permeable surface product called PurePave that is a singular surface vs individual pavers and recommended the City explore it as an option].</p>
<p>4.  Provide a tactile attention indicator at the dropped curb for the accessible parking</p>
<p>space access aisle.</p>
<p>b)  Zoning By-Law Amendment and Draft Plan of Subdivision Approval for 789</p>
<p>Lily Lake Road, Z2105SB and 15T-21501</p>
<p>The committee made the following recommendations:</p>
<p>1.  Jeff requested the committee review a typical roundabout design and provide</p>
<p>comment for future roundabouts.</p>
<p>2.  Add benches and garbage bins along the trail</p>
<p>3.  Add shade covering at bench zones</p>
<p>4.  Provide a parking solution for people who may come to the area to park and use</p>
<p>the trail, complete with accessible parking options.</p>
<p>5.  Provide lighting on the trail.</p>
<p>6.  Provide a detectable edge between the trail and the adjacent north/south street,</p>
<p>and provide accessible walkway connections from the street to the trail where appropriate.</p>
<p>7.  Provide water fountains along the trail.</p>
<p>Minutes of the AAC Built Environment Sub-Committee April 20, 2021 c)  Zoning By-Law Amendment for 2077 and 2011 Ashburnham Drive, Z2106</p>
<br>
<p>Page 3</p>
<p>Amanda Motyer left the meeting shortly after the presentation started.</p>
<p>The committee made the following recommendations:</p>
<p>1.  The accessible parking location is compromised due to the location of the pick-up</p>
<p>/drop-off bay. Relocate accessible parking closer to the main entrance.</p>
<p>2.  Relocate the walkway from the street to the site to have good pedestrian linkage</p>
<p>from the building entrance to the other side of the road.</p>
<p>3.  Add an accessible pedestrian crossing to allow pedestrians to easily cross</p>
<p>Ashburnham Drive.</p>
<p>4.  Provide a shelter and bench at the nearest transit stops.</p>
<p>5.  Provide wayfinding signate to direct out of town visitors and people from</p>
<p>Peterborough to the site. Provide clear signage from the off-site parking lots to the Canoe Museum site, incorporating braille signage along pedestrian walkways. The Canoe Museum will host large events with people from out of town, such as the Wilderness Canoe Association conference which has an attendance of up to 500 people.</p>
<p>6.  The reduced setback at the north end of the site means all access to the water is at the south end of the site. Due to the large site, provide a second access to the Trans Canada Trail from the north end of the site.</p>
<p>7.  Provide a barrier free boat house and barrier-free access to the water. There are</p>
<p>many precedents of boat houses with water programs that are barrier free.</p>
<p>8.  Increase the number of accessible parking spaces on the site instead of making</p>
<p>people with disabilities park in other existing off-site lots. The committee noted there are often other events that take place at the various amenities in the area (ie/ soccer tournaments) that result in fully occupied parking lots.</p>
<p>9.  The committee requested the occupant load of the multipurpose room, exhibition</p>
<p>space and café be considered in the parking calculations.</p>
<p>10. The committee would like to further review the project at the Site Plan Control</p>
<p>stage. The committee would welcome a presentation from the Canadian Canoe Museum and their consultant, and provide feedback on how to make the building interior more accessible.</p>
<p>Other business No other business.</p>
<br>
<p>Minutes of the AAC Built Environment Sub-Committee April 20, 2021 Next meeting The next meeting will be held on Tuesday, May 18, 2021 from 3:30 p.m. to 5:00 p.m. electronically through Microsoft Teams. Adjournment Moved by Allison Seiderer. That the meeting of the AAC Built Environment Sub-Committee adjourn at 5:04 p.m.</p>
<p>Page 4</p>
<p>“Carried”</p>
<br></div>