<!doctype html><div><p>City Council Minutes</p>
<br>
<p>City of Peterborough</p>
<br>
<p>Council Chambers, City Hall</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>April 26, 2021</p>
<br>
<p>Present:</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Staff:</p>
<br>
<p>Councillor Akapo</p>
<p>Councillor Baldwin</p>
<p>Councillor Beamer</p>
<p>Councillor Clarke</p>
<p>Councillor Pappas</p>
<p>Councillor Parnell</p>
<p>Councillor Riel</p>
<p>Councillor Vassiliadis</p>
<p>Councillor Wright</p>
<p>Councillor Zippel</p>
<p>Mayor Therrien</p>
<br>
<p>Sandra Clancy, Chief Administrative Officer</p>
<p>Cynthia Fletcher, Commissioner of Infrastructure and Planning Services</p>
<p>Richard Freymond, Commissioner of Corporate and Legislative Services</p>
<p>Natalie Garnett, Deputy City Clerk</p>
<p>Ken Hetherington, Chief Planner</p>
<p>Kevin Jones, Manager, Transportation</p>
<p>John Kennedy, City Clerk</p>
<p>Sheldon Laidman, Commissioner of Community Services</p>
<p>Mac MacGillivray, Facilities and Energy Manager</p>
<p>Rob McAulay, Facility Manager, PSWC</p>
<p>David Potts, Manager of Legal Services</p>
<p>Karen Rennie, Manager, Arts & Heritage</p>
<p>Kendra Sedgwick, Committee Coordinator</p>
<p>Chris Snetsinger, Fire Chief</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Call to Order</p>
<br>
<p>The Chair called the meeting to order at 6:00 p.m.</p>
<br>
<br>
<br>
<p>1</p>
<br>
<br>
<br>
<br>
<br>
<p>Approval of Minutes</p>
<br>
<p>Moved by Councillor Pappas</p>
<p>Seconded by Councillor Zippel</p>
<br>
<p>That the minutes of March 22, 2021 be approved.</p>
<br>
<p>Moved by Councillor Vassiliadis</p>
<p>Seconded by Councillor Pappas</p>
<br>
<p>That the minutes of April 6, 2021 be approved.</p>
<br>
<p>Carried</p>
<br>
<br>
<p>Carried</p>
<br>
<br>
<p>Delegations - Items on the Agenda</p>
<br>
<p>Rodney Marois, 421 Sheridan Street, made a delegation to item 10.f, Report CAOFS21- 004 – Fire Station 2 Location Selection and Project Next Steps.</p>
<p>Sheridan Graham & Terry White, County of Peterborough, made a delegation to item 10.i, Report CSACH21-003 - Heritage Designation of Water Street.</p>
<p>Stewart Hamilton, PACAC Chair, made a delegation to item 10.i, Report CSACH21-003 - Heritage Designation of Water Street.</p>
<p>Cam Douglas, Peterborough Bicycle Advisory Committee, made a delegation to item 11.a, Report IPSTR21-005 – Update on Phase 1 of Transportation Master Plan.</p>
<p>Margie Sumadh, 238 Dublin Street, made a delegation to item 11.a, Report IPSTR21- 005 – Update on Phase 1 of Transportation Master Plan.</p>
<p>Caroline Tennent, 495 Gilmour Street, made a delegation to item 11.a, Report IPSTR21-005 – Update on Phase 1 of Transportation Master Plan.</p>
<p>Ben Wolfe, 516 Bolivar Street, made a delegation to item 11.a, Report IPSTR21-005 – Update on Phase 1 of Transportation Master Plan.</p>
<p>Sara Whitehead, Reimagine Peterborough, will make a delegation to item 11.a, Report IPSTR21-005 – Update on Phase 1 of Transportation Master Plan.</p>
<p>Dane Bland, 145 O'Caroll Ave, made a delegation to item 11.a, Report IPSTR21-005 – Update on Phase 1 of Transportation Master Plan.</p>
<p>Carlotta James, 654 Park Street, made a delegation to item 11.a, Report IPSTR21-005 – Update on Phase 1 of Transportation Master Plan.</p>
<p>Rob Steinman, Friends of Jackson Park, made a delegation to item 11.a, Report IPSTR21-005 – Update on Phase 1 of Transportation Master Plan.</p>
<br>
<br>
<br>
<p>Peter Hewett, 288 Juliet Road, made a delegation to item 11.a, Report IPSTR21-005 – Update on Phase 1 of Transportation Master Plan.</p>
<p>Elle Kulyk, 773 Lock Street, made a delegation to item 9.d, Report IPSPL21-017 – Zoning By-law Amendment for 697 The Kingsway.</p>
<p>Tegan Moss, B!KE, made a delegation to item 11.a, Report IPSTR21-005 – Update on Phase 1 of Transportation Master Plan.</p>
<p>Tricia Clarkson, Alliance for Climate Action (PACA), made a delegation to item 11.a, Report IPSTR21-005 – Update on Phase 1 of Transportation Master Plan.</p>
<p>That items 9.a, 9.b, 9.c, 9.e, 9.f, 10.a, 10.b, 10.c, 10.d, 10.e, 10.g, 10.h, 10.i, 10.j, 10.k, and 11.b be approved as part of the Consent Agenda.</p>
<p>Consent Agenda</p>
<p>Moved by Councillor Baldwin Seconded by Councillor Vassiliadis</p>
<p>Carried</p>
<p>Moved by Councillor Baldwin Seconded by Councillor Vassiliadis</p>
<p>That Council approve the recommendation outlined in Report CLSFS21-010 dated April 6, 2021, of the Commissioner of Corporate and Legislative Services, as follows:</p>
<p>That the 2020 Investment Report, outlined in report CLSFS21-010, dated April 6, 2021, of the Commissioner of Corporate and Legislative Services, be received for information.</p>
<p>Carried</p>
<p>Award of Non-Standard Procurement for Banking Services</p>
<p>Report CLSFS21-011</p>
<p>Moved by Councillor Baldwin Seconded by Councillor Vassiliadis</p>
<p>That the General Committee of Council approve the recommendation outlined in Report CLSFS21-011, dated April 6, 2021 of the Commissioner of Corporate and Legislative Services as follows:</p>
<br>
<p>That a Non-Standard Procurement for Banking Services for an eighteen (18) month period from March 1, 2021 to August 31, 2022 be awarded to the Canadian Imperial Bank of Commerce, 399 George Street North, Peterborough, Ontario, K9J 6Z6 under comparable terms and conditions as the current agreement.</p>
<p>Budget Amendment and Award of RFQQ-03-20 for the Supply and Delivery of a Waste Water Dump Truck</p>
<p>Report IPSENG21-005</p>
<p>Moved by Councillor Baldwin Seconded by Councillor Vassiliadis</p>
<p>That Council approve the recommendations outlined in Report IPSENG21-005, dated April 6, 2021 of the Commissioner of Infrastructure and Planning Services, as follows:</p>
<p>That the 2020 Capital Budget (Budget reference 5-12.03) for the supply and delivery of one Waste Water Dump Truck, be increased by $63,700 to $173,700 from $110,000.00 and the additional $63,700 be transferred from the Waste Water Reserve Fund.</p>
<p>That RFQQ-03-20 for the Supply and Delivery of a Waste Water Dump Truck be awarded to Winslow Gerolamy Motors Limited, 1018 Lansdowne Street West, Peterborough, Ontario, K9J 1Z9 at a cost of $170,636.96, plus HST of $22,182.81, for a total cost of $192,819.77.</p>
<p>Removal of Staff Reports Requested by Council</p>
<p>Report CAO21-002</p>
<p>Moved by Councillor Baldwin Seconded by Councillor Vassiliadis</p>
<p>That Council approve the recommendation outlined in Report CAO21-002, dated April 6, 2021 of the Chief Administrative Officer; as follows:</p>
<p>a)</p>
<p>That the staff reports requested by Council, attached as Appendix A to Report CAO21-002, no longer be brought forward to Council.</p>
<p>At the meeting of April 6, 2021 Committee added items b) and c) as follows:</p>
<p>b)</p>
<p>That the attached list be amended by deleting item 2491, New Property Tax Class, from the list and,</p>
<p>Carried</p>
<p>a)</p>
<p>b)</p>
<p>Carried</p>
<br>
<br>
<br>
<p>That staff report to Council by the fourth quarter of 2021 with options related to Tax Classes and other potential support mechanisms for the Arts and Culture sector.</p>
<p>Municipal Incentive Grant Approval for 191-203 Rink Street and 59-63 Olive Avenue</p>
<p>Report IPSPL21-014</p>
<p>Moved by Councillor Baldwin Seconded by Councillor Vassiliadis</p>
<p>That Council, approve the recommendations outlined in Report IPSPL21-014, dated April 6, 2021, submitted by the Commissioner of Infrastructure and Planning Services, as follows:</p>
<p>That the Municipal Incentive Program Grant application submitted by RPM Holdings (2006) for 191 Rink Street be approved in the estimated amount of $257,017.84; and</p>
<p>That the Mayor and Clerk be authorized to execute such agreements and documents, with RPM Holdings (2006) Inc, on terms acceptable to the CAO and the Commissioner of Infrastructure and Planning Services, in forms acceptable to the City Solicitor.</p>
<p>Report of Closed Session - Governance Matters</p>
<p>Report CLSOCS21-002</p>
<p>Moved by Councillor Baldwin Seconded by Councillor Vassiliadis</p>
<p>That Council approve the recommendation outlined in Closed Session Report CLSOCS21-002 dated April 6, 2021 of the City Solicitor, as follows:</p>
<p>That, respecting Peterborough Housing Corporation, staff report back to Council as outlined in Report CLSOCS21-002 dated April 6, 2021 of the City Solicitor.</p>
<br>
<p>c)</p>
<p>Carried</p>
<p>a)</p>
<p>b)</p>
<p>Carried</p>
<p>Carried</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Report of Closed Session - Human Rights Code (Ontario)</p>
<p>Report CLSOCS21-003</p>
<p>Moved by Councillor Baldwin Seconded by Councillor Vassiliadis</p>
<p>That Council approve the recommendation outlined in Closed Session Report CLSOCS21-003 dated April 12, 2021 of the City Solicitor, as follows:</p>
<p>That Report CLSOCS21-003, Human Rights Code (Ontario), dated April 12, 2021 of the City Solicitor be received for information.</p>
<p>Peterborough Downtown Business Improvement Area Appointments</p>
<p>Carried</p>
<p>Report CLSCLK21-012</p>
<p>Moved by Councillor Baldwin Seconded by Councillor Vassiliadis</p>
<p>That Council approve the recommendation outlined in Report CLSCLK21-012 dated April 12, 2021, of the City Clerk, on behalf of the Peterborough Downtown Business Improvement Area Board, as follows:</p>
<p>That Brianna Salmon, Judy Byrne, Laura Montague, Scott Murison, Susan Tung and Tracie Bertrand be recommended for approval to the Peterborough Downtown Business Improvement Area Board of Management, for a term to the 2022 AGM.</p>
<p>That Council approve the recommendation outlined in Report CLSCLK21-017 dated April 12, 2021, of the City Clerk, as follows:</p>
<p>That the presentation from Dave Smith, MPP be received for information.</p>
<p>Carried</p>
<p>Update from MPP Smith</p>
<p>Report CLSCLK21-017</p>
<p>Moved by Councillor Baldwin Seconded by Councillor Vassiliadis</p>
<p>Carried</p>
<br>
<br>
<p>Otonabee Region Conservation Authority Presentation</p>
<p>Report CLSCLK21-008</p>
<p>Moved by Councillor Baldwin Seconded by Councillor Vassiliadis</p>
<p>That Council approve the recommendation outlined in Report CLSCLK21-008 dated April 12, 2021, of the City Clerk, as follows:</p>
<p>That the presentation from Otonabee Region Conservation Authority be received for information.</p>
<p>Carried</p>
<p>Office of the Fire Marshall Fire Safety Grant</p>
<p>Report CAOFS21-005</p>
<p>Moved by Councillor Baldwin Seconded by Councillor Vassiliadis</p>
<p>That Council approve the recommendation outlined in Report CAOFS21-005 dated April 12, 2021 of the Fire Chief as follows:</p>
<p>That a By-law be passed authorizing the Mayor and Clerk to sign the Fire Safety Grant Program Transfer Payment Agreement and any subsequent amendments between Her Majesty the Queen in Right of Ontario as represented by the Office of the Fire Marshal and the Corporation of the City of Peterborough in terms acceptable to the Chief Administrative Officer and in a form acceptable to the City Solicitor to be used by Peterborough Fire Services to offset the challenges of Covid-19.</p>
<p>Peterborough Regional Liaison Committee Motion - Establishment of a Joint Waste Management Committee</p>
<p>Report CLSCLK21-013</p>
<p>Moved by Councillor Baldwin Seconded by Councillor Vassiliadis</p>
<p>That the report be received for information.</p>
<br>
<br>
<br>
<p>Carried</p>
<p>Carried</p>
<br>
<br>
<br>
<br>
<br>
<p>Peterborough Regional Liaison Committee Motion - Reporting from Peterborough & the Kawartha's Economic Development</p>
<p>Report CLSCLK21-014</p>
<p>Moved by Councillor Baldwin Seconded by Councillor Vassiliadis</p>
<p>That the report be received for information.</p>
<p>Carried</p>
<p>Optional Small Business Tax Class</p>
<p>Report CLSFS21-012</p>
<p>Moved by Councillor Baldwin Seconded by Councillor Vassiliadis</p>
<p>Carried</p>
<p>Information About Zero-Based Budgeting</p>
<p>Report CLSFS21-015</p>
<p>Moved by Councillor Baldwin Seconded by Councillor Vassiliadis</p>
<p>That Council approve the recommendation outlined in report CLSFS21-012 dated April 12, 2021, of the Commissioner of Corporate and Legislative Services, as follows:</p>
<p>That information about the Optional Small Business Tax Class, in Report CLSFS21-012, dated April 12, 2021 of the Commissioner of Corporate and Legislative Services, be received for information.</p>
<p>That Council approve the recommendation outlined in Report CLSFS21-015 dated April 12, 2021, of the Commissioner of Corporate and Legislative Services, as follows:</p>
<p>That Information about Zero-based Budgeting, in Report CLSFS21-015, dated April 12, 2021 of the Commissioner of Corporate and Legislative Services, be received for information.</p>
<p>Carried</p>
<br>
<br>
<p>City of Peterborough/Cavan Monaghan Township - Proposal for Policing Services Contract</p>
<p>Report CLSFS21-016</p>
<p>Moved by Councillor Baldwin Seconded by Councillor Vassiliadis</p>
<p>That Council approve the recommendation outlined in Report CLSFS21-016, dated April 19, 2021, of the Commissioner of Corporate and Legislative Services, as follows:</p>
<p>That staff, in conjunction with representatives from Police Services, be authorized to submit a proposal to Cavan Monaghan Township for the purposes of providing a long-term Policing Services contract effective October 1, 2021.</p>
<p>Zoning By-law Amendment for 697 The Kingsway</p>
<p>Report IPSPL21-017</p>
<p>Moved by Councillor Zippel Seconded by Councillor Clarke</p>
<p>That Council approve the recommendations outlined in Report IPSPL21-017, dated April 6, 2021, of the Commissioner of Infrastructure and Planning Services, as follows:</p>
<p>That Section 3.9 – Exceptions, be modified to add 3.9.341 to permit a municipally licensed ‘Body Rub Parlour’ as a permitted use; and to establish parking regulations for a Body Rub Parlour, in accordance with Exhibit ‘C’ attached to Report IPSPL21-017.</p>
<p>That the zoning of the lands known as 697 The Kingsway be amended from M3.2 – Enhanced Service Industrial District to M3.2-341 H – Enhanced Service Industrial District, in accordance with Exhibit ‘C’ attached to Report IPSPL21-017;</p>
<p>That the ‘H’ Holding Symbol be removed at such time as Site Plan Approval is granted in accordance with City requirements, to address changes to the parking, driveway area and landscape space.</p>
<br>
<br>
<br>
<p>Carried</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>Carried</p>
<br>
<br>
<br>
<br>
<br>
<p>That staff review the policies and procedures related to parking in the downtown and across the city and report to Council.</p>
<p>Parking Policies</p>
<p>Moved by Councillor Riel Seconded by Councillor Pappas</p>
<p>Carried</p>
<p>Report CAOFS21-004</p>
<p>Moved by Councillor Pappas Seconded by Councillor Beamer</p>
<p>Fire Station 2 Location Selection and Project Next Steps</p>
<p>That Council approve the recommendations outlined in Report CAOFS21-004, dated April 12, 2021, of the Fire Chief, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>d)</p>
<p>That the Northcrest Arena site, 100 Marina Blvd, Peterborough be the site selected for the new location of Fire Station 2;</p>
<p>That staff be directed to submit an application to the Federation of Canadian Municipalities, Green Municipal Fund for Capital Project New Construction Energy Efficient Facilities to support a target Net Zero Energy Performance Facility and, if successful, a By-law be passed on terms acceptable to the Chief Administrative Officer and in forms acceptable to the City Solicitor authorizing the Mayor and Clerk to enter into a funding and loan agreement;</p>
<p>That an amount of $7,300,000 be pre-committed in the 2022 Capital Budget for the Fire Station Relocation project; and</p>
<p>That Prime Consulting Services for the project be awarded to Lett Architects Inc, 138 Simcoe Street, Peterborough, ON, K9H 2H5, as set out in Report CPPS16-018 dated July 25, 2016 Award of RFP P-19-16 for the Consulting Teams of Record, at a total cost of $770,000 plus $38,500 disbursement allowance and $105,105.00 HST for a total of $913,605.</p>
<p>Carried</p>
<br>
<br>
<br>
<br>
<p>Heritage Designation of 470 Water Street</p>
<p>Report CSACH21-003</p>
<p>Moved by Councillor Wright Seconded by Councillor Pappas</p>
<p>That Council approve the recommendations outlined in Report CSACH21-003, dated April 12, 2021, of the Commissioner of Community Services, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>d)</p>
<p>e)</p>
<p>That the recommendation of the Peterborough Architectural Conservation Advisory Committee (PACAC) to designate the property at 470 Water St. as a heritage property under Part IV, Section 29 of the Ontario Heritage Act R.S.O. 1990, c.O.18 being of “cultural heritage value or interest” be approved;</p>
<p>That Council’s intention to designate be advertised in a newspaper having general circulation in the municipality as per the Ontario Heritage Act R.S.O. 1990, c.O.18, s.31 (3);</p>
<p>That the owner of the property to be designated, and the Ontario Heritage Trust, be served with a Notice of Intention to Designate as per the Ontario Heritage Act R.S.O. 1990, c.O.18, s.29 (3):</p>
<p>That the letter from the Warden, County of Peterborough dated March 17, 2021 be received for information;</p>
<p>That a Heritage Impact Assessment and a Heritage Interpretation Plan be completed to the satisfaction of the City as a requirement of any development proposal of the property; and,</p>
<p>At the meeting of April 26, 2021 Council added item f) as follows:</p>
<p>f)</p>
<p>That staff report to Council, through PACAC, on the feasibility of obtaining a national heritage designation for the courthouse precinct.</p>
<p>Carried</p>
<p>Update on Phase 1 of Transportation Master Plan</p>
<p>Report IPSTR21-005</p>
<p>Moved by Councillor Akapo Seconded by Councillor Zippel</p>
<p>That Council approves the recommendations outlined in Report IPSTR21-005, dated April 19, 2021, of the Commissioner, Infrastructure and Planning Services as follows:</p>
<p>a)</p>
<p>That the presentation by WSP Canada Group on the Transportation Master Plan be received;</p>
<br>
<p>b)</p>
<p>d)</p>
<p>e)</p>
<br>
<br>
<p>That the recommended Vision for the Transportation Master Plan “As the City grows, Peterborough’s transportation network will be enhanced to create a low emissions , responsive system where people of all ages and abilities can move safely, sustainably and efficiently, no matter how they choose to travel, today and in the future” be approved;</p>
<p>c)</p>
<p>That the Objectives for the Transportation Master Plan, as outlined in Table 1 be approved as amended, as follows:</p>
<p>i. Travel Choices - Continually improve travel choices for people and goods by providing an increased number of reliable, equitable, and accessible options that support the health and well-being of our growing community</p>
<p>ii. Climate Mitigation and Natural Environment - Protect against negative impacts to the natural environment and reduce vehicle emissions to achieve Council’s Climate Change targets and,</p>
<p>That the recommended Performance Criteria for the Transportation Master Plan, as outlined in Appendix A, be approved.</p>
<p>That the project schedule associated with the completion of Phase 4 be changed to November 2021 and that Phase 5 be presented to Council no later than March 2022.</p>
<p>At the meeting of April 26, 2021 Council added item f) as follows:</p>
<p>f)</p>
<p>That council direct the completion of the Transportation Master Plan without further delays in the schedule, that applies priorities for travel mode shift, safe transportations systems, reduced capital maintenance costs, and meeting climate change mitigation targets.</p>
<p>Carried</p>
<p>Notice of Motion – Wellness Centre Change Room</p>
<p>Moved by Councillor Pappas Seconded by Councillor Riel</p>
<p>That Council reconsider the matter of the Wellness Centre Change Room Renovations and the direction provided to staff, as outlined in the December 1, 2020 Report CSD20-007, entitled, Investing in Canada Infrastructure Fund – COVID-19 Resilience Infrastructure Stream Funding, which was approved by Council at its meeting of December 14, 2020.</p>
<p>Carried</p>
<br>
<p>Moved by Councillor Pappas Seconded by Councillor Riel</p>
<p>That recommendation b) from Report CSD20-007, Investing in Canada Infrastructure Fund - COVID-19 Resilience Infrastructure Stream Funding, which reads, That, if the application is successful, a new $3.25 million 2020 capital project be created and funded as described in Table 1 of Report CSD20-007, dated December 1, 2020 and that of the approximate $2.2 million municipal share, $1,925,000 be pre-committed in the 2022 Capital Budget;</p>
<p>Be amended by deleting and replacing with the following wording:</p>
<p>b)</p>
<p>That a $1.7M capital project be created for a PSWC-COVID Rehabilitation Project that entails the following key elements: pool HVAC system and, That staff be directed to apply any savings to other Capital, and, That staff provide a new scope of work to the Province regarding the Investing in Canada Infrastructure Fund - COVID 19 Resilience Infrastructure Stream grant in that the benefits of the work would still include:</p>
<p>i) extended life of the City's only municipally owned aquatics centre by 15 years and</p>
<p>ii) enhanced air quality within the aquatics facility (air humidity, air temperature, pool temperature, air particle removal) resulting in safe operation of the pools.</p>
<p>Moved by Councillor Wright Seconded by Councillor Pappas</p>
<p>That the Rules of Procedure be suspended to extend the hour of the meeting past 10:00 p.m. to complete the agenda.</p>
<p>Moved by Councillor Zippel Seconded by Councillor Baldwin</p>
<p>That the matter be deferred to the May 10th General Committee meeting to enable staff to report to Council with additional information and to enable the public to review the information.</p>
<br>
<br>
<br>
<br>
<br>
<p>Carried</p>
<p>Lost</p>
<br>
<br>
<br>
<br>
<br>
<p>21-056</p>
<p>21-057</p>
<p>21-058</p>
<p>Carried</p>
<p>Carried</p>
<p>Councillor Akapo requested a recorded vote on the motion of Councillors Pappas and Riel. The Clerk conducted a roll call.</p>
<p>In Support of Motion Councillor Beamer Councillor Clarke Councillor Baldwin Councillor Vassiliadis Councillor Pappas Councillor Riel Councillor Wright</p>
<p>The motion carried.</p>
<p>Opposed to Motion Councillor Parnell Councillor Zippel Councillor Akapo Mayor Therrien</p>
<br>
<p>Approval of By-laws</p>
<p>Moved by Councillor Pappas Seconded by Councillor Wright</p>
<p>That the following by-laws be read a first, second and third time and finally passed:</p>
<p>Being a By-law to amend the Zoning By-law for the lands known as 697 The Kingsway</p>
<p>Being a By-law to Stop Up and Close Kawartha Crescent, Peterborough</p>
<p>Being a By-law to authorize the Mayor and Clerk to sign a Fire Safety Grant Program Transfer Payment Agreement and any subsequent amendments</p>
<p>Other Business</p>
<p>There were no items of Other Business</p>
<p>Confirmation By-law</p>
<p>Moved by Councillor Clarke Seconded by Councillor Beamer</p>
<p>21-059  Being a by-law to confirm the proceedings of the Council at its meeting held on April 26, 2021.</p>
<p>Adjournment</p>
<p>Moved by Councillor Parnell Seconded by Councillor Pappas</p>
<p>That this meeting adjourn at 10:16 p.m.</p>
<p>Carried</p>
<br>
<p>_________________________</p>
<p>John Kennedy</p>
<p>City Clerk</p>
<p>Diane Therrien</p>
<p>Mayor</p>
<p>_________________________</p>
<br>
<br>
<br>
<br>
<br></div>