<!doctype html><div><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>May 11, 2021</p>
<br>
<p>Present</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Staff</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Call to Order</p>
<br>
<p>Carried</p>
<br>
<br>
<p>Carried</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Peterborough Public Library Board Minutes</p>
<br>
<p>City of Peterborough</p>
<br>
<p>(Electronic Meeting)</p>
<br>
<p>Councillor Akapo</p>
<p>Councillor Clarke</p>
<p>Barb Connor</p>
<p>Dan Moloney, Chair</p>
<p>Gillian Sandeman</p>
<p>Jayne White</p>
<br>
<p>Jennifer Jones, Library CEO</p>
<p>Kendra Sedgwick, Committee Coordinator</p>
<p>Sheldon Laidman, Commissioner of Community Services</p>
<p>Mark Stewart, Library Services Manager</p>
<br>
<p>The Chair called the meeting to order at 5:32 p.m.</p>
<br>
<p>Confirmation of Minutes</p>
<br>
<p>Moved by Gillian Sandeman</p>
<br>
<p>That the minutes of the Peterborough Public Library Board Meeting of March 9,</p>
<p>2021 be approved.</p>
<br>
<p>Disclosure of Pecuniary Interest</p>
<br>
<p>There were no disclosures of Pecuniary Interest.</p>
<br>
<p>Consent Agenda - 5.2, 5.3, 5.4, 5.5, 5.6</p>
<br>
<p>Moved by Councillor Clarke</p>
<br>
<p>That 5.2 be passed as part of the Consent Agenda.</p>
<br>
<br>
<br>
<p>1</p>
<br>
<p>That the Library Board approve the recommendation outlined in Report PPL21-</p>
<p>011, dated May 11, 2020, of the Library CEO, as follows:</p>
<br>
<p>That the report on the status of the Friends of the Peterborough Public Library be</p>
<p>received for information.</p>
<br>
<br>
<p>Update from the Friends of the Library</p>
<p>Report PPL21-011</p>
<p>Moved by Councillor Clarke</p>
<p>Carried</p>
<p>Reports and Communications</p>
<p>Financial Investment Policy</p>
<p>Report PPL21-012</p>
<p>The Chair separated the items for vote</p>
<p>Moved by Councillor Clarke</p>
<p>Moved by Jayne White</p>
<p>invested funds.</p>
<p>Carried</p>
<p>Carried</p>
<p>Fine Free Library Service</p>
<p>Report PPL21-009</p>
<p>Moved by Barb Connor</p>
<p>That the Library Board approve the recommendations outlined in Report PPL21- 012, dated May 11, 2020, of the Library CEO, as follows:</p>
<p>a)   That the Board finalize an updated financial investment policy.</p>
<p>b)   That the Board establish a process for the use and management of these</p>
<p>That the Library Board approve the recommendations as outlined in Report PPL21-009 dated May 11, 2021, of the Library Services Manager as follows:</p>
<p>a)   That the report to inform the Library Board on the status of fine free library</p>
<p>services be received for information.</p>
<p>Carried</p>
<br>
<br>
<p>Carried</p>
<p>Carried</p>
<p>Carried</p>
<br>
<br>
<br>
<p>b)   That the Board direct staff to implement the operational change to offer fine</p>
<p>Moved by Barb Connor</p>
<p>free library service.</p>
<p>Moved by Gillian Sandeman</p>
<p>c)   That the Board direct staff to prepare an information report to Council to</p>
<p>advise them of this change and its implications, once the revenue efficiencies have been received and approved by the board.</p>
<p>Moved by Councillor Clarke</p>
<p>At the meeting of May 11, 2021 d) was added as follows:</p>
<p>d)   That staff report back to the Library Board at the June meeting on a potential</p>
<p>remedy for the revenue loss.</p>
<p>Library Services Review - Update</p>
<p>Report PPL21-014</p>
<p>Moved by Councillor Clarke</p>
<p>That the Library Board approve the recommendations as outlined in Report PPL21-014 dated May 11, 2021, of the Library CEO as follows:</p>
<p>a)   That the report to inform the Library Board on the status of the Library</p>
<p>Services Review (Review) be received for information.</p>
<p>b)   That an updated building condition assessment of the DelaFosse be</p>
<p>Carried</p>
<p>Moved by Gillian Sandeman</p>
<p>completed.</p>
<p>Carried</p>
<br>
<br>
<p>Moved by Jayne White</p>
<p>be completed.</p>
<p>Carried</p>
<p>Moved by Jayne White</p>
<p>Carried</p>
<p>2021 Q1 Budget Update</p>
<p>Report PPL21-013</p>
<p>Moved by Councillor Clarke</p>
<p>Carried</p>
<p>Library CEO Report May 2021</p>
<p>Report PPL21-010</p>
<p>Moved by Councillor Clarke</p>
<p>Carried</p>
<p>Other Business</p>
<p>Next Meeting - June 8, 2021</p>
<br>
<br>
<br>
<br>
<p>c)   That a branch development plan with a community consultation component</p>
<p>d)   That staff be directed to continue to explore options and alternatives to improve library services to the Peterborough community in line with the Strategic Plan and the Review feedback received.</p>
<p>That the Library Board approve the recommendation outlined in Report PPL21- 013, dated May 11, 2020, of the Library CEO, as follows:</p>
<p>That the report on the status of the Library’s Q1 operating budget be received for information.</p>
<p>That the Library Board approves the recommendation as outlined in Report PPL21-010 dated May 11, 2021, of the Library CEO as follows:</p>
<p>That the report to inform the Library Board on general matters concerning Library operations and service be received for information.</p>
<p>Jayne provided a verbal update on the Library Board Assembly meeting held in May.</p>
<p>Adjournment</p>
<p>Moved by Jayne White</p>
<p>That this meeting adjourn at 6:55 p.m.</p>
<p>Carried</p>
<br>
<p>_________________________</p>
<p>Kendra Sedgwick</p>
<p>Committee Coordinator</p>
<p>_________________________</p>
<p>Dan Moloney</p>
<p>Chair</p>
<br>
<br>
<br>
<br>
<br></div>