<!doctype html><div><br>
<br>
<br>
<br>
<br>
<p>May 13, 2021</p>
<br>
<p>Present</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Regrets</p>
<br>
<p>Staff</p>
<br>
<br>
<br>
<p>Call to Order</p>
<br>
<p>Carried</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Arts, Culture and Heritage Advisory Committee Minutes</p>
<br>
<p>City of Peterborough</p>
<br>
<p>Electronic Meeting</p>
<br>
<p>Councillor Akapo</p>
<p>Kady Denton</p>
<p>Su Ditta</p>
<p>Yvonne Lai</p>
<p>Jeff Macklin</p>
<p>Sarah McNeilly</p>
<p>Justin Million</p>
<p>Councillor Riel, Chair</p>
<br>
<p>Jeannine Taylor</p>
<br>
<p>Natalie Garnett, Deputy Clerk</p>
<p>Karen Rennie, Manager of Arts Culture & Heritage</p>
<br>
<p>The Chair called the meeting to order at 5:34 p.m.</p>
<br>
<p>Confirmation of Minutes</p>
<br>
<p>Moved by Sarah McNeilly</p>
<br>
<p>That the minutes of the Arts, Culture and Heritage Advisory Committee meeting</p>
<p>of April 8, 2021 be approved.</p>
<br>
<p>Disclosure of Pecuniary Interest</p>
<br>
<p>There were no disclosures of Pecuniary Interest.</p>
<br>
<p>Consent Agenda</p>
<br>
<p>No items were passed as part of the Consent Agenda.</p>
<br>
<br>
<br>
<p>1</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Reports and Communications</p>
<br>
<p>Jalynn Bennett Amphitheatre Project</p>
<br>
<p>Report ACHAC21-015</p>
<br>
<p>Su Ditta abstained from voting on this motion.</p>
<br>
<p>Moved by Kady Denton</p>
<br>
<p>That the ACHAC approve the recommendation outlined in Report ACHAC21-015,</p>
<p>dated May 13, 2021 of the Manager of the Arts, Culture and Heritage Division, as</p>
<p>follows:</p>
<br>
<p>That the Jalynn Bennett Amphitheatre Project at Traill College in</p>
<p>Peterborough be endorsed by the City of Peterborough Arts, Culture and</p>
<p>Heritage Advisory Committee.</p>
<br>
<p>At the meeting of May 13, 2021, the Committee added item b) as follows:</p>
<br>
<p>That the ACHAC provide a letter to Council requesting that they consider</p>
<p>providing financial support to the Jalynn Bennett Amphitheater Project as</p>
<p>part of the 2022 budget process.</p>
<p>a)</p>
<p>b)</p>
<p>Carried</p>
<p>Presentation by Justin Million</p>
<p>Report ACHAC21-016</p>
<p>Moved by Sarah McNeilly</p>
<p>Justin Million provided a presentation on behalf of Jon Hedderwick regarding the Poetry/Spoken Word sector.</p>
<p>That the ACHAC approve the recommendation outlined in Report ACHAC21-016, dated May 13, 2021 of the Manager of the Arts, Culture and Heritage Division, as follows:</p>
<p>That the presentation from Justin Million, Poet and ACHAC member be received for information.</p>
<p>Carried</p>
<p>Poet Laureate Update</p>
<p>Report ACHAC21-019</p>
<p>Justin Million declared a conflict with this item as he may apply for the Poet Laureate position.</p>
<br>
<br>
<br>
<br>
<p>Moved by Jeff Macklin</p>
<p>That the ACHAC approve the recommendation outlined in Report ACHAC21-019, dated May 13, 2021 of the Manager of the Arts, Culture and Heritage Division, as follows:</p>
<p>That the verbal update with respect to the Poet Laureate Project be received for information.</p>
<p>Arts, Culture and Heritage Sector Covid Recovery</p>
<p>Carried</p>
<p>Report ACHAC21-018</p>
<p>Moved by Sarah McNeilly</p>
<p>That staff approach the Corporate Sponsorship Coordinator to determine if reduced cost, free or sponsored advertising can be made available to the arts sector to assist with their financial recovery from COVID.</p>
<p>Carried</p>
<p>Moved by Justin Million</p>
<p>That the ACHAC approve the recommendation outlined in Report ACHAC21-018, dated May 13, 2021 of the Manager of the Arts, Culture and Heritage Division, as follows:</p>
<p>That Report ACHAC21-018 be received for information and discussion of other possible initiatives.</p>
<p>Carried</p>
<p>Municipal Cultural Plan Update Stage One</p>
<p>Report ACHAC21-017</p>
<p>Jeff Macklin left the meeting at 7:10 p.m.</p>
<p>Moved by Justin Million</p>
<br>
<p>That the ACHAC approve the recommendation outlined in Report ACHAC21-017, dated May 13, 2021 of the Manager of the Arts, Culture and Heritage Division, as follows:</p>
<br>
<br>
<br>
<br>
<p>That the report be part of a two-stage approach to seek recommendations relating to Future Cultural Planning strategies for the Arts, Culture and Heritage (ACH) sector in Peterborough.</p>
<p>Carried</p>
<p>Other Business</p>
<p>Several community event notices were provided for members.</p>
<p>Next Meeting - June 10, 2021</p>
<p>Adjournment</p>
<p>Moved by Yvonne Lai</p>
<p>That this meeting adjourn at 7:20 p.m.</p>
<p>Carried</p>
<br>
<p>_________________________</p>
<p>Natalie Garnett</p>
<p>Deputy Clerk</p>
<p>_________________________</p>
<p>Councillor Riel</p>
<p>Chair</p>
<br></div>