<!doctype html><div><br>
<br>
<br>
<br>
<br>
<p>June 7, 2021</p>
<br>
<p>Roll Call</p>
<br>
<br>
<br>
<br>
<br>
<p>Staff</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Finance Committee Minutes</p>
<p>Electronic Meeting</p>
<p>Councillor Akapo Councillor Baldwin Councillor Beamer Councillor Clarke Councillor Pappas, Chair Councillor Parnell Councillor Riel Councillor Vassiliadis Mayor Therrien Councillor Wright Councillor Zippel</p>
<p>Sandra Clancy, Chief Administrative Officer Cynthia Fletcher, Commissioner of Infrastructure and Planning Services Richard Freymond, Commissioner of Corporate and Legislative Services John Kennedy, City Clerk Sheldon Laidman, Commissioner of Community Services Bill McDougall, Budget and Operations Analyst Yvette Peplinskie, Manager of Financial Services David Potts, Manager of Legal Services Kendra Sedgwick, Committee Coordinator Brendan Wedley, Manager of Communication Services</p>
<p>Call to Order</p>
<p>The meeting was called to order at 5:45 p.m.</p>
<br>
<br>
<br>
<br>
<p>That the Finance Committee minutes of the meetings of November 2, 16, 17 and 23-25, 2020 be approved.</p>
<p>Confirmation of Minutes</p>
<p>Moved by Councillor Wright</p>
<p>Consent Agenda</p>
<p>Moved by Councillor Riel</p>
<p>Carried</p>
<p>Carried</p>
<p>Report CLSFS21-019</p>
<p>Moved by Councillor Riel</p>
<p>That items 5.a and 5.b be approved as part of the Consent Agenda.</p>
<p>Tax Adjustments under Section 356 and Tax Appeals under Sections 357, 358 and 359 of the Municipal Act, 2001</p>
<p>That Council approve the recommendations outlined in report CLSFS21-019 dated June 7, 2021 of the Commissioner of Corporate and Legislative Services as follows:</p>
<p>a)</p>
<p>That tax reductions in the amount of $197,357.94 calculated in accordance with Sections 357, 358 and 359 of the Municipal Act, 2001 and attached to report CLSFS21-019 as Appendix A be received.</p>
<p>b)</p>
<p>That land apportionments under Section 356 of the Municipal Act, 2001 be received.</p>
<p>Carried</p>
<br>
<br>
<br>
<br>
<br>
<p>Notice of Public Meeting - June 23, 2021</p>
<p>2022 Preliminary Budget Guideline Report Report CLSFS21-023</p>
<p>Moved by Councillor Riel</p>
<p>That Council approve the recommendations outlined in Report CLSFS21-023 dated June 7, 2021, of the Commissioner of Corporate and Legislative Services, as follows:</p>
<p>a)</p>
<p>That Report CLSFS21-023, advising Council that a public meeting will be held on June 23, 2021 at 6:00 pm, to present a 2022 preliminary Budget Guideline Report, as set out in Appendix A to Report CLSFS21-023, and to hear public delegations, be received.</p>
<p>b)</p>
<p>That a final version of the 2022 Guideline Report be presented to the July 12, 2021 Finance Committee meeting.</p>
<p>That the Finance Committee meeting adjourn at 5:48 p.m.</p>
<p>Carried</p>
<p>Other Business</p>
<p>There were no items of Other Business.</p>
<p>Next Meeting - June 23, 2021</p>
<p>Adjournment</p>
<p>Moved by Councillor Vassiliadis</p>
<p>_________________________</p>
<p>Carried</p>
<p>John Kennedy</p>
<p>City Clerk</p>
<p>_________________________</p>
<p>Councillor Pappas</p>
<p>Chair</p>
<br></div>