<!doctype html><div><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council Minutes</p>
<br>
<p>City of Peterborough</p>
<br>
<p>Electronic Meeting</p>
<br>
<br>
<p>May 25, 2021</p>
<br>
<p>Present:</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Staff:</p>
<br>
<p>Councillor Akapo</p>
<p>Councillor Baldwin</p>
<p>Councillor Beamer</p>
<p>Councillor Clarke</p>
<p>Councillor Pappas</p>
<p>Councillor Parnell</p>
<p>Councillor Riel</p>
<p>Mayor Therrien</p>
<p>Councillor Vassiliadis</p>
<p>Councillor Wright</p>
<p>Councillor Zippel</p>
<br>
<p>Alan Barber, Associate City Solicitor</p>
<p>Sandra Clancy, Chief Administrative Officer</p>
<p>Cynthia Fletcher, Commissioner of Infrastructure and Planning Services</p>
<p>Richard Freymond, Commissioner of Corporate and Legislative Services</p>
<p>Natalie Garnett, Deputy City Clerk</p>
<p>Ken Hetherington, Chief of Planning</p>
<p>Kevin Jones, Manager, Transportation</p>
<p>John Kennedy, City Clerk</p>
<p>Sheldon Laidman, Commissioner of Community Services</p>
<p>Mac MacGillivray, Facilities and Energy Manager</p>
<p>Michael Papadacos, Manager Infrastructure Planning</p>
<p>Brendan Wedley, Manager of Communication Services</p>
<br>
<p>Call to Order</p>
<br>
<p>The Mayor called the meeting to order at 6:00 p.m.</p>
<br>
<p>Approval of Minutes</p>
<br>
<p>Moved by Councillor Pappas</p>
<p>Seconded by Councillor Clarke</p>
<br>
<p>That the minutes of April 26, 2021 be approved.</p>
<br>
<p>Carried</p>
<br>
<br>
<p>1</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Delegations - Items on the Agenda</p>
<br>
<p>Registered Delegations (5 minutes)</p>
<br>
<p>Kate Grierson, 321 Roger Street, made a delegation to item 10.l, Report IPSIM21-008 -</p>
<p>Urban Forest Canopy Conservation and Tree Removal By-law.</p>
<br>
<p>Ruby Rowan, 218 Braidwood Avenue, made a delegation to item 10.l, Report IPSIM21-</p>
<p>008 - Urban Forest Canopy Conservation and Tree Removal By-law.</p>
<br>
<p>Kevin Duguay, 560 Romaine Street, made a delegation to item 10.c, Report IPSTR21-</p>
<p>007 – Approval of a Traffic Calming Policy and Five Neighbourhood Traffic Calming</p>
<p>Study Plans.</p>
<p>Catherine Shadbolt, 1131 High Street, made a delegation to item 10.c, Report IPSTR21-007 – Approval of a Traffic Calming Policy and Five Neighbourhood Traffic Calming Study Plans – Traffic Calming.</p>
<p>Marie Bongard, 461 Albert Street, made a delegation to item 10.c, Report IPSTR21-007 – Approval of a Traffic Calming Policy and Five Neighbourhood Traffic Calming Study Plans and to item 10.l, Report IPSIM21-008 - Urban Forest Canopy Conservation and Tree Removal By-law.</p>
<p>Robert Gibson, 630 Grange Way, made a delegation to item 10.i, Report CSD21-006 – Peterborough Sport & Wellness Centre Renovation – Phase 2 Consultation.</p>
<p>Ian Attridge, 575 Gilchrist Street, made a delegation to item 9.f, Report IPSPL21-016 - Official Plan and Land Needs Assessment Update.</p>
<p>That items 9.a, 9.b, 9.c, 9.d, 9.e, 9.h, 10.a, 10.d, 10.f, 10.g, 10.i, 10.j, 10.n and 10.o be approved as part of the consent agenda.</p>
<p>Consent Agenda</p>
<p>Moved by Councillor Vassiliadis Seconded by Councillor Wright</p>
<p>Carried</p>
<p>Report CSAD21-005</p>
<p>Moved by Councillor Vassiliadis Seconded by Councillor Wright</p>
<p>Report of Closed Session - Peterborough Petes Limited</p>
<p>That Council approve the recommendation outlined in Report CSAD21-005, dated May 3, 2021, of the Commissioner of Community Services, as follows:</p>
<br>
<p>That Council receive the report and direct Staff to proceed to finalize a new Facility Licence Agreement with the Peterborough Petes Limited based on the terms as outlined in Report CSAD21-005 from the Commissioner of Community Services, and to provide a report to Council in the June cycle with the main elements of the agreement prior to final execution of the full agreement.</p>
<p>Renewal of contract with Movingmedia Canada Inc. for supply and operation of a Digital Sign at Peterborough Memorial Centre</p>
<p>Report CAOOCS21-001</p>
<p>Moved by Councillor Vassiliadis Seconded by Councillor Wright</p>
<p>That Council approve the recommendation outlined in Report CAOCS21-001 dated May 3, 2021, of the Chief Administrative Officer as follows:</p>
<p>That the corporate sponsorship agreement with Movingmedia Canada Inc., 550 Lansdowne St. W., Peterborough, ON K9J 8J8, for the supply and operation of a digital sign at the Peterborough Memorial Centre be renewed for a second five- year term from June 1, 2021 to May 31, 2026 for an estimated value of between $180,500 to $220,000 over the five-year term.</p>
<p>Award of NSP-22-21 for Non-Standard Procurement for Supply and Delivery of a Four- Wheel Drive Tractor Backhoe</p>
<p>Report IPSENG21-016</p>
<p>Moved by Councillor Vassiliadis Seconded by Councillor Wright</p>
<p>That the General Committee approve the recommendation outlined in Report IPSENG21-016, dated May 3, 2021 of the Commissioner of Infrastructure and Planning Services as follows:</p>
<p>That a Non-Standard Procurement for NSP-22-21 for the Supply and Delivery of a Four-Wheel Drive Tractor Backhoe with a snow blade attachment be awarded to Brandt Tractor Canada Inc., 1003 Highway 7 East, Peterborough, ON, K9J 7Y8 at a cost of $187,180.00, plus HST of $24,333.40, for a total cost of $211,513.40.</p>
<p>Carried</p>
<br>
<p>Carried</p>
<p>Carried</p>
<br>
<br>
<br>
<br>
<p>PKED 2021 First Quarter Metrics</p>
<p>Report PKED21-005</p>
<p>Moved by Councillor Vassiliadis Seconded by Councillor Wright</p>
<p>That Council approve the recommendation outlined in Report PKED21-005 dated May 3, 2021 of the Board Chair and President & CEO of Peterborough & the Kawarthas Economic Development, as follows:</p>
<p>That Report PKED21-005 and supporting presentation, providing the Peterborough & Kawarthas Economic Development 2021 First Quarter Metrics be received for information.</p>
<p>Active Transportation and Health, 2020 Indicators Report</p>
<p>Report IPSTR21-004</p>
<p>Moved by Councillor Vassiliadis Seconded by Councillor Wright</p>
<p>That Council approve the recommendation outlined in Report IPSTR21-004, dated May 3, 2021, of the Commissioner of Infrastructure and Planning Services as follows:</p>
<p>That the Active Transportation and Health, 2020 Indicators Report and presentation be received for information.</p>
<p>Peterborough Sport and Wellness Centre Review</p>
<p>Moved by Councillor Vassiliadis Seconded by Councillor Wright</p>
<p>That staff prepare a report to review all aspects of the Peterborough Sport and Wellness Centre including operations and finances.</p>
<br>
<br>
<br>
<p>Carried</p>
<p>Carried</p>
<p>Carried</p>
<br>
<br>
<br>
<p>Carried</p>
<p>Report of Closed Session - Governance Matters</p>
<p>Report CLSOCS21-004</p>
<p>Moved by Councillor Vassiliadis Seconded by Councillor Wright</p>
<p>That Council approve the recommendation outlined in Closed Session Report CLSOCS21-004 dated May 10, 2021 of the City Solicitor, as follows:</p>
<p>That, respecting Peterborough Housing Corporation, staff proceed as outlined in Report CLSOCS21-004 dated May 10, 2021 of the City Solicitor.</p>
<p>Options to Fund Additional 2021 Road Resurfacing in Simons Subdivision</p>
<p>Report CLSFS21-018</p>
<p>Moved by Councillor Vassiliadis Seconded by Councillor Wright</p>
<p>That Council approves the recommendation outlined in Report CLFS21-018, dated May 10, 2021 of the Commissioner of Corporate and Legislative Services, as follows:</p>
<p>That the resurfacing for the following roads in Simons Subdivision including: Simons Avenue from Chemong Road to Hillside Street, Scollard Road, Daniel Street, Dewar Crescent and Deana Boulevard from O’Leary Avenue to Simons Avenue, be included in the Draft 2022 Capital Budget.</p>
<p>Carried</p>
<p>Legacy Fund Investment Policy</p>
<p>Report CLSFS21-020</p>
<p>Moved by Councillor Vassiliadis Seconded by Councillor Wright</p>
<p>That Council approve the recommendations outlined in Report CLSFS21-020 dated May 10, 2021, of the Commissioner of Corporate and Legislative Services, as follows:</p>
<p>That the Legacy Fund Investment Policy as appended to Report CLSFS21- 020 as Appendix A, be approved;</p>
<p>That the City’s existing general Investment Policy be amended to clarify that the policy does not apply to the Legacy Fund;</p>
<p>That with respect to the management of the Legacy Fund, Council establish a Legacy Fund Advisory Committee consisting of:</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<br>
<br>
<br>
<br>
<p>d)</p>
<p>e)</p>
<p>Carried</p>
<p>Carried</p>
<p>i. Mayor Therrien, or another member of Council as the Mayor may determine</p>
<p>ii. Councillor Pappas – Chair of the Finance Committee</p>
<p>iii. Councillor Riel – Vice Chair of the Finance Committee</p>
<p>iv. Sandra Clancy – Chief Administrative Officer</p>
<p>v. Richard Freymond – City Treasurer</p>
<p>vi). Yvette Peplinskie – Manager of Financial Services</p>
<p>vii. Mr. Darren Hancock – Chief Accountant</p>
<p>That to mitigate the potential budget impacts as a result of volatility in the markets, a Legacy Fund Income Retention Reserve be established;</p>
<p>That up to 50% of the proceeds from the sale of assets of Peterborough Distribution Inc. be held in a High Investment Savings Account, or other highly liquid investment, until a Council decision about investing in City of Peterborough Holdings Inc. has been made.</p>
<p>Business Continuity Planning in the Event of Staff Absences</p>
<p>Report CLSHR21-002</p>
<p>Moved by Councillor Vassiliadis Seconded by Councillor Wright</p>
<p>That Council approve the recommendation outlined in Report CLSHR21-002 dated May 10, 2021 of the Commissioner of Corporate and Legislative Services as follows:</p>
<p>That information about Business Continuity Planning in the event of staff absences in Report CLSHR21-002, dated May 10, 2021 of the Commissioner of Corporate and Legislative Services, be received for information</p>
<p>Peterborough Sport & Wellness Centre Renovation - Phase 2 Consultation</p>
<p>Report CSD21-006</p>
<p>Moved by Councillor Vassiliadis Seconded by Councillor Wright</p>
<p>That Council approve the recommendation outlined in Report CSD21-006, dated May 10, 2021, of the Commissioner of Community Services, as follows:</p>
<br>
<br>
<br>
<br>
<p>That the survey results from the PSWC Phase 2 consultation be received for information.</p>
<p>Carried</p>
<p>Potential Sites for Water Filling Stations</p>
<p>Report CSRS21-001</p>
<p>Moved by Councillor Vassiliadis Seconded by Councillor Wright</p>
<p>That Council approve the recommendations outlined in Report CSRS21-001, dated May 10, 2021, of the Commissioner of Community Services, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>That water filling stations be installed in 2021 at Millennium Park Washroom, the Transit Terminal and if funds permit at the Del Crary Park Washroom;</p>
<p>That a new 2021 capital project be approved in the amount of $25,000 to support the provision of water filling stations at the three priority locations identified in Recommendation (a) to be funded in 2021 through:</p>
<p>i. A transfer of $15,000 from the approved 2021 Capital Budget 5-7.01 Sustainability Project; and</p>
<p>ii. A $10,000 contribution from Peterborough Utilities Commission.</p>
<p>Carried</p>
<p>Curtis Creek Channel Improvements Project - Funding</p>
<p>Moved by Councillor Vassiliadis Seconded by Councillor Wright</p>
<p>Whereas, the Curtis Creek Channel Improvements project has been identified in the Curtis Creek Flood Reduction Master Plan to mitigate flood risk and demonstrate a proactive Climate Adaptation measure for this watercourse,</p>
<p>Whereas, staff has applied to the National Disaster Mitigation Fund (NDMF) to receive 50% of eligible project costs up to $225,000 and was approved, in principle, for funding to design the required channel improvements with a deadline for completion of the project deliverables by March 31, 2022,</p>
<p>Whereas, Greck and Associates Limited has completed the Conceptual Design of the creek channel improvements and the channel hydrology as part of Phase 1 of the project for the reconstruction of culverts under Tivey St., Armour Rd. , Euclid Ave. and Caddy St. and are familiar with the background work completed to date,</p>
<br>
<br>
<br>
<br>
<p>Be it resolved, that staff be authorized to award the Design of the Curtis Creek Channel Improvements to Greck and Associates of 5770 Hwy 7 #3, Woodbridge, ON L4L 1T8 up to a maximum of $400,000 to complete the project within the funding timelines using NDMF funds and the approved Capital Budget for the Curtis Creek Channel Improvements.</p>
<p>Carried</p>
<p>Monarch Ultra Team Presentation</p>
<p>Moved by Councillor Vassiliadis Seconded by Councillor Wright</p>
<p>Whereas, the Monarch Ultra team has been working for the last four years to raise awareness of the plight and flight of monarch butterflies, and</p>
<p>Whereas, the 2021 Monarch Ultra Relay Run will depart from its home base of Peterborough on September 19th, 2021, to complete an 1,800 km, 21-day, ultra- marathon to connect communities across Ontario in a call to action, and</p>
<p>Whereas, the Mayor and Council for the City of Peterborough recognize the importance of protecting pollinators and their habitat, and engaging with other municipalities in meaningful ways about our climate, and ecological crises,</p>
<p>Be it resolved, that the Mayor and Council for the City of Peterborough support and raise awareness of the Monarch Ultra Relay Run initiative by directing staff to invite a representative from the Monarch Ultra team to present to General Committee in the September 2021 cycle.</p>
<p>Carried</p>
<p>Official Plan and Land Needs Assessment Update</p>
<p>Report IPSPL21-016</p>
<p>Moved by Councillor Parnell Seconded by Councillor Clarke</p>
<p>a)</p>
<p>That staff be directed to finalize the Official Plan documents, with the approach of focusing land use designations within the City’s boundary (as outlined in Scenario 1).</p>
<p>At the meeting of May 3, 2021 Committee added items b) and c) as follows:</p>
<p>b)</p>
<p>That the Arenas, Parks and Recreation Advisory Committee and the Peterborough Environmental Advisory Committee be provided an update on the draft Official Plan.</p>
<br>
<br>
<br>
<p>c)</p>
<p>Carried</p>
<p>That upon completion of the Official Plan, the City continue discussions with the province, the county, and the townships for equitable regional economic development.</p>
<p>Central Area Community Improvement Plan Program Update and Extension</p>
<p>Report IPSPL21-018</p>
<p>Due to his previously declared interest, Councillor Pappas did not discuss or vote on this item.</p>
<p>Moved by Councillor Parnell Seconded by Councillor Wright</p>
<p>That Council approve the recommendations outlined in Report IPSPL21-018 dated May 3, 2021, of the Commissioner of Infrastructure and Planning Services, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>That the Central Area Community Improvement Plan Programs be extended for five years, to December 31, 2026.</p>
<p>That the Central Area Community Improvement Plan policy document be amended as follows, in accordance with Exhibit A to Report IPSPL21-018:</p>
<p>i. That the Façade Improvement Grant Program be revised to state that the City may issue a Request for Applications up to three times per year depending on availability of funding, instead of once or twice, to provide greater flexibility to applicants.</p>
<p>ii. That the Central Area Revitalization (Tax Increment Based) Grant Program (“CARP”) establish an eligibility threshold of a minimum municipal tax increase amount of $1,500.00 and include additional eligibility criteria for condominium-ownership developments.</p>
<p>iii. That the Municipal Incentive Grant Program be clarified by establishing an upper limit to the cash-in-lieu of parkland of $50,000 and cash-in-lieu of parking fees of $50,000 that are eligible for program assistance.</p>
<p>iv. That the Residential Conversion and Intensification Grant Program include additional text to clarify that the intent of the program is also met when new residential floor space is constructed on existing properties, either by addition or comprehensive redevelopment, where significant portions of the existing building(s) are retained.</p>
<p>c)</p>
<p>That By-law 17-066 be repealed and replaced upon the adoption of the By- law attached as Exhibit A.</p>
<p>Carried</p>
<br>
<br>
<br>
<p>Carried</p>
<p>Naming of Wolfe Street Warming Room</p>
<p>Moved by Councillor Riel Seconded by Councillor Pappas</p>
<p>That the motion be rescinded.</p>
<p>The Canadian Canoe Museum Presentation and Confirmation of Municipal Financial Support</p>
<p>Report CLSFS21-021</p>
<p>Due to her previously declared conflict, Councillor Akapo did not discuss or vote on this item.</p>
<p>Moved by Councillor Pappas Seconded by Councillor Parnell</p>
<p>That Council approve the recommendations outlined in Report CLSFS21-021 dated May 10, 2021 of the Commissioner of Corporate and Legislative Services, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>That the Canadian Canoe Museum presentation to the May 10, 2021 General Committee meeting, be received for information;</p>
<p>That the following financial support and municipal incentives towards the new facility build at the Johnson Property be confirmed:</p>
<p>i. $4.0 million as a Municipal Capital Grant over a series of Capital Budgets in increments of $0.5 Million;</p>
<p>ii. Designation of the new facility as a Municipal Capital Facility; and</p>
<p>That, subject to completion of the sale by the City to The Canadian Canoe Museum of the Johnson Property described as 2077 Ashburnham Drive (2.25 acres) and a 3.12 acre portion of 2011 Ashburnham Drive, a By-law be passed designating the said Johnson Property as a Municipal Capital Facility pursuant to Section 110 (7) of the Municipal Act, 2001 for the purpose of exempting The Canadian Canoe Museum from Taxation for Municipal and School purposes.</p>
<p>Committee at its meeting of May 10, 2021 made the following amendment:</p>
<p>d)</p>
<p>That an annual Service Grant to be provided by the City to the Canadian Canoe Museum be set at the amount of $108,362, without further increases for eight years.</p>
<p>Carried</p>
<br>
<br>
<br>
<br>
<br>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>d)</p>
<p>e)</p>
<p>f)</p>
<p>g)</p>
<p>h)</p>
<p>i)</p>
<p>j)</p>
<br>
<br>
<p>Approval of a Traffic Calming Policy and Five Neighbourhood Traffic Calming Study Plans</p>
<p>Report IPSTR21-007</p>
<p>Moved by Councillor Clarke Seconded by Councillor Pappas</p>
<p>That Council approves the recommendations outlined in Report IPSTR21-007, dated May 10, 2021, of the Commissioner, Infrastructure and Planning Services as follows:</p>
<p>At the meeting of May 25, 2021 Council amended items b) and g) as follows:</p>
<p>That the presentation by Paradigm Transportation Solutions Ltd on the Traffic Calming Policy and five Neighborhood Traffic Calming Studies be received;</p>
<p>That the recommended City-wide Traffic Calming Policy attached in Appendix A be approved; and,</p>
<p>i) That the wording in Table 3.1 regarding the 8% grade be amended to read, “That the average grade over the study area is less than 8%”.</p>
<p>That the recommended Traffic Calming Plan for Otonabee Ward (Sherbourne -Morrow Street area) attached in Appendix B, be approved;</p>
<p>That the recommended Traffic Calming Plan for Monaghan Ward (Westridge Boulevard / Cherryhill Road) attached in Appendix B, be approved;</p>
<p>That the recommended Traffic Calming Plan for Ashburnham Ward (Auburn Street/Dunlop Street) attached in Appendix B, be approved;</p>
<p>That the recommended Traffic Calming Plan for Northcrest Ward (Franklin Drive) attached in Appendix B, be approved;</p>
<p>That an education and enforcement program be implemented for Romaine Street (Town Ward) for a trial period of at least 12 months, and that the neighbourhood developed Traffic Calming Plan be re-evaluated during the trial period and should a consensus be reached earlier, staff report the results to Council.</p>
<p>That Parking By-law 09-136 be amended to authorize implementation of Recommendations c), d), e) and f);</p>
<p>That Traffic By-law 91-71 be amended to authorize implementation of Recommendation e);</p>
<p>That Heavy Truck By-law 91-39 be amended to authorize implementation of Recommendation e);</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>k)</p>
<p>That the 2021 approved Capital Budget of $220,000 for the Traffic Calming Project be increased by $125,000, to $325,000, with $50,000 transferred from the approved 2021 capital budget for Traffic Improvements (ref 5- 17.05) and $75,000 transferred from the 2020 approved capital budget for Tourism Wayfinding Sign Program (ref 5-17.03); and</p>
<p>l)</p>
<p>That staff report on the potential for an annual Traffic Calming program, as part of the 2022 budget review.</p>
<p>Item b) was separated for vote. Upon item b), the motion carried.</p>
<p>Upon the balance of the items less item b), the motion carried.</p>
<p>Peterborough County Motion - City of Peterborough Airport Strategic Initiatives Committee</p>
<p>Report CLSCLK21-018</p>
<p>Moved by Councillor Clarke Seconded by Councillor Wright</p>
<p>That Council approve the recommendation outlined in Report CLSCLK21-018 dated May 10, 2021, of the City Clerk, as follows:</p>
<p>a)</p>
<p>That Report CLSCLK21-018 respecting a motion from Peterborough County Council related to the City of Peterborough Airport Strategic Initiatives Committee, be received for information.</p>
<p>At the meeting of May 25, 2021, Council added item b) as follows:</p>
<p>b)</p>
<p>That staff draft a formal response to the County for consideration by City Council in the June cycle of meetings.</p>
<p>Budget Amendment and Award of Phase 3 for the Louis Street Urban Park</p>
<p>Carried</p>
<p>Report CLSFM21-019</p>
<p>Moved by Councillor Clarke Seconded by Councillor Zippel</p>
<p>That Council approve the recommendations outlined in Report CLSFM21-019, dated May 10, 2021, of the Commissioner of Corporate and Legislative Services, as follows:</p>
<br>
<br>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>That the Louis Street Urban Park Capital Budget be increased by $1,143,460 from $6,325,000 to $7,468,460 and the additional $1,143,460 be pre-committed from the 2022 Capital Budget to allow for the following work to be completed:</p>
<p>i. Removal of contaminated soils in the amount of $475,000 plus $225,000 in contingency to allow for additional unforeseen changes for a total of $700,000 plus HST for completion of Phase 1 and 2;</p>
<p>ii. An amendment to the project scope in the amount of $400,000 plus HST to allow for the design and installation a glycol heating system for the entire park area;</p>
<p>That Phase 3 for the Louis Street Urban Park be awarded to Peak Engineering & Construction Ltd., P.O. Box 984, Brighton, Ontario, K0K 1H0, at a cost of $901,421 plus HST of $117,185 for a total cost of $1,018,606.</p>
<p>That the Administrative Staff Committee be authorized to approve any changes in the contract up to $700,000 plus HST to give effect to recommendation a) i).</p>
<p>Carried</p>
<p>Moved by Councillor Clarke Seconded by Councillor Zippel</p>
<p>That 10.h.ii  be deferred until staff investigate and report on alternatives to a gas fired boiler for the removal of snow and ice in the urban park.  Alternatives such as air and ground source heat pumps, electric and biomass fueled boilers, and traditional ploughing used in conjunction with environmentally friendly ice melt products should be considered.</p>
<p>Cost for maintenance and additional financial costs such as the carbon tax should be included for comparison against the gas fired boiler.</p>
<p>Alternatives should include impacts on the city’s 2030 emissions reduction targets</p>
<p>Lost</p>
<p>Navy Club Property Usage Report</p>
<p>Report CSRS21-002</p>
<p>Moved by Councillor Zippel Seconded by Councillor Akapo</p>
<p>That Council approve the recommendations outlined in Report CSRS21-002, dated May 10, 2021, of the Commissioner of Community Services, as follows:</p>
<p>a)</p>
<p>That the property, 24 Whitlaw St. be designated as the Peterborough Naval Memorial Park;</p>
<br>
<br>
<p>b)</p>
<p>c)</p>
<p>d)</p>
<p>e)</p>
<p>f)</p>
<br>
<br>
<p>That the former property owners, Peterborough Naval Association, be permitted to;</p>
<p>i. Install at the sole cost of the association, two benches for public use;</p>
<p>ii. Install at the sole cost of the association, fencing which will encompass the formal Naval Memorial area, including the Statue, Anchor and Flag mast;</p>
<p>iii. That the association be designated responsible for the replacement of flags at the formal Naval Memorial area as required, until such time the association deems themselves no longer able to do so; and</p>
<p>iv. That City staff create a memorandum of understanding with the association, which would provide access to the formal Naval Memorial area, and adjacent green space, for the purposes of holding recognition services for the “Battle of Atlantic Commemorative Service” taking place on the first Sunday of May, and for “Remembrance Day Service”, taking place on November 11.</p>
<p>That the property be designated as a multi-use recreational facility location, offering services, programs, and facility bookings as per established City procedures;</p>
<p>That the property includes designated Staff space for the relocation of Recreation Divisional Staff formerly located at the 210 Wolfe St. location;</p>
<p>That Council approve an operating budget for the remainder of the 2021 year to have a net zero tax levy impact and proceed with budget preparation in subsequent years following the established City budget processes; and</p>
<p>That a new capital project be created in the amount of $250,000 and funded by a transfer from the Capital Levy Reserve, which would allow for the following to be completed prior to start of operations:</p>
<p>i. The decommissioning of the existing commercial grade kitchen, including the removal of grease basins and existing gas pipes;</p>
<p>ii. Complete updates to the existing public washroom facilities, including required accessibility standards;</p>
<p>iii. Removal of existing cooler and freezer units, including repairs to the surrounding wall structures; and</p>
<p>iv. Removal of the existing service bars, including the existing electrical and water pipes.</p>
<br>
<br>
<br>
<br>
<br>
<p>At the meeting of May 25, 2021 Council added item g) as follows:</p>
<p>g)</p>
<p>That the Mayor and staff be authorized to meet with First Nations on their potential interest in the land, and that staff be directed to consider indigenous programming opportunities as they establish programming at the site.</p>
<p>Carried</p>
<p>Urban Forest Canopy Conservation and Tree Removal By-law</p>
<p>Report IPSIM21-008</p>
<p>Moved by Councillor Clarke Seconded by Councillor Vassiliadis</p>
<p>That Council approve the recommendations outlined in Report IPSIM21-008, dated May 10, 2021, of the Commissioner of Infrastructure and Planning Services, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>d)</p>
<p>e)</p>
<p>That Council pass a Tree Removal By-law in the form comprising Appendix A to Report IPSIM21-008 to be in effect July 9, 2021;</p>
<p>That an annual capital budget for City’s contribution, of 2 new trees for each healthy private tree removal, be established and reviewed through the annual Budget Process;</p>
<p>That a full-time technologist position, funded through the annual capital program, be approved to administer all replanting requirements, for permitted healthy tree removals, incentive programs and educational programs related to the Urban Forest Canopy;</p>
<p>That the User Fee schedule and related By-law be updated to reflect the permitting fees for the removal of healthy trees: $50.00/permit for Licenced Tree Service Providers and $150.00/permit for Non-Licenced Tree service/private property owners; and</p>
<p>That staff explore opportunities to maximize tree planting opportunities on public land – including boulevards and public rights-of-way – recognizing limited availability of public land.</p>
<p>Carried</p>
<br>
<br>
<p>That item (b) of the resolution approved by Council on April 27, 2020 in respect to the Centennial Fountain Operation (Report IPS1M20-009) be deleted and replaced with the following wording:</p>
<p>(b) That normal operation of the Centennial Fountain at Little Lake in Peterborough resume on May 26, 2021.</p>
<br>
<p>Centennial Fountain Operation</p>
<p>Moved by Councillor Riel Seconded by Councillor Parnell</p>
<p>Carried</p>
<p>Notice of Motion</p>
<p>There were no Notices of Motion.</p>
<p>Approval of By-laws</p>
<p>Moved by Councillor Clarke Seconded by Councillor Vassiliadis</p>
<p>That the following by-laws be read a first, second and third time and finally passed:</p>
<p>21-060</p>
<p>21-061</p>
<p>21-062</p>
<p>21-063</p>
<p>21-064</p>
<p>21-065</p>
<p>21-066</p>
<p>Carried</p>
<br>
<p>Being a By-law to levy and collect taxes for municipal, education and business improvement area purposes for the year 2021, to impose a penalty charge for non-payment of 2021 taxes, to provide for interest to be added to tax arrears</p>
<p>Being a By-law to establish Tax Ratios for prescribed property classes for the 2021 taxation year</p>
<p>Being a By-law to Amend By-Law 91-71 being a By-law to for the Regulation of Traffic in the City of Peterborough</p>
<p>Being a By-law to Amend By-Law 91-39 being a By-law to Establish and Designate Streets in the City of Peterborough for Heavy Truck Traffic</p>
<p>Being a By-law to Amend By-Law 09-136 being a By-law to for the Regulation of Parking in the City of Peterborough</p>
<p>Being a By-law to Amend the Zoning By-law to remove the “H” - Holding Symbol from the Zoning of the property at 105 Park Street South</p>
<p>Being a By-law to Amend the Zoning By-law to remove the “H” - Holding Symbol from the Zoning of the property at 285 Perry Street</p>
<p>Due to his previously declared conflict, Councillor Pappas did not discuss or vote on this item.</p>
<p>Being a by-law to adopt an updated Central Area Community Improvement Plan.</p>
<p>BPH Development Inc. Proposal - Draft Official Plan Update and Land Needs Assessment</p>
<p>That the letter from BPH Development Inc. regarding the Draft Official Plan Update and Land Needs Assessment, be received for information.</p>
<p>That the Mayor and Clerk be authorized to sign the Assignment Agreement and Direction and any additional documents as may be required by the Ministry of Municipal Affairs and Housing concerning the renewal of the mortgage at 130-136 Anson Street by Peterborough Housing Corporation.</p>
<p>Moved by Councillor Wright Seconded by Councillor Clarke</p>
<p>21-067</p>
<p>Carried</p>
<p>Other Business</p>
<p>Moved by Councillor Parnell Seconded by Councillor Beamer</p>
<p>Carried</p>
<p>130-136 Anson Street</p>
<p>Moved by Councillor Clarke Seconded by Councillor Riel</p>
<p>Confirmation By-law:</p>
<p>Moved by Councillor Parnell Seconded by Councillor Pappas</p>
<p>Carried</p>
<p>21-068</p>
<p>Carried</p>
<br>
<br>
<br>
<br>
<p>Being a by-law to confirm the proceedings of the Council at its meeting held on May 25, 2021.</p>
<br>
<p>Adjournment</p>
<p>Moved by Councillor Pappas Seconded by Councillor Parnell</p>
<p>That this meeting adjourn at 9:13 p.m.</p>
<p>Carried</p>
<br>
<p>_________________________</p>
<p>John Kennedy</p>
<p>City Clerk</p>
<p>Diane Therrien</p>
<p>Mayor</p>
<p>_________________________</p>
<br>
<br>
<br>
<br>
<br></div>