<!doctype html><div><br>
<br>
<p>General Committee Minutes</p>
<br>
<p>Electronic Meeting</p>
<br>
<br>
<p>June 7, 2021</p>
<br>
<p>Present:</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Staff:</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Councillor Akapo</p>
<p>Councillor Baldwin</p>
<p>Councillor Beamer, Chair</p>
<p>Councillor Clarke</p>
<p>Councillor Pappas</p>
<p>Councillor Parnell</p>
<p>Councillor Riel</p>
<p>Mayor Therrien</p>
<p>Councillor Vassiliadis</p>
<p>Councillor Wright</p>
<p>Councillor Zippel</p>
<br>
<p>Brad Appleby, Planner Subdivision Control</p>
<p>Sandra Clancy, Chief Administrative Officer</p>
<p>Cynthia Fletcher, Commissioner of Infrastructure and Planning Services</p>
<p>Richard Freymond, Commissioner of Corporate and Legislative Services</p>
<p>Ken Hetherington, Chief of Planning</p>
<p>John Kennedy, City Clerk</p>
<p>Sheldon Laidman, Commissioner of Community Services</p>
<p>Michael Papadacos, Manager Infrastructure Planning</p>
<p>David Potts, Manager of Legal Services</p>
<p>Kendra Sedgwick, Committee Coordinator</p>
<p>Sue Warrington, Manager Arena Division</p>
<p>Brendan Wedley, Manager of Communication Services</p>
<br>
<p>That Committee enter Closed Session at 5:00 p.m. for one item under Section</p>
<p>239(2)(k) A position, plan, procedure, criteria or instruction to be applied to any</p>
<p>negotiations carried on or to be carried on by or on behalf of the municipality or</p>
<p>local board - Art Gallery of Peterborough.</p>
<br>
<p>Closed Session - 5:00 p.m.</p>
<br>
<p>Moved by Councillor Clarke</p>
<br>
<p>Carried</p>
<br>
<br>
<br>
<br>
<p>1</p>
<br>
<br>
<br>
<br>
<br>
<p>Carried</p>
<br>
<br>
<p>Carried</p>
<br>
<br>
<p>Back to Open Session</p>
<br>
<p>Moved by Councillor Parnell</p>
<br>
<p>That closed session adjourn at  5:27 p.m.</p>
<br>
<p>Carried</p>
<br>
<p>Open Session - 6:00 p.m.</p>
<p>The Chair called the meeting to order at 6:03 p.m.</p>
<p>Adoption of Minutes</p>
<p>Moved by Councillor Clarke</p>
<p>Carried</p>
<p>Report of Closed Session</p>
<p>Report CSACH21-002</p>
<p>Moved by Councillor Pappas</p>
<p>That the General Committee meeting minutes of April 19, May 3 and May 10, 2021 be approved.</p>
<p>That Council approve the recommendation outlined in Report CSACH21-002, dated June 7, 2021, of the Commissioner of Community Services, as follows:</p>
<p>That, respecting the Art Gallery of Peterborough, Staff proceed as outlined in Report CSACH21-002 dated June 7, 2021 of the Commissioner of Community Services.</p>
<p>Consent Agenda for Reports and Communications</p>
<p>Moved by Councillor Baldwin</p>
<p>That items 12.a and 13.a be approved as part of the Consent Agenda.</p>
<p>Peterborough Petes Limited Facility Licence Agreement</p>
<p>Report CSAD21-006</p>
<p>Moved by Councillor Baldwin</p>
<p>That Council approve the recommendation outlined in Report CSAD21-006, dated June 14, 2021, of the Commissioner of Community Services, as follows:</p>
<br>
<p>a)</p>
<p>That the Mayor and Clerk be authorized to sign a new Agreement between the City and the Petes to include the following terms and any other related documents necessary to execute the Agreement:</p>
<p>i. That the term for the Agreement be for a maximum period of eight (8) years, or until a Peterborough Memorial Centre (PMC) replacement facility is constructed, commencing August 1, 2021;</p>
<p>ii. That the Agreement include a fixed-rate rental fee for rental of facility space in the amount of $48,000 plus HST annually, increasing annually effective in Year 3 of the Agreement on August 1, 2023 by the rate of inflation sourced from the Statistics Canada Consumer Price Index;</p>
<p>iii. That the Agreement include a fixed-rate rental fee for game day expenses in the amount of $4,500 plus HST for every Petes’ game, increasing annually effective in Year 3 of the Agreement on August 1, 2023 by the rate of inflation sourced from the Statistics Canada Consumer Price Index;</p>
<p>iv. That the Agreement include a per-ticket fee on all Petes’ tickets for Box Office charges in the range of $0.75 plus HST to incrementally increase to $2.00 plus HST over the term of the Agreement;</p>
<p>v. That the Agreement include a per-ticket Capital Refurbishment Fund fee on all Petes’ tickets in the amount of $1.50 plus HST over the term of the Agreement;</p>
<p>vi. That the Agreement include a per-Order Charge of $2.50 plus HST applying to Petes’ ticket orders over the term of the Agreement;</p>
<p>vii. That the City will provide the Petes 50% of the City’s share of Gross Revenues from Food and Beverage Sales at Petes Games for the term of the Agreement;</p>
<p>viii. That the Petes be authorized to perform the sale and execution of Suite License Agreements in the PMC, providing the City with an annual payment of $24,000 plus HST, increasing to $36,000 plus HST in Year 3 and $48,000 plus HST in Year 7 of the Agreement; and</p>
<p>ix. That the Petes be authorized to perform the sale and execution of Sponsorship and Advertising Agreements in the PMC, excluding the sale of Facility Naming Rights, Exterior Digital Signs, Interior Corporate Monitors and Exclusive Service Agreements, providing the City with an annual payment of $60,000 plus HST, increasing annually effective in Year 3 of the Agreement on August 1, 2023 by the rate of inflation sourced from the Statistics Canada Consumer Price Index.</p>
<p>Carried</p>
<br>
<br>
<br>
<br>
<br>
<p>a)</p>
<p>b)</p>
<br>
<br>
<p>Zoning By-law Correction for Park-fronting Lots</p>
<p>Plan of Subdivision 45M-254 (Mason Homes) Report IPSPL21-021</p>
<p>Moved by Councillor Baldwin</p>
<p>That Council approve the recommendations outlined in Report IPSPL21-021 dated June 7, 2021, of the Commissioner of Infrastructure and Planning Services, as follows:</p>
<p>That Section 3.9 Exceptions of Zoning By-law 97-123 be amended by adding Exception No. 343 in accordance with Exhibit B of Report IPSPL21- 021;</p>
<p>That Lots 93 to 99, 152 to 167, 215 to 219 inclusive on Plan of Subdivision 45M-254 be rezoned from SP.348 – Residential District to SP.348-343 – Residential District in accordance with Exhibit B of Report IPSPL21-021; and</p>
<p>c)</p>
<p>That Council confirm that no further Public Notice is required with respect to the proposed by-law.</p>
<p>Carried</p>
<p>Public Meeting under the Planning Act</p>
<p>Mayor Therrien assumed the Chair.</p>
<p>Zoning By-law Amendment No. Z2106</p>
<p>2077 and Part of 2011 Ashburnham Drive Report IPSPL21-020</p>
<p>The following spoke to the application:</p>
<p>Carolyn Hyslop, Executive Director, Canadian Canoe Museum</p>
<p>Michael Gallant, Lett Architects Inc.</p>
<p>Tracie Bertrand, Director of Tourism, Peterborough and the Kawarthas Economic Development</p>
<p>K. Jenny Ingram, The Kawartha Centre ~ Redefining Healthy Aging</p>
<p>Gary Pritchard, 4 Directions of Conservation Consulting Firm</p>
<p>Moved by Councillor Parnell</p>
<p>That Council approve the recommendations outlined in Report IPSPL21-020 dated June 7, 2021, of the Commissioner of Infrastructure and Planning Services, as follows:</p>
<p>That Section 3.9 Exceptions of Zoning By-law 97-123 be amended by adding Exception No. 342 in accordance with Exhibit D of Report IPSPL21- 020; and</p>
<p>That the subject properties be rezoned from OS.3 – Open Space District to OS.3, PS.1-342-F-H Public Service District in accordance with Exhibit D of Report IPSPL21-020.</p>
<p>Carried</p>
<p>Presentations</p>
<p>Councillor Beamer assumed the Chair.</p>
<p>Ontario Ministry of Transportation Update</p>
<p>Report CLSCLK20-021</p>
<p>Moved by Mayor Therrien</p>
<p>That Council approve the recommendation outlined in Report CLSCLK21-021 dated June 7, 2021, of the City Clerk, as follows:</p>
<p>That the presentation from the Ministry of Transportation be received for information.</p>
<p>Partial Removal of a Listed Property from City's Heritage Register (34 Hunter St. W.)</p>
<p>Report CSACH21-004</p>
<p>Moved by Mayor Therrien</p>
<p>That Council approve the recommendations outlined in Report CSACH21-004, dated June 7, 2021 of the Commissioner of Community Services, as follows:</p>
<p>That Council not designate the property at 34 Hunter St. W. at this time,</p>
<p>That Council support the request of the PACAC that the original train shed be documented through archival quality photography and measured drawings prior to demolition; copies to be provided to the City; and</p>
<p>That the remainder of the factory complex at 34 Hunter St. W. remains on the City’s Heritage Register as a Listed property.</p>
<br>
<p>a)</p>
<p>b)</p>
<p>Carried</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<br>
<br>
<p>Carried</p>
<br>
<br>
<p>Peterborough Housing Corporation Transition Board of Directors</p>
<p>Report CSSS21-008</p>
<p>Moved by Councillor Clarke</p>
<p>That Council approve the recommendations outlined in Report CSSS21-008 dated June 7, 2021 of the Commissioner of Community Services, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>That the Shareholder Declaration dated October 3, 2016 respecting Peterborough Housing Corporation be amended as outlined in Report CSSS21-008 to establish a transition Board of Directors to be comprised of the Mayor, Chair of Housing, Vice-Chair of Housing, Chair of Finance, and the County Warden;</p>
<p>That the Mayor and Clerk be authorized to execute documents to effect the amendments to the Shareholder Declaration in forms acceptable to the City Solicitor; and</p>
<p>At the meeting of June 7, 2021 Committee added item c) as follows:</p>
<p>c)</p>
<p>That the Mayor, on behalf of Council, send a letter to each Board member thanking them for their service.</p>
<p>Reduction of Corporate GHG Emissions Progress Report</p>
<p>Report IPSIM21-018</p>
<p>Moved by Councillor Zippel</p>
<p>That Council approve the recommendations outlined in Report IPSIM21-018 dated June 7, 2021, of the Commissioner of Infrastructure and Planning Services, as follows:</p>
<p>That Report IPSIM21-018 be received for information.</p>
<p>Climate Change Reserve Initiatives Report</p>
<p>Report IPSIM21-019</p>
<p>Moved by Councillor Clarke</p>
<p>That Council approve the recommendations outlined in Report IPSIM21-019 dated June 7, 2021, of the Commissioner of Infrastructure and Planning Services, as follows:</p>
<br>
<br>
<p>Carried</p>
<p>Carried</p>
<br>
<p>That Council approve $282,800 from the Climate Change Reserve Fund to install eight dual-port electric vehicle charging stations for municipal fleet use at various municipal facilities; and</p>
<p>That staff make application to the Federation of Canadian Municipalities – Green Municipal Fund, Community Buildings Retrofit Initiative, Study: GHG Reduction Pathway Feasibility Study and that Council approve up to $50,000 from the Climate Change Reserve for the City’s 20% contribution, if approved.</p>
<p>Potential Pedestrian Cross Walk - George and Ware Streets</p>
<p>Moved by Councillor Pappas</p>
<p>That staff provide a report on a potential pedestrian cross walk at the intersection of George and Ware Streets.</p>
<br>
<p>a)</p>
<p>b)</p>
<br>
<br>
<br>
<p>Carried</p>
<p>Other Business</p>
<p>Carried</p>
<p>Adjournment</p>
<p>Moved by Councillor Pappas</p>
<p>That this meeting adjourn at 7:43 p.m.</p>
<p>Carried</p>
<br>
<p>_________________________</p>
<p>John Kennedy</p>
<p>City Clerk</p>
<p>_________________________</p>
<p>Councillor Beamer</p>
<p>Chair</p>
<br></div>