<!doctype html><div><p>Peterborough Public Library Board Minutes</p>
<br>
<p>Electronic Meeting</p>
<br>
<p>Councillor Akapo</p>
<p>Councillor Clarke</p>
<p>Barb Connor</p>
<p>Dan Moloney, Chair</p>
<p>Gillian Sandeman</p>
<p>Jayne White</p>
<br>
<p>Natalie Garnett, Deputy Clerk</p>
<p>Jennifer Jones, Library CEO</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>June 8, 2021</p>
<br>
<p>Present</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Staff</p>
<br>
<br>
<br>
<p>Call to Order</p>
<br>
<p>Carried</p>
<br>
<br>
<p>The meeting was called to order by the Chair at 5:30 p.m.</p>
<p>Confirmation of Minutes</p>
<p>Moved by Councillor Clarke</p>
<p>That the minutes of the Peterborough Public Library Board meeting of May 11, 2021 be approved.</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Pecuniary Interest.</p>
<p>Consent Agenda</p>
<p>No items were passed as part of the Consent Agenda.</p>
<p>Reports and Communications</p>
<p>Update from the Friends of the Library, Report PPL21-015</p>
<p>Moved by Jayne White</p>
<p>That the Library Board approve the recommendation outlined in Report PPL21- 015, dated June 8, 2020, of the Library CEO, as follows:</p>
<br>
<br>
<br>
<p>That the report on the status of the Friends of the Peterborough Public Library be received for information.</p>
<p>Carried</p>
<p>Fine Free Service Budgeting, Report PPL21-017</p>
<p>Moved by Councillor Clarke</p>
<p>That the Library Board approve the recommendations as outlined in Report PPL21-017 dated June 8, 2021, of the Library Services Manager as follows:</p>
<p>a.</p>
<p>That the report to inform the Library Board on the budgetary feasibility of fine free library services be received for information, and</p>
<p>b.  That the Board direct staff to implement fine free library service, beginning</p>
<p>September 2021.</p>
<p>Carried</p>
<p>Library CEO Report – June, Report PPL21-016</p>
<p>Moved by Councillor Clarke</p>
<p>That the Library Board approves the recommendation as outlined in Report PPL21-016 dated June 8, 2021, of the Library CEO as follows:</p>
<p>That the report to inform the Library Board on general matters concerning Library operations and service be received for information.</p>
<p>Library Policy Review – One Card, Report PPL21-018</p>
<p>Moved by Jayne White</p>
<p>That the Library Board approve the recommendation as outlined in Report PPL21- 018 dated June 8, 2021, of the Library Services Manager as follows:</p>
<p>That the policy updates be approved as amended.</p>
<p>Library Policy Review – Refund Policy, Report PPL21-019</p>
<p>Moved by Councillor Clarke</p>
<p>That the Library Board approve the recommendation as outlined in Report PPL21- 019 dated June 8, 2021, of the Library Services Manager as follows:</p>
<br>
<br>
<br>
<p>Carried</p>
<p>Carried</p>
<br>
<br>
<p>That the Library Board approve the recommendation outlined in Report PPL21- 020 dated June 8, 2021 of the Library CEO, as follows:</p>
<p>That the Board approve the write-off amount of $7,596.67.</p>
<p>That the policy updates be approved.</p>
<p>Carried</p>
<p>Library write-offs, Report PPL21-020</p>
<p>Moved by Gillian Sandeman</p>
<p>Carried</p>
<p>Other Business</p>
<p>There were no items of Other Business.</p>
<p>Next Meeting - September 14, 2021</p>
<p>Adjournment</p>
<p>Moved by Jayne White</p>
<p>That the meeting adjourn at 6:09 p.m.</p>
<p>Carried</p>
<br>
<p>_________________________</p>
<p>Natalie Garnett</p>
<p>Deputy Clerk</p>
<p>_________________________</p>
<p>Dan Moloney</p>
<p>Chair</p>
<br>
<br>
<br>
<br>
<br></div>