<!doctype html><div><p>Peterborough Environmental Advisory Committee Minutes</p>
<br>
<br>
<br>
<br>
<br>
<p>Electronic Meeting</p>
<br>
<br>
<p>June 16, 2021</p>
<br>
<p>Present</p>
<br>
<br>
<br>
<br>
<br>
<p>Regrets</p>
<br>
<br>
<br>
<p>Staff</p>
<br>
<p>Call to Order</p>
<br>
<p>Mary Elizabeth Konrad</p>
<p>Craig Mortlock</p>
<p>Sandra Orsatti, Chair</p>
<p>Stephanie Rutherford</p>
<p>Councillor Zippel</p>
<br>
<p>Dana Jordan</p>
<p>Peter Lafleur</p>
<p>Fraser Smith</p>
<br>
<p>James Byrne, Climate Change Coordinator</p>
<p>Natalie Garnett, Deputy Clerk</p>
<p>Michael Papadacos, Manager, Infrastructure Management</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>The Chair called the meeting to order at 5:30 p.m.</p>
<br>
<p>Confirmation of Minutes</p>
<br>
<p>Moved by Mary Elizabeth Konrad</p>
<br>
<p>Carried</p>
<br>
<br>
<p>Disclosure of Pecuniary Interest</p>
<br>
<p>That the minutes of the meeting of May 19, 2021 be approved as amended.</p>
<br>
<p>Craig Mortlock declared an interest in report PEAC21-018, as he may bid on this</p>
<p>project.</p>
<br>
<p>Consent Agenda</p>
<br>
<p>Moved by Stephanie Rutherford</p>
<br>
<p>That item 5.c. be passed as part of the Consent Agenda.</p>
<br>
<p>Carried</p>
<br>
<br>
<br>
<br>
<p>1</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>That the PEAC approve the recommendation outlined in Report PEAC21-018</p>
<p>dated June 16, 2021 of the Manager of Infrastructure Management Division, as</p>
<p>follows:</p>
<br>
<p>Reports and Communications</p>
<br>
<p>Climate Initiatives Update</p>
<br>
<p>Report PEAC21-018</p>
<br>
<p>Moved by Stephanie Rutherford</p>
<br>
<p>That the report be received for information.</p>
<br>
<p>Carried</p>
<br>
<br>
<p>Fire Station 2 Net-Zero Design Update</p>
<br>
<p>Report PEAC21-018</p>
<p>Due to his previously declared interest, Craig Mortlock did not discuss or vote on this item.</p>
<p>Moved by Stephanie Rutherford</p>
<p>That the PEAC approve the recommendation outlined in Report PEAC21-019, dated June 16, 2021, of the Manager of Infrastructure Management Division, as follows:</p>
<p>That a verbal report to update the PEAC on the design workshop for the Net-Zero Design of Fire Station 2 be received for information.</p>
<p>PSAB and Natural Assets on Financial Statements</p>
<p>Carried</p>
<p>Report PEAC21-020</p>
<p>Moved by Craig Mortlock</p>
<p>That the PEAC approve the recommendation outlined in Report PEAC21-020, dated June 16, 2021, of the Manager of Infrastructure Management Division, as follows:</p>
<p>That a verbal report to update the PEAC on the motion related to PSAB and Natural Assets on Financial Statements, be received for information.</p>
<p>Carried</p>
<br>
<br>
<p>Bee City Designation and Bird Friendly City Certification</p>
<p>Other Business</p>
<p>Moved by Councillor Zippel</p>
<p>a)</p>
<p>That staff be requested to prepare a report for the Peterborough Environmental Advisory Committee (PEAC) on all aspects related to City of Peterborough application for both Bee City Designation and Bird Friendly City Certification including: background information on the programs, the benefits of participation, certification or designation criteria, resources available to participating municipalities, staffing implications, and any budgetary commitments required to apply or maintain designation or certification and;</p>
<p>b)</p>
<p>That the report be presented to PEAC no later than September 2021.</p>
<br>
<br>
<br>
<br>
<p>Carried</p>
<p>Carried</p>
<p>Next Meeting -  September 15, 2021</p>
<p>Adjournment</p>
<p>Moved by Craig Mortlock</p>
<p>That this meeting adjourn at 6:15 p.m.</p>
<br>
<p>_________________________</p>
<p>Natalie Garnett</p>
<p>Deputy Clerk</p>
<p>_________________________</p>
<p>Sandra Orsatti</p>
<p>Chair</p>
<br></div>