<!doctype html><div><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Special General Committee Minutes</p>
<br>
<p>Electronic Meeting</p>
<br>
<br>
<p>September 22, 2021</p>
<br>
<p>Present:</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Staff:</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Opening of Meeting</p>
<br>
<p>Councillor Akapo</p>
<p>Councillor Baldwin</p>
<p>Councillor Beamer, Chair</p>
<p>Councillor Clarke</p>
<p>Councillor Pappas</p>
<p>Councillor Parnell</p>
<p>Councillor Riel</p>
<p>Mayor Therrien</p>
<p>Councillor Vassiliadis</p>
<p>Councillor Wright</p>
<p>Councillor Zippel</p>
<br>
<p>Sandra Clancy, Chief Administrative Officer</p>
<p>Jodi DeNoble, Manager Emergency and Risk Management</p>
<p>Cynthia Fletcher, Commissioner of Infrastructure and Planning Services</p>
<p>Richard Freymond, Commissioner of Corporate and Legislative Services</p>
<p>John Kennedy, City Clerk</p>
<p>Sheldon Laidman, Commissioner of Community Services</p>
<p>Jennifer McFarlane, Manager of Human Resources</p>
<p>Karen McGee, Labour Relations Coordinator</p>
<p>David Potts, City Solicitor</p>
<br>
<p>The Chair called the Special General Committee to order at 7:32 p.m.</p>
<br>
<p>Declaration of Pecuniary Interest</p>
<br>
<p>There were no disclosures of Pecuniary Interest.</p>
<br>
<br>
<br>
<p>1</p>
<br>
<p>City of Peterborough - Workplace Mandatory COVID-19 Vaccination Policy</p>
<br>
<p>That Council approve the recommendation outlined in Report CLSHR21-007 dated</p>
<p>September 22, 2021 of the Commissioner of Corporate and Legislative Services</p>
<p>as follows:</p>
<br>
<p>That the Workplace COVID-19 Mandatory Vaccination Policy as set out in</p>
<p>Appendix A to Report CLSHR21-007 dated September 22, 2021, be approved.</p>
<br>
<p>Contract Amendment - ITT-02-21 for Applegrove Avenue Reconstruction</p>
<br>
<p>That Council approve the recommendation outlined in Report IPSENG21-036,</p>
<p>dated September 22, 2021, of the Commissioner of Infrastructure and Planning</p>
<p>Services as follows:</p>
<br>
<p>That the contract awarded to Coco Group Inc., 12520 County Road 2, Morrisburg,</p>
<p>Ontario, K0C 1X0, for ITT-02-21 Applegrove Avenue Reconstruction, be increased</p>
<p>by $200,000.00 from $2,066,284.76 to $2,266,284.76 plus  $294,617.02 HST for a</p>
<p>total cost of $2,560,901.78</p>
<br>
<br>
<br>
<p>Reports</p>
<br>
<p>Report CLSHR21-007</p>
<br>
<p>Moved by Councillor Pappas</p>
<br>
<p>Carried</p>
<p>Report IPSENG21-036</p>
<p>Moved by Councillor Wright</p>
<p>Carried</p>
<p>Other Business</p>
<p>Moved by Councillor Wright</p>
<p>Carried</p>
<p>Reconciliation Motion</p>
<p>Moved by Councillor Wright</p>
<p>That the agenda be amended to add an agenda item “Reconciliation Motion”  in accordance with section 3.1 of the Procedure By-law.</p>
<p>Whereas we are settlers on these lands of the Ojibwe Nation (Treaty 20 territory- the Williams Treaty) and as an ally to the Indigenous peoples of Turtle Island, I ask that city council consider a meaningful action to bring awareness and further education about Canada's history of Residential Schools.</p>
<br>
<p>We ask that a city bus be wrapped in orange and bear the Every Child Matters logo to show Peterborough's commitment to reconciliation. Although September 30th has finally been acknowledged as a federal statutory holiday, there are still far too many people who are unaware of the horrific history of our government (in conjunction with Religious Organizations ) and it's attempt to destroy the culture and communities of First Nation, Inuit and Metis peoples.</p>
<p>By wrapping a city bus, Peterborough can make a highly visible statement that it is committed to spreading awareness and acknowledging the truth of our nation's history.</p>
<p>There can be no reconciliation without truth, and no truth without acknowledgement.</p>
<p>Please consider taking this simple, effective action on behalf of the children who never made it home, as well as the generations of survivors who are still affected by these horrors of history.</p>
<br>
<br>
<br>
<br>
<p>Carried</p>
<p>Adjournment</p>
<p>Moved by Councillor Pappas</p>
<p>That this meeting adjourn at 7:43 p.m.</p>
<p>Carried</p>
<br>
<p>_________________________</p>
<p>John Kennedy</p>
<p>City Clerk</p>
<p>_________________________</p>
<p>Councillor Beamer</p>
<p>Chair</p>
<br></div>