<!doctype html><div><p>Minutes of a Meeting of Committee of Adjustment held on Tuesday, April 27, 2021 at</p>
<p>6:00 p.m. in the Council Chambers, City Hall.</p>
<br>
<br>
<br>
<p>Committee of Adjustment Minutes</p>
<p>April 27, 2021</p>
<p>Draft Minutes Not Approved</p>
<br>
<p>Present:</p>
<br>
<p>Robert Short, Chair</p>
<p>Mauro DiCarlo</p>
<p>Tom Green</p>
<p>Stewart Hamilton</p>
<br>
<p>Regrets:</p>
<br>
<p>Claude Dufresne</p>
<br>
<p>Also Present:  Christie Gilbertson, Planner, Policy and Research</p>
<br>
<p>Andrea Stillman, Zoning Administrator</p>
<p>Jennifer Sawatzky, Secretary-Treasurer</p>
<p>Nolan Drumm, Assistant Planner</p>
<br>
<p>Committee of Adjustment was called to order at 6:01 p.m.</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Pecuniary Interest.</p>
<p>1.</p>
<p>File No.: Address: Applicant:  James Brioux</p>
<p>B04/21 391 Parkhill Road West</p>
<p>This matter relates to a severance application submitted by James Brioux, the owner of the property that is the subject of the application.</p>
<p>The purpose of the application is to sever the westerly 10.7 metres of the subject property to create a new lot upon which one of the dwellings that is currently under construction will be located.</p>
<p>James Brioux attended the meeting and addressed the Committee as follows:</p>
<p>•</p>
<p>•</p>
<p>•</p>
<p>•</p>
<p>The severance plan complies with the Official Plan policy and the regulations of the R.2 zoning district. A grading survey was submitted with the application showing the individual stormwater management plan for each proposed lot. Building permits were issued for the two dwellings in November 2020 and construction is currently underway. He has read the Staff Report and addressed questions about the payment of a Parks Levy to staff. He has no objection to the remaining conditions.</p>
<p>Christie Gilbertson, Planner, Policy and Research, presented Staff comments with respect to the application on behalf of the Building and Planning Divisions of the Infrastructure and Planning Services Department, City of Peterborough.</p>
<br>
<p>Committee of Adjustment Meeting Date: April 27, 2021</p>
<p>Page 2</p>
<p>Ms. Gilbertson advised that she provided the applicant with information on the Parks Levy By-law and the Parks Levy Review Committee’s process. The amount of the levy was not available prior to this meeting, as the Review Committee typically determines the rate following approval of the application. Once the amount of the levy has been set, the applicant has the option to appeal the rate determined by the Parks Levy Review Committee.</p>
<p>The Chair acknowledged that the Committee had received and reviewed letters in objection to the application from:</p>
<p>i)</p>
<p>ii)</p>
<p>Michael Kerr, Peterborough, Ontario</p>
<p>Wayne and Helen Ferguson, Peterborough, Ontario</p>
<p>In response to questions from the Committee, the Planner, Policy and Research, advised that the two buildings currently under construction meet the requirements outlined in the Zoning By-law. The consent application will create a lot line between the two dwellings, creating two lots also comply with the Zoning By-law regulations.</p>
<p>Moved by Mauro DiCarlo</p>
<p>That the application be approved in accordance with the recommendation in the Staff Report.</p>
<p>“CARRIED”</p>
<p>Decision</p>
<p>The Committee heard from members of the public concerning the application and gave due consideration and weight to the comments made and received.</p>
<p>In that both the severed and retained property would conform to the Official Plan policy and the Zoning regulations applied to the property, consent is granted to sever the westerly 10.7 metres of the subject property to create a new lot for the residential dwelling currently under construction, CONDITIONAL UPON THE FOLLOWING:</p>
<p>The payment of a Parks Levy for the newly created lot, in an amount to be determined by the Parks Levy Review Committee; The payment of a Tree Levy in the amount of $136.67 for the newly created lot; A closed polygon vector file of the Part boundaries shown on Reference Plan 45R-15662 is to be provided in Autodesk DWG NAD83 UTM CSRS CGVD28 projection Windows-readable format to the satisfaction of the City of Peterborough Geomatics/Mapping Division. It is recommended that the applicant’s Ontario Land Surveyor consult with the City’s Geomatics/Mapping Division to confirm acceptable standards and formatting. The Surveyor should contact the Secretary-Treasurer for instructions on how to submit this document; That the applicant provides the Secretary-Treasurer with a draft of the Transfer/Deed of Land; and That if the above conditions are not satisfied within 365 days of the circulation of the Committee’s Decision that this consent will lapse.</p>
<p>i)</p>
<p>ii)</p>
<p>iii)</p>
<p>iv)</p>
<p>v)</p>
<p>2.</p>
<p>File No.: Address: Applicant:  Gregory James Whitehouse</p>
<p>A18/21 160 Sherin Avenue</p>
<p>This matter relates to a minor variance application submitted by Gregory James Whitehouse, the owner of the property that is the subject of the application.</p>
<p>Committee of Adjustment Meeting Date: April 27, 2021</p>
<p>Page 3</p>
<p>The purpose of the application is to reduce the minimum building setback from the south side lot line from 1.2 metres to 1.1 metres, to reduce the minimum building setback from the Bensfort Road street line from 6 metres to 1.8 metres for the southwest corner of the garage, and to reduce the minimum building setback from the Sherin Avenue street line from 6.0 metres to 5.3 metres for the southeast corner of the garage to facilitate the construction of an attached garage.</p>
<p>Gregory James Whitehouse attended the meeting and addressed the Committee as follows:</p>
<p>•</p>
<p>He has read the Staff Report and is satisfied with the recommendation.</p>
<p>Christie Gilbertson, Planner, Policy and Research, advised that she had nothing further to add to the information presented in the Staff Report.</p>
<p>No one spoke in objection to the application and no written objections were received.</p>
<p>Moved by Stewart Hamilton</p>
<p>That the application be approved in accordance with the recommendation in the Staff Report.</p>
<p>“CARRIED”</p>
<p>Decision</p>
<p>The Committee received no comment or presentation from members of the public concerning the application and thus made its decision on the basis of the Staff Report and the application.</p>
<p>Having reviewed the application and considered the information presented in the Staff Report, the Committee determined that the application should be approved as per the Staff Recommendation and that the variances are minor, the proposal is desirable for the appropriate development or use of the land, and the general intent and purpose of the Zoning By-law and Official Plan are maintained.</p>
<p>Therefore, variances are granted as follows:</p>
<p>A variance from Section 7.2 (e)(i) to reduce the minimum building setback from the south side lot line to 1.1 metres; A variance from Section 6.11 (a) to reduce the minimum building setback from the Bensfort Road street line to 1.8 metres for the southwest corner of the garage; and A variance from Section 6.11 (a) to reduce the minimum building setback from the Sherin Avenue street line to 5.3 metres for the southeast corner of the garage.</p>
<p>PROVIDED THAT construction related to this approval proceeds substantially in accordance with the concept plan attached as Exhibit C to the Staff Report dated April 27, 2021 and CONDITIONAL UPON the Following:</p>
<p>The submission of a sediment and erosion control plan at the time of the building permit application; and The applicant obtaining written approval from Peterborough Distribution regarding the platform clearance from the overhead lines.</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>i)</p>
<p>ii)</p>
<br>
<br>
<p>Committee of Adjustment Meeting Date: April 27, 2021</p>
<p>Page 4</p>
<p>3.</p>
<p>File No.: Address: Applicant:  Joseph Guzzi, Dillon Consulting Services</p>
<p>A19/21 145 Langton Street</p>
<p>This matter relates to a minor variance application submitted by Joseph Guzzi of Dillon Consulting Services, as applicant on behalf of OMNI Health Care (Peterborough) GP Ltd., the owner of the property that is the subject of the application.</p>
<p>The purpose of the application is to increase the maximum number of nursing home beds from 160 to 192 and to increase the maximum building height of a nursing home from 3 storeys to 4 storeys to facilitate the construction of a nursing home.</p>
<p>Joseph Guzzi attended the meeting and addressed the Committee as follows:</p>
<p>City Council approved a Zoning By-law Amendment for this property two years ago to permit the long-term care facility. The site-specific zoning amendment allowed for 160 beds in a three-storey building, matching the licence issued by the Ministry of Health and Long Term Care. The Ministry has since issued additional licences to operators to address waiting lists and the need for affordable spaces in the province and region. The owner was able to secure a licence for an additional 32 beds, which necessitated the redesign of the facility and the need for the variances to the site-specific zoning district. The variances will also allow an opportunity for the proponent to redesign the facility to create safer spaces for staff and residents in response to the COVID-19 pandemic. He believes that the variances are minor and meet the four tests of the Planning Act.</p>
<p>Christie Gilbertson, Planner, Policy and Research, advised that she had nothing further to add to the information presented in the Staff Report.</p>
<p>No one spoke in objection to the application and no written objections were received.</p>
<p>In response to questions from the Committee, Staff advised as follows:</p>
<p>The comments from the Planner of Urban Design outlined in the Staff Report list details that are required to be contained in the Site Plan Agreement that must be executed prior to the Holding Symbol being lifted from the zoning district. These will be addressed through the Site Plan Approval process and have not been recommended as conditions for approval of the Minor Variance. The first phase of the development is the long-term care facility and the dwellings along Langton Street referenced in the Planner of Urban Design’s comments will be part of a later phase of the project. There were no concerns with increased traffic affecting road capacities raised in response to this application. Traffic issues would be more thoroughly examined through the Site Plan process and the original Zoning By-law Amendment application.</p>
<p>In response to questions from the Committee, the applicant advised as follows:</p>
<p>The housing proposed along Langton Street and the edge of property are future phases of the project and are not part of this application. The requirement with respect to the front elevations of the dwellings will be addressed by a clause in the Site Plan Agreement that is a required to be executed prior to removing the Holding Symbol from the zoning applied to the property.</p>
<p>Discussion</p>
<p>Robert Short noted that the height is consistent with the facility immediately to south, which is four storeys, and that he did not believe that approval of the variances would impact the surrounding low density residential areas that are set well back from the long-term care facility.</p>
<p>•</p>
<p>•</p>
<p>•</p>
<p>•</p>
<p>•</p>
<p>•</p>
<p>That the application be approved in accordance with the recommendation in the Staff Report.</p>
<p>Page 5</p>
<p>Committee of Adjustment Meeting Date: April 27, 2021</p>
<p>Moved by Tom Green,</p>
<p>“CARRIED”</p>
<p>Decision</p>
<p>The Committee received no comment or presentation from members of the public concerning the application and thus made its decision on the basis of the Staff Report and the application.</p>
<p>Having reviewed the application and considered the information presented in the Staff Report, the Committee determined that the application should be approved as per the Staff Recommendation and that the variances are minor, the proposal is desirable for the appropriate development or use of the land, and the general intent and purpose of the Zoning By-law and Official Plan are maintained.</p>
<p>Therefore, variances are granted as follows:</p>
<p>A variance from Section 343.3 to increase the maximum number of nursing home beds to 192; and A variance from Section 343.3 to increase the maximum building height of a nursing home to 4 storeys.</p>
<p>PROVIDED THAT construction related to this approval proceeds substantially in accordance with the concept plan attached as Exhibit D to the Staff Report dated April 27, 2021.</p>
<p>a)</p>
<p>b)</p>
<p>4.</p>
<p>File No.: Address: Applicant:</p>
<p>A21/21 735 Jane Street, Lot 189 Ivary Gannon</p>
<p>File No.: Address: Applicant:</p>
<p>A22/21 735 Jane Street, Lot 190 Ivary Gannon</p>
<p>This matter relates to two minor variance applications submitted by Ivary Gannon, as applicant on behalf of Riley Crough, the owner of the property that is the subject of the applications.</p>
<p>The purpose of the applications is to reduce the minimum lot area from 370 square metres to 278 square metres and to reduce the minimum lot width from 12 metres to 9.14 metres on each lot to facilitate the construction of a single unit dwelling.</p>
<p>Ivary Gannon attended the meeting and addressed the Committee as follows:</p>
<p>•</p>
<p>•</p>
<p>She advised the Committee that she had read the Staff Report and requested clarification on two of the recommended conditions, obtaining clearance from Peterborough Distribution and approval of the building elevations. With respect to the requirement that a demolition permit be obtained for Lot 190, a demolition permit was issued to the previous owner and was included when Mr. Crough purchased the property.</p>
<p>Christie Gilbertson, Planner, Policy and Research advised that the comment from Peterborough Distribution is standard when there is a pole or a line in the vicinity of property. The applicant will require written confirmation from Peterborough Distribution that they are satisfied the proposed work meets their clearance requirements prior to a permit being issued.</p>
<br>
<p>Committee of Adjustment Meeting Date: April 27, 2021</p>
<p>Page 6</p>
<p>Ms. Gilbertson further advised that the requirement to submit building elevations for review by the Planner of Urban Design was to ensure compatibility with the neighbourhood, including a front door facing the street and avoiding a raised basement that would increase the overall height of the building.</p>
<p>No one spoke in objection to the application and no written objections were received.</p>
<p>In response to questions from the Committee, Staff advised as follows:</p>
<p>•</p>
<p>The applicants have obtained a legal opinion that the two lots are two whole lots in a plan of subdivision and do not require consent for conveyance of the separate lots. The variance applications are required as the two separate lots do not meet the minimum requirements of the zoning district.</p>
<p>That the application be approved in accordance with the recommendation in the Staff Report.</p>
<p>Moved by Mauro DiCarlo</p>
<p>“CARRIED”</p>
<p>Decision – A21/21</p>
<p>The Committee received no comment or presentation from members of the public concerning the application and thus made its decision on the basis of the Staff Report and the application.</p>
<p>Having reviewed the application and considered the information presented in the Staff Report, the Committee determined that the application should be approved as per the Staff Recommendation and that the variances are minor, the proposal is desirable for the appropriate development or use of the land, and the general intent and purpose of the Zoning By-law and Official Plan are maintained.</p>
<p>Therefore, variances are granted as follows:</p>
<p>A variance from Section 7.2 (b) to reduce the minimum lot area to 278 square metres; and A variance from Section 7.2 (c) to reduce the minimum lot width to 9.14 metres.</p>
<p>CONDITIONAL UPON the owner entering into a Development Agreement with the City, to be registered on title at the owner's expense, requiring the following prior to the issuance of a Building Permit:</p>
<p>That lots 190 and 189 Plan 48Q have separate Parcel Identification Numbers (PINs); Obtaining written clearance from Peterborough Distribution regarding clearance from overhead lines; That the driveway location be a minimum of 0.6 metres from the side lot line to align with engineering best practices; and That building plans and elevations be provided for approval by the Planner of Urban Design to ensure compatibility of the building with other buildings in the neighbourhood prior to issuance of a building permit, including insurance that a door faces the street and there is no raised basement.</p>
<p>Decision – A22/21</p>
<p>The Committee received no comment or presentation from members of the public concerning the application and thus made its decision on the basis of the Staff Report and the application.</p>
<p>a)</p>
<p>b)</p>
<p>i)</p>
<p>ii)</p>
<p>iii)</p>
<p>iv)</p>
<p>Committee of Adjustment Meeting Date: April 27, 2021</p>
<p>Page 7</p>
<p>Having reviewed the application and considered the information presented in the Staff Report, the Committee determined that the application should be approved as per the Staff Recommendation and that the variances are minor, the proposal is desirable for the appropriate development or use of the land, and the general intent and purpose of the Zoning By-law and Official Plan are maintained.</p>
<p>Therefore, variances are granted as follows:</p>
<p>A variance from Section 7.2 (b) to reduce the minimum lot area to 278 square metres; and A variance from Section 7.2 (c) to reduce the minimum lot width to 9.14 metres.</p>
<p>CONDITIONAL UPON the owner entering into a Development Agreement with the City, to be registered on title at the owner's expense, requiring the following prior to the issuance of a Building Permit:</p>
<p>That lots 190 and 189 Plan 48Q have separate Parcel Identification Numbers (PINs); Obtaining written clearance from Peterborough Distribution regarding clearance from overhead lines; That the driveway location be a minimum of 0.6 metres from the side lot line to align with engineering best practices; That building plans and elevations be provided for approval by the Planner of Urban Design to ensure compatibility of the building with other buildings in the neighbourhood prior to issuance of a building permit, including insurance that a door faces the street and there is no raised basement; and That a demolition permit is obtained, and all structures are demolished from the site.</p>
<p>a)</p>
<p>b)</p>
<p>i)</p>
<p>ii)</p>
<p>iii)</p>
<p>iv)</p>
<p>v)</p>
<p>That the minutes of the Committee of Adjustment hearing held on March 30, 2021 be approved.</p>
<p>Robert Short asked if an Applicant is charged a fee when they request that an application be deferred. The Secretary-Treasurer advised that there is a recirculation fee that is charged when a Notice of Hearing needs to be readvertised.</p>
<p>The next meeting of the Committee of Adjustment is scheduled for Wednesday, May 26, 2021.</p>
<p>Minutes</p>
<p>Moved by Mauro DiCarlo</p>
<p>“CARRIED”</p>
<p>Other Business</p>
<p>Next Meeting</p>
<br>
<br>
<p>Page 8</p>
<p>Committee of Adjustment Meeting Date: April 27, 2021</p>
<p>Adjournment</p>
<p>The meeting was adjourned at 6:36 p.m.</p>
<p>Robert Short, Chair</p>
<br>
<p>Jennifer Sawatzky, Secretary-Treasurer</p>
<br>
<br></div>