<!doctype html><div><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Museum and Archives Advisory Committee Minutes</p>
<br>
<br>
<p>Date:</p>
<br>
<p>Present</p>
<br>
<p>Staff Present</p>
<br>
<p>Call to Order</p>
<br>
<p>March 8, 2018</p>
<br>
<p>Councillor Riel</p>
<p>Debbie Flieler</p>
<p>Jodi Aoki</p>
<p>Karen Carter-Edwards</p>
<p>Linda Lumsden</p>
<p>Claude Dufresne</p>
<p>Gayle McIntyre, Chair</p>
<p>Ann Sullivan</p>
<p>Ken Brown</p>
<br>
<p>Kendra Sedgwick, Committee Coordinator</p>
<p>Susan Neale, Museum Director</p>
<p>Ken Doherty, Director of Community Services</p>
<br>
<p>The meeting of the Museum & Archives Advisory Committee was called to order at 5:00 p.m. by Gayle McIntyre, Chair, in the Fine Annex, Peterborough Museum & Archives.</p>
<p>Confirmation of Minutes</p>
<p>Moved by Karen Carter-Edwards</p>
<p>That the minutes of the Museum & Archives Advisory Committee meeting held on February 8, 2018 be approved.</p>
<p>Carried</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no Disclosure of Pecuniary Interest</p>
<p>Consent Agenda</p>
<p>No items were passed on Consent.</p>
<br>
<br>
<br>
<p>Museum & Archives Advisory Committee minutes of March 8, 2018</p>
<p>Peterborough Museum & Archives: Deaccession and Repatriation Report MAAC18-005</p>
<p>Moved by Ann Sullivan</p>
<p>That the Museum & Archives Advisory Committee approve the recommendations outlined in Report MAAC18-005 dated March 8, 2018, of the Museum Director, as follows:</p>
<p>a)</p>
<p>That the following two (2) objects be deaccessioned from the collection of the Peterborough Museum & Archives:</p>
<p>i) ii)</p>
<p>the Gwa’sala-‘Nakwaxda’xw ooligan feasting dish; the Gwa’sala-‘Nakwaxda’xw head ring.</p>
<p>b)</p>
<p>That the same two (2) objects be repatriated to the Gwa’sala-‘Nakwaxda’xw, Kwakwaka’wakw of North Vancouver Island, British Columbia.</p>
<p>City Relationship with Local First Nations, Metis and Aboriginal Groups Report MAAC18-006</p>
<p>Councillor Riel left the meeting at 6:24 p.m.</p>
<p>Moved by Jodi Aoki</p>
<p>That the Museum & Archives Advisory Committee approve the recommendation outlined in Report MAAC18-006 dated March 8, 2018, of the Museum Director, as follows:</p>
<p>That the presentation by the Director of Community Services, on the City’s relationship with local First Nations, Métis and Aboriginal groups be received for information.</p>
<p>Peterborough Museum & Archives: Report on Activities Report MAAC18-007</p>
<p>Moved by Karen Carter-Edwards</p>
<p>That the Museum & Archives Advisory Committee approve the recommendation outlined in Report MAAC18-007, dated March 8, 2018, of the Museum Director, as follows:</p>
<p>That the Museum Director’s report on the upcoming activities of the Peterborough Museum & Archives be received for information.</p>
<p>Carried</p>
<p>Carried</p>
<p>Carried</p>
<br>
<br>
<br>
<p>Museum & Archives Advisory Committee minutes of March 8, 2018</p>
<p>Other Business</p>
<p>There were no items of Other Business</p>
<p>Next Meeting - May 10, 2018</p>
<p>Adjournment</p>
<p>Moved by Claude Dufresne</p>
<p>Carried</p>
<p>Kendra Sedgwick, Committee Coordinator</p>
<p>Gayle McIntyre Chair</p>
<p>The Chair indicated that the next meeting is scheduled for May 10, 2018.</p>
<p>That this meeting of the Museum & Archives Advisory Committee adjourn at 6:28 p.m.</p>
<br>
<br>
<br></div>