<!doctype html><div><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Peterborough Environmental Advisory Committee Minutes</p>
<br>
<p>Electronic Meeting</p>
<br>
<br>
<p>October 20, 2021</p>
<br>
<p>Present</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Clara Blakelock</p>
<p>Mary Elizabeth Konrad</p>
<p>Sandra Orsatti, Chair</p>
<p>Stephanie Rutherford</p>
<p>Fraser Smith</p>
<p>Councillor Zippel</p>
<br>
<br>
<p>Regrets</p>
<br>
<p>Staff</p>
<br>
<br>
<p>Dana Jordan</p>
<p>Peter Lafleur</p>
<p>Craig Mortlock</p>
<br>
<p>James Byrne, Climate Change Coordinator</p>
<p>Natalie Garnett, Deputy Clerk</p>
<p>Kevin Jones, Manager, Transportation</p>
<p>Michael Papadacos, Manager, Infrastructure Planning</p>
<br>
<p>Confirmation of Minutes</p>
<br>
<p>Moved by Councillor Zippel</p>
<br>
<p>Carried</p>
<br>
<br>
<p>Disclosure of Pecuniary Interest</p>
<br>
<p>There were no disclosures of Pecuniary Interest.</p>
<br>
<p>Consent Agenda</p>
<br>
<p>No items were passed as part of the consent agenda.</p>
<br>
<br>
<br>
<p>That the minutes of the meeting of September 15, 2021 be approved, as amended.</p>
<br>
<p>1</p>
<br>
<br>
<br>
<br>
<br>
<p>Reports and Communications</p>
<br>
<p>Transportation Master Plan - Phase 3 Update</p>
<br>
<p>PEAC21-024</p>
<br>
<p>Moved by Mary Elizabeth Konrad</p>
<br>
<p>That the Peterborough Environmental Advisory Committee approve the</p>
<p>recommendation outlined in Report PEAC21-024 dated October 20, 2021, of the</p>
<p>Manager – Transportation Division as follows:</p>
<br>
<p>That the presentation from the Transportation Division regarding the</p>
<p>Transportation Master Plan – Phase 3 Update be received for information; and,</p>
<br>
<p>That the following comments be provided:</p>
<br>
<p>  The presentation was detailed and well done</p>
<br>
<p>  However, it should include actual measured current percent mode</p>
<br>
<p>share numbers to make the change/shift of each modelled scenario</p>
<p>clearer</p>
<br>
<p>  How the TMP reflects the climate change emergency</p>
<br>
<p>  We need to make radical changes to address climate change and the</p>
<br>
<p>proposals do not seem to address this</p>
<p>  Question setting achievable goals rather than goals that reflect the</p>
<p>urgency of the climate change situation</p>
<p>  City needs to move towards EVs for the fleet (and ultimately for</p>
<p>public transit)</p>
<p>  Concern with survey methodology</p>
<p>  Concern that questions were leading to a particular conclusion   Need to reframe questions with more positivity, showing examples of</p>
<p>the lifestyle promoted/supported by these policy changes</p>
<p>  Survey is only completed by those who choose to do so   Some survey questions were out of sync with the timing of some</p>
<p>decisions in both phase 2 (i.e., cycling) and phase 3 (land use planning)</p>
<p>  Survey asked participants for feedback on mode percentages that</p>
<p>had not yet been supported by modelling (the model later suggested that the measures in each scenario could not achieve the targeted mode share) percentages)</p>
<p></p>
<p>Incentivize electric vehicles and use of transit</p>
<p>  Size of City and density does not lend itself to complete/walkable</p>
<p>communities, so EVs and public transit must be used to see radical emissions reduction</p>
<p>  Possible support/incentive for installing home Level 2 (50A</p>
<p>240V) charging stations to increase convenience</p>
<p>  Possible support/incentive and education for purchase of new and</p>
<p>used EVs and PHEVs</p>
<p>  Consider exempting ‘green license plate’ vehicles from parking fees</p>
<br>
<br>
<br>
<p>  Encouraging/incentivizing taxi and private transportation companies</p>
<p>to move to EVs</p>
<p>  Expand use of parking fees</p>
<p>  Revenue generated can be used to offset costs of programs   Culture shift through punitive measures and EV/PHEV</p>
<p>parking incentives mentioned earlier; clearly communicate the rationale for punitive measures</p>
<p>  Survey feedback on increased parking costs and congestion fees is</p>
<p>evidence that punitive measures will be very effective at discouraging vehicle usage Institute parking fees on all City streets to encourage fewer vehicles</p>
<p>   Address concerns around the impact parking changes would have on small downtown businesses (e.g. by providing strategic parking options close to the downtown)</p>
<p>  Begin with pilot projects i.e. fees for parking at City Hall for staff and</p>
<p>Council members and/or incentives for not using a vehicle or for using an EV/PHEV</p>
<p>  Community Safety</p>
<p>  Speed limit reductions (also may reduce emissions and ‘calming’</p>
<p>infrastructure costs) to:</p>
<p>  40 km/h in local neighbourhoods, and   30 km/h in the downtown core</p>
<p>  When addressing mode shifts, place more emphasis on sidewalks</p>
<p>and walking as the focus currently seems to be on cycling and transit</p>
<p>  Undertake road safety programs with neighbourhoods   Clear link to Vision Zero principles and a philosophy of safety in</p>
<p>design for all transportation infrastructure</p>
<p>  Consider including climate change adaptation costs and EA requirement</p>
<p>costs in infrastructure cost estimates</p>
<p>Carried</p>
<p>Climate Initiatives Update</p>
<p>PEAC21-025</p>
<p>Moved by Stephanie Rutherford</p>
<p>That the PEAC approve the recommendation outlined in Report PEAC21-025 dated October 20, 2021 of the Manager of Infrastructure Management Division, as follows:</p>
<p>That the report be received for information.</p>
<p>Carried</p>
<br>
<p>Other Business</p>
<p>Mary Elizabeth, Vice Chair, assumed the Chair.</p>
<p>Moved by Sandra Orsatti</p>
<p>That PEAC invite the Chief Building Official to a future PEAC meeting to give an overview of sustainable building tools/practices at the municipal level.</p>
<br>
<br>
<br>
<br>
<p>Carried</p>
<p>Sandra Orsatti, Chair, assumed the Chair.</p>
<p>Next Meeting -November 17, 2021</p>
<p>Adjournment</p>
<p>Moved by Councillor Zippel</p>
<p>That this meeting adjourn at 7:48 p.m.</p>
<p>Carried</p>
<br>
<p>_________________________</p>
<p>Natalie Garnett</p>
<p>Deputy Clerk</p>
<p>_________________________</p>
<p>Sandra Orsatti</p>
<p>Chair</p>
<br></div>