<!doctype html><div><p>Waste Management Committee</p>
<br>
<p>Minutes</p>
<br>
<p>City of Peterborough</p>
<br>
<p>November 6, 2017</p>
<br>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of the Waste Management Committee Held on</p>
<p>November 6, 2017, in the Doris Room, City Hall</p>
<br>
<p>The meeting of the Waste Management Committee was called to order by Councillor Senis at 2:04 p.m. in the Doris Room, City Hall.</p>
<p>Present: Councillor Nelson, County of Peterborough Councillor Senis, County of Peterborough, Chair Councillor Bonneau, County of Peterborough Councillor Vassiliadis, City of Peterborough Councillor Baldwin, City of Peterborough</p>
<p>Regrets: Councillor Pappas, City of Peterborough</p>
<p>Staff: Chris Bradley, Director of Public Works, County of Peterborough Wayne Jackson, Director of Utility Services, City of Peterborough Don Briand, Waste Management Site Operator, Landfill, City of Peterborough Kendra Sedgwick, Committee Coordinator, City of Peterborough</p>
<p>Minutes – October 16, 2017</p>
<p>Moved by Councillor Bonneau</p>
<p>That the minutes of the Waste Management Committee meeting held on October 16, 2017, be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Pecuniary Interest.</p>
<br>
<p>Waste Management Committee</p>
<p>Meeting of November 6, 2017</p>
<p>Page 2</p>
<br>
<p>Consent Agenda</p>
<p>No items were passed as part of the Consent Agenda.</p>
<p>Director of Utility Services, City of Peterborough Report WMC17-009 Final 2018 Draft Budget Submission</p>
<p>Moved by Councillor Baldwin</p>
<p>That Waste Management Committee endorse the recommendation as outlined in Report WMC17-009 dated November 6, 2017 of the Director of Utility Services, as follows:</p>
<p>That the final Draft 2018 Budget for the Peterborough County/City Waste Management Facility as detailed in Appendices A and B of Report WMC17-009 dated November 6, 2017 be accepted and recommended for adoption as part of the City of Peterborough budgeting process.</p>
<p>“CARRIED”</p>
<p>Director of Utility Services, City of Peterborough Report WMC17-010 Neal Drive Odour Study by AECOM</p>
<p>Moved by Councillor Vassiliadis</p>
<p>That the Waste Management Committee approve the recommendations as outlined in Report WMC17-010 dated November 6, 2017 of the Director of Utility Services as follows:</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>That the results of the Odour Study on Neal Drive as detailed in Report WMC17-010 be accepted:</p>
<p>That staff be requested to initiate the detailed design, any necessary approval applications and construction of a Carbon Absorption Unit to resolve the odour problems presently being encountered on Neal Drive;</p>
<p>That funding for the work detailed in Recommendation B come from funds already allocated in the draft 2018 County/City Waste Management Facility budget; and</p>
<p>Waste Management Committee</p>
<p>Meeting of November 6, 2017</p>
<p>Page 3</p>
<br>
<p>d)</p>
<p>That staff report back to the Waste Management Committee on the progress of this work and any future requirement for additional funds.</p>
<p>“CARRIED”</p>
<p>Director of Utility Services, City of Peterborough Report WMC17-011 Consideration of Tip Fee Exemption for Mattresses</p>
<p>Moved by Councillor Baldwin</p>
<p>That the Waste Management Committee endorse the recommendations as outlined in Report WMC17-011 dated November 6, 2017 of the Director of Utility Services, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>That tipping fees charged to for-profit enterprises not be waived; and</p>
<p>That Staff be requested to present a proposal for the waiving of certain tipping fees for charities.</p>
<p>“CARRIED”</p>
<p>Director of Utility Services, City of Peterborough Report WMC17-012 Estimated Remaining Life of the County/City Waste Management Facility</p>
<p>Moved by Councillor Nelson</p>
<p>That the Waste Management Committee endorse the recommendation as outlined in Report WMC17-012 dated November 6, 2017 of the Director of Utility Services, as follows:</p>
<p>That Report WMC17-012 dated November 6, 2017 detailing the estimated remaining life of the County/City Waste Management Facility be received for information.</p>
<p>“CARRIED”</p>
<br>
<p>Waste Management Committee</p>
<p>Meeting of November 6, 2017</p>
<p>Page 4</p>
<br>
<p>Director of Utility Services, City of Peterborough Report WMC17-013 2018 Waste Management Committee Meeting Schedule</p>
<p>Moved by Councillor Bonneau</p>
<p>That the Waste Management Committee endorse the recommendation as outlined in Report WMC17-013 dated November 6, 2017 of the Director of Utility Services, as follows:</p>
<p>That the following 2018 meeting dates for the Waste Management Committee be approved:</p>
<p>Monday, January 29, 2018 Monday, March 12, 2018 Monday, May 7, 2018 Monday, June 18, 2018 Monday, September 17, 2018 Monday, November 19, 2018</p>
<p>“CARRIED”</p>
<p>Other Business</p>
<p>There were no items of Other Business.</p>
<p>Next Meeting</p>
<p>The Chair indicated that the next meeting of the Committee is scheduled for January 29, 2018.</p>
<p>Adjournment</p>
<p>Moved by Councillor Baldwin</p>
<p>That this meeting of Waste Management Committee adjourn at 2:52 p.m.</p>
<p>“CARRIED”</p>
<br>
<p>Waste Management Committee</p>
<p>Meeting of November 6, 2017</p>
<p>Page 5</p>
<br>
<p>Kendra Sedgwick Committee Coordinator</p>
<p>Councillor Senis Chair</p>
<br></div>