<!doctype html><div><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Arenas, Parks and Recreation Advisory Committee Minutes</p>
<br>
<p>April 17, 2018</p>
<br>
<p>Present</p>
<br>
<p>Staff Present</p>
<br>
<p>Call to Order</p>
<br>
<p>David Ronson</p>
<p>Councillor Haacke</p>
<p>Councillor Baldwin</p>
<p>Diane Sargent, Chair</p>
<p>Glen Payne</p>
<p>Pete Dalliday</p>
<p>Ashley Vititoe</p>
<br>
<p>Kendra Sedgwick, Committee Coordinator</p>
<p>Rob Anderson, Recreation Division Coordinator</p>
<p>Ken Doherty, Director of Community Services</p>
<p>Sue Warrington, Arenas Division Manager</p>
<p>Phil Jacobs, Parks & Forestry Supervisor</p>
<p>Rob McCauley, Facility Manager, PSWC</p>
<br>
<p>The meeting was called to order at 5:30 p.m. by Diane Sargent, Chair in the Auditorium, Community Services Office.</p>
<p>That the minutes of the Arenas, Parks and Recreation Advisory Committee of March 20, 2018 be approved.</p>
<p>Confirmation of Minutes</p>
<p>Moved by Councillor Baldwin</p>
<p>Carried</p>
<p>Carried</p>
<br>
<p>Consent Agenda</p>
<p>Moved by Glen Payne</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no Disclosures of Pecuniary Interest.</p>
<p>That item 5.c. be approved as part of the Consent Agenda.</p>
<br>
<p>Arenas, Parks and Recreation Advisory Committee minutes of April 17, 2018</p>
<p>Request to Rename Olympus Park</p>
<p>Report APRAC18-011</p>
<p>Moved by Glen Payne</p>
<p>That the Arenas Parks and Recreation Advisory Committee approve the recommendations outlined in Report APRAC18-011 dated April 17, 2018, of the Recreation Division Coordinator, as follows:</p>
<p>a)   That the request to rename Olympus Park as Stillman Park be endorsed;</p>
<p>b)   That Staff be directed to present a report to Council recommending that</p>
<p>Olympus Park be renamed Stillman Park.</p>
<p>and,</p>
<p>Carried</p>
<p>Fleming College Recreation Program</p>
<p>Report APRAC18-010</p>
<p>Moved by Councillor Baldwin</p>
<p>That the Arenas Parks and Recreation Advisory Committee approve the recommendation outlined in Report APRAC18-010 dated April 17, 2018, of the Facility Manager, Peterborough Sport and Wellness Centre, as follows:</p>
<p>That the presentation by the Fleming College Athletic Department be received for information.</p>
<p>Facilities and Planning Initiatives 2018 Work Plan</p>
<p>Report APRAC18-013</p>
<p>Moved by Councillor Haacke</p>
<p>That the Arenas Parks and Recreation Advisory Committee approve the recommendation outlined in Report APRAC18-013, dated April 17, 2018, of the Project Manager, Facilities and Planning Initiatives, as follows:</p>
<p>That a presentation by the City’s Project Manager, Facilities and Planning Initiatives on the 2018 Facilities and Planning Initiatives Work Plan, be received for information.</p>
<p>Carried</p>
<p>Carried</p>
<br>
<br>
<br>
<br>
<br>
<p>Arenas, Parks and Recreation Advisory Committee minutes of April 17, 2018</p>
<p>Snofest Administrative Changes</p>
<p>Report APRAC18-012</p>
<p>Moved by David Ronson</p>
<p>That the Arenas Parks and Recreation Advisory Committee approve the recommendation outlined in Report APRAC18-012 dated April 17, 2018, of the Recreation Division Coordinator, as follows:</p>
<p>That report APRAC18-012 be received for information.</p>
<p>Carried</p>
<p>Other Business</p>
<p>There were no items of Other Business.</p>
<p>Next Meeting - May 15, 2018</p>
<p>The Chair indicated that the next meeting of the Committee is scheduled for May 15, 2018.</p>
<p>That this meeting of the Arenas, Parks and Recreation Advisory Committee adjourn at 6:30 p.m.</p>
<p>Adjournment</p>
<p>Moved by Glen Payne</p>
<p>Carried</p>
<p>Kendra Sedgwick, Committee Coordinator</p>
<p>Diane Sargent, Chair</p>
<br>
<br>
<br>
<br>
<br></div>