<!doctype html><div><p>Staff:</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>General Committee Minutes</p>
<br>
<p>Council Chambers, City Hall</p>
<br>
<br>
<p>May 7, 2018</p>
<br>
<p>Present:</p>
<br>
<p>Mayor Bennett</p>
<p>Councillor Baldwin</p>
<p>Councillor Beamer</p>
<p>Councillor Clarke</p>
<p>Councillor Haacke</p>
<p>Councillor McWilliams</p>
<p>Councillor Parnell</p>
<p>Councillor Pappas</p>
<p>Councillor Riel</p>
<p>Councillor Therrien</p>
<p>Councillor Vassiliadis</p>
<br>
<p>Sandra Clancy, Chief Administrative Officer</p>
<p>Ken Doherty, Director of Corporate Services</p>
<p>Jeffrey Humble, Director of Planning and Development Services</p>
<p>Wayne Jackson, Commissioner of Infrastructure and Planning Services</p>
<p>John Kennedy, Clerk</p>
<p>Patricia Lester, Commissioner of Corporate and Legislative Services</p>
<p>Allan Seabrooke, Commissioner of Community Services</p>
<p>Richard Freymond, Manager of Financial Services</p>
<br>
<p>Resolution to meet in Closed Session - 5:15 p.m. Doris Room</p>
<br>
<p>Moved by Councillor Clarke</p>
<br>
<p>That Committee move into Closed Session to discuss one item under Section</p>
<p>239(2)(c) A proposed or pending acquisition or disposition of land by</p>
<p>the municipality or local board and Section 239(2)(e) Litigation or potential</p>
<p>litigation, including matters before administrative tribunals, affecting the</p>
<p>municipality or local board.</p>
<br>
<p>Carried</p>
<br>
<br>
<p>Open Session - 5:30 p.m. Council Chambers</p>
<br>
<p>Committee convened in Open Session at 5:35 p.m.</p>
<br>
<br>
<br>
<p>1</p>
<br>
<br>
<br>
<br>
<br>
<p>Thirty Seconds of Reflection</p>
<br>
<p>National Anthem</p>
<br>
<p>Adoption of minutes:</p>
<br>
<p>Moved by Councillor Clarke</p>
<br>
<p>Carried</p>
<br>
<br>
<p>Disclosure of Pecuniary Interest</p>
<br>
<p>That the minutes of the meetings of General Committee held on April 16, 23 and</p>
<p>30, 2018 be approved.</p>
<br>
<p>Councillor Therrien declared an interest in agenda item 13.a, Report IPSTR18-011,</p>
<p>Crawford Trail Extension and Lighting of Trails, as she lives in proximity to the subject</p>
<p>lands.</p>
<br>
<p>Report of Closed Session</p>
<br>
<p>Report CLSRE18-004</p>
<p>Expropriation of Land at 933 Lansdowne Street West</p>
<br>
<p>Councillor Haacke declared a conflict with Report CLSRE18-004, as the owner of the</p>
<p>subject lands is a client of his.</p>
<br>
<p>Councillor McWilliams declared a conflict with Report CLSRE18-004, as he owns a</p>
<p>property adjacent to the subject lands.</p>
<br>
<p>Councillors Haacke and McWilliams did not discuss or vote on Report CLSRE18-004</p>
<p>due to their declared interests.</p>
<p>Moved by Councillor Clarke</p>
<p>That Council approve the recommendations outlined in Report CLSRE18-004 dated May 7, 2018, of the Commissioner of Corporate and Legislative Services, as follows, that:</p>
<p>a)</p>
<p>b)</p>
<p>Staff be authorized to obtain a new appraisal for the portion of 933 Lansdowne Street West required for the flood mitigation project and make a final offer to the owner prior to commencing Expropriation proceedings;</p>
<p>Failing a resolution of Recommendation A, expropriation proceedings be commenced and the Application for Approval to Expropriate Land be made for facilitating the achievement of a flood reduction objection from the Byersville Flood Reduction Master Plan for approximately a 4.5 acre portion of the following property:</p>
<p>i)</p>
<p>A portion of 933 Lansdowne Street West being a part of PIN 28058- 0006 (LT) part of PT LT 8 & 9 PL 17Q NORTH MONAGHAN, PTS 4, 5 & 6 45R1270, EXCEPT PTS 1, 2, 3 & 4 45R2161; PT LT 10 & 11 PL 17Q NORTH MONAGHAN, FIRSTLY AS IN R500570; PETERBOROUGH</p>
<br>
<p>c)</p>
<p>d)</p>
<p>e)</p>
<p>f)</p>
<p>g)</p>
<p>h)</p>
<p>Carried</p>
<p>Carried</p>
<p>The City Solicitor be authorized to execute the Application for Approval to Expropriate Land and the Notice of Application for Approval to Expropriate Land, and to serve and publish the Notice as required under the Expropriations Act;</p>
<p>Any valid request from an owner for an inquiry that is received be forwarded to the Chief Inquiry Officer for the appointment of an Inquiry Officer, and that the City be represented at any Hearing of Necessity, as necessary, under the Expropriations Act;</p>
<p>In the event that there are inquiries (Hearings of Necessity) conducted at the request of an owner(s), the recommendation(s) of the Inquiry Officer be reported to City Council for its consideration and decision as the approving authority under the Expropriations Act;</p>
<p>The City Solicitor be authorized to engage such appraisal, business valuation, survey or other professional services in connection with the expropriation as are necessary and advisable;</p>
<p>The Initiation of Expropriation Proceedings By-law, as set out in Appendix “A” of Report CLSRE18-004, be passed; and</p>
<p>A by-law be passed authorizing the Administrative Staff Committee to approve the acquisition of a portion of 933 Lansdowne Street West, if a settlement can be reached with any the property owner, as set out in Appendix “B” of Report CLSRE18-004.</p>
<p>Consent Agenda for Reports and Communications</p>
<p>Moved by Mayor Bennett</p>
<p>That items 11.b., 11.c., and 13.b. be approved as part of the Consent Agenda.</p>
<p>Development Charge Reserve Funds 2017 Annual Report - City and Peterborough Utilities Commission</p>
<p>Report CLSFS18-020</p>
<p>Moved by Mayor Bennett</p>
<p>That Council approve the recommendations outlined in report CLSFS18-020 dated May 7, 2018 of the Commissioner of Corporate and Legislative Services as follows:</p>
<p>a)</p>
<p>That the Development Charge Reserve Funds – 2017 Annual Report for the City of Peterborough, as presented in Report CLSFS18-020, be received.</p>
<br>
<br>
<p>b)</p>
<p>Carried</p>
<p>Carried</p>
<p>That the Peterborough Utilities Commission Report entitled Water Development Charges for the year ended December 31, 2017, appended to Report CLSFS18-020 as Appendix B, be received.</p>
<p>Municipal Capital Facilities - Tax Exemption By-law</p>
<p>Report CLSOCS18-003</p>
<p>Moved by Mayor Bennett</p>
<p>That Council approve the recommendation outlined in Report CLSOCS18-003 dated May 7, 2018, of the Commissioner of Corporate and Legislative Services, as follows:</p>
<p>That a By-Law be adopted by City Council exempting three municipal capital facility properties from property taxes levied for municipal and school purposes pursuant to Section 110(6) of the Municipal Act 2001, S.O. 2001, c.25.</p>
<p>Award of Tender T-24-18 for the Transportation and Processing of Landfill Recyclables from the County/City Waste Management Facility</p>
<p>Report IPSWM18-004</p>
<p>Moved by Mayor Bennett</p>
<p>That the Council approve the recommendations as outlined in Report IPSWM18- 004 dated May 7, 2018, of the Commissioner of Infrastructure and Planning Services as follows:</p>
<p>That T-24-18 for the Transportation and Processing of Landfill Recyclables from the County/City Peterborough Waste Management Facility be awarded as a two- year contract beginning June 1, 2018 to June 1, 2020 with an option to extend the contract under the same terms and conditions for two additional one-year terms, upon mutual agreement by the City and the Contractor, to:</p>
<p>a)</p>
<p>b)</p>
<p>New West Gypsum Recycling (ONT) Inc., 2182 Wyecroft Road, Oakville, Ontario L6L 5V6 for the transportation, processing and supply of roll-off depot bins for Drywall at a cost of $80.00 per tonne, exclusive of HST, or an estimated cost of $42,000.00 per year exclusive of HST; and</p>
<p>Index Environmental Corporation Group of Companies, 113 Warren Road, Whitby, Ontario L1N 2C4 for the transportation, processing and supply of roll-off depot bins for Construction and Demolition wastes at a cost of $99.74 per tonne exclusive of HST, or an estimated cost of $430,876.80 per year exclusive of HST.</p>
<p>Carried</p>
<br>
<br>
<p>Presentations</p>
<p>Peterborough Regional Health Centre Presentation</p>
<p>Report CLSCLK18-007</p>
<p>Dr. McLaughlin, President and CEO, Adair Ireland-Smith, Board Chair and Don Gillespie, Vice-Chair, Peterborough Regional Health Centre and Dr. Moore, Ross Memorial Hospital, made a presentation.</p>
<p>Moved by Mayor Bennett</p>
<p>That Council approve the recommendation outlined in Report CLSCLK18-007 dated May 7, 2018, of the City Clerk, as follows:</p>
<p>That the presentation from the Peterborough Regional Health Centre be received for information.</p>
<p>Carried</p>
<p>PKED 2018 First Quarter Report</p>
<p>Report PKED18-002</p>
<p>Rhonda Keenan, President, Peterborough and the Kawarthas Economic Development, made a presentation.</p>
<p>Moved by Councillor Therrien</p>
<p>That Council approve the recommendation outlined in Report PKED18-002 dated May 7, 2018 of the Board Chair and President & CEO of Peterborough & the Kawarthas Economic Development, as follows:</p>
<p>That Report PKED18-002 and supporting presentation, providing the Peterborough & the Kawarthas Economic Development 2018 First Quarter Report be received.</p>
<p>Carried</p>
<p>a)</p>
<br>
<p>Charlotte Street East and Downtown Gateway Project</p>
<p>Report IPSPD18-010</p>
<p>Moved by Councillor Pappas</p>
<p>That Council approve the recommendations outlined in Report IPSPD18-010 dated May 7, 2018, of the Commissioner of Infrastructure and Planning Services, as follows:</p>
<p>That the presentation by AECOM regarding the proposed Charlotte Street Concept Design between Aylmer Street and Water Street be received for information;</p>
<br>
<p>b)</p>
<p>c)</p>
<p>d)</p>
<p>e)</p>
<br>
<br>
<p>That the conceptual design and cost estimate for the Charlotte Street East Project as set out in Exhibit “B” attached to Report IPSPD18-010 be approved;</p>
<p>That the Charlotte Street East Project and the Downtown Gateway Project at the Park Street and Charlotte Street intersection be included in the Bethune Street Project and that the Charlotte Street Renewal and Louis Street Urban Park Project be renamed the Louis Street Urban Park Project;</p>
<p>That the Bethune Street Project budget be increased by $490,000.00 from $29,187,300 to $29,677,300 and the additional $490,000 requirement be financed from:</p>
<p>i)</p>
<p>ii)</p>
<p>A $465,000 transfer from the Charlotte Street Renewal and Louis Street Urban Park Project identified as Project 7-1.04 in the 2018 Approved Capital Budget; and</p>
<p>A $25,000 transfer from the Central Area Master Plan Project – Detailed Design Gateways identified as Project 7-1.07 in the 2015 approved Capital Budget.</p>
<p>That the contract awarded under P-14-15 for the Detailed Design and Contract Administration for the Bethune Street Project to AECOM, in the amount of $3,234,360 plus HST of $420,466.80 for a total cost of $3,654,826.80, be increased by $482,813.41, excluding taxes, to a new contract amount of $3,717,173.41, plus HST of $483,232.54, for a total cost of $4,200,405.95 to complete the detailed design and prepare contract documents for the Charlotte Street East Project and the Downtown Gateway Project at the Park Street and Charlotte Street intersection.</p>
<p>Carried</p>
<p>CAO, Corporate and Legislative Services</p>
<p>December 31, 2017 Financial Report (Unaudited)</p>
<p>Report CLSFS18-018</p>
<p>Moved by Councillor Baldwin</p>
<p>That Council approve the recommendations outlined in Report CLSFS18-018 dated May 7, 2018, of the Commissioner of Corporate and Legislative Services, as follows:</p>
<p>a)</p>
<p>That the December 31, 2017 Quarterly Financial Report (unaudited) attached as Appendix A to Report CLSFS18-018, dated May 7, 2018, be received.</p>
<br>
<p>b)</p>
<p>That as a matter of housekeeping, the pre-approved budget of the Flood Reduction Subsidy Program C-240, be reduced by $800,000 and transferred as follows:</p>
<p>i)</p>
<p>ii)</p>
<p>$500,000 to A-230 CCTV Inspection of Pipes (2018 – 5-15.20)</p>
<p>$300,000 to B-210 Sanitary Sewer Relining and Repair (2018 – 5- 15.19)</p>
<p>c)</p>
<p>That Capital Levy approved in previous years’ capital budgets for various projects, that is no longer needed, in the amount of $132,299 and shown on Chart 3 in the report CLSFS18-018, be transferred to the Capital Levy Reserve.</p>
<p>d)</p>
<p>That $99,747 representing 50% of the $199,494 - 2017 Police Services surplus be transferred to the Police Special Projects Reserve.</p>
<p>Carried</p>
<p>Community Services</p>
<p>Marina Mooring Fees and Types</p>
<p>Report CSRS18-005</p>
<p>Moved by Councillor McWilliams</p>
<p>That the matter be referred to staff to obtain further information regarding mooring rates.</p>
<p>Lost</p>
<p>Moved by Councillor Riel</p>
<p>That Council approve the recommendations outlined in Report CSRS18-005 dated May 7, 2018, of the Commissioner of Community Services, as follows:</p>
<p>That report CSRS18-005 be received for information;</p>
<p>That a 10% increase to all mooring fees be included in the 2019 Draft Budget; and,</p>
<p>c)</p>
<p>That up to 70 slips be allocated to seasonal boaters, annually.</p>
<p>Carried</p>
<p>a)</p>
<p>b)</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Request to Rename Olympus Park</p>
<p>Report CSRS18-008</p>
<p>Moved by Councillor Pappas</p>
<p>That Council approve the recommendation outlined in Report CSRS18-008 dated May 7, 2018, of the Commissioner of Community Services, as follows:</p>
<p>a)</p>
<p>That the request to rename Olympus Park as Stillman Park be approved.</p>
<p>At the meeting of May 7, 2018, Committee added Item b) as follows:</p>
<p>b)</p>
<p>That staff re-convene the Naming Committee to review their by-law.</p>
<p>Carried</p>
<p>Infrastructure and Planning Service</p>
<p>Crawford Trail Extension and Lighting of Trails</p>
<p>Report IPSTR18-011</p>
<p>Councillor Therrien left the meeting at 8:21 p.m. and returned at 8:23 p.m.</p>
<p>Councillor Therrien, due to her previously declared interest, did not discuss or vote on the matter.</p>
<p>Moved by Councillor Riel</p>
<p>That Council approve the recommendations outlined in Report IPSTR18-011 dated May 7, 2018, of the Commissioner of Infrastructure and Planning Services, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>That sufficient funds to purchase and install lighting for the Crawford Trail extension be included in future budget submissions; and</p>
<p>That lighting of the main trails in the City be approved as a design feature and that implementation of the lighting be included as part of future budget submissions.</p>
<p>Carried</p>
<p>Other Business</p>
<p>Farmers Market Licensing Agreement</p>
<p>Councillor Vassiliadis declared an interest in this matter as his business rents space at the market.  He did not discuss or vote on the matter.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Moved by Councillor Pappas</p>
<p>That staff be directed to monitor the Farmers Market for violations against the licensing agreement and,</p>
<p>That staff report back to Council on any violations and next steps.</p>
<p>Carried</p>
<p>Adjournment</p>
<p>Moved by Councillor Therrien</p>
<p>That this meeting of City Council adjourn at 8:35 p.m.</p>
<p>Carried</p>
<br>
<p>_________________________</p>
<p>John Kennedy</p>
<p>City Clerk</p>
<p>_________________________</p>
<p>Councillor Beamer</p>
<p>Chair</p>
<br></div>