<!doctype html><div><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Peterborough Public Library Board Minutes</p>
<br>
<p>City of Peterborough</p>
<br>
<p>April 24, 2018</p>
<br>
<p>Present</p>
<br>
<p>Leslie Woolcott</p>
<p>Paul Stern, Chair</p>
<p>Barb Connor</p>
<p>Mauro DiCarlo</p>
<p>Jayne White</p>
<p>Garth Wedlock</p>
<p>Dan Moloney</p>
<p>Councillor Baldwin</p>
<p>Councillor Riel</p>
<br>
<p>Kendra Sedgwick, Committee Coordinator</p>
<p>Jennifer Jones, Library CEO</p>
<p>Allison Bell, Library Services Manager</p>
<br>
<p>Staff</p>
<br>
<p>Call to Order</p>
<br>
<br>
<p>Confirmation of Minutes</p>
<br>
<p>Moved by Barb Connor</p>
<br>
<p>The meeting was called to order at 6:07 p.m. by the Chair, in the Board Room, Peterborough Public Library.</p>
<p>That the minutes of the Peterborough Public Library Board of March 27, 2018 be approved.</p>
<p>Carried</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Interest at this time.</p>
<p>Consent Agenda</p>
<p>No items were passed as part of the Consent Agenda.</p>
<p>The Chair indicated that the order of agenda will be amended to deal with item 5.2. first.</p>
<br>
<p>Peterborough Public Library Board minutes of April 24, 2018</p>
<p>That the Library Board approve the recommendation outlined in Report PPL18- 022 dated April 24, 2018, of the Library CEO, as follows:</p>
<p>That the Strategic Plan Framework be approved.</p>
<p>Library Strategic Plan - status update</p>
<p>Report PPL18-022</p>
<p>Moved by Garth Wedlock</p>
<p>Carried</p>
<p>Sponsorship Update</p>
<p>Report PPL18-028</p>
<p>Moved by Councillor Baldwin</p>
<p>That the Library Board approve the recommendation outlined in Report PPL18- 028, dated April 24, 2018, of the Library CEO, as follows:</p>
<p>That the verbal update by the City’s Sponsorship Coordinator, be received for information.</p>
<p>The following was approved by Committee at the meeting:</p>
<p>That the Board choose to endorse moving forward with installation and operation of digital signs in the Public Library as outlined.</p>
<p>Updates from the Foundation and Friends of the Library</p>
<p>Carried</p>
<p>Report PPL18-026</p>
<p>Moved by Mauro DiCarlo</p>
<p>That the Library Board approve the recommendations outlined in Report PPL18- 026, dated April 24, 2018, of the Library CEO, as follows:</p>
<p>a)   That a verbal report to inform the Library Board on the status of the</p>
<p>Foundation by Jayne White be received for information; and</p>
<p>b)   That a verbal report to inform the Library Board on the status of the Friends</p>
<p>of the Peterborough Public Library by Barb Connor be received for information.</p>
<p>Carried</p>
<br>
<br>
<br>
<br>
<br>
<p>Peterborough Public Library Board minutes of April 24, 2018</p>
<p>Memorandum of Understanding Update</p>
<p>Report PPL18-025</p>
<p>Moved by Councillor Riel</p>
<p>That the Library Board approve the recommendation outlined in Report PPL18- 025 dated April 24, 2018, of the Library CEO, as follows:</p>
<p>That the report of the Library CEO be received for information.</p>
<p>That the Library Board approve the recommendations outlined in Report PPL18- 027 dated April 24, 2018, of the Library CEO, as follows:</p>
<p>a) That the report of the Library CEO be received for information, and</p>
<p>b) That the Library Board agree to hire eSolutions to create the Library’s new website.</p>
<p>That the Library Board approve the recommendation in Report PPL18-024 dated April 24, 2018, of the Library CEO as follows:</p>
<p>That Report PPL18-024 be received for information.</p>
<p>Carried</p>
<p>New Library Website - update</p>
<p>Report PPL18-027</p>
<p>Moved by Leslie Woolcott</p>
<p>Carried</p>
<p>Library CEO Report April 2018</p>
<p>Report PPL18-024</p>
<p>Moved by Dan Moloney</p>
<p>Carried</p>
<br>
<br>
<br>
<br>
<br>
<p>Peterborough Public Library Board minutes of April 24, 2018</p>
<p>Quarterly Budget Update</p>
<p>Report PPL18-028</p>
<p>Moved by Jayne White</p>
<p>Carried</p>
<p>Other Business</p>
<p>That the Library Board approve the recommendation outlined in Report PPL18- 028 dated April 24, 2018, of the Library CEO, as follows:</p>
<p>That the report on the status of the first quarter of the 2018 Library budget be received for information.</p>
<p>Use of Corporate Resources for Election-related Purposes</p>
<p>Dan Moloney, Councillor Baldwin and Councillor Riel declared a conflict and did not discuss or vote on the matter.</p>
<p>Moved by Mauro DiCarlo</p>
<p>That the Peterborough Public Library Board adopt the City's Use of Corporate Resources Policy.</p>
<p>That this meeting of the Peterborough Public Library Board adjourn at 8:24 p.m.</p>
<p>Next Meeting - May 29, 2018</p>
<p>Adjournment</p>
<p>Moved by Councillor Baldwin</p>
<p>Kendra Sedgwick, Committee Coordinator</p>
<p>Paul Stern, Chair</p>
<p>Carried</p>
<p>Carried</p>
<br>
<br>
<br>
<br>
<br>
<br></div>