<!doctype html><div><br>
<br>
<br>
<br>
<p>May 10, 2018</p>
<br>
<p>Present</p>
<br>
<br>
<br>
<br>
<br>
<p>Regrets</p>
<br>
<p>Staff</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Call to Order</p>
<br>
<p>Carried</p>
<br>
<br>
<p>Carried</p>
<br>
<br>
<br>
<br>
<p>Museum and Archives Advisory Committee Minutes</p>
<br>
<p>Councillor Riel</p>
<p>Debbie Flieler</p>
<p>Jodi Aoki</p>
<p>Karen Carter-Edwards</p>
<p>Linda Lumsden</p>
<p>Claude Dufresne</p>
<p>Ann Sullivan, Vice Chair</p>
<p>Ken Brown</p>
<br>
<p>Gayle McIntyre, Chair</p>
<br>
<p>Kendra Sedgwick, Committee Coordinator</p>
<p>Susan Neale, Museum Director</p>
<p>Karen Rennie, Manager of the Arts, Culture and Heritage Division</p>
<br>
<p>The Museum & Archives Advisory Committee meeting was called to order at 5:00 p.m. by Ann Sullivan, Vice Chair, in the Fine Annex, Peterborough Museum & Archives.</p>
<p>Confirmation of Minutes</p>
<p>Moved by Claude Dufresne</p>
<p>That the minutes of the Museum & Archives Advisory Committee held on March 8, 2018 be approved.</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Pecuniary Interest.</p>
<p>Consent Agenda - 5.b.   5.c.</p>
<p>Moved by Debbie Flieler</p>
<p>That item 5.b. be approved as part of the Consent Agenda.</p>
<br>
<p>Museum & Archives Advisory Committee minutes of May 10, 2018</p>
<p>Reports and Communications</p>
<p>Peterborough Museum & Archives: 5 Year Plan Report MAAC18-008</p>
<p>Moved by Debbie Flieler</p>
<p>That the Museum & Archives Advisory Committee approve the recommendation outlined in Report MAAC18-008 dated May 10, 2018 of the Museum Director, as follows:</p>
<p>That the Peterborough Museum & Archives 5 Year Plan DRAFT 2018-2023, attached as Appendix A, be approved.</p>
<p>Carried</p>
<p>Carried</p>
<p>Peterborough Museum & Archives: 2018 Community Museums Operating Grant Update Report MAAC18-009</p>
<p>Moved by Karen Carter-Edwards</p>
<p>That the Museum & Archives Advisory Committee approve the recommendation outlined in Report MAAC18-009 dated May 10, 2018, of the Museum Director, as follows:</p>
<p>That the presentation by the Museum Director and Curatorial Assistant, Peterborough Museum & Archives, be received for information.</p>
<p>Peterborough Museum & Archives: Report on Activities Report MAAC18-010</p>
<p>Moved by Claude Dufresne</p>
<p>That the Museum & Archives Advisory Committee approve the recommendation outlined in Report MAAC18-010, dated May 10, 2018, of the Museum Director, as follows:</p>
<p>That the Museum Director’s report on the upcoming activities of the Peterborough Museum & Archives be received for information.</p>
<p>Carried</p>
<p>Other Business</p>
<p>There were no items of Other Business.</p>
<br>
<br>
<br>
<br>
<p>Museum & Archives Advisory Committee minutes of May 10, 2018</p>
<p>Next Meeting - June 14, 2018</p>
<p>The Chair indicated that the next meeting is scheduled for June 14, 2018.</p>
<p>That this meeting of the Museum & Archives Advisory Committee adjourn at 5:30 p.m.</p>
<p>Adjournment</p>
<p>Moved by Jodi Aoki</p>
<p>Carried</p>
<p>Kendra Sedgwick, Committee Coordinator</p>
<p>Ann Sullivan, Vice Chair</p>
<br>
<br>
<br>
<br></div>