<!doctype html><div><p>May 2, 2018</p>
<br>
<p>Present</p>
<br>
<p>Regrets</p>
<br>
<p>Staff Present</p>
<br>
<p>Call to Order</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Accessibility Advisory Committee Minutes</p>
<br>
<p>Councillor Riel, Chair</p>
<p>Warren Northcott</p>
<p>Thomas Street</p>
<p>Andrea Walsh</p>
<p>Ben McColl</p>
<br>
<p>Don Parnell</p>
<p>Amanda Motyer</p>
<p>Lynda Staples</p>
<p>Erica Richmond</p>
<br>
<p>Mark Buffone, Accessibility Compliance Coordinator</p>
<p>Sadie Norrad, Accessibility and Communication Specialist</p>
<p>Kendra Sedgwick, Committee Coordinator</p>
<p>Sharron Hayton, Customer Service Coordinator</p>
<br>
<p>The meeting was called to order at 4:00 p.m. by Councillor Riel, Chair in the Doris Room, City Hall.</p>
<p>That the minutes of Accessibility Advisory Committee held on April 4, 2018 be approved.</p>
<p>Confirmation of Minutes</p>
<p>Moved by Thomas Street</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Pecuniary Interest.</p>
<p>Consent Agenda - 5.e., 5.f.</p>
<p>Moved by Warren Northcott</p>
<p>Carried</p>
<p>Carried</p>
<br>
<p>That items 5.e. and 5.f. were approved as part of the Consent Agenda.</p>
<p>Accessibility Advisory Committee minutes of May 2, 2018</p>
<p>National Access Awareness Week Report AAC18-020</p>
<p>Moved by Warren Northcott</p>
<p>That the Accessibility Advisory Committee (AAC) approve the recommendation outlined in Report AAC18-020 dated May 2, 2018, of the Accessibility and Communication Specialist as follows:</p>
<p>That the report from the Accessibility and Communication Specialist on National Accessibility Week be received for information.</p>
<p>Carried</p>
<p>Accessibility Office Report Report AAC18-018</p>
<p>Moved by Warren Northcott</p>
<p>Carried</p>
<p>Community Branding Project Update Report AAC18-019</p>
<p>Moved by Andrea Walsh</p>
<p>That the Accessibility Advisory Committee (AAC) approve the recommendation outlined in Report AAC18-018 dated May 2, 2018, of the Accessibility Compliance Coordinator as follows:</p>
<p>That Report AAC18-018 with respect to the current work of the Accessibility Office be received for information.</p>
<p>That the Accessibility Advisory Committee (AAC) approve the recommendation outlined in Report AAC18-019 dated May 2, 2018 of the Accessibility and Communication Specialist, as follows:</p>
<p>That the presentation by the Customer Service Coordinator on the City of Peterborough’s Community Branding Project be received for information.</p>
<p>Carried</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Accessibility Advisory Committee minutes of May 2, 2018</p>
<p>Official Plan Update Report AAC18-021</p>
<p>Moved by Ben McColl</p>
<p>Patrick Vusir, Assistant Planner and Milan Nguyen, Planner, Policy and Research, provided a presentation to Report AAC18-021.</p>
<p>That the Accessibility Advisory Committee (AAC) approve the recommendation outlined in Report AAC18-021 dated May 2, 2018, of the Accessibility and Communication Specialist as follows:</p>
<p>That the presentation by the Policy and Research Planner on the Official Plan be received for information.</p>
<p>That the Accessibility Advisory Committee (AAC) approve the recommendations outlined in Report AAC18-016 dated May 2, 2018 of the Accessibility and Communication Specialist as follows:</p>
<p>That the verbal update from the Chair the Built Environment Sub-Committee be received for information.</p>
<p>Carried</p>
<p>Built Environment Sub-Committee Report Report AAC18-016</p>
<p>Moved by Warren Northcott</p>
<p>Carried</p>
<p>Transportation Sub-Committee Report Report AAC18-017</p>
<p>Moved by Andrea Walsh</p>
<p>That the Accessibility Advisory Committee (AAC) approve the recommendations outlined in Report AAC18-017 dated May 2, 2018 of the Accessibility and Communication Specialist as follows:</p>
<p>a)   That the verbal update by the Chair of the Transportation Sub-Committee be</p>
<p>received for information; and</p>
<p>b)   That Warren Northcott be appointed to sit on the Transportation Sub-</p>
<p>Committee.</p>
<p>Carried</p>
<br>
<br>
<br>
<br>
<br>
<p>Accessibility Advisory Committee minutes of May 2, 2018</p>
<p>Committee requested a presentation from Gillian Barnes, Project Manager Facilities and Planning Initiatives, regarding the construction of the new arena complex at a future Committee meeting.</p>
<p>That this meeting of the Accessibility Advisory Committee adjourn at 5:13 p.m.</p>
<p>Other Business</p>
<p>Adjournment</p>
<p>Moved by Ben McColl</p>
<p>Carried</p>
<p>Kendra Sedgwick, Committee Coordinator</p>
<p>Councillor Riel, Chair</p>
<br>
<br>
<br>
<br></div>