<!doctype html><div><br>
<p>Date:</p>
<br>
<p>Present</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Regrets</p>
<br>
<p>Staff</p>
<br>
<p>Carried</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Peterborough Public Library Board Minutes</p>
<br>
<p>City of Peterborough</p>
<br>
<p>May 29, 2018</p>
<br>
<p>Leslie Woolcott, Vice Chair</p>
<p>Barb Connor</p>
<p>Jayne White</p>
<p>Garth Wedlock</p>
<p>Dan Moloney</p>
<p>Councillor Baldwin</p>
<p>Councillor Riel</p>
<br>
<p>Paul Stern, Chair</p>
<p>Mauro DiCarlo</p>
<br>
<p>Natalie Garnett, Deputy Clerk</p>
<p>Jennifer Jones, Library CEO</p>
<br>
<p>_____________________________________________________________________</p>
<br>
<p>The meeting was called to order by the Vice Chair at 6:00 p.m.</p>
<p>Confirmation of Minutes</p>
<p>Moved by Councillor Baldwin</p>
<p>That the minutes of the Peterborough Public Library Board of April 24, 2018 be approved.</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of pecuniary interest.</p>
<p>Consent Agenda</p>
<p>No items were passed as part of the Consent Agenda.</p>
<p>Reports and Communications</p>
<p>The Agenda was amended to hear the presentation on the Library Strategic Plan first.</p>
<p>Library Strategic Plan - Status Update</p>
<p>Report PPL18-029</p>
<p>TCI provided a PowerPoint presentation on the Library Strategic Plan.</p>
<br>
<br>
<br>
<p>Following discussion the Board elected to alter the wording in the mission statement as follows:</p>
<p>"Our library will inspire our communities to become more engaged and literate."</p>
<p>Moved by Barb Connor</p>
<p>That the Library Board approve the recommendations in Report PPL18-029, dated May 29, 2018, of the Library, as follows:</p>
<p>a)       That the presentation by TCI be received for information; and</p>
<p>b)   That TCI be given approval to proceed with an informational presentation</p>
<p>to Council at an upcoming General Committee meeting.</p>
<p>Carried</p>
<p>MOU Update</p>
<p>Report PPL18-032</p>
<p>Moved by Dan Moloney</p>
<p>That the Library Board approve the recommendation outlined in Report PPL18- 032 dated May 29, 2018, of the Library CEO as follows:</p>
<p>That the report of the Library CEO be received for information.</p>
<p>Carried</p>
<p>Report PPL18-030</p>
<p>Updates from the Foundation and Friends of the Library</p>
<p>Barb Connor, Friends of the Library, advised that the first book sale will be held on June 23rd, and a children's book sale will be held July 3rd.</p>
<p>Jayne White, Library Foundation Board, advised that elections were held and the organization has adopted a new logo.</p>
<p>Moved by Garth Wedlock</p>
<p>That the Library Board approve the recommendations outlined in Report PPL18- 030, dated May 29, 2018, of the Library CEO, as follows:</p>
<p>a)</p>
<p>That a verbal report to inform the Library Board on the status of the Foundation by Jayne White be received for information;</p>
<p>b)   That a verbal report to inform the Library Board on the status of the Friends</p>
<p>of the Peterborough Public Library by Barb Connor be received for information; and,</p>
<p>That report PPL18-030 be received for information.</p>
<p>MOU Property Matters</p>
<p>Report PPL18-036</p>
<p>Moved by Councillor Baldwin</p>
<p>That the Library Board approve the recommendations outlined in Report PPL18- 036 dated May 29, 2018, of the Library CEO, as follows:</p>
<p>That the report of the Library CEO be received for information;</p>
<p>That the Board designate the Chair/Vice Chair as signing authorities for the agreements of purchase and sale and related documentation;</p>
<p>That the Board approve the sale of the property, subject to clarification regarding the Carnegie Trust, owned by the Library Board at 345 Aylmer Street N (main branch) to the City of Peterborough for $2;</p>
<p>That the Board approve the sale of the property owned by the Library Board at 729 Park Street S (DelaFosse branch) to the City of Peterborough for $2; and,</p>
<p>That the Board direct the Library CEO to retain a lawyer on its behalf.</p>
<br>
<p>c)</p>
<p>Carried</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>d)</p>
<p>e)</p>
<p>Carried</p>
<p>Carried</p>
<br>
<p>Advertising Policy</p>
<p>Report PPL18-034</p>
<p>Moved by Jayne White</p>
<br>
<p>That Report PPL18-034, Advertising Policy, be deferred to an upcoming meeting.</p>
<br>
<br>
<br>
<br>
<br>
<p>That Report PPL18-035, Art Policy, be deferred to a future meeting.</p>
<p>Art Policy</p>
<p>Report PPL18-035</p>
<p>Moved by Councillor Riel</p>
<p>Carried</p>
<p>Security Services - Interim Update</p>
<p>Report PPL18-033</p>
<p>Dan Moloney left the meeting at 7:46 p.m.</p>
<p>Moved by Councillor Riel</p>
<p>That the Library Board approve Report PPL18-033, dated May 29, 2018 of the Library CEO, as follows:</p>
<p>a)       That Report PPL18-033 be received for information; and,</p>
<p>b)       That the pilot project be extended in the 2019 budget as a below the line</p>
<p>Carried</p>
<p>request to expand Security Services to full library operating hours.</p>
<p>Library CEO Report May 2018</p>
<p>Report PPL18-031</p>
<p>Moved by Barb Connor</p>
<p>Carried</p>
<p>Other Business</p>
<p>That the Library Board approve the recommendation in Report PPL18-031 dated May 29, 2018, of the Library CEO as follows:</p>
<p>That the report be received for information.</p>
<p>The Performance Appraisal Process was added as an item of Other Business.</p>
<br>
<p>Correspondence</p>
<p>Holiday Closure</p>
<p>Correspondence</p>
<p>Pamphlet Racks</p>
<p>Discussion was held regarding library hours on the Sunday of long weekends. This item will come back to the Board at a future meeting.</p>
<p>This item was discussed as part of the Advertising Policy (Report PPL18-034).</p>
<p>Moved by Garth Wedlock</p>
<p>That the Performance Appraisal Process for the Library CEO be deferred to permit additional work to be undertaken.</p>
<br>
<br>
<br>
<br>
<p>Next Meeting - June 26, 2018</p>
<p>Adjournment</p>
<p>Moved by Jayne White</p>
<p>That the meeting adjourn at 8:34 p.m.</p>
<p>Carried</p>
<p>Carried</p>
<p>_________________________</p>
<p>Natalie Garnett</p>
<p>Deputy Clerk</p>
<p>_________________________</p>
<p>Paul Stern, Chair</p>
<br>
<br>
<br></div>