<!doctype html><div><p>City Council Minutes</p>
<br>
<p>City of Peterborough</p>
<br>
<p>Council Chambers, City Hall</p>
<br>
<br>
<p>June 5, 2018</p>
<br>
<p>Present:</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Staff:</p>
<br>
<br>
<br>
<p>Call to Order</p>
<br>
<p>Mayor Bennett</p>
<p>Councillor Baldwin</p>
<p>Councillor Clarke</p>
<p>Councillor Haacke</p>
<p>Councillor McWilliams</p>
<p>Councillor Parnell</p>
<p>Councillor Pappas</p>
<p>Councillor Riel</p>
<p>Councillor Therrien</p>
<p>Councillor Vassiliadis</p>
<p>Councillor Beamer</p>
<br>
<p>John Kennedy, Clerk</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>The meeting was called to order at 7:08 p.m.</p>
<p>Opening of Meeting</p>
<p>National Anthem - Peterborough New Horizons Band</p>
<p>The National Anthem was performed by the Peterborough New Horizons Bands.</p>
<p>Welcome and Opening Remarks - Mayor Bennett</p>
<p>Mayor Bennett provided introductory remarks regarding the Special Meeting of Council, which was arranged for the purpose of presenting the 2017 Civic Awards.</p>
<p>Civic Awards Format - Councillor Therrien</p>
<p>Councillor Therrien provided an overview of the various Civic Award Categories and explained the process that is followed to determine who will receive awards.</p>
<br>
<br>
<p>City Council minutes of June 5, 2018</p>
<p>Presentation of Civic Awards</p>
<p>Moved by Councillor Vassiliadis Seconded by Councillor McWilliams</p>
<p>That the Civic Awards consisting of Community Betterment, Cultural Betterment, Environmental Stewardship/Sustainability, Athletic Award of Merit, Junior Athlete of the Year, Adult Athlete of the Year, Senior Athlete of the Year, Youth Volunteer of the Year, Volunteer of the Year and Lifetime Achievement Award be presented at this time.</p>
<p>Carried</p>
<p>Awards were presented as follows:</p>
<p>Community Betterment</p>
<p>Nancy Calder Peterborough Executive Osteoporosis Canada Planning Committee Women's Charity Golf Classic for Osteoporosis Canada Lorna Verhulst Peterborough New Horizons Bands Gary Cornell Ron Hawkrigg Earlene Bisset Bill Charters and Joanne Anderson Brian Higgins Activity Haven Kitchen and Lunch Volunteers Shirley and Don Seeley In from the Cols Concerts for YES Kathy Boehm Ramesh Makhija Bernard Daynes Special Award</p>
<p>Cultural Betterment</p>
<p>Robert Hinton ReFrame Festival Team Quaker Fire Descendants Organizing Committee Bruce Stonehouse</p>
<p>Environmental Stewardship/Sustainability</p>
<p>Lindsay Stroud and Carolyn Ross</p>
<p>Athletic Award of Merit</p>
<p>TASS Jr. Football Team St. Peter's Girls Hockey Team</p>
<br>
<br>
<p>City Council minutes of June 5, 2018</p>
<p>Adam Guthrie and Ryan Blinn Abigael Hiltz Meghanne Hiltz Lauren Bell Peterborough Minor Mosquito AA Tigers Baseball Ron Challice Paul Brown</p>
<p>Junior Athlete of the Year Audrey McCarthy</p>
<p>Adult Athlete of the Year Kate Davis</p>
<p>Senior Athlete of the Year Ab Doyle</p>
<p>Youth Volunteer of the Year Evan Campbell</p>
<p>Volunteer of the Year Cathy Berges</p>
<p>Lifetime Achievement Award Isabel Bath</p>
<p>Confirmation By-law:</p>
<p>Moved by Councillor Vassiliadis Seconded by Councillor Haacke</p>
<p>Carried</p>
<p>Closing Remarks - Mayor Bennett</p>
<p>Mayor Bennett provided closing remarks.</p>
<br>
<br>
<br>
<p>18-054        Being a by-law to confirm the proceedings of Council at its meeting</p>
<p>held on June 5, 2018</p>
<p>and the said by-law, having been read a third time and passed, the Mayor and Clerk be authorized to sign and seal the same.</p>
<p>City Council minutes of June 5, 2018</p>
<p>Adjournment</p>
<p>Moved by Councillor Pappas Seconded by Councillor Clarke</p>
<p>That the Council meeting adjourn at 8:56 p.m.</p>
<p>Carried</p>
<p>John Kennedy</p>
<p>City Clerk</p>
<p>Daryl Bennett</p>
<p>Mayor</p>
<br>
<br>
<p>_________________________</p>
<p>_________________________</p>
<br>
<br>
<br>
<br>
<br>
<br></div>