<!doctype html><div><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Accessibility Advisory Committee Minutes</p>
<br>
<p>June 27, 2018</p>
<br>
<p>Present</p>
<br>
<p>Regrets</p>
<br>
<p>Staff Present</p>
<br>
<p>Call to Order</p>
<br>
<p>Councillor Riel, Chair</p>
<p>Thomas Street</p>
<p>Andrea Walsh</p>
<p>Don Parnell</p>
<p>Amanda Motyer</p>
<p>Lynda Staples</p>
<p>Erica Richmond</p>
<br>
<p>Warren Northcott</p>
<p>Ben McColl</p>
<br>
<p>Kendra Sedgwick, Committee Coordinator</p>
<p>Mark Buffone, Accessibility Compliance Coordinator</p>
<p>Sadie Norrad, Accessibility and Communication Specialist</p>
<br>
<p>The meeting was called to order at 4:00 p.m. by Councillor Riel, Chair, in the Doris Room, City Hall.</p>
<p>Confirmation of Minutes</p>
<p>Moved by Don Parnell</p>
<p>Carried</p>
<p>That the minutes of Accessibility Advisory Committee held on May 2, 2018 be approved.</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Pecuniary Interest.</p>
<p>Consent Agenda - 5.f.</p>
<p>Moved by Erica Richmond</p>
<p>Carried</p>
<p>That item 5.f. was approved as part of the Consent Agenda.</p>
<p>Accessibility Advisory Committee minutes of June 27, 2018</p>
<p>Accessibility Office Report Report AAC18-025</p>
<p>Moved by Erica Richmond</p>
<p>That the Accessibility Advisory Committee (AAC) approve the recommendation outlined in Report AAC18-025 dated June 6, 2018, of the Accessibility Compliance Coordinator as follows:</p>
<p>That Report AAC18-025 with respect to the current work of the Accessibility Office be received for information.</p>
<p>Carried</p>
<p>Arena and Aquatic Complex Update Report AAC18-022</p>
<p>Moved by Lynda Staples</p>
<p>That the Accessibility Advisory Committee (AAC) approve the recommendations outlined in Report AAC18-022 dated June 6, 2018, of the Accessibility and Communication Specialist as follows:</p>
<p>a)   That the presentation by the Peterborough’s Project Manager, Facilities and</p>
<p>Planning Initiatives on the Arena and Aquatic Complex be received for information; and</p>
<p>b)   That the AAC provide comments in regards to the accessibility of the</p>
<p>project.</p>
<p>Carried</p>
<p>Access Fund Request 001-18 Report AAC18-026</p>
<p>Moved by Don Parnell</p>
<p>That the Accessibility Advisory Committee (AAC) approve the recommendations outlined in Report AAC18-026 dated June 6, 2018, of the Accessibility and Communication Specialist as follows:</p>
<p>a)   That a presentation by the Facility Manager, PMC on a proposed installation</p>
<p>of hand railings at the PMC be received for information; and</p>
<p>b)   That the AAC Access Fund Request 001-18 submitted by the Facility</p>
<p>Manager, PMC for the installation of hand railings be approved.</p>
<p>Carried</p>
<br>
<br>
<br>
<br>
<p>Accessibility Advisory Committee minutes of June 27, 2018</p>
<p>Accessibility at the 2018 Municipal Election Report AAC18-027</p>
<p>Moved by Erica Richmond</p>
<p>That the Accessibility Advisory Committee approve the recommendation outlined in Report AAC18-027 dated June 6, 2018, of the Accessibility and Communication Specialist as follows:</p>
<p>That the presentation by the Peterborough’s Elections Coordinator be received for information.</p>
<p>Carried</p>
<p>Built Environment Sub-Committee Report Report AAC18-024</p>
<p>Moved by Amanda Motyer</p>
<p>That the Accessibility Advisory Committee (AAC) approve the recommendation outlined in Report AAC18-024 dated June 6, 2018 of the Accessibility and Communication Specialist as follows:</p>
<p>That the verbal update from the Chair the Built Environment Sub-Committee be received for information.</p>
<p>Carried</p>
<p>Draft 2018 to 2022 Accessibility Plan Report AAC18-023</p>
<p>Moved by Don Parnell</p>
<p>That the Accessibility Advisory Committee (AAC) approve the recommendations outlined in Report AAC18-023 dated June 6, 2018, of the Accessibility and Communication Specialist as follows:</p>
<p>a)   That the presentation by the City of Peterborough’s Accessibility</p>
<p>Compliance Coordinator on the draft 2018 to 2022 Accessibility Plan be received for information; and</p>
<p>b)   That the AAC review and provide feedback on the draft 2018 to 2022</p>
<p>Accessibility Plan.</p>
<p>Carried</p>
<p>Next Meeting - September 5, 2018</p>
<p>The Chair indicated that the next Committee meeting will be held on September 5, 2018.</p>
<br>
<p>Accessibility Advisory Committee minutes of June 27, 2018</p>
<p>That this meeting of the Accessibility Advisory Committee adjourn at 5:25 p.m.</p>
<p>Other Business</p>
<p>There were no items of Other Business.</p>
<p>Adjournment</p>
<p>Moved by Erica Richmond</p>
<p>Carried</p>
<p>Kendra Sedgwick, Committee Coordinator</p>
<p>Councillor Riel, Chair</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br></div>