<!doctype html><div><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>General Committee Minutes</p>
<br>
<p>Council Chambers, City Hall</p>
<br>
<br>
<p>June 25, 2018</p>
<br>
<p>Present:</p>
<br>
<p>Mayor Bennett</p>
<p>Councillor Baldwin</p>
<p>Councillor Beamer, Chair</p>
<p>Councillor Clarke</p>
<p>Councillor Haacke</p>
<p>Councillor McWilliams</p>
<p>Councillor Parnell</p>
<p>Councillor Pappas</p>
<p>Councillor Riel</p>
<p>Councillor Therrien</p>
<p>Councillor Vassiliadis</p>
<br>
<br>
<p>Staff:</p>
<br>
<p>Sandra Clancy, Chief Administrative Officer</p>
<p>Jeffrey Humble, Director of Planning and Development Services</p>
<p>John Kennedy, Clerk</p>
<p>Patricia Lester, Commissioner of Corporate and Legislative Services</p>
<p>Blair Nelson, Manager, Design and Construction, Engineering</p>
<p>David Potts, City Solicitor/Manager of Legal Services</p>
<p>Allan Seabrooke, Commissioner of Community Services</p>
<br>
<p>Open Session - 5:30 p.m. Council Chambers</p>
<br>
<p>Opening of Meeting</p>
<br>
<p>The meeting was called to order at 5:30 p.m. in the Council Chambers, City Hall.</p>
<p>That the minutes of the meetings of General Committee held on May 22, May 28 and June 6, 2018 be approved.</p>
<p>Thirty Seconds of Reflection</p>
<p>National Anthem</p>
<p>Adoption of minutes:</p>
<p>Moved by Councillor Parnell</p>
<p>Carried</p>
<br>
<br>
<p>General Committee minutes of June 25, 2018</p>
<p>Disclosure of Pecuniary Interest</p>
<p>Councillor Parnell declared an interest in agenda item 12.g, Report IPEC18-019, as her family has employment in the construction zone.</p>
<p>Consent Agenda for Reports and Communications</p>
<p>Moved by Councillor Vassiliadis</p>
<p>That items 10.a., 10.c., 11.a., 11.b., 12.b., 12.c.,  12.e.  and 12.h. be passed as part of the Consent Agenda.</p>
<p>Carried</p>
<p>Downloading of Prosecution of Part III Offences to Municipalities</p>
<p>Report CLSPOA18-001</p>
<p>Mvoed by Councillor Vassiliadis</p>
<p>That Council approve the recommendations outlined in Report CLSPOA18-001 dated June 25, 2018, of the Commissioner of Corporate and Legislative Services, as follows:</p>
<p>a)</p>
<p>That Council approve the addition of a .5 FTE Municipal Prosecutor to meet the increased responsibility of the downloading of Part III offences under the Provincial Offences Act and funding for the position be included in the 2019 and subsequent years budgets.</p>
<p>b)    That the Mayor and Clerk be authorized to do all such acts and things and</p>
<p>to execute and deliver all such documents as in their opinion may be necessary or desirable to formalize the downloading of Part III offences from the Province.</p>
<p>Carried</p>
<p>Peterborough Housing Corporation Board Appointments</p>
<p>Report CLSCLK18-001</p>
<p>Moved by Councillor Vassiliadis</p>
<p>That Council approve the recommendations outlined in Report CLSCLK18-001 dated June 25, 2018, of the City Clerk, as follows:</p>
<p>a)</p>
<p>That Linda Kehoe and Ken Smith be reappointed to the Peterborough Housing Corporation Board of Directors, for a 3 year term from April 1, 2018 to March 31, 2021.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>General Committee minutes of June 25, 2018</p>
<p>b)    That Dave Tilley be appointed to the Peterborough Housing Corporation</p>
<p>Board of Directors, for a 3 year term from April 1, 2018 to March 31, 2021.</p>
<p>Carried</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>Carried</p>
<br>
<br>
<br>
<br>
<p>Passage and Amendment of Heritage By-laws</p>
<p>Report CSD18-009</p>
<p>Moved by Councillor Vassiliadis</p>
<p>That Council approve the recommendations outlined in Report CSD18-009, dated June 25 2018, of the Commissioner of Community Services, as follows:</p>
<p>That the enabling By-Law 11-086 for the Heritage Property Tax Rebate Program (HPTRP) be amended to reflect current provincial legislation and City practice with regard to the administration of the program;</p>
<p>That a by-law be passed, attached as Appendix A, as permitted by Section 10 of By-Law 11-086, being a by-law to provide for a tax rebate in respect of designated heritage properties, allowing the property at 503 Homewood Avenue to be included in the HPTRP, and;</p>
<p>That By-Law 1981-165 enabling the designation of 266 Burnham Street under Part IV of the Ontario Heritage Act, be amended to capture the change in legal title for the property as the result of a severance.</p>
<p>Revisions to the Age-friendly Peterborough Advisory Committee Terms of Reference</p>
<p>Report CSSS18-006</p>
<p>Moved by Councillor Vassiliadis</p>
<p>That Council endorse the recommendations outlined in Report CSSS18-006 dated June 25, 2018, of the Commissioner of Community Services, as follows:</p>
<p>a)</p>
<p>That Curve Lake First Nation and Hiawatha First Nation be added to the AFPAC Terms of Reference as highlighted in Appendix A;</p>
<p>b)    That the number of Members on AFPAC be increased by one Member for a</p>
<p>total of twelve (12) Members;</p>
<p>c)</p>
<p>That the new Member be a Community Seat assigned to Hiawatha First Nation;</p>
<p>d)    That the existing First Nation Community Seat be assigned to Curve Lake</p>
<p>First Nation;</p>
<p>General Committee minutes of June 25, 2018</p>
<p>That Councillor Slade McCalip be appointed to AFPAC as a member of Hiawatha First Nation Council; and</p>
<p>That Staff be directed to forward an amending report to City, County, and First Nations Councils for approval.</p>
<p>Award of RFP P-19-18 for the Supply and Delivery of a CCTV Pipeline Inspection Truck</p>
<p>Report IPSPW18-007</p>
<p>Moved by Councillor Vassiliadis</p>
<p>That Council approve the recommendation outlined in Report IPSPW18-007 dated June 25, 2018, of the Commissioner of Infrastructure and Planning Services, as follows:</p>
<p>That the Supply and Delivery of a CCTV Pipeline Inspection Truck as per RFP P- 19-18 be awarded to Cues Canada Inc., 2-1675 Sismet Road, Mississauga, ON, L4W 1P9 at a cost of $384,310.10 plus HST of $49,960.32 for a total cost of $434,270.42.</p>
<p>Award of RFP P-16-18 for Routine Maintenance and Construction of Traffic Control Signals/Devices and Street Lights</p>
<p>Report IPSTR18-017</p>
<p>Moved by Councillor Vassiliadis</p>
<p>That Council approve the recommendation outlined in Report IPSTR18-017 dated June 25, 2018, of the Commissioner of Infrastructure and Planning Services, as follows:</p>
<p>That Proposal P-16-18 for Routine Maintenance and Construction of Traffic Control Signal/Devices and Street Lights be awarded to Guild Electric Limited, 470 Midwest Road Toronto, Ontario M1P 4Y5 at an estimated cost of $526,700.00 plus $68,471.00 HST for an estimated total of $595,171.00 per year increased by the lower of 3% or the Average Annual Provincial Consumer Price index for years 2 through 4, for a period of four years starting October 1, 2018 until September 30, 2022, with the option of an additional four year extension at the sole discretion of the City.</p>
<p>e)</p>
<p>f)</p>
<br>
<br>
<p>Carried</p>
<p>Carried</p>
<p>Carried</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>General Committee minutes of June 25, 2018</p>
<p>Precommitment of 2019 Capital Budget Funding and Site Plan Approval, 54 Row Dwellings at 1637 Hetherington Drive</p>
<p>Report IPSPD18-019</p>
<p>Moved by Councillor Vassiliadis</p>
<p>That Council approve the recommendations outlined in Report IPSPD18-019 dated June 25, 2018, of the Commissioner of Infrastructure and Planning Services, as follows:</p>
<p>That the Site Plan Application submitted by MHBC Planning for the construction of 54 two-storey row dwellings at 1637 Hetherington Drive be approved, subject to the following conditions:</p>
<p>a)</p>
<p>The submission of revised drawings and additional technical information to the satisfaction of the Commissioner of Infrastructure and Planning Services;</p>
<p>b)    The receipt of a clearance letter from Hydro One Networks Inc.;</p>
<p>c)</p>
<p>The deposit of security for the future road improvements in an amount to be determined by the Commissioner of Infrastructure and Planning Services;</p>
<p>d)    The precommitment of $780,000 in the 2019 Capital Budget to cover the</p>
<p>City’s share of the road and intersection improvements at Woodland Drive and Water Street;</p>
<p>The conveyance of a 12.0 metre by 12.0 metre day-lighting triangle at the corner of Woodland Drive and Water Street at no cost and free of encumbrances to the City;</p>
<p>The conveyance of land dedicated to the Storm Water Management Pond at no cost and free of encumbrances to the City;</p>
<p>The deposit of a Parkland Levy in the amount of $78,000.00; and</p>
<p>The deposit of a site work performance security in an amount of $2,358,291.</p>
<p>e)</p>
<p>f)</p>
<p>g)</p>
<p>h)</p>
<p>Carried</p>
<p>Development Charges Rebate Program</p>
<p>Report IPSHD18-005</p>
<p>Moved by Councillor Vassiliadis</p>
<p>That Council approve the recommendations outlined in Report IPSHD18-005 dated June 25, 2018, of the Commissioner of Infrastructure and Planning Services, as follows:</p>
<br>
<p>General Committee minutes of June 25, 2018</p>
<p>That the City of Peterborough participate in the Development Charges Rebate Program, offered by the Province of Ontario;</p>
<p>That a By-law be passed authorizing the Mayor and Clerk to execute Transfer Payment Agreements with the Ministry of Housing for the Development Charges Rebate Program;</p>
<p>That the Administrative Staff Committee be delegated authority to approve a Take-Up Plan which will identify rental housing developments and units eligible to receive rebate funding; and</p>
<p>That the Mayor and Clerk be authorized to sign any agreements that may be necessary to effect a Take-Up Plan approved under Recommendation c).</p>
<br>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>d)</p>
<p>Carried</p>
<p>Increase of Contract Amount RFT T-30-17 for Donegal Street Bridge Rehabilitation and Reconstruction of Donegal Street, McDonnel Street and Gilchrist Street</p>
<p>Report IPSEC18-019</p>
<p>Moved by Councillor Pappas</p>
<p>Councillor Parnell, due to her previously declared interest, did not discuss or vote on the matter.</p>
<p>That Council approve the recommendations outlined in Report IPSEC18-019 dated June 25, 2018, of the Commissioner of Infrastructure and Planning Services, as follows:</p>
<p>a)</p>
<p>That the 2018 Capital budget 5-2.03 for McDonnel Gilchrist Rehabilitation be increased by $1,216,032 from $5,591,500 to $6,807,532;</p>
<p>b)    That the additional $1,216,032 be funded as follows:</p>
<p>i)</p>
<p>$767,785 be transferred from the FRMP Reserve - Sewer Surcharge;</p>
<p>ii)</p>
<p>$228,247 be transferred from the FRMP Reserve - Capital Levy; and</p>
<p>iii)     $220,000 be recovered from the County/City Landfill Tipping Fees;</p>
<p>c)</p>
<p>That the Contract T-30-17 for the Donegal Street Bridge Rehabilitation and Reconstruction of Donegal Street, McDonnel Street and Gilchrist Street with Coco Paving Inc., 2317 Television Road, Peterborough, ON, K9J 7H5 be increased by $1,154,000 from $4,645,730.59 to $5,799,730.59 plus $753,964.98 HST for a total of $5,249,675.57; and</p>
<br>
<br>
<br>
<p>General Committee minutes of June 25, 2018</p>
<p>That a provisional work value of $41,000 be committed to the project and the Commissioner of Infrastructure and Planning Services be provided the authority to adjust the purchase order value awarded to G.D. Jewell Engineering Inc., 71 Millennium Parkway, Unit 1, Belleville, Ontario K8N 4Z5 for Contract Administration and Inspection Services to an upset limit of $335,000 plus HST of $43,550 for a total of $378,550.</p>
<br>
<p>d)</p>
<p>Carried</p>
<p>Holy Cross New Artificial Athletics Field</p>
<p>Report CLSFPI18-002</p>
<p>Moved by Councillor Baldwin</p>
<p>That Council approve the recommendations outlined in Report CLSFPI18-002 dated June 25, 2018, of the Commissioner of Corporate and Legislative Services, as follows:</p>
<p>a)</p>
<p>That a presentation by John George for the preliminary design concept be received.</p>
<p>b)    That Council approve the conceptual design and the partnership with</p>
<p>the Peterbrough Victoria Northumberland and Clarington Catholic District School  Board for the conversion of the Holy Cross Secondary School sport field from natural truf to an artificial athletics field with lights and an eight lane running track.</p>
<p>That John George Associates Inc, be approved as the prime consultant for the project and consulting frees for the detailed design and contract administration at a cost of $198,740 plus HST of $25,837 for a total of $224,577 be approved.</p>
<p>c)</p>
<p>d)    That John George Associates Inc. be sole sourced as per purchasing By-</p>
<p>law 14-127 Part 9.1.2.d. whereas; in certain situations, goods and/or services, that might reasonably be expected to be solicited through a Bid Solicitation process, may be obrtained through a non-competitive bidding process; when it is necessary to ensure continuity of responsibility, compatibility with existing products and or previous work, or to avoid violating warranty/guarantee requirements when service is required.</p>
<p>That the Mayor and Clerk be authorized to execute the funding and operating agreement with PVNCCDSB.</p>
<p>e)</p>
<p>Carried</p>
<br>
<br>
<br>
<br>
<p>General Committee minutes of June 25, 2018</p>
<p>Report from the Peterborough Public Library Board - Strategic Planning and Rebrand</p>
<p>Paul Stern, Library Board Chair, introduced Greg Young from TCI.</p>
<p>Report CSACH18-003</p>
<p>Moved by Councillor Riel</p>
<p>That Council approve the recommendation outlined in Report CSACH18-003 dated June 25, 2018, of the Commissioner of Community Services as follows:</p>
<p>That the presentation by TCI Management Consultants on behalf of the Peterborough Public Library Board on the new Library strategic planning framework and rebrand be received for information.</p>
<p>Increase of Budget and Contract Amount Awarded to J.J. McGuire General Contractors Inc. for the City Hall Interior Renovations and Elevator Installation</p>
<p>Carried</p>
<p>Report CLSFM18-015</p>
<p>Moved by Councillor McWilliams</p>
<p>That Council approve the recommendations outlined in Report CLSFM18-015 dated June 25, 2018, of the Commissioner of Corporate and Legislative Services as follows:</p>
<p>a)</p>
<p>That the budget for the City Hall Interior Renovations and Elevator Installation project be increased by $361,961 frm $2,623,600 to $2,985,561 and that the increase be funded from the Capital Levy Reserve.</p>
<p>b)    That the contract for T-47-17 with J.J McGuire General Contractors Inc., 880</p>
<p>Farewell Street, Oshawa, Ontario, L1H 6N6, for the City Hall Interior Renovations and Elevator Installation, be increased by $191,329 from $2,450,000 to $2,641,329 plus HST of $343,373 for a total cost of $2,984,702.</p>
<p>Carried</p>
<br>
<br>
<br>
<br>
<br>
<p>General Committee minutes of June 25, 2018</p>
<p>Brock Street Mission Redevelopment - Capital Budget Increase</p>
<p>Report CLSFS18-033</p>
<p>Moved by Councillor Pappas</p>
<p>a)</p>
<p>That report CLSFS18-033 be referred back to staff and that, given the updated cost estimate, the CAO direct City Staff to work with PHC and Brock Mission staff to review the PHC Request for Tenders design along with potential alternatives for the provision of a men’s emergency shelter facility and report back on the benefits and costs associated with each option; and</p>
<p>b)    That City Staff work with Brock Mission to ensure contingency plans are in</p>
<p>place for the continued provision of men’s emergency shelter services while a longer-term solution for men’s emergency shelter services is being developed.</p>
<p>Carried</p>
<br>
<p>Report IPSHD18-004</p>
<p>Moved by Councillor Clarke</p>
<p>Municipal Incentives for Affordable Rental Housing, DeafBlind Ontario Services, 86 Earlwood Drive</p>
<p>That Council approve the recommendations outlined in Report IPSHD18-004 dated June 25, 2018, of the Commissioner of Infrastructure and Planning Services, as follows:</p>
<p>a)</p>
<p>That the Affordable Housing Community Improvement Plan program application be approved for the proposed two unit affordable rental housing project at 86 Earlwood Drive Peterborough, in accordance with Report IPSHD18-004;</p>
<p>b)    That the project be approved for $250,000 in capital funding for two</p>
<p>affordable rental units using Investment in Affordable Housing - Extension program funding; and</p>
<p>c)</p>
<p>That a By-law be adopted authorizing City Council to designate the portion of the property related to affordable rental housing (two units) at 86 Earlwood Drive Peterborough as a Municipal Housing Facility, in accordance with By-law Number 12-094, and authorizing the Mayor and Clerk to sign agreements and other documents so necessary to provide municipal incentives in accordance with Report ISPHD18-004.</p>
<p>Carried</p>
<br>
<br>
<p>General Committee minutes of June 25, 2018</p>
<p>Increase to Contract Agreement with The Ventin Group for Peterborough Public Library Project</p>
<p>That Council approve the recommendation outlined in Report CSD18-008 dated June 25, 2018, of the Commissioner of Community Services, as follows:</p>
<p>That the contract with The Ventin Group for the design and contract administration for the renovation and expansion of the Peterborough Public Library be increased by $110,000 from $619,000 to $729,000 plus HST of $94,770 for a total cost of $823,770.</p>
<p>Pre-commitment of Funds and Award of Internal Servicing of Cleantech Commons - Phase 1 and 2</p>
<p>Report CSD18-008</p>
<p>Moved by Councillor Riel</p>
<p>Carried</p>
<p>Report IPSEC18-018</p>
<p>Moved by Councillor Riel</p>
<p>That Council approve the recommendations outlined in Report IPSEC18-018 dated June 25, 2018, of the Commissioner of Infrastructure and Planning Services, as follows:</p>
<p>a)</p>
<p>That the $1,796,000 budget amount previously proposed for the 2019 Capital budget for Cleantech Commons be increased to $3,100,000 and be pre-committed;</p>
<p>b)    That Tender T-12-18 for the Cleantech Commons - Phase 1 and 2 be</p>
<p>awarded to Drain Bros. Excavating Limited, 2130 8th Line Road, North Dummer, Douro-Dummer, Ontario, K0L 2H0 at a cost of $4,454,337.15 plus $579,063.83 HST for a total cost of $5,033,400.98;</p>
<p>c)</p>
<p>That a provisional work value of $400,000 be committed to the project and the Commissioner of the Infrastructure and Planning Services Department be provided the authority to adjust the purchase order value to an upset limit of $4,854,337.15, excluding HST as necessary to complete this project; and</p>
<p>d)    That, given the additional capital costs to be incurred, City staff work with</p>
<p>Trent staff to update the financial model and closely monitor the various factors such as estimated costs for Phase 3 construction, timing of Phase 3, ground lease rates, indexing of rates, etc in order to recover the City’s costs at least within the term of the Head Lease.</p>
<p>Carried</p>
<br>
<br>
<br>
<p>General Committee minutes of June 25, 2018</p>
<p>Downtown Business Improvement Area Vibrancy Project</p>
<p>Report IPSPD18-018</p>
<p>Moved by Mayor Bennett</p>
<p>That Council approve the recommendations outlined in Report IPSPD18-018 dated June 25, 2018, of the Commissioner of Infrastructure and Planning Services, as follows:</p>
<p>a)</p>
<p>That the Downtown Business Improvement Area Vibrancy Project to make landscape improvements at the Chambers Street Parking Lot be approved in principle with implementation to proceed upon acceptance of the detailed landscape design by the Commissioner of Infrastructure and Planning Services;</p>
<p>b)    That the concept of the Downtown Business Improvement Area Vibrancy Project located along the east side of 230 George Street North, to remove unnecessary road pavement, install a low impact development storm water management feature and create additional open space area for a potential Public Art installation be approved in principle;</p>
<p>c)</p>
<p>That the Administrative Staff Committee be authorized to approve implementation of the Vibrancy Project along the side of 230 George Street North when all necessary approvals from the various approval agencies have been received and the detailed design for the area has been approved by the Commissioner of Infrastructure and Planning Services; and</p>
<p>d)    That the Downtown Business Improvement Area and the City enter into any</p>
<p>agreements necessary to mitigate financial or other risk to the City related to the subject Vibrancy Projects.</p>
<p>That staff review the Community Grants Program Policies and report to Council in the second quarter of 2019.</p>
<p>Carried</p>
<p>Other Business</p>
<p>Moved by Councillor Pappas</p>
<br>
<br>
<p>Carried</p>
<p>Adjournment</p>
<p>Carried</p>
<p>Moved by Councillor Clarke</p>
<p>That this meeting adjourn at 7:20 p.m.</p>
<br>
<br>
<br>
<br>
<br>
<p>General Committee minutes of June 25, 2018</p>
<p>_________________________</p>
<p>John Kennedy</p>
<p>City Clerk</p>
<p>_________________________</p>
<p>Councillor Beamer</p>
<p>Chair</p>
<br>
<br>
<br></div>