<!doctype html><div><p>Accessibility Advisory Committee</p>
<p>City of Peterborough</p>
<p>May 27, 2015</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of the Accessibility Advisory Committee Held on</p>
<p>May 27, 2015 in the Sutherland Room.</p>
<br>
<p>The meeting of the Accessibility Advisory Committee was called to order at 3:08 p.m. by Councillor Riel in the Sutherland Room, City Hall.</p>
<p>Present: Andrea Dodsworth Bob Geddes Councillor Riel, Chair Janet Ali Peter Michielsen Warren Northcott</p>
<p>Regrets: Amanda Motyer Gordon Earle Ian Guest</p>
<p>Staff: Kathryn McLeod, Accessibility Coordinator Mark Buffone, Accessibility Compliance Co-ordinator Kendra Sedgwick, Committee Coordinator</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Pecuniary Interest.</p>
<p>The Chair called for a brief recess at 4:38 p.m.</p>
<p>Committee reconvened at 4:45 p.m.</p>
<br>
<p>Accessibility Advisory Committee Minutes</p>
<p>Meeting of May 27, 2015</p>
<p>Page 2</p>
<br>
<p>Accessibility Coordinator Report AAC15-024 Focus Group Session with Peterborough Council on Aging</p>
<p>Moved by Peter Michielsen</p>
<p>That the Accessibility Advisory Committee approve the recommendation outlined in Report AAC15-024 dated May 27, 2015 of the Accessibility Coordinator as follows:</p>
<p>That the Accessibility Advisory Committee participate in the focus group session led by the Age Friendly Coordinator from the Peterborough Council on Aging.</p>
<p>“CARRIED”</p>
<p>Next Meeting</p>
<p>The next Committee meeting will be held on June 3, 2015.</p>
<p>Adjournment</p>
<p>Moved by Janet Ali</p>
<p>That this meeting of the Accessibility Advisory Committee adjourn at 5:20 p.m.</p>
<p>"CARRIED"</p>
<p>Kendra Sedgwick Committee Coordinator</p>
<p>Councillor Riel Chair</p>
<br></div>