<!doctype html><div><p>Accessibility Advisory Committee</p>
<p>City of Peterborough</p>
<p>October 7, 2015</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of the Accessibility Advisory Committee held on</p>
<p>October 7, 2015 in the Sutherland Room.</p>
<br>
<p>The meeting of the Accessibility Advisory Committee was called to order at 4:00 p.m. by Councillor Riel in the Sutherland Room, City Hall.</p>
<p>Present: Amanda Motyer Andrea Dodsworth Bob Geddes Councillor Riel, Chair Janet Ali Peter Michielsen Warren Northcott</p>
<p>Regrets: Gordon Earle Ian Guest</p>
<p>Staff: Sharron Hayton, Customer Service Coordinator Mark Buffone, Accessibility Compliance Coordinator Kendra Sedgwick, Committee Coordinator</p>
<p>Minutes – September 2, 2015</p>
<p>Moved by Bob Geddes</p>
<p>That the minutes of the Accessibility Advisory Committee held on September 2, 2015 be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Pecuniary Interest.</p>
<br>
<p>Accessibility Advisory Committee Minutes</p>
<p>Meeting of October 7, 2015</p>
<p>Page 2</p>
<br>
<p>Accessibility Compliance Coordinator Report AAC15-032 Peterborough Renovates Program</p>
<p>Moved by Andrea Dodsworth</p>
<p>That the Accessibility Advisory Committee approve the recommendations outlined in Report AAC15-033, dated October 7, 2015 of the Accessibility Compliance Coordinator as follows:</p>
<p>That the presentation by the Capital Planning Analyst be received for information.</p>
<p>“CARRIED”</p>
<p>Accessibility Compliance Coordinator Report AAC15-033 Transportation Sub-Committee Report</p>
<p>Moved by Janet Ali</p>
<p>That the Accessibility Advisory Committee approve the recommendation outlined in Report AAC15-033 dated October 7, 2015, of the Accessibility Compliance Coordinator as follows:</p>
<p>That Report AAC15-033 with respect to the update of the Transportation Sub- Committee be received for information.</p>
<p>“CARRIED”</p>
<br>
<p>Accessibility Advisory Committee Minutes</p>
<p>Meeting of October 7, 2015</p>
<p>Page 3</p>
<br>
<p>Accessibility Compliance Coordinator Report AAC15-034 Built Environment Sub-Committee Report</p>
<p>Moved by Andrea Dodsworth</p>
<p>That the Accessibility Advisory Committee approve the recommendation outlined in Report AAC15-034 dated October 7, 2015, of the Accessibility Compliance Coordinator as follows:</p>
<p>That Report AAC15-034 with respect to the update of the Built Environment Sub-Committee be received for information.</p>
<p>“CARRIED”</p>
<p>Other Business</p>
<p>Councillor Riel has received many comments regarding the need for more accessible parking spaces downtown.</p>
<p>Provision of Sidewalk Policy The Accessibility Office will ensure the two recommendations provided by the ASC on September 2, 2015 will be formally passed on to Susan Sauvé, Transportation Demand Manager.</p>
<p>Thank You Letter from Master’s College and Seminary, 780 Argyle Street</p>
<p>Moved by Warren Northcott</p>
<p>That the Chair send a letter to the Master’s College and Seminary indicating that the Committee is in receipt of their thank you note and appreciate being recognized.</p>
<p>“CARRIED”</p>
<p>Next Meeting</p>
<p>The Chair indicated that the next Committee meeting will be held on November 4, 2015.</p>
<br>
<p>Accessibility Advisory Committee Minutes</p>
<p>Meeting of October 7, 2015</p>
<p>Page 4</p>
<br>
<p>Adjournment</p>
<p>Moved by Janet Ali</p>
<p>That this meeting of the Accessibility Advisory Committee adjourn at 5:33 p.m.</p>
<p>"CARRIED"</p>
<p>Kendra Sedgwick Committee Coordinator</p>
<p>Councillor Riel Chair</p>
<br></div>