<!doctype html><div><br>
<br>
<p>Accessibility Advisory Committee (AAC)</p>
<p>Transportation Sub-Committee Minutes</p>
<p>April 20, 2016</p>
<p>Draft Minutes Not Approved</p>
<br>
<p>The meeting of the AAC Transportation Sub-Committee was called to order at 12:55 p.m. by Janet Ali in the Doris Room, City Hall.</p>
<p>Present: Janet Ali (Chair) Peter Bascan Marie Bongard Andrea Dodsworth Marty Morgan</p>
<p>Regrets: Lynn Morris John Morris Anne Trudel-Inglis Councillor Don Vassiliadis</p>
<p>Staff: Brad Appleby (Planner, Subdivision Control & Special Projects) Trish Reed (Accessibility and Communication Specialist)</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of pecuniary interest.</p>
<p>Appendix A</p>
<p>Minutes of the AAC Transportation Sub-Committee April 20, 2016</p>
<br>
<p>Page 2</p>
<p>That the agenda for the AAC Transportation Sub-Committee meeting dated April 20, 2016 be approved.</p>
<p>Approval of Agenda</p>
<p>Moved by Marty Morgan</p>
<p>“Carried”</p>
<p>Accessibility Review</p>
<p>a)  Proposed Revisions to Application for Draft Plan of Subdivision – File No.</p>
<p>15T – 14502: 821, 825 and 829 Lily Lake Road</p>
<p>Presented by Brad Appleby, Planner, Subdivision Control & Special Projects</p>
<p>Brad Appleby presented the relevant information and drawings relating to the application for a subdivision on the south side of Lily Lake Road.</p>
<p>Summary of recommendations from the Transportation Sub-Committee:</p>
<p>1.  Increase green space to help facilitate community activity.</p>
<p>2.  If the school is built, there will be no townhomes in the subdivision. Add</p>
<p>additional townhomes.</p>
<p>3.  Where grades permit, consider accessible units.</p>
<p>4.  Provide front loading washing machines in the laundry room, ideally on a</p>
<p>raised platform.</p>
<p>5.  Add traffic calming methods on Streets A and B to ensure vehicles</p>
<p>approaching roundabouts are moving at a reasonable speed.</p>
<p>6.  Ensure accessibility and pedestrians are considered in the design of the</p>
<p>  Locating the crosswalk one or more passenger car lengths behind the</p>
<p>roundabout by:</p>
<p>yield line</p>
<p></p>
<p>Install APS at the crosswalks</p>
<p>  Use a single lane roundabout</p>
<p>  Have a tight entry and exit curvature to control vehicle speed</p>
<p>  Have splitter islands that are at least 2.0m wide</p>
<p>  Angle the crosswalk to create a shorter crossing distance and a</p>
<p>defined two stage crossing</p>
<p>  Do not have visual barriers in the middle island (visual barrier for</p>
<p>drivers, audible barrier for pedestrians</p>
<p>Appendix A</p>
<p>Minutes of the AAC Transportation Sub-Committee April 20, 2016</p>
<br>
<p>Page 3</p>
<p>Business Arising from the Previous Minutes</p>
<p>a)  Develop priority rating needs for APS, curb cuts and sidewalk repairs</p>
<p>The Committee worked to develop the following priority rating (the number representing the points awarded for each variable):</p>
<p>1. Type of Road</p>
<br>
<p>Arterial - more than 2 motorized vehicle travel lanes 25 Arterial - 2 motorized vehicle travel lanes 15 Collector 10 Local/Residential 5</p>
<p>2. Pedestrian Generators</p>
<br>
<p>School 25 Accessible housing/units 25 Other public building (i.e. Service Ontario, hospital, arena, church, library) 15 Senior Residence 10 Student Housing 10 Subsidized Housing 10</p>
<p>3. Transit</p>
<br>
<p>At or near the bus terminal 20 At or near a bus stop/shelter 15 Multiple transit routes 10 Single transit route 5</p>
<p>4. Commercial Areas</p>
<br>
<p>Downtown 20 Major shopping centre or theatre 15 Other retails space (i.e. Tim Horton's, restaurants) 10</p>
<br>
<p>5. Trails and Parks</p>
<br>
<p>Located at or near a trail crossing  20 Proximity to a park  15 Proximity to a neighbourhood park  10</p>
<p>Appendix A</p>
<p>Minutes of the AAC Transportation Sub-Committee April 20, 2016</p>
<br>
<p>Page 4</p>
<p>Other Business</p>
<p>a)  Handi-Van</p>
<p>The Committee expressed concerns regarding booking and the customer service at Transit. Complaints are continuing to arise.</p>
<p>Action Item: The Accessibility Office will continue to report concerns to the Transit Division.</p>
<p>b)  Bus Hailing Kits</p>
<p>Marie Bongard discussed the purpose of the once distributed bus hailing kits and the benefits they provide to those with low or no vision.</p>
<p>Action Item: The Accessibility Office will look into what the status of the bus hailing kits is.</p>
<p>The next scheduled AAC Transportation Sub-Committee meeting is Wednesday, May 18, 2016 from 1:00 p.m. to 3:00 p.m. at City Hall in the Doris Room.</p>
<p>Next Meeting</p>
<p>Adjourned</p>
<p>Moved by Marty Morgan</p>
<p>“Carried”</p>
<p>That the meeting of the AAC Transportation Sub-Committee adjourn at 3:05 p.m.</p>
<p>Appendix A</p>
<br></div>