<!doctype html><div><p>Accessibility Advisory Committee</p>
<p>City of Peterborough</p>
<p>June 1, 2016</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of the Accessibility Advisory Committee held on</p>
<p>June 1, 2016 in the Doris Room.</p>
<br>
<p>The meeting of the Accessibility Advisory Committee was called to order at 4:00 p.m. by Councillor Riel, Chair in the Doris Room, City Hall.</p>
<p>Present: Andrea Dodsworth Councillor Riel, Chair Don Parnell Erica Richmond Amanda Motyer Peter Michielsen Warren Northcott</p>
<p>Regrets: Andrea Walsh Janet Ali</p>
<p>Staff: Mark Buffone, Accessibility Compliance Coordinator Trish Reed, Accessibility and Communication Specialist Kendra Sedgwick, Committee Coordinator</p>
<p>Minutes – May 4, 2016</p>
<p>Moved by Warren Northcott</p>
<p>That the minutes of the Accessibility Advisory Committee held on May 4, 2016 be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Pecuniary Interest.</p>
<br>
<p>Accessibility Advisory Committee Minutes</p>
<p>Meeting of June 1, 2016</p>
<p>Page 2</p>
<br>
<p>Consent Agenda</p>
<p>No items were approved as part of the Consent Agenda.</p>
<p>Accessibility and Communication Specialist Report AAC16-035 Peterborough’s Official Plan Review – Stage 1</p>
<p>Moved by Amanda Motyer</p>
<p>That the AAC approve the recommendation outlined in Report AAC16-035 dated June 1, 2016 of the Accessibility and Communication Specialist as follows:</p>
<p>That the ACC provide input and recommendations on Stage 1 of the City of Peterborough’s Official Plan review.</p>
<p>“CARRIED”</p>
<p>Moved by Andrea Dodsworth</p>
<p>That “Accessibility” be included as a Vision and Guiding Principle in the Official Plan.</p>
<p>“CARRIED”</p>
<p>Accessibility Compliance Coordinator Report AAC16-034 Draft Status Report on the 2012 to 2016 Accessibility Plan</p>
<p>Moved by Warren Northcott</p>
<p>That the Accessibility Advisory Committee approves the recommendation outlined in Report AAC16-034 dated June 1, 2016, of the Accessibility Compliance Coordinator as follows:</p>
<p>That the AAC provide comments on the draft Status Report on the City’s 2012 to 2016 Accessibility Plan.</p>
<p>“CARRIED”</p>
<p>Accessibility Advisory Committee Minutes</p>
<p>Meeting of June 1, 2016</p>
<p>Page 3</p>
<br>
<p>Accessibility and Communication Specialist Accessibility Compliance Coordinator Report AAC16-033 Accessibility Office Report</p>
<p>Moved by Andrea Dodsworth</p>
<p>That the Accessibility Advisory Committee approve the recommendation outlined in Report AAC16-033 dated June 1, 2016, of the Accessibility and Communication Specialist and the Accessibility Compliance Coordinator as follows:</p>
<p>That Report AAC16-033 with respect to the current work of the Accessibility Office be received for information.</p>
<p>“CARRIED”</p>
<p>Other Business</p>
<p>There were no items of Other Business.</p>
<p>Next Meeting</p>
<p>The Chair indicated that the next Committee meeting will be held on September 7, 2016.</p>
<p>Adjournment</p>
<p>Moved by Warren Northcott</p>
<p>That this meeting of the Accessibility Advisory Committee adjourn at 5:17 p.m.</p>
<p>"CARRIED"</p>
<p>Kendra Sedgwick Committee Coordinator</p>
<p>Councillor Riel Chair</p>
<br></div>