<!doctype html><div><p>Accessibility Advisory Committee</p>
<p>City of Peterborough</p>
<p>September 7, 2016</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of the Accessibility Advisory Committee held on</p>
<p>September 7, 2016 in the Doris Room.</p>
<br>
<p>The meeting of the Accessibility Advisory Committee was called to order at 4:00 p.m. by Councillor Riel, Chair in the Doris Room, City Hall.</p>
<p>Present: Andrea Dodsworth Amanda Motyer Councillor Riel, Chair Don Parnell Erica Richmond Janet Ali Peter Michielsen Warren Northcott</p>
<p>Regrets: Andrea Walsh</p>
<p>Staff: Mark Buffone, Accessibility Compliance Coordinator Trish Reed, Accessibility and Communication Specialist Kendra Sedgwick, Committee Coordinator</p>
<p>Minutes – June 1, 2016</p>
<p>Moved by Peter Michielsen</p>
<p>That the minutes of the Accessibility Advisory Committee held on June 1, 2016 be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Pecuniary Interest.</p>
<br>
<p>Accessibility Advisory Committee Minutes</p>
<p>Meeting of September 7, 2016</p>
<p>Page 2</p>
<br>
<p>Consent Agenda</p>
<p>Moved by Erica Richmond</p>
<p>That items 10 and 11 be approved as part of the Consent Agenda.</p>
<p>“CARRIED”</p>
<p>Accessibility and Communication Specialist Report AAC16-046 Accessibility Legislation Changes</p>
<p>Moved by Erica Richmond</p>
<p>That the Accessibility Advisory Committee approve the recommendation outlined in Report AAC16-046 dated September 7, 2016, of the Accessibility and Communication Specialist as follows:</p>
<p>That Report AAC16-046 with respect to recent accessibility legislation changes be received for information.</p>
<p>“CARRIED”</p>
<p>Accessibility and Communication Specialist Accessibility Compliance Coordinator Report AAC16-036 Accessibility Office Report</p>
<p>Moved by Erica Richmond</p>
<p>That the Accessibility Advisory Committee approve the recommendation outlined in Report AAC16-036 dated September 7, 2016, of the Accessibility and Communication Specialist and the Accessibility Compliance Coordinator as follows:</p>
<p>That Report AAC16-036 with respect to the current work of the Accessibility Office be received for information.</p>
<p>“CARRIED”</p>
<p>Accessibility Advisory Committee Minutes</p>
<p>Meeting of September 7, 2016</p>
<p>Page 3</p>
<br>
<p>Accessibility and Communication Specialist Report AAC16-040 Access Fund Request 002-16</p>
<p>Moved by Amanda Motyer</p>
<p>That the Accessibility Advisory Committee (AAC) approve the recommendations outlined in Report AAC16-040 dated September 7, 2016, of the Accessibility and Communication Specialist as follows:</p>
<p>That Report AAC16-040 of the Accessibility and Communication Specialist be received for information;</p>
<p>That Access Fund Request 002-16 be denied, and</p>
<p>That AAC is supportive of this project in principle, and will look forward to a revised request.</p>
<p>“CARRIED”</p>
<p>Accessibility Compliance Coordinator Report AAC16-042 Access Fund Request 003-16</p>
<p>Moved by Peter Michielsen</p>
<p>That the Accessibility Advisory Committee (AAC) approve the recommendations outlined in Report AAC16-042 dated September 7, 2016, of the Accessibility and Communication Specialist as follows:</p>
<p>That Report AAC16-042 of the Accessibility and Communication Specialist be received for information;</p>
<p>That the AAC approve Access Fund Request 003-16, in the amount of $31,060, submitted by the Peterborough Memorial Centre Facility Manager relating to the installation of aisle lighting in the Peterborough Memorial Centre arena bowl.</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>a)</p>
<p>b)</p>
<p>“CARRIED”</p>
<br>
<p>Accessibility Advisory Committee Minutes</p>
<p>Meeting of September 7, 2016</p>
<p>Page 4</p>
<br>
<p>Accessibility and Communication Specialist Report AAC16-043 Peterborough Public Health Presentation</p>
<p>Moved by Janet Ali</p>
<p>That the Accessibility Advisory Committee (AAC) approve the recommendation outlined in Report AAC16-043 dated September 7, 2016, of the Accessibility and Communication Specialist as follows:</p>
<p>That the presentation by the Health Promoter of Healthy Public Policy for Peterborough Public Health be received for information.</p>
<p>“CARRIED”</p>
<p>Accessibility and Communication Specialist Report AAC16-044 International Day of Persons with Disabilities</p>
<p>Moved by Erica Richmond</p>
<p>That the Accessibility Advisory Committee (AAC) approve the recommendations outlined in Report AAC16-044 dated September 7, 2016, of the Accessibility and Communication Specialist as follows:</p>
<p>That Report AAC16-044 with respect to potential ideas to celebrate the 2016 International Day of Persons with Disabilities be received for information;</p>
<p>That the AAC provide input on potential ideas to celebrate the 2016 International Day of Persons with Disabilities.</p>
<p>a)</p>
<p>b)</p>
<p>“CARRIED”</p>
<br>
<p>Accessibility Advisory Committee Minutes</p>
<p>Meeting of September 7, 2016</p>
<p>Page 5</p>
<br>
<p>Accessibility and Communication Specialist Report AAC16-037 Accessibility Social Media Campaign</p>
<p>The Chair advised Committee that this report will be deferred to a future AAC meeting.</p>
<p>Accessibility and Communication Specialist Report AAC16-038 Transportation Sub-Committee Report</p>
<p>Moved by Amanda Motyer</p>
<p>That the Accessibility Advisory Committee approve the recommendations outlined in Report AAC16-038, dated September 7, 2016 of the Accessibility and Communication Specialist as follows:</p>
<p>That Report AAC16-038 with respect to the meeting of the Transportation Sub-Committee be received for information;</p>
<p>That the verbal update by the Chair of the Transportation Sub-Committee be received for information.</p>
<p>“CARRIED”</p>
<p>Accessibility and Communication Specialist Report AAC16-039 Built Environment Sub-Committee Report</p>
<p>Moved by Erica Richmond</p>
<p>That the Accessibility Advisory Committee approve the recommendations outlined in Report AAC16-039 dated September 7, 2016 of the Accessibility and Communication Specialist as follows:</p>
<p>That Report AAC16-039 with respect to the meeting of the Built Environment Sub-Committee be received for information;</p>
<p>That the verbal update by the Chair of the Built Environment Sub- Committee be received for information.</p>
<p>“CARRIED”</p>
<p>a)</p>
<p>b)</p>
<p>a)</p>
<p>b)</p>
<p>Accessibility Advisory Committee Minutes</p>
<p>Meeting of September 7, 2016</p>
<p>Page 6</p>
<br>
<p>Accessibility and Communication Specialist Report AAC16-045 Accessibility Advisory Committee 2016 Brochure</p>
<p>Moved by Amanda Motyer</p>
<p>That the Accessibility Advisory Committee (AAC) approve the recommendation outlined in Report AAC16-045 dated September 7, 2016, of the Accessibility and Communication Specialist as follows:</p>
<p>That the AAC approve the printing and distribution of the second draft of the 2016 AAC brochure.</p>
<p>“CARRIED”</p>
<p>Moved by Peter Michielsen</p>
<p>That Committee move into Closed Session to discuss one item under Section 239(2)(b) Personal matters about an identifiable individual, including municipal or local board employees</p>
<p>“CARRIED”</p>
<br>
<p>Committee convened in closed session at 4:52 p.m.</p>
<p>Committee moved out of Closed Session at 4:57 p.m.</p>
<br>
<p>Accessibility Advisory Committee Minutes</p>
<p>Meeting of September 7, 2016</p>
<p>Page 7</p>
<br>
<p>Report of Closed Session Accessibility and Communication Specialist Report AAC16-041 Built Environment Sub-Committee Membership</p>
<p>Moved by Peter Michielsen</p>
<p>That the Accessibility Advisory Committee approve the recommendation outlined in Report AAC16-041 dated September 7, 2016, of the Accessibility and Communication Specialist as follows:</p>
<p>That the application of Neil Campbell for membership on the Built Environment Sub-Committee be approved.</p>
<p>“CARRIED”</p>
<p>Other Business</p>
<p>Warren Northcott provided Committee with some information on “Your Legal Rights” website.  An email will be circulated to Committee members with some further information on the services they provide.</p>
<p>Next Meeting</p>
<p>The Chair indicated that the next Committee meeting will be held on October 5, 2016.</p>
<p>Adjournment</p>
<p>Moved by Andrea Dodsworth</p>
<p>That this meeting of the Accessibility Advisory Committee adjourn at 5:10 p.m.</p>
<p>"CARRIED"</p>
<p>Kendra Sedgwick Committee Coordinator</p>
<p>Councillor Riel Chair</p>
<br></div>