<!doctype html><div><p>Accessibility Advisory Committee</p>
<p>City of Peterborough</p>
<p>November 2, 2016</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of the Accessibility Advisory Committee held on</p>
<p>November 2, 2016 in the Doris Room.</p>
<br>
<p>The meeting of the Accessibility Advisory Committee was called to order at 4:00 p.m. by Councillor Riel, Chair in the Doris Room, City Hall.</p>
<p>Present: Andrea Walsh Andrea Dodsworth Councillor Riel, Chair Don Parnell Erica Richmond Janet Ali Peter Michielsen Amanda Motyer Warren Northcott (4:12 p.m.)</p>
<p>Staff: Mark Buffone, Accessibility Compliance Coordinator Trish Reed, Accessibility and Communication Specialist Kendra Sedgwick, Committee Coordinator</p>
<p>Minutes – October 5, 2016</p>
<p>Moved by Janet Ali</p>
<p>That the minutes of the Accessibility Advisory Committee held on October 5, 2016 be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Pecuniary Interest.</p>
<br>
<p>Accessibility Advisory Committee Minutes</p>
<p>Meeting of November 2, 2016</p>
<p>Page 2</p>
<br>
<p>Consent Agenda</p>
<p>Moved by Peter Michielsen</p>
<p>That item 9, 10 and 11 be approved as part of the Consent Agenda.</p>
<p>“CARRIED”</p>
<p>Accessibility and Communication Specialist Report AAC16-058 Draft Built Environment Sub-Committee Terms of Reference</p>
<p>Moved by Peter Michielsen</p>
<p>That the Accessibility Advisory Committee (AAC) approve the recommendations outlined in Report AAC16-058 dated November 2, 2016, of the Accessibility and Communication Specialist as follows:</p>
<p>That Report AAC16-058 with respect to the Draft Built Environment Sub-Committee Terms of Reference be received for information;</p>
<p>That the AAC approve the Draft Built Environment Sub-Committee Terms of Reference; and</p>
<p>That the AAC approve the proposed transition to stagger the terms of current Sub-Committee members.</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>“CARRIED”</p>
<br>
<p>Accessibility Advisory Committee Minutes</p>
<p>Meeting of November 2, 2016</p>
<p>Page 3</p>
<br>
<p>Accessibility and Communication Specialist Accessibility Compliance Coordinator Report AAC16-051 Accessibility Office Report</p>
<p>Moved by Peter Michielsen</p>
<p>That the Accessibility Advisory Committee approve the recommendation outlined in Report AAC16-051 dated November 2, 2016, of the Accessibility and Communication Specialist and the Accessibility Compliance Coordinator as follows:</p>
<p>That Report AAC16-051 with respect to the current work of the Accessibility Office be received for information.</p>
<p>“CARRIED”</p>
<p>Accessibility and Communication Specialist Report AAC16-057 Proposed 2017 Meeting Dates</p>
<p>Moved by Peter Michielsen</p>
<p>That the Accessibility Advisory Committee (AAC) approve the recommendation outlined in Report AAC16-057 dated November 2, 2016 of the Accessibility and Communication Specialist as follows:</p>
<p>That Report AAC16-057 with respect to the proposed 2017 meeting dates be approved.</p>
<p>“CARRIED”</p>
<br>
<p>Accessibility Advisory Committee Minutes</p>
<p>Meeting of November 2, 2016</p>
<p>Page 4</p>
<br>
<p>Accessibility and Communication Specialist Report AAC16-054 Access Fund Request 004-16</p>
<p>Moved by Andrea Dodsworth</p>
<p>That the Accessibility Advisory Committee (AAC) approve the recommendations outlined in Report AAC16-054 dated November 2, 2016, of the Accessibility and Communication Specialist as follows:</p>
<p>That Report AAC16-054 of the Accessibility and Communication Specialist be received for information;</p>
<p>That the AAC approve Access Fund Request 004-16 submitted by the Supervisor of the Peterborough Day Care Centre and Municipal School Age Programs, relating to the installation of power door operators at the Peterborough Daycare main entrance.</p>
<p>“CARRIED”</p>
<p>Accessibility and Communication Specialist Report AAC16-055 Access Fund Request 005-16</p>
<p>Moved by Janet Ali</p>
<p>That the Accessibility Advisory Committee (AAC) approve the recommendations outlined in Report AAC16-055 dated November 2, 2016, of the Accessibility and Communication Specialist as follows:</p>
<p>That Report AAC16-055 of the Accessibility and Communication Specialist be received for information;</p>
<p>That the AAC approve Access Fund Request 005-16 submitted by the Return to Work Wellness Coordinator relating to a training opportunity on Mental Health First Aid.</p>
<p>a)</p>
<p>b)</p>
<p>a)</p>
<p>b)</p>
<p>“CARRIED”</p>
<br>
<p>Accessibility Advisory Committee Minutes</p>
<p>Meeting of November 2, 2016</p>
<p>Page 5</p>
<br>
<p>a)</p>
<p>b)</p>
<p>Accessibility and Communication Specialist Report AAC16-052 Transportation Sub-Committee Report</p>
<p>Moved by Janet Ali</p>
<p>That the Accessibility Advisory Committee (AAC) approve the recommendations outlined in Report AAC16-052, dated November 2, 2016 of the Accessibility and Communication Specialist as follows:</p>
<p>That Report AAC16-052 with respect to the meeting of the Transportation Sub-Committee be received for information;</p>
<p>That the verbal update by the Chair of the Transportation Sub-Committee be received for information.</p>
<p>“CARRIED”</p>
<p>Accessibility and Communication Specialist Report AAC16-053 Built Environment Sub-Committee Report</p>
<p>Moved by Andrea Dodsworth</p>
<p>That the Accessibility Advisory Committee (AAC) approve the recommendations outlined in Report AAC16-053 dated November 2, 2016 of the Accessibility and Communication Specialist as follows:</p>
<p>a)</p>
<p>That Report AAC16-053 with respect to the meeting of the Built Environment Sub-Committee be received for information;</p>
<p>That the verbal update by the Chair of the Built Environment Sub-Committee be received for information.</p>
<p>b)</p>
<p>“CARRIED”</p>
<br>
<p>Accessibility Advisory Committee Minutes</p>
<p>Meeting of November 2, 2016</p>
<p>Page 6</p>
<br>
<p>Accessibility and Communication Specialist Report AAC16-059 Consulting with Canadians on Accessibility Legislation Questionnaire</p>
<p>Moved by Don Parnell</p>
<p>That the Accessibility Advisory Committee (AAC) approve the recommendations outlined in Report AAC16-059 dated November 2, 2016 of the Accessibility and Communication Specialist as follows:</p>
<p>a)</p>
<p>That Report AAC16-059 of the Accessibility and Communication Specialist be received for information;</p>
<p>That the AAC establish a sub-committee to complete the Consulting with Canadians on accessibility legislation questionnaire;</p>
<p>That Andrea Walsh, Andrea Dodsworth, Don Parnell, Councillor Riel and Warren Northcott volunteer to sit on the new sub-committee; and</p>
<p>b)</p>
<p>c)</p>
<p>That the new sub-committee report back to the AAC in January 2017.</p>
<p>d)</p>
<p>“CARRIED”</p>
<p>Accessibility and Communication Specialist Report AAC16-056 International Day of Persons with Disabilities Celebration 2016</p>
<p>Moved by Erica Richmond</p>
<p>That the Accessibility Advisory Committee (AAC) approve the recommendations outlined in Report AAC16-056 dated November 2, 2016, of the Accessibility and Communication Specialist as follows:</p>
<p>a)</p>
<p>That Report AAC16-056 with respect to participation in the International Day of Persons with Disabilities Celebration 2016 be received for information;</p>
<p>That Andrea Dodsworth and Amanda Motyer volunteer to participate in the International Day of Persons with Disabilities Celebration 2016.</p>
<p>b)</p>
<p>“CARRIED”</p>
<p>Accessibility Advisory Committee Minutes</p>
<p>Meeting of November 2, 2016</p>
<p>Page 7</p>
<br>
<p>Other Business</p>
<p>Councillor Riel thanked outgoing members, Janet Ali and Peter Michielsen for their dedication to the AAC during their terms.</p>
<p>Next Meeting</p>
<p>The Chair indicated that the next Committee meeting will be held on January 4, 2017.</p>
<p>Adjournment</p>
<p>Moved by Janet Ali</p>
<p>That this meeting of the Accessibility Advisory Committee adjourn at 4:33 p.m.</p>
<p>"CARRIED"</p>
<p>Kendra Sedgwick Committee Coordinator</p>
<p>Councillor Riel Chair</p>
<br></div>