<!doctype html><div><p>Accessibility Advisory Committee</p>
<p>City of Peterborough</p>
<p>March 1, 2017</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of the Accessibility Advisory Committee held on</p>
<p>March 1, 2017 in the Doris Room.</p>
<br>
<p>The meeting of the Accessibility Advisory Committee was called to order at 4:01 p.m. by Councillor Riel, Chair in the Doris Room, City Hall.</p>
<p>Present: Councillor Riel, Chair Thomas Street Andrea Dodsworth Warren Northcott, Vice Chair Don Parnell Erica Richmond</p>
<p>Regrets: Amanda Motyer Ben McColl Andrea Walsh</p>
<p>Staff: Patricia Reed, Accessibility and Communication Specialist Kendra Sedgwick, Committee Coordinator</p>
<p>Minutes – February 1, 2017</p>
<p>Moved by Andrea Dodsworth</p>
<p>That the minutes of the Accessibility Advisory Committee held on February 1, 2017 be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Pecuniary Interest.</p>
<br>
<p>Accessibility Advisory Committee Minutes</p>
<p>Meeting of March 1, 2017</p>
<p>Page 2</p>
<br>
<p>Consent Agenda</p>
<p>Moved by Warren Northcott</p>
<p>That item 8 be approved as part of the Consent Agenda.</p>
<p>“CARRIED”</p>
<p>Accessibility and Communication Specialist Accessibility Compliance Coordinator Report AAC17-018 Accessibility Office Report</p>
<p>Moved by Warren Northcott</p>
<p>That the Accessibility Advisory Committee (AAC) approve the recommendation outlined in Report AAC17-018 dated March 1, 2017, of the Accessibility and Communication Specialist and the Accessibility Compliance Coordinator as follows:</p>
<p>That Report AAC17-018 with respect to the current work of the Accessibility Office be received for information.</p>
<p>“CARRIED”</p>
<br>
<p>Accessibility Advisory Committee Minutes</p>
<p>Meeting of March 1, 2017</p>
<p>Page 3</p>
<br>
<p>Accessibility and Communication Specialist Report AAC17-020 Peterborough Council for Persons with Disabilities</p>
<p>John McNutt, Chair and Anna Lee, Project Manager, Council for Persons with Disabilities, provided a presentation to Report AAC17-020.</p>
<p>Moved by Thomas Street</p>
<p>That the Accessibility Advisory Committee (AAC) approve the recommendation outlined in Report AAC17-020 dated March 1, 2017, of the Accessibility and Communication Specialist as follows:</p>
<p>That the presentation by the Chair of the Council for Persons with Disabilities, and the Project Manager of the Council for Persons with Disabilities, on 2017 initiatives be received for information.</p>
<p>“CARRIED”</p>
<p>Accessibility and Communication Specialist Report AAC17-019 Pearson Daycare Relocation</p>
<p>Sandra Robinson, Manager of Children’s Services, provided a presentation to Report AAC17-019.</p>
<p>Moved by Don Parnell</p>
<p>That the Accessibility Advisory Committee (AAC) approve the recommendations outlined in Report AAC17-019 dated March 1, 2017, of the Accessibility and Communication Specialist as follows:</p>
<p>That the presentation by the Manager of Children’s Services on the relocation of Pearson Daycare be received for information;</p>
<p>That the AAC provide feedback on the proposed playgrounds at the new location of Pearson Daycare.</p>
<p>a)</p>
<p>b)</p>
<p>“CARRIED”</p>
<br>
<p>Accessibility Advisory Committee Minutes</p>
<p>Meeting of March 1, 2017</p>
<p>Page 4</p>
<br>
<p>Accessibility and Communication Specialist Report AAC17-024 Access Fund Request 003-17</p>
<p>Moved by Thomas Street</p>
<p>That the Accessibility Advisory Committee (AAC) approve the recommendations outlined in Report AAC17-024 dated March 1, 2017, of the Accessibility and Communication Specialist as follows:</p>
<p>That Report AAC17-024 of the Accessibility and Communication Specialist be received for information;</p>
<p>That the AAC approve Access Fund Request 003-17 submitted by the Property Maintenance Coordinator for the installation of automatic door operators on the washrooms at The Superior Court of Justice building.</p>
<p>“CARRIED”</p>
<p>Accessibility and Communication Specialist Report AAC17-023 Access Fund Request 004-17</p>
<p>Moved by Don Parnell</p>
<p>That the Accessibility Advisory Committee (AAC) approve the recommendations outlined in Report AAC17-023 dated March 1, 2017, of the Accessibility and Communication Specialist as follows:</p>
<p>That Report AAC17-023 of the Accessibility and Communication Specialist be received for information; and</p>
<p>That the AAC approve Access Fund Request 004-17 submitted by the Transportation Demand Management Planner relating to providing a wheelchair accessible vehicle in the future City of Peterborough fleet of Community CarShare vehicles.</p>
<p>a)</p>
<p>b)</p>
<p>a)</p>
<p>b)</p>
<p>“CARRIED”</p>
<br>
<p>Accessibility Advisory Committee Minutes</p>
<p>Meeting of March 1, 2017</p>
<p>Page 5</p>
<br>
<p>Accessibility and Communication Specialist Report AAC17-013 Accessible Park Pathways</p>
<p>Moved by Andrea Dodsworth</p>
<p>That the Accessibility Advisory Committee (AAC) approve the recommendation outlined in Report AAC17-013 dated March 1, 2017 of the Accessibility and Communication Specialist as follows:</p>
<p>That the AAC provide feedback on the placement of accessible pathways in nine City of Peterborough parks.</p>
<p>“CARRIED”</p>
<p>Moved by Don Parnell</p>
<p>That Committee move into Closed Session to discuss one item under Section 239(2)(b) Personal matters about an identifiable individual, including municipal or local board employees.</p>
<p>“CARRIED”</p>
<br>
<p>Committee convened in Closed Session at 5:24 p.m.</p>
<p>Committee moved out of Closed Session at 5:36 p.m.</p>
<br>
<p>Accessibility Advisory Committee Minutes</p>
<p>Meeting of March 1, 2017</p>
<p>Page 6</p>
<br>
<p>a)</p>
<p>b)</p>
<p>Report of Closed Session Accessibility and Communication Specialist Report AAC17-021 Built Environment Sub-Committee Membership</p>
<p>Moved by Erica Richmond</p>
<p>That the Accessibility Advisory Committee approve the recommendation outlined in Report AAC17-021 dated March 1, 2017, of the Accessibility and Communication Specialist as follows:</p>
<p>That the terms of reference for the Built Environment sub committee be amended to have a maximum of ten members; and</p>
<p>That Sioux Lily and Janet Dawson be approved for membership on the Built Environment Sub-Committee for a term ending March 1, 2021.</p>
<p>“CARRIED”</p>
<p>Other Business</p>
<p>Trish Reed, Accessibility and Communication Specialist, read a thank you card received from Human Resources thanking the AAC for approving their Access Fund request to pay for the Mental Health First Training.</p>
<p>Nominations packages for the Gordon and Arbie Holnbeck Award are available on the City’s website as well as in City Hall.  Deadline for applications is April 28th at 4:30 p.m.</p>
<p>Trish Reed, Accessibility and Communication Specialist, will bring the Terms of Reference for the Transportation sub-committee to the April Committee meeting for review.</p>
<p>Next Meeting</p>
<p>The Chair indicated that the next Committee meeting will be held on April 5, 2017.</p>
<br>
<p>Accessibility Advisory Committee Minutes</p>
<p>Meeting of March 1, 2017</p>
<p>Page 7</p>
<br>
<p>Adjournment</p>
<p>Moved by Don Parnell</p>
<p>That this meeting of the Accessibility Advisory Committee adjourn at 5:50 p.m.</p>
<p>"CARRIED"</p>
<p>Kendra Sedgwick Committee Coordinator</p>
<p>Councillor Riel Chair</p>
<br></div>