<!doctype html><div><p>Accessibility Advisory Committee</p>
<p>City of Peterborough</p>
<p>April 5, 2017</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of the Accessibility Advisory Committee held on</p>
<p>April 5, 2017 in the Doris Room.</p>
<br>
<p>The meeting of the Accessibility Advisory Committee was called to order at 4:04 p.m. by Councillor Riel, Chair in the Doris Room, City Hall.</p>
<p>Present: Councillor Riel, Chair Andrea Dodsworth Warren Northcott Don Parnell Erica Richmond Amanda Motyer Ben McColl Andrea Walsh Thomas Street</p>
<p>Staff: Patricia Reed, Accessibility and Communication Specialist Kendra Sedgwick, Committee Coordinator Mark Buffone, Accessibility Compliance Coordinator</p>
<p>Minutes – March 1, 2017</p>
<p>Moved by Andrea Dodsworth</p>
<p>That the minutes of the Accessibility Advisory Committee held on March 1, 2017 be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Pecuniary Interest.</p>
<br>
<br>
<p>Accessibility Advisory Committee Minutes</p>
<p>Meeting of April 5, 2017</p>
<p>Page 2</p>
<br>
<p>Consent Agenda</p>
<p>Moved by Don Parnell</p>
<p>That items 10 and 11 be approved as part of the Consent Agenda.</p>
<p>“CARRIED”</p>
<p>Accessibility and Communication Specialist Report AAC17-029 Built Environment Sub-Committee Terms of Reference</p>
<p>Moved by Don Parnell</p>
<p>That the Accessibility Advisory Committee (AAC) approve the recommendation outlined in Report AAC17-029 dated April 5, 2017 of the Accessibility and Communication Specialist as follows:</p>
<p>That the AAC approve the amended Built Environment Sub-Committee Terms of Reference.</p>
<p>“CARRIED”</p>
<p>Accessibility and Communication Specialist Accessibility Compliance Coordinator Report AAC17-025 Accessibility Office Report</p>
<p>Moved by Don Parnell</p>
<p>That the Accessibility Advisory Committee (AAC) approve the recommendation outlined in Report AAC17-025 dated April 5, 2017, of the Accessibility and Communication Specialist and the Accessibility Compliance Coordinator as follows:</p>
<p>That Report AAC17-025 with respect to the current work of the Accessibility Office be received for information.</p>
<p>“CARRIED”</p>
<p>Accessibility Advisory Committee Minutes</p>
<p>Meeting of April 5, 2017</p>
<p>Page 3</p>
<br>
<p>Accessibility and Communication Specialist Report AAC17-031 Peterborough Public Health Draft Outdoor Playspaces Evidence Report</p>
<p>Moved by Erica Richmond</p>
<p>That the Accessibility Advisory Committee (AAC) approve the recommendation outlined in Report AAC17-031 dated April 5, 2017, of the Accessibility and Communication Specialist as follows:</p>
<p>That the presentation by the Health Promoter, Community Health Team, with Peterborough Public Health on the draft Outdoor Playspaces Evidence Report be received for information.</p>
<p>“CARRIED”</p>
<p>Accessibility and Communication Specialist Report AAC17-026 Access Fund Request 005-17</p>
<p>Moved by Don Parnell</p>
<p>That the Accessibility Advisory Committee (AAC) approve the recommendations outlined in Report AAC17-026 dated April 5, 2017, of the Accessibility and Communication Specialist as follows:</p>
<p>That Report AAC17-026 of the Accessibility and Communication Specialist be received for information;</p>
<p>That the AAC approve Access Fund Request 005-17 submitted by the Manager of Children’s Services for accessibility enhancements at the two new Pearson Daycare playgrounds.</p>
<p>a)</p>
<p>b)</p>
<p>“CARRIED”</p>
<br>
<p>Accessibility Advisory Committee Minutes</p>
<p>Meeting of April 5, 2017</p>
<p>Page 4</p>
<br>
<p>Accessibility and Communication Specialist Report AAC17-030 Access Fund Request 006-17</p>
<p>Moved by Amanda Motyer</p>
<p>That the Accessibility Advisory Committee (AAC) approve the recommendations outlined in Report AAC17-030 dated April 5, 2017, of the Accessibility and Communication Specialist as follows:</p>
<p>a)</p>
<p>b)</p>
<p>That Access Fund Request 006-017 of the Accessibility and Communication Specialist be received for information;</p>
<p>That the AAC approve an Access Fund expenditure of up to $3600 for funding relating to the installation of auto voice announcers in the new elevator in the main lobby of City Hall.</p>
<p>“CARRIED”</p>
<p>Accessibility and Communication Specialist Report AAC17-033 Access Fund Request 007-17</p>
<p>Moved by Ben McColl</p>
<p>That Access Fund Request 007-17 be deferred to the May Committee meeting, to allow staff to look into the possibility of having a wheelchair donated for City Hall use.</p>
<p>“CARRIED”</p>
<br>
<p>Accessibility Advisory Committee Minutes</p>
<p>Meeting of April 5, 2017</p>
<p>Page 5</p>
<br>
<p>Accessibility and Communication Specialist Report AAC17-027 Transportation Sub-Committee Report</p>
<p>Moved by Don Parnell</p>
<p>That the Accessibility Advisory Committee (AAC) approve the recommendation outlined in Report AAC17-027, dated April 5, 2017 of the Accessibility and Communication Specialist as follows:</p>
<p>That the verbal update by the Chair of the Transportation Sub-Committee be received for information.</p>
<p>“CARRIED”</p>
<p>Accessibility and Communication Specialist Report AAC17-028 Built Environment Sub-Committee Report</p>
<p>Moved by Andrea Dodsworth</p>
<p>That the Accessibility Advisory Committee (AAC) approve the recommendation outlined in Report AAC17-028 dated April 5, 2017 of the Accessibility and Communication Specialist as follows:</p>
<p>That the verbal update by the Chair of the Built Environment Sub-Committee be received for information.</p>
<p>“CARRIED”</p>
<br>
<p>Accessibility Advisory Committee Minutes</p>
<p>Meeting of April 5, 2017</p>
<p>Page 6</p>
<br>
<p>Accessibility and Communication Specialist Report AAC17-032 National Access Awareness Week</p>
<p>Moved by Erica Richmond</p>
<p>That the Accessibility Advisory Committee (AAC) approve the recommendation outlined in Report AAC17-032 dated April 5, 2017, of the Accessibility and Communication Specialist as follows:</p>
<p>That the presentation by the Accessibility and Communication Specialist on the May 2017 National Access Awareness Week celebration be received for information.</p>
<p>“CARRIED”</p>
<p>Other Business</p>
<p>The Accessibility Directorate of Ontario is offering regional forums for municipal Accessibility Advisory Committees.  Details will be emailed to Committee members.</p>
<p>Next Meeting</p>
<p>The Chair indicated that the next Committee meeting will be held on May 3, 2017.</p>
<p>Adjournment</p>
<p>Moved by Andrea Dodsworth</p>
<p>That this meeting of the Accessibility Advisory Committee adjourn at 5:35 p.m.</p>
<p>"CARRIED"</p>
<p>Kendra Sedgwick Committee Coordinator</p>
<p>Councillor Riel Chair</p>
<br></div>