<!doctype html><div><p>Accessibility Advisory Committee</p>
<p>City of Peterborough</p>
<p>June 7, 2017</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of the Accessibility Advisory Committee held on</p>
<p>June 7, 2017 in the Doris Room.</p>
<br>
<p>The meeting of the Accessibility Advisory Committee was called to order at 4:04 p.m. by Councillor Riel, Chair in the Doris Room, City Hall.</p>
<p>Present: Councillor Riel, Chair Andrea Dodsworth Warren Northcott Erica Richmond Andrea Walsh Thomas Street Don Parnell Amanda Motyer Ben McColl</p>
<p>Staff: Sharron Hayton, Customer Service Coordinator Patricia Reed, Accessibility and Communication Specialist Mark Buffone, Accessibility Compliance Coordinator Kendra Sedgwick, Committee Coordinator Phil Jacobs, Supervisor, Parks and Forestry</p>
<p>Minutes – May 3, 2017</p>
<p>Moved by Warren Northcott</p>
<p>That the minutes of the Accessibility Advisory Committee held on May 3, 2017 be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Pecuniary Interest.</p>
<br>
<p>Accessibility Advisory Committee Minutes</p>
<p>Meeting of June 7, 2017</p>
<p>Page 2</p>
<br>
<p>Consent Agenda</p>
<p>Moved by Andrea Dodsworth</p>
<p>That items 10 and 11 be approved as part of the Consent Agenda.</p>
<p>“CARRIED”</p>
<p>The Chair advised that Becky Rogers, Manager, Arts, Culture and Heritage Division was in attendance and would provide the Committee with a verbal update on the Public Art Process.</p>
<p>Accessibility and Communication Specialist Report AAC17-041 Draft Transportation Sub-Committee Terms of Reference</p>
<p>Moved by Andrea Dodsworth</p>
<p>That the Accessibility Advisory Committee (AAC) approve the recommendations outlined in Report AAC17-041 dated June 7, 2017, of the Accessibility and Communication Specialist as follows:</p>
<p>That the AAC approve the Draft Transportation Sub-Committee Terms of Reference;</p>
<p>That the AAC approve the proposed transition to stagger the terms of current Sub-Committee members.</p>
<p>a)</p>
<p>b)</p>
<p>“CARRIED”</p>
<br>
<p>Accessibility Advisory Committee Minutes</p>
<p>Meeting of June 7, 2017</p>
<p>Page 3</p>
<br>
<p>Accessibility and Communication Specialist Accessibility Compliance Coordinator Report AAC17-038 Accessibility Office Report</p>
<p>Moved by Andrea Dodsworth</p>
<p>That the Accessibility Advisory Committee (AAC) approve the recommendation outlined in Report AAC17-038 dated June 7, 2017, of the Accessibility and Communication Specialist and the Accessibility Compliance Coordinator as follows:</p>
<p>That Report AAC17-038 with respect to the current work of the Accessibility Office be received for information.</p>
<p>“CARRIED”</p>
<p>Accessibility and Communication Specialist Report AAC17-043 Age-friendly Peterborough 2017 Community Action Plan</p>
<p>Sarah Cullingham, Age-friendly Coordinator, provide a presentation.</p>
<p>Moved by Andrea Dodsworth</p>
<p>That the Accessibility Advisory Committee (AAC) approve the recommendation outlined in Report AAC17-043 dated June 7, 2017, of the Accessibility and Communication Specialist as follows:</p>
<p>That the presentation by the Age-friendly Coordinator on the Age-friendly Peterborough 2017 Community Action Plan be received for information.</p>
<p>“CARRIED”</p>
<br>
<p>Accessibility Advisory Committee Minutes</p>
<p>Meeting of June 7, 2017</p>
<p>Page 4</p>
<br>
<p>Accessibility and Communication Specialist Report AAC17-036 Beach Access Route Update</p>
<p>A presentation was provided by Phil Jacobs, Supervisor, Parks and Forestry.</p>
<p>Moved by Thomas Street</p>
<p>That the Accessibility Advisory Committee (AAC) approve the recommendation outlined in Report AAC17-036 dated June 7, 2017, of the Accessibility and Communication Specialist as follows:</p>
<p>That the presentation by the Supervisor of Parks and Forestry on the potential beach access route(s) be received for information.</p>
<p>“CARRIED”</p>
<p>Moved by Don Parnell</p>
<p>That the Accessibility Advisory Committee approve an access fund expenditure of up to $25,000 for a 1.8 metre wide asphalt path and the purchase of a beach access mat for the Beavermead Park.</p>
<p>“CARRIED”</p>
<p>Moved by Warren Northcott</p>
<p>That the verbal update on the Public Art process provided by Becky Rogers, Manager, Arts, Culture and Heritage Division, be received for information, and</p>
<p>That staff bring a report to a future AAC meeting to allow for a further discussion on Public Art partnership opportunities.</p>
<p>“CARRIED”</p>
<br>
<p>Accessibility Advisory Committee Minutes</p>
<p>Meeting of June 7, 2017</p>
<p>Page 5</p>
<br>
<p>Accessibility and Communication Specialist Report AAC17-042 City Branding Initiative</p>
<p>Sharron Hayton, Customer Service Coordinator, provided an overview of Report AAC17-042.</p>
<p>Moved by Amanda Motyer</p>
<p>That the Accessibility Advisory Committee (AAC) approve the recommendation outlined in Report AAC17-042 dated June 7, 2017, of the Accessibility and Communication Specialist as follows:</p>
<p>That the presentation by the Customer Service Coordinator on the City of Peterborough’s branding initiative be received for information.</p>
<p>“CARRIED”</p>
<p>Accessibility Compliance Coordinator Report AAC17-044 Sherbrooke Street Sidewalk Conflicts</p>
<p>Moved by Andrea Walsh</p>
<p>That the Accessibility Advisory Committee (AAC) approve the recommendations outlined in Report AAC17-044 dated June 7, 2017, of the Accessibility Compliance Coordinator as follows:</p>
<p>That the presentation by the Accessibility Compliance Coordinator be received for information; and,</p>
<p>That the AAC provide feedback to the Accessibility Compliance Coordinator on a potential solution to address the conflicts.</p>
<p>a)</p>
<p>b)</p>
<p>“CARRIED”</p>
<br>
<p>Accessibility Advisory Committee Minutes</p>
<p>Meeting of June 7, 2017</p>
<p>Page 6</p>
<br>
<p>Accessibility and Communication Specialist Report AAC17-045 2017 to 2025 Accessibility Plan</p>
<p>Report AAC17-045 was deferred to the September Committee meeting.</p>
<p>Amanda Motyer left the meeting at 5:56 p.m.</p>
<p>Accessibility and Communication Specialist Report AAC17-039 Transportation Sub-Committee Report</p>
<p>Moved by Ben McColl</p>
<p>That the Accessibility Advisory Committee (AAC) approve the recommendation outlined in Report AAC17-039 dated June 7, 2017 of the Accessibility and Communication Specialist as follows:</p>
<p>That the verbal update by the Chair of the Transportation Sub-Committee be received for information.</p>
<p>“CARRIED”</p>
<p>Accessibility and Communication Specialist Report AAC17-040 Built Environment Sub-Committee Report</p>
<p>Moved by Don Parnell</p>
<p>That the Accessibility Advisory Committee (AAC) approve the recommendation outlined in Report AAC17-040 dated June 7, 2017 of the Accessibility and Communication Specialist as follows:</p>
<p>That the verbal update by the Chair of the Built Environment Sub-Committee be received for information.</p>
<p>“CARRIED”</p>
<br>
<p>Accessibility Advisory Committee Minutes</p>
<p>Meeting of June 7, 2017</p>
<p>Page 7</p>
<br>
<p>Other Business</p>
<p>There were no items of Other Business.</p>
<p>Next Meeting</p>
<p>The Chair indicated that the next Committee meeting will be held on September 6, 2017.</p>
<p>Adjournment</p>
<p>Moved by Ben McColl</p>
<p>That this meeting of the Accessibility Advisory Committee adjourn at 5:58 p.m.</p>
<p>"CARRIED"</p>
<p>Kendra Sedgwick Committee Coordinator</p>
<p>Councillor Riel Chair</p>
<br></div>