<!doctype html><div><br>
<br>
<br>
<br>
<p>Accessibility Advisory Committee</p>
<br>
<p>Minutes</p>
<br>
<p>City of Peterborough</p>
<br>
<p>March 7, 2012</p>
<br>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of the Accessibility Advisory Committee Held on</p>
<p>March 7, 2012 in the Sutherland Room</p>
<br>
<p>The  meeting  of  Accessibility  Advisory  Committee  was  called  to  order  at  4:00  p.m.  by</p>
<p>Natalie Garnett, Deputy City Clerk in the Sutherland Room, City Hall.</p>
<br>
<p>Present:</p>
<p>Janet Ali</p>
<p>Don Beesley</p>
<p>Marie Bongard</p>
<p>Andrea Dodsworth</p>
<p>Bob Geddes</p>
<p>Chris Grayson</p>
<p>Ian Guest</p>
<p>Anna Lee</p>
<p>Keith Riel, Councillor</p>
<br>
<p>Staff:</p>
<p>Sandra Clancy, Director of Corporate Services</p>
<p>Joanne Cowley, Accessibility Compliance Coordinator</p>
<p>Natalie Garnett, Deputy City Clerk</p>
<p>Sharron Hayton, Customer Service Coordinator</p>
<p>Phyllis Hodder, Accessibility Coordinator</p>
<p>Nancy Wright-Laking, City Clerk</p>
<br>
<br>
<p>Election of Officers for 2012</p>
<br>
<p>Chair</p>
<br>
<p>Moved by Ian Guest</p>
<br>
<p>That Bob Geddes be appointed as Chair of the Accessibility Advisory Committee</p>
<p>for 2012.</p>
<br>
<p>"CARRIED"</p>
<br>
<br>
<br>
<br>
<br>
<p>Accessibility Advisory Committee</p>
<p>Minutes</p>
<p>City of Peterborough</p>
<p>March 7, 2012</p>
<p>Draft Minutes Not Approved</p>
<br>
<p>Minutes of a Meeting of the Accessibility Advisory Committee Held on March 7, 2012 in the Sutherland Room</p>
<p>The  meeting  of  Accessibility  Advisory  Committee  was  called  to  order  at  4:00  p.m.  by Natalie Garnett, Deputy City Clerk in the Sutherland Room, City Hall.</p>
<p>Present: Janet Ali Don Beesley Marie Bongard Andrea Dodsworth Bob Geddes Chris Grayson Ian Guest Anna Lee Keith Riel, Councillor</p>
<p>Staff: Sandra Clancy, Director of Corporate Services Joanne Cowley, Accessibility Compliance Coordinator Natalie Garnett, Deputy City Clerk Sharron Hayton, Customer Service Coordinator Phyllis Hodder, Accessibility Coordinator Nancy Wright-Laking, City Clerk</p>
<p>Election of Officers for 2012</p>
<p>Chair</p>
<p>Moved by Ian Guest</p>
<p>That Bob Geddes be appointed as Chair of the Accessibility Advisory Committee for 2012.</p>
<p>"CARRIED"</p>
<br></div>