<!doctype html><div><p>Accessibility Advisory Committee</p>
<p>City of Peterborough</p>
<p>January 8, 2014</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of the Accessibility Advisory Committee Held on</p>
<p>January 8, 2014 in the Sutherland Room.</p>
<br>
<p>The meeting of the Accessibility Advisory Committee was called to order at 4:05 p.m. by Kendra Sedgwick, Committee Coordinator in the Sutherland Room, City Hall.</p>
<p>Present: Janet Ali Andrea Dodsworth Bob Geddes, Chair Keith Riel, Councillor Marie Bongard Peter Michielsen</p>
<p>Regrets: Ian Guest Gordon Earle Eric Lodgins</p>
<p>Staff: Mark Buffone, Accessibility Compliance Co-ordinator Phyllis Hodder, Accessibility Coordinator Kendra Sedgwick, Committee Coordinator</p>
<p>Election of Officers for 2014</p>
<p>The Committee Coordinator called for nominations for the position of Chair.</p>
<p>Chair</p>
<p>Moved by Janet Ali</p>
<p>That Councillor Riel be appointed as Chair of the Accessibility Advisory Committee for 2014.</p>
<p>"CARRIED"</p>
<br>
<p>Accessibility Advisory Committee Minutes</p>
<p>Meeting of January 8, 2014</p>
<p>Page 2</p>
<br>
<p>The Committee Coordinator called for nominations for the position of Vice Chair.</p>
<p>Vice Chair</p>
<p>Ian Guest indicated prior to the meeting that he was interested in continuing on as Vice Chair of AAC for 2014.</p>
<p>Moved by Marie Bongard</p>
<p>That Ian Guest be appointed as Vice Chair of the Accessibility Advisory Committee for 2014.</p>
<p>"CARRIED"</p>
<p>Councillor Riel assumed the Chair.</p>
<p>Minutes – November 6, 2013</p>
<p>Moved by Peter Michielsen</p>
<p>That the minutes of the Accessibility Advisory Committee held on November 6, 2013 be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Pecuniary Interest.</p>
<p>Consent Agenda</p>
<p>No items were considered as part of the Consent Agenda.</p>
<br>
<p>Accessibility Advisory Committee Minutes</p>
<p>Meeting of January 8, 2014</p>
<p>Page 3</p>
<br>
<p>Accessibility Coordinator Report AAC14-001 2014 AAC Meeting Schedule</p>
<p>Moved by Janet Ali</p>
<p>That the Accessibility Advisory Committee approve the recommendation outlined in Report AAC14-001 dated January 8, 2014, of the Accessibility Coordinator as follows:</p>
<p>That the proposed 2014 Accessibility Advisory Committee meeting schedule be approved, as presented in Report AAC14-001.</p>
<p>“CARRIED”</p>
<p>Accessibility Coordinator Report AAC14-002 Transportation Sub-Committee Report</p>
<p>Moved by Marie Bongard</p>
<p>That the Accessibility Advisory Committee approve the recommendation outlined in Report AAC14-002, dated January 8, 2014, of the Accessibility Coordinator as follows:</p>
<p>That Report AAC14-002 with respect to the Transportation Sub-Committee Report be received for information.</p>
<p>“CARRIED”</p>
<br>
<p>Accessibility Advisory Committee Minutes</p>
<p>Meeting of January 8, 2014</p>
<p>Page 4</p>
<br>
<p>Accessibility Coordinator Report AAC14-003 Accessible Parking Concerns at Simcoe Street and George Street</p>
<p>Moved by Bob Geddes</p>
<p>That the Accessibility Advisory Committee approve the recommendation outlined in Report AAC14-003, dated January 8, 2014, of the Accessibility Coordinator, as follows:</p>
<p>That the Accessibility Advisory Committee review and, provide recommendations to the Transportation Department regarding accessible parking issues at the George Street and Simcoe Street intersection.</p>
<p>“CARRIED”</p>
<p>Moved by Marie Bongard</p>
<p>That the Accessible Advisory Committee request that the transportation division staff investigate and provide a report on the possibility of turning the loading zone on George Street north of Simcoe Street to a 15 minute drop off zone, and if supportive, the report be forwarded to Council for approval.</p>
<p>“CARRIED”</p>
<p>Accessibility Coordinator Report AAC14-004 AAC Priority List</p>
<p>Moved by Janet Ali</p>
<p>That the Accessibility Advisory Committee approve the recommendation outlined in Report AAC14-004, dated January 8, 2014, of the Accessibility Coordinator, as follows:</p>
<p>That Report AAC14-004 with respect to the AAC Priority List be received for information and follow up discussion.</p>
<p>“CARRIED”</p>
<p>Accessibility Advisory Committee Minutes</p>
<p>Meeting of January 8, 2014</p>
<p>Page 5</p>
<br>
<p>Other Business</p>
<p>Councillor Riel thanked the AAC members who made delegations to Council on December regarding the Sidewalk Policy.</p>
<p>Councillor Riel thanked Bob Geddes for being Chair of the AAC for the past two years.</p>
<p>Next Meeting – The Chair indicated that the next Committee meeting will be held on February 5, 2014.</p>
<p>Adjournment</p>
<p>Moved by Andrea Dodsworth</p>
<p>That this meeting of the Accessibility Advisory Committee adjourn at 5:08 p.m.</p>
<p>"CARRIED"</p>
<br>
<p>Kendra Sedgwick, Committee Coordinator</p>
<p>Councillor Riel, Chair</p>
<br></div>