<!doctype html><div><p>Accessibility  Advisory Committee</p>
<p>City of Peterborough</p>
<p>May 7, 2014</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of the Accessibility Advisory Committee Held on</p>
<p>May 7, 2014 in the Peterborough Room.</p>
<br>
<p>The meeting of the Accessibility Advisory Committee was called to order at 4:00 p.m. by Councillor Riel, Chair in the Peterborough Room, City Hall.</p>
<p>Present: Janet Ali Andrea Dodsworth Councillor Riel, Chair Ian Guest Bob Geddes Marie Bongard Eric Lodgins Peter Michielsen</p>
<p>Regrets: Gordon Earle</p>
<p>Staff: Phyllis Hodder, Accessibility Coordinator Mark Buffone, Accessibility Compliance Co-ordinator Kendra Sedgwick, Committee Coordinator</p>
<p>Minutes – April 2, 2014</p>
<p>Moved by Bob Geddes</p>
<p>That the minutes of the Accessibility Advisory Committee held on April 2, 2014 be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Pecuniary Interest.</p>
<br>
<p>Accessibility Advisory Committee Minutes</p>
<p>Meeting of May 7, 2014</p>
<p>Page 2</p>
<br>
<p>Consent Agenda</p>
<p>No items were passed as part of the Consent Agenda.</p>
<p>The Chair amended the order of the agenda to deal with Report AAC14-011 last.</p>
<p>Accessibility Coordinator Report AAC14-015 Transportation Sub-Committee Report</p>
<p>Moved by Janet Ali</p>
<p>That the Accessibility Advisory Committee approve the recommendation outlined in Report AAC14-015, dated May 7, 2014, of the Accessibility Coordinator as follows:</p>
<p>That Report AAC14-015 with respect to the Transportation Sub-Committee Report be received for information.</p>
<p>“CARRIED”</p>
<p>Accessibility Coordinator Report AAC14-014 Built Environment Sub-Committee Report</p>
<p>Moved by Andrea Dodsworth</p>
<p>That the Accessibility Advisory Committee approve the recommendation outlined in Report AAC14-014, dated May 7, 2014, of the Accessibility Coordinator as follows:</p>
<p>That Report AAC14-014 with respect to the Built Environment Sub-Committee Report be received for information.</p>
<p>“CARRIED”</p>
<br>
<br>
<p>Accessibility Advisory Committee Minutes</p>
<p>Meeting of May 7, 2014</p>
<p>Page 3</p>
<br>
<p>Accessibility Coordinator Report AAC14-016 Adaptability Canada Accessibility Assessment</p>
<p>Moved by Andrea Dodsworth</p>
<p>That the Accessibility Advisory Committee approve the recommendation outlined in Report AAC14-016, dated May 7, 2014, of the Accessibility Coordinator as follows:</p>
<p>That Report AAC14-016 with respect to the Adaptability Canada Accessibility Assessments be received for information.</p>
<p>“CARRIED”</p>
<p>Accessibility Compliance Coordinator Report AAC14-011 Accessible Document Training for City Employees</p>
<p>Moved by Marie Bongard</p>
<p>That the Accessibility Advisory Committee approve the recommendation outlined in Report AAC14-011, dated May 7, 2014, of the Accessibility Compliance Coordinator as follows:</p>
<p>That the presentation by Mark Buffone, the City of Peterborough Accessibility Compliance Coordinator, regarding accessible document training for City employees be received for information.</p>
<p>“CARRIED”</p>
<p>Other Business</p>
<p>1.</p>
<p>Zach Prins, a local artist, came and spoke to the Committee regarding ideas for artwork to be included in the information brochure.  The Committee invited Zach to bring some potential pictures for the brochure to the June Committee meeting.</p>
<p>Nominations are being accepted for the Ontario Medal for Good Citizenship.</p>
<p>2.</p>
<p>Accessibility Advisory Committee Minutes</p>
<p>Meeting of May 7, 2014</p>
<p>Page 4</p>
<br>
<p>3.</p>
<p>The Committee’s request for an audible crosswalk at Hilliard and Langton Streets is moving forward.  A file is now open on the project and studies on traffic will be completed this spring.</p>
<p>Next Meeting</p>
<p>The Chair indicated that the next Committee meeting will be held on June 4, 2014.</p>
<p>Adjournment</p>
<p>Moved by Janet Ali</p>
<p>That this meeting of the Accessibility Advisory Committee adjourn at 5:44 p.m.</p>
<p>"CARRIED"</p>
<br>
<p>Kendra Sedgwick, Committee Coordinator</p>
<p>Councillor Riel, Chair</p>
<br></div>