<!doctype html><div><p>Accessibility Advisory Committee</p>
<p>City of Peterborough</p>
<p>March 4, 2015</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of the Accessibility Advisory Committee Held on</p>
<p>March 4, 2015 in the Sutherland Room.</p>
<br>
<p>The meeting of the Accessibility Advisory Committee was called to order at 4:02 p.m. by Councillor Riel in the Sutherland Room, City Hall.</p>
<p>Present: Janet Ali Amanda Motyer Peter Michielsen Andrea Dodsworth Bob Geddes Councillor Riel Warren Northcott</p>
<p>Regrets: Ian Guest Gordon Earle</p>
<p>Staff: Kathryn McLeod, Accessibility Coordinator Mark Buffone, Accessibility Compliance Co-ordinator Phil Jacobs, Supervisor – Parks and Forestry, Public Works Rebecca Morgan Quin, Housing Program Officer Chad Brown, Deputy Fire Chief Amanda Nichols, Public Educator - Fire Kendra Sedgwick, Committee Coordinator</p>
<p>Councillor Riel welcomed the new members to the Committee.</p>
<p>Election of Officers for 2015</p>
<p>Chair</p>
<p>Moved by Janet Ali</p>
<p>That Councillor Riel be appointed as Chair of the Accessibility Advisory Committee for 2015.</p>
<p>"CARRIED"</p>
<p>Accessibility Advisory Committee Minutes</p>
<p>Meeting of March 4, 2015</p>
<p>Page 2</p>
<br>
<p>Minutes – February 4, 2015</p>
<p>Moved by Peter Michielsen</p>
<p>That the minutes of the Accessibility Advisory Committee held on February 4, 2015 be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Pecuniary Interest.</p>
<p>Accessibility Coordinator Report AAC15-007 Presentation from Supervisor of Parks and Forestry about the new playground at Beavermead Park</p>
<p>Phil Jacobs, Supervisor - Parks and Forestry provided an overview of Report AAC15-007.</p>
<p>Moved by Amanda Motyer</p>
<p>That the Accessibility Advisory Committee approve the recommendations outlined in Report AAC15-007, dated March 4, 2015, of the Accessibility Coordinator as follows:</p>
<p>a)</p>
<p>That the presentation by the Supervisor of Parks and Forestry be received for information.</p>
<p>That the Accessibility Advisory Committee provide formal comment to the Public Works Division on the design of the Beavermead Park play structure before the project is tendered.</p>
<p>b)</p>
<p>“CARRIED”</p>
<br>
<p>Accessibility Advisory Committee Minutes</p>
<p>Meeting of March 4, 2015</p>
<p>Page 3</p>
<br>
<p>Accessibility Coordinator Report AAC15-010 Presentation from the Housing Division on the draft Duty to Accommodate Policy</p>
<p>Rebecca Morgan Quin, Housing Program Officer, provided an overview of Report AAC15-010.</p>
<p>Moved by Janet Ali</p>
<p>That the Accessibility Advisory Committee approve the recommendation outlined in Report AAC15-010 dated March 4, 2015, of the Accessibility Coordinator as follows:</p>
<p>That the presentation by the Programs Officer in the Housing Division be received for information.</p>
<p>“CARRIED”</p>
<p>Accessibility Coordinator Report AAC15-006 Presentation from Peterborough Fire Services on the Vulnerable Occupancy Legislation</p>
<p>Chad Brown, Deputy Fire Chief and Amanda Nichols, Public Educator, gave a powerpoint presentation on Report AAC15-006.</p>
<p>Moved by Janet Ali</p>
<p>That the Accessibility Advisory Committee approve the recommendation outlined in Report AAC15-006, dated March 4, 2015 of the Accessibility Coordinator, as follows:</p>
<p>That the presentation by the Deputy Fire Chief and Public Educator from Peterborough Fire Services be received for information.</p>
<p>“CARRIED”</p>
<p>Andrea Dodsworth left the meeting at 5:40 p.m.</p>
<p>Accessibility Advisory Committee Minutes</p>
<p>Meeting of March 4, 2015</p>
<p>Page 4</p>
<br>
<p>Accessibility Coordinator Report AAC15-008 Transportation Sub-Committee Report</p>
<p>Moved by Janet Ali</p>
<p>That the Accessibility Advisory Committee approve the recommendation outlined in Report AAC15-008, dated March 4, 2015 of the Accessibility Coordinator as follows:</p>
<p>That Report AAC15-008 with respect to the meeting of the Transportation Sub-Committee be received for information.</p>
<p>“CARRIED”</p>
<p>Moved by Warren Northcott</p>
<p>That staff investigate the possibility of making GPS coordinates available for amenities such as bus stops and City facilities, and</p>
<p>That staff bring a report back to the Committee at a future meeting.</p>
<p>“CARRIED”</p>
<p>Accessibility Compliance Coordinator Accessibility Coordinator Report AAC15-009 Accessibility Office Report</p>
<p>Moved by Bob Geddes</p>
<p>That the Accessibility Advisory Committee approve the recommendation outlined in Report AAC15-009 dated March 4, 2015 of the Accessibility Compliance Coordinator and the Accessibility Coordinator as follows:</p>
<p>That Report AAC15-009 with respect to the current work of the Accessibility Office be received for information.</p>
<p>“CARRIED”</p>
<p>Accessibility Advisory Committee Minutes</p>
<p>Meeting of March 4, 2015</p>
<p>Page 5</p>
<br>
<p>Other Business</p>
<p>1.</p>
<p>2.</p>
<p>3.</p>
<p>The Chair asked staff to forward the meeting schedules of the Transportation and Built Environment sub-committees to the new Committee members.</p>
<p>AODA 10th Anniversary Event – The Peterborough event will take place on Wednesday, April 8th at the McDonnel Street Activity Centre.</p>
<p>It was requested by a Committee member that meetings be kept to a two hour time limit.</p>
<br>
<p>Next Meeting</p>
<p>The Chair indicated that the next Committee meeting will be held on April 1, 2015.</p>
<p>Adjournment</p>
<p>Moved by Janet Ali</p>
<p>That this meeting of the Accessibility Advisory Committee adjourn at 6:28 p.m.</p>
<p>"CARRIED"</p>
<p>Kendra Sedgwick Committee Coordinator</p>
<p>Councillor Riel Chair</p>
<br></div>