<!doctype html><div><p>Accessibility Advisory Committee</p>
<p>City of Peterborough</p>
<p>April 1, 2015</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of the Accessibility Advisory Committee Held on</p>
<p>April 1, 2015 in the Sutherland Room.</p>
<br>
<p>The meeting of the Accessibility Advisory Committee was called to order at 4:00 p.m. by Councillor Riel in the Sutherland Room, City Hall.</p>
<p>Present: Janet Ali Amanda Motyer Andrea Dodsworth Bob Geddes Councillor Riel, Chair Warren Northcott Ian Guest Gordon Earle</p>
<p>Regrets: Peter Michielsen</p>
<p>Staff: Kathryn McLeod, Accessibility Coordinator Mark Buffone, Accessibility Compliance Co-ordinator Mary Gallop, Manager of Facilities and Special Projects John Kennedy, City Clerk</p>
<p>Election of Officers for 2015</p>
<p>Vice Chair</p>
<p>Moved by Bob Geddes</p>
<p>That Warren Northcott be appointed as Vice Chair of the Accessibility Advisory Committee for 2015.</p>
<p>"CARRIED"</p>
<br>
<p>Accessibility Advisory Committee Minutes</p>
<p>Meeting of April 1, 2015</p>
<p>Page 2</p>
<br>
<p>Order of Agenda Items</p>
<p>Moved by Gordon Earle</p>
<p>That the order of agenda items 7 and 8 be reversed.</p>
<p>“CARRIED”</p>
<p>Minutes – March 4, 2015</p>
<p>Moved by Bob Geddes</p>
<p>That the minutes of the Accessibility Advisory Committee held on March 4, 2015 be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Pecuniary Interest.</p>
<p>Accessibility Coordinator Report AAC15-015 Presentation from the Manager of Facilities and Special Projects about the West End Splash Pad and the Trent Sport Field Projects</p>
<p>Mary Gallop, Manager of Facilities and Special Projects provided an overview of Report AAC15-015.</p>
<p>Moved by Bob Geddes</p>
<p>That the Accessibility Advisory Committee approve the recommendations outlined in Report AAC15-015 dated April 1, 2015, of the Accessibility Coordinator as follows:</p>
<p>a)</p>
<p>That the presentation by the Manager of Facilities and Special Projects be received for information.</p>
<p>Accessibility Advisory Committee Minutes</p>
<p>Meeting of April 1, 2015</p>
<p>Page 3</p>
<br>
<p>b)</p>
<p>That the Accessibility Advisory Committee provide formal comment to the Manager of Facilities and Special Projects on the West End Splash Pad and Trent Sport Field Projects.</p>
<p>“CARRIED”</p>
<p>Accessibility Compliance Coordinator Report AAC15-016 Draft 2014 Annual Status Report on the City’s 2012 to 2016 Accessibility Plan</p>
<p>Moved by Janet Ali</p>
<p>That the Accessibility Advisory Committee approve the recommendations outlined in Report AAC15-016 dated April 1, 2015, of the Accessibility Compliance Coordinator as follows:</p>
<p>That Report AAC15-016 with respect to the draft 2014 Annual Status Report regarding the City’s 2012 to 2016 Accessibility Plan be received for information.</p>
<p>That the Accessibility Advisory Committee provide an introductory message to the 2014 Annual Status report regarding the City’s 2012 to 2016 Accessibility Plan.</p>
<p>a)</p>
<p>b)</p>
<p>“CARRIED”</p>
<br>
<p>Accessibility Advisory Committee Minutes</p>
<p>Meeting of April 1, 2015</p>
<p>Page 4</p>
<br>
<p>Accessibility Coordinator Report AAC15-011 Transportation Sub-Committee Report</p>
<p>Moved by Janet Ali</p>
<p>That the Accessibility Advisory Committee approve the recommendation outlined in Report AAC15-011, dated April 1, 2015 of the Accessibility Coordinator as follows:</p>
<p>That Report AAC15-011 with respect to the meeting of the Transportation Sub-Committee be received for information.</p>
<p>“CARRIED”</p>
<p>Gordon Earle left the meeting at 4:58 p.m.</p>
<p>Accessibility Coordinator Report AAC15-012 Built Environment Sub-Committee Report</p>
<p>Moved by Andrea Dodsworth</p>
<p>That the Accessibility Advisory Committee approve the recommendation outlined in Report AAC15-012, dated April 1, 2015 of the Accessibility Coordinator as follows:</p>
<p>That Report AAC15-012 with respect to the meeting of the Built Environment Sub-Committee be received for information.</p>
<p>“CARRIED”</p>
<br>
<p>Accessibility Advisory Committee Minutes</p>
<p>Meeting of April 1, 2015</p>
<p>Page 5</p>
<br>
<p>Accessibility Compliance Coordinator Accessibility Coordinator Report AAC15-013 Accessibility Office Report</p>
<p>Moved by Warren Northcott</p>
<p>That the Accessibility Advisory Committee approve the recommendation outlined in Report AAC15-013 dated April 1, 2015 of the Accessibility Compliance Coordinator and the Accessibility Coordinator as follows:</p>
<p>That Report AAC15-013 with respect to the current work of the Accessibility Office be received for information.</p>
<p>“CARRIED”</p>
<p>Other Business</p>
<p>Kathryn  McLeod  notified  Committee  of  an  upcoming  Open  House  regarding  cycling lanes  on  George, Water  and  McDonnel  Streets  on  April  9,  2015  at  the  Public  Library. She  also  indicated  there  are  openings  on  the  Built  Environment  Sub-Committee  for members.</p>
<p>Warren Northcott mentioned the CNIB Technology Fair at the Lions Centre on May 26, 2015.</p>
<p>Next Meeting</p>
<p>The Chair indicated that the next Committee meeting will be held on May 6, 2015.</p>
<p>Adjournment</p>
<p>Moved by Bob Geddes</p>
<p>That this meeting of the Accessibility Advisory Committee adjourn at 5:50 p.m.</p>
<p>"CARRIED"</p>
<br>
<p>Accessibility Advisory Committee Minutes</p>
<p>Meeting of April 1, 2015</p>
<p>Page 6</p>
<br>
<p>John Kennedy City Clerk</p>
<p>Councillor Riel Chair</p>
<br></div>