<!doctype html><div><br>
<br>
<br>
<p>Arenas, Parks and Recreation Advisory</p>
<p>Committee Minutes</p>
<p>City of Peterborough</p>
<p>March 15, 2016</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of the Arenas, Parks and Recreation Advisory</p>
<p>Committee Held on Tuesday, March 15, 2016 in the Sutherland Room,</p>
<p>City Hall.</p>
<br>
<p>The Arenas, Parks and Recreation Advisory Committee meeting was called to order by Gary Rabjohn, Chair at 5:30 p.m. in the Sutherland Room.</p>
<p>Present: Councillor Therrien David Ronson Diane Sargent Gary Rabjohn, Chair Katy Shufelt Rocky Caravaggio</p>
<p>Regrets: Councillor Haacke</p>
<p>Staff: Ken Doherty, Director of Community Services Rob Anderson, Recreation Division Coordinator Sue Warrington, Arena Division Manager Kendra Sedgwick, Committee Coordinator</p>
<p>Confirmation of Minutes – February 23, 2016</p>
<p>Moved by Councillor Therrien</p>
<p>That the minutes of the meeting of the Arenas, Parks and Recreation Advisory Committee held on February 23, 2016 be approved.</p>
<p>“CARRIED”</p>
<br>
<p>Arenas, Parks and Recreation Advisory Committee Minutes</p>
<p>March 15, 2016</p>
<p>Page 2</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Interest.</p>
<p>Consent Agenda</p>
<p>Moved by David Ronson</p>
<p>That items 6 and 7 be approved as part of the Consent Agenda.</p>
<p>“CARRIED”</p>
<p>Recreation Division Coordinator Report APRAC16-007 2016 Special Occasion Permits</p>
<p>Moved by David Ronson</p>
<p>That the Arenas Parks and Recreation Advisory Committee approve the recommendation outlined in Report APRAC16-007 dated March 15, 2016, of the Recreation Division Coordinator, as follows:</p>
<p>That the issuance of  Public Event Special Occasion permits be endorsed for the following 2016 Sport Tournaments and Special Events occurring on City property, in accordance with the Liquor Licence Act, and the City of Peterborough Alcohol Management Policy:</p>
<p>i )  Slopitch “May Two-Four Tournament” at Bowers Park;</p>
<p>ii )  Slopitch Association – Slofest Slo-pitch Tournament at Morrow Park and at</p>
<br>
<br>
<p>Bowers Park;</p>
<p>iii )  Rotary Ribfest at Millennium Park;</p>
<p>iv )  Peterborough Folk Festival at Nicholls Oval Park;</p>
<p>v )  Pride in the Park at Del Crary Park; and</p>
<br>
<p>Arenas, Parks and Recreation Advisory Committee Minutes</p>
<p>March 15, 2016</p>
<p>Page 3</p>
<p>vi )  Various weddings/birthday celebrations at Nicholls Oval Park, Heritage</p>
<p>Pavilion, Beavermead Pavilion, and Millennium Park.</p>
<p>“CARRIED”</p>
<p>Recreation Division Coordinator Report APRAC16-008 2016/17 City Sponsored Events</p>
<p>Moved by David Ronson</p>
<p>That the Arenas Parks and Recreation Advisory Committee approve the recommendations outlined in Report APRAC16-008 dated March 15, 2016, of the Recreation Division Coordinator, as follows:</p>
<p>a)</p>
<p>That the following special events and activities occurring between April 1, 2016 and March 31, 2017 be approved as City sponsored, and be covered under the City’s insurance:</p>
<p>i )  Victoria Day Festivities within Del Crary Park ii )  Canada Day Parade iii )  Canada Day Multicultural Stage Show and Park Festivities within Del</p>
<p>Crary Park, including required road closures</p>
<p>iv )  Pulse on George Street, between McDonnell and Lansdowne Street v )  Artsweek vi )  Snofest Winter Carnival vii )  Neighbourhood Associations viii )  Pathway of Fame</p>
<p>ix )  Annual Terry Fox Run at Nicholls Oval x )  Peterborough Youth Commission xi )  Peterborough Youth Council</p>
<p>That staff be authorized to enter into a City Sponsored Event/Activity Agreement with each identified event/project organizer to allow their inclusion under the City’s insurance policy.</p>
<p>b)</p>
<p>“CARRIED”</p>
<br>
<p>Arenas, Parks and Recreation Advisory Committee Minutes</p>
<p>March 15, 2016</p>
<p>Page 4</p>
<p>Director of Community Services Report APRAC16-010 Presentation on Agricultural Society Strategic Plan</p>
<p>Bronwynne Wilton, Synthesis Agri-Food Network, provided a presentation on Report APRAC16-010.</p>
<p>Moved by Diane Sargent</p>
<p>That the Arenas Parks and Recreation Advisory Committee approve the recommendation outlined in Report APRAC16-010, dated March 15, 2016, of the Director of Community Services, as follows:</p>
<p>That the presentation on the Agricultural Society Strategic Plan by Bronwynne Wilton and Rob Hannam from Synthesis Agri-Food Network be received for information and that feedback be provided.</p>
<p>“CARRIED”</p>
<p>Recreation Division Coordinator Report APRAC16-009 Harper Park Stewardship Initiative</p>
<p>Rene Gareau and Kim Zippel, Peterborough Field Naturalists, provided an overview of Report APRAC16-009.</p>
<p>Moved by Diane Sargent</p>
<p>That the Arenas Parks and Recreation Advisory Committee approve the recommendation outlined in Report APRAC16-009 dated March 15, 2016, of the Recreation Division Coordinator, as follows:</p>
<p>That a presentation on the Harper Park Stewardship Initiative by Kim Zippel from the Peterborough Field Naturalist be received.</p>
<p>“CARRIED”</p>
<br>
<p>Arenas, Parks and Recreation Advisory Committee Minutes</p>
<p>March 15, 2016</p>
<p>Page 5</p>
<p>Director of Community Services Report APRAC16-011 Staffing Changes in Arenas and Recreation Divisions</p>
<p>Moved by Councillor Therrien</p>
<p>That the Arenas Parks and Recreation Advisory Committee approve the recommendation outlined in Report APRAC16-011, dated March 15, 2016, of the Director of Community Services, as follows:</p>
<p>That Report APRAC16-011 be received for information.</p>
<p>“CARRIED”</p>
<p>Other Business</p>
<p>There were no items of Other Business.</p>
<p>Next Meeting</p>
<p>The Chair indicated that the next meeting is scheduled for April 19, 2016.</p>
<p>Adjournment</p>
<p>Moved by Diane Sargent</p>
<p>That this meeting of the Arenas, Parks and Recreation Advisory Committee adjourn at 7:13 p.m.</p>
<p>"CARRIED"</p>
<p>Kendra Sedgwick Committee Coordinator</p>
<p>Gary Rabjohn, Chair</p>
<br></div>