<!doctype html><div><br>
<p>Arenas, Parks and Recreation Advisory</p>
<p>Committee Minutes</p>
<p>City of Peterborough</p>
<p>April 19, 2016</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of the Arenas, Parks and Recreation Advisory</p>
<p>Committee Held on Tuesday, April 19, 2016 in the Sutherland Room,</p>
<p>City Hall.</p>
<br>
<p>The Arenas, Parks and Recreation Advisory Committee meeting was called to order by Gary Rabjohn, Chair at 5:30 p.m. in the Sutherland Room.</p>
<p>Present: Councillor Therrien Councillor Haacke David Ronson Diane Sargent Gary Rabjohn, Chair Katy Shufelt Rocky Caravaggio</p>
<p>Staff: Rob Anderson, Recreation Division Coordinator Phil Jacobs, Supervisor – Parks and Forestry Kendra Sedgwick, Committee Coordinator</p>
<p>Confirmation of Minutes – March 15, 2016</p>
<p>Moved by Rocky Caravaggio</p>
<p>That the minutes of the meeting of the Arenas, Parks and Recreation Advisory Committee held on March 15, 2016 be approved.</p>
<p>“CARRIED”</p>
<br>
<br>
<br>
<br>
<p>Arenas, Parks and Recreation Advisory Committee Minutes</p>
<p>April 19, 2016</p>
<p>Page 2</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Interest.</p>
<p>Recreation Division Coordinator Report APRAC16-012 Community Garden at King Edward Park</p>
<p>Moved by Rocky Caravaggio</p>
<p>That the Arenas Parks and Recreation Advisory Committee approve the recommendation outlined in Report APRAC16-012 dated April 19, 2016, of the Recreation Division Coordinator, as follows:</p>
<p>That the establishment of a community garden within King Edward Park be endorsed.</p>
<p>“CARRIED”</p>
<p>Other Business</p>
<p>There were no items of Other Business.</p>
<p>Next Meeting</p>
<p>The Chair indicated that the next meeting is scheduled for May 17, 2016.</p>
<p>Adjournment</p>
<p>Moved by David Ronson</p>
<p>That this meeting of the Arenas, Parks and Recreation Advisory Committee adjourn at 5:43 p.m.</p>
<p>"CARRIED"</p>
<br>
<br>
<p>Arenas, Parks and Recreation Advisory Committee Minutes</p>
<p>April 19, 2016</p>
<p>Page 3</p>
<p>Kendra Sedgwick Committee Coordinator</p>
<p>Gary Rabjohn, Chair</p>
<br>
<br></div>