<!doctype html><div><br>
<br>
<br>
<p>Arenas, Parks and Recreation Advisory</p>
<p>Committee Minutes</p>
<p>City of Peterborough</p>
<p>June 21, 2016</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of the Arenas, Parks and Recreation Advisory</p>
<p>Committee Held on Tuesday, June 21, 2016 in the Sutherland Room,</p>
<p>City Hall.</p>
<br>
<p>The Arenas, Parks and Recreation Advisory Committee meeting was called to order by Gary Rabjohn, Chair at 5:30 p.m. in the Sutherland Room.</p>
<p>Present: Councillor Haacke Councillor Therrien Diane Sargent Gary Rabjohn, Chair Katy Shufelt</p>
<p>Regrets: Rocky Caravaggio David Ronson</p>
<p>Staff: Ken Doherty, Director of Community Services Rob Anderson, Recreation Division Coordinator Sue Warrington, Arena Division Manager Jeremy Giles, Facility Manager- Memorial Centre Gillian Barnes, Project Manager, Facilities and Planning Initiatives Rob McAulay, Manager, Peterborough Sport and Wellness Centre Natalie Garnett, Deputy City Clerk</p>
<p>Confirmation of Minutes – May 17, 2016</p>
<p>Moved by Councillor Haacke</p>
<p>That the minutes of the meeting of the Arenas, Parks and Recreation Advisory Committee held on May 17, 2016 be approved.</p>
<p>“CARRIED”</p>
<p>Arenas, Parks and Recreation Advisory Committee Minutes</p>
<p>June 21, 2016</p>
<p>Page 2</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Interest.</p>
<p>Consent Agenda</p>
<p>No items were approved as part of the Consent Agenda.</p>
<p>Recreation Division Coordinator Report APRAC16-022 Peterborough Kawartha Rotary Club Presentation – Canada 150 Celebration Project</p>
<p>Moved by Diane Sargent</p>
<p>That the Arenas Parks and Recreation Advisory Committee approve the recommendation outlined in Report APRAC16-022 dated June 21, 2016, of the Recreation Division Coordinator, as follows:</p>
<p>That a presentation by Liz Lewis Woosey, from the Peterborough Kawartha Rotary Club, on a proposed Canada 150 Celebration Project be received for information.</p>
<p>“CARRIED”</p>
<p>Project Manager, Facilities and Planning Initiatives Report APRAC16-019 Presentation on the New Arena Complex Project</p>
<p>Moved by Councillor Therrien</p>
<p>That the Arenas Parks and Recreation Advisory Committee approve the recommendation outlined in Report APRAC16-019 dated June 21, 2016, of the Project Manager, Facilities and Planning Initiatives, as follows:</p>
<p>Arenas, Parks and Recreation Advisory Committee Minutes</p>
<p>June 21, 2016</p>
<p>Page 3</p>
<p>That the presentation by Perkins + Will on the New Arena Complex be received for information.</p>
<p>“CARRIED”</p>
<p>Recreation Division Coordinator Report APRAC16-024 Trent University Athletics Presentation</p>
<p>Moved by Councillor Therrien</p>
<p>That the Arenas Parks and Recreation Advisory Committee approve the recommendation outlined in Report APRAC16-024 dated June 21, 2016, of the Recreation Division Coordinator, as follows:</p>
<p>That a presentation by the Trent University Athletics Director be received for information.</p>
<p>“CARRIED</p>
<p>Recreation Division Coordinator Report APRAC16-025 Community Garden Application Time Period</p>
<p>Moved by Diane Sargent</p>
<p>That the Arenas Parks and Recreation Advisory Committee approve the recommendation outlined in Report APRAC16-025 dated June 21, 2016, of the Recreation Division Coordinator, as follows:</p>
<p>That applications to establish community gardens on City-owned land be accepted only between October 1 and December 31, in any given year.</p>
<p>“CARRIED”</p>
<p>Arenas, Parks and Recreation Advisory Committee Minutes</p>
<p>June 21, 2016</p>
<p>Page 4</p>
<p>Arena Division Manager Report APRAC16-021 2016/17 Fall-Winter Ice Allocation Update</p>
<p>Moved by Councillor Haacke</p>
<p>That the Arenas Parks and Recreation Advisory Committee approve the recommendations outlined in Report APRAC16-021 dated June 21, 2016, of the Arena Division Manager, as follows:</p>
<p>a)</p>
<p>That the information on the allocation of prime-time ice to minor hockey groups for the 2016/17 Fall-Winter Season be received for information; and</p>
<p>That Staff allocate the available ten hours of prime-time ice for the 2016/17 season to the Adult User Groups who were displaced in the 2015/16 season, by offering the days and times that most closely match their original 2014/15 Fall Winter Season times.</p>
<p>b)</p>
<p>“CARRIED”</p>
<p>Moved by Diane Sargent</p>
<p>That Committee move into Closed Session to discuss one item under Section 239(2)(a) The security of the property of the municipality or local board.</p>
<p>“CARRIED”</p>
<br>
<p>Committee moved into Closed Session at 7:22 p.m.</p>
<p>Committee moved out of Closed Session at 7:34 p.m.</p>
<p>Other Business</p>
<p>It was noted that the bus for the arena tour on Tuesday, June 28th will leave the Evinrude Centre at 8:00 a.m.</p>
<br>
<p>Arenas, Parks and Recreation Advisory Committee Minutes</p>
<p>June 21, 2016</p>
<p>Page 5</p>
<p>Next Meeting</p>
<p>The Chair indicated that the next meeting is scheduled for September 20, 2016.</p>
<p>Adjournment</p>
<p>Moved by Diane Sargent</p>
<p>That this meeting of the Arenas, Parks and Recreation Advisory Committee adjourn at 7:36 p.m.</p>
<p>"CARRIED"</p>
<p>Natalie Garnett Deputy City Clerk</p>
<p>Gary Rabjohn, Chair</p>
<br></div>