<!doctype html><div><br>
<br>
<br>
<p>Arenas, Parks and Recreation Advisory</p>
<p>Committee Minutes</p>
<p>City of Peterborough</p>
<p>March 21, 2017</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of Arenas, Parks and Recreation Advisory</p>
<p>Committee held on Tuesday, March 21, 2017 in the Sutherland Room,</p>
<p>City Hall.</p>
<br>
<p>The Arenas, Parks and Recreation Advisory Committee meeting was called to order by Gary Rabjohn, Chair at 5:30 p.m. in the Sutherland Room.</p>
<p>Present: Councillor Baldwin Councillor Haacke David Ronson Diane Sargent Gary Rabjohn, Chair Katy Shufelt Glen Payne</p>
<p>Staff: Ken Doherty, Director of Community Services Rob McAuley, Manager, Peterborough Wellness Centre Sue Warrington, Arena Division Manager Brad Putnam, Community Arenas Operations Manager Kendra Sedgwick, Committee Coordinator</p>
<p>Confirmation of Minutes – February 28, 2017</p>
<p>Moved by Katy Shufelt</p>
<p>That the minutes of the meeting of the Arenas, Parks and Recreation Advisory Committee held on February 28, 2017 be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Interest.</p>
<p>Arenas, Parks and Recreation Advisory Committee Minutes</p>
<p>March 21, 2017</p>
<p>Page 2</p>
<p>Recreation Division Coordinator Report APRAC17-008 Green Up’s Five-year Capital Funding Campaign for Ecology Park</p>
<p>Dave Haacke left the meeting at 5:54 p.m.</p>
<p>Moved by Diane Sargent</p>
<p>That the Arenas Parks and Recreation Advisory Committee approve the recommendation outlined in Report APRAC17-008 dated March 21, 2017, of the Recreation Division Coordinator, as follows:</p>
<p>That a presentation by Brianna Salmon, Executive Director of Green-Up on Green Up’s five-year capital funding campaign required to support their infrastructure requirements for Ecology Park be received.</p>
<p>“CARRIED”</p>
<p>Facility Manager, Peterborough Sport and Wellness Centre Report APRAC17-009 Fleming College Recreation Presentation</p>
<p>Rob McAuley, Facility Manager, Peterborough Sport and Wellness Centre and Greg Jefford, Manager of Athletics and Recreation, Fleming College, provided an overview of Report APRAC17-009.</p>
<p>Moved by David Ronson</p>
<p>That the Arenas Parks and Recreation Advisory Committee approve the recommendation outlined in Report APRAC17-009 dated March 21, 2017, of the Facility Manager, Peterborough Sport and Wellness Centre, as follows:</p>
<p>That the presentation by Fleming College Athletic Department be received for information.</p>
<p>“CARRIED”</p>
<p>Arenas, Parks and Recreation Advisory Committee Minutes</p>
<p>March 21, 2017</p>
<p>Page 3</p>
<p>Arena Division Manager Report APRAC17-010 Arena Division 2017 Work Activities Overview</p>
<p>Sue Warrington, Arena Division Manager and Brad Putnam, Community Arenas Operations Manager, provided an overview of Report APRAC17-010.</p>
<p>Moved by Councillor Baldwin</p>
<p>That the Arenas Parks and Recreation Advisory Committee (APRAC) approve the recommendation outlined in Report APRAC17-010, dated March 21, 2017 of the Arena Division Manager, as follows:</p>
<p>That a presentation by the Arena Division Manager providing an overview of the 2017 major work activities be received for information.</p>
<p>“CARRIED”</p>
<p>Other Business</p>
<p>Ken Doherty provided the Committee with updates on the Community Services department including the acceptance of a Sustainability Award on behalf of the City, Trent University and ORCA.</p>
<p>Next Meeting</p>
<p>The Chair indicated that the next meeting is scheduled for April 25, 2017.</p>
<p>Adjournment</p>
<p>Moved by Glen Payne</p>
<p>That this meeting of the Arenas, Parks and Recreation Advisory Committee adjourn at 7:45 p.m.</p>
<p>"CARRIED"</p>
<br>
<p>Arenas, Parks and Recreation Advisory Committee Minutes</p>
<p>March 21, 2017</p>
<p>Page 4</p>
<p>Kendra Sedgwick Committee Coordinator</p>
<p>Gary Rabjohn, Chair</p>
<br></div>