<!doctype html><div><br>
<br>
<br>
<p>Arenas, Parks and Recreation Advisory</p>
<p>Committee Minutes</p>
<p>City of Peterborough</p>
<p>May 16, 2017</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of Arenas, Parks and Recreation Advisory</p>
<p>Committee held on Tuesday, May 16, 2017 in the Doris Room, City</p>
<p>Hall.</p>
<br>
<p>The Arenas, Parks and Recreation Advisory Committee meeting was called to order by Gary Rabjohn, Chair at 5:30 p.m. in the Doris Room.</p>
<p>Present: Gary Rabjohn, Chair Councillor Baldwin Councillor Haacke Diane Sargent Glen Payne</p>
<p>Regrets: Katy Shufelt David Ronson</p>
<p>Staff: Ken Doherty, Director of Community Services Rob Anderson, Recreation Division Coordinator Sue Warrington, Arena Division Manager Rob McAuley, Manager, Peterborough Wellness Centre Phil Jacobs, Supervisor, Parks and Forestry Gillian Barnes, Project Manager, Facilities and Planning Initiatives Kendra Sedgwick, Committee Coordinator</p>
<p>Confirmation of Minutes – April 25, 2017</p>
<p>Moved by Councillor Baldwin</p>
<p>That the minutes of the meeting of the Arenas, Parks and Recreation Advisory Committee held on April 25, 2017 be approved.</p>
<p>“CARRIED”</p>
<br>
<p>Arenas, Parks and Recreation Advisory Committee Minutes</p>
<p>May 16, 2017</p>
<p>Page 2</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Interest.</p>
<p>Consent Agenda</p>
<p>No items were approved as part of the Consent Agenda.</p>
<p>Recreation Division Coordinator Report APRAC17-016 Peterborough Canoe Club Presentation</p>
<p>Jim Stewart and Nicholas Paschalis, Peterborough Canoe Club, provided a presentation to Report APRAC17-016.</p>
<p>Moved by Glen Payne</p>
<p>That the Arenas, Parks and Recreation Advisory Committee approve the recommendations outlined in Report APRAC17-016 dated May 16, 2017, of the Recreation Division Coordinator, as follows:</p>
<p>a)</p>
<p>That a presentation by the Peterborough Canoe Club’s executive members be received for information.</p>
<p>That APRAC support in principle the concept of the Peterborough Canoe Club (PCC) conducting programming on City owned land; and</p>
<p>That staff be directed to continue discussions with PCC, and other organizations as appropriate, such as but not limited to ORCA, Parks Canada, and Brown Sea Base, in determining an appropriate plan to meet the PCC's short and long term facility and programming needs.</p>
<p>b)</p>
<p>c)</p>
<p>“CARRIED”</p>
<br>
<p>Arenas, Parks and Recreation Advisory Committee Minutes</p>
<p>May 16, 2017</p>
<p>Page 3</p>
<p>Project Manager, Facilities and Planning Initiatives Report APRAC17-018 Presentation on the Nicholls Oval Washroom Building</p>
<p>Amanda Motyer, Lett Architects, provided a presentation to Report APRAC17-018.</p>
<p>Moved by Councillor Baldwin</p>
<p>That the Arenas, Parks and Recreation Advisory Committee approve the recommendation outlined in Report APRAC17-018 dated May 16, 2017, of the Project Manager, Facilities and Planning Initiatives, as follows:</p>
<p>That the presentation by Lett Architects Inc. on the Nicholls Oval Washroom Pavillion be received for information.</p>
<p>“CARRIED”</p>
<p>Facility Manager, Peterborough Sport and Wellness Centre Report APRAC17-017 Peterborough Sport and Wellness Centre – Aquatic Update</p>
<p>Rob McAuley, Facility Manager, Peterborough Sport and Wellness Centre, provided an overview of Report APRAC17-017.</p>
<p>Moved by Diane Sargent</p>
<p>That the Arenas, Parks and Recreation Advisory Committee approve the recommendation outlined in Report APRAC17-017 dated May 16, 2017, of the Facility Manager, Peterborough Sport and Wellness Centre, as follows:</p>
<p>That the presentation by the Facility Manager of Peterborough Sport and Wellness Centre be received for information.</p>
<p>“CARRIED”</p>
<br>
<p>Arenas, Parks and Recreation Advisory Committee Minutes</p>
<p>May 16, 2017</p>
<p>Page 4</p>
<p>Director of Community Services Report APRAC17-019 Presentation on Draft Memorandum of Understanding with the Peterborough Agricultural Society</p>
<p>Moved by Councillor Haacke</p>
<p>That the Arenas, Parks and Recreation Advisory Committee approve the recommendation outlined in Report APRAC17-019 dated May 16, 2017, of the Director of Community Services, as follows:</p>
<p>That the presentation by the Director of Community Services, on the City’s Draft Memorandum of Understanding with the Peterborough Agricultural Society regarding its use of Morrow Park be received for information.</p>
<p>“CARRIED”</p>
<p>Recreation Division Coordinator Report APRAC17-015 2020 Ontario Summer Games Bid</p>
<p>Moved by Diane Sargent</p>
<p>That the Arenas, Parks and Recreation Advisory Committee approve the recommendation outlined in Report APRAC17-015 dated May 16, 2017, of the Recreation Division Coordinator, as follows:</p>
<p>That Report APRAC17-015 be received for information.</p>
<p>“CARRIED”</p>
<p>Other Business</p>
<p>There were no items of Other Business.</p>
<p>Arenas, Parks and Recreation Advisory Committee Minutes</p>
<p>May 16, 2017</p>
<p>Page 5</p>
<p>Next Meeting</p>
<p>The Chair indicated that the next meeting is scheduled for June 20, 2017.</p>
<p>Adjournment</p>
<p>Moved by Councillor Baldwin</p>
<p>That this meeting of the Arenas, Parks and Recreation Advisory Committee adjourn at 7:37 p.m.</p>
<p>"CARRIED"</p>
<p>Kendra Sedgwick Committee Coordinator</p>
<p>Gary Rabjohn, Chair</p>
<br></div>