<!doctype html><div><br>
<br>
<br>
<p>Arenas, Parks and Recreation Advisory</p>
<p>Committee Minutes</p>
<p>City of Peterborough</p>
<p>June 20, 2017</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of Arenas, Parks and Recreation Advisory</p>
<p>Committee held on Tuesday, June 20, 2017 in the Auditorium,</p>
<p>Community Services Office.</p>
<br>
<p>The Arenas, Parks and Recreation Advisory Committee meeting was called to order by Gary Rabjohn, Chair at 5:30 p.m. in the Auditorium.</p>
<p>Present: Gary Rabjohn, Chair Councillor Baldwin Councillor Haacke Diane Sargent Glen Payne Katy Shufelt (5:35 p.m.) David Ronson</p>
<p>Staff: Rob Anderson, Recreation Division Coordinator Natalie Garnett, Deputy City Clerk</p>
<p>Confirmation of Minutes – May 16, 2017</p>
<p>Moved by Councillor Baldwin</p>
<p>That the minutes of the meeting of the Arenas, Parks and Recreation Advisory Committee held on May 16, 2017 be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Interest.</p>
<p>Arenas, Parks and Recreation Advisory Committee Minutes</p>
<p>June 20, 2017</p>
<p>Page 2</p>
<p>Consent Agenda</p>
<p>Moved by Diane Sargent</p>
<p>That Item 5 be approved as part of the Consent Agenda.</p>
<p>“CARRIED”</p>
<p>Facility Manager, Peterborough Sport and Wellness Centre Report APRAC17-023 Community Garden in Whitefield Park</p>
<p>Moved by Diane Sargent</p>
<p>That the Arenas Parks and Recreation Advisory Committee approve the recommendation outlined in Report APRAC17-023 dated June 20, 2017, of the Recreation Division Coordinator, as follows:</p>
<p>That the request to establish a community garden within the northeast section of Whitefield Park be supported.</p>
<p>“CARRIED”</p>
<p>Recreation Division Coordinator Report APRAC17-021 Peterborough Housing Project – Impact on Bonnerworth Park</p>
<p>Mr. Peter Robinson, Director of Corporate Assets, Peterborough Housing Corporation (PHC), made a presentation to Report APRAC17-021.</p>
<p>Moved by Councillor Baldwin</p>
<p>That the Arenas Parks and Recreation Advisory Committee support the adjustment of the property line between Bonnerworth Park and the PHC property at 553 Bonaccord Street.</p>
<p>“LOST”</p>
<p>The Committee expressed support for the housing project.</p>
<p>Arenas, Parks and Recreation Advisory Committee Minutes</p>
<p>June 20, 2017</p>
<p>Page 3</p>
<p>Moved by Councillor Baldwin</p>
<p>That the Arenas Parks and Recreation Advisory Committee approve the recommendation outlined in Report APRAC17-021 dated June 20, 2017, of the Recreation Division Coordinator, as follows:</p>
<p>That a presentation by Mr. Peter Robinson, Director of Corporate Assets with the Peterborough Housing Corporation, providing details of their housing project in the former Fleming College McCrea campus property, immediately east of Bonnerworth Park, be received for information.</p>
<p>“CARRIED”</p>
<p>Project Manager, Facilities and Planning Initiatives Report APRAC17-022 Ontario Power Boat Racing Event</p>
<p>Mr. Brent Valois, Ontario Power Boat Racing Association, provided a presentation on an event planned for September 16/17, 2017 at Little Lake.</p>
<p>Katye Shufelt left the meeting at 6:34 p.m.</p>
<p>Moved by Glen Payne</p>
<p>That the Arenas Parks and Recreation Advisory Committee approve the recommendation outlined in Report APRAC17-022 dated June 20, 2017, of the Recreation Division Coordinator, as follows:</p>
<p>That a presentation from Mr. Brent Valois on plans to introduce an annual Ontario Power Boat Racing event on Little Lake, beginning in September 2017, be received for information.</p>
<p>“CARRIED”</p>
<p>Other Business</p>
<p>There were no items of Other Business.</p>
<p>Arenas, Parks and Recreation Advisory Committee Minutes</p>
<p>June 20, 2017</p>
<p>Page 4</p>
<p>Next Meeting</p>
<p>The Chair indicated that the next meeting is scheduled for September 19, 2017.</p>
<p>Adjournment</p>
<p>Moved by David Ronson</p>
<p>That this meeting of the Arenas, Parks and Recreation Advisory Committee adjourn at 6:58 p.m.</p>
<p>"CARRIED"</p>
<p>Natalie Garnett Deputy Clerk</p>
<p>Gary Rabjohn, Chair</p>
<br></div>