<!doctype html><div><br>
<br>
<br>
<p>Arenas, Parks and Recreation Advisory</p>
<p>Committee Minutes</p>
<p>City of Peterborough</p>
<p>October 17, 2017</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of Arenas, Parks and Recreation Advisory</p>
<p>Committee held on Tuesday, October 17, 2017 in the Auditorium,</p>
<p>Community Services Office.</p>
<br>
<p>The Arenas, Parks and Recreation Advisory Committee meeting was called to order by Gary Rabjohn, Chair, at 5:30 p.m. in the Auditorium.</p>
<p>Present: Gary Rabjohn, Chair Councillor Baldwin Diane Sargent Glen Payne Katy Shufelt (5:48 p.m.)</p>
<p>Regrets: David Ronson Councillor Haacke</p>
<p>Staff: Rob Anderson, Recreation Division Coordinator Phil Jacobs, Parks and Forestry Supervisor Rob McAuley, Facility Manager, Peterborough Sport and Wellness Centre Kendra Sedgwick, Committee Coordinator</p>
<p>Confirmation of Minutes – September 19, 2017</p>
<p>Moved by Councillor Baldwin</p>
<p>That the minutes of the meeting of the Arenas, Parks and Recreation Advisory Committee held on September 19, 2017 be approved.</p>
<p>“CARRIED”</p>
<br>
<p>Arenas, Parks and Recreation Advisory Committee Minutes</p>
<p>October 17, 2017</p>
<p>Page 2</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Interest.</p>
<p>Consent Agenda</p>
<p>Moved by Diane Sargent</p>
<p>That items 5 and 6 were passed as part of the Consent Agenda.</p>
<p>“CARRIED”</p>
<p>Recreation Division Coordinator Report APRAC17-032 Canoe Club Update</p>
<p>Moved by Diane Sargent</p>
<p>That the Arenas Parks and Recreation Advisory Committee approve the recommendations outlined in Report APRAC17-032 dated October 17, 2017, of the Recreation Division Coordinator, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>That report APRAC17-032 be received for information; and</p>
<p>That Johnson Park be supported in principle as the site to accommodate the Peterborough Canoe and Kayak Club’s instructional canoe and kayak programming.</p>
<br>
<p>“CARRIED”</p>
<br>
<p>Arenas, Parks and Recreation Advisory Committee Minutes</p>
<p>October 17, 2017</p>
<p>Page 3</p>
<p>Recreation Division Coordinator Report APRAC17-033 Older Adult Recreation Services</p>
<p>Moved by Diane Sargent</p>
<p>That the Arenas Parks and Recreation Advisory Committee approve the recommendation outlined in Report APRAC17-033 dated October 17, 2017, of the Recreation Division Coordinator, as follows:</p>
<p>That report APRAC17-033 be received for information.</p>
<p>“CARRIED”</p>
<p>The Chair indicated that Item 7, Report APRAC17-034 would be dealt with next.</p>
<p>Recreation Division Coordinator Report APRAC17-034 Sport Tourism Activities</p>
<p>Moved by Glen Payne</p>
<p>That the Arenas Parks and Recreation Advisory Committee approve the recommendation outlined in Report APRAC17-034 dated October 17, 2017, of the Recreation Division Coordinator, as follows:</p>
<p>That report APRAC17-034 be received for information.</p>
<p>“CARRIED”</p>
<br>
<br>
<p>Arenas, Parks and Recreation Advisory Committee Minutes</p>
<p>October 17, 2017</p>
<p>Page 4</p>
<p>Facility Manager, Peterborough Sport and Wellness Centre Report APRAC17-036 PerfectMind Recreation Software Presentation</p>
<p>Moved by Glen Payne</p>
<p>That the Arenas Parks and Recreation Advisory Committee approve the recommendation outlined in Report APRAC17-036 dated October 17, 2017, of the Facility Manager, Peterborough Sport and Wellness Centre, as follows:</p>
<p>That the presentation by Michelle House, PerfectMind Project Support, be received for information.</p>
<p>“CARRIED”</p>
<p>Facility Manager, Peterborough Sport & Wellness Centre Report APRAC17-035 Peterborough Sport & Wellness Centre – Aquatic Update</p>
<p>Moved by Diane Sargent</p>
<p>That the Arenas Parks and Recreation Advisory Committee approve the recommendation outlined in Report APRAC17-035 dated October 17, 2017, of the Facility Manager, Peterborough Sport and Wellness Centre, as follows:</p>
<p>That the verbal update by the Facility Manager of Peterborough Sport and Wellness Centre be received for information.</p>
<p>“CARRIED”</p>
<p>Other Business</p>
<p>Councillor Baldwin thanked Phil Jacobs for looking after the Osprey nest at the Beavermead Park in such a timely manner.</p>
<p>Councillor Baldwin left the meeting at 5:59 p.m.</p>
<br>
<p>Arenas, Parks and Recreation Advisory Committee Minutes</p>
<p>October 17, 2017</p>
<p>Page 5</p>
<p>Next Meeting</p>
<p>The Chair indicated that the next meeting is scheduled for November 21, 2017.</p>
<p>Adjournment</p>
<p>Moved by Glen Payne</p>
<p>That this meeting of the Arenas, Parks and Recreation Advisory Committee adjourn at 6:06 p.m.</p>
<p>"CARRIED"</p>
<p>Gary Rabjohn, Chair</p>
<p>Kendra Sedgwick, Committee Coordinator</p>
<br></div>