<!doctype html><div><br>
<br>
<br>
<br>
<br>
<p>MINUTES OF A MEETING OF THE</p>
<br>
<p>ARENAS, PARKS & RECREATION ADVISORY COMMITTEE</p>
<br>
<p>SUTHERLAND ROOM, CITY HALL</p>
<br>
<p>OCTOBER 20, 2009</p>
<br>
<br>
<br>
<br>
<p>Paul Dietrich</p>
<p>Bill Juby Jr.</p>
<p>Yvonne Coveney-Boyd</p>
<p>Councillor Eggleton</p>
<br>
<p>Councillor Martin</p>
<br>
<br>
<br>
<br>
<br>
<p>Cynthia Smith, Frances Wilbur, Wayne Jackson, Brian Buchardt, Sue</p>
<p>Warrington</p>
<br>
<p>Rob Anderson</p>
<p>Peter Southall</p>
<p>Mary Gallop</p>
<p>Wendy Mackay (Secretary)</p>
<p>John Kennedy</p>
<br>
<br>
<p>Staff:  Ken Doherty</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Present:</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Regrets:</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Councillor Martin</p>
<p>Bill Juby Jr.</p>
<br>
<p>RESOLUTION TO APPROVE THE AGENDA</p>
<br>
<p>RESOLUTION TO APPROVE THE MINUTES</p>
<br>
<p>CALL TO ORDER:  WELCOME AND INTRODUCTIONS</p>
<br>
<p>The following motion was presented:</p>
<p>Moved by:</p>
<br>
<p>Seconded by:</p>
<br>
<br>
<br>
<p>A.</p>
<br>
<br>
<p>B.</p>
<br>
<br>
<br>
<br>
<p>That  the  minutes  of  the  Arenas,  Parks  and  Recreation  Advisory  Committee  meeting held on September 15, 2009 be approved.  Carried.</p>
<p>C.</p>
<br>
<br>
<p>That  the  Arenas,  Parks  and  Recreation  Advisory  Committee  approve  the  Agenda  for the meeting on October 20, 2009.  Carried.</p>
<p>D.   DISCLOSURE OF PECUNIARY INTEREST</p>
<p>There were no disclosures at this meeting.</p>
<br>
<br>
<br>
<br>
<p>The following motion was presented: Moved by:</p>
<p>Seconded by:</p>
<p>Yvonne Coveney-Boyd Councillor Martin</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br></div>