<!doctype html><div><br>
<br>
<p>ARENAS, PARK AND RECREATION</p>
<br>
<p>ADVISORY COMMITTEE MINUTES</p>
<p>CITY OF PETERBOROUGH</p>
<br>
<p>NOVEMBER 17, 2009</p>
<br>
<p>DRAFT MINUTES NOT APPROVED</p>
<br>
<br>
<br>
<br>
<br>
<p>MINUTES  OF  A  MEETING  OF  ARENAS,  PARK  AND  RECREATION</p>
<p>ADVISORY COMMITTEE HELD ON TUESDAY, NOVEMBER 17, 2009, IN</p>
<p>THE SUTHERLAND ROOM, CITY HALL</p>
<br>
<p>The  Arenas, Park  And  Recreation  Advisory  Committee  meeting  was  called to order  at 5:30 p.m. in the Sutherland Room.</p>
<p>Present: Councillor Martin Councillor Eggleton Paul Dietrich, Chair Bill Juby Jr. Cynthia Smith Yvonne Coveney-Boyd</p>
<p>Staff: Ken Doherty, Director of Community Services Peter Southall, Manager of Public Works Sue Warrington, Manager of Arenas</p>
<p>Regrets: Frances Wilbur Wayne Jackson, Director of Utility Services Mary Gallop, Manager of Facilities and Special Projects Rob Anderson, Recreation Co-ordinator Ken Hetherington, Manager of Planning Brian Buchardt, Planner, Urban Design</p>
<p>Confirmation of Minutes - October 20, 2009</p>
<p>Moved by Councillor Martin, seconded by Bill Juby Jr.</p>
<p>That  the  minutes  of  the  meeting  of  the  Arenas,  Park  and  Recreation  Advisory Committee held on October 20, 2009 be approved.</p>
<p>“CARRIED”</p>
<br>
<br></div>