<!doctype html><div><br>
<br>
<p>ARENAS, PARK AND RECREATION</p>
<br>
<p>ADVISORY COMMITTEE MINUTES</p>
<p>CITY OF PETERBOROUGH</p>
<br>
<p>JANUARY 19, 2010</p>
<br>
<p>DRAFT MINUTES NOT APPROVED</p>
<br>
<br>
<br>
<br>
<br>
<p>MINUTES  OF  A  MEETING  OF  ARENAS,  PARK  AND  RECREATION</p>
<p>ADVISORY  COMMITTEE  HELD  ON  TUESDAY,  JANUARY  19,  2010,  IN</p>
<p>THE SUTHERLAND ROOM, CITY HALL</p>
<br>
<p>The Arenas, Park And Recreation Advisory Committee meeting was called to order by Ken Doherty, Director of Community Services at 5:30 p.m. in the Sutherland Room.</p>
<p>Present: Councillor Martin Councillor Eggleton Bill Juby Jr. Yvonne Coveney-Boyd Gary Rabjohn Randy Turner</p>
<p>Staff: Ken Doherty, Director of Community Services Peter Southall, Manager of Public Works Rob Anderson, Recreation Co-ordinator John Kennedy, Deputy City Clerk</p>
<p>Regrets: Frances Wilbur Wayne Jackson, Director of Utility Services Mary Gallop, Manager of Facilities and Special Projects Ken Hetherington, Manager of Planning Brian Buchardt, Planner, Urban Design Sue Warrington, Manager of Arenas</p>
<p>Introduction of New Committee Members</p>
<p>Ken  Doherty,  Director  of  Community  Services  asked  new  and  existing  committee members to introduce themselves.</p>
<br></div>