<!doctype html><div><br>
<br>
<p>ARENAS, PARK AND RECREATION</p>
<br>
<p>ADVISORY COMMITTEE MINUTES</p>
<p>CITY OF PETERBOROUGH</p>
<br>
<p>SEPTEMBER 21, 2010</p>
<br>
<p>DRAFT MINUTES NOT APPROVED</p>
<br>
<br>
<br>
<br>
<br>
<p>MINUTES  OF  A  MEETING  OF  ARENAS,  PARK  AND  RECREATION</p>
<p>ADVISORY  COMMITTEE  HELD  ON  TUESDAY,  SEPTEMBER  21,  2010,</p>
<p>IN THE GENERAL COMMITTEE ROOM, CITY HALL</p>
<br>
<p>The Arenas, Park And Recreation Advisory Committee meeting was called to order by Chair Bill Juby Jr. at 5:31 p.m. in the General Committee Room.</p>
<p>Present: Councillor Eggleton Councillor Martin Yvonne Coveney-Boyd Bill Juby Jr., Chair Gary Rabjohn Randy Turner Frances Wilbur</p>
<p>Staff: Ken Doherty, Director of Community Services Rob Anderson, Recreation Co-ordinator Sue Warrington, Manager, Arenas John Salfi, Programs and Promotions Manager Rob Marsh, Assistant Arena Manager Kevin Arjoon, Deputy City Clerk</p>
<p>Confirmation of Minutes – June 15, 2010 and August 10, 2010</p>
<p>Moved by Councillor Martin</p>
<p>That  the  minutes  of  the  meeting  of  the  Arenas,  Park  and  Recreation  Advisory Committee held on June 15, 2010 and August 10, 2010 be approved.</p>
<p>“CARRIED”</p>
<br></div>