<!doctype html><div><p>Arenas, Park And Recreation Advisory</p>
<br>
<br>
<br>
<p>Committee Minutes</p>
<br>
<p>City Of Peterborough</p>
<br>
<p>November 16, 2010</p>
<br>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<p>Minutes  Of  A  Meeting  Of  Arenas,  Park  And  Recreation  Advisory</p>
<p>Committee  Held  On  Tuesday,  November  16,  2010,  In  The  General</p>
<p>Committee Room, City Hall</p>
<br>
<p>The Arenas, Park And Recreation Advisory Committee meeting was called to order by Chair Bill Juby Jr. at 5:30 p.m. in the General Committee Room.</p>
<p>Present: Councillor Eggleton Councillor Martin Yvonne Coveney-Boyd Bill Juby Jr., Chair Gary Rabjohn, 5:43 p.m. Randy Turner</p>
<p>Absent: Frances Wilbur</p>
<p>Staff: Ken Doherty, Director of Community Services Rob Anderson, Recreation Co-ordinator John Kennedy, Deputy City Clerk</p>
<p>Confirmation of Minutes – September 21, 2010</p>
<p>Moved by Councillor Martin</p>
<p>That  the  minutes  of  the  meeting  of  the  Arenas,  Park  and  Recreation  Advisory Committee held on September 21, 2010 be approved.</p>
<p>“CARRIED”</p>
<br>
<br>
<br></div>