<!doctype html><div><p>Arenas, Park And Recreation Advisory</p>
<br>
<br>
<br>
<p>Committee Minutes</p>
<br>
<p>City Of Peterborough</p>
<br>
<p>February 15, 2011</p>
<br>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<p>Minutes  Of  A  Meeting  Of  Arenas,  Park  And  Recreation  Advisory</p>
<p>Committee  Held  On  Tuesday,  February  15,  2011,  In  The  Sutherland</p>
<p>Room, City Hall</p>
<br>
<p>The Arenas, Parks and Recreation Advisory Committee meeting was called to order by John Kennedy, Deputy City Clerk at 5:30 p.m. in the Sutherland Room.</p>
<p>Present: Councillor Beamer Councillor Parnell Gary Baldwin Bill Juby Jr. Gary Rabjohn</p>
<p>Absent: Yvonne Coveney-Boyd Randy Turner</p>
<p>Staff: Ken Doherty, Director of Community Services Rob Anderson, Recreation Co-ordinator John Kennedy, Deputy City Clerk</p>
<p>The first order of business was the election of the Chair and the Vice Chair.</p>
<p>Moved by Gary Rabjohn</p>
<p>That Councillor Parnell be appointed as Chair of the Arenas, Parks and Recreation Advisory Committee for 2011.</p>
<p>“CARRIED”</p>
<br>
<br>
<br>
<br></div>