<!doctype html><div><p>Arenas, Parks And Recreation Advisory</p>
<br>
<br>
<br>
<p>Committee Minutes</p>
<br>
<p>City Of Peterborough</p>
<p>September 20, 2011</p>
<br>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<p>Minutes Of A Meeting Of Arenas, Parks And Recreation Advisory</p>
<p>Committee Held On Tuesday, September 20, 2011 In The Sutherland</p>
<p>Room, City Hall.</p>
<br>
<p>The Arenas, Parks and Recreation Advisory Committee meeting was called to order at 5:30 p.m. in the Sutherland Room.</p>
<p>Present: Councillor Beamer Councillor Parnell, Chair Gary Baldwin Bill Juby Jr. Gary Rabjohn Randy Turner</p>
<p>Absent: Yvonne Coveney-Boyd</p>
<p>Staff: Ken Doherty, Director of Community Services Rob Anderson, Recreation Co-ordinator Mary Gallop, Manager of Facilities & Special Projects Phil Rye, Parks & Forestry Supervisor, Public Works Sue Warrington, Arena Division Manager John Kennedy, Deputy City Clerk</p>
<p>Confirmation of Minutes – June 21, 2011</p>
<p>Moved by Councillor Beamer</p>
<p>That  the  minutes  of  the  meeting  of  the  Arenas,  Parks  and  Recreation  Advisory Committee held on June 21, 2011 be approved.</p>
<p>“CARRIED”</p>
<br>
<br></div>