<!doctype html><div><p>Arenas, Parks And Recreation Advisory</p>
<br>
<br>
<br>
<p>Committee Minutes</p>
<br>
<p>City Of Peterborough</p>
<br>
<p>October 18, 2011</p>
<br>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<p>Minutes Of A Meeting Of Arenas, Parks And Recreation Advisory</p>
<p>Committee Held On Tuesday, October 18, 2011 In The Sutherland</p>
<p>Room, City Hall.</p>
<br>
<p>The Arenas, Parks and Recreation Advisory Committee meeting was called to order at 5:30 p.m. in the Sutherland Room.</p>
<p>Present: Councillor Beamer Yvonne Coveney-Boyd Councillor Parnell, Chair Gary Baldwin Bill Juby Jr. Gary Rabjohn Randy Turner</p>
<p>Staff: Ken Doherty, Director of Community Services Rob Anderson, Recreation Co-ordinator Mary Gallop, Manager of Facilities & Special Projects John Kennedy, Deputy City Clerk Natalie Garnett, Deputy City Clerk</p>
<br>
<p>Moved by Gary Rabjohn</p>
<p>That  Committee  move  into  closed  session  to  discuss  one  item  under Municipal  Act  section  239(2)(a)  The  Security  of  the  Property  of  the Municipality or Local Board.</p>
<p>“CARRIED”</p>
<br>
<p>Committee moved out of closed session and into open session at 6:33 p.m.</p>
<br>
<br></div>