<!doctype html><div><p>Arenas, Parks And Recreation Advisory</p>
<br>
<br>
<br>
<p>Committee Minutes</p>
<br>
<p>City Of Peterborough</p>
<br>
<p>November 15, 2011</p>
<br>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<p>Minutes Of A Meeting Of Arenas, Parks And Recreation Advisory</p>
<p>Committee Held On Tuesday, November 15, 2011 In The General</p>
<p>Committee Room, City Hall.</p>
<br>
<p>The Arenas, Parks and Recreation Advisory Committee meeting was called to order at 5:43 p.m. in the General Committee Room.</p>
<p>Present: Gary Baldwin Councillor Beamer Yvonne Coveney-Boyd Bill Juby Jr. Councillor Parnell, Chair Randy Turner</p>
<p>Regrets: Gary Rabjohn</p>
<p>Staff: Ken Doherty, Director of Community Services Rob Anderson, Recreation Co-ordinator Mary Gallop, Manager of Facilities & Special Projects TerriLynn Johnston, City Permitting Recreationist Natalie Garnett, Deputy City Clerk</p>
<p>Confirmation of Minutes – October 18, 2011</p>
<p>Moved by Yvonne Coveney-Boyd</p>
<p>That  the  minutes  of  the  meeting  of  the  Arenas,  Parks  and  Recreation  Advisory Committee held on October 18, 2011 be approved.</p>
<p>“CARRIED”</p>
<br>
<br></div>