<!doctype html><div><p>Arenas, Parks And Recreation Advisory</p>
<br>
<p>Committee Minutes</p>
<br>
<p>City Of Peterborough</p>
<br>
<p>October 16, 2012</p>
<br>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<p>Minutes  Of  A  Meeting  Of  Arenas,  Parks  And  Recreation  Advisory</p>
<p>Committee Held On Tuesday, October 16, 2012</p>
<br>
<p>The Arenas, Parks and Recreation Advisory Committee meeting was called to order at 5:30 p.m. in the Sutherland Room, City Hall.</p>
<p>Present: Gary Baldwin Councillor Beamer Yvonne Coveney-Boyd Bill Juby Jr. Councillor Parnell, Chair Gary Rabjohn Randy Turner</p>
<p>Staff: Rob Anderson, Recreation Division Co-ordinator Ken Doherty, Director of Community Services Brian Buchardt, Planner – Urban Design Mary Gallop, Manager, Facilities and Special Projects Phil Jacobs, Public Works Supervisor John Kennedy, City Clerk</p>
<p>Confirmation of Minutes – July 17 and September 18, 2012</p>
<p>Moved by Gary Baldwin</p>
<p>That  the  minutes  of  the  meetings  of  the  Arenas,  Parks  and  Recreation  Advisory Committee held on July 17 and September 18, 2012 be approved.</p>
<p>“CARRIED”</p>
<br></div>