<!doctype html><div><p>Arenas, Parks and Recreation Advisory</p>
<br>
<br>
<br>
<p>Committee Minutes</p>
<br>
<p>City Of Peterborough</p>
<br>
<p>January 15, 2013</p>
<br>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<p>Minutes  Of  A  Meeting  Of  Arenas,  Parks  and  Recreation  Advisory</p>
<p>Committee  Held  On  Tuesday,  January  15,  2013  in  the  Sutherland</p>
<p>Room, City Hall.</p>
<br>
<p>The Arenas, Parks and Recreation Advisory Committee meeting was called to order by Kendra  Sedgwick,  Committee  Coordinator  at  5:30  p.m.  in  the  Sutherland  Room,  City Hall.</p>
<p>Present: Councillor Beamer Councillor Juby Dave Haacke Gary Baldwin Gary Rabjohn Randy Turner Rocky Caravaggio</p>
<p>Staff: Ken Doherty, Director of Community Services Rob Anderson, Recreation Co-ordinator Phil Jacobs, Supervisor, Public Works Erik Hanson, Heritage Resources Coordinator Terri Lynn Johnston, Permitting Recreationist Ellen Stewart, Youth Recreationist Kendra Sedgwick, Committee Coordinator</p>
<p>Introduction of New Committee Members</p>
<p>Kendra Sedgwick, Committee Coordinator introduced and welcomed Dave Haacke and Rocky Caravaggio to the committee.</p>
<br>
<br>
<br>
<br></div>