<!doctype html><div><p>Arenas, Parks and Recreation Advisory</p>
<br>
<br>
<br>
<p>Committee Minutes</p>
<br>
<p>City Of Peterborough</p>
<br>
<p>March 19, 2013</p>
<br>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<p>Minutes  Of  A  Meeting  Of  Arenas,  Parks  and  Recreation  Advisory</p>
<p>Committee  Held  On  Tuesday,  March  19,  2013  in  the  Board  Room,</p>
<p>McDonnel Street Activity Centre.</p>
<br>
<p>The Arenas, Parks and Recreation Advisory Committee meeting was called to order by Gary Rabjohn, Chair at 5:30 p.m. in the Board Room, McDonnel Street Activity Centre.</p>
<p>Present: Councillor Beamer Councillor Juby Dave Haacke Gary Baldwin Gary Rabjohn, Chair Randy Turner Rocky Caravaggio</p>
<p>Staff: Ken Doherty, Director of Community Services Rob Anderson, Recreation Co-ordinator Phil Jacobs, Supervisor, Public Works Geoff Mathews, Manager, Wellness Centre Sue Warrington, Arena Division Manager Ellen Stewart, Youth Recreationist Terri-Lynn Johnston, Permitting Recreationist Kendra Sedgwick, Committee Coordinator</p>
<br>
<br></div>