<!doctype html><div><br>
<br>
<br>
<p>Arenas, Parks and Recreation Advisory</p>
<p>Committee Minutes</p>
<p>City of Peterborough</p>
<p>September 16, 2014</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of Arenas, Parks and Recreation Advisory</p>
<p>Committee Held on Tuesday, September 16, 2014 in the City Board</p>
<p>Room, City Hall.</p>
<br>
<p>The Arenas, Parks and Recreation Advisory Committee meeting was called to order by Gary Rabjohn, Chair at 5:30 p.m. in the City Board Room.</p>
<p>Present: Councillor Beamer Gary Baldwin Gary Rabjohn, Chair Rocky Caravaggio Randy Turner</p>
<p>Regrets: Dave Haacke Councillor Juby</p>
<p>Staff: Ken Doherty, Director of Community Services Rob Anderson, Recreation Division Coordinator Mary Gallop, Manager of Facilities and Special Projects Phil Jacobs, Supervisor Parks and Forestry Sue Warrington, Arena Division Manager Geoff Mathews, Manager, Wellness Centre Brian Buchardt, Planner, Urban Design Kendra Sedgwick, Committee Coordinator</p>
<p>Confirmation of Minutes – June 17 and July 16, 2014</p>
<p>Moved by Rocky Caravaggio</p>
<p>That the minutes of the meeting of the Arenas, Parks and Recreation Advisory Committee held on June 17 and July 16, 2014 be approved.</p>
<p>“CARRIED”</p>
<p>Arenas, Parks and Recreation Advisory Committee Minutes</p>
<p>September 16, 2014</p>
<p>Page 2</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Interest.</p>
<p>Consent Agenda</p>
<p>Moved by Randy Turner</p>
<p>That items 4 and 6 be passed as part of the Consent Agenda.</p>
<p>“CARRIED”</p>
<p>Recreation Division Coordinator Parks and Forestry Supervisor Report APRAC14-032 City Sponsored Event – Under the Lock Hockey Tournament</p>
<p>Moved by Randy Turner</p>
<p>That the Arenas Parks and Recreation Advisory Committee approve the recommendations outlined in Report APRAC14-032 dated September 16, 2014, of the Recreation Division Coordinator and Parks and Forestry Supervisor, as follows:</p>
<p>a)</p>
<p>That the 2015 Under the Locks Hockey Tournament, including associated road closures, be designated as a City Sponsored Event; and</p>
<p>That staff be authorized to enter into a City Sponsored Event Agreement with the organizer of the Under the Lock Hockey Tournament to allow their inclusion under the City’s insurance policy.</p>
<p>b)</p>
<p>“CARRIED”</p>
<p>Arenas, Parks and Recreation Advisory Committee Minutes</p>
<p>September 16, 2014</p>
<p>Page 3</p>
<p>Recreation Division Coordinator Report APRAC14-034 Sport, Recreation, and Leisure Policy</p>
<p>Moved by Randy Turner</p>
<p>That The Arenas Parks and Recreation Advisory Committee (APRAC) approve the recommendations outlined in Report APRAC14-034 dated September 16, 2014, of the Recreation Division Coordinator, as follows:</p>
<p>a)</p>
<p>That input be provided on the corporate Sport, Recreation, and Leisure Policy, as attached as Appendix “A” of Report APRAC14-034; and</p>
<p>b)</p>
<p>That the attached Sport, Recreation, and Leisure Policy be endorsed, including any amendments resulting from recommendation (a) of this report.</p>
<br>
<p>“CARRIED”</p>
<p>Manager of Facilities and Special Projects Report APRAC14-035 West End Splash Pad Update</p>
<p>Moved by Gary Baldwin</p>
<p>That the Arenas Parks and Recreation Advisory Committee approve the recommendation outlined in Report APRAC14-035 dated September 16, 2014, of the Manager of Facilities and Special Projects, as follows:</p>
<p>That the presentation on the site review for the west end splash pad by the Manager of Facilities and Special Projects and Urban Planner be received for information.</p>
<p>“CARRIED”</p>
<br>
<p>Arenas, Parks and Recreation Advisory Committee Minutes</p>
<p>September 16, 2014</p>
<p>Page 4</p>
<p>Recreation Division Coordinator Parks and Forestry Supervisor Report APRAC14-033 Community Assistance Projects</p>
<p>Moved by Councillor Beamer</p>
<p>That the Arenas Parks and Recreation Advisory Committee endorse the recommendations outlined in Report APRAC14-033 dated September 16, 2014, of the Recreation Division Coordinator and Parks and Forestry Supervisor, as follows:</p>
<p>a)</p>
<p>That repurposing the tennis court located within Knights of Columbus Park for use as a Pickleball court continues to be supported, in principle, pending a follow-up report from Staff in February 2015;</p>
<p>b)</p>
<p>That the estimated $34,000 (plus HST) representing the City’s share of the expense to construct a children’s play structure in Stewart Park be funded through the Community Assistance Program.</p>
<p>“CARRIED”</p>
<p>Other Business</p>
<p>1.</p>
<p>Rogers  Hometown  Hockey  Tour  –  Peterborough  is  hosting  December  28th. Festivities will take place in the Memorial Center parking lot.</p>
<p>Gary Rabjohn, Chair, thanked Gary Baldwin and Dave Haacke for their work on the Committee.</p>
<p>2.</p>
<p>Adjournment</p>
<p>Moved by Gary Baldwin</p>
<p>That this meeting of the Arenas, Parks and Recreation Advisory Committee adjourn at 6:20 p.m.</p>
<p>"CARRIED"</p>
<p>Arenas, Parks and Recreation Advisory Committee Minutes</p>
<p>September 16, 2014</p>
<p>Page 5</p>
<p>Kendra Sedgwick Committee Coordinator</p>
<p>Gary Rabjohn Chair</p>
<br></div>