<!doctype html><div><br>
<br>
<br>
<p>Arenas, Parks and Recreation Advisory</p>
<p>Committee Minutes</p>
<p>City of Peterborough</p>
<p>December 10, 2014</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of Arenas, Parks and Recreation Advisory</p>
<p>Committee Held on Wednesday, December 10, 2014 in the City Board</p>
<p>Room, City Hall.</p>
<br>
<p>The Arenas, Parks and Recreation Advisory Committee meeting was called to order by Gary Rabjohn, Chair at 5:30 p.m. in the Sutherland Room.</p>
<p>Present: Councillor Haacke Councillor Therrien Gary Rabjohn, Chair Rocky Caravaggio</p>
<p>Regrets: Gary Baldwin Randy Turner</p>
<p>Staff: Rob Anderson, Recreation Division Coordinator Mary Gallop, Manager of Facilities and Special Projects Phil Jacobs, Parks and Forestry Supervisor Kendra Sedgwick, Committee Coordinator</p>
<p>Confirmation of Minutes – September 16, 2014</p>
<p>Moved by Rocky Caravaggio</p>
<p>That the minutes of the meeting of the Arenas, Parks and Recreation Advisory Committee held on September 16, 2014 be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Interest.</p>
<p>Arenas, Parks and Recreation Advisory Committee Minutes</p>
<p>December 16, 2014</p>
<p>Page 2</p>
<p>Consent Agenda</p>
<p>No items were passed as part of the Consent Agenda.</p>
<p>Item 4 was dealt with first, due to the members of the public in attendance.</p>
<p>Delegation – registered</p>
<p>Shawn Hughes made a delegation to Item 4, Report APRAC14-037, West End Splash Pad Process Update.</p>
<p>Heather Thompson made a delegation to Item 4, Report APRAC14-037, West End Splash Pad Process Update.</p>
<p>Manager, Facilities & Special Projects Report APRAC14-037 West End Splash Pad Process Update</p>
<p>Moved by Councillor Haacke</p>
<p>That the Arenas Parks and Recreation Advisory Committee approve the recommendations outlined in Report APRAC14-037 dated December 10, 2014, of the Manager, Facilities and Special Projects, as follows:</p>
<p>a)</p>
<p>That a presentation by the Manager of Facilities and Special Projects be received,</p>
<p>That Roper Park not be supported as the location of the west end splash pad,</p>
<p>That the Committee receive citizen delegations on this report; and</p>
<p>That a new location at Kinsmen Civic Centre be considered for the new splash pad and staff undertake community consultation to determine community interest in this location.</p>
<p>b)</p>
<p>c)</p>
<p>d)</p>
<p>“CARRIED”</p>
<br>
<p>Arenas, Parks and Recreation Advisory Committee Minutes</p>
<p>December 16, 2014</p>
<p>Page 3</p>
<p>Recreation Division Coordinator Report APRAC14-036 2014 Tollington Parks Endowment Disbursement</p>
<p>Moved by Councillor Therrien</p>
<p>That the Arenas Parks and Recreation Advisory Committee approve the recommendations outlined in Report APRAC14-036 dated December 10, 2014, of the Recreation Division Coordinator, as follows:</p>
<p>a)</p>
<p>That staff be directed to submit a request to The Tollington Parks Endowment Fund trustees seeking their support to allocate the 2014 disbursement of the Tollington Parks Endowment Fund, in the amount of $73,898, to enhance the development of an accessible splash pad in the City’s west end; and</p>
<p>b)</p>
<p>That upon confirmation of support from the Tollington Trustees, Staff be directed to prepare a report to Council recommending the 2014 disbursement of the Tollington Parks Endowment Fund be allocated to enhance the west end accessible splash pad project.</p>
<p>“CARRIED”</p>
<p>Adjournment</p>
<p>Moved by Councillor Haacke</p>
<p>That this meeting of the Arenas, Parks and Recreation Advisory Committee adjourn at 6:29 p.m.</p>
<p>"CARRIED"</p>
<p>Kendra Sedgwick Committee Coordinator</p>
<p>Gary Rabjohn Chair</p>
<br></div>