<!doctype html><div><br>
<br>
<br>
<p>Arenas, Parks and Recreation Advisory</p>
<p>Committee Minutes</p>
<p>City of Peterborough</p>
<p>January 27, 2015</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of Arenas, Parks and Recreation Advisory</p>
<p>Committee Held on Tuesday, January 27, 2015 in the Sutherland</p>
<p>Room, City Hall.</p>
<br>
<p>The Arenas, Parks and Recreation Advisory Committee meeting was called to order by Gary Rabjohn, Chair at 5:32 p.m. in the Sutherland Room.</p>
<p>Present: Councillor Therrien Gary Baldwin Gary Rabjohn, Chair Rocky Caravaggio</p>
<p>Regrets: Randy Turner Councillor Haacke</p>
<p>Staff: Rob Anderson, Recreation Division Coordinator Mary Gallop, Manager of Facilities and Special Projects Phil Jacobs, Parks and Forestry Supervisor Geoff Mathews, Manager: Wellness Centre Sue Warrington, Arena Division Manager Kevin Jones, Transportation Manager Robert Dunford, Senior Project Manager Brian Buchardt, Planner, Urban Design John Kennedy, City Clerk Kendra Sedgwick, Committee Coordinator</p>
<p>Confirmation of Minutes – December 10, 2014</p>
<p>Moved by Gary Baldwin</p>
<p>That the minutes of the meeting of the Arenas, Parks and Recreation Advisory Committee held on December 10, 2014 be approved.</p>
<p>“CARRIED”</p>
<p>Arenas, Parks and Recreation Advisory Committee Minutes</p>
<p>January 27, 2015</p>
<p>Page 2</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Interest.</p>
<p>Consent Agenda</p>
<p>Moved by Gary Baldwin</p>
<p>That items 5, 6, 7 and 8 be passed as part of the Consent Agenda.</p>
<p>“CARRIED”</p>
<p>Recreation Division Coordinator Report APRAC15-003 Vision 2025 – A Strategy for Recreation, Arenas, Parks and Culture</p>
<p>Moved by Gary Baldwin</p>
<p>That the Arenas Parks and Recreation Advisory Committee approve the recommendation outlined in Report APRAC15-003 dated January 27, 2015, of the Recreation Division Coordinator, as follows:</p>
<p>That Report APRAC15-003 be received for information.</p>
<p>“CARRIED”</p>
<br>
<p>Arenas, Parks and Recreation Advisory Committee Minutes</p>
<p>January 27, 2015</p>
<p>Page 3</p>
<p>Recreation Division Coordinator Parks and Forestry Supervisor Report APRAC15-002 Community Assistance – Pickleball Court in Knights of Columbus Park</p>
<p>Moved by Gary Baldwin</p>
<p>That the Arenas Parks and Recreation Advisory Committee approve the recommendation outlined in Report APRAC15-002 dated January 27, 2015, of the Recreation Division Coordinator and Parks and Forestry Supervisor, as follows:</p>
<p>That the estimated $20,400 (plus HST) representing the City’s share of the expense to repurpose the tennis court located within Knights of Columbus Park for use as a Pickleball court be funded through the Community Assistance Program.</p>
<p>“CARRIED”</p>
<p>Recreation Division Coordinator Report APRAC15-001 2015 APRAC Meeting Schedule</p>
<p>Moved by Gary Baldwin</p>
<p>That the Arenas Parks and Recreation Advisory Committee approve the recommendation outlined in Report APRAC15-001 dated January 27, 2015, of the Recreation Division Coordinator, as follows:</p>
<p>That the proposed 2015 Arenas Parks and Recreation Advisory Committee meting schedule be approved, as presented in Report APRAC15-001.</p>
<p>“CARRIED”</p>
<br>
<p>Arenas, Parks and Recreation Advisory Committee Minutes</p>
<p>January 27, 2015</p>
<p>Page 4</p>
<p>Recreation Division Coordinator Report APRAC15-004 City Support to the Under the Locks Hockey Tournament</p>
<p>Moved by Gary Baldwin</p>
<p>That the Arenas Parks and Recreation Advisory Committee approve the recommendations outlined in Report APRAC15-004 dated January 27, 2015, of the Recreation Division Coordinator, as follows:</p>
<p>a)</p>
<p>That Report APRAC15-004 be received for information; and</p>
<p>That the 2015 Under the Locks Hockey Tournament, including associated road closures, be designated as a City supported event.</p>
<p>b)</p>
<p>“CARRIED”</p>
<p>Manager, Facilities & Special Projects Report APRAC15-006 West End Splash Pad - Kinsmen Site Update</p>
<p>Kevin Jones, Transportation Manager and Mary Gallop gave power point presentations to Report APRAC15-006</p>
<p>Moved by Gary Baldwin</p>
<p>That the Arenas Parks and Recreation Advisory Committee approve the recommendations outlined in Report APRAC15-006 dated January 27, 2015, of the Manager of Facilities and Special Projects, as follows:</p>
<p>a)</p>
<p>That a presentation by the Manager of Facilities and Special Projects be received,</p>
<p>That the Committee receive citizen delegations on this report; and</p>
<p>That the Kinsmen Civic Centre be approved as the location for the west end splash pad and staff proceed with its design and construction to be completed in 2015.</p>
<p>b)</p>
<p>c)</p>
<p>“CARRIED”</p>
<p>Arenas, Parks and Recreation Advisory Committee Minutes</p>
<p>January 27, 2015</p>
<p>Page 5</p>
<p>Delegations – not registered</p>
<p>Stephanie Morrow, 1221 Grandview Avenue, made a delegation to Report APRAC15-006.</p>
<p>Director of Community Services City Clerk Report APRAC15-005 Proposed Changes to Civics Awards</p>
<p>John Kennedy, City Clerk gave an overview of Report APRAC15-005.</p>
<p>Moved by Gary Baldwin</p>
<p>That the Arenas, Parks, and Recreation Advisory Committee (APRAC) endorse the recommendations outlined in Report APRAC15-005 dated January 27, 2015 of the Director of Community Services and City Clerk, as follows:</p>
<p>a)</p>
<p>Blood and Platelet Donations Civic Award of Merit – Act of Heroism Sports Personality of the Year</p>
<p>That the following categories be deleted: i) ii) iii)</p>
<p>That the following categories be combined: i)</p>
<p>b)</p>
<p>ii)</p>
<p>iii)</p>
<p>iv)</p>
<p>Cultural Betterment and Cultural Award of Merit and be called Cultural Betterment Civic Athletic Award of Merit and Sport Betterment and be called Athletic Award of Merit Female Junior Athlete of the Year and Male Junior Athlete of the Year and be called Junior Athlete of the Year Female Senior Athlete of the Year, Male Senior Athlete of the Year and be called Senior Athlete of the Year</p>
<p>c)</p>
<p>That the following categories be added: i) ii)</p>
<p>Adult Athlete of the Year Environmental Stewardship/Sustainability Award</p>
<p>“CARRIED”</p>
<br>
<p>Arenas, Parks and Recreation Advisory Committee Minutes</p>
<p>January 27, 2015</p>
<p>Page 6</p>
<p>Moved by Gary Baldwin</p>
<p>That APRAC review the 2015 Civic Awards Nomination package at their February meeting.</p>
<p>“CARRIED”</p>
<p>Other Business</p>
<p>There were no items of Other Business.</p>
<p>Adjournment</p>
<p>Moved by Gary Baldwin</p>
<p>That this meeting of the Arenas, Parks and Recreation Advisory Committee adjourn at 6:41 p.m.</p>
<p>"CARRIED"</p>
<p>Kendra Sedgwick Committee Coordinator</p>
<p>Gary Rabjohn Chair</p>
<br></div>