<!doctype html><div><p>Arts, Culture & Heritage</p>
<p>Advisory Committee Minutes</p>
<p>City of Peterborough</p>
<p>June 11, 2015</p>
<p>Draft Not Approved</p>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of Arts, Culture & Heritage Advisory Committee</p>
<p>held on June 11, 2015, in the Sutherland Room, City Hall</p>
<br>
<p>The meeting of the Arts, Culture & Heritage Advisory Committee was called to order at 7:02 p.m. by Bruce Stonehouse, Vice Chair in the Sutherland Room, City Hall.</p>
<p>Present: Andy Cragg Bill Kimball Bill Templeman (arrived at 7:08 p.m.) Bruce Stonehouse Dirk Verhulst Peer Christensen Councillor Pappas</p>
<p>Regrets: Dennis Carter-Edwards Councillor Parnell</p>
<p>Staff: Allan Seabrooke, Chief Administrative Officer Ken Doherty, Director of Community Services Erik Hanson, Heritage Resources Coordinator Kendra Sedgwick, Committee Coordinator</p>
<p>Welcome and Introduction of City’s new Chief Administrative Officer Allan Seabrooke.</p>
<p>Minutes – May 14, 2015</p>
<p>Moved by Peer Christensen</p>
<p>That the minutes of the Arts, Culture and Heritage Advisory Committee meeting held on May 14, 2015 be approved.</p>
<p>“CARRIED”</p>
<br>
<p>Arts, Culture & Heritage Advisory Committee</p>
<p>Meeting Minutes of June 11, 2015</p>
<br>
<p>Page 2</p>
<p>Disclosure of Pecuniary Interest</p>
<p>Councillor Pappas declared an interest with Report ACHAC15-024 - Heritage Preservation Office Report, specifically the Affordable Housing update, as his parents live in proximity to the property at 1545 Monaghan Road.</p>
<p>Director of Community Services Report ACHAC15-023 Division Manager’s June Report</p>
<p>Moved by Bill Templeman</p>
<p>That the Arts, Culture, and Heritage Advisory Committee (ACHAC) approve the recommendations outlined in Report ACHAC15-023 dated June 11, 2015 of the Director of Community Services as follows:</p>
<p>a)</p>
<p>That a presentation by Jennifer Zoethout, Library Manager/CEO on the Library Renovation and Expansion Project Design be received for information;</p>
<p>b)</p>
<p>c)</p>
<p>d)</p>
<p>e)</p>
<p>f)</p>
<p>That the recommendation that Artspace be funded from the City’s Community Service Grant program commencing the funding in 2015 at a recommended amount of $35,000 be endorsed;</p>
<p>That the information relating to the formation of the local Canada’s 150th Anniversary Celebrations Committee be received;</p>
<p>That the information relating to the Canada 150 Community Infrastructure be received;</p>
<p>That the verbal update on Public Art Projects by Committee Chair, Bruce Stonehouse, be received.</p>
<p>That the information relating to the Pan Am Games Torch Relay Community Celebration be received.</p>
<p>“CARRIED”</p>
<p>Andy Cragg left the meeting at 8:46 p.m.</p>
<p>Councillor Pappas left the meeting at 8:52 p.m.</p>
<p>Arts, Culture & Heritage Advisory Committee</p>
<p>Meeting Minutes of June 11, 2015</p>
<br>
<p>Page 3</p>
<p>Heritage Resources Coordinator Report ACHAC15-020 Places of Faith Presentation</p>
<p>Moved by Dirk Verhulst</p>
<p>That the Arts, Culture and Heritage Advisory Committee approve the recommendation outlined in Report ACHAC15-020, dated June 11, 2015 of the Heritage Resources Coordinator, as follows:</p>
<p>That the presentation by the Heritage Resources Coordinator on the state of places of faith in Peterborough be received for information.</p>
<p>“CARRIED”</p>
<p>Heritage Resources Coordinator Report ACHAC15-024 Heritage Preservation Office Report</p>
<p>Moved by Peer Christensen</p>
<p>That the Arts, Culture and Heritage Advisory Committee approve the recommendation outlined in Report ACHAC15-024, dated June 11, 2015 of the Heritage Resources Coordinator, as follows:</p>
<p>That the report with respect to the activities of the Heritage Preservation Office for the month of May 2015 be received for information.</p>
<p>“CARRIED”</p>
<br>
<p>Other Business</p>
<p>Ken Doherty informed the Committee that Activity Haven has some rental space available for outside groups / organizations.</p>
<p>Next Meeting</p>
<p>The Chair indicated the next scheduled meeting is September 10, 2015.</p>
<br>
<p>Arts, Culture & Heritage Advisory Committee</p>
<p>Meeting Minutes of June 11, 2015</p>
<br>
<p>Page 4</p>
<p>Adjournment</p>
<p>Moved by Bill Templeman</p>
<p>That this meeting of Arts, Culture and Heritage Advisory Committee adjourn at 9:15 p.m.</p>
<p>"CARRIED"</p>
<br>
<p>Kendra Sedgwick Committee Coordinator</p>
<p>Bruce Stonehouse Vice Chair</p>
<br>
<br></div>