<!doctype html><div><p>Arts, Culture & Heritage</p>
<p>Advisory Committee Minutes</p>
<p>City of Peterborough</p>
<p>October 8, 2015</p>
<p>Draft Not Approved</p>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of Arts, Culture & Heritage Advisory Committee</p>
<p>held on October 8, 2015, in the Sutherland Room, City Hall</p>
<br>
<p>The meeting of the Arts, Culture & Heritage Advisory Committee was called to order at 7:00 p.m. by Bruce Stonehouse, Vice Chair in the Sutherland Room, City Hall.</p>
<p>Present: Bill Kimball Bill Templeman Bruce Stonehouse, Vice Chair Peer Christensen Councillor Pappas Councillor Parnell (arrived at 7:03 p.m.)</p>
<p>Regrets: Dennis Carter-Edwards, Chair Andy Cragg Dirk Verhulst</p>
<p>Staff: Becky Rogers, Manager, Arts, Culture and Heritage Erik Hanson, Heritage Resources Coordinator Kendra Sedgwick, Committee Coordinator</p>
<p>Minutes – September 10, 2015</p>
<p>Moved by Councillor Pappas</p>
<p>That the minutes of the Arts, Culture and Heritage Advisory Committee meeting held on September 10, 2015 be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of pecuniary interest.</p>
<p>Arts, Culture & Heritage Advisory Committee</p>
<p>Meeting Minutes of October 8, 2015</p>
<br>
<p>Page 2</p>
<p>Consent Agenda</p>
<p>Moved by Bill Kimball</p>
<p>That item 5 be passed as part of the Consent Agenda.</p>
<p>“CARRIED”</p>
<p>Manager, Arts, Culture and Heritage Division Report ACHAC15-030 Public Art Sub-Committee Report</p>
<p>Moved by Bill Kimball</p>
<p>That the Arts, Culture and Heritage Advisory Committee (ACHAC) approve the recommendation outlined in Report ACHAC15-030, dated October 8, 2015 of the Manager of the Arts, Culture and Heritage Division, as follows:</p>
<p>That the minutes of the July 30, 2015 and September 28, 2015 meetings of the Public Art Focus Group be received.</p>
<p>“CARRIED”</p>
<p>Director of Community Services Report ACHAC15-029 Presentation on County Jail Park Proposal</p>
<p>Sheridan Graham, Director of Corporate Projects and Services, County of Peterborough, gave a powerpoint presentation to Report ACHAC15-029.  Bill Lett, Lett Architects Inc. also spoke to the report.</p>
<p>Moved by Councillor Pappas</p>
<p>That the Arts Culture & Heritage Advisory Committee (ACHAC) approve the recommendations outlined in Report ACHAC15-029 dated October 8, 2015 of the Director of Community Services as follows:</p>
<p>a)</p>
<p>That a presentation by Sheridan Graham from the County of Peterborough on the County Jail Park Proposal be received; and</p>
<br>
<p>Arts, Culture & Heritage Advisory Committee</p>
<p>Meeting Minutes of October 8, 2015</p>
<br>
<p>Page 3</p>
<p>That the concept be endorsed.</p>
<p>b)</p>
<p>“CARRIED”</p>
<p>Director of Community Services Report ACHAC15-028 Program Registration Report</p>
<p>Sarah Logan, consultant, provided a powerpoint presentation to Report ACHAC15-028.</p>
<p>Moved by Bill Templeman</p>
<p>That the Arts, Culture and Heritage Advisory Committee approve the recommendations outlined in Report ACHAC15-028 dated October 8, 2015, of the Director of Community Services and the Senior Program Analyst, as follows:</p>
<p>a)</p>
<p>That Report ACHAC15-028, and a presentation by the consultant, Sarah Logan on the Program Registration Project be received; and</p>
<br>
<p>b)</p>
<p>That the members of the Arts, Culture and Heritage Advisory Committee provide comments/input following the presentation.</p>
<p>“CARRIED”</p>
<p>Heritage Resources Coordinator Report ACHAC15-032 Heritage Preservation Office Report</p>
<p>Moved by Councillor Parnell</p>
<p>That the Arts, Culture and Heritage Advisory Committee approve the recommendation outlined in Report ACHAC15-032, dated October 8, 2015 of the Heritage Resources Coordinator, as follows:</p>
<p>That the report with respect to the activities of the Heritage Preservation Office for the month of September 2015 be received for information.</p>
<p>“CARRIED”</p>
<br>
<p>Arts, Culture & Heritage Advisory Committee</p>
<p>Meeting Minutes of October 8, 2015</p>
<br>
<p>Page 4</p>
<p>Other Business</p>
<p>Ministry of Culture - Public Consultations on developing a Culture Strategy</p>
<p>Staff will provide more information to Committee at its November meeting through a report which will include suggestions from Staff.</p>
<p>Next Meeting</p>
<p>The Chair indicated the next scheduled meeting is November 12, 2015.</p>
<p>Adjournment</p>
<p>Moved by Councillor Pappas</p>
<p>That this meeting of the Arts, Culture and Heritage Advisory Committee adjourn at 8:40 p.m.</p>
<p>"CARRIED"</p>
<br>
<p>Kendra Sedgwick Committee Coordinator</p>
<p>Bruce Stonehouse Vice Chair</p>
<br>
<br></div>