<!doctype html><div><p>Arts, Culture & Heritage</p>
<p>Advisory Committee Minutes</p>
<p>City of Peterborough</p>
<p>November 12, 2015</p>
<p>Draft Not Approved</p>
<br>
<br>
<br>
<br>
<p>Minutes of a November 12, 2015, in the Sutherland Room, City Hall</p>
<br>
<p>The meeting of the Arts, Culture & Heritage Advisory Committee was called to order at 7:00 p.m. by Dennis Carter-Edwards, Chair in the Sutherland Room, City Hall.</p>
<p>Present: Andy Cragg Bill Kimball Bruce Stonehouse Councillor Pappas Councillor Parnell Dennis Carter-Edwards, Chair Dirk Verhulst Peer Christensen</p>
<p>Regrets: Bill Templeman</p>
<p>Staff: Ken Doherty, Director of Community Services Erik Hanson, Heritage Resources Coordinator Kendra Sedgwick, Committee Coordinator</p>
<p>Minutes – October 8, 2015</p>
<p>Moved by Bruce Stonehouse</p>
<p>That the minutes of the Arts, Culture and Heritage Advisory Committee meeting held on October 8, 2015 be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of pecuniary interest.</p>
<p>Arts, Culture & Heritage Advisory Committee</p>
<p>Meeting Minutes of November 12, 2015</p>
<br>
<p>Page 2</p>
<p>Consent Agenda</p>
<p>Moved by Councillor Pappas</p>
<p>That items 6 and 7 be passed as part of the Consent Agenda.</p>
<p>“CARRIED”</p>
<p>Heritage Resources Coordinator Report ACHAC15-037 Heritage Preservation Office Report</p>
<p>Moved by Councillor Pappas</p>
<p>That the Arts, Culture and Heritage Advisory Committee approve the recommendation outlined in Report ACHAC15-037, dated November 12, 2015 of the Heritage Resources Coordinator, as follows:</p>
<p>That the report with respect to the activities of the Heritage Preservation Office for October, 2015 be received for information.</p>
<p>“CARRIED”</p>
<p>Manager, Arts, Culture and Heritage Division Report ACHAC15-035 2016 ACHAC Meeting Schedule</p>
<p>Moved by Councillor Pappas</p>
<p>That the Arts, Culture and Heritage Advisory Committee (ACHAC) approve the recommendation outlined in Report ACHAC15-035, dated November 12, 2015 of the Manager, Arts, Culture and Heritage, as follows:</p>
<p>That the ACHAC adopts the 2016 meeting schedule as presented in this report.</p>
<p>“CARRIED”</p>
<br>
<p>Arts, Culture & Heritage Advisory Committee</p>
<p>Meeting Minutes of November 12, 2015</p>
<br>
<p>Page 3</p>
<p>Director of Community Services Report ACHAC15-033 EC3 Artsweek Presentation</p>
<p>Moved by Peer Christensen</p>
<p>That the Arts Culture & Heritage Advisory Committee approve the recommendations outlined in Report ACHAC15-033 dated November 12, 2015 of the Director of Community Services as follows:</p>
<p>That a presentation by Bill Kimball, the President of EC3, and Joeann Argue, the organization’s Executive Director, on the 2015 Artsweek Program as administered by the Council, be received.</p>
<p>“CARRIED”</p>
<p>Manager, Arts, Culture and Heritage Division Report ACHAC15-034 Ontario Culture Strategy</p>
<p>Councillor Parnell left the meeting at 7:46 p.m. and returned at 7:47 p.m.</p>
<p>Moved by Councillor Pappas</p>
<p>That the Arts, Culture and Heritage Advisory Committee approve the recommendation outlined in Report ACHAC15-034, dated November 12, 2015 of the Manager of the Arts, Culture and Heritage Division, as follows:</p>
<p>a)</p>
<p>That the information on the Ontario Culture Strategy be received and that the Committee respond to the discussion paper.</p>
<p>b)</p>
<p>“CARRIED”</p>
<p>That an ad-hoc committee consisting of Dennis Carter-Edwards, Councillor Pappas, Bruce Stonehouse and Bill Kimball be struck, to come up with recommendations to be submitted to the Province on behalf of ACHAC.</p>
<p>Arts, Culture & Heritage Advisory Committee</p>
<p>Meeting Minutes of November 12, 2015</p>
<br>
<p>Page 4</p>
<p>Manager, Arts, Culture and Heritage Division Report ACHAC15-036 Public Art Sub-Committee Report</p>
<p>Moved by Councillor Parnell</p>
<p>That the Arts, Culture and Heritage Advisory Committee (ACHAC) approve the recommendation outlined in Report ACHAC15-036, dated November 12, 2015 of the Manager of the Arts, Culture and Heritage Division, as follows:</p>
<p>That the minutes of the October 26, 2015 meeting of the Public Art Focus Group be received.</p>
<p>“CARRIED”</p>
<p>Moved by Councillor Pappas</p>
<p>That the Rules of Order be suspended to permit Su Ditta from the Electric City Culture Council to speak.</p>
<p>“CARRIED”</p>
<p>Other Business</p>
<p>Canada 150 Committee ACHAC has been asked to recommend two individuals to the Canada 150 Committee. The Canada 150 Committee will select one of the nominees to sit on the Committee. ACHAC will nominate Andy Cragg and Bruce Stonehouse to the Canada 150 Committee.</p>
<p>Vision 2025 The Survey, which is available on the City’s website will close on November 15th.  A Public Meeting will be held at the Evinrude Centre on November 25th.  The Advisory Committees will have one more joint meeting in New Year to discuss Vision 2025.</p>
<p>Agriculture Society – Strategic Plan Agri-Food Synthesis is the successful consultant awarded the contract to work with the Agricultural Society to develop a Strategic Plan.  The intent of the Strategic Plan exercise is to determine the future of the Agricultural Society and the activities at Morrow Park.  Ken Doherty will keep the advisory committees updated during the process.</p>
<p>Arts, Culture & Heritage Advisory Committee</p>
<p>Meeting Minutes of November 12, 2015</p>
<br>
<p>Page 5</p>
<br>
<p>Next Meeting</p>
<p>The Chair indicated the next scheduled meeting is January 14, 2016.</p>
<p>Moved by Councillor Pappas</p>
<p>That Dennis Carter-Edwards organize a pot-luck for the January meeting.</p>
<p>“CARRIED”</p>
<p>Adjournment</p>
<p>Moved by Bruce Stonehouse</p>
<p>That this meeting of Arts, Culture and Heritage Advisory Committee adjourn at 8:37 p.m.</p>
<p>"CARRIED"</p>
<br>
<p>Kendra Sedgwick Committee Coordinator</p>
<p>Dennis Carter-Edwards Chair</p>
<br>
<br></div>