<!doctype html><div><br>
<br>
<br>
<p>Arts, Culture and Heritage Advisory</p>
<p>Committee Minutes</p>
<p>City of Peterborough</p>
<p>October 13, 2016</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of Arts, Culture and Heritage Advisory</p>
<p>Committee Held on Thursday, October 13, 2016 in the Sutherland</p>
<p>Room.</p>
<br>
<p>The Arts, Culture and Heritage Advisory Committee meeting was called to order by Dennis Carter-Edwards at 7:02 p.m. in the Sutherland Room.</p>
<p>Present: Councillor Parnell Dirk Verhulst Andy Cragg Bruce Stonehouse Dennis Carter-Edwards Bill Templeman</p>
<p>Regrets: Bill Kimball Peer Christensen Councillor Pappas</p>
<p>Staff: Becky Rogers, Manager, Arts, Culture and Heritage Division Erik Hanson, Heritage Resources Coordinator Kendra Sedgwick, Committee Coordinator</p>
<p>Minutes – September 8 and September 22, 2016</p>
<p>Moved by Dirk Verhulst</p>
<p>That the minutes of the Arts, Culture and Heritage Advisory Committee meetings held on September 8 and September 22, 2016 be approved.</p>
<p>“CARRIED”</p>
<br>
<p>Arts, Cultures and Heritage Advisory Committee Minutes</p>
<p>October 13, 2016</p>
<p>Page 2</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Pecuniary Interest.</p>
<p>Consent Agenda</p>
<p>Moved by Councillor Parnell</p>
<p>That item 6 be passed as part of the Consent Agenda.</p>
<p>“CARRIED”</p>
<p>Heritage Resources Coordinator Report ACHAC16-048 Public Art Advisory Committee Update</p>
<p>Moved by Councillor Parnell</p>
<p>That the Arts, Culture and Heritage Advisory Committee (ACHAC) approve the recommendation outlined in Report ACHAC16-048, dated October 13, 2016 of the Heritage Resources Coordinator, as follows:</p>
<p>That the update on the Public Art projects for 2016 be received for information.</p>
<p>“CARRIED”</p>
<p>Director of Community Services Report ACHAC16-038 Canada 150th Celebration</p>
<p>Moved by Bruce Stonehouse</p>
<p>That the presentation on Canada 150th Celebrations by Mike Melnik be deferred to a future Committee meeting.</p>
<p>“CARRIED”</p>
<br>
<p>Arts, Cultures and Heritage Advisory Committee Minutes</p>
<p>October 13, 2016</p>
<p>Page 3</p>
<p>Heritage Resources Coordinator Report ACHAC16-045 Parks Canada Trent Severn Waterway Update</p>
<p>Darryl Whitehouse, Parks Canada made a presentation to Report ACHAC16-045.</p>
<p>Andy Cragg left the meeting at 8:03 p.m.</p>
<p>Moved by Bruce Stonehouse</p>
<p>That the Arts, Culture and Heritage Advisory Committee approve the recommendation outlined in Report ACHAC16-045, dated October 13, 2016 of the Heritage Resources Coordinator, as follows:</p>
<p>That a presentation on the work being undertaken on the Trent Severn Waterway in the Peterborough area be received for information.</p>
<p>“CARRIED”</p>
<p>Heritage Resources Coordinator Report ACHAC16-047 Heritage Preservation Office Report</p>
<p>Moved by Bill Templeman</p>
<p>That the Arts, Culture and Heritage Advisory Committee approve the recommendation outlined in Report ACHAC16-047, dated October 13, 2016 of the Heritage Resources Coordinator, as follows:</p>
<p>That the report with respect to the activities of the Heritage Preservation Office for September, 2016 be received for information.</p>
<p>“CARRIED”</p>
<br>
<p>Arts, Cultures and Heritage Advisory Committee Minutes</p>
<p>October 13, 2016</p>
<p>Page 4</p>
<p>Moved by Dirk Verhulst</p>
<p>That the Arts Culture and Heritage Advisory Committee Chair send a letter requesting that a natural and cultural history component and public art component be built in to the Bethune Street Reconstruction Project budget.</p>
<p>“CARRIED”</p>
<p>Other Business</p>
<p>Councillor Parnell discussed with the Committee the idea of commemorating the 100th Anniversary of the Quaker Oats fire with a Memorial at Millennium Park.</p>
<p>Moved by Bill Templeman</p>
<p>That the Arts, Culture and Heritage Advisory Committee Chair be directed to send a letter to the Chair of the Arenas Parks and Recreation Advisory Committee requesting that they look in to the possibility of offering films in City Parks.</p>
<p>“CARRIED”</p>
<p>Adjournment</p>
<p>Moved by Dirk Verhulst</p>
<p>That this meeting of the Arts, Culture and Heritage Advisory Committee adjourn at 9:10 p.m.</p>
<p>"CARRIED"</p>
<p>Kendra Sedgwick Committee Coordinator</p>
<p>Dennis Carter-Edwards Chair</p>
<br></div>