<!doctype html><div><br>
<br>
<br>
<p>Arts, Culture and Heritage Advisory</p>
<p>Committee Minutes</p>
<p>City of Peterborough</p>
<p>November 10, 2016</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of Arts, Culture and Heritage Advisory</p>
<p>Committee Held on Thursday, November 10, 2016 in the Sutherland</p>
<p>Room.</p>
<br>
<p>The Arts, Culture and Heritage Advisory Committee meeting was called to order by Dennis Carter-Edwards at 7:02 p.m. in the Sutherland Room.</p>
<p>Present: Councillor Parnell Dirk Verhulst Bruce Stonehouse Dennis Carter-Edwards Bill Templeman Bill Kimball Peer Christensen Councillor Pappas</p>
<p>Regrets: Andy Cragg</p>
<p>Staff: Becky Rogers, Manager, Arts, Culture and Heritage Division Erik Hanson, Heritage Resources Coordinator Kendra Sedgwick, Committee Coordinator</p>
<p>Minutes – October 13, 2016</p>
<p>Moved by Councillor Parnell</p>
<p>That the minutes of the Arts, Culture and Heritage Advisory Committee meeting held on October 13, 2016 be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Pecuniary Interest.</p>
<p>Arts, Cultures and Heritage Advisory Committee Minutes</p>
<p>November 10, 2016</p>
<p>Page 2</p>
<p>Consent Agenda</p>
<p>Moved by Councillor Pappas</p>
<p>That items 5 and 8 be passed as part of the Consent Agenda.</p>
<p>“CARRIED”</p>
<p>Manager, Arts, Culture and Heritage Division Report ACHAC16-051 Public Art Report</p>
<p>Moved by Councillor Pappas</p>
<p>That the Arts, Culture and Heritage Advisory Committee (ACHAC) approve the recommendation outlined in Report ACHAC16-051, dated November 10, 2016 of the Manager, Arts, Culture and Heritage Division, as follows:</p>
<p>That the Arts, Culture & Heritage Advisory Committee receive the update on the Public Art projects for 2016 for information.</p>
<p>“CARRIED”</p>
<p>Manager, Arts, Culture and Heritage Division Report ACHAC16-054 2017 ACHAC Meeting Schedule</p>
<p>Moved by Councillor Pappas</p>
<p>That the Arts, Culture and Heritage Advisory Committee (ACHAC) approve the recommendation outlined in Report ACHAC15-054, dated November 10, 2016 of the Manager, Arts, Culture and Heritage, as follows:</p>
<p>That the ACHAC adopts the 2017 meeting schedule as presented in this report.</p>
<p>“CARRIED”</p>
<br>
<p>Arts, Cultures and Heritage Advisory Committee Minutes</p>
<p>November 10, 2016</p>
<p>Page 3</p>
<p>Director of Community Services Report ACHAC16-038 Canada 150th Celebration</p>
<p>Moved by Dirk Verhulst</p>
<p>That the Arts Culture and Heritage Advisory Committee approve the recommendation outlined in Report ACHAC16-038 dated November 10, 2016, of the Director of Community Services, as follows:</p>
<p>That a presentation on the Canada 150th Celebrations by Mike Melnik be received.</p>
<p>“CARRIED”</p>
<p>Moved by Councillor Parnell</p>
<p>That the ACHAC Chair send a letter to the Canada 150 Committee outlining the ideas that the Committee would like to see included in the festivities.</p>
<p>“CARRIED”</p>
<p>Councillor Parnell left at 7:47 p.m. and returned at 7:50 p.m.</p>
<p>Manager, Arts, Culture and Heritage Division Report ACHAC16-050 Peterborough Support of Syrian Refugees</p>
<p>Bill Templeman left the meeting at 8:09 p.m. and returned at 8:12 p.m.</p>
<p>Moved by Bruce Stonehouse</p>
<p>That the Arts Culture and Heritage Advisory Committee approve the recommendation outlined in Report ACHAC16-050 dated November 10, 2016, by the Manager, Arts Culture & Heritage Division as follows:</p>
<p>That a presentation from Tamara Hoogerdyk, New Canadians Centre, on Peterborough and area support for Syrian Refugees be received for information.</p>
<p>“CARRIED”</p>
<p>Arts, Cultures and Heritage Advisory Committee Minutes</p>
<p>November 10, 2016</p>
<p>Page 4</p>
<p>Manager, Arts, Culture and Heritage Division Report ACHAC16-052 Arts, Culture and Heritage Manager’s Report</p>
<p>Councillor Pappas declared an interest in Report ACHAC16-052.  He did not discuss or vote on the matter.</p>
<p>Moved by Councillor Parnell</p>
<p>That the Arts, Culture and Heritage Advisory Committee (ACHAC) approve the recommendation outlined in Report ACHAC16-052, dated November 10, 2016 of the Manager of the Arts, Culture and Heritage Division, as follows:</p>
<p>That Report ACHAC16-052 with respect to the activities of the Manager, Arts, Culture & Heritage Division for October 2016 be received for Information.</p>
<p>“CARRIED”</p>
<p>Heritage Resources Coordinator Report ACHAC16-053 Heritage Preservation Office Report</p>
<p>Moved by Councillor Pappas</p>
<p>That the Arts, Culture and Heritage Advisory Committee approve the recommendations outlined in Report ACHAC16-053, dated November 10, 2016 of the Heritage Resources Coordinator, as follows:</p>
<p>That the report with respect to the activities of the Heritage Preservation Office for October, 2016 be received for information.</p>
<p>“CARRIED”</p>
<p>Councillor Pappas left the meeting at 8:58 p.m.</p>
<p>Other Business</p>
<p>Councillor Parnell discussed the proposed Quaker Oats Fire Memorial.</p>
<p>Arts, Cultures and Heritage Advisory Committee Minutes</p>
<p>November 10, 2016</p>
<p>Page 5</p>
<p>Official Plan Review</p>
<p>Bill Kimball left the meeting at 9:22 p.m.</p>
<p>Moved by Bill Templeman</p>
<p>That the ACHAC Chair send a letter to Brad Appleby, Planner, Subdivision Control and Special Projects, requesting an update on the status of the Official Plan Review Process.</p>
<p>“CARRIED”</p>
<p>Adjournment</p>
<p>Moved by Bruce Stonehouse</p>
<p>That this meeting of the Arts, Culture and Heritage Advisory Committee adjourn at 9:35 p.m.</p>
<p>"CARRIED"</p>
<p>Kendra Sedgwick Committee Coordinator</p>
<p>Dennis Carter-Edwards Chair</p>
<br></div>