<!doctype html><div><p>Arts, Culture & Heritage</p>
<p>Advisory Committee Minutes</p>
<p>City of Peterborough</p>
<p>January 12, 2017</p>
<p>Draft Not Approved</p>
<br>
<br>
<br>
<br>
<p>Minutes of a Arts, Culture and Heritage Advisory Committee meeting</p>
<p>held on January 12, 2017, in the Sutherland Room, City Hall</p>
<br>
<p>The meeting of the Arts, Culture & Heritage Advisory Committee was called to order at 7:01 p.m. by Kendra Sedgwick, Committee Coordinator in the Sutherland Room, City Hall.</p>
<p>Present: Bill Kimball Bruce Stonehouse Councillor Pappas Councillor Parnell Dennis Carter-Edwards, Chair Dirk Verhulst Peer Christensen Bill Templeman</p>
<p>Regrets: Andy Cragg</p>
<p>Staff: Ken Doherty, Director of Community Services Becky Rogers, Manager, Arts, Culture & Heritage Division Erik Hanson, Heritage Resources Coordinator Kendra Sedgwick, Committee Coordinator</p>
<p>Election of Officers – 2017</p>
<p>Chair</p>
<p>The Committee Coordinator called for nominations for the position of Chair.</p>
<p>Bruce Stonehouse nominated Dennis Carter-Edwards.</p>
<p>Councillor Parnell nominated Bruce Stonehouse as Chair.  Mr. Stonehouse kindly declined the nomination, but indicated he would be interested in continuing on as Vice Chair.</p>
<br>
<p>Arts, Culture & Heritage Advisory Committee</p>
<p>Meeting Minutes of January 12, 2017</p>
<br>
<p>Page 2</p>
<p>Moved by Bruce Stonehouse</p>
<p>That Dennis Carter-Edwards be appointed as Chair of the Arts, Culture and Advisory Committee for 2017.</p>
<p>"CARRIED"</p>
<p>Dennis Carter-Edwards assumed the Chair.</p>
<p>The Chair called for nominations for the position of Vice Chair.</p>
<p>Vice Chair</p>
<p>Moved by Councillor Parnell</p>
<p>That Bruce Stonehouse be appointed as Vice Chair of the Arts, Culture and Heritage Advisory Committee for 2017.</p>
<p>"CARRIED"</p>
<p>Minutes – November 10, 2016</p>
<p>Moved by Councillor Parnell</p>
<p>That the minutes of the Arts, Culture and Heritage Advisory Committee meeting held on November 10, 2016 be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no Disclosures of Interest</p>
<p>Consent Agenda</p>
<p>Moved by Councillor Parnell</p>
<p>That items 7 and 8 be passed as part of the Consent Agenda.</p>
<p>“CARRIED”</p>
<p>Arts, Culture & Heritage Advisory Committee</p>
<p>Meeting Minutes of January 12, 2017</p>
<br>
<p>Page 3</p>
<br>
<p>Heritage Resources Coordinator Report ACHAC17-004 Heritage Preservation Office Report</p>
<p>Moved by Councillor Parnell</p>
<p>That the ACHAC approve the recommendation outlined in Report ACHAC17-004, dated January 12, 2017 of the Heritage Resources Coordinator, as follows:</p>
<p>That the report with respect to the activities of the Heritage Preservation Office for November and December, 2016 be received for information.</p>
<p>“CARRIED”</p>
<p>Manager, Arts, Culture and Heritage Division Report ACHAC17-005 ACH Division Manager’s Report</p>
<p>Moved by Councillor Parnell</p>
<p>That the ACHAC approve the recommendation outlined in Report ACHAC17-005, dated January 12, 2017 of the Manager of the Arts, Culture and Heritage Division, as follows:</p>
<p>That Report ACHAC17-005 with respect to the activities of the Manager, Arts, Culture & Heritage Division for November and December 2016 be received for Information.</p>
<br>
<p>“CARRIED”</p>
<br>
<p>Arts, Culture & Heritage Advisory Committee</p>
<p>Meeting Minutes of January 12, 2017</p>
<br>
<p>Page 4</p>
<p>Heritage Resources Coordinator Report ACHAC17-001 Urban Development Projects - Update</p>
<p>Bill Templeman left the meeting at 8:14 p.m.</p>
<p>Moved by Councillor Parnell</p>
<p>That the ACHAC approve the recommendation outlined in Report ACHAC17-001, dated January 12, 2017 of the Heritage Resources Coordinator, as follows:</p>
<p>That the presentation from the Planner, Urban Design on relevant major development applications be received for information.</p>
<p>“CARRIED”</p>
<p>Director of Community Services Report ACHAC17-002 Community Grants Program Presentation</p>
<p>Councillor Pappas left the meeting at 8:53 p.m.</p>
<p>Councillor Parnell left the meeting at 8:54 p.m. and returned at 8:56 p.m.</p>
<p>Bill Kimball left the meeting at 8:55 p.m.</p>
<p>Moved by Bruce Stonehouse</p>
<p>That the ACHAC approve the recommendation outlined in Report ACHAC17-002, dated January 12, 2017 of the Director of Community Services, as follows:</p>
<p>That the presentation from the Director of Community Services on the Community Grants Program be received for information.</p>
<p>“CARRIED”</p>
<br>
<p>Arts, Culture & Heritage Advisory Committee</p>
<p>Meeting Minutes of January 12, 2017</p>
<br>
<p>Page 5</p>
<p>Heritage Resources Coordinator Report ACHAC17-003 Heritage Conservation District Incentive Program Presentation</p>
<p>Moved by Councillor Pappas</p>
<p>That Report ACHAC17-003 be deferred to the February Committee meeting.</p>
<p>“CARRIED”</p>
<p>Other Business</p>
<p>Moved by Peer Christensen</p>
<p>That Sheridan Graham, Director Procurement, Facilities and Communications, County of Peterborough, be invited to a future ACHAC meeting to provide an update on the County Jail/Courthouse project.</p>
<p>“CARRIED”</p>
<p>Next Meeting</p>
<p>The Chair indicated the next scheduled meeting is February 9, 2017.</p>
<p>Adjournment</p>
<p>Moved by Peer Christensen</p>
<p>That this meeting of the Arts, Culture and Heritage Advisory Committee adjourn at 9:30 p.m.</p>
<p>"CARRIED"</p>
<br>
<p>Kendra Sedgwick Committee Coordinator</p>
<p>Dennis Carter-Edwards Chair</p>
<br></div>