<!doctype html><div><p>Arts, Culture & Heritage</p>
<p>Advisory Committee Minutes</p>
<p>City of Peterborough</p>
<p>March 9, 2017</p>
<p>Draft Not Approved</p>
<br>
<br>
<br>
<br>
<p>Minutes of a March 9, 2017, in the Sutherland Room, City Hall</p>
<br>
<p>The meeting of the Arts, Culture & Heritage Advisory Committee was called to order at 7:00 p.m. by Dennis Carter-Edwards, Committee Coordinator in the Sutherland Room, City Hall.</p>
<p>Present: Bruce Stonehouse Councillor Pappas Councillor Parnell Dennis Carter-Edwards, Chair Andy Cragg (7:01 p.m.) Bill Templeman (7:02 p.m.) Dirk Verhulst Bill Kimball (7:04 p.m.)</p>
<p>Regrets: Peer Christensen</p>
<p>Staff: Allan Seabrooke, Chief Administrative Officer Ken Doherty, Director of Community Services Becky Rogers, Manager, Arts, Culture & Heritage Division Erik Hanson, Heritage Resources Coordinator Kendra Sedgwick, Committee Coordinator</p>
<p>Minutes – February 9, 2017</p>
<p>Moved by Bruce Stonehouse</p>
<p>That the minutes of the Arts, Culture and Heritage Advisory Committee meeting held on February 9, 2017 be approved.</p>
<p>“CARRIED”</p>
<br>
<p>Arts, Culture & Heritage Advisory Committee</p>
<p>Meeting Minutes of March 9, 2017</p>
<br>
<p>Page 2</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no Disclosures of Interest</p>
<p>Consent Agenda</p>
<p>Moved by Councillor Pappas</p>
<p>That items 6, 7 and 8 be approved as part of the Consent Agenda.</p>
<p>“CARRIED”</p>
<p>Manager, Arts, Culture and Heritage Division Report ACHAC17-015 Public Art Advisory Committee Update</p>
<p>Moved by Councillor Pappas</p>
<p>That the Arts, Culture and Heritage Advisory Committee (ACHAC) approve the recommendation outlined in Report ACHAC17-015, dated March 9, 2017 of the Manager, Arts, Culture and Heritage Division, as follows:</p>
<p>That the update on the activities of the Public Art Advisory Committee be received for information.</p>
<p>“CARRIED”</p>
<p>Heritage Resources Coordinator Report ACHAC17-016 Heritage Preservation Office Report</p>
<p>Moved by Councillor Pappas</p>
<p>That the Arts, Culture and Heritage Advisory Committee approve the recommendation outlined in Report ACHAC17-016, dated March 9, 2017 of the Heritage Resources Coordinator, as follows:</p>
<p>That the report with respect to the activities of the Heritage Preservation Office for February, 2017 be received for information.</p>
<p>“CARRIED”</p>
<p>Arts, Culture & Heritage Advisory Committee</p>
<p>Meeting Minutes of March 9, 2017</p>
<br>
<p>Page 3</p>
<p>Manager, Arts, Culture & Heritage Division Report ACHAC17-017 Arts, Culture and Heritage Division Manager’s Report</p>
<p>Moved by Councillor Pappas</p>
<p>That the Arts, Culture and Heritage Advisory Committee approve the recommendation outlined in Report ACHAC17-017, dated March 9, 2017 of the Heritage Resources Coordinator, as follows:</p>
<p>That the report with respect to the activities of the Heritage Preservation Office for February, 2017 be received for information.</p>
<p>“CARRIED”</p>
<p>Manager, Arts, Culture & Heritage Division Report ACHAC17-013 County of Peterborough Jail Presentation</p>
<p>Sheridan Graham, Director of Corporate Projects and Services, County of Peterborough, provided a presentation to Report ACHAC17-013.</p>
<p>Moved by Councillor Parnell</p>
<p>That the Arts Culture & Heritage Advisory Committee (ACHAC) approve the recommendation outlined in Report ACHAC17-013 dated March 9, 2017 of the Manager, Arts, Culture & Heritage Division as follows:</p>
<p>That an update by Sheridan Graham from the County of Peterborough on the County Jail Park Project be received for information.</p>
<p>“CARRIED”</p>
<br>
<br>
<p>Arts, Culture & Heritage Advisory Committee</p>
<p>Meeting Minutes of March 9, 2017</p>
<br>
<p>Page 4</p>
<p>Manager, Arts, Culture & Heritage Division Report ACHAC17-018 County of Peterborough’s Canada 150 Presentation</p>
<p>Sheridan Graham, Director of Corporate Projects and Services, provided a presentation to Report ACHAC17-018.</p>
<p>Moved by Councillor Parnell</p>
<p>That the Arts Culture & Heritage Advisory Committee (ACHAC) approve the recommendation outlined in Report ACHAC17-018 dated March 9, 2017 of the Manager, Arts, Culture & Heritage Division as follows:</p>
<p>That a presentation by Karen Jopling from the County of Peterborough on the County’s activities to celebrate Canada’s 150th anniversary be received for information.</p>
<p>“CARRIED”</p>
<p>Manager, Arts, Culture & Heritage Division Report ACHAC17-014 City Strategic Framework</p>
<p>Bill Templeman left the meeting at 8:29 p.m. and returned at 8:32 p.m.</p>
<p>Moved by Councillor Parnell</p>
<p>That the ACHAC approve the recommendation outlined in Report ACHAC17-014, dated March 9, 2017 of the Manager, Arts, Culture & Heritage Division, as follows:</p>
<p>That the presentation from Allan Seabrooke, City CAO on an overview of the “Shaping Our City for the Future Strategic Framework” that will serve as Council’s strategic framework for the remainder of the Council term be received for information and comment.</p>
<p>“CARRIED”</p>
<br>
<p>Arts, Culture & Heritage Advisory Committee</p>
<p>Meeting Minutes of March 9, 2017</p>
<br>
<p>Page 5</p>
<p>Other Business</p>
<p>There were no items of Other Business.</p>
<p>Next Meeting</p>
<p>The Chair indicated the next scheduled meeting is April 13, 2017.</p>
<p>Adjournment</p>
<p>Moved by Councillor Pappas</p>
<p>That this meeting of Arts, Culture and Heritage Advisory Committee adjourn at 8:44 p.m.</p>
<p>"CARRIED"</p>
<br>
<p>Kendra Sedgwick Committee Coordinator</p>
<p>Dennis Carter-Edwards Chair</p>
<br>
<br></div>