<!doctype html><div><p>Arts, Culture & Heritage</p>
<p>Advisory Committee Minutes</p>
<p>City of Peterborough</p>
<p>April 13, 2017</p>
<p>Draft Not Approved</p>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of the Arts, Culture and Heritage Advisory</p>
<p>Committee held on April 13, 2017 in the Doris Room, City Hall.</p>
<br>
<p>The meeting of the Arts, Culture & Heritage Advisory Committee was called to order at 7:00 p.m. by Dennis Carter-Edwards, Chair in the Doris Room, City Hall.</p>
<p>Present: Peer Christensen Bruce Stonehouse Councillor Pappas Councillor Parnell Dennis Carter-Edwards, Chair Bill Templeman Dirk Verhulst Bill Kimball Andy Cragg (7:08 p.m.)</p>
<p>Staff: Ken Doherty, Director of Community Services Becky Rogers, Manager, Arts, Culture & Heritage Division Erik Hanson, Heritage Resources Coordinator Kendra Sedgwick, Committee Coordinator</p>
<p>Minutes – March 9, 2017</p>
<p>Moved by Bruce Stonehouse</p>
<p>That the minutes of the Arts, Culture and Heritage Advisory Committee meeting held on March 9, 2017 be approved.</p>
<p>“CARRIED”</p>
<br>
<p>Arts, Culture & Heritage Advisory Committee</p>
<p>Meeting Minutes of April 13, 2017</p>
<br>
<p>Page 2</p>
<br>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no Disclosures of Interest</p>
<p>Consent Agenda</p>
<p>Moved by Councillor Parnell</p>
<p>That items 6, 7, 8 and 9 be approved as part of the Consent Agenda.</p>
<p>“CARRIED”</p>
<p>Manager, Arts, Culture & Heritage Division Report ACHAC17-020 Corporate Risk Management Policy</p>
<p>Moved by Councillor Parnell</p>
<p>That the Arts Culture & Heritage Advisory Committee (ACHAC) approve the recommendation outlined in Report ACHAC17-020 dated April 13, 2017 of the Manager, Arts, Culture & Heritage Division as follows:</p>
<p>That the Risk Management Policy, as set out in Appendix A to report ACHAC17- 020, be received for information.</p>
<p>“CARRIED”</p>
<p>Manager, Arts, Culture & Heritage Division Report ACHAC17-022 Public Art Report</p>
<p>Moved by Councillor Parnelll</p>
<p>That the Arts, Culture and Heritage Advisory Committee (ACHAC) approve the recommendation outlined in Report ACHAC17-022, dated April 13, 2017 of the Manager, Arts, Culture and Heritage Division, as follows:</p>
<p>That the update on the activities of the Public Art Advisory Committee be received for information.</p>
<p>“CARRIED”</p>
<p>Arts, Culture & Heritage Advisory Committee</p>
<p>Meeting Minutes of April 13, 2017</p>
<br>
<p>Page 3</p>
<p>Manager, Arts, Culture & Heritage Division Report ACHAC17-023 Arts, Culture and Heritage Division Manager’s Report</p>
<p>Moved by Councillor Parnell</p>
<p>That the ACHAC approve the recommendation outlined in Report ACHAC17-023, dated April 13, 2017 of the Manager of the Arts, Culture and Heritage Division, as follows:</p>
<p>That the report with respect to the activities of the Manager, Arts, Culture & Heritage Division for March 2017 be received for Information.</p>
<p>“CARRIED”</p>
<p>Heritage Resources Coordinator Report ACHAC17-024 Heritage Preservation Office Report</p>
<p>Moved by Councillor Parnell</p>
<p>That the Arts Culture and Heritage Advisory Committee approve the recommendation outlined in Report ACHAC17-024, dated April 13, 2017 of the Heritage Resources Coordinator, as follows:</p>
<p>That the report with respect to the activities of the Heritage Preservation Office for March, 2017 be received for information.</p>
<p>“CARRIED”</p>
<br>
<p>Arts, Culture & Heritage Advisory Committee</p>
<p>Meeting Minutes of April 13, 2017</p>
<br>
<p>Page 4</p>
<p>Heritage Resources Coordinator Report ACHAC17-006 Trent University Presentation</p>
<p>Moved by Councillor Parnell</p>
<p>That the ACHAC approve the recommendation outlined in Report ACHAC17-006, dated April 13, 2017 of the Heritage Resources Coordinator, as follows:</p>
<p>That a presentation from Michael Eamon, Principal of Traill College, on the University’s heritage inventory process be received for information.</p>
<p>“CARRIED”</p>
<p>Manager, Arts, Culture & Heritage Division Report ACHAC17-019 Presentation by the Art Gallery Peterborough</p>
<p>Councillor Parnell left the meeting at 8:18 p.m. and returned at 8:20 p.m.</p>
<p>Bill Templeman left the meeting at 8:21 p.m. and returned at 8:23 p.m.</p>
<p>Andy Cragg left the meeting at 8:25 p.m. and returned at 8:29 p.m.</p>
<p>Councillor Pappas left the meeting at 8:45 p.m.</p>
<p>Andy Cragg left the meeting at 8:52 p.m.</p>
<p>Moved by Bruce Stonehouse</p>
<p>That the Arts Culture & Heritage Advisory Committee (ACHAC) approve the recommendation outlined in Report ACHAC17-019 dated April 13, 2017 of the Manager, Arts, Culture & Heritage Division as follows:</p>
<p>That a presentation by Rob Kingston, President, Board of Directors, Art Gallery Peterborough be received for information and endorsement.</p>
<p>“CARRIED”</p>
<br>
<p>Arts, Culture & Heritage Advisory Committee</p>
<p>Meeting Minutes of April 13, 2017</p>
<br>
<p>Page 5</p>
<p>Manager, Arts, Culture & Heritage Division Report ACHAC17-021 Presentation by the Chair, Arts, Culture & Heritage Advisory Committee</p>
<p>Moved by Councillor Parnell</p>
<p>That the Arts Culture & Heritage Advisory Committee (ACHAC) approve the recommendation outlined in Report ACHAC17-021 dated April 13, 2017 of the Manager, Arts, Culture & Heritage Division as follows:</p>
<p>That the verbal update by the Chair, Arts Culture & Heritage Advisory Committee be received for information.</p>
<p>“CARRIED”</p>
<p>Moved by Councillor Parnell</p>
<p>That  Planning  staff  present  the  Draft  Official  Plan  to  a  joint  advisory  Committee meeting, to allow members to provide input into the plan.</p>
<p>“CARRIED”</p>
<p>Other Business</p>
<p>A discussion was held regarding the proposed demolition of 144 Brock Street and 450 George Street.  Committee members expressed their opinion of the need for a Heritage Impact Assessment to be conducted.</p>
<p>Next Meeting</p>
<p>The Chair indicated the next scheduled meeting is May 11, 2017.</p>
<br>
<p>Arts, Culture & Heritage Advisory Committee</p>
<p>Meeting Minutes of April 13, 2017</p>
<br>
<p>Page 6</p>
<p>Adjournment</p>
<p>Moved by Bruce Stonehouse</p>
<p>That this meeting of Arts, Culture and Heritage Advisory Committee adjourn at 9:38 p.m.</p>
<p>"CARRIED"</p>
<br>
<p>Kendra Sedgwick Committee Coordinator</p>
<p>Dennis Carter-Edwards Chair</p>
<br>
<br></div>