<!doctype html><div><br>
<br>
<br>
<br>
<p>ARTS, CULTURE AND HERITAGE</p>
<br>
<p>ADVISORY COMMITTEE</p>
<p>CITY OF PETERBOROUGH</p>
<br>
<p>NOVEMBER 12, 2009</p>
<br>
<p>DRAFT MINUTES NOT APPROVED</p>
<br>
<br>
<br>
<br>
<p>MINUTES OF A MEETING OF ARTS, CULTURE AND HERITAGE</p>
<p>ADVISORY COMMITTEE HELD ON NOVEMBER 12, 2009 IN THE</p>
<p>SUTHERLAND ROOM, CITY HALL</p>
<br>
<p>The  meeting  of  Arts,  Culture  and  Heritage  Advisory  Committee  was  called  to  order  at</p>
<p>7:00 p.m. in the Sutherland Room, City Hall.</p>
<br>
<p>Present</p>
<p>Cathy Wilson (Art Gallery of Peterborough)</p>
<p>Dennis Carter-Edwards (Peterborough Historical Society) and (Museum and Archives</p>
<p>Advisory Committee)</p>
<p>Andrew Beamer (Peterborough Public Library Board)</p>
<p>John Summers (Canadian Canoe Museum)</p>
<p>Pat Hooper (Little Lake Music Fest)</p>
<p>Thomas Miller (Citizen Member)</p>
<p>Bill Kimball (Market Hall Performing Arts)</p>
<p>Deb Scott (Citizen Member)</p>
<p>Marshall Elliott (Citizen Member)</p>
<p>Candace Shaw, Culture and/or Heritage professional</p>
<p>Iga Janik, Arts, Culture and/or Heritage professional</p>
<p>Councillor Pappas</p>
<p>Councillor Farquharson (Chair)</p>
<br>
<p>Absent</p>
<p>Ray Marshall (Showplace)</p>
<p>Andre Vallillee (P.A.C.A.C.)</p>
<p>Don Vassiliadis (Citizen Member)</p>
<br>
<p>Staff</p>
<p>Becky Rogers, Manager, Arts, Culture and Heritage Division</p>
<p>Barb Van Vierzen (G.P.A.E.D.C.)</p>
<p>Erik Hanson, Heritage Resources Coordinator</p>
<p>Ben Dick, Municipal Cultural Planning Researcher</p>
<p>Kevin Arjoon, Deputy Clerk</p>
<br>
<br>
<br>
<br>
<br>
<p>ARTS, CULTURE AND HERITAGE</p>
<p>ADVISORY COMMITTEE CITY OF PETERBOROUGH</p>
<p>NOVEMBER 12, 2009</p>
<p>DRAFT MINUTES NOT APPROVED</p>
<br>
<p>MINUTES OF A MEETING OF ARTS, CULTURE AND HERITAGE ADVISORY COMMITTEE HELD ON NOVEMBER 12, 2009 IN THE SUTHERLAND ROOM, CITY HALL</p>
<p>The  meeting  of  Arts,  Culture  and  Heritage  Advisory  Committee  was  called  to  order  at 7:00 p.m. in the Sutherland Room, City Hall.</p>
<p>Present Cathy Wilson (Art Gallery of Peterborough) Dennis Carter-Edwards (Peterborough Historical Society) and (Museum and Archives Advisory Committee) Andrew Beamer (Peterborough Public Library Board) John Summers (Canadian Canoe Museum) Pat Hooper (Little Lake Music Fest) Thomas Miller (Citizen Member) Bill Kimball (Market Hall Performing Arts) Deb Scott (Citizen Member) Marshall Elliott (Citizen Member) Candace Shaw, Culture and/or Heritage professional Iga Janik, Arts, Culture and/or Heritage professional Councillor Pappas Councillor Farquharson (Chair)</p>
<p>Absent Ray Marshall (Showplace) Andre Vallillee (P.A.C.A.C.) Don Vassiliadis (Citizen Member)</p>
<p>Staff Becky Rogers, Manager, Arts, Culture and Heritage Division Barb Van Vierzen (G.P.A.E.D.C.) Erik Hanson, Heritage Resources Coordinator Ben Dick, Municipal Cultural Planning Researcher Kevin Arjoon, Deputy Clerk</p>
<br></div>