<!doctype html><div><br>
<br>
<br>
<br>
<p>ARTS, CULTURE AND HERITAGE</p>
<br>
<p>ADVISORY COMMITTEE</p>
<p>CITY OF PETERBOROUGH</p>
<br>
<p>APRIL 8, 2010</p>
<br>
<p>DRAFT MINUTES NOT APPROVED</p>
<br>
<br>
<br>
<br>
<p>MINUTES OF A MEETING OF ARTS, CULTURE AND HERITAGE</p>
<p>ADVISORY COMMITTEE HELD ON APRIL 8, 2010 IN THE</p>
<p>SUTHERLAND ROOM, CITY HALL</p>
<br>
<p>The  meeting  of  Arts,  Culture  and  Heritage  Advisory  Committee  was  called  to  order  at</p>
<p>7:20 p.m. in the Sutherland Room, City Hall.</p>
<br>
<p>Present:</p>
<p>Councillor Farquharson</p>
<p>Councillor Pappas</p>
<p>Andrew Beamer (Peterborough Public Library Board)</p>
<p>Iga Janik, Arts (Culture and/or Heritage Professional)</p>
<p>Thomas Miller (Citizen Member) (Chair)</p>
<p>Deb Scott (Citizen Member)</p>
<p>Candace Shaw (Culture and/or Heritage Professional)</p>
<p>John Summers (Canadian Canoe Museum)</p>
<p>Cathy Wilson (Art Gallery of Peterborough)</p>
<br>
<br>
<p>Absent:</p>
<p>Dennis Carter-Edwards (Peterborough Historical Society and Museum and Archives)</p>
<p>Pat Hooper (Little Lake Music Fest)</p>
<p>Bill Kimball (Market Hall Performing Arts)</p>
<p>Ray Marshall (Showplace)</p>
<p>Marshall Elliott (Citizen Member)</p>
<p>Don Vassiliadis (Citizen Member)</p>
<br>
<br>
<p>Staff:</p>
<p>Erik Hanson, Heritage Resources Coordinator</p>
<p>Becky Rogers, Manager, Arts, Culture & Heritage Division</p>
<p>Janet Sheward, Acting Elections Co-ordinator</p>
<p>John Kennedy, Deputy Clerk</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>ARTS, CULTURE AND HERITAGE</p>
<p>ADVISORY COMMITTEE CITY OF PETERBOROUGH</p>
<p>APRIL 8, 2010</p>
<p>DRAFT MINUTES NOT APPROVED</p>
<br>
<p>MINUTES OF A MEETING OF ARTS, CULTURE AND HERITAGE ADVISORY COMMITTEE HELD ON APRIL 8, 2010 IN THE SUTHERLAND ROOM, CITY HALL</p>
<p>The  meeting  of  Arts,  Culture  and  Heritage  Advisory  Committee  was  called  to  order  at 7:20 p.m. in the Sutherland Room, City Hall.</p>
<p>Present: Councillor Farquharson Councillor Pappas Andrew Beamer (Peterborough Public Library Board) Iga Janik, Arts (Culture and/or Heritage Professional) Thomas Miller (Citizen Member) (Chair) Deb Scott (Citizen Member) Candace Shaw (Culture and/or Heritage Professional) John Summers (Canadian Canoe Museum) Cathy Wilson (Art Gallery of Peterborough)</p>
<p>Absent: Dennis Carter-Edwards (Peterborough Historical Society and Museum and Archives) Pat Hooper (Little Lake Music Fest) Bill Kimball (Market Hall Performing Arts) Ray Marshall (Showplace) Marshall Elliott (Citizen Member) Don Vassiliadis (Citizen Member)</p>
<p>Staff: Erik Hanson, Heritage Resources Coordinator Becky Rogers, Manager, Arts, Culture & Heritage Division Janet Sheward, Acting Elections Co-ordinator John Kennedy, Deputy Clerk</p>
<br>
<br></div>