<!doctype html><div><br>
<br>
<br>
<br>
<p>ARTS, CULTURE AND HERITAGE</p>
<br>
<p>ADVISORY COMMITTEE</p>
<p>CITY OF PETERBOROUGH</p>
<br>
<p>MAY 13, 2010</p>
<br>
<p>DRAFT MINUTES NOT APPROVED</p>
<br>
<br>
<br>
<br>
<p>MINUTES OF A MEETING OF ARTS, CULTURE AND HERITAGE</p>
<p>ADVISORY COMMITTEE HELD ON MAY 13, 2010 IN THE</p>
<p>SUTHERLAND ROOM, CITY HALL</p>
<br>
<p>The  meeting  of  Arts,  Culture  and  Heritage  Advisory  Committee  was  called  to  order  at</p>
<p>7:06 p.m. in the Sutherland Room, City Hall.</p>
<br>
<p>Present:</p>
<p>Councillor Pappas</p>
<p>Dennis Carter-Edwards (Peterborough Historical Society and Museum and Archives)</p>
<p>Pat Hooper (Little Lake Music Fest)</p>
<p>Bill Kimball (Market Hall Performing Arts)</p>
<p>Thomas Miller (Citizen Member) (Chair)</p>
<p>Candace Shaw (Culture and/or Heritage Professional)</p>
<p>Cathy Wilson (Art Gallery of Peterborough)</p>
<p>Ray Marshall (Showplace)</p>
<br>
<br>
<p>Absent:</p>
<p>Councillor Farquharson</p>
<p>Andrew Beamer (Peterborough Public Library Board)</p>
<p>Iga Janik, Arts (Culture and/or Heritage Professional)</p>
<p>Marshall Elliott (Citizen Member)</p>
<p>Deb Scott (Citizen Member)</p>
<p>John Summers (Canadian Canoe Museum)</p>
<br>
<br>
<p>Staff:</p>
<p>Becky Rogers, Manager, Arts, Culture & Heritage Division</p>
<p>Ben Dick, Municipal Cultural Planning Researcher</p>
<p>John Kennedy, Deputy Clerk</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>ARTS, CULTURE AND HERITAGE</p>
<p>ADVISORY COMMITTEE CITY OF PETERBOROUGH</p>
<p>MAY 13, 2010</p>
<p>DRAFT MINUTES NOT APPROVED</p>
<br>
<p>MINUTES OF A MEETING OF ARTS, CULTURE AND HERITAGE ADVISORY COMMITTEE HELD ON MAY 13, 2010 IN THE SUTHERLAND ROOM, CITY HALL</p>
<p>The  meeting  of  Arts,  Culture  and  Heritage  Advisory  Committee  was  called  to  order  at 7:06 p.m. in the Sutherland Room, City Hall.</p>
<p>Present: Councillor Pappas Dennis Carter-Edwards (Peterborough Historical Society and Museum and Archives) Pat Hooper (Little Lake Music Fest) Bill Kimball (Market Hall Performing Arts) Thomas Miller (Citizen Member) (Chair) Candace Shaw (Culture and/or Heritage Professional) Cathy Wilson (Art Gallery of Peterborough) Ray Marshall (Showplace)</p>
<p>Absent: Councillor Farquharson Andrew Beamer (Peterborough Public Library Board) Iga Janik, Arts (Culture and/or Heritage Professional) Marshall Elliott (Citizen Member) Deb Scott (Citizen Member) John Summers (Canadian Canoe Museum)</p>
<p>Staff: Becky Rogers, Manager, Arts, Culture & Heritage Division Ben Dick, Municipal Cultural Planning Researcher John Kennedy, Deputy Clerk</p>
<br>
<br></div>