<!doctype html><div><br>
<br>
<br>
<br>
<p>ARTS, CULTURE AND HERITAGE</p>
<br>
<p>ADVISORY COMMITTEE</p>
<p>CITY OF PETERBOROUGH</p>
<br>
<p>JUNE10, 2010</p>
<br>
<p>DRAFT MINUTES NOT APPROVED</p>
<br>
<br>
<br>
<br>
<p>MINUTES OF A MEETING OF ARTS, CULTURE AND HERITAGE</p>
<p>ADVISORY COMMITTEE HELD ON JUNE 10, 2010 IN THE GENERAL</p>
<p>COMMITTEE ROOM, CITY HALL</p>
<br>
<p>The  meeting  of  Arts,  Culture  and  Heritage  Advisory  Committee  was  called  to  order  at</p>
<p>7:08 p.m. in the General Committee Room, City Hall.</p>
<br>
<p>Present:</p>
<p>Councillor Pappas</p>
<p>Dennis Carter-Edwards (Peterborough Historical Society and Museum and Archives)</p>
<p>Marshall Elliott (Citizen Member)</p>
<p>Iga Janik, Arts (Culture and/or Heritage Professional</p>
<p>Thomas Miller (Citizen Member) (Chair)</p>
<p>Deb Scott (Citizen Member)</p>
<p>Candace Shaw (Culture and/or Heritage Professional) 7:15 p.m.</p>
<p>John Summers (Canadian Canoe Museum)</p>
<p>Cathy Wilson (Art Gallery of Peterborough)</p>
<br>
<p>Absent:</p>
<p>Councillor Farquharson</p>
<p>Andrew Beamer (Peterborough Public Library Board)</p>
<p>Pat Hooper (Little Lake Music Fest)</p>
<p>Bill Kimball (Market Hall Performing Arts)</p>
<br>
<p>Guests:</p>
<p>Karen August (Market Hall Performing Arts)</p>
<br>
<p>Staff:</p>
<p>Becky Rogers, Manager, Arts, Culture & Heritage Division</p>
<p>Erik Hanson, Heritage Resources Coordinator</p>
<p>Ben Dick, Municipal Cultural Planning Researcher</p>
<p>Kevin Arjoon, Deputy City Clerk</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>ARTS, CULTURE AND HERITAGE</p>
<p>ADVISORY COMMITTEE CITY OF PETERBOROUGH</p>
<p>JUNE10, 2010</p>
<p>DRAFT MINUTES NOT APPROVED</p>
<br>
<p>MINUTES OF A MEETING OF ARTS, CULTURE AND HERITAGE ADVISORY COMMITTEE HELD ON JUNE 10, 2010 IN THE GENERAL COMMITTEE ROOM, CITY HALL</p>
<p>The  meeting  of  Arts,  Culture  and  Heritage  Advisory  Committee  was  called  to  order  at 7:08 p.m. in the General Committee Room, City Hall.</p>
<p>Present: Councillor Pappas Dennis Carter-Edwards (Peterborough Historical Society and Museum and Archives) Marshall Elliott (Citizen Member) Iga Janik, Arts (Culture and/or Heritage Professional Thomas Miller (Citizen Member) (Chair) Deb Scott (Citizen Member) Candace Shaw (Culture and/or Heritage Professional) 7:15 p.m. John Summers (Canadian Canoe Museum) Cathy Wilson (Art Gallery of Peterborough)</p>
<p>Absent: Councillor Farquharson Andrew Beamer (Peterborough Public Library Board) Pat Hooper (Little Lake Music Fest) Bill Kimball (Market Hall Performing Arts)</p>
<p>Guests: Karen August (Market Hall Performing Arts)</p>
<p>Staff: Becky Rogers, Manager, Arts, Culture & Heritage Division Erik Hanson, Heritage Resources Coordinator Ben Dick, Municipal Cultural Planning Researcher Kevin Arjoon, Deputy City Clerk</p>
<br>
<br></div>