<!doctype html><div><br>
<br>
<p>Arts, Culture & Heritage</p>
<br>
<p>Advisory Committee Minutes</p>
<br>
<p>City of Peterborough</p>
<br>
<p>October 13, 2011</p>
<br>
<p>Draft Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of Arts, Culture & Heritage Advisory Committee</p>
<p>Held on October 13, 2011, in the Sutherland Room, City Hall</p>
<br>
<p>The meeting of the Arts, Culture & Heritage Advisory Committee was called to order at 7:03 p.m. in the Sutherland Room, City Hall.</p>
<p>Present: John Summers (Canadian Canoe Museum) Patricia Newson (Art Gallery of Peterborough) Bronson Smith (Citizen Member) Councillor Pappas,  Acting Chair Marcus Quin (Citizen Member) Dennis Carter-Edwards (Peterborough Historical Society) Catherine Dibben (P.A.C.A.C.) Carmela Valles (Culture and/or Heritage Professional) Emily Martin (Little Lake Music Fest)</p>
<p>Absent: Laura Berazadi (Arts Space) Councillor Parnell, Vice-Chair Candace Shaw (Culture and/or Heritage Professional) Dwayne Collins (Peterborough Public Library Board) Patti Shaughnessy (Culture and/or Heritage Professional) Thomas Miller (Citizen Member) (Chair) Ray Marshall (Showplace) Cheryl White (Peterborough Museum and Archives)</p>
<p>Staff: Ken Doherty, Director of Community Services Barbara van Vierzen, GPAEDC Janet Sheward, Corporate Policy Coordinator Sharron Hayton, Customer Service Coordinator John Kennedy, Deputy City Clerk Natalie Garnet, Deputy City Clerk</p>
<br>
<br>
<br></div>