<!doctype html><div><br>
<br>
<p>Arts, Culture & Heritage</p>
<br>
<p>Advisory Committee Minutes</p>
<br>
<p>City of Peterborough</p>
<br>
<p>March 8, 2012</p>
<br>
<p>Draft Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of Arts, Culture & Heritage Advisory Committee</p>
<p>Held on March 8, 2012, at the Peterborough Art Gallery, 250 Crescent</p>
<p>Street</p>
<br>
<p>Chair Summers called the meeting to order at 7:06 p.m.</p>
<br>
<p>Present:</p>
<p>Dennis Carter-Edwards (Peterborough Historical Society)</p>
<p>Dwayne Collins (Peterborough Public Library Board)</p>
<p>Catherine Dibben (P.A.C.A.C.)</p>
<p>Fynn Leitch (Citizen Member)</p>
<p>Ray Marshall (Showplace)</p>
<p>Patricia Newson (Art Gallery of Peterborough)</p>
<p>Councillor Pappas</p>
<p>Councillor Parnell</p>
<p>Marcus Quin (Citizen Member)</p>
<p>Patti Shaughnessy (Culture and/or Heritage Professional)</p>
<p>Candace Shaw (Culture and/or Heritage Professional)</p>
<p>Bronson Smith (Citizen Member)</p>
<p>John Summers (Canadian Canoe Museum), Chair</p>
<p>Barb Van Vierzen (GPAEDC)</p>
<p>Carmela Valles (Culture and/or Heritage Professional), Vice Chair</p>
<br>
<p>Absent:</p>
<p>Emily Martin (Little Lake Music Fest)</p>
<p>Cheryl White (Peterborough Museum and Archives)</p>
<br>
<p>Staff:</p>
<p>Natalie Garnett, Deputy City Clerk</p>
<p>Erik Hanson, Heritage Resources Coordinator</p>
<p>Ken Hetherington, Director of Community Services</p>
<p>Becky Rogers, Manager of Arts, Culture and Heritage</p>
<p>Celeste Scopelite, Peterborough Art Gallery Director</p>
<br>
<br>
<br>
<br>
<br>
<p>Arts, Culture & Heritage</p>
<p>Advisory Committee Minutes</p>
<p>City of Peterborough</p>
<p>March 8, 2012</p>
<p>Draft Not Approved</p>
<br>
<br>
<br>
<p>Minutes of a Meeting of Arts, Culture & Heritage Advisory Committee Held on March 8, 2012, at the Peterborough Art Gallery, 250 Crescent Street</p>
<p>Chair Summers called the meeting to order at 7:06 p.m.</p>
<p>Present: Dennis Carter-Edwards (Peterborough Historical Society) Dwayne Collins (Peterborough Public Library Board) Catherine Dibben (P.A.C.A.C.) Fynn Leitch (Citizen Member) Ray Marshall (Showplace) Patricia Newson (Art Gallery of Peterborough) Councillor Pappas Councillor Parnell Marcus Quin (Citizen Member) Patti Shaughnessy (Culture and/or Heritage Professional) Candace Shaw (Culture and/or Heritage Professional) Bronson Smith (Citizen Member) John Summers (Canadian Canoe Museum), Chair Barb Van Vierzen (GPAEDC) Carmela Valles (Culture and/or Heritage Professional), Vice Chair</p>
<p>Absent: Emily Martin (Little Lake Music Fest) Cheryl White (Peterborough Museum and Archives)</p>
<p>Staff: Natalie Garnett, Deputy City Clerk Erik Hanson, Heritage Resources Coordinator Ken Hetherington, Director of Community Services Becky Rogers, Manager of Arts, Culture and Heritage Celeste Scopelite, Peterborough Art Gallery Director</p>
<br>
<br></div>