<!doctype html><div><br>
<br>
<p>Arts, Culture & Heritage</p>
<br>
<p>Advisory Committee Minutes</p>
<br>
<p>City of Peterborough</p>
<br>
<p>January 12, 2012</p>
<br>
<p>Draft Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of Arts, Culture & Heritage Advisory Committee</p>
<p>Held on January 12, 2012, in the Sutherland Room, City Hall</p>
<br>
<p>The meeting of the Arts, Culture & Heritage Advisory Committee was called to order at 7:03 p.m. in the Sutherland Room, City Hall.</p>
<p>Present: Dennis Carter-Edwards (Peterborough Historical Society) Dwayne Collins (Peterborough Public Library Board) Catherine Dibben (P.A.C.A.C.) Fynn Leitch (Citizen Member) Patricia Newson (Art Gallery of Peterborough) Councillor Pappas Councillor Parnell, Chair Candace Shaw (Culture and/or Heritage Professional) John Summers (Canadian Canoe Museum), Chair Barb Van Vierzen (GPAEDC) Carmela Valles (Culture and/or Heritage Professional), Vice Chair</p>
<p>Absent: Marcus Quin (Citizen Member) Ray Marshall (Showplace) Emily Martin (Little Lake Music Fest) Patti Shaughnessy (Culture and/or Heritage Professional) Bronson Smith (Citizen Member) Cheryl White (Peterborough Museum and Archives)</p>
<p>Staff: Becky Rogers, Manager of Arts, Culture and Heritage Erik Hanson, Heritage Resources Coordinator Natalie Garnett, Deputy City Clerk</p>
<p>Councillor Parnell called the meeting to order at 7:03 p.m.</p>
<p>The Deputy Clerk called for nominations for the position of Chair.  Candice Shaw nominated John Summers who accepted the nomination.  Patricia Newson nominated Dennis Carter-Edwards who declined the nomination.</p>
<p>The nominations closed and John Summers was declared Chair of ACHAC for 2012. Mr. Summers assumed the Chair.</p>
<br></div>