<!doctype html><div><br>
<br>
<p>Arts, Culture & Heritage</p>
<br>
<p>Advisory Committee Minutes</p>
<br>
<p>City of Peterborough</p>
<br>
<p>October 11, 2012</p>
<br>
<p>Draft Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of Arts, Culture & Heritage Advisory Committee</p>
<p>Held on October 11, 2012, in the Sutherland Room, City Hall</p>
<br>
<p>Chair Summers called the meeting to order at 7:30 p.m.</p>
<br>
<p>Present:</p>
<p>Dennis Carter-Edwards (Peterborough Historical Society)</p>
<p>Dwayne Collins (Peterborough Public Library Board)</p>
<p>Catherine Dibben (P.A.C.A.C.)</p>
<p>Fynn Leitch (Citizen Member)</p>
<p>Councillor Parnell</p>
<p>Marcus Quin (Citizen Member)</p>
<p>Bronson Smith (Citizen Member)</p>
<p>John Summers (Canadian Canoe Museum), Chair</p>
<p>Carmela Valles (Culture and/or Heritage Professional)</p>
<p>Barb VanVierzen</p>
<br>
<p>Guest:</p>
<p>Tori Owen, Electric City Culture Council</p>
<br>
<p>Regrets:</p>
<p>Patricia Newson (Art Gallery of Peterborough)</p>
<p>Ray Marshall (Showplace)</p>
<p>Councillor Pappas</p>
<p>Emily Martin (Little Lake Music Fest)</p>
<p>Patti Shaughnessy (Culture and/or Heritage Professional)</p>
<p>Candace Shaw (Culture and/or Heritage Professional)</p>
<p>Cheryl White (Peterborough Museum and Archives)</p>
<br>
<p>Staff:</p>
<p>Natalie Garnett, Deputy City Clerk</p>
<p>Mary Gallop, Manager of Facilities & Special Projects</p>
<p>Becky Rogers, Manager of Arts, Culture and Heritage</p>
<p>Debra Soule, Municipal Cultural Planner</p>
<br>
<br>
<br>
<br>
<p>Arts, Culture & Heritage</p>
<p>Advisory Committee Minutes</p>
<p>City of Peterborough</p>
<p>October 11, 2012</p>
<p>Draft Not Approved</p>
<br>
<br>
<p>Minutes of a Meeting of Arts, Culture & Heritage Advisory Committee Held on October 11, 2012, in the Sutherland Room, City Hall</p>
<p>Chair Summers called the meeting to order at 7:30 p.m.</p>
<p>Present: Dennis Carter-Edwards (Peterborough Historical Society) Dwayne Collins (Peterborough Public Library Board) Catherine Dibben (P.A.C.A.C.) Fynn Leitch (Citizen Member) Councillor Parnell Marcus Quin (Citizen Member) Bronson Smith (Citizen Member) John Summers (Canadian Canoe Museum), Chair Carmela Valles (Culture and/or Heritage Professional) Barb VanVierzen</p>
<p>Guest: Tori Owen, Electric City Culture Council</p>
<p>Regrets: Patricia Newson (Art Gallery of Peterborough) Ray Marshall (Showplace) Councillor Pappas Emily Martin (Little Lake Music Fest) Patti Shaughnessy (Culture and/or Heritage Professional) Candace Shaw (Culture and/or Heritage Professional) Cheryl White (Peterborough Museum and Archives)</p>
<p>Staff: Natalie Garnett, Deputy City Clerk Mary Gallop, Manager of Facilities & Special Projects Becky Rogers, Manager of Arts, Culture and Heritage Debra Soule, Municipal Cultural Planner</p>
<br></div>