<!doctype html><div><p>Arts, Culture & Heritage</p>
<br>
<p>Advisory Committee Minutes</p>
<br>
<p>City of Peterborough</p>
<br>
<p>February 26, 2015</p>
<br>
<p>Draft Not Approved</p>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of Arts, Culture & Heritage Advisory Committee</p>
<p>Held on February 26, 2015, in the Sutherland Room, City Hall</p>
<br>
<p>The meeting of the Arts, Culture & Heritage Advisory Committee was called to order at 7:04 p.m. by Dennis Carter-Edwards, Chair in the Sutherland Room, City Hall.</p>
<p>Present: Dennis Carter-Edwards, Chair Bruce Stonehouse Peer Christensen Councillor Pappas Councillor Parnell</p>
<p>Regrets: Michael Bell Dirk Verhulst</p>
<p>Staff: Ken Doherty, Director of Community Services Erik Hanson, Heritage Resources Coordinator Kendra Sedgwick, Committee Coordinator</p>
<p>Minutes – January 15, 2015</p>
<p>Moved by Councillor Pappas</p>
<p>That the minutes of the Arts, Culture and Heritage Advisory Committee meeting held on January 15, 2015 be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>Dennis Carter-Edwards declared an interest in Item 6, Report ACHAC15-008, Heritage Preservation Office Report, as he will be receiving compensation from Doors Open.</p>
<br>
<p>Arts, Culture & Heritage Advisory Committee</p>
<p>Meeting Minutes of February 26, 2015</p>
<br>
<p>Page 2</p>
<p>Director of Community Services Senior Program Analyst Report ACHAC15-005 Facilities Booking Project</p>
<p>Moved by Peer Christensen</p>
<p>That the Arts, Culture & Heritage Advisory Committee approve the recommendations outlined in Report ACHAC15-005 dated February 26, 2015 of the Director of Community Services and the Senior Program Analyst, as follows:</p>
<p>a)</p>
<p>That Report ACHAC15-005 and a presentation by Trent Student Intern, Sarah Logan, on the Facilities Booking Project be received; and</p>
<p>That the members of the Arts Culture & Heritage Advisory Committee provide comments/input following the presentation.</p>
<p>b)</p>
<p>“CARRIED”</p>
<p>Director of Community Services Report ACHAC15-006 Art Gallery of Peterborough HVAC and Collection Storage Upgrades 2015</p>
<br>
<br>
<p>Moved by Bruce Stonehouse</p>
<p>That the Arts Culture & Heritage Advisory Committee approve the recommendation outlined in Report ACHAC15-006 dated February 26, 2015, of the Director of Community Services as follows:</p>
<p>That the presentation on the Art Gallery of Peterborough’s HVAC and Collection Storage Upgrade by Art Gallery Curator, Fynn Leitch, be received.</p>
<p>“CARRIED”</p>
<br>
<p>Arts, Culture & Heritage Advisory Committee</p>
<p>Meeting Minutes of February 26, 2015</p>
<br>
<p>Page 3</p>
<p>Director of Community Services Report ACHAC15-007 Update on Public Art Projects and Canadian Studies Conference</p>
<p>Moved by Councillor Parnell</p>
<p>That the Arts Culture & Heritage Advisory Committee approve the recommendations outlined in Report ACHAC15-007 dated February 26, 2015 of the Director of Community Services as follows:</p>
<p>a)</p>
<p>That a verbal update by Interim Public Art Committee Chair, Bruce Stonehouse, on Public Art projects be received; and</p>
<p>That a verbal presentation by Dennis Carter-Edwards, Committee Chair, on an upcoming Canadian Studies Conference at Trent University be received.</p>
<p>b)</p>
<br>
<p>“CARRIED”</p>
<p>Due to his previously declared interest, Dennis Carter-Edwards stepped down from the Chair.  Councillor Pappas assumed the Chair for this report.</p>
<p>Heritage Resources Coordinator Report ACHAC15-008 Heritage Preservation Office Report</p>
<p>Due to his previously declared interest, Dennis Carter-Edwards did not debate or vote on this report.</p>
<p>Moved by Peer Christensen</p>
<p>That the Arts Culture and Heritage Advisory Committee approve the recommendation outlined in Report ACHAC15-008, dated February 26, 2015 of the Heritage Resources Coordinator, as follows:</p>
<p>That the report with respect to the activities of the Heritage Preservation Office for the month of January 2015 be received for information.</p>
<p>“CARRIED”</p>
<br>
<p>Arts, Culture & Heritage Advisory Committee</p>
<p>Meeting Minutes of February 26, 2015</p>
<br>
<p>Page 4</p>
<p>Heritage Resources Coordinator Report ACHAC15-009 Bethune Street Flood Diversion Project Update</p>
<p>Moved by Councillor Pappas</p>
<p>That the Arts Culture and Heritage Advisory Committee approve the recommendation outlined in Report ACHAC15-009, dated February 26, 2015 of the Heritage Resources Coordinator, as follows:</p>
<p>That the update from Robert Dunford, Senior Project Manager for Utility Services, regarding the Bethune Street Flood Diversion Project, be received.</p>
<p>“CARRIED”</p>
<p>Other Business</p>
<p>There were no items of Other Business.</p>
<p>Next Meeting</p>
<p>The Chair indicated that the next scheduled meeting is March 12, 2015 and will be held at the Peterborough Museum & Archives.</p>
<p>Adjournment</p>
<p>Moved by Councillor Pappas</p>
<p>That this meeting of Arts, Culture and Heritage Advisory Committee adjourn at 9:15 p.m.</p>
<p>"CARRIED"</p>
<br>
<p>Kendra Sedgwick Committee Coordinator</p>
<p>Dennis Carter-Edwards Chair</p>
<br></div>