<!doctype html><div><p>Arts, Culture & Heritage</p>
<br>
<p>Advisory Committee Minutes</p>
<br>
<p>City of Peterborough</p>
<br>
<p>March 12, 2015</p>
<br>
<p>Draft Not Approved</p>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of Arts, Culture & Heritage Advisory Committee</p>
<p>Held on March 12, 2015, in the Fine Annex, Peterborough Museum &</p>
<p>Archives</p>
<br>
<p>The meeting of the Arts, Culture & Heritage Advisory Committee was called to order at 7:07 p.m. by Natalie Garnett, Deputy City Clerk in the Fine Annex, Peterborough Museum & Archives.</p>
<p>Present: Andy Cragg Dennis Carter-Edwards Bill Templeman Bruce Stonehouse Dirk Verhulst Peer Christensen Councillor Pappas Councillor Parnell Bill Kimball (7:35 p.m.)</p>
<p>Staff: Ken Doherty, Director of Community Services Erik Hanson, Heritage Resources Coordinator Brian Buchardt, Planner, Urban Design Natalie Garnett, Deputy City Clerk</p>
<p>Election of Officer</p>
<p>Chair</p>
<p>Moved by Bruce Stonehouse</p>
<p>That Dennis Carter-Edwards be appointed as Chair of the Arts, Culture and Heritage Advisory Committee for 2015.</p>
<p>"CARRIED"</p>
<p>Dennis Carter-Edwards assumed the Chair.</p>
<p>Arts, Culture & Heritage Advisory Committee</p>
<p>Meeting Minutes of March 12, 2015</p>
<br>
<p>Page 2</p>
<br>
<p>Vice Chair</p>
<p>Moved by Councillor Pappas</p>
<p>That Bruce Stonehouse be appointed as Vice Chair of the Arts, Culture and Heritage Advisory Committee for 2015.</p>
<p>“CARRIED”</p>
<p>Minutes – February 26, 2015</p>
<p>Moved by Peer Christensen</p>
<p>That the minutes of the Arts, Culture and Heritage Advisory Committee meeting held on February 26, 2015 be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Pecuniary Interest.</p>
<p>Consent Agenda</p>
<p>Moved by Councillor Parnell</p>
<p>That items 5 and 6 be approved as part of the Consent Agenda.</p>
<p>“CARRIED”</p>
<p>Arts, Culture & Heritage Advisory Committee</p>
<p>Meeting Minutes of March 12, 2015</p>
<br>
<p>Page 3</p>
<p>Director of Community Services Report ACHAC15-011 Update on Public Art Projects</p>
<br>
<p>Moved by Councillor Parnell</p>
<p>That the Arts Culture & Heritage Advisory Committee approve the recommendation outlined in Report ACHAC15-011 dated March 12, 2015, of the Director of Community Services as follows:</p>
<p>That the minutes of the February 2, 2015 and March 2, 2015 meetings of the Public Art Focus Group be received.</p>
<p>“CARRIED”</p>
<p>Heritage Resources Coordinator Report ACHAC15-012 Heritage Preservation Office Report</p>
<p>Moved by Councillor Parnell</p>
<p>That the Arts, Culture and Heritage Advisory Committee approve the recommendation outlined in Report ACHAC15-012, dated March 12, 2015 of the Heritage Resources Coordinator, as follows:</p>
<p>That the report with respect to the activities of the Heritage Preservation Office for the month of February 2015 be received for information.</p>
<p>“CARRIED”</p>
<p>Brian Buchardt, Planner, Urban Design attended the meeting to present information on the  Design  of  City  Gateway  Signs,  and  report  PLPD15-015  was  distributed  for reference.  The agenda was amended to permit Mr. Buchardt’s presentation.</p>
<br>
<p>Arts, Culture & Heritage Advisory Committee</p>
<p>Meeting Minutes of March 12, 2015</p>
<br>
<p>Page 4</p>
<p>Planner, Urban Design Design of City Gateway Signs</p>
<p>Moved by Councillor Pappas</p>
<p>That  the  presentation  by  the  Planner,  Urban  Design  regarding  the  Design  of  the City Gateway Signs be received for information.</p>
<p>“CARRIED”</p>
<p>City Clerk Report CPCLKACH15-001 The Provision of Legislative Support to Advisory Committees of Council</p>
<p>Moved by Peer Christensen</p>
<p>That the Arts, Culture & Heritage Advisory Committee approve the recommendations outlined in Report CPCLKACH15-001 dated March 12, 2015, of the City Clerk, as follows:</p>
<p>That the presentation by the Deputy City Clerk, with respect to the provision of legislative support to Advisory Committees of Council, be received for information.</p>
<br>
<p>“CARRIED”</p>
<p>Moved by Councillor Parnell</p>
<p>That the Committee enter into Closed Session at 8:26 p.m. to discuss a matter under s.239 (2)(b) of the Municipal Act, 2001, “personal matters about an identifiable individual, including municipal or local board employees.”</p>
<p>“CARRIED”</p>
<p>Moved by Councillor Pappas</p>
<p>That Committee adjourn Closed Session at 8:35 p.m.</p>
<p>“CARRIED”</p>
<p>Arts, Culture & Heritage Advisory Committee</p>
<p>Meeting Minutes of March 12, 2015</p>
<br>
<p>Page 5</p>
<br>
<p>Other Business</p>
<p>Councillor Pappas and Andy Cragg volunteered to serve as members on the 2014 Civic Awards Selection Committee.</p>
<p>Next Meeting</p>
<p>The Chair indicated that the next scheduled meeting is April 9, 2015.</p>
<p>Adjournment</p>
<p>Moved by Bruce Stonehouse</p>
<p>That this meeting of Arts, Culture and Heritage Advisory Committee adjourn at 8:37 p.m.</p>
<p>"CARRIED"</p>
<br>
<p>Natalie Garnett Deputy City Clerk</p>
<p>Dennis Carter-Edwards Chair</p>
<br></div>