<!doctype html><div><br>
<br>
<p>Audit Committee Minutes</p>
<br>
<p>City of Peterborough</p>
<br>
<p>October 13, 2015</p>
<br>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of Audit Committee held on Tuesday, October</p>
<p>13, 2015 in the Doris Room, City Hall</p>
<br>
<p>The meeting of the Audit Committee was called to order at 4:14 p.m. in the Doris Room.</p>
<p>Audit Committee Members: Councillor Beamer Councillor Clarke, Chair Councillor Baldwin Councillor Vassiliadis Mayor Bennett</p>
<p>Staff: Allan Seabrooke, Chief Administrative Officer Wayne Jackson, Director of Utility Services Sandra Clancy, Director of Corporate Services Richard Freymond, Manager of Financial Reporting and Accounting Darren Hancock, Chief Account John Kennedy, City Clerk</p>
<p>Guests: Joanna Park, Collins Barrow Richard Steiginga, Collins Barrow Dwayne Potter, Collins Barrow</p>
<p>Minutes – June 22, 2015</p>
<p>Moved by Mayor Bennett</p>
<p>That the minutes of the Audit Committee meeting held on June 22, 2015 be approved.</p>
<p>“CARRIED”</p>
<p>Audit Committee Minutes</p>
<p>October 13, 2015</p>
<p>Page 2</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Pecuniary Interest.</p>
<br>
<p>Consent Agenda</p>
<p>Moved by Councillor Baldwin</p>
<p>That item 3 be passed as part of the Consent Agenda.</p>
<p>“CARRIED”</p>
<p>Director of Corporate Services Report CPFS15-048 2015 Audit Plan and Pre-Audit Planning Letter</p>
<p>Moved by Councillor Baldwin</p>
<p>That Council approve the recommendations outlined in report CPFS15-048 dated October 13, 2015, of the Director of Corporate Services as follows:</p>
<p>a)</p>
<p>That the 2015 Audit Plan for the Corporation of the City of Peterborough attached to Report CPFS15-048 as Appendix A be received.</p>
<p>That the Mayor and Chair of the Audit Committee be authorized to sign the Pre-Audit Planning Letter attached to Report CPFS15-048 as Appendix B.</p>
<p>b)</p>
<p>“CARRIED”</p>
<p>Other Business</p>
<p>Councillor Clarke asked Collins Barrow chartered accountants to review the financial policies and procedures to determine if updates are required.</p>
<p>Audit Committee Minutes</p>
<p>October 13, 2015</p>
<p>Page 3</p>
<p>Adjournment</p>
<p>Moved by Mayor Bennett</p>
<p>That this meeting of Audit Committee adjourn at 4:16 p.m.</p>
<p>"CARRIED"</p>
<p>John Kennedy City Clerk</p>
<p>Councillor Clarke Chair</p>
<br></div>