<!doctype html><div><br>
<br>
<p>Audit Committee Minutes</p>
<br>
<p>City of Peterborough</p>
<br>
<p>June 19, 2017</p>
<br>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of Audit Committee held on Monday, June 19,</p>
<p>2017 in the Doris Room, City Hall</p>
<br>
<p>The meeting of the Audit Committee was called to order at 4:15 p.m. in the Doris Room.</p>
<p>Audit Committee Members: Councillor Beamer (arrived at 4:16 p.m.) Councillor Clarke, Chair Councillor Baldwin Councillor Vassiliadis Mayor Bennett</p>
<p>Staff: Allan Seabrooke, Chief Administrative Officer Wayne Jackson, Director of Utility Services Sandra Clancy, Director of Corporate Services Patricia Lester, City Solicitor and Director of Legal Services Richard Freymond, Manager of Financial Services Darren Hancock, Chief Accountant John Kennedy, City Clerk</p>
<p>Guests: Joanna Park, Collins Barrow Kawarthas LLP Richard Steiginga, Collins Barrow Kawarthas LLP Duane Potter, Collins Barrow Kawarthas LLP</p>
<br>
<p>Minutes – November 7, 2016</p>
<p>Moved by Mayor Bennett</p>
<p>That the minutes of the Audit Committee meeting held on November 7, 2016 be approved.</p>
<p>“CARRIED”</p>
<p>Audit Committee Minutes</p>
<p>June 19, 2017</p>
<p>Page 2</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no disclosures of Pecuniary Interest.</p>
<br>
<p>Consent Agenda</p>
<p>Moved by Councillor Vassiliadis</p>
<p>That items 3, 4 and 5 be passed as part of the Consent Agenda.</p>
<p>“CARRIED”</p>
<p>Director of Corporate Services Report CPFS17-025 Tax Adjustments under Section 356 and Tax Appeals under Sections 357, 358 and 359 of the Municipal Act, 2001</p>
<p>Moved by Councillor Vassiliadis</p>
<p>That Council approve the recommendations outlined in report CPFS17-025 dated June 19, 2017, of the Director of Corporate Services as follows:</p>
<p>a)</p>
<p>That tax reductions in the amount of $204,877.69, calculated in accordance with Sections 357, 358 and 359 of the Municipal Act, 2001 and attached to report CPFS17-025 as Appendix A be received.</p>
<p>b)</p>
<p>That land apportionments under Section 356 of the Municipal Act, 2001 be received.</p>
<p>“CARRIED”</p>
<br>
<p>Audit Committee Minutes</p>
<p>June 19, 2017</p>
<p>Page 3</p>
<p>Director of Corporate Services Report CPFS17-027 Audit of the Consolidated Financial Statements of the City of Peterborough - Acknowledgement Letter</p>
<p>Moved by Councillor Vassiliadis</p>
<p>That Council approve the recommendations outlined in report CPFS17-027 dated June 19, 2017, of the Director of Corporate Services as follows:</p>
<p>a)</p>
<p>That the Acknowledgement Letter Audit of the Consolidated Financial Statements of the City of Peterborough be received.</p>
<p>That the Mayor and Chair of the Audit Committee be authorized to sign the acknowledgement letter.</p>
<p>“CARRIED”</p>
<p>Director of Corporate Services Report CPFS17-028 Treasurer’s Report, 2016 Consolidated Financial Report, 2016 Trust Funds Financial Statement and Five-Year Review</p>
<p>Moved by Councillor Vassiliadis</p>
<p>That Council approve the recommendations outlined in report CPFS17-028 dated June 19, 2017, of the Director of Corporate Services as follows:</p>
<p>a)</p>
<p>That Report CPFS17-028, Treasurer’s Report, 2016 Consolidated Financial Report, the 2016 Trust Funds Financial Statement and Five Year Review be received as information.</p>
<p>That the underlying accounting policies as detailed in the Notes to the Financial Statements be approved.</p>
<p>That the Treasurer’s Report, 2016 Consolidated Financial Report and 2016 Trust Funds Financial Statement, as presented and received, be submitted to the Province of Ontario.</p>
<p>b)</p>
<p>b)</p>
<p>c)</p>
<p>“CARRIED”</p>
<p>Audit Committee Minutes</p>
<p>June 19, 2017</p>
<p>Page 4</p>
<p>Director of Corporate Services Report CPFS17-029 Management Letter and Verbal Audit Findings Report for the year ended December 31, 2016</p>
<p>Moved by Mayor Bennett</p>
<p>That Council approve the recommendation outlined in report CPFS17-029 dated June 19, 2017, of the Director of Corporate Services as follows:</p>
<p>That the audit of the December 31, 2016 Financial Statements Letter (Management Letter) appended to report CPFS17-029 and the Verbal Audit Findings Report presented by Collins Barrow Kawarthas LLP for the year ended December 31, 2016 be received as information.</p>
<p>“CARRIED”</p>
<p>Director of Corporate Services Report CPFS17-030 Corporate Overtime Audit</p>
<p>Moved by Mayor Bennett</p>
<p>That Council approve the recommendation outlined in report CPFS17-030 dated June 19, 2017, of the Director of Corporate Services as follows:</p>
<p>That the 2013 – 2016 Overtime audit, attached to Report CPFS17-030 as Appendix A, be received for information.</p>
<p>“CARRIED”</p>
<p>Other Business</p>
<p>There were no items of Other Business.</p>
<br>
<p>Audit Committee Minutes</p>
<p>June 19, 2017</p>
<p>Page 5</p>
<p>Adjournment</p>
<p>Moved by Mayor Bennett</p>
<p>That this meeting of Audit Committee adjourn at 4:19 p.m.</p>
<p>"CARRIED"</p>
<p>John Kennedy City Clerk</p>
<p>Councillor Clarke Chair</p>
<br></div>