<!doctype html><div><br>
<br>
<p>AUDIT COMMITTEE MINUTES</p>
<br>
<p>CITY OF PETERBOROUGH</p>
<br>
<p>JULY 26, 2010</p>
<br>
<p>DRAFT MINUTES NOT APPROVED</p>
<br>
<br>
<br>
<br>
<br>
<p>MINUTES OF A MEETING OF AUDIT COMMITTEE HELD ON MONDAY,</p>
<p>JULY 26, 2010 IN THE GENERAL COMMITTEE ROOM, CITY HALL</p>
<br>
<p>Meeting called to order at 5:15 p.m.</p>
<p>Audit Committee Members: Councillor Clarke, Chair Councillor Martin Councillor Doris Councillor Peacock Mayor Ayotte</p>
<p>Staff: Brian Horton, Senior Director of Corporate Services Ken Doherty, Director of Community Services Richard Freymond, Manager of Financial Reporting and Accounting Darren Hancock, Chief Accountant Wayne Jackson, Director of Utility Services Patricia Lester, City Solicitor, Director of Legal Services John Kennedy, Deputy City Clerk John King, Municipal Management Intern</p>
<p>Auditors: Bob Fisher Richard Steiginga Joanna Park</p>
<p>Minutes – October 13, 2009</p>
<p>Moved by Councillor Peacock</p>
<p>That  the  minutes  of  the  Audit  Committee  meeting  held  on  October  13,  2009,  be confirmed.</p>
<p>“CARRIED”</p>
<br></div>