<!doctype html><div><br>
<br>
<p>AUDIT COMMITTEE MINUTES</p>
<br>
<p>CITY OF PETERBOROUGH</p>
<br>
<p>DECEMBER 13, 2010</p>
<br>
<p>DRAFT MINUTES NOT APPROVED</p>
<br>
<br>
<br>
<br>
<br>
<p>MINUTES OF A MEETING OF AUDIT COMMITTEE HELD ON MONDAY,</p>
<p>DECEMBER  13,  2010  IN  THE  GENERAL  COMMITTEE  ROOM,  CITY</p>
<p>HALL</p>
<br>
<p>Meeting called to order at 5:00 p.m.</p>
<p>Audit Committee Members: Councillor Beamer Councillor Clarke, Chair Councillor Doris Councillor Juby Mayor Bennett</p>
<p>Staff: Linda Reed, Chief Administrative Officer Brian Horton, Senior Director of Corporate Services Ken Doherty, Director of Community Services Richard Freymond, Manager of Financial Reporting and Accounting Darren Hancock, Chief Accountant Patricia Lester, City Solicitor, Director of Legal Services Nancy Wright-Laking, City Clerk</p>
<p>Auditors: Bob Fisher Richard Steiginga Joanna Park</p>
<p>Minutes – July 26, 2010</p>
<p>Moved by Councillor Doris</p>
<p>That the minutes of the Audit Committee meeting held on July 26, 2010 be confirmed.</p>
<p>“CARRIED”</p>
<br></div>