<!doctype html><div><br>
<br>
<p>Audit Committee Minutes</p>
<br>
<p>City Of Peterborough</p>
<br>
<p>June 20, 2011</p>
<br>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<p>Minutes Of A Meeting Of Audit Committee Held On Monday, June 20,</p>
<p>2011 In The General Committee Room, City Hall</p>
<br>
<p>Meeting called to order at 4:02 p.m.</p>
<p>Audit Committee Members: Councillor Beamer Councillor Clarke, Chair Councillor Doris Councillor Juby Mayor Bennett</p>
<p>Staff: Brian Horton, Chief Administrative Officer Sandra Clancy, Director of Corporate Services Wayne Jackson, Director of Utility Services Richard Freymond, Manager of Financial Reporting and Accounting Darren Hancock, Chief Accountant Patricia Lester, City Solicitor, Director of Legal Services Nancy Wright-Laking, City Clerk</p>
<p>Auditors: Bob Fisher Richard Steiginga Joanna Park</p>
<p>Minutes – December 13, 2010</p>
<p>Moved by Mayor Bennett</p>
<p>That the minutes of the Audit Committee meeting held on December 13, 2010 be confirmed.</p>
<p>“CARRIED”</p>
<br></div>