<!doctype html><div><br>
<br>
<p>Audit Committee Minutes</p>
<br>
<p>City Of Peterborough</p>
<p>September 26, 2011</p>
<br>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<p>Minutes  Of  A  Meeting  Of  Audit  Committee  Held  On  Monday,</p>
<p>September 26, 2011 In The General Committee Room, City Hall</p>
<br>
<p>Meeting called to order at 5:45 p.m.</p>
<p>Audit Committee Members: Councillor Beamer Councillor Clarke, Chair Councillor Doris Councillor Juby Mayor Bennett</p>
<p>Staff: Brian Horton, Chief Administrative Officer Sandra Clancy, Director of Corporate Services Blair Nelson, Manager, Design and Construction Richard Freymond, Manager of Financial Reporting and Accounting Darren Hancock, Chief Accountant Patricia Lester, City Solicitor, Director of Legal Services Melanie Kawalec, Sustainability Manager Ken Doherty, Director of Community Services Natalie Garnett, Deputy Clerk Nancy Wright-Laking, City Clerk</p>
<p>Minutes – June 20, 2011</p>
<p>Moved by Mayor Bennett</p>
<p>That the minutes of the Audit Committee meeting held on June 20, 2011 be approved.</p>
<p>“CARRIED”</p>
<br></div>