<!doctype html><div><br>
<br>
<p>Audit Committee Minutes</p>
<br>
<p>City Of Peterborough</p>
<p>September 17, 2012</p>
<br>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<p>Minutes Of A Meeting Of Audit Committee Held On Monday,</p>
<p>September 17, 2012 In The General Committee Room, City Hall</p>
<br>
<p>The  meeting  of  the  Audit  Committee  was  called  to  order  at  6:00  p.m.  in  the  General</p>
<p>Committee Room.</p>
<br>
<p>Audit Committee Members:</p>
<p>Councillor Beamer</p>
<p>Councillor Clarke, Chair</p>
<p>Councillor Doris</p>
<p>Councillor Juby</p>
<p>Mayor Bennett</p>
<br>
<p>Staff:</p>
<p>Brian Horton, Chief Administrative Officer</p>
<p>Sandra Clancy, Director of Corporate Services</p>
<p>Richard Freymond, Manager of Financial Reporting and Accounting</p>
<p>Natalie Garnett, Deputy Clerk</p>
<p>Darren Hancock, Chief Accountant</p>
<p>Malcolm Hunt, Director, Planning and Development Services</p>
<p>Ken Doherty, Director of Community Services</p>
<br>
<p>Guest:</p>
<p>Bob Fisher, Collins Barrow</p>
<br>
<br>
<p>Minutes – June 25, 2011</p>
<br>
<p>Moved by Councillor Juby</p>
<br>
<p>That the minutes of the Audit Committee meeting held on June 25, 2011 be</p>
<p>approved.</p>
<br>
<p>“CARRIED”</p>
<br>
<br>
<br>
<br>
<br>
<p>Audit Committee Minutes</p>
<p>City Of Peterborough September 17, 2012</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<p>Minutes Of A Meeting Of Audit Committee Held On Monday, September 17, 2012 In The General Committee Room, City Hall</p>
<p>The  meeting  of  the  Audit  Committee  was  called  to  order  at  6:00  p.m.  in  the  General Committee Room.</p>
<p>Audit Committee Members: Councillor Beamer Councillor Clarke, Chair Councillor Doris Councillor Juby Mayor Bennett</p>
<p>Staff: Brian Horton, Chief Administrative Officer Sandra Clancy, Director of Corporate Services Richard Freymond, Manager of Financial Reporting and Accounting Natalie Garnett, Deputy Clerk Darren Hancock, Chief Accountant Malcolm Hunt, Director, Planning and Development Services Ken Doherty, Director of Community Services</p>
<p>Guest: Bob Fisher, Collins Barrow</p>
<p>Minutes – June 25, 2011</p>
<p>Moved by Councillor Juby</p>
<p>That the minutes of the Audit Committee meeting held on June 25, 2011 be approved.</p>
<p>“CARRIED”</p>
<br>
<br></div>