<!doctype html><div><br>
<br>
<p>Budget Committee</p>
<br>
<p>City of Peterborough</p>
<br>
<p>May 11, 2015</p>
<br>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<p>Minutes of a Meeting of the Budget Committee held on May 11, 2015</p>
<p>in the Council Chambers, City Hall.</p>
<br>
<p>The Budget Committee meeting was called to order at 6:09 p.m. in the Council Chambers.</p>
<p>Roll Call: Councillor Baldwin Councillor Beamer Councillor Clarke, Chair Councillor Haacke Councillor McWilliams Councillor Pappas Councillor Parnell Councillor Riel Councillor Therrien Councillor Vassiliadis Mayor Bennett</p>
<p>Minutes – January 12 and 13, 2015 and January 21, 2015</p>
<p>Moved by Councillor Parnell</p>
<p>That the minutes of the Budget Committee meetings held on January 12 and 13, 2015 and January 21, 2015 be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no Disclosures of Pecuniary Interest.</p>
<br>
<br>
<p>Budget Committee</p>
<p>May 11, 2015</p>
<p>Page 2</p>
<p>Consent Agenda</p>
<p>Moved by Councillor Baldwin</p>
<p>That item 3 be approved as part of the Consent Agenda.</p>
<p>“CARRIED”</p>
<p>Director of Corporate Services Report CPFS15-015 Peterborough Police Services 2015 Budget</p>
<p>Moved by Councillor Baldwin</p>
<p>That Council approve the recommendations outlined in Report CPFS15-015, dated May 11, 2015, of the Director of Corporate Services as follows:</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>d)</p>
<p>e)</p>
<p>That the Peterborough Police Services 2015 Operating Budget, in the amount of $23,208,909, as set out in Appendix A, which reflects a reduction of $283,734 in the operating budget from the original request, be approved.</p>
<p>That the Peterborough Police Services 2015 Capital Budget in the amount of $763,788, as set out in Appendix B, be approved.</p>
<p>That the additional amount of $175,788, for the one time start up costs required to deliver police services to Cavan Monaghan, be funded from the Capital Levy Reserve.</p>
<p>That the Police Services Business Plan capital project (Project 8.02 in the 2015 Capital Budget) in the amount of $75,000, be approved.</p>
<p>That the following reductions, in the amount of $423,852, be made to the 2015 City Operating Budget to fund the remainder of the Police budget request:</p>
<p>2014 Surplus Fuel General Contingency</p>
<br>
<br>
<p>$  80,000 $200,000 $143,852</p>
<p>i. ii. iii.</p>
<p>“CARRIED”</p>
<br>
<br>
<p>Budget Committee</p>
<p>May 11, 2015</p>
<p>Page 3</p>
<p>Director of Corporate Services Report CPFS15-018 Public Participation in City Budgeting Process</p>
<p>Moved by Councillor Therrien</p>
<p>That Council approve the recommendations outlined in Report CPFS15-018, dated May 11, 2015 of the Director of Corporate Services as follows:</p>
<p>That a public budget meeting, to allow for input by the community for items to be included in the budget, be held prior to the Budget Guideline meeting or during the Budget Guideline meeting.</p>
<p>That the Public Budget Review session traditionally held subsequent to the Budget Committee Review Sessions, be held prior to the Budget Committee Review Sessions.</p>
<p>“CARRIED”</p>
<p>Director of Corporate Services Report CPFS15-019 Participatory Budgeting</p>
<p>Moved by Councillor Riel</p>
<p>That Council approve the recommendations outlined in Report CPFS15-019, dated May 11, 2015 of the Director of Corporate Services as follows:</p>
<p>That a Participatory Budgeting Pilot be introduced in 2016 in each of the five City Wards and that the Draft 2016 Capital Budget includes funding for the project.</p>
<p>That each Ward be allocated an amount of $20,000 in capital funding for community improvement projects identified through a Participatory Budgeting Process.</p>
<p>That the Director of Corporate Services report on the results of the Participatory Budgeting Pilot including an evaluation of the Participatory Budgeting Pilot process and options for Participatory Budgeting Processes in future years.</p>
<p>a)</p>
<p>b)</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>Budget Committee</p>
<p>May 11, 2015</p>
<p>Page 4</p>
<p>d)</p>
<p>That, if Councillors are supportive of the Participatory Budgeting Pilot, they commit to facilitate the process and participate in their respective Ward meetings.</p>
<p>“CARRIED”</p>
<p>Other Business</p>
<p>Councillor Beamer inquired about the Chief and Deputy Chief of Police arbitration matter and how an award would be funded.</p>
<p>Adjournment</p>
<p>Moved by Councillor Pappas</p>
<p>That this meeting of Budget Committee adjourn at 6:36 p.m.</p>
<p>"CARRIED"</p>
<p>John Kennedy City Clerk</p>
<p>Councillor Clarke Chair</p>
<br></div>