<!doctype html><div><br>
<br>
<p>Budget Committee</p>
<br>
<p>City of Peterborough</p>
<br>
<p>July 27, 2015</p>
<br>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<p>Minutes of a Meeting of the Budget Committee held on July 27, 2015</p>
<p>in the Council Chambers, County of Peterborough, 470 Water Street.</p>
<br>
<p>The Budget Committee meeting was called to order at 6:34 p.m. in the County Council Chambers.</p>
<p>Roll Call: Councillor Baldwin Councillor Beamer Councillor Clarke, Chair Councillor Haacke Councillor McWilliams Councillor Pappas Councillor Parnell Councillor Riel Councillor Therrien Councillor Vassiliadis Mayor Bennett</p>
<p>Minutes – May 11 and July 21, 2015</p>
<p>Moved by Mayor Bennett</p>
<p>That the minutes of the Budget Committee meetings held on May 11 and July 21, 2015 be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no Disclosures of Pecuniary Interest.</p>
<br>
<br>
<p>Budget Committee</p>
<p>July 27, 2015</p>
<p>Page 2</p>
<p>Consent Agenda</p>
<p>Moved by Mayor Bennett</p>
<p>That item 4 be approved as part of the Consent Agenda.</p>
<p>“CARRIED”</p>
<p>Director of Corporate Services Report CPFS15-035 City Reserve and Reserve Funds</p>
<p>Moved by Mayor Bennett</p>
<p>That Council approve the recommendations outlined in Report CPFS15-035, dated July 27, 2015, of the Director of Corporate Services, as follows:</p>
<p>a)</p>
<p>That Report CPFS15-035, on the City’s Reserve and Reserve Funds, be received for information.</p>
<p>b)</p>
<p>That the following Reserves be closed and the balances be transferred to the Capital Levy Reserve for a total of $43,554:</p>
<p>i. General Equipment ii. Leadership and Learning Network iii. Learn not to Burn</p>
<p>That the following Reserves be closed and the balances be transferred to the Peterborough Museum and Archives Administration activity for a total of $15,593:</p>
<br>
<br>
<br>
<p>c)</p>
<p>i. Museum Archives ii. Museum Education iii. Museum Display</p>
<p>“CARRIED”</p>
<br>
<p>Budget Committee</p>
<p>July 27, 2015</p>
<p>Page 3</p>
<p>Director of Corporate Services Report CPFS15-040 Options to Enhance Capital Financing</p>
<p>Moved by Councillor Pappas</p>
<p>That Council approve the recommendation outlined in Report CPFS15-040, dated July 27, 2015, of the Director of Corporate Services, as follows:</p>
<p>That Report CPFS15-040 on the options to enhance capital financing be received for information.</p>
<p>“CARRIED”</p>
<p>Director of Corporate Services Report CPFS15-036 2016 Budget Guidelines</p>
<p>Moved by Councillor Pappas</p>
<p>That Council approve the recommendations outlined in Report CPFS15-036, dated July 27, 2015, of the Director of Corporate Services, as follows:</p>
<p>a)</p>
<p>That the Draft 2016 Operating Budget reflects an estimated 2.00% all- inclusive (Municipal, Education and Sewer Surcharge) increase for increased operating costs and traditional support for the capital program.</p>
<p>That the Draft 2016 Operating Budget reflect an additional 0.5% all- inclusive (Municipal, Education and Sewer Surcharge) increase to fund the 2016 increase for tax-supported debt charges and any increase to base capital levy to continue to implement the Capital Financing Policy approved by Council at its meeting held April 23, 2012.</p>
<p>That $2.1 million of the $2.5 million in Capital Levy traditionally set aside for the Flood Reduction Master Plan – Capital Levy, not be used for the Flood Reduction Master Plan for the 2016 Budget year and be available for other capital projects.</p>
<p>That the Tax Ratio Reduction Program be reinstated for the 2016 Draft Budget and reflect reductions: i) to the Commercial and Industrial Class Tax Ratios but not the Multiresidential Class, and ii) at a rate that is one- half of the annual reduction that was originally included in the program.</p>
<p>b)</p>
<p>c)</p>
<p>d)</p>
<br>
<p>Budget Committee</p>
<p>July 27, 2015</p>
<p>Page 4</p>
<p>e)</p>
<p>f)</p>
<p>g)</p>
<p>h)</p>
<p>i)</p>
<p>j)</p>
<p>That the draft 2016 Operating Budget reflect a 3.8% increase in the net Peterborough Police Services Budget to be accommodated within the 2.00% general increase, and any increase in the net Police Services budget beyond the 3.8% be addressed by Council as part of the detailed 2016 Budget deliberations to occur in November of 2015.</p>
<p>That, with respect to the Hospice Peterborough Renovation Project, i) the City commit in principle to provide $1.5 million towards the project construction costs over a three year period 2016 to 2018, subject to a satisfactory funding agreement being reached, and ii) That the 2016 Draft Capital Budget includes the first $500,000 annual contribution.</p>
<p>That the Public Meeting of the Budget Committee previously scheduled on December 2, 2015, be re-scheduled to November 18, 2015, to place the Public Meeting prior to the Detailed Budget Reviews.</p>
<p>That the 2016 Highlights Book include a section on the information gathered through the Public Meeting process and a response to each.</p>
<p>That staff provide a report ranking capital projects listed in the capital budget by priority.</p>
<p>That staff report back on service reductions proposed to be cut to reach the 2% all-inclusive tax increase.</p>
<p>Upon items a, b, c, d, e, f, g, h, i, and j the motion carried.</p>
<p>Other Business</p>
<p>Bottled Water</p>
<p>Councillors Beamer and Clarke declared interests in this issue as their respective employers are involved in the bottled water industry.  Due to the conflicts of Councillors Beamer and Clarke, Mayor Bennett assumed the Chair.</p>
<p>Moved by Councillor Parnell</p>
<p>That staff provide a follow up to Report CSRS10-004, Banning the Sale of Bottled Water in City Facilities.</p>
<p>“CARRIED”</p>
<p>Budget Committee</p>
<p>July 27, 2015</p>
<p>Page 5</p>
<p>Councillor Clarke assumed the Chair.</p>
<p>Adjournment</p>
<p>Moved by Councillor Parnell</p>
<p>That this meeting of Budget Committee adjourn at 7:17 p.m.</p>
<p>"CARRIED"</p>
<p>Natalie Garnett Deputy City Clerk</p>
<p>Councillor Clarke Chair</p>
<br></div>