<!doctype html><div><p>Budget Committee</p>
<p>City of Peterborough</p>
<p>November 23, 24 and 25, 2015</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<p>Minutes of a Meeting of the Budget Committee held on November 23,</p>
<p>24 and 25, 2015 in the Council Chambers, City Hall.</p>
<br>
<p>The Budget Committee meeting was called to order at 5:00 p.m. on November 23, 2015 in the Council Chambers.</p>
<p>Roll Call: Councillor Baldwin Councillor Beamer Councillor Clarke, Chair Councillor Haacke Councillor McWilliams Councillor Pappas Councillor Parnell Councillor Riel Councillor Therrien Councillor Vassiliadis Mayor Bennett</p>
<p>Confirmation of Minutes – November 2 and 18, 2015</p>
<p>Moved by Councillor Parnell</p>
<p>That the minutes of the meetings of November 2 and 18, 2015 be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>Councillor Pappas declared an interest with the Central Area CIP Improvement and the Facade Improvement Program (Page 144) as his business is involved in these programs.</p>
<p>Councillor Vassiliadis declared an interest in the Peterborough County City Health Unit move to King Street and the Louis Street Urban Park as he owns a business in proximity to these two sites</p>
<p>Budget Committee</p>
<p>November 23, 24 and 25, 2015</p>
<p>Page 2</p>
<p>Mayor Bennett declared an interest on transit matters as he owns a taxi business.</p>
<p>Director of Corporate Services Report CPFS15-050 2016 Draft Budget</p>
<p>Moved by Councillor Beamer</p>
<p>That the following recommendations be moved for the purpose of discussion:</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>d)</p>
<p>e)</p>
<p>f)</p>
<p>g)</p>
<p>That the 2016 Draft Budget, and all estimated revenues and expenditures, fees, contributions to reserve and reserve funds, and proposed staffing levels referenced in the documents be adopted.</p>
<p>That the user fees and charges as set out in Book 2 be adopted as part of 2016 Budget process.</p>
<p>That any unused CAO Budget at the end of 2016 be transferred to the Organizational Development Reserve, subject to the overall year-end position.  (Page 24)</p>
<p>That any unused Peterborough Technology Services Budget, at the end of 2016, be transferred to the Electronic Data Processing (EDP) Reserve, subject to the overall year-end position and that if actual 2016 costs exceed the 2016 Budget, funds may be drawn from the EDP reserve.  (Page 31)</p>
<p>That any Engineering Overhead surplus be transferred to the Engineering Design and Inspection Reserve, subject to the overall year-end position and that if actual 2016 Engineering costs exceed the Budget, funds may be drawn from the Engineering Design and Inspection Reserve.  (Page 57)</p>
<p>That any unused portion of the 2016 Winter Control Budget that may exist at year-end be transferred to the Winter Control Reserve, subject to the overall year-end position, and that if actual 2016 Winter Control costs exceed the 2016 Budget, funds may be drawn from the Winter Control reserve.  (Page 74)</p>
<p>That any unused Traffic Signal Maintenance Budget at the end of 2016 be transferred to the Traffic Signal Reserve, subject to the overall year-end position and that if the actual 2016 Traffic Signal Maintenance costs exceed the 2016 Budget, funds may be drawn from the Traffic Signal Reserve. (Page 82)</p>
<p>Budget Committee</p>
<p>November 23, 24 and 25, 2015</p>
<p>Page 3</p>
<p>h)</p>
<p>i)</p>
<p>j)</p>
<p>k)</p>
<p>l)</p>
<p>m)</p>
<p>n)</p>
<p>o)</p>
<p>p)</p>
<p>That any surplus funds at the end of 2016 for Market Hall be transferred to the Market Hall Capital Reserve for unanticipated maintenance expenses or small capital improvements.  (Page 105)</p>
<p>That any unused Sustainability Budget, at the end of 2016, be transferred to the Sustainability Reserve, subject to the overall year-end position, and that if actual 2016 costs exceed the 2016 Budget, funds may be drawn from the Sustainability Reserve. (Page 105)</p>
<p>That any surplus funds at the end of 2016 for the Peterborough Sport and Wellness Centre be transferred to the PSWC Capital Conservation Reserve for future capital improvements.  (Page 110)</p>
<p>That any surplus funds at the end of 2016 for Arenas be transferred to the Arena Equipment Reserve for future equipment purchases.  (Page 121)</p>
<p>That any unused Homelessness net budget at the end of 2016 be transferred to the General Assistance Reserve, to be used for future investment in homelessness prevention programs, subject to the overall year-end position and that if actual 2016 Homelessness costs exceed the 2016 Budget, funds may be drawn from the reserve.  (Page 134)</p>
<p>That any unused Community Social Plan net budget at the end of 2016 be transferred to the Social Services Community Social Plan 40/60 Reserve for future program development, subject to the overall year-end position and that if actual 2016 Community Social Plan costs exceed the 2016 Budget, funds may be drawn from the reserve.  (Page 134)</p>
<p>That any remaining unused Social Services net budget at the end of 2016 be transferred to the General Assistance Reserve, subject to the overall year- end position and that, if actual 2016 Social Services costs exceed the 2016 Budget, funds may be drawn from the reserve.  (Page 134)</p>
<p>That any surplus in the 2016 Housing Operating Budget at the end of 2016 be transferred to the Housing Reserve, subject to the overall year-end position and that, if actual 2016 Housing costs exceed the 2016 Budget, funds may be drawn from the Housing Reserve.  (Page 150)</p>
<p>That any surplus in the 2016 Housing Choice Rent Supplement Program at the end of 2016 be transferred to the Housing Choice Rent Supplement Reserve, subject to the overall year-end position and that, if actual 2016 Rent Supplement costs exceed the 2016 Budget, funds may be drawn from the Rent Supplement Reserve.  (Page 150)</p>
<p>q)</p>
<p>r)</p>
<p>s)</p>
<p>t)</p>
<p>u)</p>
<p>v)</p>
<p>w)</p>
<p>Budget Committee</p>
<p>November 23, 24 and 25, 2015</p>
<p>Page 4</p>
<p>That any excess Airport development review fees at the end of 2016 be transferred to the Airport Development Review Reserve for future Airport Development related expenditures and that if the 2016 Airport development review costs exceed the review fees, funds may be drawn from the Airport Development Review Reserve.  (Page 154)</p>
<p>q.1)  That any unused Building Inspection Budget at the end of 2016 be</p>
<p>transferred to the Building Division Reserve and that, if actual building inspection costs exceed the 2016 Budget, funds may be drawn from the Building Division Reserve.  (Page 158)</p>
<p>That any adjustment to the City’s 2016 requirement for the Municipal Property Assessment Corporation (MPAC), be netted against the City’s 2016 General Contingency provision.  (Page 163)</p>
<p>That any unused portion of the 2016 tax write off account balance that may exist at year-end be transferred to the Allowance for Doubtful Accounts Reserve, subject to overall year-end position and that, if actual 2016 tax write-off costs exceed the 2016 Budget, funds may be drawn from the Allowance for Doubtful Accounts Reserve.  (Page 165)</p>
<p>That any unused Employee Benefits Budget at the end of 2016 be transferred to the Employee Benefits Reserve, subject to the overall year- end position, and that, if actual 2016 employee benefits exceed the 2016 Budget, funds may be drawn from the Employee Benefits Reserve.  (Page 165)</p>
<p>That any unused Insurance Budget at the end of 2016 be transferred to the Insurance Reserve, subject to the overall year-end position and that, if actual 2016 insurance costs exceed the 2016 Budget, funds may be drawn from the Insurance Reserve.  (Page 165)</p>
<p>That any unused 2016 Contingency Budget at the end of 2016 be transferred to the Capital Levy Reserve to be used for Capital works subject to the overall 2016 year-end position.  (Page 165)</p>
<p>That any unused Police Services Legal fees Budget at the end of 2016 be transferred to the Legal Fees Policing Reserve, subject to the overall year- end position and approval through the Treasurer, and that if the actual 2016 Police legal fees costs exceed the 2016 Budget, funds may be drawn from the Policing Legal Fees Reserve.  (Page 169)</p>
<p>Budget Committee</p>
<p>November 23, 24 and 25, 2015</p>
<p>Page 5</p>
<p>x)</p>
<p>y)</p>
<p>z)</p>
<p>That any unused Police Services Budget at the end of 2016 be transferred to the Police Special Projects Reserve, subject to the overall year-end position and approval by City Council and that, if the actual 2016 Police Services costs exceed the 2016 Budget, funds may be drawn from the Police Special Projects Reserve.  (Page 169)</p>
<p>That any adjustments to the City’s portion of the 2016 Peterborough County/City Paramedics Services Budget be netted against the 2016 General Contingency provision.  (Page 174)</p>
<p>That any unused Peterborough County/City Paramedics Services (PCCP) Budget at the end of 2016 be transferred to the PCCP Reserve, subject to the overall year-end position and that, if the actual 2016 PCCP costs exceed the 2016 Budget, funds may be drawn from the PCCP Reserve.  (Page 174)</p>
<p>aa)</p>
<p>That any adjustments to the City’s portion of ORCA’s 2016 Budget, based on the final approved ORCA Budget, be netted against the City’s 2016 general contingency provision.  (Page 175)</p>
<p>bb)  That any adjustments to the City’s portion of CCHU 2016 Budget, based on the final approved CCHU Budget, be netted against the City’s 2016 general contingency provision.  (Page 176)</p>
<p>cc)</p>
<p>That the 2016 budget request representing the levy required by the Downtown Business Improvement Area of the Corporation of the City of Peterborough during the year 2016 totalling $298,685, be approved.  (Page 180)</p>
<p>dd)  That the 2016 budget request representing all sums required by the Village Business Improvement Area of the Corporation of the City of Peterborough during the year 2016 totalling $16,380, be approved. (Page 181)</p>
<p>ee)</p>
<p>That any net surplus funds, after the disposition of the recommendations in this report, from 2016 operations in excess of $100,000 be transferred to the Capital Levy Reserve to be used for Capital works.  (Page 183)</p>
<p>ff)</p>
<p>That a by-law be passed to establish the 2016 tax ratios for each property class as set out in the 2016 Operating Budget.  (Page 193)</p>
<p>gg)  That the 2016 tax rate for farmland awaiting development subclasses be</p>
<p>75% of the residential rate.  (Page 194)</p>
<p>hh)  That a system of graduated tax rates within the Commercial and Industrial</p>
<p>classes not be implemented for 2016.  (Page 194)</p>
<p>Budget Committee</p>
<p>November 23, 24 and 25, 2015</p>
<p>Page 6</p>
<p>ii)</p>
<p>That the capping policy for 2016 for the Multi-residential, Commercial and Industrial classes be as follows:</p>
<p>i.</p>
<p>ii.</p>
<p>iii.</p>
<p>iv.</p>
<p>Capping be based on a maximum increase threshold at the greater of 10% of the previous year’s annualized capped taxes and 5% of the previous year’s annualized CVA tax for the eligible property.  (Page 194)</p>
<p>No capping credit be applied for properties where the required billing adjustment is within a $250 credit of the properties’ CVA tax; affected properties would be billed at their full CVA tax level.  (Page 194)</p>
<p>That properties that achieved CVA tax in 2015 remain at CVA tax from 2016 forward regardless of how reassessment affects the property. (Page 194)</p>
<p>That properties that cross over from the clawback to the capping category or vice versa from 2015 to 2016 be taxed at CVA tax.  (Page 194)</p>
<p>kk)</p>
<p>That the threshold on the tax level for eligible new construction be 100%. (Page 194)</p>
<p>ll)</p>
<p>That the Tax ratio reductions for mandated subclasses of vacant units remain at 30% for the Commercial class and 35% for the Industrial class. (Page 194)</p>
<p>“CARRIED”</p>
<p>Agencies Not Requiring a Presentation – Consent Agenda</p>
<p>Moved by Councillor Vassiliadis</p>
<p>That agenda items 3, 4, 7, 8 and 9 be approved as part of the Consent Agenda and,</p>
<p>That Peterborough Economic Development, Peterborough Humane Society and Peterborough Police Services make presentations on November 24, 2015.</p>
<p>“CARRIED”</p>
<br>
<p>Budget Committee</p>
<p>November 23, 24 and 25, 2015</p>
<p>Page 7</p>
<p>Director of Corporate Services Report CPFS15-059 Primary Health Care Services Draft 2016 Budget for the Physician Recruitment Program</p>
<p>Moved by Councillor Vassiliadis</p>
<p>That Council approve the recommendation outlined in Report CPFS15-059, dated November 23, 2015, of the Director of Corporate Services as follows:</p>
<p>That the budget details provided to Budget Committee by the Primary Health Care Services for the 2016 Budget for the Physician Recruitment Program, be received.</p>
<p>“CARRIED”</p>
<p>Director of Corporate Services Report CPFS15-060 Otonabee Region Conservation Authority</p>
<p>Moved by Councillor Vassiliadis</p>
<p>That Council approve the recommendations outlined in Report CPFS15-060, dated November 23, 2015, of the Director of Corporate Services as follows:</p>
<p>a)</p>
<p>That the budget details provided to Budget Committee by the Otonabee Region Conservation Authority, be received.</p>
<p>That the $714,746 provision for Otonabee Region Conservation Authority included in the 2016 Draft Operating Budget on page 175 of the 2016 Highlights Book be increased by $7,198 to $721,944 and that the additional $7,198 be transferred from General Contingency on page 164 of the 2016 Highlights Book decreasing it from $778,298 to $771,100.</p>
<p>b)</p>
<p>“CARRIED”</p>
<br>
<p>Budget Committee</p>
<p>November 23, 24 and 25, 2015</p>
<p>Page 8</p>
<p>Director of Corporate Services Report CPFS15-063 Peterborough County/City Health Unit</p>
<p>Moved by Councillor Vassiliadis</p>
<p>That Council approve the recommendation outlined in Report CPFS15-063, dated November 23, 2015, of the Director of Corporate Services as follows:</p>
<p>That the budget details provided to Budget Committee by Peterborough County/City Health Unit, be received.</p>
<p>“CARRIED”</p>
<p>Director of Corporate Services Report CPFS15-064 Fairhaven 2016 Budget</p>
<p>Moved by Councillor Vassiliadis</p>
<p>That Council approve the recommendation outlined in Report CPFS15-064, dated November 23, 2015, of the Director of Corporate Services as follows:</p>
<p>That the budget details provided to Budget Committee by Fairhaven, be received.</p>
<p>“CARRIED”</p>
<p>Director of Corporate Services Report CPFS15-065 Peterborough County/City Paramedics Service 2016 Budget</p>
<p>Moved by Councillor Vassiliadis</p>
<p>That Council approve the recommendation outlined in Report CPFS15-065, dated November 23, 2015, of the Director of Corporate Services as follows:</p>
<p>That the budget details provided to Budget Committee by the Peterborough County/City Paramedics Service, be received.</p>
<p>“CARRIED”</p>
<br>
<p>Budget Committee</p>
<p>November 23, 24 and 25, 2015</p>
<p>Page 9</p>
<p>Fire Station Relocations (page 27)</p>
<p>Moved by Councillor Pappas</p>
<p>That staff provide a report on the projected use of our fire stations, how each station is utilized and what, if any, costs savings are available and the response times from each station, before next budget.</p>
<p>“CARRIED”</p>
<p>Director of Corporate Services Report CPFS15-054 Sponsorship, Naming Rights and Advertising Policy (page 31)</p>
<p>Moved by Councillor Pappas</p>
<p>That Council approve the recommendation outlined in Report CPFS15-054, dated November 23, 2015, of the Director of Corporate Services as follows:</p>
<p>a)</p>
<p>That the Sponsorship, Naming Rights and Advertising Policy, as set out in Appendix A to Report CPFS15-054, be approved, as amended.</p>
<p>That staff report back to Council in three years with an update on the program.</p>
<p>b)</p>
<p>“CARRIED”</p>
<p>Moved by Councillor McWilliams</p>
<p>That the following motion be tabled, subject to staff providing information on the feasibility to remove the sidewalk from the north side of the Riverside Drive construction project:</p>
<p>That the sidewalk identified for the north side of the Riverside Drive construction project be removed.</p>
<p>The Chair called for a brief recess at 7:14 p.m.</p>
<p>The Chair resumed the meeting at 7:29 p.m.</p>
<br>
<p>Budget Committee</p>
<p>November 23, 24 and 25, 2015</p>
<p>Page 10</p>
<p>Traffic Engineering Technologist Position</p>
<p>Moved by Councillor Vassiliadis</p>
<p>a)</p>
<p>That a new Traffic Engineering Technologist position be created and the net provision of $1,795,198 for Traffic, shown on page 78 of the 2016 Highlights Book and pages 74-75 of the 2016 Operating Budget Details Book, be adjusted as follows: the Personnel line be increased by $58,000; the Contractual Services be decreased by $20,000; and a Transfer from the Traffic Signal Reserve be increased by $38,000 for a net tax levy impact of zero and,</p>
<p>That staff provide a report for the 2018 Budget updating Council on the work associated with this position.</p>
<p>“CARRIED”</p>
<p>Statutory Holiday Transit Service (page 78)</p>
<p>Moved by Councillor Vassiliadis</p>
<p>a)</p>
<p>That the net provision of $6,700,602 for Transit, shown on page 78 of the 2016 Highlights Book and pages 76-77 of the 2016 Operating Budget Details Book, be adjusted as follows: the Personnel line be increased by $120,000; the Repairs and Maintenance line be increased by $34,800; Fees, Services Charges and Donations line be increased by $28,000; and the Contribution from Reserve from the Provincial Gas Tax Reserve be increased by $126,800 for no net tax levy impact.</p>
<p>That staff report back in two years with an update on ridership statistics for statutory holidays.</p>
<p>b)</p>
<p>b)</p>
<p>“CARRIED”</p>
<p>Councillor Clarke stepped-down as Chair at 8:34 p.m.</p>
<p>Councillor Beamer assumed the Chair.</p>
<p>Budget Committee</p>
<p>November 23, 24 and 25, 2015</p>
<p>Page 11</p>
<br>
<br>
<p>b)</p>
<p>c)</p>
<p>d)</p>
<p>e)</p>
<p>City Support for Refugees Director of Community Services Report CSACH15-006 Relocation of Syrian Refugees</p>
<p>Moved by Councillor Pappas</p>
<p>a)</p>
<p>That a new line be added as an Expenditure under Community Services Administration, as shown on page 103 of the 2016 Highlights Book and pages 87-91 of the 2016 Operating Budget Details Book, with a budget of $25,000 for the Integration of the Refugees into the City of Peterborough and that the impact to the all-inclusive rate is 0.01 moving the total all- inclusive rate to 2.51%;</p>
<p>That staff work with outside agencies to determine how best to allocate the funds;</p>
<p>That the 2017 Draft Budget include a further $25,000 for the Integration of the Refugees and</p>
<p>That staff report back to Council as required to provide an update on the activities associated with this project.</p>
<p>That the report on potential City support for the relocation of Syrian refugees to Peterborough be received for information.</p>
<p>“CARRIED”</p>
<p>Director of Community Services Report CSD15-023 2016 Community Service Grant Consideration for Artspace</p>
<p>Moved by Councillor Pappas</p>
<p>That Council approve the recommendations outlined in Report CSD15-023, dated November 23, 2015, of the Director of Community Services, as follows:</p>
<p>a)</p>
<p>That Artspace be funded from the City’s Community Service Grant program, commencing in 2016;</p>
<p>That the 2016 funding for Artspace be $20,000 with the funds transferred from the Community Services Administration Sponsorship budget; and</p>
<p>b)</p>
<p>Budget Committee</p>
<p>November 23, 24 and 25, 2015</p>
<p>Page 12</p>
<p>c)</p>
<p>That the Draft 2017 Budget include an additional $15,000 for a total allocation of $35,000 for Artspace in 2017.</p>
<p>“CARRIED”</p>
<p>County Jail Park Project (page 106)</p>
<p>Moved by Councillor McWilliams</p>
<p>That the $150,000 identified on page 106 of the Budget Highlights Book for the County Jail Park be removed from the capital budget and placed in the capital levy reserve.</p>
<p>Moved by Councillor Baldwin</p>
<p>That the matter be deferred to the December 7, 2015 Council meeting to allow for a presentation by the County representatives on the project.</p>
<p>“LOST”</p>
<p>Upon the main motion of Councillor McWilliams, the motion carried.</p>
<p>Moved by Councillor Pappas</p>
<p>That County representatives make a presentation on the County Jail Park Project at the November 30, 2015 Committee of the Whole meeting.</p>
<p>“ MOTION WITHDRAWN”</p>
<p>Moved by Councillor Pappas</p>
<p>That Committee recess at 9:29 p.m. until 5:00 p.m. on Tuesday November 24, 2015.</p>
<p>“CARRIED”</p>
<p>John Kennedy, City Clerk</p>
<p>Budget Committee</p>
<p>November 23, 24 and 25, 2015</p>
<p>Page 13</p>
<p>The Chair reconvened the meeting at 5:00 p.m., November 24, 2015 in the Council Chambers.</p>
<p>Director of Corporate Services Report CPFS15-061 Peterborough Economic Development</p>
<p>Peter Gaffney, Board Chair provided a presentation on Peterborough Economic Development.</p>
<p>Moved by Councillor Haacke</p>
<p>That Council approve the recommendation outlined in Report CPFS15-061, dated November 23, 2015, of the Director of Corporate Services as follows:</p>
<p>That the presentation and budget details presented to the November 24, 2015 Budget Committee by Peterborough Economic Development, be received.</p>
<p>Moved by Councillor Riel</p>
<p>That commencing in 2016, economic development services be provided by the City of Peterborough through the Planning and Development Services Department.</p>
<p>Moved by Councillor Pappas</p>
<p>That Budget Committee move into Closed Session to discuss one item under the Municipal Act, 2001 Section 239(2)(f) Advice that is subject to solicitor-client privilege, including communications necessary for that purpose.</p>
<p>“CARRIED”</p>
<p>The meeting reconvened in Open Session at 5:48 p.m.</p>
<p>Councillor Riel withdrew his motion regarding the provision of economic development services in-house.</p>
<p>Upon the original motion of Councillor Haacke, the motion carried.</p>
<p>Budget Committee</p>
<p>November 23, 24 and 25, 2015</p>
<p>Page 14</p>
<p>Director of Corporate Services Report CPFS15-062 Peterborough Humane Society</p>
<p>Judy O’Brien, Executive Director, provided a presentation regarding the Peterborough Humane Society.</p>
<p>Moved by Councillor Baldwin</p>
<p>That Council approve the recommendation outlined in Report CPFS15-062, dated November 23, 2015, of the Director of Corporate Services as follows:</p>
<p>That the presentation and budget details presented to the November 24, 2015 Budget Committee by Peterborough Humane Society, be received.</p>
<p>“CARRIED”</p>
<p>Director of Corporate Services Report CPFS15-066 Peterborough Police Services 2016 Budget</p>
<p>Bob Hall, Chair of the Peterborough Police Service Board, provided a presentation on the Peterborough Police Service 2016 budget.</p>
<p>Moved by Councillor Haacke</p>
<p>That Council approve the recommendation outlined in Report CPFS15-066, dated November 23, 2015, of the Director of Corporate Services as follows:</p>
<p>That the presentation and budget details presented to the November 24, 2015 Budget Committee by Peterborough Police Services, be received.</p>
<p>“CARRIED”</p>
<p>Councillor Clarke stepped-down as Chair at 7:00 p.m. Councillor Beamer assumed the Chair.</p>
<p>The Chair called for a recess at 7:15 p.m.</p>
<p>The Chair resumed the meeting at 7:31 p.m.</p>
<p>Budget Committee</p>
<p>November 23, 24 and 25, 2015</p>
<p>Page 15</p>
<p>Director of Corporate Services Report CPFS15-055 Funds Required and Timelines for Key Capital Projects</p>
<p>Mayor Bennett provided opening comments and discussed the overall capital budget referenced in Report CPFS15-055.</p>
<p>Moved by Councillor Clarke</p>
<p>That Council approve the recommendation outlined in Report CPFS15-055 dated November 18, 2015, of the Director of Corporate Services, as follows:</p>
<p>That a further increase of 0.5% be added to the 0.5% 2016 capital component of the all-inclusive tax increase, for a total 2016 all-inclusive increase of 3.01%, and that the 2017 Draft Capital Budget be prepared to include a further 1.00% all- inclusive tax rate increase for key specific projects.</p>
<p>“CARRIED”</p>
<p>Arena Project (page 122)</p>
<p>Moved by Councillor Haacke</p>
<p>That the new arena facility as referenced on page 122 of the Budget Highlights Book, be allocated $1.5 million in the 2016 budget.</p>
<p>“CARRIED”</p>
<p>Public Works Yard (page 75)</p>
<p>Moved by Councillor Parnell</p>
<p>That the Public Works Relocation Project as referenced on page 75 of the Budget Highlights Book be increased from $3.5 million by $3.2 million to $6.7 million in the 2016 budget.</p>
<p>“CARRIED”</p>
<br>
<p>Budget Committee</p>
<p>November 23, 24 and 25, 2015</p>
<p>Page 16</p>
<p>Charlotte Street Renewal Louis Street Urban Park (page 141)</p>
<p>Due to Councillor Vassiliiadis previously declared conflict, he did not discuss or vote on this matter.</p>
<p>Moved by Councillor Therrien</p>
<p>That the Charlotte Street Renewal and Louis Street Urban Park project as referenced on page 141 of the Budget Highlights Book be allocated $4.2 million in the 2016 budget.</p>
<p>“CARRIED”</p>
<p>Housing Stability and Rent Supplement Programs</p>
<p>Moved by Councillor Therrien</p>
<p>That a staff report be brought forward in the first quarter of 2016 outlining the implications of providing additional funds as follows:</p>
<p>a)</p>
<p>An additional allocation of $50,000 to the Housing Stability Program as a one time draw funded from the General Assistance Reserve, and</p>
<p>An additional allocation of $50,000 to the Rent Supplement Program funded from the General Assistance Reserve.</p>
<p>b)</p>
<p>“CARRIED”</p>
<p>Discretionary Benefits</p>
<p>Moved by Councillor Riel</p>
<p>That $100,000 be added to the Social Services overall discretionary benefits budget to address the following priority areas:</p>
<p>a)</p>
<p>$50,000 to adult dentures; and</p>
<p>b)</p>
<p>$50,000 to the recreation subsidy, with the intention that the subsidy be returned to $200 per year per child.</p>
<p>Items a) and b) were voted on separately and carried.</p>
<br>
<br>
<p>Budget Committee</p>
<p>November 23, 24 and 25, 2015</p>
<p>Page 17</p>
<p>Moved by Councillor Clarke</p>
<p>That Committee recess at 9:43 p.m. until 5:00 p.m. on Wednesday November 25, 2015.</p>
<p>“CARRIED”</p>
<p>Natalie Garnett, Deputy City Clerk</p>
<p>The Chair reconvened Budget Committee at 5:02 p.m. in the Council Chambers on Wednesday, November 25, 2015.</p>
<br>
<p>Reducing All Inclusive Tax Rate</p>
<p>Moved by Councillor Baldwin</p>
<p>That the net provision of $4,547,895 for Peterborough County/City Paramedics (PCCP), shown on page 173 of the 2016 Highlights Book and pages 148-149 of the 2016 Operating Budget Details Book, be decreased by $100,000 to $4,447,895 through a Contribution from the PCCP Reserve and,</p>
<p>That the provision of $778,298 for Contingency, shown on page 159 of the 2016 Highlights Book and pages 142-143 of the 2016 Operating Budget Details Book, be decreased by $25,000 to $753,298,  to reduce the all inclusive tax rate to 3.0%.</p>
<p>“LOST”</p>
<p>Tabled Motion – Sidewalk Installation on Riverside Drive</p>
<p>Councillor McWilliams withdrew his tabled motion regarding the removal of the sidewalk installation on Riverside Drive.</p>
<p>Councillor McWilliams indicated that he would request the matter to be reconsidered at the December 7, 2015 Council meeting.  Due to the time sensitivity of this project, the Budget Committee agreed to take a straw vote to determine if there would be 2/3 support from members of Council for a reconsideration at the December 7, 2015 Council meeting.</p>
<p>Budget Committee</p>
<p>November 23, 24 and 25, 2015</p>
<p>Page 18</p>
<p>The result of the straw vote indicated that 2/3 support would not be obtained at the December 7, 2015 Council meeting, and therefore the Chair advised the Director of Public Works to proceed with the sidewalk installation.</p>
<p>Main motion - Recommendation a)</p>
<p>Due to their previously declared interests, Mayor Bennett and Councillor Pappas did not vote on the matter.</p>
<p>Upon Recommendation a) of the main motion of Councillor Beamer, moved on November 23, 2015, the motion carried.</p>
<p>Main motion - Recommendation bb)</p>
<p>Due to his previously declared interest Councillor Vassiliadis did not vote on the matter.</p>
<p>Upon Recommendation bb) of the main motion of Councillor Beamer, moved on November 23, 2015, the motion carried.</p>
<p>Main motion – Balance of Motions</p>
<p>Upon the balance of the main motions as moved by Councillor Beamer, moved on November 23, 2015, the motions carried.</p>
<br>
<p>Other Business</p>
<p>There were no items of other business</p>
<br>
<p>Adjournment</p>
<p>Moved by Mayor Bennett</p>
<p>That this meeting of Budget Committee adjourn at 6:47 p.m.</p>
<p>"CARRIED"</p>
<p>John Kennedy City Clerk</p>
<p>Budget Committee</p>
<p>November 23, 24 and 25, 2015</p>
<p>Page 19</p>
<p>Councillor Clarke Chair</p>
<br></div>