<!doctype html><div><p>Budget Committee</p>
<p>City of Peterborough</p>
<p>June 19, 2017</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<p>Minutes of a Meeting of the Budget Committee held on June 19, 2017</p>
<p>in the Council Chambers, City Hall.</p>
<br>
<p>The Budget Committee meeting was called to order at 6:25 p.m. in the Council Chambers.</p>
<p>Roll Call: Councillor Baldwin Councillor Beamer Councillor Clarke, Chair Councillor Haacke Councillor McWilliams Councillor Pappas Councillor Parnell Councillor Riel Councillor Therrien Councillor Vassiliadis Mayor Bennett</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no Disclosures of Pecuniary Interest.</p>
<p>Consent Agenda</p>
<p>Moved by Councillor Pappas</p>
<p>That item 4 be approved as part of the Consent Agenda.</p>
<p>“CARRIED”</p>
<p>Budget Committee</p>
<p>June 19, 2017</p>
<p>Page 2</p>
<p>Director of Corporate Services Report CPFS17-033 Notice of Public Meeting – June 28, 2017 2018 Budget Guideline Report</p>
<p>Moved by Councillor Pappas</p>
<p>That Council approve the recommendations outlined in Report CPFS17-033 dated June 19, 2017, of the Director of Corporate Services, as follows:</p>
<p>a)</p>
<p>That Report CPFS17-033, advising Council that a public meeting will be held on June 28, 2017 at 6:00 pm, to present a preliminary 2018 Budget Guideline Report, as set out in Appendix A to Report CPFS17-033, and to hear public delegations, be received.</p>
<p>b)</p>
<p>That a final version of the 2018 Guideline Report, as set out in Appendix A, be presented to the July 24, 2017 Budget Committee meeting.</p>
<p>“CARRIED”</p>
<p>Director of Corporate Services Report CPFS17-031 2018 Debt Capacity Limit</p>
<p>Moved by Mayor Bennett</p>
<p>That Council approve the recommendation outlined in Report CPFS17-031 dated June 19, 2017, of the Director of Corporate Services, as follows:</p>
<p>That Report CPFS17-031 regarding the City’s Debt Capacity Limit for 2018, be received for information.</p>
<p>“CARRIED”</p>
<br>
<p>Other Business</p>
<p>There were no items of Other Business.</p>
<p>Budget Committee</p>
<p>June 19, 2017</p>
<p>Page 3</p>
<p>Adjournment</p>
<p>Moved by Councillor Vassiliadis</p>
<p>That this meeting of Budget Committee adjourn at 6:29 p.m.</p>
<p>"CARRIED"</p>
<p>John Kennedy City Clerk</p>
<p>Councillor Clarke Chair</p>
<br></div>