<!doctype html><div><p>Budget Committee</p>
<p>City of Peterborough</p>
<p>July 24, 2017</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<p>Minutes of a Meeting of the Budget Committee held on July 24, 2017</p>
<p>in the Council Chambers, City Hall.</p>
<br>
<p>The Budget Committee meeting was called to order at 5:30 p.m. in the Council Chambers.</p>
<p>Roll Call: Councillor Baldwin Councillor Beamer Councillor Clarke, Chair Councillor Haacke Councillor McWilliams Councillor Pappas Councillor Parnell Councillor Riel Councillor Therrien Councillor Vassiliadis Mayor Bennett</p>
<p>Confirmation of Minutes – June 19, and 28, 2017</p>
<p>Moved by Councillor Baldwin</p>
<p>That the minutes of the meetings of Budget Committee held on June 19 and June 28, 2017 be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no Disclosures of Pecuniary Interest.</p>
<br>
<p>Budget Committee</p>
<p>July 24, 2017</p>
<p>Page 2</p>
<p>Director of Corporate Services Report CPFS17-037 2018 Budget Guideline Report</p>
<p>Moved by Councillor Pappas</p>
<p>That Council approve the recommendations outlined in Report CPFS17-037, dated July 24, 2017, of the Director of Corporate Services, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>That the Draft 2018 Operating Budget reflect an estimated 1.70% all- inclusive (Municipal, Education, Sanitary, and Storm Sewer Surcharge) increase for increased operating costs and traditional support for the capital program.</p>
<p>That the Draft 2018 Operating Budget reflect an estimated 0.65% all- inclusive (Municipal, Education, Sanitary, and Storm Sewer Surcharge) increase for increased support for the sanitary and storm sewer operating and capital costs, comprised of:</p>
<p>An annual charge of $14.89 on the property tax bill for the median assessed home for a Stormwater Protection Surcharge, and</p>
<p>An increase in the Sewer Surcharge rate of 2.08% from 95% of the Water Rate to 97.1% of the Water Rate.</p>
<p>That the Draft 2018 Operating Budget reflect an additional 0.5% all- inclusive (Municipal, Education, Sanitary, and Storm Sewer Surcharge) increase to fund the 2018 increase for tax-supported debt charges and any increase to base capital levy to continue to implement the Capital Financing Policy approved by Council at its meeting held April 23, 2012.</p>
<p>d)</p>
<p>That the revised Tax Ratio Reduction Program continue for the 2018 Draft Budget and reflects reductions:</p>
<p>to the Commercial and Industrial Class Tax Ratios but not the Multi- residential Class, and</p>
<p>at the reduced rate established through the 2016 Budget process, and</p>
<p>for the Commercial Class only, accelerated by a one-time amount of $300,000.</p>
<p>i)</p>
<p>ii)</p>
<p>i)</p>
<p>ii)</p>
<p>iii)</p>
<br>
<p>Budget Committee</p>
<p>July 24, 2017</p>
<p>Page 3</p>
<p>e)</p>
<p>f)</p>
<p>g)</p>
<p>h)</p>
<p>i)</p>
<p>j)</p>
<p>That the increase in the Police Services portion of the draft 2018 Operating Budget reflect no more than the Operating portion of Net Tax Levy increase (estimated to be 1.7%), and any increase in the net Police Services budget beyond the estimated Operating Portion of the Net Tax Levy increase be addressed by Council as part of the detailed 2018 Budget deliberations to occur in November of 2017.</p>
<p>That any additional investment proceeds in 2018 from the sale of Peterborough Distribution Inc., be directed towards enhancing Capital financing, and not be used for purposes of reduction in net tax levy.</p>
<p>That, regarding any potential gaming revenues to be received from a Casino in 2018, the draft budget contain recommendations that will:</p>
<p>i)</p>
<p>ii)</p>
<p>Direct the City’s share of all future municipal gaming revenues towards financing future Capital works, and not be used for purposes of reduction in net tax levy in the Operating Budget, and</p>
<p>Place any residual Gaming Revenues over and above the amount budgeted in 2018 in a new Gaming Revenues Reserve to be used to finance future capital works.</p>
<p>That the 2018 Highlights Book include a section on the information gathered through the Public Meeting held on June 28, 2017 and a response to each.</p>
<p>That the start time of the public meeting previously scheduled for 7:00 pm November 22, 2017, be changed to 6:30 pm.</p>
<p>Committee at its meeting of July 24, 2017 added the following recommendation:</p>
<p>That staff provide a report in 2018 identifying the revenue from the PDI investment and the casino and how the revenue could be used toward the capital budget.</p>
<p>“CARRIED”</p>
<br>
<p>Other Business</p>
<p>There were no items of Other Business.</p>
<br>
<p>Budget Committee</p>
<p>July 24, 2017</p>
<p>Page 4</p>
<p>Adjournment</p>
<p>Moved by Councillor Pappas</p>
<p>That this meeting of Budget Committee adjourn at 5:39 p.m.</p>
<p>"CARRIED"</p>
<p>John Kennedy City Clerk</p>
<p>Councillor Clarke Chair</p>
<br></div>