<!doctype html><div><br>
<br>
<p>BUDGET COMMITTEE</p>
<br>
<p>CITY OF PETERBOROUGH</p>
<br>
<p>OCTOBER 19, 2009</p>
<br>
<br>
<br>
<p>DRAFT MINUTES, NOT APPROVED</p>
<br>
<p>MINUTES  OF  A  MEETING  OF  BUDGET  COMMITTEE  HELD  ON</p>
<p>OCTOBER  19,  2009,  IN  THE  GENERAL  COMMITTEE  ROOM,  CITY</p>
<p>HALL</p>
<br>
<p>The Budget Committee meeting was called to order at 5:00 p.m. in the General Committee Room.</p>
<p>Roll Call: Councillor Clarke, Chairman Councillor Doris Councillor Eggleton Councillor Hall Councillor Martin Councillor Pappas Councillor Peacock Councillor Vass</p>
<p>Absent Councillor Farquharson Councillor Peeters Mayor Ayotte</p>
<p>Minutes</p>
<p>Moved by Councillor Pappas</p>
<p>That the minutes of the Budget Committee of April 6, 2009, be approved.</p>
<p>"CARRIED"</p>
<p>Disclosure of Pecuniary Interest</p>
<p>There were no declarations of pecuniary interest.</p>
<br></div>