<!doctype html><div><br>
<br>
<p>Budget Committee Minutes</p>
<br>
<p>City Of Peterborough</p>
<br>
<p>November 7, 28 and 29, 2011</p>
<p>Draft Minutes, Not Approved</p>
<br>
<br>
<br>
<br>
<p>Minutes  of  a  Meeting  of  Budget  Committee  Held  on  November  7,  28,</p>
<p>and 29, 2011, in the General Committee Room and Council Chambers,</p>
<p>City Hall</p>
<br>
<p>The  Budget  Committee  meeting  was  called  to  order  at  5:30  p.m.  in  the  Council</p>
<p>Chambers.</p>
<br>
<p>Roll Call: Councillor Beamer Councillor Clarke, Chair Councillor Doris Councillor Hall Councillor Juby Councillor McWilliams Councillor Pappas Councillor Parnell Councillor Riel Councillor Vass Mayor Bennett</p>
<p>Minutes – March 22, April 5, 6, 12, 20 and May 3, 2011 and June 21, 2011</p>
<p>Moved by Councillor Pappas</p>
<p>That the minutes of the Budget Committee meetings held on March 22, April 5, 6, 12, 20 and May 3, 2011 be approved.</p>
<p>“CARRIED”</p>
<p>Moved by Councillor Doris</p>
<p>That the minutes of the Budget Committee meeting held on June 21, 2011 be approved.</p>
<p>“CARRIED”</p>
<br></div>