<!doctype html><div><br>
<p>Budget Committee Minutes</p>
<p>City of Peterborough</p>
<p>January 12 and 13, 2015</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of Budget Committee Held on Monday, January</p>
<p>12, and Tuesday, January 13, 2015 in the Council Chambers, City Hall</p>
<br>
<p>The meeting of the Budget Committee was called to order at 5:00 p.m. in the Council Chambers.</p>
<p>Roll Call: Councillor Baldwin Councillor Beamer Councillor Clarke, Chair Councillor Haacke Councillor McWilliams Councillor Pappas Councillor Parnell Councillor Riel Councillor Therrien Councillor Vassiliadis Mayor Bennett</p>
<p>Minutes – December 8, 2014</p>
<p>Moved by Councillor Pappas</p>
<p>That the minutes of the Budget Committee meetings held on December 8, 2014 be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>Mayor Bennett declared an interest in Item 3, Report CPFS14-035 – 2015 Draft Budget (Budget Highlights pg 68-69) regarding Transit matters as he is an owner of a taxi cab company.</p>
<p>Budget Committee Minutes January 12 and 13, 2015</p>
<p>Page 2</p>
<p>Mayor Bennett declared an interest in Report CPFS15-001, 2015 Budgets for Outside Agencies, Boards, specifically the Peterborough County/City Paramedics Service as he is an owner of a company that performs work for the service.</p>
<p>Councillor Pappas declared an interest in Report CPFS15-001, Planning and Development Services, Central Area Master Plan, as he is a business owner in the area.</p>
<p>Councillor Parnell declared an interest in Report CPFS15-001, Utility Services, Riverside Sanitary Sewer project, as she is a resident of this area.</p>
<p>Councillor Vassiliadis declared an interest in Item 3, Report CPFS14-035 – 2015 Draft Budget regarding the proposed Louis St. Urban Park as he owns property that is adjacent to the subject property.</p>
<p>Councillor Vassiliadis also declared an interest in Item 3, Report CPFS14-035 – 2015 Draft Budget regarding the PCCHU relocation to 185 King St as he owns property close to 185 King St.</p>
<p>Councillor Therrien declared an interest in Report CPFS15-001, Utility Services, Cambridge Street Sanitary Sewer project, as she is a resident of this area.</p>
<br>
<p>Director of Corporate Services Report CPFS14-035 2015 Draft Budget</p>
<p>Moved by Mayor Bennett</p>
<p>That Council approve the recommendation outlined in Report CPFS14-035 dated December 8, 2014, of the Director of Corporate Services, and the Chief Administrative Officer, as follows:</p>
<p>That the recommendations contained in Appendix A of this report be moved for the purpose of discussion.</p>
<p>a)</p>
<p>That the 2015 Draft Budget, and all estimated revenues and expenditures, fees, contributions to reserve and reserve funds, and proposed staffing levels referenced in the documents be adopted.</p>
<p>Budget Committee Minutes January 12 and 13, 2015</p>
<p>Page 3</p>
<p>b)</p>
<p>c)</p>
<p>d)</p>
<p>e)</p>
<p>f)</p>
<p>g)</p>
<p>h)</p>
<p>i)</p>
<p>j)</p>
<p>That the user fees and charges as set out in Book 2 be adopted as part of 2015 Budget process.</p>
<p>That upon approval of the 2015 Capital Budget, by-laws 12-024, 13-042 and 13-060, being by-laws to debenture certain tax-supported capital works, be repealed. (Page 19)</p>
<p>That any unused CAO Budget at the end of 2015 be transferred to the Organizational Development Reserve, subject to the overall year-end position.  (Page 24)</p>
<p>That any unused Peterborough Technology Services Budget, at the end of 2015, be transferred to the Electronic Data Processing (EDP) Reserve, subject to the overall year-end position and that if actual 2015 costs exceed the 2015 Budget, funds may be drawn from the EDP reserve.  (Page 32)</p>
<p>That any Engineering Overhead surplus be transferred to the Engineering Design and Inspection Reserve, subject to the overall year-end position and that if actual 2015 Engineering costs exceed the Budget, funds may be drawn from the Engineering Design and Inspection Reserve.  (Page 51)</p>
<p>That any unused portion of the 2015 Winter Control Budget that may exist at year-end be transferred to the Winter Control Reserve, subject to the overall year-end position, and that if actual 2015 Winter Control costs exceed the 2015 Budget, funds may be drawn from the Winter Control reserve.  (Page 63)</p>
<p>That any unused Traffic Signal Maintenance Budget at the end of 2015 be transferred to the Traffic Signal Reserve, subject to the overall year-end position and that if the actual 2015 Traffic Signal Maintenance costs exceed the 2015 Budget, funds may be drawn from the Traffic Signal Reserve. (Page 72)</p>
<p>That any surplus funds at the end of 2015 for Market Hall be transferred to the Market Hall Capital Reserve for unanticipated maintenance expenses or small capital improvements.  (Page 93)</p>
<p>That any surplus funds at the end of 2015 for the Peterborough Sport and Wellness Centre be transferred to the PSWC Capital Conservation Reserve for future capital improvements.  (Page 96)</p>
<p>k)</p>
<p>That any surplus funds at the end of 2015 for Arenas be transferred to the Arena Equipment Reserve for future equipment purchases.  (Page 109)</p>
<p>Budget Committee Minutes January 12 and 13, 2015</p>
<p>Page 4</p>
<p>l)</p>
<p>m)</p>
<p>n)</p>
<p>o)</p>
<p>p)</p>
<p>q)</p>
<p>r)</p>
<p>s)</p>
<p>That any unused Homelessness net budget at the end of 2015 be transferred to the General Assistance Reserve, to be used for future investment in homelessness prevention programs, subject to the overall year-end position and that if actual 2015 Homelessness costs exceed the 2015 Budget, funds may be drawn from the reserve.  (Page 126)</p>
<p>That any unused Community Social Plan net budget at the end of 2015 be transferred to the Social Services Community Social Plan 40/60 Reserve for future program development, subject to the overall year-end position and that if actual 2015 Community Social Plan costs exceed the 2015 Budget, funds may be drawn from the reserve.  (Page 126)</p>
<p>That any remaining unused Social Services net budget at the end of 2015 be transferred to the General Assistance Reserve, subject to the overall year-end position and that, if actual 2015 Social Services costs exceed the 2015 Budget, funds may be drawn from the reserve.  (Page 126)</p>
<p>That any surplus in the 2015 Housing Operating Budget at the end of 2015 be transferred to the Housing Reserve, subject to the overall year-end position and that, if actual 2015 Housing costs exceed the 2015 Budget, funds may be drawn from the Housing Reserve.  (Page 141)</p>
<p>That any surplus in the 2015 Housing Choice Rent Supplement Program at the end of 2015 be transferred to the Housing Choice Rent Supplement Reserve, subject to the overall year-end position and that, if actual 2015 Rent Supplement costs exceed the 2015 Budget, funds may be drawn from the Rent Supplement Reserve.  (Page 141)</p>
<p>That any excess Airport development review fees at the end of 2015 be transferred to the Airport Development Review Reserve for future Airport Development related expenditures and that if the 2015 Airport development review costs exceed the review fees, funds may be drawn from the Airport Development Review Reserve.  (Page 144)</p>
<p>That any unused Building Inspection Budget at the end of 2015 be transferred to the Building Division Reserve and that, if actual building inspection costs exceed the 2015 Budget, funds may be drawn from the Building Division Reserve.  (Page 148)</p>
<p>That any adjustment to the City’s 2015 requirement for the Municipal Property Assessment Corporation (MPAC), be netted against the City’s 2015 General Contingency provision.  (Page 153)</p>
<p>Budget Committee Minutes January 12 and 13, 2015</p>
<p>Page 5</p>
<p>t)</p>
<p>u)</p>
<p>v)</p>
<p>w)</p>
<p>x)</p>
<p>y)</p>
<p>z)</p>
<p>aa)</p>
<p>That any unused portion of the 2015 tax write off account balance that may exist at year-end be transferred to the Allowance for Doubtful Accounts Reserve, subject to overall year-end position and that, if actual 2015 tax write-off costs exceed the 2015 Budget, funds may be drawn from the Allowance for Doubtful Accounts Reserve.  (Page 156)</p>
<p>That any unused Employee Benefits Budget at the end of 2015 be transferred to the Employee Benefits Reserve, subject to the overall year- end position, and that, if actual 2015 employee benefits exceed the 2015 Budget, funds may be drawn from the Employee Benefits Reserve.  (Page 156)</p>
<p>That any unused Insurance Budget at the end of 2015 be transferred to the Insurance Reserve, subject to the overall year-end position and that, if actual 2015 insurance costs exceed the 2015 Budget, funds may be drawn from the Insurance Reserve.  (Page 156)</p>
<p>That any unused 2015 Contingency Budget at the end of 2015 be transferred to the Capital Levy Reserve to be used for Capital works subject to the overall 2015 year-end position.  (Page 156)</p>
<p>That any unused Police Services Legal fees Budget at the end of 2015 be transferred to the Legal Fees Policing Reserve, subject to the overall year- end position and approval through the Treasurer, and that if the actual 2015 Police legal fees costs exceed the 2015 Budget, funds may be drawn from the Policing Legal Fees Reserve.  (Page 161)</p>
<p>That any unused Police Services Budget at the end of 2015 be transferred to the Police Special Projects Reserve, subject to the overall year-end position and approval by City Council and that, if the actual 2015 Police Services costs exceed the 2015 Budget, funds may be drawn from the Police Special Projects Reserve.  (Page 161)</p>
<p>That any adjustments to the City’s portion of the 2015 Peterborough County/City Paramedics Services Budget be netted against the 2015 General Contingency provision.  (Page 166)</p>
<p>That any unused Peterborough County/City Paramedics Services (PCCP) Budget at the end of 2015 be transferred to the PCCP Reserve, subject to the overall year-end position and that, if the actual 2015 PCCP costs exceed the 2015 Budget, funds may be drawn from the PCCP Reserve. (Page 166)</p>
<p>Budget Committee Minutes January 12 and 13, 2015</p>
<p>Page 6</p>
<p>bb)  That any adjustments to the City’s portion of ORCA’s 2015 Budget, based</p>
<p>on the final approved ORCA Budget, be netted against the City’s 2015 general contingency provision.  (Page 167)</p>
<p>cc)</p>
<p>That any adjustments to the City’s portion of CCHU 2015 Budget, based on the final approved CCHU Budget, be netted against the City’s 2015 general contingency provision.  (Page 169)</p>
<p>dd)  That the 2015 budget request representing the levy required by the</p>
<p>Downtown Business Improvement Area of the Corporation of the City of Peterborough during the year 2015 totalling $292,829, be approved.  (Page 172)</p>
<p>That the 2015 budget request representing all sums required by the Village Business Improvement Area of the Corporation of the City of Peterborough during the year 2015 totalling $16,400, be approved. (Page 173)</p>
<p>That any net surplus funds, after the disposition of the recommendations in this report, from 2015 operations in excess of $100,000 be transferred to the Capital Levy Reserve to be used for Capital works.  (Page 175)</p>
<p>gg)  That a by-law be passed to establish the 2015 tax ratios for each property</p>
<p>class as set out in the 2015 Operating Budget.  (Page 184)</p>
<p>hh)  That the 2015 tax rate for farmland awaiting development subclasses be</p>
<p>75% of the residential rate.  (Page 184)</p>
<p>That a system of graduated tax rates within the Commercial and Industrial classes not be implemented for 2015.  (Page 185)</p>
<p>That the capping policy for 2015 for the Multi-residential, Commercial and Industrial classes be as follows:</p>
<p>i.</p>
<p>ii.</p>
<p>Capping be based on a maximum increase threshold at the greater of 10% of the previous year’s annualized capped taxes and 5% of the previous year’s annualized CVA tax for the eligible property.  (Page 185)</p>
<p>No capping credit be applied for properties where the required billing adjustment is within a $250 credit of the properties’ CVA tax; affected properties would be billed at their full CVA tax level.  (Page 185)</p>
<p>ee)</p>
<p>ff)</p>
<p>ii)</p>
<p>jj)</p>
<p>Budget Committee Minutes January 12 and 13, 2015</p>
<p>Page 7</p>
<br>
<p>iii.</p>
<p>iv.</p>
<p>That properties that achieved CVA tax in 2014 remain at CVA tax from 2015 forward regardless of how reassessment affects the property.  (Page 185)</p>
<p>That properties that cross over from the clawback to the capping category or vice versa from 2014 to 2015 be taxed at CVA tax.  (Page 185)</p>
<p>kk)</p>
<p>That the threshold on the tax level for eligible new construction be 100%. (Page 185)</p>
<p>ll)</p>
<p>That the Tax ratio reductions for mandated subclasses of vacant units remain at 30% for the Commercial class and 35% for the Industrial class. (Page 185)</p>
<p>mm)  That  the  provision  of  $1.635  million  for  the  City  Buildings  –  Community Services  Capital  Project  (Project  3-1.02),  shown  on  page  35  of  the  2015 Highlights  Book  and  pages  22-23  of  the  2015-2024  Capital  Budget  Details Book, be increased by $475,000 to $2.11 million with the “Art Gallery-HVAC replacement  and  new  BAS”  sub-project  increased  from  $500,000  to $975,000  and  that  the  $475,000  increase  be  taken  from  the  provision  of $1.35  million  for  the  City  Buildings  –  Property  Capital  Project  (Project  3- 1.01), also shown on page 35 of the 2015 Highlights Book and pages 20-21 of  the  2015-2024  Capital  Budget  Details  Book,  reducing  it  to  $875,000  and removing  the  sub-projects  for  Peterborough  Daycare  –  Replace  HVAC systems,  new  BAS  and  Life  Safety  system  for  $160,000  and  City  Hall  – Replace generator and move outside for $315,000.</p>
<p>Moved by Councillor Pappas</p>
<p>That staff bring forward a report to Budget Committee in the second quarter of 2015 evaluating various capital tax increases under 1%.</p>
<p>“CARRIED”</p>
<br>
<p>Budget Committee Minutes January 12 and 13, 2015</p>
<p>Page 8</p>
<p>Moved by Councillor Parnell</p>
<p>That a corporate review of staffing positions occur once per Council term to determine if there are any staffing redundancies, and</p>
<p>That staff provide a report to Council.</p>
<p>“LOST”</p>
<p>Councillor Parnell requested staff to advise Council of the percentage of priority one sidewalk projects that have been completed.</p>
<p>Moved by Councillor Therrien</p>
<p>That all budget items related to the Parkway be removed.</p>
<p>“LOST”</p>
<p>Moved by Councillor Pappas</p>
<p>That staff provide an update report on the Goose Control Program (p. 65).</p>
<p>“CARRIED”</p>
<p>Moved by Councillor Beamer</p>
<p>That staff review the on-street parking fee and fine structure and that staff increase the level of parking enforcement. (pg. 71)</p>
<p>“CARRIED”</p>
<p>Councillor McWilliams requested that staff provide information on delinquent parking statistics.</p>
<p>The Chair called a brief recess at 7:08 p.m.  The Committee reconvened at 7:20 p.m.</p>
<p>Budget Committee Minutes January 12 and 13, 2015</p>
<p>Page 9</p>
<p>Councillor Pappas requested that staff provide the latest drawings for the library renovation to Council members.</p>
<p>Moved by Councillor Pappas</p>
<p>That the Budget Committee recess.</p>
<p>“CARRIED”</p>
<p>Committee recessed at 9:17 p.m.</p>
<p>John Kennedy, City Clerk</p>
<p>Budget Committee reconvened at 5:00 p.m. in the Council Chambers on Tuesday, January 13, 2015.</p>
<p>Chief Administrative Officer Report CAO15-001 Hospice  Peterborough  Funding  Request  Presentation  to  January  13, 2015 Budget Committee</p>
<p>Bill Lockington provided a report on the Hospice Peterborough Care Centre Project and provide background information on hospice programs.</p>
<p>Moved by Mayor Bennett</p>
<p>That Council approve the recommendation outlined in Report CAO15-001 dated January 12, 2015 of the Chief Administrative Officer, as follows:</p>
<p>That the Hospice Peterborough presentation to the January 13, 2015 Budget Committee meeting, seeking $1.5 million financial support from the City to be paid in 3 annual $500,000 instalments over the three-year period 2016 to 2018 to support a $6.5 million renovation/build to their property at 325 London Street be presented to Council prior to the 2016 Budget Guideline Report being considered.</p>
<p>“CARRIED”</p>
<br>
<p>Budget Committee Minutes January 12 and 13, 2015</p>
<p>Page 10</p>
<p>Director of Corporate Services Report CPFS15-001 2015 Budgets for Outside Agencies and Boards</p>
<p>Lionel Towns, Director of Finance & IT and Joy Husak, Chief Executive Officer, provided a presentation on the 2015 budget request from Fairhaven.</p>
<p>Dr. Pellizzari, Medical Officer of Health and Brent Woodford, Director of Corporate Services from the Peterborough County City Health Unit, provided a Power Point presentation on their 2015 budget.</p>
<p>Dan Taylor, President and CEO, Peterborough Economic Development, provided a presentation on PED’s budget request.</p>
<p>Councillor Haacke declared a pecuniary interest with the proposed PCCHU purchase of 185 King Street, as his employer is involved in the transaction.</p>
<p>Moved by Councillor McWilliams</p>
<p>That  Council  approve  the  recommendations  outlined  in  Report  CPFS15-001, dated January 12, 2015, of the Director of Corporate Services as follows:</p>
<p>a)</p>
<p>That presentations and budget details presented to the January 13, 2015 Budget Committee Fairhaven, the Peterborough County City Health Unit, and Peterborough Economic Development, be received.</p>
<p>That the $250,000 provision for Fairhaven – City’s Levy Operating Support included in the 2015 Draft Operating Budget and on page 164 of the 2015 Highlights Book be increased to $333,333 and that the additional $83,333 be transferred from General Contingency on page 149 of the 2015 Highlights Book decreasing it from $903,966 to $820,633.</p>
<p>That the $953,751 provision for Peterborough Economic Development included in the 2015 Draft Operating Budget on page 170 of the 2015 Highlights Book be increased by $8,748 to $962,499 and that the $17,496 provision for Primary Health Care Operating Support included in the 2015 Draft Operating Budget on page 171 of the 2015 Highlights Book be reduced by $8,748 to $8,748.</p>
<p>b)</p>
<p>c)</p>
<p>“CARRIED”</p>
<p>Budget Committee Minutes January 12 and 13, 2015</p>
<p>Page 11</p>
<p>The Chair called a recess at 6:45 p.m.  The meeting reconvened at 7:00 p.m.</p>
<p>A presentation on the 2015 Peterborough Police Service budget was provided by Chair Garth Wedlock and budget Chairperson Dr. Tom Phillips.</p>
<p>Following discussion it was noted that Council was neither approving nor rejecting the budget request.  The newly formed Police Services Board was asked to review their 2015 budget submission with the understanding that the draft City budget has allowed for a 3.6% increase in policing costs.</p>
<p>Moved by Mayor Bennett</p>
<p>That the Peterborough Police Service Board review the 2015 budget as well as all applicable sections of the Police Services Act and it's related Regulations to determine if any additional cost savings can be realized, and</p>
<p>That a revised budget presentation be made to Committee of the Whole on or before April 20, 2015.</p>
<p>“CARRIED”</p>
<p>Moved by Councillor McWilliams</p>
<p>That  Council  approve  the  recommendations  outlined  in  Report  CPFS15-001, dated January 12, 2015, of the Director of Corporate Services as follows:</p>
<p>That the presentation and budget details presented to the January 13, 2015 Budget Committee by the Peterborough Police Service, be received</p>
<p>“CARRIED”</p>
<p>Budget Committee Minutes January 12 and 13, 2015</p>
<p>Page 12</p>
<p>I.</p>
<p>II.</p>
<p>III.</p>
<p>Director of Planning and Development Services Report PLBD15-001 Building Permit Fee Increase</p>
<p>Moved by Mayor Bennett</p>
<p>That Council approve the recommendations outlined in Report PLBD15-001 dated January 12, 2015, of the Director of Planning and Development Services, as follows:</p>
<p>a)</p>
<p>That the Building Permit Fee increase be the subject of a Public Meeting on January 21, 2015 pursuant to the Building Code Act;</p>
<p>b)</p>
<p>That, subject to the submissions made at the Public Meeting,</p>
<p>the Building Permit fees for 2015 be increased by 10% as presented in the 2015 Draft Budget;</p>
<p>That Building Permit fees be increased by a further 10% in the 2016 Draft Budget; and</p>
<p>That commencing January 1, 2017, the Building Permit fees be adjusted annually by the most recent annual change in the Statistics Canada Quarterly, Construction Price Statistics.</p>
<p>“CARRIED”</p>
<p>Upon the original motion of Mayor Bennett regarding report CPFS14-035, the following items were separated due to declared interests:</p>
<p>i)</p>
<p>Item “a”:</p>
<p>a.  Utility Services Budget, page 60, Riverside Sanitary Sewer and</p>
<p>Cambridge Street  Sanitary Sewer (Councillors Parnell and Therrien did not vote on this item)</p>
<p>b.  Utility Services Budget, pages 68-69, Transportation Services,</p>
<p>(Mayor Bennett did not vote on this item)</p>
<p>c.  Community Services Budget, pages 133-134, Louis Street Urban Park</p>
<p>Project, (Councillor Vassiliadis did not vote on this item)</p>
<p>d.  Planning and Development Budget, pages 135-136, Central Area</p>
<p>Master Plan,  (Councillor Vassiliadis did not vote on this item)</p>
<p>Budget Committee Minutes January 12 and 13, 2015</p>
<p>Page 13</p>
<br>
<p>e.  Under Transfers, page 165, Paramedics, (Mayor Bennett did not vote</p>
<p>on this item)</p>
<p>ii)  Under  Transfers,  pages  168-169,  PCCHU  (Councillors  Vassiliadis  and</p>
<p>Haacke did not vote on this item)</p>
<p>iii)  Item “aa”,  (Mayor Bennett did not vote on this item) iv)  Item “cc”,  (Councillors Vassiliadis and Haacke did not vote on this item)</p>
<p>Upon the separated items, the motion carried.</p>
<p>Upon balance, the motion carried.</p>
<br>
<br>
<br>
<br>
<p>Other Business</p>
<p>There were no items of Other Business</p>
<p>Adjournment</p>
<p>Moved by Councillor Pappas</p>
<p>That this meeting of Budget Committee adjourn at 7:55 p.m.</p>
<p>"CARRIED"</p>
<p>Natalie Garnett Deputy City Clerk</p>
<p>Councillor Clarke Chair</p>
<br>
<br></div>