<!doctype html><div><br>
<br>
<br>
<p>City Council Minutes</p>
<p>City of Peterborough</p>
<p>June 29, 2015</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of City Council held on June 29, 2015, in the</p>
<p>Council Chambers.</p>
<br>
<p>The City Council meeting was called to order at 6:30 p.m. in the Council Chambers, City Hall.</p>
<p>Roll Call: Councillor Baldwin Councillor Beamer Councillor Clarke Councillor Haacke Councillor McWilliams Councillor Pappas Councillor Parnell Councillor Riel Councillor Therrien Councillor Vassiliadis Mayor Bennett</p>
<p>Confirmation of Minutes – June 8, 9 and 15, 2015</p>
<p>Moved by Councillor Pappas, seconded by Councillor Parnell</p>
<p>That the minutes of the meetings of Council held on June 8, 9 and 15, 2015, be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interests</p>
<p>Councillor Vassiliadis declared an Interest in Item 9 of Committee of the Whole Report Number 14 (Report CPPS15-029 – Budget Adjustment and Award of RFT T-27-15 for Simcoe Street and King Street Parking Garage Rehabilitation), as he owns property in proximity to the subject property.</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of June 29, 2015</p>
<p>Page 2</p>
<p>Councillor Haacke declared interests with items 10 and 11 of Committee of the Whole Report No. 14 (Report PLHD15-006 – Municipal Incentives for Affordable Rental Housing, 135 Rubidge Street, Peterborough, CB Rubidge Inc (Canada Builds) and Report CSD15-015 – 2015 Community Investment Grant Appeals Response), as the subjects in these reports are clients of his employer.</p>
<p>Councillor McWilliams declared an interest in item 8 of Committee of the Whole Report No. 14 (Report CPPS15-023 – Budget Adjustment and Increase of Contract Amount Awarded to J.J. McGuire for the City Hall Lower Level South and East Wing Renovation), as his firm was involved with some of the work associated with the contract.</p>
<p>Delegations</p>
<p>Registered Delegations:</p>
<p>Tom Young, 512 Aylmer Street North, made a delegation to Item 6 of Committee of the Whole Report No. 14 (Report CSSS15-004 – Homelessness Programs and Services Update).</p>
<p>Miles Leech, 174 Rubidge Street, made a delegation to Item 6 of Committee of the Whole Report No. 14 (Report CSSS15-004 – Homelessness Programs and Services Update).</p>
<p>Carol Winter, 294 McDonnel Street, made a delegation to Item 6 of Committee of the Whole Report No. 14 (Report CSSS15-004 – Homelessness Programs and Services Update).</p>
<p>Delegations Not Registered:</p>
<p>Planning Committee Report</p>
<p>There were no delegations.</p>
<p>Audit Committee Report</p>
<p>There were no delegations.</p>
<p>Committee of the Whole Reports</p>
<p>There were no delegations.</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of June 29, 2015</p>
<p>Page 3</p>
<p>Other Items on the Agenda</p>
<p>There were no delegations.</p>
<p>Planning Committee Report Number 7</p>
<p>Moved by Councillor Parnell, seconded by Councillor Pappas</p>
<p>That Report Number 7 of the Planning Committee meeting of June 15, 2015 be approved.</p>
<p>“CARRIED”</p>
<p>Audit Committee Report Number 1</p>
<p>Moved by Councillor Clarke, seconded by Councillor Baldwin</p>
<p>That Report Number 1 of the Audit Committee meeting of June 22, 2015 be approved.</p>
<p>“CARRIED”</p>
<p>Committee of the Whole Report Number 14</p>
<p>Moved by Councillor Beamer, seconded by Councillor Haacke</p>
<p>That Report Number 14 of the Committee of the Whole meeting of June 22, 2015 be approved.</p>
<p>Moved by Councillor Clarke, seconded by Councillor Riel</p>
<p>That items 8, 9, 10 and 11 be separated.</p>
<p>“CARRIED”</p>
<p>Item 8</p>
<p>Due to his previously declared interest, Councillor McWilliams did not discuss or vote on the matter.</p>
<p>Upon item 8, the item carried.</p>
<p>City Council Minutes</p>
<p>Meeting of June 29, 2015</p>
<p>Page 4</p>
<p>Item 9</p>
<p>Due to his previously declared interest, Councillor Vassiliadis did not discuss or vote on the matter.</p>
<p>Upon item 9, the item carried.</p>
<p>Items 10 and 11</p>
<p>Due to his previously  declared interests, Councillor Haacke  did not discuss or  vote on the matters.</p>
<p>Upon items 10 and 11, the items carried.</p>
<p>Upon the main motion of Councillors Beamer and Haacke, less items 8, 9, 10 and 11, the motion carried.</p>
<p>Committee of the Whole Report Number 15</p>
<p>Moved by Councillor Beamer, seconded by Councillor Pappas</p>
<p>That Report Number 15 of the Committee of the Whole meeting of June 29, 2015 be approved.</p>
<p>“CARRIED”</p>
<p>Notice of Motion</p>
<p>There were no Notices of Motion.</p>
<p>By-laws</p>
<p>Moved by Councillor Parnell, seconded by Councillor Pappas</p>
<p>By-laws 15-110, 15-115 and 15-116 were separated for vote.</p>
<p>City Council Minutes</p>
<p>Meeting of June 29, 2015</p>
<p>Page 5</p>
<p>By-law 15-110</p>
<p>Councillor Vassiliadis due to his previously declared interest did not vote on the by-law.</p>
<p>15-110</p>
<p>Being a by-law to authorize certain capital works of the Corporation of the City of Peterborough (the “Municipality”); to authorize the submission of an application to the Ontario Infrastructure and Lands Corporation (“OILC”) for financing such works and certain other ongoing works; to authorize temporary borrowing from OILC to meet expenditures made in connection with such works; and to authorize long term borrowing for such works through the issue of debentures to OILC</p>
<p>“CARRIED”</p>
<p>By-laws 15-115 and 15-116</p>
<p>Councillor Haacke due to his previously declared interests did not vote on the by-laws.</p>
<p>15-115</p>
<p>Being a By-law to designate 135 Rubidge Street as a Municipal Housing Facility and to authorize the execution of Agreements between the Corporation of the City of Peterborough and CB Rubidge Inc.</p>
<p>15-116</p>
<p>Being a By-law to exempt the lands known municipally as 135 Rubidge Street from taxation for municipal and school purposes</p>
<p>“CARRIED”</p>
<p>That the following by-laws be read a first, second and third time:</p>
<p>15-106</p>
<p>Being a By-law to establish Tax Ratios for prescribed property classes for the 2015 taxation year</p>
<br>
<p>15-107</p>
<p>15-108</p>
<p>Being a By-law to adopt optional capping tools for the purposes of administering limits for the Commercial, Industrial and Multi- Residential property classes for the 2015 taxation year</p>
<p>Being a By-law to adopt Optional Tools for the purposes of administering limits for eligible properties within the meaning of Section 331 (New Construction) of the Municipal Act for the Commercial, Industrial and Multi-Residential property classes for the 2015 taxation year</p>
<br>
<p>15-109</p>
<p>15-111</p>
<p>15-112</p>
<p>15-113</p>
<p>15-114</p>
<p>15-117</p>
<p>City Council Minutes</p>
<p>Meeting of June 29, 2015</p>
<p>Page 6</p>
<p>Being a By-law to levy and collect taxes for municipal, education and business improvement area purposes for the year 2015, to impose a penalty charge for non-payment of 2015 taxes and to provide for interest to be added to tax arrears, and to establish a percentage by which tax decreases are limited in 2015 to properties in the Commercial, Industrial and Multi-Residential property classes</p>
<p>Being a By-law to authorize the execution of an Agreement between The Corporation of the City of Peterborough, The Peterborough Police Services Board and The Corporation of the Township of Cavan Monaghan, for the provision of police services</p>
<p>Being a By-law to amend the Zoning By-law for the property known as 139 Douro Street</p>
<p>Being a By-law to Adopt Amendment Number 167 to the Official Plan of the City of Peterborough for the properties known as 1637 Hetherington Drive</p>
<p>Being a By-law to Amend the Zoning By-Law for the properties known as 1637 Hetherington Drive and 3789 Water Street</p>
<p>Being a By-law to authorize the execution of Agreements between The Corporation of the City of Peterborough and Trent University for the: (i) construction and operation of a new arena complex, located at Trent University, as a replacement facility for Northcrest Arena; and (ii) servicing of certain of Trent University’s Endowment Lands on the east side of the Otonabee River</p>
<p>and the said by-laws, having been now read a third time and passed, the Mayor and Clerk be authorized to sign and seal the same.</p>
<p>Upon the main motion of Councillors Parnell and Pappas, less By-laws 15-110, 15-115 and 15-116, the By-laws passed.</p>
<p>Other Business</p>
<p>Councillor McWilliams inquired about the status of the Rail Trail Extension project.</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of June 29, 2015</p>
<p>Page 7</p>
<p>Confirmatory By-law</p>
<p>Moved by Councillor Clarke, seconded by Councillor Riel</p>
<p>That the following by-law be read a first, second and third time:</p>
<p>15-118</p>
<p>Being a By-law to confirm the proceedings of the Council at its meeting held on June 29, 2015.</p>
<p>and the said by-law, having been now read a third time and passed, the Mayor and Clerk be authorized to sign and seal the same.</p>
<p>“CARRIED”</p>
<p>Adjournment</p>
<p>Moved by Councillor Pappas, seconded by Councillor Clarke</p>
<p>That this meeting of City Council adjourn at 7:18 p.m.</p>
<p>“CARRIED”</p>
<p>John Kennedy City Clerk</p>
<p>Daryl Bennett Mayor</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of June 29, 2015</p>
<p>Page 8</p>
<p>Planning Committee Report No. 7</p>
<p>Meeting of June 15, 2015</p>
<br>
<p>To The Council of the City of Peterborough, for consideration at its meeting held June 29, 2015</p>
<p>The Planning Committee, as a result of its meeting held on June 15, 2015 recommends as follows:</p>
<p>1.</p>
<p>Public Meeting Under the Planning Act Manager, Planning Division Report PLPD15-032 1637 Hetherington Dr. and 3789 Water St.</p>
<p>That Council approve the recommendations outlined in Report PLPD15-032 dated June 15, 2015, of the Manager, Planning Division, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>d)</p>
<p>e)</p>
<p>That Schedule ‘A’ – Land Use of the Official Plan be amended to change the designation of the lands known as 1637 Hetherington Drive from ‘Major Institution’ to ‘Residential’, in accordance with the draft amendment attached as Exhibit “C” to Report PLPD15-032;</p>
<p>That Schedule ‘E’ – Residential Density of the Official Plan be amended to add the lands at 1637 Hetherington Drive to the ‘Medium Density Residential’ lands, in accordance with the draft amendment attached as Exhibit “C” to Report PLPD15-032;</p>
<p>That the zoning of 1637 Hetherington Drive be amended from the UC – University and College District to the SP.358 - Special Residential District in accordance with the draft amendment attached as Exhibit ‘D’ to Report PLPD15-032;</p>
<p>That the zoning of the westerly portion of 3789 Water Street be amended from the UC – University and College District to the SP.359 - Special Residential District in accordance with the draft amendment attached as Exhibit ‘D’ to Report PLPD15-032; and</p>
<p>That the zoning of the easterly portion of 3789 Water Street be amended from the UC – University and College District to the SP.360 - Special Commercial District in accordance with the draft amendment attached as Exhibit ‘D’ to Report PLPD15-032.</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of June 29, 2015</p>
<p>Page 9</p>
<br>
<p>At the meeting of June 15, 2015 item f) was added:</p>
<p>That the maximum building floor area of commercial uses be reduced from 8,000 m2 to 5,000 m2.</p>
<p>That staff enter into dialogue with the County of Peterborough and/or Township of Selwyn regarding upgrading their portion of Woodland Drive.</p>
<p>2.  Manager, Planning Division</p>
<p>Report PLPD15-021A 139 Douro Street – Zoning By-law Amendment</p>
<p>That Council approve the recommendations outlined in Report PLPD15- 021A dated June 15, 2015 of the Manager, Planning Division, as follows:</p>
<p>That the draft by-law attached to Report PLPD15-021 be amended to eliminate provisions related to the proposed pergola, in accordance with Exhibit ‘B’ attached to Report PLPD15-021A.</p>
<p>That Council approve the revised draft by-law by adding Section 387, SP.357 in accordance with Exhibit ‘B’ attached to Report PLPD15- 021A.</p>
<p>That the zoning of 139 Douro Street be amended from the PS.2 – Public Service District to the SP.357 ‘H’ – Special Residential District in accordance with the draft amendment attached as Exhibit ‘B’ to Report PLPD15-021A.</p>
<p>That the ‘H’ – Holding Symbol be removed from the property subject to Site Plan Approval being granted for the subject property, including a requirement for a primary entrance to the units from a main corridor access from the north side of the building; a pedestrian connection to the principal entrance from the municipal sidewalk along Douro Street; and indoor facilities for the central storage of garbage.</p>
<p>At the meeting of June 15, 2015 item e) was added:</p>
<p>That items b) and c) be amended to permit a maximum of 4 units and the Site Plan return to Council for approval.</p>
<p>f)</p>
<p>g)</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>d)</p>
<br>
<br>
<p>e)</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of June 29, 2015</p>
<p>Page 10</p>
<p>Submitted by,</p>
<p>Councillor Parnell Chair June 15, 2015</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of June 29, 2015</p>
<p>Page 11</p>
<p>Audit Committee Report No. 1</p>
<p>Meeting of June 22, 2015</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>To  The  Council  of  The  City  of  Peterborough  for  Consideration  at  its Meeting held June 29, 2015</p>
<p>The  Audit  Committee,  as  a  Result  of  its  Meeting  held  on  June  22, 2015, Recommends as follows:</p>
<p>1.</p>
<p>Director of Corporate Services Report CPFS15-029 Audit of the Consolidated Financial Statements of the City of Peterborough – Acknowledgement Letter</p>
<p>That Council approve the recommendations outlined in report CPFS15-029 dated June 22, 2015, of the Director of Corporate Services as follows:</p>
<p>a)</p>
<p>b)</p>
<p>That the Acknowledgement Letter Audit of the Consolidated Financial Statements of the City of Peterborough be received.</p>
<p>2.</p>
<p>That the Mayor and Chair of the Audit Committee be authorized to sign the acknowledgement letter.</p>
<br>
<p>Director of Corporate Services Report CPFS15-031 Management Letter and Verbal Audit Findings Report for the year ended December 31, 2014</p>
<p>That Council approve the recommendation outlined in report CPFS15-031 dated June 22, 2015, of the Director of Corporate Services as follows:</p>
<p>That the audit of the December 31, 2014 Financial Statements Letter (Management Letter) appended to report CPFS15-031 and the Verbal Audit Findings Report presented by Collins Barrow Kawarthas LLP for the year ended December 31, 2014 be received as information.</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of June 29, 2015</p>
<p>Page 12</p>
<p>3.</p>
<br>
<p>4.</p>
<br>
<br>
<br>
<br>
<br>
<p>a)</p>
<p>b)</p>
<p>a)</p>
<p>b)</p>
<p>Director of Corporate Services Report CPFS15-032 Tax  Adjustments  under  Section  356  and  Tax  Appeals  under Sections 357, 358 and 359 of the Municipal Act, 2001</p>
<p>That Council approve the recommendations outlined in report CPFS15-032 dated June 22, 2015, of the Director of Corporate Services as follows:</p>
<p>That tax reductions in the amount of $86,026.00, calculated in accordance with Sections 357, 358 and 359 of the Municipal Act, 2001 and attached to report CPFS15-032 as Appendix A be received.</p>
<p>That land apportionments under Section 356 of the Municipal Act, 2001 be received.</p>
<p>Director of Corporate Services Report CPFS15-030 Treasurer’s  Report,  2014  Consolidated  Financial  Report,  2014 Trust Funds Financial Statement and Five-Year Review</p>
<p>That Council approve the recommendations outlined in report CPFS15-030 dated June 22, 2015, of the Director of Corporate Services as follows:</p>
<p>That Report CPFS15-030, Treasurer’s Report, 2014 Consolidated Financial Report, the 2014 Trust Funds Financial Statement and Five Year Review be received as information.</p>
<p>That the underlying accounting policies as detailed in the Notes to the Financial Statements be approved.</p>
<p>c)</p>
<p>That the Treasurer’s Report, 2014 Consolidated Financial Report and 2014 Trust Funds Financial Statement, as presented and received, be submitted to the Province of Ontario.</p>
<p>Submitted by,</p>
<p>Councillor Clarke Chair June 22, 2015</p>
<p>City Council Minutes</p>
<p>Meeting of June 29, 2015</p>
<p>Page 13</p>
<br>
<p>2.</p>
<br>
<p>Committee of the Whole Report No. 14</p>
<p>Meeting of June 22, 2015</p>
<br>
<p>To the Council of The City of Peterborough for consideration at its Meeting held June 29, 2015</p>
<p>The Committee of the Whole as a result of its meeting held on June 22, 2015, recommends as follows:</p>
<p>1.</p>
<p>Director of Corporate Services Report CPFS15-028 2015 Debenture Issue</p>
<p>That Council approve the recommendation outlined in Report CPFS15-028 dated June 22, 2015, of the Director of Corporate Services, as follows:</p>
<p>That the Director of Corporate Services be authorized to prepare the necessary borrowing by-laws and to submit an application to Ontario Infrastructure and Lands Corporation to borrow funds up to a maximum of $24,270,400 to finance City capital projects, and for terms not to exceed the terms indicated on Appendix A, attached to Report CPFS15-028.</p>
<p>Director of Planning and Development Services Report PLHD15-007 Peterborough’s 10-year Housing and Homelessness Plan: 2014 Progress Report</p>
<p>That Council approve the recommendation outlined in Report PLHD15-007 dated June 22, 2015, of the Director of Planning and Development Services, as follows:</p>
<p>a)  That Appendix A, being the 10-year Housing and Homelessness Plan</p>
<p>Progress Report 2014, be received, and</p>
<p>b)</p>
<p>That Appendix B, the 2015 Action Plan be approved.</p>
<p>3.</p>
<br>
<p>4.</p>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of June 29, 2015</p>
<p>Page 14</p>
<p>Director of Planning and Development Services Report PLHD15-005 City of Peterborough response to the Long-Term Affordable Housing Strategy Update Consultation</p>
<p>That Council approve the recommendation outlined in Report PLHD15-007 dated June 22, 2015, of the Director of Planning and Development Services, as follows:</p>
<p>a)</p>
<p>That Appendix A, being the 10-year Housing and Homelessness Plan Progress Report 2014, be received, and</p>
<p>b)</p>
<p>That Appendix B, the 2015 Action Plan be approved.</p>
<p>Director of Community Services Report CSD15-009 Municipal Energy Plan</p>
<p>That Council approve the recommendations outlined in Report CSD15-009 dated June 22, 2015 of the Director of Community Services, as follows:</p>
<p>As recommended in the Sustainable Peterborough Plan, that a Municipal Energy Plan for the City of Peterborough be developed to map current consumption, investigate and recommend energy conservation programs and initiatives, manage current and future demand for energy, and plan for renewable energy generation;</p>
<p>That an application to the Ministry of Energy for up to $50,000 for a Municipal Energy Plan be submitted; and</p>
<p>That Peterborough Distribution Inc. provides the 50% matching funds, up to $50,000, for a total project value of $100,000.</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of June 29, 2015</p>
<p>Page 15</p>
<p>5.   Director of Utility Services</p>
<p>Report USEP15-007 Award of the Completion of all Necessary Documents and Application for the Former Harper Road Landfill Environmental Compliance Approval</p>
<p>That Council approve the recommendation outlined in Report USEP15-007 dated June 22, 2015, of the Director of Utility Services, as follows:</p>
<p>That the Completion of all Necessary Documentation and Application of the Harper Road Landfill ECA be awarded to Dillon Consulting Limited, 235 Yorkland Blvd., Suite 800, Toronto, Ontario, M2J 4Y8 at a total cost of $187,450.00 plus HST of $24,368.50 for a total of $211,818.50.</p>
<br>
<p>6.    Director of Community Services</p>
<br>
<p>Report CSSS15-004 Homelessness Programs and Services Update</p>
<p>That Council approve the recommendations outlined in Report CSSS15-004 dated June 22, 2015, of the Director of Community Services, as follows:</p>
<p>That CMHA-HKPR operate the Lighthouse Community Drop In Centre program from August 1, 2015 to March 31, 2018 at a cost of $469,877 with a possible two year extension;</p>
<p>That St. John’s Anglican Church provide space to operate the Lighthouse Community Drop In Centre program from September 2015 to March 31, 2018 at a cost of $171,100 with a possible two-year extension; and</p>
<p>That St. John’s Anglican Church operate the Warming Room from November to April in 2015-2016, 2016-2017 and 2017-2018 at a cost of $180,000 with a possible two-year extension;</p>
<p>That a presentation from, Dorothy Olver, Social Services; Jim Russell, United Way; Donna Rogers, Four Counties Addiction Services; and Christian Harvey, St. John’s Anglican Church/ Warming Room be received.</p>
<br>
<br>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>d)</p>
<br>
<br>
<br>
<br>
<p>7.</p>
<br>
<br>
<p>8.</p>
<p>City Council Minutes</p>
<p>Meeting of June 29, 2015</p>
<p>Page 16</p>
<p>Director of Community Services Report CSD15-016 Pan Am Torch Relay Community Celebration Post Project Report</p>
<p>That Council approve the recommendations outlined in Report CSD15-016, dated June 22, 2015, of the Director of Community Services, as follows:</p>
<p>That a presentation from the Director of Community Services be received for information.</p>
<p>That an official Pan Am Games Torch be presented to Alec Denys, as the Community Torchbearer.</p>
<br>
<p>Director of Corporate Services Report CPPS15-023 Budget Adjustment and Increase of Contract Amount Awarded to J.J. McGuire for the City Hall Lower Level South and East Wing Renovation</p>
<p>That Council approve the recommendations outlined in Report CPPS15- 023, dated June 22, 2015 of the Director of Corporate Services, as follows:</p>
<p>That the City Hall Lower Level South and East Wing Renovation budget be increased by $46,164, from $559,000 to $605,164, and the $46,164 be transferred from the 2012 City Hall project (3-2.01 Property – Elevator Safety Upgrades) capital project.</p>
<p>That the Contract for T-21-14 with J.J. McGuire General Contractors Inc., 880 Farewell Street, Oshawa, Ontario, L1H 6N6, for the City Hall Lower Level South and East Wing Renovation be increased by $66,154 from $468,500 to $534,654 plus HST of $69,506 for a total cost of $604,160.</p>
<br>
<p>a)</p>
<p>b)</p>
<p>a)</p>
<p>b)</p>
<p>City Council Minutes</p>
<p>Meeting of June 29, 2015</p>
<p>Page 17</p>
<p>9.   Director of Corporate Services</p>
<p>Report CPPS15-029 Budget Adjustment and Award of RFT T-27-15 for Simcoe Street and King Street Parking Garage Rehabilitation</p>
<p>That Council approve the recommendations outlined in Report CPPS15- 029, dated June 22, 2015 of the Director of Corporate Services, as follows:</p>
<br>
<br>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>d)</p>
<br>
<p>That the Capital projects for the King Street Parking Garage Rehabilitation and the Simcoe Street Parking Garage Rehabilitation (Projects 5-12.02 and 5-12.03 in the 2015 Capital Budget) be combined into one project.</p>
<p>That the King Street and Simcoe Street Parking Garage Rehabilitation total budget be increased by $125,000 from $2,315,000 to $2,440,000 and the $125,000 be transferred from the Parking Reserve.</p>
<p>That the portion of RFT T-27-15 for the King Street Parking Garage Rehabilitation be awarded to Heritage Restoration Inc., 60 Venture Drive, Unit 15 and 16, Toronto, Ontario, M1B 3S4 at a cost of $1,443,824.50 plus HST of $187,697.19 for a total cost of $1,631,521.69. That the portion of RFT T-27-15 for the Simcoe Street Parking Garage Rehabilitation be awarded to Heritage Restoration Inc., 60 Venture Drive, Unit 15 and 16, Toronto, Ontario, M1B 3S4 at a cost of $752,235 plus HST of $97,790.55 for a total cost of $850,025.55.</p>
<p>City Council Minutes</p>
<p>Meeting of June 29, 2015</p>
<p>Page 18</p>
<p>10.  Director of Planning and Development Services</p>
<p>Report PLHD15-006 Municipal Incentives for Affordable Rental Housing, 135 Rubidge Street, Peterborough, CB Rubidge Inc. (Canada Builds)</p>
<p>That Council approve the recommendations outlined in Report PLHD15-006 dated June 22, 2015, of the Director of Planning and Development Services, as follows:</p>
<p>That a By-law be adopted authorizing City Council to designate the property at 135 Rubidge Street as a Municipal Housing Facility (MHF) in accordance with By-law Number 12-094, and that the portion of the property that meets the definition of “affordable rental" be exempt from property taxes levied for municipal and school purposes for a period of ten years, in accordance with Report PLHD15-006;</p>
<p>That the redevelopment project at 135 Rubidge Street be exempt from Development Charges as authorized in By-law 14-134 S.22, notwithstanding that a Building Permit will be issued more than five years after the Demolition Permit as normally required under S.22 (b);</p>
<p>That up to $300,000 in capital funding be approved for four affordable rental units, within the total of twelve units, using the Investment in Affordable Housing 2014 Extension program;</p>
<p>That staff be authorized to negotiate the specific terms and conditions of a legal agreement with CB Rubidge Inc. to ensure affordable rents for a minimum of twenty years, within the parameters set out in Report PLHD15-006;</p>
<p>That staff be authorized to consider and, as appropriate, approve a proposal from CB Rubidge Inc. regarding the sale of up to six units to low-income households as selected and supported by Habitat for Humanity Peterborough & Kawartha Region; and</p>
<p>That a By-law be passed to authorize the Mayor and Clerk to sign agreements and other documents to enable Investment in Affordable Housing 2014 Extension Program capital funding and Municipal Housing Facility incentives for the property at 135 Rubidge Street.</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>d)</p>
<p>e)</p>
<p>f)</p>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of June 29, 2015</p>
<p>Page 19</p>
<p>11.  Director of Community Services</p>
<p>Report CSD15-015 2015 Community Investment Grant Appeals Response</p>
<br>
<br>
<br>
<p>That a one time special grant of $11,000 for 2015 be awarded to the Peterborough Community Chaplaincy, with the funds to be allocated from the Arts Culture & Heritage Admin operating budget and,</p>
<p>That staff provide a report in the last quarter of 2015 on the needs of the chaplaincy.</p>
<p>That Artspace be awarded a one time grant of $4,500, allocated from the Arts, Culture and Heritage Admin operating budget and,</p>
<p>That staff prepare a report for the 2016 budget process on the allocation of funds for Artspace.</p>
<br>
<p>12.  YWCA Nutrition Program</p>
<p>That staff provide a report on the YWCA Nutrition Program and how it interacts with existing municipal programs.</p>
<br>
<p>13.  AMO’s Policing Modernization Report</p>
<p>That staff provide a summary report on the April 27, 2015 AMO report entitled “Building a New Public Safety Model in Ontario, AMO’s Policing Modernization Report” and how the report impacts our policing needs.</p>
<p>Submitted by,</p>
<p>Councillor Beamer Chair June 22, 2015</p>
<p>City Council Minutes</p>
<p>Meeting of June 29, 2015</p>
<p>Page 20</p>
<br>
<br>
<p>Committee of the Whole Report No. 15</p>
<p>Meeting of June 29, 2015</p>
<br>
<p>To the Council of The City of Peterborough for consideration at its Meeting held June 29, 2015</p>
<p>The Committee of the Whole as a result of its meeting held on June 29, 2015, recommends as follows:</p>
<p>1.</p>
<p>Director of Community Services Report CSD15-019 New Arena Development Site</p>
<p>That Council approves the recommendations outlined in Report CSD15-019 dated June 29, 2015, of the Director of Community Services, as follows:</p>
<p>That Trent University be approved as the site for a replacement facility for Northcrest Arena;</p>
<p>That a by-law be passed to authorize the Mayor and City Clerk to enter into the requisite agreements including the transfer of land at no cost;</p>
<p>That Staff develop a financing plan in the 2016 Capital budget for servicing the Trent endowment lands on the east bank of the University that will benefit both the new arena facility site and the Trent Research and Innovation Park, and</p>
<p>That Staff bring back a financial plan for the new arena complex that will detail the estimated capital costs and operating plan for the facility.</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>d)</p>
<br>
<p>Submitted by,</p>
<p>Councillor Beamer Chair June 29, 2015</p>
<br>
<br></div>