<!doctype html><div><br>
<br>
<br>
<p>City Council Minutes</p>
<p>City of Peterborough</p>
<p>September 8, 2015</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of City Council held on September 8, 2015, in the</p>
<p>Council Chambers.</p>
<br>
<p>The City Council meeting was called to order at 6:44 p.m. in the Council Chambers, City Hall.</p>
<p>Roll Call: Councillor Baldwin Councillor Beamer Councillor Clarke Councillor Haacke Councillor McWilliams Councillor Pappas Councillor Parnell Councillor Riel Councillor Therrien Councillor Vassiliadis Mayor Bennett</p>
<p>Confirmation of Minutes – August 4, 2015</p>
<p>Moved by Councillor Clarke, second by Councillor Pappas</p>
<p>That the minutes of the meetings of Council held on August 4, 2015, be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interests</p>
<p>Councillor Haacke declared a conflict with items 4 and 5, Planning Committee Reports PLPD15-040 and PLPD15-041, as he has a relative who lives on Crescent Street.</p>
<p>Councillor Haacke declared a conflict with item 6, Committee of the Whole Report CPFS15-042, as his employer was involved in the transaction for 185 King Street.</p>
<p>Councillor Vassiliadis declared a conflict with item 6, Committee of the Whole Report CPFS15-042, as he owns property in proximity to the subject property.</p>
<p>City Council Minutes</p>
<p>Meeting of September 8, 2015</p>
<p>Page 2</p>
<p>Delegations</p>
<p>Registered Delegations:</p>
<p>Jim Kerr, Jim Kerr Excavating, made a delegation to Item 10 of Committee of the Whole Report No. 17 (Report USPW15-012 - Update Report on Proposed Changes to Winter Services).</p>
<p>Mike Maddock, Local 504, made a delegation to Item 10 of Committee of the Whole Report No. 17 (Report USPW15-012 - Update Report on Proposed Changes to Winter Services).</p>
<p>Fran Fearnley, AGP Board of Directors, made a delegation to Item 4 of Planning Committee Report No. 9 (Report PLPD15-041 – Class EA for the Otonabee River Trail Extension and Shoreline Improvements around Little Lake).</p>
<p>Delegations Not Registered:</p>
<p>Planning Committee Report</p>
<p>Kerry Freeman-Meinhardt, 1741 Keppler Crescent, made a delegation to Item 1 of Planning Committee Report No. 9 (Report PLPD15-046 Part of 1600 Sherbrooke Street).</p>
<p>Stan Steinsky, SR Steinsky Construction made a delegation to Item 1 of Planning Committee Report No. 9 (Report PLPD15-046 Part of 1600 Sherbrooke Street).</p>
<p>Committee of the Whole Reports</p>
<p>Jim Kerr, Jim Kerr Excavating, made a delegation to Item 10 of Committee of the Whole Report No. 17 (Report USPW15-012 - Update Report on Proposed Changes to Winter Services).</p>
<p>Other Items on the Agenda</p>
<p>There were no delegations.</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of September 8, 2015</p>
<p>Page 3</p>
<p>Planning Committee Report Number 9</p>
<p>Moved by Councillor Parnell, seconded by Councillor Clarke</p>
<p>That Report Number 9 of the Planning Committee meeting of August 24, 2015 be approved.</p>
<p>Councillor Clarke requested item 2 be separated for discussion and vote.</p>
<p>Due to the previously declared interest of Councillor Haacke, items 4 and 5 were separated for discussion and vote.</p>
<p>Item 1</p>
<p>Upon item 1, the motion carried.</p>
<p>Item 2</p>
<p>Upon item 2, the motion carried.</p>
<p>Item 3, carried</p>
<p>Item 4</p>
<p>Councillor Haacke did not discuss or vote on the matter.</p>
<p>Upon item 4, the motion carried.</p>
<p>Item 5</p>
<p>Councillor Haacke did not discuss or vote on the matter.</p>
<p>Upon item 5, the motion carried.</p>
<p>The main motion of Councillors Parnell and Clarke carried.</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of September 8, 2015</p>
<p>Page 4</p>
<p>Committee of the Whole Report Number 17</p>
<p>Moved by Councillor Beamer, seconded by Councillor Pappas</p>
<p>That Report Number 17 of the Committee of the Whole meeting of August 31, 2015 be approved.</p>
<p>Due  to  the  previously  declared  interests  of Councillors  Haacke  and  Vassiliadis,  item  6 was separated for discussion and vote.</p>
<p>Item 6</p>
<p>Councillors Haacke and Vassiliadis did not discuss or vote on the matter.</p>
<p>Upon item 6, the motion carried.</p>
<p>Upon  the  main  motion  of  Councillors  Beamer  and  Pappas,  less  item  6,  the  motion carried.</p>
<p>Notice of Motion</p>
<p>There were no Notices of Motion.</p>
<p>By-laws</p>
<p>Moved by Councillor Therrien, seconded by Councillor Pappas</p>
<p>That the following by-laws be read a first, second and third time:</p>
<p>15-130</p>
<p>Being a By-law to amend the Zoning By-law for the property known as 241 Rubidge Street</p>
<br>
<p>15-131</p>
<p>15-132</p>
<br>
<p>Being a By-law to amend the Zoning By-law for the property known as 25 Merino Road</p>
<p>Being a By-law to amend By-law 07-027 Being a By-law for the purpose of regulating the Disposal of waste, including establishing of Tipping Fees for the Peterborough County-City Waste Management Facility</p>
<p>City Council Minutes</p>
<p>Meeting of September 8, 2015</p>
<p>Page 5</p>
<p>Being a by-law to authorize the borrowing upon serial debentures in the principal amount of $10,312,600.00 towards the cost of certain capital works described in schedule “A” to this by-law</p>
<p>Being a by-law to authorize the borrowing upon serial debentures in the principal amount of $11,960,500.00 towards the cost of certain capital works described in schedule “A” to this by-law</p>
<p>Being a By-law to Adopt Amendment Number 170 to the Official Plan of the City of Peterborough for the property known as Part of 1600 Sherbrooke Street</p>
<p>Being a By-law to amend the Zoning By-law for the property known as Part of 1600 Sherbrooke Stree</p>
<p>Being a By-law to authorize the execution of an Encroachment Agreement for lands municipally known as 400 Ashburnham Drive, in the City of Peterborough</p>
<p>Being a By-law to authorize the execution of an Encroachment Agreement for lands municipally known as 43 James Street, in the City of Peterborough</p>
<p>Being a By-law to Appoint Parking Enforcement Officers at 26 Hospital Drive and 243 Milroy Drive and to remove a Parking Enforcement Officer at 171 King Street, 785 The Kingsway and 747, 749, 751, 753, 755, 759 Erskine Ave., 1789 Stenson Blvd., 637 The Queensway, 300 Hedonics Road and 765 The Kingsway</p>
<p>Being a by-law to authorize the execution of the Municipal Contribution agreement between Her Majesty the Queen in Right of Ontario as represented by the Minister of Agriculture, Food and Rural Affairs and the Corporation of the City of Peterborough for the transfer of the Small Communities Fund grant to the Municipality to improve and renew public infrastructure</p>
<p>15-133</p>
<p>15-134</p>
<p>15-135</p>
<p>15-136</p>
<p>15-137</p>
<p>15-138</p>
<p>15-139</p>
<p>15-140</p>
<p>15-141</p>
<p>Being a By-law to amend By-law number 09-136 being a By-law for the Regulation of Parking</p>
<p>and the said by-laws, having been now read a third time and passed, the Mayor and Clerk be authorized to sign and seal the same.</p>
<p>“CARRIED”</p>
<p>City Council Minutes</p>
<p>Meeting of September 8, 2015</p>
<p>Page 6</p>
<p>Other Business</p>
<p>Councillor Therrien mentioned the upcoming Town Ward meeting on September 12, 2015 at Stewart Street Park, 12:00 p.m.</p>
<p>Councillor Vassiliadis mentioned the upcoming Monaghan Ward meeting on September 22, 2015 at Westdale United Church, 6:30 p.m.</p>
<p>Councillor Haacke mentioned that a Northcrest Ward meeting will be held in October.</p>
<p>Councillor McWilliams mentioned there would be an Otonabee Ward meeting convened in the future.</p>
<p>Confirmatory By-law</p>
<p>Moved by Councillor Baldwin, seconded by Councillor Haacke</p>
<p>That the following by-law be read a first, second and third time:</p>
<p>15-142</p>
<p>Being a By-law to confirm the proceedings of the Council at its meeting held on September 8, 2015.</p>
<p>and the said by-law, having been now read a third time and passed, the Mayor and Clerk be authorized to sign and seal the same.</p>
<p>“CARRIED”</p>
<p>Adjournment</p>
<p>Moved by Councillor Clarke, seconded by Councillor Baldwin</p>
<p>That this meeting of City Council adjourn at 9:00 p.m.</p>
<p>“CARRIED”</p>
<p>John Kennedy City Clerk</p>
<p>Daryl Bennett Mayor</p>
<p>City Council Minutes</p>
<p>Meeting of September 8, 2015</p>
<p>Page 7</p>
<p>Planning Committee Report No. 9</p>
<p>Meeting of August 24, 2015</p>
<br>
<br>
<br>
<p>To The Council of the City of Peterborough, for consideration at its meeting held September 8, 2015</p>
<p>The Planning Committee, as a result of its meeting held on August 24, 2015 recommends as follows:</p>
<p>1.</p>
<p>Public Meeting Under the Planning Act Manager, Planning Division Report PLPD15-046 Part of 1600 Sherbrooke Street</p>
<p>That Council approve the recommendations outlined in Report PLPD15-046 dated August 24, 2015, of the Manager, Planning Division, as follows:</p>
<p>That Schedule ‘E’ – Residential Density of the Official Plan be amended to include the lands known as Part of 1600 Sherbrooke Street in the ‘Medium Density Residential’ designation in accordance with the draft amendment attached as Exhibit ‘D’ to Report PLPD15- 046;</p>
<p>That the subject property be rezoned from SP.167 – Special Public Service District to SP.293,3m – Special Residential District in accordance with Exhibit ‘E’ attached to Report PLPD15-046.</p>
<p>At the meeting of August 24, 2015 the following item was added:</p>
<p>That the application return to Council for site plan approval.</p>
<br>
<p>2.</p>
<p>Public Meeting under The Planning Act Manager, Planning Division Report PLPD15-044 25 Merino Road</p>
<p>That Council approve the recommendation outlined in Report PLPD14-044 dated August 24, 2015, of the Manager, Planning Division, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<br>
<br>
<br>
<p>3.</p>
<p>City Council Minutes</p>
<p>Meeting of September 8, 2015</p>
<p>Page 8</p>
<p>That the zoning of 25 Merino Road be amended from the R.1,1f,2e,8b,10d,13f – Residential District to the R.1,1f,2e,8b,10c,13f – Residential District in accordance with the draft amendment attached as Exhibit ‘D’ to Report PLPD14-044.</p>
<p>Public Meeting Under The Planning Act Manager, Planning Division Report PLPD15-045 241 Rubidge Street</p>
<p>That Council approve the recommendations outlined in Report PLPD15-045 dated August 24, 2015, of the Manager, Planning Division, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>That Section 3.9 of the Zoning By-law be amended to add Exception 299 to add ‘an office with a maximum floor area of 300m2 and ‘a personal service establishment’ to the list of permitted uses; and to reduce the minimum number of parking spaces for residential to 1 parking space per unit, in accordance with the draft amendment attached as Exhibit ‘D’ to Report PLPD15-045.</p>
<p>That the zoning of 241 Rubidge Street be amended from the C.1 Commercial District to the C.1-299 ‘H’ – Commercial District in accordance with the draft amendment attached as Exhibit ‘D’ to Report PLPD15-045.</p>
<p>c)</p>
<p>That the ‘H’ – Holding Symbol be removed subject to a Development and Encroachment Agreement, to address the following:</p>
<p>i)</p>
<p>ii)</p>
<p>Encroachment of the proposed canopy shown on the concept site plan attached as Exhibit B to Report PLPD15-045.</p>
<p>Improvement of the City’s Right of Way to include landscaping between the back of the sidewalk and the property line; removal of the depressed curb along Rubidge Street at the north end of the site, adjacent to the parking spaces; and replacement of the depressed curb with new full height curbing and landscaping.</p>
<p>City Council Minutes</p>
<p>Meeting of September 8, 2015</p>
<p>Page 9</p>
<p>4.  Manager, Planning Division</p>
<p>Manager, Transportation Division Report PLPD15-041 Class EA for the Otonabee River Trail Extension and Shoreline Improvements around Little Lake</p>
<p>That Council approve the recommendations outlined in Report PLPD15-041 dated August 24, 2015, of the Manager, Planning Division and the Manager, Transportation Division, as follows:</p>
<p>That Council endorse the Class Environmental Assessment for the Otonabee River Trail Extension and Shoreline Improvements around Little Lake and the preliminary design be approved in accordance with Exhibit “A” attached to Report PLPD15-041.</p>
<p>That the proposed traffic calming measures for the area recommended in the Class Environmental Assessment Report, as shown in Exhibit “A”  attached to Report PLPD15-041 be approved.</p>
<p>That Council direct staff to finalize the Otonabee River Trail Extension and Shoreline Improvements Environmental Study Report and post for public review for the mandatory 30 day public review period in accordance with the provisions of the Municipal Class Environmental Assessment Process.</p>
<br>
<p>5.  Manager, Planning Division</p>
<p>Report PLPD15-040 Land-Use/Design Study for the Special Policy Area Identified in Schedule “J” of the Official Plan</p>
<br>
<p>That Council approve the recommendations outlined in Report PLPD15-040 dated August 24, 2015, of the Manager, Planning Division, as follows:</p>
<p>That the Land-Use / Urban Design Study prepared by Gladki Planning Associates and Suzita Morita Inc. for the Special Policy Area as identified on Schedule J of the City’s Official Plan be adopted, and</p>
<p>That the process to amend the Official Plan and the Zoning By-law be initiated to implement the conclusions of the Land-Use / Urban Design Study.</p>
<p>That the Cultural Heritage Assessment dated February 26, 2014, completed by ERA Architects, be received.</p>
<br>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>City Council Minutes</p>
<p>Meeting of September 8, 2015</p>
<p>Page 10</p>
<p>Submitted by,</p>
<p>Councillor Parnell Chair August 24, 2015</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>2.</p>
<p>City Council Minutes</p>
<p>Meeting of September 8, 2015</p>
<p>Page 11</p>
<p>Committee of the Whole Report No. 17</p>
<p>Meeting of August 31, 2015</p>
<br>
<p>To the Council of The City of Peterborough for consideration at its Meeting held September 8, 2015</p>
<p>The Committee of the Whole as a result of its meeting held on August 31, 2015, recommends as follows:</p>
<p>1.</p>
<p>Report of Closed Session</p>
<p>City Clerk</p>
<p>Report CPCLK15-008 Citizen Appointment to the Museum and Archives Advisory Committee</p>
<p>That Council approve the recommendation outlined in Report CPCLK15-008, dated August 31, 2015, of the City Clerk, on behalf of Trent University, as follows:</p>
<p>That Jodi Aoki be appointed to serve as the Trent University representative in the Museum and Archives Advisory Committee.</p>
<p>Director of Corporate Services Report CPFS15-041 Quarterly Financial Report (Unaudited) As of June 30, 2015</p>
<p>That Council approve the recommendations outlined in Report CPFS15-041 dated August 31, 2015, of the Director of Corporate Services, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>That the June 30, 2015 Quarterly Financial Report (unaudited) attached as Appendix A to Report CPFS15-041, dated August 31, 2015, be received.</p>
<p>That the request of the Peterborough Housing Corporation (PHC) Board to draw up to $386,700 from the Social Housing PHC Capital Reserve to finance the installation of underground vaults to accommodate bulk water meters at various multi-unit facilities, be approved.</p>
<p>City Council Minutes</p>
<p>Meeting of September 8, 2015</p>
<p>Page 12</p>
<p>c)</p>
<p>That $150,000 be drawn from the Social Housing Reserve and transferred to Peterborough Housing Corporation to assist the Corporation in completing a Capital Financing and Community Revitalization Plan for the entire social housing portfolio under its control, be approved.</p>
<p>Director of Corporate Services Report CPFS15-043 Municipal Infrastructure Funding – Next Intake (2015)</p>
<p>That Council approve the recommendations outlined in Report CPFS15-043 dated August 31, 2015, of the Director of Corporate Services, as follows:</p>
<p>That an Expression of Interest and, if successful, an application be submitted to the Ontario Community Infrastructure Fund for the Bears Creek Flood Reduction - Marina Boulevard Major System By-Pass Project; and</p>
<p>That an Expression of Interest and, if successful, an application be submitted to the Small Communities Fund for the Simcoe Street and Water Street Rehabilitation Project.</p>
<p>Director of Utility Services Report USWM15-008 Extension of Recycling Processing Contracts</p>
<p>That Council approve the recommendations outlined in Report USWM15-008 dated August 31, 2015, of the Director of Utility Services, as follows:</p>
<p>That the existing contract with HGC Management Inc. 460 Woody Road, Unit 4, Oakville, Ontario, for the operation of the Household Hazardous Waste Facility, Recyclables Processing, and operation of the Drop-Off Depot be extended from January 1, 2017 until December 31, 2019, as per the changes noted in Report USWM15-008 under “Terms of Extension”; and</p>
<p>That the Mayor and City Clerk be authorized to sign an amending agreement with HGC Management Inc.</p>
<p>a)</p>
<p>b)</p>
<p>a)</p>
<p>b)</p>
<br>
<p>3.</p>
<br>
<p>4.</p>
<br>
<br>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of September 8, 2015</p>
<p>Page 13</p>
<p>Director of Utility Services Report USPW15-011 Update Council on the Goose Control Program</p>
<p>That Council approve the recommendation outlined in Report USPW15-011 dated August 31, 2015, of the Director of Utility Services, as follows:</p>
<p>That Report USPW15-011 updating Council on the Goose Control Program be received for information.</p>
<p>Director of Corporate Services Report CPFS15-042 Loan Guarantee to Infrastructure Ontario on behalf of Peterborough County City Health Unit</p>
<p>That Council approve the recommendations outlined in Report CPFS15-042, dated August 31, 2015 of the Director of Corporate Services as follows:</p>
<p>a)</p>
<p>That the City of Peterborough provide a loan guarantee to Infrastructure Ontario for an amount not to exceed $2.16 million, representing the City’s 60% share of the estimated $3.6 million debenture for the Peterborough County City Health Unit for the purchase and financing of the leasehold improvements at their new premises at 185 King Street.</p>
<p>b)</p>
<p>That the Director of Corporate Services be authorized to prepare all necessary documents including a by-law and corresponding Capital Facilities Agreement with the Peterborough County City Health Unit.</p>
<p>Director of Corporate Services Report CPFS15-044 Small Communities Fund Contribution Agreement for the Bethune Street (Dalhousie Street to Dublin Street) Sanitary Sewer, Road and Jackson Creek Diversion Project</p>
<p>That Council approve the recommendations outlined in Report CPFS15-044 dated August 31, 2015, of the Director of Corporate Services, as follows:</p>
<p>5.</p>
<br>
<p>6.</p>
<br>
<p>7.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of September 8, 2015</p>
<p>Page 14</p>
<p>That a by-law be passed authorizing the Mayor and Clerk to sign the Small Communities Fund (SCF) contribution agreement between Her Majesty the Queen in Right of Ontario as represented by the Minister of Agriculture, Food and Rural Affairs and the City of Peterborough;</p>
<p>That the Bethune Trunk Sewer Capital Project (2011 Capital Budget Ref #5-6.06) be combined with the Bethune Street – Dalhousie to Dublin Street Project (2015 Capital Budget Ref #5-2.04) and be named the Bethune Street Project; and</p>
<p>That the Bethune Street Project be amended as set out in Appendix A to Report CPFS15-044, to reflect the Small Communities Fund grant.</p>
<p>Director of Community Services Director of Utility Services Report USEC15-019 Pre-commitment of Funds and Award of Tender T-46-15 for Beavermead Campground Improvements</p>
<p>That Council approve the recommendations outlined in Report USEC15-019 dated August 31, 2015, of the Director of Utility Services and the Director of Community Services, as follows:</p>
<p>That the $272,850 balance of the approved 2012 and 2013 Beavermead Campground Park Implementation capital budgets (project reference # 6-7.03) be increased by $322,835 to $595,685, and be pre-committed to the 2016 Capital budget;</p>
<p>That RFT document T-46-15 for Beavermead Campground Improvements be awarded to Accurex Inc., 150 O’Carroll Avenue, Unit 1, Peterborough, ON, K9H 4V3 at a total cost of $479,247.28 plus $62,302.15 HST for a total of $541,549.43; and</p>
<p>That a provisional work value of $30,000 be committed to the project and Utility Services be provided the authority to adjust the purchase order value to an upset limit of $509,247.28 excluding HST as necessary to complete this project.</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<br>
<p>8.</p>
<br>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of September 8, 2015</p>
<p>Page 15</p>
<p>Director of Utility Services Report USEC15-020 Brealey Drive Reconstruction Design Lansdowne Street to Sherbrooke Street</p>
<p>That Council approve the recommendations outlined in Report USEC15-020 dated August 31, 2015, of the Director of Utility Services, as follows:</p>
<p>a)</p>
<p>That the design concept for Brealey Drive from Lansdowne Street West to Sherbrooke Street as described in Report USEC15-020 be adopted as the basis for detailed design; and</p>
<p>b)</p>
<p>That staff be directed to consider closing Brealey Drive to through traffic and detour traffic during the reconstruction works.</p>
<br>
<p>10.  Director of Utility Services</p>
<p>Report USPW15-012 Update Report on Proposed Changes to Winter Services</p>
<p>That Council approve the recommendations outlined in Report USPW15-012 dated August 31, 2015, of the Director of Utility Services, as follows:</p>
<p>a)</p>
<p>That a 3-year pilot project to augment the existing Winter Control Services by the addition of 6 Temporary Winter Operators, the leasing of two articulated loaders and the hiring of additional contracted trucks as required be implemented; and</p>
<p>b)</p>
<p>That staff report back on the success of the pilot project after the 2017/2018 winter season.</p>
<p>9.</p>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of September 8, 2015</p>
<p>Page 16</p>
<p>11.  Director of Utility Services</p>
<p>Report USPW15-013 Award of RFP P-20-15 for Design, Supply, and Installation of Three Play Structures</p>
<br>
<p>That Council approve the recommendation outlined in Report USPW15-013 dated August 31, 2015 of the Director of Utility Services, as follows:</p>
<p>That RFP document P-20-15 for the Design, Supply, and Installation of Three Play Structures be awarded to KSL Design Ltd, 18 Spalding Drive, P.O. Box 25085, Brantford, ON N3T 6K5 at a total cost of $332,591.30 plus $43,236.87 HST for a total of $375,828.17.</p>
<br>
<p>12.  Community Bus Service</p>
<p>That staff report back to Committee of the Whole on the costs and feasibility of introducing a new Community Bus Service, as recommended in the 2012 Transit Operations Review, to provide enhanced service to seniors residences, medical facilities, shopping and other activity centers.</p>
<br>
<p>Submitted by,</p>
<p>Councillor Beamer Chair August 31, 2015</p>
<br>
<br></div>