<!doctype html><div><br>
<br>
<br>
<p>City Council Minutes</p>
<p>City of Peterborough</p>
<p>October 20, 2015</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of City Council held on October 20, 2015, in the</p>
<p>Council Chambers.</p>
<br>
<p>The City Council meeting was called to order at 6:30 p.m. in the Council Chambers, City Hall.</p>
<p>Roll Call: Councillor Baldwin Councillor Beamer Councillor Clarke Councillor Haacke Councillor McWilliams Councillor Pappas Councillor Parnell Councillor Riel Councillor Therrien Councillor Vassiliadis Mayor Bennett</p>
<p>Confirmation of Minutes – September 28, 2015</p>
<p>Moved by Councillor Pappas, second by Councillor Parnell</p>
<p>That the minutes of the meeting of Council held on September 28, 2015, be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interests</p>
<p>Councillor Haacke declared an interest with Item 1, Planning Committee Report PLPD15-052, as his employer is involved with the property.</p>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of October 20, 2015</p>
<p>Page 2</p>
<p>Delegations</p>
<p>Registered Delegations: Marie Bongard, 461 Albert Street, made a delegation to Item 2 of Planning Committee Report No. 11 (Report PLPD15-049 – 1180 High Street).</p>
<p>Delegations Not Registered:</p>
<p>Planning Committee Report</p>
<p>There were no delegations.</p>
<p>Audit Committee Report</p>
<p>There were no delegations.</p>
<p>Committee of the Whole Report</p>
<p>There were no delegations.</p>
<p>Other Items on the Agenda</p>
<p>Barry Monaghan, 1201 Grandview Avenue, made a delegation to Item 2 of Planning Committee Report No. 11 (Report PLPD15-049 – 1180 High Street).</p>
<p>Rodney Marois, 421 Sheridan Avenue, made a delegation to Item 4 of Planning Committee Report No. 11 (Report PLPD15-051 – Part of 1875 Lansdowne Street West).</p>
<p>Jeff Ayotte, Trent Swim Club, made a delegation to Item 4 of Committee of the Whole Report No. 19 (Report CSD15-021 – New Arena Development Strategy).</p>
<p>Planning Committee Report Number 11</p>
<p>Moved by Councillor Parnell, seconded by Councillor Pappas</p>
<p>That Report Number 11 of the Planning Committee meeting of October 5, 2015 be approved.</p>
<p>City Council Minutes</p>
<p>Meeting of October 20, 2015</p>
<p>Page 3</p>
<p>That the site plan be returned to Council for final approval.</p>
<p>Item 4</p>
<p>Moved by Councillor Pappas, seconded by Councillor Beamer</p>
<p>That the motion be amended by adding recommendation c) as follows:</p>
<p>c)</p>
<p>“CARRIED”</p>
<p>Item 1</p>
<p>Due to his previously declared interest, Councillor Haacke did not discuss or vote on the matter.</p>
<p>Upon Item 1 the motion carried.</p>
<p>Upon Item 2 the motion carried.</p>
<p>Upon Item 3 the motion carried.</p>
<p>Upon Item 4 as amended, the motion carried.</p>
<p>Upon the main motion of Councillors Parnell and Pappas the motion passed.</p>
<p>Audit Committee Report Number 2</p>
<p>Moved by Councillor Clarke, seconded by Councillor Beamer</p>
<p>That Report Number 2 of the Audit Committee meeting of October 13, 2015 be approved.</p>
<p>“CARRIED”</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of October 20, 2015</p>
<p>Page 4</p>
<p>Committee of the Whole Report Number 19</p>
<p>Moved by Councillor Beamer, seconded by Councillor Haacke</p>
<p>That Report Number 19 of the Committee of the Whole meeting of October 13, 2015 be approved.</p>
<p>The recommendations in item 4 were separated for discussion and vote.</p>
<p>Item 4</p>
<p>Upon recommendations a), c) and d) the recommendations carried.</p>
<p>Moved by Councillor Haacke, seconded by Councillor Beamer</p>
<p>That recommendation b) be deleted.</p>
<p>“CARRIED”</p>
<p>That recommendation b) be replaced with:</p>
<p>b)</p>
<p>That a competitive pool be included in the schematic design of the arena complex and only constructed should sufficient funding be available in phase 1.</p>
<p>“CARRIED”</p>
<p>Upon  the  main  motion  of  Councillors  Beamer  and  Haacke,  less  item  4,  the  motion carried.</p>
<p>Notice of Motion</p>
<p>There were no Notices of Motion.</p>
<p>City Council Minutes</p>
<p>Meeting of October 20, 2015</p>
<p>Page 5</p>
<p>By-laws</p>
<p>Moved by Councillor Clarke, seconded by Councillor Parnell</p>
<p>That the following by-laws be read a first, second and third time:</p>
<p>15-149</p>
<p>Being a By-law to authorize the transfer of lands municipally known as 2100 Technology Drive, in the City of Peterborough, in the County of Peterborough</p>
<p>Being a By-law to amend the Zoning By-law to remove a Holding Symbol from Lots 1 to 28, inclusive, Registered Plan of Subdivision 45M-243 (Cahill Drive Extension)</p>
<p>Being a By-law to Amend the Zoning By-law for the property known as 75 Alexander Avenue</p>
<p>Being a By-law to Amend the Zoning By-law for the property known as 1180 High Street</p>
<p>Being a By-law to Adopt Amendment Number 171 to the Official Plan of the City of Peterborough for the property known as Part of 1875 Lansdowne Street West</p>
<br>
<p>15-150</p>
<p>15-151</p>
<p>15-152</p>
<p>15-153</p>
<p>15-154</p>
<p>Being a By-law to Amend the Zoning By-law for the property known as Part of 1875 Lansdowne Street West</p>
<p>and the said by-laws, having been now read a third time and passed, the Mayor and Clerk be authorized to sign and seal the same.</p>
<p>“CARRIED”</p>
<p>Other Business</p>
<p>There were no items of Other Business</p>
<br>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of October 20, 2015</p>
<p>Page 6</p>
<p>Confirmatory By-law</p>
<p>Moved by Councillor Parnell, seconded by Councillor Beamer</p>
<p>That the following by-law be read a first, second and third time:</p>
<p>15-155</p>
<p>Being a By-law to confirm the proceedings of the Council at its meeting held on October 20, 2015.</p>
<p>and the said by-law, having been now read a third time and passed, the Mayor and Clerk be authorized to sign and seal the same.</p>
<p>“CARRIED”</p>
<p>Adjournment</p>
<p>Moved by Councillor Beamer, seconded by Councillor Pappas</p>
<p>That this meeting of City Council adjourn at 7:50 p.m.</p>
<p>“CARRIED”</p>
<p>John Kennedy City Clerk</p>
<p>Daryl Bennett Mayor</p>
<p>City Council Minutes</p>
<p>Meeting of October 20, 2015</p>
<p>Page 7</p>
<p>Planning Committee Report No. 11</p>
<p>Meeting of October 5, 2015</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>2.</p>
<br>
<p>To The Council of the City of Peterborough, for consideration at its meeting held October 20, 2015</p>
<p>The Planning Committee, as a result of its meeting held on October 5, 2015 recommends as follows:</p>
<p>1.  Manager, Planning Division</p>
<p>Report PLPD15-052 By-law to remove an ‘H” – Holding Symbol from the Zoning By-law for Plan of Subdivision 45M-243 Cahill Drive Extension 149282 Ontario Inc. City of Peterborough 1597, 1607, 1619 & 1633 Lansdowne Street West</p>
<p>That Council approve the recommendation outlined in Report PLPD15-052 dated October 5, 2015, of the Manager, Planning Division, as follows:</p>
<p>That Lots 1 to 28, inclusive on Plan of Subdivision 45M-243 (Cahill Drive) be rezoned from R.1,1m,2m-278-‘H’; R.1-278-‘H’; and R.1,8z-278-‘H’ to R.1,1m,2m-278; R.1-278; and R.1,8z-278 in accordance with Exhibit A attached to Report PLPD15-052.</p>
<p>Public Meeting Under the Planning Act Manager, Planning Division Report PLPD15-049 1180 High Street</p>
<p>That Council approve the recommendations outlined in Report PLPD15-049 dated October 5, 2015, of the Manager, Planning Division, as follows:</p>
<p>a)</p>
<p>That the subject property be rezoned from R.1 – Residential District to SP.362-‘H’ - Special Residential District in accordance with Exhibit ‘D attached to Report PLPD15-049.</p>
<br>
<p>3.</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of October 20, 2015</p>
<p>Page 8</p>
<p>b)</p>
<p>That the ‘H’ Holding Symbol be removed at such time as the following have been addressed:</p>
<p>i)</p>
<p>Any necessary off site easements;</p>
<p>ii)</p>
<p>Submission of a Stage 1-2 archaeological assessment;</p>
<p>iii)</p>
<p>iv)</p>
<p>Downstream sewer capacity is confirmed and a storm sewer/drainage solution is approved by the City as part of the Site Plan Approval;</p>
<p>Site Plan Approval which will include a grading plan that will respect the future urbanization of High Street and either construction of a sidewalk along the High Street frontage or a financial contribution toward a future sidewalk.</p>
<p>At the meeting of October 5, 2015 items c) and d) were added:</p>
<p>That the City of Peterborough as part of the Traffic Operations Study undertake a traffic study for the High Street area.</p>
<p>That the site plan be circulated to all property owners within a 120 m radius of the development.</p>
<p>Public Meeting under The Planning Act Manager, Planning Division Report PLPD15-050 75 Alexander Avenue</p>
<p>That Council approve the recommendations outlined in Report PLPD15-050 dated October 5, 2015, of the Manager, Planning Division, as follows:</p>
<p>That Section 3.9 – Exceptions, of the Comprehensive Zoning By-law #1997-123 be amended to add Exception 300 to permit a driveway with a maximum width of 8.1m at the street line; and a minimum ceiling height of 0.8m above grade for a dwelling unit in the basement, in accordance with the draft amendment attached as Exhibit ‘C’ to Report PLPD15-050.</p>
<p>That the zoning of the subject property be amended from the R.1,1m,2m - Residential District to the R.2-300-‘H’ – Residential District, in accordance with the draft amendment attached as Exhibit ‘C’ to Report PLPD15-050.</p>
<p>c)</p>
<p>d)</p>
<br>
<p>a)</p>
<p>b)</p>
<br>
<p>4.</p>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of October 20, 2015</p>
<p>Page 9</p>
<p>c)</p>
<p>That the ‘H’ Holding Symbol be removed subject to Site Plan Approval for the necessary changes to the driveway/parking area.</p>
<p>Public Meeting Under The Planning Act Manager, Planning Division Report PLPD15-051 Part of 1875 Lansdowne Street West</p>
<p>That Council approve the recommendations outlined in Report PLPD15-051 dated October 5, 2015, of the Manager, Planning Division, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>That Section 4.3.5 of the Official Plan be amended to add provisions to Section 4.3.5.8 Special Provisions for the Lansdowne Street West Neighbourhood Centre, to permit up to one general merchandise retail store with a maximum floor area of 2350m2 in accordance with the draft amendment attached as Exhibit “C” to Report PLPD15-051;</p>
<p>That Section 384 Special District 354 of Zoning By-law 1997-123 be amended by adding a “general merchandise” use to Section 384.2(x); increase the maximum size of the uses in 384.2(x) to 2314m2 in Regulation 384.3c)iv); reduce the building setback from Dobbin Road to 14m; and reduce the total number of required loading spaces from 2 to 1 in accordance with Exhibit ‘D’ attached to Report PLPD15-051.</p>
<p>At the meeting of October 20, 2015 item c) was added:</p>
<p>c)</p>
<p>That the site plan be returned to Council for final approval.</p>
<br>
<p>Submitted by,</p>
<p>Councillor Parnell Chair October 5, 2015</p>
<p>City Council Minutes</p>
<p>Meeting of October 20, 2015</p>
<p>Page 10</p>
<p>Audit Committee Report No. 2 Meeting of October 13, 2015</p>
<br>
<br>
<br>
<br>
<p>To The Council of the City of Peterborough for consideration at its meeting held October 20, 2015</p>
<p>The Audit Committee, as a result of its meeting held on October 13, 2015, Recommends as follows:</p>
<p>1.</p>
<p>Director of Corporate Services Report CPFS15-048 2015 Audit Plan and Pre-Audit Planning Letter</p>
<p>a)</p>
<p>b)</p>
<p>That Council approve the recommendations outlined in report CPFS15-048 dated October 13, 2015, of the Director of Corporate Services as follows:</p>
<p>That the 2015 Audit Plan for the Corporation of the City of Peterborough attached to Report CPFS15-048 as Appendix A be received.</p>
<p>That the Mayor and Chair of the Audit Committee be authorized to sign the Pre-Audit Planning Letter attached to Report CPFS15-048 as Appendix B.</p>
<p>Submitted by,</p>
<p>Councillor Clarke Chair October 13, 2015</p>
<p>City Council Minutes</p>
<p>Meeting of October 20, 2015</p>
<p>Page 11</p>
<p>Committee of the Whole Report No. 19</p>
<p>Meeting of October 13, 2015</p>
<br>
<p>To the Council of The City of Peterborough for consideration at its Meeting held October 20, 2015</p>
<p>The Committee of the Whole as a result of its meeting held on October 13, 2015, recommends as follows:</p>
<p>1.</p>
<p>Report of Closed Session Director, Planning and Development Services Report PLPD15-054 Sale of Industrial Land at 2100 Technology Drive</p>
<p>That Council approve the recommendation outlined in Report PLPD15-054 dated October 13, 2015, of the Director, Planning & Development Services, as follows:</p>
<p>That a by-law be passed to authorize the sale of 5.0 acres of industrial land, known municipally as 2100 Technology Drive, to Cannabis Agronomy Inc., at a sale price of $200,000 ($40,000 per acre).</p>
<p>City Clerk Report CPCLK15-014 Public Consultation for Municipal Conflict of Interest Act</p>
<p>2.</p>
<p>That Committee approve the recommendations outlined in Report CPCLK15-014 dated October 13, 2015, of the City Clerk, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>That the report CPCLK15-014 be received for information, and</p>
<p>That Council authorize staff to forward comments from the City of Peterborough on the Municipal Conflict of Interest Act to the Ministry of Municipal Affairs and Housing, as described in Report CPCLK15-014.</p>
<br>
<br>
<br>
<br>
<p>3.</p>
<br>
<br>
<br>
<br>
<p>4.</p>
<p>City Council Minutes</p>
<p>Meeting of October 20, 2015</p>
<p>Page 12</p>
<p>Chief Administrative Officer Report CA015-021 Emergency Management Program</p>
<p>That Council approve the recommendation outlined in Report CAO15-021, dated October 13, 2015, of the Chief Administrative Officer, as follows:</p>
<p>That the presentation on the City’s Emergency Management Program by Jodi DeNoble, Manager, Emergency and Risk Management for the City of Peterborough, be received for information.</p>
<p>Director of Community Services Report CSD15-021 New Arena Development Strategy</p>
<p>That Council approves the recommendations outlined in Report CSD15-021 dated October 13, 2015, of the Director of Community Services, as follows:</p>
<p>a)</p>
<p>That the Northcrest replacement facility, containing the following features, be approved:</p>
<p>A twin pad arena with 500 seats on each pad; An elevated walking/running track; 12 team change rooms and 2 official rooms; A team training centre; Office / Administration / Customer Service space for City staff; Office space leased to sport group(s);</p>
<p>i. ii. iii. iv. v. vi. vii.  Commercial space to include a “brand” restaurant and a</p>
<p>smaller concession;</p>
<p>viii.  Three multipurpose rooms; ix. x. xi.</p>
<p>Public washrooms, elevator and storage; Landscaping and parking; LEED certified construction standard;</p>
<p>b)</p>
<p>c)</p>
<p>d)</p>
<p>That a competitive pool be included in the schematic design of the arena complex and only constructed should sufficient funding be available in phase 1.</p>
<p>That an environmental impact study and schematic design process commence immediately;</p>
<p>That staff report back to Council in spring 2016 with a schematic design plan for Council consideration.</p>
<p>City Council Minutes</p>
<p>Meeting of October 20, 2015</p>
<p>Page 13</p>
<p>5.  Mayor Daryl Bennett</p>
<p>Report COU15-007 Council Appointment to Committees and Boards</p>
<br>
<br>
<br>
<p>That Council approve the recommendations outlined in Report COU15-007, dated October 13, 2015, as follows:</p>
<p>That the current appointments of Members of Council to Committees, Portfolios and Boards be extended for a one-year term ending November 30, 2016, with the appointments as follow:</p>
<p>Standing committees</p>
<p>a)</p>
<p>Budget Committee (all Members of Council)</p>
<p>Henry Clarke, Chair Andrew Beamer, Vice Chair</p>
<p>Committee of the Whole (all Members of Council)</p>
<p>Andrew Beamer, Chair Dean Pappas, Vice Chair</p>
<p>Planning Committee (all Members of Council)</p>
<p>Lesley Parnell, Chair Dean Pappas, Vice Chair</p>
<p>Audit Committee</p>
<p>Daryl Bennett Henry Clarke, Chair Gary Baldwin, Vice Chair Don Vassiliadis Andrew Beamer</p>
<p>Deputy Mayor</p>
<p>Henry Clarke, First Deputy Mayor Dan McWilliams, Second Deputy Mayor</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of October 20, 2015</p>
<p>Page 14</p>
<br>
<p>Portfolios</p>
<p>b)</p>
<p>Dean Pappas, Chair of Arts, Culture and Heritage Portfolio Henry Clarke, Chair of Finance Portfolio Dan McWilliams, Chair of Fire Services Portfolio Don Vassiliadis, Vice-Chair of Fire Services Portfolio Lesley Parnell, Chair of Public Works Portfolio Keith Riel, Chair of Social Services Portfolio Don Vassiliadis, Chair of Transportation Portfolio Gary Baldwin, Chair of Waste Management Portfolio Dean Pappas, Chair of Diversity Portfolio Keith Riel, Chair of Seniors Portfolio Dave Haacke, Chair of Arenas Portfolio Diane Therrien, Chair of Parks & Recreation Portfolio Diane Therrien, Chair of Youth Portfolio Dan McWilliams, Vice-Chair of Economic Development Portfolio</p>
<p>Daryl Bennett, Chair of the following portfolios:</p>
<p>Economic Development Governance Human Resources Intergovernmental Relations Public Relations Strategic Initiatives Specific committee appointments such as the Eastern Ontario Mayors’ Committee and legislative responsibilities.</p>
<p>Advisory Committees</p>
<p>Affordable Housing Action Committee</p>
<br>
<p>c)</p>
<p>i)</p>
<br>
<p>ii)</p>
<br>
<p>iii)</p>
<br>
<p>Diane Therrien</p>
<p>Dave Haacke Diane Therrien</p>
<p>Lesley Parnell Dean Pappas</p>
<p>Arenas, Parks and Recreation Advisory Committee</p>
<p>Arts, Culture and Heritage Advisory Committee</p>
<p>City Council Minutes</p>
<p>Meeting of October 20, 2015</p>
<p>Page 15</p>
<p>iv)</p>
<p>Boundary Committee</p>
<p>Daryl Bennett Andrew Beamer Henry Clarke Dan McWilliams</p>
<p>Cenotaph Advisory Committee</p>
<p>Henry Clarke</p>
<p>Citizen Appointment Selection Committee</p>
<p>vii)  Community Investment Grants Advisory Committee</p>
<p>viii)  Museum and Archives Advisory Committee</p>
<p>Keith Riel</p>
<p>Procedural By-law Review Committee</p>
<p>Daryl Bennett, Chair Andrew Beamer Henry Clarke Dave Haacke Dan McWilliams Dean Pappas</p>
<p>Dan McWilliams Keith Riel</p>
<p>Daryl Bennett Henry Clarke</p>
<p>Youth Commission</p>
<p>Diane Therrien</p>
<p>Corporations and Legislatively Mandated Committees / Boards / Authorities</p>
<p>Accessibility Advisory Committee</p>
<p>Keith Riel</p>
<p>v)</p>
<br>
<p>vi)</p>
<p>ix)</p>
<p>x)</p>
<p>i)</p>
<br>
<p>d)</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of October 20, 2015</p>
<p>Page 16</p>
<p>ii)</p>
<p>City/County Waste Management Committee</p>
<p>City of Peterborough Holdings Inc.</p>
<p>East City/Ashburnham Business Improvement Area</p>
<p>Fairhaven Committee of Management</p>
<p>Joint Services Steering Committee</p>
<p>iii)</p>
<p>iv)</p>
<p>v)</p>
<p>vi)</p>
<p>Gary Baldwin Dean Pappas Don Vassiliadis</p>
<p>Daryl Bennett Dan McWilliams</p>
<p>Keith Riel</p>
<p>Dave Haacke Keith Riel</p>
<p>Daryl Bennett Andrew Beamer Henry Clarke Gary Baldwin</p>
<p>Dean Pappas</p>
<p>Daryl Bennett Andrew Beamer Don Vassiliadis</p>
<p>Gary Baldwin Henry Clarke Lesley Parnell</p>
<p>vii)  Peterborough Architectural Conservation Advisory Committee</p>
<p>viii)  Otonabee Region Conservation Authority</p>
<p>Peterborough County-City Health Unit</p>
<p>ix)</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of October 20, 2015</p>
<p>Page 17</p>
<p>Peterborough Downtown Business Improvement Area</p>
<p>Peterborough Public Library Board</p>
<p>xii)  Peterborough Utilities Commission</p>
<p>Daryl Bennett</p>
<p>Gary Baldwin Keith Riel</p>
<p>Daryl Bennett Gary Baldwin Dave Haacke Lesley Parnell Don Vassiliadis</p>
<p>xiii)  Police Services Board</p>
<p>Dave Haacke Dan McWilliams</p>
<p>Liaison Committees</p>
<p>e)</p>
<p>Art Gallery of Peterborough, Board of Directors</p>
<p>Diane Therrien</p>
<p>Downtown Action Committee</p>
<p>Daryl Bennett Diane Therrien Dean Pappas</p>
<p>iii)  Greater Peterborough Chamber of Commerce</p>
<p>Daryl Bennett</p>
<p>Liaison Committee with Fleming College</p>
<p>Daryl Bennett Diane Therrien Lesley Parnell</p>
<p>x)</p>
<p>xi)</p>
<p>i)</p>
<p>ii)</p>
<p>iv)</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of October 20, 2015</p>
<p>Page 18</p>
<p>Liaison Committee with Trent University</p>
<p>v)</p>
<p>Daryl Bennett Andrew Beamer Dean Pappas Don Vassiliadis</p>
<p>vi)  Multicultural Canada Day Committee</p>
<p>Dean Pappas</p>
<p>vii)  Peterborough Agricultural Society</p>
<p>Dave Haacke</p>
<p>viii)  Peterborough Housing Authority</p>
<p>Andrew Beamer</p>
<p>Shining Waters Railway Board of Directors</p>
<p>ix)</p>
<p>Daryl Bennett</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>6.</p>
<br>
<p>7.</p>
<p>Heritage Pictures on Walls at City Hall</p>
<p>That staff provide a report on the option of enhancing our heritage and culture on the walls of City Hall and the Council Chambers, including associated costs.</p>
<p>Capital Projects Report</p>
<p>That staff provide a report forecasting the funds required and time lines for key capital projects.</p>
<br>
<p>Submitted by,</p>
<p>Councillor Beamer Chair October 13, 2015</p>
<br>
<br></div>