<!doctype html><div><br>
<br>
<p>CITY COUNCIL MINUTES</p>
<p>CITY OF PETERBOROUGH</p>
<br>
<p>MARCH 23, 2009</p>
<br>
<p>DRAFT MINUTES NOT APPROVED</p>
<br>
<br>
<br>
<br>
<br>
<p>MINUTES  OF  A  MEETING  OF  CITY  COUNCIL  HELD  ON MARCH  23,  2009,</p>
<p>IN THE COUNCIL CHAMBERS, CITY HALL</p>
<br>
<p>Meeting called to order at 6:34 p.m. in the Council Chambers.</p>
<p>Roll Call: Councillor Doris Councillor Farquharson Councillor Hall Councillor Clarke Councillor Martin Councillor Pappas Councillor Peacock Councillor Peeters Councillor Vass Mayor Ayotte</p>
<p>Absent: Councillor Eggleton</p>
<p>Confirmation of Minutes</p>
<p>Moved by Councillor Clarke, seconded by Councillor Pappas</p>
<p>That the minutes of the meeting of Council held on March 2, 2009 be confirmed.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>Councillor Clarke declared an interest in item 26 of the Committee of the Whole Report No. 6 as his employer is a major producer of bottled water.</p>
<br></div>