<!doctype html><div><br>
<br>
<br>
<p>City Council Minutes</p>
<p>City of Peterborough</p>
<p>March 14, 2016</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of City Council held on March 14, 2016, in the</p>
<p>Council Chambers.</p>
<br>
<p>The City Council meeting was called to order at 6:42 p.m. in the Council Chambers, City Hall.</p>
<p>Roll Call: Councillor Baldwin Councillor Beamer Councillor Clarke Councillor McWilliams Councillor Pappas Councillor Parnell Councillor Riel Councillor Therrien Councillor Vassiliadis Mayor Bennett</p>
<p>Regrets: Councillor Haacke</p>
<p>Confirmation of Minutes – February 22 and 29, 2016</p>
<p>Moved by Councillor Clarke, second by Councillor Parnell</p>
<p>That the minutes of the meetings of Council held on February 22 and 29, 2016 be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interests</p>
<p>There were no disclosures of interest.</p>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of March 14, 2016</p>
<p>Page 2</p>
<p>Delegations</p>
<p>Registered Delegations: Martin Woo, made a delegation to Item 1 of Planning Committee Report No. 2 (Report PLPD16-020 - World Town Planning Day Presentation).</p>
<p>Nancy Scheurer, 162 Bowen Drive, made a delegation to Item 4 of Planning Committee Report No. 2 (Report PLPD16-019 - Zoning By-law Update Regarding Definitions and Regulations affecting Rental Units including Lodging Houses).</p>
<p>Marie Bongard, 461 Albert Street, made a delegation to Item 9 of the Committee of the Whole Report No. 5 (Report PLPD16-016 - Purchase of 359 Aylmer Street North).</p>
<p>Bill Templeman, 301 Boswell Avenue, made a delegation to Item 9 of the Committee of the Whole Report No. 5 (Report PLPD16-016 - Purchase of 359 Aylmer Street North).</p>
<p>Atul Swarup, Peterborough & District Landlord Association, made a delegation to Item 4 of Planning Committee Report No. 2 (Report PLPD16-019 - Zoning By-law Update Regarding Definitions and Regulations affecting Rental Units including Lodging Houses).</p>
<p>Scott Donovan, 514 Bolivar Street, made a delegation to Item 4 of Planning Committee Report No. 2 (Report PLPD16-019 - Zoning By-law Update Regarding Definitions and Regulations affecting Rental Units including Lodging Houses).</p>
<p>Delegations Not Registered:</p>
<p>Planning Committee Report</p>
<p>Bob Clarke, 52 John Street, Port Hope, representing Parkview Homes, made a delegation to Item 3 of Planning Committee Report No. 2 (Report PLPD16-018 – 1757 Sherbrooke Street).</p>
<p>Kevin Duguay, 560 Romaine Street, made a delegation to Item 3 of Planning Committee Report No. 2 (Report PLPD16-018 – 1757 Sherbrooke Street).</p>
<p>Committee of the Whole Report</p>
<p>Roy Brady, 136 Ware Street, made a delegation to Item 9 of Committee the Whole Report No. 5 (Report PLPD16-013 – Purchase of 359 Aylmer Street).</p>
<p>City Council Minutes</p>
<p>Meeting of March 14, 2016</p>
<p>Page 3</p>
<p>Audrey Gallay, 1400 Wildlark Drive, made a delegation to Item 9 of Committee the Whole Report No. 5 (Report PLPD16-013 – Purchase of 359 Aylmer Street).</p>
<p>Other Items on the Agenda</p>
<p>There were no delegations.</p>
<p>Planning Committee Report Number 2</p>
<p>Moved by Councillor Parnell, seconded by Councillor Therrien</p>
<p>That Report Number 2 of the Committee of the Whole meeting of February 29, 2016 be approved.</p>
<p>“CARRIED”</p>
<p>Committee of the Whole Report Number 5</p>
<p>Moved by Councillor Beamer, seconded by Councillor Riel</p>
<p>That Report Number 5 of the Committee of the Whole meeting of March 7, 2016 be approved.</p>
<p>Item 12 – Review of Council Salaries</p>
<p>Councillor Clarke asked that item 12 be separated and a recorded vote taken.</p>
<p>The Clerk conducted a roll call.</p>
<p>In Support of Motion Councillor Pappas Councillor Beamer Councillor Baldwin Councillor Parnell Councillor Vassiliadis Councillor Therrien Councillor Riel</p>
<p>“CARRIED”</p>
<br>
<p>Opposed Councillor Clarke Councillor McWilliams Mayor Bennett</p>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of March 14, 2016</p>
<p>Page 4</p>
<p>Opposed Councillor Therrien Councillor Vassiliadis Councillor Baldwin Councillor Pappas</p>
<br>
<p>Item 9 – Report PLPD16-013, Purchase of 359 Aylmer Street North</p>
<p>Councillor Pappas requested the item be separated and a recorded vote taken.</p>
<p>Councillor Therrien left the meeting at 8:49 p.m. and returned at 8:51 p.m.</p>
<p>The Clerk conducted a roll call.</p>
<p>In Support of Motion Councillor Riel Councillor McWilliams Councillor Parnell Councillor Beamer Councillor Clarke Mayor Bennett</p>
<p>“CARRIED”</p>
<p>Upon the main motion of Councillors Beamer and Riel, less items 9 and 12, the motion carried.</p>
<p>Notice of Motion</p>
<p>There were no Notices of Motion.</p>
<p>By-laws</p>
<p>Moved by Councillor Riel, seconded by Councillor Pappas</p>
<p>That the following by-laws be read a first, second and third time:</p>
<p>16-026</p>
<p>Being a By-Law to designate 831 Dutton Road as a Municipal Housing Facility and to authorize the execution of Agreements between the Corporation of the City of Peterborough and Peterborough Kinsman Club Enterprises Limited</p>
<p>16-027</p>
<br>
<p>Being a By-law to establish a Museum and Archives Advisory Committee</p>
<p>16-028</p>
<p>16-029</p>
<br>
<p>16-030</p>
<p>16-031</p>
<p>City Council Minutes</p>
<p>Meeting of March 14, 2016</p>
<p>Page 5</p>
<p>Being a By-law to extend the heritage property tax relief program to the property at 252 Parkhill Road West, known historically as Ashley</p>
<p>Being a By-law to Amend the Zoning By-law for the property known as 101 Park Street South</p>
<p>Being a By-law to Amend the Zoning By-law for the property known as 1757 Sherbrooke Street</p>
<p>Being a By-law to authorize the borrowing of $15,000,000 for 2016 current expenditures</p>
<p>and the said by-laws, having been now read a third time and passed, the Mayor and Clerk be authorized to sign and seal the same.</p>
<p>“CARRIED”</p>
<p>Councillor Pappas requested By-law 16-032 be separated for discussion and vote.</p>
<p>That the following by-laws be read a first, second and third time:</p>
<p>16-032</p>
<p>Being a By-law to authorize the acquisition of the land municipally known as 359 Aylmer Street North, being described as Town Plan 1, Part Lot 8, South of Simcoe St., West of George St., in the City of Peterborough, in the County of Peterborough</p>
<p>and the said by-law, having been now read a third time and passed, the Mayor and Clerk be authorized to sign and seal the same.</p>
<p>Upon By-law 16-032 the By-law carried.</p>
<p>Other Business</p>
<p>Councillor Vassiliadis advised that the second Monaghan Ward participatory budget meeting will take place on March 16, 2016 at the Alliance Church.</p>
<p>Councillor Parnell advised that the second Otonabee Ward Participatory budget meeting will occur on March 23, 2016 at the Canadian Canoe Museum.</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of March 14, 2016</p>
<p>Page 6</p>
<p>Confirmatory By-law</p>
<p>Moved by Councillor Baldwin, seconded by Councillor Riel</p>
<p>That the following by-law be read a first, second and third time:</p>
<p>16-033</p>
<p>Being a By-law to confirm the proceedings of Council at its meeting held on March 14, 2016.</p>
<p>and the said by-law, having been now read a third time and passed, the Mayor and Clerk be authorized to sign and seal the same.</p>
<p>“CARRIED”</p>
<p>Adjournment</p>
<p>Moved by Councillor Pappas, seconded by Councillor Clarke</p>
<p>That this meeting of City Council adjourn at 9:04 p.m.</p>
<p>“CARRIED”</p>
<br>
<p>John Kennedy City Clerk</p>
<p>Daryl Bennett Mayor</p>
<p>City Council Minutes</p>
<p>Meeting of March 14, 2016</p>
<p>Page 7</p>
<p>Planning Committee Report No. 2</p>
<p>Meeting of February 29, 2016</p>
<br>
<br>
<br>
<br>
<br>
<p>2.</p>
<p>a)</p>
<p>b)</p>
<br>
<br>
<p>To The Council of the City of Peterborough, for consideration at its meeting held March 14, 2016</p>
<p>The Planning Committee, as a result of its meeting held on February 29, 2016 recommends as follows:</p>
<p>1.  Manager, Planning Division</p>
<p>Report PLPD16-020 World Town Planning Day Presentation</p>
<p>That Council approve the recommendations outlined in Report PLPD16- 020 dated February 29, 2016, of the Manager, Planning Division, as follows:</p>
<p>That Report PLPD16-020 be received.</p>
<p>That Council receive a presentation regarding the results of the January 28, 2016 World Town Planning Day event at the March 14, 2016 City Council meeting.</p>
<p>Public Meeting Under The Planning Act Manager, Planning Division Report PLPD16-017 101 Park Street South</p>
<p>That Council approve the recommendation outlined in Report PLPD16-017 dated February 29, 2016, of the Manager, Planning Division, as follows:</p>
<p>That Exception 40 of Section 3.9 of the Comprehensive Zoning By-law be amended to add ‘a retail establishment for the sale, service and repair of appliances, with a maximum floor area of 265m2 (2852 ft2)’, in accordance with the draft amendment attached as Exhibit “C” to Report PLPD16-017.</p>
<p>City Council Minutes</p>
<p>Meeting of March 14, 2016</p>
<p>Page 8</p>
<p>Public Meeting Under The Planning Act Manager, Planning Division Report PLPD16-018 1757 Sherbrooke Street</p>
<p>3.</p>
<br>
<br>
<br>
<p>a)</p>
<br>
<p>b)</p>
<br>
<p>a)</p>
<p>b)</p>
<p>That Council approve the recommendations outlined in Report PLPD16-018 dated February 29, 2016, of the Manager, Planning Division, as follows:</p>
<p>That the zoning of the subject property be amended from the PS.2 – Public Service District to SP.264-275-301-‘H’– Special Commercial District, in accordance with the draft amendment attached as Exhibit “C” to Report PLPD16-018.</p>
<p>That the ‘H’ Holding Symbol be removed subject to Site Plan Approval being granted.</p>
<p>4.  Manager, Planning Division</p>
<p>Report PLPD16-019 Zoning By-law Update Regarding Definitions and Regulations affecting Rental Units including Lodging Houses</p>
<p>That Council approve the recommendations outlined in Report PLPD16-019 dated February 29, 2016, of the Manager, Planning Division, as follows:</p>
<p>That report PLPD16-019 be received.</p>
<p>That Staff be directed to proceed with the formal public notice for the recommended amendments to the Zoning By-law to implement the regulatory measures presented in Report PLPD16-019 based on response to public consultation.</p>
<br>
<p>Submitted by,</p>
<p>Councillor Parnell Chair February 29, 2016</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of March 14, 2016</p>
<p>Page 9</p>
<p>Committee of the Whole Report No. 5</p>
<p>Meeting of March 7, 2016</p>
<p>To the Council of The City of Peterborough for consideration at its Meeting held March 14, 2016</p>
<p>The Committee of the Whole as a result of its meeting held on March 7, 2016, recommends as follows:</p>
<p>1.</p>
<p>Director of Planning and Development Services Report PLHD16-001 Kinsmen Garden Court – Planning for the future</p>
<p>That Council approve the recommendations outlined in Report PLHD16-001 dated March 7, 2016 of the Director of Planning and Development Services, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>d)</p>
<p>That a By-law be adopted authorizing City Council to designate the property at 831 Dutton Road as a Municipal Housing Facility (MHF) in accordance with By-law Number 12-094 and authorizing the Mayor and Clerk to sign agreements and other documents to provide municipal incentives, in accordance with Report PLHD16-001;</p>
<p>That Peterborough Kinsman Club Enterprises Limited (Kinsman) continue to be exempt from property tax for municipal and school purposes, but that the exemption take the form of an annual rebate from the City, in an amount equal to the annual property tax paid for 831 Dutton Road, for five years commencing August 2, 2017, with the possibility of a subsequent five year renewal;</p>
<p>That staff be authorized to negotiate the specific terms and conditions of a legal agreement with Peterborough Kinsman Club Enterprises Limited (Kinsman) to ensure affordable rents for a minimum of five years, with the possibility of a subsequent five year renewal; and,</p>
<p>That staff report back on the long-term potential for the property, and undertake research and consultations in a manner consistent with the development of the Strategic Plan for Social Housing, to obtain information that may have a direct impact on the City’s interest in the property and the City’s interest in maintaining or enhancing the Service Level for social housing.</p>
<br>
<br>
<br>
<br>
<p>2.</p>
<br>
<p>3.</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of March 14, 2016</p>
<p>Page 10</p>
<p>Director of Planning and Development Services Report PLHD16-002 Municipal Incentives for Affordable Rental Housing, 342 Downie Street Peterborough</p>
<p>That Council approve the recommendations outlined in Report PLHD16-002 dated March 7, 2016, of the Director of Planning and Development Services, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>d)</p>
<p>That the Affordable Housing and Central Area Community Improvement Plan (CIP) applications be approved for the proposed four (4) unit affordable rental housing project at 342 Downie Street in accordance Report PLHD16-002;</p>
<p>That the project be approved for $230,000 in capital funding for four (4) affordable rental units using the Investment in Affordable Housing 2014 Extension program funding;</p>
<p>That a By-law be adopted authorizing City Council to designate the property at 342 Downie Street as a Municipal Housing Facility (MHF), in accordance with By-law Number 12-094, and authorizing the Mayor and Clerk to sign agreements and other documents to provide municipal incentives, in accordance with Report PLHD16-002; and</p>
<p>That a By-law be adopted authorizing City Council to exempt the property at 342 Downie Street from property tax levied for municipal and school purposes for a period of ten years, as a Municipal Housing Facilities in accordance with By-law Number 12-094.</p>
<p>Director of Corporate Services Report CPFS16-005 By-law to Authorize Borrowing $15,000,000 for 2016 Current Expenditures</p>
<p>That Council approve the recommendation outlined in Report CPFS16-005 dated March 7, 2016, of the Director of Corporate Services, as follows:</p>
<p>That a by-law be enacted to establish a $15,000,000 borrowing limit for the 2016 year to finance current expenditures.</p>
<p>City Council Minutes</p>
<p>Meeting of March 14, 2016</p>
<p>Page 11</p>
<p>Director of Corporate Services Report CPFS16-004 2015 Council Remuneration Statements</p>
<p>That Council approve the recommendation outlined in Report CPFS16-004 dated March 7, 2016 of the Director of Corporate Services as follows:</p>
<p>That the 2015 Remuneration Statements for Council Members and Council appointees to boards and commissions, outlined in report CPFS16-004, dated March 7, 2016 of the Director of Corporate Services, be received for information.</p>
<p>Director of Community Services Report CSACH16-002 A Report to Repeal the Museum Archives Advisory Committee By-Law</p>
<p>That Council approve the recommendations outlined in Report CSACH16- 002 dated March 7, 2016, of the Director of Community Services, as follows:</p>
<p>a)</p>
<p>That By-Law 11-019, being a By-Law to Establish a Museum and Archives Advisory Committee (MAAC), be repealed (Appendix A);</p>
<p>b)</p>
<p>That By-Law 16-027, being a By-Law to Establish a Museum and Archives Advisory Committee, be adopted (Appendix B).</p>
<p>Director of Community Services Report CSACH16-003 Heritage Property Tax Relief Program Exception for 252 Parkhill Road</p>
<p>That Council approve the recommendation outlined in Report CSACH16- 003 dated March 7, 2016 of the Director of Community Services as follows:</p>
<p>That a by-law be passed, attached as Appendix A, as permitted by Section 10 of By-Law 11-086, being a by-law to provide for a tax rebate in respect of designated heritage properties, allowing the property at 252 Parkhill Road West to be included in the HPTRP.</p>
<br>
<p>4.</p>
<p>5.</p>
<br>
<p>6.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of March 14, 2016</p>
<p>Page 12</p>
<p>Director of Community Services Report CSAD16-001 Agreement Extension Approval - Arena Division</p>
<p>That Council approve the recommendation outlined in Report CSAD16-001 dated March 7, 2016, of the Director of Community Services as follows:</p>
<p>That the Agreement between the City of Peterborough and Brown’s Fine Food Services Inc. for the operation of food services at the Peterborough Memorial Centre be extended for a period of two (2) years ending May 31, 2018.</p>
<p>Director of Utility Services Report USEC16-007 Asset Management Maturity Assessment and Roadmap</p>
<p>That Council approve the recommendation outlined in Report USEC16-007 dated March 7, 2016, of the Director of Utility Services, as follows:</p>
<p>That the presentation from Mr. Owen James of Associated Engineering regarding the status of asset management in the City of Peterborough be received for information.</p>
<p>Director, Planning and Development Services Report PLPD16-013 Purchase of 359 Aylmer Street North</p>
<p>That Council approve the recommendation outlined in Report PLPD16-013 dated March 7, 2016, of the Director, Planning and Development Services, as follows:</p>
<p>a)</p>
<p>That a by-law be passed to authorize the purchase of the property at 359 Aylmer St North, described as Town Plan 1, Part Lot 8, South of Simcoe St., West of George St., City of Peterborough, for $650,000.00 plus land transfer tax of $9,475.00.</p>
<p>Committee, at its meeting of March 7, 2016 added the following recommendation:</p>
<br>
<p>7.</p>
<br>
<p>8.</p>
<p>9.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of March 14, 2016</p>
<p>Page 13</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>b)</p>
<p>That staff provide a report to Council on the potential uses of the property, prior to demolition of the existing building.</p>
<br>
<p>10.  Director of Corporate Services</p>
<p>Report CPFS16-008 2015 Investment Report</p>
<p>That Council approve the recommendation outlined in Report CPFS16-008 dated March 7, 2016, of the Director of Corporate Services, as follows:</p>
<p>That the 2015 Investment Report be received for information.</p>
<br>
<p>11.  Director of Community Services</p>
<p>Report CSRS16-001 2020 Ontario Summer Games</p>
<p>That Council approve the recommendations outlined in Report CSRS16-001 dated March 7, 2016, of the Director of Community Services, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>That Staff be directed to provide a Letter of Intent to the Ministry of Tourism Culture and Sport expressing the City’s interest in submitting a bid to host the 2020 Ontario Summer Games; and</p>
<p>That Staff report back to Council at a future date, with recommendations on whether or not to submit a bid to host the 2020 Ontario Summer Games.</p>
<br>
<p>12.  Review of Council Salaries</p>
<p>That staff establish a citizen advisory committee to review Council salaries using comparators from around the province and,</p>
<p>That staff report back to Council with the findings.</p>
<p>Submitted by,</p>
<p>Councillor Beamer Chair March 7, 2016</p>
<br></div>