<!doctype html><div><br>
<br>
<p>CITY COUNCIL MINUTES</p>
<p>CITY OF PETERBOROUGH</p>
<br>
<p>APRIL14, 2009</p>
<br>
<p>DRAFT MINUTES NOT APPROVED</p>
<br>
<br>
<br>
<br>
<br>
<p>MINUTES OF A MEETING OF CITY COUNCIL HELD ON APRIL 14, 2009, IN</p>
<p>THE COUNCIL CHAMBERS, CITY HALL</p>
<br>
<p>Meeting called to order at 6:40 p.m. in the Council Chambers.</p>
<p>Roll Call: Councillor Doris Councillor Farquharson Councillor Hall Councillor Clarke, Deputy Mayor Councillor Martin Councillor Pappas Councillor Peacock Councillor Vass Councillor Eggleton</p>
<p>Absent: Mayor Ayotte Councillor Peeters</p>
<p>Confirmation of Minutes</p>
<p>Moved by Councillor Pappas, seconded by Councillor Peacock</p>
<p>That the minutes of the meeting of Council held on March 23, 2009 be confirmed.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interest</p>
<p>Councillor Pappas declared a conflict of interest in item 1, Committee of Whole Report 7. Pappas Billiards is across the street from a property identified in this report.  He did not vote on this matter.</p>
<p>Councillor Martin declared a conflict of interest in item 11, Committee of Whole Report 7.  He is a member of the Kawartha FEST committee and the chair of the Peterborough Kinsmen Club.</p>
<p>Councillor Doris declared a conflict of interest in item 13, Committee of Whole Report 7.  His daughter is member of the Little Lake Cemetery board.</p>
<br></div>