<!doctype html><div><br>
<p>City Council Minutes</p>
<p>City of Peterborough</p>
<p>May 16, 2016</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of City Council held on May 16, 2016, at</p>
<p>Showplace Performance Centre.</p>
<br>
<p>The City Council meeting was called to order at 6:02 p.m. at Showplace Performance Centre, 290 George Street North, Peterborough.</p>
<p>Roll Call: Councillor Baldwin Councillor Beamer Councillor Clarke Councillor Haacke Councillor McWilliams Councillor Pappas Councillor Parnell Councillor Riel Councillor Therrien Councillor Vassiliadis Mayor Bennett</p>
<p>Confirmation of Minutes – April 25, 2016</p>
<p>Moved by Councillor Pappas, seconded by Councillor Clarke</p>
<p>That the minutes of the meeting of Council held on April 25, 2016 be approved.</p>
<p>“CARRIED”</p>
<p>Disclosure of Pecuniary Interests</p>
<p>Councillor McWilliams declared interests in Items 4 and 7 of Committee of the Whole Report No. 8, Report CSD16-015 – Community Investment Grants as he is the Board Chair for Camp Kawartha, and Report CPFS16-012 – December 31, 2015 Financial Update Report (Unaudited) (recommendation c), as he is a member of the Peterborough Police Service Board and the Board is currently under investigation by the Ontario Civilian Police Commission.</p>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of May 16, 2016</p>
<p>Page 2</p>
<p>Councillor Therrien declared an interest in Items 4 and 5 of Committee of the Whole Report No. 8, Report CSD16-015 – Community Investment Grants 2016 and Report CSD16-016 – Community Projects Grants as she is employed by an agency receiving funding and her partner is a Board member on an agency that is receiving funding.</p>
<p>Councillor Pappas declared an interest in Item 5 of Committee of the Whole Report 8, Report CSD16-016 – Community Projects Grants, as his spouse is treasurer for the Peterborough Boy Scouts.</p>
<p>Councillor Clarke declared an interest in Item 4 of Committee of the Whole Report No. 8, Report CSD16-015 – Community Investment Grants 2016, as he sits on the Board for St. John’s Ambulance.</p>
<p>Councillor Haacke declared an interest in Item 7 of Committee of the Whole Report No. 8, Report CPFS16-012 – December 31, 2015 Financial Update Report (Unaudited) (recommendation c), as he is a member of the Peterborough Police Service Board and the Board is currently under investigation by the Ontario Civilian Police Commission.</p>
<p>Mayor Bennett declared an interest in Item 6 of Committee of the Whole Report No. 8, Report USPW16-011 – Award for Proposal P-12-16 for the Supply and Delivery of Five Trucks with Front Plows and Winds, as he owns a business involved in the repair of truck engines.</p>
<p>Delegations</p>
<p>Registered Delegations:</p>
<p>Susan Dunkley, Alzheimer Society Peterborough Kawartha Lakes Northumberland & Haliburton, made a delegation to Item 4 of Committee of the Whole Report No. 8 (Report CSD16-015 - Community Investment Grants 2016).</p>
<p>Bob Hall, Ken East and Jamie Tudhope, Police Services Board will make a delegation to Item 7 of Committee of the Whole Report No. 8 (Report CPFS16-012 - December 31, 2015 Financial Update Report (Unaudited).</p>
<p>Kady Denton, 657 Water Street, made a delegation to Item 1 of Planning Committee Report No. 5 (Report PLPD16-038 - Official Plan Amendment and Zoning By-law Amendment for 1400 Crawford Drive and 586 Harper Road).</p>
<p>Dave Madill, DBIA, made a delegation to Item 1 of Planning Committee Report No. 5 (Report PLPD16-038 - Official Plan Amendment and Zoning By-law Amendment for 1400 Crawford Drive and 586 Harper Road).</p>
<p>City Council Minutes</p>
<p>Meeting of May 16, 2016</p>
<p>Page 3</p>
<p>Mark Cumming, 523 Aylmer Street, made a delegation to Item 1 of Planning Committee Report No. 5 (Report PLPD16-038 - Official Plan Amendment and Zoning By-law Amendment for 1400 Crawford Drive and 586 Harper Road).</p>
<p>Kim Zippel, 1712 Stenson Blvd., made a delegation to Item 1 of Planning Committee Report No. 5 (Report PLPD16-038 - Official Plan Amendment and Zoning By-law Amendment for 1400 Crawford Drive and 586 Harper Road).</p>
<p>Sheila Nabigon-Howlett, No Casino Peterborough, made a delegation to Item 1 of Planning Committee Report No. 5 (Report PLPD16-038 - Official Plan Amendment and Zoning By-law Amendment for 1400 Crawford Drive and 586 Harper Road).</p>
<p>Judith Meade, 457 Gordon Avenue, made a delegation to Item 1 of Planning Committee Report No. 5 (Report PLPD16-038 - Official Plan Amendment and Zoning By-law Amendment for 1400 Crawford Drive and 586 Harper Road).</p>
<p>Hans Vink, 223 Fife’s Bay Road, Selwyn, will make a delegation to Item 1 of Planning Committee Report No. 5 (Report PLPD16-038 - Official Plan Amendment and Zoning By-law Amendment for 1400 Crawford Drive and 586 Harper Road).</p>
<p>Scott McFadden, Mayor of Cavan Monaghan, will make a delegation to Item 1 of Planning Committee Report No. 5 (Report PLPD16-038 - Official Plan Amendment and Zoning By-law Amendment for 1400 Crawford Drive and 586 Harper Road).</p>
<p>Councillor Clarke left the meeting at 7:58 pm and returned 8:01p.m.</p>
<p>Delegations Not Registered:</p>
<p>Committee of the Whole Report</p>
<p>There were no delegations . Planning Committee Report</p>
<p>Jo Hayward Haines, Ennismore, made a delegation to Item 1 of Planning Committee Report No. 5 (Report PLPD16-038 - Official Plan Amendment and Zoning By-law Amendment for 1400 Crawford Drive and 586 Harper Road).</p>
<p>Carlene Johnson, 1 Wallace Street, made a delegation to Item 1 of Planning Committee Report No. 5 (Report PLPD16-038 - Official Plan Amendment and Zoning By-law Amendment for 1400 Crawford Drive and 586 Harper Road).</p>
<p>City Council Minutes</p>
<p>Meeting of May 16, 2016</p>
<p>Page 4</p>
<p>Roy Brady, 136 Ware Street, made a delegation to Item 1 of Planning Committee Report No. 5 (Report PLPD16-038 - Official Plan Amendment and Zoning By-law Amendment for 1400 Crawford Drive and 586 Harper Road).</p>
<p>Councillor Beamer left the meeting at 8:15 p.m. and returned 8:18 p.m.</p>
<p>Rachel Worchis-Vita, 561 Gilmour Avenue, made a delegation to Item 1 of Planning Committee Report No. 5 (Report PLPD16-038 - Official Plan Amendment and Zoning By-law Amendment for 1400 Crawford Drive and 586 Harper Road).</p>
<p>Bob James, 781 Barnardo Avenue, made a delegation to Item 1 of Planning Committee Report No. 5 (Report PLPD16-038 - Official Plan Amendment and Zoning By-law Amendment for 1400 Crawford Drive and 586 Harper Road).</p>
<p>Carol Andrews, Marina Boulevard, made a delegation to Item 1 of Planning Committee Report No. 5 (Report PLPD16-038 - Official Plan Amendment and Zoning By-law Amendment for 1400 Crawford Drive and 586 Harper Road).</p>
<p>Other Items on the Agenda</p>
<p>There were no delegations.</p>
<p>Committee of the Whole Report Number 8</p>
<p>Moved by Councillor Beamer, seconded by Councillor Pappas</p>
<p>That Report Number 8 of the Committee of the Whole meeting of May 2, 2016 be approved.</p>
<p>Items 4, 5, 6, and 7 were separated due to the previously declared interests.</p>
<p>Upon items 1, 2, 3 and 8, the motion carried.</p>
<p>Item 4 – Community Investment Grants 2016</p>
<p>Due to their previously declared interests, Councillors Clarke, McWilliams and Therrien did not discuss or vote on the matter.</p>
<p>Upon item 4 the motion carried.</p>
<p>City Council Minutes</p>
<p>Meeting of May 16, 2016</p>
<p>Page 5</p>
<p>Item 5 – Community Project Grants 2016</p>
<p>Due to their previously declared interests, Councillor Pappas and Therrien did not discuss or vote on the matter.</p>
<p>Upon item 5 the motion carried.</p>
<p>Item 6 – Award of Proposal P-12-16 for the Supply and Delivery of Five Trucks with Front Plows and Wings</p>
<p>Due to his previously declared interest, Mayor Bennett did not discuss or vote on the matter.</p>
<p>Upon item 6 the motion carried.</p>
<p>Item 7 – December 31, 2015 Financial Update Report (Unaudited)</p>
<p>Upon recommendations a), b), d), e) and f) the recommendations carried.</p>
<p>Item 7c) – December 31, 2015 Financial Update Report (Unaudited)</p>
<p>Due to their previously declared interests, Councillors McWilliams and Haacke did not discuss or vote on this item</p>
<p>Upon item Recommendation 7c) the motion carried.</p>
<p>The main motion of Councillors Pappas and Beamer was therefore carried.</p>
<p>Planning Committee Report Number 5</p>
<p>Moved by Councillor Parnell, seconded by Councillor Beamer</p>
<p>That Report Number 5 of the Planning Committee meeting of May 9, 2016 be approved.</p>
<p>Item 1 - Official Plan Amendment and Zoning By-law Amendment for 1400 Crawford Drive and 586 Harper Road</p>
<p>That Recommendation f) be amended by adding the following:</p>
<p>That the completion of an environmental impact study acceptable to Otonabee Region Conservation Authority identifying the precise location of the wetland feature on 540 Harper Road.</p>
<p>City Council Minutes</p>
<p>Meeting of May 16, 2016</p>
<p>Page 6</p>
<br>
<p>That Recommendation i) be added to the main motion as follows:</p>
<p>i)</p>
<p>Notwithstanding ORCA policy that allows a justification process to consider a reduction in the regulated 30m buffer, Council prefers a site plan submission that; Respects a 30m buffer and, Proposes measures promoting the ecological function of Harper Park</p>
<p>That Recommendation j) be added to the main motion as follows:</p>
<p>j)</p>
<p>That the zoning by-law contain a regulation limiting the floor area devoted to live music and performing acts uses to 300 square metres.</p>
<br>
<p>Moved by Councillor Pappas, seconded by Councillor Clarke</p>
<p>That the recommendations be amended by adding item k) as follows:</p>
<p>k)</p>
<p>That as part of the site plan approval process staff involve stakeholders such as the Harper Park Stewardship Initiative and the Peterborough Field Naturalists.</p>
<p>“CARRIED”</p>
<p>Moved by Councillor Pappas, seconded by Councillor Vassiliadis</p>
<p>That recommendation h) be deferred for two cycles.</p>
<p>“CARRIED”</p>
<p>A recorded vote was requested by Councillor Baldwin on the main motion of Councillors Parnell and Beamer, as amended.  The Clerk conducted a roll call on the motion.</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of May 16, 2016</p>
<p>Page 7</p>
<p>In Support of Motion Councillor Haacke Councillor Pappas Councillor Beamer Councillor Parnell Councillor Vassiliadis Councillor McWilliams Councillor Riel Mayor Bennett</p>
<p>Not in Support of Motion Councillor Clarke Councillor Baldwin Councillor Therrien</p>
<br>
<br>
<br>
<p>Upon the main motion of Councillors Parnell and Beamer, as amended, the motion carried.</p>
<p>Notice of Motion</p>
<p>Moved by Councillor Pappas, seconded by Councillor Riel</p>
<p>That the City of Peterborough donate $1,000.00 to the Canadian Red Cross in support of the Disaster Relief Fund for the support of the Municipality of Fort McMurray.</p>
<p>“CARRIED”</p>
<p>By-laws</p>
<p>Moved by Councillor Parnell, seconded by Councillor Beamer</p>
<p>16-049</p>
<p>Being a By-law to remove the “H” – Holding Symbol from the zoning of the property at 325 London Street</p>
<p>16-050</p>
<p>16-051</p>
<p>16-052</p>
<p>Being a By-law to establish certain lands in the City of Peterborough as part of the Public Highway named Clonsilla Avenue</p>
<p>Being a By-law to authorize the execution of an Encroachment Agreement for lands municipally known as 154 Hunter Street East, in the City of Peterborough</p>
<p>Being a By-law to adopt Amendment No. 173 to the Official Plan of the City of Peterborough as it relates to Section 2.3 – Commercial Structure</p>
<p>City Council Minutes</p>
<p>Meeting of May 16, 2016</p>
<p>Page 8</p>
<br>
<p>16-053</p>
<p>Being a By-law to Amend Section 1, Definitions of the Zoning By-law, together with the Zoning for the properties known as 1400 Crawford Drive and 586 Harper Road (as amended)</p>
<p>and the said by-laws, as amended, having been now read a third time and passed, the Mayor and Clerk be authorized to sign and seal the same.</p>
<p>“CARRIED”</p>
<p>Other Business</p>
<p>There were no items of Other Business.</p>
<p>Confirmatory By-law</p>
<p>Moved by Councillor Pappas, seconded by Councillor Vassiliadis</p>
<p>That the following by-law be read a first, second and third time:</p>
<p>16-054</p>
<p>Being a By-law to confirm the proceedings of Council at its meeting held on May 16, 2016.</p>
<p>and the said by-law, having been now read a third time and passed, the Mayor and Clerk be authorized to sign and seal the same.</p>
<p>“CARRIED”</p>
<p>Adjournment</p>
<p>Moved by Councillor Pappas, seconded by Councillor Parnell</p>
<p>That this meeting of City Council adjourn at 9:40 p.m.</p>
<p>“CARRIED”</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of May 16, 2016</p>
<p>Page 9</p>
<p>John Kennedy City Clerk</p>
<p>Daryl Bennett Mayor</p>
<p>City Council Minutes</p>
<p>Meeting of May 16, 2016</p>
<p>Page 10</p>
<p>Committee of the Whole Report No. 8</p>
<p>Meeting of May 2, 2016</p>
<p>To the Council of The City of Peterborough for consideration at its Meeting held May 16, 2016</p>
<p>The Committee of the Whole as a result of its meeting held on May 2, 2016, recommends as follows:</p>
<p>1.</p>
<p>President & CEO, Peterborough Economic Development Board Chair, Peterborough Economic Development Report PED16-002 PED 2016 First Quarter Report</p>
<p>That Council approve the recommendation outlined in Report PED16-002 of the President & CEO and Board Chair of Peterborough Economic Development, as follows:</p>
<p>That Report PED16-002, and supporting presentation, providing the Peterborough Economic Development 2016 First Quarter Report be received.</p>
<p>Director of Community Services Report CSRS16-003 Vision 2025 Consultant Presentation</p>
<p>That Council approve the recommendation outlined in Report CSRS16-003 dated May 2, 2016, of the Director of Community Services, as follows:</p>
<p>That a presentation by Mr. Robert Lockhart, from RETHINK Group, be received as an update on the Vision 2025 project – A 10-year Strategic Plan for Recreation, Parks, Arenas, and Culture.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>2.</p>
<p>City Council Minutes</p>
<p>Meeting of May 16, 2016</p>
<p>Page 11</p>
<p>Director of Utility Services Report USEC16-012 Canada Flags on George Street and Hunter Street East</p>
<p>That Canadian flags be installed, at staff’s discretion on up to 45 poles in 2016; and</p>
<p>That staff provide a report on the cost to install City of Peterborough flags in future years.</p>
<p>Director of Community Services Report CSD16-015 Community Investment Grants 2016</p>
<p>That Members of the Committee of the Whole approve the recommendations outlined in Report CSD16-015, dated May 2, 2016, of the Director of Community Services, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>d)</p>
<p>That a transfer of $2,000 from the Community Project Grant budget be allocated to Investment Grants.</p>
<p>That the 2016 Community Investment Grants in the total amount of $212,000 be allocated to various local charitable and Not For Profit organizations (NFP’s) as set out in the attached Appendix A.</p>
<p>That approved organizations be authorized and required to use the City Coat of Arms to acknowledge City support on promotional material such as flyers, brochures and posters throughout 2016.</p>
<p>That, effective 2017, community-based organizations that receive significant direct and indirect City contributions towards major capital projects, be deemed eligible to apply for either Project Grants or Investment Grants in accordance with eligibility criteria.</p>
<p>3.</p>
<br>
<p>4.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of May 16, 2016</p>
<p>Page 12</p>
<p>Director of Community Services Report CSD16-016 Community Project Grants 2016</p>
<p>That Council approve the recommendations outlined in Report CSD16-016, dated May 2, 2016, of the Director of Community Services, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>That the 2016 Community Project Grants in the total amount of $19,000 be allocated to various local charitable and Not For Profit organizations (NFP’s) as set out in the attached Appendix A;</p>
<p>That approved organizations be authorized to use the City Coat of Arms to acknowledge City support on promotional material such as flyers, brochures and posters throughout 2016.</p>
<p>Director of Utility Services Report USPW16-011 Award of Proposal P-12-16 for the Supply and Delivery of Five Trucks with Front Plows and Wings</p>
<p>That Council approve the recommendation outlined in Report USPW16-011 dated May 2, 2016 of the Director of Utility Services as follows:</p>
<p>That Proposal RFP P-12-16 for the Supply and Delivery of Five 60,000 GVW Cab and Chassis Trucks with Front Plows and Wings and “U” Body Combination Units be issued to Viking Cives Ltd., 1 Norfolk Drive, Mount Forest, ON, N0G 2L0, at a cost of $1,039,440.00 plus $135,127.20 HST for a total cost of $1,174,567.20 with an option, at the City’s sole discretion, to enter into negotiations with Viking Cives Ltd. for an additional 15 units over the next five years.</p>
<p>5.</p>
<br>
<p>6.</p>
<br>
<br>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of May 16, 2016</p>
<p>Page 13</p>
<p>Director of Corporate Services Report CPFS16-012 December 31, 2015 Financial Update Report (Unaudited)</p>
<p>That Council approve the recommendations outlined in Report CPFS16-012 dated May 2, 2016, of the Director of Corporate Services, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>d)</p>
<p>e)</p>
<p>f)</p>
<p>That the December 31, 2015 Quarterly Financial Report (unaudited) attached as Appendix A to Report CPFS16-012, dated May 2, 2016, be received.</p>
<p>That Capital Levy approved in previous years’ capital budgets for various projects, that is no longer needed, in the amount of $537,088 and shown on Chart 3 in the report CPFS16-012, be transferred to the Capital Levy Reserve.</p>
<p>That 100% of the balance of the 2015 Police Services surplus in the amount of $251,971 be returned to the City.</p>
<p>That an amount of $63,180, representing excess funds budgeted for the occupancy costs for the Peterborough County City Health Unit (PCCHU) at 185 King Street, be transferred to the PCCHU Reserve to provide an available source of municipal funds for future funding opportunities as required.</p>
<p>That an additional contribution, in the amount of $224,100, be provided to the Peterborough Public Library Board to partially fund the pay equity obligation to CUPE Local 1833.</p>
<p>That the application, as approved by Council in recommendation c) of Report CPFS15-058 September Financial Update Report dated November 30, 2015, be amended and submitted to Canada Cultural Spaces Fund, Department of Canadian Heritage, requesting $375,000 of financial support for the proposed Museum 2016 Exterior Cladding and Window Project.</p>
<p>7.</p>
<br>
<br>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of May 16, 2016</p>
<p>Page 14</p>
<p>8.</p>
<br>
<p>Program to Prioritize Rehabilitation of Streets Identified in the Road Needs Study</p>
<p>That the Utility Services Department be requested to report on a program to prioritize and fund the rehabilitation of streets that the Roads Need Study refers to as ‘serious’ and/or ‘failed’.</p>
<br>
<p>Submitted by,</p>
<p>Councillor Beamer Chair May 2, 2016</p>
<p>City Council Minutes</p>
<p>Meeting of May 16, 2016</p>
<p>Page 15</p>
<p>Planning Committee Report No. 5</p>
<p>Meeting of May 9, 2016</p>
<br>
<p>To The Council of the City of Peterborough, for consideration at its meeting held May 16, 2016</p>
<p>The Planning Committee, as a result of its meeting held on May 9, 2016 recommends as follows:</p>
<p>1.</p>
<p>Public Meeting under the Planning Act Manager, Planning Division Report PLPD16-038 Official Plan Amendment and Zoning By-law Amendment for 1400 Crawford Drive and 586 Harper Road</p>
<br>
<br>
<p>That Council approve the recommendations outlined in Report PLPD16-038 dated May 9, 2016, of the Manager, Planning Division, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>d)</p>
<p>That Council confirm that the City-initiated applications for Official Plan Amendment and Rezoning to permit a casino in the City of Peterborough at a location consistent with Report PLPD13-013(A) are consistent with its direction previously given in Closed Session on November 16, 2015;</p>
<p>That Section 2.3 – Commercial Structure of the Official Plan be amended in accordance with the draft amendment attached as Exhibit “C” to Report PLPD16-038;</p>
<p>That Section 1 of the City’s Comprehensive Zoning By-law 97-123 be amended to include a definition for a “Gaming Establishment/Casino” and “Gaming Position” in accordance with the draft amendment attached as Exhibit “D” to Report PLPD16-038;</p>
<p>That the City’s Comprehensive Zoning By-law 97-123 be amended in accordance with Exhibit “D” of Report PLPD16-038 by adding Section 393 – Special District 363 to identify a gaming establishment/casino, hotel and restaurant as permitted uses and associated regulations under the SP.363 zoning district;</p>
<br>
<br>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of May 16, 2016</p>
<p>Page 16</p>
<p>e)</p>
<p>f)</p>
<p>g)</p>
<p>h)</p>
<p>i)</p>
<p>j)</p>
<p>k)</p>
<p>That the zoning of the property at 1400 Crawford Drive be amended from M2.2-SP.268 to SP.363, from M2.2-SP.268 to SP.363-“H” and from M2.2-SP.268 to OS.1, in accordance with Exhibit “D” of Report PLPD16-038;</p>
<p>That the “H”-Holding Symbol be removed from the subject property following the review and approval of a Traffic Impact Study by the Ministry of Transportation.</p>
<p>That the completion of an environmental impact study acceptable to Otonabee Region Conservation Authority identifying the precise location of the wetland feature on 540 Harper Road.</p>
<p>That Section 3.9 Exceptions of the Comprehensive Zoning By-law 97-123 be amended in accordance with Exhibit “D” of Report PLPD16-038 by adding the following: “.306  In addition, a parking lot or parking garage is a permitted use”; and</p>
<p>At the meeting on May 16, 2016, Council passed the following motion:</p>
<p>That recommendation h) be deferred for two cycles.</p>
<p>That the zoning of the property at 586 Harper Road be amended from M2.1-18b to M2.1,18b-306 in order to permit a parking lot as an additional permitted use in accordance with Exhibit “D” of Report PLPD16-038.</p>
<p>At the meeting on May 16, 2016, recommendation i), j) and k) be added:</p>
<p>Notwithstanding ORCA policy that allows a justification process to consider a reduction in the regulated 30m buffer, Council prefers a site plan submission that; - respects a 30m buffer, and - proposes measures promoting the ecological function of Harper Park.</p>
<p>That the zoning by-law contain a regulation limiting the floor area devoted to live music and performing acts uses to 300 square metres.</p>
<p>That as part of the site plan approval process staff involve stakeholders such as the Harper Park Stewardship Initiative and the Peterborough Field naturalists.</p>
<p>City Council Minutes</p>
<p>Meeting of May 16, 2016</p>
<p>Page 17</p>
<p>Submitted by,</p>
<p>Councillor Parnell Chair May 9, 2016</p>
<br>
<br>
<br></div>