<!doctype html><div><br>
<br>
<br>
<p>City Council Minutes</p>
<p>City of Peterborough</p>
<p>October 24, 2016</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of City Council held on October 24, 2016, in the</p>
<p>Council Chambers, City Hall.</p>
<br>
<p>The City Council meeting was called to order at 6:34 p.m. in the Council Chambers.</p>
<p>Roll Call: Councillor Baldwin Councillor Beamer Councillor Clarke Councillor Haacke Councillor McWilliams Councillor Pappas Councillor Parnell Councillor Riel Councillor Therrien Councillor Vassiliadis Mayor Bennett</p>
<p>Disclosure of Pecuniary Interests</p>
<p>There were no disclosures on Pecuniary Interest.</p>
<p>Confirmation of Minutes – October 3, 2016</p>
<p>Moved by Councillor Clarke, seconded by Councillor Pappas</p>
<p>That the minutes of the meeting of Council held on October 3, 2016 be approved.</p>
<p>“CARRIED”</p>
<p>Delegations</p>
<p>Registered Delegations:</p>
<p>Councillor Beamer left the meeting at 6:43 p.m. and returned at 6:44 p.m.</p>
<p>City Council Minutes</p>
<p>Meeting of October 24, 2016</p>
<p>Page 2</p>
<p>Marie Bongard, 461 Albert Street, made a delegation to Item 10 of Committee of the Whole Report No. 15 (Report CAO16-012 - Community Engagement Plan - Potential Sale of Peterborough Distribution Inc. (PDI))</p>
<p>Marty Laskaris, Publican House, made a delegation to Item 9 of Committee of the Whole Report No. 15 (Report CSAD16-007 - Cancellation of RFP P-21-16 for Beer Sales Pouring Rights at the Peterborough Memorial Centre)</p>
<p>Randy Smith, Smithaven, made a delegation to Item 9 of Committee of the Whole Report No. 15 (Report CSAD16-007 - Cancellation of RFP P-21-16 for Beer Sales Pouring Rights at the Peterborough Memorial Centre)</p>
<p>Colin Hoag and Darryl Whitehead, Parks Canada and Natel Energy Inc., made a delegation to Item 8 of Committee of the Whole Report No. 15 (Report CSD16-026 – Request for Municipal Council Support Resolution Letter for a Hydroelectric Generating Project at Lock 19)</p>
<p>Lynn Moir Hopkins, 333 Hedonics Road, made a delegation to Item 10 of Committee of the Whole Report No. 15 (Report CAO16-012 - Community Engagement Plan - Potential Sale of Peterborough Distribution Inc. (PDI))</p>
<p>Tom Young, 512 Aylmer Street, made a delegation to Item 18 of Committee of the Whole Report No. 15 (Chemong Road – Reid Street Widening Project)</p>
<p>Joan MacKay, 6 Weller Crescent, made a delegation to Item 10 of Committee of the Whole Report No. 15 (Report CAO16-012 - Community Engagement Plan - Potential Sale of Peterborough Distribution Inc. (PDI))</p>
<p>Delegations Not Registered:</p>
<p>Planning Committee Report</p>
<p>There were no other delegations.</p>
<p>Committee of the Whole Report</p>
<p>Peter Morgan, 1303 Hazeldean Avenue, made a delegation to Item 10 of Committee of the Whole Report No. 15 (Report CAO16-012 - Community Engagement Plan - Potential Sale of Peterborough Distribution Inc. (PDI))</p>
<p>Roy Brady, 136 Ware Street, made a delegation to Item 10 of Committee of the Whole Report No. 15 (Report CAO16-012 - Community Engagement Plan - Potential Sale of Peterborough Distribution Inc. (PDI))</p>
<p>City Council Minutes</p>
<p>Meeting of October 24, 2016</p>
<p>Page 3</p>
<br>
<p>Guy Hatchett, Lakefield, made a delegation to Item 10 of Committee of the Whole Report No. 15 (Report CAO16-012 - Community Engagement Plan - Potential Sale of Peterborough Distribution Inc. (PDI))</p>
<p>Other Items on the Agenda</p>
<p>There were no other delegations.</p>
<p>Planning Committee Report Number 10</p>
<p>Moved by Councillor Parnell, Seconded by Councillor Clarke</p>
<p>That Report Number 10 of the Planning Committee meeting of October 11, 2016 be approved.</p>
<p>Item 3 was separated.</p>
<p>Item 3 – Report PLPD16-077 – Application for Draft Plan of Subdivision Approval 15T-14502 and Zoning By-law Amendment 1418SB, 2131222 Ontario Inc. (Peterborough Homes), 821, 825 and 829 Lily Lake Road</p>
<p>The following was moved as part of the main motion:</p>
<p>That the Conditions of Draft Plan of Subdivision Approval for 821, 825 and 829 Lily Lake Road be amended as follows:</p>
<p>That condition 17 ii) be amended to read: "The Owner has prepared a traffic study to the satisfaction of the City Engineer and the County of Peterborough, to the extent that any County of Peterborough infrastructure is affected."</p>
<p>That the first paragraph of condition 17 iii) be amended to read: "Any road network improvements required to permit development beyond 600 cumulative units in the Lily Lake area have been planned in accordance with the timing recommendations of the approved traffic study noted in ii) above, have received all necessary approvals and have either been constructed or included in an approved Capital Budget for construction (where implementation is a City responsibility), or have been secured for implementation at the Owner’s expense subject to any applicable cost-sharing with other Lily Lake-area development proponents and the City, where applicable where implementation is a developer responsibility."</p>
<p>City Council Minutes</p>
<p>Meeting of October 24, 2016</p>
<p>Page 4</p>
<p>That the second paragraph of condition 17 iii) be amended to read: Should the Owner wish to seek Final Approval prior to completion or budget approval of required improvements, the Owner shall make arrangements with the City to fund the work and to provide for recovery of such expenditures from other parties and/or the City where applicable."</p>
<p>That an additional condition, number 28 b), be added as follows: "That prior to Final Approval of each phase of development, the Owner shall demonstrate to the City’s satisfaction that an agreement has been reached with the Owner of the adjacent lands to the west (663, 689 and 739 Lily Lake Road) regarding the fair and equitable sharing of costs that may be incurred by the Owner to the benefit of the adjacent lands and/or costs that may be incurred by the adjacent landowner to the benefit of Draft Plan of Subdivision 15T-14502. Such costs could relate to the provision of infrastructure, parkland, schools, and other public recreational facilities."</p>
<p>That condition 39 ii) be amended to read: “Orientation and proximity of buildings, building entrances and architectural stylings toward the street;"</p>
<p>That an additional condition, number 39 vii), be added as follows: "Consideration for sustainable design, multi-modal transportation opportunity, universal and barrier-free design, and artistic expression in public spaces."</p>
<p>Councillor Riel requested a recorded vote on this item and the Clerk conducted a roll call.</p>
<p>Yea Councillor Riel Councillor Therrien Councillor McWilliams Councillor Vassiliadis Councillor Parnell Councillor Baldwin Councillor Beamer Councillor Pappas Councillor Haacke Councillor Clarke Mayor Bennett</p>
<p>Nay</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Upon item 3, the motion carried.</p>
<p>Upon the balance of the items less item 3, the motion carried.</p>
<p>City Council Minutes</p>
<p>Meeting of October 24, 2016</p>
<p>Page 5</p>
<br>
<p>Committee of the Whole Report Number 15</p>
<p>Moved by Councillor Beamer, seconded by Councillor Parnell</p>
<p>That Report Number 14 of the Committee of the Whole meeting of September 26, 2016 be approved.</p>
<p>Items 2, 8, 9, 10, and 11 were separated.</p>
<p>Item 2 – Report COU16-003 – Council Appointments to Committees and Boards</p>
<p>The following amendment was moved as part of main motion:</p>
<p>That Councillor Clarke be appointed to the Animal Control Order Appeal Committee.</p>
<p>Upon item 2, the motion carried.</p>
<p>Councillor Therrien left the meeting at 8:36 p.m. and returned at 8:37 p.m.</p>
<p>Item 8 – Report CSD16-024 – Request for Municipal Council Support Letter for a Hydroelectric Generating Project at Lock 19</p>
<p>Moved by Councillor Parnell, seconded by Councillor Therrien</p>
<p>That the recommendations be amended by adding recommendations c) and d) as follows:</p>
<p>c)</p>
<p>That if the fit application is approved, the City requests the consultant host a public meeting for residents within 120m of the Scotts Mills Dam.</p>
<p>That a report be provided to Council on the results of the process.</p>
<p>d)</p>
<p>Recommendations a), b), c) and d) were separated for vote.</p>
<p>Upon recommendations a), b), c) and d) the motion carried.</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of October 24, 2016</p>
<p>Page 6</p>
<p>Item 9 – Report CSAD16-007 – Cancellation of RFP P-21-16 for Beer Sales Pouring Rights at the Peterborough Memorial Centre</p>
<p>Councillor Clarke requested a recorded vote and the Clerk conducted a roll call.</p>
<p>Yea Councillor Pappas Councillor Beamer Councillor Baldwin Councillor Parnell Councillor Vassiliadis Councillor McWilliams Councillor Riel</p>
<p>Nay Councillor Clarke Councillor Haacke Councillor Therrien Mayor Bennett</p>
<br>
<br>
<p>Upon item 9, the motion carried.</p>
<p>Item 10 – Report CAO16-012 – Community Engagement Plan – Potential Sale of Peterborough Distribution Inc. (PDI)</p>
<p>Upon item 10, the motion carried.</p>
<p>Item 11 – Report CAO16-013 – Additional Health Care Funding Request</p>
<p>Councillor Pappas left the meeting at 9:39 p.m. and returned at 9:40 p.m.</p>
<p>The following was moved as part of the main motion:</p>
<p>That Recommendation a) of Report CAO16-013 be amended to read: "That the letter and Council resolution, attached as Appendix A, expressing the concern for lack of provincial funding associated with health care, public health and paramedic services be approved."</p>
<p>Upon item 11, the motion carried as amended.</p>
<p>Upon the remainder, less items 2, 8, 9, 10, and 11, the motion carried</p>
<p>Notice of Motion</p>
<p>There were no Notices of Motion.</p>
<p>City Council Minutes</p>
<p>Meeting of October 24, 2016</p>
<p>Page 7</p>
<p>By-laws</p>
<p>Moved by Councillor Pappas, seconded by Councillor Riel</p>
<p>That the following by-laws be read a first, second and third time:</p>
<p>16-107</p>
<p>16-108</p>
<p>16-109</p>
<p>16-110</p>
<p>16-111</p>
<p>16-112</p>
<p>16-113</p>
<p>16-114</p>
<p>16-115</p>
<p>16-116</p>
<p>16-117</p>
<p>Being a By-law to execute a Municipal Council Support Resolution Letter for a hydroelectric generating project at Lock 19, in the City of Peterborough</p>
<p>Being a By-law to authorize the borrowing upon serial debentures in the principal amount of $11,361,300.00 towards the cost of certain capital works described in schedule “A” to this by-law</p>
<p>Being a By-law to authorize the borrowing upon serial debentures in the principal amount of $13,411,100.00 towards the cost of certain capital works described in schedule “A” to this by-law</p>
<p>Being a By-law to appoint a Parking Enforcement Officer at 340-360 George Street North</p>
<p>Being a By-law to Amend By-law 08-087, being a By-law to confirm the City of Peterborough Emergency Management Program and to establish an Emergency Management Program Committee</p>
<p>Being a By-law to amend the Zoning By-law for the property known as 112 Aylmer Street North</p>
<p>Being a By-law to amend the Zoning By-law for the property known as 301 Reid Street</p>
<p>Being a By-law to Amend the Zoning By-law for the properties at 821, 825 and 829 Lily Lake Road</p>
<p>Being a By-law to amend By-law number 09-136 being a By-law for the Regulation of Parking</p>
<p>Being a By-law to Regulate Speed Limits on Certain Streets in the City of Peterborough</p>
<p>Being a By-law to authorize the transfer of a one foot reserve described as Part 5 on Registered Plan 45R-1064 to the adjacent lands municipally known as 1328 Albertus Avenue, in the City of Peterborough, in the County of Peterborough</p>
<p>City Council Minutes</p>
<p>Meeting of October 24, 2016</p>
<p>Page 8</p>
<br>
<p>16-118</p>
<p>16-119</p>
<p>Being a By-law to authorize the transfer of lands municipally known as part of 1991, 1987 and 1951 Fisher Drive, in the City of Peterborough, in the County of Peterborough</p>
<p>Being a By-law to authorize the execution of the Municipal Contribution agreement between Her Majesty the Queen in Right of Ontario as represented by the Minister of Agriculture, Food and Rural Affairs and The Corporation of the City of Peterborough for the transfer of the Ontario Community Infrastructure Fund Formula- Based Component (2017-2019) grant to the Municipality to address critical core infrastructure needs in relation to roads, bridges, water, wastewater and asset management</p>
<p>and  the  said  by-law,  having  been  now  read  a  third  time  and  passed,  the  Mayor and Clerk be authorized to sign and seal the same.</p>
<p>“CARRIED”</p>
<p>Other Business</p>
<p>There were no items of Other Business.</p>
<p>Confirmatory By-law</p>
<p>Moved by Councillor Parnell, seconded by Councillor Riel</p>
<p>That the following by-law be read a first, second and third time:</p>
<p>16-120</p>
<p>Being a By-law to confirm the proceedings of Council at its meeting held on October 24, 2016.</p>
<p>and the said by-law, having been now read a third time and passed, the Mayor and Clerk be authorized to sign and seal the same.</p>
<p>“CARRIED”</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of October 24, 2016</p>
<p>Page 9</p>
<p>Adjournment</p>
<p>Moved by Councillor Beamer, seconded by Councillor Pappas</p>
<p>That this meeting of City Council adjourn at 9:45 p.m.</p>
<p>“CARRIED”</p>
<p>John Kennedy City Clerk</p>
<p>Daryl Bennett Mayor</p>
<p>City Council Minutes</p>
<p>Meeting of October 24, 2016</p>
<p>Page 10</p>
<br>
<p>Planning Committee Report No. 10</p>
<p>Meeting of October 11, 2016</p>
<br>
<p>To The Council of the City of Peterborough, for consideration at its meeting held October 24, 2016</p>
<p>The Planning Committee, as a result of its meeting held on October 11, 2016 recommends as follows:</p>
<p>1.</p>
<p>Public Meeting under The Planning Act Manager, Planning Division Report PLPD16-075 112 Aylmer Street North</p>
<p>That Council approve the recommendation outlined in Report PLPD16-075 dated October 11, 2016, of the Manager, Planning Division, as follows:</p>
<p>That the zoning of 112 Aylmer Street be amended from the C.4 – Commercial District to the SP.241 – Commercial District in accordance with the draft amendment attached as Exhibit ‘C’ to Report PLPD16-075.</p>
<p>Public Meeting under The Planning Act Manager, Planning Division Report PLPD16-076 301 Reid Street</p>
<p>That Council approve the recommendation outlined in Report PLPD16-076 dated October 11, 2016, of the Manager, Planning Division, as follows:</p>
<p>That the zoning of 301 Reid Street be amended from the R.1,R.2,R.3 - Residential District to the SP.241 – Commercial District in accordance with the draft amendment attached as Exhibit ‘C’ to Report PLPD16-076.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>2.</p>
<p>City Council Minutes</p>
<p>Meeting of October 24, 2016</p>
<p>Page 11</p>
<p>3.  Manager, Planning Division</p>
<p>Report PLPD16-077 Application for Draft Plan of Subdivision Approval 15T-14502 and Zoning By-law Amendment 1418SB 2131222 Ontario Inc. (Peterborough Homes) 821, 825 and 829 Lily Lake Road</p>
<p>That Council approve the recommendations outlined in Report PLPD16-077 dated October 11, 2016, of the Manager, Planning Division, as follows:</p>
<br>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>d)</p>
<p>e)</p>
<p>f)</p>
<p>That Draft Plan of Subdivision Approval for Plan 15T-14502, Drawing No. DP-1 dated July 29, 2016 by Tunney Planning Inc. and D.G. Biddle & Associates Limited, be granted, subject to the Conditions of Draft Plan Approval attached to Report PLPD16-077, as Schedule 1.</p>
<p>That Zoning By-law 97-123 be amended by adding Special Districts 365 and 366 in accordance with Exhibit B of Report PLPD16-077.</p>
<p>That Section 3.9 Exceptions of Zoning By-law 97-123 be amended by adding exceptions 308 and 309 in accordance with Exhibit B of Report PLPD16-077.</p>
<p>That the subject property be rezoned from A.2(Smith), O1(Smith) and H(Smith) to R.1,1r,2r,8z-256-“H”, R.1,1o,2o,8z-256-“H”, R.1,8z-256- “H”, R.1,1m,2m,8z-256-308-“H”, SP.365-“H”, SP.366-256-308-“H” – Residential Districts, PS.2 – Public Service District, SP.95-309-“H” – Commercial District, D.1 – Development District, OS.1 and OS.2 – Open Space Districts in accordance with the Draft Plan of Subdivision and Exhibit B of Report PLPD16-077.</p>
<p>That items 17ii and 17iii in the Conditions of Draft Plan of Subdivision Approval be replaced with the wording submitted by the applicant’s agent on October 11, 2016.</p>
<p>That the Conditions of Draft Plan of Subdivision approval be amended to require the applicant to enter into a Landowners’ Cost Sharing Agreement with the abutting property owners to the west to ensure development costs of both subdivisions are equally distributed, and that this be undertaken in consultation with City Planning staff.</p>
<p>At the Council meeting of October 24, 2016 the following amendments were made:</p>
<br>
<br>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of October 24, 2016</p>
<p>Page 12</p>
<br>
<p>That the Conditions of Draft Plan of Subdivision Approval for 821, 825 and 829 Lily Lake Road be amended as follows:</p>
<p>That condition 17 ii) be amended to read: "The Owner has prepared a traffic study to the satisfaction of the City Engineer and the County of Peterborough, to the extent that any County of Peterborough infrastructure is affected."</p>
<p>That the first paragraph of condition 17 iii) be amended to read: " Any road network improvements required to permit development beyond 600 cumulative units in the Lily Lake area have been planned in accordance with the timing recommendations of the approved traffic study noted in ii) above, have received all necessary approvals and have either been constructed or included in an approved Capital Budget for construction (where implementation is a City responsibility), or have been secured for implementation at the Owner’s expense subject to any applicable cost- sharing with other Lily Lake-area development proponents and the City, where applicable where implementation is a developer responsibility."</p>
<p>That the second paragraph of condition 17 iii) be amended to read: Should the Owner wish to seek Final Approval prior to completion or budget approval of required improvements, the Owner shall make arrangements with the City to fund the work and to provide for recovery of such expenditures from other parties and/or the City where applicable."</p>
<p>That an additional condition, number 28 b), be added as follows: "That prior to Final Approval of each phase of development, the Owner shall demonstrate to the City’s satisfaction that an agreement has been reached with the Owner of the adjacent lands to the west (663, 689 and 739 Lily Lake Road) regarding the fair and equitable sharing of costs that may be incurred by the Owner to the benefit of the adjacent lands and/or costs that may be incurred by the adjacent landowner to the benefit of Draft Plan of Subdivision 15T-14502.  Such costs could relate to the provision of infrastructure, parkland, schools, and other public recreational facilities."</p>
<p>That condition 39 ii) be amended to read: “Orientation and proximity of buildings, building entrances and architectural stylings toward the street;"</p>
<p>That an additional condition, number 39 vii), be added as follows: "Consideration for sustainable design, multi-modal transportation opportunity, universal and barrier-free design, and artistic expression in public spaces."</p>
<p>City Council Minutes</p>
<p>Meeting of October 24, 2016</p>
<p>Page 13</p>
<p>Residential Teardowns and Rebuilds</p>
<p>That a staff report be provided on the current level of control the City has regarding residential teardowns and rebuilds.</p>
<p>4.</p>
<br>
<p>Submitted by,</p>
<p>Councillor Parnell Chair October 11, 2016</p>
<p>City Council Minutes</p>
<p>Meeting of October 24, 2016</p>
<p>Page 14</p>
<p>Committee of the Whole Report No. 15</p>
<p>Meeting of October 17, 2016</p>
<p>To the Council of The City of Peterborough for consideration at its Meeting held October 24, 2016</p>
<p>The Committee of the Whole as a result of its meeting held on October 17, 2016, recommends as follows:</p>
<p>1.</p>
<p>Report of Closed Session Acting Director, Planning and Development Services Report PLPD16-080 Sale of 1 foot reserve at 1328 Albertus Avenue</p>
<p>That Council approve the recommendation outlined in Report PLPD16-080 dated October 17, 2016, of the Acting Director of Planning and Development Services as follows:</p>
<p>That property described as Part 5 on Registered Plan 45R-1064 City of Peterborough be declared surplus to the needs of the Municipality and offered to the adjacent property owner.</p>
<br>
<p>2.  Mayor Daryl Bennett</p>
<p>Report COU16-003 Council Appointments to Committees and Boards</p>
<p>That Council approve the recommendations outlined in Report COU16-003, dated October 17, 2016, as follows:</p>
<p>That the following appointments of Members of Council to Committees, Portfolios and Boards be approved for a one-year term ending November 30, 2017, with the appointments as follow:</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Standing committees</p>
<p>Budget Committee (all Members of Council)</p>
<p>Henry Clarke, Chair Andrew Beamer, Vice Chair</p>
<p>a)</p>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of October 24, 2016</p>
<p>Page 15</p>
<br>
<p>Committee of the Whole (all Members of Council)</p>
<p>Andrew Beamer, Chair Dean Pappas, Vice Chair Planning Committee (all Members of Council)</p>
<p>Lesley Parnell, Chair Dean Pappas, Vice Chair</p>
<p>Audit Committee</p>
<p>Daryl Bennett Henry Clarke, Chair Gary Baldwin, Vice Chair Don Vassiliadis Andrew Beamer</p>
<p>Deputy Mayor</p>
<p>Henry Clarke, First Deputy Mayor Dan McWilliams, Second Deputy Mayor</p>
<p>b)</p>
<p>Portfolios</p>
<p>Dean Pappas, Chair of Arts, Culture and Heritage Portfolio Henry Clarke, Chair of Finance Portfolio Dan McWilliams, Chair of Fire Services Portfolio Don Vassiliadis, Vice-Chair of Fire Services Portfolio Lesley Parnell, Chair of Public Works Portfolio Keith Riel, Chair of Social Services Portfolio Don Vassiliadis, Chair of Transportation Portfolio Gary Baldwin, Chair of Waste Management Portfolio Dean Pappas, Chair of Diversity Portfolio Keith Riel, Chair of Seniors Portfolio Dave Haacke, Chair of Arenas Portfolio Gary Baldwin, Chair of Parks & Recreation Portfolio Diane Therrien, Chair of Youth Portfolio Dan McWilliams, Vice-Chair of Economic Development Portfolio</p>
<p>Daryl Bennett, Chair of the following portfolios:</p>
<p>Economic Development Governance Human Resources Intergovernmental Relations</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of October 24, 2016</p>
<p>Page 16</p>
<br>
<p>c)</p>
<p>Public Relations Strategic Initiatives Specific committee appointments such as the Eastern Ontario Mayors’ Committee and legislative responsibilities.</p>
<p>Advisory Committees</p>
<p>Affordable Housing Action Committee Diane Therrien</p>
<p>Arenas, Parks and Recreation Advisory Committee Dave Haacke Gary Baldwin</p>
<p>Arts, Culture and Heritage Advisory Committee Lesley Parnell Dean Pappas</p>
<p>Boundary Committee Daryl Bennett Andrew Beamer Henry Clarke Dan McWilliams</p>
<p>Cenotaph Advisory Committee Henry Clarke</p>
<p>Citizen Appointment Selection Committee Andrew Beamer Henry Clarke Dave Haacke Dan McWilliams Dean Pappas</p>
<p>vii)  Community Investment Grants Advisory Committee</p>
<p>Dan McWilliams Keith Riel</p>
<p>Keith Riel</p>
<p>viii)  Museum and Archives Advisory Committee</p>
<p>Procedural By-law Review Committee Daryl Bennett Henry Clarke</p>
<p>i)</p>
<p>ii)</p>
<p>iii)</p>
<p>iv)</p>
<p>v)</p>
<p>vi)</p>
<p>ix)</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of October 24, 2016</p>
<p>Page 17</p>
<p>x)</p>
<p>Youth Commission Diane Therrien</p>
<p>Corporations and Legislatively Mandated Committees / Boards / Authorities</p>
<p>d)</p>
<br>
<p>i)</p>
<p>ii)</p>
<p>iii)</p>
<p>iv)</p>
<p>v)</p>
<p>vi)</p>
<p>Accessibility Advisory Committee Keith Riel</p>
<p>City/County Waste Management Committee Gary Baldwin Dean Pappas Don Vassiliadis</p>
<p>City of Peterborough Holdings Inc. Daryl Bennett Dan McWilliams</p>
<p>East City/Ashburnham Business Improvement Area Keith Riel</p>
<p>Fairhaven Committee of Management Dave Haacke Keith Riel</p>
<p>Joint Services Steering Committee Daryl Bennett Andrew Beamer Henry Clarke Gary Baldwin</p>
<p>viii)  Otonabee Region Conservation Authority</p>
<p>Dean Pappas</p>
<p>Daryl Bennett Andrew Beamer Don Vassiliadis</p>
<p>ix)</p>
<p>Peterborough County-City Health Unit Gary Baldwin Henry Clarke Lesley Parnell</p>
<p>vii)  Peterborough Architectural Conservation Advisory Committee</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of October 24, 2016</p>
<p>Page 18</p>
<p>Peterborough Downtown Business Improvement Area Diane Therrien</p>
<p>Peterborough Public Library Board Gary Baldwin Keith Riel</p>
<p>xii)  Peterborough Utilities Commission</p>
<p>Daryl Bennett Gary Baldwin Dave Haacke Lesley Parnell Don Vassiliadis</p>
<p>Dave Haacke Dan McWilliams</p>
<p>xiii)  Peterborough Police Services Board</p>
<p>At the Council meeting of October 24, 2016 the following was added:</p>
<p>That Councillor Clarke be appointed to the Animal Control Order Appeal Committee.</p>
<p>Liaison Committees</p>
<p>e)</p>
<p>Art Gallery of Peterborough, Board of Directors Daryl Bennett</p>
<p>x)</p>
<p>xi)</p>
<p>i)</p>
<p>ii)</p>
<p>Downtown Action Committee Daryl Bennett Diane Therrien Dean Pappas</p>
<p>iii)  Greater Peterborough Chamber of Commerce</p>
<p>Daryl Bennett</p>
<p>iv)</p>
<p>Liaison Committee with Fleming College Daryl Bennett Diane Therrien Lesley Parnell</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>3.</p>
<br>
<p>4.</p>
<p>City Council Minutes</p>
<p>Meeting of October 24, 2016</p>
<p>Page 19</p>
<p>v)</p>
<p>Liaison Committee with Trent University Daryl Bennett Andrew Beamer Dean Pappas Don Vassiliadis</p>
<p>vi)  Multicultural Canada Day Committee</p>
<p>Dean Pappas</p>
<p>vii)  Peterborough Agricultural Society</p>
<p>Dave Haacke</p>
<p>viii)  Peterborough Housing Authority</p>
<p>Andrew Beamer</p>
<p>ix)</p>
<p>Shining Waters Railway Board of Directors Daryl Bennett</p>
<p>Director of Utility Services Report USEP16-010 Award of RFP P-10-16 for Supply and Delivery of Liquid Emulsion Polymer</p>
<p>That Council approve the recommendation outlined in Report USEP16-010 dated October 17, 2016, of the Director of Utility Services, as follows:</p>
<p>That RFP document P-10-16 for the Supply and Deliver of Liquid Emulsion Polymer to the Wastewater Treatment Plant be awarded to Canada Colors and Chemicals Limited, 6605 Hurontario St. Suite 400, Mississauga, ON, L5T 0A3 at a total cost of $2.11/kg plus $0.274/kg HST for an estimated yearly total of $195,392.99.</p>
<p>Director of Corporate Services Report CPFS16-031 Investment Policy Update</p>
<p>That Council approves the recommendations outlined in Report CPFS16- 031 dated October 17, 2016, of the Director of Corporate Services as follows:</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>5.</p>
<br>
<p>6.</p>
<br>
<p>7.</p>
<p>City Council Minutes</p>
<p>Meeting of October 24, 2016</p>
<p>Page 20</p>
<p>a)</p>
<p>b)</p>
<p>That the current Investment and Banking Services Policy as set out in Appendix A of Report CPFS16-031, be rescinded.</p>
<p>That the Investment Policy, as set out in Appendix B of Report CPFS16-031 dated October 17, 2016, be approved.</p>
<p>City Clerk Report CPCLK16-016 2017 Council Meeting Schedule</p>
<p>That Council approve the recommendation outlined in Report CPCLK16- 016, dated October 17, 2016 of the City Clerk, as follows:</p>
<p>That the 2017 Council Meeting Schedule be adopted as presented in Appendix “A” to Report CPCLK16-016.</p>
<p>City Clerk Report CPCLK16-015 Municipal Property Assessment Corporation Presentation – Property Reassessment</p>
<p>That Council approve the recommendation outlined in Report CPCLK16- 015 dated October 17, 2016, of the City Clerk, as follows:</p>
<p>That the presentation from the Municipal Property Assessment Corporation on the 2016 property reassessments be received for information.</p>
<p>Director of Corporate Services Report CPFS16-035 City of Peterborough Holdings Inc. Presentation</p>
<p>That Council approve the recommendations outlined in Report CPFS16- 035, dated October 17, 2016, of the Director of Corporate Services, as follows:</p>
<p>a)</p>
<p>That the City of Peterborough Holdings Inc. (COPHI) presentation be received;</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>8.</p>
<p>b)</p>
<p>c)</p>
<p>d)</p>
<p>e)</p>
<p>a)</p>
<p>b)</p>
<p>City Council Minutes</p>
<p>Meeting of October 24, 2016</p>
<p>Page 21</p>
<p>That the 2015 Annual Report and Consolidated Financial Statements of the City of Peterborough Holdings Inc. for the fiscal year ended December 31, 2015, attached as Appendix A to Report CPFS16-035, be received;</p>
<p>That the election of the following persons as Directors of COPHI be and the same are hereby confirmed for the terms set out in prior resolutions of the Council of the Corporation of the City of Peterborough: Bob Lightbody, David Bignell, David Paterson, David Nichols, Dan McWilliams, Scott Baker, Louise Lalonde, Nancy Brown Andison, and Daryl Bennett;</p>
<p>That the election of the following persons as Directors of Peterborough Distribution Inc. be and the same are hereby confirmed for the terms set out in prior resolutions of the Council of the Corporation of the City of Peterborough: Bryan Weir and Dave Clark; and</p>
<p>That Collins Barrow Kawarthas LLP, Chartered Accountants, are hereby appointed auditors of the Corporation, until the next annual resolution of the Shareholder is signed or until their successors are duly appointed.</p>
<p>Director of Community Services Report CSD16-026 Request for Municipal Council Support Resolution Letter for a Hydroelectric Generating Project at Lock 19</p>
<p>That Council approve the recommendation outlined in Report CSD16-026 dated October 17, 2016 of the Director of Community Services, as follows:</p>
<p>That a by-law be passed to authorize the Mayor and the Clerk to execute a Municipal Council Support Resolution Letter, on behalf of Council, for a hydroelectric generating project Feed-In-Tariff application at Lock 19 and,</p>
<p>At the meeting of October 17, 2016, the following was added:</p>
<p>That staff invite Parks Canada and the proponent to make a presentation and provide a report on the Lock 19 project as part of the Environmental Approval process at a future Committee of the Whole meeting.</p>
<p>City Council Minutes</p>
<p>Meeting of October 24, 2016</p>
<p>Page 22</p>
<p>At the Council meeting of October 24, 2016, the following was added:</p>
<p>c)</p>
<p>That if the fit application is approved, the City requests the consultant host a public meeting for residents within 120m of the Scotts Mills Dam.</p>
<p>d)</p>
<p>That a report be provided to Council on the results of the process.</p>
<p>Director of Community Services Director of Corporate Services Report CSAD16-007 Cancellation of RFP P-21-16 for Beer Sales Pouring Rights at the Peterborough Memorial Centre</p>
<p>That Council approve the recommendations outlined in Report CSAD16-007 dated October 17, 2016, of the Directors of Community Services and Corporate Services, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>That RFP document P-21-16 for the Pouring Rights for Beer Sales at the Peterborough Memorial Centre (PMC) be cancelled and not awarded as originally recommended in Report CSAD16-003 dated July 25, 2016; and</p>
<p>At the meeting of October 17, 2016, the following was added:</p>
<p>That staff report back on a potential partnership with Molson’s and at least one micro-brewery.</p>
<br>
<p>9.</p>
<br>
<br>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of October 24, 2016</p>
<p>Page 23</p>
<p>10.  Chief Administrative Officer</p>
<p>Report CAO16-012 Community Engagement Plan - Potential Sale of Peterborough Distribution Inc. (PDI)</p>
<p>That Council approve the recommendation outlined in Report CAO16-012, dated October 17, 2016, of the Chief Administrative Officer, as follows:</p>
<p>That Report CAO16-012 outlining a community engagement plan to provide information to the public on the potential sale of Peterborough Distribution Inc. (PDI) be approved.</p>
<br>
<p>11.  Chief Administrative Officer</p>
<p>Report CAO16-013 Additional Health Care Funding Request</p>
<p>That Council approve the recommendations outlined in Report CAO16-013, dated October 17, 2016, of the Chief Administrative Officer, as follows:</p>
<p>At the Council meeting of October 24, 2016, recommendation a) was amended as follows:</p>
<p>a)</p>
<p>"That the letter and Council resolution, attached as Appendix A, expressing the concern for lack of provincial funding associated with health care, public health and paramedic services be approved."</p>
<p>At the meeting of October 17, 2016, the following was added:</p>
<p>b)</p>
<p>That budget allocations be communicated from the province to service providers at least one year in advance,</p>
<p>c)</p>
<p>That the letter be sent to The Honourable Kathleen Wynne, Premier of Ontario and The Honourable Eric Hoskins, Minister of Health and Long-Term Care and copied to the Association of Municipalities of Ontario, The Honourable Jeff Leal, Minister of Agriculture, Food and Rural Affairs, and Laurie Scott, MPP Haliburton-Kawartha Lakes- Brock, and</p>
<p>At the meeting of October 17, 2016, the following was added:</p>
<p>d)</p>
<p>That AMO distribute this letter to all municipalities in Ontario.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of October 24, 2016</p>
<p>Page 24</p>
<p>12.  Director of Utility Services</p>
<br>
<p>13.  Director of Utility Services</p>
<p>Report USDIR16-010 Award of RFP P-28-16 for North End – Trent University Area Transportation and Wastewater Management Class Environmental Assessment</p>
<p>That Council approve the recommendations outlined in Report USDIR16- 010 dated October 17, 2016, of the Director of Utility Services, as follows:</p>
<p>That RFP document P-28-16 for the North End – Trent University Area Transportation and Wastewater Management Class Environmental Assessment be awarded to AECOM, 300 Water Street, Whitby, Ontario, L1N 9J2 at a total cost of $1,100,000 plus HST of $143,000 for a total of $1,124,300; and</p>
<p>That a contingency fund of $150,000 be authorized to the consulting assignment and the Director of Utility Services be authorized to adjust the purchase order value to an upset limit of $1,274,000, if required.</p>
<p>Report USTR16-012 Mark Street / Robinson Street Traffic Operational Review</p>
<p>That Council approve the recommendations outlined in Report USTR16-012 dated October 17, 2016, of the Director of Utility Services, as follows:</p>
<p>That a Pedestrian Crossover Type B – Intersection crossing complete with rectangular rapid flashing beacons be implemented on Mark Street at Robinson Street;</p>
<p>That a 40 km/h speed limit be implemented on Mark Street between Hunter Street and Sophia Street;</p>
<p>That the existing “No Stopping” parking restriction on the west side of Mark Street, south of Robinson Street, be extended 23 m further south; and</p>
<p>That intersection warning signs be implemented on Mark Street in advance of the Mark Street / Robinson Street intersection.</p>
<br>
<br>
<br>
<br>
<p>a)</p>
<p>b)</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>d)</p>
<p>City Council Minutes</p>
<p>Meeting of October 24, 2016</p>
<p>Page 25</p>
<p>14.  Director of Corporate Services</p>
<p>Report CPFS16-034 Ontario Community Infrastructure Fund Formula-Based Component Contribution Agreement (2017-2019)</p>
<p>That Council approve the recommendation outlined in Report CPFS16-034 dated October 17, 2016, of the Director of Corporate Services, as follows:</p>
<p>That a by-law be passed authorizing the Mayor and Clerk to sign the Ontario Community Infrastructure Fund Formula-Based Component contribution agreement (2017-2019) between Her Majesty the Queen in Right of Ontario as represented by the Minister of Agriculture, Food and Rural Affairs and The Corporation of the City of Peterborough.</p>
<br>
<p>15.  Acting Director, Planning and Development Services</p>
<p>Report PLPD16-081 Sale of Industrial Property at 1991, 1987 and 1951 Fisher Drive</p>
<p>That Council approve the recommendations outlined in Report PLPD16-081 dated October 17, 2016, of the Acting Director, Planning & Development Services, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>That a by-law be passed to authorize the sale of 3.65 hectares (9.023 acres) of industrial land to 774889 Ontario Limited; and</p>
<p>That 9.023 acres on Fisher Drive be sold at a sale price of $40,000 per acre, for a total sale price of $360,920, plus land transfer tax of $3,889.00.</p>
<br>
<p>16.  Pedestrian Safety Options on Arterial Roads</p>
<p>That staff report back on pedestrian safety options on arterial roads, where there is greater than 500 meters between signalized intersections.</p>
<br>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of October 24, 2016</p>
<p>Page 26</p>
<p>17.  Federal and Provincial Gas Tax Information Report</p>
<p>That staff provide an information report on the federal and provincial gas tax and its usage.</p>
<br>
<p>18.  Chemong Road – Reid Street Widening Project</p>
<p>That staff prepare a report for fall budget deliberations on the feasibility and options of commencing the Chemong Road-Reid Street Widening Project in 2017 or 2018.</p>
<br>
<p>Submitted by,</p>
<p>Councillor Beamer Chair October 17, 2016</p>
<br></div>