<!doctype html><div><br>
<br>
<br>
<p>City Council Minutes</p>
<p>City of Peterborough</p>
<p>November 14, 2016</p>
<p>Draft Minutes Not Approved</p>
<br>
<br>
<br>
<br>
<p>Minutes of a Meeting of City Council held on November 14, 2016, in</p>
<p>the Council Chambers, City Hall.</p>
<br>
<p>The City Council meeting was called to order at 6:33 p.m. in the Council Chambers.</p>
<p>Roll Call: Councillor Baldwin Councillor Beamer Councillor Clarke Councillor Haacke Councillor McWilliams Councillor Pappas Councillor Parnell Councillor Riel Councillor Therrien Councillor Vassiliadis Mayor Bennett</p>
<p>Disclosure of Pecuniary Interests</p>
<p>There were no disclosures on Pecuniary Interest.</p>
<p>Confirmation of Minutes – October 24, 2016 and November 7, 2016</p>
<p>Moved by Councillor Clarke, seconded by Councillor Pappas</p>
<p>That the minutes of the meetings of Council held on October 24, 2016 and November 7, 2016 be approved.</p>
<p>“CARRIED”</p>
<p>Delegations</p>
<p>Registered Delegations:</p>
<p>Rodney Marios, 421 Sheridan Street made a delegation to Item 9 of Committee of the Whole Report No. 17 (Report CSSS16-004 – Community Meal Service Agreement).</p>
<p>City Council Minutes</p>
<p>Meeting of November 14, 2016</p>
<p>Page 2</p>
<p>Delegations Not Registered:</p>
<p>Audit Committee Report</p>
<p>There were no other delegations</p>
<p>Budget Committee Report</p>
<p>There were no other delegations</p>
<p>Committee of the Whole Reports</p>
<p>Dan Hennesey, 641 Alymer Street made a delegation to Item 9 of Committee of the Whole Report No. 17 (Report CSSS16-004 – Community Meal Service Agreement).</p>
<p>Audrey Daly, Peterborough, made a delegation to Item 9 of Committee of the Whole Report No. 17 (Report CSSS16-004 – Community Meal Service Agreement).</p>
<p>Don MacPherson, Alymer Street, made a delegation to Item 5 of Committee of the Whole Report No. 17 (Report USDIR16-012 Approval of Recommended Streetscape and Public Realm for Bethune Street from Townsend Street to Dublin Street).</p>
<p>Other Items on the Agenda</p>
<p>There were no other delegations</p>
<p>Committee of the Whole Report No. 16</p>
<p>Moved by Councillor Beamer, Seconded by Councillor Parnell</p>
<p>That Report Number 16 of the Committee of the Whole meeting of October 31, 2016 be approved.</p>
<p>Moved by Councillor Pappas, seconded by Councillor Therrien</p>
<p>That the matter be deferred and,</p>
<p>That staff be directed to bring a report forward at the February 27, 2017 Committee of the Whole on the potential sale of PDI to Hydro 1; and,</p>
<p>That staff bring forward, prior to the February 2017 meeting, a detailed report on the public input on the potential sale.</p>
<p>“LOST”</p>
<p>City Council Minutes</p>
<p>Meeting of November 14, 2016</p>
<p>Page 3</p>
<br>
<p>Upon the main motion of Councillors Beamer and Parnell, the motion carried.</p>
<p>Audit Committee Report No. 2</p>
<p>Moved by Councillor Clarke, Seconded by Councillor Parnell</p>
<p>That Report Number 2 of the Audit Committee meeting of November 7, 2016 be approved.</p>
<p>“CARRIED”</p>
<p>Budget Committee Report No. 3</p>
<p>Moved by Councillor Clarke, seconded by Councillor Parnell</p>
<p>That Report Number 3 of the Budget Committee meeting of November 7, 2016 be approved.</p>
<p>“CARRIED”</p>
<p>Committee of the Whole Report No. 17</p>
<p>Moved by Councillor Beamer, Seconded by Councillor Parnell</p>
<p>That Report Number 17 of the Committee of the Whole meeting of November 7, 2016 be approved.</p>
<p>Items 5, 8, 9 and 10 were separated.</p>
<p>Upon the main motion of Councillors Beamer and Parnell, the motion carried.</p>
<p>Committee of the Whole Report No. 18</p>
<p>Moved by Councillor Beamer, Seconded by Councillor Parnell</p>
<p>That Report Number 18 of the Committee of the Whole meeting of November 14, 2016 be approved.</p>
<p>“CARRIED”</p>
<p>City Council Minutes</p>
<p>Meeting of November 14, 2016</p>
<p>Page 4</p>
<p>Notice of Motion</p>
<p>There were no Notices of Motion.</p>
<p>By-laws</p>
<p>Moved by Councillor Parnell, seconded by Councillor Therrien</p>
<p>That the following by-laws be read a first, second and third time:</p>
<p>16-121</p>
<p>16-122</p>
<p>16-123</p>
<p>Being a By-law to appoint Parking Enforcement Officers at 500 Lansdowne Street West, 539 George Street North, 80 Hunter Street East, 168-172 1/2 Hunter Street West and 409 Chambers Street and to remove a Parking Enforcement Officer at 80 Hunter Street East</p>
<p>Being a By-law to authorize the Mayor and Clerk to sign the 2017/2018 Transfer Payment Agreement, and all subsequent agreements or amendments, with the Province of Ontario, as represented by Her Majesty the Queen in Right of Ontario as represented by the Minister of Community Safety and Correctional Services and The Corporation of the City of Peterborough to facilitate Provincial funding to the City under the Court Security and Prisoner Transportation Program.</p>
<p>Being a By-law to authorize the execution of an agreement between The Corporation of the City of Peterborough and The Incumbent and Churchwardens of St. John's Anglican Church, Peterborough with respect to the delivery of a Community Meal Program to replace the Lighthouse Drop-in Program and the One Roof Community Diner Program</p>
<p>and  the  said  by-law,  having  been  now  read  a  third  time  and  passed,  the  Mayor and Clerk be authorized to sign and seal the same.</p>
<p>“CARRIED”</p>
<p>Other Business</p>
<p>There were no items of Other Business.</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of November 14, 2016</p>
<p>Page 5</p>
<p>Confirmatory By-law</p>
<p>Moved by Councillor Parnell, seconded by Councillor Beamer</p>
<p>That the following by-law be read a first, second and third time:</p>
<p>16-124</p>
<p>Being a By-law to confirm the proceedings of Council at its meeting held on November 14, 2016.</p>
<p>and the said by-law, having been now read a third time and passed, the Mayor and Clerk be authorized to sign and seal the same.</p>
<p>“CARRIED”</p>
<p>Adjournment</p>
<p>Moved by Councillor Pappas, seconded by Councillor Clarke</p>
<p>That this meeting of City Council adjourn at 8:17 p.m.</p>
<p>“CARRIED”</p>
<p>John Kennedy City Clerk</p>
<p>Daryl Bennett Mayor</p>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of November 14, 2016</p>
<p>Page 6</p>
<p>Committee of the Whole Report No. 16</p>
<p>Meeting of October 31, 2016</p>
<p>To the Council of The City of Peterborough for consideration at its Meeting held November 14, 2016</p>
<p>The Committee of the Whole as a result of its meeting held on October 31, 2016, recommends as follows:</p>
<p>1.</p>
<p>Chief Administrative Officer Report CAO16-014 City of Peterborough Holdings Inc. (CoPHI) Recommendation to Council – Peterborough Distribution Inc. (PDI) Divestment to Hydro One Inc.</p>
<p>That Council approve the recommendation outlined in Report CAO16-014 dated October 31, 2016, of the Chief Administrative Officer, as follows:</p>
<p>That the presentation relating to the recommendation from the City of Peterborough Holdings Inc. (CoPHI) regarding the potential sale of Peterborough Distribution Inc. (PDI) be received at the meeting held October 31, 2016 and that the recommendation from CoPHI be considered at a future special Committee of the Whole and special Council meeting.</p>
<br>
<p>Submitted by,</p>
<p>Councillor Beamer Chair October 31, 2016</p>
<p>City Council Minutes</p>
<p>Meeting of November 14, 2016</p>
<p>Page 7</p>
<p>Audit Committee Report No. 2 Meeting of November 7, 2016</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>2.</p>
<p>a)</p>
<p>b)</p>
<p>a)</p>
<p>b)</p>
<br>
<br>
<p>To The Council of The City of Peterborough for Consideration at its Meeting held November 14, 2016</p>
<p>The Audit Committee, as a Result of its Meeting held on November 7, 2016, Recommends as follows:</p>
<p>1.</p>
<p>Director of Corporate Services Report CPFS16-032 2016 Audit Plan and Pre-Audit Planning Letter</p>
<p>That Council approve the recommendations outlined in report CPFS16-032 dated November 7, 2016, of the Director of Corporate Services as follows:</p>
<p>That the 2016 Audit Plan for the Corporation of the City of Peterborough attached to Report CPFS16-032 as Appendix A, be received.</p>
<p>That the Mayor and Chair of the Audit Committee be authorized to sign the Pre-Audit Planning Letter, attached to Report CPFS16-032 as Appendix B.</p>
<p>Director of Corporate Services Report CPFS16-033 Corporate Overtime Audit</p>
<p>That Council approve the recommendations outlined in report CPFS16-033 dated November 7, 2016, of the Director of Corporate Services as follows:</p>
<p>That the 2013 – 2015 overtime financial summary data, attached to Report CPFS16-033 as Appendix A, be received for information.</p>
<p>That the scope and cost estimate received from Collins Barrow, Chartered Professional Accountants to evaluate the effectiveness of the controls, processes and procedures in place associated with overtime, attached to Report CPFS16-033 as Appendix B, be received for information.</p>
<p>City Council Minutes</p>
<p>Meeting of November 14, 2016</p>
<p>Page 8</p>
<br>
<p>Committee, at their meeting of November 7, 2016, made the following recommendations:</p>
<p>c)</p>
<p>That the City’s auditors be engaged to conduct a Corporate Overtime Audit which would evaluate the effectiveness of the controls, processes and procedures in place associated with the use of overtime.</p>
<p>d)       That a letter be sent to the Peterborough Police Services Board</p>
<p>inviting them to participate in the Overtime Audit and receive feedback from Collins Barrow at no cost to the Board.</p>
<br>
<p>Submitted by,</p>
<p>Councillor Clarke Chair November 7, 2016</p>
<p>City Council Minutes</p>
<p>Meeting of November 14, 2016</p>
<p>Page 9</p>
<p>Budget Committee Report No. 3</p>
<p>Meeting of November 7, 2016</p>
<br>
<br>
<br>
<p>To  the  Council  of  The  City  of  Peterborough  for  Consideration  at  its Meeting held November 14, 2016.</p>
<p>The Budget Committee as a result of its Meeting held on November 7, 2016 recommends as follows:</p>
<p>1.</p>
<p>Director of Corporate Services Report CPFS16-041 2017 Draft Budget</p>
<p>That Council approve the recommendation outlined in report CPFS16-041 dated November 7, 2016, of the Director of Corporate Services as follows:</p>
<p>That the draft 2017 Budget Documents presentation at the meeting held November 7, 2016, be received and the documents be reviewed in detail during the Budget Committee meetings scheduled the week of November 28, 2016.</p>
<br>
<p>Submitted by,</p>
<p>Councillor Clarke Chair November 7, 2016</p>
<p>City Council Minutes</p>
<p>Meeting of November 14, 2016</p>
<p>Page 10</p>
<p>Committee of the Whole Report No. 17</p>
<p>Meeting of November 7, 2016</p>
<p>To the Council of The City of Peterborough for consideration at its Meeting held November 14, 2016</p>
<p>The Committee of the Whole as a result of its meeting held on November 7, 2016, recommends as follows:</p>
<p>1.</p>
<p>Director of Corporate Services Report CPFS16-039 Court Security and Prisoner Transportation (CSPT) Program Transfer Payment Agreement</p>
<p>That Council approve the recommendation outlined in Report CPFS16-039 dated November 7, 2016, of the Director of Corporate Services, as follows:</p>
<p>That a by-law be passed authorizing the Mayor and Clerk to sign the 2017/2018 Transfer Payment Agreement, and all subsequent agreements or amendments, with the Province of Ontario, as represented by Her Majesty the Queen in Right of Ontario as represented by the Minister of Community Safety and Correctional Services and The Corporation of the City of Peterborough to facilitate Provincial funding to the City under the Court Security and Prisoner Transportation Program.</p>
<p>City Clerk Report CPCLK16-017 Citizen Appointments to the Downtown Business Improvement Area</p>
<p>That Council approve the recommendation outlined in Report CPCLK16- 017, dated November 7, 2016, of the City Clerk, as follows:</p>
<p>That Brad Collyer (McColl Turner LLP Chartered Accounts), Gerti Sina (Gerti’s), Ann Farquharson (Farquharson Pineiro LLP), and Sam Sayer (Sam’s Place) be appointed to the Peterborough Downtown Business Improvement Area Board of Directors.</p>
<br>
<br>
<br>
<br>
<br>
<p>2.</p>
<p>City Council Minutes</p>
<p>Meeting of November 14, 2016</p>
<p>Page 11</p>
<p>Board Chair and President & CEO, Peterborough Economic Development Report PED16-004 PED 2016 Third Quarter Report</p>
<p>That Council approve the recommendation outlined in Report PED16-004 of the President & CEO and Board Chair of Peterborough Economic Development, as follows:</p>
<p>That Report PED16-004 and supporting presentation, providing the Peterborough Economic Development 2016 Third Quarter Report be received.</p>
<p>Director of Community Services Report CSRS16-006 Vision 2025 Final Consultant Presentation</p>
<p>That Council approve the recommendations outlined in Report CSRS16-006 dated November 7, 2016, of the Director of Community Services, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>That a presentation by Mr. Robert Lockhart, from RETHINK Group, be received as a final update on the Vision 2025 project, a 10-year Strategic Plan for Recreation, Parks, Arenas, and Culture;</p>
<p>That the final draft of the Vision 2025 Strategic Plan, as attached as to Report CSRS16-006 as Appendix “A” be adopted in principle; and</p>
<p>That the Belief Statement and Guiding Principles identified in the Vision 2025 Strategic Plan be approved and used as planning tools to shape policies and influence priorities for municipal services provided by the City, in the sectors of Recreation, Parks, Arenas, and Culture.</p>
<p>Director of Utility Services Report USDIR16-012 Approval of Recommended Streetscape and Public Realm for Bethune Street from Townsend Street to Dublin Street</p>
<p>That Council approve the recommendations outlined in Report USDIR16- 012 dated November 7, 2016, of the Director of Utility Services, as follows:</p>
<p>3.</p>
<br>
<p>4.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>5.</p>
<p>City Council Minutes</p>
<p>Meeting of November 14, 2016</p>
<p>Page 12</p>
<br>
<p>That the presentation by AECOM on the matter of the Streetscape and Public Realm for Bethune Street be received;</p>
<p>That Council endorse the recommended Streetscape and Public Realm for Bethune Street from Townsend Street to Dublin Street as depicted in Section 3 of Report USDIR16-012;</p>
<p>That Council request staff to include in future budgets the funds shown in Table 3 of Report USDDIR16-012 for the years 2018 to 2024 inclusive for the implementation of the Recommended Plan referenced in Recommendation b);</p>
<p>That Staff be requested to report further to Council on the matter of undergrounding the existing overhead electrical distribution system on Bethune Street from Townsend Street to Dublin Street and on Charlotte Street from Aylmer Street to Park Street; and</p>
<p>e)</p>
<p>That the Bethune Street Project Land-Use and Urban Design Study be received, and the recommendations be adopted, including:</p>
<p>i)</p>
<p>ii)</p>
<p>incorporating the recommendations of the Study in the current Official Plan Update; and</p>
<p>Upon the completion and adoption of amendments arising from the Official Plan Update, that Staff initiate the Zoning By- law Amendment process to implement the recommendations of the Bethune Street Project Land-Use and Urban Design Study.</p>
<p>Committee, at its meeting of November 7, 2016 made the following recommendation:</p>
<p>f)</p>
<p>That staff report back on an alternate design to minimize the impact to business in the redevelopment area, including the areas of Brock and Bethune Streets and Charlotte and Bethune Streets.</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>d)</p>
<br>
<p>City Council Minutes</p>
<p>Meeting of November 14, 2016</p>
<p>Page 13</p>
<p>Director of Community Services Report CSD16-024 Presentation of the Draft City of Peterborough Climate Change Action Plan</p>
<p>That Council approve the recommendations outlined in Report CSD16-024 dated November 7, 2016 of the Director of Community Services, as follows:</p>
<p>a)</p>
<p>b)</p>
<p>c)</p>
<p>That the presentation by Lura Consulting be received for information;</p>
<p>That the draft Greater Peterborough Area Climate Change Action Plan be received for information; and</p>
<p>That the staff be directed to report back on proposed targets and a detailed local action plan.</p>
<p>City Clerk Report CPCLK16-018 Introduction of New YMCA President & CEO and Peace Week</p>
<p>That Council approve the recommendation outlined in Report CPCLK16- 018, dated November 7, 2016, of the City Clerk, as follows:</p>
<p>That the presentation from the YMCA be received for information.</p>
<p>Chief Administrative Officer Report CAO16-011 Long-Term Care Overview</p>
<p>That Council approve the recommendations outlined in Report CAO16-011, November 7, 2016, of the Chief Administrative Officer, as follows:</p>
<p>a)</p>
<p>That Report CAO16-011 be received for information purposes.</p>
<p>b)</p>
<p>That Council recommends to Fairhaven’s Committee of Management that they consider engaging an external party to conduct an operational/financial review at the home to be presented to the City and County as part of Fairhaven’s 2018 budget submission.</p>
<p>6.</p>
<br>
<p>7.</p>
<br>
<p>8.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of November 14, 2016</p>
<p>Page 14</p>
<p>c)</p>
<p>That Council authorize staff to send a letter to the Ministry of Health and Long-Term Care pressing for necessary changes to the Long- Term Care Homes Act, funding formulas, and funding levels and that this letter be sent to AMO seeking the support of other municipalities.</p>
<p>Director of Community Services Report CSSS16-004 Community Meal Service Agreement</p>
<p>That Council approve the recommendations outlined in Report CSSS16- 004, dated November 7, 2016 of the Director of Community Services, as follows:</p>
<p>a)</p>
<br>
<p>b)</p>
<p>That Staff be directed to negotiate a service agreement with St. John’s Anglican Church for the delivery of the Community Meal Program, to replace the existing Lighthouse Drop-in Program and the One Roof Community Diner Program; and</p>
<p>That a by-Law be enacted authorizing the Mayor and Clerk to execute an agreement with St. John’s Anglican Church for the delivery of a Community Meal Program.</p>
<br>
<p>10.  Director of Utility Services</p>
<p>Report USDIR16-013 Chemong Road/Reid Street Reconstruction and Widening Project Scheduling</p>
<p>That Council approve the recommendation outlined in Report USDIR16-013 dated November 7, 2016, of the Director of Utility Services, as follows:</p>
<p>That staff proceed to advance the design of the Chemong Road/Reid Street Reconstruction as described in Report USDIR16-013 and,</p>
<p>Committee at its meeting of November 7, 2016 made the following recommendation:</p>
<p>That the Alternate Proposal, involving the detailed design in 2018, as outlined in Report USDIR16-013 be approved.</p>
<br>
<p>9.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of November 14, 2016</p>
<p>Page 15</p>
<p>11.  Director of Corporate Services</p>
<p>Report CPFS16-038 Issuing of Income Tax Receipts to Commemorate the 100th Anniversary of Vimy Ridge on April 9, 2017 and Restore the Cenotaph</p>
<p>That Council approve the recommendations outlined in Report CPFS16- 038, dated November 7, 2016, of the Director of Corporate Services, as follows:</p>
<br>
<p>a)</p>
<p>b)</p>
<p>That commemorating the 100th Anniversary of Vimy Ridge on April 9, 2017 and restoring of the Cenotaph in Confederation Park be deemed to be in the City of Peterborough’s interest.</p>
<p>That the City accept donations, issue income tax receipts to donors and deposit all monies received in the Cenotaph Trust Fund held by the City, to be used to commemorate the 100th Anniversary of Vimy Ridge and to restore the Cenotaph.</p>
<p>c)</p>
<p>That a Capital project be created for the restoration of the Cenotaph.</p>
<br>
<p>12.  Quaker Oats Fire Memorial</p>
<p>That the Council for the City of Peterborough approve the placement of a privately funded Memorial at the North End of Millennium Park to respect the 24 souls who died in this historic Quaker Oats Fire within the City of Peterborough, with the following conditions:</p>
<p>a)</p>
<p>A certified Engineer must be hired to provide the necessary requirements to ensure stability of the structure, explore the spread footing for the structure, to staff’s satisfaction, and at no cost to the City.</p>
<p>The chosen contractor must be insured and have Worker's Compensation Insurance to work on public lands, to City Standards. The City shall be named as a third party on the insurance for this project.</p>
<p>The City will provide the necessary base archeological work (very minimal risk) and opinion.</p>
<p>b)</p>
<p>c)</p>
<p>City Council Minutes</p>
<p>Meeting of November 14, 2016</p>
<p>Page 16</p>
<br>
<p>d)</p>
<p>The City, as demonstrated on the attached map, approve the placement of this memorial on public lands at the North End of Millennium Park at the Committee’s (The Descendants of the Quaker Fire Organizing Committee) expense. This location is optimal for the vision of this replica memorial.</p>
<p>That the placement of this memorial will not interfere with the anticipated Simcoe Street Entrance improvement, railway or the planned Aboriginal Circle for Millennium Park.</p>
<p>The stone seating area, stone base for the memorial will meet the engineer requirements and will be donated to the project by Jim and Jane Gill.</p>
<p>The metal component of the structure will be properly placed and secured for safety and stability.  There will be no sharp edges or sharp cuts that could be a cutting hazard. The 24 souls who perished in the fire will be listed on the metal part of the memorial and it will be finished with a coating to enable easy maintenance.</p>
<p>The memorial will be surrounded by low level vegetation to discourage climbing by young citizens.</p>
<p>A construction plan is to be prepared, to the satisfaction of staff, and restoration of the lands that may be disturbed during the construction must be done at the expense by the Committee.</p>
<p>That the staff lead on this project will be Mr. Brian Buchardt, Urban Design Planner. The volunteers for the project will be lead by Jim and Jane Gill. Jane is a descendant of one of the souls who perished in the fire.</p>
<p>That completion of this project is anticipated in conjunction with the 150 year anniversary of Canada.</p>
<p>That the placement of a Memorial at the North End of Millennium Park to respect the 24 souls who die in the Quaker Oats Fire in the City of Peterborough be deemed to be in the City of Peterborough's interest.</p>
<p>That the City accept donations, issue income tax receipts to donors and ensure the funds are used for the Memorial.</p>
<p>e)</p>
<p>f)</p>
<p>g)</p>
<p>h)</p>
<p>i)</p>
<p>j)</p>
<p>k)</p>
<p>l)</p>
<p>m)</p>
<br>
<br>
<p>City Council Minutes</p>
<p>Meeting of November 14, 2016</p>
<p>Page 17</p>
<p>Submitted by,</p>
<p>Councillor Beamer Chair November 7, 2016</p>
<p>City Council Minutes</p>
<p>Meeting of November 14, 2016</p>
<p>Page 18</p>
<p>Committee of the Whole Report No. 18</p>
<p>Meeting of November 14, 2016</p>
<p>To the Council of The City of Peterborough for consideration at its Meeting held November 14, 2016</p>
<p>The Committee of the Whole as a result of its meeting held on November 14, 2016, recommends as follows:</p>
<p>13.  Report of Closed Session</p>
<p>Chief Administrative Officer Report CAO16-016 Appointment of Director of Planning and Development Services</p>
<p>That Council approve the recommendation outlined in Report CAO16-016 dated November 14, 2016 of the Chief Administrative Officer, as follows:</p>
<p>That Jeffrey Humble be appointed as the new Director of Planning and Development Services for the City of Peterborough.</p>
<br>
<br>
<br>
<br>
<p>Submitted by,</p>
<p>Councillor Beamer Chair November 14, 2016</p>
<br>
<br></div>