{% import 'partials.html' as partials %}

<!doctype html>
<head>
  <meta name="description" content="Peterborough City Council">
  <title>Peterborough City Council</title>
  <meta name="google-site-verification" content="LRT5_WsrWFksjGKJUEjccyolhVBanVSofYCaHozVcuY" />
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}"> -->
<link rel="stylesheet" href="{{ url_for('static', filename='tailwind.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<main>
  <div class="container mx-auto px-6">
    <h1 class="text-3xl my-4">Peterborough City Council</h1>
    <nav>
        {{partials.link("/", "Home")}} | 
        {{partials.link("/about", "About")}}
    </nav>
    <section class="content">
        {% block content %}{% endblock %}
      </section>
  </div>

</main>
