{% extends 'base.html' %}
{% import 'partials.html' as partials %}

{% block content %}
    {{ partials.title_h2(meeting.meeting_type) }}
    <div>Date: {{meeting.datetime_display}}</div>
    <div>Location: {{meeting.location}}</div>
    <div>
        {% if meeting.agenda_url %}
            {{partials.external_link(meeting.agenda_url, "Agenda")}}
        {% else %}
            Agenda not available
        {% endif %}
    </div>
    <div>
        {% if meeting.video_url %}
            {{partials.external_link(meeting.video_url, "Video")}}
        {% else %}
            Video not available
        {% endif %}
    </div>
    <div>
        {% if minutes_data.pdf_fname %}
        {{ partials.link(url_for('static', filename='minutes/pdf/' + minutes_data.pdf_fname), "Minutes (PDF)") }}
        {% else %}
            Minutes not available
        {% endif %}
    </div>

{% endblock %}