{% macro link(href, text) %}
    <a href="{{href}}" class="text-blue-700 hover:underline">{{text}}</a>
{% endmacro %}

{% macro meeting(meeting) -%}
    <div class="meeting mb-2">
        <h3 class="meeting-title">{{meeting.meeting_type}}</h3>
        <div>{{meeting.datetime_display}}</div>
        <div>{{meeting.location}}</div>
        {% if meeting.cancelled %}
            <div>Cancelled</div>
        {% endif %}
        <div>
            {% if meeting.agenda_url %}
                {{link(meeting.agenda_url, "Agenda")}}
            {% endif %}

            {% if meeting.minutes_html_url %}
                {{link(meeting.minutes_html_url, "Minutes (HTML)")}}
            {% endif %}
            
            {% if meeting.minutes_pdf_url %}
                {{link(meeting.minutes_pdf_url, "Minutes (PDF)")}}
            {% endif %}
            
            {% if meeting.video_url %}
                {{link(meeting.video_url, "Video")}}
            {% endif %}
        </div>
    </div>
{% endmacro %}
