{% macro link(href, text) %}
    <a href="{{href}}" class="text-blue-700 hover:underline">{{text}}</a>
{% endmacro %}

{% macro external_link(href, text) %}
    <a href="{{href}}" class="text-blue-700">
        <span class="hover:underline">{{text}}</span>
        <img src="{{ url_for('static', filename='assets/external_link.svg') }}" class="inline h-3" />
    </a>
{% endmacro %}

{% macro title_h2(text) %}
    <h2 class="text-xl my-2">{{text}}</h2>
{% endmacro %}


{% macro meeting(meeting, display_type=True) -%}
    <div class="meeting mb-2">
        {% if display_type %}
            <h3 class="meeting-title">
                {{ link("/meeting/" + meeting.id, meeting.meeting_type)}}
                {% if meeting.cancelled %}
                    <span class="text-red-700">(Cancelled)</span>
                {% endif %}
            </h3>
            <div>{{meeting.datetime_display}}</div>
        {% else %}
            <h3 class="meeting-title">
                {{ link("/meeting/" + meeting.id, meeting.datetime_display)}}
                {% if meeting.cancelled %}
                    <span class="text-red-700">(Cancelled)</span>
                {% endif %}
            </h3>
        {% endif %}
        <div class="text-gray-600">{{meeting.location}}</div>
        <div>
            {% if meeting.agenda_url %}
                {{external_link(meeting.agenda_url, "Agenda")}}
            {% endif %}

            {% if meeting.minutes_html_url %}
                | {{external_link(meeting.minutes_html_url, "Minutes (HTML)")}}
            {% endif %}
            
            {% if meeting.minutes_pdf_url %}
                | {{external_link(meeting.minutes_pdf_url, "Minutes (PDF)")}}
            {% endif %}
            
            {% if meeting.video_url %}
                | {{external_link(meeting.video_url, "Video")}}
            {% endif %}
        </div>
    </div>
{% endmacro %}
